{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks folkeregister uttrekk service",
    "description" : "Folkregister uttrekk service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "uttrekk",
    "description" : "API for å håndtere funksjonalitet rundt tilpasset uttrekk fra folkeregisteret"
  } ],
  "paths" : {
    "/folkeregister/api/v1/uttrekk/verdier" : {
      "get" : {
        "tags" : [ "uttrekk" ],
        "description" : "Gyldige verdier for nøkkelfelt, til bruk i front-end",
        "operationId" : "gyldigeVerdier",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GyldigeVerdier"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/uttrekk/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "uttrekk" ],
        "description" : "Oppretter uttrekk for en organisasjon",
        "operationId" : "listUttrekk",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "OPPRETTET", "HOS_SKATT", "FERDIG_SKATT", "FERDIG", "FEILET" ]
            }
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UttrekkListResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "uttrekk" ],
        "description" : "Oppretter uttrekk for en organisasjon",
        "operationId" : "opprett",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettUttrekk"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UttrekkFerdig"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/uttrekk/{fiksOrgId}/{uttrekkId}" : {
      "get" : {
        "tags" : [ "uttrekk" ],
        "description" : "Henter status på uttrekk",
        "operationId" : "status",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "uttrekkId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UttrekkStatusResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Det finnes ikke noe utrekk med den gitte uttrekkId-en",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "GyldigeVerdier" : {
        "required" : [ "innbyggerStatus", "kjoenn", "sivilstand", "status", "tilhorighetKommune" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Verdi"
            }
          },
          "innbyggerStatus" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Verdi"
            }
          },
          "sivilstand" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Verdi"
            }
          },
          "kjoenn" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Verdi"
            }
          },
          "tilhorighetKommune" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Verdi"
            }
          }
        }
      },
      "Verdi" : {
        "type" : "object",
        "properties" : {
          "kode" : {
            "type" : "string"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "FerdigUttrekk" : {
        "required" : [ "autorisasjonRolleId", "dokumentlagerId", "id", "rolleId" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "rolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "autorisasjonRolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentlagerId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "UttrekkListResponse" : {
        "required" : [ "ferdige", "uttrekkIGang" ],
        "type" : "object",
        "properties" : {
          "ferdige" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FerdigUttrekk"
            }
          },
          "uttrekkIGang" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/UttrekkStatusResponse"
            }
          }
        }
      },
      "UttrekkStatusResponse" : {
        "required" : [ "fiksOrg", "id", "innbyggereHentet", "rolleId", "uttrekkStatus" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fiksOrg" : {
            "type" : "string",
            "format" : "uuid"
          },
          "rolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "uttrekkStatus" : {
            "type" : "string",
            "enum" : [ "OPPRETTET", "HOS_SKATT", "FERDIG_SKATT", "FERDIG", "FEILET" ]
          },
          "innbyggereHentet" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "UttrekkFerdig" : {
        "required" : [ "dokumentlagerId", "id", "nedlastingUrl" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentlagerId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "nedlastingUrl" : {
            "type" : "string"
          }
        }
      },
      "AarIntervall" : {
        "type" : "object",
        "properties" : {
          "fraAar" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          },
          "tilAar" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "OpprettUttrekk" : {
        "required" : [ "rolleId", "status" ],
        "type" : "object",
        "properties" : {
          "rolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "kommunenummer" : {
            "pattern" : "\\d{4}",
            "type" : "string"
          },
          "kommuneTilhoerighet" : {
            "type" : "string",
            "enum" : [ "BOSTED", "OPPHOLD" ]
          },
          "status" : {
            "maxItems" : 2147483647,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "AKTIV", "BOSATT", "UTFLYTTET", "DOED", "INAKTIV" ]
            }
          },
          "foedt" : {
            "$ref" : "#/components/schemas/AarIntervall"
          },
          "doed" : {
            "$ref" : "#/components/schemas/AarIntervall"
          },
          "kjoenn" : {
            "type" : "string",
            "enum" : [ "MANN", "KVINNE" ]
          },
          "statsborgerskap" : {
            "maxLength" : 3,
            "minLength" : 3,
            "type" : "string",
            "description" : "Må være en gyldig ISO 3166-1 alpha-3 landkode"
          },
          "sivilstand" : {
            "type" : "string",
            "enum" : [ "UGIFT", "GIFT", "ENKE_ELLER_ENKEMANN", "SKILT", "SEPARERT", "PARTNER", "SEPARERT_PARTNER", "SKILT_PARTNER", "GJENLEVENDE_PARTNER" ]
          },
          "varsling" : {
            "$ref" : "#/components/schemas/Varsling"
          }
        }
      },
      "Varsling" : {
        "type" : "object",
        "properties" : {
          "epost" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      }
    }
  }
}