{
  "openapi": "3.0.1",
  "info": {
    "title": "KS FIKS: Signert avtale service",
    "description": "Signert avtale service",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.test.fiks.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "avtale",
      "description": "API for å håndtere signering av avtaler for bruk av Fiks-plattformen"
    }
  ],
  "paths": {
    "/avtale/api/v1/avtaler/delegering/{fiksOrgId}": {
      "get": {
        "tags": [
          "avtale"
        ],
        "description": "Hent signeringsoppdrag fom fiksOrg som er delegert for signering",
        "summary": "Hent signeringsoppdrag fom fiksOrg som er delegert for signering",
        "operationId": "hentDelegerteSigneringsoppdragForFiksOrg",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signeringsoppdrag",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DelegertSigneringsoppdragDefinisjon"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "avtale"
        ],
        "description": "Deleger signering av avtale",
        "summary": "Deleger signering av avtale",
        "operationId": "delegerSigneringAvAvtale",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DelegerSigneringAvAvtaleDefinisjon"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Avtalesignering delegert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvtaleDelegertTilSigneringDefinisjon"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/{avtaleSignertId}": {
      "get": {
        "tags": [
          "avtale"
        ],
        "description": "Hent signert avtale for angitt fiksOrgId og tjeneste",
        "summary": "Hent signert avtale for angitt fiksOrgId og tjeneste",
        "operationId": "hentAvtaleSignert",
        "parameters": [
          {
            "name": "avtaleSignertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signert avtale",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvtaleSignertDefinisjon"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Signert avtale ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "avtale"
        ],
        "description": "Oppdaterer signert avtale for angitt avtaleSignertId",
        "summary": "Oppdaterer signert avtale for angitt avtaleSignertId",
        "operationId": "oppdaterAvtaleSignert",
        "parameters": [
          {
            "name": "avtaleSignertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterAvtaleSignertDefinisjon"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Oppdatert signert avtale",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvtaleSignertDefinisjon"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "avtale"
        ],
        "description": "Slett signert avtale for angitt avtaleSignertId",
        "summary": "Slett signert avtale for angitt avtaleSignertId",
        "operationId": "deleteAvtaleSignert",
        "parameters": [
          {
            "name": "avtaleSignertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slett signert avtale"
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/{avtaleSignertId}/oppsigelse": {
      "put": {
        "tags": [
          "avtale"
        ],
        "description": "Oppdater oppsigelse for angitt avtale",
        "summary": "Oppdater oppsigelse for angitt avtale",
        "operationId": "updateOppsigelse",
        "parameters": [
          {
            "name": "avtaleSignertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettEllerEndreOppsigelseAvtaleSignertDefinisjon"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Oppdater oppsigelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OppsigelseAvtaleSignertDefinisjon"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Avtale ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "avtale"
        ],
        "description": "Si opp signert avtale",
        "summary": "Si opp signert avtale",
        "operationId": "opprettOppsigelseAvtaleSignert",
        "parameters": [
          {
            "name": "avtaleSignertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettEllerEndreOppsigelseAvtaleSignertDefinisjon"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signert avtale som er oppsagt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OppsigelseAvtaleSignertDefinisjon"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "avtale"
        ],
        "description": "Slett oppsigelse for angitt avtale",
        "summary": "Slett oppsigelse for angitt avtale",
        "operationId": "deleteOppsigelse",
        "parameters": [
          {
            "name": "avtaleSignertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slett oppsigelse"
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/kunder": {
      "get": {
        "tags": [
          "avtale"
        ],
        "description": "Hent alle kunder som har signert avtaler for minst én tjeneste",
        "summary": "Hent alle kunder som har signert avtaler for minst én tjeneste",
        "operationId": "hentAlleKunder",
        "responses": {
          "200": {
            "description": "Kunder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FiksOrganisasjonDefinisjon"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/kunder/tjenester/oppsigelser": {
      "get": {
        "tags": [
          "avtale"
        ],
        "description": "Hent alle kunder og alle oppsagte tjenester",
        "summary": "Hent alle kunder og alle oppsagte tjenester",
        "operationId": "hentAlleKunderOgOppsagteTjenester",
        "responses": {
          "200": {
            "description": "Kunder med oppsagte tjenester",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/kunder/signerte-avtaler": {
      "get": {
        "tags": [
          "avtale"
        ],
        "description": "Hent alle kunder og alle tilhørende signerte avtaler gitt oppgitt periode",
        "summary": "Hent alle kunder og alle tilhørende signerte avtaler gitt oppgitt periode",
        "operationId": "hentAlleKunderOgSignerteAvtaler",
        "parameters": [
          {
            "name": "fraDato",
            "in": "query",
            "description": "Fra dato, ikke fra og med. Så sender man inn dato 31.12.23, så får man treff på avtaler som er signert fra og med 01.01.24, og ikke de som er signert 31.12.23.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "tilDato",
            "in": "query",
            "description": "Til dato, ikke til og med. Så sender man inn dato 31.12.23, så får man treff på avtaler som er signert til og med 30.12.23, og ikke de som er signert 31.12.23.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Kunder med tilhørende signerte avtaler",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KundeAvtaleSignertDefinisjon"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/kunder/tjenester": {
      "get": {
        "tags": [
          "avtale"
        ],
        "description": "Hent alle kunder og alle tilhørende tjenester",
        "summary": "Hent alle kunder og alle tilhørende tjenester",
        "operationId": "hentAlleKunderOgTjenester",
        "responses": {
          "200": {
            "description": "Kunder med tilhørende tjenester",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/delegering": {
      "get": {
        "tags": [
          "avtale"
        ],
        "description": "Hent signeringsoppdrag delegert til inlogget person for signering",
        "summary": "Hent signeringsoppdrag delegert til inlogget person for signering",
        "operationId": "hentDelegerteSigneringsoppdrag",
        "responses": {
          "200": {
            "description": "Signeringsoppdrag",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DelegertSigneringsoppdragDefinisjon"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/kunder/{fiksOrgId}": {
      "get": {
        "tags": [
          "avtale"
        ],
        "description": "Hent alle signerte avtaler for angitt fiksOrgId",
        "summary": "Hent alle signerte avtaler for angitt fiksOrgId",
        "operationId": "hentSignerteAvtalerForFiksOrg",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "inkluderOppsagte",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "godkjentSignert",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Avtaler",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvtaleSignertDefinisjon"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/kunder/{fiksOrgId}/tjenester": {
      "get": {
        "tags": [
          "avtale"
        ],
        "description": "Hent tilgjengelige tjenester for person for angitt fiksOrgId",
        "summary": "Hent tilgjengelige tjenester for person for angitt fiksOrgId",
        "operationId": "hentTilgjengeligeTjenesterForFiksOrg",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tilgjengelige tjenester",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TjenesteAvtaleSignertDefinisjon"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/signering/mottak": {
      "get": {
        "tags": [
          "avtale"
        ],
        "description": "Mottak av signeringsoppdrag. Videresender til landingsside for avtaler",
        "summary": "Mottak av signeringsoppdrag. Videresender til landingsside for avtaler",
        "operationId": "mottakSignering",
        "parameters": [
          {
            "name": "signeringId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "landingssideUrl",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Landingsside for avtaler"
          }
        }
      }
    },
    "/avtale/api/v1/avtaler": {
      "post": {
        "tags": [
          "avtale"
        ],
        "description": "Registrer signert avtale",
        "summary": "Registrer signert avtale",
        "operationId": "opprettAvtaleSignert",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettAvtaleSignertDefinisjon"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registrert signert avtale",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvtaleSignertDefinisjon"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/signering/{fiksOrgId}/{tjenestekode}": {
      "post": {
        "tags": [
          "avtale"
        ],
        "description": "Start av signeringsoppdrag",
        "summary": "Start av signeringsoppdrag",
        "operationId": "startSignering",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tjenestekode",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Tjenestekode"
            }
          },
          {
            "name": "landingssideUrl",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Signert avtale opprettet"
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "AvtaleDelegertTilSigneringDefinisjon": {
        "required": [
          "fiksOrgId",
          "fnrSignatur",
          "tjenestekode"
        ],
        "type": "object",
        "properties": {
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "tjenestekode": {
            "$ref": "#/components/schemas/Tjenestekode"
          },
          "fnrSignatur": {
            "$ref": "#/components/schemas/Fodselsnummer",
            "description": "Fødselsnummer til personen som skal utføre signeringsoppdraget"
          }
        }
      },
      "DelegerSigneringAvAvtaleDefinisjon": {
        "required": [
          "fnrSignatur",
          "tjenestekode"
        ],
        "type": "object",
        "properties": {
          "tjenestekode": {
            "$ref": "#/components/schemas/Tjenestekode"
          },
          "fnrSignatur": {
            "$ref": "#/components/schemas/Fodselsnummer",
            "description": "Fødselsnummer til personen som skal utføre signeringsoppdraget"
          }
        }
      },
      "FiksOrganisasjonDefinisjon": {
        "required": [
          "harHovedavtale",
          "id",
          "kommunenummer",
          "navn",
          "type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "type": "string"
          },
          "kommunenummer": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "harHovedavtale": {
            "type": "boolean"
          }
        }
      },
      "AvtaleSignertDefinisjon": {
        "required": [
          "avtaleUuid",
          "fiksOrgId",
          "fiksOrgNavn",
          "gjeldendeVersjon",
          "signeringStatus",
          "signertVersjon",
          "tjenestekode",
          "tjenestenavn",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "avtaleUuid": {
            "type": "string",
            "format": "uuid"
          },
          "tjenestekode": {
            "$ref": "#/components/schemas/Tjenestekode"
          },
          "tjenestenavn": {
            "type": "string"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "fiksOrgNavn": {
            "type": "string"
          },
          "signeringsdato": {
            "type": "string",
            "format": "date"
          },
          "signertAv": {
            "$ref": "#/components/schemas/Fodselsnummer",
            "description": "Fødselsnummer til personen som har signert avtalen"
          },
          "signertVersjon": {
            "type": "string"
          },
          "gjeldendeVersjon": {
            "type": "string"
          },
          "signeringStatus": {
            "type": "string",
            "description": "Om den signerte avtalen er signert, oppsagt eller har feilet",
            "enum": [
              "SIGNERT",
              "OPPSAGT",
              "ESIGNERING_STARTET",
              "FEILET",
              "AVBRUTT",
              "SIGNERT_MEN_ELDRE_VERSJON",
              "USIGNERT"
            ]
          },
          "oppsigelse": {
            "$ref": "#/components/schemas/OppsigelseAvtaleSignertDefinisjon"
          }
        }
      },
      "KundeAvtaleSignertDefinisjon": {
        "type": "object",
        "properties": {
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "fiksOrgNavn": {
            "type": "string"
          },
          "signerteAvtaler": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvtaleSignertDefinisjon"
            }
          }
        }
      },
      "OppsigelseAvtaleSignertDefinisjon": {
        "required": [
          "avtaleSignertUuid",
          "fnrBehandler",
          "navnBestiller",
          "nedkoblingsdato",
          "registreringsdato",
          "sisteFaktureringsdato",
          "ticketId"
        ],
        "type": "object",
        "properties": {
          "avtaleSignertUuid": {
            "type": "string",
            "format": "uuid"
          },
          "ticketId": {
            "maxLength": 450,
            "minLength": 0,
            "type": "string",
            "description": "ID til sak i Freshdesk"
          },
          "sisteFaktureringsdato": {
            "type": "string",
            "format": "date"
          },
          "nedkoblingsdato": {
            "type": "string",
            "format": "date"
          },
          "gyldigTilDato": {
            "type": "string",
            "format": "date"
          },
          "registreringsdato": {
            "type": "string",
            "format": "date"
          },
          "epostDataMottaker": {
            "$ref": "#/components/schemas/Epost",
            "description": "Epostadresse til personen som skal motta data om den avsluttede tjenesten"
          },
          "fnrDataMottaker": {
            "$ref": "#/components/schemas/Fodselsnummer",
            "description": "Fødselsnummer til personen som skal motta data om den avsluttede tjenesten"
          },
          "fnrBehandler": {
            "$ref": "#/components/schemas/Fodselsnummer",
            "description": "Fødselsnummeret til personen som behandler oppsigelsen i KS"
          },
          "navnBestiller": {
            "maxLength": 450,
            "minLength": 0,
            "type": "string",
            "description": "Navnet til personen som har bestilt oppsigelsen"
          },
          "merknad": {
            "maxLength": 4000,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "DelegertSigneringsoppdragDefinisjon": {
        "required": [
          "fiksOrgId",
          "fiksOrgNavn",
          "signeringStatus",
          "tjenestekode",
          "tjenestenavn"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "$ref": "#/components/schemas/Fodselsnummer",
            "description": "Fødselsnummer til personen som skal utføre signeringsoppdraget"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "fiksOrgNavn": {
            "type": "string"
          },
          "tjenestekode": {
            "$ref": "#/components/schemas/Tjenestekode"
          },
          "tjenestenavn": {
            "type": "string"
          },
          "signeringStatus": {
            "type": "string",
            "description": "Om den signerte avtalen er signert, oppsagt eller har feilet",
            "enum": [
              "SIGNERT",
              "OPPSAGT",
              "ESIGNERING_STARTET",
              "FEILET",
              "AVBRUTT",
              "SIGNERT_MEN_ELDRE_VERSJON",
              "USIGNERT"
            ]
          },
          "signeringsdato": {
            "type": "string",
            "format": "date"
          },
          "signertAv": {
            "$ref": "#/components/schemas/Fodselsnummer"
          }
        }
      },
      "DelegertDefinisjon": {
        "required": [
          "delegertTilFnr"
        ],
        "type": "object",
        "properties": {
          "delegertTilFnr": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TjenesteAvtaleSignertDefinisjon": {
        "type": "object",
        "properties": {
          "tjeneste": {
            "$ref": "#/components/schemas/TjenesteEnkelDefinisjon"
          },
          "delegert": {
            "$ref": "#/components/schemas/DelegertDefinisjon"
          },
          "avtaleSignert": {
            "$ref": "#/components/schemas/AvtaleSignertDefinisjon"
          }
        },
        "required": [
          "tjeneste"
        ]
      },
      "TjenesteEnkelDefinisjon": {
        "required": [
          "aktivert",
          "avtaleType",
          "gjeldendeVersjon",
          "navn",
          "produktansvarlig",
          "tjenestekode"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "pattern": "[A-Za-zæøåÆØÅ\\d_.,/\\-: ]+",
            "type": "string"
          },
          "tjenestekode": {
            "$ref": "#/components/schemas/Tjenestekode"
          },
          "produktansvarlig": {
            "pattern": "^[A-Za-zæøåÆØÅ0-9_.,/\\-_ ]+$",
            "type": "string"
          },
          "beskrivelse": {
            "type": "string"
          },
          "aktivert": {
            "type": "boolean"
          },
          "gjeldendeVersjon": {
            "type": "string"
          },
          "saksnr": {
            "type": "string",
            "description": "Saksnummer i arkivet"
          },
          "lesMer": {
            "type": "string",
            "format": "url",
            "description": "Lenke til dokumentasjon"
          },
          "ressursType": {
            "pattern": "^[0-9A-Z_.]+$",
            "type": "string"
          },
          "avtaleType": {
            "type": "string",
            "enum": [
              "HOVEDAVTALE",
              "SAMARBEIDSAVTALE",
              "SAMTYKKEERKLAERING",
              "TJENESTEVEDLEGG"
            ]
          }
        }
      },
      "OppdaterAvtaleSignertDefinisjon": {
        "required": [
          "avtaleUuid"
        ],
        "type": "object",
        "properties": {
          "avtaleUuid": {
            "type": "string",
            "format": "uuid"
          },
          "signeringsdato": {
            "type": "string",
            "format": "date"
          },
          "signertAv": {
            "$ref": "#/components/schemas/Fodselsnummer"
          }
        }
      },
      "OpprettAvtaleSignertDefinisjon": {
        "required": [
          "avtaleUuid",
          "fiksOrgId",
          "tjenestekode"
        ],
        "type": "object",
        "properties": {
          "avtaleUuid": {
            "type": "string",
            "format": "uuid"
          },
          "tjenestekode": {
            "$ref": "#/components/schemas/Tjenestekode"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "signeringsdato": {
            "type": "string",
            "format": "date"
          },
          "signertAv": {
            "$ref": "#/components/schemas/Fodselsnummer",
            "description": "Fødselsnummer til personen som har signert avtalen"
          }
        }
      },
      "OpprettEllerEndreOppsigelseAvtaleSignertDefinisjon": {
        "required": [
          "navnBestiller",
          "nedkoblingsdato",
          "registreringsdato",
          "sisteFaktureringsdato",
          "ticketId"
        ],
        "type": "object",
        "properties": {
          "ticketId": {
            "maxLength": 450,
            "minLength": 0,
            "type": "string",
            "description": "ID til sak i Freshdesk"
          },
          "sisteFaktureringsdato": {
            "type": "string",
            "format": "date"
          },
          "nedkoblingsdato": {
            "type": "string",
            "format": "date"
          },
          "registreringsdato": {
            "type": "string",
            "format": "date"
          },
          "epostDataMottaker": {
            "$ref": "#/components/schemas/Epost",
            "description": "Epostadresse til personen som skal motta data om den avsluttede tjenesten"
          },
          "fnrDataMottaker": {
            "$ref": "#/components/schemas/Fodselsnummer",
            "description": "Fødselsnummer til personen som skal motta data om den avsluttede tjenesten"
          },
          "navnBestiller": {
            "maxLength": 450,
            "minLength": 0,
            "type": "string",
            "description": "Navnet til personen som har bestilt oppsigelsen"
          },
          "merknad": {
            "maxLength": 4000,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "Epost": {
        "maxLength": 450,
        "minLength": 0,
        "type": "string",
        "pattern": "^[A-Za-zæøåÆØÅ0-9-_]+([.+][A-Za-zæøåÆØÅ0-9-_]+)*@[A-Za-zæøåÆØÅ0-9-]+(\\.[A-Za-zæøåÆØÅ0-9-]+)*(\\.[A-Za-z]{2,})$",
        "description": "Epostadresse til personen som skal motta data om den avsluttede tjenesten"
      },
      "Fodselsnummer": {
        "type": "string",
        "description": "Fødselsnummer fra folkeregisteret '12345678901'",
        "pattern": "^[0-9]{11}$"
      },
      "Tjenestekode": {
        "pattern": "^[0-9A-Z_.]+$",
        "type": "string"
      },
      "ErrorMessage": {
        "type": "object",
        "description": "Feilmelding fra Fiks-plattformen",
        "externalDocs": {
          "description": "Beskrivelse av feilmeldinger",
          "url": "https://ks-no.github.io/fiks-plattform/integrasjoner/#feilmeldinger"
        },
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        },
        "example": {
          "message": "Mangler tilgang",
          "errorId": "ee2ed64d-de8b-45f9-b9c6-3363d662d93b",
          "status": 403
        }
      }
    }
  }
}