{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Avtale service",
    "description" : "Avtale service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "avtale",
    "description" : "API for å håndtere signering av avtaler for bruk av Fiks-plattformen"
  } ],
  "paths" : {
    "/avtale/api/v1/avtaler/{fiksOrgId}/{tjenestekode}" : {
      "get" : {
        "tags" : [ "avtale" ],
        "description" : "Hent signert avtale for angitt fiksOrgId og tjeneste",
        "operationId" : "hentAvtaleSignertForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tjenestekode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Signert avtale",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvtaleSignertDefinisjon"
                }
              }
            }
          },
          "404" : {
            "description" : "Signert avtale ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/fiksorgs/avtale/{avtaleUuid}" : {
      "get" : {
        "tags" : [ "avtale" ],
        "description" : "Hent alle Fiks-organisasjoner som har signert angitt avtale",
        "operationId" : "hentFiksOrgIderForAvtaleSignert",
        "parameters" : [ {
          "name" : "avtaleUuid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Fiks-organisasjoner",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FiksOrganisasjonDefinisjon"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/fiksorg/tjeneste/{tjenestekode}" : {
      "get" : {
        "tags" : [ "avtale" ],
        "description" : "Hent alle Fiks-organisasjoner som har signert avtale for angitt tjeneste",
        "operationId" : "hentFiksOrgerForAngittTjeneste",
        "parameters" : [ {
          "name" : "tjenestekode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Fiks-organisasjoner",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FiksOrganisasjonDefinisjon"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "avtale" ],
        "description" : "Hent alle signerte avtaler for angitt fiksOrgId",
        "operationId" : "hentSignerteAvtalerForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Avtaler",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AvtaleSignertDefinisjon"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "avtale" ],
        "description" : "Oppdaterer signert avtale for angitt fiksOrgId",
        "operationId" : "oppdaterAvtaleForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterAvtaleDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdatert signert avtale",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvtaleSignertDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "avtale" ],
        "description" : "Registrer signert avtale for angitt fiksOrgId",
        "operationId" : "registrerAvtaleForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegistrerAvtaleDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Registrert signert avtale",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvtaleSignertDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/tjenester/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "avtale" ],
        "description" : "Hent alle tjenestene en Fiks-organisasjon har signert avtale for",
        "operationId" : "hentTjenesterForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Tjenester",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AvtaleSignertDefinisjon" : {
        "required" : [ "avtaleUuid", "fiksOrgId", "fiksOrgNavn", "gjeldendeVersjon", "signeringsdato", "signertAv", "signertVersjon", "tjenestekode" ],
        "type" : "object",
        "properties" : {
          "avtaleUuid" : {
            "type" : "string",
            "format" : "uuid"
          },
          "tjenestekode" : {
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fiksOrgNavn" : {
            "type" : "string"
          },
          "signeringsdato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "signertAv" : {
            "type" : "string"
          },
          "signertVersjon" : {
            "type" : "string"
          },
          "gjeldendeVersjon" : {
            "type" : "string"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "FiksOrganisasjonDefinisjon" : {
        "required" : [ "id", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "OppdaterAvtaleDefinisjon" : {
        "required" : [ "avtaleUuid", "signeringsdato", "signertAv", "tjenestekode" ],
        "type" : "object",
        "properties" : {
          "avtaleUuid" : {
            "type" : "string",
            "format" : "uuid"
          },
          "tjenestekode" : {
            "type" : "string"
          },
          "signeringsdato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "signertAv" : {
            "type" : "string"
          }
        }
      },
      "RegistrerAvtaleDefinisjon" : {
        "required" : [ "avtaleUuid", "signeringsdato", "signertAv", "signertVersjon", "tjenestekode" ],
        "type" : "object",
        "properties" : {
          "avtaleUuid" : {
            "type" : "string",
            "format" : "uuid"
          },
          "tjenestekode" : {
            "type" : "string"
          },
          "signeringsdato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "signertAv" : {
            "type" : "string"
          },
          "signertVersjon" : {
            "type" : "string"
          }
        }
      }
    }
  }
}