{
  "openapi": "3.0.3",
  "info": {
    "title": "KS FIKS: Barnevern Innbygger Service",
    "description": "Barnevern Innbygger Service",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://min.kommune.no",
      "description": "KS Min Kommune host"
    },
    {
      "url": "https://min.fiks.test.ks.no",
      "description": "KS Min Kommune test host"
    },
    {
      "url": "https://min.fiks.dev.ks.no",
      "description": "KS Min Kommune dev host"
    }
  ],
  "tags": [
    {
      "name": "barnevern-innbygger",
      "description": "API for barnevern i Min Kommune"
    }
  ],
  "paths": {
    "/minkommune-barnevern-innbygger/api/v1/edialog": {
      "post": {
        "tags": [
          "Barnevern-innbygger"
        ],
        "description": "Opprett edialog-skjema",
        "summary": "Opprett edialog-skjema",
        "operationId": "opprettEdialogskjema",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettEdialogSkjemaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Opprett mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpprettEdialogSkjemaResponse"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for opprettelse av mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/minkommune-barnevern-innbygger/api/v1/edialog/{skjemaId}": {
      "put": {
        "tags": [
          "Barnevern-innbygger"
        ],
        "description": "Oppdater edialog-skjema",
        "summary": "Oppdater edialog-skjema",
        "operationId": "oppdaterEdialogskjema",
        "parameters": [
          {
            "in": "path",
            "name": "skjemaId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterEdialogSkjemaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Oppdatert skjema"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for oppdatering av skjema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/minkommune-barnevern-innbygger/api/v1/edialog/{skjemaId}/send": {
      "post": {
        "tags": [
          "Barnevern-innbygger"
        ],
        "description": "Send edialog-skjema",
        "summary": "Send edialog-skjema",
        "operationId": "sendEdialogSkjema",
        "parameters": [
          {
            "in": "path",
            "name": "skjemaId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Sendt skjema"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for oppdatering av skjema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EdialogType": {
        "type": "string",
        "description": "Type av edialog",
        "enum": ["POST", "SVAR"]
      },
      "OpprettEdialogSkjemaRequest": {
        "type": "object",
        "required": ["edialogType", "dokumentId"],
        "properties": {
          "edialogType": {
            "$ref": "#/components/schemas/EdialogType"
          },
          "dokumentId": {
            "type": "string",
            "description": "Id til mappen meldingen skal legges i. Obligatorisk ved edialogType=POST"
          }
        },
        "description": "Request-objekt for å søke etter mottaker med organisasjonsnummer eller fødselsnummer. Må ha med enten organisasjonsnummer eller fødselsnummer. Bør ha med mottakerId for eksisterende mottaker for å hindre at DUPLIKAT-sjekken slår inn"
      },
      "OpprettEdialogSkjemaResponse": {
        "type": "object",
        "required": ["skjemaId"],
        "properties": {
          "skjemaId": {
            "type": "string",
            "format": "uuid"
          },
          "melding": {
            "type": "string"
          }
        }
      },
      "OppdaterEdialogSkjemaRequest": {
        "type": "object",
        "required": [
          "dokumentId",
          "edialogType",
          "melding"
        ],
        "properties": {
          "dokumentId": {
            "type": "string"
          },
          "melding": {
            "type": "string"
          },
          "edialogType": {
            "$ref": "#/components/schemas/EdialogType"
          }
        },
        "description": "Request-objekt for å oppdatere et eksisterende eDialog-skjema tilknyttet et barnevernskontor."
      },
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      }
    }
  }
}