{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Barnevern konfigurasjon service",
    "description" : "Barnevern dokumentmedvirkning konfigurasjon service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "journalpost/konfigurasjon/innsyn",
    "description" : "API for konfigurasjon av oppsett for innsynsforespørsler"
  } ],
  "paths" : {
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor/{kontorId}/aktiver" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Aktiverer bydelskontor etter at oppsett er utført.",
        "operationId" : "aktiverBydelskontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor/{kontorId}/endre" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Legger til ny bydelsenhet med ny info. Oppretter ny edialog mottaker/svarut konto.",
        "operationId" : "endreBydelsKontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EndreBydelRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Enhetsinfo er endret",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModel"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/integrasjon/{integrasjonId}/passord" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Kan endre på integrasjonspassord",
        "operationId" : "endreIntegrasjonPassord",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "integrasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Det nye passordet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BarnevernIntegrasjon"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/kontor/{kontorId}/endre" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Legger til ny enhet med ny info. Oppretter ny edialog mottaker/svarut konto.",
        "operationId" : "endreKontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EndreEnhetRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Enhetsinfo er endret",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModel"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/administrator/{personId}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjerner admin fra kommune",
        "operationId" : "fjernAdmin",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "personId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydel/{bydelId}/administrator/{personId}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjerner admin fra bydel",
        "operationId" : "fjernAdminForBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "bydelId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "personId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor/{kontorId}/ny/{kontorIdErstatning}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjerner bydelskontor etter at oppsett er utført. Må oppgi hvilket kontor som skal overta eksisterende saker.",
        "operationId" : "fjernBydelskontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontorIdErstatning",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/kontor/{kontorId}/orgnr/{orgnr}" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Knytt gammelt orgnr til kontor.",
        "operationId" : "registrerGammeltOrgnrPaEnhet",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgnr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Endret",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModel"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjern gammelt orgnr fra kontor",
        "operationId" : "fjernGammeltOrgnrPaEnhet",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgnr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Endret",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModel"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/kontaktperson/{personId}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjerner kontaktperson fra kommune",
        "operationId" : "fjernKontaktperson",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "personId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydel/{bydelId}/kontaktperson/{personId}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjerner kontaktperson fra bydel",
        "operationId" : "fjernKontaktpersonForBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "bydelId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "personId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/ressurser" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Henter status for barneverntjenesten.",
        "operationId" : "hentIntegrasjonerOgRessurser",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Konfigurasjonsdetaljer for barneverntjenesten",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RessurserOgIntegrasjoner"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/administrator" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Registrer admin",
        "operationId" : "leggTilAdmin",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminPerson"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Opprettet"
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydel/{bydelId}/administrator" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Registrer admin for bydel",
        "operationId" : "leggTilAdminForBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "bydelId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminPerson"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Opprettet"
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/kontaktperson" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Registrer kontaktperson",
        "operationId" : "leggTilKontaktperson",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontaktPerson"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontaktpersonModel"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydel/{bydelId}/kontaktperson" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Registrer kontaktperson for bydel",
        "operationId" : "leggTilKontaktpersonForBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "bydelId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontaktPerson"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontaktpersonModel"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/enhetsregister/{orgnr}" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Oppslag mot Enhetsregisteret",
        "operationId" : "oppslagEnhetsregister",
        "parameters" : [ {
          "name" : "orgnr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Enhetsinfo fra Enhetsregister",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnhetModel"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen treff mot Enhetsregister"
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Registrerer hvilket organisasjonsenhet som skal håndtere barnevernsaker for bydelen.",
        "operationId" : "registrerBydelskontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilBydelkontorRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModel"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/administrator/{personId}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Fjerner admin fra kommune",
        "operationId" : "fjernAdmin_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "personId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/kontaktperson/{personId}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Fjerner kontaktperson fra kommune",
        "operationId" : "fjernKontaktperson_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "personId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/initialiser/fullfor" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Fullfør konfigurasjon",
        "operationId" : "fullforInitialisering",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/barnevernkontor" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Henter barnevernkontor for kommune som støtter bydeler",
        "operationId" : "hentBarnevernKontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "BarnevernKontor",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BarnevernKontorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/initialiser" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Aktiverer tjenesten for kommunen. Må kalles opp før man kan fortsette med annen konfigurasjon.",
        "operationId" : "initBarnevern",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Tjeneste er initialisert"
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/status" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Henter status på oppsett av barneverntjenesten. Viser hvilken steg som er utført, og som gjenstår.",
        "operationId" : "initStatus",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter status på initialisering",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InitStatus"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/administrator" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Registrer admin",
        "operationId" : "leggTilAdmin_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminPerson"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Opprettet"
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/kontaktperson" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Registrer kontaktperson",
        "operationId" : "leggTilKontaktperson_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontaktPerson"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontaktpersonModel"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/ressurser" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Opprett integrasjoner og ressurser",
        "operationId" : "opprettIntegrasjonerOgRessurser",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Konfigurasjonsdetaljer for systemet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpprettRessurserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/enhetsregister/{orgnr}" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Oppslag mot Enhetsregisteret",
        "operationId" : "oppslagEnhetsregister_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgnr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Enhetsinfo fra Enhetsregister",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnhetModel"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen treff mot Enhetsregister"
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/kontor" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Registrerer hvilket organisasjonsenhet som skal håndtere barnevernsaker. En standard kommune kan kun ha en aktiv enhet knyttet til seg.",
        "operationId" : "registrerBarnevernkontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilEnhetRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModel"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/bydelskontorer" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Registrerer hvilket organisasjonsenhet som skal håndtere barnevernsaker for bydelene.",
        "operationId" : "registrerBydelskontorer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilBydelkontorerRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModels"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/leverandor" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Velger leverandør av fagsystem",
        "operationId" : "velgLeverandor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VelgLeverandor"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Lagt til leverandør",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/evaluering/api/v1/{fiksOrgId}/svarut/kontoer/{kontoId}" : {
      "get" : {
        "tags" : [ "BarnevernSvarutKonfigurasjon" ],
        "summary" : "Henter svarut konto",
        "operationId" : "hentKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Kontoer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/evaluering/api/v1/{fiksOrgId}/svarut/kontoer/sok" : {
      "get" : {
        "tags" : [ "BarnevernSvarutKonfigurasjon" ],
        "summary" : "Henter svarut konto basert på orgnr-filter",
        "operationId" : "hentKontoForOrgnr",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgnr",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Kontoer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/evaluering/api/v1/{fiksOrgId}/svarut/{orgNr}" : {
      "post" : {
        "tags" : [ "BarnevernSvarutKonfigurasjon" ],
        "summary" : "Oppretter en svarut konto for orgnr",
        "operationId" : "opprettSvarutKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgNr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "resultat av opprett konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/evaluering/api/v1/{fiksOrgId}/svarut/konto/{orgNr}" : {
      "get" : {
        "tags" : [ "BarnevernSvarutKonfigurasjon" ],
        "summary" : "Henter svarut kontoer",
        "operationId" : "sokKontoer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgNr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Kontoer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoOppslag"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/dokumentmedvirkning/api/v1/tilknytninger/alle" : {
      "get" : {
        "tags" : [ "DokumentmedvirkningKonfigurasjon" ],
        "summary" : "Henter edialog mottaker",
        "operationId" : "hentAlleTilknytninger",
        "responses" : {
          "200" : {
            "description" : "Mottakere",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Tilknytninger"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/dokumentmedvirkning/api/v1/{fiksOrgId}/skjemaid" : {
      "get" : {
        "tags" : [ "DokumentmedvirkningKonfigurasjon" ],
        "summary" : "Henter edialog skjemaId for orgnummer og skjematype",
        "operationId" : "hentEdialogSkjemaId",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgnr",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "SVAR", "KLAGE", "DEFAULT" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "SkjemaId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/dokumentmedvirkning/api/v1/{fiksOrgId}/mottakere/{mottakerId}" : {
      "get" : {
        "tags" : [ "DokumentmedvirkningKonfigurasjon" ],
        "summary" : "Henter edialog mottaker",
        "operationId" : "hentMottaker",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Mottakere",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/dokumentmedvirkning/api/v1/{fiksOrgId}/mottakere" : {
      "get" : {
        "tags" : [ "DokumentmedvirkningKonfigurasjon" ],
        "summary" : "Henter edialog mottakere",
        "operationId" : "sokMottakere",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Mottakere",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakereV1"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "KontorModel" : {
        "type" : "object",
        "properties" : {
          "kontorId" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "aktiv" : {
            "type" : "boolean"
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean"
          }
        }
      },
      "EndreBydelRequest" : {
        "type" : "object",
        "properties" : {
          "nyttOrgnr" : {
            "type" : "string"
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "bydelId" : {
            "type" : "string"
          }
        }
      },
      "BarnevernIntegrasjon" : {
        "required" : [ "integrasjonId", "integrasjonPassord" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "Id til integrasjon",
            "format" : "uuid"
          },
          "integrasjonPassord" : {
            "type" : "string",
            "description" : "Passord til integrasjon"
          }
        },
        "description" : "Integrasjon som brukes for å jobbe mot samtykke-tjenesten"
      },
      "EndreEnhetRequest" : {
        "type" : "object",
        "properties" : {
          "nyttOrgnr" : {
            "type" : "string"
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        }
      },
      "BarnevernProtokollSystem" : {
        "required" : [ "integrasjonId" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "Id til integrasjon",
            "format" : "uuid"
          },
          "systemId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "kontoId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "systemGyldig" : {
            "type" : "boolean"
          },
          "kontoGyldig" : {
            "type" : "boolean"
          }
        }
      },
      "IntegrasjonInfo" : {
        "required" : [ "integrasjonId" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "Id til integrasjon",
            "format" : "uuid"
          },
          "gyldig" : {
            "type" : "boolean"
          }
        }
      },
      "LeverandorInfo" : {
        "type" : "object",
        "properties" : {
          "leverandor" : {
            "type" : "string",
            "enum" : [ "VISMA", "NETCOMPANY" ]
          },
          "orgnr" : {
            "type" : "string"
          },
          "kontaktperson" : {
            "type" : "string"
          }
        }
      },
      "RessurserOgIntegrasjoner" : {
        "type" : "object",
        "properties" : {
          "leverandor" : {
            "$ref" : "#/components/schemas/LeverandorInfo"
          },
          "protokollSystem" : {
            "$ref" : "#/components/schemas/BarnevernProtokollSystem"
          },
          "innsynIntegrasjon" : {
            "$ref" : "#/components/schemas/IntegrasjonInfo"
          },
          "samtykkeIntegrasjon" : {
            "$ref" : "#/components/schemas/IntegrasjonInfo"
          }
        }
      },
      "AdminPerson" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          }
        }
      },
      "KontaktpersonModel" : {
        "type" : "object",
        "properties" : {
          "personId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          }
        }
      },
      "KontaktPerson" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          }
        }
      },
      "EnhetModel" : {
        "type" : "object",
        "properties" : {
          "orgnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        }
      },
      "LeggTilBydelkontorRequest" : {
        "type" : "object",
        "properties" : {
          "bydelId" : {
            "type" : "string",
            "description" : "Id på bydel som skal legges til. Hentes fra endepunkt '/{fiksOrgId}/barnevernkontor'. Bruker da verdier fra konfigurasjon."
          },
          "orgnr" : {
            "type" : "string",
            "description" : "Orgnr til enhet som skal håndtere barnevernsaker. Påkrevd hvis bydelId er null."
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean",
            "description" : "Angir om man skal gjøre oppslag mot enhetsregister for å finne navn/postadresse, eller om man skal bruke egendefinerte verdier for disse. Påkrevd hvis bydelId er null."
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          },
          "adresselinje1" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          },
          "adresselinje2" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          },
          "adresselinje3" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Postnummer på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          }
        },
        "description" : "Liste med bydeler som skal legges til"
      },
      "BarnevernKontor" : {
        "type" : "object",
        "properties" : {
          "bydelId" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        }
      },
      "BarnevernKontorResponse" : {
        "type" : "object",
        "properties" : {
          "barnevernKontor" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BarnevernKontor"
            }
          }
        }
      },
      "AdministratorModel" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fdato" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "InitStatus" : {
        "type" : "object",
        "properties" : {
          "flyt" : {
            "$ref" : "#/components/schemas/WizardSteg"
          },
          "startet" : {
            "type" : "boolean"
          },
          "ferdig" : {
            "type" : "boolean"
          },
          "leverandor" : {
            "type" : "string",
            "enum" : [ "VISMA", "NETCOMPANY" ]
          },
          "kontor" : {
            "$ref" : "#/components/schemas/KontorModel"
          },
          "kontaktpersoner" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/KontaktpersonModel"
            }
          },
          "administratorer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AdministratorModel"
            }
          }
        }
      },
      "Steg" : {
        "type" : "object",
        "properties" : {
          "ferdig" : {
            "type" : "boolean"
          }
        }
      },
      "WizardSteg" : {
        "type" : "object",
        "properties" : {
          "velkommen" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "orgnr" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "personer" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "leverandor" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "integrasjoner" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "ekstraKontor" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "fullfor" : {
            "$ref" : "#/components/schemas/Steg"
          }
        }
      },
      "OpprettRessurserResponse" : {
        "type" : "object",
        "properties" : {
          "protokollIntegrasjon" : {
            "$ref" : "#/components/schemas/BarnevernIntegrasjon"
          },
          "innsynIntegrasjon" : {
            "$ref" : "#/components/schemas/BarnevernIntegrasjon"
          },
          "samtykkeIntegrasjon" : {
            "$ref" : "#/components/schemas/BarnevernIntegrasjon"
          },
          "protokollSystemId" : {
            "type" : "string",
            "description" : "SystemId til protokollsystemet som er opprettet",
            "format" : "uuid"
          }
        }
      },
      "LeggTilEnhetRequest" : {
        "required" : [ "brukEnhetsregisterInfo", "orgnr" ],
        "type" : "object",
        "properties" : {
          "orgnr" : {
            "type" : "string",
            "description" : "Orgnr til enhet som skal håndtere barnevernsaker"
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean",
            "description" : "Angir om man skal gjøre oppslag mot enhetsregister for å finne navn/postadresse, eller om man skal bruke egendefinerte verdier for disse"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "adresselinje1" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "adresselinje2" : {
            "type" : "string",
            "description" : "Postadresse på enhet."
          },
          "adresselinje3" : {
            "type" : "string",
            "description" : "Postadresse på enhet."
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Postnummer på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          }
        }
      },
      "KontorModels" : {
        "type" : "object",
        "properties" : {
          "kontoer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/KontorModel"
            }
          }
        }
      },
      "LeggTilBydelkontorerRequest" : {
        "required" : [ "bydeler" ],
        "type" : "object",
        "properties" : {
          "bydeler" : {
            "type" : "array",
            "description" : "Liste med bydeler som skal legges til",
            "items" : {
              "$ref" : "#/components/schemas/LeggTilBydelkontorRequest"
            }
          }
        }
      },
      "EntityTag" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "string"
          },
          "weak" : {
            "type" : "boolean"
          }
        }
      },
      "Link" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string",
            "format" : "uri"
          },
          "uriBuilder" : {
            "$ref" : "#/components/schemas/UriBuilder"
          },
          "rel" : {
            "type" : "string"
          },
          "rels" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "type" : {
            "type" : "string"
          },
          "params" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        }
      },
      "MediaType" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          },
          "subtype" : {
            "type" : "string"
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "wildcardType" : {
            "type" : "boolean"
          },
          "wildcardSubtype" : {
            "type" : "boolean"
          }
        }
      },
      "MultivaluedMapStringObject" : {
        "type" : "object",
        "properties" : {
          "empty" : {
            "type" : "boolean"
          }
        },
        "additionalProperties" : {
          "type" : "array",
          "items" : {
            "type" : "object"
          }
        }
      },
      "MultivaluedMapStringString" : {
        "type" : "object",
        "properties" : {
          "empty" : {
            "type" : "boolean"
          }
        },
        "additionalProperties" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      },
      "NewCookie" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          },
          "version" : {
            "type" : "integer",
            "format" : "int32"
          },
          "path" : {
            "type" : "string"
          },
          "domain" : {
            "type" : "string"
          },
          "comment" : {
            "type" : "string"
          },
          "maxAge" : {
            "type" : "integer",
            "format" : "int32"
          },
          "expiry" : {
            "type" : "string",
            "format" : "date-time"
          },
          "secure" : {
            "type" : "boolean"
          },
          "httpOnly" : {
            "type" : "boolean"
          },
          "sameSite" : {
            "type" : "string",
            "enum" : [ "NONE", "LAX", "STRICT" ]
          }
        }
      },
      "Response" : {
        "type" : "object",
        "properties" : {
          "links" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "statusInfo" : {
            "$ref" : "#/components/schemas/StatusType"
          },
          "mediaType" : {
            "$ref" : "#/components/schemas/MediaType"
          },
          "allowedMethods" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "cookies" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/NewCookie"
            }
          },
          "entityTag" : {
            "$ref" : "#/components/schemas/EntityTag"
          },
          "stringHeaders" : {
            "type" : "object",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              }
            },
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          },
          "closed" : {
            "type" : "boolean"
          },
          "length" : {
            "type" : "integer",
            "format" : "int32"
          },
          "location" : {
            "type" : "string",
            "format" : "uri"
          },
          "language" : {
            "type" : "object",
            "properties" : {
              "language" : {
                "type" : "string"
              },
              "displayName" : {
                "type" : "string"
              },
              "country" : {
                "type" : "string"
              },
              "variant" : {
                "type" : "string"
              },
              "script" : {
                "type" : "string"
              },
              "unicodeLocaleAttributes" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "unicodeLocaleKeys" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "displayLanguage" : {
                "type" : "string"
              },
              "displayScript" : {
                "type" : "string"
              },
              "displayCountry" : {
                "type" : "string"
              },
              "displayVariant" : {
                "type" : "string"
              },
              "extensionKeys" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "iso3Language" : {
                "type" : "string"
              },
              "iso3Country" : {
                "type" : "string"
              }
            }
          },
          "date" : {
            "type" : "string",
            "format" : "date-time"
          },
          "lastModified" : {
            "type" : "string",
            "format" : "date-time"
          },
          "metadata" : {
            "type" : "object",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              }
            },
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "entity" : {
            "type" : "object"
          },
          "headers" : {
            "type" : "object",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              }
            },
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          }
        }
      },
      "StatusType" : {
        "type" : "object",
        "properties" : {
          "family" : {
            "type" : "string",
            "enum" : [ "INFORMATIONAL", "SUCCESSFUL", "REDIRECTION", "CLIENT_ERROR", "SERVER_ERROR", "OTHER" ]
          },
          "statusCode" : {
            "type" : "integer",
            "format" : "int32"
          },
          "reasonPhrase" : {
            "type" : "string"
          }
        }
      },
      "UriBuilder" : {
        "type" : "object"
      },
      "VelgLeverandor" : {
        "type" : "object",
        "properties" : {
          "leverandor" : {
            "type" : "string",
            "enum" : [ "VISMA", "NETCOMPANY" ]
          }
        }
      },
      "Adresse" : {
        "type" : "object",
        "properties" : {
          "adresse1" : {
            "type" : "string"
          },
          "adresse2" : {
            "type" : "string"
          },
          "adresse3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        }
      },
      "AltinnKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "avsendertekst" : {
            "type" : "string"
          },
          "ekstratekst" : {
            "type" : "string"
          }
        }
      },
      "AltinnMal" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "enum" : [ "STANDARD", "KUN_DIGITAL", "KUN_DIGITAL_UTEN_DOKUMENTER", "SMS", "SMS_TAUSHETSBELAGT", "EPOST", "EPOST_TAUSHETSBELAGT" ]
          },
          "standard" : {
            "type" : "string"
          },
          "egendefinert" : {
            "type" : "string"
          }
        }
      },
      "AltinnMaler" : {
        "type" : "object",
        "properties" : {
          "maler" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/AltinnMal"
            }
          }
        }
      },
      "DPIKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "avsendernavn" : {
            "type" : "string"
          },
          "avsenderIdentifikator" : {
            "type" : "string"
          },
          "ekstratekst" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "dokumenter" : {
            "type" : "boolean"
          },
          "signering" : {
            "type" : "boolean"
          }
        }
      },
      "DpiMal" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "enum" : [ "STANDARD", "UTEN_DOKUMENTER", "MED_LENKER_OG_SENDES_MED_DOKUMENTER", "SMS", "EPOST" ]
          },
          "standard" : {
            "type" : "string"
          },
          "egendefinert" : {
            "type" : "string"
          }
        }
      },
      "DpiMaler" : {
        "type" : "object",
        "properties" : {
          "maler" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/DpiMal"
            }
          }
        }
      },
      "FolkeregisterKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "hemmeligAdresse" : {
            "type" : "string",
            "enum" : [ "AVVIS", "BYTT_ADRESSE" ]
          }
        }
      },
      "ForsideKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "avsender" : {
            "type" : "string"
          },
          "orgNummer" : {
            "type" : "string"
          },
          "forsidetekst" : {
            "type" : "string"
          },
          "forsidetittel" : {
            "type" : "string"
          },
          "skjulForsideInfo" : {
            "type" : "boolean"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Adresse"
          }
        }
      },
      "Maler" : {
        "type" : "object",
        "properties" : {
          "altinn" : {
            "$ref" : "#/components/schemas/AltinnMaler"
          },
          "dpi" : {
            "$ref" : "#/components/schemas/DpiMaler"
          }
        }
      },
      "PrintKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "printleverandor" : {
            "type" : "string",
            "enum" : [ "MANUELL_PRINT", "GRAFISK_DIGITAL" ]
          },
          "automatiskEttersendingForVirksomheter" : {
            "type" : "boolean"
          }
        }
      },
      "ServicePassordMetadata" : {
        "type" : "object",
        "properties" : {
          "opprettet" : {
            "type" : "string"
          },
          "opprettetAv" : {
            "type" : "string"
          }
        }
      },
      "SvarUtKonto" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "avsender" : {
            "type" : "string"
          },
          "gyldig" : {
            "type" : "boolean"
          },
          "aktivert" : {
            "type" : "boolean"
          },
          "altinnAktivert" : {
            "type" : "boolean"
          },
          "dpiAktivert" : {
            "type" : "boolean"
          },
          "forside" : {
            "$ref" : "#/components/schemas/ForsideKonfigurasjon"
          },
          "altinn" : {
            "$ref" : "#/components/schemas/AltinnKonfigurasjon"
          },
          "dpi" : {
            "$ref" : "#/components/schemas/DPIKonfigurasjon"
          },
          "print" : {
            "$ref" : "#/components/schemas/PrintKonfigurasjon"
          },
          "servicePassordMetadata" : {
            "$ref" : "#/components/schemas/ServicePassordMetadata"
          },
          "maler" : {
            "$ref" : "#/components/schemas/Maler"
          },
          "folkeregister" : {
            "$ref" : "#/components/schemas/FolkeregisterKonfigurasjon"
          }
        }
      },
      "KontoOppslag" : {
        "type" : "object",
        "properties" : {
          "antall" : {
            "type" : "integer",
            "format" : "int32"
          },
          "kontoer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SvarUtKonto"
            }
          }
        }
      },
      "Tilknytning" : {
        "type" : "object",
        "properties" : {
          "tilknytningId" : {
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "Tilknytninger" : {
        "type" : "object",
        "properties" : {
          "tilknytninger" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "$ref" : "#/components/schemas/Tilknytning"
              }
            }
          }
        }
      },
      "InnsynStatusV1" : {
        "type" : "object",
        "properties" : {
          "aktivert" : {
            "type" : "boolean"
          },
          "synkroniseringsstatus" : {
            "type" : "string",
            "enum" : [ "AKTIVERES", "DEAKTIVERES", "FERDIG" ]
          }
        }
      },
      "MottakerV1" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "shortId" : {
            "type" : "string"
          },
          "fiksOrganisasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "orgnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "aktiv" : {
            "type" : "boolean"
          },
          "printleverandor" : {
            "type" : "string",
            "enum" : [ "GRAFISK_DIGITAL", "MANUELL_PRINT" ]
          },
          "harAktivertInnsyn" : {
            "type" : "boolean"
          },
          "innsynStatus" : {
            "$ref" : "#/components/schemas/InnsynStatusV1"
          }
        }
      },
      "MottakereV1" : {
        "type" : "object",
        "properties" : {
          "mottakere" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MottakerV1"
            }
          }
        }
      }
    }
  }
}