{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Bekymringsmelding mottak fagsystem service",
    "description" : "Bekymringsmelding mottak fagsystem service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v2"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS FIKS API host"
  } ],
  "tags" : [ {
    "name" : "Bekymringsmelding mottak fagsystem",
    "description" : "Eksternt API rettet mot fagsystemer for å sende inn bekymringsmeldinger"
  } ],
  "paths" : {
    "/bekymringsmelding/api/v2/mottak/fagsystem/{fraFiksOrgId}/{kommunenummer}/{bydelsnummer}/offentlig" : {
      "post" : {
        "tags" : [ "Bekymringsmelding mottak fagsystem" ],
        "description" : "Oppretter offentlig bekymringsmelding",
        "operationId" : "opprettOffentligBekymringsmelding",
        "parameters" : [ {
          "name" : "fraFiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kommunenummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        }, {
          "name" : "bydelsnummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{2}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "required" : [ "asice", "bekymringsmelding" ],
                "type" : "object",
                "properties" : {
                  "bekymringsmelding" : {
                    "type" : "string",
                    "description" : "bekymringsmelding.pdf kryptert med printleverandørens nøkkel",
                    "format" : "binary"
                  },
                  "asice" : {
                    "type" : "string",
                    "description" : "asice.zip, kryptert med fagsystemnøkkel, skal inneholde bekymringsmelding.pdf og bekymringsmelding.json",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Bekymringsmelding opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BekymringsmeldingId"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/mottak/fagsystem/{fraFiksOrgId}/{kommunenummer}/{bydelsnummer}/privat" : {
      "post" : {
        "tags" : [ "Bekymringsmelding mottak fagsystem" ],
        "description" : "Oppretter privat bekymringsmelding",
        "operationId" : "opprettPrivatBekymringsmelding",
        "parameters" : [ {
          "name" : "fraFiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kommunenummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        }, {
          "name" : "bydelsnummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{2}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "required" : [ "asice", "bekymringsmelding" ],
                "type" : "object",
                "properties" : {
                  "bekymringsmelding" : {
                    "type" : "string",
                    "description" : "bekymringsmelding.pdf kryptert med printleverandørens nøkkel",
                    "format" : "binary"
                  },
                  "asice" : {
                    "type" : "string",
                    "description" : "asice.zip, kryptert med fagsystemnøkkel, skal inneholde bekymringsmelding.pdf og bekymringsmelding.json",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Bekymringsmelding opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BekymringsmeldingId"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/mottak/fagsystem/{kommunenummer}/{bydelsnummer}/krypteringsnokler" : {
      "get" : {
        "tags" : [ "Bekymringsmelding mottak fagsystem" ],
        "description" : "Henter krypteringsnøkler for en bydel for å kryptere bekymringsmelding.",
        "operationId" : "hentKryperingsnokler",
        "parameters" : [ {
          "name" : "kommunenummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        }, {
          "name" : "bydelsnummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{2}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hentet krypteringnøkler for sending av kryptert bekymringsmelding.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Krypteringsnokler"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/mottak/fagsystem/{fraFiksOrgId}/bekymringsmelding/{bekymringsmeldingId}/status" : {
      "get" : {
        "tags" : [ "Bekymringsmelding mottak fagsystem" ],
        "description" : "Henter status for en bekymringsmelding",
        "operationId" : "getStatusBekymringsmelding",
        "parameters" : [ {
          "name" : "fraFiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "bekymringsmeldingId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status for bekymringsmelding funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/HistorikkApiModel"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BekymringsmeldingId" : {
        "required" : [ "uuid" ],
        "type" : "object",
        "properties" : {
          "uuid" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "FormDataContentDisposition" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "fileName" : {
            "type" : "string"
          },
          "creationDate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "modificationDate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "readDate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "size" : {
            "type" : "integer",
            "format" : "int64"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "Krypteringsnokler" : {
        "required" : [ "fiksIOOffentligNokkel", "printOffentligNokkel" ],
        "type" : "object",
        "properties" : {
          "printOffentligNokkel" : {
            "$ref" : "#/components/schemas/OffentligNokkelApiModel"
          },
          "fiksIOOffentligNokkel" : {
            "$ref" : "#/components/schemas/OffentligNokkelApiModel"
          }
        }
      },
      "OffentligNokkelApiModel" : {
        "required" : [ "gyldig", "issuerDN", "nokkel", "serial", "subjectDN", "validFrom", "validTo" ],
        "type" : "object",
        "properties" : {
          "nokkel" : {
            "type" : "string"
          },
          "validFrom" : {
            "type" : "string",
            "format" : "date-time"
          },
          "validTo" : {
            "type" : "string",
            "format" : "date-time"
          },
          "serial" : {
            "type" : "string"
          },
          "subjectDN" : {
            "type" : "string"
          },
          "issuerDN" : {
            "type" : "string"
          },
          "gyldig" : {
            "type" : "boolean"
          }
        }
      },
      "HistorikkApiModel" : {
        "required" : [ "bekymringsmeldingId", "tidspunkt", "tilstand" ],
        "type" : "object",
        "properties" : {
          "bekymringsmeldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "tidspunkt" : {
            "type" : "string"
          },
          "tilstand" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      }
    }
  }
}