{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Send-service",
    "description" : "Send-service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "fiks-send",
    "description" : "API for å håndtere funksjonalitet for sending til Fiks IO/Print"
  } ],
  "paths" : {
    "/send/api/v1/ordrer" : {
      "get" : {
        "tags" : [ "fiks-send" ],
        "description" : "Henter ordrer som er klar for sending",
        "operationId" : "getOrdrerSomSkalSendes",
        "responses" : {
          "200" : {
            "description" : "Ordrer funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "uuid"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/send/api/v1/konfigurasjon/{fiksIOKontoId}" : {
      "get" : {
        "tags" : [ "fiks-send" ],
        "description" : "Henter konfigurasjon for sending til Fiks IO og Print",
        "operationId" : "getKonfigurasjon",
        "parameters" : [ {
          "name" : "fiksIOKontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "Ingen konfigurasjon funnet for gitt fiksOrgId og fortrolighetsnivå"
          },
          "200" : {
            "description" : "Konfigurasjon funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SendKonfigurasjon"
                }
              }
            }
          }
        }
      }
    },
    "/send/api/v1/status" : {
      "post" : {
        "tags" : [ "fiks-send" ],
        "description" : "Oppdaterer status på en ordre",
        "operationId" : "oppdaterStatus",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StatusModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Status oppdatert"
          },
          "400" : {
            "description" : "Feil meldingstype for ordre tilhørende angitt meldingId."
          }
        }
      }
    },
    "/send/api/v1/mottak" : {
      "post" : {
        "tags" : [ "fiks-send" ],
        "description" : "Mottar en ordre som skal sendes videre til enten FiksIO eller Fiks-Print",
        "operationId" : "mottaOrdre",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrdreModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Mottar ordre.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          }
        }
      }
    },
    "/send/api/v1/send" : {
      "post" : {
        "tags" : [ "fiks-send" ],
        "description" : "Sender en ordre som skal sendes videre til enten FiksIO eller Fiks-Print",
        "operationId" : "sendOrdre",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrdreModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Send ordre.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          }
        }
      }
    },
    "/send/api/v1/send/{id}" : {
      "post" : {
        "tags" : [ "fiks-send" ],
        "description" : "Sender en bestemt ordre på nytt enten til FiksIO eller Fiks-Print basert på ID",
        "operationId" : "sendOrdreById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Ordre er allerede levert"
          },
          "404" : {
            "description" : "Ingen ordre funnet"
          },
          "204" : {
            "description" : "Send ordre."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "OffentligNokkel" : {
        "required" : [ "issuerDN", "nokkel", "serial", "subjectDN", "validFrom", "validTo" ],
        "type" : "object",
        "properties" : {
          "nokkel" : {
            "type" : "string"
          },
          "validFrom" : {
            "type" : "string",
            "format" : "date-time"
          },
          "validTo" : {
            "type" : "string",
            "format" : "date-time"
          },
          "serial" : {
            "type" : "string"
          },
          "subjectDN" : {
            "type" : "string"
          },
          "issuerDN" : {
            "type" : "string"
          }
        }
      },
      "SendKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "printLeverandoerMetadata" : {
            "type" : "string",
            "enum" : [ "GRAFISK_DIGITAL" ]
          },
          "printOffentligNokkel" : {
            "$ref" : "#/components/schemas/OffentligNokkel"
          },
          "fiksIOOffentligNokkel" : {
            "$ref" : "#/components/schemas/OffentligNokkel"
          }
        }
      },
      "StatusModel" : {
        "required" : [ "fiksIoKonto", "meldingId", "meldingstype" ],
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "meldingstype" : {
            "type" : "string"
          },
          "fiksIoKonto" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "AdresseModel" : {
        "required" : [ "adresselinje1", "adressenavn", "poststed" ],
        "type" : "object",
        "properties" : {
          "adressenavn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "pattern" : "^[0-9]{4}$",
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        }
      },
      "FiksIOOrdreModel" : {
        "required" : [ "bydelRessursId", "dokumentlagerId", "mottakerKontoId", "ttl", "type" ],
        "type" : "object",
        "properties" : {
          "mottakerKontoId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "type" : {
            "type" : "string",
            "enum" : [ "FAGSYSTEM_PRIVAT", "FAGSYSTEM_OFFENTLIG" ]
          },
          "dokumentlagerId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "ttl" : {
            "type" : "integer",
            "format" : "int64"
          },
          "bydelRessursId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "OrdreModel" : {
        "required" : [ "print", "tilFiksOrgId" ],
        "type" : "object",
        "properties" : {
          "print" : {
            "$ref" : "#/components/schemas/PrintOrdreModel"
          },
          "fiksIO" : {
            "$ref" : "#/components/schemas/FiksIOOrdreModel"
          },
          "fraFiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "tilFiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "PrintOrdreModel" : {
        "required" : [ "adresse", "dokumentlagerId", "leverandor" ],
        "type" : "object",
        "properties" : {
          "dokumentlagerId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseModel"
          },
          "leverandor" : {
            "type" : "string",
            "enum" : [ "GRAFISK_DIGITAL" ]
          }
        }
      }
    }
  }
}