{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Bekymringsmelding konfigurasjon service",
    "description" : "Bekymringsmelding konfigurasjon service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "bekymringsmeldingKonfigurasjon",
    "description" : "API for å håndtere funksjonalitet vedr. konfigurasjon i bekymringsmelding"
  } ],
  "paths" : {
    "/bekymringsmelding/api/v1/konfigurasjon/{fiksOrgId}/bydeler" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter bydeler for en kommune.",
        "operationId" : "getBydeler",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer alle bydeler for en kommune.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BydelApiModel"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen bydeler ble funnet."
          }
        }
      },
      "post" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Oppretter ny bydel",
        "operationId" : "createBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BydelApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny bydel.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/{fiksOrgId}/bydeler/{bydelsnummer}" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter en bydel for en kommune.",
        "operationId" : "getBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "bydelsnummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer en bydel for en kommune.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BydelApiModel"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen bydeler ble funnet."
          }
        }
      },
      "delete" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Sletter en bydel",
        "operationId" : "deleteBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "bydelsnummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Sletter en bydel.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BydelApiModel"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/{fiksOrgId}" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Oppdaterer eksisterende bydel",
        "operationId" : "updateBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BydelApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Oppdaterer eksisterende bydel."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BydelApiModel" : {
        "required" : [ "bydelsnavn", "bydelsnummer", "kontaktinformasjon", "konto" ],
        "type" : "object",
        "properties" : {
          "bydelsnummer" : {
            "pattern" : "^[0-9]{1,2}$",
            "type" : "string",
            "description" : "Bydelsnummeret til bydelen"
          },
          "bydelsnavn" : {
            "type" : "string",
            "description" : "Navnet til bydelen"
          },
          "hovedBydel" : {
            "type" : "boolean",
            "description" : "Hovedbydelen til kommunen hvor bekymringsmeldinger blir levert hvis bydel ikke er satt"
          },
          "konto" : {
            "$ref" : "#/components/schemas/KontoApiModel"
          },
          "kontaktinformasjon" : {
            "$ref" : "#/components/schemas/KontaktinformasjonApiModel"
          }
        }
      },
      "KontaktinformasjonApiModel" : {
        "required" : [ "epost", "postadresseAdresselinje1", "postadressePostnr", "postadressePoststed", "telefon" ],
        "type" : "object",
        "properties" : {
          "telefon" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string",
            "description" : "Telefonnumer"
          },
          "epost" : {
            "type" : "string",
            "description" : "Epost"
          },
          "postadresseAdresselinje1" : {
            "type" : "string",
            "description" : "Første adresselinje til postadressen. Som regel inneholder den gatenavn og gatenummer"
          },
          "postadresseAdresselinje2" : {
            "type" : "string",
            "description" : "Andre adresselinje til postadressen"
          },
          "postadresseAdresselinje3" : {
            "type" : "string",
            "description" : "Tredje adresselinje til postadressen"
          },
          "postadressePostnr" : {
            "pattern" : "^[0-9]{4}$",
            "type" : "string",
            "description" : "Postnummeret til postadressen"
          },
          "postadressePoststed" : {
            "type" : "string",
            "description" : "Poststedet til postadressen"
          }
        },
        "description" : "Kontaktinformasjon til bydelen"
      },
      "KontoApiModel" : {
        "type" : "object",
        "properties" : {
          "aktivertBekymringsmelding" : {
            "type" : "boolean",
            "description" : "Er kontoen aktivert for bekymringsmelding?"
          },
          "fiksIoKonto" : {
            "type" : "string",
            "description" : "ID til Fiks IO-konto",
            "format" : "uuid"
          },
          "brukFiksIo" : {
            "type" : "boolean",
            "description" : "Skal kontoen bruke Fiks IO?"
          }
        },
        "description" : "Kontoinformasjon til bydelen"
      }
    }
  }
}