{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Bekymringsmelding admin",
    "description" : "Bekymringsmelding admin",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS FIKS API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Bekymringsmelding admin",
    "description" : "Internt API for administrasjon av innsendte bekymringsmeldinger"
  } ],
  "paths" : {
    "/bekymringsmelding/api/v1/admin/historikk/{bekymringsmeldingId}" : {
      "get" : {
        "tags" : [ "Bekymringsmelding admin" ],
        "description" : "Henter hendelser for en bekymringsmelding",
        "operationId" : "getHistorikk",
        "parameters" : [ {
          "name" : "bekymringsmeldingId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "fiksOrgId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hendelser hentet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/HistorikkApiModel"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke historikk"
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/admin/meldinger" : {
      "get" : {
        "tags" : [ "Bekymringsmelding admin" ],
        "description" : "Henter meldinger",
        "operationId" : "getMeldinger",
        "parameters" : [ {
          "name" : "sisteDager",
          "in" : "query",
          "description" : "Antall siste dager det skal søkes etter",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "fra",
          "in" : "query",
          "description" : "Index for det første søketreffet som skal returneres",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "antall",
          "in" : "query",
          "description" : "Antall søketreff som skal returneres",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "name" : "advarsel",
          "in" : "query",
          "description" : "Filtrer på bestemte advarsler. Advarsler kan være IKKE_BEKREFTET_FAGSYSTEM, IKKE_BEKREFTET_PRINT eller IKKE_SENDT",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sok",
          "in" : "query",
          "description" : "Filtrer på søkefrase. Det kan søkes etter bydelsnavn, bekymringsmeldingId, fiksOrgId eller bydelsRessursId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fiksOrgId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Meldinger hentet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MeldingResultApiModel"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/admin/statistikk" : {
      "get" : {
        "tags" : [ "Bekymringsmelding admin" ],
        "description" : "Henter statistikk",
        "operationId" : "getStatistikk",
        "parameters" : [ {
          "name" : "sisteDager",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "fiksOrgId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Statistikk hentet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatistikkApiModel"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/admin/statistikk/bydeler" : {
      "get" : {
        "tags" : [ "Bekymringsmelding admin" ],
        "description" : "Henter statistikk for bydeler",
        "operationId" : "getStatistikkBydeler",
        "parameters" : [ {
          "name" : "fra",
          "in" : "query",
          "description" : "Index for det første søketreffet som skal returneres",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "antall",
          "in" : "query",
          "description" : "Antall søketreff som skal returneres",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "name" : "sok",
          "in" : "query",
          "description" : "Filtrer på søkefrase. Det kan søkes etter bydelsnavn, fiksOrgId eller bydelsRessursId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fiksOrgId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Statistikk for bydeler hentet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatistikkBydelResultApiModel"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/admin/statistikk/skjematyper" : {
      "get" : {
        "tags" : [ "Bekymringsmelding admin" ],
        "description" : "Henter statistikk for skjematyper",
        "operationId" : "getStatistikkSkjematyper",
        "parameters" : [ {
          "name" : "sisteDager",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "fiksOrgId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Statistikk for skjematyper hentet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/StatistikkSkjematypeApiModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/admin/status/{bekymringsmeldingId}/{state}" : {
      "put" : {
        "tags" : [ "Bekymringsmelding admin" ],
        "description" : "Oppdaterer status på en ordre",
        "operationId" : "oppdaterStatusByBekymringsmeldingId",
        "parameters" : [ {
          "name" : "bekymringsmeldingId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "state",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Status oppdatert"
          },
          "400" : {
            "description" : "Feil meldingstype for ordre tilhørende angitt meldingId."
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/admin/status" : {
      "post" : {
        "tags" : [ "Bekymringsmelding admin" ],
        "description" : "Oppdaterer status på en ordre",
        "operationId" : "oppdaterStatusByMeldingId",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StatusModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Status oppdatert"
          },
          "400" : {
            "description" : "Feil meldingstype for ordre tilhørende angitt meldingId."
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/admin/send/{bekymringsmeldingId}" : {
      "post" : {
        "tags" : [ "Bekymringsmelding admin" ],
        "description" : "Sender en bestemt ordre på nytt til fagsystem eller print basert på ID",
        "operationId" : "sendOrdreById",
        "parameters" : [ {
          "name" : "bekymringsmeldingId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Ordre er allerede levert"
          },
          "404" : {
            "description" : "Ingen ordre funnet"
          },
          "204" : {
            "description" : "Send ordre."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "HistorikkApiModel" : {
        "required" : [ "bekymringsmeldingId", "state", "tidspunkt" ],
        "type" : "object",
        "properties" : {
          "bekymringsmeldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "tidspunkt" : {
            "type" : "string"
          },
          "meldingstype" : {
            "type" : "string"
          },
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "state" : {
            "type" : "string"
          },
          "fiksIoKonto" : {
            "type" : "string",
            "format" : "uuid"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      },
      "MeldingApiModel" : {
        "required" : [ "bekreftet", "bekymringsmeldingId", "bydelRessursId", "bydelsnavn", "fiksOrgId", "innsendt", "kanal" ],
        "type" : "object",
        "properties" : {
          "bekymringsmeldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "bydelRessursId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "innsendt" : {
            "type" : "string"
          },
          "bydelsnavn" : {
            "type" : "string"
          },
          "kanal" : {
            "type" : "string"
          },
          "bekreftet" : {
            "type" : "string"
          }
        }
      },
      "MeldingResultApiModel" : {
        "required" : [ "meldinger", "totaltAntallTreff" ],
        "type" : "object",
        "properties" : {
          "totaltAntallTreff" : {
            "type" : "integer",
            "format" : "int32"
          },
          "meldinger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingApiModel"
            }
          }
        }
      },
      "StatistikkApiModel" : {
        "required" : [ "antallBekymringsmeldingerTotalt", "antallIkkeBekreftetFagsystem", "antallIkkeLevertPost", "antallIkkeSendt", "antallLevertFiksIOSisteDager", "antallLevertManuellMottakSisteDager", "antallLevertPrintSisteDager", "antallLevertSvarinnSisteDager", "antallOffentligBekymringsmeldingerSisteDager", "antallPrivateBekymringsmeldingerSisteDager", "antallUbekreftedeBekymringsmeldingerTotalt", "sisteDager" ],
        "type" : "object",
        "properties" : {
          "antallBekymringsmeldingerTotalt" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallUbekreftedeBekymringsmeldingerTotalt" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallPrivateBekymringsmeldingerSisteDager" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallOffentligBekymringsmeldingerSisteDager" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallLevertPrintSisteDager" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallLevertFiksIOSisteDager" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallLevertManuellMottakSisteDager" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallLevertSvarinnSisteDager" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallIkkeSendt" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallIkkeBekreftetFagsystem" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallIkkeLevertPost" : {
            "type" : "integer",
            "format" : "int32"
          },
          "sisteDager" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "KontaktinformasjonApiModel" : {
        "type" : "object",
        "properties" : {
          "telefon" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          },
          "postadresseNavn" : {
            "type" : "string"
          },
          "postadresseAdresselinje1" : {
            "type" : "string"
          },
          "postadresseAdresselinje2" : {
            "type" : "string"
          },
          "postadresseAdresselinje3" : {
            "type" : "string"
          },
          "postadressePostnr" : {
            "type" : "string"
          },
          "postadressePoststed" : {
            "type" : "string"
          }
        }
      },
      "StatistikkBydelApiModel" : {
        "required" : [ "bydelRessursId", "bydelsnavn", "fiksOrgId", "kontaktinformasjon", "kontoType", "statistikk", "varseleposter" ],
        "type" : "object",
        "properties" : {
          "bydelsnavn" : {
            "type" : "string"
          },
          "statistikk" : {
            "$ref" : "#/components/schemas/StatistikkEnkelApiModel"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "bydelRessursId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "kontoType" : {
            "type" : "string"
          },
          "varseleposter" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "kontaktinformasjon" : {
            "$ref" : "#/components/schemas/KontaktinformasjonApiModel"
          }
        }
      },
      "StatistikkBydelResultApiModel" : {
        "required" : [ "statistikkBydeler", "totaltAntallTreff" ],
        "type" : "object",
        "properties" : {
          "totaltAntallTreff" : {
            "type" : "integer",
            "format" : "int32"
          },
          "statistikkBydeler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StatistikkBydelApiModel"
            }
          }
        }
      },
      "StatistikkEnkelApiModel" : {
        "required" : [ "antallBekymringsmeldingerTotalt", "antallLevertFagsystem", "antallLevertPrint", "antallUbekreftedeBekymringsmeldingerTotalt" ],
        "type" : "object",
        "properties" : {
          "antallBekymringsmeldingerTotalt" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallUbekreftedeBekymringsmeldingerTotalt" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallLevertFagsystem" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallLevertPrint" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "StatistikkSkjematypeApiModel" : {
        "required" : [ "antallBekymringsmeldingerTotalt", "antallOffentligBekymringsmeldinger", "antallPrivatBekymringsmeldinger", "dato" ],
        "type" : "object",
        "properties" : {
          "antallBekymringsmeldingerTotalt" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallPrivatBekymringsmeldinger" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallOffentligBekymringsmeldinger" : {
            "type" : "integer",
            "format" : "int32"
          },
          "dato" : {
            "type" : "string"
          }
        }
      },
      "StatusModel" : {
        "required" : [ "fiksIoKonto", "meldingId", "meldingstype" ],
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "meldingstype" : {
            "type" : "string"
          },
          "fiksIoKonto" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      }
    }
  }
}