{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Bekymringsmelding mottak service",
    "description" : "Bekymringsmelding mottak service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter/",
      "email" : "fiks@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "bekymringsmeldingMottak",
    "description" : "API for å håndtere funksjonalitet vedrørende mottak av bekymringsmelding"
  } ],
  "paths" : {
    "/bekymringsmelding/mottak/api/v1/privat" : {
      "post" : {
        "tags" : [ "bekymringsmeldingMottak" ],
        "description" : "Oppretter en bekymringsmelding fra en privatperson.",
        "operationId" : "opprettPrivatBekymringsmelding",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PrivatBekymringsmeldingApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny bekymringsmelding fra en privatperson.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/mottak/api/v1/offentlig" : {
      "post" : {
        "tags" : [ "bekymringsmeldingMottak" ],
        "description" : "Oppretter en bekymringsmelding fra en offentlig person.",
        "operationId" : "opprettOffentligBekymringsmelding",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OffentligBekymringsmeldingApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet ny bekymringsmelding fra en offentlig person.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AdresseApiModel" : {
        "type" : "object",
        "properties" : {
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "pattern" : "^$|(^[0-9]{4}$)",
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        }
      },
      "PrivatBarnApiModel" : {
        "required" : [ "personnavn" ],
        "type" : "object",
        "properties" : {
          "personnavn" : {
            "type" : "string"
          },
          "antattAlder" : {
            "type" : "string"
          },
          "relasjon" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseApiModel"
          }
        }
      },
      "PrivatBekymringsmeldingApiModel" : {
        "required" : [ "barn", "bydel", "kommunenavn", "melder", "melding" ],
        "type" : "object",
        "properties" : {
          "kommunenummer" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          },
          "kommunenavn" : {
            "type" : "string"
          },
          "bydelsnummer" : {
            "pattern" : "^[0-9]{2}$",
            "type" : "string"
          },
          "bydel" : {
            "type" : "string"
          },
          "melder" : {
            "$ref" : "#/components/schemas/PrivatMelderApiModel"
          },
          "barn" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PrivatBarnApiModel"
            }
          },
          "melding" : {
            "type" : "string"
          }
        }
      },
      "PrivatMelderApiModel" : {
        "required" : [ "fornavn" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "mellomnavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string"
          },
          "skjultIdentitet" : {
            "type" : "boolean"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseApiModel"
          }
        }
      },
      "MeldingApiModel" : {
        "required" : [ "historie", "melding" ],
        "type" : "object",
        "properties" : {
          "melding" : {
            "type" : "string"
          },
          "historie" : {
            "type" : "string"
          },
          "annet" : {
            "type" : "string"
          }
        }
      },
      "OffentligBarnApiModel" : {
        "required" : [ "fnr", "personnavn" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string"
          },
          "ufoedt" : {
            "type" : "boolean"
          },
          "personnavn" : {
            "type" : "string"
          },
          "mobil" : {
            "type" : "string"
          },
          "relasjon" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseApiModel"
          },
          "orientert" : {
            "type" : "boolean"
          },
          "orientertGrunn" : {
            "type" : "string"
          }
        }
      },
      "OffentligBekymringsmeldingApiModel" : {
        "required" : [ "barn", "bydel", "kommunenavn", "melder", "melding" ],
        "type" : "object",
        "properties" : {
          "kommunenummer" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          },
          "kommunenavn" : {
            "type" : "string"
          },
          "bydelsnummer" : {
            "pattern" : "^[0-9]{2}$",
            "type" : "string"
          },
          "bydel" : {
            "type" : "string"
          },
          "melder" : {
            "$ref" : "#/components/schemas/OffentligMelderApiModel"
          },
          "relasjon" : {
            "type" : "string"
          },
          "barn" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OffentligBarnApiModel"
            }
          },
          "melding" : {
            "$ref" : "#/components/schemas/MeldingApiModel"
          },
          "behovForTolk" : {
            "type" : "string"
          }
        }
      },
      "OffentligMelderApiModel" : {
        "required" : [ "fornavn", "rolle" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "mellomnavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "rolle" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string"
          },
          "virksomhet" : {
            "$ref" : "#/components/schemas/VirksomhetApiModel"
          }
        }
      },
      "VirksomhetApiModel" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "orgnr" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseApiModel"
          }
        }
      }
    }
  }
}