{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Bekymringsmelding konfigurasjon service",
    "description" : "Bekymringsmelding konfigurasjon service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "bekymringsmeldingKonfigurasjon",
    "description" : "API for å håndtere funksjonalitet vedr. konfigurasjon i bekymringsmelding"
  } ],
  "paths" : {
    "/bekymringsmelding/api/v1/konfigurasjon/{fiksOrgId}/bydeler" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter bydeler for en kommune.",
        "operationId" : "getBydeler",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer bydeler for en kommune.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BydelApiModel"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen bydeler ble funnet."
          }
        }
      },
      "post" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Oppretter ny bydel",
        "operationId" : "createBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RequestBydelApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny bydel."
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/{fiksOrgId}/bydeler/{ressursId}/hovedbydel" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Oppdaterer hovedbydel",
        "operationId" : "updateHovedbydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Oppdaterer hovedbydel"
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/{fiksOrgId}/bydel/{bydelsnummer}" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter bydeler for en kommune.",
        "operationId" : "getBydelerByBydelsnummer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "bydelsnummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer bydeler for en kommune.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BydelApiModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/bydeler" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter alle bydeler basert på ressurs-IDer.",
        "operationId" : "getBydelerByRessursId",
        "parameters" : [ {
          "name" : "ressursIder",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer alle bydeler basert på ressurs-IDer.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BydelApiModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/{fiksOrgId}/bydeler/{ressursId}" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Oppdaterer eksisterende bydel",
        "operationId" : "updateBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RequestBydelApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Oppdaterer eksisterende bydel."
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/{fiksOrgId}/bydeler/{ressursId}/deaktiver" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Deaktiver bydel. En deaktivert bydel vil ikke kunne motta bekymringsmeldinger.",
        "operationId" : "deaktiverBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/{fiksOrgId}/bydeler/{ressursId}/aktiver" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Aktiver bydel. En aktivert bydel vil kunne motta bekymringsmeldinger.",
        "operationId" : "aktiverBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BydelApiModel" : {
        "required" : [ "bydelsnavn", "bydelsnummer", "deaktivert", "fiksOrgId", "hovedBydel", "kontaktinformasjon", "konto", "ressursId" ],
        "type" : "object",
        "properties" : {
          "bydelsnummer" : {
            "pattern" : "^[0-9]{2}$",
            "type" : "string",
            "description" : "Bydelsnummeret til bydelen"
          },
          "bydelsnavn" : {
            "type" : "string",
            "description" : "Navnet til bydelen"
          },
          "hovedBydel" : {
            "type" : "boolean",
            "description" : "Hovedbydelen til kommunen hvor bekymringsmeldinger blir levert hvis bydel ikke er satt"
          },
          "ressursId" : {
            "type" : "string",
            "description" : "Ressurs-Id til bydelen",
            "format" : "uuid"
          },
          "konto" : {
            "$ref" : "#/components/schemas/KontoApiModel"
          },
          "kontaktinformasjon" : {
            "$ref" : "#/components/schemas/KontaktinformasjonApiModel"
          },
          "varselEposter" : {
            "type" : "array",
            "description" : "Varselseposter til bydelen",
            "items" : {
              "type" : "string",
              "description" : "Varselseposter til bydelen"
            }
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId bydelen tilhører",
            "format" : "uuid"
          },
          "deaktivert" : {
            "type" : "boolean",
            "description" : "Om bydelen er deaktivert. Det er ikke mulig å sende bekymringsmeldinger til deaktiverte bydeler"
          }
        }
      },
      "KontaktinformasjonApiModel" : {
        "required" : [ "epost", "postadresseAdresselinje1", "postadresseNavn", "postadressePostnr", "postadressePoststed", "telefon" ],
        "type" : "object",
        "properties" : {
          "telefon" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string",
            "description" : "Telefonnumer"
          },
          "epost" : {
            "type" : "string",
            "description" : "Epost"
          },
          "postadresseNavn" : {
            "type" : "string",
            "description" : "Postadressens navn"
          },
          "postadresseAdresselinje1" : {
            "type" : "string",
            "description" : "Første adresselinje til postadressen. Som regel inneholder den gatenavn og gatenummer"
          },
          "postadresseAdresselinje2" : {
            "type" : "string",
            "description" : "Andre adresselinje til postadressen"
          },
          "postadresseAdresselinje3" : {
            "type" : "string",
            "description" : "Tredje adresselinje til postadressen"
          },
          "postadressePostnr" : {
            "pattern" : "^[0-9]{4}$",
            "type" : "string",
            "description" : "Postnummeret til postadressen"
          },
          "postadressePoststed" : {
            "type" : "string",
            "description" : "Poststedet til postadressen"
          }
        },
        "description" : "Kontaktinformasjon til bydelen"
      },
      "KontoApiModel" : {
        "type" : "object",
        "properties" : {
          "fiksIoKonto" : {
            "type" : "string",
            "description" : "ID til Fiks IO-konto",
            "format" : "uuid"
          },
          "tilFagsystem" : {
            "type" : "boolean",
            "description" : "Skal kontoen bruke eget fagsystem?"
          }
        },
        "description" : "Kontoinformasjon til bydelen"
      },
      "RequestBydelApiModel" : {
        "required" : [ "bydelsnavn", "bydelsnummer", "kontaktinformasjon", "konto" ],
        "type" : "object",
        "properties" : {
          "bydelsnummer" : {
            "pattern" : "^[0-9]{2}$",
            "type" : "string",
            "description" : "Bydelsnummeret til bydelen"
          },
          "bydelsnavn" : {
            "type" : "string",
            "description" : "Navnet til bydelen"
          },
          "hovedBydel" : {
            "type" : "boolean",
            "description" : "Hovedbydelen til kommunen hvor bekymringsmeldinger blir levert hvis bydel ikke er satt"
          },
          "konto" : {
            "$ref" : "#/components/schemas/KontoApiModel"
          },
          "kontaktinformasjon" : {
            "$ref" : "#/components/schemas/KontaktinformasjonApiModel"
          },
          "varselEposter" : {
            "type" : "array",
            "description" : "Varselseposter til bydelen",
            "items" : {
              "type" : "string",
              "description" : "Varselseposter til bydelen"
            }
          }
        }
      }
    }
  }
}