{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Bekymringsmelding root service",
    "description" : "Bekymringsmelding root service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "bekymringsmeldingKonfigurasjon",
    "description" : "API for å håndtere funksjonalitet vedr. konfigurasjon i bekymringsmelding"
  }, {
    "name" : "bekymringsmeldingKonfigurasjonRoot",
    "description" : "API for å håndtere funksjonalitet vedr. root-funksjonalitet i bekymringsmelding"
  } ],
  "paths" : {
    "/bekymringsmelding/api/v1/konfigurasjon/{fiksOrgId}/bydeler" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter bydeler for en kommune.",
        "operationId" : "getBydeler",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer bydeler for en kommune.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BydelApiModel"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen bydeler ble funnet."
          }
        }
      },
      "post" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Oppretter ny bydel",
        "operationId" : "createBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RequestBydelApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny bydel."
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/{fiksOrgId}/bydeler/{ressursId}" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Oppdaterer eksisterende bydel",
        "operationId" : "updateBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RequestBydelApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Oppdaterer eksisterende bydel."
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/{fiksOrgId}/bydeler/{ressursId}/deaktiver" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Deaktiver bydel. En deaktivert bydel vil ikke kunne motta bekymringsmeldinger.",
        "operationId" : "deaktiverBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "force",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/{fiksOrgId}/bydeler/{ressursId}/aktiver" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Aktiver bydel. En aktivert bydel vil kunne motta bekymringsmeldinger.",
        "operationId" : "aktiverBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/{fiksOrgId}/bydeler/{ressursId}/standardmottaker" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Oppdaterer standard mottaker",
        "operationId" : "updateStandardMottaker",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Oppdaterer standard mottaker"
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/{fiksOrgId}/bydel/{bydelsnummer}" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter bydeler for en kommune.",
        "operationId" : "getBydelerByBydelsnummer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "bydelsnummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer bydeler for en kommune.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BydelApiModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/bydeler" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter alle bydeler basert på ressurs-IDer.",
        "operationId" : "getBydelerByRessursId",
        "parameters" : [ {
          "name" : "ressursIder",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer alle bydeler basert på ressurs-IDer.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BydelApiModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/bydeler/sok" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter alle bydeler basert på søkefrase.",
        "operationId" : "getBydelerBySok",
        "parameters" : [ {
          "name" : "sok",
          "in" : "query",
          "description" : "Filtrer på søkefrase. Det kan søkes etter bydelsnavn, fiksOrgId eller bydelsRessursId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fra",
          "in" : "query",
          "description" : "Index for det første søketreffet som skal returneres",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "antall",
          "in" : "query",
          "description" : "Antall søketreff som skal returneres",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer alle bydeler basert på søkefrase.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BydelApiModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/root/send/{bekymringsmeldingId}" : {
      "post" : {
        "tags" : [ "bekymringsmeldingKonfigurasjonRoot" ],
        "description" : "Sender en bestemt ordre på nytt til fagsystem eller print basert på ID",
        "operationId" : "sendOrdreById",
        "parameters" : [ {
          "name" : "bekymringsmeldingId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Ordre er allerede levert"
          },
          "404" : {
            "description" : "Ingen ordre funnet"
          },
          "204" : {
            "description" : "Send ordre."
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/root/status/{bekymringsmeldingId}" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjonRoot" ],
        "description" : "Oppdaterer status på en ordre",
        "operationId" : "oppdaterStatusByBekymringsmeldingId",
        "parameters" : [ {
          "name" : "bekymringsmeldingId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string",
                "enum" : [ "AKSEPTERT", "SENDT_FAGSYSTEM", "SENDT_PRINT", "LEVERT", "AVVIST_FAGSYSTEM", "AVVIST_PRINT" ]
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Status oppdatert"
          },
          "400" : {
            "description" : "Feil meldingstype for ordre tilhørende angitt meldingId."
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/konfigurasjon/root/status" : {
      "post" : {
        "tags" : [ "bekymringsmeldingKonfigurasjonRoot" ],
        "description" : "Oppdaterer status på en ordre",
        "operationId" : "oppdaterStatusByMeldingId",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StatusModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Status oppdatert"
          },
          "400" : {
            "description" : "Feil meldingstype for ordre tilhørende angitt meldingId."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BydelApiModel" : {
        "required" : [ "bydelsnavn", "bydelsnummer", "deaktivert", "fiksOrgId", "kontaktinformasjon", "konto", "ressursId", "standardMottaker", "varselEposter" ],
        "type" : "object",
        "properties" : {
          "bydelsnummer" : {
            "pattern" : "^[0-9]{2}$",
            "type" : "string"
          },
          "bydelsnavn" : {
            "type" : "string"
          },
          "standardMottaker" : {
            "type" : "boolean",
            "description" : "Standard mottaker til kommunen hvor bekymringsmeldinger blir levert hvis bydel ikke er valgt"
          },
          "ressursId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "konto" : {
            "$ref" : "#/components/schemas/KontoApiModel"
          },
          "kontaktinformasjon" : {
            "$ref" : "#/components/schemas/KontaktinformasjonApiModel"
          },
          "varselEposter" : {
            "type" : "array",
            "description" : "Liste av epostadresser som får varselepost hvis det er bekymringsmeldinger som ikke er kvittert ut i Manuell Mottak",
            "items" : {
              "type" : "string",
              "description" : "Liste av epostadresser som får varselepost hvis det er bekymringsmeldinger som ikke er kvittert ut i Manuell Mottak"
            }
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "deaktivert" : {
            "type" : "boolean",
            "description" : "Om bydelen er deaktivert. Det er ikke mulig å sende bekymringsmeldinger til deaktiverte bydeler"
          }
        }
      },
      "KontaktinformasjonApiModel" : {
        "required" : [ "epost", "postadresseAdresselinje1", "postadresseNavn", "postadressePostnr", "postadressePoststed", "telefon" ],
        "type" : "object",
        "properties" : {
          "telefon" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          },
          "postadresseNavn" : {
            "type" : "string"
          },
          "postadresseAdresselinje1" : {
            "type" : "string",
            "description" : "Første adresselinje til postadressen. Som regel inneholder den gatenavn og gatenummer"
          },
          "postadresseAdresselinje2" : {
            "type" : "string",
            "description" : "Andre adresselinje til postadressen"
          },
          "postadresseAdresselinje3" : {
            "type" : "string",
            "description" : "Tredje adresselinje til postadressen"
          },
          "postadressePostnr" : {
            "pattern" : "^[0-9]{4}$",
            "type" : "string"
          },
          "postadressePoststed" : {
            "type" : "string"
          }
        }
      },
      "KontoApiModel" : {
        "type" : "object",
        "properties" : {
          "fiksIoKonto" : {
            "type" : "string",
            "format" : "uuid"
          },
          "tilFagsystem" : {
            "type" : "boolean",
            "description" : "Skal kontoen bruke eget fagsystem?"
          }
        }
      },
      "RequestBydelApiModel" : {
        "required" : [ "bydelsnavn", "bydelsnummer", "kontaktinformasjon", "konto", "varselEposter" ],
        "type" : "object",
        "properties" : {
          "bydelsnummer" : {
            "pattern" : "^[0-9]{2}$",
            "type" : "string"
          },
          "bydelsnavn" : {
            "type" : "string"
          },
          "standardMottaker" : {
            "type" : "boolean",
            "description" : "Standard mottaker til kommunen hvor bekymringsmeldinger blir levert hvis bydel ikke er valgt"
          },
          "konto" : {
            "$ref" : "#/components/schemas/KontoApiModel"
          },
          "kontaktinformasjon" : {
            "$ref" : "#/components/schemas/KontaktinformasjonApiModel"
          },
          "varselEposter" : {
            "type" : "array",
            "description" : "Liste av epostadresser som får varselepost hvis det er bekymringsmeldinger som ikke er kvittert ut i Manuell Mottak",
            "items" : {
              "type" : "string",
              "description" : "Liste av epostadresser som får varselepost hvis det er bekymringsmeldinger som ikke er kvittert ut i Manuell Mottak"
            }
          }
        }
      },
      "StatusModel" : {
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "meldingstype" : {
            "type" : "string"
          },
          "fiksIoKonto" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      }
    }
  }
}