{
  "openapi": "3.1.1",
  "info": {
    "title": "KS Fiks: Brreg støtteregisteret",
    "description": "Service for Brreg støtteregisteret",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "paths": {
    "/brregstotteregisteret/api/v1/kodeliste/region": {
      "get": {
        "tags": [
          "Region"
        ],
        "operationId": "hentKodelisteRegioner",
        "summary": "Henter kodelister for hver region",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Regionkodeliste"
                }
              }
            }
          }
        }
      }
    },
    "/brregstotteregisteret/api/v1/kodeliste/region/{id}": {
      "get": {
        "tags": [
          "Region"
        ],
        "operationId": "hentKodelisteRegion",
        "summary": "Henter kodeliste for region med angitt id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifikator for Region",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Region"
                }
              }
            }
          },
          "404": {
            "description": "Ugyldig Regionsidentifikator",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brregstotteregisteret/api/v1/kodeliste/region/fylkesnummer/{fylkesnummer}": {
      "get": {
        "tags": [
          "Region"
        ],
        "operationId": "hentKodelisteRegionForFylkesnummer",
        "summary": "Henter kodeliste for region med angitt fylkesnummer",
        "parameters": [
          {
            "name": "fylkesnummer",
            "in": "path",
            "description": "Fylkesnummer for Region",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01",
              "description": "fylkesnummeret som angir fylket"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Region"
                }
              }
            }
          },
          "404": {
            "description": "Ugyldig fylkesnummer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brregstotteregisteret/api/v1/kodeliste/naering": {
      "get": {
        "tags": [
          "Naering"
        ],
        "operationId": "hentKodelisteNaeringer",
        "summary": "Henter kodelister for hver næring",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Naeringkodeliste"
                }
              }
            }
          }
        }
      }
    },
    "/brregstotteregisteret/api/v1/kodeliste/naering/{code}": {
      "get": {
        "tags": [
          "Naering"
        ],
        "operationId": "hentKodelisteNaering",
        "summary": "Henter kodeliste for næring med angitt code",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Code for Naering",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Naering"
                }
              }
            }
          },
          "404": {
            "description": "Ugyldig Naeringscode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      },
      "Regionkodeliste": {
        "type": "object",
        "required": [
          "regioner"
        ],
        "properties": {
          "regioner": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Region"
            }
          }
        }
      },
      "Naeringkodeliste": {
        "type": "object",
        "required": [
          "naeringer"
        ],
        "properties": {
          "naeringer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Naering"
            }
          }
        }
      },
      "Region": {
        "type": "object",
        "properties": {
          "identifikator": {
            "type": "integer",
            "example": 1000,
            "description": "primær id"
          },
          "fylkesnummer": {
            "type": "string",
            "example": "01",
            "description": "Nummeret som identifiserer fylket"
          },
          "navn": {
            "type": "string",
            "example": "Østfold",
            "description": "Navnet på fylket"
          },
          "status": {
            "type": "string",
            "enum": [
              "gyldig",
              "utgått"
            ],
            "example": "utgått",
            "description": "Status for fylket"
          },
          "opprettet": {
            "type": "string",
            "example": "2024-12-06",
            "description": "Dato for når posten ble opprettet"
          }
        }
      },
      "Naering": {
        "type": "object",
        "properties": {
          "kode": {
            "type": "string"
          },
          "nivaa": {
            "type": "integer",
            "format": "int32"
          },
          "foreldreKode": {
            "type": "string"
          },
          "navn": {
            "type": "string"
          },
          "forkortetNavn": {
            "type": "string"
          },
          "notater": {
            "type": "string"
          }
        }
      }
    }
  }
}