{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS-Digital: brukersynkronisering oppdatering service",
    "description" : "Konfigurasjon av brukersynkrionisering",
    "contact" : {
      "name" : "KS-Digital brukerstøtte",
      "url" : "https://ksdigital.no/utviklingsprosjekter/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://brukersynkronisering-oppdatering.tl-prod.intility.io",
    "description" : "Brukersynkronisering oppdatering API PROD host"
  }, {
    "url" : "https://brukersynkronisering-oppdatering.tl-test.intility.io",
    "description" : "Brukersynkronisering oppdatering API TEST host"
  } ],
  "tags" : [ {
    "name" : "AdhocSynkronisering",
    "description" : "Adhoc synkronisering av bruker og gruppe"
  }, {
    "name" : "Hwm",
    "description" : "HWM for brukersynkronisering oppdatering"
  }, {
    "name" : "RecurringSynkronisering",
    "description" : "Gjentagende synkronisering av bruker og gruppe"
  } ],
  "paths" : {
    "/api/brukersynkronisering/oppdatering/v1/jobber/adhoc/logg/leggTilMangleneSlettetEvents" : {
      "post" : {
        "tags" : [ "AdhocSynkronisering" ],
        "description" : "Legg til manglene slettet events for brukere som ikke lengre eksisterer",
        "operationId" : "adHocLeggTilMangleneSlettetEventStarter",
        "parameters" : [ {
          "name" : "antall",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdHocSynkQueued"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Feil i forespørsel. Ugyldig id for gruppe?",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/brukersynkronisering/oppdatering/v1/jobber/adhoc/synkroniser/gruppe" : {
      "post" : {
        "tags" : [ "AdhocSynkronisering" ],
        "description" : "Synkroniser enkeltgruppe",
        "operationId" : "adHocSynkroniserGruppe",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdHocSynkGruppe"
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdHocSynkQueued"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Feil i forespørsel. Ugyldig id for gruppe?",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/brukersynkronisering/oppdatering/v1/jobber/adhoc/synkroniser/bruker" : {
      "post" : {
        "tags" : [ "AdhocSynkronisering" ],
        "description" : "Synkroniser enkeltbruker",
        "operationId" : "adHocSynkroniseringBruker",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdHocSynkBruker"
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdHocSynkQueued"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Feil i forespørsel. Ugyldig id for bruker?",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/brukersynkronisering/oppdatering/v1/hwm/brukere" : {
      "get" : {
        "tags" : [ "Hwm" ],
        "description" : "Henter gjeldende HWM for synk av brukere",
        "operationId" : "brukerHwm",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Hwm"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/brukersynkronisering/oppdatering/v1/hwm/grupper" : {
      "get" : {
        "tags" : [ "Hwm" ],
        "description" : "Henter gjeldende HWM for synk av grupper",
        "operationId" : "grupperHwm",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Hwm"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/brukersynkronisering/oppdatering/v1/jobber/gjentagende/{jobbNavn}" : {
      "get" : {
        "tags" : [ "RecurringSynkronisering" ],
        "description" : "Henter informasjon om en gjentagende jobb",
        "operationId" : "hentJobb",
        "parameters" : [ {
          "name" : "jobbNavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecurringJobInformation"
                }
              }
            }
          },
          "404" : {
            "description" : "Finner ingen jobb med gitt navn",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/brukersynkronisering/oppdatering/v1/jobber/gjentagende" : {
      "get" : {
        "tags" : [ "RecurringSynkronisering" ],
        "description" : "Henter alle gjentagende jobber",
        "operationId" : "hentJobber",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RecurringJobs"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AdHocSynkQueued" : {
        "type" : "object",
        "properties" : {
          "jobbId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "AdHocSynkGruppe" : {
        "type" : "object",
        "properties" : {
          "eksternRef" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "AdHocSynkBruker" : {
        "required" : [ "eksternRef" ],
        "type" : "object",
        "properties" : {
          "eksternRef" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "Hwm" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "BRUKERE", "GRUPPER" ]
          },
          "hwm" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "RecurringJobInformation" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "interval" : {
            "type" : "string"
          },
          "nextRun" : {
            "type" : "string",
            "format" : "date-time"
          },
          "lastState" : {
            "type" : "string",
            "enum" : [ "AWAITING", "SCHEDULED", "ENQUEUED", "PROCESSING", "FAILED", "SUCCEEDED", "DELETED" ]
          }
        }
      },
      "RecurringJobs" : {
        "type" : "object",
        "properties" : {
          "count" : {
            "type" : "integer",
            "format" : "int32"
          },
          "jobs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RecurringJobInformation"
            }
          }
        }
      }
    }
  }
}