{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS fiks: brukersynkronisering konfigurasjon service",
    "description" : "Konfigurasjon av brukersynkrionisering",
    "contact" : {
      "name" : "KS fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "kilde"
  }, {
    "name" : "token"
  }, {
    "name" : "data"
  }, {
    "name" : "tjeneste"
  } ],
  "paths" : {
    "/brukersynkronisering/konfigurasjon/api/v1/konfigurasjon/{fiksOrgId}/{klientId}/tokens" : {
      "get" : {
        "tags" : [ "token" ],
        "description" : "Gir oversikt over aktive tokens per klient",
        "operationId" : "listActiveTokens",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "klientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActiveTokens"
                }
              }
            }
          },
          "404" : {
            "description" : "Ukjent klient"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "token" ],
        "description" : "Gir oversikt over hvilke tokens som er generert per clientId",
        "operationId" : "createToken",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "klientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NewToken"
                }
              }
            }
          },
          "404" : {
            "description" : "Ukjent klient"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/konfigurasjon/api/v1/konfigurasjon/{fiksOrgId}/{klientId}/tokens/{id}" : {
      "delete" : {
        "tags" : [ "token" ],
        "description" : "Tilbakekaller gitt token. Når dette er gjort kan man ikke lengre bruke tokenet",
        "operationId" : "revokeToken",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "klientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Ok"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/konfigurasjon/api/v1/konfigurasjon/data/brukere/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "data" ],
        "description" : "Henter synkroniserte brukere fra en gitt organisasjon",
        "operationId" : "brukereForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EksterneBrukere"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "data" ],
        "description" : "Henter synkroniserte brukere fra en gitt organisasjon",
        "operationId" : "search",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/Soek"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EksterneBrukere"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/konfigurasjon/api/v1/konfigurasjon/data/brukere/{fiksOrgId}/kilder/{kildeId}" : {
      "get" : {
        "tags" : [ "data" ],
        "description" : "Henter synkroniserte brukere fra et gitt kildesystem",
        "operationId" : "brukereForKilde",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kildeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EksterneBrukere"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/konfigurasjon/api/v1/konfigurasjon/data/grupper/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "data" ],
        "description" : "Henter synkroniserte grupper for en gitt organisasjon",
        "operationId" : "grupperForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EksterneGrupper"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/konfigurasjon/api/v1/konfigurasjon/data/grupper/{fiksOrgId}/kilde/{kildeId}" : {
      "get" : {
        "tags" : [ "data" ],
        "description" : "Henter synkroniserte grupper fra et gitt gitt kildesystem",
        "operationId" : "grupperForKilde",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kildeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EksterneGrupper"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/konfigurasjon/api/v1/konfigurasjon/{fiksOrgId}/klient/{klientId}" : {
      "get" : {
        "tags" : [ "klient" ],
        "description" : "Henter en enkelt kilde",
        "operationId" : "kilde",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "klientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Kilde"
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke konfigurert"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/konfigurasjon/api/v1/konfigurasjon/{fiksOrgId}/{kildeId}" : {
      "get" : {
        "tags" : [ "kilde" ],
        "description" : "Viser enkelt kilde",
        "operationId" : "kilde_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kildeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "Location" : {
                "description" : "URI til den nye ressursen",
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Kilde"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke gitt kilde"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "kilde" ],
        "description" : "Sletter konfigurasjon for kilde",
        "operationId" : "slettKilde",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kildeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "Fant ikke gitt kilde"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/konfigurasjon/api/v1/konfigurasjon/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "kilde" ],
        "description" : "Gir oversikt over hvilke kilder som er konfigurert",
        "operationId" : "kilder",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kilde"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke konfigurert"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "kilde" ],
        "description" : "Oppretter konfigurasjon for en kilde",
        "operationId" : "opprettKilde",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NyKildeRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "Location" : {
                "description" : "URI til den nye ressursen",
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NyKilde"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke gitt kilde"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/konfigurasjon/api/v1/konfigurasjon/{fiksOrgId}/tjenester" : {
      "post" : {
        "tags" : [ "tjeneste" ],
        "operationId" : "oppdaterBrukerstyringForTjeneste",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KonfigurerForTjeneste"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GjeldendeStatus"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang (krever tjenestadmin)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/konfigurasjon/api/v1/konfigurasjon/{fiksOrgId}/tjenester/{tjenesteKode}" : {
      "get" : {
        "tags" : [ "tjeneste" ],
        "operationId" : "status",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tjenesteKode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "FOLKEREGISTER" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GjeldendeStatus"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang (krever tjenestadmin)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "NewToken" : {
        "required" : [ "token", "type" ],
        "type" : "object",
        "properties" : {
          "token" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "expiresInSeconds" : {
            "type" : "integer",
            "format" : "int64"
          },
          "scope" : {
            "type" : "string"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "ActiveTokens" : {
        "required" : [ "tokens" ],
        "type" : "object",
        "properties" : {
          "tokens" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Token"
            }
          }
        }
      },
      "Token" : {
        "required" : [ "createdAt", "expiresAt", "id", "revoked" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "revoked" : {
            "type" : "boolean"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "expiresAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "revokedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "EksternBruker" : {
        "required" : [ "aktiv", "aktorId", "brukerId", "idPortenKompatibel", "kildeId", "navn" ],
        "type" : "object",
        "properties" : {
          "kildeId" : {
            "$ref" : "#/components/schemas/Id"
          },
          "brukerId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "aktiv" : {
            "type" : "boolean"
          },
          "idPortenKompatibel" : {
            "type" : "boolean",
            "description" : "Indikerer om denne brukeren kan brukes med idporten authentisering, mao om vi har fødselsnummer"
          },
          "aktorId" : {
            "type" : "string",
            "description" : "Aktørverdi som brukes når det skal tildeles privilegier for denne brukeren i autorisasjon",
            "example" : "SDB_55fea9ec-e9ec-4d39-929e-cecadd1cfe57"
          }
        }
      },
      "EksterneBrukere" : {
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "brukere" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EksternBruker"
            }
          }
        }
      },
      "Id" : {
        "required" : [ "fiksOrgId", "id" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "id" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "EksternGruppe" : {
        "required" : [ "gruppeId", "kildeId", "navn" ],
        "type" : "object",
        "properties" : {
          "kildeId" : {
            "$ref" : "#/components/schemas/Id"
          },
          "gruppeId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "aktorId" : {
            "type" : "string",
            "description" : "Aktørverdi som brukes når det skal tildeles privilegier for denne gruppen i autorisasjon",
            "example" : "SDG_55fea9ec-e9ec-4d39-929e-cecadd1cfe57"
          }
        }
      },
      "EksterneGrupper" : {
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "grupper" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EksternGruppe"
            }
          }
        }
      },
      "Soek" : {
        "required" : [ "uttrykk" ],
        "type" : "object",
        "properties" : {
          "uttrykk" : {
            "type" : "string"
          },
          "kildeId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "Kilde" : {
        "required" : [ "eksternInstansId", "id", "navn", "oidcClientId", "statusBrukere", "statusGrupper" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/Id"
          },
          "navn" : {
            "type" : "string"
          },
          "oidcClientId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "eksternInstansId" : {
            "type" : "string"
          },
          "statusBrukere" : {
            "$ref" : "#/components/schemas/KildeStatus"
          },
          "statusGrupper" : {
            "$ref" : "#/components/schemas/KildeStatus"
          }
        }
      },
      "KildeStatus" : {
        "required" : [ "antall" ],
        "type" : "object",
        "properties" : {
          "antall" : {
            "type" : "integer",
            "format" : "int64"
          },
          "sisteOppdatering" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "NyKilde" : {
        "required" : [ "eksternInstansId", "id", "navn", "oidcClientId", "scimEndepunkt" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/Id"
          },
          "navn" : {
            "type" : "string"
          },
          "oidcClientId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "scimEndepunkt" : {
            "type" : "string",
            "format" : "uri"
          },
          "eksternInstansId" : {
            "type" : "string"
          }
        }
      },
      "NyKildeRequest" : {
        "required" : [ "eksternInstansId", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Menneskelesbart navn på kildesystemet"
          },
          "eksternInstansId" : {
            "type" : "string",
            "description" : "Id som identifiserer unikt en instans av kildesystemet. For Azure AD skal det oppgies TennantId"
          }
        }
      },
      "GjeldendeStatus" : {
        "required" : [ "status" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "enum" : [ "AKTIVERT", "DEAKTIVERT" ]
          }
        }
      },
      "KonfigurerForTjeneste" : {
        "required" : [ "nyStatus", "tjeneste" ],
        "type" : "object",
        "properties" : {
          "tjeneste" : {
            "type" : "string",
            "enum" : [ "FOLKEREGISTER" ]
          },
          "nyStatus" : {
            "type" : "string",
            "enum" : [ "AKTIVERT", "DEAKTIVERT" ]
          }
        }
      }
    }
  }
}