{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Chat Konfigurasjon",
    "description" : "Tjeneste for konfigurering av chat",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Chat konfigurasjon",
    "description" : "API for konfigurering av chat"
  }, {
    "name" : "Chat folkeregisterrolle konfigurasjon",
    "description" : "API for konfigurering av rolle for folkeregisteroppslag"
  } ],
  "paths" : {
    "/chat-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/grupper" : {
      "get" : {
        "tags" : [ "Chat konfigurasjon" ],
        "summary" : "Finne grupper knytta mot fiksOrg",
        "operationId" : "finnGrupper",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Grupper",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GruppeResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Chat konfigurasjon" ],
        "summary" : "Opprette gruppe for fiksOrg",
        "operationId" : "opprettGruppe",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettGruppeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Gruppe",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GruppeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chat-konfigurasjon/api/v1/organisasjoner/{fiksOrg}/brukere/{id}" : {
      "delete" : {
        "tags" : [ "Chat konfigurasjon" ],
        "summary" : "Fjerner bruker fra fiksOrg. Om dette er eneste fiksOrg som bruker er tilknyttet, slettes brukeren.",
        "operationId" : "fjernBrukerFraFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Bruker er fjernet fra fiksOrg"
          }
        }
      },
      "patch" : {
        "tags" : [ "Chat konfigurasjon" ],
        "summary" : "Oppdaterer en bruker, navn eller legge til/fjerne grupper. Kan ikke både legge til grupper og fjerne grupper samtidig. ",
        "operationId" : "oppdaterBruker",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterBrukerRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Response!",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrukerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chat-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/grupper/{gruppeId}" : {
      "delete" : {
        "tags" : [ "Chat konfigurasjon" ],
        "summary" : "Fjerne gruppe for fiksOrg. Dersom det er siste gruppe på fiksOrg som skal slettes, må DELETE-endepunkt for bruker i stedet benyttes",
        "operationId" : "fjernGruppe",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "gruppeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Gruppe er fjernet"
          }
        }
      }
    },
    "/chat-konfigurasjon/api/v1/organisasjoner/{fiksOrg}/brukere" : {
      "get" : {
        "tags" : [ "Chat konfigurasjon" ],
        "summary" : "Henter alle brukere for organisasjonen",
        "description" : "Hent alle brukere for organisasjonen",
        "operationId" : "hentBrukere",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Alle brukere for organisasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BrukerResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Chat konfigurasjon" ],
        "summary" : "Oppretter en ny bruker for organisasjonen med gitt fødselsnummer",
        "operationId" : "opprettBrukerForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettBrukerRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Id til bruker som er opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpprettBrukerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chat-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/brukere/sok" : {
      "post" : {
        "tags" : [ "Chat konfigurasjon" ],
        "summary" : "Let etter navn for person med fødselsnummer. Bruker folkeregister dersom dette er aktivert",
        "operationId" : "sok",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BrukerRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Navn på person",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrukerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chat-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/folkeregister/rolle" : {
      "post" : {
        "tags" : [ "Chat folkeregisterrolle konfigurasjon" ],
        "summary" : "Aktiverer oppslag fra chat-tjenesten mot folkeregister for organisasjonen",
        "operationId" : "aktiverFolkeregister",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Oppslag mot folkeregister aktivert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AktivertRolle"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Chat folkeregisterrolle konfigurasjon" ],
        "summary" : "Deaktiverer oppslag fra chat-tjenesten mot folkeregister for organisasjonen",
        "operationId" : "deaktiverFolkeregister",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Oppslag mot folkeregister deaktivert"
          }
        }
      }
    },
    "/chat-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/folkeregister" : {
      "get" : {
        "tags" : [ "Chat folkeregisterrolle konfigurasjon" ],
        "summary" : "Henter status på konfigurasjon av oppslag mot folkeregister for organisasjonen",
        "operationId" : "hentOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Oppslag mot folkeregister aktivert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "GruppeResponse" : {
        "required" : [ "fiksOrgId", "id", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id på gruppe",
            "format" : "uuid"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId knytta til",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på gruppe"
          }
        },
        "description" : "Gruppe"
      },
      "BrukerResponse" : {
        "required" : [ "fnr" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id til bruker",
            "format" : "uuid"
          },
          "fnr" : {
            "type" : "string",
            "description" : "Fødselsnummer til bruker"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn til bruker"
          },
          "grupper" : {
            "type" : "array",
            "description" : "Grupper som bruker tilhører i denne fiksOrg",
            "items" : {
              "type" : "string",
              "description" : "Grupper som bruker tilhører i denne fiksOrg",
              "format" : "uuid"
            }
          }
        }
      },
      "OppdaterBrukerRequest" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn til bruker"
          },
          "nyeGrupper" : {
            "type" : "array",
            "description" : "Gruppe som bruker skal legges til i",
            "items" : {
              "type" : "string",
              "description" : "Gruppe som bruker skal legges til i",
              "format" : "uuid"
            }
          },
          "fjernGrupper" : {
            "type" : "array",
            "description" : "Gruppe som bruker skal fjernes fra",
            "items" : {
              "type" : "string",
              "description" : "Gruppe som bruker skal fjernes fra",
              "format" : "uuid"
            }
          }
        }
      },
      "OpprettBrukerResponse" : {
        "required" : [ "fnr", "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id for bruker som er opprettet",
            "format" : "uuid"
          },
          "fnr" : {
            "type" : "string",
            "description" : "Fødselsnummer for bruker som er opprettet"
          }
        },
        "description" : "Opprettet bruker"
      },
      "OpprettBrukerRequest" : {
        "required" : [ "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer for bruker som skal opprettes"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn til bruker"
          },
          "grupper" : {
            "type" : "array",
            "description" : "Grupper for fiksOrg bruker skal bli lagt til i",
            "items" : {
              "type" : "string",
              "description" : "Grupper for fiksOrg bruker skal bli lagt til i",
              "format" : "uuid"
            }
          }
        },
        "description" : "Skal opprette bruker"
      },
      "OpprettGruppeRequest" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på gruppe"
          }
        },
        "description" : "Opprette gruppe"
      },
      "BrukerRequest" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer til bruker"
          }
        }
      },
      "AktivertRolle" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "Organisasjon" : {
        "required" : [ "folkeregisterStatus" ],
        "type" : "object",
        "properties" : {
          "folkeregisterStatus" : {
            "type" : "string",
            "enum" : [ "AKTIVERT", "DEAKTIVERT", "DELVIS_AKTIVERT", "DELVIS_DEAKTIVERT" ]
          }
        }
      }
    }
  }
}