{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Chat Konfigurasjon",
    "description" : "Fiks Chat Konfigurasjon Ekstern service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks API test host"
  } ],
  "tags" : [ {
    "name" : "chat-konfigurasjon-ekstern",
    "description" : "API for konfigurering av Fiks Chat via RocketChat"
  } ],
  "paths" : {
    "/fiks-chat-konfigurasjon/api/v1/ekstern/kanal/bruker" : {
      "put" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Fjerner bruker fra kanal",
        "operationId" : "fjernBrukerFraKanal",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FjernBrukerFraKanalRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Fjerner user fra kanal"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/team/saksbehandler" : {
      "put" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Fjerner bruker fra team",
        "operationId" : "fjernBrukerFraTeam",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FjernSaksbehandlerFraTeamRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Fjerner user fra team"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/sak/brukere" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Henter brukere knyttet til en sak",
        "operationId" : "getBrukereISak",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SakBrukereRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Henter brukere knyttet til en sak",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SakBrukereResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/kommune/oppslag" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Finner fiksOrgId som matcher kommunenavn",
        "operationId" : "getFiksOrgId",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KommuneOppslagRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Finner fiksOrgId som matcher kommunenavn",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KommuneOppslagResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen treff som matcher kommunenavn"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/kommune/oppslag2" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Finner fiksOrgId som matcher kommunenavn",
        "operationId" : "getFiksOrgId2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FiksOrgOppslagRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Finner fiksOrgId som matcher kommunenavn",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FiksOrgOppslagResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen treff som matcher kommunenavn"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/users/{fiksOrgId}" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Henter brukere i fiksOrg",
        "operationId" : "getUsers",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter brukere i fiksOrg",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Users"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/500" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Oppretter en ny feil",
        "operationId" : "giMeg500",
        "responses" : {
          "500" : {
            "description" : "Feil"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/room/{roomId}/saksbehandler" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Legger til en saksbehandler i team i RocketChat",
        "operationId" : "leggTilSaksbehandler",
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilSaksbehandlerITeamRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "La til saksbehandler i team",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LeggTilSaksbehandlerITeamResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/room/{roomId}/saksbehandler/{userId}" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Legger til en saksbehandler i team",
        "operationId" : "leggTilSaksbehandlerMedUserId",
        "parameters" : [ {
          "name" : "roomId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilSaksbehandlerITeamUserIdRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "La til saksbehandler i team",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LeggTilSaksbehandlerITeamResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/log" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Logger melding",
        "operationId" : "logMelding",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LogMelding"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created"
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/opprettchatbruker" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Oppretter en ekstern bruker i RocketChat",
        "operationId" : "opprettEksternBruker",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettChatbrukerRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet ny chatbruker og la til i channel"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/kanal" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Oppretter en ny kanal",
        "operationId" : "opprettKanal",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettKanalRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet ny kanal"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/team/{teamId}" : {
      "delete" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Sletter team",
        "operationId" : "slettTeam",
        "parameters" : [ {
          "name" : "teamId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Sletter team"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/bruker/sok" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Søker på personalia i Folkeregister",
        "operationId" : "sokFolkeregister",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SokFolkeregisterRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Søk etter person i Folkeregister",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FolkeregisterResultat"
                }
              }
            }
          },
          "400" : {
            "description" : "Fnr er ikke på riktig format"
          },
          "404" : {
            "description" : "Fant ikke person i Folkeregister"
          },
          "500" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/saksbehandler/sok" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Søk etter saksbehandler i fiksorg",
        "operationId" : "sokSaksbehandlere",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SokSaksbehandlerITeamRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Søk etter saksbehandler i fiksorg",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SokSaksbehandlerITeamResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "FjernBrukerFraKanalRequest" : {
        "required" : [ "fiksOrgId", "roomId", "saksbehandlerFnr", "userId" ],
        "type" : "object",
        "properties" : {
          "userId" : {
            "type" : "string",
            "description" : "BrukerId til bruker som skal fjernes"
          },
          "roomId" : {
            "type" : "string",
            "description" : "Id til rommet bruker skal fjernes fra"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId for kommunen som eier kanalen",
            "format" : "uuid"
          },
          "saksbehandlerFnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer til saksbehandler som skal fjerne bruker fra kanalen"
          }
        }
      },
      "FjernSaksbehandlerFraTeamRequest" : {
        "required" : [ "fiksOrgId", "roomId", "saksbehandlerFnr", "userId" ],
        "type" : "object",
        "properties" : {
          "userId" : {
            "type" : "string",
            "description" : "BrukerId til bruker som skal fjernes"
          },
          "roomId" : {
            "type" : "string",
            "description" : "Id til rommet saksbehandler skal fjernes fra"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId for kommunen som er knyttet til teamet",
            "format" : "uuid"
          },
          "saksbehandlerFnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer til saksbehandler som skal fjerne saksbehandler fra teamet"
          }
        }
      },
      "Bruker" : {
        "required" : [ "navn", "userId" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn til fiksorg"
          },
          "rolle" : {
            "type" : "string",
            "description" : "Rolle til bruker",
            "enum" : [ "FAR", "MOR", "MEFAR", "MEDMOR", "BARNET", "SOSKEN", "ANNEN" ]
          },
          "userId" : {
            "type" : "string",
            "description" : "Userid til bruker"
          }
        },
        "description" : "Liste med brukere i en sak"
      },
      "SakBrukereResponse" : {
        "required" : [ "brukere" ],
        "type" : "object",
        "properties" : {
          "brukere" : {
            "type" : "array",
            "description" : "Liste med brukere i en sak",
            "items" : {
              "$ref" : "#/components/schemas/Bruker"
            }
          }
        }
      },
      "SakBrukereRequest" : {
        "required" : [ "fiksOrgId", "roomId", "saksbehandlerFnr" ],
        "type" : "object",
        "properties" : {
          "roomId" : {
            "type" : "string",
            "description" : "Id til rommet bruker står i når der kanal skal opprettes"
          },
          "saksbehandlerFnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for saksbehandler som ønsker legge til bruker "
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Id til fiksOrg",
            "format" : "uuid"
          }
        }
      },
      "KommuneOppslagResponse" : {
        "required" : [ "fiksOrgId" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId til kommunen",
            "format" : "uuid"
          }
        }
      },
      "KommuneOppslagRequest" : {
        "required" : [ "kommuneNavn", "userFiksOrgId" ],
        "type" : "object",
        "properties" : {
          "kommuneNavn" : {
            "type" : "string",
            "description" : "Kommunenavn"
          },
          "userFiksOrgId" : {
            "type" : "array",
            "description" : "Liste over brukerens fiksOrgId'er",
            "items" : {
              "type" : "string",
              "description" : "Liste over brukerens fiksOrgId'er",
              "format" : "uuid"
            }
          }
        }
      },
      "FiksOrg" : {
        "required" : [ "id", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn til fiksorg"
          },
          "id" : {
            "type" : "string",
            "description" : "Id til fiksOrg",
            "format" : "uuid"
          }
        },
        "description" : "Liste med fiksorgs"
      },
      "FiksOrgOppslagResponse" : {
        "required" : [ "fiksOrgs" ],
        "type" : "object",
        "properties" : {
          "fiksOrgs" : {
            "type" : "array",
            "description" : "Liste med fiksorgs",
            "items" : {
              "$ref" : "#/components/schemas/FiksOrg"
            }
          }
        }
      },
      "FiksOrgOppslagRequest" : {
        "required" : [ "fiksOrgIds" ],
        "type" : "object",
        "properties" : {
          "fiksOrgIds" : {
            "type" : "array",
            "description" : "Liste over fiksOrgId'er",
            "items" : {
              "type" : "string",
              "description" : "Liste over fiksOrgId'er",
              "format" : "uuid"
            }
          }
        }
      },
      "User" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "username" : {
            "type" : "string"
          }
        }
      },
      "Users" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/User"
            }
          }
        }
      },
      "LeggTilSaksbehandlerITeamResponse" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "varAlleredeMedlem" : {
            "type" : "boolean"
          },
          "teamId" : {
            "type" : "string"
          },
          "saksbehandlerId" : {
            "type" : "string"
          }
        }
      },
      "LeggTilSaksbehandlerITeamRequest" : {
        "required" : [ "fiksOrgId", "saksbehandlerFnr" ],
        "type" : "object",
        "properties" : {
          "saksbehandlerFnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for saksbehandler som utfører handlingen"
          },
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for saksbehandler som skal legges til"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Id for fiksOrg som saksbehandler skal legges til",
            "format" : "uuid"
          }
        }
      },
      "LeggTilSaksbehandlerITeamUserIdRequest" : {
        "required" : [ "fiksOrgId", "saksbehandlerFnr" ],
        "type" : "object",
        "properties" : {
          "saksbehandlerFnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for saksbehandler som utfører handlingen"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Id for fiksOrg som saksbehandler skal legges til",
            "format" : "uuid"
          }
        }
      },
      "LogMelding" : {
        "required" : [ "level", "melding" ],
        "type" : "object",
        "properties" : {
          "level" : {
            "type" : "string",
            "description" : "Log level",
            "enum" : [ "ERROR", "WARN", "INFO", "DEBUG" ]
          },
          "melding" : {
            "maxLength" : 2000,
            "minLength" : 0,
            "type" : "string",
            "description" : "Melding som skal logges"
          }
        }
      },
      "OpprettChatbrukerResponse" : {
        "type" : "object",
        "properties" : {
          "brukerId" : {
            "type" : "string"
          },
          "opprettet" : {
            "type" : "boolean"
          },
          "lagtTilKanal" : {
            "type" : "boolean"
          }
        }
      },
      "OpprettChatbrukerRequest" : {
        "required" : [ "fiksOrgId", "fnr", "navn", "roomId", "saksbehandlerFnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for chatbruker som skal opprettes"
          },
          "saksbehandlerFnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for saksbehandler som ønsker legge til bruker "
          },
          "roomId" : {
            "type" : "string",
            "description" : "Id for rommet som chatbruker skal knyttes til"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId for kommunen som chatbruker skal knyttes til",
            "format" : "uuid"
          },
          "bypassIdporten" : {
            "type" : "boolean",
            "description" : "Bypass idporten"
          },
          "epost" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9-_]+([.+][A-Za-zæøåÆØÅ0-9-_]+)*@[A-Za-zæøåÆØÅ0-9-]+(\\.[A-Za-zæøåÆØÅ0-9-]+)*(\\.[A-Za-z]{2,})$",
            "type" : "string",
            "description" : "Epost adresse. Påkrevd hvis bypassIdporten=true"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på bruker"
          },
          "rolle" : {
            "type" : "string",
            "description" : "Rolle til bruker",
            "enum" : [ "FAR", "MOR", "MEFAR", "MEDMOR", "BARNET", "SOSKEN", "ANNEN" ]
          }
        }
      },
      "OpprettKanalResponse" : {
        "type" : "object",
        "properties" : {
          "kanalId" : {
            "type" : "string"
          }
        }
      },
      "OpprettKanalRequest" : {
        "required" : [ "fiksOrgId", "navn", "roomId", "saksbehandlerFnr" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på den nye kanalen. Format: saksnr - valgfri tekst - (kommune)"
          },
          "roomId" : {
            "type" : "string",
            "description" : "Id til rommet bruker står i når der kanal skal opprettes"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId for kommunen som kanalen skal knyttes til",
            "format" : "uuid"
          },
          "saksbehandlerFnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer til saksbehandler som skal opprette kanal"
          }
        }
      },
      "FolkeregisterResultat" : {
        "required" : [ "alder", "etternavn", "fnr", "fornavn", "type" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string",
            "description" : "Personnummer til person"
          },
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn til person"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn til person"
          },
          "alder" : {
            "type" : "integer",
            "description" : "Alder til person",
            "format" : "int64"
          },
          "type" : {
            "type" : "string",
            "description" : "Type person-identifikator som er brukt",
            "enum" : [ "FNR", "DNR" ]
          }
        }
      },
      "SokFolkeregisterRequest" : {
        "required" : [ "fiksOrgId", "fnr", "saksbehandlerFnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for chatbruker"
          },
          "saksbehandlerFnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for saksbehandler som ønsker legge til bruker "
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId for kommunen som chatbruker skal knyttes til",
            "format" : "uuid"
          }
        }
      },
      "SokSaksbehandlerITeamResponse" : {
        "type" : "object",
        "properties" : {
          "usernames" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/User"
            }
          }
        }
      },
      "SokSaksbehandlerITeamRequest" : {
        "required" : [ "fiksOrgId", "saksbehandlerFnr" ],
        "type" : "object",
        "properties" : {
          "saksbehandlerFnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for saksbehandler som utfører handlingen"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Id for fiksOrg som saksbehandler skal legges til",
            "format" : "uuid"
          }
        }
      }
    }
  }
}