{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Chat Konfigurasjon",
    "description" : "Fiks Chat Konfigurasjon Ekstern service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks API test host"
  } ],
  "tags" : [ {
    "name" : "chat-konfigurasjon-ekstern",
    "description" : "API for konfigurering av Fiks Chat via RocketChat"
  } ],
  "paths" : {
    "/fiks-chat-konfigurasjon/api/v1/ekstern/users/{fiksOrgId}" : {
      "post" : {
        "operationId" : "getUsers",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Opprettet ny kanal"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/{fiksOrgId}/sok" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Søker etter en saksbehandler i Chat konfigurasjon",
        "operationId" : "hentEksternBruker",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FinnChatbrukerRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChatbrukerSokResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/leggtilsaksbehandleriteam" : {
      "put" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Legger til en saksbehandler i team i RocketChat",
        "operationId" : "leggTilSaksbehandler",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilSaksbehandlerITeamRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "La til saksbehandler i team"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/opprettchatbruker" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Oppretter en ekstern bruker i RocketChat",
        "operationId" : "opprettEksternBruker",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettChatbrukerRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet ny chatbruker og la til i channel"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/ekstern/kanal" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-ekstern" ],
        "description" : "Oppretter en ny kanal",
        "operationId" : "opprettKanal",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettKanalRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet ny kanal"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "User" : {
        "type" : "object",
        "properties" : {
          "get_id" : {
            "type" : "string"
          },
          "username" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "status" : {
            "type" : "string"
          },
          "statusText" : {
            "type" : "string"
          },
          "outside" : {
            "type" : "boolean"
          }
        }
      },
      "Users" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/User"
            }
          }
        }
      },
      "ChatbrukerSokResponse" : {
        "required" : [ "etternavn", "fnr", "fornavn", "telefonnummer" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "PersonNummer for chatbruker"
          },
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn for chatbruker"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn for chatbruker"
          },
          "telefonnummer" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string",
            "description" : "Telefonnummer for chatbruker"
          }
        }
      },
      "FinnChatbrukerRequest" : {
        "required" : [ "fiksOrgId", "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for chatbruker som skal opprettes"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId for kommunen som chatbruker skal knyttes til"
          }
        }
      },
      "LeggTilSaksbehandlerITeamRequest" : {
        "required" : [ "fiksOrgId", "roomId", "saksbehandlerFnr" ],
        "type" : "object",
        "properties" : {
          "saksbehandlerFnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for saksbehandler som utfører handlingen"
          },
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for saksbehandler som skal legges til"
          },
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn til saksbehandler som skal legges til."
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn til saksbehandler som skal legges til"
          },
          "roomId" : {
            "type" : "string",
            "description" : "Id til team-rommet som saksbehandler skal legges til i."
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Id for fiksOrg som saksbehandler skal legges til",
            "format" : "uuid"
          }
        }
      },
      "OpprettChatbrukerRequest" : {
        "required" : [ "fiksOrgId", "fnr", "roomId", "saksbehandlerFnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for chatbruker som skal opprettes"
          },
          "saksbehandlerFnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for saksbehandler som ønsker legge til bruker "
          },
          "roomId" : {
            "type" : "string",
            "description" : "Id for rommet som chatbruker skal knyttes til"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId for kommunen som chatbruker skal knyttes til",
            "format" : "uuid"
          }
        }
      },
      "OpprettKanalRequest" : {
        "required" : [ "fiksOrgId", "navn", "roomId", "saksbehandlerFnr" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på den nye kanalen. Format: saksnr - valgfri tekst - (kommune)"
          },
          "roomId" : {
            "type" : "string",
            "description" : "Id til rommet bruker står i når der kanal skal opprettes"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId for kommunen som kanalen skal knyttes til",
            "format" : "uuid"
          },
          "saksbehandlerFnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer til saksbehandler som skal opprette kanal"
          }
        }
      }
    }
  }
}