{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Chat Konfigurasjon",
    "description" : "Fiks Chat Konfigurasjon Intern service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks API test host"
  } ],
  "tags" : [ {
    "name" : "chat-konfigurasjon-intern",
    "description" : "API for konfigurering av Fiks Chat i Forvaltning-grensesnittet"
  } ],
  "paths" : {
    "/fiks-chat-konfigurasjon/api/v1/intern/{fiksOrgId}/sok/test/{teamId}" : {
      "get" : {
        "tags" : [ "chat-konfigurasjon-intern" ],
        "description" : "Søker etter en saksbehandler i Chat konfigurasjon",
        "operationId" : "testTeam",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "teamId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "chat-konfigurasjon-intern" ],
        "description" : "Søker etter en saksbehandler i Chat konfigurasjon",
        "operationId" : "addTeam",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "teamId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/intern/{fiksOrgId}/saksbehandler/{id}" : {
      "put" : {
        "tags" : [ "chat-konfigurasjon-intern" ],
        "description" : "Oppretter en saksbehandler i RocketChat",
        "operationId" : "endreSaksbehandler",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EndreSaksbehandlerRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Endre saksbehandler"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "chat-konfigurasjon-intern" ],
        "description" : "Oppretter en saksbehandler i RocketChat",
        "operationId" : "slettSaksbehandler",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Slett saksbehandler"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/intern/{fiksOrgId}/saksbehandlere" : {
      "get" : {
        "tags" : [ "chat-konfigurasjon-intern" ],
        "description" : "Oppretter en saksbehandler i RocketChat",
        "operationId" : "hentAlleSaksbehandler",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Opprettet ny saksbehandler og la til i kommune"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Saksbehandlere"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/intern/{fiksOrgId}/sok" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-intern" ],
        "description" : "Søker etter en saksbehandler i Chat konfigurasjon",
        "operationId" : "hentSaksbehandler",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FinnSaksbehandlerRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SaksbehandlerSokResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/intern/{fiksOrgId}/saksbehandler" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-intern" ],
        "description" : "Oppretter en saksbehandler i RocketChat",
        "operationId" : "opprettNySaksbehandler",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettSaksbehandlerRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet ny saksbehandler og la til i kommune"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/intern/{fiksOrgId}/sok/test" : {
      "get" : {
        "tags" : [ "chat-konfigurasjon-intern" ],
        "description" : "Søker etter en saksbehandler i Chat konfigurasjon",
        "operationId" : "test",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Settings"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "EndreSaksbehandlerRequest" : {
        "required" : [ "epost", "fnr", "telefonnummer" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "PersonNummer for saksbehandler som skal opprettes"
          },
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn for saksbehandler som skal opprettes"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn for saksbehandler som skal opprettes"
          },
          "telefonnummer" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string",
            "description" : "Telefonnummer for saksbehandler som skal opprettes"
          },
          "epost" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9-_]+([.+][A-Za-zæøåÆØÅ0-9-_]+)*@[A-Za-zæøåÆØÅ0-9-]+(\\.[A-Za-zæøåÆØÅ0-9-]+)*(\\.[A-Za-z]{2,})$",
            "type" : "string",
            "description" : "Epost for saksbehandler som skal opprettes"
          }
        }
      },
      "Saksbehandler" : {
        "type" : "object",
        "properties" : {
          "ldapId" : {
            "type" : "string"
          },
          "fnr" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string"
          },
          "teamIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "Saksbehandlere" : {
        "type" : "object",
        "properties" : {
          "saksbehandlere" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Saksbehandler"
            }
          }
        }
      },
      "SaksbehandlerSokResponse" : {
        "required" : [ "etternavn", "fnr", "telefonnummer" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "PersonNummer for saksbehandler"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn for saksbehandler som skal opprettes"
          },
          "telefonnummer" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string",
            "description" : "Telefonnummer for saksbehandler som skal opprettes"
          }
        }
      },
      "FinnSaksbehandlerRequest" : {
        "required" : [ "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "PersonNummer for saksbehandler"
          }
        }
      },
      "OpprettSaksbehandlerRequest" : {
        "required" : [ "epost", "fnr", "telefonnummer" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "PersonNummer for saksbehandler som skal opprettes"
          },
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn for saksbehandler som skal opprettes"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn for saksbehandler som skal opprettes"
          },
          "telefonnummer" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string",
            "description" : "Telefonnummer for saksbehandler som skal opprettes"
          },
          "epost" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9-_]+([.+][A-Za-zæøåÆØÅ0-9-_]+)*@[A-Za-zæøåÆØÅ0-9-]+(\\.[A-Za-zæøåÆØÅ0-9-]+)*(\\.[A-Za-z]{2,})$",
            "type" : "string",
            "description" : "Epost for saksbehandler som skal opprettes"
          }
        }
      },
      "Settings" : {
        "type" : "object",
        "properties" : {
          "get_id" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          },
          "success" : {
            "type" : "boolean"
          }
        }
      },
      "Team" : {
        "type" : "object",
        "properties" : {
          "teamInfo" : {
            "$ref" : "#/components/schemas/TeamInfo"
          },
          "success" : {
            "type" : "boolean"
          }
        }
      },
      "TeamInfo" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "type" : {
            "type" : "integer",
            "format" : "int32"
          },
          "roomId" : {
            "type" : "string"
          }
        }
      }
    }
  }
}