{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: DHIS2 selvregistrering service",
    "description" : "DHIS2 selvregistrering service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Dhis2KonfigurasjonBrukere",
    "description" : "API for konfigurasjon av DHIS2"
  }, {
    "name" : "Dhis2KonfigurasjonOrganisasjoner",
    "description" : "API for konfigurasjon av DHIS2"
  }, {
    "name" : "Dhis2KonfigurasjonPersonSok",
    "description" : "API for konfigurasjon av DHIS2"
  }, {
    "name" : "Dhis2KonfigurasjonProvesvar",
    "description" : "API for henting av provesvar for DHIS2"
  }, {
    "name" : "Selvregistrering",
    "description" : "API for å registrere nærkontaker i Fiks smittesporing"
  } ],
  "paths" : {
    "/dhis2-konfigurasjon/api/v1/brukere/{id}" : {
      "put" : {
        "tags" : [ "Dhis2KonfigurasjonBrukere" ],
        "description" : "Oppdaterer en eksisterende bruker i DHIS2.",
        "operationId" : "oppdaterBruker",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterBrukerRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : { }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/brukere" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonBrukere" ],
        "description" : "Oppretter en bruker i DHIS2",
        "operationId" : "opprettBruker",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettBrukerRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpprettBrukerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/brukere/sok" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonBrukere" ],
        "description" : "Søker etter en bruker i DHIS2",
        "operationId" : "brukerSok",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BrukerSok"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrukerSokResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/provesvar" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Aktiverer tilgang til å hente prøvesvar fra FHI",
        "operationId" : "aktiverProvesvarOppslag",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Deaktiverer tilgang til å hente prøvesvar fra FHI",
        "operationId" : "deaktiverProvesvarOppslag",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/tilganger/{brukerId}" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Gir en bruker tilgang i DHIS2 for gitt Fiks-organisasjon",
        "operationId" : "opprettTilgang",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettTilgangRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Fjerner tilgang for en bruker i DHIS2 for gitt Fiks-organisasjon",
        "operationId" : "fjernTilgang",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : { }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/tilganger" : {
      "get" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Henter alle tilganger på gitt Fiks-organisasjon fra DHIS2",
        "operationId" : "getTilganger",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Tilganger"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}" : {
      "get" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Henter informasjon for en organisasjon",
        "operationId" : "getOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Oppdaterer informasjon for en organisasjon",
        "operationId" : "oppdaterOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterOrganisasjonRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/folkeregister" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Aktiverer tilgang til å gjøre spørringer mot Folkeregisteret",
        "operationId" : "aktiverFolkeregisterOppslag",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Deaktiver tilgang til å gjøre spørringer mot Folkeregisteret",
        "operationId" : "deaktiverFolkeregisterOppslag",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke kommune eller rollen knyttet til fiksOrgId",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner" : {
      "get" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Henter informasjon for alle registrerte organisasjoner",
        "operationId" : "getOrganisasjoner",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjoner"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/person/sokperson" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonPersonSok" ],
        "description" : "Søker etter en bruker i Kontakt og reservasjonsregisteret og i Folkeregisteret",
        "operationId" : "hentPersonInfo",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PersonSok"
              }
            }
          }
        },
        "responses" : {
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Kontaktopplysninger på person",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Person"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/provesvar/tilgang" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonProvesvar" ],
        "description" : "Sjekker om kommunen har aktivert prøvesvar-tjenesten",
        "operationId" : "harTilgangTilProvesok",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          }
        },
        "responses" : {
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Aktiveringsstatus",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/provesvar" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonProvesvar" ],
        "description" : "Søker etter prøvesvar for en person",
        "operationId" : "sok",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SokParameter"
              }
            }
          }
        },
        "responses" : {
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Prøvesvar for person",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProvesvarResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/registrer/t4iJqNKy4ba" : {
      "get" : {
        "tags" : [ "Selvregistrering" ],
        "description" : "Sjekk om person er registrert i KS Smittesporing",
        "operationId" : "personInfo",
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/registrer/naerkontakt" : {
      "post" : {
        "tags" : [ "Selvregistrering" ],
        "description" : "Registrer nærkontakt",
        "operationId" : "registrerKontakt",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettKontaktRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created"
          },
          "400" : {
            "description" : "Mangelfull input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "OppdaterBrukerRequest" : {
        "type" : "object",
        "properties" : {
          "fornavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string"
          },
          "etternavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string"
          },
          "epost" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9-_]+(\\.[A-Za-zæøåÆØÅ0-9-_]+)*@[A-Za-zæøåÆØÅ0-9-]+(\\.[A-Za-zæøåÆØÅ0-9-]+)*(\\.[A-Za-z]{2,})$",
            "type" : "string"
          },
          "telefonnummer" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string"
          }
        }
      },
      "OpprettBrukerResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          }
        }
      },
      "OpprettBrukerRequest" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          },
          "fornavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string"
          },
          "etternavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string"
          },
          "epost" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9-_]+(\\.[A-Za-zæøåÆØÅ0-9-_]+)*@[A-Za-zæøåÆØÅ0-9-]+(\\.[A-Za-zæøåÆØÅ0-9-]+)*(\\.[A-Za-z]{2,})$",
            "type" : "string"
          },
          "telefonnummer" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string"
          }
        }
      },
      "Bruker" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          }
        }
      },
      "BrukerSokResponse" : {
        "type" : "object",
        "properties" : {
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Bruker"
            }
          }
        }
      },
      "BrukerSok" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "Tilgang" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "rolle" : {
            "type" : "string",
            "enum" : [ "LESE_SKRIVE", "LESE" ]
          }
        }
      },
      "Tilganger" : {
        "type" : "object",
        "properties" : {
          "tilganger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Tilgang"
            }
          }
        }
      },
      "OpprettTilgangRequest" : {
        "type" : "object",
        "properties" : {
          "rolle" : {
            "type" : "string",
            "enum" : [ "LESE_SKRIVE", "LESE" ]
          }
        }
      },
      "Organisasjon" : {
        "type" : "object",
        "properties" : {
          "fiksOrganisasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "epost" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "folkeregisterAktivert" : {
            "type" : "boolean"
          },
          "provesvarAktivert" : {
            "type" : "boolean"
          }
        }
      },
      "OppdaterOrganisasjonRequest" : {
        "type" : "object",
        "properties" : {
          "epost" : {
            "maxItems" : 100,
            "minItems" : 0,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "Organisasjoner" : {
        "type" : "object",
        "properties" : {
          "organisasjoner" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Organisasjon"
            }
          }
        }
      },
      "Person" : {
        "type" : "object",
        "properties" : {
          "fornavn" : {
            "type" : "string"
          },
          "mellomnavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "fodselsdato" : {
            "type" : "string"
          },
          "kjonn" : {
            "type" : "string",
            "enum" : [ "M", "K" ]
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "adresse" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "statusKrr" : {
            "type" : "string",
            "enum" : [ "OK", "FAILED", "NOT_SUPPORTED", "NONE" ]
          },
          "statusFolkeregister" : {
            "type" : "string",
            "enum" : [ "OK", "FAILED", "NOT_SUPPORTED", "NONE" ]
          }
        }
      },
      "PersonSok" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          },
          "kommunenr" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        }
      },
      "Funn" : {
        "type" : "object",
        "properties" : {
          "kodeverdi" : {
            "type" : "string"
          },
          "kodebeskrivelse" : {
            "type" : "string"
          },
          "materiale" : {
            "type" : "string"
          },
          "resultat" : {
            "type" : "string"
          },
          "status" : {
            "type" : "string"
          },
          "kommentar" : {
            "type" : "string"
          }
        }
      },
      "Provesvar" : {
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string"
          },
          "mottattdao" : {
            "type" : "string",
            "format" : "date-time"
          },
          "mottattdatoBruktSomProvedato" : {
            "type" : "boolean"
          },
          "labHerId" : {
            "type" : "string"
          },
          "labNavn" : {
            "type" : "string"
          },
          "provenummer" : {
            "type" : "string"
          },
          "provedato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "meldingskommentar" : {
            "type" : "string"
          },
          "meldingsstatus" : {
            "type" : "string"
          },
          "fodselsnummer" : {
            "type" : "string"
          },
          "fodselsdato" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "kjonn" : {
            "type" : "string"
          },
          "bostedskommunenummer" : {
            "type" : "string"
          },
          "bostedskommunenavn" : {
            "type" : "string"
          },
          "funn" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Funn"
            }
          },
          "provesvarstatus" : {
            "type" : "string"
          }
        }
      },
      "ProvesvarResponse" : {
        "type" : "object",
        "properties" : {
          "provesvarliste" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Provesvar"
            }
          }
        }
      },
      "SokParameter" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string"
          },
          "kommunenr" : {
            "type" : "string"
          },
          "organiasjonsnummer" : {
            "type" : "string"
          }
        }
      },
      "OpprettKontaktRequest" : {
        "required" : [ "kontaktdato", "relasjonstype" ],
        "type" : "object",
        "properties" : {
          "uid" : {
            "type" : "string",
            "description" : "Referanse-verdi"
          },
          "fnr" : {
            "type" : "string",
            "description" : "Ugyldig fødselsnummer"
          },
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn må bestå av mellom 2 og 160 tegn"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn må bestå av mellom 2 og 160 tegn"
          },
          "adresse" : {
            "type" : "string",
            "description" : "Adresse"
          },
          "epost" : {
            "type" : "string",
            "description" : "Ugyldig epost"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Ugyldig telefonnummer"
          },
          "relasjonstype" : {
            "type" : "string",
            "description" : "Type relasjon med smittede",
            "enum" : [ "SAMME_HUSSTAND", "ANNET", "BARNEHAGE_SKOLE", "HELSEINSTITUSJON", "HJEMMEBESOK", "SERVICENAERING", "SOSIAL", "UNVIERSITET_JOBB" ]
          },
          "kjonn" : {
            "type" : "string",
            "description" : "Type relasjon med smittede"
          },
          "kontaktdato" : {
            "type" : "string",
            "description" : "Dato for siste(?) kontakt. Format: yyyy-MM-dd"
          },
          "fodselsdato" : {
            "type" : "string",
            "description" : "Fodselsdato. Format: yyyy-MM-dd"
          },
          "paarorendeFornavn" : {
            "type" : "string",
            "description" : "Fornavn må bestå av mellom 2 og 160 tegn"
          },
          "paarorendeEtternavn" : {
            "type" : "string",
            "description" : "Etternavn må bestå av mellom 2 og 160 tegn"
          },
          "paarorendeTelefonnummer" : {
            "type" : "string",
            "description" : "Ugyldig telefonnummer"
          }
        }
      }
    }
  }
}