{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Dokumentlager Konto",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "KontoConfiguration",
    "description" : "API for konto-management for Dokumentlager"
  } ],
  "paths" : {
    "/dokumentlager/api/v1/{fiksOrganisasjonId}/kontoer/{kontoId}/tags/{tag}" : {
      "put" : {
        "tags" : [ "KontoConfiguration" ],
        "description" : "Legger til tag på konto",
        "operationId" : "addTagForKonto",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tag",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9_.,/\\-_ ]+$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "KontoConfiguration" ],
        "description" : "Fjerner tag fra konto",
        "operationId" : "deleteTagForKonto",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tag",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9_.,/\\-_ ]+$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/dokumentlager/api/v1/{fiksOrganisasjonId}/kontoer" : {
      "get" : {
        "tags" : [ "KontoConfiguration" ],
        "description" : "Henter alle kontoer tilhørende dokumentlagertjenesten til gitt Fiks-organisasjon",
        "operationId" : "getAllKontoer",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoListe"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "KontoConfiguration" ],
        "description" : "Oppretter en ny konto tilhørende dokumentlagertjenesten til gitt Fiks-organisasjon",
        "operationId" : "createKonto",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontoCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoCreateResult"
                }
              }
            }
          }
        }
      }
    },
    "/dokumentlager/api/v1/{fiksOrganisasjonId}/kontoer/{kontoId}" : {
      "get" : {
        "tags" : [ "KontoConfiguration" ],
        "description" : "Henter informasjon om en konto, inkludert historikk over hendelser på kontoen",
        "operationId" : "getKonto",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoUtvidet"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "KontoConfiguration" ],
        "description" : "Sletter kontoen med gitt id, inkuldert alle dokumenter lastet opp på kontoen",
        "operationId" : "deleteKonto",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "KontoConfiguration" ],
        "description" : "Oppdaterer kontoen med gitt id",
        "operationId" : "updateKonto",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontoUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/dokumentlager/api/v1/{fiksOrganisasjonId}/kontoer/{kontoId}/dokumenter" : {
      "get" : {
        "tags" : [ "KontoConfiguration" ],
        "description" : "Henter alle dokumenter tilhørende gitt konto",
        "operationId" : "getDokumenterForKonto",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "fra",
          "in" : "query",
          "description" : "Offset for henting av dokumenter. Gyldig verdi er mellom 0 og 2147483647. Standardverdi er 0.",
          "schema" : {
            "maximum" : 2147483647,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "til",
          "in" : "query",
          "description" : "Antall dokumenter som skal hentes. Gyldig verdi er mellom 1 og 10000. Standardverdi er 100.",
          "schema" : {
            "maximum" : 10000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DokumentMetadataListe"
                }
              }
            }
          }
        }
      }
    },
    "/dokumentlager/api/v1/kontoer" : {
      "get" : {
        "tags" : [ "KontoConfiguration" ],
        "description" : "Henter alle kontoer med tag",
        "operationId" : "getAllKontoerMedTag",
        "parameters" : [ {
          "name" : "kontoTag",
          "in" : "query",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoListe"
                }
              }
            }
          }
        }
      }
    },
    "/dokumentlager/api/v1/{fiksOrganisasjonId}/kontoer/{kontoId}/dokumenter/{dokumentId}" : {
      "get" : {
        "tags" : [ "KontoConfiguration" ],
        "description" : "Henter metadata for et dokument, inkludert historikk for alle hendelser på dokumentet",
        "operationId" : "getMetadataForDokument",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "dokumentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DokumentMetadataUtvidet"
                }
              }
            }
          }
        }
      }
    },
    "/dokumentlager/api/v1/{fiksOrganisasjonId}/kontoer/{kontoId}/statistikk" : {
      "get" : {
        "tags" : [ "KontoConfiguration" ],
        "description" : "Henter statistikk for kontoen med gitt id",
        "operationId" : "getStatistikkForKonto",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoStatistikk"
                }
              }
            }
          }
        }
      }
    },
    "/dokumentlager/api/v1/{fiksOrganisasjonId}/kontoer/{kontoId}/dokumenter/lest" : {
      "post" : {
        "tags" : [ "KontoConfiguration" ],
        "description" : "Sjekker lest status for et eller flere dokumenter",
        "operationId" : "sjekkLestStatus",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LestRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dokumentlager/api/v1/{fiksOrganisasjonId}/kontoer/{kontoId}/dokumenter/sok" : {
      "post" : {
        "tags" : [ "KontoConfiguration" ],
        "description" : "Søker etter dokumenter",
        "operationId" : "sokDokumenter",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "fra",
          "in" : "query",
          "description" : "Offset for henting av dokumenter. Gyldig verdi er mellom 0 o 2147483647. Standardverdi er 0.",
          "schema" : {
            "maximum" : 2147483647,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "antall",
          "in" : "query",
          "description" : "Antall dokumenter som skal hentes. Gyldig verdi er mellom 1 og 10000. Standardverdi er 100.",
          "schema" : {
            "maximum" : 10000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Sokekriterier"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Sokeresultat"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "KontoCreateResult" : {
        "required" : [ "id", "navn", "tags" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Unik id tidelt kontoen",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Visningsnavn for kontoen"
          },
          "tags" : {
            "type" : "array",
            "description" : "Tags for kontoen",
            "items" : {
              "type" : "string",
              "description" : "Tags for kontoen"
            }
          }
        },
        "description" : "Resulatet av en kontoopprettelse"
      },
      "KontoCreateRequest" : {
        "required" : [ "navn", "tags" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "minLength" : 1,
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string",
            "description" : "Visningsnavn for kontoen"
          },
          "tags" : {
            "maxItems" : 10,
            "minItems" : 0,
            "type" : "array",
            "description" : "Tags for kontoen",
            "items" : {
              "type" : "string",
              "description" : "Tags for kontoen"
            }
          },
          "forelderresurs" : {
            "type" : "string",
            "description" : "Forelderressurs hvor konto skal opprettes under, default dokumentlager-tjeneste",
            "format" : "uuid",
            "nullable" : true
          }
        },
        "description" : "En forespørsel om å opprette en ny konto"
      },
      "Hendelse" : {
        "type" : "object",
        "properties" : {
          "dato" : {
            "type" : "string",
            "description" : "Tidspunkt og dato for hendelsen"
          },
          "melding" : {
            "type" : "string",
            "description" : "Melding som beskriver hendelsen"
          },
          "aktor" : {
            "type" : "string",
            "description" : "Identifikator for aktøren som utførte hendelsen"
          }
        },
        "description" : "En hendelse som har skjedd på en ressurs"
      },
      "KontoUtvidet" : {
        "required" : [ "fiksOrganisasjonId", "hendelser", "id", "navn", "slettet", "tags" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Kontoens id",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Kontoens visningsnavn"
          },
          "fiksOrganisasjonId" : {
            "type" : "string",
            "description" : "Id til organisasjonen som eier kontoen",
            "format" : "uuid"
          },
          "slettet" : {
            "type" : "boolean",
            "description" : "Er kontoen slettet?"
          },
          "tags" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Tags knyttet til kontoen",
            "items" : {
              "type" : "string",
              "description" : "Tags knyttet til kontoen"
            }
          },
          "hendelser" : {
            "type" : "array",
            "description" : "Liste over alle hendelser som har skjedd på kontoen",
            "items" : {
              "$ref" : "#/components/schemas/Hendelse"
            }
          }
        },
        "description" : "Utvidet informasjon for en konto"
      },
      "Konto" : {
        "required" : [ "fiksOrganisasjonId", "id", "navn", "slettet", "statistikk", "tags" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Kontoens id",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Kontoens visningsnavn"
          },
          "fiksOrganisasjonId" : {
            "type" : "string",
            "description" : "Id til organisasjonen som eier kontoen",
            "format" : "uuid"
          },
          "slettet" : {
            "type" : "boolean",
            "description" : "Er kontoen slettet?"
          },
          "tags" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Tags knyttet til kontoen",
            "items" : {
              "type" : "string",
              "description" : "Tags knyttet til kontoen"
            }
          },
          "statistikk" : {
            "$ref" : "#/components/schemas/KontoStatistikk"
          }
        },
        "description" : "Enkel informasjon for en konto"
      },
      "KontoListe" : {
        "type" : "object",
        "properties" : {
          "kontoer" : {
            "type" : "array",
            "description" : "Liste av kontoer",
            "items" : {
              "$ref" : "#/components/schemas/Konto"
            }
          }
        },
        "description" : "En liste av kontoer"
      },
      "KontoStatistikk" : {
        "required" : [ "antallDokumenter", "antallMetadata", "antallSlettet", "kontoId", "totalStorrelse", "ukryptertStorrelse" ],
        "type" : "object",
        "properties" : {
          "kontoId" : {
            "type" : "string",
            "description" : "Id til kontoen statistikken gjelder for",
            "format" : "uuid"
          },
          "antallMetadata" : {
            "type" : "integer",
            "description" : "Antall dokumenter det er opplastet metadata for",
            "format" : "int64"
          },
          "antallDokumenter" : {
            "type" : "integer",
            "description" : "Antall dokumenter det er opplastet data for",
            "format" : "int64"
          },
          "antallSlettet" : {
            "type" : "integer",
            "description" : "Antall dokumenter som er slettet",
            "format" : "int64"
          },
          "totalStorrelse" : {
            "type" : "integer",
            "description" : "Total kryptert størrelse av alle opplastede dokumenter som ikke er slettet",
            "format" : "int64"
          },
          "ukryptertStorrelse" : {
            "type" : "integer",
            "description" : "Total ukryptert størrelse av alle opplastede dokumenter som ikke er slettet",
            "format" : "int64"
          }
        },
        "description" : "Statistikk for en konto"
      },
      "DokumentMetadata" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Dokumentets id",
            "format" : "uuid"
          },
          "dokumentnavn" : {
            "type" : "string",
            "description" : "Navn på opplastet dokument"
          },
          "ukryptertStorrelse" : {
            "type" : "integer",
            "description" : "Faktisk størrelse på opplastet dokument",
            "format" : "int64"
          }
        },
        "description" : "Enkel metadata for et dokument"
      },
      "DokumentMetadataListe" : {
        "type" : "object",
        "properties" : {
          "dokumenter" : {
            "type" : "array",
            "description" : "Liste av dokument metadata",
            "items" : {
              "$ref" : "#/components/schemas/DokumentMetadata"
            }
          }
        },
        "description" : "En liste av dokument metadata"
      },
      "DokumentMetadataUtvidet" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Dokumentets id",
            "format" : "uuid"
          },
          "dokumentnavn" : {
            "type" : "string",
            "description" : "Navn på opplastet dokument"
          },
          "kryptertStorrelse" : {
            "type" : "integer",
            "description" : "Størrelse på opplastet dokument på disk",
            "format" : "int64"
          },
          "ukryptertStorrelse" : {
            "type" : "integer",
            "description" : "Faktisk størrelse på opplastet dokument",
            "format" : "int64"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "description" : "Tidspunkt for når dokumentet blir utilgjengelig, eller -1 om det aldri blir det."
          },
          "mimetype" : {
            "type" : "string",
            "description" : "Mimetype på opplastet dokument"
          },
          "slettet" : {
            "type" : "boolean",
            "description" : "Er dokumentet slettet?"
          },
          "hendelser" : {
            "type" : "array",
            "description" : "Liste over alle hendelser som har skjedd på dokumentet",
            "items" : {
              "$ref" : "#/components/schemas/Hendelse"
            }
          }
        },
        "description" : "Utvidet metadata for et dokument"
      },
      "DokumentLestStatus" : {
        "required" : [ "id", "lest" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Dokumentets id",
            "format" : "uuid"
          },
          "lest" : {
            "type" : "boolean",
            "description" : "Om dokumentet er lest eller ikke"
          }
        },
        "description" : "Lest status for et dokument"
      },
      "LestResponse" : {
        "required" : [ "statuser" ],
        "type" : "object",
        "properties" : {
          "statuser" : {
            "type" : "array",
            "description" : "Liste med status for forespurte dokumenter som ble funnet på kontoen",
            "items" : {
              "$ref" : "#/components/schemas/DokumentLestStatus"
            }
          }
        },
        "description" : "En response på en lest status request"
      },
      "LestRequest" : {
        "required" : [ "ids" ],
        "type" : "object",
        "properties" : {
          "ids" : {
            "type" : "array",
            "description" : "Liste med id på dokumentene man ønsker å hente status for",
            "items" : {
              "type" : "string",
              "description" : "Liste med id på dokumentene man ønsker å hente status for",
              "format" : "uuid"
            }
          }
        },
        "description" : "En forespørsel for lest status på et eller flere dokumenter"
      },
      "Sokeresultat" : {
        "type" : "object",
        "properties" : {
          "totaltAntallTreff" : {
            "type" : "integer",
            "description" : "Totalt antall treff for søket",
            "format" : "int32"
          },
          "dokumenter" : {
            "type" : "array",
            "description" : "Liste av dokumenter i henhold til søkekriterier",
            "items" : {
              "$ref" : "#/components/schemas/Soketreff"
            }
          }
        },
        "description" : "Et resultat av et søk"
      },
      "Soketreff" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Dokumentets id",
            "format" : "uuid"
          },
          "dokumentnavn" : {
            "type" : "string",
            "description" : "Navn på opplastet dokument"
          },
          "kryptertStorrelse" : {
            "type" : "integer",
            "description" : "Størrelse på opplastet dokument på disk",
            "format" : "int64"
          },
          "ukryptertStorrelse" : {
            "type" : "integer",
            "description" : "Faktisk størrelse på opplastet dokument",
            "format" : "int64"
          },
          "opprettet" : {
            "type" : "string",
            "description" : "Tidspunkt for opplasting av metadata",
            "format" : "date-time"
          },
          "mimetype" : {
            "type" : "string",
            "description" : "MIME-type for opplastet dokument"
          },
          "slettet" : {
            "type" : "boolean",
            "description" : "Er opplastet dokument slettet?"
          },
          "korrelasjonsid" : {
            "type" : "string",
            "description" : "Ekstern id referanse",
            "format" : "uuid"
          }
        },
        "description" : "Et søketreff for et enkelt dokument"
      },
      "Sokekriterier" : {
        "type" : "object",
        "properties" : {
          "fra" : {
            "type" : "string",
            "description" : "Fra opplastet dato",
            "format" : "date-time"
          },
          "til" : {
            "type" : "string",
            "description" : "Til opplastet dato",
            "format" : "date-time"
          },
          "dokumentnavn" : {
            "type" : "string",
            "description" : "Navn på opplastet dokument, * for wildcard-søk"
          },
          "slettet" : {
            "type" : "boolean",
            "description" : "Slettede dokumenter"
          },
          "korrelasjonsid" : {
            "type" : "string",
            "description" : "Ekstern ID referanse",
            "format" : "uuid"
          }
        },
        "description" : "Søkekriterier for dokumenter"
      },
      "KontoUpdateRequest" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "maxLength" : 200,
            "minLength" : 2,
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string",
            "description" : "Det nye visningsnavnet for kontoen"
          }
        },
        "description" : "En forespørsel om å oppdatere en eksisterende konto"
      }
    }
  }
}