{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: eDialog",
    "description" : "Tjeneste for administrering av eDialog-mottakere",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Mottaker",
    "description" : "API for administrering av eDialog-mottakere"
  } ],
  "paths" : {
    "/edialog/api/v1/mottakere/{mottakerId}" : {
      "get" : {
        "tags" : [ "Mottaker" ],
        "summary" : "Henter en mottaker",
        "operationId" : "hentMottaker",
        "parameters" : [ {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Mottakere",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Mottaker" ],
        "summary" : "Erstatter konfigurasjonen til en eksisterende mottaker",
        "operationId" : "oppdaterMottaker",
        "parameters" : [ {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MottakerRequestV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdatert mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/mottakere" : {
      "get" : {
        "tags" : [ "Mottaker" ],
        "summary" : "Henter mottakere, eventuelt med filter på organisasjon",
        "operationId" : "hentMottakere",
        "parameters" : [ {
          "name" : "forelderRessurs",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Mottakere",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakereV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Mottaker" ],
        "summary" : "Oppretter en ny mottaker",
        "operationId" : "nyMottaker",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NyMottakerRequestV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Opprettet mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/mottakere/{mottakerId}/printleverandor" : {
      "put" : {
        "tags" : [ "Mottaker" ],
        "summary" : "Oppdaterer printleverandør for en eksisterende mottaker",
        "operationId" : "oppdaterMottakerPrintleverandor",
        "parameters" : [ {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterPrintleverandorRequestV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdatert mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/mottakere/{mottakerId}/status" : {
      "put" : {
        "tags" : [ "Mottaker" ],
        "summary" : "Oppdaterer status for en eksisterende mottaker",
        "operationId" : "oppdaterStatus",
        "parameters" : [ {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StatusRequestV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdatert mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "MottakerV1" : {
        "required" : [ "aktiv", "fiksOrganisasjonId", "id", "navn", "orgnr", "postnummer", "poststed", "printleverandor", "shortId" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "shortId" : {
            "type" : "string"
          },
          "fiksOrganisasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "orgnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "aktiv" : {
            "type" : "boolean"
          },
          "printleverandor" : {
            "type" : "string",
            "enum" : [ "GRAFISK_DIGITAL", "MANUELL_PRINT" ]
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "MottakereV1" : {
        "required" : [ "mottakere" ],
        "type" : "object",
        "properties" : {
          "mottakere" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MottakerV1"
            }
          }
        }
      },
      "MottakerRequestV1" : {
        "required" : [ "navn", "orgnr", "postnummer", "poststed" ],
        "type" : "object",
        "properties" : {
          "orgnr" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string"
          },
          "navn" : {
            "maxLength" : 60,
            "minLength" : 0,
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "pattern" : "^[0-9]{4}$",
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "forelderRessurs" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "NyMottakerRequestV1" : {
        "required" : [ "fiksOrganisasjonId", "mottaker" ],
        "type" : "object",
        "properties" : {
          "fiksOrganisasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "mottaker" : {
            "$ref" : "#/components/schemas/MottakerRequestV1"
          },
          "aktiv" : {
            "type" : "boolean"
          }
        }
      },
      "OppdaterPrintleverandorRequestV1" : {
        "required" : [ "printleverandor" ],
        "type" : "object",
        "properties" : {
          "printleverandor" : {
            "type" : "string",
            "enum" : [ "GRAFISK_DIGITAL", "MANUELL_PRINT" ]
          }
        }
      },
      "StatusRequestV1" : {
        "required" : [ "aktiv" ],
        "type" : "object",
        "properties" : {
          "aktiv" : {
            "type" : "boolean"
          }
        }
      }
    }
  }
}