{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: eDialog",
    "description" : "Tjeneste for administrering av knytning mellom mottaker og mal",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "Forsendelsestyper",
    "description" : "API for håndtering av forsendelsestyper for mal"
  }, {
    "name" : "Maler",
    "description" : "API for administrering av eDialog-maler"
  }, {
    "name" : "Mottaker",
    "description" : "API for administrering av eDialog-mottakere"
  }, {
    "name" : "Tilknytning",
    "description" : "API for administrering av knytning mellom mottaker og mal"
  } ],
  "paths" : {
    "/edialog/api/v1/forsendelsestyper" : {
      "get" : {
        "tags" : [ "Forsendelsestyper" ],
        "summary" : "Henter en liste over alle forsendelsestyper",
        "operationId" : "hentForsendelsestyper",
        "responses" : {
          "200" : {
            "description" : "Liste med forsendelsestyper",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Forsendelsestyper"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/maler/{malId}" : {
      "get" : {
        "tags" : [ "Maler" ],
        "summary" : "Henter en eksisterende mal",
        "operationId" : "hentMal",
        "parameters" : [ {
          "name" : "malId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hentet mal",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Mal"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Maler" ],
        "summary" : "Oppdaterer en eksisterende mal",
        "operationId" : "oppdaterMal",
        "parameters" : [ {
          "name" : "malId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterMal"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdatert mal",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Mal"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Maler" ],
        "summary" : "Sletter en mal",
        "operationId" : "slettMal",
        "parameters" : [ {
          "name" : "malId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Mal slettet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/maler" : {
      "get" : {
        "tags" : [ "Maler" ],
        "summary" : "Henter maler",
        "operationId" : "hentMaler",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hentede maler",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HentMalerResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Maler" ],
        "summary" : "Oppretter en ny mal",
        "operationId" : "opprettMal",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettMal"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Opprettet mal",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Mal"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/mottakere/{mottakerId}" : {
      "get" : {
        "tags" : [ "Mottaker" ],
        "summary" : "Henter en mottaker",
        "operationId" : "hentMottaker",
        "parameters" : [ {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Mottakere",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Mottaker" ],
        "summary" : "Erstatter konfigurasjonen til en eksisterende mottaker",
        "operationId" : "oppdaterMottaker",
        "parameters" : [ {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MottakerRequestV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdatert mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/mottakere" : {
      "get" : {
        "tags" : [ "Mottaker" ],
        "summary" : "Henter mottakere, eventuelt med filter på organisasjon",
        "operationId" : "hentMottakere",
        "parameters" : [ {
          "name" : "forelderRessurs",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Mottakere",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakereV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Mottaker" ],
        "summary" : "Oppretter en ny mottaker",
        "operationId" : "nyMottaker",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NyMottakerRequestV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Opprettet mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/mottakere/{mottakerId}/printleverandor" : {
      "put" : {
        "tags" : [ "Mottaker" ],
        "summary" : "Oppdaterer printleverandør for en eksisterende mottaker",
        "operationId" : "oppdaterMottakerPrintleverandor",
        "parameters" : [ {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterPrintleverandorRequestV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdatert mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/mottakere/{mottakerId}/status" : {
      "put" : {
        "tags" : [ "Mottaker" ],
        "summary" : "Oppdaterer status for en eksisterende mottaker",
        "operationId" : "oppdaterStatus",
        "parameters" : [ {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StatusRequestV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdatert mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/mottakere/{mottakerId}/maler/{malId}/tilknytning" : {
      "put" : {
        "tags" : [ "Tilknytning" ],
        "summary" : "Knytter sammen mottaker og mal",
        "operationId" : "upsertTilknytning",
        "parameters" : [ {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[a-z]{4}$",
            "type" : "string"
          }
        }, {
          "name" : "malId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[a-z]{4}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterTilknytning"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Mottaker og mal som ble knyttet sammen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerMedTilknytning"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Tilknytning" ],
        "summary" : "Fjerner tilknytning mellom mottaker og mal",
        "operationId" : "fjernTilknytning",
        "parameters" : [ {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[a-z]{4}$",
            "type" : "string"
          }
        }, {
          "name" : "malId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[a-z]{4}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Mottaker og mal som tilknytning ble fjernet for"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/tilknytninger/{tilknytningId}" : {
      "put" : {
        "tags" : [ "Tilknytning" ],
        "summary" : "Oppdaterer tilknytning og mal",
        "operationId" : "oppdaterTilknytningOgMal",
        "parameters" : [ {
          "name" : "tilknytningId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterMalOgTilknytning"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdatert tilknytning",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerMedTilknytning"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Tilknytning" ],
        "summary" : "Fjerner en tilknytning mellom mottaker og mal, og sletter malen",
        "operationId" : "fjernTilknytningOgMal",
        "parameters" : [ {
          "name" : "tilknytningId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Tilknyttning og mal ble slettet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/mottakere/{mottakerId}/tilknytninger" : {
      "get" : {
        "tags" : [ "Tilknytning" ],
        "summary" : "Henter tilknytninger for oppgitt mottaker",
        "operationId" : "hentTilknytninger",
        "parameters" : [ {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[a-z]{4}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Mottaker med tilknytninger",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerMedTilknytninger"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Tilknytning" ],
        "summary" : "Oppretter en mal og knytter denne til oppgitt mottaker",
        "operationId" : "opprettMalOgTilknytning",
        "parameters" : [ {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[a-z]{4}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettMalOgTilknytning"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Mottaker og mal som ble knyttet sammen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerMedTilknytning"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Forsendelsestyper" : {
        "type" : "object",
        "properties" : {
          "forsendelsestyper" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "Innhold" : {
        "type" : "object",
        "properties" : {
          "tittel" : {
            "$ref" : "#/components/schemas/Tittel"
          },
          "melding" : {
            "$ref" : "#/components/schemas/Melding"
          }
        }
      },
      "Mal" : {
        "required" : [ "avsender", "fiksOrganisasjonId", "id", "info", "innhold", "navn", "sensitiv" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "fiksOrganisasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "info" : {
            "type" : "string",
            "enum" : [ "VISES", "SKJULT" ]
          },
          "sensitiv" : {
            "type" : "string",
            "enum" : [ "JA", "NEI", "VELGES" ]
          },
          "avsender" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON", "VELGES" ]
          },
          "innhold" : {
            "$ref" : "#/components/schemas/Innhold"
          },
          "forsendelsestype" : {
            "type" : "string"
          }
        }
      },
      "Melding" : {
        "type" : "object",
        "properties" : {
          "verdi" : {
            "type" : "string"
          }
        }
      },
      "Tittel" : {
        "type" : "object",
        "properties" : {
          "verdi" : {
            "type" : "string"
          },
          "kanEndres" : {
            "type" : "boolean"
          }
        }
      },
      "HentMalerResponse" : {
        "type" : "object",
        "properties" : {
          "maler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Mal"
            }
          }
        }
      },
      "OppdaterMal" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "info" : {
            "type" : "string",
            "enum" : [ "VISES", "SKJULT" ]
          },
          "sensitiv" : {
            "type" : "string",
            "enum" : [ "JA", "NEI", "VELGES" ]
          },
          "avsender" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON", "VELGES" ]
          },
          "innhold" : {
            "$ref" : "#/components/schemas/Innhold"
          },
          "forsendelsestype" : {
            "type" : "string"
          }
        }
      },
      "OpprettMal" : {
        "required" : [ "fiksOrganisasjonId", "navn" ],
        "type" : "object",
        "properties" : {
          "fiksOrganisasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "info" : {
            "type" : "string",
            "enum" : [ "VISES", "SKJULT" ]
          },
          "sensitiv" : {
            "type" : "string",
            "enum" : [ "JA", "NEI", "VELGES" ]
          },
          "avsender" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON", "VELGES" ]
          },
          "innhold" : {
            "$ref" : "#/components/schemas/Innhold"
          },
          "forsendelsestype" : {
            "type" : "string"
          }
        }
      },
      "InnsynStatusV1" : {
        "type" : "object",
        "properties" : {
          "aktivert" : {
            "type" : "boolean"
          },
          "synkroniseringsstatus" : {
            "type" : "string",
            "enum" : [ "AKTIVERES", "DEAKTIVERES", "FERDIG" ]
          }
        }
      },
      "MottakerTilknytningV1" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "MottakerV1" : {
        "required" : [ "aktiv", "fiksOrganisasjonId", "harAktivertInnsyn", "id", "innsynStatus", "navn", "orgnr", "postnummer", "poststed", "printleverandor", "shortId", "tilknytninger" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "shortId" : {
            "type" : "string"
          },
          "fiksOrganisasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "orgnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "aktiv" : {
            "type" : "boolean"
          },
          "printleverandor" : {
            "type" : "string",
            "enum" : [ "GRAFISK_DIGITAL", "MANUELL_PRINT" ]
          },
          "harAktivertInnsyn" : {
            "type" : "boolean"
          },
          "innsynStatus" : {
            "$ref" : "#/components/schemas/InnsynStatusV1"
          },
          "tilknytninger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MottakerTilknytningV1"
            }
          }
        }
      },
      "MottakereV1" : {
        "required" : [ "mottakere" ],
        "type" : "object",
        "properties" : {
          "mottakere" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MottakerV1"
            }
          }
        }
      },
      "MottakerRequestV1" : {
        "required" : [ "navn", "orgnr", "postnummer", "poststed" ],
        "type" : "object",
        "properties" : {
          "orgnr" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string"
          },
          "navn" : {
            "maxLength" : 60,
            "minLength" : 0,
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "pattern" : "^[0-9]{4}$",
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "forelderRessurs" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "NyMottakerRequestV1" : {
        "required" : [ "fiksOrganisasjonId", "mottaker" ],
        "type" : "object",
        "properties" : {
          "fiksOrganisasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "mottaker" : {
            "$ref" : "#/components/schemas/MottakerRequestV1"
          },
          "aktiv" : {
            "type" : "boolean"
          }
        }
      },
      "OppdaterPrintleverandorRequestV1" : {
        "required" : [ "printleverandor" ],
        "type" : "object",
        "properties" : {
          "printleverandor" : {
            "type" : "string",
            "enum" : [ "GRAFISK_DIGITAL", "MANUELL_PRINT" ]
          }
        }
      },
      "StatusRequestV1" : {
        "required" : [ "aktiv" ],
        "type" : "object",
        "properties" : {
          "aktiv" : {
            "type" : "boolean"
          }
        }
      },
      "MottakerMedTilknytninger" : {
        "required" : [ "mottaker", "tilknytninger" ],
        "type" : "object",
        "properties" : {
          "mottaker" : {
            "$ref" : "#/components/schemas/TilknyttetMottaker"
          },
          "tilknytninger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Tilknytning"
            }
          }
        }
      },
      "Tilknytning" : {
        "required" : [ "id", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "mal" : {
            "$ref" : "#/components/schemas/Mal"
          }
        }
      },
      "TilknyttetMottaker" : {
        "required" : [ "id", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "MottakerMedTilknytning" : {
        "required" : [ "mottaker", "tilknytning" ],
        "type" : "object",
        "properties" : {
          "mottaker" : {
            "$ref" : "#/components/schemas/TilknyttetMottaker"
          },
          "tilknytning" : {
            "$ref" : "#/components/schemas/Tilknytning"
          }
        }
      },
      "OppdaterMalOgTilknytning" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "info" : {
            "type" : "string",
            "enum" : [ "VISES", "SKJULT" ]
          },
          "sensitiv" : {
            "type" : "string",
            "enum" : [ "JA", "NEI", "VELGES" ]
          },
          "avsender" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON", "VELGES" ]
          },
          "innhold" : {
            "$ref" : "#/components/schemas/Innhold"
          },
          "forsendelsestype" : {
            "type" : "string"
          }
        }
      },
      "OpprettMalOgTilknytning" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "STANDARD", "EGENDEFINERT" ]
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "info" : {
            "type" : "string",
            "enum" : [ "VISES", "SKJULT" ]
          },
          "sensitiv" : {
            "type" : "string",
            "enum" : [ "JA", "NEI", "VELGES" ]
          },
          "avsender" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON", "VELGES" ]
          },
          "innhold" : {
            "$ref" : "#/components/schemas/Innhold"
          },
          "forsendelsestype" : {
            "type" : "string"
          }
        }
      },
      "OppdaterTilknytning" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      }
    }
  }
}