{
  "openapi": "3.0.3",
  "info": {
    "title": "KS FIKS: Eiendomsavtaler service",
    "description": "Eiendomsavtaler service",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://ksdigital.no/om-oss/kontakt-oss",
      "email": "fiks@ksdigital.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "tags": [
    {
      "name": "Eiendomsavtale",
      "description": "API for Fiks eiendomsavtaler"
    },
    {
      "name": "Kunde",
      "description": "API for CRUD-operasjoner på kundetabellen"
    },
    {
      "name": "Tilgang",
      "description": "Organisasjoner innlogget bruker har tilgang til"
    }
  ],
  "paths": {
    "/eiendomsavtaler/api/v1/organisasjoner": {
      "get": {
        "tags": [
          "Tilgang"
        ],
        "description": "Returnerer organisasjonene der innlogget bruker har tilgang til eiendomsavtaler (EIENDOMSAVTALER_QUERY eller EIENDOMSAVTALER_UPDATE).",
        "operationId": "hentMineOrganisasjoner",
        "responses": {
          "200": {
            "description": "Organisasjoner brukeren har tilgang til",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganisasjonAPIModel"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler": {
      "post": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Opprett eiendomsavtale",
        "operationId": "opprettEiendomsavtale",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EiendomsavtaleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Opprettet eiendomsavtale",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EiendomsavtaleAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler/{avtaleId}": {
      "get": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Hente eiendomsavtale",
        "operationId": "hentEiendomsavtale",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "avtaleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returnerer eiendomsavtale",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EiendomsavtaleAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Oppdater eiendomsavtale",
        "operationId": "oppdaterEiendomsavtale",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "avtaleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EiendomsavtalePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Oppdatert eiendomsavtale",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EiendomsavtaleAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/kunder": {
      "post": {
        "tags": [
          "Kunde"
        ],
        "description": "Opprett kunde",
        "operationId": "opprettKunde",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KundeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Opprettet eier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KundeAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/kunder/{kundeId}": {
      "get": {
        "tags": [
          "Kunde"
        ],
        "description": "Hente en kunde",
        "operationId": "hentKunde",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kundeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returnerer en kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KundeAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Kunde"
        ],
        "description": "Oppdater kunde",
        "operationId": "oppdaterKunde",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kundeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KundePut"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Oppdatert kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KundeAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Kunde"
        ],
        "description": "Slett en manuelt opprettet kunde som ikke er knyttet til noen eiendomsavtale",
        "operationId": "slettKunde",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kundeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Kunde slettet"
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Kunde ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Kunden er ikke manuelt opprettet, allerede slettet, eller er knyttet til en eller flere eiendomsavtaler og kan ikke slettes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/kunder/soek": {
      "post": {
        "tags": [
          "Kunde"
        ],
        "description": "Søk etter kunder",
        "operationId": "kundeSoek",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KundeSoekRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kunder som matcher søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KundeSoekResponse"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler/{avtaleId}/eiere": {
      "post": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Legg til en eier på en eiendomsavtale",
        "operationId": "leggTilEier",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "avtaleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EierRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returnerer eier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EierAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler/{avtaleId}/eiere/{eierforholdUuid}": {
      "delete": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Fjern en eier på en eiendomsavtale",
        "operationId": "fjernEier",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "avtaleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "eierforholdUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Eier fjernet fra eiendomsavtalen"
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Eierforhold ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Eierforholdet er fra matrikkelen og kan ikke slettes manuelt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Oppdater en eier på en eiendomsavtale",
        "operationId": "oppdaterEier",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "avtaleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "eierforholdUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EierPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returnerer oppdatert eier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EierAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Eierforhold ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler/{avtaleId}/historikk": {
      "get": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Hente historiske versjoner av en eiendomsavtale",
        "operationId": "hentEiendomsavtaleHistorikk",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "avtaleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returnerer eiendomsavtaler",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EiendomsavtaleHistorikkResponse"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler/{avtaleId}/merknader": {
      "get": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Hent merknader for en eiendomsavtale",
        "operationId": "hentMerknader",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "avtaleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returnerer merknader for eiendomsavtalen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MerknadAPIModel"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Legg til en merknad på en eiendomsavtale",
        "operationId": "leggTilMerknad",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "avtaleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerknadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returnerer den nyopprettede merknaden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerknadAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Eiendomsavtalen ble ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler/{avtaleId}/merknader/{merknadId}": {
      "post": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Oppdater en merknad på en eiendomsavtale. Eksisterende merknad arkiveres og en ny aktiv merknad opprettes med innlogget bruker som endretAv.",
        "operationId": "oppdaterMerknad",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "avtaleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "merknadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerknadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returnerer den oppdaterte merknaden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerknadAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Aktiv merknad ble ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler/{avtaleId}/merknader/{merknadId}/arkiver": {
      "post": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Arkiver en merknad på en eiendomsavtale (soft delete - merknaden beholdes med status ARKIVERT)",
        "operationId": "arkiverMerknad",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "avtaleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "merknadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Merknaden ble arkivert"
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Aktiv merknad ble ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler/soek": {
      "post": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Søk etter eiendomsavtaler",
        "operationId": "eiendomsavtaleSoek",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EiendomsavtaleSoekRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Eiendomsavtaler som matcher søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EiendomsavtaleSoekResponse"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OrganisasjonAPIModel": {
        "type": "object",
        "required": [
          "fiksOrgId",
          "navn"
        ],
        "properties": {
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "type": "string"
          },
          "kommunenummer": {
            "type": "string"
          }
        }
      },
      "EiendomsavtaleAPIModel": {
        "type": "object",
        "properties": {
          "avtaleId": {
            "type": "string",
            "format": "uuid"
          },
          "avtaleAlternativId": {
            "type": "string",
            "description": "Alternativ ID for eiendomsavtalen som baserer seg på kommunenummer, gardsnummer, bruksnummer, festenummer, seksjonsnummer og delnummer. Anbefales å bruke avtaleId i stedet."
          },
          "sekvensnummer": {
            "type": "integer",
            "format": "int64"
          },
          "oppdragsgiver": {
            "type": "string",
            "description": "Hvem som som eier eiendomsavtalen"
          },
          "eierskapType": {
            "$ref": "#/components/schemas/EierskapTypeAPIModel"
          },
          "avtaleType": {
            "$ref": "#/components/schemas/AvtaleTypeAPIModel"
          },
          "avtalestatus": {
            "$ref": "#/components/schemas/EiendomsavtaleStatusAPIModel"
          },
          "delnummer": {
            "type": "integer",
            "format": "int32"
          },
          "manueltOpprettet": {
            "type": "boolean",
            "description": "Angir om avtalen er manuelt opprettet (true) eller automatisk opprettet fra matrikkelen (false)."
          },
          "bruksnavn": {
            "type": "string"
          },
          "matrikkeldata": {
            "$ref": "#/components/schemas/MatrikkeldataAPIModel"
          },
          "avtaleadresse": {
            "$ref": "#/components/schemas/AvtaleadresseAPIModel"
          },
          "eierkontakt": {
            "$ref": "#/components/schemas/KundeAPIModel"
          },
          "fakturamottaker": {
            "$ref": "#/components/schemas/FakturamottakerAPIModel"
          },
          "antallTerminer": {
            "type": "integer",
            "format": "int32"
          },
          "merknader": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MerknadAPIModel"
            }
          },
          "gyldigFra": {
            "type": "string",
            "format": "date"
          },
          "gyldigTil": {
            "type": "string",
            "format": "date"
          },
          "sistEndret": {
            "type": "string",
            "format": "date-time",
            "description": "Tidspunkt da eiendomsavtalen sist ble oppdatert"
          }
        },
        "required": [
          "avtaleId",
          "avtaleAlternativId",
          "eierskapType",
          "avtaleType",
          "avtalestatus",
          "delnummer",
          "manueltOpprettet",
          "matrikkeldata"
        ]
      },
      "EiendomsavtaleRequest": {
        "type": "object",
        "properties": {
          "oppdragsgiver": {
            "type": "string",
            "description": "Hvem som som eier eiendomsavtalen"
          },
          "eierskapType": {
            "$ref": "#/components/schemas/EierskapTypeAPIModel"
          },
          "avtalestatus": {
            "$ref": "#/components/schemas/EiendomsavtaleStatusAPIModel"
          },
          "delnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksnavn": {
            "type": "string"
          },
          "matrikkeldata": {
            "$ref": "#/components/schemas/MatrikkeldataRequest"
          },
          "eierkontaktId": {
            "type": "string",
            "format": "uuid"
          },
          "eiere": {
            "type": "array",
            "description": "Eiere tilknyttet avtalen.",
            "items": {
              "$ref": "#/components/schemas/EierRequest"
            }
          },
          "fakturamottaker": {
            "$ref": "#/components/schemas/FakturamottakerRequest"
          },
          "antallTerminer": {
            "type": "integer",
            "format": "int32"
          },
          "merknader": {
            "type": "array",
            "description": "Merknader som skal opprettes sammen med eiendomsavtalen. Hver merknad opprettes med status AKTIV og innlogget bruker som endretAv. Valgfritt - merknader kan også legges til i ettertid via eget endepunkt.",
            "items": {
              "$ref": "#/components/schemas/MerknadRequest"
            }
          },
          "gyldigFra": {
            "type": "string",
            "format": "date"
          },
          "gyldigTil": {
            "type": "string",
            "format": "date"
          }
        },
        "required": [
          "avtaleId",
          "avtaleAlternativId",
          "eierskapType",
          "delnummer",
          "matrikkeldata"
        ]
      },
      "MatrikkeldataAPIModel": {
        "type": "object",
        "properties": {
          "kommunenummer": {
            "type": "string"
          },
          "gardsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32"
          },
          "festenummer": {
            "type": "integer",
            "format": "int32"
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "erSeksjonert": {
            "type": "boolean"
          },
          "erUtgatt": {
            "type": "boolean"
          },
          "etableringsdato": {
            "type": "string",
            "format": "date"
          },
          "eiendomsadresser": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EiendomsadresseAPIModel"
            }
          },
          "eiere": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EierAPIModel"
            }
          }
        },
        "required": [
          "kommunenummer",
          "gardsnummer",
          "bruksnummer",
          "festenummer",
          "seksjonsnummer"
        ]
      },
      "MatrikkeldataRequest": {
        "type": "object",
        "properties": {
          "kommunenummer": {
            "type": "string"
          },
          "gardsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32"
          },
          "festenummer": {
            "type": "integer",
            "format": "int32"
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "erSeksjonert": {
            "type": "boolean"
          },
          "erUtgatt": {
            "type": "boolean"
          },
          "etableringsdato": {
            "type": "string",
            "format": "date"
          },
          "eiendomsadresser": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EiendomsadresseAPIModel"
            }
          }
        },
        "required": [
          "kommunenummer",
          "gardsnummer",
          "bruksnummer",
          "festenummer",
          "seksjonsnummer",
          "erSeksjonert",
          "erUtgatt"
        ]
      },
      "EierForholdAPIModel": {
        "type": "object",
        "properties": {
          "kunde": {
            "type": "object",
            "properties": {
              "offentligId": {
                "type": "string",
                "description": "Fødselsnummer, organisasjonsnummer eller annen ID for kunden"
              }
            },
            "required": [
              "offentligId"
            ]
          },
          "andel": {
            "$ref": "#/components/schemas/AndelAPIModel"
          },
          "eierforholdType": {
            "type": "string",
            "enum": [
              "KONTAKTINSTANS",
              "PERSON_IKKE_TINGLYST",
              "MATRIKKELENHET_IKKE_TINGLYST",
              "PERSON_TINGLYST",
              "MATRIKKELENHET_TINGLYST",
              "SKATT_REGISTRERT",
              "INDIREKTE_EIERFORHOLD"
            ],
            "description": "Type eierforhold registrert i matrikkelen. INDIREKTE_EIERFORHOLD er ikke registrert i matrikkelen, men utledet: når matrikkelenheten eies av en annen matrikkelenhet, følges eierkjeden videre til de underliggende personeierne, som knyttes til avtalen som indirekte eiere."
          },
          "fraDato": {
            "type": "string",
            "format": "date"
          },
          "tilDato": {
            "type": "string",
            "format": "date"
          },
          "oppdateringsdato": {
            "type": "string",
            "format": "date"
          },
          "eierforholdUuid": {
            "type": "string",
            "format": "uuid",
            "description": "Unik identifikator for eierforholdet."
          }
        },
        "required": [
          "kunde",
          "eierforholdType"
        ]
      },
      "EiendomsadresseAPIModel": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "adressetype": {
            "type": "string",
            "enum": [
              "MATRIKKELADRESSE",
              "VEGADRESSE",
              "AVTALEADRESSE",
              "UKJENT"
            ]
          },
          "kortnavn": {
            "type": "string"
          },
          "adressetilleggsnavn": {
            "type": "string"
          },
          "nummer": {
            "type": "integer"
          },
          "bokstav": {
            "type": "string"
          },
          "adressenavn": {
            "type": "string"
          },
          "kortAdressenavn": {
            "type": "string"
          },
          "stedsnummer": {
            "type": "string"
          },
          "kommunenummer": {
            "type": "string"
          },
          "bruksenhetsnummer": {
            "type": "string"
          }
        },
        "required": [
          "adressetype",
          "adressenavn",
          "kommunenummer"
        ],
        "description": "Adresser tilknyttet eiendomsavtalen, feltene avhenger av AdresseModell fra eiendomsregister.modeller, og er en kombinasjon av felter fra Adresse, Veg og Kommune"
      },
      "AvtaleadresseAPIModel": {
        "type": "object",
        "properties": {
          "adressenavn": {
            "type": "string"
          },
          "nummer": {
            "type": "integer"
          },
          "bokstav": {
            "type": "string"
          },
          "bruksenhetsnummer": {
            "type": "string"
          },
          "adressetilleggsnavn": {
            "type": "string"
          },
          "kommunenummer": {
            "type": "string"
          }
        },
        "required": [
          "adressenavn",
          "kommunenummer"
        ]
      },
      "PostadresseAPIModel": {
        "type": "object",
        "properties": {
          "adresselinje1": {
            "type": "string"
          },
          "adresselinje2": {
            "type": "string"
          },
          "adresselinje3": {
            "type": "string"
          },
          "postnummer": {
            "type": "string"
          },
          "poststed": {
            "type": "string"
          }
        }
      },
      "EierAPIModel": {
        "type": "object",
        "properties": {
          "kunde": {
            "$ref": "#/components/schemas/KundeAPIModel"
          },
          "eierstatus": {
            "$ref": "#/components/schemas/EierStatusAPIModel"
          },
          "reellEier": {
            "type": "boolean"
          },
          "andel": {
            "$ref": "#/components/schemas/AndelAPIModel"
          },
          "rolle": {
            "$ref": "#/components/schemas/EierRolleAPIModel"
          },
          "eierforholdKode": {
            "$ref": "#/components/schemas/EierforholdKodeAPIModel"
          },
          "eierforholdKodeVisningsnavn": {
            "type": "string",
            "description": "Matrikkelens visningsnavn for eierforholdKode, f.eks. «Framfester 2»."
          },
          "eierkategori": {
            "$ref": "#/components/schemas/EierKategoriAPIModel"
          },
          "tinglystDato": {
            "type": "string",
            "format": "date"
          },
          "sistEndret": {
            "type": "string",
            "format": "date-time"
          },
          "gyldigFra": {
            "type": "string",
            "format": "date"
          },
          "gyldigTil": {
            "type": "string",
            "format": "date"
          },
          "eierforholdUuid": {
            "type": "string",
            "format": "uuid",
            "description": "Unik identifikator for eierforholdet."
          },
          "fraMatrikkelen": {
            "type": "boolean",
            "description": "Angir om eierforholdet stammer fra matrikkelen."
          }
        },
        "required": [
          "kunde",
          "eierstatus",
          "rolle",
          "eierkategori",
          "sistEndret",
          "eierforholdUuid",
          "fraMatrikkelen"
        ]
      },
      "KundeRequest": {
        "type": "object",
        "properties": {
          "offentligId": {
            "type": "string",
            "description": "Fødselsnummer, organisasjonsnummer eller annen ID."
          },
          "kundetype": {
            "$ref": "#/components/schemas/KundeTypeAPIModel"
          },
          "navn": {
            "type": "string"
          },
          "fornavn": {
            "type": "string"
          },
          "etternavn": {
            "type": "string"
          },
          "postadresse": {
            "$ref": "#/components/schemas/PostadresseAPIModel"
          },
          "gyldigFra": {
            "type": "string",
            "format": "date"
          },
          "gyldigTil": {
            "type": "string",
            "format": "date"
          }
        },
        "required": [
          "offentligId",
          "kundetype",
          "postadresse"
        ]
      },
      "KundeAPIModel": {
        "type": "object",
        "properties": {
          "kundeId": {
            "type": "string",
            "format": "uuid"
          },
          "offentligId": {
            "type": "string",
            "description": "Fødselsnummer, organisasjonsnummer eller annen ID."
          },
          "kundetype": {
            "$ref": "#/components/schemas/KundeTypeAPIModel"
          },
          "navn": {
            "type": "string"
          },
          "fornavn": {
            "type": "string"
          },
          "etternavn": {
            "type": "string"
          },
          "postadresse": {
            "$ref": "#/components/schemas/PostadresseAPIModel"
          },
          "gyldigFra": {
            "type": "string",
            "format": "date"
          },
          "gyldigTil": {
            "type": "string",
            "format": "date"
          },
          "sistEndret": {
            "type": "string",
            "format": "date-time",
            "description": "Tidspunkt da eiendomsavtalen sist ble oppdatert"
          },
          "personstatus": {
            "$ref": "#/components/schemas/PersonstatusAPIModel"
          },
          "personstatusVisningsnavn": {
            "type": "string"
          }
        },
        "required": [
          "kundeId",
          "offentligId",
          "kundetype",
          "navn",
          "postadresse",
          "sistEndret"
        ]
      },
      "KundePut": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "fornavn": {
            "type": "string"
          },
          "etternavn": {
            "type": "string"
          },
          "postadresse": {
            "$ref": "#/components/schemas/PostadresseAPIModel"
          }
        }
      },
      "KundeSoekRequest": {
        "type": "object",
        "properties": {
          "offentligId": {
            "type": "string"
          },
          "navn": {
            "type": "string"
          },
          "fornavn": {
            "type": "string"
          },
          "etternavn": {
            "type": "string"
          }
        }
      },
      "EierRequest": {
        "type": "object",
        "properties": {
          "kundeId": {
            "type": "string",
            "format": "uuid"
          },
          "reellEier": {
            "type": "boolean"
          },
          "eierstatus": {
            "$ref": "#/components/schemas/EierStatusAPIModel"
          },
          "andel": {
            "$ref": "#/components/schemas/AndelAPIModel"
          },
          "rolle": {
            "$ref": "#/components/schemas/EierRolleAPIModel"
          },
          "eierkategori": {
            "$ref": "#/components/schemas/EierKategoriAPIModel"
          },
          "tinglystDato": {
            "type": "string",
            "format": "date"
          },
          "gyldigFra": {
            "type": "string",
            "format": "date"
          },
          "gyldigTil": {
            "type": "string",
            "format": "date"
          },
          "eierforholdUuid": {
            "type": "string",
            "format": "uuid",
            "description": "Unik identifikator for eierforholdet."
          }
        },
        "required": [
          "kundeId",
          "eierstatus",
          "rolle",
          "eierkategori"
        ]
      },
      "EierPatch": {
        "type": "object",
        "properties": {
          "reellEier": {
            "type": "boolean"
          },
          "eierstatus": {
            "$ref": "#/components/schemas/EierStatusAPIModel"
          },
          "andel": {
            "$ref": "#/components/schemas/AndelAPIModel"
          },
          "rolle": {
            "$ref": "#/components/schemas/EierRolleAPIModel"
          },
          "eierkategori": {
            "$ref": "#/components/schemas/EierKategoriAPIModel"
          },
          "tinglystDato": {
            "type": "string",
            "format": "date"
          },
          "gyldigFra": {
            "type": "string",
            "format": "date"
          },
          "gyldigTil": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "FakturamottakerAPIModel": {
        "type": "object",
        "properties": {
          "fakturamottakerId": {
            "type": "string"
          },
          "kunde": {
            "$ref": "#/components/schemas/KundeAPIModel"
          },
          "coNavn": {
            "type": "string"
          },
          "ressursnummer": {
            "type": "string"
          },
          "sistEndret": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "fakturamottakerId",
          "sistEndret"
        ]
      },
      "FakturamottakerRequest": {
        "type": "object",
        "properties": {
          "kundeId": {
            "type": "string",
            "format": "uuid"
          },
          "coNavn": {
            "type": "string"
          },
          "ressursnummer": {
            "type": "string"
          }
        },
        "required": [
          "kundeId"
        ]
      },
      "FakturamottakerPatch": {
        "type": "object",
        "properties": {
          "kundeId": {
            "type": "string",
            "format": "uuid"
          },
          "coNavn": {
            "type": "string"
          },
          "ressursnummer": {
            "type": "string"
          }
        }
      },
      "MerknadAPIModel": {
        "type": "object",
        "description": "En merknad knyttet til en eiendomsavtale.",
        "properties": {
          "merknadId": {
            "type": "string",
            "format": "uuid",
            "description": "Unik identifikator for merknaden."
          },
          "tekst": {
            "type": "string",
            "description": "Selve merknadsteksten."
          },
          "referanseId": {
            "type": "string",
            "description": "Valgfri referanse til en ekstern ressurs. Kan være null."
          },
          "endretAv": {
            "type": "string",
            "description": "Hvem som sist endret merknaden."
          },
          "opprettet": {
            "type": "string",
            "format": "date-time",
            "description": "Tidspunkt da merknaden ble opprettet."
          },
          "status": {
            "$ref": "#/components/schemas/MerknadStatusAPIModel"
          }
        },
        "required": [
          "merknadId",
          "tekst",
          "endretAv",
          "opprettet",
          "status"
        ]
      },
      "MerknadRequest": {
        "type": "object",
        "description": "Forespørsel for å opprette eller oppdatere en merknad.",
        "properties": {
          "tekst": {
            "type": "string",
            "description": "Selve merknadsteksten."
          },
          "referanseId": {
            "type": "string",
            "description": "Valgfri referanse til en ekstern ressurs. Kan være null."
          }
        },
        "required": [
          "tekst"
        ]
      },
      "MerknadStatusAPIModel": {
        "type": "string",
        "enum": [
          "AKTIV",
          "ARKIVERT"
        ]
      },
      "EierskapTypeAPIModel": {
        "type": "string",
        "enum": [
          "PRIVAT",
          "KOMMUNAL",
          "ANNEN"
        ]
      },
      "AvtaleTypeAPIModel": {
        "type": "string",
        "enum": [
          "HOVEDAVTALE",
          "SAERAVTALE"
        ]
      },
      "EiendomsavtaleStatusAPIModel": {
        "type": "string",
        "enum": [
          "AKTIV",
          "HISTORISK",
          "NY"
        ]
      },
      "EierStatusAPIModel": {
        "type": "string",
        "enum": [
          "BOSATT",
          "UTFLYTTET",
          "DOED",
          "UKJENT"
        ]
      },
      "EierKategoriAPIModel": {
        "type": "string",
        "enum": [
          "SELVEIER",
          "ANDELSEIER",
          "AKSJEEIER",
          "BESKYTTET",
          "UKJENT"
        ]
      },
      "KundeTypeAPIModel": {
        "type": "string",
        "enum": [
          "PERSON",
          "ORGANISASJON",
          "ANNEN"
        ]
      },
      "PersonstatusAPIModel": {
        "type": "string",
        "enum": [
          "IKKE_OPPGITT",
          "BOSATT_I_NORGE",
          "AKTIV_PERSON_MED_D_NR",
          "UTVANDRET",
          "FORSVUNNET",
          "DOD",
          "UTGATT",
          "FODSELSREGISTRERT",
          "ANNULERT",
          "UREGISTRERT",
          "MIDLERTIDIG",
          "INAKTIV",
          "IKKE_BOSATT",
          "AKTIV",
          "UKJENT"
        ]
      },
      "EierforholdKodeAPIModel": {
        "type": "string",
        "description": "Matrikkelens eierforholdKode - hva slags eier dette er (hjemmelshaver, fester, framfester osv.). Uavhengig akse fra rolle, som sier hvorfor eierforholdet er registrert.",
        "enum": [
          "HJEMMELSHAVER",
          "FESTER",
          "FRAMFESTER",
          "FRAMFESTER_2",
          "FRAMFESTER_3",
          "FRAMFESTER_4",
          "FRAMFESTER_5",
          "FRAMFESTER_6",
          "FRAMFESTER_7",
          "FRAMFESTER_8",
          "FRAMFESTER_9",
          "AKTUELL_EIER",
          "AKTUELL_FESTER",
          "KONTAKTINSTANS_EIER",
          "KONTAKTINSTANS_FESTER",
          "KOMMUNAL_KONTAKTINSTANS_1",
          "KOMMUNAL_KONTAKTINSTANS_2",
          "KOMMUNAL_KONTAKTINSTANS_3",
          "SKATTEETATEN_EIER",
          "SKATTEETATEN_FESTER",
          "SKATTEETATEN_FRAMFESTER",
          "SKATTEETATEN_FRAMFESTER_2",
          "SKATTEETATEN_FRAMFESTER_3",
          "UKJENT"
        ]
      },
      "EierRolleAPIModel": {
        "type": "string",
        "enum": [
          "TINGLYST",
          "IKKE_TINGLYST",
          "VERGE",
          "INDIREKTE",
          "KONTAKTINSTANS",
          "ANNEN"
        ]
      },
      "EiendomsavtalePatch": {
        "type": "object",
        "properties": {
          "eierskapType": {
            "$ref": "#/components/schemas/EierskapTypeAPIModel"
          },
          "eierkontaktKundeId": {
            "type": "string",
            "format": "uuid"
          },
          "fakturamottaker": {
            "$ref": "#/components/schemas/FakturamottakerPatch"
          },
          "bruksnavn": {
            "type": "string"
          },
          "avtalestatus": {
            "$ref": "#/components/schemas/EiendomsavtaleStatusAPIModel"
          },
          "avtaleadresse": {
            "$ref": "#/components/schemas/AvtaleadresseAPIModel"
          },
          "merknader": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MerknadRequest"
            }
          }
        }
      },
      "EiendomsavtaleSoekRequest": {
        "type": "object",
        "properties": {
          "kommunenummer": {
            "type": "string"
          },
          "gardsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32"
          },
          "festenummer": {
            "type": "integer",
            "format": "int32"
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "delnummer": {
            "type": "integer",
            "format": "int32"
          },
          "eierkontaktId": {
            "type": "string"
          },
          "fakturamottakerId": {
            "type": "string"
          }
        }
      },
      "AndelAPIModel": {
        "type": "object",
        "properties": {
          "teller": {
            "type": "integer",
            "format": "int64"
          },
          "nevner": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "teller",
          "nevner"
        ]
      },
      "EiendomsavtaleSoekResponse": {
        "type": "object",
        "properties": {
          "avtaler": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EiendomsavtaleAPIModel"
            }
          },
          "totaltAntall": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "avtaler",
          "totaltAntall"
        ]
      },
      "KundeSoekResponse": {
        "type": "object",
        "properties": {
          "kunder": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KundeAPIModel"
            }
          }
        },
        "required": [
          "kunder"
        ]
      },
      "EiendomsavtaleHistorikkResponse": {
        "type": "object",
        "properties": {
          "avtaler": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EiendomsavtaleAPIModel"
            }
          }
        },
        "required": [
          "avtaler"
        ]
      }
    }
  }
}
