{
  "openapi": "3.0.3",
  "info": {
    "title": "KS FIKS: Eiendomsavtaler synk-api",
    "description": "Internt API brukt av eiendomsavtaler-sync-service til bulk-innlasting av matrikkeldata og kunder fra Matrikkelen. Ikke ment for andre konsumenter.",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://ksdigital.no/om-oss/kontakt-oss",
      "email": "fiks@ksdigital.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "tags": [
    {
      "name": "Eiendomsavtale synk",
      "description": "Internt bulk-/synk-API for eiendomsavtaler. Brukes av `eiendomsavtaler-sync-service` til å avstemme lokalt lagrede hovedavtaler mot Matrikkelen."
    },
    {
      "name": "Kunde synk",
      "description": "Internt bulk-API for kunder. Brukes av `eiendomsavtaler-sync-service` til å opprette og oppdatere kunder fra Matrikkelen."
    }
  ],
  "paths": {
    "/eiendomsavtaler/api/v1/eiendomsavtaler/bulk": {
      "post": {
        "description": "Opprett eller oppdater eiendomsavtaler i bulk (upsert). Eksisterende avtaler oppdateres basert på alternativId, fraværende opprettes.",
        "operationId": "bulkUpsertEiendomsavtaler",
        "tags": [
          "Eiendomsavtale synk"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EiendomsavtaleBulkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vellykket bulk operasjon"
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/eiendomsavtaler/full-synk": {
      "post": {
        "description": "Trigger en full resync av eiendomsavtaler uten å nuke databasen. Nullstiller HWM-markøren slik at den planlagte EiendomsavtalerJob replayer hele endringsloggen ved neste kjøring. Krever ADMIN-privilegium på ROOT.",
        "operationId": "startFullSynkEiendomsavtaler",
        "tags": [
          "Eiendomsavtale synk"
        ],
        "responses": {
          "204": {
            "description": "Full synk startet. HWM er nullstilt; replay skjer ved neste jobb-kjøring."
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/kunder/bulk": {
      "put": {
        "tags": [
          "Kunde synk"
        ],
        "description": "Opprett eller oppdater flere kunder i bulk (upsert). Eksisterende kunder oppdateres basert på offentligId, nye kunder opprettes. OffentligId må være unikt for hver kunde i systemet.",
        "operationId": "bulkUpsertKunder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KundeBulkUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultat av bulk upsert operasjonen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KundeBulkUpsertResultAPIModel"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig forespørsel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/kunder/bulk-oppdater": {
      "put": {
        "tags": [
          "Kunde synk"
        ],
        "description": "Oppdater flere eksisterende kunder i bulk basert på offentligId. Kunder som ikke finnes fra før blir ignorert (ingen nye kunder opprettes).",
        "operationId": "bulkOppdaterKunder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KundeBulkUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultat av bulk oppdater operasjonen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KundeBulkUpsertResultAPIModel"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig forespørsel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EiendomsavtaleBulkRequest": {
        "type": "object",
        "properties": {
          "matrikkeldata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MatrikkeldataAPIModel"
            }
          }
        },
        "required": [
          "matrikkeldata"
        ]
      },
      "KundeBulkRequest": {
        "type": "object",
        "properties": {
          "offentligId": {
            "type": "string",
            "description": "Fødselsnummer, organisasjonsnummer eller annen ID."
          },
          "kundetype": {
            "$ref": "#/components/schemas/KundeTypeAPIModel"
          },
          "navn": {
            "type": "string"
          },
          "fornavn": {
            "type": "string"
          },
          "etternavn": {
            "type": "string"
          },
          "postadresse": {
            "$ref": "#/components/schemas/PostadresseAPIModel"
          },
          "forretningsadresse": {
            "$ref": "#/components/schemas/PostadresseAPIModel"
          },
          "gyldigFra": {
            "type": "string",
            "format": "date"
          },
          "gyldigTil": {
            "type": "string",
            "format": "date"
          },
          "personstatus": {
            "$ref": "#/components/schemas/PersonstatusAPIModel"
          },
          "personstatusVisningsnavn": {
            "type": "string"
          }
        },
        "required": [
          "offentligId",
          "kundetype"
        ]
      },
      "KundeBulkUpsertRequest": {
        "type": "object",
        "description": "Forespørsel for bulk upsert av kunder. Eksisterende kunder oppdateres basert på offentligId, nye kunder opprettes.",
        "properties": {
          "kunder": {
            "type": "array",
            "description": "Liste over kunder som skal opprettes eller oppdateres. Listen kan inneholde mellom 1 og 100 elementer.",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/KundeBulkRequest"
            }
          }
        },
        "required": [
          "kunder"
        ]
      },
      "KundeBulkUpsertResultAPIModel": {
        "type": "object",
        "description": "Resultat av en bulk upsert operasjon på kunder.",
        "properties": {
          "opprettet": {
            "type": "array",
            "description": "Kunder som ble opprettet.",
            "items": {
              "$ref": "#/components/schemas/KundeAPIModel"
            }
          },
          "oppdatert": {
            "type": "array",
            "description": "Kunder som ble oppdatert.",
            "items": {
              "$ref": "#/components/schemas/KundeAPIModel"
            }
          },
          "antallOpprettet": {
            "type": "integer",
            "format": "int32",
            "description": "Antall kunder som ble opprettet."
          },
          "antallOppdatert": {
            "type": "integer",
            "format": "int32",
            "description": "Antall kunder som ble oppdatert."
          }
        },
        "required": [
          "opprettet",
          "oppdatert",
          "antallOpprettet",
          "antallOppdatert"
        ]
      },
      "MatrikkeldataAPIModel": {
        "type": "object",
        "properties": {
          "kommunenummer": {
            "type": "string"
          },
          "gardsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32"
          },
          "festenummer": {
            "type": "integer",
            "format": "int32"
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "erSeksjonert": {
            "type": "boolean"
          },
          "erUtgatt": {
            "type": "boolean"
          },
          "manueltOpprettet": {
            "type": "boolean"
          },
          "etableringsdato": {
            "type": "string",
            "format": "date"
          },
          "eiendomsadresser": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EiendomsadresseAPIModel"
            }
          },
          "eierforhold": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EierForholdAPIModel"
            }
          }
        },
        "required": [
          "kommunenummer",
          "gardsnummer",
          "bruksnummer",
          "festenummer",
          "seksjonsnummer",
          "erSeksjonert",
          "erUtgatt"
        ]
      },
      "EiendomsadresseAPIModel": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "adressetype": {
            "type": "string",
            "enum": [
              "MATRIKKELADRESSE",
              "VEGADRESSE",
              "AVTALEADRESSE",
              "UKJENT"
            ]
          },
          "kortnavn": {
            "type": "string"
          },
          "adressetilleggsnavn": {
            "type": "string"
          },
          "nummer": {
            "type": "integer"
          },
          "bokstav": {
            "type": "string"
          },
          "adressenavn": {
            "type": "string"
          },
          "kortAdressenavn": {
            "type": "string"
          },
          "stedsnummer": {
            "type": "string"
          },
          "kommunenummer": {
            "type": "string"
          },
          "bruksenhetsnummer": {
            "type": "string"
          }
        },
        "required": [
          "adressetype",
          "adressenavn",
          "kommunenummer"
        ],
        "description": "Adresser tilknyttet eiendomsavtalen, feltene avhenger av AdresseModell fra eiendomsregister.modeller, og er en kombinasjon av felter fra Adresse, Veg og Kommune"
      },
      "EierForholdAPIModel": {
        "type": "object",
        "properties": {
          "kunde": {
            "type": "object",
            "properties": {
              "offentligId": {
                "type": "string",
                "description": "Fødselsnummer, organisasjonsnummer eller annen ID for kunden"
              }
            },
            "required": [
              "offentligId"
            ]
          },
          "andel": {
            "$ref": "#/components/schemas/AndelAPIModel"
          },
          "eierforholdType": {
            "type": "string",
            "enum": [
              "KONTAKTINSTANS",
              "PERSON_IKKE_TINGLYST",
              "MATRIKKELENHET_IKKE_TINGLYST",
              "PERSON_TINGLYST",
              "MATRIKKELENHET_TINGLYST",
              "SKATT_REGISTRERT",
              "INDIREKTE_EIERFORHOLD"
            ],
            "description": "Type eierforhold registrert i matrikkelen."
          },
          "fraDato": {
            "type": "string",
            "format": "date"
          },
          "tilDato": {
            "type": "string",
            "format": "date"
          },
          "oppdateringsdato": {
            "type": "string",
            "format": "date"
          },
          "eierforholdUuid": {
            "type": "string",
            "format": "uuid",
            "description": "Unik identifikator for eierforholdet."
          }
        },
        "required": [
          "kunde",
          "eierforholdType"
        ]
      },
      "AndelAPIModel": {
        "type": "object",
        "properties": {
          "teller": {
            "type": "integer",
            "format": "int64"
          },
          "nevner": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "teller",
          "nevner"
        ]
      },
      "PostadresseAPIModel": {
        "type": "object",
        "properties": {
          "adresselinje1": {
            "type": "string"
          },
          "adresselinje2": {
            "type": "string"
          },
          "adresselinje3": {
            "type": "string"
          },
          "postnummer": {
            "type": "string"
          },
          "poststed": {
            "type": "string"
          }
        }
      },
      "KundeAPIModel": {
        "type": "object",
        "properties": {
          "kundeId": {
            "type": "string",
            "format": "uuid"
          },
          "offentligId": {
            "type": "string",
            "description": "Fødselsnummer, organisasjonsnummer eller annen ID."
          },
          "kundetype": {
            "$ref": "#/components/schemas/KundeTypeAPIModel"
          },
          "navn": {
            "type": "string"
          },
          "fornavn": {
            "type": "string"
          },
          "etternavn": {
            "type": "string"
          },
          "postadresse": {
            "$ref": "#/components/schemas/PostadresseAPIModel"
          },
          "gyldigFra": {
            "type": "string",
            "format": "date"
          },
          "gyldigTil": {
            "type": "string",
            "format": "date"
          },
          "sistEndret": {
            "type": "string",
            "format": "date-time",
            "description": "Tidspunkt da eiendomsavtalen sist ble oppdatert"
          },
          "personstatus": {
            "$ref": "#/components/schemas/PersonstatusAPIModel"
          },
          "personstatusVisningsnavn": {
            "type": "string"
          }
        },
        "required": [
          "kundeId",
          "offentligId",
          "kundetype",
          "navn",
          "postadresse",
          "sistEndret"
        ]
      },
      "KundeTypeAPIModel": {
        "type": "string",
        "enum": [
          "PERSON",
          "ORGANISASJON",
          "ANNEN"
        ]
      },
      "PersonstatusAPIModel": {
        "type": "string",
        "enum": [
          "IKKE_OPPGITT",
          "BOSATT_I_NORGE",
          "AKTIV_PERSON_MED_D_NR",
          "UTVANDRET",
          "FORSVUNNET",
          "DOD",
          "UTGATT",
          "FODSELSREGISTRERT",
          "ANNULERT",
          "UREGISTRERT",
          "MIDLERTIDIG",
          "INAKTIV",
          "IKKE_BOSATT",
          "AKTIV",
          "UKJENT"
        ]
      }
    }
  }
}
