{
  "openapi": "3.0.3",
  "info": {
    "title": "KS FIKS: Eiendomsavtaler service",
    "description": "Eiendomsavtaler service",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://ksdigital.no/om-oss/kontakt-oss",
      "email": "fiks@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.test.fiks.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "tags": [
    {
      "name": "Eiendomsavtale",
      "description": "API for Fiks eiendomsavtaler"
    },
    {
      "name": "Eiendomsavtale offentlig",
      "description": "API for eksterne til henting av eiendomsavtaler"
    },
    {
      "name": "Kunde",
      "description": "API for CRUD-operasjoner på kundetabellen"
    }
  ],
  "paths": {
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler": {
      "post": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Opprett eiendomsavtale",
        "operationId": "opprettEiendomsavtale",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EiendomsavtaleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Opprettet eiendomsavtale",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EiendomsavtaleAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Eiendomsavtale offentlig"
        ],
        "description": "Hente alle eiendomsavtaler fra et sekvensnummer. Kan benyttes for å hente alle eiendomsavtaler ved å bruke sekvensnummer for paginering.",
        "operationId": "hentEiendomsavtaler",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kommunenummer",
            "in": "query",
            "required": true,
            "description": "Kommunenummer for eiendomsavtalene som skal returneres.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fraSekvensnummer",
            "in": "query",
            "description": "Fra og med oppgitt sekvensnummer",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "antall",
            "in": "query",
            "description": "Antall eiendomsavtaler som skal returneres. Maks 1000 kan hentes om gangen.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returnerer eiendomsavtaler",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EiendomsavtaleAPIModel"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler/{avtaleId}": {
      "get": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Hente eiendomsavtale",
        "operationId": "hentEiendomsavtale",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "avtaleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returnerer eiendomsavtale",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EiendomsavtaleAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Oppdater eiendomsavtale",
        "operationId": "oppdaterEiendomsavtale",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "avtaleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EiendomsavtalePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Oppdatert eiendomsavtale",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EiendomsavtaleAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/kunder": {
      "post": {
        "tags": [
          "Kunde"
        ],
        "description": "Opprett kunde",
        "operationId": "opprettKunde",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KundeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Opprettet eier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KundeAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/kunder/{kundeId}": {
      "get": {
        "tags": [
          "Kunde"
        ],
        "description": "Hente en kunde",
        "operationId": "hentKunde",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kundeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returnerer en kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KundeAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Kunde"
        ],
        "description": "Oppdater kunde",
        "operationId": "oppdaterKunde",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kundeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KundePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Oppdatert kunde",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KundeAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/kunder/soek": {
      "post": {
        "tags": [
          "Kunde"
        ],
        "description": "Søk etter kunder",
        "operationId": "kundeSoek",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KundeSoekRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kunder som matcher søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KundeAPIModel"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler/{avtaleId}/eiere": {
      "post": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Legg til en eier på en eiendomsavtale",
        "operationId": "leggTilEier",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "avtaleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EierRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returnerer eier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EierAPIModel"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler/{avtaleId}/eiere/{eierId}": {
      "delete": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Fjern en eier på en eiendomsavtale",
        "operationId": "fjernEier",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "avtaleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "eierId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Eier fjernet fra eiendomsavtalen"
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler/{avtaleId}/historikk": {
      "get": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Hente historiske versjoner av en eiendomsavtale",
        "operationId": "hentEiendomsavtaleHistorikk",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "avtaleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returnerer eiendomsavtaler",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EiendomsavtaleAPIModel"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler/soek": {
      "post": {
        "tags": [
          "Eiendomsavtale"
        ],
        "description": "Søk etter eiendomsavtaler",
        "operationId": "eiendomsavtaleSoek",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EiendomsavtaleSoekRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Eiendomsavtaler som matcher søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EiendomsavtaleAPIModel"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsavtaler/api/v1/{fiksOrgId}/eiendomsavtaler/endringer": {
      "get": {
        "tags": [
          "Eiendomsavtale offentlig"
        ],
        "description": "Hent eiendomsavtaler som har endringer siden angitt tidspunkt. Kan filtrere kun endringer i eiere.",
        "operationId": "hentOppdaterteEiendomsavtaler",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kommunenummer",
            "in": "query",
            "required": true,
            "description": "Kommunenummer for eiendomsavtalene som skal returneres.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fraTid",
            "in": "query",
            "required": true,
            "description": "ISO 8601-tidspunkt. Returnerer avtaler med endringer etter dette tidspunktet.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endretEiere",
            "in": "query",
            "required": false,
            "description": "Hvis satt til true, returnerer kun avtaler hvor en eier har endret seg",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "antall",
            "in": "query",
            "description": "Maks antall eiendomsavtaler som skal returneres. Maks 1000 kan hentes om gangen.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returnerer eiendomsavtaler med endringer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EiendomsavtaleAPIModel"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EiendomsavtaleAPIModel": {
        "type": "object",
        "properties": {
          "avtaleId": {
            "type": "string",
            "format": "uuid"
          },
          "avtaleAlternativId": {
            "type": "string",
            "description": "Alternativ ID for eiendomsavtalen som baserer seg på kommunenummer, gardsnummer, bruksnummer, festenummer, seksjonsnummer og delnummer. Anbefales å bruke avtaleId i stedet."
          },
          "sekvensnummer": {
            "type": "integer",
            "format": "int64"
          },
          "oppdragsgiver": {
            "type": "string",
            "description": "Hvem som som eier eiendomsavtalen"
          },
          "avtaletype": {
            "type": "string"
          },
          "avtalestatus": {
            "type": "string"
          },
          "delnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksnavn": {
            "type": "string"
          },
          "matrikkeldata": {
            "$ref": "#/components/schemas/MatrikkeldataAPIModel"
          },
          "eiendomsadresse": {
            "$ref": "#/components/schemas/EiendomsadresseAPIModel"
          },
          "eierkontakt": {
            "$ref": "#/components/schemas/EierAPIModel"
          },
          "eiere": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EierAPIModel"
            }
          },
          "fakturamottaker": {
            "$ref": "#/components/schemas/FakturamottakerAPIModel"
          },
          "antallTerminer": {
            "type": "integer",
            "format": "int32"
          },
          "merknad": {
            "type": "string"
          },
          "sistEndret": {
            "type": "string",
            "format": "date-time",
            "description": "Tidspunkt da eiendomsavtalen sist ble oppdatert"
          }
        },
        "required": [
          "avtaleId",
          "avtaleAlternativId",
          "avtaletype",
          "delnummer",
          "matrikkeldata"
        ]
      },
      "EiendomsavtaleRequest": {
        "type": "object",
        "properties": {
          "oppdragsgiver": {
            "type": "string",
            "description": "Hvem som som eier eiendomsavtalen"
          },
          "avtaletype": {
            "type": "string"
          },
          "avtalestatus": {
            "type": "string"
          },
          "delnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksnavn": {
            "type": "string"
          },
          "matrikkeldata": {
            "$ref": "#/components/schemas/MatrikkeldataRequest"
          },
          "eiendomsadresse": {
            "$ref": "#/components/schemas/EiendomsadresseAPIModel"
          },
          "eierkontakt": {
            "$ref": "#/components/schemas/EierkontaktRequest"
          },
          "eiere": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EierAPIModel"
            }
          },
          "fakturamottaker": {
            "$ref": "#/components/schemas/FakturamottakerAPIModel"
          },
          "antallTerminer": {
            "type": "integer",
            "format": "int32"
          },
          "merknad": {
            "type": "string"
          },
          "sistEndret": {
            "type": "string",
            "format": "date-time",
            "description": "Tidspunkt da eiendomsavtalen sist ble oppdatert"
          }
        },
        "required": [
          "avtaleId",
          "avtaleAlternativId",
          "avtaletype",
          "delnummer",
          "matrikkeldata"
        ]
      },
      "MatrikkeldataAPIModel": {
        "type": "object",
        "properties": {
          "kommunenummer": {
            "type": "string"
          },
          "gardsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32"
          },
          "festenummer": {
            "type": "integer",
            "format": "int32"
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksenhetsnumre": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "erSeksjonert": {
            "type": "boolean"
          },
          "erUtgatt": {
            "type": "boolean"
          },
          "manueltOpprettet": {
            "type": "boolean"
          },
          "etableringsdato": {
            "type": "string",
            "format": "date"
          },
          "bygninger": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BygningAPIModel"
            }
          }
        },
        "required": [
          "kommunenummer",
          "gardsnummer",
          "bruksnummer",
          "festenummer",
          "seksjonsnummer"
        ]
      },
      "MatrikkeldataRequest": {
        "type": "object",
        "properties": {
          "kommunenummer": {
            "type": "string"
          },
          "gardsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32"
          },
          "festenummer": {
            "type": "integer",
            "format": "int32"
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksenhetsnummer": {
            "type": "string"
          }
        },
        "required": [
          "kommunenummer",
          "gardsnummer",
          "bruksnummer",
          "festenummer",
          "seksjonsnummer"
        ]
      },
      "EiendomsadresseAPIModel": {
        "type": "object",
        "properties": {
          "adressekode": {
            "type": "integer",
            "format": "int64"
          },
          "adressenavn": {
            "type": "string"
          },
          "husnummer": {
            "type": "integer",
            "format": "int32"
          },
          "husbokstav": {
            "type": "string"
          },
          "postnummer": {
            "type": "string"
          },
          "poststed": {
            "type": "string"
          },
          "land": {
            "type": "string"
          }
        },
        "required": [
          "adressenavn",
          "husnummer"
        ]
      },
      "PostadresseAPIModel": {
        "type": "object",
        "properties": {
          "adresselinje1": {
            "type": "string"
          },
          "adresselinje2": {
            "type": "string"
          },
          "adresselinje3": {
            "type": "string"
          },
          "postnummer": {
            "type": "string"
          },
          "poststed": {
            "type": "string"
          },
          "land": {
            "type": "string"
          }
        },
        "required": [
          "adresselinje1",
          "postnummer",
          "poststed"
        ]
      },
      "BygningAPIModel": {
        "type": "object",
        "properties": {
          "bygningsnummer": {
            "type": "integer",
            "format": "int64"
          },
          "bygningstype": {
            "type": "string"
          }
        },
        "required": [
          "bygningsnummer",
          "bygningstype"
        ]
      },
      "EierAPIModel": {
        "type": "object",
        "properties": {
          "eierId": {
            "type": "string",
            "format": "uuid"
          },
          "kunde": {
            "$ref": "#/components/schemas/KundeAPIModel"
          },
          "eierstatus": {
            "type": "string"
          },
          "reellEier": {
            "type": "boolean"
          },
          "andel": {
            "$ref": "#/components/schemas/AndelAPIModel"
          },
          "rolle": {
            "$ref": "#/components/schemas/RolleAPIModel"
          },
          "eierkategori": {
            "type": "string"
          },
          "eierskiftedato": {
            "type": "string",
            "format": "date"
          },
          "tinglystDato": {
            "type": "string",
            "format": "date"
          },
          "sistEndret": {
            "type": "string",
            "format": "date-time"
          },
          "historisk": {
            "type": "boolean"
          }
        },
        "required": [
          "eierId",
          "eiertype",
          "navn"
        ]
      },
      "KundeRequest": {
        "type": "object",
        "properties": {
          "kundeAlternativId": {
            "type": "string",
            "description": "Fødselsnummer, organisasjonsnummer eller annen ID."
          },
          "kundetype": {
            "$ref": "#/components/schemas/KundetypeAPIModel"
          },
          "navn": {
            "type": "string"
          },
          "postadresse": {
            "$ref": "#/components/schemas/PostadresseAPIModel"
          }
        },
        "required": [
          "kundeAlternativId",
          "kundetype",
          "navn",
          "postadresse"
        ]
      },
      "KundeAPIModel": {
        "type": "object",
        "properties": {
          "kundeId": {
            "type": "string",
            "format": "uuid"
          },
          "kundeAlternativId": {
            "type": "string",
            "description": "Fødselsnummer, organisasjonsnummer eller annen ID."
          },
          "kundetype": {
            "$ref": "#/components/schemas/KundetypeAPIModel"
          },
          "navn": {
            "type": "string"
          },
          "postadresse": {
            "$ref": "#/components/schemas/PostadresseAPIModel"
          }
        },
        "required": [
          "kundeAlternativId",
          "kundetype",
          "navn",
          "postadresse"
        ]
      },
      "KundePatch": {
        "type": "object",
        "properties": {
          "kundetype": {
            "$ref": "#/components/schemas/KundetypeAPIModel"
          },
          "navn": {
            "type": "string"
          },
          "postadresse": {
            "$ref": "#/components/schemas/PostadresseAPIModel"
          }
        }
      },
      "KundeSoekRequest": {
        "type": "object",
        "properties": {
          "alternativId": {
            "type": "string"
          },
          "navn": {
            "type": "string"
          }
        }
      },
      "EierRequest": {
        "type": "object",
        "properties": {
          "eierId": {
            "type": "string",
            "format": "uuid"
          },
          "reellEier": {
            "type": "boolean"
          },
          "andel": {
            "$ref": "#/components/schemas/AndelAPIModel"
          },
          "rolle": {
            "$ref": "#/components/schemas/RolleAPIModel"
          },
          "eierkategori": {
            "type": "string"
          },
          "eierskiftedato": {
            "type": "string",
            "format": "date"
          }
        },
        "required": [
          "eierId"
        ]
      },
      "EierkontaktRequest": {
        "type": "object",
        "properties": {
          "eierId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "eierId"
        ]
      },
      "FakturamottakerAPIModel": {
        "type": "object",
        "properties": {
          "fakturamottakerId": {
            "type": "string"
          },
          "kunde": {
            "$ref": "#/components/schemas/KundeAPIModel"
          },
          "coNavn": {
            "type": "string"
          },
          "kundestatus": {
            "type": "string"
          },
          "fakturamottakerkategori": {
            "type": "string"
          },
          "ressursnummer": {
            "type": "string"
          },
          "sistEndret": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "fakturamottakerId",
          "fakturamottakertype",
          "navn"
        ]
      },
      "KundetypeAPIModel": {
        "type": "string",
        "enum": [
          "PERSON",
          "ORGANISASJON",
          "ANNET"
        ]
      },
      "RolleAPIModel": {
        "type": "string",
        "enum": [
          "TINGLYST",
          "IKKE_TINGLYST",
          "VERGE"
        ]
      },
      "EiendomsavtalePatch": {
        "type": "object",
        "properties": {
          "avtaletype": {
            "type": "string"
          },
          "delnummer": {
            "type": "integer",
            "format": "int32"
          },
          "eierkontakt": {
            "$ref": "#/components/schemas/EierAPIModel"
          },
          "fakturamottaker": {
            "$ref": "#/components/schemas/FakturamottakerAPIModel"
          },
          "bruksnavn": {
            "type": "string"
          },
          "merknad": {
            "type": "string"
          }
        }
      },
      "EiendomsavtaleSoekRequest": {
        "type": "object",
        "properties": {
          "kommunenummer": {
            "type": "string"
          },
          "gardsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32"
          },
          "festenummer": {
            "type": "integer",
            "format": "int32"
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "eierId": {
            "type": "string"
          },
          "fakturamottakerId": {
            "type": "string"
          },
          "adressenavn": {
            "type": "string"
          }
        }
      },
      "AndelAPIModel": {
        "type": "object",
        "properties": {
          "teller": {
            "type": "integer",
            "format": "int64"
          },
          "nevner": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "teller",
          "nevner"
        ]
      }
    }
  }
}
