{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks folkeregister person-soek service",
    "description" : "Folkregister person-soek service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "person-soek",
    "description" : "API for å håndtere funksjonalitet rundt person-soek fra folkeregisteret"
  } ],
  "paths" : {
    "/folkeregister/api/v1/personer/soek/verdier" : {
      "get" : {
        "tags" : [ "person-soek" ],
        "description" : "Gyldige verdier for nøkkelfelt, til bruk i front-end",
        "operationId" : "gyldigeVerdier",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GyldigeVerdierPersonSoek"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/personer/soek/{fiksOrgId}" : {
      "post" : {
        "tags" : [ "person-soek" ],
        "description" : "Finner ider til personer som oppfyller søkekriteriene",
        "operationId" : "soek",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PersonSoekDefinisjon"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonSoekResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "GyldigeVerdierPersonSoek" : {
        "required" : [ "kjoenn" ],
        "type" : "object",
        "properties" : {
          "kjoenn" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Verdi"
            }
          }
        }
      },
      "Verdi" : {
        "type" : "object",
        "properties" : {
          "kode" : {
            "type" : "string"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "AdresseIFrittFormatDefinisjon" : {
        "type" : "object",
        "properties" : {
          "adresselinje" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "landkode" : {
            "type" : "string"
          }
        }
      },
      "AdressegraderingDefinisjon" : {
        "type" : "string",
        "enum" : [ "UGRADERT", "KLIENTADRESSE", "FORTROLIG", "STRENGTFORTROLIG" ]
      },
      "AdressenummerDefinisjon" : {
        "type" : "object",
        "properties" : {
          "husnummer" : {
            "type" : "string"
          },
          "husbokstav" : {
            "type" : "string"
          }
        }
      },
      "AdvokatSomKontaktDefinisjon" : {
        "required" : [ "personnavn" ],
        "type" : "object",
        "properties" : {
          "organisasjonsnavn" : {
            "type" : "string"
          },
          "organisasjonsnummer" : {
            "type" : "string"
          },
          "personnavn" : {
            "$ref" : "#/components/schemas/PersonnavnDefinisjon"
          }
        }
      },
      "BibeholdAvNorskStatsborgerskapDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "bibeholdstatus" : {
            "type" : "string",
            "enum" : [ "HARBIBEHOLD", "HARIKKELENGERBIBEHOLD", "NORSKSTATSBORGERTRENGERIKKEBIBEHOLD" ]
          },
          "datoForBibehold" : {
            "type" : "string",
            "format" : "date"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "BostedsadresseDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "adresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "adressegradering" : {
            "$ref" : "#/components/schemas/AdressegraderingDefinisjon"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "flyttedato" : {
            "type" : "string",
            "format" : "date"
          },
          "grunnkrets" : {
            "type" : "integer",
            "format" : "int64"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "kirkekrets" : {
            "type" : "integer",
            "format" : "int64"
          },
          "matrikkeladresse" : {
            "$ref" : "#/components/schemas/MatrikkeladresseDefinisjon"
          },
          "naerAdresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "skolekrets" : {
            "type" : "integer",
            "format" : "int64"
          },
          "stemmekrets" : {
            "type" : "integer",
            "format" : "int64"
          },
          "ukjentBosted" : {
            "$ref" : "#/components/schemas/UkjentBostedDefinisjon"
          },
          "vegadresse" : {
            "$ref" : "#/components/schemas/VegadresseDefinisjon"
          }
        }
      },
      "BruksenhetstypeDefinisjon" : {
        "type" : "string",
        "enum" : [ "BOLIG", "ANNETENNBOLIG", "FRITIDSBOLIG", "IKKEGODKJENTBOLIG", "UNUMMERERTBRUKSENHET" ]
      },
      "DeltBostedDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "adresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "adressegradering" : {
            "$ref" : "#/components/schemas/AdressegraderingDefinisjon"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "matrikkeladresse" : {
            "$ref" : "#/components/schemas/MatrikkeladresseDefinisjon"
          },
          "naerAdresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "sluttdatoForKontrakt" : {
            "type" : "string",
            "format" : "date"
          },
          "startdatoForKontrakt" : {
            "type" : "string",
            "format" : "date"
          },
          "ukjentBosted" : {
            "$ref" : "#/components/schemas/UkjentBostedDefinisjon"
          },
          "vegadresse" : {
            "$ref" : "#/components/schemas/VegadresseDefinisjon"
          }
        }
      },
      "DoedsfallDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "doedsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "FalskIdentitetDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erFalsk" : {
            "type" : "boolean"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "rettIdentitetErUkjent" : {
            "type" : "boolean"
          },
          "rettIdentitetVedIdentifikasjonsnummer" : {
            "type" : "string"
          },
          "rettIdentitetVedOpplysninger" : {
            "$ref" : "#/components/schemas/IdentifiserendeInformasjonDefinisjon"
          }
        }
      },
      "FamilierelasjonDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "minRolleForPerson" : {
            "type" : "string",
            "enum" : [ "MOR", "FAR", "MEDMOR", "BARN", "SOESKEN", "EKTEFELLEELLERPARTNER", "DOEDFOEDTBARN" ]
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "relatertPerson" : {
            "type" : "string"
          },
          "relatertPersonUtenFolkeregisteridentifikator" : {
            "$ref" : "#/components/schemas/RelatertBiPersonDefinisjon"
          },
          "relatertPersonsRolle" : {
            "type" : "string",
            "enum" : [ "MOR", "FAR", "MEDMOR", "BARN", "SOESKEN", "EKTEFELLEELLERPARTNER", "DOEDFOEDTBARN" ]
          }
        }
      },
      "Feilmelding" : {
        "type" : "object",
        "properties" : {
          "feilmelding" : {
            "type" : "string"
          }
        }
      },
      "FoedselDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "foedekommuneINorge" : {
            "type" : "string"
          },
          "foedeland" : {
            "type" : "string"
          },
          "foedested" : {
            "type" : "string"
          },
          "foedselsaar" : {
            "type" : "string"
          },
          "foedselsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "FoedselINorgeDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "foedselsinstitusjonsnavn" : {
            "type" : "string"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "rekkefoelgenummer" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "FolkeregisteridentifikatorDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "foedselsEllerDNummer" : {
            "type" : "string"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "identifikatortype" : {
            "type" : "string",
            "enum" : [ "FOEDSELSNUMMER", "DNUMMER" ]
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "IBRUK", "OPPHOERT" ]
          }
        }
      },
      "FolkeregisterpersonDefinisjon" : {
        "type" : "object",
        "properties" : {
          "adressebeskyttelse" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/GraderingAvAdresseDefinisjon"
            }
          },
          "bibehold" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BibeholdAvNorskStatsborgerskapDefinisjon"
            }
          },
          "bostedsadresse" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BostedsadresseDefinisjon"
            }
          },
          "brukAvSamiskSpraak" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SamiskSpraakDefinisjon"
            }
          },
          "deltBosted" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DeltBostedDefinisjon"
            }
          },
          "doedsfall" : {
            "$ref" : "#/components/schemas/DoedsfallDefinisjon"
          },
          "falskIdentitet" : {
            "$ref" : "#/components/schemas/FalskIdentitetDefinisjon"
          },
          "familierelasjon" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FamilierelasjonDefinisjon"
            }
          },
          "foedsel" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FoedselDefinisjon"
            }
          },
          "foedselINorge" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FoedselINorgeDefinisjon"
            }
          },
          "foreldreansvar" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ForeldreansvarDefinisjon"
            }
          },
          "forholdTilSametingetsValgmanntall" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SametingetsValgmanntallDefinisjon"
            }
          },
          "identifikasjonsnummer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteridentifikatorDefinisjon"
            }
          },
          "identitetsgrunnlag" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/IdentitetsgrunnlagDefinisjon"
            }
          },
          "innflytting" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/InnflyttingTilNorgeDefinisjon"
            }
          },
          "kjoenn" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PersonkjoennDefinisjon"
            }
          },
          "kontaktinformasjonForDoedsbo" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/KontaktinformasjonForDoedsboDefinisjon"
            }
          },
          "legitimasjonsdokument" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/IdentifikasjonsdokumentDefinisjon"
            }
          },
          "navn" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisterpersonnavnDefinisjon"
            }
          },
          "opphold" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OppholdDefinisjon"
            }
          },
          "oppholdPaaSvalbard" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OppholdPaaSvalbardDefinisjon"
            }
          },
          "oppholdsadresse" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OppholdsadresseDefinisjon"
            }
          },
          "postadresse" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/KontaktadresseDefinisjon"
            }
          },
          "postadresseIUtlandet" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/KontaktadresseIUtlandetDefinisjon"
            }
          },
          "preferertKontaktadresse" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PreferertKontaktadresseDefinisjon"
            }
          },
          "sivilstand" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SivilstandDefinisjon"
            }
          },
          "statsborgerskap" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StatsborgerskapDefinisjon"
            }
          },
          "status" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisterpersonstatusDefinisjon"
            }
          },
          "utenlandskPersonidentifikasjon" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PersonidentifikasjonDefinisjon"
            }
          },
          "utflytting" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/UtflyttingFraNorgeDefinisjon"
            }
          },
          "utlendingsmyndighetenesIdentifikasjonsnummer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PersonidentifikasjonDefinisjon"
            }
          },
          "vergemaalEllerFremtidsfullmakt" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/VergemaalRepresentasjonEllerFremtidsfullmaktDefinisjon"
            }
          }
        }
      },
      "FolkeregisterpersonnavnDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "etternavn" : {
            "type" : "string"
          },
          "forkortetNavn" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "mellomnavn" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "originaltNavn" : {
            "$ref" : "#/components/schemas/PersonnavnDefinisjon"
          }
        }
      },
      "FolkeregisterpersonstatusDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "BOSATT", "UTFLYTTET", "FORSVUNNET", "DOED", "OPPHOERT", "FOEDSELSREGISTRERT", "MIDLERTIDIG", "INAKTIV", "IKKEBOSATT", "AKTIV" ]
          }
        }
      },
      "ForeldreansvarDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "ansvar" : {
            "type" : "string",
            "enum" : [ "FELLES", "MOR", "FAR", "MEDMOR", "ANDRE", "UKJENT" ]
          },
          "ansvarlig" : {
            "type" : "string"
          },
          "ansvarligOrganisasjon" : {
            "type" : "string"
          },
          "ansvarligUtenIdentifikator" : {
            "$ref" : "#/components/schemas/RelatertBiPersonDefinisjon"
          },
          "ansvarssubjekt" : {
            "type" : "string"
          },
          "ansvarssubjektUtenIdentifikator" : {
            "$ref" : "#/components/schemas/RelatertBiPersonDefinisjon"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "GraderingAvAdresseDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "graderingsnivaa" : {
            "$ref" : "#/components/schemas/AdressegraderingDefinisjon"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "IdentifikasjonsdokumentDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dokumentkontroll" : {
            "$ref" : "#/components/schemas/TekniskDokumentkontrollDefinisjon"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldigFra" : {
            "type" : "string",
            "format" : "date"
          },
          "gyldigTil" : {
            "type" : "string",
            "format" : "date"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "identifikasjonsdokumentnummer" : {
            "type" : "string"
          },
          "identifikasjonsdokumenttype" : {
            "type" : "string"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "utstederland" : {
            "type" : "string"
          },
          "utstedernavn" : {
            "type" : "string"
          }
        }
      },
      "IdentifiserendeInformasjonDefinisjon" : {
        "type" : "object",
        "properties" : {
          "foedselsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "kjoenn" : {
            "$ref" : "#/components/schemas/KjoennDefinisjon"
          },
          "personnavn" : {
            "$ref" : "#/components/schemas/PersonnavnDefinisjon"
          },
          "statsborgerskap" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "IdentitetsgrunnlagDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "identitetsgrunnlagstatus" : {
            "type" : "string",
            "enum" : [ "INGENSTATUS", "IKKEKONTROLLERT", "KONTROLLERT" ]
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "InnflyttingTilNorgeDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "fraflyttingsland" : {
            "type" : "string"
          },
          "fraflyttingsstedIUtlandet" : {
            "type" : "string"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "InternasjonalAdresseDefinisjon" : {
        "type" : "object",
        "properties" : {
          "adressenavn" : {
            "type" : "string"
          },
          "boenhet" : {
            "type" : "string"
          },
          "byEllerStedsnavn" : {
            "type" : "string"
          },
          "bygning" : {
            "type" : "string"
          },
          "coAdressenavn" : {
            "type" : "string"
          },
          "distriktsnavn" : {
            "type" : "string"
          },
          "etasjenummer" : {
            "type" : "string"
          },
          "landkode" : {
            "type" : "string"
          },
          "postboks" : {
            "type" : "string"
          },
          "postkode" : {
            "type" : "string"
          },
          "region" : {
            "type" : "string"
          }
        }
      },
      "InternasjonalAdresseIFrittFormatDefinisjon" : {
        "type" : "object",
        "properties" : {
          "adresselinje" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "byEllerStedsnavn" : {
            "type" : "string"
          },
          "landkode" : {
            "type" : "string"
          },
          "postkode" : {
            "type" : "string"
          }
        }
      },
      "KjoennDefinisjon" : {
        "type" : "string",
        "enum" : [ "KVINNE", "MANN" ]
      },
      "KontaktadresseDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "adresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "adressegradering" : {
            "$ref" : "#/components/schemas/AdressegraderingDefinisjon"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "postadresseIFrittFormat" : {
            "$ref" : "#/components/schemas/PostadresseIFrittFormatDefinisjon"
          },
          "postboksadresse" : {
            "$ref" : "#/components/schemas/PostboksadresseDefinisjon"
          },
          "vegadresse" : {
            "$ref" : "#/components/schemas/VegadresseForPostDefinisjon"
          }
        }
      },
      "KontaktadresseForDoedsboDefinisjon" : {
        "type" : "object",
        "properties" : {
          "adresselinje" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "landkode" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststedsnavn" : {
            "type" : "string"
          }
        }
      },
      "KontaktadresseIUtlandetDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "adressegradering" : {
            "$ref" : "#/components/schemas/AdressegraderingDefinisjon"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "utenlandskAdresse" : {
            "$ref" : "#/components/schemas/InternasjonalAdresseDefinisjon"
          },
          "utenlandskAdresseIFrittFormat" : {
            "$ref" : "#/components/schemas/InternasjonalAdresseIFrittFormatDefinisjon"
          }
        }
      },
      "KontaktinformasjonForDoedsboDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/KontaktadresseForDoedsboDefinisjon"
          },
          "advokat" : {
            "$ref" : "#/components/schemas/AdvokatSomKontaktDefinisjon"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "attestutstedelsesdato" : {
            "type" : "string",
            "format" : "date"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "organisasjon" : {
            "$ref" : "#/components/schemas/OrganisasjonSomKontaktDefinisjon"
          },
          "person" : {
            "$ref" : "#/components/schemas/PersonSomKontaktDefinisjon"
          },
          "skifteform" : {
            "type" : "string",
            "enum" : [ "OFFENTLIG", "ANNET" ]
          }
        }
      },
      "MatrikkeladresseDefinisjon" : {
        "type" : "object",
        "properties" : {
          "adressetilleggsnavn" : {
            "type" : "string"
          },
          "bruksenhetsnummer" : {
            "type" : "string"
          },
          "bruksenhetstype" : {
            "$ref" : "#/components/schemas/BruksenhetstypeDefinisjon"
          },
          "coAdressenavn" : {
            "type" : "string"
          },
          "matrikkelnummer" : {
            "$ref" : "#/components/schemas/MatrikkelnummerDefinisjon"
          },
          "poststed" : {
            "$ref" : "#/components/schemas/PoststedDefinisjon"
          },
          "undernummer" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "MatrikkelnummerDefinisjon" : {
        "type" : "object",
        "properties" : {
          "bruksnummer" : {
            "type" : "integer",
            "format" : "int64"
          },
          "festenummer" : {
            "type" : "integer",
            "format" : "int64"
          },
          "gaardsnummer" : {
            "type" : "integer",
            "format" : "int64"
          },
          "kommunenummer" : {
            "type" : "string"
          }
        }
      },
      "OppholdDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "oppholdFra" : {
            "type" : "string",
            "format" : "date"
          },
          "oppholdTil" : {
            "type" : "string",
            "format" : "date"
          },
          "oppholdstillatelse" : {
            "type" : "string",
            "enum" : [ "MIDLERTIDIG", "PERMANENT", "OPPLYSNINGMANGLER" ]
          }
        }
      },
      "OppholdPaaSvalbardDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "antallTidligereOpphold" : {
            "type" : "integer",
            "format" : "int64"
          },
          "antattOppholdsvarighet" : {
            "type" : "string",
            "enum" : [ "UNDERSEKSMAANEDER", "OVERSEKSMAANEDER", "OVERTOLVMAANEDER", "UKJENT" ]
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "fraflyttingskommunenummer" : {
            "type" : "string"
          },
          "fraflyttingsland" : {
            "type" : "string"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "sluttdato" : {
            "type" : "string",
            "format" : "date"
          },
          "startdato" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "OppholdsadresseDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "adresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "adressegradering" : {
            "$ref" : "#/components/schemas/AdressegraderingDefinisjon"
          },
          "adressenErUkjent" : {
            "type" : "boolean"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "matrikkeladresse" : {
            "$ref" : "#/components/schemas/MatrikkeladresseDefinisjon"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "oppholdAnnetSted" : {
            "type" : "string",
            "enum" : [ "MILITAER", "UTENRIKS", "PAASVALBARD", "PENDLER" ]
          },
          "oppholdsadressedato" : {
            "type" : "string",
            "format" : "date"
          },
          "utenlandskAdresse" : {
            "$ref" : "#/components/schemas/InternasjonalAdresseDefinisjon"
          },
          "vegadresse" : {
            "$ref" : "#/components/schemas/VegadresseDefinisjon"
          }
        }
      },
      "OppslagDefinisjon" : {
        "required" : [ "foedselsEllerDNummer" ],
        "type" : "object",
        "properties" : {
          "feilmelding" : {
            "$ref" : "#/components/schemas/Feilmelding"
          },
          "foedselsEllerDNummer" : {
            "type" : "string"
          },
          "folkeregisterperson" : {
            "$ref" : "#/components/schemas/FolkeregisterpersonDefinisjon"
          }
        }
      },
      "OrganisasjonSomKontaktDefinisjon" : {
        "type" : "object",
        "properties" : {
          "kontaktpersonnavn" : {
            "$ref" : "#/components/schemas/PersonnavnDefinisjon"
          },
          "organisasjonsnavn" : {
            "type" : "string"
          },
          "organisasjonsnummer" : {
            "type" : "string"
          }
        }
      },
      "PersonSoekResponse" : {
        "required" : [ "personer" ],
        "type" : "object",
        "properties" : {
          "personer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OppslagDefinisjon"
            }
          }
        }
      },
      "PersonSomKontaktDefinisjon" : {
        "type" : "object",
        "properties" : {
          "foedselsEllerDNummer" : {
            "type" : "string"
          },
          "foedselsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "personnavn" : {
            "$ref" : "#/components/schemas/PersonnavnDefinisjon"
          }
        }
      },
      "PersonidentifikasjonDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "identifikasjonsnummer" : {
            "type" : "string"
          },
          "identifikasjonsnummertype" : {
            "type" : "string"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "utstederland" : {
            "type" : "string"
          }
        }
      },
      "PersonkjoennDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "kjoenn" : {
            "$ref" : "#/components/schemas/KjoennDefinisjon"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "PersonnavnDefinisjon" : {
        "type" : "object",
        "properties" : {
          "etternavn" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "mellomnavn" : {
            "type" : "string"
          }
        }
      },
      "PostadresseIFrittFormatDefinisjon" : {
        "type" : "object",
        "properties" : {
          "adresselinje" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "poststed" : {
            "$ref" : "#/components/schemas/PoststedDefinisjon"
          }
        }
      },
      "PostboksadresseDefinisjon" : {
        "type" : "object",
        "properties" : {
          "postboks" : {
            "type" : "string"
          },
          "postbokseier" : {
            "type" : "string"
          },
          "poststed" : {
            "$ref" : "#/components/schemas/PoststedDefinisjon"
          }
        }
      },
      "PoststedDefinisjon" : {
        "type" : "object",
        "properties" : {
          "poststedsnavn" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          }
        }
      },
      "PreferertKontaktadresseDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "adressegradering" : {
            "$ref" : "#/components/schemas/AdressegraderingDefinisjon"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "kontaktadresseIFrittFormat" : {
            "$ref" : "#/components/schemas/AdresseIFrittFormatDefinisjon"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "valg" : {
            "type" : "string",
            "enum" : [ "BOSTEDSADRESSE", "OPPHOLDSADRESSE", "POSTADRESSE", "POSTADRESSEIUTLANDET" ]
          }
        }
      },
      "RelatertBiPersonDefinisjon" : {
        "type" : "object",
        "properties" : {
          "foedselsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "kjoenn" : {
            "$ref" : "#/components/schemas/KjoennDefinisjon"
          },
          "navn" : {
            "$ref" : "#/components/schemas/PersonnavnDefinisjon"
          },
          "statsborgerskap" : {
            "type" : "string"
          }
        }
      },
      "SametingetsValgmanntallDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "forhold" : {
            "type" : "string",
            "enum" : [ "INNMELDT", "UTMELDT", "ALDRIINNMELDT" ]
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "vedtaksdato" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "SamiskSpraakDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "spraak" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "NORDSAMISK", "SOERSAMISK", "LULESAMISK" ]
            }
          }
        }
      },
      "SivilstandDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "kommune" : {
            "type" : "string"
          },
          "myndighet" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "relatertVedSivilstand" : {
            "type" : "string"
          },
          "sivilstand" : {
            "type" : "string",
            "enum" : [ "UOPPGITT", "UGIFT", "GIFT", "ENKEELLERENKEMANN", "SKILT", "SEPARERT", "REGISTRERTPARTNER", "SEPARERTPARTNER", "SKILTPARTNER", "GJENLEVENDEPARTNER" ]
          },
          "sivilstandsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "sted" : {
            "type" : "string"
          },
          "utland" : {
            "type" : "string"
          }
        }
      },
      "StatsborgerskapDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "ervervsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "statsborgerskap" : {
            "type" : "string"
          }
        }
      },
      "TekniskDokumentkontrollDefinisjon" : {
        "type" : "object",
        "properties" : {
          "dokumentkontrollstatus" : {
            "type" : "string"
          },
          "dokumentkontrolltidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "UkjentBostedDefinisjon" : {
        "type" : "object",
        "properties" : {
          "bostedskommune" : {
            "type" : "string"
          }
        }
      },
      "UtflyttingFraNorgeDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "tilflyttingsland" : {
            "type" : "string"
          },
          "tilflyttingsstedIUtlandet" : {
            "type" : "string"
          },
          "utflyttingsdato" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "VegadresseDefinisjon" : {
        "type" : "object",
        "properties" : {
          "adressekode" : {
            "type" : "string"
          },
          "adressenavn" : {
            "type" : "string"
          },
          "adressenummer" : {
            "$ref" : "#/components/schemas/AdressenummerDefinisjon"
          },
          "adressetilleggsnavn" : {
            "type" : "string"
          },
          "bruksenhetsnummer" : {
            "type" : "string"
          },
          "bruksenhetstype" : {
            "$ref" : "#/components/schemas/BruksenhetstypeDefinisjon"
          },
          "coAdressenavn" : {
            "type" : "string"
          },
          "kommunenummer" : {
            "type" : "string"
          },
          "poststed" : {
            "$ref" : "#/components/schemas/PoststedDefinisjon"
          }
        }
      },
      "VegadresseForPostDefinisjon" : {
        "type" : "object",
        "properties" : {
          "adressekode" : {
            "type" : "string"
          },
          "adressenavn" : {
            "type" : "string"
          },
          "adressenummer" : {
            "$ref" : "#/components/schemas/AdressenummerDefinisjon"
          },
          "adressetilleggsnavn" : {
            "type" : "string"
          },
          "bruksenhetsnummer" : {
            "type" : "string"
          },
          "coAdressenavn" : {
            "type" : "string"
          },
          "poststed" : {
            "$ref" : "#/components/schemas/PoststedDefinisjon"
          }
        }
      },
      "VergeRepresentantEllerFullmektigDefinisjon" : {
        "type" : "object",
        "properties" : {
          "foedselsEllerDNummer" : {
            "type" : "string"
          },
          "navn" : {
            "$ref" : "#/components/schemas/PersonnavnDefinisjon"
          },
          "omfang" : {
            "type" : "string",
            "enum" : [ "UTLENDINGSSAKERPERSONLIGEOGOEKONOMISKEINTERESSER", "PERSONLIGEOGOEKONOMISKEINTERESSER", "OEKONOMISKEINTERESSER", "PERSONLIGEINTERESSER" ]
          },
          "omfangetErInnenPersonligOmraade" : {
            "type" : "boolean"
          }
        }
      },
      "VergemaalRepresentasjonEllerFremtidsfullmaktDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "embete" : {
            "type" : "string"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "verge" : {
            "$ref" : "#/components/schemas/VergeRepresentantEllerFullmektigDefinisjon"
          },
          "vergemaaltype" : {
            "type" : "string",
            "enum" : [ "ENSLIGMINDREAARIGASYLSOEKER", "ENSLIGMINDREAARIGFLYKTNING", "VOKSEN", "MIDLERTIDIGFORVOKSEN", "MINDREAARIG", "MIDLERTIDIGFORMINDREAARIG", "FORVALTNINGUTENFORVERGEMAAL", "STADFESTETFREMTIDSFULLMAKT" ]
          }
        }
      },
      "AarIntervall" : {
        "type" : "object",
        "properties" : {
          "fraAar" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          },
          "tilAar" : {
            "type" : "integer",
            "format" : "int32"
          }
        },
        "description" : "Fødselsår, fra og med, til og med"
      },
      "PersonSoekDefinisjon" : {
        "required" : [ "rolleId" ],
        "type" : "object",
        "properties" : {
          "rolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Et eller flere hele ord fra personnavnet, skilt med mellomrom."
          },
          "kjoenn" : {
            "type" : "string",
            "enum" : [ "MANN", "KVINNE" ]
          },
          "foedselsdato" : {
            "type" : "integer",
            "description" : "Fødselsdato (YYYYMMDD)",
            "format" : "int32"
          },
          "foedt" : {
            "$ref" : "#/components/schemas/AarIntervall"
          },
          "adressenavn" : {
            "type" : "string",
            "description" : "Minst 3 tegn fra begynnelsen av gatenavn"
          },
          "husnummer" : {
            "type" : "string",
            "description" : "Husnummer, med eller uten bokstav"
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Filtrerer treff på postnummer (4 siffer)"
          },
          "kommunenummer" : {
            "type" : "string",
            "description" : "Filtrerer treff på kommunenummer (4 siffer)"
          },
          "fylkesnummer" : {
            "type" : "string",
            "description" : "Filtrerer treff på fylkesnummer (2 siffer)"
          },
          "inkluderOppholdsadresse" : {
            "type" : "boolean",
            "description" : "Treffer oppholdsasdresse i tillegg til bostedsadresse. Default: false"
          },
          "soekFonetisk" : {
            "type" : "boolean",
            "description" : "Søk også på lignende navn. Default: false"
          },
          "inkluderDoede" : {
            "type" : "boolean",
            "description" : "Treffer også døde personer. Default: false"
          },
          "inkluderHistoriskeNavnOgAdresser" : {
            "type" : "boolean",
            "description" : "Styrer håndtering av historikk. Default: 'false'. Påvirker kun navn og adresse - for andre opplysninger søkes det alltid kun på gjeldende."
          },
          "maksTreff" : {
            "type" : "integer",
            "description" : "Maksimalt antall treff å returnere. Maks 10.000.",
            "format" : "int32"
          },
          "parts" : {
            "type" : "array",
            "description" : "Parts brukt for dataminimering",
            "items" : {
              "type" : "string",
              "description" : "Parts brukt for dataminimering"
            }
          },
          "fiksVisHemmeligeAdresser" : {
            "type" : "boolean",
            "description" : "Skal hemmelige adresser vises. Default: false"
          },
          "personidentifikator" : {
            "type" : "string",
            "description" : "Fødsels- eller D-nummer. Hvis personidentifikator er satt, gjøres et oppslag, og alle andre felter bortsett fra parts ignoreres."
          }
        }
      }
    }
  }
}