{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Folkeregister konfigurasjon service",
    "description" : "Folkeregister konfigurasjon service",
    "contact" : {
      "name" : "KS Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v3"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "folkeregister-konfigurasjon",
    "description" : "API for å håndtere funksjonalitet rundt konfigurasjon av folkeregister"
  }, {
    "name" : "tilganger",
    "description" : "API rundt det å håndtere tilganger til roller"
  } ],
  "paths" : {
    "/folkeregister/api/v3/konfigurasjon/{fiksOrgId}/roller/{rolleId}/aktiver" : {
      "put" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Aktiverer gitt rolle for gitt organisasjon",
        "operationId" : "aktiverRolleV3",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjonV3"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/{fiksOrgId}/roller/{rolleId}/deaktiver" : {
      "put" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Deaktiverer gitt rolle for gitt organisasjon",
        "operationId" : "deaktiverRolleV3",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjonV3"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/{fiksOrgId}/roller/{rolleId}/tagger/{tagg}" : {
      "delete" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Fjerner tagg for gitt rolle",
        "operationId" : "fjernTaggV3",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tagg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjonV3"
                }
              }
            }
          },
          "404" : {
            "description" : "UkjentRolle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Taggen er ikke definert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/{fiksOrgId}/roller/{rolleId}/tilganger" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste over tildelte tilganger for en rolle",
        "operationId" : "hentAlleTilgangerV3",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "Fant ikke rollen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TilgangListe"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/{fiksOrgId}/roller/{rolleId}" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter gitt rolle for gitt organisasjon",
        "operationId" : "hentRolleV3MedFiksOrgIdOgRolleId",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Fant rolle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjonV3"
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated" : true
      },
      "delete" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Sletter gitt rolle for gitt organisasjon",
        "operationId" : "slettRolleV3",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated" : true
      },
      "patch" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Oppdaterer gitt rolle for gitt organisasjon",
        "operationId" : "patchRolleV3",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterRolleDefinisjonV3"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjonV3"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/roller/{rolleId}" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter gitt aktiv rolle",
        "operationId" : "hentRolleV3MedRolleId",
        "parameters" : [ {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Fant rolle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjonV3"
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/roller" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter alle roller som innlogget aktør har tilgang til å søke med",
        "operationId" : "hentRollerForAktorV3",
        "responses" : {
          "200" : {
            "description" : "Fant rolle(r)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RollePersonSokDefinisjonV3"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v3/konfigurasjon/{fiksOrgId}/roller" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter roller for gitt organisasjon",
        "operationId" : "hentRollerForOrganisasjonV3",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Fant rolle(r)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RolleDefinisjonV3"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated" : true
      },
      "post" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Oppretter rolle for gitt organisasjon",
        "operationId" : "opprettRolleV3",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettRolleDefinisjonV3"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjonV3"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter gjeldende konfigurasjon for en organisasjon",
        "operationId" : "hentKonfigurasjonV3",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FolkeregisterKonfigurasjonDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated" : true
      },
      "put" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Oppdaterer konfigurasjon for en organisasjon",
        "operationId" : "oppdaterKonfigurasjonV3",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FolkeregisterKonfigurasjonDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FolkeregisterKonfigurasjonDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated" : true
      },
      "post" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Oppretter konfigurasjon for en organisasjon",
        "operationId" : "opprettKonfigurasjonV3",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FolkeregisterKonfigurasjonDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FolkeregisterKonfigurasjonDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/lovhjemler" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste over lovhjemler",
        "operationId" : "hentAlleLovhjemlerV3",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LovhjemmelListe"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/bruksomrader" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste over tilgjengelige tjenester",
        "operationId" : "hentBruksomraderV3",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BruksomradeListeV2"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/lovhjemler/{omrade}" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter alle lovhjemler for gitt fagområde",
        "operationId" : "hentLovhjemlerForOmradeV3",
        "parameters" : [ {
          "name" : "omrade",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/tjenesteomrader" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste med alle områder",
        "operationId" : "hentOmraderV3",
        "responses" : {
          "200" : {
            "description" : "Liste med tjenesteområder",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TjenesteomradeListe"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/parts" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste over alle parts samt hvilke opplysninger de inneholder som brukes til dataminimering",
        "operationId" : "hentPartsV3",
        "responses" : {
          "200" : {
            "description" : "Liste med parts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PartListe"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/verifiser" : {
      "post" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Sjekker konfigurasjon for gitt fiksOrg",
        "operationId" : "verifiserKonfigurasjonV3",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SjekkRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/tilganger/{fiksOrgId}.json" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon", "tilganger" ],
        "description" : "Henter liste over tilganger gitt til alle roller som er definert",
        "operationId" : "tilgangerForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleOversikt"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/tilganger/{fiksOrgId}.csv" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon", "tilganger" ],
        "description" : "Henter liste over tilganger gitt til alle roller som er definert som CSV",
        "operationId" : "tilgangerForFiksOrgCsv",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "text/csv" : {
                "example" : "Rollenavn,Person,Tilgangstype\n\"Rollen vår\",\n,01017012345,Bruker\n,02107192001,Administrator"
              }
            }
          }
        },
        "deprecated" : true
      }
    }
  },
  "components" : {
    "schemas" : {
      "BruksomradeBeskrivelseV2" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "leverandor" : {
            "type" : "string",
            "enum" : [ "SKATT", "KS" ]
          }
        }
      },
      "BruksomradeListeV2" : {
        "required" : [ "bruksomrader" ],
        "type" : "object",
        "properties" : {
          "bruksomrader" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BruksomradeBeskrivelseV2"
            }
          }
        }
      },
      "DataminimeringV3" : {
        "type" : "object",
        "properties" : {
          "parts" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Part"
            }
          },
          "opplysninger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Opplysning"
            }
          }
        }
      },
      "Opplysning" : {
        "required" : [ "kanHenteTaushetsbelagtInfo", "kanVaereGradertAdresse", "navn", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "kanHenteTaushetsbelagtInfo" : {
            "type" : "boolean"
          },
          "kanVaereGradertAdresse" : {
            "type" : "boolean"
          }
        }
      },
      "Part" : {
        "required" : [ "kanHenteTaushetsbelagtInfo", "kanVaereGradertAdresse", "navn", "opplysninger", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "kanHenteTaushetsbelagtInfo" : {
            "type" : "boolean"
          },
          "kanVaereGradertAdresse" : {
            "type" : "boolean"
          },
          "opplysninger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Opplysning"
            }
          }
        }
      },
      "RolleDefinisjonV3" : {
        "required" : [ "aktiv", "antallEksterneBrukere", "antallEksterneGrupper", "antallIntegrasjoner", "antallPersoner", "autorisasjonRolleId", "bruksomrader", "dataminimering", "fiksOrgId", "id", "kanBrukesPaSokeside", "kanHenteTaushetsbelagtInfo", "navn", "privilegium", "tagger", "tjenesteOmrade" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "autorisasjonRolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "privilegium" : {
            "type" : "string"
          },
          "tjenesteOmrade" : {
            "$ref" : "#/components/schemas/TjenesteomradeBeskrivelse"
          },
          "bruksomrader" : {
            "$ref" : "#/components/schemas/BruksomradeListeV2"
          },
          "dataminimering" : {
            "$ref" : "#/components/schemas/DataminimeringV3"
          },
          "aktiv" : {
            "type" : "boolean"
          },
          "tagger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Tagg"
            }
          },
          "antallPersoner" : {
            "type" : "integer",
            "description" : "Antall personer som har fått tilgang til rollen. Blir kun populert ved oppslag",
            "format" : "int64"
          },
          "antallIntegrasjoner" : {
            "type" : "integer",
            "description" : "Antall integrasjon som har fått tilgang til rollen. Blir kun populert ved oppslag",
            "format" : "int64"
          },
          "antallEksterneBrukere" : {
            "type" : "integer",
            "description" : "Antall eksterne brukere (synket via SCIM2) som har fått tilgang til rollen. Blir kun populert ved oppslag",
            "format" : "int64"
          },
          "antallEksterneGrupper" : {
            "type" : "integer",
            "description" : "Antall eksterne grupper (synket via SCIM2) som har fått tilgang til rollen. Blir kun populert ved oppslag",
            "format" : "int64"
          },
          "datoOpprettet" : {
            "type" : "string"
          },
          "gyldighet" : {
            "$ref" : "#/components/schemas/RolleGyldighet"
          },
          "kanBrukesPaSokeside" : {
            "type" : "boolean"
          },
          "kanHenteTaushetsbelagtInfo" : {
            "type" : "boolean"
          }
        }
      },
      "RolleGyldighet" : {
        "required" : [ "api", "asynkron", "soekWeb", "uttrekkWeb" ],
        "type" : "object",
        "properties" : {
          "api" : {
            "type" : "boolean"
          },
          "soekWeb" : {
            "type" : "boolean"
          },
          "uttrekkWeb" : {
            "type" : "boolean"
          },
          "asynkron" : {
            "type" : "boolean"
          }
        }
      },
      "Tagg" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string"
          }
        }
      },
      "TjenesteomradeBeskrivelse" : {
        "required" : [ "beskrivelse", "gyldig", "kanHenteTaushetsbelagtInfo", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "kanHenteTaushetsbelagtInfo" : {
            "type" : "boolean"
          },
          "gyldig" : {
            "type" : "boolean"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "TilgangListe" : {
        "required" : [ "eksterneBrukere", "eksterneGrupper", "integrasjoner", "personer" ],
        "type" : "object",
        "properties" : {
          "integrasjoner" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "personer" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "eksterneBrukere" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "eksterneGrupper" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "RollePersonSokDefinisjonV3" : {
        "required" : [ "bruksomrader", "dataminimering", "fiksOrgId", "fiksOrgNavn", "gyldighet", "id", "kanBrukesPaSokeside", "kanHenteTaushetsbelagtInfo", "navn", "tjenesteOmrade" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fiksOrgNavn" : {
            "type" : "string"
          },
          "kommunenr" : {
            "type" : "string"
          },
          "tjenesteOmrade" : {
            "$ref" : "#/components/schemas/TjenesteomradeBeskrivelse"
          },
          "bruksomrader" : {
            "$ref" : "#/components/schemas/BruksomradeListeV2"
          },
          "dataminimering" : {
            "$ref" : "#/components/schemas/DataminimeringV3"
          },
          "datoOpprettet" : {
            "type" : "string"
          },
          "gyldighet" : {
            "$ref" : "#/components/schemas/RolleGyldighet"
          },
          "kanBrukesPaSokeside" : {
            "type" : "boolean"
          },
          "kanHenteTaushetsbelagtInfo" : {
            "type" : "boolean"
          }
        }
      },
      "DataminimeringInputV3" : {
        "required" : [ "opplysninger" ],
        "type" : "object",
        "properties" : {
          "parts" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PartNavn"
            }
          },
          "opplysninger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OpplysningNavn"
            }
          }
        }
      },
      "OpplysningNavn" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          }
        }
      },
      "OpprettRolleDefinisjonV3" : {
        "required" : [ "bruksomrader", "dataminimering", "kanBrukesPaSokeside", "kanHenteTaushetsbelagtInfo", "navn", "tjenesteOmrade" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "tjenesteOmrade" : {
            "type" : "string",
            "enum" : [ "BARNEVERN", "HELSE", "GRAVFERDSMYNDIGHET", "OMSORG", "OPPVEKST", "BARNEHAGE", "SKATTEOPPKREVER", "SOSIAL", "TEKNISK", "STOTTE", "INNBYGGERTJENESTER", "NAERINGSLIV", "VALG", "INNFORDRING_INNKREVING", "INNVANDRING_OG_INTEGRERING", "SAMFUNNSSIKKERHET", "DEMOKRATI_AAPENHET", "TRAFIKK_TRANSPORT", "FORELDREBETALING_SFO_BARNEHAGE" ]
          },
          "dataminimering" : {
            "$ref" : "#/components/schemas/DataminimeringInputV3"
          },
          "bruksomrader" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "SOK", "INNBYGGERLISTER", "HENDELSER" ]
            }
          },
          "tagger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Tagg"
            }
          },
          "kanBrukesPaSokeside" : {
            "type" : "boolean"
          },
          "kanHenteTaushetsbelagtInfo" : {
            "type" : "boolean"
          },
          "tilganger" : {
            "$ref" : "#/components/schemas/TilgangDefinisjon"
          }
        }
      },
      "PartNavn" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          }
        }
      },
      "TilgangDefinisjon" : {
        "type" : "object",
        "properties" : {
          "aktorer" : {
            "maxItems" : 2147483647,
            "minItems" : 1,
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "OppdaterRolleDefinisjonV3" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "dataminimering" : {
            "$ref" : "#/components/schemas/DataminimeringInputV3"
          },
          "kanBrukesPaSokeside" : {
            "type" : "boolean"
          },
          "bruksomrader" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "SOK", "INNBYGGERLISTER", "HENDELSER" ]
            }
          }
        }
      },
      "FolkeregisterKonfigurasjonDefinisjon" : {
        "required" : [ "kontakteposter" ],
        "type" : "object",
        "properties" : {
          "kontakteposter" : {
            "maxItems" : 2147483647,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "Lovhjemmel" : {
        "type" : "object",
        "properties" : {
          "beskrivelse" : {
            "type" : "string"
          },
          "omrader" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "BARNEVERN", "HELSE", "GRAVFERDSMYNDIGHET", "OMSORG", "OPPVEKST", "BARNEHAGE", "SKATTEOPPKREVER", "SOSIAL", "TEKNISK", "STOTTE", "INNBYGGERTJENESTER", "NAERINGSLIV", "VALG", "INNFORDRING_INNKREVING", "INNVANDRING_OG_INTEGRERING", "SAMFUNNSSIKKERHET", "DEMOKRATI_AAPENHET", "TRAFIKK_TRANSPORT", "FORELDREBETALING_SFO_BARNEHAGE" ]
            }
          },
          "urler" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "LovhjemmelListe" : {
        "required" : [ "lovhjemler" ],
        "type" : "object",
        "properties" : {
          "lovhjemler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Lovhjemmel"
            }
          }
        }
      },
      "TjenesteomradeListe" : {
        "required" : [ "omrader" ],
        "type" : "object",
        "properties" : {
          "omrader" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/TjenesteomradeBeskrivelse"
            }
          }
        }
      },
      "PartListe" : {
        "required" : [ "parts" ],
        "type" : "object",
        "properties" : {
          "parts" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Part"
            }
          }
        }
      },
      "StatusResponse" : {
        "required" : [ "altOk", "subsystem" ],
        "type" : "object",
        "properties" : {
          "subsystem" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SubsystemVerifisering"
            }
          },
          "altOk" : {
            "type" : "boolean"
          }
        }
      },
      "SubsystemVerifisering" : {
        "required" : [ "navn", "verifikasjonBeskrivelse", "verifisering" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "verifikasjonBeskrivelse" : {
            "type" : "string"
          },
          "verifisering" : {
            "$ref" : "#/components/schemas/Verifisering"
          }
        }
      },
      "Verifisering" : {
        "required" : [ "status", "suksess" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "enum" : [ "OK", "IKKE_UTFORT", "FEILET", "UTILGJENGELIG" ]
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "suksess" : {
            "type" : "boolean"
          }
        }
      },
      "SjekkRequest" : {
        "required" : [ "fiksOrgId" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "rolleId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "AdministrasjonListe" : {
        "required" : [ "eksterneBrukere", "eksterneGrupper", "personer" ],
        "type" : "object",
        "properties" : {
          "personer" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "eksterneBrukere" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "eksterneGrupper" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "RolleMedNavn" : {
        "required" : [ "fiksOrgId", "navn" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "RolleMedTilgangListe" : {
        "required" : [ "administratorer", "rolle", "tilganger" ],
        "type" : "object",
        "properties" : {
          "rolle" : {
            "$ref" : "#/components/schemas/RolleMedNavn"
          },
          "tilganger" : {
            "$ref" : "#/components/schemas/TilgangListe"
          },
          "administratorer" : {
            "$ref" : "#/components/schemas/AdministrasjonListe"
          }
        }
      },
      "RolleOversikt" : {
        "required" : [ "roller" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "roller" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RolleMedTilgangListe"
            }
          }
        }
      }
    }
  }
}