{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Folkeregister konfigurasjon service",
    "description" : "Folkeregister konfigurasjon service",
    "contact" : {
      "name" : "KS Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "folkeregister-konfigurasjon",
    "description" : "API for å håndtere funksjonalitet rundt konfigurasjon av folkeregister"
  } ],
  "paths" : {
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}/roller/{rolleId}/aktiver" : {
      "put" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Aktiverer gitt rolle for gitt organisasjon",
        "operationId" : "aktiverRolleV1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}/roller/{rolleId}/deaktiver" : {
      "put" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Deaktiverer gitt rolle for gitt organisasjon",
        "operationId" : "deaktiverRolleV1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}/roller/{rolleId}/tagger/{tagg}" : {
      "delete" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Fjerner tagg for gitt rolle",
        "operationId" : "fjernTaggV1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tagg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjon"
                }
              }
            }
          },
          "404" : {
            "description" : "UkjentRolle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Taggen er ikke definert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}/roller/{rolleId}/tilganger" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste over tildelte tilganger for en rolle",
        "operationId" : "hentAlleTilgangerV1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "Fant ikke rollen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TilgangListe"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}/roller/{rolleId}" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter gitt rolle for gitt organisasjon",
        "operationId" : "hentRolleV1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Fant rolle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjon"
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Oppdaterer gitt rolle for gitt organisasjon",
        "operationId" : "oppdaterRolleV1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterRolleDefinisjonV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Sletter gitt rolle for gitt organisasjon",
        "operationId" : "slettRolleV1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/roller" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter alle roller som innlogget aktør har tilgang til å søke med",
        "operationId" : "hentRollerForAktorV1",
        "responses" : {
          "200" : {
            "description" : "Fant rolle(r)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RollePersonSokDefinisjon"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}/roller" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter roller for gitt organisasjon",
        "operationId" : "hentRollerForOrganisasjonV1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Fant rolle(r)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RolleDefinisjon"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Oppretter rolle for gitt organisasjon",
        "operationId" : "opprettRolleV1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettRolleDefinisjonV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter gjeldende konfigurasjon for en organisasjon",
        "operationId" : "hentKonfigurasjonV1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FolkeregisterKonfigurasjonDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Oppdaterer konfigurasjon for en organisasjon",
        "operationId" : "oppdaterKonfigurasjonV1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FolkeregisterKonfigurasjonDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FolkeregisterKonfigurasjonDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Oppretter konfigurasjon for en organisasjon",
        "operationId" : "opprettKonfigurasjonV1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FolkeregisterKonfigurasjonDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FolkeregisterKonfigurasjonDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/lovhjemler" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste over lovhjemler",
        "operationId" : "hentAlleLovhjemlerV1",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LovhjemmelListe"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/bruksomrader" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste over tilgjengelige tjenester",
        "operationId" : "hentBruksomrader",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BruksomradeListe"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/deler" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste over alle deler samt hvilke felt de inneholder som brukes til dataminimering",
        "operationId" : "hentDelerV1",
        "responses" : {
          "200" : {
            "description" : "Liste med deler",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DelListe"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/lovhjemler/{omrade}" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter alle lovhjemler for gitt fagområde",
        "operationId" : "hentLovhjemlerForOmradeV1",
        "parameters" : [ {
          "name" : "omrade",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/tjenesteomrader" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste med alle omrader",
        "operationId" : "hentOmraderV1",
        "responses" : {
          "200" : {
            "description" : "Liste med tjenesteområder",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TjenesteomradeListe"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/verifiser" : {
      "post" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Sjekker konfigurasjon for gitt fiksOrg",
        "operationId" : "verifiserKonfigurasjonV1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SjekkRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "DataminimeringInput" : {
        "type" : "object",
        "properties" : {
          "deler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DelNavn"
            }
          },
          "felt" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FeltNavn"
            }
          }
        }
      },
      "DelNavn" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          }
        }
      },
      "FeltNavn" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          }
        }
      },
      "RolleDefinisjon" : {
        "required" : [ "aktiv", "antallIntegrasjoner", "antallPersoner", "autorisasjonRolleId", "bruksomrader", "dataminimering", "fiksOrgId", "id", "navn", "privilegium", "rettighetspakke", "tagger", "tjenesteOmrade" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "autorisasjonRolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "rettighetspakke" : {
            "type" : "string",
            "enum" : [ "OFFENTLIG_MED_HJEMMEL", "OFFENTLIG_UTEN_HJEMMEL" ]
          },
          "privilegium" : {
            "type" : "string"
          },
          "tjenesteOmrade" : {
            "$ref" : "#/components/schemas/TjenesteomradeBeskrivelse"
          },
          "bruksomrader" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "OPPSLAG", "HENDELSESLISTE", "UTTREKK" ]
            }
          },
          "dataminimering" : {
            "$ref" : "#/components/schemas/DataminimeringInput"
          },
          "aktiv" : {
            "type" : "boolean"
          },
          "tagger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Tagg"
            }
          },
          "antallPersoner" : {
            "type" : "integer",
            "description" : "Antall personer som har fått tilgang til rollen. Blir kun populert ved oppslag",
            "format" : "int64"
          },
          "antallIntegrasjoner" : {
            "type" : "integer",
            "description" : "Antall integrasjon som har fått tilgang til rollen. Blir kun populert ved oppslag",
            "format" : "int64"
          },
          "datoOpprettet" : {
            "type" : "string"
          },
          "gyldighet" : {
            "$ref" : "#/components/schemas/RolleGyldighet"
          }
        }
      },
      "RolleGyldighet" : {
        "required" : [ "api", "asynkron", "soekWeb", "uttrekkWeb" ],
        "type" : "object",
        "properties" : {
          "api" : {
            "type" : "boolean"
          },
          "soekWeb" : {
            "type" : "boolean"
          },
          "uttrekkWeb" : {
            "type" : "boolean"
          },
          "asynkron" : {
            "type" : "boolean"
          }
        }
      },
      "Tagg" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string"
          }
        }
      },
      "TjenesteomradeBeskrivelse" : {
        "required" : [ "beskrivelse", "gyldig", "kanHenteTaushetsbelagtInfo", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "kanHenteTaushetsbelagtInfo" : {
            "type" : "boolean"
          },
          "gyldig" : {
            "type" : "boolean"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "TilgangListe" : {
        "type" : "object",
        "properties" : {
          "integrasjoner" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "personer" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "Dataminimering" : {
        "type" : "object",
        "properties" : {
          "deler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Del"
            }
          },
          "felt" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Felt"
            }
          }
        }
      },
      "Del" : {
        "required" : [ "felt", "kanHenteTaushetsbelagtInfo", "kanVaereGradertAdresse", "navn", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "kanHenteTaushetsbelagtInfo" : {
            "type" : "boolean"
          },
          "kanVaereGradertAdresse" : {
            "type" : "boolean"
          },
          "felt" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Felt"
            }
          }
        }
      },
      "Felt" : {
        "required" : [ "kanHenteTaushetsbelagtInfo", "kanVaereGradertAdresse", "navn", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "kanHenteTaushetsbelagtInfo" : {
            "type" : "boolean"
          },
          "kanVaereGradertAdresse" : {
            "type" : "boolean"
          }
        }
      },
      "RollePersonSokDefinisjon" : {
        "required" : [ "bruksomrader", "dataminimering", "fiksOrgId", "fiksOrgNavn", "gyldighet", "id", "navn", "rettighetspakke", "tjenesteOmrade" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fiksOrgNavn" : {
            "type" : "string"
          },
          "kommunenr" : {
            "type" : "string"
          },
          "rettighetspakke" : {
            "type" : "string",
            "enum" : [ "OFFENTLIG_MED_HJEMMEL", "OFFENTLIG_UTEN_HJEMMEL" ]
          },
          "tjenesteOmrade" : {
            "type" : "string",
            "enum" : [ "BARNEVERN", "HELSE", "GRAVFERDSMYNDIGHET", "OMSORG", "OPPVEKST", "BARNEHAGE", "SKATTEOPPKREVER", "SOSIAL", "TEKNISK", "STOTTE", "INNBYGGERTJENESTER", "NAERINGSLIV" ]
          },
          "bruksomrader" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "OPPSLAG", "HENDELSESLISTE", "UTTREKK" ]
            }
          },
          "dataminimering" : {
            "$ref" : "#/components/schemas/Dataminimering"
          },
          "datoOpprettet" : {
            "type" : "string"
          },
          "gyldighet" : {
            "$ref" : "#/components/schemas/RolleGyldighet"
          }
        }
      },
      "OppdaterRolleDefinisjonV1" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "dataminimering" : {
            "$ref" : "#/components/schemas/DataminimeringInput"
          }
        }
      },
      "OpprettRolleDefinisjonV1" : {
        "required" : [ "bruksomrader", "dataminimering", "navn", "tjenesteOmrade" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "tjenesteOmrade" : {
            "type" : "string",
            "enum" : [ "BARNEVERN", "HELSE", "GRAVFERDSMYNDIGHET", "OMSORG", "OPPVEKST", "BARNEHAGE", "SKATTEOPPKREVER", "SOSIAL", "TEKNISK", "STOTTE", "INNBYGGERTJENESTER", "NAERINGSLIV" ]
          },
          "dataminimering" : {
            "$ref" : "#/components/schemas/DataminimeringInput"
          },
          "bruksomrader" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "OPPSLAG", "HENDELSESLISTE", "UTTREKK" ]
            }
          },
          "tagger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Tagg"
            }
          },
          "rettighetspakke" : {
            "type" : "string",
            "enum" : [ "OFFENTLIG_MED_HJEMMEL", "OFFENTLIG_UTEN_HJEMMEL" ]
          }
        }
      },
      "FolkeregisterKonfigurasjonDefinisjon" : {
        "required" : [ "kontakteposter" ],
        "type" : "object",
        "properties" : {
          "kontakteposter" : {
            "maxItems" : 2147483647,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "Lovhjemmel" : {
        "type" : "object",
        "properties" : {
          "beskrivelse" : {
            "type" : "string"
          },
          "omrader" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "BARNEVERN", "HELSE", "GRAVFERDSMYNDIGHET", "OMSORG", "OPPVEKST", "BARNEHAGE", "SKATTEOPPKREVER", "SOSIAL", "TEKNISK", "STOTTE", "INNBYGGERTJENESTER", "NAERINGSLIV" ]
            }
          },
          "urler" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "LovhjemmelListe" : {
        "required" : [ "lovhjemler" ],
        "type" : "object",
        "properties" : {
          "lovhjemler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Lovhjemmel"
            }
          }
        }
      },
      "BruksomradeBeskrivelse" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "leverandor" : {
            "type" : "string",
            "enum" : [ "SKATT", "KS" ]
          }
        }
      },
      "BruksomradeListe" : {
        "required" : [ "bruksomrader" ],
        "type" : "object",
        "properties" : {
          "bruksomrader" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BruksomradeBeskrivelse"
            }
          }
        }
      },
      "DelListe" : {
        "required" : [ "deler" ],
        "type" : "object",
        "properties" : {
          "deler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Del"
            }
          }
        }
      },
      "TjenesteomradeListe" : {
        "required" : [ "omrader" ],
        "type" : "object",
        "properties" : {
          "omrader" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/TjenesteomradeBeskrivelse"
            }
          }
        }
      },
      "StatusResponse" : {
        "required" : [ "altOk", "subsystem" ],
        "type" : "object",
        "properties" : {
          "subsystem" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SubsystemVerifisering"
            }
          },
          "altOk" : {
            "type" : "boolean"
          }
        }
      },
      "SubsystemVerifisering" : {
        "required" : [ "navn", "verifikasjonBeskrivelse", "verifisering" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "verifikasjonBeskrivelse" : {
            "type" : "string"
          },
          "verifisering" : {
            "$ref" : "#/components/schemas/Verifisering"
          }
        }
      },
      "Verifisering" : {
        "required" : [ "status", "suksess" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "enum" : [ "OK", "IKKE_UTFORT", "FEILET" ]
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "suksess" : {
            "type" : "boolean"
          }
        }
      },
      "SjekkRequest" : {
        "required" : [ "fiksOrgId" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "rolleId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      }
    }
  }
}