{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Folkeregister konfigurasjon service",
    "description" : "Folkeregister konfigurasjon service",
    "contact" : {
      "name" : "KS Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v3"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "folkeregister-konfigurasjon",
    "description" : "API for å håndtere funksjonalitet rundt konfigurasjon av folkeregister"
  }, {
    "name" : "tilganger",
    "description" : "API rundt det å håndtere tilganger til roller"
  } ],
  "paths" : {
    "/folkeregister/api/v3/konfigurasjon/lovhjemler" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste over lovhjemler",
        "operationId" : "hentAlleLovhjemlerV3",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LovhjemmelListe"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/bruksomrader" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste over tilgjengelige tjenester",
        "operationId" : "hentBruksomraderV3",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BruksomradeListeV2"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/tjenesteomrader" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste med alle områder",
        "operationId" : "hentOmraderV3",
        "responses" : {
          "200" : {
            "description" : "Liste med tjenesteområder",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TjenesteomradeListe"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/parts" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste over alle parts samt hvilke opplysninger de inneholder som brukes til dataminimering",
        "operationId" : "hentPartsV3",
        "responses" : {
          "200" : {
            "description" : "Liste med parts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PartListe"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/verifiser" : {
      "post" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Sjekker konfigurasjon for gitt fiksOrg",
        "operationId" : "verifiserKonfigurasjonV3",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SjekkRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/tilganger/{fiksOrgId}.json" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon", "tilganger" ],
        "description" : "Henter liste over tilganger gitt til alle roller som er definert",
        "operationId" : "tilgangerForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleOversikt"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/folkeregister/api/v3/konfigurasjon/tilganger/{fiksOrgId}.csv" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon", "tilganger" ],
        "description" : "Henter liste over tilganger gitt til alle roller som er definert som CSV",
        "operationId" : "tilgangerForFiksOrgCsv",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "text/csv" : {
                "example" : "Rollenavn,Person,Tilgangstype\n\"Rollen vår\",\n,01017012345,Bruker\n,02107192001,Administrator"
              }
            }
          }
        },
        "deprecated" : true
      }
    }
  },
  "components" : {
    "schemas" : {
      "Lovhjemmel" : {
        "type" : "object",
        "properties" : {
          "beskrivelse" : {
            "type" : "string"
          },
          "omrader" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "BARNEVERN", "HELSE", "GRAVFERDSMYNDIGHET", "OMSORG", "OPPVEKST", "BARNEHAGE", "SKATTEOPPKREVER", "SOSIAL", "TEKNISK", "STOTTE", "INNBYGGERTJENESTER", "NAERINGSLIV", "VALG", "INNFORDRING_INNKREVING", "INNVANDRING_OG_INTEGRERING", "SAMFUNNSSIKKERHET", "DEMOKRATI_AAPENHET", "TRAFIKK_TRANSPORT", "FORELDREBETALING_SFO_BARNEHAGE", "HELSE_PRAKTISK_BISTAND", "HELSE_LANGTIDSOPPHOLD_INSTITUSJON" ]
            }
          },
          "urler" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "LovhjemmelListe" : {
        "required" : [ "lovhjemler" ],
        "type" : "object",
        "properties" : {
          "lovhjemler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Lovhjemmel"
            }
          }
        }
      },
      "BruksomradeBeskrivelseV2" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "leverandor" : {
            "type" : "string",
            "enum" : [ "SKATT", "KS" ]
          }
        }
      },
      "BruksomradeListeV2" : {
        "required" : [ "bruksomrader" ],
        "type" : "object",
        "properties" : {
          "bruksomrader" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BruksomradeBeskrivelseV2"
            }
          }
        }
      },
      "TjenesteomradeBeskrivelse" : {
        "required" : [ "beskrivelse", "gyldig", "kanHenteTaushetsbelagtInfo", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "kanHenteTaushetsbelagtInfo" : {
            "type" : "boolean"
          },
          "gyldig" : {
            "type" : "boolean"
          }
        }
      },
      "TjenesteomradeListe" : {
        "required" : [ "omrader" ],
        "type" : "object",
        "properties" : {
          "omrader" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/TjenesteomradeBeskrivelse"
            }
          }
        }
      },
      "Opplysning" : {
        "required" : [ "kanHenteTaushetsbelagtInfo", "kanVaereGradertAdresse", "navn", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "kanHenteTaushetsbelagtInfo" : {
            "type" : "boolean"
          },
          "kanVaereGradertAdresse" : {
            "type" : "boolean"
          }
        }
      },
      "Part" : {
        "required" : [ "kanHenteTaushetsbelagtInfo", "kanVaereGradertAdresse", "navn", "opplysninger", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "kanHenteTaushetsbelagtInfo" : {
            "type" : "boolean"
          },
          "kanVaereGradertAdresse" : {
            "type" : "boolean"
          },
          "opplysninger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Opplysning"
            }
          }
        }
      },
      "PartListe" : {
        "required" : [ "parts" ],
        "type" : "object",
        "properties" : {
          "parts" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Part"
            }
          }
        }
      },
      "StatusResponse" : {
        "required" : [ "altOk", "subsystem" ],
        "type" : "object",
        "properties" : {
          "subsystem" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SubsystemVerifisering"
            }
          },
          "altOk" : {
            "type" : "boolean"
          }
        }
      },
      "SubsystemVerifisering" : {
        "required" : [ "navn", "verifikasjonBeskrivelse", "verifisering" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "verifikasjonBeskrivelse" : {
            "type" : "string"
          },
          "verifisering" : {
            "$ref" : "#/components/schemas/Verifisering"
          }
        }
      },
      "Verifisering" : {
        "required" : [ "status", "suksess" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "enum" : [ "OK", "IKKE_UTFORT", "FEILET", "UTILGJENGELIG" ]
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "suksess" : {
            "type" : "boolean"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "SjekkRequest" : {
        "required" : [ "fiksOrgId" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "rolleId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "AdministrasjonListe" : {
        "required" : [ "eksterneBrukere", "eksterneGrupper", "personer" ],
        "type" : "object",
        "properties" : {
          "personer" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "eksterneBrukere" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "eksterneGrupper" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "RolleMedNavn" : {
        "required" : [ "fiksOrgId", "navn" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "RolleMedTilgangListe" : {
        "required" : [ "administratorer", "rolle", "tilganger" ],
        "type" : "object",
        "properties" : {
          "rolle" : {
            "$ref" : "#/components/schemas/RolleMedNavn"
          },
          "tilganger" : {
            "$ref" : "#/components/schemas/TilgangListe"
          },
          "administratorer" : {
            "$ref" : "#/components/schemas/AdministrasjonListe"
          }
        }
      },
      "RolleOversikt" : {
        "required" : [ "roller" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "roller" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RolleMedTilgangListe"
            }
          }
        }
      },
      "TilgangListe" : {
        "required" : [ "eksterneBrukere", "eksterneGrupper", "integrasjoner", "personer" ],
        "type" : "object",
        "properties" : {
          "integrasjoner" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "personer" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "eksterneBrukere" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "eksterneGrupper" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      }
    }
  }
}