{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Folkregister konfigurasjon service",
    "description" : "Folkregister konfigurasjon service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utv@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "folkeregister-konfigurasjon",
    "description" : "API for å håndtere funksjonalitet rundt konfigurasjon av Folkeregister"
  } ],
  "paths" : {
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}/roller" : {
      "post" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Oppretter rolle for gitt organisasjon",
        "operationId" : "opprettRolle",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettRolleDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}/roller/{rolleId}" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter gitt rolle for gitt organisasjon",
        "operationId" : "hentRolle",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Fant rolle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjon"
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Oppdaterer gitt rolle for gitt organisasjon",
        "operationId" : "oppdaterRolle",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterRolleDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}/roller/{rolleId}/aktiver" : {
      "put" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Aktiverer gitt rolle for gitt organisasjon",
        "operationId" : "aktiverRolle",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}/roller/{rolleId}/deaktiver" : {
      "put" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Deaktiverer gitt rolle for gitt organisasjon",
        "operationId" : "deaktiverRolle",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter gjeldende konfigurasjon for en organisasjon",
        "operationId" : "hentKonfigurasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FolkeregisterKonfigurasjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "RolleDefinisjon" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "autorisasjonRolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "tjenesteOmrade" : {
            "$ref" : "#/components/schemas/TjenesteOmrade"
          },
          "felt" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "ID", "ID_GRUNNLAG", "STATUS", "DODSFALL", "SIVILSTAND", "FODSEL", "STATSBORGERSKAP", "KJONN", "NAVN", "PREFERERT_KONTAKTADRESSE", "BOSTEDSADRESSE", "OPPHOLDSADRESSE", "DELT_BOSTED", "POSTADRESSE", "POSTADRESSE_UTLAND", "ADRESSEBESKYTTELSE", "KONTAKTINFORMASJON_DODSBO", "FALSK_IDENTITET", "LEGITIMASJON_DOKUMENT", "UTENLANDSK_PERSON_IDENTIFIKASJON", "FAMILIE_RELASJON", "FORELDREANSVAR", "VERGEMAL_ELLER_FREMTIDSFULLMAKT", "UD_IDNUMMER", "INNFLYTTING", "UTFLYTTING", "FODSEL_NORGE", "OPPHOLD", "FORHOLD_TIL_SAMETINGETS_VALGMANTALL", "SAMISK_SPRAK", "HISTORIKK" ]
            }
          },
          "aktiv" : {
            "type" : "boolean"
          }
        }
      },
      "TjenesteOmrade" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "OpprettRolleDefinisjon" : {
        "required" : [ "felt", "navn", "tjenesteOmrade" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "tjenesteOmrade" : {
            "$ref" : "#/components/schemas/TjenesteOmrade"
          },
          "felt" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "ID", "ID_GRUNNLAG", "STATUS", "DODSFALL", "SIVILSTAND", "FODSEL", "STATSBORGERSKAP", "KJONN", "NAVN", "PREFERERT_KONTAKTADRESSE", "BOSTEDSADRESSE", "OPPHOLDSADRESSE", "DELT_BOSTED", "POSTADRESSE", "POSTADRESSE_UTLAND", "ADRESSEBESKYTTELSE", "KONTAKTINFORMASJON_DODSBO", "FALSK_IDENTITET", "LEGITIMASJON_DOKUMENT", "UTENLANDSK_PERSON_IDENTIFIKASJON", "FAMILIE_RELASJON", "FORELDREANSVAR", "VERGEMAL_ELLER_FREMTIDSFULLMAKT", "UD_IDNUMMER", "INNFLYTTING", "UTFLYTTING", "FODSEL_NORGE", "OPPHOLD", "FORHOLD_TIL_SAMETINGETS_VALGMANTALL", "SAMISK_SPRAK", "HISTORIKK" ]
            }
          }
        }
      },
      "OppdaterRolleDefinisjon" : {
        "required" : [ "aktiv", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "aktiv" : {
            "type" : "boolean"
          }
        }
      },
      "FolkeregisterKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      }
    }
  }
}