{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS SvarUt: Send forsendelse-API",
    "description" : "API for sending av forsendelser",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v2"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Send",
    "description" : "API for sending av forsendelser"
  } ],
  "paths" : {
    "/api/v2/kontoer/{kontoId}/forsendelser" : {
      "post" : {
        "tags" : [ "Send" ],
        "description" : "Sender forsendelse fra konto",
        "operationId" : "send",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "ForsendelseId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SendForsendelseResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Feil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Adresse" : {
        "required" : [ "navn", "poststed" ],
        "type" : "object",
        "properties" : {
          "digitalId" : {
            "type" : "string",
            "description" : "Fødelsnummer for person, eller organisasjonsnummer for organisasjon. Nødvendig for å sende forsendelsen digitalt. Påkrevd for mottaker ved kun digital levering."
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på person eller organisasjon"
          },
          "adresselinje1" : {
            "type" : "string",
            "description" : "Første adresselinje"
          },
          "adresselinje2" : {
            "type" : "string",
            "description" : "Andre adresselinje"
          },
          "adresselinje3" : {
            "type" : "string",
            "description" : "Tredje adresselinje"
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed"
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Postnummer. Påkrevd for norske adresser."
          },
          "land" : {
            "type" : "string",
            "description" : "Land. Ikke nødvendig å sette for norske adresser."
          }
        },
        "description" : "Mottaker det skal sendes til dersom man ønsker å svare på forsendelsen."
      },
      "Dokument" : {
        "required" : [ "filnavn", "mimeType" ],
        "type" : "object",
        "properties" : {
          "filnavn" : {
            "maxLength" : 226,
            "type" : "string",
            "description" : "Filnavn. Må være unikt for denne forsendelsen. Kan ikke inneholde noen av følgende tegn: * : \" \\ / < > | ?"
          },
          "mimeType" : {
            "type" : "string",
            "description" : "MIME type. Kun application/pdf kan printes. Dersom man ønsker å sende andre typer filer må forsendelsen markeres som kun digital, ellers må disse filene markeres som eksludert fra utskrift."
          },
          "skalSigneres" : {
            "type" : "boolean",
            "description" : "Angir om dette dokumentet skal signeres. Kun ett dokument kan signeres, og det må ha mimeType application/pdf.",
            "default" : false
          },
          "dokumentType" : {
            "type" : "string",
            "description" : "Fritekstfelt som kan brukes til å fortelle noe om dokumentets type. Kan brukes til Noark 4-dokumenttype."
          },
          "giroarkSider" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Liste med sidetall som skal printes på gult giroark. Digital versjon vil få grått giroark. Første side er 1.",
            "items" : {
              "type" : "integer",
              "description" : "Liste med sidetall som skal printes på gult giroark. Digital versjon vil få grått giroark. Første side er 1.",
              "format" : "int32"
            }
          },
          "skalEkskluderesFraUtskrift" : {
            "type" : "boolean",
            "description" : "Dersom denne settes til true vil ikke dokumentet bli med ved eventuell utskrift av forsendelsen. Må benyttes for alle filer som ikke er av type application/pdf, med mindre forsendelsen markeres som kun digital.",
            "default" : false
          },
          "ekstraMetadata" : {
            "type" : "array",
            "description" : "Kan benyttes til andre data som avsender vil ha med i forsendelsen.",
            "items" : {
              "$ref" : "#/components/schemas/Metadata"
            }
          },
          "inneholderPersonsensitivInformasjon" : {
            "type" : "boolean",
            "description" : "Brukes for å gjøre mottaker oppmerksom på at dokumentet kan inneholde sensitiv informasjon.",
            "default" : false
          }
        },
        "description" : "Forsendelsens dokumenter. Innsendt rekkefølge overholdes i generert brev. Total filstørrelse inntil 350 MB er støttet dersom forsendelsen skal kunne gå til print."
      },
      "Forsendelse" : {
        "required" : [ "dokumenter", "mottaker", "tittel" ],
        "type" : "object",
        "properties" : {
          "mottaker" : {
            "$ref" : "#/components/schemas/Adresse"
          },
          "eksponertFor" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Liste med fødselsnummer og organisasjonsnummer som skal få tilgang til å laste ned forsendelsens dokumenter.",
            "items" : {
              "type" : "string",
              "description" : "Liste med fødselsnummer og organisasjonsnummer som skal få tilgang til å laste ned forsendelsens dokumenter."
            }
          },
          "avgivendeSystem" : {
            "type" : "string",
            "description" : "Identifiserer systemet som sender forsendelsen. Kan blant annet benyttes for statistikk og feilsøking."
          },
          "tittel" : {
            "maxLength" : 1000,
            "type" : "string",
            "description" : "Tittel på forsendelsen. Tittel blir vist i tittelfeltet på melding i digitale postkasser, og i listen over innkommende meldinger."
          },
          "konteringskode" : {
            "pattern" : "^[a-zA-Z0-9_\\-.øæåØÆÅ]{0,20}$",
            "type" : "string",
            "description" : "Kode som beskriver faktureringskonto for forsendelsen. Kan benyttes for å gruppere meldingsstatistikk gjennom forvaltningsløsningen, og sendes videre til print-leverandør."
          },
          "kunDigitalLevering" : {
            "type" : "boolean",
            "description" : "Dersom denne settes til true vil forsendelsen ikke under noen omstendigheter bli printet. INGEN GARANTI OM LEVERANSE. Dersom vi ikke klarer å levere via noen digitale kanaler får avsender ingen tilbakemelding.",
            "default" : false
          },
          "kryptert" : {
            "type" : "boolean",
            "description" : "Settes til true dersom filene som sendes er kryptert med CMS ved bruk av SvarUt sin public-key."
          },
          "utskriftskonfigurasjon" : {
            "$ref" : "#/components/schemas/Utskriftskonfigurasjon"
          },
          "krevNiva4Innlogging" : {
            "type" : "boolean",
            "description" : "Dersom denne settes til true vil det kreves nivå 4-innlogging ved nedlasting eller signering. Dokumentene må da krypteres før innsending.",
            "default" : false
          },
          "metadataFraAvleverendeSystem" : {
            "$ref" : "#/components/schemas/NoarkMetadataFraAvleverendeSaksSystem"
          },
          "metadataForImport" : {
            "$ref" : "#/components/schemas/NoarkMetadataForImport"
          },
          "svarSendesTil" : {
            "$ref" : "#/components/schemas/Adresse"
          },
          "svarPaForsendelse" : {
            "type" : "string",
            "description" : "Id til forsendelse dette er et svar på.",
            "format" : "uuid"
          },
          "dokumenter" : {
            "type" : "array",
            "description" : "Forsendelsens dokumenter. Innsendt rekkefølge overholdes i generert brev. Total filstørrelse inntil 350 MB er støttet dersom forsendelsen skal kunne gå til print.",
            "items" : {
              "$ref" : "#/components/schemas/Dokument"
            }
          },
          "lenker" : {
            "type" : "array",
            "description" : "Lenker som ved bruk av standardmaler blir sendt med i meldinger til digitale postkasser. Innsendt rekkefølge overholdes.",
            "items" : {
              "$ref" : "#/components/schemas/Lenke"
            }
          },
          "forsendelsestype" : {
            "type" : "string",
            "description" : "Fritekstfelt for å kunne identifisere forsendelsens type."
          },
          "eksternReferanse" : {
            "type" : "string",
            "description" : "Fritekstfelt for ekstern id tilknyttet forsendelsen. Kan benyttes til søk i SvarUt-grensesnittet, samt oppslag via API."
          },
          "svarPaForsendelseLink" : {
            "type" : "boolean",
            "description" : "Dersom dette feltet settes til true vil forsendelsen avvises om svarSendesTil ikke inneholder en gyldig adresse med organisasjonsnummer. Hvis forsendelsen aksepteres og sendes digitalt, vil det genereres en lenke hvor mottaker kan sende et svar tilbake til adressen spesifisert i svarSendesTil via eDialog.",
            "default" : false
          },
          "signeringUtloper" : {
            "type" : "string",
            "description" : "Dersom forsendelsen er et signeringsoppdrag angir dette hvor tidspunktet når signeringsoppdraget utløper. Må være minimum én dag frem i tid.",
            "format" : "date-time"
          },
          "signaturType" : {
            "type" : "string",
            "description" : "Dersom forsendelsen er et signeringsoppdrag angir dette hvilken type signature som skal benyttes.",
            "enum" : [ "AUTENTISERT_SIGNATUR", "AVANSERT_SIGNATUR" ]
          },
          "taushetsbelagtPost" : {
            "type" : "boolean",
            "description" : "Dersom denne settes til true vil forsendelsen, om den går til Altinn og mottaker er en organisasjon, sendes til tjenesten for taushetsbelagt post. Les mer om tilgangsstyring for taushetsbelagt post på https://minside.kommune.no/tbp.",
            "default" : false
          }
        }
      },
      "Lenke" : {
        "required" : [ "tekst", "url" ],
        "type" : "object",
        "properties" : {
          "url" : {
            "type" : "string",
            "description" : "Lenke til ressurs. Må være i gyldig i henhold til RFC 2396 og RFC 2732."
          },
          "tekst" : {
            "type" : "string",
            "description" : "Tekst for lenken."
          },
          "ledetekst" : {
            "type" : "string",
            "description" : "Tekst som kommer før lenken i den digitale meldingen."
          }
        },
        "description" : "Lenker som ved bruk av standardmaler blir sendt med i meldinger til digitale postkasser. Innsendt rekkefølge overholdes."
      },
      "Metadata" : {
        "type" : "object",
        "properties" : {
          "key" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          }
        },
        "description" : "Kan benyttes til andre data som avsender vil ha med i forsendelsen."
      },
      "NoarkMetadataForImport" : {
        "type" : "object",
        "properties" : {
          "sakssekvensnummer" : {
            "type" : "integer",
            "description" : "Noark 5 sakssekvensnummer",
            "format" : "int64"
          },
          "saksaar" : {
            "type" : "integer",
            "description" : "Noark 5 saksaar",
            "format" : "int32"
          },
          "journalposttype" : {
            "type" : "string",
            "description" : "Noark 5 journalposttype"
          },
          "journalstatus" : {
            "type" : "string",
            "description" : "Noark 5 journalstatus"
          },
          "dokumentetsDato" : {
            "type" : "string",
            "description" : "Noark 5 dokumentetsDato",
            "format" : "date-time"
          },
          "tittel" : {
            "type" : "string",
            "description" : "Noark 5 tittel"
          }
        },
        "description" : "Noark 5-metadata som stemmer med mottakende system. Kan brukes til å legge dokumentet på rett sak."
      },
      "NoarkMetadataFraAvleverendeSaksSystem" : {
        "type" : "object",
        "properties" : {
          "sakssekvensnummer" : {
            "type" : "integer",
            "description" : "Noark 5 sakssekvensnummer",
            "format" : "int64"
          },
          "saksaar" : {
            "type" : "integer",
            "description" : "Noark 5 saksaar",
            "format" : "int32"
          },
          "journalaar" : {
            "type" : "integer",
            "description" : "Noark 5 journalaar",
            "format" : "int32"
          },
          "journalsekvensnummer" : {
            "type" : "integer",
            "description" : "Noark 5 journalsekvensnummer",
            "format" : "int64"
          },
          "journalpostnummer" : {
            "type" : "integer",
            "description" : "Noark 5 journalpostnummer",
            "format" : "int64"
          },
          "journalposttype" : {
            "type" : "string",
            "description" : "Noark 5 journalposttype"
          },
          "journalstatus" : {
            "type" : "string",
            "description" : "Noark 5 journalstatus"
          },
          "journaldato" : {
            "type" : "string",
            "description" : "Noark 5 journaldato",
            "format" : "date-time"
          },
          "dokumentetsDato" : {
            "type" : "string",
            "description" : "Noark 5 dokumentetsDato",
            "format" : "date-time"
          },
          "tittel" : {
            "type" : "string",
            "description" : "Noark 5 tittel"
          },
          "saksbehandler" : {
            "type" : "string",
            "description" : "Noark 5 saksbehandler"
          },
          "ekstraMetadata" : {
            "type" : "array",
            "description" : "Kan benyttes til andre Noark-metadata som avsender vil ha med i forsendelsen",
            "items" : {
              "$ref" : "#/components/schemas/Metadata"
            }
          }
        },
        "description" : "Noark 5-metadata fra avleverende system."
      },
      "Utskriftskonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "utskriftMedFarger" : {
            "type" : "boolean",
            "description" : "Angir om forsendelsen skal skrives ut med farger.",
            "default" : false
          },
          "tosidig" : {
            "type" : "boolean",
            "description" : "Angir om begge sider av arket skal benyttes ved utskrift.",
            "default" : false
          }
        },
        "description" : "Konfigurasjon knyttet til utskrift av dokumentene, dersom forsendelsen sendes via post."
      },
      "SendForsendelseResponse" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Generert id for den innsendte forsendelsen",
            "format" : "uuid"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      }
    }
  }
}