{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Innreise",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Innreise",
    "description" : "API for å hente innreiser fra HDIR"
  } ],
  "paths" : {
    "/innreise/api/v1/hentInnreiser" : {
      "post" : {
        "tags" : [ "Innreise" ],
        "description" : "Hente innreise for gitt søkekriterie. Tjenesten returnerer informasjon om innreiser basert på filteret som blir sendt med requesten. Tjenesten baserer seg på data som blir importert fra Helsedirektoratet hver natt, og innreiser registrert på dagens dato vil dermed ikke vere tilgjengelig. ",
        "operationId" : "hentInnreiser",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "query",
          "schema" : {
            "pattern" : "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InnreiseRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Innreiser"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Innreiser" : {
        "type" : "object",
        "properties" : {
          "a_reference_code" : {
            "type" : "string",
            "description" : "ID Knyttet til reisen"
          },
          "p_unique_id" : {
            "type" : "string",
            "description" : "Id knyttet til person. Dette kan vere Fødselsnummer, D-nummer eller passnummer"
          },
          "a_destination_id" : {
            "type" : "string",
            "description" : "Reisested"
          },
          "municipality_number" : {
            "type" : "string",
            "description" : "Kommunenummer"
          },
          "p_first_name" : {
            "type" : "string",
            "description" : "Fornavn"
          },
          "p_last_name" : {
            "type" : "string",
            "description" : "Etternavn"
          },
          "p_birth_date" : {
            "type" : "string",
            "description" : "Fødselsdato"
          },
          "p_phone" : {
            "type" : "string",
            "description" : "Telefonnummer"
          },
          "p_email" : {
            "type" : "string",
            "description" : "Epost-adresse"
          },
          "p_lang_follow_up" : {
            "type" : "string",
            "description" : "Preferert språk for oppfølging"
          },
          "p_follow_up" : {
            "type" : "string",
            "description" : "Oppfølgingsstatus"
          },
          "p_follow_up_time" : {
            "type" : "string",
            "description" : "Tid for oppfølging"
          },
          "p_country_of_residence" : {
            "type" : "string",
            "description" : "Bostedsland"
          },
          "p_dnr" : {
            "type" : "string",
            "description" : "D-nummer - fylt ut dersom manuelt registrert"
          },
          "a_quarantine_option" : {
            "type" : "string",
            "description" : "Karantenevalg"
          },
          "a_q_opt_l1" : {
            "type" : "string",
            "description" : "Karantenevalg"
          },
          "a_q_opt_l2" : {
            "type" : "string",
            "description" : "Karantenevalg"
          },
          "a_q_opt_l3" : {
            "type" : "string",
            "description" : "Karantenevalg"
          },
          "a_q_opt_l4" : {
            "type" : "string",
            "description" : "Karantenevalg"
          },
          "a_q_opt_l1_code" : {
            "type" : "string",
            "description" : "Karantenevalg - kode"
          },
          "a_q_opt_l2_code" : {
            "type" : "string",
            "description" : "Karantenevalg - kode"
          },
          "a_q_opt_l3_code" : {
            "type" : "string",
            "description" : "Karantenevalg - kode"
          },
          "a_q_opt_l4_code" : {
            "type" : "string",
            "description" : "Karantenevalg - kode"
          },
          "a_quarantine_reg_arrival_hotel" : {
            "type" : "string",
            "description" : "Karantenehotell ankomst"
          },
          "a_quarantine_reg_arrival" : {
            "type" : "string",
            "description" : "Ankomstdato ved karantenehotell"
          },
          "a_quarantine_reg_departure_hotel" : {
            "type" : "string",
            "description" : "Karantenehotell ved avreise - brukes dersom karantenehotell endres under karanteneoppholdet"
          },
          "a_quarantine_reg_departure" : {
            "type" : "string",
            "description" : "Avreisedato for karantene"
          },
          "a_date" : {
            "type" : "string",
            "description" : "Reisedato"
          },
          "a_travel_method" : {
            "type" : "string",
            "description" : "Reisemåte"
          },
          "a_travel_method_extra" : {
            "type" : "string",
            "description" : "Informasjon om reisen"
          },
          "a_travel_method_extra2" : {
            "type" : "string",
            "description" : "Informasjon om reisen"
          },
          "a_country_of_departure" : {
            "type" : "string",
            "description" : "Avreiseland"
          },
          "a_country_of_departure_region" : {
            "type" : "string",
            "description" : "Avreiseomårde"
          },
          "a_transit_countries" : {
            "type" : "string",
            "description" : "Transittland"
          },
          "a_num_travelers" : {
            "type" : "string",
            "description" : "Antall reisende"
          },
          "a_num_travelers_under_16" : {
            "type" : "string",
            "description" : "Antall reisende under 16 år"
          },
          "a_hotel_name" : {
            "type" : "string",
            "description" : "Opplysininger tilknyttet karantenested"
          },
          "a_location_address" : {
            "type" : "string",
            "description" : "Adresse for karantenested"
          },
          "a_location_zip_code" : {
            "type" : "string",
            "description" : "Postkode for karantenested"
          },
          "a_employer_org_number" : {
            "type" : "string",
            "description" : "Organisasjonsnummer"
          },
          "a_employer_name" : {
            "type" : "string",
            "description" : "Arbeidsgiver"
          },
          "a_employer_address" : {
            "type" : "string",
            "description" : "Arbeidsgivers adresse"
          },
          "a_employer_contact_person" : {
            "type" : "string",
            "description" : "Kontaktperson hos arbeidsgiver"
          },
          "a_employer_contact_phone" : {
            "type" : "string",
            "description" : "Kontakttelefon hos arbeidsgiver"
          },
          "a_is_leisure_trip" : {
            "type" : "string",
            "description" : "Fritidsreise"
          },
          "a_is_trip_necessary" : {
            "type" : "string",
            "description" : "Nødvendig fritidsreise"
          },
          "a_updated" : {
            "type" : "string",
            "description" : "Siste oppdatering av informasjon"
          },
          "preg_number" : {
            "type" : "string",
            "description" : "Felles nasjonalt hjelpenummer"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "InnreiseRequest" : {
        "type" : "object",
        "properties" : {
          "personId" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer/D-nummer/Preg-nr til person det skal spørres etter innreise på"
          },
          "kommunenr" : {
            "type" : "array",
            "description" : "Kommunenummer det skal hentes ut innreiser for",
            "items" : {
              "type" : "string",
              "description" : "Kommunenummer det skal hentes ut innreiser for"
            }
          },
          "personnummerString" : {
            "type" : "string"
          }
        }
      }
    }
  }
}