{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Innsynsforespoersel konfigurasjon service",
    "description" : "Innsynsforespoersel konfigurasjon service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "journalpost/konfigurasjon/innsyn",
    "description" : "API for konfigurasjon av oppsett for innsynsforespørsler"
  } ],
  "paths" : {
    "/journalpost/konfigurasjon/innsyn/api/v1/{fiksOrgId}/{system}/koblinger/integrasjon/{integrasjonId}/konto/{kontoId}" : {
      "delete" : {
        "tags" : [ "KonfigurasjonResource" ],
        "summary" : "Deaktiverer en kobling mellom integrasjon og fiks protokoll konto.",
        "operationId" : "deaktiverKontoMapping",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN" ]
          }
        }, {
          "name" : "integrasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/journalpost/konfigurasjon/innsyn/api/v1/{fiksOrgId}/{system}/koblinger" : {
      "get" : {
        "tags" : [ "KonfigurasjonResource" ],
        "summary" : "Henter ut en oversikt over eksisterende koblinger mellom innsyn-indeks-integrasjoner og protokoll-kontoer.",
        "operationId" : "hentEksisterendeKoblinger",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter eksisterende koblinger",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EksisterendeKoblinger"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "KonfigurasjonResource" ],
        "summary" : "Reaktiverer en kobling mellom integrasjon og fiks protokoll konto.",
        "operationId" : "reaktiverKontoMapping",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilKoblingRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "No Content",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "KonfigurasjonResource" ],
        "summary" : "Legg til en kobling mellom integrasjon og fiks protokoll konto.",
        "operationId" : "leggTilKontoMapping",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilKoblingRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "No Content",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/journalpost/konfigurasjon/innsyn/api/v1/{fiksOrgId}/{system}/innsyn/integrasjoner" : {
      "get" : {
        "tags" : [ "KonfigurasjonResource" ],
        "summary" : "Henter ut en oversikt over integrasjoner som er på nåværende tidspunkt kan brukes til å indeksere meldinger i Innsyn.",
        "operationId" : "hentIntegrasjoner",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Integrasjoner som kan indeksere meldinger i Fiks Innsyn",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Integrasjoner"
                }
              }
            }
          }
        }
      }
    },
    "/journalpost/konfigurasjon/innsyn/api/v1/{fiksOrgId}/{system}/tjenester/status" : {
      "get" : {
        "tags" : [ "KonfigurasjonResource" ],
        "summary" : "Henter status på påkrevde tjenester i kontekst av innlogget bruker.",
        "operationId" : "hentStatusTjenester",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status på Fiks Protokoll og Fiks Innsyn",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatusTjenester"
                }
              }
            }
          }
        }
      }
    },
    "/journalpost/konfigurasjon/innsyn/api/v1/{fiksOrgId}/{system}/protokollkontoer" : {
      "get" : {
        "tags" : [ "KonfigurasjonResource" ],
        "summary" : "Henter ut en oversikt over potensielt nye protokoll-kontoer som kan motta innsynsbegjæringer.",
        "operationId" : "listPotensielleMappiner",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter eksisterende koblinger",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EksisterendeKoblinger"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "EntityTag" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "string"
          },
          "weak" : {
            "type" : "boolean"
          }
        }
      },
      "Link" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string",
            "format" : "uri"
          },
          "uriBuilder" : {
            "$ref" : "#/components/schemas/UriBuilder"
          },
          "rel" : {
            "type" : "string"
          },
          "rels" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "type" : {
            "type" : "string"
          },
          "params" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        }
      },
      "MediaType" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          },
          "subtype" : {
            "type" : "string"
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "wildcardType" : {
            "type" : "boolean"
          },
          "wildcardSubtype" : {
            "type" : "boolean"
          }
        }
      },
      "MultivaluedMapStringObject" : {
        "type" : "object",
        "properties" : {
          "empty" : {
            "type" : "boolean"
          }
        },
        "additionalProperties" : {
          "type" : "array",
          "items" : {
            "type" : "object"
          }
        }
      },
      "MultivaluedMapStringString" : {
        "type" : "object",
        "properties" : {
          "empty" : {
            "type" : "boolean"
          }
        },
        "additionalProperties" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      },
      "NewCookie" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          },
          "version" : {
            "type" : "integer",
            "format" : "int32"
          },
          "path" : {
            "type" : "string"
          },
          "domain" : {
            "type" : "string"
          },
          "comment" : {
            "type" : "string"
          },
          "maxAge" : {
            "type" : "integer",
            "format" : "int32"
          },
          "expiry" : {
            "type" : "string",
            "format" : "date-time"
          },
          "secure" : {
            "type" : "boolean"
          },
          "httpOnly" : {
            "type" : "boolean"
          },
          "sameSite" : {
            "type" : "string",
            "enum" : [ "NONE", "LAX", "STRICT" ]
          }
        }
      },
      "Response" : {
        "type" : "object",
        "properties" : {
          "statusInfo" : {
            "$ref" : "#/components/schemas/StatusType"
          },
          "mediaType" : {
            "$ref" : "#/components/schemas/MediaType"
          },
          "allowedMethods" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "cookies" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/NewCookie"
            }
          },
          "entityTag" : {
            "$ref" : "#/components/schemas/EntityTag"
          },
          "stringHeaders" : {
            "type" : "object",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              }
            },
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          },
          "links" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "length" : {
            "type" : "integer",
            "format" : "int32"
          },
          "location" : {
            "type" : "string",
            "format" : "uri"
          },
          "language" : {
            "type" : "object",
            "properties" : {
              "language" : {
                "type" : "string"
              },
              "script" : {
                "type" : "string"
              },
              "variant" : {
                "type" : "string"
              },
              "country" : {
                "type" : "string"
              },
              "unicodeLocaleAttributes" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "unicodeLocaleKeys" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "displayLanguage" : {
                "type" : "string"
              },
              "displayScript" : {
                "type" : "string"
              },
              "displayCountry" : {
                "type" : "string"
              },
              "displayVariant" : {
                "type" : "string"
              },
              "displayName" : {
                "type" : "string"
              },
              "extensionKeys" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "iso3Language" : {
                "type" : "string"
              },
              "iso3Country" : {
                "type" : "string"
              }
            }
          },
          "lastModified" : {
            "type" : "string",
            "format" : "date-time"
          },
          "date" : {
            "type" : "string",
            "format" : "date-time"
          },
          "metadata" : {
            "type" : "object",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              }
            },
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "entity" : {
            "type" : "object"
          },
          "headers" : {
            "type" : "object",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              }
            },
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          },
          "closed" : {
            "type" : "boolean"
          }
        }
      },
      "StatusType" : {
        "type" : "object",
        "properties" : {
          "family" : {
            "type" : "string",
            "enum" : [ "INFORMATIONAL", "SUCCESSFUL", "REDIRECTION", "CLIENT_ERROR", "SERVER_ERROR", "OTHER" ]
          },
          "statusCode" : {
            "type" : "integer",
            "format" : "int32"
          },
          "reasonPhrase" : {
            "type" : "string"
          }
        }
      },
      "UriBuilder" : {
        "type" : "object"
      },
      "EksisterendeKobling" : {
        "required" : [ "aktiv", "hendelser", "integrasjon", "mottakerKonto" ],
        "type" : "object",
        "properties" : {
          "integrasjon" : {
            "$ref" : "#/components/schemas/Integrasjon"
          },
          "mottakerKonto" : {
            "$ref" : "#/components/schemas/MottakerKonto"
          },
          "aktiv" : {
            "type" : "boolean",
            "description" : "Angir om koblingen er aktiv"
          },
          "hendelser" : {
            "type" : "array",
            "description" : "Hendelseslogg over operasjoner på koblingen",
            "items" : {
              "type" : "string",
              "description" : "Hendelseslogg over operasjoner på koblingen"
            }
          }
        },
        "description" : "Liste over eksisterende koblinger mellom integrasjon of Fiks protokoll kontoer"
      },
      "EksisterendeKoblinger" : {
        "required" : [ "koblinger" ],
        "type" : "object",
        "properties" : {
          "koblinger" : {
            "type" : "array",
            "description" : "Liste over eksisterende koblinger mellom integrasjon of Fiks protokoll kontoer",
            "items" : {
              "$ref" : "#/components/schemas/EksisterendeKobling"
            }
          }
        }
      },
      "Integrasjon" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "IntegrasjonsID",
            "format" : "uuid"
          },
          "orgnr" : {
            "type" : "string",
            "description" : "Organisasjonsnr som er koblet til integrasjonen"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på integrasjonen"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse på integrasjonen"
          },
          "opprettet" : {
            "type" : "string",
            "description" : "Dato/tid for når integrasjon ble opprettet",
            "format" : "date-time"
          },
          "gyldig" : {
            "type" : "boolean"
          }
        },
        "description" : "Integrasjonen som er del av koblingen"
      },
      "MottakerKonto" : {
        "required" : [ "konto", "system" ],
        "type" : "object",
        "properties" : {
          "system" : {
            "$ref" : "#/components/schemas/ProtokollSystem"
          },
          "konto" : {
            "$ref" : "#/components/schemas/ProtokollKonto"
          }
        },
        "description" : "Liste over protokollkontoer"
      },
      "ProtokollKonto" : {
        "required" : [ "kontoId" ],
        "type" : "object",
        "properties" : {
          "kontoId" : {
            "type" : "string",
            "description" : "ID til protokollkontoen",
            "format" : "uuid"
          },
          "kontoNavn" : {
            "type" : "string",
            "description" : "Navn på protokollkontoen"
          },
          "gyldig" : {
            "type" : "boolean"
          }
        },
        "description" : "Detaljer om selve protokollkontoen"
      },
      "ProtokollSystem" : {
        "required" : [ "systemId", "systemNavn" ],
        "type" : "object",
        "properties" : {
          "systemId" : {
            "type" : "string",
            "description" : "ID til protokollsystemet",
            "format" : "uuid"
          },
          "systemNavn" : {
            "type" : "string",
            "description" : "Navn til protokollsystemet"
          },
          "gyldig" : {
            "type" : "boolean"
          }
        },
        "description" : "Detaljer om protokollsystemet som kontoen er knyttet til"
      },
      "Integrasjoner" : {
        "type" : "object",
        "properties" : {
          "integrasjoner" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Integrasjon"
            }
          }
        }
      },
      "StatusTjenester" : {
        "required" : [ "innsynAktivert", "innsynTilgang", "protokollAktivert", "protokollTilgang" ],
        "type" : "object",
        "properties" : {
          "innsynAktivert" : {
            "type" : "boolean",
            "description" : "Angir om fiksOrg har aktivert tjeneste Fiks-Innsyn"
          },
          "protokollAktivert" : {
            "type" : "boolean",
            "description" : "Angir om fiksOrg har aktivert tjeneste Fiks-Protokoll"
          },
          "innsynTilgang" : {
            "type" : "boolean",
            "description" : "Angir om innlogget bruker har admin-privilegiet på tjeneste Fiks-Innsyn"
          },
          "protokollTilgang" : {
            "type" : "boolean",
            "description" : "Angir om innlogget bruker har admin-privilegiet på tjeneste Fiks-Protokoll"
          }
        }
      },
      "LeggTilKoblingRequest" : {
        "required" : [ "integrasjonId", "kontoId" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "ID til integrasjonen som skal brukes i koblingen",
            "format" : "uuid"
          },
          "kontoId" : {
            "type" : "string",
            "description" : "ID til protokollkonto som skal brukes i koblingen",
            "format" : "uuid"
          }
        }
      },
      "ProtokollKontoer" : {
        "required" : [ "kontoer" ],
        "type" : "object",
        "properties" : {
          "kontoer" : {
            "type" : "array",
            "description" : "Liste over protokollkontoer",
            "items" : {
              "$ref" : "#/components/schemas/MottakerKonto"
            }
          }
        }
      }
    }
  }
}