{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Innsyn Stats Service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://developers.fiks.ks.no/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no/",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "Innsyn Stats service",
    "description" : "API for Innsyn statistikk"
  } ],
  "paths" : {
    "/innsyn-stats/api/v1/stats" : {
      "get" : {
        "tags" : [ "InnsynStats" ],
        "summary" : "Henter statistikk for alle integrasjoner og fiksorganisasjoner. Data oppfriskes hver halvtime.",
        "operationId" : "getAllStats",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InnsynAlleStats"
                }
              }
            }
          }
        }
      }
    },
    "/innsyn-stats/api/v1/{fiksOrgId}/{integrasjonId}/id/meldinger/{versjon}" : {
      "get" : {
        "tags" : [ "InnsynStats" ],
        "summary" : "Henter id for alle meldinger som eies av fiksorganisasjon for en integrasjon. Date er real-time data.",
        "operationId" : "getIdForMeldinger",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "versjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "integrasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InnsynIntegrasjonMeldingIdList"
                }
              }
            }
          }
        }
      }
    },
    "/innsyn-stats/api/v1/{fiksOrgId}/id/meldinger/{versjon}" : {
      "get" : {
        "tags" : [ "InnsynStats" ],
        "summary" : "Henter id for alle meldinger som eies av fiksorganisasjon for en integrasjon. Date er real-time data.",
        "operationId" : "getIdForMeldingerIntegrasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "versjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InnsynIntegrasjonMeldingIdList"
                }
              }
            }
          }
        }
      }
    },
    "/innsyn-stats/api/v1/{fiksOrgId}/stats" : {
      "get" : {
        "tags" : [ "InnsynStats" ],
        "summary" : "Henter statistikk for meldinger som eies av fiksorganisasjon. Returnerer en entry per integrasjon-meldingstype kombinasjon. Kan begrense resultat til en enkelt integrasjon vha integrasjonId-query-param. Data oppfriskes hver halvtime.",
        "operationId" : "getStats",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "integrasjonId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InnsynOrganisasjonStats"
                }
              }
            }
          }
        }
      }
    },
    "/innsyn-stats/api/v1/{fiksOrgId}/stats/meldinger" : {
      "get" : {
        "tags" : [ "InnsynStats" ],
        "summary" : "Henter statistikk for meldinger som eies av fiksorganisasjon. Returnerer en entry per integrasjon. Date er real-time data.",
        "operationId" : "getStatsForMeldinger",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "integrasjonId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InnsynIntegrasjonOrganisasjonStats"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "InnsynAlleStats" : {
        "required" : [ "stats" ],
        "type" : "object",
        "properties" : {
          "stats" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/InnsynDocCountStat"
            }
          }
        },
        "description" : "Stats for alle organisasjoner"
      },
      "InnsynDocCountStat" : {
        "required" : [ "docCount", "fiksOrgId", "integrasjon", "integrasjonId", "meldingstype" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "integrasjonId" : {
            "type" : "string",
            "description" : "Deprecated. Bruk integrasjon.id.",
            "format" : "uuid",
            "deprecated" : true
          },
          "integrasjon" : {
            "$ref" : "#/components/schemas/Integrasjon"
          },
          "meldingstype" : {
            "type" : "string"
          },
          "docCount" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "description" : "Stats for en kombinasjon av Fiks organisasjon id, integrasjon og meldingstype"
      },
      "Integrasjon" : {
        "required" : [ "id", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          }
        },
        "description" : "Integrasjon med id og navn"
      },
      "InnsynIntegrasjonMeldingIdList" : {
        "required" : [ "fiksOrgId", "meldinger", "versjon" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "integrasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "versjon" : {
            "type" : "string"
          },
          "meldinger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/InnsynMeldingStatApiModel"
            }
          }
        },
        "description" : "Liste over meldingsider for en Fiks organisasjon"
      },
      "InnsynMeldingStatApiModel" : {
        "required" : [ "id", "sistEndret" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "sistEndret" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "InnsynOrganisasjonStats" : {
        "required" : [ "eierStats" ],
        "type" : "object",
        "properties" : {
          "eierStats" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/InnsynDocCountStat"
            }
          }
        },
        "description" : "Stats for eide meldinger for en organisasjon"
      },
      "InnsynIntegrasjonDocCountStat" : {
        "required" : [ "fiksOrgId", "integrasjon", "meldinger" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "integrasjon" : {
            "$ref" : "#/components/schemas/Integrasjon"
          },
          "meldinger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/InnsynIntegrasjonMeldingDocCountStat"
            }
          }
        },
        "description" : "Stats for en kombinasjon av Fiks organisasjon id, integrasjon og meldingstype"
      },
      "InnsynIntegrasjonMeldingDocCountStat" : {
        "required" : [ "docCount", "harIntegrasjonTilgang", "meldingstype" ],
        "type" : "object",
        "properties" : {
          "meldingstype" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "barnevernmappeV1", "barnevernjournalpostV1", "byggesakV1", "innsendtskjemaV1", "skjemakladdV1", "matrikkelenhetV1", "kommunaltjenesteV1", "forsendelseV1", "forsendelseV2", "oppgaveV1" ]
          },
          "docCount" : {
            "type" : "integer",
            "format" : "int64"
          },
          "harIntegrasjonTilgang" : {
            "type" : "boolean"
          }
        },
        "description" : "Stats for en kombinasjon av Fiks organisasjon id, integrasjon og meldingstype"
      },
      "InnsynIntegrasjonOrganisasjonStats" : {
        "required" : [ "eierStats" ],
        "type" : "object",
        "properties" : {
          "eierStats" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/InnsynIntegrasjonDocCountStat"
            }
          }
        },
        "description" : "Stats for eide meldinger for en organisasjon"
      }
    }
  }
}