{
  "openapi": "3.0.0",
  "info": {
    "title": "Fiks API for eksterne tjenester og apper",
    "description": "API for å administrere eksterne tjenester og apper",
    "contact": {
      "name": "KS Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks PROD API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.dev.ks.no",
      "description": "KS Fiks DEV API host",
      "variables": {}
    }
  ],
  "tags": [
    {
      "name": "app",
      "description": "Administrer apper som skal tilgjengeliggjøres på fiks plattformen"
    },
    {
      "name": "tjeneste",
      "description": "Administrer eksterne tjenester som skal tilgjengeliggjøres på fiks plattformen"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/kominn/api/v1/eksterntjeneste": {
      "post": {
        "tags": [
          "app",
          "tjeneste"
        ],
        "operationId": "opprettTjeneste",
        "description": "Opprett en ny ekstern tjeneste som skal gjøres tilgjengelig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettEksternTjenesteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Ny tjeneste opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EksternTjenesteDefinisjon"
                }
              }
            },
            "links": {
              "self": {
                "description": "Lenke til tjenesten som ble opprettet",
                "operationId": "hentTjeneste",
                "parameters": {
                  "tjenesteId": "$response.body#/tjenesteId"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                },
                "example": {
                  "message": "Ugyldig input",
                  "code": "400"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage",
                  "example": {
                    "message": "Ikke autentisert",
                    "code": "401"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage",
                  "example": {
                    "message": "Ikke autorisert",
                    "code": "403"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kominn/api/v1/eksterntjeneste/{tjenesteId}": {
      "get": {
        "tags": [
          "app",
          "tjeneste"
        ],
        "description": "Hent gjeldende konfigurasjon for ekstern tjeneste",
        "operationId": "hentTjeneste",
        "parameters": [
          {
            "name": "tjenesteId",
            "in": "path",
            "description": "ID til den eksterne tjenesten",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TjenesteId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EksternTjenesteDefinisjon"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Tjenesten finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "app",
          "tjeneste"
        ],
        "description": "Oppdater konfigurasjon for ekstern tjeneste. Kun de feltene som er med i requesten blir oppdatert",
        "operationId": "oppdaterTjeneste",
        "parameters": [
          {
            "name": "tjenesteId",
            "in": "path",
            "description": "ID til den eksterne tjenesten",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TjenesteId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterEksternTjenesteDefinisjon"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Oppdatering ok",
            "links": {
              "self": {
                "description": "Lenke til tjenesten som ble opprettet",
                "operationId": "hentTjeneste",
                "parameters": {
                  "tjenesteId": "$request.path.tjenesteId"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                },
                "example": {
                  "message": "Ugyldig input",
                  "code": "400"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage",
                  "example": {
                    "message": "Ikke autentisert",
                    "code": "401"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage",
                  "example": {
                    "message": "Ikke autorisert",
                    "code": "403"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tjenesten finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage",
                  "example": {
                    "message": "Tjenesten finnes ikke",
                    "code": "404"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "app",
          "tjeneste"
        ],
        "description": "Slett ekstern tjeneste",
        "operationId": "slettTjeneste",
        "parameters": [
          {
            "name": "tjenesteId",
            "in": "path",
            "description": "ID til den eksterne tjenesten",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TjenesteId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sletting ok"
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Mangler tilgang til å slette tjenesten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Tjenesten finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/kominn/api/v1/eksterntjeneste/{tjenesteId}/apper": {
      "post": {
        "tags": [
          "app"
        ],
        "operationId": "opprettApp",
        "description": "Opprett en ny app som skal gjøres tilgjengelig",
        "parameters": [
          {
            "name": "tjenesteId",
            "in": "path",
            "description": "ID til den eksterne tjenesten",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TjenesteId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettAppRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ny tjeneste opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpprettAppResponse"
                }
              }
            },
            "links": {
              "self": {
                "description": "Lenke til tjenesten som ble opprettet",
                "operationId": "hentTjeneste",
                "parameters": {
                  "tjenesteId": "$response.body#/tjenesteId",
                  "appId": "$response.body#/appId"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Tjenesten finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/kominn/api/v1/eksterntjeneste/{tjenesteId}/apper/{appId}": {
      "get": {
        "tags": [
          "app"
        ],
        "description": "Hent gjeldende konfigurasjon for app",
        "operationId": "hentApp",
        "parameters": [
          {
            "name": "tjenesteId",
            "in": "path",
            "description": "ID til den eksterne tjenesten",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "description": "ID til appen",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppDefinisjon"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "app"
        ],
        "description": "Oppdater konfigurasjon for app. Kun de feltene som er med i requesten blir oppdatert",
        "operationId": "oppdaterApp",
        "parameters": [
          {
            "name": "tjenesteId",
            "in": "path",
            "description": "ID til den eksterne tjenesten",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TjenesteId"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "description": "ID til appen",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AppId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterAppDefinisjon"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Oppdatering ok",
            "links": {
              "self": {
                "description": "Lenke til appen som ble opprettet",
                "operationId": "hentApp",
                "parameters": {
                  "appId": "$request.path.appId"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "app"
        ],
        "description": "Slett app",
        "operationId": "slettApp",
        "parameters": [
          {
            "name": "tjenesteId",
            "in": "path",
            "description": "ID til den eksterne tjenesten",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TjenesteId"
            }
          },
          {
            "name": "appId",
            "in": "path",
            "description": "ID til appen",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AppId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sletting ok"
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Fodselsnummer": {
        "type": "string",
        "description": "Fødselsnummer fra folkergisteret '12345678901'",
        "pattern": "^[0-9]{11}$"
      },
      "Navn": {
        "type": "string",
        "pattern": "^[a-zA-ZÆØÅa-zæøå0-9]+$",
        "example": "NavnÆøå"
      },
      "Appnavn": {
        "$ref": "#/components/schemas/Navn",
        "description": "Navn på appen",
        "example": "AppEn"
      },
      "UnikId": {
        "type": "string",
        "format": "uuid",
        "description": "Unik id (UUID)",
        "example": "f7480539-92b2-460d-8e7f-2bc8a37c6746"
      },
      "Kommunenummer": {
        "type": "string",
        "description": "Kommunenummer",
        "pattern": "^[0-9]{4}$"
      },
      "OpprettAppRequest": {
        "type": "object",
        "properties": {
          "navn": {
            "$ref": "#/components/schemas/Appnavn"
          },
          "beskrivelse": {
            "type": "string",
            "description": "Beskrivelse av tjenesten",
            "example": "Min tjeneste er en tjeneste som gjør noe"
          },
          "logo": {
            "$ref": "#/components/schemas/AppLogo"
          }
        },
        "required": [
          "navn",
          "beskrivelse",
          "logo"
        ]
      },
      "AppId": {
        "$ref": "#/components/schemas/UnikId",
        "description": "ID til tjenesten"
      },
      "FiksOrgId": {
        "$ref": "#/components/schemas/UnikId",
        "description": "ID til fiks organisasjonen som eier tjenesten"
      },
      "TjenesteId": {
        "$ref": "#/components/schemas/UnikId",
        "description": "ID til den eksterne tjenesten"
      },
      "OpprettAppResponse": {
        "type": "object",
        "properties": {
          "appId": {
            "$ref": "#/components/schemas/AppId"
          }
        },
        "required": [
          "appId"
        ]
      },
      "AppDefinisjon": {
        "type": "object",
        "properties": {
          "navn": {
            "$ref": "#/components/schemas/Appnavn"
          },
          "beskrivelse": {
            "type": "string",
            "description": "Beskrivelse av tjenesten",
            "example": "Min tjeneste er en tjeneste som gjør noe"
          },
          "logo": {
            "$ref": "#/components/schemas/AppLogo"
          }
        },
        "required": [
          "navn",
          "beskrivelse",
          "logo"
        ]
      },
      "OppdaterAppDefinisjon": {
        "type": "object",
        "description": "Oppdaterer tjenestedefinisjonen",
        "properties": {
          "navn": {
            "$ref": "#/components/schemas/Appnavn"
          },
          "beskrivelse": {
            "type": "string",
            "description": "Beskrivelse av appen",
            "example": "Min app er en app som gjør noe"
          },
          "logo": {
            "$ref": "#/components/schemas/AppLogo"
          }
        }
      },
      "AppLogo": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "format": "base64",
            "description": "Base64 kodet logofil"
          },
          "type": {
            "type": "string",
            "description": "Content type for logo",
            "example": "image/png"
          }
        },
        "required": [
          "data",
          "type"
        ]
      },
      "TjenesteNavn": {
        "$ref": "#/components/schemas/Navn",
        "description": "Navn på tjenesten",
        "example": "TjenesteEn"
      },
      "OpprettEksternTjenesteRequest": {
        "type": "object",
        "properties": {
          "fiksOrgId": {
            "$ref": "#/components/schemas/FiksOrgId"
          },
          "navn": {
            "$ref": "#/components/schemas/TjenesteNavn"
          }
        },
        "required": [
          "fiksOrgId",
          "navn"
        ]
      },
      "EksternTjenesteDefinisjon": {
        "type": "object",
        "properties": {
          "fiksOrgId": {
            "$ref": "#/components/schemas/FiksOrgId"
          },
          "navn": {
            "$ref": "#/components/schemas/TjenesteNavn"
          }
        },
        "required": [
          "fiksOrgId",
          "navn"
        ]
      },
      "OppdaterEksternTjenesteDefinisjon": {
        "type": "object",
        "description": "Oppdaterer tjenestedefinisjonen",
        "properties": {
          "navn": {
            "$ref": "#/components/schemas/TjenesteNavn"
          }
        }
      }
    }
  }
}

