{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Innsynsforespørsler",
    "description" : "Service for å håndtere innsynsforespørsler",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "journalpost/innsyn",
    "description" : "API for å håndtere innsynsforespørsler"
  } ],
  "paths" : {
    "/journalpost/innsyn/api/v1/{fiksOrgId}/innsyn/{dokumentId}" : {
      "get" : {
        "tags" : [ "InnsynForespoerselResource" ],
        "summary" : "Henter en innsynsforespøsel for ett dokument",
        "operationId" : "hentInnsynforespoersel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "dokumentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter en innsynsforespørsel",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InnsynSvarModel"
                }
              }
            }
          }
        }
      }
    },
    "/journalpost/innsyn/api/v1/{fiksOrgId}/{system}/innsyn" : {
      "post" : {
        "tags" : [ "InnsynForespoerselResource" ],
        "summary" : "Sender en innsynsforespøsel for ett eller flere dokumenter",
        "operationId" : "requestInnsyn",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateInnsynforespoerselRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Sender en innsynsforespørsel",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "InnsynSvarModel" : {
        "type" : "object",
        "properties" : {
          "dokumentId" : {
            "type" : "string"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "INIT", "SENDT", "KVITTERT", "FEIL_TTL_UTLOPT", "FEIL_HOS_MOTTAKER", "FEIL_MED_MOTTAK", "FEIL_IKKE_FUNNET", "FEIL_UGYLDIG_FORESPOERSEL" ]
          },
          "init" : {
            "type" : "string",
            "format" : "date-time"
          },
          "statusBehandling" : {
            "type" : "string",
            "enum" : [ "INNVILGET", "UNDER_BEHANDLING", "MANUELL_BEHANDLING", "AVVIST" ]
          },
          "svarBegrunnelse" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string"
          },
          "feilmelding" : {
            "type" : "string"
          }
        }
      },
      "EntityTag" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "string"
          },
          "weak" : {
            "type" : "boolean"
          }
        }
      },
      "Link" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : "string"
          },
          "uriBuilder" : {
            "$ref" : "#/components/schemas/UriBuilder"
          },
          "rel" : {
            "type" : "string"
          },
          "rels" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "type" : {
            "type" : "string"
          },
          "params" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "uri" : {
            "type" : "string",
            "format" : "uri"
          }
        }
      },
      "MediaType" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          },
          "subtype" : {
            "type" : "string"
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "wildcardType" : {
            "type" : "boolean"
          },
          "wildcardSubtype" : {
            "type" : "boolean"
          }
        }
      },
      "MultivaluedMapStringObject" : {
        "type" : "object",
        "properties" : {
          "empty" : {
            "type" : "boolean"
          }
        },
        "additionalProperties" : {
          "type" : "array",
          "items" : {
            "type" : "object"
          }
        }
      },
      "MultivaluedMapStringString" : {
        "type" : "object",
        "properties" : {
          "empty" : {
            "type" : "boolean"
          }
        },
        "additionalProperties" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      },
      "NewCookie" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          },
          "version" : {
            "type" : "integer",
            "format" : "int32"
          },
          "path" : {
            "type" : "string"
          },
          "domain" : {
            "type" : "string"
          },
          "comment" : {
            "type" : "string"
          },
          "maxAge" : {
            "type" : "integer",
            "format" : "int32"
          },
          "expiry" : {
            "type" : "string",
            "format" : "date-time"
          },
          "secure" : {
            "type" : "boolean"
          },
          "httpOnly" : {
            "type" : "boolean"
          },
          "sameSite" : {
            "type" : "string",
            "enum" : [ "NONE", "LAX", "STRICT" ]
          }
        }
      },
      "Response" : {
        "type" : "object",
        "properties" : {
          "links" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "statusInfo" : {
            "$ref" : "#/components/schemas/StatusType"
          },
          "mediaType" : {
            "$ref" : "#/components/schemas/MediaType"
          },
          "allowedMethods" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "entityTag" : {
            "$ref" : "#/components/schemas/EntityTag"
          },
          "stringHeaders" : {
            "type" : "object",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              }
            },
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          },
          "length" : {
            "type" : "integer",
            "format" : "int32"
          },
          "location" : {
            "type" : "string",
            "format" : "uri"
          },
          "language" : {
            "type" : "object",
            "properties" : {
              "language" : {
                "type" : "string"
              },
              "script" : {
                "type" : "string"
              },
              "variant" : {
                "type" : "string"
              },
              "country" : {
                "type" : "string"
              },
              "unicodeLocaleAttributes" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "unicodeLocaleKeys" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "displayLanguage" : {
                "type" : "string"
              },
              "displayScript" : {
                "type" : "string"
              },
              "displayCountry" : {
                "type" : "string"
              },
              "displayVariant" : {
                "type" : "string"
              },
              "displayName" : {
                "type" : "string"
              },
              "extensionKeys" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "iso3Language" : {
                "type" : "string"
              },
              "iso3Country" : {
                "type" : "string"
              }
            }
          },
          "lastModified" : {
            "type" : "string",
            "format" : "date-time"
          },
          "date" : {
            "type" : "string",
            "format" : "date-time"
          },
          "metadata" : {
            "type" : "object",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              }
            },
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "entity" : {
            "type" : "object"
          },
          "cookies" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/NewCookie"
            }
          },
          "headers" : {
            "type" : "object",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              }
            },
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          },
          "closed" : {
            "type" : "boolean"
          }
        }
      },
      "StatusType" : {
        "type" : "object",
        "properties" : {
          "family" : {
            "type" : "string",
            "enum" : [ "INFORMATIONAL", "SUCCESSFUL", "REDIRECTION", "CLIENT_ERROR", "SERVER_ERROR", "OTHER" ]
          },
          "statusCode" : {
            "type" : "integer",
            "format" : "int32"
          },
          "reasonPhrase" : {
            "type" : "string"
          }
        }
      },
      "UriBuilder" : {
        "type" : "object"
      },
      "CreateDokumentRequest" : {
        "required" : [ "dokumentId", "mappeId", "systemId" ],
        "type" : "object",
        "properties" : {
          "mappeId" : {
            "type" : "string",
            "description" : "mappeId"
          },
          "systemId" : {
            "type" : "string",
            "description" : "systemId"
          },
          "registreringsId" : {
            "type" : "string",
            "description" : "registreringsId"
          },
          "dokumentId" : {
            "type" : "string",
            "description" : "DokumentId"
          }
        },
        "description" : "Liste over dokumenter man vil ha tilgang til"
      },
      "CreateInnsynforespoerselRequest" : {
        "required" : [ "begrunnelse", "dokumenter" ],
        "type" : "object",
        "properties" : {
          "begrunnelse" : {
            "type" : "string",
            "description" : "Begrunnelse for innsyn"
          },
          "dokumenter" : {
            "type" : "array",
            "description" : "Liste over dokumenter man vil ha tilgang til",
            "items" : {
              "$ref" : "#/components/schemas/CreateDokumentRequest"
            }
          }
        }
      }
    }
  }
}