{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Klinikermelding",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "Klinikermelding",
    "description" : "API for å sende klinikermelding til FHI MSIS"
  } ],
  "paths" : {
    "/klinikermelding/api/v1/kodeverk/arbeidsplasskategori" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkArbeidsplasskategori",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/arsaktiloppholdinorge" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkArsaktiloppholdinorge",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/arsaktilutenlandsopphold" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkArsaktilutenlandsopphold",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/bosted" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkBosted",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/botidinorge" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkBotidinorge",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/diagnose" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkDiagnose",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DiagnoseKode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/eksponeringssted" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkEksponeringssted",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/erbaerer" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkErbaerer",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/erhivmeldttidligere" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkErhivmeldttidligere",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/erinnlagtpaasykehjem" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkErinnlagtpaasykehjem",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/erinnlagtpaasykehus" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkErinnlagtpaasykehus",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/ersmittetiyrke" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkErsmittetiyrke",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/ervaksinert" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkErvaksinert",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/fodeland" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkFodeland",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/harbekreftetnarkontakt" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkHarbekreftetnarkontakt",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/harfattveiledning" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkHarfattveiledning",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/indikasjon" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkIndikasjon",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/kjonn" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkKjonn",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/malariaprofylakse" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkMalariaprofylakse",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/meldertype" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkMeldertype",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/oppfyllerkriterieneforklinisksepsis" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkOppfyllerkriterieneforklinisksepsis",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/smittemate" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkSmittemate",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/smittested" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkSmittested",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/sykdomsbilde" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkSykdomsbilde",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/sykehus" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkSykehus",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Sykehus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/underliggendesykdom" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkUnderliggendesykdom",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/utfallavsykdommen" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkUtfallAvSykdommen",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/kodeverk/yrkekategori" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "getKodeverkYrkekategori",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/ping" : {
      "get" : {
        "tags" : [ "Klinikermelding" ],
        "operationId" : "ping",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/klinikermelding/api/v1/klinikermelding/send" : {
      "post" : {
        "tags" : [ "Klinikermelding" ],
        "description" : "Kan sende inn en klinikermelding til FHI",
        "operationId" : "sendKlinikermelding",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ElektroniskKlinikerMeldingV7"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KlinikermeldingStatus"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Feil input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "En serverfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Et problem med kall mot FHI",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Kode" : {
        "required" : [ "id", "oid" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "verdi" : {
            "type" : "string",
            "description" : "Kode"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse"
          },
          "oid" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "DiagnoseKode" : {
        "type" : "object",
        "properties" : {
          "verdi" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "smittestoff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Kode"
            }
          },
          "oid" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "Sykehus" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "Feilkode" : {
        "type" : "object",
        "properties" : {
          "kode" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      },
      "KlinikermeldingStatus" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string"
          },
          "feilKoder" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Feilkode"
            }
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "AntattSmittemate" : {
        "type" : "object",
        "properties" : {
          "smittemate" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "smittesituasjon" : {
            "type" : "string",
            "description" : "Skal fylles ut dersom Smittemate = Annen"
          }
        }
      },
      "Diagnoseforhold" : {
        "required" : [ "diagnose", "smittestoff" ],
        "type" : "object",
        "properties" : {
          "diagnose" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "smittestoff" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "erBaerer" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "erInnlagtPaaSykehus" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "sykehus" : {
            "$ref" : "#/components/schemas/Institusjon"
          },
          "erInnlagtPaaSykehjem" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "sykehjemNavn" : {
            "type" : "string"
          },
          "innsykningsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "provedato" : {
            "type" : "string",
            "format" : "date"
          },
          "indikasjon" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "annenIndikasjon" : {
            "type" : "string",
            "description" : "Skal fylles ut dersom Indikasjon = Annen"
          },
          "sykdomsbilde" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "annenKlinikk" : {
            "type" : "string",
            "description" : "Skal fylles ut dersom Klinikk = Annen"
          },
          "utfallAvSykdommen" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "folgetilstander" : {
            "type" : "string"
          },
          "dodsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "antattSmittetDato" : {
            "type" : "string",
            "format" : "date"
          },
          "oppfyllerKriterieneForKliniskSepsis" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "innlagtPaaSykehusDato" : {
            "type" : "string",
            "format" : "date"
          },
          "underliggendeSykdom" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Kode"
            }
          }
        }
      },
      "ElektroniskKlinikerMeldingV7" : {
        "required" : [ "diagnoseforhold", "pasient", "rekvirent" ],
        "type" : "object",
        "properties" : {
          "pasient" : {
            "$ref" : "#/components/schemas/Pasient"
          },
          "diagnoseforhold" : {
            "$ref" : "#/components/schemas/Diagnoseforhold"
          },
          "rekvirent" : {
            "$ref" : "#/components/schemas/Rekvirent"
          },
          "antattSmittemate" : {
            "$ref" : "#/components/schemas/AntattSmittemate"
          },
          "smitteforhold" : {
            "$ref" : "#/components/schemas/Smitteforhold"
          },
          "smittevernveiledning" : {
            "$ref" : "#/components/schemas/Smittevernveiledning"
          }
        }
      },
      "Hiv" : {
        "type" : "object",
        "properties" : {
          "erMeldtTidligere" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "cd4Tall" : {
            "type" : "string"
          },
          "tidOgStedSistePositiveProve" : {
            "type" : "string"
          },
          "datoSisteNegativeProve" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "Institusjon" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "Pasient" : {
        "required" : [ "etternavn", "fornavn" ],
        "type" : "object",
        "properties" : {
          "fodselsnummer" : {
            "type" : "string"
          },
          "fodselsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "kjonn" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "bosted" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "fodeland" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "morsFodeland" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "farsFodeland" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "yrkesgruppe" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "arbeidsplass" : {
            "type" : "string"
          },
          "arbeidsplasskategori" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "arsakTilOppholdINorge" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "botidINorge" : {
            "$ref" : "#/components/schemas/Kode"
          }
        }
      },
      "Rekvirent" : {
        "required" : [ "arbeidssted", "hprNummer", "kommunenummer" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "adresse" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "sykehus" : {
            "$ref" : "#/components/schemas/Sykehus"
          },
          "avdeling" : {
            "type" : "string"
          },
          "meldertype" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "arbeidssted" : {
            "type" : "string"
          },
          "hprNummer" : {
            "type" : "string"
          },
          "kommunenummer" : {
            "type" : "string"
          }
        },
        "description" : "Man skal enten oppgi sykehus og avdeling eller arbeidssted, adresse, postnummer, telefonnummer"
      },
      "Smitteforhold" : {
        "type" : "object",
        "properties" : {
          "smittested" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "annetSmittested" : {
            "type" : "string",
            "description" : "Skal fylles ut dersom Smittested = Annen"
          },
          "datoForHjemkomst" : {
            "type" : "string",
            "format" : "date"
          },
          "arsakTilUtenlandsopphold" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "erSmittetIYrket" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "erVaksinert" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "malariaProfylakse" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "harBekreftetNarkontakt" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "hiv" : {
            "$ref" : "#/components/schemas/Hiv"
          },
          "syfilisStadium" : {
            "type" : "string"
          },
          "eksponeringssted" : {
            "$ref" : "#/components/schemas/Kode"
          }
        }
      },
      "Smittevernveiledning" : {
        "type" : "object",
        "properties" : {
          "harFattVeiledning" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "igangsatteTiltak" : {
            "type" : "string"
          }
        }
      }
    }
  }
}