{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Fiks: Ressurstilgang service V3",
    "description": "Fiks Konfigurasjon",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks@ks.no"
    },
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "RessursTilgangV3",
      "description": "API for administrasjon av tilganger tilknyttet ressurs for person"
    }
  ],
  "paths": {
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/ressurser/{ressursId}/tilganger": {
      "get": {
        "tags": [
          "RessursTilgangV3"
        ],
        "summary": "Henter alle personer som har en tilgang på ressurs",
        "operationId": "hentPersonerMedTilgang",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ressursId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Personer med tildelt tilgang på ressurs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RessursTilganger"
                }
              }
            }
          },
          "403": {
            "description": "Utførende person må være administrator på ressurs"
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/ressurser/{ressursId}/person/{personId}/tilganger": {
      "get": {
        "tags": [
          "RessursTilgangV3"
        ],
        "summary": "Hent persontilganger til ressurs",
        "operationId": "hentPersonTilgangerTilRessurs",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ressursId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person med tilganger på ressurs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RessursTilgang"
                }
              }
            }
          },
          "403": {
            "description": "Utførende person må være administrator på ressurs"
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/ressurser/{ressursId}/person/{personId}/tilganger/{tilgang}": {
      "post": {
        "tags": [
          "RessursTilgangV3"
        ],
        "summary": "Tildele person tilgang til ressurs",
        "operationId": "giPersonTilgangerTilRessurs",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ressursId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tilgang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Z_.]+$",
              "description": "Privilegie som skal tildeles person på ressurs",
              "example": "TJENESTE_X_WRITE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person med tilganger på ressurs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RessursTilgang"
                }
              }
            }
          },
          "403": {
            "description": "Utførende person må være administrator på ressurs"
          }
        }
      },
      "delete": {
        "tags": [
          "RessursTilgangV3"
        ],
        "summary": "Slett persontilgang til ressurs",
        "operationId": "slettPersonTilgangerTilRessurs",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ressursId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tilgang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Z_.]+$",
              "description": "Persontilganger som skal fjernes fra ressurs",
              "example": "TJENESTE_X_WRITE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person med tilganger på ressurs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RessursTilgang"
                }
              }
            }
          },
          "403": {
            "description": "Utførende person må være administrator på ressurs"
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/ressurser/{ressursId}/personer/sok": {
      "post": {
        "tags": [
          "RessursTilgangV3"
        ],
        "summary": "Søk etter personer på en organisasjon og filtrerer fiks/eksterne brukere basert på om ekstern brukerstyring er aktivert for tjenesten. Inkluderer tilganger på ressurs",
        "operationId": "sokPersonerMedTilgang",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ressursId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SokPersonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Personer med tildelt tilgang på ressurs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RessursTilganger"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input"
          },
          "401": {
            "description": "Uautorisert"
          },
          "403": {
            "description": "Utførende person må være administrator på ressurs"
          },
          "500": {
            "description": "Feil ved søk i tilganger"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "RessursTilganger": {
        "required": [
          "ressursId",
          "tilganger"
        ],
        "type": "object",
        "description": "Personer med tilgang til ressurs",
        "properties": {
          "ressursId": {
            "type": "string",
            "format": "uuid",
            "description": "Ressurs som tilganger er gitt på"
          },
          "tilganger": {
            "type": "array",
            "description": "Tilganger som person er tildelet på ressurs",
            "items": {
              "$ref": "#/components/schemas/RessursTilgang"
            }
          }
        }
      },
      "RessursTilgang": {
        "required": [
          "id",
          "fdato",
          "navn",
          "isExternal",
          "tilganger"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Personens unike Id",
            "format": "uuid"
          },
          "fdato": {
            "pattern": "^[0-9]{6}$",
            "type": "string",
            "description": "Fødselsdato til personen",
            "example": "110379"
          },
          "isExternal": {
            "type": "boolean",
            "description": "Indikerer om personen er lastet inn fra ett eksternt brukerstyringssystem.",
            "example": false
          },
          "navn": {
            "type": "string",
            "description": "Personens fulle navn",
            "example": "Ole Olsen"
          },
          "tilganger": {
            "type": "array",
            "description": "Tilganger som person er tildelet på ressurs",
            "items": {
              "$ref": "#/components/schemas/Tilgang"
            }
          }
        },
        "description": "En person med tilhørende kontaktinformasjon."
      },
      "SokPersonRequest": {
        "type": "object",
        "required": [
          "fra",
          "antall",
          "sok"
        ],
        "properties": {
          "fra": {
            "type": "integer",
            "format": "int32",
            "default": 0,
            "description": "Start index for pagination"
          },
          "antall": {
            "type": "integer",
            "format": "int32",
            "default": 10,
            "description": "Number of items to fetch"
          },
          "sok": {
            "type": "string",
            "description": "Search by name or valid fødselsnummer (fnr)"
          }
        }
      },
      "Tilgang": {
        "required": [
          "privilegie"
        ],
        "type": "object",
        "properties": {
          "privilegie": {
            "pattern": "^[0-9A-Z_.]+$",
            "type": "string",
            "description": "Privilegie som skal tildeles person på ressurs",
            "example": "TJENESTE_X_WRITE"
          }
        },
        "description": "Liste over privilegier som person skal tildeles på ressurs"
      }
    }
  }
}