{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Fiks: Fiks administrator service V1",
    "description": "Fiks Konfigurasjon",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks@ksdigital.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "FiksAdministratorerV1",
      "description": "API for administrasjon av Fiks administratorer"
    }
  ],
  "paths": {
    "/konfigurasjon/api/v1/administratorer": {
      "get": {
        "tags": [
          "FiksAdministratorerV1"
        ],
        "summary": "Henter Fiks administratorer",
        "operationId": "hentFiksAdministratorer",
        "responses": {
          "200": {
            "description": "Fiks Administratorer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiksAdministratorer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/IkkeAutentisert"
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      },
      "post": {
        "tags": [
          "FiksAdministratorerV1"
        ],
        "operationId": "sokEtterBruker",
        "description": "Søk etter bruker som kan legges inn som fiks administrator",
        "summary": "Søk etter bruker som kan legges inn som fiks administrator",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SokEtterBruker"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person som kan legges inn som fiks administrator",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonV2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ugyldigParameterverdi"
          },
          "401": {
            "$ref": "#/components/responses/IkkeAutentisert"
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      },
      "patch": {
        "tags": [
          "FiksAdministratorerV1"
        ],
        "operationId": "giBrukerFiksAdminTilgang",
        "description": "Gi bruker tilgang som Fiks administrator",
        "summary": "Gi bruker tilgang som Fiks administrator",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GiBrukerFiksAdminTilgang"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person som er gitt tilgang som fiks administrator",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonV2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ugyldigParameterverdi"
          },
          "401": {
            "$ref": "#/components/responses/IkkeAutentisert"
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      },
      "delete": {
        "tags": [
          "FiksAdministratorerV1"
        ],
        "operationId": "fjernBrukerFraFiksAdminTilgang",
        "description": "Fjern tilgang til bruker som Fiks administrator",
        "summary": "Fjern tilgang til bruker som Fiks administrator",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fnr": {
                    "type": "string",
                    "minLength": 11,
                    "maxLength": 11,
                    "example": "28837695882"
                  }
                },
                "required": [
                  "fnr"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person som har mistet sin tilgang som fiks administrator",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonV2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ugyldigParameterverdi"
          },
          "401": {
            "$ref": "#/components/responses/IkkeAutentisert"
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "ugyldigParameterverdi": {
        "description": "Ugyldig input",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "IkkeAutentisert": {
        "description": "Ikke autentisert",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            },
            "example": {
              "message": "Ikke autentisert",
              "status": 401
            }
          }
        }
      },
      "ManglerTilgang": {
        "description": "Ikke autorisert",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            },
            "example": {
              "message": "Ikke autorisert",
              "status": 403
            }
          }
        }
      }
    },
    "schemas": {
      "PersonV2": {
        "required": [
          "fiksOrg",
          "fnr",
          "navn"
        ],
        "type": "object",
        "properties": {
          "fiksOrg": {
            "type": "string",
            "description": "Personens tilknyttede fiksOrg",
            "format": "uuid"
          },
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Fødselsnummeret til personen."
          },
          "navn": {
            "type": "string",
            "description": "Personens fulle navn."
          }
        },
        "description": "En person tilknyttet en Fiks organisasjon"
      },
      "SokEtterBruker": {
        "required": [
          "fnr"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Fødselsnummeret til personen."
          }
        },
        "description": "Sok etter person som kan legges til som fiks administrator"
      },
      "FiksAdministratorer": {
        "required": [
          "fiksAdministratorer"
        ],
        "type": "object",
        "properties": {
          "fiksAdministratorer": {
            "type": "array",
            "description": "Personer som er Fiks administratorer",
            "items": {
              "$ref": "#/components/schemas/PersonV2"
            }
          }
        },
        "description": "Liste over alle personer som er administrator på Fiks platformen"
      },
      "GiBrukerFiksAdminTilgang": {
        "required": [
          "fnr",
          "navn"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Fødselsnummeret til personen."
          },
          "navn": {
            "type": "string",
            "description": "Personens fulle navn."
          }
        },
        "description": "Person som skal få tilgang som Fiks administrator"
      },
      "Feil": {
        "$ref": "#/components/schemas/ErrorMessage"
      },
      "ErrorMessage": {
        "type": "object",
        "description": "Feilmelding fra Fiks-plattformen",
        "externalDocs": {
          "description": "Beskrivelse av feilmeldinger",
          "url": "https://ks-no.github.io/fiks-plattform/integrasjoner/#feilmeldinger"
        },
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Tidspunktet da feilen oppstod, angitt som antall millisekunder siden Unix-epoch.",
            "example": 1767222000000
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP-statuskode for feilen.",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "Standardtekst for HTTP-statuskoden.",
            "example": "Bad Request"
          },
          "errorId": {
            "type": "string",
            "format": "uuid",
            "description": "Unik identifikator for feilen. Kan oppgis ved henvendelser for å spore feilen.",
            "example": "15a92338-8d98-4b05-a8a6-a879913259fd"
          },
          "path": {
            "type": "string",
            "description": "Stien i forespørselen som førte til feilen.",
            "example": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112"
          },
          "originalPath": {
            "type": "string",
            "nullable": true,
            "description": "Opprinnelig forespurt sti før eventuell intern feilhåndtering. Feltet er vanligvis utelatt eller satt til null.",
            "example": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112"
          },
          "message": {
            "type": "string",
            "description": "Menneskeliglesbar melding som beskriver feilen.",
            "example": "Noe gikk galt"
          },
          "errorCode": {
            "type": "string",
            "pattern": "^[A-Z]{1,10}-[0-9]{4}$",
            "description": "Maskinlesbar kode som identifiserer feiltypen. Koden følger formatet <applikasjonsprefiks>-<feilkode>.",
            "example": "FIKS-0001"
          },
          "errorJson": {
            "type": "string",
            "deprecated": true,
            "description": "Felt med ekstra feilinformasjon som en JSON-kodet streng. Strukturen avhenger av errorCode. Nye tjenester skal bruke errorDetails i stedet.",
            "example": "{\"fiksOrgId\": \"1a5038d7-c1fe-4110-9310-fe3b096a0564\", \"externalReference\": \"a8793ee2-b7b2-40a5-9731-51e018244cf4\"}"
          },
          "errorDetails": {
            "type": "object",
            "additionalProperties": true,
            "description": "Maskinlesbar tilleggsinformasjon om feilen. Strukturen avhenger av errorCode.",
            "example": {
              "fiksOrgId": "1a5038d7-c1fe-4110-9310-fe3b096a0564",
              "externalReference": "a8793ee2-b7b2-40a5-9731-51e018244cf4"
            }
          }
        },
        "example": {
          "timestamp": 1767222000000,
          "status": 400,
          "error": "Bad Request",
          "errorId": "15a92338-8d98-4b05-a8a6-a879913259fd",
          "path": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112",
          "message": "Ugyldig forespørsel",
          "errorCode": "FIKS-0001",
          "errorDetails": {
            "fiksOrgId": "1a5038d7-c1fe-4110-9310-fe3b096a0564",
            "externalReference": "a8793ee2-b7b2-40a5-9731-51e018244cf4"
          }
        }
      }
    }
  }
}