{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Fiks: Person administrasjon service V2",
    "description": "Fiks Konfigurasjon",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks@ks.no"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "PersonAdministrasjonV2",
      "description": "API for administrasjon av personer og tilganger"
    },
    {
      "name": "FiksOrgAdminV2",
      "description": "API for administrasjon av FiksOrg administratorer"
    },
    {
      "name": "PersonV2",
      "description": "API for administrasjon av personer"
    },
    {
      "name": "RessursTilgangV2",
      "description": "API for administrasjon av ressurs tilganger"
    },
    {
      "name": "TjenesteAdminV2",
      "description": "API for administrasjon av tjeneste administratorer"
    }
  ],
  "paths": {
    "/konfigurasjon/api/v2/fiksorgs/{fiksOrg}/administratorer": {
      "get": {
        "tags": [
          "FiksOrgAdminV2"
        ],
        "summary": "Henter FiksOrg administratorer",
        "operationId": "hentFiksOrgAdministratorer",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Administratorer på FiksOrg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiksOrgAdministratorerV2"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "FiksOrgAdminV2"
        ],
        "summary": "Legger til FiksOrg administrator",
        "operationId": "giFiksOrgAdministratorTilgang",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFiksOrgAdminRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Person som er lagt til som administrator på FiksOrg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonV2"
                }
              }
            }
          },
          "403": {
            "description": "Utførende person må være administrator på FiksOrg"
          }
        }
      }
    },
    "/konfigurasjon/api/v2/fiksorgs/{fiksOrg}/administratorer/delete": {
      "post": {
        "tags": [
          "FiksOrgAdminV2"
        ],
        "summary": "Fjerner FiksOrg administrator",
        "operationId": "slettFiksOrgAdministratorTilgang",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveFiksOrgAdminRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Person som er fjernet som administrator på FiksOrg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonV2"
                }
              }
            }
          },
          "403": {
            "description": "Utførende person må være administrator på FiksOrg"
          }
        }
      }
    },
    "/konfigurasjon/api/v2/fiksorgs/{fiksOrg}/personer/get": {
      "post": {
        "tags": [
          "PersonV2"
        ],
        "summary": "Henter person",
        "operationId": "hentPerson",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonGetRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Person med forespurte fødselsnummer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonV2"
                }
              }
            }
          }
        }
      }
    },
    "/konfigurasjon/api/v2/fiksorgs/{fiksOrg}/personer": {
      "post": {
        "tags": [
          "PersonV2"
        ],
        "summary": "Oppretter en person på FiksOrg",
        "operationId": "opprettPerson",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonCreateRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Den opprettede personen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonV2"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "PersonV2"
        ],
        "summary": "Oppdaterer person",
        "operationId": "oppdaterPerson",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonUpdateRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Den oppdaterte personen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonV2"
                }
              }
            }
          }
        }
      }
    },
    "/konfigurasjon/api/v2/fiksorgs/{fiksOrg}/ressurser/{ressursId}/tilganger/delete": {
      "post": {
        "tags": [
          "RessursTilgangV2"
        ],
        "summary": "Fjerner privilegie person har på ressurs",
        "operationId": "fjernPrivilegieForPersonPaRessurs",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ressursId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveRessursPrivilegieRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Person som ikke lengre har privilegie på ressurs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonV2"
                }
              }
            }
          },
          "403": {
            "description": "Utførende person må være administrator på tjenesten"
          }
        }
      }
    },
    "/konfigurasjon/api/v2/fiksorgs/{fiksOrg}/ressurser/{ressursId}/tilganger": {
      "post": {
        "tags": [
          "RessursTilgangV2"
        ],
        "summary": "Gir person privilegie på ressurs",
        "operationId": "giPersonPrivilegiePaRessurs",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ressursId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRessursTilgangRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Person som er lagt til med privilegie på ressurs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonV2"
                }
              }
            }
          },
          "403": {
            "description": "Utførende person må være administrator på tjenesten"
          }
        }
      }
    },
    "/konfigurasjon/api/v2/fiksorgs/{fiksOrg}/ressurser/{ressursId}/tilganger/privilegier/{privilegie}": {
      "get": {
        "tags": [
          "RessursTilgangV2"
        ],
        "summary": "Henter alle personer som har 'Privilegie' på ressurs",
        "operationId": "hentPersonerMedPrivilegiePaRessurs",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ressursId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "privilegie",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^[0-9A-Z_.]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Personer med privilegie på ressurs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RessursTilgangerV2"
                }
              }
            }
          }
        }
      }
    },
    "/konfigurasjon/api/v2/fiksorgs/{fiksOrg}/tjenester/{tjenesteType}/administratorer": {
      "get": {
        "tags": [
          "TjenesteAdminV2"
        ],
        "summary": "Henter alle administratorer på tjenesten",
        "operationId": "hentTjenesteAdministratorer",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tjenesteType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Administratorer på tjenesten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TjenesteAdministratorerV2"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "TjenesteAdminV2"
        ],
        "summary": "Legger til person som tjeneste administrator",
        "operationId": "giTjenesteAdministratorTilgang",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tjenesteType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTjenesteAdminRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Person som er lagt til som administrator på tjenesten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonV2"
                }
              }
            }
          },
          "403": {
            "description": "Utførende person må være administrator på tjenesten"
          }
        }
      }
    },
    "/konfigurasjon/api/v2/fiksorgs/{fiksOrg}/tjenester/{tjenesteType}/administratorer/delete": {
      "post": {
        "tags": [
          "TjenesteAdminV2"
        ],
        "summary": "Fjerner person som administrator på tjenesten",
        "operationId": "slettTjenesteAdministratorTilgang",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tjenesteType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveTjenesteAdminRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Person som er fjernet som administrator på tjenesten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonV2"
                }
              }
            }
          },
          "403": {
            "description": "Utførende person må være administrator på tjenesten"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "PersonV2": {
        "required": [
          "fiksOrg",
          "fnr",
          "navn"
        ],
        "type": "object",
        "properties": {
          "fiksOrg": {
            "type": "string",
            "description": "Personens tilknyttede fiksOrg",
            "format": "uuid"
          },
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Fødselsnummeret til personen."
          },
          "navn": {
            "type": "string",
            "description": "Personens fulle navn."
          }
        },
        "description": "En person med tilhørende kontaktinformasjon."
      },
      "AddFiksOrgAdminRequestV2": {
        "required": [
          "fnr",
          "navn"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Fødselsnummeret til personen."
          },
          "navn": {
            "maxLength": 150,
            "minLength": 2,
            "type": "string",
            "description": "Personens fulle navn."
          }
        },
        "description": "En forespørsel om å legge en person til som administrator på FiksOrg."
      },
      "FiksOrgAdministratorerV2": {
        "required": [
          "fiksOrg",
          "fiksOrgAmdinistratorer"
        ],
        "type": "object",
        "properties": {
          "fiksOrgAmdinistratorer": {
            "type": "array",
            "description": "Personer som er FiksOrg administratorer",
            "items": {
              "$ref": "#/components/schemas/PersonV2"
            }
          },
          "fiksOrg": {
            "type": "string",
            "description": "FiksOrg som fiksOrgAmdinistratorer har administrator rettigheter på",
            "format": "uuid"
          }
        },
        "description": "Liste over personer som har administrator rettigheter på FiksOrg"
      },
      "RemoveFiksOrgAdminRequestV2": {
        "required": [
          "fnr"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Fødselsnummeret til personen."
          }
        },
        "description": "En forespørsel om å fjerne en person som administrator på FiksOrg."
      },
      "PersonGetRequestV2": {
        "required": [
          "fnr"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Fødselsnummer"
          }
        },
        "description": "En forespørsel om å hente en person"
      },
      "PersonUpdateRequestV2": {
        "required": [
          "fnr",
          "navn"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Fødselsnummer"
          },
          "navn": {
            "maxLength": 450,
            "minLength": 2,
            "type": "string",
            "description": "Personens fulle navn."
          }
        },
        "description": "En forespørsel om å oppdatere en ekisterende person."
      },
      "PersonCreateRequestV2": {
        "required": [
          "fnr",
          "navn"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Fødselsnummeret til personen."
          },
          "navn": {
            "maxLength": 150,
            "minLength": 2,
            "type": "string",
            "description": "Personens fulle navn."
          }
        },
        "description": "En forespørsel om å opprette en person."
      },
      "RemoveRessursPrivilegieRequestV2": {
        "required": [
          "fnr",
          "privilegie"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Fødselsnummeret til personen."
          },
          "privilegie": {
            "pattern": "^[0-9A-Z_.]+$",
            "type": "string",
            "description": "Navnet på det privilegium som aktøren har eller etterspør for en gitt ressurs"
          }
        },
        "description": "En forespørsel om å fjerne en person som administrator på tjeneste."
      },
      "AddRessursTilgangRequestV2": {
        "required": [
          "fnr",
          "navn",
          "privilegie"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Fødselsnummeret til personen."
          },
          "navn": {
            "maxLength": 150,
            "minLength": 2,
            "type": "string",
            "description": "Personens fulle navn."
          },
          "privilegie": {
            "pattern": "^[0-9A-Z_.]+$",
            "type": "string",
            "description": "Navnet på det privilegium som aktøren har eller etterspør for en gitt ressurs"
          }
        },
        "description": "En forespørsel om å legge en person til som administrator på tjeneste."
      },
      "RessursTilgangerV2": {
        "required": [
          "fiksOrg",
          "personer",
          "privilegie",
          "ressurs"
        ],
        "type": "object",
        "properties": {
          "personer": {
            "type": "array",
            "description": "Personer som har privilegie på konto",
            "items": {
              "$ref": "#/components/schemas/PersonV2"
            }
          },
          "fiksOrg": {
            "type": "string",
            "description": "FiksOrg",
            "format": "uuid"
          },
          "ressurs": {
            "type": "string",
            "description": "Ressurs",
            "format": "uuid"
          },
          "privilegie": {
            "type": "string",
            "description": "Privilegie"
          }
        },
        "description": "Liste over personer som har privilegie på ressurs"
      },
      "AddTjenesteAdminRequestV2": {
        "required": [
          "fnr",
          "navn"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Fødselsnummeret til personen."
          },
          "navn": {
            "maxLength": 150,
            "minLength": 2,
            "type": "string",
            "description": "Personens fulle navn."
          }
        },
        "description": "En forespørsel om å legge en person til som administrator på tjeneste."
      },
      "TjenesteAdministratorerV2": {
        "required": [
          "fiksOrg",
          "tjenesteAdministratorer",
          "tjenesteType"
        ],
        "type": "object",
        "properties": {
          "tjenesteAdministratorer": {
            "type": "array",
            "description": "Personer som er administratorer på tjeneste for FiksOrg",
            "items": {
              "$ref": "#/components/schemas/PersonV2"
            }
          },
          "fiksOrg": {
            "type": "string",
            "description": "FiksOrg",
            "format": "uuid"
          },
          "tjenesteType": {
            "type": "string",
            "description": "Tjenestetype"
          }
        },
        "description": "Liste over personer som har administrator rettigheter på tjenestetype under FiksOrg"
      },
      "RemoveTjenesteAdminRequestV2": {
        "required": [
          "fnr"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Fødselsnummeret til personen."
          }
        },
        "description": "En forespørsel om å fjerne en person som administrator på tjeneste."
      }
    }
  }
}