{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Fiks: Brukerprofil service V1",
    "description": "Fiks Konfigurasjon - API for brukerens egen profil og innstillinger i kontekst av en organisasjon",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks@ksdigital.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "BrukerprofilV1",
      "description": "API for brukerens egen profil i kontekst av en organisasjon"
    }
  ],
  "paths": {
    "/konfigurasjon/api/v1/brukerprofil/meg": {
      "get": {
        "tags": [
          "BrukerprofilV1"
        ],
        "summary": "Henter innlogget brukers profil i global kontekst",
        "description": "Returnerer informasjon om den innloggede brukeren, bare fnr, fordi bruker bare har navn i kontekst av organisasjoner",
        "operationId": "hentMegGlobal",
        "responses": {
          "200": {
            "description": "Innlogget brukers profil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MegUtenNavnOgId"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      }
    },
    "/konfigurasjon/api/v1/brukerprofil/{fiksOrgId}/meg": {
      "get": {
        "tags": [
          "BrukerprofilV1"
        ],
        "summary": "Henter innlogget brukers profil i kontekst av organisasjonen",
        "description": "Returnerer informasjon om den innloggede brukeren, deriblant navn, i kontekst av den angitte organisasjonen",
        "operationId": "hentMeg",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrgId"
          }
        ],
        "responses": {
          "200": {
            "description": "Innlogget brukers profil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meg"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          },
          "404": {
            "$ref": "#/components/responses/IkkeEksisterendeRessurs"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Meg": {
        "required": [
          "id",
          "fnr",
          "navn"
        ],
        "type": "object",
        "readOnly": true,
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Brukerens unike identifikator på Fiks-plattformen",
            "example": "5bb48aaa-61e8-4448-8866-1e1085aabb1b"
          },
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Brukerens fødselsnummer",
            "example": "11907100000"
          },
          "navn": {
            "type": "string",
            "description": "Brukerens fulle navn i kontekst av organisasjonen",
            "example": "HANE PEN"
          }
        },
        "description": "Innlogget brukers profil i kontekst av en organisasjon"
      },
      "MegUtenNavnOgId": {
        "required": [
          "fnr"
        ],
        "type": "object",
        "readOnly": true,
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Brukerens fødselsnummer",
            "example": "11907100000"
          }
        },
        "description": "Innlogget brukers profil i global kontekst"
      },
      "ErrorMessage": {
        "type": "object",
        "description": "Feilmelding fra Fiks-plattformen",
        "externalDocs": {
          "description": "Beskrivelse av feilmeldinger",
          "url": "https://ks-no.github.io/fiks-plattform/integrasjoner/#feilmeldinger"
        },
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Tidspunktet da feilen oppstod, angitt som antall millisekunder siden Unix-epoch.",
            "example": 1767222000000
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP-statuskode for feilen.",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "Standardtekst for HTTP-statuskoden.",
            "example": "Bad Request"
          },
          "errorId": {
            "type": "string",
            "format": "uuid",
            "description": "Unik identifikator for feilen. Kan oppgis ved henvendelser for å spore feilen.",
            "example": "15a92338-8d98-4b05-a8a6-a879913259fd"
          },
          "path": {
            "type": "string",
            "description": "Stien i forespørselen som førte til feilen.",
            "example": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112"
          },
          "originalPath": {
            "type": "string",
            "nullable": true,
            "description": "Opprinnelig forespurt sti før eventuell intern feilhåndtering. Feltet er vanligvis utelatt eller satt til null.",
            "example": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112"
          },
          "message": {
            "type": "string",
            "description": "Menneskeliglesbar melding som beskriver feilen.",
            "example": "Noe gikk galt"
          },
          "errorCode": {
            "type": "string",
            "pattern": "^[A-Z]{1,10}-[0-9]{4}$",
            "description": "Maskinlesbar kode som identifiserer feiltypen. Koden følger formatet <applikasjonsprefiks>-<feilkode>.",
            "example": "FIKS-0001"
          },
          "errorJson": {
            "type": "string",
            "deprecated": true,
            "description": "Felt med ekstra feilinformasjon som en JSON-kodet streng. Strukturen avhenger av errorCode. Nye tjenester skal bruke errorDetails i stedet.",
            "example": "{\"fiksOrgId\": \"1a5038d7-c1fe-4110-9310-fe3b096a0564\", \"externalReference\": \"a8793ee2-b7b2-40a5-9731-51e018244cf4\"}"
          },
          "errorDetails": {
            "type": "object",
            "additionalProperties": true,
            "description": "Maskinlesbar tilleggsinformasjon om feilen. Strukturen avhenger av errorCode.",
            "example": {
              "fiksOrgId": "1a5038d7-c1fe-4110-9310-fe3b096a0564",
              "externalReference": "a8793ee2-b7b2-40a5-9731-51e018244cf4"
            }
          }
        },
        "example": {
          "timestamp": 1767222000000,
          "status": 400,
          "error": "Bad Request",
          "errorId": "15a92338-8d98-4b05-a8a6-a879913259fd",
          "path": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112",
          "message": "Ugyldig forespørsel",
          "errorCode": "FIKS-0001",
          "errorDetails": {
            "fiksOrgId": "1a5038d7-c1fe-4110-9310-fe3b096a0564",
            "externalReference": "a8793ee2-b7b2-40a5-9731-51e018244cf4"
          }
        }
      }
    },
    "parameters": {
      "fiksOrgId": {
        "name": "fiksOrgId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "responses": {
      "ManglerTilgang": {
        "description": "Ikke autorisert",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            },
            "example": {
              "message": "Ikke autorisert",
              "status": 403
            }
          }
        }
      },
      "IkkeEksisterendeRessurs": {
        "description": "Ressurs eksisterer ikke",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            },
            "example": {
              "message": "Ressurs eksisterer ikke",
              "status": 404
            }
          }
        }
      }
    }
  }
}