{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Fiks: Person administrasjon service V3",
    "description": "Fiks Konfigurasjon",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks@ks.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "PersonAdministrasjonV3",
      "description": "API for administrasjon av personer/brukere på fiks-plattformen under en organisasjon"
    },
    {
      "name": "FiksOrgAdminV3",
      "description": "API for administrasjon av FiksOrg administratorer"
    },
    {
      "name": "TjenesteAdminV3",
      "description": "API for administrasjon av tjeneste administratorer"
    },
    {
      "name": "RessursAdminV3",
      "description": "API for administrasjon av ressurs administratorer"
    }
  ],
  "paths": {
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/administratorer/{id}": {
      "delete": {
        "tags": [
          "FiksOrgAdminV3"
        ],
        "summary": "Fjerner FiksOrg administrator",
        "description": "Fjerner FiksOrg administrator",
        "operationId": "slettFiksOrgAdministratorTilgang",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrg"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Person som er fjernet som administrator på FiksOrg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      },
      "post": {
        "tags": [
          "FiksOrgAdminV3"
        ],
        "summary": "Legger til FiksOrg administrator",
        "description": "Legger til FiksOrg administrator",
        "operationId": "giFiksOrgAdministratorTilgang",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrg"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Person som er lagt til som administrator på FiksOrg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/administratorer": {
      "get": {
        "tags": [
          "FiksOrgAdminV3"
        ],
        "summary": "Henter FiksOrg administratorer",
        "description": "Henter FiksOrg administratorer",
        "operationId": "hentFiksOrgAdministratorer",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrg"
          }
        ],
        "responses": {
          "200": {
            "description": "Administratorer på FiksOrg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Administratorer"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/personer/{id}": {
      "get": {
        "tags": [
          "PersonAdministrasjonV3"
        ],
        "summary": "Hent en person på en FiksOrg basert på Id",
        "description": "Hent en person på en FiksOrg basert på Id",
        "operationId": "hentPerson",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrg"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "201": {
            "description": "Person med forespurte Id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonExtended"
                },
                "example": {
                  "id": "5bb48aaa-61e8-4448-8866-1e1085aabb1b",
                  "fnr": "21328743903",
                  "navn": "Ola Nordmann",
                  "tilganger": [
                    {
                      "tjenesteNavn": "Fiks FHI",
                      "tjenesteKode": "fhi",
                      "tjenesteId": "5bb48aaa-61e8-4448-8866-1e1085aabb1b",
                      "typeTilgang": "Administrator",
                      "sti": "tjenesteadministrator"
                    },
                    {
                      "tjenesteNavn": "SvarUt",
                      "tjenesteKode": "svarut",
                      "tjenesteId": "c29a5537-0178-4e85-aa8f-2eb8ce98e943",
                      "typeTilgang": "Bruker",
                      "sti": "Donald sin konto --> bruker"
                    },
                    {
                      "tjenesteNavn": "Fiks Melding",
                      "tjenesteKode": "melding",
                      "tjenesteId": "12e9f94e-c2ab-4df3-b3fc-cd9aaafa97af",
                      "typeTilgang": "Administrator",
                      "sti": "tjenesteadministrator"
                    },
                    {
                      "tjenesteNavn": "Fiks Melding - SMS",
                      "tjenesteKode": "melding/sms",
                      "tjenesteId": "e9743160-c8aa-42c0-a1e5-64ee4f56bb99",
                      "typeTilgang": "Bruker",
                      "sti": "Mikke Mus sin konto --> bruker"
                    },
                    {
                      "tjenesteNavn": "Fiks Melding - Del dokument",
                      "tjenesteKode": "melding/dokumentdeling",
                      "tjenesteId": "aa9e1a8f-4a40-48e8-aae6-11d3f39044dd",
                      "typeTilgang": "Administrator",
                      "sti": "Test konto i mock --> administrator"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      },
      "patch": {
        "tags": [
          "PersonAdministrasjonV3"
        ],
        "summary": "Oppdaterer en person på en FiksOrg",
        "description": "Oppdaterer en person på en FiksOrg",
        "operationId": "oppdaterPerson",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrg"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Den oppdaterte personen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      },
      "delete": {
        "tags": [
          "PersonAdministrasjonV3"
        ],
        "summary": "Fjerner en person på en FiksOrg",
        "description": "Fjerner en person på en FiksOrg",
        "operationId": "slettPerson",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrg"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "201": {
            "description": "Person som er fjernet fra FiksOrg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/personer": {
      "post": {
        "tags": [
          "PersonAdministrasjonV3"
        ],
        "summary": "Oppretter en person på FiksOrg",
        "description": "Oppretter en person på FiksOrg",
        "operationId": "opprettPerson",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrg"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePersonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Den opprettede personen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      },
      "get": {
        "tags": [
          "PersonAdministrasjonV3"
        ],
        "summary": "Søker etter personer på en FiksOrg med navn. Tom streng henter ut alle personer.",
        "description": "Søker etter personer på en FiksOrg med navn. Tom streng henter ut alle personer.",
        "operationId": "sokPersoner",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrg"
          },
          {
            "name": "fra",
            "in": "query",
            "required": true,
            "schema": {
              "minLength": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "antall",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "navn",
            "in": "query",
            "description": "Soker pa navn",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sok",
            "in": "query",
            "description": "Soker pa navn, eller fnr dersom sok inneholder gyldig fnr",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liste med personer på et søk med paginering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Personer"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/bulk/personer": {
      "get": {
        "tags": [
          "PersonAdministrasjonV3"
        ],
        "summary": "Henter en Excel-fil med personer på en FiksOrg",
        "description": "Henter en Excel-fil med personer på en FiksOrg",
        "operationId": "hentPersonerExcel",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrg"
          }
        ],
        "responses": {
          "200": {
            "description": "En Excel-fil med personer",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/tjenester/{tjenesteType}/administratorer": {
      "get": {
        "tags": [
          "TjenesteAdminV3"
        ],
        "summary": "Henter alle administratorer på tjenesten",
        "description": "Henter alle administratorer på tjenesten",
        "operationId": "hentTjenesteAdministratorer",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrg"
          },
          {
            "$ref": "#/components/parameters/tjenesteType"
          }
        ],
        "responses": {
          "200": {
            "description": "Administratorer på tjenesten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Administratorer"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/tjenester/{tjenesteType}/administratorer/{id}": {
      "post": {
        "tags": [
          "TjenesteAdminV3"
        ],
        "summary": "Legger til person som tjeneste administrator",
        "description": "Legger til person som tjeneste administrator",
        "operationId": "giTjenesteAdministratorTilgang",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrg"
          },
          {
            "$ref": "#/components/parameters/tjenesteType"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Person som er lagt til som administrator på tjenesten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      },
      "delete": {
        "tags": [
          "TjenesteAdminV3"
        ],
        "summary": "Fjerner person som administrator på tjenesten",
        "description": "Fjerner person som administrator på tjenesten",
        "operationId": "slettTjenesteAdministratorTilgang",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrg"
          },
          {
            "$ref": "#/components/parameters/tjenesteType"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Person som er fjernet som administrator på tjenesten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/ressurser/{ressursId}/administratorer": {
      "get": {
        "tags": [
          "RessursAdminV3"
        ],
        "description": "Henter alle administratorer på en ressurs",
        "operationId": "hentRessursAdministratorer",
        "summary": "Henter alle administratorer på en ressurs",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrg"
          },
          {
            "$ref": "#/components/parameters/ressursId"
          }
        ],
        "responses": {
          "200": {
            "description": "Administratorer på ressurs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Administratorer"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/ressurser/{ressursId}/administratorer/{id}": {
      "post": {
        "tags": [
          "RessursAdminV3"
        ],
        "description": "Legger til person som ressurs administrator",
        "summary": "Legger til person som ressurs administrator",
        "operationId": "giRessursAdministratorTilgang",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrg"
          },
          {
            "$ref": "#/components/parameters/ressursId"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Person som er lagt til som administrator på ressurs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      },
      "delete": {
        "tags": [
          "RessursAdminV3"
        ],
        "description": "Fjerner person som administrator på ressurs",
        "summary": "Fjerner person som administrator på ressurs",
        "operationId": "slettRessursAdministratorTilgang",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrg"
          },
          {
            "$ref": "#/components/parameters/ressursId"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Person som er fjernet som administrator på ressurs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "UnikId": {
        "type": "string",
        "format": "uuid",
        "description": "Unik identifikator",
        "example": "5bb48aaa-61e8-4448-8866-1e1085aabb1b"
      },
      "Person": {
        "required": [
          "id",
          "fdato",
          "navn"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/UnikId"
          },
          "fdato": {
            "pattern": "^[0-9]{6}$",
            "type": "string",
            "description": "Fødselsdato til personen"
          },
          "navn": {
            "type": "string",
            "description": "Personens fulle navn"
          }
        },
        "description": "En person med tilhørende kontaktinformasjon."
      },
      "PersonExtended": {
        "required": [
          "id",
          "fnr",
          "navn",
          "tilganger"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/UnikId"
          },
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Personens fødselsnummer"
          },
          "navn": {
            "type": "string",
            "description": "Personens fulle navn"
          },
          "tilganger": {
            "type": "array",
            "description": "Liste med tilganger. Returnerer tom liste visst ingen tilganger.",
            "items": {
              "$ref": "#/components/schemas/Tilgang"
            }
          }
        },
        "description": "En person med tilhørende kontaktinformasjon og tilganger."
      },
      "Administratorer": {
        "required": [
          "administratorer"
        ],
        "type": "object",
        "properties": {
          "administratorer": {
            "type": "array",
            "description": "Personer som er FiksOrg administratorer",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          }
        },
        "description": "Liste over personer som har administrator rettigheter på FiksOrg"
      },
      "Personer": {
        "required": [
          "personer",
          "totalt"
        ],
        "type": "object",
        "properties": {
          "personer": {
            "type": "array",
            "description": "Personer som er på en FiksOrg",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "totalt": {
            "type": "integer",
            "format": "int32"
          }
        },
        "description": "Liste over personer som er på en FiksOrg"
      },
      "CreatePersonRequest": {
        "required": [
          "fnr",
          "navn"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Personens fødselsnummer"
          },
          "navn": {
            "maxLength": 150,
            "minLength": 2,
            "type": "string",
            "description": "Personens fulle navn."
          }
        },
        "description": "En forespørsel om å opprette en person."
      },
      "UpdatePersonRequest": {
        "required": [
          "navn"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "maxLength": 150,
            "minLength": 2,
            "type": "string",
            "description": "Personens fulle navn"
          }
        },
        "description": "En forespørsel om å oppdatere en person."
      },
      "Tilgang": {
        "required": [
          "tjenesteNavn",
          "tjenesteKode",
          "typeTilgang",
          "sti"
        ],
        "type": "object",
        "properties": {
          "tjenesteNavn": {
            "type": "string",
            "description": "Navn på tjenesten hvor bruker har tilgang."
          },
          "tjenesteKode": {
            "type": "string",
            "description": "Tjenestekoden på tjenesten."
          },
          "tjenesteId": {
            "type": "string",
            "description": "TjenesteId på tjenesten.",
            "format": "uuid"
          },
          "typeTilgang": {
            "type": "string",
            "enum": [
              "Administrator",
              "Bruker"
            ],
            "description": "Type tilgang en bruker har."
          },
          "sti": {
            "type": "string",
            "description": "Sti til tilgangen en bruker har på en gitt tjeneste"
          }
        },
        "description": "En tilgang til en bruker."
      },
      "ErrorMessage": {
        "type": "object",
        "description": "Feilmelding fra Fiks-plattformen",
        "externalDocs": {
          "description": "Beskrivelse av feilmeldinger",
          "url": "https://ks-no.github.io/fiks-plattform/integrasjoner/#feilmeldinger"
        },
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        },
        "example": {
          "message": "Mangler tilgang",
          "errorId": "ee2ed64d-de8b-45f9-b9c6-3363d662d93b",
          "status": 403
        }
      }
    },
    "parameters": {
      "fiksOrg": {
        "name": "fiksOrg",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "tjenesteType": {
        "name": "tjenesteType",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ressursId": {
        "name": "ressursId",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/UnikId"
        }
      }
    },
    "responses": {
      "ManglerTilgang": {
        "description": "Ikke autorisert",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            },
            "example": {
              "message": "Ikke autorisert",
              "status": 403
            }
          }
        }
      }
    }
  }
}