{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Fiks: Person administrasjon service V3",
    "description": "Fiks Konfigurasjon",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks@ks.no"
    },
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "PersonAdministrasjonV3",
      "description": "API for administrasjon av personer/brukere på fiks-plattformen under en organisasjon"
    },
    {
      "name": "FiksOrgAdminV3",
      "description": "API for administrasjon av FiksOrg administratorer"
    },
    {
      "name": "TjenesteAdminV3",
      "description": "API for administrasjon av tjeneste administratorer"
    }
  ],
  "paths": {
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/administratorer/{id}": {
      "delete": {
        "tags": [
          "FiksOrgAdminV3"
        ],
        "summary": "Fjerner FiksOrg administrator",
        "operationId": "slettFiksOrgAdministratorTilgang",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person som er fjernet som administrator på FiksOrg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "403": {
            "description": "Utførende person må være administrator på FiksOrg"
          }
        }
      },
      "post": {
        "tags": [
          "FiksOrgAdminV3"
        ],
        "summary": "Legger til FiksOrg administrator",
        "operationId": "giFiksOrgAdministratorTilgang",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person som er lagt til som administrator på FiksOrg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "403": {
            "description": "Utførende person må være administrator på FiksOrg"
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/administratorer": {
      "get": {
        "tags": [
          "FiksOrgAdminV3"
        ],
        "summary": "Henter FiksOrg administratorer",
        "operationId": "hentFiksOrgAdministratorer",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Administratorer på FiksOrg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Administratorer"
                }
              }
            }
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/personer/{id}": {
      "get": {
        "tags": [
          "PersonAdministrasjonV3"
        ],
        "summary": "Hent en person på en FiksOrg basert på Id",
        "operationId": "hentPerson",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Person med forespurte Id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonExtended"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "PersonAdministrasjonV3"
        ],
        "summary": "Oppdaterer en person på en FiksOrg",
        "operationId": "oppdaterPerson",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Den oppdaterte personen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PersonAdministrasjonV3"
        ],
        "summary": "Fjerner en person på en FiksOrg",
        "operationId": "slettPerson",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Person som er fjernet fra FiksOrg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/personer": {
      "post": {
        "tags": [
          "PersonAdministrasjonV3"
        ],
        "summary": "Oppretter en person på FiksOrg",
        "operationId": "opprettPerson",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePersonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Den opprettede personen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "PersonAdministrasjonV3"
        ],
        "summary": "Søker etter personer på en FiksOrg med navn. Tom streng henter ut alle personer.",
        "operationId": "sokPersoner",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fra",
            "in": "query",
            "required": true,
            "schema": {
              "minLength": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "antall",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liste med personer på et søk med paginering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Personer"
                }
              }
            }
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/tjenester/{tjenesteType}/administratorer": {
      "get": {
        "tags": [
          "TjenesteAdminV3"
        ],
        "summary": "Henter alle administratorer på tjenesten",
        "operationId": "hentTjenesteAdministratorer",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tjenesteType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Administratorer på tjenesten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Administratorer"
                }
              }
            }
          }
        }
      }
    },
    "/konfigurasjon/api/v3/organisasjoner/{fiksOrg}/tjenester/{tjenesteType}/administratorer/{id}": {
      "post": {
        "tags": [
          "TjenesteAdminV3"
        ],
        "summary": "Legger til person som tjeneste administrator",
        "operationId": "giTjenesteAdministratorTilgang",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tjenesteType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person som er lagt til som administrator på tjenesten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "403": {
            "description": "Utførende person må være administrator på tjenesten"
          }
        }
      },
      "delete": {
        "tags": [
          "TjenesteAdminV3"
        ],
        "summary": "Fjerner person som administrator på tjenesten",
        "operationId": "slettTjenesteAdministratorTilgang",
        "parameters": [
          {
            "name": "fiksOrg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tjenesteType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person som er fjernet som administrator på tjenesten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "403": {
            "description": "Utførende person må være administrator på tjenesten"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Person": {
        "required": [
          "id",
          "fdato",
          "navn"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Personens unike Id",
            "format": "uuid"
          },
          "fdato": {
            "pattern": "^[0-9]{6}$",
            "type": "string",
            "description": "Fødselsdato til personen"
          },
          "navn": {
            "type": "string",
            "description": "Personens fulle navn"
          }
        },
        "description": "En person med tilhørende kontaktinformasjon."
      },
      "PersonExtended": {
        "required": [
          "id",
          "fnr",
          "navn"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Personens unike Id",
            "format": "uuid"
          },
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Personens fødselsnummer"
          },
          "navn": {
            "type": "string",
            "description": "Personens fulle navn"
          }
        },
        "description": "En person med tilhørende kontaktinformasjon."
      },
      "Administratorer": {
        "required": [
          "administratorer"
        ],
        "type": "object",
        "properties": {
          "administratorer": {
            "type": "array",
            "description": "Personer som er FiksOrg administratorer",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          }
        },
        "description": "Liste over personer som har administrator rettigheter på FiksOrg"
      },
      "Personer": {
        "required": [
          "personer",
          "totalt"
        ],
        "type": "object",
        "properties": {
          "personer": {
            "type": "array",
            "description": "Personer som er på en FiksOrg",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "totalt": {
            "type": "integer",
            "format": "int32"
          }
        },
        "description": "Liste over personer som er på en FiksOrg"
      },
      "CreatePersonRequest": {
        "required": [
          "fnr",
          "navn"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Personens fødselsnummer"
          },
          "navn": {
            "maxLength": 150,
            "minLength": 2,
            "type": "string",
            "description": "Personens fulle navn."
          }
        },
        "description": "En forespørsel om å opprette en person."
      },
      "UpdatePersonRequest": {
        "required": [
          "navn"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "maxLength": 150,
            "minLength": 2,
            "type": "string",
            "description": "Personens fulle navn"
          }
        },
        "description": "En forespørsel om å oppdatere en person."
      }
    }
  }
}