{
  "openapi": "3.0.3",
  "info": {
    "title": "KS FIKS: Konsesjon service",
    "description": "Konsesjon service",
    "contact": {
      "name": "Fiks konsesjon",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ksdigital.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.test.fiks.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "tags": [
    {
      "name": "Eiendomssalg - Konsesjonsavklaring",
      "description": "API for konsesjonsavklaring ved eiendomssalg"
    }
  ],
  "paths": {
    "/konsesjon/api/v1/eiendomssalg/egenerklaering/paakrevd": {
      "get": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "description": "Returnerer om en egenerklæring er påkrevd for eiendommen og om det er boplikt",
        "operationId": "getEgenerklaeringPaakrevdAndBoplikt",
        "parameters": [
          {
            "name": "knr",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gnr",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "bnr",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fnr",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "snr",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EgenerklaeringPaakrevdOgBopliktResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen eiendommer som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendomssalg/avklaring/start": {
      "post": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "description": "Oppretter konsesjonsavklaring",
        "operationId": "opprettKonsesjonsAvklaring",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsesjonsAvklaringOpprettelse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Konsesjonsavklaring har blitt opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonReferanse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt - Det finnes allerede en konsesjonsavklaring for denne eiendommen og erververen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendomssalg/egenerklaering/{avklaringsId}/presjekk": {
      "post": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "description": "Kjør presjekk for egenerklaering",
        "operationId": "presjekkEgenerklaering",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Presjekk fullført",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresjekkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendomssalg/egenerklaering/{avklaringsId}/hovedsjekk": {
      "post": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "description": "Kjør hovedsjekk for egenerklaering",
        "operationId": "hovedsjekkEgenerklaering",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minItems": 1,
                "items": {
                  "$ref": "#/components/schemas/ErververMedEierandel"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Hovedsjekk fullført",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HovedsjekkResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendomssalg/felles/{avklaringsId}/pdf": {
      "get": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "description": "Genererer en PDF av det ferdigstilte skjemaet",
        "operationId": "getPdf",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF generert",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt - Feil status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendomssalg/egenerklaering/{avklaringsId}/send": {
      "post": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "summary": "Sender konsesjonsavklaring til erververe",
        "operationId": "sendEgenerklaering",
        "parameters": [
          {
            "name": "avklaringsId",
            "in": "path",
            "description": "UUID-en til konsesjonsavklaring",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Konsesjonsavklaring sendt"
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - bearer token not sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt - Har ikke passert presjekk enda",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendomssalg/avklaring/godkjenn": {
      "post": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "description": "Godkjenner konsesjonsavklaringer, sender dem til Fiks-Arkiv, og oppretter oppgave i Min Kommune",
        "operationId": "godkjennKonsesjonsAvklaring",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GodkjenningsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Konsesjonsavklaring godkjent og sendt til Fiks-Arkiv, og oppgave opprettet i Min Kommune",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GodkjenningsResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke egenerklaering som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendomssalg/avklaring/{avklaringsId}/status": {
      "get": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "description": "Hent konsesjonsavklaringsstatus",
        "operationId": "getAvklaringStatus",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status for konsesjonsavklaringsøknad hentet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonAvklaringStatus"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BopliktResponse": {
        "type": "object",
        "properties": {
          "harBoplikt": {
            "type": "string",
            "enum": [
              "JA",
              "NEI",
              "MULIGENS"
            ]
          },
          "bopliktForklaringResponse": {
            "type": "string",
            "enum": [
              "NEDSATT_KONSESJONSGRENSE_DEKKER_IKKE_HELE_EIENDOMMEN",
              "HVIS_IKKE_ARVER_FRA_SLEKTSKAP",
              "HVIS_EIENDOM_UNDER_OPPFOERING_OG_I_OMRAADE_REGULERT_TIL_BOLIGFORMAAL",
              "HVIS_UBEBYGD_EIENDOM_I_OMRAADE_REGULERT_TIL_BOLIGFORMAAL",
              "BRUKT_SOM_HELAARSBOLIG"
            ]
          }
        }
      },
      "EgenerklaeringPaakrevdOgBopliktResponse": {
        "type": "object",
        "properties": {
          "egenerklaeringPaakrevd": {
            "type": "boolean"
          },
          "boplikt": {
            "$ref": "#/components/schemas/BopliktResponse"
          }
        }
      },
      "PresjekkResponse": {
        "type": "string",
        "enum": [
          "KREVES_IKKE",
          "DEL_AV_STORRE_LANDBRUKSEIENDOM",
          "KREVER_EGENERKLARING"
        ]
      },
      "HovedsjekkResponse": {
        "type": "object",
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          },
          "erverver": {
            "$ref": "#/components/schemas/ErververId"
          },
          "innsendtSkjemaStatus": {
            "$ref": "#/components/schemas/InnsendtSkjemaStatus"
          }
        }
      },
      "ErververId": {
        "type": "object",
        "properties": {
          "fodselsnummer": {
            "type": "string",
            "maxLength": 11,
            "minLength": 11
          },
          "organisasjonsnummer": {
            "type": "string",
            "maxLength": 9,
            "minLength": 9
          },
          "navn": {
            "type": "string"
          }
        },
        "required": [
          "fodselsnummer"
        ]
      },
      "ErververMedEierandel": {
        "type": "object",
        "description": "Erverver og eierskapsandel for en erverver i en egenerklæring",
        "properties": {
          "erverver": {
            "$ref": "#/components/schemas/Erverver"
          },
          "eiendommer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EiendomMedEierandel"
            }
          }
        },
        "required": [
          "erverver",
          "eiendommer"
        ]
      },
      "EiendomMedEierandel": {
        "type": "object",
        "properties": {
          "eiendomsId": {
            "$ref": "#/components/schemas/EiendomsId"
          },
          "eierandel": {
            "$ref": "#/components/schemas/Eierandel"
          }
        },
        "required": [
          "eiendomsId"
        ]
      },
      "Erverver": {
        "type": "object",
        "required": [
          "erververId"
        ],
        "properties": {
          "erververId": {
            "$ref": "#/components/schemas/ErververId"
          },
          "navn": {
            "type": "string"
          },
          "adresse": {
            "type": "string"
          },
          "postnr": {
            "type": "string"
          },
          "poststed": {
            "type": "string"
          },
          "epost": {
            "type": "string"
          },
          "telefonnummer": {
            "type": "string"
          }
        }
      },
      "Eierandel": {
        "type": "object",
        "required": [
          "teller",
          "nevner"
        ],
        "properties": {
          "teller": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          },
          "nevner": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          }
        }
      },
      "KonsesjonsavklaringId": {
        "type": "object",
        "properties": {
          "konsesjonsavklaringId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "EiendomsId": {
        "type": "object",
        "required": [
          "kommunenummer",
          "gaardsnummer",
          "bruksnummer"
        ],
        "properties": {
          "kommunenummer": {
            "type": "string",
            "minLength": 4,
            "maxLength": 4
          },
          "gaardsnummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 999999
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 999999
          },
          "festenummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 999999
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 999999
          }
        }
      },
      "InnsendtSkjemaStatus": {
        "type": "string",
        "enum": [
          "FERDIGSTILT_AUTOMATISK_GODKJENT",
          "FERDIGSTILT_TRENGER_MANUELL_OPPFOELGING",
          "MANUELL_UTFYLLING_LDIR_360_GROENT",
          "MANUELL_UTFYLLING_BEBYGD_LDIR_356_ROEDT",
          "MANUELL_UTFYLLING_UBEBYGD_LDIR_356_ROEDT",
          "AVVENTER_RELASJONSSJEKK_MED_ODEL",
          "AVVENTER_RELASJONSSJEKK_UTEN_ODEL",
          "AVVENTER_BOPLIKTS_UNNTAK_LDIR_356_ROEDT",
          "AVVENTER_BOPLIKTS_UNNTAK_LDIR_356_ROEDT_UTEN_SLEKTSKAP",
          "TRENGER_BOPLIKT_AVKLARING",
          "TRENGER_KONSESJONSFORHOLD_AVKLARING",
          "TRENGER_MANUELL_UTFYLLING_GRUNNET_TEIGDATA",
          "TRENGER_SOEKNAD"
        ]
      },
      "KonsesjonsAvklaringOpprettelse": {
        "type": "object",
        "required": [
          "matrikkelnummer"
        ],
        "properties": {
          "matrikkelnummer": {
            "$ref": "#/components/schemas/MatrikkelNummer"
          }
        }
      },
      "MatrikkelNummer": {
        "type": "object",
        "properties": {
          "kommunenummer": {
            "type": "string",
            "minLength": 4,
            "maxLength": 4
          },
          "gaardsnummer": {
            "type": "integer",
            "format": "int32",
            "maximum": 999999,
            "minimum": 1
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32",
            "maximum": 999999,
            "minimum": 1
          },
          "festenummer": {
            "type": "integer",
            "format": "int32",
            "maximum": 999999,
            "minimum": 0
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32",
            "maximum": 999999,
            "minimum": 0
          }
        },
        "required": [
          "kommunenummer",
          "gaardsnummer",
          "bruksnummer",
          "festenummer",
          "seksjonsnummer"
        ]
      },
      "KonsesjonReferanse": {
        "type": "object",
        "required": [
          "avklaringsId"
        ],
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "KonsesjonAvklaringStatus": {
        "type": "string",
        "enum": [
          "OPPRETTET",
          "INNHENTER_DATA",
          "KLAR_FOR_BEKREFTELSE",
          "FEIL_VED_INNHENTING",
          "PASSERT_PRESJEKK",
          "SENDT_TIL_HOVEDSJEKK",
          "EIENDOM_IKKE_FUNNET",
          "DEL_AV_STORRE_LANDBRUKSEIENDOM",
          "KREVER_IKKE_EGENERKLAERING"
        ]
      },
      "GodkjenningsRequest": {
        "type": "object",
        "required": [
          "avklaringsId"
        ],
        "properties": {
          "avklaringsId": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "GodkjenningsResponse": {
        "type": "object",
        "required": [
            "avklaringsId",
            "erverver",
            "status"
        ],
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          },
          "erverver": {
            "$ref": "#/components/schemas/ErververId"
          },
          "status": {
            "$ref": "#/components/schemas/GodkjenningsStatus"
          }
        }
      },
      "GodkjenningsStatus": {
        "type": "string",
        "enum": [
          "GODKJENT_SENDT_TIL_ARKIV",
          "FEILET_IKKE_SENDT_TIL_ARKIV"
        ]
      }
    }
  }
}
