{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Hjelpemiddel FIKS Forvaltning API v1",
    "description": "API for konfigurasjon av KS Hjelpemiddel fra forvaltning",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://forvaltning.fiks.ks.no",
      "description": "KS Fiks API PROD"
    },
    {
      "url": "https://forvaltning.fiks.test.ks.no",
      "description": "KS Fiks API host TEST"
    },
    {
      "url": "https://forvaltning.fiks.dev.ks.no",
      "description": "KS Fiks API host DEV"
    },
    {
      "url": "http://fiks-kshjelpemiddel-konfig-service:8080",
      "description": "OpenShift service"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Konfigurasjon"
    }
  ],
  "paths": {
    "/fiks-kshjelpemiddel-konfig/api/v1/{fiksOrgUuid}/setActivation": {
      "post": {
        "tags": [
          "Konfigurasjon"
        ],
        "summary": "Aktiverer KS Hjelpemiddel konto",
        "operationId": "setActivation",
        "parameters": [
          {
            "name": "fiksOrgUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID for Fiks organisasjon."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status for KS Hjelpemiddel konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-kshjelpemiddel-konfig/api/v1/{fiksOrgUuid}/status": {
      "get": {
        "tags": [
          "Konfigurasjon"
        ],
        "summary": "Sjekk om KS Hjelpemiddel er ferdig konfigurert",
        "operationId": "getStatus",
        "parameters": [
          {
            "name": "fiksOrgUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID for Fiks organisasjon."
          }
        ],
        "responses": {
          "200": {
            "description": "Returnerer status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-kshjelpemiddel-konfig/api/v1/{fiksOrgUuid}/getSmsSenderName": {
      "get": {
        "tags": [
          "Konfigurasjon"
        ],
        "summary": "Hent SMS avsendernavn",
        "operationId": "getSmsSenderName",
        "parameters": [
          {
            "name": "fiksOrgUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID for Fiks organisasjon."
          }
        ],
        "responses": {
          "200": {
            "description": "Returnerer definert SMS avsendernavn, null hvis det ikke er definert enda.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSmsSenderNameResponse"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-kshjelpemiddel-konfig/api/v1/{fiksOrgUuid}/setSmsSenderName": {
      "post": {
        "tags": [
          "Konfigurasjon"
        ],
        "summary": "Sett SMS avsendernavn.",
        "operationId": "setSmsSenderName",
        "parameters": [
          {
            "name": "fiksOrgUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID for Fiks organisasjon."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetSmsSenderNameRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Brukerfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-kshjelpemiddel-konfig/api/v1/{fiksOrgUuid}/getAdministratorPersons": {
      "get": {
        "tags": [
          "Konfigurasjon"
        ],
        "summary": "Hent administrator-brukere som er definert for KS Hjelpemiddel",
        "operationId": "getAdministratorPersons",
        "parameters": [
          {
            "name": "fiksOrgUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID for Fiks organisasjon."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdministratorPersonsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-kshjelpemiddel-konfig/api/v1/{fiksOrgUuid}/addAdministratorPerson": {
      "post": {
        "tags": [
          "Konfigurasjon"
        ],
        "summary": "Legg til administrator-bruker for KS Hjelpemiddel",
        "operationId": "addAdministratorPerson",
        "parameters": [
          {
            "name": "fiksOrgUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID for Fiks organisasjon."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAdministratorPersonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Brukerfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-kshjelpemiddel-konfig/api/v1/{fiksOrgUuid}/removeAdministratorPerson": {
      "post": {
        "tags": [
          "Konfigurasjon"
        ],
        "summary": "Legg til administrator-bruker for KS Hjelpemiddel",
        "operationId": "removeAdministratorPerson",
        "parameters": [
          {
            "name": "fiksOrgUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID for Fiks organisasjon."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAdministratorPersonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Brukerfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      },
      "ActivateRequest": {
        "type": "object",
        "properties": {
          "isActive": {
            "type": "boolean",
            "nullable": false,
            "description": "Settes til true for å aktivere, false for å deaktivere."
          },
          "smsSenderName": {
            "type": "string",
            "nullable": true,
            "maxLength": 11,
            "description": "Obligatorisk ved aktivering. Maks 11 tegn."
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "isReadyForUse": {
            "type": "boolean",
            "description": "True if KS Hjelpemiddel is ready for use, false if not."
          },
          "isActive": {
            "type": "boolean",
            "description": "True if KS Hjelpemiddel is activated, false if not."
          },
          "missingConfigurations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RequiredConfigurations"
            }
          }
        }
      },
      "RequiredConfigurations": {
        "type": "string",
        "enum": [
          "FiksOrgInfo",
          "SmsSenderName",
          "AdministratorPerson",
          "FiksNavApiProxyActivatedForFiksOrg"
        ]
      },
      "GetSmsSenderNameResponse": {
        "type": "object",
        "properties": {
          "smsSenderName": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SetSmsSenderNameRequest": {
        "type": "object",
        "properties": {
          "smsSenderName": {
            "type": "string",
            "nullable": false,
            "maxLength": 11
          }
        }
      },
      "GetAdministratorPersonsResponse": {
        "type": "object",
        "properties": {
          "administratorPersons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdministratorPerson"
            }
          }
        }
      },
      "AdministratorPerson": {
        "type": "object",
        "properties": {
          "fnr": {
            "type": "string",
            "nullable": false
          },
          "fullName": {
            "type": "string",
            "nullable": false
          }
        }
      },
      "AddAdministratorPersonRequest": {
        "type": "object",
        "properties": {
          "fnr": {
            "type": "string",
            "nullable": false
          }
        }
      },
      "RemoveAdministratorPersonRequest": {
        "type": "object",
        "properties": {
          "fnr": {
            "type": "string",
            "nullable": false
          }
        }
      }
    }
  }
}