{
  "openapi": "3.0.3",
  "info": {
    "title": "KS Kunnskap synkronisering konfigurasjon service",
    "description": "Kunnskap konfigurasjon service",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.test.fiks.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "tags": [
    {
      "name": "Kunnskap",
      "description": "API for KS kunnskap synkronisering konfigurasjon"
    },
    {
      "name": "SSO",
      "description": "API for konfigurering av KS SSO"
    },
    {
      "name": "grupper",
      "description": "API for grupper"
    }
  ],
  "paths": {
    "/kskunnskap-synkronisering/konfigurasjon/api/v1/{fiksOrgId}/sso": {
      "get": {
        "tags": [
          "SSO"
        ],
        "description": "Henter SSO konfigurasjon",
        "operationId": "hentSSOConfig",
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Organisasjonen sin fiksOrgId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSO konfigurasjon hentet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SsoConfig"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "SSO"
        ],
        "description": "Oppretter SSO konfigurasjon",
        "operationId": "opprettSSOConfig",
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Organisasjonen sin fiksOrgId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SsoConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSO konfigurasjon opprettet"
          }
        }
      },
      "put": {
        "tags": [
          "SSO"
        ],
        "description": "Endrer SSO konfigurasjon",
        "operationId": "endreSSOConfig",
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Organisasjonen sin fiksOrgId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SsoConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSO konfigurasjon endret"
          }
        }
      },
      "delete": {
        "tags": [
            "SSO"
        ],
        "description": "Sletter",
        "operationId": "slettSSOConfig",
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Organisasjonen sin fiksOrgId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "SSO konfigurasjon slettet"
          }
        }
      }
    },
    "/kskunnskap-synkronisering/konfigurasjon/api/v1/{fiksOrgId}": {
      "post": {
        "tags": [
          "Konfigurasjon"
        ],
        "description": "Oppretter konfigurasjon for synkronisering",
        "operationId": "opprettKonfigurasjon",
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Organisasjonen sin fiksOrgId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonfigurasjonRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Konfigurasjon opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonfigurasjonResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Henter konfigurasjon for en organisasjon",
        "operationId": "hentKonfigurasjon",
        "tags": [
          "Konfigurasjon"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hentet konfigurasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonfigurasjonResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Endrer en konfigurasjon",
        "operationId": "endreKonfigurasjon",
        "tags": [
          "Konfigurasjon"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonfigurasjonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonfigurasjonResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Sletter Konfigurasjon",
        "operationId": "slettKonfigurasjon",
        "tags": [
          "Konfigurasjon"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Konfigurasjon er slettet"
          }
        }
      }
    },
    "/kskunnskap-synkronisering/konfigurasjon/api/v1/kildesystemer/{fiksOrgId}": {
      "get": {
        "description": "Henter alle kildesystemer tilgjengelig for en organisasjon",
        "operationId": "hentAlleKildesystemerForOrg",
        "tags": [
          "Konfigurasjon"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Organisasjonen sin fiksOrgId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KildesystemResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kskunnskap-synkronisering/konfigurasjon/api/v1/{fiksOrgId}/grupper": {
      "get": {
        "description": "Henter alle grupper i en organisasjon fra brukersynkronisering, uavhengig om de har tilgang eller ikke på KSL",
        "operationId": "hentGrupper",
        "tags": [
          "grupper"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Organisasjonen sin fiksOrgId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/gruppe"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kskunnskap-synkronisering/konfigurasjon/api/v1/{fiksOrgId}/grupper/tilgang": {
      "get": {
        "description": "Henter alle grupper med tilgang, uavhengig av kildesystem",
        "operationId": "hentGrupperMedTilgang",
        "tags": [
          "grupper"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Organisasjonen sin fiksOrgId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/gruppeMedTilgangDefinisjon"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Legger til gruppe med tilgang",
        "operationId": "LeggTilGruppeMedTilgang",
        "tags": [
          "grupper"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Organisasjonen sin fiksOrgId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/nyGruppeMedTilgang"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gruppeMedTilgangDefinisjon"
                }
              }
            }
          }
        }
      }
    },
    "/kskunnskap-synkronisering/konfigurasjon/api/v1/{fiksOrgId}/grupper/tilgang/{gruppeId}": {
      "delete": {
        "description": "Sletter en grupper gitt id",
        "operationId": "slettGruppeTilgang",
        "tags": [
          "grupper"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Organisasjonen sin fiksOrgId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "gruppeId",
            "description": "gruppeId-en til gruppe som skal fjernes tilgang på",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Gruppe med tilgang er slettet"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "gruppeMedTilgangDefinisjon": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "gruppeId": {
            "type": "string",
            "format": "uuid"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "kildeId": {
            "type": "string",
            "format": "uuid"
          },
          "medlemmer": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "required": [
          "gruppeId",
          "fiksOrgId",
          "kildeId"
        ]
      },
      "nyGruppeMedTilgang": {
        "type": "object",
        "properties": {
          "kildeId": {
            "type": "string",
            "format": "uuid"
          },
          "gruppeId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "kildeId",
          "gruppeId"
        ]
      },
      "gruppe": {
        "type": "object",
        "properties": {
          "gruppeId": {
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "type": "string"
          },
          "kildeId": {
            "type": "string",
            "format": "uuid"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "gruppeId",
          "kildeId",
          "fiksOrgId",
          "navn"
        ]
      },
      "KonfigurasjonResponse": {
        "type": "object",
        "properties": {
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "alleBrukere": {
            "type": "boolean"
          },
          "kilde": {
            "$ref": "#/components/schemas/KildesystemResponse"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "alleBrukere",
          "fiksOrgId",
          "kilde"
        ]
      },
      "KildesystemResponse": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "navn",
          "fiksOrgId",
          "id"
        ]
      },
      "KonfigurasjonRequest": {
        "type": "object",
        "properties": {
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "kildeId": {
            "type": "string",
            "format": "uuid"
          },
          "alleBrukere": {
            "type": "boolean"
          }
        },
        "required": [
          "alleBrukere",
          "formatId",
          "kildeId",
          "fiksOrgId"
        ]
      },
      "SsoConfig": {
        "type": "object",
        "properties": {
          "configType": {
            "type": "string",
            "enum": [
              "OIDC", "SAML2metadata"
            ],
            "example": "OIDC"
          },
          "config": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/OidcConfig"
              },
              {
                "$ref": "#/components/schemas/Saml2Config"
              }
            ]
          }
        },
        "required": [
          "configType",
          "config"
        ]
      },
      "OidcConfig": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string"
          },
          "clientSecret": {
            "type": "string"
          },
          "discoveryUrl": {
            "type": "string",
            "format": "url"
          }
        },
        "required": [
          "clientId",
          "clientSecret",
          "discoveryUrl"
        ]
      },
      "Saml2Config": {
        "type": "object",
        "properties": {
          "metadataUrl": {
            "type": "string",
            "format": "url"
          }
        },
        "required": [
          "metadataUrl"
        ]
      }
    }
  }
}