{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Ledsagerbevis",
    "description" : "Tjeneste digitalt ledsagerbevis",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "LedsagerbevisBilde",
    "description" : "API for digitalt ledsagerbevis for å laste opp og hente ut bilder"
  }, {
    "name" : "Ledsagerbevis",
    "description" : "API for Digitalt ledsagerbevis: Oppslag mot Folkeregister"
  } ],
  "paths" : {
    "/digitalt-ledsagerbevis/api/v1/bilde/organisasjoner/{fiksOrgId}/sistOpplastet" : {
      "post" : {
        "tags" : [ "LedsagerbevisBilde" ],
        "description" : "Henter ut eventuell eksisterende bilde",
        "operationId" : "hentBilde",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HentBilde"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Henter eksisterende bilde"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis/api/v1/bilde/organisasjoner/{fiksOrgId}" : {
      "post" : {
        "tags" : [ "LedsagerbevisBilde" ],
        "description" : "Last opp bilde",
        "operationId" : "lastOppBilde",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Laster opp bilde",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpplastetBildeResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis/api/v1/personsok/organisasjoner/{fiksOrgId}" : {
      "post" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Oppslag med fødselsnummer for å hente ut informasjon fra Folkeregisteret",
        "operationId" : "oppslag",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FolkeregisterRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Informasjon henta fra Folkeregisteret",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FolkeregisterPerson"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis/api/v1/organisasjoner/{fiksOrgId}/ledsagerbevis/{ledsagerbevisId}" : {
      "get" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Hent ledsagerbevis",
        "operationId" : "hentLedsagerbevis",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ledsagerbevisId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter ledsagerbevis",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LedsagerbevisResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis/api/v1/organisasjoner/{fiksOrgId}/ledsagerbevis" : {
      "get" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Hent ledsagerbevis",
        "operationId" : "hentLedsagerbevisForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter ledsagerbevis",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/LedsagerbevisResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Opprett ledsagerbevis",
        "operationId" : "opprettLedsagerbevis",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettLedsagerbevisRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ledsagerbevis",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LedsagerbevisResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis/api/v1/tilganger" : {
      "get" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Henter alle kommuner innlogget aktør har tilgang til å opprette digitalt ledsagerbevis for",
        "operationId" : "hentTilganger",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/LedsagerbevisTilgang"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "HentBilde" : {
        "required" : [ "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string",
            "description" : "Fødselsnummer"
          }
        },
        "description" : "Hent bildeinfo for fnr"
      },
      "OpplastetBildeResponse" : {
        "type" : "object",
        "properties" : {
          "bildeId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "Adresse" : {
        "required" : [ "adressenavn", "postnummer", "poststed" ],
        "type" : "object",
        "properties" : {
          "adressenavn" : {
            "type" : "string",
            "description" : "Gatenavn"
          },
          "postnummer" : {
            "pattern" : "^[0-9]{4}$",
            "type" : "string",
            "description" : "Postnummer"
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed"
          },
          "kommunenummer" : {
            "pattern" : "^\\d{4}$",
            "type" : "string",
            "description" : "Kommunenummer"
          }
        },
        "description" : "Adresse det er mulig å sende post til"
      },
      "FolkeregisterPerson" : {
        "required" : [ "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn henta fra Folkeregisteret."
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Adresse"
          }
        },
        "description" : "Personinformasjon henta fra Folkeregisteret"
      },
      "FolkeregisterRequest" : {
        "required" : [ "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummeret det skal hentes informasjon om fra Folkeregisteret"
          }
        },
        "description" : "Request for å hente ut informasjon fra Folkeregisteret"
      },
      "LedsagerbevisResponse" : {
        "required" : [ "antallLedsagere", "eksternId", "fnr", "id", "navn", "utlopsdato" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id til ledsagerbevis",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på mottaker av ledsagerbevis"
          },
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer på mottaker av ledsagerbevis"
          },
          "antallLedsagere" : {
            "type" : "integer",
            "description" : "Antall ledsagere",
            "format" : "int32"
          },
          "utlopsdato" : {
            "type" : "string",
            "description" : "Utløpsdato for beviset",
            "format" : "date"
          },
          "eksponertFor" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Personer beviset skal være eksponert for",
            "items" : {
              "type" : "string",
              "description" : "Personer beviset skal være eksponert for"
            }
          },
          "eksternId" : {
            "type" : "string",
            "description" : "Ekstern id for ledsagerbevis"
          }
        }
      },
      "LedsagerbevisTilgang" : {
        "required" : [ "fiksOrgId", "fiksOrgNavn" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Fiksorganisasjonsnummer",
            "format" : "uuid"
          },
          "fiksOrgNavn" : {
            "type" : "string",
            "description" : "Navn på Fiks-organsiasjon"
          },
          "kommunenr" : {
            "type" : "string",
            "description" : "Kommunenummer dersom en får tak i dette via konfigurasjon"
          }
        },
        "description" : "Beskriver fiksOrg som ansatt har tilgang til"
      },
      "OpprettLedsagerbevisRequest" : {
        "required" : [ "adresse", "antallLedsagere", "fnr", "navn", "utlopsdato" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på mottaker av ledsagerbevis"
          },
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer på mottaker av ledsagerbevis"
          },
          "antallLedsagere" : {
            "maximum" : 2,
            "minimum" : 1,
            "type" : "integer",
            "description" : "Antall ledsagere",
            "format" : "int32"
          },
          "utlopsdato" : {
            "type" : "string",
            "description" : "Utløpsdato for beviset",
            "format" : "date"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Adresse"
          }
        }
      }
    }
  }
}