{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Ledsagerbevis Konfigurasjon SvarUtkonto",
    "description" : "Konfigurasjon av tjenesten digitalt ledsagerbevis for kontoer i Svarut",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://forvaltning.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://forvaltning.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Ledsagerbevis Konfigurasjon for Dokumentlager Konto",
    "description" : "API for konfigurasjon av tjenesten digitalt ledsagerbevis"
  }, {
    "name" : "Ledsagerbevis Konfigurasjon for roller",
    "description" : "API for konfigurasjon av tjenesten digitalt ledsagerbevis"
  }, {
    "name" : "Ledsagerbevis Konfigurasjon for Svarut Konto",
    "description" : "API for konfigurasjon av tjenesten digitalt ledsagerbevis"
  } ],
  "paths" : {
    "/ledsagerbevis-konfigurasjon/api/v1/dokumentlager-konto/organisasjoner/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon for Dokumentlager Konto" ],
        "summary" : "Henter status på om organisasjon har aktivert Dokumentlager-konto",
        "operationId" : "hentStatus",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status på om organisasjon har opprettet Dokumentlager-konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoStatusRetur"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon for Dokumentlager Konto" ],
        "summary" : "Oppretter ny Dokumentlager-konto som brukes til utsendelse av informasjon til de som skal få digitalt ledsagerbevis",
        "operationId" : "opprettSvarutKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Dokumentlager-konto opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Konto"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon for Dokumentlager Konto" ],
        "summary" : "Sletter Dokumentlager-konto som brukes til utsending av informasjon",
        "operationId" : "slettSvarutKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Dokumentlager-konto slettet"
          }
        }
      }
    },
    "/ledsagerbevis-konfigurasjon/api/v1/register/organisasjoner/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon for roller" ],
        "summary" : "Henter status på om organisasjon har aktivert register-rolle",
        "operationId" : "hentRolleStatus",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status på om organisasjon har opprettet register-rolle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleStatusRetur"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon for roller" ],
        "summary" : "Oppretter ny register-rolle som brukes til oppslag på personer",
        "operationId" : "aktiverRegisterRolle",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Register-rolle opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rolle"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon for roller" ],
        "summary" : "Deaktiverer og sletter register-rolle som brukes til oppslag for personer",
        "operationId" : "deaktiverRegisterRolle",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Oppslag mot register deaktivert"
          }
        }
      }
    },
    "/ledsagerbevis-konfigurasjon/api/v1/svarut-konto/organisasjoner/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon for Svarut Konto" ],
        "summary" : "Henter status på om organisasjon har aktivert SvarUt-konto",
        "operationId" : "hentStatus_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status på om organisasjon har opprettet SvarUt-konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoStatusRetur"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon for Svarut Konto" ],
        "summary" : "Oppretter ny SvarUt-konto som brukes til utsendelse av informasjon til de som skal få digitalt ledsagerbevis",
        "operationId" : "opprettSvarutKonto_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "SvarUt-konto opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Konto"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon for Svarut Konto" ],
        "summary" : "Sletter SvarUt-konto som brukes til utsending av informasjon",
        "operationId" : "slettSvarutKonto_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "SvarUt-konto slettet"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "KontoStatusRetur" : {
        "required" : [ "status" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "enum" : [ "OPPRETTET", "IKKE_OPPRETTET" ]
          }
        },
        "description" : "Informasjon om status for om konto er opprettet"
      },
      "Konto" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "Rolle" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "RolleStatusRetur" : {
        "required" : [ "status" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "enum" : [ "OPPRETTET", "IKKE_OPPRETTET" ]
          }
        },
        "description" : "Informasjon om status for om rolle er opprettet"
      }
    }
  }
}