{
  "openapi": "3.0.3",
  "info": {
    "title": "FIKS MaalSystem API",
    "version": "1.0.0",
    "description": "API for å hente informasjon om målssystemer og deres tilknyttede kilder. Målssystemer representerer forskjellige systemer som kan ha brukere fra tilknyttede kilder.\n",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no"
    },
    {
      "url": "https://api.fiks.test.ks.no"
    },
    {
      "url": "https://api.fiks.dev.ks.no"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/brukersynkronisering/maalsystem/api/v1/maalsystemer": {
      "get": {
        "tags": [
          "maalsystem"
        ],
        "summary": "Hent alle målssystemer",
        "operationId": "hentAlleMaalSystemer",
        "responses": {
          "200": {
            "description": "Liste over målssystemer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MaalSystemObjektResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input"
          },
          "401": {
            "description": "Uautorisert"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      },
      "post": {
        "tags": [
          "maalsystem"
        ],
        "summary": "Opprett et nytt målssystem",
        "operationId": "opprettMaalSystem",
        "requestBody": {
          "description": "Objekt som representerer målssystemet som skal opprettes",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaalSystemOpprettRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Målssystem opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaalSystemObjektResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input"
          },
          "401": {
            "description": "Uautorisert"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      }
    },
    "/brukersynkronisering/maalsystem/api/v1/maalsystemer/{id}": {
      "patch": {
        "tags": [
          "maalsystem"
        ],
        "summary": "Oppdater et eksisterende målssystem",
        "operationId": "oppdaterMaalSystem",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Målsystemets identifikator"
          }
        ],
        "requestBody": {
          "description": "Objekt som inneholder endringene for målssystemet",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaalSystemPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Målssystem oppdatert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaalSystemObjektResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input"
          },
          "401": {
            "description": "Uautorisert"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "404": {
            "description": "Målssystem ikke funnet"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      },
      "delete": {
        "tags": [
          "maalsystem"
        ],
        "summary": "Slett et målssystem",
        "operationId": "slettMaalSystem",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Målsystemets identifikator"
          }
        ],
        "responses": {
          "204": {
            "description": "Målssystem slettet"
          },
          "400": {
            "description": "Ugyldig input"
          },
          "401": {
            "description": "Uautorisert"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "404": {
            "description": "Målssystem ikke funnet"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      }
    },
    "/brukersynkronisering/maalsystem/api/v1/maalsystemer/{id}/kilder": {
      "get": {
        "tags": [
          "maalsystemkilder"
        ],
        "summary": "Hent kilder tilknyttet et målssystem",
        "operationId": "hentKilderForMaalSystem",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Målsystemets identifikator"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over kilder tilknyttet målssystemet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KilderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input"
          },
          "401": {
            "description": "Uautorisert"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "404": {
            "description": "Målssystem ikke funnet"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      }
    },
    "/brukersynkronisering/maalsystem/api/v1/maalsystemer/{id}/organisasjon/{fiksOrg}/kilde": {
      "get": {
        "tags": [
          "maalsystemKildeForOrganisasjon"
        ],
        "summary": "Hent en kilde tilknyttet et målssystem for en fiksorg",
        "operationId": "hentKildeForMaalSystem",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Målsystemets identifikator"
          },
          {
            "in": "path",
            "name": "fiksOrg",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "FiksOrgId for organisasjonen som kilden tilhører"
          }
        ],
        "responses": {
          "200": {
            "description": "Kilde tilknyttet målssystemet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaalsystemKildeResponse"
                }
              }
            }
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "404": {
            "description": "Målssystem/Kilde ikke funnet"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      },
      "post": {
        "tags": [
          "maalsystemKildeForOrganisasjon"
        ],
        "summary": "Legg til en kilde til et målssystem",
        "operationId": "leggTilKildeForMaalSystem",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Målsystemets identifikator"
          },
          {
            "in": "path",
            "name": "fiksOrg",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "FiksOrgId for organisasjonen som kilden tilhører"
          }
        ],
        "requestBody": {
          "description": "Kildeid som skal legges til målssystemet",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kildeId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "kildeId"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Kilde lagt til målssystemet"
          },
          "400": {
            "description": "Ugyldig input"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "404": {
            "description": "Målssystem/Kilde ikke funnet"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      }
    },
    "/brukersynkronisering/maalsystem/api/v1/maalsystemer/{id}/organisasjon/{fiksOrg}/kilder/{kildeId}": {
      "delete": {
        "tags": [
          "maalsystemKildeForOrganisasjon"
        ],
        "summary": "Fjern en kilde fra et målssystem",
        "operationId": "fjernKildeFraMaalSystem",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Målsystemets identifikator"
          },
          {
            "in": "path",
            "name": "fiksOrg",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "FiksOrgId for organisasjonen som kilden tilhører"
          },
          {
            "in": "path",
            "name": "kildeId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Kildens unike identifikator"
          }
        ],
        "responses": {
          "204": {
            "description": "Kilde fjernet fra målssystemet"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "404": {
            "description": "Målssystem eller kilde ikke funnet"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "MaalSystemObjektResponse": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string",
            "description": "Navn på målssystemet",
            "example": "Fiksplattform"
          },
          "id": {
            "type": "string",
            "description": "Identifikator for målssystemet",
            "example": "fiksplattform"
          },
          "aktiv": {
            "type": "boolean",
            "description": "Indikerer om målssystemet er aktivt",
            "example": true
          }
        },
        "required": [
          "navn",
          "id",
          "aktiv"
        ],
        "description": "Objekt som representerer et målssystem"
      },
      "MaalSystemOpprettRequest": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string",
            "description": "Navn på målssystemet",
            "example": "KS læring"
          },
          "id": {
            "type": "string",
            "description": "Identifikator for målssystemet som skal opprettes",
            "example": "kslaering"
          },
          "aktiv": {
            "type": "boolean",
            "description": "Indikerer om målssystemet er aktivt",
            "example": true
          }
        },
        "required": [
          "navn",
          "id",
          "aktiv"
        ],
        "description": "Objekt som representerer et målssystem ved opprettelse"
      },
      "MaalSystemPatchRequest": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string",
            "description": "Navn på målssystemet",
            "example": "Fiksplattform"
          },
          "aktiv": {
            "type": "boolean",
            "description": "Indikerer om målssystemet er aktivt",
            "example": true
          }
        },
        "description": "Objekt som reprensenterer endringer for et målssystem"
      },
      "MaalsystemKildeResponse": {
        "type": "object",
        "properties": {
          "kildeid": {
            "type": "string",
            "format": "uuid",
            "description": "Kildens unike identifikator",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid",
            "description": "FiksOrgId for organisasjonen som kilden tilhører",
            "example": "123e4567-e89b-12d3-a456-426614174001"
          },
          "sistEndret": {
            "type": "string",
            "format": "date-time",
            "description": "Tidspunkt for når kilden sist ble endret",
            "example": "2024-01-01T12:34:56Z"
          }
        },
        "required": [
          "kildeid",
          "fiksOrgId",
          "sistEndret"
        ]
      },
      "KilderResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/MaalsystemKildeResponse"
        },
        "description": "Liste over kilder tilknyttet et målssystem"
      }
    }
  }
}