{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS SvarUt: Forsendelser pdf maler Service",
    "description" : "Forsendelser pdf maler service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Filer",
    "description" : "API for Manuell Forsendelse Forsendelser"
  }, {
    "name" : "Forsendelser",
    "description" : "API for Manuell Forsendelse Forsendelser"
  }, {
    "name" : "Forsendelser pdf maler",
    "description" : "API for bruk av Forsendelser pdf maler"
  } ],
  "paths" : {
    "/manuell-forsendelse/api/v1/forsendelser/{manuellForsendelseId}/filer/{filId}" : {
      "get" : {
        "tags" : [ "Filer" ],
        "description" : "Henter enkel forsendelseFil knyttet til forsendelse",
        "operationId" : "hentForsendelseFil",
        "parameters" : [ {
          "name" : "filId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Forsendelsefil for forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForsendelseFil"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ukjent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Filer" ],
        "description" : "Slette forsendelse fil",
        "operationId" : "slettForsendelseFil",
        "parameters" : [ {
          "name" : "filId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slette dokument for forsendelse"
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ukjent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser/{manuellForsendelseId}/filer" : {
      "get" : {
        "tags" : [ "Filer" ],
        "description" : "Henter ut en liste med forsendelseFiler koblet mot autorisert bruker",
        "operationId" : "hentForsendelseFiler",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Forsendelsefiler for forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ForsendelseFil"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Filer" ],
        "description" : "Laste opp forsendelseFil",
        "operationId" : "lastOppFil",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Last opp fil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForsendelseFil"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser/{manuellForsendelseId}/filer/zipfile" : {
      "post" : {
        "tags" : [ "Filer" ],
        "description" : "Laste opp zipfil for forsendelse",
        "operationId" : "lastOppZip",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Last opp zipfil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForsendelseFiler"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser/{manuellForsendelseId}/pdfmal/metadata" : {
      "post" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Bruker mal på forsendelse",
        "operationId" : "brukMal",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MalRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Bruk mal på forsendelse"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser/{manuellForsendelseId}/mottakere" : {
      "get" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Henter ut en liste med mottakere koblet mot forsendelse",
        "operationId" : "forsendelseMottakere",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Mottakere for forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Mottaker"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Laster opp mottakere fra XLS mal",
        "operationId" : "lastOppMottakerFraXls",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Mottakere registrert"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser/{manuellForsendelseId}/pdfmal/preview" : {
      "get" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Genererer pdf preview",
        "operationId" : "genererPreview",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "testside",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Generer pdf preview"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/pdf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/pdf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser/{manuellForsendelseId}" : {
      "get" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Hent manuell forsendelse",
        "operationId" : "hentForsendelse",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManuellForsendelseRespons"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Oppdatere manuell forsendelse",
        "operationId" : "oppdaterManuellForsendelse",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManuellForsendelseRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Manuell forsendelse oppdatert"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for opprettelse av manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser" : {
      "get" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Hent manuell forsendelser tilknyttet Konto",
        "operationId" : "hentForsendelserTilknyttetKonto",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Manuelle forsendelser",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ManuellForsendelseRespons"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Oppretter ny manuell forsendelse",
        "operationId" : "opprettManuellForsendelse",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManuellForsendelseRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManuellForsendelseRespons"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for opprettelse av manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser/mottakere/xlsmal" : {
      "get" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Henter XLS mal for mottakere",
        "operationId" : "hentMottakerXlsMal",
        "responses" : {
          "200" : {
            "description" : "XLS mottaker mal"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser/{manuellForsendelseId}/status" : {
      "get" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Starter manuell forsendelse",
        "operationId" : "hentStatus",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent status for manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManuellForsendelseStatus"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser/{manuellForsendelseId}/pdfmal/importer" : {
      "post" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Importerer mottakere fra original pdf",
        "operationId" : "importerPdf",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Importer mottakere"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser/{manuellForsendelseId}/pdfmal/importexcel" : {
      "post" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Laster opp original pdf",
        "operationId" : "lastOppImportExcel",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Last opp original pdf"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser/{manuellForsendelseId}/pdfmal/importpdf" : {
      "post" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Laster opp original pdf",
        "operationId" : "lastOppImportPdf",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Last opp original pdf"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser/{manuellForsendelseId}/mottaker/{mottakerId}" : {
      "put" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Oppdater mottakere som autorisert bruker har lagt til",
        "operationId" : "oppdaterMottaker",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MottakerRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Oppdater mottaker"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for oppdatering av mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Slette mottakere som autorisert bruker har lagt til",
        "operationId" : "sletteMottaker",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slette mottaker"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser/{manuellForsendelseId}/mottaker" : {
      "post" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Opprett mottakere som autorisert bruker har lagt til",
        "operationId" : "opprettMottaker",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MottakerRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprett mottaker"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for opprettelse av mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser/{manuellForsendelseId}/start" : {
      "post" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Starter manuell forsendelse",
        "operationId" : "startManuellForsendelse",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Start manuell forsendelse"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/forsendelser/{manuellForsendelseId}/stopp" : {
      "post" : {
        "tags" : [ "Forsendelser" ],
        "description" : "Starter manuell forsendelse",
        "operationId" : "stoppManuellForsendelse",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Stopp manuell forsendelse"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/maler/{malId}" : {
      "get" : {
        "tags" : [ "Forsendelser pdf maler" ],
        "description" : "Henter pdf mal",
        "operationId" : "hentMal",
        "parameters" : [ {
          "name" : "malId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent pdf mal",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MalmetadataRespons"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen mal",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Forsendelser pdf maler" ],
        "description" : "Oppdaterer pdf mal",
        "operationId" : "oppdaterMal",
        "parameters" : [ {
          "name" : "malId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MalMetadataRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Oppdater pdf mal"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for oppdatering av pdf mal",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Forsendelser pdf maler" ],
        "description" : "Sletter pdf mal",
        "operationId" : "slettMal",
        "parameters" : [ {
          "name" : "malId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slette pdf mal"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen mal",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/manuell-forsendelse/api/v1/maler" : {
      "post" : {
        "tags" : [ "Forsendelser pdf maler" ],
        "description" : "Lagre pdf mal",
        "operationId" : "opprettMal",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MalMetadataRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprette pdf mal",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MalmetadataRespons"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for mal",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ForsendelseFil" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "filnavn" : {
            "type" : "string"
          },
          "forsendelseId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "storrelse" : {
            "type" : "integer",
            "format" : "int64"
          },
          "contentType" : {
            "type" : "string"
          },
          "dokumentLagerId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseFiler" : {
        "type" : "object",
        "properties" : {
          "forsendelseFiler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ForsendelseFil"
            }
          }
        }
      },
      "Box" : {
        "type" : "object",
        "properties" : {
          "lowerLeftX" : {
            "type" : "integer",
            "format" : "int32"
          },
          "lowerLeftY" : {
            "type" : "integer",
            "format" : "int32"
          },
          "upperRightX" : {
            "type" : "integer",
            "format" : "int32"
          },
          "upperRightY" : {
            "type" : "integer",
            "format" : "int32"
          }
        },
        "description" : "Pdf koordinater for sideseparator dersom ulikt antall sider pr forsendelse"
      },
      "MalRequest" : {
        "type" : "object",
        "properties" : {
          "mottakerbox" : {
            "$ref" : "#/components/schemas/Box"
          },
          "orgfnrbox" : {
            "$ref" : "#/components/schemas/Box"
          },
          "pageSpliterBox" : {
            "$ref" : "#/components/schemas/Box"
          },
          "brukeexcelmapping" : {
            "type" : "boolean",
            "description" : "Bruke excel mapping for orgnr/fnr"
          },
          "excelidcol" : {
            "type" : "integer",
            "description" : "Kolonne i excel for referanse",
            "format" : "int32"
          },
          "excelorgfnrcol" : {
            "type" : "integer",
            "description" : "Kolonne i excel for orgnr/fnr",
            "format" : "int32"
          },
          "testside" : {
            "type" : "integer",
            "description" : "Side for test av bokser",
            "format" : "int32"
          },
          "antallsider" : {
            "type" : "integer",
            "description" : "Antall sider per brev",
            "format" : "int32"
          },
          "uliktAntallSider" : {
            "type" : "boolean",
            "description" : "Om det er ulikt antall sider per forsendelse"
          },
          "ignorereUliktAntallSider" : {
            "type" : "boolean"
          },
          "pageSpliterText" : {
            "type" : "string",
            "description" : "Side-separator tekst for ulikt antall sider per forsendelse"
          }
        },
        "description" : "Metadata mal"
      },
      "Mottaker" : {
        "required" : [ "navn", "postnummer" ],
        "type" : "object",
        "properties" : {
          "orgNummer" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string"
          },
          "fodselsnummer" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresse1" : {
            "type" : "string"
          },
          "adresse2" : {
            "type" : "string"
          },
          "adresse3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          },
          "tittel" : {
            "type" : "string"
          },
          "filnavn" : {
            "type" : "string"
          },
          "status" : {
            "type" : "string",
            "description" : "Forsendelse status for mottaker",
            "enum" : [ "OPPRETTET", "UNDER_UTSENDING", "SENDT", "KLARTE_IKKE_SENDE" ]
          },
          "svarUtForsendelseId" : {
            "type" : "string",
            "description" : "Forsendelse ID mottatt fra SvarUt, etter utsending",
            "format" : "uuid"
          }
        },
        "description" : "Mottaker for manuell forsendelse"
      },
      "ManuellForsendelseRespons" : {
        "required" : [ "avsender", "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Manuell Forsendelse ID",
            "format" : "uuid"
          },
          "avsender" : {
            "type" : "string",
            "description" : "Avsender ID",
            "format" : "uuid"
          },
          "opprettetAv" : {
            "type" : "string",
            "description" : "Opprettet av"
          },
          "tittel" : {
            "type" : "string",
            "description" : "Tittel"
          },
          "printKonfigurasjon" : {
            "$ref" : "#/components/schemas/Printkonfigurasjon"
          },
          "svarSendesTil" : {
            "$ref" : "#/components/schemas/SvarSendesTil"
          },
          "utsendelseOpprettetDato" : {
            "type" : "string",
            "description" : "Dato for opprettelse"
          },
          "utsendelseStartetDato" : {
            "type" : "string",
            "description" : "Dato for startet"
          },
          "utsendelseFerdigDato" : {
            "type" : "string",
            "description" : "Dato for sluttført"
          },
          "fletteForsendelse" : {
            "type" : "boolean",
            "description" : "Fletteforsendelse"
          },
          "kunDigitalLevering" : {
            "type" : "boolean",
            "description" : "Kun digital levering"
          },
          "signeringsoppdrag" : {
            "$ref" : "#/components/schemas/Signeringsoppdrag"
          },
          "krevNiva4Innlogging" : {
            "type" : "boolean"
          },
          "konteringskode" : {
            "type" : "string",
            "description" : "Konteringskoden identifiser hvilken intern faktureringskonto forsendelsen skal knyttes til."
          },
          "forsendelsestype" : {
            "type" : "string"
          }
        }
      },
      "Printkonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "tosidig" : {
            "type" : "boolean",
            "description" : "Tosidig"
          },
          "farge" : {
            "type" : "boolean",
            "description" : "Farge"
          }
        },
        "description" : "Print konfigurasjon"
      },
      "Signeringsoppdrag" : {
        "required" : [ "dokument", "type", "utlopsDato" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "AUTENTISERT_SIGNATUR", "AVANSERT_SIGNATUR" ]
          },
          "utlopsDato" : {
            "type" : "string",
            "description" : "Må være satt minst en dag frem i tid",
            "format" : "date"
          },
          "dokument" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "SvarSendesTil" : {
        "required" : [ "navn", "postnummer", "poststed" ],
        "type" : "object",
        "properties" : {
          "orgnr" : {
            "type" : "string",
            "description" : "Organisasjons nummer"
          },
          "navn" : {
            "type" : "string"
          },
          "adresse1" : {
            "type" : "string"
          },
          "adresse2" : {
            "type" : "string"
          },
          "adresse3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          },
          "kanSvarePaaForsendelse" : {
            "type" : "boolean"
          }
        },
        "description" : "Svar sendes til adresse"
      },
      "ManuellForsendelseStatus" : {
        "required" : [ "fremdrift", "id", "klarteIkkeSende", "mottakereSendt", "mottakereTotalt", "status" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Manuell Forsendelse ID",
            "format" : "uuid"
          },
          "status" : {
            "type" : "string",
            "description" : "Manuell Forsendelse status",
            "enum" : [ "UNDER_ARBEID", "STARTET", "STOPPET", "FERDIG", "FEIL" ]
          },
          "mottakereTotalt" : {
            "type" : "integer",
            "description" : "Antall mottakere totalt",
            "format" : "int32"
          },
          "mottakereSendt" : {
            "type" : "integer",
            "description" : "Antall mottakere sendt",
            "format" : "int32"
          },
          "klarteIkkeSende" : {
            "type" : "integer",
            "description" : "Antall mottakere feilet",
            "format" : "int32"
          },
          "fremdrift" : {
            "type" : "number",
            "description" : "Manuell Forsendelse fremdrift",
            "format" : "double"
          }
        }
      },
      "ManuellForsendelseRequest" : {
        "required" : [ "konto" ],
        "type" : "object",
        "properties" : {
          "konto" : {
            "type" : "string",
            "description" : "Konto ID",
            "format" : "uuid"
          },
          "tittel" : {
            "type" : "string",
            "description" : "Tittel"
          },
          "printKonfigurasjon" : {
            "$ref" : "#/components/schemas/Printkonfigurasjon"
          },
          "svarSendesTil" : {
            "$ref" : "#/components/schemas/SvarSendesTil"
          },
          "fletteForsendelse" : {
            "type" : "boolean",
            "description" : "Fletteforsendelse"
          },
          "kunDigitalLevering" : {
            "type" : "boolean"
          },
          "signeringsoppdrag" : {
            "$ref" : "#/components/schemas/Signeringsoppdrag"
          },
          "krevNiva4Innlogging" : {
            "type" : "boolean"
          },
          "konteringskode" : {
            "maxLength" : 20,
            "minLength" : 0,
            "type" : "string",
            "description" : "Konteringskoden identifiser hvilken intern faktureringskonto forsendelsen skal knyttes til."
          },
          "forsendelsestype" : {
            "type" : "string"
          }
        }
      },
      "MottakerRequest" : {
        "required" : [ "navn", "postnummer" ],
        "type" : "object",
        "properties" : {
          "orgNummer" : {
            "type" : "string"
          },
          "fodselsnummer" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresse1" : {
            "type" : "string"
          },
          "adresse2" : {
            "type" : "string"
          },
          "adresse3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          },
          "tittel" : {
            "type" : "string"
          },
          "filnavn" : {
            "type" : "string"
          }
        },
        "description" : "Modell for å opprette mottaker tilknyttet manuell forsendelse"
      },
      "MalmetadataRespons" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id for mal",
            "format" : "uuid"
          },
          "mottakerBox" : {
            "$ref" : "#/components/schemas/Box"
          },
          "orgnrFnrBox" : {
            "$ref" : "#/components/schemas/Box"
          },
          "pageSpliterBox" : {
            "$ref" : "#/components/schemas/Box"
          },
          "brukeexcelmapping" : {
            "type" : "boolean",
            "description" : "Bruke excel mapping for orgnr/fnr"
          },
          "excelidcol" : {
            "type" : "integer",
            "description" : "Kolonne i excel for referanse",
            "format" : "int32"
          },
          "excelorgfnrcol" : {
            "type" : "integer",
            "description" : "Kolonne i excel for orgnr/fnr",
            "format" : "int32"
          },
          "testside" : {
            "type" : "integer",
            "description" : "Side for test av bokser",
            "format" : "int32"
          },
          "antallsider" : {
            "type" : "integer",
            "description" : "Antall sider per brev",
            "format" : "int32"
          },
          "uliktAntallSider" : {
            "type" : "boolean",
            "description" : "Om det er ulikt antall sider per forsendelse"
          },
          "ignorereUliktAntallSider" : {
            "type" : "boolean"
          },
          "pageSpliterText" : {
            "type" : "string",
            "description" : "Side-separator tekst for ulikt antall sider per forsendelse"
          }
        }
      },
      "MalMetadataRequest" : {
        "required" : [ "fiksOrgId", "navn", "tilgjengeligFor" ],
        "type" : "object",
        "properties" : {
          "tilgjengeligFor" : {
            "type" : "string",
            "description" : "Hvem malen er tilgjengelig for",
            "enum" : [ "ALLE", "ORGANISASJON" ]
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Fiks organisasjon id",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på mal"
          },
          "mottakerbox" : {
            "$ref" : "#/components/schemas/Box"
          },
          "orgfnrbox" : {
            "$ref" : "#/components/schemas/Box"
          },
          "pageSpliterBox" : {
            "$ref" : "#/components/schemas/Box"
          },
          "brukeexcelmapping" : {
            "type" : "boolean",
            "description" : "Bruke excel mapping for orgnr/fnr"
          },
          "excelidcol" : {
            "type" : "integer",
            "description" : "Kolonne i excel for referanse",
            "format" : "int32"
          },
          "excelorgfnrcol" : {
            "type" : "integer",
            "description" : "Kolonne i excel for orgnr/fnr",
            "format" : "int32"
          },
          "testside" : {
            "type" : "integer",
            "description" : "Side for test av bokser",
            "format" : "int32"
          },
          "antallsider" : {
            "type" : "integer",
            "description" : "Antall sider per brev",
            "format" : "int32"
          },
          "uliktAntallSider" : {
            "type" : "boolean",
            "description" : "Om det er ulikt antall sider per forsendelse"
          },
          "ignorereUliktAntallSider" : {
            "type" : "boolean"
          },
          "pageSpliterText" : {
            "type" : "string",
            "description" : "Side-separator tekst for ulikt antall sider per forsendelse"
          }
        },
        "description" : "Metadata for opprettelse av pdf mal"
      }
    }
  }
}