{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS SvarUt: ManuellForsendelse Service",
    "description" : "ManuellForsendelse service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "manuellforsendelse",
    "description" : "API for bruk av manuellforsendelse"
  } ],
  "paths" : {
    "/fiks/api/v1/manuellForsendelse/{manuellForsendelseId}" : {
      "get" : {
        "tags" : [ "ManuellForsendelse" ],
        "description" : "Hent manuell forsendelse",
        "operationId" : "hentForsendelse",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManuellForsendelseRespons"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ManuellForsendelse" ],
        "description" : "Oppdatere manuell forsendelse",
        "operationId" : "oppdaterManuellForsendelse",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManuellForsendelse"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Manuell forsendelse"
          }
        }
      }
    },
    "/fiks/api/v1/manuellForsendelse/avsender/{avsenderId}" : {
      "get" : {
        "tags" : [ "ManuellForsendelse" ],
        "description" : "Hent manuell forsendelser tilhørende avsender",
        "operationId" : "hentForsendelserForAvsender",
        "parameters" : [ {
          "name" : "avsenderId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Manuell forsendelser tilhørende avsender",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ManuellForsendelseRespons"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fiks/api/v1/manuellForsendelse/{manuellForsendelseId}/organisasjonsAdresse" : {
      "put" : {
        "tags" : [ "ManuellForsendelse" ],
        "description" : "Oppdatere organisasjons adresse for manuell forsendelse",
        "operationId" : "oppdaterOrganisasjonAdresse",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrganisasjonsAdresse"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Svar sendes til organisasjon adresse"
          }
        }
      }
    },
    "/fiks/api/v1/manuellForsendelse/{manuellForsendelseId}/printKonfigurasjon" : {
      "put" : {
        "tags" : [ "ManuellForsendelse" ],
        "description" : "Oppdatere manuell forsendelse",
        "operationId" : "oppdaterPrintkonfigurasjon",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Printkonfigurasjon"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "PrintKonfigurasjon"
          }
        }
      }
    },
    "/fiks/api/v1/manuellForsendelse/{manuellForsendelseId}/privatAdresse" : {
      "put" : {
        "tags" : [ "ManuellForsendelse" ],
        "description" : "Oppdatere privat adresse for manuell forsendelse",
        "operationId" : "oppdaterPrivatAdresse",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PrivatAdresse"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Svar sendes til privat adresse"
          }
        }
      }
    },
    "/fiks/api/v1/manuellForsendelse" : {
      "post" : {
        "tags" : [ "ManuellForsendelse" ],
        "description" : "Oppretter ny manuell forsendelse",
        "operationId" : "opprettManuellForsendelseId",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettManuellForsendelseIdRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManuellForsendelseId"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ManuellForsendelseRespons" : {
        "required" : [ "avsender", "id", "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string",
            "description" : "Tittel"
          },
          "id" : {
            "type" : "string",
            "description" : "Manuell Forsendelse ID",
            "format" : "uuid"
          },
          "avsender" : {
            "type" : "string",
            "description" : "Avsender ID",
            "format" : "uuid"
          }
        }
      },
      "ManuellForsendelse" : {
        "required" : [ "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string",
            "description" : "Tittel"
          }
        }
      },
      "OrganisasjonsAdresse" : {
        "required" : [ "adresse", "orgNummer" ],
        "type" : "object",
        "properties" : {
          "adresse" : {
            "type" : "string",
            "description" : "adresse"
          },
          "adresse1" : {
            "type" : "string",
            "description" : "adresse1"
          },
          "adresse2" : {
            "type" : "string",
            "description" : "adresse2"
          },
          "adresse3" : {
            "type" : "string",
            "description" : "adresse3"
          },
          "postnummer" : {
            "type" : "string",
            "description" : "postnummer"
          },
          "postssted" : {
            "type" : "string",
            "description" : "poststed"
          },
          "land" : {
            "type" : "string",
            "description" : "land"
          },
          "orgNummer" : {
            "type" : "string",
            "description" : "orgNummer"
          }
        },
        "description" : "Organisasjons adresse for manuell forsendelse"
      },
      "Printkonfigurasjon" : {
        "required" : [ "farge", "kunDigitalLevering", "tosidig" ],
        "type" : "object",
        "properties" : {
          "kunDigitalLevering" : {
            "type" : "boolean",
            "description" : "Kun digital levering"
          },
          "tosidig" : {
            "type" : "boolean",
            "description" : "Tosidig"
          },
          "farge" : {
            "type" : "boolean",
            "description" : "Farge"
          }
        }
      },
      "PrivatAdresse" : {
        "required" : [ "adresse", "fodselsnummer", "navn" ],
        "type" : "object",
        "properties" : {
          "adresse" : {
            "type" : "string",
            "description" : "adresse"
          },
          "adresse1" : {
            "type" : "string",
            "description" : "adresse1"
          },
          "adresse2" : {
            "type" : "string",
            "description" : "adresse2"
          },
          "adresse3" : {
            "type" : "string",
            "description" : "adresse3"
          },
          "postnummer" : {
            "type" : "string",
            "description" : "postnummer"
          },
          "postssted" : {
            "type" : "string",
            "description" : "poststed"
          },
          "land" : {
            "type" : "string",
            "description" : "land"
          },
          "navn" : {
            "type" : "string",
            "description" : "navn"
          },
          "fodselsnummer" : {
            "type" : "string",
            "description" : "fodselsnummer"
          }
        },
        "description" : "Privat adresse for manuell forsendelse"
      },
      "ManuellForsendelseId" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Manuell Forsendelse ID",
            "format" : "uuid"
          }
        }
      },
      "OpprettManuellForsendelseIdRequest" : {
        "required" : [ "avsender" ],
        "type" : "object",
        "properties" : {
          "avsender" : {
            "type" : "string",
            "description" : "Avsender ID",
            "format" : "uuid"
          }
        },
        "description" : "En forespørsel for å opprette en ny ID for manuell forsendelse"
      }
    }
  }
}