{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS SvarUt: manuell-forsendelse Service",
    "description" : "manuell-forsendelse service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "manuellforsendelse",
    "description" : "API for bruk av manuellforsendelse"
  }, {
    "name" : "manuell-forsendelse",
    "description" : "API for bruk av manuell-forsendelse"
  } ],
  "paths" : {
    "/fiks/api/v1/manuellForsendelse/forsendelsefil" : {
      "get" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Henter ut en liste med forsendelseFiler koblet mot autorisert bruker",
        "operationId" : "hentForsendelseFiler",
        "responses" : {
          "200" : {
            "description" : "Hente forsendelseFil kobla mot autentisert bruker"
          }
        }
      }
    },
    "/fiks/api/v1/manuellForsendelse/forsendelsefil/importer" : {
      "post" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Lagrer forsendelseFil som autorisert bruker har lagt til",
        "operationId" : "importerForsendelseFil",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/ForsendelseFilDB"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Lagre mottakere"
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}/mottakere" : {
      "get" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Henter ut en liste med mottakere koblet mot forsendelse",
        "operationId" : "finnMottakere",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Mottakere for forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MottakerObject"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}" : {
      "get" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Hent manuell forsendelse",
        "operationId" : "hentForsendelse",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManuellForsendelseRespons"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Oppdatere manuell forsendelse",
        "operationId" : "oppdaterManuellForsendelse",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManuellForsendelse"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Manuell forsendelse oppdatert"
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for opprettelse av manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse" : {
      "get" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Hent manuell forsendelser basert på filter",
        "operationId" : "hentForsendelserForAvsender",
        "parameters" : [ {
          "name" : "avsenderId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Manuelle forsendelser",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ManuellForsendelseRespons"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Oppretter ny manuell forsendelse",
        "operationId" : "opprettManuellForsendelse",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManuellForsendelse"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManuellForsendelseRespons"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for opprettelse av manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}/status" : {
      "get" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Starter manuell forsendelse",
        "operationId" : "hentStatus",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManuellForsendelse"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Hent status for manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManuellForsendelseStatus"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}/mottaker/{mottakerId}" : {
      "put" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Oppdater mottakere som autorisert bruker har lagt til",
        "operationId" : "oppdaterMottaker",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MottakerObject"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Oppdater mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerId"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for oppdatering av mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Slette mottakere som autorisert bruker har lagt til",
        "operationId" : "sletteMottaker",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slette mottaker"
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}/mottaker" : {
      "post" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Opprett mottakere som autorisert bruker har lagt til",
        "operationId" : "opprettMottaker",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MottakerObject"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprett mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerId"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for opprettelse av mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}/start" : {
      "post" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Starter manuell forsendelse",
        "operationId" : "startManuellForsendelse",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManuellForsendelse"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Start manuell forsendelse"
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ForsendelseFilDB" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "filnavn" : {
            "type" : "string"
          },
          "forsendelseId" : {
            "type" : "string"
          },
          "storrelse" : {
            "type" : "integer",
            "format" : "int64"
          },
          "contentType" : {
            "type" : "string"
          },
          "dokumentLagerId" : {
            "type" : "string"
          },
          "index" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "MottakerObject" : {
        "required" : [ "manuellForsendelseFilIds", "manuellForsendelseId", "mottakertype", "navn", "tittel" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Mottaker navn"
          },
          "privatAdresse" : {
            "$ref" : "#/components/schemas/PrivatAdresse"
          },
          "orgAdresse" : {
            "$ref" : "#/components/schemas/OrganisasjonsAdresse"
          },
          "tittel" : {
            "type" : "string",
            "description" : "Tittel på forsendelsen"
          },
          "mottakertype" : {
            "type" : "string",
            "description" : "MottakerType",
            "enum" : [ "PRIVAT", "ORGANISASJON" ]
          },
          "manuellForsendelseFilIds" : {
            "type" : "array",
            "description" : "Id'er til filer",
            "items" : {
              "type" : "string",
              "description" : "Id'er til filer"
            }
          },
          "manuellForsendelseId" : {
            "type" : "string",
            "description" : "Id til den manuelle forsendelsen"
          },
          "id" : {
            "type" : "string",
            "description" : "MottakerId"
          },
          "mottakerStatus" : {
            "type" : "string",
            "description" : "Status på manuell forsendelse knyttet til mottaker",
            "enum" : [ "STARTET", "UNDER_ARBEID", "FERDIG" ]
          },
          "feilmelding" : {
            "type" : "string",
            "description" : "Feilmelding"
          }
        }
      },
      "OrganisasjonsAdresse" : {
        "type" : "object",
        "description" : "Organisasjons adresse for manuell forsendelse",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Adresse"
        }, {
          "type" : "object",
          "properties" : {
            "orgNummer" : {
              "type" : "string",
              "description" : "orgNummer"
            },
            "adresse" : {
              "type" : "string",
              "description" : "adresse"
            },
            "adresse1" : {
              "type" : "string",
              "description" : "adresse1"
            },
            "adresse2" : {
              "type" : "string",
              "description" : "adresse2"
            },
            "adresse3" : {
              "type" : "string",
              "description" : "adresse3"
            },
            "postnummer" : {
              "type" : "string",
              "description" : "postnummer"
            },
            "poststed" : {
              "type" : "string",
              "description" : "poststed"
            },
            "land" : {
              "type" : "string",
              "description" : "land"
            }
          }
        } ]
      },
      "PrivatAdresse" : {
        "type" : "object",
        "description" : "Privat adresse for manuell forsendelse",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Adresse"
        }, {
          "type" : "object",
          "properties" : {
            "navn" : {
              "type" : "string",
              "description" : "navn"
            },
            "fodselsnummer" : {
              "type" : "string",
              "description" : "fodselsnummer"
            },
            "adresse" : {
              "type" : "string",
              "description" : "adresse"
            },
            "adresse1" : {
              "type" : "string",
              "description" : "adresse1"
            },
            "adresse2" : {
              "type" : "string",
              "description" : "adresse2"
            },
            "adresse3" : {
              "type" : "string",
              "description" : "adresse3"
            },
            "postnummer" : {
              "type" : "string",
              "description" : "postnummer"
            },
            "poststed" : {
              "type" : "string",
              "description" : "poststed"
            },
            "land" : {
              "type" : "string",
              "description" : "land"
            }
          }
        } ]
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "Adresse" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "adresse" : {
            "type" : "string"
          },
          "adresse1" : {
            "type" : "string"
          },
          "adresse2" : {
            "type" : "string"
          },
          "adresse3" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Adresse for manuell forsendelse",
        "discriminator" : {
          "propertyName" : "type"
        }
      },
      "ManuellForsendelseRespons" : {
        "required" : [ "avsender", "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Manuell Forsendelse ID",
            "format" : "uuid"
          },
          "avsender" : {
            "type" : "string",
            "description" : "Avsender ID",
            "format" : "uuid"
          },
          "opprettetAv" : {
            "type" : "string",
            "description" : "Opprettet av"
          },
          "tittel" : {
            "type" : "string",
            "description" : "Tittel"
          },
          "printKonfigurasjon" : {
            "$ref" : "#/components/schemas/Printkonfigurasjon"
          },
          "svarSendesTil" : {
            "$ref" : "#/components/schemas/Adresse"
          },
          "utsendelseOpprettetDato" : {
            "type" : "string",
            "description" : "Dato for opprettelse"
          },
          "utsendelseStartetDato" : {
            "type" : "string",
            "description" : "Dato for startet"
          },
          "utsendelseFerdigDato" : {
            "type" : "string",
            "description" : "Dato for sluttført"
          },
          "fletteForsendelse" : {
            "type" : "boolean",
            "description" : "Fletteforsendelse"
          }
        }
      },
      "Printkonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "kunDigitalLevering" : {
            "type" : "boolean",
            "description" : "Kun digital levering"
          },
          "tosidig" : {
            "type" : "boolean",
            "description" : "Tosidig"
          },
          "farge" : {
            "type" : "boolean",
            "description" : "Farge"
          }
        },
        "description" : "Print konfigurasjon"
      },
      "ManuellForsendelseStatus" : {
        "required" : [ "fremdrift", "id", "status" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Manuell Forsendelse ID",
            "format" : "uuid"
          },
          "status" : {
            "type" : "string",
            "description" : "Manuell Forsendelse status",
            "enum" : [ "PAABEGYNT", "UNDER_SENDING", "FERDIG", "FEIL" ]
          },
          "fremdrift" : {
            "type" : "number",
            "description" : "Manuell Forsendelse fremdrift",
            "format" : "double"
          }
        }
      },
      "ManuellForsendelse" : {
        "required" : [ "avsender" ],
        "type" : "object",
        "properties" : {
          "avsender" : {
            "type" : "string",
            "description" : "Avsender ID",
            "format" : "uuid"
          },
          "tittel" : {
            "type" : "string",
            "description" : "Tittel"
          },
          "printKonfigurasjon" : {
            "$ref" : "#/components/schemas/Printkonfigurasjon"
          },
          "svarSendesTil" : {
            "$ref" : "#/components/schemas/Adresse"
          },
          "fletteForsendelse" : {
            "type" : "boolean",
            "description" : "Fletteforsendelse"
          },
          "status" : {
            "type" : "string",
            "description" : "Status for forsendelsen"
          }
        }
      },
      "MottakerId" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "id"
          }
        }
      }
    }
  }
}