{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Min Kommune: Oppgave API",
    "description": "Min Kommune Oppgave Konfigurasjon service",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://developers.fiks.ks.no/",
      "email": "fiks@ksdigital.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://forvaltning.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://forvaltning.fiks.test.ks.no",
      "description": "KS Fiks API test host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "min-kommune-oppgave-konfigurasjon",
      "description": "API for å konfigurere min-kommune-oppgave-løsningen"
    }
  ],
  "paths": {
    "/min-kommune/api/v1/konfigurasjon/oppgaver/{fiksOrgId}/opprettIntegrasjonMedTilgang": {
      "post": {
        "tags": [
          "OppgaveKonfigurasjon"
        ],
        "summary": "Opprett integrasjon med tilgang til Min Kommune Oppgave API",
        "description": "Dette endepunktet benyttes av en administrator for å opprette konfigurasjon-privilegiet for oppgave til en organisasjon mot oppgave-api.\nDet returneres en integrasjonsId som brukes for å autentisere mot API-et med tilhørende passord.",
        "operationId": "opprettIntegrasjonMedTilgang",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettTilgangRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Oppretter integrasjon med riktig tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrasjonTilgang"
                }
              }
            }
          },
          "400": {
            "description": "Ukjent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/min-kommune/api/v1/konfigurasjon/oppgaver/{fiksOrgId}/integrasjoner": {
      "get": {
        "tags": [
          "OppgaveKonfigurasjon"
        ],
        "summary": "Hent alle integrasjoner tilknyttet tjenesten for en organisasjon",
        "description": "Returnerer alle integrasjoner som er tilknyttet Min Kommune Oppgave-tjenesten for en gitt organisasjon, inkludert full privilegiestatus for hvert integrasjon.",
        "operationId": "hentIntegrasjonerMedPrivilegier",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over integrasjoner med privilegiestatus",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntegrasjonMedPrivilegier"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig forespørsel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/min-kommune/api/v1/konfigurasjon/oppgaver/{fiksOrgId}/integrasjoner/{integrasjonId}/privilegier": {
      "put": {
        "tags": [
          "OppgaveKonfigurasjon"
        ],
        "summary": "Oppdater privilegier for en integrasjon",
        "description": "Setter det komplette settet av privilegier for en integrasjon. Privilegier som finnes fra før men ikke er inkludert som aktive, vil bli fjernet. Privilegier som ikke finnes fra før og er satt til aktive, vil bli lagt til.",
        "operationId": "oppdaterPrivilegier",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "integrasjonId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterPrivilegierRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Privilegier oppdatert"
          },
          "400": {
            "description": "Ugyldig forespørsel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/min-kommune/api/v1/konfigurasjon/oppgaver/{fiksOrgId}/initialiserTjeneste": {
      "post": {
        "tags": [
          "OppgaveKonfigurasjon"
        ],
        "summary": "Opprett tjeneste for Min Kommune Oppgave API",
        "description": "Dette endepunktet benyttes av en administrator for å initialisere tjenesten for oppgave til en organisasjon mot oppgave-api.",
        "operationId": "initialiserTjeneste",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Initialisert tjeneste for oppgave-api"
          },
          "400": {
            "description": "Ukjent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "IntegrasjonTilgang": {
        "required": [
          "integrasjonId",
          "integrasjonPassord"
        ],
        "type": "object",
        "properties": {
          "integrasjonId": {
            "type": "string",
            "description": "Id til integrasjon",
            "format": "uuid"
          },
          "integrasjonPassord": {
            "type": "string",
            "description": "Passord til integrasjon"
          }
        }
      },
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      },
      "OpprettTilgangRequest": {
        "required": [
          "orgnr",
          "forelderRessurs",
          "navn",
          "beskrivelse"
        ],
        "type": "object",
        "properties": {
          "orgnr": {
            "type": "string"
          },
          "forelderRessurs": {
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "type": "string",
            "description": "Navn på integrasjonen som skal opprettes"
          },
          "beskrivelse": {
            "type": "string",
            "description": "Beskrivelse av integrasjonen som skal opprettes"
          },
          "privilegier": {
            "$ref": "#/components/schemas/PrivilegierStatus"
          }
        }
      },
      "PrivilegierStatus": {
        "type": "object",
        "description": "Status for Min Kommune Oppgave-privilegier. Null-verdi betyr at privilegiet ikke skal endres (for oppdatering) eller ikke skal tildeles (for opprettelse).",
        "properties": {
          "OPPGAVE_SKRIV": {
            "type": "boolean"
          },
          "OPPGAVE_LES": {
            "type": "boolean"
          },
          "OPPGAVE_SLETT": {
            "type": "boolean"
          }
        }
      },
      "IntegrasjonMedPrivilegier": {
        "required": [
          "integrasjonId",
          "navn",
          "beskrivelse",
          "privilegier"
        ],
        "type": "object",
        "description": "Integrasjon tilknyttet tjenesten med full privilegiestatus for oppgave.",
        "properties": {
          "integrasjonId": {
            "type": "string",
            "format": "uuid",
            "description": "Unik id for integrasjonen"
          },
          "navn": {
            "type": "string",
            "description": "Navn på integrasjonen"
          },
          "beskrivelse": {
            "type": "string",
            "description": "Beskrivelse av integrasjonen"
          },
          "privilegier": {
            "$ref": "#/components/schemas/PrivilegierStatus"
          }
        }
      },
      "OppdaterPrivilegierRequest": {
        "required": [
          "privilegier"
        ],
        "type": "object",
        "description": "Komplett kart over privilegier for en integrasjon. Alle privilegier må oppgis. Dette erstatter eksisterende privilegier fullt ut.",
        "properties": {
          "privilegier": {
            "$ref": "#/components/schemas/PrivilegierStatus"
          }
        }
      }
    }
  }
}