{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Innsyn søk service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://developers.fiks.ks.no/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.fiks.test.ks.no/",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Innsyn søk service",
    "description" : "API for søk på Innsyn"
  } ],
  "paths" : {
    "/innsyn-sok/api/v1/sok" : {
      "post" : {
        "tags" : [ "LegacySok" ],
        "summary" : "Søk",
        "operationId" : "sok",
        "parameters" : [ {
          "name" : "term",
          "in" : "query",
          "description" : "Søkeord",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fra",
          "in" : "query",
          "description" : "Index for det første søketreffet som skal returneres",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "antall",
          "in" : "query",
          "description" : "Antall søketreff som skal returneres",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "name" : "sortering",
          "in" : "query",
          "description" : "Skal søkeresultatet sorteres på dato heller enn relevans? Relevans-basert sortering er default",
          "schema" : {
            "$ref" : "#/components/schemas/Sortering"
          }
        }, {
          "name" : "akseptertMeldingVersjon",
          "in" : "query",
          "description" : "Akseptert melding-versjon. Kan settes flere ganger. Innsyn vil nedgradere treff på høyere versjon til den høyeste av de aksepterte versjonen (om det er oppgitt flere på samme dokumenttype)",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingVersjon"
            }
          }
        } ],
        "requestBody" : {
          "description" : "Filtere som begrenser resultatsettet",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Filter"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Sokeresultat"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AdresseV1" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          }
        }
      },
      "Aggregeringer" : {
        "type" : "object",
        "properties" : {
          "fiksOrganisasjon" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FiksOrganisasjonAggregering"
            }
          },
          "type" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/TypeAggregering"
            }
          },
          "dateRange" : {
            "$ref" : "#/components/schemas/Periode"
          }
        }
      },
      "ByggesakDokumentV1" : {
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "dokumenttype" : {
            "$ref" : "#/components/schemas/ByggesakDokumenttypeV1"
          },
          "nedlastingslenke" : {
            "type" : "string"
          },
          "dokumentsdato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "vedtaksstatus" : {
            "type" : "string"
          },
          "versjon" : {
            "type" : "string"
          },
          "vedtaksdato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "systemId" : {
            "type" : "string"
          },
          "erstatterTidligereSystemId" : {
            "type" : "string"
          },
          "mimeType" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ByggesakDokumenttypeV1" : {
        "type" : "object",
        "properties" : {
          "dokumenttypeKodeverdi" : {
            "type" : "string"
          },
          "dokumenttypeKodebeskrivelse" : {
            "type" : "string"
          }
        }
      },
      "ByggesakMatrikkelnummerV1" : {
        "type" : "object",
        "properties" : {
          "kommunenummer" : {
            "type" : "string"
          },
          "gardsnummer" : {
            "type" : "string"
          },
          "bruksnummer" : {
            "type" : "string"
          },
          "seksjonsnummer" : {
            "type" : "string"
          },
          "festenummer" : {
            "type" : "string"
          }
        }
      },
      "ByggesakSaksnummerV1" : {
        "type" : "object",
        "properties" : {
          "saksnummerSaksaar" : {
            "type" : "string"
          },
          "saksnummerSakssekvensnummer" : {
            "type" : "string"
          }
        }
      },
      "ByggesakTiltakstypeV1" : {
        "type" : "object",
        "properties" : {
          "tiltakstypeKodeverdi" : {
            "type" : "string"
          },
          "tiltakstypeKodebeskrivelse" : {
            "type" : "string"
          }
        }
      },
      "FakturaKontaktInformasjonV1" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          },
          "fritekst" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseV1"
          }
        }
      },
      "FakturaLenkeV1" : {
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "FakturaPdfV1" : {
        "type" : "object",
        "properties" : {
          "url" : {
            "type" : "string"
          },
          "tittel" : {
            "type" : "string"
          }
        }
      },
      "FakturaVedleggV1" : {
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "FiksOrganisasjonAggregering" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "valgt" : {
            "type" : "boolean"
          }
        }
      },
      "Forelder" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          },
          "dokumentId" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV1Dokument" : {
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer",
            "format" : "int32"
          },
          "nedlastingslenke" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV2Adresse" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "addresselinje1" : {
            "type" : "string"
          },
          "addresselinje2" : {
            "type" : "string"
          },
          "addresselinje3" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV2Dokument" : {
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer",
            "format" : "int32"
          },
          "nedlastingLenke" : {
            "type" : "string"
          },
          "mimeType" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV2Lenke" : {
        "type" : "object",
        "properties" : {
          "url" : {
            "type" : "string"
          },
          "urlTekst" : {
            "type" : "string"
          },
          "ledetekst" : {
            "type" : "string"
          }
        }
      },
      "HistoriskFakturaV1" : {
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          },
          "fakturaDato" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "LegacySokHit" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          },
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          }
        },
        "discriminator" : {
          "propertyName" : "versjon"
        }
      },
      "MatrikkelenhetMatrikkelnummerV1" : {
        "type" : "object",
        "properties" : {
          "kommunenummer" : {
            "type" : "string"
          },
          "gardsnummer" : {
            "type" : "string"
          },
          "bruksnummer" : {
            "type" : "string"
          },
          "seksjonsnummer" : {
            "type" : "string"
          },
          "festenummer" : {
            "type" : "string"
          }
        }
      },
      "MeldingFiksOrganisasjon" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "kommunenummer" : {
            "type" : "string"
          }
        }
      },
      "MeldingV1LegacySokHit" : {
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentId" : {
            "type" : "string"
          },
          "sikkerhetsniva" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fiksOrganisasjon" : {
            "$ref" : "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "korrelasjonId" : {
            "type" : "string"
          },
          "forelder" : {
            "$ref" : "#/components/schemas/Forelder"
          },
          "eksternRef" : {
            "type" : "string"
          },
          "meldingMetadata" : {
            "$ref" : "#/components/schemas/LegacySokHit"
          },
          "score" : {
            "type" : "number",
            "format" : "float"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "Periode" : {
        "type" : "object",
        "properties" : {
          "fraDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "tilDato" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "SakEdialogSkjemaDocV1" : {
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "mottaker" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "ferdigutfyltTittel" : {
            "type" : "string"
          },
          "ferdigutfyltTekst" : {
            "type" : "string"
          },
          "sakssekvensnummer" : {
            "type" : "integer",
            "format" : "int32"
          },
          "saksaar" : {
            "type" : "integer",
            "format" : "int32"
          },
          "svarUtForsendelseId" : {
            "type" : "string"
          }
        }
      },
      "SakV1Aktivitet" : {
        "type" : "object",
        "properties" : {
          "hendelse" : {
            "type" : "string"
          },
          "dato" : {
            "type" : "string"
          },
          "part" : {
            "$ref" : "#/components/schemas/SakV1Part"
          }
        }
      },
      "SakV1Dokument" : {
        "type" : "object",
        "properties" : {
          "filnavn" : {
            "type" : "string"
          },
          "storrelse" : {
            "type" : "integer",
            "format" : "int64"
          },
          "mimeType" : {
            "type" : "string"
          },
          "tittel" : {
            "type" : "string"
          },
          "lenke" : {
            "type" : "string"
          },
          "svarUtFilnummer" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "SakV1EdialogSkjema" : {
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "mottaker" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "ferdigutfyltTittel" : {
            "type" : "string"
          },
          "ferdigutfyltTekst" : {
            "type" : "string"
          },
          "sakssekvensnummer" : {
            "type" : "integer",
            "format" : "int32"
          },
          "saksaar" : {
            "type" : "integer",
            "format" : "int32"
          },
          "svarUtForsendelseId" : {
            "type" : "string"
          }
        }
      },
      "SakV1Korrespondansepart" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON" ]
          },
          "korrespondanseparttype" : {
            "type" : "string",
            "enum" : [ "EA", "EM", "EK", "IA", "IM", "IK" ]
          },
          "korrespondansepartNavn" : {
            "type" : "string"
          },
          "korrespondansepartId" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseV1"
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "kontaktperson" : {
            "type" : "string"
          }
        }
      },
      "SakV1Lenke" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "SakV1Milepel" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "dato" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      },
      "SakV1Part" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON" ]
          },
          "partRolle" : {
            "type" : "string"
          },
          "partNavn" : {
            "type" : "string"
          },
          "partId" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseV1"
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "kontaktperson" : {
            "type" : "string"
          }
        }
      },
      "SkjemaFilV1" : {
        "type" : "object",
        "properties" : {
          "nedlastingslenke" : {
            "type" : "string"
          },
          "filnavn" : {
            "type" : "string"
          },
          "mimeType" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "Sokeresultat" : {
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treffMedHoyereInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1LegacySokHit"
            }
          },
          "forespurtFra" : {
            "type" : "integer",
            "format" : "int32"
          },
          "forespurtAntall" : {
            "type" : "integer",
            "format" : "int32"
          },
          "aggregeringer" : {
            "$ref" : "#/components/schemas/Aggregeringer"
          }
        }
      },
      "TypeAggregering" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          },
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "antallTreffKategori" : {
            "type" : "integer",
            "format" : "int64"
          },
          "valgt" : {
            "type" : "boolean"
          }
        }
      },
      "byggesakV1" : {
        "type" : "object",
        "description" : "Byggesak",
        "allOf" : [ {
          "$ref" : "#/components/schemas/LegacySokHit"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "beskrivelse" : {
              "type" : "string"
            },
            "mappeId" : {
              "type" : "string"
            },
            "sakstatus" : {
              "type" : "string"
            },
            "saksdato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "saksansvarlig" : {
              "type" : "string"
            },
            "administrativEnhet" : {
              "type" : "string"
            },
            "adresse" : {
              "type" : "string"
            },
            "avsluttetDato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "saksnummer" : {
              "$ref" : "#/components/schemas/ByggesakSaksnummerV1"
            },
            "tiltakstype" : {
              "$ref" : "#/components/schemas/ByggesakTiltakstypeV1"
            },
            "matrikkelnummer" : {
              "$ref" : "#/components/schemas/ByggesakMatrikkelnummerV1"
            },
            "tiltakshaver" : {
              "type" : "string"
            },
            "ansvarligSoker" : {
              "type" : "string"
            },
            "dokumenter" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ByggesakDokumentV1"
              }
            }
          }
        } ]
      },
      "fakturaV1" : {
        "type" : "object",
        "description" : "Faktura",
        "allOf" : [ {
          "$ref" : "#/components/schemas/LegacySokHit"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "fakturaDato" : {
              "type" : "string",
              "format" : "date"
            },
            "forfallDato" : {
              "type" : "string",
              "format" : "date"
            },
            "status" : {
              "type" : "string",
              "enum" : [ "BETALT", "IKKE_BETALT", "INKASSOVARSEL", "SENDT_INKASSO", "INKASSO" ]
            },
            "fakturaMottaker" : {
              "type" : "string"
            },
            "betalesTil" : {
              "type" : "string"
            },
            "belop" : {
              "type" : "number",
              "format" : "double"
            },
            "gebyr" : {
              "type" : "number",
              "format" : "double"
            },
            "renter" : {
              "type" : "number",
              "format" : "double"
            },
            "andreOmkostninger" : {
              "type" : "number",
              "format" : "double"
            },
            "totalbelop" : {
              "type" : "number",
              "format" : "double"
            },
            "utestaendeBelop" : {
              "type" : "number",
              "format" : "double"
            },
            "kreditertBelop" : {
              "type" : "number",
              "format" : "double"
            },
            "kontonummer" : {
              "type" : "string"
            },
            "kid" : {
              "type" : "string"
            },
            "fakturanummer" : {
              "type" : "string"
            },
            "forsendelseskanal" : {
              "type" : "string",
              "enum" : [ "AVTALEGIRO", "EFAKTURA", "POST", "EPOST", "DIGIPOST", "EBOKS" ]
            },
            "faktura" : {
              "$ref" : "#/components/schemas/FakturaPdfV1"
            },
            "fakturahistorikk" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/HistoriskFakturaV1"
              }
            },
            "vedlegg" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/FakturaVedleggV1"
              }
            },
            "lenker" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/FakturaLenkeV1"
              }
            },
            "kontaktinformasjon" : {
              "$ref" : "#/components/schemas/FakturaKontaktInformasjonV1"
            },
            "kontaktinformasjonInkasso" : {
              "$ref" : "#/components/schemas/FakturaKontaktInformasjonV1"
            },
            "kanBetales" : {
              "type" : "boolean"
            },
            "korrigert" : {
              "type" : "boolean"
            },
            "sendtTilEkstern" : {
              "type" : "boolean"
            },
            "eksternLenke" : {
              "$ref" : "#/components/schemas/FakturaLenkeV1"
            },
            "beskrivelse" : {
              "type" : "string"
            },
            "innbetaltBelop" : {
              "type" : "number",
              "format" : "double"
            }
          }
        } ]
      },
      "forsendelseV1" : {
        "type" : "object",
        "description" : "Forsendelse",
        "allOf" : [ {
          "$ref" : "#/components/schemas/LegacySokHit"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "avsender" : {
              "type" : "string"
            },
            "mottaker" : {
              "type" : "string"
            },
            "eksternLenke" : {
              "type" : "string"
            },
            "eksternLenkeTekst" : {
              "type" : "string"
            },
            "svarLenke" : {
              "type" : "string"
            },
            "sendtDato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "lest" : {
              "type" : "boolean"
            },
            "dokumenter" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ForsendelseV1Dokument"
              }
            }
          }
        } ]
      },
      "forsendelseV2" : {
        "type" : "object",
        "description" : "Forsendelse",
        "allOf" : [ {
          "$ref" : "#/components/schemas/LegacySokHit"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "avsender" : {
              "type" : "string"
            },
            "mottakerAdresse" : {
              "$ref" : "#/components/schemas/ForsendelseV2Adresse"
            },
            "returAdresse" : {
              "$ref" : "#/components/schemas/ForsendelseV2Adresse"
            },
            "svarLenke" : {
              "type" : "string"
            },
            "sendtDato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "lest" : {
              "type" : "boolean"
            },
            "dokumenter" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ForsendelseV2Dokument"
              }
            },
            "lenker" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ForsendelseV2Lenke"
              }
            }
          }
        } ]
      },
      "innsendtskjemaV1" : {
        "type" : "object",
        "description" : "Innsendt skjema",
        "allOf" : [ {
          "$ref" : "#/components/schemas/LegacySokHit"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "mottaker" : {
              "type" : "string"
            },
            "avsender" : {
              "type" : "string"
            },
            "innsendtdato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "skjemafil" : {
              "$ref" : "#/components/schemas/SkjemaFilV1"
            },
            "vedlegg" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/SkjemaFilV1"
              }
            },
            "url" : {
              "type" : "string"
            }
          }
        } ]
      },
      "journalpostV1" : {
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/LegacySokHit"
        }, {
          "type" : "object",
          "properties" : {
            "journalposttype" : {
              "type" : "string",
              "enum" : [ "I", "U", "N", "X", "S" ]
            },
            "tittel" : {
              "type" : "string"
            },
            "mappeId" : {
              "type" : "string"
            },
            "systemId" : {
              "type" : "string"
            },
            "registreringsId" : {
              "type" : "string"
            },
            "journalpostnummer" : {
              "type" : "integer",
              "format" : "int32"
            },
            "journalaar" : {
              "type" : "integer",
              "format" : "int32"
            },
            "journaldato" : {
              "type" : "string"
            },
            "svarUtForsendelseId" : {
              "type" : "string"
            },
            "internEksponertFor" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/SakV1Part"
              }
            },
            "beskrivelse" : {
              "type" : "string"
            },
            "aktivitetslogg" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/SakV1Aktivitet"
              }
            },
            "lenker" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/SakV1Lenke"
              }
            },
            "edialogSkjemaer" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/SakEdialogSkjemaDocV1"
              }
            },
            "klagefrist" : {
              "type" : "string"
            },
            "korrespondansepart" : {
              "$ref" : "#/components/schemas/SakV1Korrespondansepart"
            },
            "dokumenter" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/SakV1Dokument"
              }
            }
          }
        } ]
      },
      "kommunaltjenesteV1" : {
        "type" : "object",
        "description" : "Kommunal tjeneste",
        "allOf" : [ {
          "$ref" : "#/components/schemas/LegacySokHit"
        }, {
          "type" : "object",
          "properties" : {
            "tjenesteId" : {
              "type" : "string",
              "format" : "uuid"
            },
            "tittel" : {
              "type" : "string"
            },
            "lenke" : {
              "type" : "string"
            },
            "rettetMot" : {
              "type" : "string",
              "enum" : [ "PERSON", "ORGANISASJON", "PERSON_OG_ORGANISASJON" ]
            },
            "kommuneFiksOrganisasjonId" : {
              "type" : "string",
              "format" : "uuid"
            },
            "kommuneVisningsnavn" : {
              "type" : "string"
            }
          }
        } ]
      },
      "mappeV1" : {
        "type" : "object",
        "description" : "Mappe",
        "allOf" : [ {
          "$ref" : "#/components/schemas/LegacySokHit"
        }, {
          "type" : "object",
          "properties" : {
            "internType" : {
              "type" : "string",
              "enum" : [ "BARNEVERNSSAK" ]
            },
            "tittel" : {
              "type" : "string"
            },
            "mappeId" : {
              "type" : "string"
            },
            "systemId" : {
              "type" : "string"
            },
            "beskrivelse" : {
              "type" : "string"
            },
            "parter" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/SakV1Part"
              }
            },
            "minPart" : {
              "$ref" : "#/components/schemas/SakV1Part"
            },
            "sistOppdatert" : {
              "type" : "string"
            },
            "avsluttet" : {
              "type" : "string"
            },
            "milepeler" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/SakV1Milepel"
              }
            },
            "navaerendeMilepel" : {
              "$ref" : "#/components/schemas/SakV1Milepel"
            },
            "saksdato" : {
              "type" : "string"
            },
            "saksansvarlig" : {
              "type" : "string"
            },
            "lenker" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/SakV1Lenke"
              }
            },
            "edialogSkjemaer" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/SakV1EdialogSkjema"
              }
            }
          }
        } ]
      },
      "matrikkelenhetV1" : {
        "type" : "object",
        "description" : "Matrikkelenhet",
        "allOf" : [ {
          "$ref" : "#/components/schemas/LegacySokHit"
        }, {
          "type" : "object",
          "properties" : {
            "matrikkelnummer" : {
              "$ref" : "#/components/schemas/MatrikkelenhetMatrikkelnummerV1"
            },
            "matrikkelenhetId" : {
              "type" : "integer",
              "format" : "int64"
            },
            "adresser" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "kommuneNavn" : {
              "type" : "string"
            },
            "kommunenummer" : {
              "type" : "string"
            }
          }
        } ]
      },
      "skjemakladdV1" : {
        "type" : "object",
        "description" : "Skjema kladd",
        "allOf" : [ {
          "$ref" : "#/components/schemas/LegacySokHit"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "mottaker" : {
              "type" : "string"
            },
            "avsender" : {
              "type" : "string"
            },
            "endretdato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "url" : {
              "type" : "string"
            }
          }
        } ]
      },
      "Sortering" : {
        "type" : "string",
        "enum" : [ "DATO_ASC", "DATO_DESC", "RELEVANS" ]
      },
      "MeldingVersjon" : {
        "type" : "string",
        "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
      },
      "Filter" : {
        "type" : "object",
        "properties" : {
          "fraDato" : {
            "type" : "string",
            "format" : "date"
          },
          "tilDato" : {
            "type" : "string",
            "format" : "date"
          },
          "fiksOrganisasjon" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "typer" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
            }
          }
        }
      }
    }
  }
}