{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Innsyn Byggesak søk service - skal fases ut",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://developers.fiks.ks.no/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no/",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "Innsyn Byggesak søk service",
    "description" : "API for søk på Innsyn Byggesak"
  } ],
  "paths" : {
    "/innsyn-sok/api/v1/byggesak/sok" : {
      "post" : {
        "tags" : [ "ByggesakSok" ],
        "summary" : "Søk",
        "operationId" : "byggesakSok",
        "parameters" : [ {
          "name" : "term",
          "in" : "query",
          "description" : "Søkeord",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fra",
          "in" : "query",
          "description" : "Index for det første søketreffet som skal returneres",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "antall",
          "in" : "query",
          "description" : "Antall søketreff som skal returneres",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "name" : "sortering",
          "in" : "query",
          "description" : "Skal søkeresultatet sorteres på dato heller enn relevans? Relevans-basert sortering er default",
          "schema" : {
            "$ref" : "#/components/schemas/Sortering"
          }
        }, {
          "name" : "akseptertMeldingVersjon",
          "in" : "query",
          "description" : "Akseptert melding-versjon. Kan settes flere ganger. Innsyn vil nedgradere treff på høyere versjon til den høyeste av de aksepterte versjonen (om det er oppgitt flere på samme dokumenttype)",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingVersjon"
            }
          }
        }, {
          "name" : "onBehalfOf",
          "in" : "query",
          "description" : "Organisasjonsnummer for organisasjonen dette søket skal utføres på vegne av. Krever at autentisert bruker har rettigheter til å agere på vegne av denne organisasjonen.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Filtere som begrenser resultatsettet",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ByggesakFilter"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ByggesakSokeresultat"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ByggesakAggregeringer" : {
        "type" : "object",
        "properties" : {
          "fiksOrganisasjon" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FiksOrganisasjonAggregering"
            }
          },
          "dateRange" : {
            "$ref" : "#/components/schemas/Periode"
          }
        }
      },
      "ByggesakDokumentV1" : {
        "required" : [ "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "dokumenttype" : {
            "$ref" : "#/components/schemas/ByggesakDokumenttypeV1"
          },
          "nedlastingslenke" : {
            "type" : "string"
          },
          "dokumentsdato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "vedtaksstatus" : {
            "type" : "string"
          },
          "versjon" : {
            "type" : "string"
          },
          "vedtaksdato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "systemId" : {
            "type" : "string"
          },
          "erstatterTidligereSystemId" : {
            "type" : "string"
          },
          "mimeType" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ByggesakDokumenttypeV1" : {
        "type" : "object",
        "properties" : {
          "dokumenttypeKodeverdi" : {
            "type" : "string"
          },
          "dokumenttypeKodebeskrivelse" : {
            "type" : "string"
          }
        }
      },
      "ByggesakMatrikkelnummerV1" : {
        "required" : [ "bruksnummer", "festenummer", "gardsnummer", "kommunenummer", "seksjonsnummer" ],
        "type" : "object",
        "properties" : {
          "kommunenummer" : {
            "type" : "string"
          },
          "gardsnummer" : {
            "type" : "string"
          },
          "bruksnummer" : {
            "type" : "string"
          },
          "seksjonsnummer" : {
            "type" : "string"
          },
          "festenummer" : {
            "type" : "string"
          }
        }
      },
      "ByggesakSaksnummerV1" : {
        "required" : [ "saksnummerSaksaar", "saksnummerSakssekvensnummer" ],
        "type" : "object",
        "properties" : {
          "saksnummerSaksaar" : {
            "type" : "string"
          },
          "saksnummerSakssekvensnummer" : {
            "type" : "string"
          }
        }
      },
      "ByggesakSokeresultat" : {
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treffMedHoyereInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1ByggesakV1"
            }
          },
          "forespurtFra" : {
            "type" : "integer",
            "format" : "int32"
          },
          "forespurtAntall" : {
            "type" : "integer",
            "format" : "int32"
          },
          "aggregeringer" : {
            "$ref" : "#/components/schemas/ByggesakAggregeringer"
          }
        }
      },
      "ByggesakTiltakstypeV1" : {
        "required" : [ "tiltakstypeKodebeskrivelse", "tiltakstypeKodeverdi" ],
        "type" : "object",
        "properties" : {
          "tiltakstypeKodeverdi" : {
            "type" : "string"
          },
          "tiltakstypeKodebeskrivelse" : {
            "type" : "string"
          }
        }
      },
      "FiksOrganisasjon" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "visningsnavn" : {
            "type" : "string"
          }
        }
      },
      "FiksOrganisasjonAggregering" : {
        "type" : "object",
        "properties" : {
          "fiksOrg" : {
            "$ref" : "#/components/schemas/FiksOrganisasjon"
          },
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "Forelder" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          },
          "dokumentId" : {
            "type" : "string"
          }
        }
      },
      "MeldingFiksOrganisasjon" : {
        "required" : [ "id", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "kommunenummer" : {
            "type" : "string"
          }
        }
      },
      "MeldingV1ByggesakV1" : {
        "required" : [ "dokumentId", "fiksOrganisasjon", "meldingId", "meldingMetadata", "sikkerhetsniva" ],
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentId" : {
            "type" : "string"
          },
          "sikkerhetsniva" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fiksOrganisasjon" : {
            "$ref" : "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "korrelasjonId" : {
            "type" : "string"
          },
          "forelder" : {
            "$ref" : "#/components/schemas/Forelder"
          },
          "eksternRef" : {
            "type" : "string"
          },
          "meldingMetadata" : {
            "$ref" : "#/components/schemas/byggesakV1"
          },
          "score" : {
            "type" : "number",
            "format" : "double"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "Periode" : {
        "type" : "object",
        "properties" : {
          "fraDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "tilDato" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "byggesakV1" : {
        "required" : [ "dokumenter", "saksdato", "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "mappeId" : {
            "type" : "string"
          },
          "sakstatus" : {
            "type" : "string"
          },
          "saksdato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "saksansvarlig" : {
            "type" : "string"
          },
          "administrativEnhet" : {
            "type" : "string"
          },
          "adresse" : {
            "type" : "string"
          },
          "avsluttetDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "saksnummer" : {
            "$ref" : "#/components/schemas/ByggesakSaksnummerV1"
          },
          "tiltakstype" : {
            "$ref" : "#/components/schemas/ByggesakTiltakstypeV1"
          },
          "matrikkelnummer" : {
            "$ref" : "#/components/schemas/ByggesakMatrikkelnummerV1"
          },
          "tiltakshaver" : {
            "type" : "string"
          },
          "ansvarligSoker" : {
            "type" : "string"
          },
          "dokumenter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ByggesakDokumentV1"
            }
          },
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          },
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          }
        },
        "description" : "Byggesak"
      },
      "Sortering" : {
        "type" : "string",
        "enum" : [ "DATO_ASC", "DATO_DESC", "RELEVANS" ]
      },
      "MeldingVersjon" : {
        "type" : "string",
        "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
      },
      "ByggesakFilter" : {
        "type" : "object",
        "properties" : {
          "fraDato" : {
            "type" : "string",
            "format" : "date"
          },
          "tilDato" : {
            "type" : "string",
            "format" : "date"
          },
          "fiksOrganisasjon" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        }
      }
    }
  }
}