{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Innsyn Oppslag-service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://developers.fiks.ks.no/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.fiks.test.ks.no/",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Innsyn oppslag-service",
    "description" : "API for oppslag på Innsyn"
  } ],
  "paths" : {
    "/innsyn-sok/api/v1/oppslag/dokument" : {
      "get" : {
        "tags" : [ "Oppslag" ],
        "summary" : "Hent en melding basert på dokumentId",
        "operationId" : "lookupDokument",
        "parameters" : [ {
          "name" : "dokumentId",
          "in" : "query",
          "description" : "Id for dokumentet (formatert som <fiksOrgId>_<integrasjonId>_<meldingVersjon>_<meldingId>)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Meldingstype til dokumentet",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/MeldingType"
          }
        }, {
          "name" : "akseptertMeldingVersjon",
          "in" : "query",
          "description" : "Akseptert melding-versjon. Kan settes flere ganger. Innsyn vil nedgradere treff på høyere versjon til den høyeste av de aksepterte versjonen (om det er oppgitt flere på samme dokumenttype)",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingVersjon"
            }
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OppslagResultat"
                }
              }
            }
          }
        }
      }
    },
    "/innsyn-sok/api/v1/oppslag/forelder" : {
      "get" : {
        "tags" : [ "Oppslag" ],
        "summary" : "Hent en forelder-melding og dennes barn-meldinger",
        "operationId" : "lookupForelder",
        "parameters" : [ {
          "name" : "forelderId",
          "in" : "query",
          "description" : "Id for forelder-dokumentet",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "forelderType",
          "in" : "query",
          "description" : "Typen til forelder-dokumentet",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/MeldingType"
          }
        }, {
          "name" : "akseptertMeldingVersjon",
          "in" : "query",
          "description" : "Akseptert melding-versjon. Kan settes flere ganger. Innsyn vil nedgradere treff på høyere versjon til den høyeste av de aksepterte versjonen (om det er oppgitt flere på samme dokumenttype)",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingVersjon"
            }
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForelderOppslagResultat"
                }
              }
            }
          }
        }
      }
    },
    "/innsyn-sok/api/v1/oppslag/korrelasjon" : {
      "get" : {
        "tags" : [ "Oppslag" ],
        "summary" : "Hent alle meldinger som er korrelert på den spesifiserte meldingsid'en",
        "operationId" : "lookupKorrelasjon",
        "parameters" : [ {
          "name" : "korrelasjonId",
          "in" : "query",
          "description" : "Korrelasjon-id som marker dokumentene som relatert",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "akseptertMeldingVersjon",
          "in" : "query",
          "description" : "Akseptert melding-versjon. Kan settes flere ganger. Innsyn vil nedgradere treff på høyere versjon til den høyeste av de aksepterte versjonen (om det er oppgitt flere på samme dokumenttype)",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingVersjon"
            }
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KorrelasjonOppslag"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AdresseV1" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          }
        }
      },
      "ByggesakDokumentV1" : {
        "required" : [ "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "dokumenttype" : {
            "$ref" : "#/components/schemas/ByggesakDokumenttypeV1"
          },
          "nedlastingslenke" : {
            "type" : "string"
          },
          "dokumentsdato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "vedtaksstatus" : {
            "type" : "string"
          },
          "versjon" : {
            "type" : "string"
          },
          "vedtaksdato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "systemId" : {
            "type" : "string"
          },
          "erstatterTidligereSystemId" : {
            "type" : "string"
          },
          "mimeType" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ByggesakDokumenttypeV1" : {
        "type" : "object",
        "properties" : {
          "dokumenttypeKodeverdi" : {
            "type" : "string"
          },
          "dokumenttypeKodebeskrivelse" : {
            "type" : "string"
          }
        }
      },
      "ByggesakMatrikkelnummerV1" : {
        "required" : [ "bruksnummer", "festenummer", "gardsnummer", "kommunenummer", "seksjonsnummer" ],
        "type" : "object",
        "properties" : {
          "kommunenummer" : {
            "type" : "string"
          },
          "gardsnummer" : {
            "type" : "string"
          },
          "bruksnummer" : {
            "type" : "string"
          },
          "seksjonsnummer" : {
            "type" : "string"
          },
          "festenummer" : {
            "type" : "string"
          }
        }
      },
      "ByggesakSaksnummerV1" : {
        "required" : [ "saksnummerSaksaar", "saksnummerSakssekvensnummer" ],
        "type" : "object",
        "properties" : {
          "saksnummerSaksaar" : {
            "type" : "string"
          },
          "saksnummerSakssekvensnummer" : {
            "type" : "string"
          }
        }
      },
      "ByggesakTiltakstypeV1" : {
        "required" : [ "tiltakstypeKodebeskrivelse", "tiltakstypeKodeverdi" ],
        "type" : "object",
        "properties" : {
          "tiltakstypeKodeverdi" : {
            "type" : "string"
          },
          "tiltakstypeKodebeskrivelse" : {
            "type" : "string"
          }
        }
      },
      "FakturaKontaktInformasjonV1" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          },
          "fritekst" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseV1"
          }
        }
      },
      "FakturaLenkeV1" : {
        "required" : [ "tittel", "url" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "FakturaPdfV1" : {
        "required" : [ "url" ],
        "type" : "object",
        "properties" : {
          "url" : {
            "type" : "string"
          },
          "tittel" : {
            "type" : "string"
          }
        }
      },
      "FakturaVedleggV1" : {
        "required" : [ "tittel", "url" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "Forelder" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          },
          "dokumentId" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV1Dokument" : {
        "required" : [ "nedlastingslenke", "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer",
            "format" : "int32"
          },
          "nedlastingslenke" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV2Adresse" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "addresselinje1" : {
            "type" : "string"
          },
          "addresselinje2" : {
            "type" : "string"
          },
          "addresselinje3" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV2Dokument" : {
        "required" : [ "mimeType", "nedlastingLenke", "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer",
            "format" : "int32"
          },
          "nedlastingLenke" : {
            "type" : "string"
          },
          "mimeType" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV2Lenke" : {
        "required" : [ "url", "urlTekst" ],
        "type" : "object",
        "properties" : {
          "url" : {
            "type" : "string"
          },
          "urlTekst" : {
            "type" : "string"
          },
          "ledetekst" : {
            "type" : "string"
          }
        }
      },
      "HistoriskFakturaV1" : {
        "required" : [ "tittel", "url" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          },
          "fakturaDato" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "MappeEdialogSkjemaDocV1" : {
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "mottaker" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "ferdigutfyltTittel" : {
            "type" : "string"
          },
          "ferdigutfyltTekst" : {
            "type" : "string"
          },
          "sakssekvensnummer" : {
            "type" : "integer",
            "format" : "int32"
          },
          "saksaar" : {
            "type" : "integer",
            "format" : "int32"
          },
          "svarUtForsendelseId" : {
            "type" : "string"
          }
        }
      },
      "MappeV1Adresse" : {
        "type" : "object",
        "properties" : {
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          }
        }
      },
      "MappeV1Aktivitet" : {
        "required" : [ "dato", "hendelse", "part" ],
        "type" : "object",
        "properties" : {
          "hendelse" : {
            "type" : "string"
          },
          "dato" : {
            "type" : "string"
          },
          "part" : {
            "$ref" : "#/components/schemas/MappeV1Part"
          }
        }
      },
      "MappeV1Dokument" : {
        "required" : [ "filnavn", "mimeType", "storrelse", "tittel" ],
        "type" : "object",
        "properties" : {
          "filnavn" : {
            "type" : "string"
          },
          "storrelse" : {
            "type" : "integer",
            "format" : "int64"
          },
          "mimeType" : {
            "type" : "string"
          },
          "tittel" : {
            "type" : "string"
          },
          "lenke" : {
            "type" : "string"
          },
          "svarUtFilnummer" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "MappeV1EdialogSkjema" : {
        "required" : [ "mottaker", "navn", "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "mottaker" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "ferdigutfyltTittel" : {
            "type" : "string"
          },
          "ferdigutfyltTekst" : {
            "type" : "string"
          },
          "sakssekvensnummer" : {
            "type" : "integer",
            "format" : "int32"
          },
          "saksaar" : {
            "type" : "integer",
            "format" : "int32"
          },
          "svarUtForsendelseId" : {
            "type" : "string"
          }
        }
      },
      "MappeV1Korrespondansepart" : {
        "required" : [ "korrespondansepartNavn", "korrespondanseparttype", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON" ]
          },
          "korrespondanseparttype" : {
            "type" : "string",
            "enum" : [ "EA", "EM", "EK", "IA", "IM", "IK" ]
          },
          "korrespondansepartNavn" : {
            "type" : "string"
          },
          "korrespondansepartId" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseV1"
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "kontaktperson" : {
            "type" : "string"
          }
        }
      },
      "MappeV1Lenke" : {
        "required" : [ "navn", "url" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "MappeV1Milepel" : {
        "required" : [ "navn", "startdato" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "startdato" : {
            "type" : "string"
          },
          "sluttdato" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      },
      "MappeV1Part" : {
        "required" : [ "partId", "partNavn", "partRolle", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON" ]
          },
          "partRolle" : {
            "type" : "string"
          },
          "partNavn" : {
            "type" : "string"
          },
          "partId" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/MappeV1Adresse"
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "kontaktperson" : {
            "type" : "string"
          }
        }
      },
      "MatrikkelV1" : {
        "type" : "object",
        "properties" : {
          "kommunenummer" : {
            "type" : "string"
          },
          "gardsnummer" : {
            "type" : "string"
          },
          "bruksnummer" : {
            "type" : "string"
          },
          "festenummer" : {
            "type" : "string"
          },
          "seksjonsnummer" : {
            "type" : "string"
          },
          "matrikkelId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "MatrikkelenhetMatrikkelnummerV1" : {
        "required" : [ "bruksnummer", "festenummer", "gardsnummer", "kommunenummer", "seksjonsnummer" ],
        "type" : "object",
        "properties" : {
          "kommunenummer" : {
            "type" : "string"
          },
          "gardsnummer" : {
            "type" : "string"
          },
          "bruksnummer" : {
            "type" : "string"
          },
          "seksjonsnummer" : {
            "type" : "string"
          },
          "festenummer" : {
            "type" : "string"
          }
        }
      },
      "MeldingFiksOrganisasjon" : {
        "required" : [ "id", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "kommunenummer" : {
            "type" : "string"
          }
        }
      },
      "MeldingV1OppslagMetadata" : {
        "required" : [ "dokumentId", "fiksOrganisasjon", "meldingId", "meldingMetadata", "sikkerhetsniva" ],
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentId" : {
            "type" : "string"
          },
          "sikkerhetsniva" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fiksOrganisasjon" : {
            "$ref" : "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "korrelasjonId" : {
            "type" : "string"
          },
          "forelder" : {
            "$ref" : "#/components/schemas/Forelder"
          },
          "eksternRef" : {
            "type" : "string"
          },
          "meldingMetadata" : {
            "$ref" : "#/components/schemas/OppslagMetadata"
          },
          "score" : {
            "type" : "number",
            "format" : "double"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "OppslagMetadata" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          },
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          }
        },
        "discriminator" : {
          "propertyName" : "versjon"
        }
      },
      "OppslagResultat" : {
        "type" : "object",
        "properties" : {
          "hit" : {
            "$ref" : "#/components/schemas/MeldingV1OppslagMetadata"
          },
          "lookupErrorCode" : {
            "type" : "string",
            "description" : "Om treff ikke kunne vises indikerer koden hvorfor. ",
            "enum" : [ "IKKE_EKSISTERENDE_ELLER_IKKE_AUTORISERT", "INNLOGGINGSNIVA_UTILSTREKKELIG" ]
          }
        }
      },
      "SkjemaFilV1" : {
        "required" : [ "filnavn", "mimeType", "nedlastingslenke", "size" ],
        "type" : "object",
        "properties" : {
          "nedlastingslenke" : {
            "type" : "string"
          },
          "filnavn" : {
            "type" : "string"
          },
          "mimeType" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "byggesakV1" : {
        "required" : [ "dokumenter", "saksdato", "tittel" ],
        "type" : "object",
        "description" : "Byggesak",
        "allOf" : [ {
          "$ref" : "#/components/schemas/OppslagMetadata"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "beskrivelse" : {
              "type" : "string"
            },
            "mappeId" : {
              "type" : "string"
            },
            "sakstatus" : {
              "type" : "string"
            },
            "saksdato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "saksansvarlig" : {
              "type" : "string"
            },
            "administrativEnhet" : {
              "type" : "string"
            },
            "adresse" : {
              "type" : "string"
            },
            "avsluttetDato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "saksnummer" : {
              "$ref" : "#/components/schemas/ByggesakSaksnummerV1"
            },
            "tiltakstype" : {
              "$ref" : "#/components/schemas/ByggesakTiltakstypeV1"
            },
            "matrikkelnummer" : {
              "$ref" : "#/components/schemas/ByggesakMatrikkelnummerV1"
            },
            "tiltakshaver" : {
              "type" : "string"
            },
            "ansvarligSoker" : {
              "type" : "string"
            },
            "dokumenter" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ByggesakDokumentV1"
              }
            }
          }
        } ]
      },
      "fakturaV1" : {
        "required" : [ "belop", "betalesTil", "fakturaDato", "fakturaMottaker", "forfallDato", "tittel" ],
        "type" : "object",
        "description" : "Faktura",
        "allOf" : [ {
          "$ref" : "#/components/schemas/OppslagMetadata"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "fakturaDato" : {
              "type" : "string",
              "format" : "date"
            },
            "forfallDato" : {
              "type" : "string",
              "format" : "date"
            },
            "status" : {
              "type" : "string",
              "enum" : [ "BETALT", "IKKE_BETALT", "INKASSOVARSEL", "SENDT_INKASSO", "INKASSO" ]
            },
            "fakturaMottaker" : {
              "type" : "string"
            },
            "betalesTil" : {
              "type" : "string"
            },
            "belop" : {
              "type" : "number",
              "format" : "double"
            },
            "gebyr" : {
              "type" : "number",
              "format" : "double"
            },
            "renter" : {
              "type" : "number",
              "format" : "double"
            },
            "andreOmkostninger" : {
              "type" : "number",
              "format" : "double"
            },
            "totalbelop" : {
              "type" : "number",
              "format" : "double"
            },
            "utestaendeBelop" : {
              "type" : "number",
              "format" : "double"
            },
            "kreditertBelop" : {
              "type" : "number",
              "format" : "double"
            },
            "kontonummer" : {
              "type" : "string"
            },
            "kid" : {
              "type" : "string"
            },
            "fakturanummer" : {
              "type" : "string"
            },
            "forsendelseskanal" : {
              "type" : "string",
              "enum" : [ "AVTALEGIRO", "EFAKTURA", "POST", "EPOST", "DIGIPOST", "EBOKS" ]
            },
            "faktura" : {
              "$ref" : "#/components/schemas/FakturaPdfV1"
            },
            "fakturahistorikk" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/HistoriskFakturaV1"
              }
            },
            "vedlegg" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/FakturaVedleggV1"
              }
            },
            "lenker" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/FakturaLenkeV1"
              }
            },
            "kontaktinformasjon" : {
              "$ref" : "#/components/schemas/FakturaKontaktInformasjonV1"
            },
            "kontaktinformasjonInkasso" : {
              "$ref" : "#/components/schemas/FakturaKontaktInformasjonV1"
            },
            "kanBetales" : {
              "type" : "boolean"
            },
            "korrigert" : {
              "type" : "boolean"
            },
            "sendtTilEkstern" : {
              "type" : "boolean"
            },
            "eksternLenke" : {
              "$ref" : "#/components/schemas/FakturaLenkeV1"
            },
            "beskrivelse" : {
              "type" : "string"
            },
            "innbetaltBelop" : {
              "type" : "number",
              "format" : "double"
            }
          }
        } ]
      },
      "forsendelseV1" : {
        "required" : [ "avsender", "lest", "mottaker", "sendtDato", "tittel" ],
        "type" : "object",
        "description" : "Forsendelse",
        "allOf" : [ {
          "$ref" : "#/components/schemas/OppslagMetadata"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "avsender" : {
              "type" : "string"
            },
            "mottaker" : {
              "type" : "string"
            },
            "eksternLenke" : {
              "type" : "string"
            },
            "eksternLenkeTekst" : {
              "type" : "string"
            },
            "svarLenke" : {
              "type" : "string"
            },
            "sendtDato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "lest" : {
              "type" : "boolean"
            },
            "dokumenter" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ForsendelseV1Dokument"
              }
            }
          }
        } ]
      },
      "forsendelseV2" : {
        "required" : [ "avsender", "dokumenter", "lenker", "lest", "sendtDato", "tittel" ],
        "type" : "object",
        "description" : "Forsendelse",
        "allOf" : [ {
          "$ref" : "#/components/schemas/OppslagMetadata"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "avsender" : {
              "type" : "string"
            },
            "mottakerAdresse" : {
              "$ref" : "#/components/schemas/ForsendelseV2Adresse"
            },
            "returAdresse" : {
              "$ref" : "#/components/schemas/ForsendelseV2Adresse"
            },
            "svarLenke" : {
              "type" : "string"
            },
            "sendtDato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "lest" : {
              "type" : "boolean"
            },
            "dokumenter" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ForsendelseV2Dokument"
              }
            },
            "lenker" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ForsendelseV2Lenke"
              }
            }
          }
        } ]
      },
      "innsendtskjemaV1" : {
        "required" : [ "avsender", "innsendtdato", "mottaker", "skjemafil", "tittel" ],
        "type" : "object",
        "description" : "Innsendt skjema",
        "allOf" : [ {
          "$ref" : "#/components/schemas/OppslagMetadata"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "mottaker" : {
              "type" : "string"
            },
            "avsender" : {
              "type" : "string"
            },
            "innsendtdato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "skjemafil" : {
              "$ref" : "#/components/schemas/SkjemaFilV1"
            },
            "vedlegg" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/SkjemaFilV1"
              }
            },
            "url" : {
              "type" : "string"
            }
          }
        } ]
      },
      "journalpostV1" : {
        "required" : [ "journalposttype", "tittel" ],
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/OppslagMetadata"
        }, {
          "type" : "object",
          "properties" : {
            "journalposttype" : {
              "type" : "string",
              "enum" : [ "I", "U", "N", "X", "S" ]
            },
            "tittel" : {
              "type" : "string"
            },
            "mappeId" : {
              "type" : "string"
            },
            "systemId" : {
              "type" : "string"
            },
            "registreringsId" : {
              "type" : "string"
            },
            "journalpostnummer" : {
              "type" : "integer",
              "format" : "int32"
            },
            "journalaar" : {
              "type" : "integer",
              "format" : "int32"
            },
            "journaldato" : {
              "type" : "string"
            },
            "svarUtForsendelseId" : {
              "type" : "string"
            },
            "internEksponertFor" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/MappeV1Part"
              }
            },
            "beskrivelse" : {
              "type" : "string"
            },
            "aktivitetslogg" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/MappeV1Aktivitet"
              }
            },
            "lenker" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/MappeV1Lenke"
              }
            },
            "edialogSkjemaer" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/MappeEdialogSkjemaDocV1"
              }
            },
            "klagefrist" : {
              "type" : "string"
            },
            "korrespondanseparter" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/MappeV1Korrespondansepart"
              }
            },
            "dokumenter" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/MappeV1Dokument"
              }
            }
          }
        } ]
      },
      "kommunaltjenesteV1" : {
        "required" : [ "kommuneFiksOrganisasjonId", "kommuneVisningsnavn", "lenke", "rettetMot", "tittel", "tjenesteId" ],
        "type" : "object",
        "description" : "Kommunal tjeneste",
        "allOf" : [ {
          "$ref" : "#/components/schemas/OppslagMetadata"
        }, {
          "type" : "object",
          "properties" : {
            "tjenesteId" : {
              "type" : "string",
              "format" : "uuid"
            },
            "tittel" : {
              "type" : "string"
            },
            "lenke" : {
              "type" : "string"
            },
            "rettetMot" : {
              "type" : "string",
              "enum" : [ "PERSON", "ORGANISASJON", "PERSON_OG_ORGANISASJON" ]
            },
            "kommuneFiksOrganisasjonId" : {
              "type" : "string",
              "format" : "uuid"
            },
            "kommuneVisningsnavn" : {
              "type" : "string"
            }
          }
        } ]
      },
      "mappeV1" : {
        "required" : [ "internType", "tittel" ],
        "type" : "object",
        "description" : "Mappe",
        "allOf" : [ {
          "$ref" : "#/components/schemas/OppslagMetadata"
        }, {
          "type" : "object",
          "properties" : {
            "internType" : {
              "type" : "string",
              "enum" : [ "BARNEVERNSSAK", "BYGGESAK" ]
            },
            "tittel" : {
              "type" : "string"
            },
            "mappeId" : {
              "type" : "string"
            },
            "systemId" : {
              "type" : "string"
            },
            "beskrivelse" : {
              "type" : "string"
            },
            "parter" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/MappeV1Part"
              }
            },
            "minPart" : {
              "$ref" : "#/components/schemas/MappeV1Part"
            },
            "sistOppdatert" : {
              "type" : "string"
            },
            "avsluttet" : {
              "type" : "string"
            },
            "milepeler" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/MappeV1Milepel"
              }
            },
            "navaerendeMilepel" : {
              "$ref" : "#/components/schemas/MappeV1Milepel"
            },
            "saksdato" : {
              "type" : "string"
            },
            "saksansvarlig" : {
              "type" : "string"
            },
            "lenker" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/MappeV1Lenke"
              }
            },
            "edialogSkjemaer" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/MappeV1EdialogSkjema"
              }
            },
            "matrikler" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/MatrikkelV1"
              }
            },
            "adresser" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/MappeV1Adresse"
              }
            }
          }
        } ]
      },
      "matrikkelenhetV1" : {
        "required" : [ "kommuneNavn", "kommunenummer", "matrikkelenhetId", "matrikkelnummer" ],
        "type" : "object",
        "description" : "Matrikkelenhet",
        "allOf" : [ {
          "$ref" : "#/components/schemas/OppslagMetadata"
        }, {
          "type" : "object",
          "properties" : {
            "matrikkelnummer" : {
              "$ref" : "#/components/schemas/MatrikkelenhetMatrikkelnummerV1"
            },
            "matrikkelenhetId" : {
              "type" : "integer",
              "format" : "int64"
            },
            "adresser" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "kommuneNavn" : {
              "type" : "string"
            },
            "kommunenummer" : {
              "type" : "string"
            }
          }
        } ]
      },
      "skjemakladdV1" : {
        "required" : [ "endretdato", "tittel", "url" ],
        "type" : "object",
        "description" : "Skjema kladd",
        "allOf" : [ {
          "$ref" : "#/components/schemas/OppslagMetadata"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "mottaker" : {
              "type" : "string"
            },
            "avsender" : {
              "type" : "string"
            },
            "endretdato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "url" : {
              "type" : "string"
            }
          }
        } ]
      },
      "MeldingType" : {
        "type" : "string",
        "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
      },
      "MeldingVersjon" : {
        "type" : "string",
        "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
      },
      "ForelderOppslagResultat" : {
        "type" : "object",
        "properties" : {
          "forelder" : {
            "$ref" : "#/components/schemas/MeldingV1OppslagMetadata"
          },
          "ingenForelderKode" : {
            "type" : "string",
            "enum" : [ "IKKE_EKSISTERENDE_ELLER_IKKE_AUTORISERT", "INNLOGGINGSNIVA_UTILSTREKKELIG" ]
          },
          "barn" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1OppslagMetadata"
            }
          },
          "barnPaHoyereInnloggingniva" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "KorrelasjonOppslag" : {
        "type" : "object",
        "properties" : {
          "barn" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1OppslagMetadata"
            }
          },
          "barnOverInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      }
    }
  }
}