{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Grafisk Digital Integrasjon",
    "description" : "Print Grafisk Digital service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "GrafiskDigital",
    "description" : "API for å sending av post til printleverandør"
  } ],
  "paths" : {
    "/print/grafiskdigital/api/v1/ordrer/{ordreId}" : {
      "put" : {
        "tags" : [ "GrafiskDigital" ],
        "operationId" : "createGrafiskDigitalPrintOrdre",
        "parameters" : [ {
          "name" : "ordreId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GrafiskDigitalOrdreApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Alt ok"
          }
        }
      }
    },
    "/print/grafiskdigital/api/v1/fakturakonfigurasjon" : {
      "put" : {
        "tags" : [ "GrafiskDigital" ],
        "operationId" : "uploadFakturakonfigurasjon",
        "requestBody" : {
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "requestedSessionIdFromUrl" : {
                    "type" : "boolean"
                  },
                  "trailerFields" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    }
                  },
                  "trailerFieldsReady" : {
                    "type" : "boolean"
                  },
                  "authType" : {
                    "type" : "string"
                  },
                  "headerNames" : {
                    "type" : "object"
                  },
                  "httpServletMapping" : {
                    "type" : "object",
                    "properties" : {
                      "servletName" : {
                        "type" : "string"
                      },
                      "matchValue" : {
                        "type" : "string"
                      },
                      "mappingMatch" : {
                        "type" : "string",
                        "enum" : [ "CONTEXT_ROOT", "DEFAULT", "EXACT", "EXTENSION", "PATH" ]
                      },
                      "pattern" : {
                        "type" : "string"
                      }
                    }
                  },
                  "pathInfo" : {
                    "type" : "string"
                  },
                  "pathTranslated" : {
                    "type" : "string"
                  },
                  "contextPath" : {
                    "type" : "string"
                  },
                  "queryString" : {
                    "type" : "string"
                  },
                  "remoteUser" : {
                    "type" : "string"
                  },
                  "requestedSessionId" : {
                    "type" : "string"
                  },
                  "requestURI" : {
                    "type" : "string"
                  },
                  "requestURL" : {
                    "type" : "object",
                    "properties" : {
                      "length" : {
                        "type" : "integer",
                        "format" : "int32",
                        "writeOnly" : true
                      }
                    }
                  },
                  "servletPath" : {
                    "type" : "string"
                  },
                  "requestedSessionIdValid" : {
                    "type" : "boolean"
                  },
                  "requestedSessionIdFromCookie" : {
                    "type" : "boolean"
                  },
                  "requestedSessionIdFromURL" : {
                    "type" : "boolean"
                  },
                  "cookies" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "name" : {
                          "type" : "string"
                        },
                        "value" : {
                          "type" : "string"
                        },
                        "comment" : {
                          "type" : "string"
                        },
                        "domain" : {
                          "type" : "string"
                        },
                        "maxAge" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "path" : {
                          "type" : "string"
                        },
                        "secure" : {
                          "type" : "boolean"
                        },
                        "version" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "httpOnly" : {
                          "type" : "boolean"
                        }
                      }
                    }
                  },
                  "parts" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "headerNames" : {
                          "type" : "array",
                          "items" : {
                            "type" : "string"
                          }
                        },
                        "submittedFileName" : {
                          "type" : "string"
                        },
                        "contentType" : {
                          "type" : "string"
                        },
                        "name" : {
                          "type" : "string"
                        },
                        "size" : {
                          "type" : "integer",
                          "format" : "int64"
                        },
                        "inputStream" : {
                          "type" : "object"
                        }
                      }
                    }
                  },
                  "session" : {
                    "type" : "object",
                    "properties" : {
                      "servletContext" : {
                        "type" : "object",
                        "properties" : {
                          "contextPath" : {
                            "type" : "string"
                          },
                          "requestCharacterEncoding" : {
                            "type" : "string"
                          },
                          "responseCharacterEncoding" : {
                            "type" : "string"
                          },
                          "effectiveMajorVersion" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "effectiveMinorVersion" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "servlets" : {
                            "type" : "object"
                          },
                          "servletNames" : {
                            "type" : "object"
                          },
                          "serverInfo" : {
                            "type" : "string"
                          },
                          "initParameterNames" : {
                            "type" : "object"
                          },
                          "servletContextName" : {
                            "type" : "string"
                          },
                          "servletRegistrations" : {
                            "type" : "object",
                            "additionalProperties" : {
                              "type" : "object",
                              "properties" : {
                                "mappings" : {
                                  "type" : "array",
                                  "items" : {
                                    "type" : "string"
                                  }
                                },
                                "runAsRole" : {
                                  "type" : "string"
                                },
                                "initParameters" : {
                                  "type" : "object",
                                  "additionalProperties" : {
                                    "type" : "string"
                                  }
                                },
                                "name" : {
                                  "type" : "string"
                                },
                                "className" : {
                                  "type" : "string"
                                }
                              }
                            }
                          },
                          "filterRegistrations" : {
                            "type" : "object",
                            "additionalProperties" : {
                              "type" : "object",
                              "properties" : {
                                "servletNameMappings" : {
                                  "type" : "array",
                                  "items" : {
                                    "type" : "string"
                                  }
                                },
                                "urlPatternMappings" : {
                                  "type" : "array",
                                  "items" : {
                                    "type" : "string"
                                  }
                                },
                                "initParameters" : {
                                  "type" : "object",
                                  "additionalProperties" : {
                                    "type" : "string"
                                  }
                                },
                                "name" : {
                                  "type" : "string"
                                },
                                "className" : {
                                  "type" : "string"
                                }
                              }
                            }
                          },
                          "sessionCookieConfig" : {
                            "type" : "object",
                            "properties" : {
                              "httpOnly" : {
                                "type" : "boolean"
                              },
                              "maxAge" : {
                                "type" : "integer",
                                "format" : "int32"
                              },
                              "secure" : {
                                "type" : "boolean"
                              },
                              "domain" : {
                                "type" : "string"
                              },
                              "comment" : {
                                "type" : "string"
                              },
                              "path" : {
                                "type" : "string"
                              },
                              "name" : {
                                "type" : "string"
                              }
                            }
                          },
                          "sessionTrackingModes" : {
                            "uniqueItems" : true,
                            "type" : "array",
                            "writeOnly" : true,
                            "items" : {
                              "type" : "string",
                              "enum" : [ "COOKIE", "URL", "SSL" ]
                            }
                          },
                          "defaultSessionTrackingModes" : {
                            "uniqueItems" : true,
                            "type" : "array",
                            "items" : {
                              "type" : "string",
                              "enum" : [ "COOKIE", "URL", "SSL" ]
                            }
                          },
                          "effectiveSessionTrackingModes" : {
                            "uniqueItems" : true,
                            "type" : "array",
                            "items" : {
                              "type" : "string",
                              "enum" : [ "COOKIE", "URL", "SSL" ]
                            }
                          },
                          "jspConfigDescriptor" : {
                            "type" : "object",
                            "properties" : {
                              "taglibs" : {
                                "type" : "array",
                                "items" : {
                                  "type" : "object",
                                  "properties" : {
                                    "taglibURI" : {
                                      "type" : "string"
                                    },
                                    "taglibLocation" : {
                                      "type" : "string"
                                    }
                                  }
                                }
                              },
                              "jspPropertyGroups" : {
                                "type" : "array",
                                "items" : {
                                  "type" : "object",
                                  "properties" : {
                                    "urlPatterns" : {
                                      "type" : "array",
                                      "items" : {
                                        "type" : "string"
                                      }
                                    },
                                    "elIgnored" : {
                                      "type" : "string"
                                    },
                                    "pageEncoding" : {
                                      "type" : "string"
                                    },
                                    "scriptingInvalid" : {
                                      "type" : "string"
                                    },
                                    "isXml" : {
                                      "type" : "string"
                                    },
                                    "includePreludes" : {
                                      "type" : "array",
                                      "items" : {
                                        "type" : "string"
                                      }
                                    },
                                    "includeCodas" : {
                                      "type" : "array",
                                      "items" : {
                                        "type" : "string"
                                      }
                                    },
                                    "deferredSyntaxAllowedAsLiteral" : {
                                      "type" : "string"
                                    },
                                    "trimDirectiveWhitespaces" : {
                                      "type" : "string"
                                    },
                                    "defaultContentType" : {
                                      "type" : "string"
                                    },
                                    "errorOnUndeclaredNamespace" : {
                                      "type" : "string"
                                    },
                                    "buffer" : {
                                      "type" : "string"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "virtualServerName" : {
                            "type" : "string"
                          },
                          "sessionTimeout" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "majorVersion" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "minorVersion" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "attributeNames" : {
                            "type" : "object"
                          },
                          "classLoader" : {
                            "type" : "object",
                            "properties" : {
                              "parent" : {
                                "type" : "object",
                                "properties" : {
                                  "name" : {
                                    "type" : "string"
                                  },
                                  "unnamedModule" : {
                                    "type" : "object",
                                    "properties" : {
                                      "layer" : {
                                        "type" : "object"
                                      },
                                      "name" : {
                                        "type" : "string"
                                      },
                                      "descriptor" : {
                                        "type" : "object",
                                        "properties" : {
                                          "open" : {
                                            "type" : "boolean"
                                          },
                                          "automatic" : {
                                            "type" : "boolean"
                                          }
                                        }
                                      },
                                      "annotations" : {
                                        "type" : "array",
                                        "items" : {
                                          "type" : "object"
                                        }
                                      },
                                      "declaredAnnotations" : {
                                        "type" : "array",
                                        "items" : {
                                          "type" : "object"
                                        }
                                      },
                                      "named" : {
                                        "type" : "boolean"
                                      },
                                      "packages" : {
                                        "uniqueItems" : true,
                                        "type" : "array",
                                        "items" : {
                                          "type" : "string"
                                        }
                                      }
                                    }
                                  },
                                  "defaultAssertionStatus" : {
                                    "type" : "boolean",
                                    "writeOnly" : true
                                  },
                                  "registeredAsParallelCapable" : {
                                    "type" : "boolean"
                                  },
                                  "definedPackages" : {
                                    "type" : "array",
                                    "items" : {
                                      "type" : "object",
                                      "properties" : {
                                        "name" : {
                                          "type" : "string"
                                        },
                                        "specificationTitle" : {
                                          "type" : "string"
                                        },
                                        "specificationVersion" : {
                                          "type" : "string"
                                        },
                                        "specificationVendor" : {
                                          "type" : "string"
                                        },
                                        "implementationTitle" : {
                                          "type" : "string"
                                        },
                                        "implementationVersion" : {
                                          "type" : "string"
                                        },
                                        "implementationVendor" : {
                                          "type" : "string"
                                        },
                                        "annotations" : {
                                          "type" : "array",
                                          "items" : {
                                            "type" : "object"
                                          }
                                        },
                                        "declaredAnnotations" : {
                                          "type" : "array",
                                          "items" : {
                                            "type" : "object"
                                          }
                                        },
                                        "sealed" : {
                                          "type" : "boolean"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "name" : {
                                "type" : "string"
                              },
                              "unnamedModule" : {
                                "type" : "object",
                                "properties" : {
                                  "layer" : {
                                    "type" : "object"
                                  },
                                  "name" : {
                                    "type" : "string"
                                  },
                                  "descriptor" : {
                                    "type" : "object",
                                    "properties" : {
                                      "open" : {
                                        "type" : "boolean"
                                      },
                                      "automatic" : {
                                        "type" : "boolean"
                                      }
                                    }
                                  },
                                  "annotations" : {
                                    "type" : "array",
                                    "items" : {
                                      "type" : "object"
                                    }
                                  },
                                  "declaredAnnotations" : {
                                    "type" : "array",
                                    "items" : {
                                      "type" : "object"
                                    }
                                  },
                                  "named" : {
                                    "type" : "boolean"
                                  },
                                  "packages" : {
                                    "uniqueItems" : true,
                                    "type" : "array",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  }
                                }
                              },
                              "defaultAssertionStatus" : {
                                "type" : "boolean",
                                "writeOnly" : true
                              },
                              "registeredAsParallelCapable" : {
                                "type" : "boolean"
                              },
                              "definedPackages" : {
                                "type" : "array",
                                "items" : {
                                  "type" : "object",
                                  "properties" : {
                                    "name" : {
                                      "type" : "string"
                                    },
                                    "specificationTitle" : {
                                      "type" : "string"
                                    },
                                    "specificationVersion" : {
                                      "type" : "string"
                                    },
                                    "specificationVendor" : {
                                      "type" : "string"
                                    },
                                    "implementationTitle" : {
                                      "type" : "string"
                                    },
                                    "implementationVersion" : {
                                      "type" : "string"
                                    },
                                    "implementationVendor" : {
                                      "type" : "string"
                                    },
                                    "annotations" : {
                                      "type" : "array",
                                      "items" : {
                                        "type" : "object"
                                      }
                                    },
                                    "declaredAnnotations" : {
                                      "type" : "array",
                                      "items" : {
                                        "type" : "object"
                                      }
                                    },
                                    "sealed" : {
                                      "type" : "boolean"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "new" : {
                        "type" : "boolean"
                      },
                      "maxInactiveInterval" : {
                        "type" : "integer",
                        "format" : "int32"
                      },
                      "sessionContext" : {
                        "type" : "object",
                        "properties" : {
                          "ids" : {
                            "type" : "object"
                          }
                        }
                      },
                      "lastAccessedTime" : {
                        "type" : "integer",
                        "format" : "int64"
                      },
                      "valueNames" : {
                        "type" : "array",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "creationTime" : {
                        "type" : "integer",
                        "format" : "int64"
                      },
                      "attributeNames" : {
                        "type" : "object"
                      },
                      "id" : {
                        "type" : "string"
                      }
                    }
                  },
                  "userPrincipal" : {
                    "type" : "object",
                    "properties" : {
                      "name" : {
                        "type" : "string"
                      }
                    }
                  },
                  "method" : {
                    "type" : "string"
                  },
                  "reader" : {
                    "type" : "object"
                  },
                  "servletContext" : {
                    "type" : "object",
                    "properties" : {
                      "contextPath" : {
                        "type" : "string"
                      },
                      "requestCharacterEncoding" : {
                        "type" : "string"
                      },
                      "responseCharacterEncoding" : {
                        "type" : "string"
                      },
                      "effectiveMajorVersion" : {
                        "type" : "integer",
                        "format" : "int32"
                      },
                      "effectiveMinorVersion" : {
                        "type" : "integer",
                        "format" : "int32"
                      },
                      "servlets" : {
                        "type" : "object"
                      },
                      "servletNames" : {
                        "type" : "object"
                      },
                      "serverInfo" : {
                        "type" : "string"
                      },
                      "initParameterNames" : {
                        "type" : "object"
                      },
                      "servletContextName" : {
                        "type" : "string"
                      },
                      "servletRegistrations" : {
                        "type" : "object",
                        "additionalProperties" : {
                          "type" : "object",
                          "properties" : {
                            "mappings" : {
                              "type" : "array",
                              "items" : {
                                "type" : "string"
                              }
                            },
                            "runAsRole" : {
                              "type" : "string"
                            },
                            "initParameters" : {
                              "type" : "object",
                              "additionalProperties" : {
                                "type" : "string"
                              }
                            },
                            "name" : {
                              "type" : "string"
                            },
                            "className" : {
                              "type" : "string"
                            }
                          }
                        }
                      },
                      "filterRegistrations" : {
                        "type" : "object",
                        "additionalProperties" : {
                          "type" : "object",
                          "properties" : {
                            "servletNameMappings" : {
                              "type" : "array",
                              "items" : {
                                "type" : "string"
                              }
                            },
                            "urlPatternMappings" : {
                              "type" : "array",
                              "items" : {
                                "type" : "string"
                              }
                            },
                            "initParameters" : {
                              "type" : "object",
                              "additionalProperties" : {
                                "type" : "string"
                              }
                            },
                            "name" : {
                              "type" : "string"
                            },
                            "className" : {
                              "type" : "string"
                            }
                          }
                        }
                      },
                      "sessionCookieConfig" : {
                        "type" : "object",
                        "properties" : {
                          "httpOnly" : {
                            "type" : "boolean"
                          },
                          "maxAge" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "secure" : {
                            "type" : "boolean"
                          },
                          "domain" : {
                            "type" : "string"
                          },
                          "comment" : {
                            "type" : "string"
                          },
                          "path" : {
                            "type" : "string"
                          },
                          "name" : {
                            "type" : "string"
                          }
                        }
                      },
                      "sessionTrackingModes" : {
                        "uniqueItems" : true,
                        "type" : "array",
                        "writeOnly" : true,
                        "items" : {
                          "type" : "string",
                          "enum" : [ "COOKIE", "URL", "SSL" ]
                        }
                      },
                      "defaultSessionTrackingModes" : {
                        "uniqueItems" : true,
                        "type" : "array",
                        "items" : {
                          "type" : "string",
                          "enum" : [ "COOKIE", "URL", "SSL" ]
                        }
                      },
                      "effectiveSessionTrackingModes" : {
                        "uniqueItems" : true,
                        "type" : "array",
                        "items" : {
                          "type" : "string",
                          "enum" : [ "COOKIE", "URL", "SSL" ]
                        }
                      },
                      "jspConfigDescriptor" : {
                        "type" : "object",
                        "properties" : {
                          "taglibs" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "taglibURI" : {
                                  "type" : "string"
                                },
                                "taglibLocation" : {
                                  "type" : "string"
                                }
                              }
                            }
                          },
                          "jspPropertyGroups" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "urlPatterns" : {
                                  "type" : "array",
                                  "items" : {
                                    "type" : "string"
                                  }
                                },
                                "elIgnored" : {
                                  "type" : "string"
                                },
                                "pageEncoding" : {
                                  "type" : "string"
                                },
                                "scriptingInvalid" : {
                                  "type" : "string"
                                },
                                "isXml" : {
                                  "type" : "string"
                                },
                                "includePreludes" : {
                                  "type" : "array",
                                  "items" : {
                                    "type" : "string"
                                  }
                                },
                                "includeCodas" : {
                                  "type" : "array",
                                  "items" : {
                                    "type" : "string"
                                  }
                                },
                                "deferredSyntaxAllowedAsLiteral" : {
                                  "type" : "string"
                                },
                                "trimDirectiveWhitespaces" : {
                                  "type" : "string"
                                },
                                "defaultContentType" : {
                                  "type" : "string"
                                },
                                "errorOnUndeclaredNamespace" : {
                                  "type" : "string"
                                },
                                "buffer" : {
                                  "type" : "string"
                                }
                              }
                            }
                          }
                        }
                      },
                      "virtualServerName" : {
                        "type" : "string"
                      },
                      "sessionTimeout" : {
                        "type" : "integer",
                        "format" : "int32"
                      },
                      "majorVersion" : {
                        "type" : "integer",
                        "format" : "int32"
                      },
                      "minorVersion" : {
                        "type" : "integer",
                        "format" : "int32"
                      },
                      "attributeNames" : {
                        "type" : "object"
                      },
                      "classLoader" : {
                        "type" : "object",
                        "properties" : {
                          "parent" : {
                            "type" : "object",
                            "properties" : {
                              "name" : {
                                "type" : "string"
                              },
                              "unnamedModule" : {
                                "type" : "object",
                                "properties" : {
                                  "layer" : {
                                    "type" : "object"
                                  },
                                  "name" : {
                                    "type" : "string"
                                  },
                                  "descriptor" : {
                                    "type" : "object",
                                    "properties" : {
                                      "open" : {
                                        "type" : "boolean"
                                      },
                                      "automatic" : {
                                        "type" : "boolean"
                                      }
                                    }
                                  },
                                  "annotations" : {
                                    "type" : "array",
                                    "items" : {
                                      "type" : "object"
                                    }
                                  },
                                  "declaredAnnotations" : {
                                    "type" : "array",
                                    "items" : {
                                      "type" : "object"
                                    }
                                  },
                                  "named" : {
                                    "type" : "boolean"
                                  },
                                  "packages" : {
                                    "uniqueItems" : true,
                                    "type" : "array",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  }
                                }
                              },
                              "defaultAssertionStatus" : {
                                "type" : "boolean",
                                "writeOnly" : true
                              },
                              "registeredAsParallelCapable" : {
                                "type" : "boolean"
                              },
                              "definedPackages" : {
                                "type" : "array",
                                "items" : {
                                  "type" : "object",
                                  "properties" : {
                                    "name" : {
                                      "type" : "string"
                                    },
                                    "specificationTitle" : {
                                      "type" : "string"
                                    },
                                    "specificationVersion" : {
                                      "type" : "string"
                                    },
                                    "specificationVendor" : {
                                      "type" : "string"
                                    },
                                    "implementationTitle" : {
                                      "type" : "string"
                                    },
                                    "implementationVersion" : {
                                      "type" : "string"
                                    },
                                    "implementationVendor" : {
                                      "type" : "string"
                                    },
                                    "annotations" : {
                                      "type" : "array",
                                      "items" : {
                                        "type" : "object"
                                      }
                                    },
                                    "declaredAnnotations" : {
                                      "type" : "array",
                                      "items" : {
                                        "type" : "object"
                                      }
                                    },
                                    "sealed" : {
                                      "type" : "boolean"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "name" : {
                            "type" : "string"
                          },
                          "unnamedModule" : {
                            "type" : "object",
                            "properties" : {
                              "layer" : {
                                "type" : "object"
                              },
                              "name" : {
                                "type" : "string"
                              },
                              "descriptor" : {
                                "type" : "object",
                                "properties" : {
                                  "open" : {
                                    "type" : "boolean"
                                  },
                                  "automatic" : {
                                    "type" : "boolean"
                                  }
                                }
                              },
                              "annotations" : {
                                "type" : "array",
                                "items" : {
                                  "type" : "object"
                                }
                              },
                              "declaredAnnotations" : {
                                "type" : "array",
                                "items" : {
                                  "type" : "object"
                                }
                              },
                              "named" : {
                                "type" : "boolean"
                              },
                              "packages" : {
                                "uniqueItems" : true,
                                "type" : "array",
                                "items" : {
                                  "type" : "string"
                                }
                              }
                            }
                          },
                          "defaultAssertionStatus" : {
                            "type" : "boolean",
                            "writeOnly" : true
                          },
                          "registeredAsParallelCapable" : {
                            "type" : "boolean"
                          },
                          "definedPackages" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "name" : {
                                  "type" : "string"
                                },
                                "specificationTitle" : {
                                  "type" : "string"
                                },
                                "specificationVersion" : {
                                  "type" : "string"
                                },
                                "specificationVendor" : {
                                  "type" : "string"
                                },
                                "implementationTitle" : {
                                  "type" : "string"
                                },
                                "implementationVersion" : {
                                  "type" : "string"
                                },
                                "implementationVendor" : {
                                  "type" : "string"
                                },
                                "annotations" : {
                                  "type" : "array",
                                  "items" : {
                                    "type" : "object"
                                  }
                                },
                                "declaredAnnotations" : {
                                  "type" : "array",
                                  "items" : {
                                    "type" : "object"
                                  }
                                },
                                "sealed" : {
                                  "type" : "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "characterEncoding" : {
                    "type" : "string"
                  },
                  "parameterNames" : {
                    "type" : "object"
                  },
                  "serverName" : {
                    "type" : "string"
                  },
                  "serverPort" : {
                    "type" : "integer",
                    "format" : "int32"
                  },
                  "remoteAddr" : {
                    "type" : "string"
                  },
                  "remoteHost" : {
                    "type" : "string"
                  },
                  "locales" : {
                    "type" : "object"
                  },
                  "localAddr" : {
                    "type" : "string"
                  },
                  "asyncStarted" : {
                    "type" : "boolean"
                  },
                  "asyncSupported" : {
                    "type" : "boolean"
                  },
                  "asyncContext" : {
                    "type" : "object",
                    "properties" : {
                      "request" : {
                        "type" : "object",
                        "properties" : {
                          "reader" : {
                            "type" : "object"
                          },
                          "servletContext" : {
                            "type" : "object",
                            "properties" : {
                              "contextPath" : {
                                "type" : "string"
                              },
                              "requestCharacterEncoding" : {
                                "type" : "string"
                              },
                              "responseCharacterEncoding" : {
                                "type" : "string"
                              },
                              "effectiveMajorVersion" : {
                                "type" : "integer",
                                "format" : "int32"
                              },
                              "effectiveMinorVersion" : {
                                "type" : "integer",
                                "format" : "int32"
                              },
                              "servlets" : {
                                "type" : "object"
                              },
                              "servletNames" : {
                                "type" : "object"
                              },
                              "serverInfo" : {
                                "type" : "string"
                              },
                              "initParameterNames" : {
                                "type" : "object"
                              },
                              "servletContextName" : {
                                "type" : "string"
                              },
                              "servletRegistrations" : {
                                "type" : "object",
                                "additionalProperties" : {
                                  "type" : "object",
                                  "properties" : {
                                    "mappings" : {
                                      "type" : "array",
                                      "items" : {
                                        "type" : "string"
                                      }
                                    },
                                    "runAsRole" : {
                                      "type" : "string"
                                    },
                                    "initParameters" : {
                                      "type" : "object",
                                      "additionalProperties" : {
                                        "type" : "string"
                                      }
                                    },
                                    "name" : {
                                      "type" : "string"
                                    },
                                    "className" : {
                                      "type" : "string"
                                    }
                                  }
                                }
                              },
                              "filterRegistrations" : {
                                "type" : "object",
                                "additionalProperties" : {
                                  "type" : "object",
                                  "properties" : {
                                    "servletNameMappings" : {
                                      "type" : "array",
                                      "items" : {
                                        "type" : "string"
                                      }
                                    },
                                    "urlPatternMappings" : {
                                      "type" : "array",
                                      "items" : {
                                        "type" : "string"
                                      }
                                    },
                                    "initParameters" : {
                                      "type" : "object",
                                      "additionalProperties" : {
                                        "type" : "string"
                                      }
                                    },
                                    "name" : {
                                      "type" : "string"
                                    },
                                    "className" : {
                                      "type" : "string"
                                    }
                                  }
                                }
                              },
                              "sessionCookieConfig" : {
                                "type" : "object",
                                "properties" : {
                                  "httpOnly" : {
                                    "type" : "boolean"
                                  },
                                  "maxAge" : {
                                    "type" : "integer",
                                    "format" : "int32"
                                  },
                                  "secure" : {
                                    "type" : "boolean"
                                  },
                                  "domain" : {
                                    "type" : "string"
                                  },
                                  "comment" : {
                                    "type" : "string"
                                  },
                                  "path" : {
                                    "type" : "string"
                                  },
                                  "name" : {
                                    "type" : "string"
                                  }
                                }
                              },
                              "sessionTrackingModes" : {
                                "uniqueItems" : true,
                                "type" : "array",
                                "writeOnly" : true,
                                "items" : {
                                  "type" : "string",
                                  "enum" : [ "COOKIE", "URL", "SSL" ]
                                }
                              },
                              "defaultSessionTrackingModes" : {
                                "uniqueItems" : true,
                                "type" : "array",
                                "items" : {
                                  "type" : "string",
                                  "enum" : [ "COOKIE", "URL", "SSL" ]
                                }
                              },
                              "effectiveSessionTrackingModes" : {
                                "uniqueItems" : true,
                                "type" : "array",
                                "items" : {
                                  "type" : "string",
                                  "enum" : [ "COOKIE", "URL", "SSL" ]
                                }
                              },
                              "jspConfigDescriptor" : {
                                "type" : "object",
                                "properties" : {
                                  "taglibs" : {
                                    "type" : "array",
                                    "items" : {
                                      "type" : "object",
                                      "properties" : {
                                        "taglibURI" : {
                                          "type" : "string"
                                        },
                                        "taglibLocation" : {
                                          "type" : "string"
                                        }
                                      }
                                    }
                                  },
                                  "jspPropertyGroups" : {
                                    "type" : "array",
                                    "items" : {
                                      "type" : "object",
                                      "properties" : {
                                        "urlPatterns" : {
                                          "type" : "array",
                                          "items" : {
                                            "type" : "string"
                                          }
                                        },
                                        "elIgnored" : {
                                          "type" : "string"
                                        },
                                        "pageEncoding" : {
                                          "type" : "string"
                                        },
                                        "scriptingInvalid" : {
                                          "type" : "string"
                                        },
                                        "isXml" : {
                                          "type" : "string"
                                        },
                                        "includePreludes" : {
                                          "type" : "array",
                                          "items" : {
                                            "type" : "string"
                                          }
                                        },
                                        "includeCodas" : {
                                          "type" : "array",
                                          "items" : {
                                            "type" : "string"
                                          }
                                        },
                                        "deferredSyntaxAllowedAsLiteral" : {
                                          "type" : "string"
                                        },
                                        "trimDirectiveWhitespaces" : {
                                          "type" : "string"
                                        },
                                        "defaultContentType" : {
                                          "type" : "string"
                                        },
                                        "errorOnUndeclaredNamespace" : {
                                          "type" : "string"
                                        },
                                        "buffer" : {
                                          "type" : "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "virtualServerName" : {
                                "type" : "string"
                              },
                              "sessionTimeout" : {
                                "type" : "integer",
                                "format" : "int32"
                              },
                              "majorVersion" : {
                                "type" : "integer",
                                "format" : "int32"
                              },
                              "minorVersion" : {
                                "type" : "integer",
                                "format" : "int32"
                              },
                              "attributeNames" : {
                                "type" : "object"
                              },
                              "classLoader" : {
                                "type" : "object",
                                "properties" : {
                                  "parent" : {
                                    "type" : "object",
                                    "properties" : {
                                      "name" : {
                                        "type" : "string"
                                      },
                                      "unnamedModule" : {
                                        "type" : "object",
                                        "properties" : {
                                          "layer" : {
                                            "type" : "object"
                                          },
                                          "name" : {
                                            "type" : "string"
                                          },
                                          "descriptor" : {
                                            "type" : "object",
                                            "properties" : {
                                              "open" : {
                                                "type" : "boolean"
                                              },
                                              "automatic" : {
                                                "type" : "boolean"
                                              }
                                            }
                                          },
                                          "annotations" : {
                                            "type" : "array",
                                            "items" : {
                                              "type" : "object"
                                            }
                                          },
                                          "declaredAnnotations" : {
                                            "type" : "array",
                                            "items" : {
                                              "type" : "object"
                                            }
                                          },
                                          "named" : {
                                            "type" : "boolean"
                                          },
                                          "packages" : {
                                            "uniqueItems" : true,
                                            "type" : "array",
                                            "items" : {
                                              "type" : "string"
                                            }
                                          }
                                        }
                                      },
                                      "defaultAssertionStatus" : {
                                        "type" : "boolean",
                                        "writeOnly" : true
                                      },
                                      "registeredAsParallelCapable" : {
                                        "type" : "boolean"
                                      },
                                      "definedPackages" : {
                                        "type" : "array",
                                        "items" : {
                                          "type" : "object",
                                          "properties" : {
                                            "name" : {
                                              "type" : "string"
                                            },
                                            "specificationTitle" : {
                                              "type" : "string"
                                            },
                                            "specificationVersion" : {
                                              "type" : "string"
                                            },
                                            "specificationVendor" : {
                                              "type" : "string"
                                            },
                                            "implementationTitle" : {
                                              "type" : "string"
                                            },
                                            "implementationVersion" : {
                                              "type" : "string"
                                            },
                                            "implementationVendor" : {
                                              "type" : "string"
                                            },
                                            "annotations" : {
                                              "type" : "array",
                                              "items" : {
                                                "type" : "object"
                                              }
                                            },
                                            "declaredAnnotations" : {
                                              "type" : "array",
                                              "items" : {
                                                "type" : "object"
                                              }
                                            },
                                            "sealed" : {
                                              "type" : "boolean"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "name" : {
                                    "type" : "string"
                                  },
                                  "unnamedModule" : {
                                    "type" : "object",
                                    "properties" : {
                                      "layer" : {
                                        "type" : "object"
                                      },
                                      "name" : {
                                        "type" : "string"
                                      },
                                      "descriptor" : {
                                        "type" : "object",
                                        "properties" : {
                                          "open" : {
                                            "type" : "boolean"
                                          },
                                          "automatic" : {
                                            "type" : "boolean"
                                          }
                                        }
                                      },
                                      "annotations" : {
                                        "type" : "array",
                                        "items" : {
                                          "type" : "object"
                                        }
                                      },
                                      "declaredAnnotations" : {
                                        "type" : "array",
                                        "items" : {
                                          "type" : "object"
                                        }
                                      },
                                      "named" : {
                                        "type" : "boolean"
                                      },
                                      "packages" : {
                                        "uniqueItems" : true,
                                        "type" : "array",
                                        "items" : {
                                          "type" : "string"
                                        }
                                      }
                                    }
                                  },
                                  "defaultAssertionStatus" : {
                                    "type" : "boolean",
                                    "writeOnly" : true
                                  },
                                  "registeredAsParallelCapable" : {
                                    "type" : "boolean"
                                  },
                                  "definedPackages" : {
                                    "type" : "array",
                                    "items" : {
                                      "type" : "object",
                                      "properties" : {
                                        "name" : {
                                          "type" : "string"
                                        },
                                        "specificationTitle" : {
                                          "type" : "string"
                                        },
                                        "specificationVersion" : {
                                          "type" : "string"
                                        },
                                        "specificationVendor" : {
                                          "type" : "string"
                                        },
                                        "implementationTitle" : {
                                          "type" : "string"
                                        },
                                        "implementationVersion" : {
                                          "type" : "string"
                                        },
                                        "implementationVendor" : {
                                          "type" : "string"
                                        },
                                        "annotations" : {
                                          "type" : "array",
                                          "items" : {
                                            "type" : "object"
                                          }
                                        },
                                        "declaredAnnotations" : {
                                          "type" : "array",
                                          "items" : {
                                            "type" : "object"
                                          }
                                        },
                                        "sealed" : {
                                          "type" : "boolean"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "characterEncoding" : {
                            "type" : "string"
                          },
                          "parameterNames" : {
                            "type" : "object"
                          },
                          "serverName" : {
                            "type" : "string"
                          },
                          "serverPort" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "remoteAddr" : {
                            "type" : "string"
                          },
                          "remoteHost" : {
                            "type" : "string"
                          },
                          "locales" : {
                            "type" : "object"
                          },
                          "localAddr" : {
                            "type" : "string"
                          },
                          "asyncStarted" : {
                            "type" : "boolean"
                          },
                          "asyncSupported" : {
                            "type" : "boolean"
                          },
                          "dispatcherType" : {
                            "type" : "string",
                            "enum" : [ "FORWARD", "INCLUDE", "REQUEST", "ASYNC", "ERROR" ]
                          },
                          "remotePort" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "secure" : {
                            "type" : "boolean"
                          },
                          "localPort" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "localName" : {
                            "type" : "string"
                          },
                          "contentLengthLong" : {
                            "type" : "integer",
                            "format" : "int64"
                          },
                          "contentType" : {
                            "type" : "string"
                          },
                          "contentLength" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "locale" : {
                            "type" : "object",
                            "properties" : {
                              "displayName" : {
                                "type" : "string"
                              },
                              "script" : {
                                "type" : "string"
                              },
                              "country" : {
                                "type" : "string"
                              },
                              "variant" : {
                                "type" : "string"
                              },
                              "extensionKeys" : {
                                "uniqueItems" : true,
                                "type" : "array",
                                "items" : {
                                  "type" : "string"
                                }
                              },
                              "unicodeLocaleAttributes" : {
                                "uniqueItems" : true,
                                "type" : "array",
                                "items" : {
                                  "type" : "string"
                                }
                              },
                              "unicodeLocaleKeys" : {
                                "uniqueItems" : true,
                                "type" : "array",
                                "items" : {
                                  "type" : "string"
                                }
                              },
                              "iso3Language" : {
                                "type" : "string"
                              },
                              "iso3Country" : {
                                "type" : "string"
                              },
                              "displayLanguage" : {
                                "type" : "string"
                              },
                              "displayScript" : {
                                "type" : "string"
                              },
                              "displayCountry" : {
                                "type" : "string"
                              },
                              "displayVariant" : {
                                "type" : "string"
                              },
                              "language" : {
                                "type" : "string"
                              }
                            }
                          },
                          "attributeNames" : {
                            "type" : "object"
                          },
                          "parameterMap" : {
                            "type" : "object",
                            "additionalProperties" : {
                              "type" : "array",
                              "items" : {
                                "type" : "string"
                              }
                            }
                          },
                          "protocol" : {
                            "type" : "string"
                          },
                          "scheme" : {
                            "type" : "string"
                          },
                          "inputStream" : {
                            "type" : "object",
                            "properties" : {
                              "finished" : {
                                "type" : "boolean"
                              },
                              "readListener" : {
                                "type" : "object",
                                "writeOnly" : true
                              },
                              "ready" : {
                                "type" : "boolean"
                              }
                            }
                          }
                        }
                      },
                      "timeout" : {
                        "type" : "integer",
                        "format" : "int64"
                      },
                      "response" : {
                        "type" : "object",
                        "properties" : {
                          "committed" : {
                            "type" : "boolean"
                          },
                          "characterEncoding" : {
                            "type" : "string"
                          },
                          "contentLengthLong" : {
                            "type" : "integer",
                            "format" : "int64",
                            "writeOnly" : true
                          },
                          "bufferSize" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "locale" : {
                            "type" : "object",
                            "properties" : {
                              "displayName" : {
                                "type" : "string"
                              },
                              "script" : {
                                "type" : "string"
                              },
                              "country" : {
                                "type" : "string"
                              },
                              "variant" : {
                                "type" : "string"
                              },
                              "extensionKeys" : {
                                "uniqueItems" : true,
                                "type" : "array",
                                "items" : {
                                  "type" : "string"
                                }
                              },
                              "unicodeLocaleAttributes" : {
                                "uniqueItems" : true,
                                "type" : "array",
                                "items" : {
                                  "type" : "string"
                                }
                              },
                              "unicodeLocaleKeys" : {
                                "uniqueItems" : true,
                                "type" : "array",
                                "items" : {
                                  "type" : "string"
                                }
                              },
                              "iso3Language" : {
                                "type" : "string"
                              },
                              "iso3Country" : {
                                "type" : "string"
                              },
                              "displayLanguage" : {
                                "type" : "string"
                              },
                              "displayScript" : {
                                "type" : "string"
                              },
                              "displayCountry" : {
                                "type" : "string"
                              },
                              "displayVariant" : {
                                "type" : "string"
                              },
                              "language" : {
                                "type" : "string"
                              }
                            }
                          },
                          "contentType" : {
                            "type" : "string"
                          },
                          "contentLength" : {
                            "type" : "integer",
                            "format" : "int32",
                            "writeOnly" : true
                          },
                          "outputStream" : {
                            "type" : "object",
                            "properties" : {
                              "writeListener" : {
                                "type" : "object",
                                "writeOnly" : true
                              },
                              "ready" : {
                                "type" : "boolean"
                              }
                            }
                          },
                          "writer" : {
                            "type" : "object"
                          }
                        }
                      }
                    }
                  },
                  "dispatcherType" : {
                    "type" : "string",
                    "enum" : [ "FORWARD", "INCLUDE", "REQUEST", "ASYNC", "ERROR" ]
                  },
                  "remotePort" : {
                    "type" : "integer",
                    "format" : "int32"
                  },
                  "secure" : {
                    "type" : "boolean"
                  },
                  "localPort" : {
                    "type" : "integer",
                    "format" : "int32"
                  },
                  "localName" : {
                    "type" : "string"
                  },
                  "contentLengthLong" : {
                    "type" : "integer",
                    "format" : "int64"
                  },
                  "contentType" : {
                    "type" : "string"
                  },
                  "contentLength" : {
                    "type" : "integer",
                    "format" : "int32"
                  },
                  "locale" : {
                    "type" : "object",
                    "properties" : {
                      "displayName" : {
                        "type" : "string"
                      },
                      "script" : {
                        "type" : "string"
                      },
                      "country" : {
                        "type" : "string"
                      },
                      "variant" : {
                        "type" : "string"
                      },
                      "extensionKeys" : {
                        "uniqueItems" : true,
                        "type" : "array",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "unicodeLocaleAttributes" : {
                        "uniqueItems" : true,
                        "type" : "array",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "unicodeLocaleKeys" : {
                        "uniqueItems" : true,
                        "type" : "array",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "iso3Language" : {
                        "type" : "string"
                      },
                      "iso3Country" : {
                        "type" : "string"
                      },
                      "displayLanguage" : {
                        "type" : "string"
                      },
                      "displayScript" : {
                        "type" : "string"
                      },
                      "displayCountry" : {
                        "type" : "string"
                      },
                      "displayVariant" : {
                        "type" : "string"
                      },
                      "language" : {
                        "type" : "string"
                      }
                    }
                  },
                  "attributeNames" : {
                    "type" : "object"
                  },
                  "parameterMap" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  },
                  "protocol" : {
                    "type" : "string"
                  },
                  "scheme" : {
                    "type" : "string"
                  },
                  "inputStream" : {
                    "type" : "object",
                    "properties" : {
                      "finished" : {
                        "type" : "boolean"
                      },
                      "readListener" : {
                        "type" : "object",
                        "writeOnly" : true
                      },
                      "ready" : {
                        "type" : "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Alt ok"
          }
        }
      }
    },
    "/print/grafiskdigital/api/v1/offentlignokkel" : {
      "get" : {
        "tags" : [ "GrafiskDigital" ],
        "description" : "Henter offentlig nøkkel fra Grafisk Digital",
        "operationId" : "getGrafiskDigitalOffentligNokkel",
        "responses" : {
          "200" : {
            "description" : "Offentlig nøkkel fra Grafisk Digital",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OffentligNokkelApiModel"
                }
              }
            }
          }
        }
      }
    },
    "/print/grafiskdigital/api/v1/importer-loggfiler" : {
      "post" : {
        "tags" : [ "GrafiskDigital" ],
        "description" : "Importerer loggfiler fra Grafisk Digital",
        "operationId" : "importerLoggfiler",
        "responses" : {
          "200" : {
            "description" : "Loggfiler fra Grafisk Digital fullført",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoggStatusApiModel"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AdresseApiModel" : {
        "required" : [ "adresseLinje1", "navn", "poststed" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "adresseLinje1" : {
            "type" : "string"
          },
          "adresseLinje2" : {
            "type" : "string"
          },
          "adresseLinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "pattern" : "^[0-9]{4}$|^$",
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "landKode" : {
            "type" : "string"
          }
        }
      },
      "FakturaDataApiModel" : {
        "required" : [ "fiksOrgId" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "konteringskode" : {
            "type" : "string"
          }
        }
      },
      "FeltApiModel" : {
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "tekst" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ForsideDataApiModel" : {
        "required" : [ "avsenderAdresse" ],
        "type" : "object",
        "properties" : {
          "avsenderAdresse" : {
            "$ref" : "#/components/schemas/AdresseApiModel"
          },
          "felt" : {
            "$ref" : "#/components/schemas/FeltApiModel"
          }
        }
      },
      "GrafiskDigitalOrdreApiModel" : {
        "required" : [ "dokumentRef", "fakturaData", "mottakerAdresse", "ordreId", "printData" ],
        "type" : "object",
        "properties" : {
          "ordreId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentRef" : {
            "type" : "string",
            "format" : "uuid"
          },
          "mottakerAdresse" : {
            "$ref" : "#/components/schemas/AdresseApiModel"
          },
          "fakturaData" : {
            "$ref" : "#/components/schemas/FakturaDataApiModel"
          },
          "printData" : {
            "$ref" : "#/components/schemas/PrintDataApiModel"
          },
          "forsideData" : {
            "$ref" : "#/components/schemas/ForsideDataApiModel"
          }
        }
      },
      "PrintDataApiModel" : {
        "required" : [ "svartHvitt", "tosidig" ],
        "type" : "object",
        "properties" : {
          "svartHvitt" : {
            "type" : "boolean"
          },
          "tosidig" : {
            "type" : "boolean"
          }
        }
      },
      "OffentligNokkelApiModel" : {
        "required" : [ "issuerDN", "nokkel", "serial", "subjectDN", "validFrom", "validTo" ],
        "type" : "object",
        "properties" : {
          "nokkel" : {
            "type" : "string"
          },
          "validFrom" : {
            "type" : "string",
            "format" : "date-time"
          },
          "validTo" : {
            "type" : "string",
            "format" : "date-time"
          },
          "serial" : {
            "type" : "string"
          },
          "subjectDN" : {
            "type" : "string"
          },
          "issuerDN" : {
            "type" : "string"
          }
        }
      },
      "LoggStatusApiModel" : {
        "required" : [ "loggfilerFeilet", "loggfilerOk", "statusfilerFeilet", "statusfilerOk" ],
        "type" : "object",
        "properties" : {
          "loggfilerOk" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "loggfilerFeilet" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "statusfilerOk" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "statusfilerFeilet" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      }
    }
  }
}