{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Protokoll - Root",
    "description" : "Fiks Protokoll administrasjon",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://forvaltning.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Protokoll-root",
    "description" : "API for administrering av Fiks Protokoll"
  } ],
  "paths" : {
    "/protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}/{subsettnavn}/stottedesubsett/{stottetSubsett}" : {
      "put" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Legg til nytt støttet subsett",
        "operationId" : "addStottetProtokollsubsett",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subsettnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "stottetSubsett",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Nytt støttet subsett lagt til"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Fjern støttet subsett",
        "operationId" : "removeStottetProtokollsubsett",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subsettnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "stottetSubsett",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Støttet subsett fjernet"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/root/protokoller" : {
      "get" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Henter alle definerte protokoller",
        "operationId" : "getProtokoller",
        "responses" : {
          "200" : {
            "description" : "Henter alle protokoller",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollDefinisjonSummaryResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Opprett en ny protokoll",
        "operationId" : "createProtokoll",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProtokollDefinisjonRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny protokoll"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}/subsett" : {
      "post" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Opprett et nytt protokollsubsett",
        "operationId" : "createProtokollSubsett",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateProtokollSubsettRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprett et nytt protokollsubsett"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}" : {
      "get" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Henter protokoll",
        "operationId" : "getProtokoll",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter protokoll",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollDefinisjonResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Slett protokoll",
        "operationId" : "deleteProtokoll",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Protokoll slettet"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}/{subsettnavn}" : {
      "delete" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Slett protokollsubsett",
        "operationId" : "deleteProtokollSubsett",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subsettnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Protokollsubsett slettet"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "ProtokollDefinisjonRequest" : {
        "required" : [ "beskrivelse", "meldingstyper", "navn", "protokollversjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på protokoll"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av protokoll"
          },
          "protokollversjon" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "meldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper protokollen støtter",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper protokollen støtter"
            }
          }
        }
      },
      "CreateProtokollSubsettRequest" : {
        "required" : [ "avsenderMeldingstyper", "beskrivelse", "mottakerMeldingstyper", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på subsett"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av subsett"
          },
          "avsenderMeldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper protokollsubsett sender",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper protokollsubsett sender"
            }
          },
          "mottakerMeldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper protokollsubsett mottar",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper protokollsubsett mottar"
            }
          }
        }
      },
      "ProtokollDefinisjonResponse" : {
        "required" : [ "beskrivelse", "meldingstyper", "navn", "protokollversjon", "subsett" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på protokoll"
          },
          "protokollversjon" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av protokoll"
          },
          "meldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper protokollen støtter",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper protokollen støtter"
            }
          },
          "subsett" : {
            "type" : "array",
            "description" : "Subsett definert på protokollen",
            "items" : {
              "$ref" : "#/components/schemas/ProtokollSubsettResponse"
            }
          }
        }
      },
      "ProtokollSubsettResponse" : {
        "required" : [ "avsenderMeldingstyper", "beskrivelse", "mottakerMeldingstyper", "navn", "stottedeSubsett" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på subsett"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av subsett"
          },
          "avsenderMeldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper protokollsubsett sender",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper protokollsubsett sender"
            }
          },
          "mottakerMeldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper protokollsubsett mottar",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper protokollsubsett mottar"
            }
          },
          "stottedeSubsett" : {
            "type" : "array",
            "description" : "Subsett dette subsette kan kommunisere med",
            "items" : {
              "type" : "string",
              "description" : "Subsett dette subsette kan kommunisere med"
            }
          }
        },
        "description" : "Subsett definert på protokollen"
      },
      "ProtokollDefinisjonSummaryResponse" : {
        "required" : [ "beskrivelse", "navn", "protokollversjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på protokoll"
          },
          "protokollversjon" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av protokoll"
          }
        }
      }
    }
  }
}