{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Provesvar",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Provesvar",
    "description" : "API for å hente provesvar fra FHI MSIS"
  } ],
  "paths" : {
    "/provesvar/api/v1/sok" : {
      "post" : {
        "tags" : [ "Provesvar" ],
        "description" : "Henter informasjon om en konto, inkludert historikk over hendelser på kontoen",
        "operationId" : "sok",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SokParameter"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProvesvarResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Feil input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "En serverfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Et problem med kall mot FHI",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Funn" : {
        "type" : "object",
        "properties" : {
          "kodeverdi" : {
            "type" : "string",
            "description" : "Kode-verdi tilknyttet analysen på NLK-format eller en internverdi fra laboratoriet"
          },
          "kodebeskrivelse" : {
            "type" : "string",
            "description" : "En tekstlig beskrivelse av kodeverdien"
          },
          "materiale" : {
            "type" : "string",
            "description" : "Beskriver hvilket materiale som er blitt analysert. Eksempelverdier: Luftveissekret, Nasopharynxsekret, Blod"
          },
          "resultat" : {
            "type" : "string",
            "description" : "Resultatet av analysen. Et fritekstfelt som kommer fra laboratoriet. Eksempelverdier: 'Positivt', 'Svakt positivt', 'Negativt', 'Ikkje påvist', 'Se kommentar'"
          },
          "status" : {
            "type" : "string",
            "description" : "Status på analysen som er utført. Eksempelverdier: 'Endelig', 'Foreløpig', 'I prosess', 'Revidert'"
          },
          "kommentar" : {
            "type" : "string",
            "description" : "En kommentar tilknyttet analysen. Fritekstfelt som kommer fra laboratoriet"
          }
        },
        "description" : "Funn ved analyse av prøve"
      },
      "Provesvar" : {
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "description" : "Intern melding id."
          },
          "mottattdao" : {
            "type" : "string",
            "description" : "Mottat hos FHI",
            "format" : "date-time"
          },
          "mottattdatoBruktSomProvedato" : {
            "type" : "boolean",
            "description" : "Angir om mottattdato er satt inn som substitutt for provedato for provesvar der vi ikke mottok provedato"
          },
          "labHerId" : {
            "type" : "string",
            "description" : "Laboratoriets HER-id"
          },
          "labNavn" : {
            "type" : "string",
            "description" : "Laboratoriets navn"
          },
          "provenummer" : {
            "type" : "string",
            "description" : "Prøvesvarets prøvenummer"
          },
          "provedato" : {
            "type" : "string",
            "description" : "Når prøven ble tatt",
            "format" : "date-time"
          },
          "meldingskommentar" : {
            "type" : "string",
            "description" : "Fritekst felt fra laboratoriet"
          },
          "meldingsstatus" : {
            "type" : "string",
            "description" : "Beskriver status fra laboratoriet. Eksempelverdier: 'Endelig','Endelig rapport', 'Endelig svarbrev', 'Foreløpig rapport','Planlagt'"
          },
          "fodselsnummer" : {
            "type" : "string",
            "description" : "Pasientens fødselsnummer"
          },
          "fodselsdato" : {
            "type" : "string",
            "description" : "Pasientens fødselsdato"
          },
          "fornavn" : {
            "type" : "string",
            "description" : "Pasientens fornavn"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Pasientens etternavn"
          },
          "kjonn" : {
            "type" : "string",
            "description" : "Pasientens kjønn"
          },
          "bostedskommunenummer" : {
            "type" : "string",
            "description" : "Pasientens bostedskommunenummer"
          },
          "bostedskommunenavn" : {
            "type" : "string",
            "description" : "Pasientens bostendskommunenavn"
          },
          "funn" : {
            "type" : "array",
            "description" : "Et eller flere funn",
            "items" : {
              "$ref" : "#/components/schemas/Funn"
            }
          },
          "provesvarstatus" : {
            "type" : "string",
            "description" : "Bemerkninger til prøvesvaret"
          }
        },
        "description" : "Provesvar for en person"
      },
      "ProvesvarResponse" : {
        "type" : "object",
        "properties" : {
          "provesvarliste" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Provesvar"
            }
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "SokParameter" : {
        "required" : [ "fnr", "kommunenr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer/d-nummer for den du vil hente prøvesvar for"
          },
          "kommunenr" : {
            "pattern" : "^\\d{4}$",
            "type" : "string",
            "description" : "Kommunenr til kommunen du henter data for."
          },
          "organiasjonsnummer" : {
            "type" : "string",
            "description" : "Organisasjonsnummer til kommunen du henter data for. Fylles ut fra kommunernr hvis det mangler"
          }
        },
        "description" : "Søk etter covid19 prøvesvar."
      }
    }
  }
}