{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Provesvar",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Provesvar",
    "description" : "API for å hente provesvar fra FHI MSIS"
  } ],
  "paths" : {
    "/provesvar/api/v1/sok" : {
      "post" : {
        "tags" : [ "Provesvar" ],
        "description" : "Søk etter prøvesvar",
        "operationId" : "sok",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SokParameter"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProvesvarResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Feil input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "En serverfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Et problem med kall mot FHI",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/provesvar/api/v1/sokMedParams" : {
      "post" : {
        "tags" : [ "Provesvar" ],
        "description" : "Søk etter prøvesvar",
        "operationId" : "sokMedParams",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SokParameterMedParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProvesvarResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Feil input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "En serverfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Et problem med kall mot FHI",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Funn" : {
        "type" : "object",
        "properties" : {
          "kodeverdi" : {
            "type" : "string",
            "description" : "Kode-verdi tilknyttet analysen på NLK-format eller en internverdi fra laboratoriet",
            "nullable" : true
          },
          "kodebeskrivelse" : {
            "type" : "string",
            "description" : "En tekstlig beskrivelse av kodeverdien",
            "nullable" : true
          },
          "materiale" : {
            "type" : "string",
            "description" : "Beskriver hvilket materiale som er blitt analysert. Eksempelverdier: Luftveissekret, Nasopharynxsekret, Blod",
            "nullable" : true
          },
          "resultat" : {
            "type" : "string",
            "description" : "Resultatet av analysen. Et fritekstfelt som kommer fra laboratoriet. Eksempelverdier: 'Positivt', 'Svakt positivt', 'Negativt', 'Ikkje påvist', 'Se kommentar'",
            "nullable" : true
          },
          "status" : {
            "type" : "string",
            "description" : "Status på analysen som er utført. Eksempelverdier: 'Endelig', 'Foreløpig', 'I prosess', 'Revidert'",
            "nullable" : true
          },
          "kommentar" : {
            "type" : "string",
            "description" : "En kommentar tilknyttet analysen. Fritekstfelt som kommer fra laboratoriet",
            "nullable" : true
          }
        },
        "description" : "Funn ved analyse av prøve",
        "nullable" : true
      },
      "Provesvar" : {
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "description" : "Intern melding id.",
            "nullable" : true
          },
          "mottattdao" : {
            "type" : "string",
            "description" : "MottattDato hos FHI",
            "format" : "date-time"
          },
          "mottattdatoBruktSomProvedato" : {
            "type" : "boolean",
            "description" : "Angir om mottattdato er satt inn som substitutt for provedato for provesvar der vi ikke mottok provedato"
          },
          "labHerId" : {
            "type" : "string",
            "description" : "Laboratoriets HER-id",
            "nullable" : true
          },
          "labNavn" : {
            "type" : "string",
            "description" : "Laboratoriets navn",
            "nullable" : true
          },
          "provenummer" : {
            "type" : "string",
            "description" : "Prøvesvarets prøvenummer",
            "nullable" : true
          },
          "provedato" : {
            "type" : "string",
            "description" : "Når prøven ble tatt",
            "format" : "date-time"
          },
          "meldingskommentar" : {
            "type" : "string",
            "description" : "Fritekst felt fra laboratoriet",
            "nullable" : true
          },
          "meldingsstatus" : {
            "type" : "string",
            "description" : "Beskriver status fra laboratoriet. Eksempelverdier: 'Endelig','Endelig rapport', 'Endelig svarbrev', 'Foreløpig rapport','Planlagt'",
            "nullable" : true
          },
          "fodselsnummer" : {
            "type" : "string",
            "description" : "Pasientens fødselsnummer",
            "nullable" : true
          },
          "fodselsdato" : {
            "type" : "string",
            "description" : "Pasientens fødselsdato",
            "nullable" : true
          },
          "fornavn" : {
            "type" : "string",
            "description" : "Pasientens fornavn",
            "nullable" : true
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Pasientens etternavn",
            "nullable" : true
          },
          "kjonn" : {
            "type" : "string",
            "description" : "Pasientens kjønn",
            "nullable" : true
          },
          "bostedskommunenummer" : {
            "type" : "string",
            "description" : "Pasientens bostedskommunenummer",
            "nullable" : true
          },
          "bostedskommunenavn" : {
            "type" : "string",
            "description" : "Pasientens bostendskommunenavn",
            "nullable" : true
          },
          "funn" : {
            "type" : "array",
            "description" : "Et eller flere funn",
            "nullable" : true,
            "items" : {
              "$ref" : "#/components/schemas/Funn"
            }
          },
          "provesvarstatus" : {
            "type" : "string",
            "description" : "Bemerkninger til prøvesvaret",
            "nullable" : true
          }
        },
        "description" : "Provesvar for en person",
        "nullable" : true
      },
      "ProvesvarResponse" : {
        "type" : "object",
        "properties" : {
          "antallProvesvar" : {
            "type" : "integer",
            "description" : "Faktisk antall prøvesvar",
            "format" : "int32",
            "nullable" : true
          },
          "maksAntallProvesvar" : {
            "type" : "integer",
            "description" : "Maks antall prøvesvar som kan returneres",
            "format" : "int32",
            "nullable" : true
          },
          "provesvarliste" : {
            "type" : "array",
            "description" : "Liste over prøvesvar",
            "nullable" : true,
            "items" : {
              "$ref" : "#/components/schemas/Provesvar"
            }
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "SokParameter" : {
        "required" : [ "fnr", "kommunenr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummeret til pasienten det etterspørres prøvesvar fra. Påkrevd."
          },
          "kommunenr" : {
            "pattern" : "^\\d{4}$",
            "type" : "string",
            "description" : "Kommunenummeret til den som spør. Påkrevd."
          }
        },
        "description" : "Søk etter covid19 prøvesvar."
      },
      "SokParameterMedParams" : {
        "required" : [ "kommunenr" ],
        "type" : "object",
        "properties" : {
          "kommunenr" : {
            "pattern" : "^\\d{4}$",
            "type" : "string",
            "description" : "Kommunenr til kommunen du henter data for."
          },
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn - eksakt match"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn - eksakt match"
          },
          "kjonn" : {
            "type" : "string",
            "description" : "Mann = 1, kvinne = 2"
          },
          "fodselsdato" : {
            "type" : "string",
            "description" : "Fodselsdato - Format yyyy-MM-dd"
          },
          "provedatoFra" : {
            "type" : "string",
            "description" : "Prøvedato fra - Format yyyy-MM-dd"
          },
          "provedatoTil" : {
            "type" : "string",
            "description" : "Prøvedato til - Format yyyy-MM-dd"
          }
        },
        "description" : "Søk etter covid19 prøvesvar på andre attributter en personnummer."
      }
    }
  }
}