{
  "openapi": "3.0.3",
  "info": {
    "title": "Fiks register konfigurasjon service",
    "description": "Konfigurasjonstjeneste for Fiks register",
    "contact": {
      "name": "KS Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "paths": {
    "/register/api/v1/konfigurasjon/{fiksOrgId}/roller": {
      "get": {
        "operationId": "hentAlleRollerForFiksOrg",
        "tags": [
          "oppslag"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Roller for organisasjonen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolleListe"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "opprettRolle",
        "tags": [
          "konfigurasjon"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Id til organisasjonen som skal eie rollen",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettRolleDefinisjon"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rollen ble opprettet",
            "links": {
              "self": {
                "operationRef": "hentRolleMedFiksOrgIdOgRolleId",
                "parameters": {
                  "fiksOrgId": "$request.path.fiksOrgId",
                  "id": "$request.path.id"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rolle"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig rolle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Mangler tilgang til å opprette rolle for gitt organisasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/konfigurasjon/{fiksOrgId}/roller/gyldigeverdier": {
      "get": {
        "operationId": "hentGyldigeVerdier",
        "tags": [
          "konfigurasjon"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent gyldige verdier for oppsett av rolle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GyldigeVerdier"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/konfigurasjon/{fiksOrgId}/roller/{id}": {
      "delete": {
        "operationId": "slettRolle",
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Id til organisasjonen som skal eie rollen",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "Unik ID til den rollen man vil hente",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "tags": [
          "konfigurasjon"
        ],
        "responses": {
          "204": {
            "description": "Sletting utført",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rolle"
                }
              }
            }
          },
          "403": {
            "description": "Har ikke tilgang til å slette rolle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Kan ikke slette rolle som ikke finnes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "oppdaterRolle",
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Id til organisasjonen som skal eie rollen",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "Unik ID til den rollen man vil hente",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RolleEndring"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Emdret rolle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rolle"
                }
              }
            }
          },
          "403": {
            "description": "Mangler tilgang til rolle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Rollen finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "tags": [
          "konfigurasjon"
        ]
      }
    },
    "/register/api/v1/konfigurasjon/roller": {
      "post": {
        "operationId": "hentAktiveRollerForTjeneste",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinnAktivRollerForTjenesteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Roller som bruker har tilgang til",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolleListe"
                }
              }
            }
          },
          "403": {
            "description": "Mangler tilgang til å lese roller på tvers av orgs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "tags": [
          "oppslag"
        ]
      }
    },
    "/register/api/v1/konfigurasjon/roller/{fiksOrgId}": {
      "get": {
        "operationId": "hentAlleRollerForFiksOrgDeprecated",
        "deprecated": true,
        "tags": [
          "oppslag"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Roller for organisasjonen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolleListe"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/konfigurasjon/{fiksOrgId}/roller/folkeregister": {
      "get": {
        "operationId": "harTilgangTilOppslagFolkeregister",
        "description": "Sjekker om det finnes rolle med tilgang til å gjøre navneoppslag i folkeregisteret.",
        "tags": [
          "konfigurasjon"
        ],
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rolle"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Rollen finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "opprettTilgangForFolkeregister",
        "description": "Oppretter en rolle med tilgang til å gjøre navneoppslag i folkeregisteret.",
        "tags": [
          "konfigurasjon"
        ],
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rolle"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Organisasjonen finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/konfigurasjon/roller/{rolleId}/adresse": {
      "post": {
        "operationId": "opprettAdresseStatistikk",
        "tags": [
          "statistikk"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "rolleId",
            "description": "Id til rollen",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettAdresseStatistikkApiDefinisjon"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Adressestatistikk ble opprettet"
          },
          "400": {
            "description": "Ugyldig rolle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Mangler tilgang til å opprette statistikk for gitt rolle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/konfigurasjon/tilganger/{fiksOrgId}": {
      "get": {
        "deprecated": true,
        "tags": [
          "tilganger"
        ],
        "description": "Henter liste over tilganger gitt til alle roller som er definert som JSON eller CSV",
        "operationId": "tilgangerForFiksOrgDeprecated",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolleOversikt"
                }
              },
              "text/csv": {
                "example": "Rollenavn,ID,Navn,Administratorrettigheter,Tilgangstype\nRollen vår,01017012345,Jan Banan,Nei,Bruker",
                "schema": {
                  "$ref": "#/components/schemas/RolleOversikt"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/RolleOversikt"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/konfigurasjon/{fiksOrgId}/roller/tilganger": {
      "get": {
        "tags": [
          "tilganger"
        ],
        "description": "Henter liste over tilganger gitt til alle roller som er definert som JSON eller CSV",
        "operationId": "tilgangerForFiksOrg",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolleOversikt"
                }
              },
              "text/csv": {
                "example": "Rollenavn,ID,Navn,Administratorrettigheter,Tilgangstype\nRollen vår,01017012345,Jan Banan,Nei,Bruker",
                "schema": {
                  "$ref": "#/components/schemas/RolleOversikt"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/RolleOversikt"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/konfigurasjon/tilganger/{fiksOrgId}/ingen-tilganger": {
      "get": {
        "tags": [
          "tilganger"
        ],
        "description": "Henter liste over tilganger gitt til alle roller som er definert som JSON eller CSV",
        "operationId": "rollerUtenTilgangerForFiksOrg",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolleOversiktUtenTilganger"
                }
              },
              "text/csv": {
                "example": "Rollenavn,ID,Navn,Administratorrettigheter",
                "schema": {
                  "$ref": "#/components/schemas/RolleOversiktUtenTilganger"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/RolleOversiktUtenTilganger"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/konfigurasjon/statistikk/{fiksOrgId}": {
      "get": {
        "tags": [
          "statistikk"
        ],
        "description": "Henter liste over oppslagstatistikk per rolle som er definert som JSON eller CSV",
        "operationId": "statistikkForFiksOrg",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatistikkOversikt"
                }
              },
              "text/csv": {
                "example": "RolleId,Handling,Antall oppslag\nae0207e6-eb70-495e-a88a-15c19960b64e,Fortrolig adresse,2",
                "schema": {
                  "$ref": "#/components/schemas/StatistikkOversikt"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/StatistikkOversikt"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/konfigurasjon/{fiksOrgId}/register-tilganger": {
      "get": {
        "tags": [
          "register-tilganger"
        ],
        "description": "Hente liste over hvilke registre som finnes og om organisasjonen har tilgang til dem",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterTilgangResponse"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "register-tilganger"
        ],
        "summary": "Ikke implementert",
        "description": "Aktiver tilgang til register for organisasjon. Avventer implementasjon av denne til vi vet litt mer om hvordan dette henger sammen.",
        "parameters": [
           {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AktiverRegisterTilgangRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterTilgangResponse"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "fiksBearerToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "OpprettRolleDefinisjon": {
        "type": "object",
        "properties": {
          "navn": {
            "$ref": "#/components/schemas/NavnFelt"
          },
          "beskrivelse": {
            "$ref": "#/components/schemas/BeskrivelseFelt"
          },
          "tjenesteomraade": {
            "$ref": "#/components/schemas/Tjenesteomraade"
          },
          "registre": {
            "$ref": "#/components/schemas/RegisterDefinisjon"
          },
          "tjenester": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string"
            }
          },
          "tilganger": {
            "$ref": "#/components/schemas/Tilganger"
          }
        },
        "required": [
          "navn",
          "beskrivelse",
          "tjenesteomraade",
          "registre",
          "status"
        ]
      },
      "Tilganger": {
        "type": "object",
        "properties": {
          "aktorer": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Rolle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "aktiv": {
            "type": "boolean"
          },
          "ressursId": {
            "type": "string",
            "format": "uuid"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "$ref": "#/components/schemas/NavnFelt"
          },
          "beskrivelse": {
            "$ref": "#/components/schemas/BeskrivelseFelt"
          },
          "tjenesteomraade": {
            "$ref": "#/components/schemas/Tjenesteomraade"
          },
          "registre": {
            "$ref": "#/components/schemas/RegisterDefinisjon"
          },
          "tjenester": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string"
            }
          },
          "endret": {
            "type": "string",
            "format": "date-time"
          },
          "opprettet": {
            "type": "string",
            "format": "date-time"
          }
        },
        "readOnly": true,
        "required": [
          "id",
          "navn",
          "beskrivelse",
          "tjenesteomraade",
          "registre",
          "aktiv",
          "fiksOrgId"
        ]
      },
      "RolleListe": {
        "type": "object",
        "description": "En liste med roller som resultat av et oppslag",
        "properties": {
          "roller": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Rolle"
            }
          }
        },
        "required": [
          "roller"
        ]
      },
      "FinnAktivRollerForTjenesteRequest": {
        "type": "object",
        "properties": {
          "tjeneste": {
            "$ref": "#/components/schemas/KodeFelt"
          },
          "fiksOrgId": {
            "description": "Brukes for å begrense treff per fiksOrgId",
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "tjeneste"
        ]
      },
      "RegisterDefinisjon": {
        "type": "object",
        "minProperties": 1,
        "properties": {
          "folkeregister": {
            "$ref": "#/components/schemas/FolkeregisterDefinisjon"
          },
          "kontaktregister": {
            "$ref": "#/components/schemas/KontaktregisterDefinisjon"
          },
          "kjoretoyregister": {
            "$ref": "#/components/schemas/KjoretoyregisterDefinisjon"
          },
          "summertSkattegrunnlag": {
            "$ref": "#/components/schemas/SummertSkattegrunnlagDefinisjon"
          }
        }
      },
      "FolkeregisterDefinisjon": {
        "type": "object",
        "properties": {
          "bruksomraader": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FolkeregisterBruksomraade"
            },
            "minItems": 1
          },
          "kanBrukesPaaSokeside": {
            "type": "boolean"
          },
          "minimering": {
            "$ref": "#/components/schemas/FolkeregisterMinimeringDefinisjon"
          }
        },
        "required": [
          "bruksomraader",
          "kanBrukesPaaSokeside",
          "minimering"
        ]
      },
      "FolkeregisterMinimeringDefinisjon": {
        "properties": {
          "parts": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "pattern": "^[A-Z]+$"
            }
          }
        },
        "required": [
          "parts"
        ]
      },
      "KontaktregisterDefinisjon": {
        "type": "object",
        "properties": {
          "tilgjengelig": {
            "type": "boolean",
            "default": true
          }
        },
        "required": [
          "tilgjengelig"
        ]
      },
      "KjoretoyregisterDefinisjon": {
        "type": "object",
        "properties": {
          "tilgjengelig": {
            "type": "boolean",
            "default": true
          }
        },
        "required": [
          "tilgjengelig"
        ]
      },
      "SummertSkattegrunnlagDefinisjon": {
        "type": "object",
        "properties": {
          "rettighetspakke": {
            "$ref": "#/components/schemas/SummertSkattegrunnlagRettighetspakke"
          }
        },
        "required": [
          "rettighetspakke"
        ]
      },
      "SummertSkattegrunnlagRettighetspakke": {
        "type": "string",
        "enum": [
          "KOMMUNEFORELDREBETALING",
          "KOMMUNEBOLIGSOSIALEFORMAAL",
          "KOMMUNEPERSONLIGASSISTANSE",
          "KOMMUNELANGTIDSOPPHOLDINSTITUSJON"
        ]
      },
      "Tjenesteomraade": {
        "type": "string",
        "enum": [
          "BARNEVERN",
          "HELSE",
          "GRAVFERDSMYNDIGHET",
          "OMSORG",
          "OPPVEKST",
          "BARNEHAGE",
          "SKATTEOPPKREVER",
          "SOSIAL",
          "TEKNISK",
          "STOTTE",
          "INNBYGGERTJENESTER",
          "NAERINGSLIV",
          "VALG",
          "INNFORDRING_INNKREVING",
          "INNVANDRING_OG_INTEGRERING",
          "SAMFUNNSSIKKERHET",
          "DEMOKRATI_AAPENHET",
          "TRAFIKK_TRANSPORT",
          "HELSE_PRAKTISK_BISTAND",
          "HELSE_LANGTIDSOPPHOLD_INSTITUSJON",
          "FORELDREBETALING_SFO_BARNEHAGE"
        ]
      },
      "FolkeregisterBruksomraade": {
        "type": "string",
        "enum": [
          "INNBYGGERLISTE",
          "SOEK",
          "HENDELSER"
        ]
      },
      "RolleEndring": {
        "type": "object",
        "properties": {
          "nyttNavn": {
            "$ref": "#/components/schemas/NavnFelt"
          },
          "nyBeskrivelse": {
            "$ref": "#/components/schemas/BeskrivelseFelt"
          },
          "fjernTjenester": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            }
          },
          "folkeregister": {
            "$ref": "#/components/schemas/OppdaterFolkeregisterdefinisjon"
          },
          "summertSkattegrunnlag": {
            "$ref": "#/components/schemas/OppdaterSummertSkattegrunnlagdefinisjon"
          }
        }
      },
      "OppdaterFolkeregisterdefinisjon": {
        "type": "object",
        "properties": {
          "oppdaterteBruksomraader": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/FolkeregisterBruksomraade"
            }
          },
          "oppdatertMinimering": {
            "$ref": "#/components/schemas/FolkeregisterMinimeringDefinisjon"
          },
          "kanBrukesPaSokeside": {
            "$ref": "#/components/schemas/KanBrukesPaaSokesideDefinisjon"
          }
        }
      },
      "KanBrukesPaaSokesideDefinisjon": {
        "required": [ "kanBrukesPaaSokeside" ],
        "type": "object",
        "properties": {
          "kanBrukesPaaSokeside": {
            "type": "boolean"
          }
        }
      },
      "OppdaterSummertSkattegrunnlagdefinisjon": {
        "required": [
          "rettighetspakke"
        ],
        "type": "object",
        "properties": {
          "rettighetspakke": {
            "$ref": "#/components/schemas/SummertSkattegrunnlagRettighetspakke"
          }
        }
      },
      "NavnFelt": {
        "type": "string",
        "pattern": "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
        "minLength": 2,
        "maxLength": 400
      },
      "BeskrivelseFelt": {
        "type": "string",
        "maxLength": 400
      },
      "KodeFelt": {
        "type": "string",
        "minLength": 2,
        "pattern": "^[A-Z\\.]+$"
      },
      "RolleOversikt": {
        "type": "object",
        "required": ["fiksOrgId","roller"],
        "properties": {
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "roller": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RolleMedTilgangListe"
            }
          }
        }
      },
      "RolleOversiktUtenTilganger": {
        "type": "object",
        "required": [
          "fiksOrgId",
          "roller"
        ],
        "properties": {
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "roller": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RolleUtenTilgangListe"
            }
          }
        }
      },
      "StatistikkOversikt": {
        "type": "object",
        "required": ["elements"],
        "properties": {
          "elements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatistikkRad"
            }
          }
        }
      },
      "StatistikkRad": {
        "type": "object",
        "required": ["rolleRessursId", "rolleNavn", "tidspunkt", "hashetData","handling"],
        "properties": {
          "rolleRessursId": {
            "type": "string",
            "format": "uuid"
          },
          "rolleNavn": {
            "type": "string"
          },
          "tidspunkt": {
            "type": "string",
            "format": "date-time"
          },
          "hashetData": {
            "type": "string",
            "description": "Hashet data som er brukt for å anonymisere personopplysninger i statistikken. Inneholder ikke sensitive personopplysninger.",
            "format": "md5",
            "pattern": "^[a-fA-F0-9]{32}$"
          },
          "handling": {
            "type": "string",
            "enum": [
              "FORTROLIG",
              "KLIENTADRESSE"
            ]
          }
        }
      },
      "RolleMedTilgangListe": {
        "type": "object",
        "required": ["rolle"],
        "properties": {
          "rolle": {
            "$ref": "#/components/schemas/RolleMedNavn"
          },
          "tilganger": {
            "$ref": "#/components/schemas/TilgangListe"
          },
          "administratorer": {
            "$ref": "#/components/schemas/AdministrasjonListe"
          }
        }
      },
      "RolleUtenTilgangListe": {
        "type": "object",
        "required": ["rolle"],
        "properties": {
          "rolle": {
            "$ref": "#/components/schemas/RolleMedNavn"
          },
          "administratorer": {
            "$ref": "#/components/schemas/AdministrasjonListe"
          }
        }
      },
      "RolleMedNavn": {
        "required": ["fiksOrgId","navn"],
        "type": "object",
        "properties": {
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "rolleId": {
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "type": "string"
          },
          "beskrivelse": {
            "type": "string"
          },
          "endret": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TilgangListe": {
        "type": "object",
        "properties": {
          "integrasjoner": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "eksterneBrukere": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "eksterneGrupper": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AdministrasjonListe": {
        "type": "object",
        "properties": {
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "eksterneBrukere": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "eksterneGrupper": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Person": {
        "required": ["fnr", "navn"],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "type": "string"
          }
        }
      },
      "OpprettAdresseStatistikkApiDefinisjon": {
        "type": "object",
        "properties": {
          "adressegradering": {
            "type": "string"
          },
          "adresse": {
            "type": "string"
          }
        },
        "required": [
          "adresse",
          "adressegradering"
        ]
      },
      "AktiverRegisterTilgangRequest": {
        "type": "object",
        "properties": {
          "kode": {
            "$ref": "#/components/schemas/Registerkode"
          }
        },
        "required": [
          "kode"
        ]
      },
      "RegisterTilgangResponse": {
        "type": "object",
        "properties": {
          "registre": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegisterTilgangDefinisjon"
            }
          }
        },
        "required": [
          "registre"
        ]
      },
      "RegisterTilgangDefinisjon": {
        "type": "object",
        "properties": {
          "kode": {
            "$ref": "#/components/schemas/Registerkode"
          },
          "navn": {
            "type": "string"
          },
          "aktivert": {
            "type": "boolean"
          },
          "ekstrakost": {
            "description": "Er det en ekstra kost forbundet ved å ta registeret i bruk?",
            "type": "boolean"
          },
          "vedlegg": {
            "$ref": "#/components/schemas/LenkeDefinisjon"
          }
        },
        "required": [
          "kode",
          "navn",
          "aktivert",
          "ekstrakost"
        ]
      },
      "LenkeDefinisjon": {
        "type": "object",
        "description": "Visningsnavn og url for lenke",
        "properties": {
          "visningsnavn": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "required": [
          "visningsnavn",
          "url"
        ]
      },
      "Registerkode": {
        "type": "string",
        "enum": [
          "FOLKEREGISTER",
          "KONTAKTREGISTER",
          "SKATT_OG_INNTEKT",
          "KJORETOYREGISTER"
        ]
      },
      "GyldigeVerdier": {
        "required": [ "tjenesteomraader", "FolkeregisterVerdier", "summertSkattegrunnlagVerdier" ],
        "properties": {
          "tjenesteomraader": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TjenesteomraadeGyldigVerdi"
            }
          },
          "FolkeregisterVerdier": {
            "$ref": "#/components/schemas/FolkeregisterGyldigeVerdier"
          },
          "summertSkattegrunnlagVerdier": {
            "$ref": "#/components/schemas/SummertSkattegrunnlagVerdier"
          }
        }
      },
      "TjenesteomraadeGyldigVerdi": {
        "required": [ "kode", "navn", "kanHenteTaushetsbelagtInformasjon", "gyldig", "lovhjemler" ],
        "properties": {
          "kode": {
            "$ref": "#/components/schemas/Tjenesteomraade"
          },
          "navn": {
            "type": "string"
          },
          "kanHenteTaushetsbelagtInformasjon": {
            "type": "boolean"
          },
          "gyldig": {
            "type": "boolean"
          },
          "lovhjemler": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FolkeregisterLovhjemmel"
            }
          }
        }
      },
      "FolkeregisterLovhjemmel": {
        "required": [ "beskrivelse", "lovdataLenker" ],
        "properties": {
          "beskrivelse": {
            "type": "string"
          },
          "lovdataLenker": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SummertSkattegrunnlagVerdier": {
        "required": [ "rettighetspakker" ],
        "properties": {
          "rettighetspakker": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SummertSkattegrunnlagRettighetspakkeVerdier"
            }
          }
        }
      },
      "SummertSkattegrunnlagRettighetspakkeVerdier": {
        "required": [ "pakke", "navn", "beskrivelse", "tilgjengelig" ],
        "properties": {
          "pakke": {
            "$ref": "#/components/schemas/SummertSkattegrunnlagRettighetspakke"
          },
          "navn": {
            "type": "string"
          },
          "beskrivelse": {
            "type": "string"
          },
          "tilgjengelig": {
            "type": "boolean"
          }
        }
      },
      "FolkeregisterGyldigeVerdier": {
        "required": [ "bruksomraader", "minimeringer" ],
        "properties": {
          "bruksomraader": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FolkeregisterBruksomraade"
            }
          },
          "minimeringer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FolkeregisterMinimeringer"
            }
          }
        }
      },
      "FolkeregisterMinimeringer": {
        "required": [ "overordnet", "underordnet" ],
        "properties": {
          "overordnet": {
            "$ref": "#/components/schemas/FolkeregisterOverordnetMinimeringFelt"
          },
          "underordnet": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FolkeregisterUnderordnetMinimeringFelt"
            }
          }
        }
      },
      "FolkeregisterOverordnetMinimeringFelt": {
        "required": [ "felt", "navn", "taushetsbelagt" ],
        "properties": {
          "felt": {
            "type": "string"
          },
          "navn": {
            "type": "string"
          },
          "taushetsbelagt": {
            "type": "boolean"
          }
        }
      },
      "FolkeregisterUnderordnetMinimeringFelt": {
        "required": [ "felt", "navn", "taushetsbelagt", "beskrivelse" ],
        "properties": {
          "felt": {
            "type": "string"
          },
          "navn": {
            "type": "string"
          },
          "beskrivelse": {
            "type": "string"
          },
          "taushetsbelagt": {
            "type": "boolean"
          }
        }
      }
    }
  }
}