{
  "openapi": "3.0.3",
  "info": {
    "title": "Fiks register konfigurasjon service",
    "description": "Konfigurasjonstjeneste for Fiks register",
    "contact": {
      "name": "KS Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "paths": {
    "/register/api/v1/konfigurasjon/{fiksOrgId}/roller": {
      "post": {
        "operationId": "opprettRolle",
        "tags": [
          "konfigurasjon"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Id til organisasjonen som skal eie rollen",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettRolleDefinisjon"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rollen ble opprettet",
            "links": {
              "self": {
                "operationRef": "hentRolleMedFiksOrgIdOgRolleId",
                "parameters": {
                  "fiksOrgId": "$request.path.fiksOrgId",
                  "id": "$request.path.id"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LagretRolleDefinisjon"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig rolle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Mangler tilgang til å opprette rolle for gitt organisasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/konfigurasjon/{fiksOrgId}/roller/{id}": {
      "get": {
        "operationId": "hentRolleMedFiksOrgIdOgRolleId",
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Id til organisasjonen som skal eie rollen",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "Unik ID til den rollen man vil hente",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fant rollen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LagretRolleDefinisjon"
                }
              }
            }
          },
          "403": {
            "description": "Mangler tilgang til rolle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Rollen finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "tags": [
          "oppslag",
          "konfigurasjon"
        ]
      },
      "delete": {
        "operationId": "slettRolle",
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Id til organisasjonen som skal eie rollen",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "Unik ID til den rollen man vil hente",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "tags": [
          "konfigurasjon"
        ],
        "responses": {
          "204": {
            "description": "Sletting utført",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LagretRolleDefinisjon"
                }
              }
            }
          },
          "403": {
            "description": "Har ikke tilgang til å slette rolle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Kan ikke slette rolle som ikke finnes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "oppdaterRolle",
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Id til organisasjonen som skal eie rollen",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "Unik ID til den rollen man vil hente",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RolleEndring"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Emdret rolle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LagretRolleDefinisjon"
                }
              }
            }
          },
          "403": {
            "description": "Mangler tilgang til rolle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Rollen finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "tags": [
          "konfigurasjon"
        ]
      }
    },
    "/register/api/v1/konfigurasjon/roller/{id}": {
      "get": {
        "operationId": "hentRolleMedRolleId",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Unik ID til den rollen man vil hente",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fant rollen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LagretRolleDefinisjon"
                }
              }
            }
          },
          "403": {
            "description": "Mangler tilgang til rolle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Rollen finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "tags": [
          "oppslag",
          "konfigurasjon"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "fiksBearerToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "OpprettRolleDefinisjon": {
        "type": "object",
        "properties": {
          "navn": {
            "$ref": "#/components/schemas/NavnFelt"
          },
          "beskrivelse": {
            "$ref": "#/components/schemas/BeskrivelseFelt"
          },
          "tjenesteomraade": {
            "$ref": "#/components/schemas/Tjenesteomraade"
          },
          "registre": {
            "$ref": "#/components/schemas/RegisterDefinisjon"
          },
          "tjenester": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "navn",
          "beskrivelse",
          "tjenesteomraade",
          "registre",
          "status"
        ]
      },
      "LagretRolleDefinisjon": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "aktiv": {
            "type": "boolean"
          },
          "ressursId": {
            "type": "string",
            "format": "uuid"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "$ref": "#/components/schemas/NavnFelt"
          },
          "beskrivelse": {
            "$ref": "#/components/schemas/BeskrivelseFelt"
          },
          "tjenesteomraade": {
            "$ref": "#/components/schemas/Tjenesteomraade"
          },
          "registre": {
            "$ref": "#/components/schemas/RegisterDefinisjon"
          },
          "tjenester": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string"
            }
          }
        },
        "readOnly": true,
        "required": [
          "id",
          "navn",
          "beskrivelse",
          "tjenesteomraade",
          "registre",
          "aktiv",
          "fiksOrgId"
        ]
      },
      "RegisterDefinisjon": {
        "type": "object",
        "minProperties": 1,
        "properties": {
          "folkeregister": {
            "$ref": "#/components/schemas/FolkeregisterDefinisjon"
          },
          "kontaktregister": {
            "$ref": "#/components/schemas/KontaktregisterDefinisjon"
          },
          "summertSkattegrunnlag": {
            "$ref": "#/components/schemas/SummertSkattegrunnlagDefinisjon"
          }
        }
      },
      "FolkeregisterDefinisjon": {
        "type": "object",
        "properties": {
          "bruksomraader": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FolkeregisterBruksomraade"
            },
            "minItems": 1
          },
          "kanBrukesPaaSokeside": {
            "type": "boolean"
          },
          "minimering": {
            "$ref": "#/components/schemas/FolkeregisterMinimeringDefinisjon"
          }
        },
        "required": [
          "bruksomraader",
          "kanBrukesPaaSokeside",
          "minimering"
        ]
      },
      "FolkeregisterMinimeringDefinisjon": {
        "properties": {
          "parts": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "pattern": "^[A-Z]+$"
            }
          }
        },
        "required": [
          "parts"
        ]
      },
      "KontaktregisterDefinisjon": {
        "type": "object",
        "properties": {
          "tilgjengelig": {
            "type": "boolean",
            "default": true
          }
        },
        "required": [
          "tilgjengelig"
        ]
      },
      "SummertSkattegrunnlagDefinisjon": {
        "type": "object",
        "properties": {
          "rettighetspakke": {
            "$ref": "#/components/schemas/SummertSkattegrunnlagRettighetspakke"
          }
        },
        "required": [
          "rettighetspakke"
        ]
      },
      "SummertSkattegrunnlagRettighetspakke": {
        "type": "string",
        "enum": [
          "KOMMUNEFORELDREBETALING",
          "KOMMUNEBOLIGSOSIALEFORMAAL",
          "KOMMUNEPERSONLIGASSISTANSE"
        ]
      },
      "Tjenesteomraade": {
        "type": "string",
        "enum": [
          "BARNEVERN",
          "HELSE",
          "GRAVFERDSMYNDIGHET",
          "OMSORG",
          "OPPVEKST",
          "BARNEHAGE",
          "SKATTEOPPKREVER",
          "SOSIAL",
          "TEKNISK",
          "STOTTE",
          "INNBYGGERTJENESTER",
          "NAERINGSLIV",
          "VALG",
          "INNFORDRING_INNKREVING",
          "INNVANDRING_OG_INTEGRERING",
          "SAMFUNNSSIKKERHET",
          "DEMOKRATI_AAPENHET",
          "TRAFIKK_TRANSPORT"
        ]
      },
      "FolkeregisterBruksomraade": {
        "type": "string",
        "enum": [
          "INNBYGGERLISTE",
          "SOEK",
          "HENDELSER"
        ]
      },
      "RolleEndring": {
        "type": "object",
        "properties": {
          "nyttNavn": {
            "$ref": "#/components/schemas/NavnFelt"
          },
          "nyBeskrivelse": {
            "$ref": "#/components/schemas/BeskrivelseFelt"
          },
          "fjernTjenester": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            }
          },
          "folkeregister": {
            "$ref": "#/components/schemas/OppdaterFolkeregisterdefinisjon"
          }
        }
      },
      "OppdaterFolkeregisterdefinisjon": {
        "type": "object",
        "properties": {
          "oppdaterteBruksomraader": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/FolkeregisterBruksomraade"
            }
          }
        }
      },
      "NavnFelt": {
        "type": "string",
        "pattern": "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
        "maxLength": 400
      },
      "BeskrivelseFelt": {
        "type": "string",
        "maxLength": 400
      }
    }
  }
}