{
  "openapi": "3.0.1",
  "info": {
    "title": "Fiks register skatte- og inntektsopplysninger eiendomsskattegrunnlag for vannkraftanlegg konfigurasjon service",
    "description": "Konfigurasjon for eiendomskattegrunnlag vannkraftanlegg",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks@ksdigital.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "paths": {
    "/register/api/v1/ks/eiendomsskattegrunnlag/vannkraftanlegg/konfigurasjon/{fiksOrgId}": {
      "post": {
        "description": "Setter opp konfigurasjon for eiendomsskattegrunnlag for vannkraftanlegg for en organisasjon",
        "operationId": "opprettKonfigurasjon",
        "tags": [
          "konfigurasjon"
        ],
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "description": "Organisasjon som skal konfigureres",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonfigurasjonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Konfigurasjon opprettet"
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Henter konfigurasjon for eiendomsskattegrunnlag for vannkraftanlegg for en organisasjon",
        "operationId": "hentKonfigurasjon",
        "tags": [
          "konfigurasjon"
        ],
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "description": "Organisasjon som skal sjekkes",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonfigurasjonResponse"
                }
              }
            }
          },
          "404": {
            "description": "Konfigurasjon ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Oppdaterer konfigurasjon for eiendomsskattegrunnlag for vannkraftanlegg for en organisasjon",
        "operationId": "oppdaterKonfigurasjon",
        "tags": [
          "konfigurasjon"
        ],
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "description": "Organisasjon som skal oppdateres",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonfigurasjonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Konfigurasjon oppdatert"
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Konfigurasjon finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Sletter konfigurasjon for eiendomsskattegrunnlag for vannkraftanlegg for en organisasjon",
        "operationId": "slettKonfigurasjon",
        "tags": [
          "konfigurasjon"
        ],
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "description": "Organisasjon som skal slettes konfigurasjon for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Konfigurasjon slettet"
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Konfigurasjon finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/eiendomsskattegrunnlag/vannkraftanlegg/konfigurasjon/{fiksOrgId}/konfigurert": {
      "get": {
        "description": "Sjekker om konfigurasjon for eiendomsskattegrunnlag for vannkraftanlegg finnes for en organisasjon",
        "operationId": "harKonfigurert",
        "tags": [
          "konfigurasjon"
        ],
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "description": "Organisasjon som skal sjekkes",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "KonfigurasjonResponse": {
        "required": [
          "svarutKontoId",
          "fiksOrgId",
          "rolleId",
          "mottakerOrgnummer"
        ],
        "type": "object",
        "properties": {
          "svarutKontoId": {
            "type": "string",
            "format": "uuid",
            "description": "SvarUt konto som brukes for å sende inn eiendomsskattegrunnlag for vannkraftanlegg"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid",
            "description": "Organisasjonen som er konfigurert"
          },
          "rolleId": {
            "type": "string",
            "format": "uuid",
            "description": "Rolle som er konfigurert for organisasjonen"
          },
          "mottakerOrgnummer": {
            "type": "string",
            "pattern": "^[0-9]{9}$",
            "description": "Organisasjonsnummeret til mottaker av eiendomsskattegrunnlag for vannkraftanlegg"
          }
        }
      },
      "KonfigurasjonRequest": {
        "required": [
          "svarutKontoId",
          "mottakerOrganisasjonsnummer"
        ],
        "type": "object",
        "properties": {
          "svarutKontoId": {
            "type": "string",
            "format": "uuid",
            "description": "SvarUt konto som skal brukes for å sende inn eiendomsskattegrunnlag for vannkraftanlegg"
          },
          "mottakerOrganisasjonsnummer": {
            "type": "string",
            "pattern": "^[0-9]{9}$",
            "description": "Organisasjonsnummeret til mottaker av eiendomsskattegrunnlag for vannkraftanlegg"
          }
        }
      }
    }
  }
}
