{
  "openapi": "3.0.1",
  "info": {
    "title": "Fiks register skatte- og inntektsopplysninger beregning service",
    "description": "Henter og beregner grunnlag for egenandel for kommunale tjenesteområder",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "paths": {
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning": {
      "post": {
        "tags": ["Beregning"],
        "description": "Beregner grunnlag for egenandel for angitte fødselsnummer og kommunalt tjenesteområde",
        "operationId": "beregning",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeregningResponseApiModel"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning/pdf": {
      "post": {
        "tags": ["Beregning"],
        "description": "Beregner grunnlag for egenandel for angitte fødselsnummer og kommunalt tjenesteområde i PDF-format",
        "operationId": "beregningPdf",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/verdier": {
      "get": {
        "tags": ["Beregning"],
        "description": "Henter alle gyldige verdier",
        "operationId": "beregningVerdier",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeregningVerdierApiModel"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PersonnavnApiModel": {
        "required": ["etternavn", "fornavn"],
        "type": "object",
        "properties": {
          "etternavn": {
            "type": "string"
          },
          "fornavn": {
            "type": "string"
          },
          "mellomnavn": {
            "type": "string"
          }
        }
      },
      "StadieApiModel": {
        "description": "Om skatteoppgjøret er ferdig (OPPGJOER) eller et utkast (UTKAST). UTKAST er kun relevant for foreldrebetaling for SFO og barnehage.",
        "type": "string",
        "enum": ["OPPGJOER", "UTKAST"]
      },
      "BeregningResponseApiModel": {
        "required": [
          "inntektsaar",
          "stadie",
          "visningsposter",
          "personer",
          "beregningsbeloep",
          "inntekt",
          "fradrag",
          "soeketidspunkt",
          "beregningstype"
        ],
        "type": "object",
        "properties": {
          "inntektsaar": {
            "type": "integer",
            "format": "int32"
          },
          "stadie": {
            "$ref": "#/components/schemas/StadieApiModel"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonApiModel"
            }
          },
          "visningsposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisningsposterApiModel"
            }
          },
          "beregningsbeloep": {
            "type": "integer",
            "format": "int64"
          },
          "inntekt": {
            "$ref": "#/components/schemas/BeregningsgrupperApiModel"
          },
          "fradrag": {
            "$ref": "#/components/schemas/BeregningsgrupperApiModel"
          },
          "soeketidspunkt": {
            "type": "string",
            "format": "date-time"
          },
          "beregningstype": {
            "$ref": "#/components/schemas/BeregningstypeApiModel"
          }
        }
      },
      "PersonApiModel": {
        "required": [
          "identifikator",
          "type",
          "skjermet",
          "stadie"
        ],
        "type": "object",
        "properties": {
          "identifikator": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "navn": {
            "$ref": "#/components/schemas/PersonnavnApiModel"
          },
          "type": {
            "$ref": "#/components/schemas/PersonTypeApiModel"
          },
          "skjermet": {
            "description": "Hvis personen er skjermet får vi ikke skattedata om personen. Dette kan for eksempel være en person med strengt fortrolig adresse.",
            "type": "boolean"
          },
          "skatteoppgjoersdato": {
            "description": "Dato for når skatteoppgjøret ble gjort.",
            "type": "string",
            "format": "date"
          },
          "stadie": {
            "$ref": "#/components/schemas/StadieApiModel"
          },
          "registreringstidpunkt": {
            "description": "Tidspunkt for når skatteinformasjon om personen ble registrert.",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PersonPostApiModel": {
        "required": [
          "identifikator",
          "beloep"
        ],
        "type": "object",
        "properties": {
          "identifikator": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "VisningsposterApiModel": {
        "required": [
          "kategori",
          "poster"
        ],
        "type": "object",
        "properties": {
          "kategori": {
            "$ref": "#/components/schemas/VisningskategoriApiModel"
          },
          "poster": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisningspostApiModel"
            }
          }
        }
      },

      "VisningskategoriApiModel": {
        "type": "string",
        "enum": [
          "INNTEKT",
          "FRADRAG",
          "FORMUE",
          "GJELD"
        ]
      },

      "VisningspostApiModel": {
        "required": [
          "personer",
          "beloep",
          "tekniskNavn",
          "visningstekst",
          "kilde"
        ],
        "type": "object",
        "properties": {
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonPostApiModel"
            }
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "tekniskNavn": {
            "type": "string"
          },
          "visningstekst": {
            "type": "string"
          },
          "kilde": {
            "$ref": "#/components/schemas/KildeApiModel"
          }
        }
      },
      "BeregningVerdierApiModel": {
        "required": ["verdier"],
        "type": "object",
        "properties": {
          "verdier": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerdierApiModel"
            }
          }
        }
      },
      "BeregningsgrupperApiModel": {
        "type": "object",
        "required": [
          "beloep",
          "beregning"
        ],
        "properties": {
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "beregning": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BeregningsgruppeApiModel"
            }
          }
        }
      },
      "BeregningsgruppeApiModel": {
        "required": [
          "tekniskNavn",
          "visningstekst",
          "beloep",
          "operasjon",
          "type"
        ],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string"
          },
          "visningstekst": {
            "type": "string"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "operasjon": {
            "$ref": "#/components/schemas/OperasjonstypeApiModel"
          },
          "type": {
            "$ref": "#/components/schemas/TypeApiModel"
          },
          "beregningsgrunnlag": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BeregningsgrunnlagApiModel"
            }
          },
          "beregningsposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BeregningspostApiModel"
            }
          }
        }
      },
      "BeregningsgrunnlagApiModel": {
        "required": ["tekniskNavn", "visningstekst", "beloep", "operasjon"],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string"
          },
          "visningstekst": {
            "type": "string"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "operasjon": {
            "$ref": "#/components/schemas/OperasjonstypeApiModel"
          },
          "beregningsposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BeregningspostApiModel"
            }
          }
        }
      },
      "BeregningRequestApiModel": {
        "required": ["personer", "inntektsaar", "beregningstype"],
        "type": "object",
        "properties": {
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonRequestApiModel"
            }
          },
          "inntektsaar": {
            "minimum": 2021,
            "type": "integer",
            "format": "int32"
          },
          "beregningstype": {
            "$ref": "#/components/schemas/BeregningstypeApiModel"
          }
        }
      },
      "PersonRequestApiModel": {
        "required": ["identifikator", "type"],
        "type": "object",
        "description": "Det skal alltid være en person av typen SOEKER. Det kan også være en eller flere personer med EKTEFELLE, PARTNER, SAMBOER eller BARN.",
        "properties": {
          "identifikator": {
            "description": "Fødsels- eller D-nummer.",
            "type": "string",
            "pattern": "^[0-9]{11}$"
          },
          "type": {
            "$ref": "#/components/schemas/PersonTypeApiModel"
          },
          "ekstraposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EkstrapostRequestApiModel"
            }
          }
        }
      },
      "EkstrapostVerdiApiModel": {
        "required": [
          "tekniskNavn",
          "visningstekst",
          "persontyper",
          "paakrevd",
          "kilde",
          "kanEndreVisningstekst"
        ],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string"
          },
          "visningstekst": {
            "type": "string"
          },
          "persontyper": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonTypeApiModel"
            }
          },
          "paakrevd": {
            "type": "boolean"
          },
          "kilde": {
            "$ref": "#/components/schemas/KildeVerdiApiModel"
          },
          "kanEndreVisningstekst": {
            "type": "boolean"
          }
        }
      },
      "PersonTypeApiModel": {
        "type": "string",
        "enum": [
          "SOEKER",
          "BEBOER",
          "BRUKER",
          "EKTEFELLE",
          "PARTNER",
          "SAMBOER",
          "BARN",
          "SOESKEN",
          "MOR",
          "FAR",
          "MEDMOR",
          "ANNET"
        ]
      },
      "BeregningspostApiModel": {
        "required": [
          "tekniskNavn",
          "visningstekst",
          "operasjon",
          "beloep",
          "kanEndreVisningstekst",
          "kilde",
          "identifikator"
        ],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string"
          },
          "visningstekst": {
            "type": "string"
          },
          "operasjon": {
            "$ref": "#/components/schemas/OperasjonstypeApiModel"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "kilde": {
            "$ref": "#/components/schemas/KildeApiModel"
          },
          "kanEndreVisningstekst": {
            "type": "boolean"
          },
          "identifikator": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          }
        }
      },
      "EkstrapostRequestApiModel": {
        "required": ["tekniskNavn", "beloep"],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string"
          },
          "visningstekst": {
            "type": "string"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "OperasjonstypeApiModel": {
        "type": "string",
        "enum": [
          "ADDERE",
          "SUBTRAHERE"
        ]
      },
      "TypeApiModel": {
        "description": "En beregningsgruppe kan inneholde enten beregningsgrunnlag eller beregningsposter. Ved type GRUNNLAG inneholder den beregningsgrunnlag, og beregningsposter er NULL. Ved type POSTER inneholder den beregningsposter, og beregningsgrunnlag er NULL.",
        "type": "string",
        "enum": ["GRUNNLAG", "POST"]
      },
      "BeregningstypeApiModel": {
        "type": "string",
        "enum": [
          "PRAKTISK_BISTAND",
          "LANGTIDSOPPHOLD_INSTITUSJON",
          "BARNEHAGE_SFO"
        ]
      },
      "KildeApiModel": {
        "type": "string",
        "enum": ["SKATTEETATEN", "MANUELL_INPUT"]
      },
      "KildeVerdiApiModel": {
        "type": "string",
        "enum": ["MANUELL_INPUT"]
      },

      "VisningsgruppeKategoriApiModel": {
        "type": "string",
        "enum": [

        ]
      },
      "VerdierApiModel": {
        "required": ["beregningstype", "inntektsaar", "gyldigeVerdier"],
        "type": "object",
        "properties": {
          "beregningstype": {
            "$ref": "#/components/schemas/BeregningstypeApiModel"
          },
          "inntektsaar": {
            "type": "integer",
            "format": "int32"
          },
          "gyldigeVerdier": {
            "$ref": "#/components/schemas/GyldigeVerdierApiModel"
          }
        }
      },
      "GyldigeVerdierApiModel": {
        "required": ["persontyper", "ekstraposter"],
        "type": "object",
        "properties": {
          "persontyper": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonTypeApiModel"
            }
          },
          "ekstraposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EkstrapostVerdiApiModel"
            }
          }
        }
      }
    }
  }
}
