{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Samtykke",
    "description" : "Fiks Samtykke Innbygger service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://min.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://min.fiks.test.ks.no",
    "description" : "KS Fiks API test host"
  } ],
  "tags" : [ {
    "name" : "samtykke-innbygger",
    "description" : "API for innbyggere for å vise og ta stilling til samtykker"
  } ],
  "paths" : {
    "/samtykke/api/v1/innbygger/{samtykkeId}/aksepterSamtykke" : {
      "post" : {
        "tags" : [ "samtykke-innbygger" ],
        "description" : "Person aksepterer på samtykke",
        "operationId" : "aksepterSamtykke",
        "parameters" : [ {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Aksepter samtykke"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/innbygger/{samtykkeId}/hentSamtykke" : {
      "get" : {
        "tags" : [ "samtykke-innbygger" ],
        "description" : "Henter et samtykke for person",
        "operationId" : "hentSamtykke",
        "parameters" : [ {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter samtykke",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Samtykker"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/innbygger/{dokumentId}/hentSamtykkerForSak" : {
      "get" : {
        "tags" : [ "samtykke-innbygger" ],
        "description" : "Henter samtykker for person",
        "operationId" : "hentSamtykkerForSak",
        "parameters" : [ {
          "name" : "dokumentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hentet samtykker for sak",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Samtykker"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/innbygger/{samtykkeId}/trekkSamtykke" : {
      "post" : {
        "tags" : [ "samtykke-innbygger" ],
        "description" : "Person trekker samtykke",
        "operationId" : "trekkSamtykke",
        "parameters" : [ {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Trekk samtykke"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "Dokument" : {
        "required" : [ "filnavn", "lenke", "mimeType", "storrelse", "tittel" ],
        "type" : "object",
        "properties" : {
          "filnavn" : {
            "type" : "string",
            "description" : "Filnavn for dokumentet"
          },
          "mimeType" : {
            "type" : "string",
            "description" : "MimeType for dokumentet"
          },
          "tittel" : {
            "type" : "string",
            "description" : "Tittel for dokumentet"
          },
          "storrelse" : {
            "type" : "integer",
            "description" : "Størrelse for dokumentet",
            "format" : "int64"
          },
          "lenke" : {
            "type" : "string",
            "description" : "Lenke til dokumentet"
          }
        },
        "description" : "Data for dokument som beskriver samtykke"
      },
      "Mappe" : {
        "type" : "object",
        "properties" : {
          "mappeId" : {
            "type" : "string"
          },
          "systemId" : {
            "type" : "string"
          },
          "saksaar" : {
            "type" : "integer",
            "format" : "int32"
          },
          "sakssekvensnummer" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "description" : "Informasjon om mappe knyttet til samtykket"
      },
      "PersonMedSamtykke" : {
        "required" : [ "navn", "samtykkeSvarDato", "samtykkeSvarStatus" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn for person"
          },
          "samtykkeSvarStatus" : {
            "type" : "string",
            "description" : "Status for samtykke",
            "enum" : [ "VENTER_PAA_SVAR", "SAMTYKKET", "IKKE_SAMTYKKET", "TRUKKET" ]
          },
          "samtykkeSvarDato" : {
            "type" : "string",
            "description" : "Når samtykke-svar-status sist ble oppdatert",
            "format" : "date"
          }
        },
        "description" : "Andre parter som skal gi samtykke for sak"
      },
      "Samtykke" : {
        "required" : [ "akseptfrist", "dokument", "harUtlopt", "mappe", "medvirkendePartList", "samtykkeId", "samtykkeNavn", "samtykkeStatus", "samtykkendePart", "utlopsDato" ],
        "type" : "object",
        "properties" : {
          "samtykkendePart" : {
            "$ref" : "#/components/schemas/PersonMedSamtykke"
          },
          "medvirkendePartList" : {
            "type" : "array",
            "description" : "Andre parter som skal gi samtykke for sak",
            "items" : {
              "$ref" : "#/components/schemas/PersonMedSamtykke"
            }
          },
          "samtykkeId" : {
            "type" : "string",
            "description" : "Id for samtykket",
            "format" : "uuid"
          },
          "samtykkeNavn" : {
            "type" : "string",
            "description" : "Navn på samtykket"
          },
          "samtykkeStatus" : {
            "type" : "string",
            "description" : "Status på samtykket",
            "enum" : [ "SAMTYKKET", "TRUKKET", "IKKE_SAMTYKKET", "VENTER_PAA_SVAR", "SVARFRIST_PASSERT" ]
          },
          "mappe" : {
            "$ref" : "#/components/schemas/Mappe"
          },
          "akseptfrist" : {
            "type" : "string",
            "description" : "Dato Dato på ISO-8601 format som forteller signeringsfrist for samtykke",
            "format" : "date"
          },
          "utlopsDato" : {
            "type" : "string",
            "description" : "Dato Dato på ISO-8601 format som forteller når samtykket utløper",
            "format" : "date"
          },
          "harUtlopt" : {
            "type" : "boolean",
            "description" : "Boolsk verdi som forteller om samtykket har utløpt"
          },
          "dokument" : {
            "$ref" : "#/components/schemas/Dokument"
          }
        }
      },
      "Samtykker" : {
        "type" : "object",
        "properties" : {
          "samtykkerVenter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Samtykke"
            }
          },
          "samtykkerAktiv" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Samtykke"
            }
          },
          "samtykkerUtlopt" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Samtykke"
            }
          }
        }
      }
    }
  }
}