{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Samtykke",
    "description" : "Fiks Samtykke Intern service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://min.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://min.fiks.test.ks.no",
    "description" : "KS Fiks API test host"
  } ],
  "tags" : [ {
    "name" : "samtykke-intern",
    "description" : "API for å vise og ta stilling til samtykker"
  } ],
  "paths" : {
    "/samtykke/api/v1/intern/{fiksOrgId}/aksepterSamtykke" : {
      "post" : {
        "tags" : [ "samtykke-intern" ],
        "description" : "Person aksepterer på samtykke",
        "operationId" : "aksepterSamtykke",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SamtykkeSvarRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Aksepter samtykke"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/intern/{fiksOrgId}/hentSamtykke/{samtykkeId}" : {
      "get" : {
        "tags" : [ "samtykke-intern" ],
        "description" : "Henter et samtykke for person",
        "operationId" : "hentSamtykke",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter samtykke",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Samtykker"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/intern/{fiksOrgId}/hentSamtykkerForSak/{dokumentId}" : {
      "get" : {
        "tags" : [ "samtykke-intern" ],
        "description" : "Henter samtykker for person",
        "operationId" : "hentSamtykkerForSak",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "dokumentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hentet samtykker for sak",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Samtykker"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/intern/{fiksOrgId}/trekkSamtykke" : {
      "post" : {
        "tags" : [ "samtykke-intern" ],
        "description" : "Person trekker samtykke",
        "operationId" : "trekkSamtykke",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SamtykkeSvarRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Trekk samtykke"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "SamtykkeSvarRequest" : {
        "required" : [ "samtykkeId" ],
        "type" : "object",
        "properties" : {
          "samtykkeId" : {
            "type" : "string",
            "description" : "SamtykkeId knyttet til samtykket som skal besvares",
            "format" : "uuid"
          }
        }
      },
      "Mappe" : {
        "type" : "object",
        "properties" : {
          "mappeId" : {
            "type" : "string"
          },
          "systemId" : {
            "type" : "string"
          },
          "saksaar" : {
            "type" : "integer",
            "format" : "int32"
          },
          "sakssekvensnummer" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "description" : "Informasjon om mappe knyttet til samtykket"
      },
      "PersonMedSamtykke" : {
        "required" : [ "navn", "samtykkeStatus" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn for person"
          },
          "samtykkeStatus" : {
            "type" : "string",
            "description" : "Status for samtykke",
            "enum" : [ "IKKE_BESVART", "SAMTYKKE_GITT", "SAMTYKKE_AVSLAATT" ]
          }
        },
        "description" : "Personer som skal gi samtykke for sak"
      },
      "Samtykke" : {
        "required" : [ "akseptfrist", "dokumentLenke", "mappe", "personList", "samtykkeId", "sluttDato" ],
        "type" : "object",
        "properties" : {
          "personList" : {
            "type" : "array",
            "description" : "Personer som skal gi samtykke for sak",
            "items" : {
              "$ref" : "#/components/schemas/PersonMedSamtykke"
            }
          },
          "samtykkeId" : {
            "type" : "string",
            "description" : "Id for samtykket",
            "format" : "uuid"
          },
          "mappe" : {
            "$ref" : "#/components/schemas/Mappe"
          },
          "akseptfrist" : {
            "type" : "string",
            "description" : "Dato Dato på ISO-8601 format som forteller signeringsfrist for samtykke",
            "format" : "date"
          },
          "sluttDato" : {
            "type" : "string",
            "description" : "Dato Dato på ISO-8601 format som forteller hvor lenge samtykket er gyldig",
            "format" : "date"
          },
          "dokumentLenke" : {
            "type" : "string",
            "description" : "Id for dokumentet som beskriver samtykke"
          }
        }
      },
      "Samtykker" : {
        "required" : [ "samtykker" ],
        "type" : "object",
        "properties" : {
          "samtykker" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Samtykke"
            }
          }
        }
      }
    }
  }
}