{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Samtykke",
    "description" : "Fiks Samtykke Ekstern service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks API test host"
  } ],
  "tags" : [ {
    "name" : "samtykke-ekstern",
    "description" : "API for å opprette og slette nytt samtykke"
  } ],
  "paths" : {
    "/samtykke/api/v1/ekstern/{fiksOrgId}/aksepterSamtykkeForPart/{samtykkeId}" : {
      "put" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Aksepterer samtykke på vegne av part",
        "operationId" : "aksepterSamtykkeForPart",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AksepterForPartRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Aksepterte samtykke på vegne av part"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/ekstern/{fiksOrgId}/endreSamtykke/{samtykkeId}" : {
      "put" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Endrer samtykke",
        "operationId" : "endreSamtykke",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EndreSamtykkeRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Endret samtykke"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/ekstern/{fiksOrgId}/samtykkeHistorikk/{samtykkeId}" : {
      "get" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Returnerer historikk for samtykke",
        "operationId" : "getSamtykkeHistorikk",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SamtykkeHendelser"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/ekstern/{fiksOrgId}/invaliderSamtykke/{samtykkeId}" : {
      "put" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Invaliderer samtykke",
        "operationId" : "invaliderSamtykke",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InvaliderSamtykkeRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Invaliderte samtykke"
          },
          "default" : {
            "description" : "Noe gikk galt.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/ekstern/{fiksOrgId}/opprettsamtykke" : {
      "post" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Oppretter nytt samtykke",
        "operationId" : "opprettSamtykke",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettSamtykkeRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SamtykkeIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/ekstern/{fiksOrgId}/trekkSamtykkeForPart/{samtykkeId}" : {
      "put" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Trekker samtykke på vegne av part",
        "operationId" : "trekkSamtykkeForPart",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TrekkForPartRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Trakk samtykke på vegne av part"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "SamtykkeIdResponse" : {
        "required" : [ "samtykkeId" ],
        "type" : "object",
        "properties" : {
          "samtykkeId" : {
            "type" : "string",
            "description" : "Saksnummer knyttet til samtykket",
            "format" : "uuid"
          }
        }
      },
      "AksepterForPartRequest" : {
        "required" : [ "akseptDato", "partFnr", "saksbehandlerId" ],
        "type" : "object",
        "properties" : {
          "partFnr" : {
            "type" : "string",
            "description" : "Fnr til part som gir samtykke"
          },
          "akseptDato" : {
            "type" : "string",
            "description" : "Dato på ISO-8601 format som forteller når part aksepterte",
            "format" : "date"
          },
          "saksbehandlerId" : {
            "type" : "string",
            "description" : "Identifikator til saksbehandler som gir samtykke på vegne av part"
          },
          "fagsystem" : {
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "EndreSamtykkeRequest" : {
        "required" : [ "saksbehandlerId", "samtykkeFrist" ],
        "type" : "object",
        "properties" : {
          "samtykkeFrist" : {
            "type" : "string",
            "description" : "Dato på ISO-8601 format som forteller samtykkefrist for samtykket",
            "format" : "date"
          },
          "sluttDato" : {
            "type" : "string",
            "description" : "Dato på ISO-8601 format som forteller hvor lenge samtykket vil være gyldig",
            "format" : "date"
          },
          "saksbehandlerId" : {
            "type" : "string",
            "description" : "Identifikator til saksbehandler som endrer samtykke"
          }
        }
      },
      "SamtykkeHendelse" : {
        "required" : [ "hendelseType", "tidspunkt" ],
        "type" : "object",
        "properties" : {
          "hendelseType" : {
            "type" : "string",
            "description" : "Type hendelse på samtykke",
            "enum" : [ "OPPRETTET", "AKSEPTERT_AV_PART", "AVSLAATT_AV_PART", "AKSEPTERT_PAA_VEGNE_AV_PART", "REDIGERT", "SATT_UTGAATT_AV_BEHANDLER" ]
          },
          "hendelseBeskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av hendelsen"
          },
          "tidspunkt" : {
            "type" : "string",
            "description" : "Tidspunkt hendelsen inntraff",
            "format" : "date-time"
          }
        }
      },
      "SamtykkeHendelser" : {
        "type" : "object",
        "properties" : {
          "samtykkeHendelser" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SamtykkeHendelse"
            }
          }
        }
      },
      "InvaliderSamtykkeRequest" : {
        "required" : [ "saksbehandlerId" ],
        "type" : "object",
        "properties" : {
          "saksbehandlerId" : {
            "type" : "string",
            "description" : "Identifikator til saksbehandler som invaliderer samtykket"
          },
          "fagsystem" : {
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "begrunnelse" : {
            "type" : "string"
          }
        }
      },
      "Mappe" : {
        "type" : "object",
        "properties" : {
          "mappeId" : {
            "type" : "string"
          },
          "systemId" : {
            "type" : "string"
          },
          "saksaar" : {
            "type" : "integer",
            "format" : "int32"
          },
          "sakssekvensnummer" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "description" : "Informasjon om mappe knyttet til samtykket"
      },
      "OpprettSamtykkeRequest" : {
        "required" : [ "akseptfrist", "mappe", "personer", "sluttDato" ],
        "type" : "object",
        "properties" : {
          "personer" : {
            "$ref" : "#/components/schemas/Personer"
          },
          "mappe" : {
            "$ref" : "#/components/schemas/Mappe"
          },
          "akseptfrist" : {
            "type" : "string",
            "description" : "Dato på ISO-8601 format som forteller signeringsfrist for samtykke",
            "format" : "date"
          },
          "sluttDato" : {
            "type" : "string",
            "description" : "Dato på ISO-8601 format som forteller hvor lenge samtykket vil være gyldig",
            "format" : "date"
          },
          "samtykkeType" : {
            "type" : "string",
            "description" : "Type samtykke",
            "enum" : [ "BARNEVERN" ]
          }
        }
      },
      "Person" : {
        "required" : [ "fnr", "navn" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for person"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn for person"
          }
        }
      },
      "Personer" : {
        "type" : "object",
        "properties" : {
          "personer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Person"
            }
          }
        },
        "description" : "Personer som skal gi samtykke for sak"
      },
      "TrekkForPartRequest" : {
        "required" : [ "partFnr", "saksbehandlerId", "trukketDato" ],
        "type" : "object",
        "properties" : {
          "partFnr" : {
            "type" : "string",
            "description" : "Fnr til part som trekker samtykke"
          },
          "trukketDato" : {
            "type" : "string",
            "description" : "Dato på ISO-8601 format som forteller når part trakk samtykke",
            "format" : "date"
          },
          "saksbehandlerId" : {
            "type" : "string",
            "description" : "Identifikator til saksbehandler som trekker samtykke på vegne av part"
          },
          "fagsystem" : {
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      }
    }
  }
}