{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Samtykke",
    "description" : "Fiks Samtykke Ekstern service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://developers.fiks.ks.no",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks API test host"
  } ],
  "tags" : [ {
    "name" : "samtykke-ekstern",
    "description" : "API for å opprette og slette nytt samtykke"
  } ],
  "paths" : {
    "/samtykke/api/v1/ekstern/{fiksOrgId}/endreInnbyggertjenesteTilgangForPart/{samtykkeId}" : {
      "put" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Aksepterer samtykke på vegne av part",
        "operationId" : "endreInnbyggertjenesterTilgangForPart",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EndreInnbyggertjenesterTilgangForPartRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Endret tilgang til innbyggertjenester for part"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/ekstern/{fiksOrgId}/endreSamtykke/{samtykkeId}" : {
      "put" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Endrer samtykke",
        "operationId" : "endreSamtykke",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EndreSamtykkeRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Endret samtykke"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/ekstern/{fiksOrgId}/samtykkeHistorikk/{samtykkeId}" : {
      "get" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Returnerer historikk for samtykke",
        "operationId" : "getSamtykkeHistorikk",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SamtykkeHendelser"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/ekstern/{fiksOrgId}/oppdaterStatusForPart/{samtykkeId}" : {
      "put" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Oppdaterer samtykke-status på vegne av part",
        "operationId" : "oppdaterSamtykkeStatusForPart",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterStatusForPartRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdatert samtykke",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OppdatertSamtykke"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/ekstern/{fiksOrgId}/opprettsamtykke" : {
      "post" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Oppretter nytt samtykke",
        "operationId" : "opprettSamtykke",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettSamtykkeRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OppdatertSamtykke"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "OppdatertSamtykke" : {
        "required" : [ "samtykkeId", "sekvensnummer" ],
        "type" : "object",
        "properties" : {
          "samtykkeId" : {
            "type" : "string",
            "description" : "Saksnummer knyttet til samtykket",
            "format" : "uuid"
          },
          "sekvensnummer" : {
            "type" : "integer",
            "description" : "Sekvensnummer for handlingen",
            "format" : "int64"
          }
        }
      },
      "EndreInnbyggertjenesterTilgangForPartRequest" : {
        "required" : [ "partFnr", "saksbehandler", "skalHaTilgang" ],
        "type" : "object",
        "properties" : {
          "partFnr" : {
            "type" : "string",
            "description" : "Fnr til part som har endret tilgang til innbyggertjenester"
          },
          "skalHaTilgang" : {
            "type" : "boolean",
            "description" : "Skal innbygger få tilgang"
          },
          "saksbehandler" : {
            "$ref" : "#/components/schemas/Saksbehandler"
          }
        }
      },
      "Saksbehandler" : {
        "required" : [ "fagsystem", "saksbehandlerId" ],
        "type" : "object",
        "properties" : {
          "saksbehandlerId" : {
            "type" : "string",
            "description" : "Identifikator til saksbehandler"
          },
          "fagsystem" : {
            "type" : "string",
            "description" : "Info om fagsystem"
          }
        },
        "description" : "Info om saksbehandler som oppretter samtykke"
      },
      "DatoVerdi" : {
        "type" : "object",
        "properties" : {
          "dato" : {
            "type" : "string",
            "description" : "Dato på ISO-8601 format",
            "format" : "date"
          }
        },
        "description" : "Dato som forteller hvor lenge samtykket vil være gyldig"
      },
      "EndreSamtykkeRequest" : {
        "required" : [ "saksbehandler" ],
        "type" : "object",
        "properties" : {
          "svarfrist" : {
            "$ref" : "#/components/schemas/DatoVerdi"
          },
          "utlopsdato" : {
            "$ref" : "#/components/schemas/DatoVerdi"
          },
          "saksbehandler" : {
            "$ref" : "#/components/schemas/Saksbehandler"
          }
        }
      },
      "SamtykkeHendelse" : {
        "required" : [ "hendelseBeskrivelse", "hendelseType", "sekvensnummer", "tidspunkt" ],
        "type" : "object",
        "properties" : {
          "sekvensnummer" : {
            "type" : "integer",
            "description" : "Sekvensnummer for hendelsen",
            "format" : "int64"
          },
          "hendelseType" : {
            "type" : "string",
            "description" : "Type hendelse på samtykke",
            "enum" : [ "OPPRETTET", "AKSEPTERT_AV_PART", "AVSLAATT_AV_PART", "TRUKKET_AV_PART", "OPPDATERT_PAA_VEGNE_AV_PART", "ENDRET", "ENDRET_TILGANG_TIL_PART" ]
          },
          "hendelseBeskrivelse" : {
            "maxLength" : 500,
            "type" : "string",
            "description" : "Beskrivelse av hendelsen"
          },
          "tidspunkt" : {
            "type" : "string",
            "description" : "Dato på ISO-8601 format som forteller når hendelsen inntraff",
            "format" : "date-time"
          },
          "partFnr" : {
            "type" : "string",
            "description" : "Fnr til involvert part"
          },
          "saksbehandlerId" : {
            "type" : "string",
            "description" : "Id til involvert saksbehandler"
          },
          "fagsystem" : {
            "type" : "string",
            "description" : "Fagsystem benyttet av involvert saksbehandler"
          }
        }
      },
      "SamtykkeHendelser" : {
        "type" : "object",
        "properties" : {
          "samtykkeHendelser" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SamtykkeHendelse"
            }
          }
        }
      },
      "OppdaterStatusForPartRequest" : {
        "required" : [ "partFnr", "saksbehandler", "samtykkeSvarStatus" ],
        "type" : "object",
        "properties" : {
          "partFnr" : {
            "type" : "string",
            "description" : "Fnr til part som får oppdatert status"
          },
          "oppdatertDato" : {
            "type" : "string",
            "description" : "Dato på ISO-8601 format som forteller når status ble oppdatert",
            "format" : "date"
          },
          "saksbehandler" : {
            "$ref" : "#/components/schemas/Saksbehandler"
          },
          "samtykkeSvarStatus" : {
            "type" : "string",
            "description" : "Ny status for samtykke",
            "enum" : [ "VENTER_PAA_SVAR", "SAMTYKKET", "IKKE_SAMTYKKET", "TRUKKET" ]
          }
        }
      },
      "Mappe" : {
        "required" : [ "mappeId", "systemId" ],
        "type" : "object",
        "properties" : {
          "mappeId" : {
            "type" : "string",
            "description" : "ID for mappe tilknyttet samtykket"
          },
          "systemId" : {
            "type" : "string",
            "description" : "ID for system tilknyttet samtykket"
          },
          "saksaar" : {
            "type" : "integer",
            "description" : "Saksår tilknyttet samtykket",
            "format" : "int32"
          },
          "sakssekvensnummer" : {
            "type" : "integer",
            "description" : "Sakssekvensnummer tilknyttet samtykket",
            "format" : "int64"
          }
        },
        "description" : "Informasjon om mappe knyttet til samtykket"
      },
      "OpprettSamtykkeRequest" : {
        "required" : [ "mappe", "personer", "saksbehandler", "samtykkeNavn" ],
        "type" : "object",
        "properties" : {
          "samtykkeNavn" : {
            "maxLength" : 100,
            "type" : "string",
            "description" : "Navn på samtykket som skal opprettes"
          },
          "personer" : {
            "$ref" : "#/components/schemas/Personer"
          },
          "mappe" : {
            "$ref" : "#/components/schemas/Mappe"
          },
          "svarfrist" : {
            "type" : "string",
            "description" : "Dato på ISO-8601 format som forteller svarfrist for samtykke",
            "format" : "date"
          },
          "utlopsdato" : {
            "type" : "string",
            "description" : "Dato på ISO-8601 format som forteller hvor lenge samtykket vil være gyldig",
            "format" : "date"
          },
          "samtykkeType" : {
            "type" : "string",
            "description" : "Type samtykke",
            "enum" : [ "BARNEVERN" ]
          },
          "saksbehandler" : {
            "$ref" : "#/components/schemas/Saksbehandler"
          }
        }
      },
      "Person" : {
        "required" : [ "fnr", "harTilgangTilInnbyggerTjenester", "navn" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for person"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn for person"
          },
          "harTilgangTilInnbyggerTjenester" : {
            "type" : "boolean",
            "description" : "Har part tilgang til innbyggertjenester?"
          }
        }
      },
      "Personer" : {
        "type" : "object",
        "properties" : {
          "personer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Person"
            }
          }
        },
        "description" : "Personer som skal gi samtykke for sak"
      }
    }
  }
}