{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Fiks Melding: Send brev service",
    "description": "Send brev service",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Filer",
      "description": "API for bruk av Send brev - filer"
    },
    {
      "name": "Kontoer",
      "description": "API for bruk av Send brev - kontoer"
    },
    {
      "name": "Utsendelser",
      "description": "API for Send brev - utsendelser"
    },
    {
      "name": "Utsendelser pdf maler",
      "description": "API for Send brev - Pdf maler"
    },
    {
      "name": "Mottaker",
      "description": "API for Send brev - Søk på mottaker"
    }
  ],
  "paths": {
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/filer/{filId}": {
      "get": {
        "tags": [
          "Filer"
        ],
        "description": "Henter enkel utsendelseFil knyttet til utsendelse",
        "summary": "Henter enkel utsendelseFil knyttet til utsendelse",
        "operationId": "hentUtsendelseFil",
        "parameters": [
          {
            "name": "filId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Utsendelsefil for utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtsendelseFil"
                }
              }
            }
          },
          "400": {
            "description": "Ukjent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Filer"
        ],
        "description": "Slette utsendelse fil",
        "summary": "Slette utsendelse fil",
        "operationId": "slettUtsendelseFil",
        "parameters": [
          {
            "name": "filId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slette dokument for utsendelse"
          },
          "400": {
            "description": "Ukjent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/filer": {
      "get": {
        "tags": [
          "Filer"
        ],
        "description": "Henter ut en liste med utsendelseFiler koblet mot autorisert bruker",
        "summary": "Henter ut en liste med utsendelseFiler koblet mot autorisert bruker",
        "operationId": "hentUtsendelseFiler",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Utsendelsefiler for utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UtsendelseFil"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Filer"
        ],
        "description": "Laste opp utsendelseFiler",
        "summary": "Laste opp utsendelseFiler",
        "operationId": "lastOppFiler",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Last opp filer"
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/filer/zipfile": {
      "post": {
        "tags": [
          "Filer"
        ],
        "description": "Laste opp zipfil for utsendelse",
        "summary": "Laste opp zipfil for utsendelse",
        "operationId": "lastOppZip",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Last opp zipfil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtsendelseFiler"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/pdfmal/metadata": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Bruker mal på utsendelse",
        "summary": "Bruker mal på utsendelse",
        "operationId": "brukPdfExtractorConfig",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PdfExtractorConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Bruk mal på utsendelse"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/pdfmal/mottaker": {
      "get": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Genererer mottaker preview",
        "summary": "Genererer mottaker preview",
        "operationId": "genererMottakerPreview",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "testside",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generer mottaker preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mottaker"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/pdfmal/preview": {
      "get": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Genererer pdf preview",
        "summary": "Genererer pdf preview",
        "operationId": "genererPreview",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "testside",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generer pdf preview"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelseId}": {
      "get": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Hent utsendelse",
        "summary": "Hent utsendelse",
        "operationId": "hentUtsendelse",
        "parameters": [
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtsendelseRespons"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Oppdatere Utsendelse",
        "operationId": "oppdaterUtsendelse",
        "summary": "Oppdatere Utsendelse",
        "parameters": [
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterUtsendelseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Utsendelse oppdatert"
          },
          "400": {
            "description": "Ugyldig data for opprettelse av utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Oppretter ny utsendelse",
        "summary": "Oppretter ny utsendelse",
        "operationId": "opprettUtsendelse",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UtsendelseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Oppretter ny utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtsendelseRespons"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for opprettelse av utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Hent utsendelser bruker har tilgang på",
        "summary": "Hent utsendelser",
        "operationId": "hentUtsendelser",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseType",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Spesifiserer hvilken type utsendelse som skal hentes. ",
              "enum": [
                "KLADD",
                "UTKAST",
                "SENDT"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "utsendelser",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UtsendelseRespons"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/mottakere": {
      "get": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Henter ut en liste med mottakere koblet mot utsendelse",
        "summary": "Henter ut en liste med mottakere koblet mot utsendelse",
        "operationId": "hentMottakere",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mottakere for utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForsendelseMottaker"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Opprett mottaker",
        "summary": "Opprett mottaker",
        "operationId": "opprettMottaker",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MottakerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Opprett mottaker"
          },
          "400": {
            "description": "Ugyldig data for opprettelse av mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Slett alle mottakere knyttet mot utsendelseId",
        "summary": "Slett alle mottakere",
        "operationId": "slettMottakere",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slettet alle mottakere"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/mottakere/slett-mottakere": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Sletter liste med mottakere",
        "summary": "Sletter liste med mottakere",
        "operationId": "slettListeMottakere",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "MottakerId",
                  "format": "uuid"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Slettet mottaker"
          },
          "400": {
            "description": "Ugyldig data for opprettelse av mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/xlsmal": {
      "get": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Henter XLS mal for mottakere",
        "summary": "Henter XLS mal for mottakere",
        "operationId": "hentMottakerXlsMal",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent mottaker xls mal",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/xlsmal/mottakere": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Laster opp mottakere fra XLS mal",
        "summary": "Laster opp mottakere fra XLS mal",
        "operationId": "lastOppMottakerFraXls",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mottakere registrert"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/mottakere/{mottakerId}": {
      "put": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Oppdater mottaker",
        "summary": "Oppdater mottaker",
        "operationId": "oppdaterMottaker",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "mottakerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MottakerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Oppdater mottaker"
          },
          "400": {
            "description": "Ugyldig data for oppdatering av mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Slette mottakere som autorisert bruker har lagt til",
        "summary": "Slette mottakere som autorisert bruker har lagt til",
        "operationId": "sletteMottaker",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "mottakerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slette mottaker"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/status": {
      "get": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Henter status på utsendelse",
        "summary": "Henter status på utsendelse",
        "operationId": "hentStatus",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent status for utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtsendelseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/pdfmal/importer": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Importerer mottakere fra original pdf",
        "summary": "Importerer mottakere fra original pdf",
        "operationId": "importerPdf",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Importer mottakere"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/pdfmal/importexcel": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Laster opp original pdf",
        "summary": "Laster opp original pdf",
        "operationId": "lastOppImportExcel",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Last opp original excelfil"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/pdfmal/importpdf": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Laster opp original pdf",
        "summary": "Laster opp original pdf",
        "operationId": "lastOppImportPdf",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Last opp original pdf"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/start": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Starter utsendelse",
        "summary": "Starter utsendelse",
        "operationId": "startUtsendelse",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Start utsendelse"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/stopp": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Stopper utsendelse",
        "summary": "Stopper utsendelse",
        "operationId": "stoppUtsendelse",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Stopp utsendelse"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/mottaker": {
      "post": {
        "tags": [
          "Mottaker"
        ],
        "description": "Skal innehente mer informasjon tilknyttet mottaker, enten for person eller organisasjon",
        "summary": "Søker etter mer informasjon om mottaker",
        "operationId": "oppslag",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppslagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mottaker"
                }
              }
            }
          },
          "400": {
            "description": "Ukjent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/maler/{malId}": {
      "get": {
        "tags": [
          "Utsendelser pdf maler"
        ],
        "description": "Henter pdf mal",
        "summary": "Henter pdf mal",
        "operationId": "hentMal",
        "parameters": [
          {
            "name": "malId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent pdf mal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MalMetadataRespons"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen mal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Utsendelser pdf maler"
        ],
        "description": "Oppdaterer pdf mal",
        "summary": "Oppdaterer pdf mal",
        "operationId": "oppdaterMal",
        "parameters": [
          {
            "name": "malId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MalMetadataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Oppdater pdf mal"
          },
          "400": {
            "description": "Ugyldig data for oppdatering av pdf mal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Utsendelser pdf maler"
        ],
        "description": "Sletter pdf mal",
        "summary": "Sletter pdf mal",
        "operationId": "slettMal",
        "parameters": [
          {
            "name": "malId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slette pdf mal"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen mal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/maler": {
      "post": {
        "tags": [
          "Utsendelser pdf maler"
        ],
        "description": "Lagre pdf mal",
        "summary": "Lagre pdf mal",
        "operationId": "opprettMal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MalMetadataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Opprette pdf mal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MalMetadataRespons"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for mal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer": {
      "get": {
        "tags": [
          "Kontoer"
        ],
        "description": "Henter alle kontoer innlogget bruker har tilgang til",
        "summary": "Hent kontoer",
        "operationId": "hentKontoer",
        "responses": {
          "200": {
            "description": "Kontoer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KontoTilgang"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "UtsendelseFil": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "filnavn": {
            "type": "string"
          },
          "utsendelseId": {
            "type": "string",
            "format": "uuid"
          },
          "storrelse": {
            "type": "integer",
            "format": "int64"
          },
          "contentType": {
            "type": "string"
          },
          "dokumentLagerId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      },
      "UtsendelseFiler": {
        "type": "object",
        "properties": {
          "utsendelseFiler": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UtsendelseFil"
            }
          }
        }
      },
      "Box": {
        "type": "object",
        "required": [
          "lowerLeftX",
          "lowerLeftY",
          "upperRightX",
          "upperRightY"
        ],
        "properties": {
          "lowerLeftX": {
            "type": "integer",
            "format": "int32"
          },
          "lowerLeftY": {
            "type": "integer",
            "format": "int32"
          },
          "upperRightX": {
            "type": "integer",
            "format": "int32"
          },
          "upperRightY": {
            "type": "integer",
            "format": "int32"
          }
        },
        "description": "Pdf koordinater for sideseparator dersom ulikt antall sider pr utsendelse"
      },
      "PdfExtractorConfig": {
        "type": "object",
        "required": [
          "mottakerbox",
          "orgfnrbox",
          "brukeexcelmapping",
          "excelidcol",
          "excelorgfnrcol",
          "testside",
          "antallsider",
          "uliktAntallSider",
          "ignorereUliktAntallSider"
        ],
        "properties": {
          "mottakerbox": {
            "$ref": "#/components/schemas/Box"
          },
          "orgfnrbox": {
            "$ref": "#/components/schemas/Box"
          },
          "pageSpliterBox": {
            "$ref": "#/components/schemas/Box"
          },
          "brukeexcelmapping": {
            "type": "boolean",
            "description": "Bruke excel mapping for orgnr/fnr"
          },
          "excelidcol": {
            "type": "integer",
            "description": "Kolonne i excel for referanse",
            "format": "int32"
          },
          "excelorgfnrcol": {
            "type": "integer",
            "description": "Kolonne i excel for orgnr/fnr",
            "format": "int32"
          },
          "testside": {
            "type": "integer",
            "description": "Side for test av bokser",
            "format": "int32"
          },
          "antallsider": {
            "type": "integer",
            "description": "Antall sider per brev",
            "format": "int32"
          },
          "uliktAntallSider": {
            "type": "boolean",
            "description": "Om det er ulikt antall sider per utsendelse"
          },
          "ignorereUliktAntallSider": {
            "type": "boolean"
          },
          "pageSpliterText": {
            "type": "string",
            "description": "Side-separator tekst for ulikt antall sider per utsendelse"
          }
        },
        "description": "Config for PDF import"
      },
      "ForsendelseMottaker": {
        "required": [
          "postadresse",
          "mottakerId"
        ],
        "type": "object",
        "properties": {
          "orgNummer": {
            "pattern": "^[0-9]{9}$",
            "type": "string"
          },
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "mottakerId": {
            "type": "string",
            "description": "Unik id for mottaker",
            "format": "uuid"
          },
          "postadresse": {
            "$ref": "#/components/schemas/Postadresse"
          },
          "tittel": {
            "type": "string"
          },
          "filnavn": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Utsendelse status for mottaker",
            "enum": [
              "OPPRETTET",
              "UNDER_UTSENDING",
              "SENDT",
              "KLARTE_IKKE_SENDE"
            ]
          },
          "svarutForsendelseId": {
            "type": "string",
            "description": "Forsendelse-id mottatt fra SvarUt, etter utsending",
            "format": "uuid"
          }
        },
        "description": "Mottaker for utsendelse"
      },
      "Mottaker": {
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "orgNr": {
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          "postadresse": {
            "$ref": "#/components/schemas/Postadresse"
          }
        },
        "description": "Importert mottaker fra PDF"
      },
      "UtsendelseRespons": {
        "required": [
          "konto",
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "UtsendelsesID",
            "format": "uuid"
          },
          "konto": {
            "type": "string",
            "description": "KontoId",
            "format": "uuid"
          },
          "tittel": {
            "type": "string",
            "description": "Tittel"
          },
          "printKonfigurasjon": {
            "$ref": "#/components/schemas/Printkonfigurasjon"
          },
          "egendefinertReturAdresse": {
            "$ref": "#/components/schemas/ReturAdresse"
          },
          "kanSvarePaaUtsendelse": {
            "type": "boolean"
          },
          "utsendelseOpprettetDato": {
            "type": "string",
            "description": "Dato for opprettelse"
          },
          "utsendelseStartetDato": {
            "type": "string",
            "description": "Dato for startet"
          },
          "utsendelseFerdigDato": {
            "type": "string",
            "description": "Dato for sluttført"
          },
          "fletteUtsendelse": {
            "type": "boolean",
            "description": "Fletteutsendelse"
          },
          "kunDigitalLevering": {
            "type": "boolean",
            "description": "Kun digital levering"
          },
          "signeringsoppdrag": {
            "$ref": "#/components/schemas/Signeringsoppdrag"
          },
          "krevNiva4Innlogging": {
            "type": "boolean"
          },
          "konteringskode": {
            "type": "string",
            "description": "Konteringskoden identifiser hvilken intern faktureringskonto utsendelsen skal knyttes til."
          },
          "utsendelsestype": {
            "type": "string"
          }
        }
      },
      "Printkonfigurasjon": {
        "type": "object",
        "required": [
          "tosidig",
          "farge"
        ],
        "properties": {
          "tosidig": {
            "type": "boolean",
            "description": "Tosidig"
          },
          "farge": {
            "type": "boolean",
            "description": "Farge"
          }
        },
        "description": "Print konfigurasjon"
      },
      "Signeringsoppdrag": {
        "required": [
          "dokument",
          "type",
          "utlopsDato"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "AUTENTISERT_SIGNATUR",
              "AVANSERT_SIGNATUR"
            ]
          },
          "utlopsDato": {
            "type": "string",
            "description": "Må være satt minst en dag frem i tid",
            "format": "date"
          },
          "dokument": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ReturAdresse": {
        "required": [
          "postadresse"
        ],
        "type": "object",
        "properties": {
          "orgnr": {
            "type": "string",
            "description": "Organisasjons nummer. Uten orgnr kan svar bare sendes med fysisk post."
          },
          "postadresse": {
            "$ref": "#/components/schemas/Postadresse"
          }
        },
        "description": "Fysisk og digital retur adresse for en utsendelse. Postadressen er påkrevd og blir skrevet i brevet. Orgnr gjør at det er mulig å svare med eDialog."
      },
      "Postadresse": {
        "required": [
          "navn",
          "postnummer",
          "poststed"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "adresselinje1": {
            "type": "string"
          },
          "adresselinje2": {
            "type": "string"
          },
          "adresselinje3": {
            "type": "string"
          },
          "postnummer": {
            "type": "string"
          },
          "poststed": {
            "type": "string"
          },
          "land": {
            "type": "string"
          }
        },
        "description": "En adresse for fysisk post. Inkluderer land og opp til tre adresselinjer for å støtte C/O, postboks og adresser utenfor Norge"
      },
      "UtsendelseStatus": {
        "required": [
          "fremdrift",
          "id",
          "klarteIkkeSende",
          "mottakereSendt",
          "mottakereTotalt",
          "status"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Utsendelse ID",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "description": "Utsendelse status",
            "enum": [
              "UNDER_ARBEID",
              "STARTET",
              "STOPPET",
              "FERDIG",
              "FEIL"
            ]
          },
          "mottakereTotalt": {
            "type": "integer",
            "description": "Antall mottakere totalt",
            "format": "int32"
          },
          "mottakereSendt": {
            "type": "integer",
            "description": "Antall mottakere sendt",
            "format": "int32"
          },
          "klarteIkkeSende": {
            "type": "integer",
            "description": "Antall mottakere feilet",
            "format": "int32"
          },
          "fremdrift": {
            "type": "number",
            "description": "Utsendelse fremdrift",
            "format": "double"
          }
        }
      },
      "OppdaterUtsendelseRequest": {
        "required": [
          "konto",
          "tittel"
        ],
        "type": "object",
        "properties": {
          "konto": {
            "type": "string",
            "description": "Konto ID",
            "format": "uuid"
          },
          "tittel": {
            "type": "string",
            "description": "Tittel"
          },
          "printKonfigurasjon": {
            "$ref": "#/components/schemas/Printkonfigurasjon"
          },
          "egendefinertReturAdresse": {
            "$ref": "#/components/schemas/ReturAdresse"
          },
          "kanSvarePaaUtsendelse": {
            "type": "boolean"
          },
          "fletteUtsendelse": {
            "type": "boolean",
            "description": "Fletteutsendelse"
          },
          "kunDigitalLevering": {
            "type": "boolean"
          },
          "signeringsoppdrag": {
            "$ref": "#/components/schemas/Signeringsoppdrag"
          },
          "krevNiva4Innlogging": {
            "type": "boolean"
          },
          "konteringskode": {
            "maxLength": 20,
            "minLength": 0,
            "type": "string",
            "description": "Konteringskoden identifiser hvilken intern faktureringskonto utsendelsen skal knyttes til."
          },
          "utsendelsestype": {
            "type": "string"
          }
        }
      },
      "UtsendelseRequest": {
        "required": [
          "konto",
          "tittel"
        ],
        "type": "object",
        "properties": {
          "konto": {
            "type": "string",
            "description": "Konto ID",
            "format": "uuid"
          },
          "tittel": {
            "type": "string",
            "description": "Tittel"
          },
          "printKonfigurasjon": {
            "$ref": "#/components/schemas/Printkonfigurasjon"
          },
          "egendefinertReturAdresse": {
            "$ref": "#/components/schemas/ReturAdresse"
          },
          "kanSvarePaaUtsendelse": {
            "type": "boolean"
          },
          "fletteUtsendelse": {
            "type": "boolean",
            "description": "Fletteutsendelse"
          },
          "kunDigitalLevering": {
            "type": "boolean"
          },
          "signeringsoppdrag": {
            "$ref": "#/components/schemas/Signeringsoppdrag"
          },
          "krevNiva4Innlogging": {
            "type": "boolean"
          },
          "konteringskode": {
            "maxLength": 20,
            "minLength": 0,
            "type": "string",
            "description": "Konteringskoden identifiser hvilken intern faktureringskonto utsendelsen skal knyttes til."
          },
          "utsendelsestype": {
            "type": "string"
          }
        }
      },
      "MottakerRequest": {
        "required": [
          "postadresse"
        ],
        "type": "object",
        "properties": {
          "orgNummer": {
            "type": "string"
          },
          "fodselsnummer": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "tittel": {
            "type": "string"
          },
          "filnavn": {
            "type": "string"
          },
          "postadresse": {
            "$ref": "#/components/schemas/Postadresse"
          }
        },
        "description": "Modell for å opprette mottaker tilknyttet utsendelse"
      },
      "MalMetadataRespons": {
        "required": [
          "fiksOrgId",
          "id",
          "navn",
          "pdfExtractorConfig",
          "tilgjengeligFor"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Id for mal",
            "format": "uuid"
          },
          "tilgjengeligFor": {
            "type": "string",
            "description": "Hvem malen er tilgjengelig for",
            "enum": [
              "ALLE",
              "ORGANISASJON"
            ]
          },
          "fiksOrgId": {
            "type": "string",
            "description": "Fiks organisasjon id",
            "format": "uuid"
          },
          "navn": {
            "type": "string",
            "description": "Navn på mal"
          },
          "pdfExtractorConfig": {
            "$ref": "#/components/schemas/PdfExtractorConfig"
          }
        }
      },
      "MalMetadataRequest": {
        "required": [
          "fiksOrgId",
          "navn",
          "pdfExtractorConfig",
          "tilgjengeligFor"
        ],
        "type": "object",
        "properties": {
          "tilgjengeligFor": {
            "type": "string",
            "description": "Hvem malen er tilgjengelig for",
            "enum": [
              "ALLE",
              "ORGANISASJON"
            ]
          },
          "fiksOrgId": {
            "type": "string",
            "description": "Fiks organisasjon id",
            "format": "uuid"
          },
          "navn": {
            "type": "string",
            "description": "Navn på mal"
          },
          "pdfExtractorConfig": {
            "$ref": "#/components/schemas/PdfExtractorConfig"
          }
        },
        "description": "Metadata for opprettelse av pdf mal"
      },
      "OppslagRequest": {
        "type": "object",
        "properties": {
          "orgNummer": {
            "pattern": "^[0-9]{9}$",
            "type": "string"
          },
          "fodselsnummer": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          }
        },
        "description": "Request-objekt for å søke etter mottaker med organisasjonsnummer eller fødselsnummer. Må ha med enten organisasjonsnummer eller fødselsnummer."
      },
      "KontoTilgang": {
        "type": "object",
        "properties": {
          "kontoId": {
            "type": "string",
            "description": "KontoId",
            "format": "uuid"
          },
          "kontoNavn": {
            "type": "string",
            "description": "Navn på konto"
          }
        },
        "description": "En Send-brev konto som innlogget bruker har tilgang til"
      }
    }
  }
}