{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Fiks Melding: Send brev service",
    "description": "Send brev service",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Filer",
      "description": "API for bruk av Send brev - filer"
    },
    {
      "name": "Kontoer",
      "description": "API for bruk av Send brev - kontoer"
    },
    {
      "name": "Utsendelser",
      "description": "API for Send brev - utsendelser"
    },
    {
      "name": "Utsendelser pdf maler",
      "description": "API for Send brev - Pdf maler"
    },
    {
      "name": "Oppslag",
      "description": "API for Send brev - Oppslag mot folkeregister eller Brreg"
    },
    {
      "name": "Forsendelsestyper",
      "description": "API for Send brev - Hent forsendelsestyper"
    },
    {
      "name": "ImportPdf",
      "description": "API for Send brev - Import av PDF"
    },
    {
      "name": "Mottakere",
      "description": "API for Send brev - Mottakere"
    }
  ],
  "paths": {
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/filer/{filId}": {
      "get": {
        "tags": [
          "Filer"
        ],
        "description": "Henter enkel utsendelseFil knyttet til utsendelse",
        "summary": "Henter enkel utsendelseFil knyttet til utsendelse",
        "operationId": "hentUtsendelseFil",
        "parameters": [
          {
            "name": "filId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Utsendelsefil for utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtsendelseFil"
                }
              }
            }
          },
          "400": {
            "description": "Ukjent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Filer"
        ],
        "description": "Slette utsendelse fil",
        "summary": "Slette utsendelse fil",
        "operationId": "slettUtsendelseFil",
        "parameters": [
          {
            "name": "filId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slette dokument for utsendelse"
          },
          "400": {
            "description": "Ukjent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/filer": {
      "get": {
        "tags": [
          "Filer"
        ],
        "description": "Henter ut en liste med utsendelseFiler koblet mot autorisert bruker",
        "summary": "Henter ut en liste med utsendelseFiler koblet mot autorisert bruker",
        "operationId": "hentUtsendelseFiler",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Utsendelsefiler for utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UtsendelseFil"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Filer"
        ],
        "description": "Laste opp utsendelseFiler",
        "summary": "Laste opp utsendelseFiler",
        "operationId": "lastOppFiler",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Last opp filer"
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/filer/zipfile": {
      "post": {
        "tags": [
          "Filer"
        ],
        "description": "Laste opp zipfil for utsendelse",
        "summary": "Laste opp zipfil for utsendelse",
        "operationId": "lastOppZip",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Last opp zipfil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtsendelseFiler"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/pdfmal/metadata": {
      "post": {
        "tags": [
          "ImportPdf"
        ],
        "description": "Bruker mal på utsendelse",
        "summary": "Bruker mal på utsendelse",
        "operationId": "brukPdfExtractorConfig",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PdfExtractorConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Bruk mal på utsendelse"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/pdfmal/mottaker": {
      "get": {
        "tags": [
          "ImportPdf"
        ],
        "description": "Genererer mottaker preview",
        "summary": "Genererer mottaker preview",
        "operationId": "genererMottakerPreview",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "testside",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generer mottaker preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mottaker"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/pdfmal/preview": {
      "get": {
        "tags": [
          "ImportPdf"
        ],
        "description": "Genererer pdf preview",
        "summary": "Genererer pdf preview",
        "operationId": "genererPreview",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "testside",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generer pdf preview",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelseId}": {
      "get": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Hent utsendelse",
        "summary": "Hent utsendelse",
        "operationId": "hentUtsendelse",
        "parameters": [
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Utsendelse"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Oppdater Utsendelse",
        "operationId": "oppdaterUtsendelse",
        "summary": "Oppdater Utsendelse",
        "parameters": [
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterUtsendelseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Utsendelse oppdatert"
          },
          "400": {
            "description": "Ugyldig data for opprettelse av utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Slett utsendelse av type utkast",
        "summary": "Slett utsendelse",
        "operationId": "slettUtsendelse",
        "parameters": [
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slettet utsendelse"
          },
          "400": {
            "description": "Ugyldig utsendelsesType for sletting av utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/preview": {
      "get": {
        "tags": [
          "Filer"
        ],
        "description": "Genererer preview av brev",
        "summary": "Genererer pdf preview",
        "operationId": "genererPdfPreview",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generer pdf preview",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Oppretter ny utsendelse",
        "summary": "Oppretter ny utsendelse",
        "operationId": "opprettUtsendelse",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Opprettet ny utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpprettetUtsendelse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for opprettelse av utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Hent utsendelser tilknyttet en konto",
        "summary": "Hent utsendelser",
        "operationId": "hentUtsendelser",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseType",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Spesifiserer hvilken type utsendelse som skal hentes. ",
              "enum": [
                "UTKAST",
                "SENDT"
              ]
            }
          },
          {
            "name": "sidenummer",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "antallPerSide",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "utsendelser",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Utsendelser"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/opplastingsmetoder/{mottakerOpplastingsmetode}": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Setter opplastingsmetode for mottakere for utsendelsen",
        "summary": "Setter opplastingsmetode for utsendelsen",
        "operationId": "settMottakerOpplastingsmetode",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "mottakerOpplastingsmetode",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MottakerOpplastingsmetode"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Endret opplastingsmetode for mottaker"
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/mottakere": {
      "get": {
        "tags": [
          "Mottakere"
        ],
        "description": "Henter ut en liste med mottakere koblet mot utsendelse",
        "summary": "Henter ut en liste med mottakere koblet mot utsendelse",
        "operationId": "hentMottakere",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mottakere for utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForsendelseMottaker"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Mottakere"
        ],
        "description": "Opprett mottaker",
        "summary": "Opprett mottaker",
        "operationId": "opprettMottaker",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MottakerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Opprett mottaker"
          },
          "400": {
            "description": "Ugyldig data for opprettelse av mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Mottakere"
        ],
        "description": "Slett alle mottakere knyttet mot utsendelseId",
        "summary": "Slett alle mottakere",
        "operationId": "slettMottakere",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slettet alle mottakere"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/mottakere/sok": {
      "post": {
        "tags": [
          "Mottakere"
        ],
        "description": "Finner mottakere for utsendelsen basert på søkekriterier",
        "summary": "Finner mottakere for utsendelsen",
        "operationId": "finnMottakere",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sidenummer",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "antallPerSide",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MottakerSokRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Treff på søk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MottakerSokResponse"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/mottakere/slett-mottakere": {
      "post": {
        "tags": [
          "Mottakere"
        ],
        "description": "Sletter liste med mottakere",
        "summary": "Sletter liste med mottakere",
        "operationId": "slettListeMottakere",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MottakerListe"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Slettet mottaker"
          },
          "400": {
            "description": "Ugyldig data for opprettelse av mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/xlsmal": {
      "get": {
        "tags": [
          "Mottakere"
        ],
        "description": "Henter XLS mal for mottakere",
        "summary": "Henter XLS mal for mottakere",
        "operationId": "hentMottakerXlsMal",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent mottaker xls mal",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/xlsmal/mottakere": {
      "post": {
        "tags": [
          "Mottakere"
        ],
        "description": "Laster opp mottakere fra XLS mal",
        "summary": "Laster opp mottakere fra XLS mal",
        "operationId": "lastOppMottakerFraXls",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mottakere registrert"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/mottakere/{mottakerId}": {
      "put": {
        "tags": [
          "Mottakere"
        ],
        "description": "Oppdater mottaker",
        "summary": "Oppdater mottaker",
        "operationId": "oppdaterMottaker",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "mottakerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MottakerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Oppdater mottaker"
          },
          "400": {
            "description": "Ugyldig data for oppdatering av mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Mottakere"
        ],
        "description": "Slette mottaker",
        "summary": "Slette mottaker",
        "operationId": "sletteMottaker",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "mottakerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slette mottaker"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/fremdrift": {
      "get": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Henter fremdrift for utsendelse",
        "summary": "Henter fremdrift for startet utsendelse",
        "operationId": "hentFremdrift",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent fremdrift for utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtsendelseFremdrift"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/pdfmal/importer": {
      "post": {
        "tags": [
          "ImportPdf"
        ],
        "description": "Importerer mottakere fra original pdf",
        "summary": "Importerer mottakere fra original pdf",
        "operationId": "importerPdf",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Importer mottakere"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/pdfmal/importexcel": {
      "post": {
        "tags": [
          "ImportPdf"
        ],
        "description": "Laster opp original pdf",
        "summary": "Laster opp original pdf",
        "operationId": "lastOppImportExcel",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Last opp original excelfil"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/pdfmal/importpdf": {
      "post": {
        "tags": [
          "ImportPdf"
        ],
        "description": "Laster opp original pdf",
        "summary": "Laster opp original pdf",
        "operationId": "lastOppImportPdf",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Last opp original pdf"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/start": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Starter utsendelse",
        "summary": "Starter utsendelse",
        "operationId": "startUtsendelse",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Start utsendelse"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/stopp": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Stopper utsendelse",
        "summary": "Stopper utsendelse",
        "operationId": "stoppUtsendelse",
        "parameters": [
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Stopp utsendelse"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelse/{utsendelsesId}/oppslag": {
      "post": {
        "tags": [
          "Oppslag"
        ],
        "description": "Oppslag på person mot folkeregister eller på organisasjon mot Brreg",
        "summary": "Oppslag basert på fødselsnummer eller organisasjon",
        "operationId": "oppslag",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelsesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppslagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OppslagResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/maler/{malId}": {
      "get": {
        "tags": [
          "Utsendelser pdf maler"
        ],
        "description": "Henter pdf mal",
        "summary": "Henter pdf mal",
        "operationId": "hentMal",
        "parameters": [
          {
            "name": "malId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent pdf mal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MalMetadataRespons"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen mal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Utsendelser pdf maler"
        ],
        "description": "Oppdaterer pdf mal",
        "summary": "Oppdaterer pdf mal",
        "operationId": "oppdaterMal",
        "parameters": [
          {
            "name": "malId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MalMetadataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Oppdater pdf mal"
          },
          "400": {
            "description": "Ugyldig data for oppdatering av pdf mal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Utsendelser pdf maler"
        ],
        "description": "Sletter pdf mal",
        "summary": "Sletter pdf mal",
        "operationId": "slettMal",
        "parameters": [
          {
            "name": "malId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slette pdf mal"
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen mal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/maler": {
      "post": {
        "tags": [
          "Utsendelser pdf maler"
        ],
        "description": "Lagre pdf mal",
        "summary": "Lagre pdf mal",
        "operationId": "opprettMal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MalMetadataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Opprette pdf mal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MalMetadataRespons"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for mal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/forsendelsestyper": {
      "get": {
        "tags": [
          "Forsendelsestyper"
        ],
        "description": "Henter forsendelsestyper",
        "summary": "Henter forsendelsestyper",
        "operationId": "hentForsendelsestyper",
        "responses": {
          "200": {
            "description": "Hent forsendelsestyper",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forsendelsestyper"
                }
              }
            }
          },
          "404": {
            "description": "Ingen forsendelsestyper",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer": {
      "get": {
        "tags": [
          "Kontoer"
        ],
        "description": "Henter alle kontoer innlogget bruker har tilgang til",
        "summary": "Hent kontoer",
        "operationId": "hentKontoer",
        "responses": {
          "200": {
            "description": "Kontoer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KontoTilgang"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}": {
      "get": {
        "tags": [
          "Kontoer"
        ],
        "description": "Henter utfyllende informasjon om en konto innlogget bruker har tilgang til",
        "summary": "Hent konto",
        "operationId": "hentKonto",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Konto"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "MottakerOpplastingsmetode": {
        "type": "string",
        "description": "Hvilken opplastingsmetode som er valgt for mottakere",
        "enum": [
          "XLS",
          "MANUELL",
          "FERDIG_ADRESSERT",
          "IKKE_VALGT"
        ]
      },
      "Filbehandlingsmetode": {
        "type": "string",
        "description": "Hvilken behandlingsmetode er valgt for opplasting av fil",
        "enum": [
          "STANDARD",
          "FERDIG_ADRESSERT",
          "IKKE_VALGT"
        ]
      },
      "Steg": {
        "type": "string",
        "description": "Steg i stepper",
        "enum": [
          "START",
          "AVSENDER_OG_SVAR",
          "BREVET",
          "MOTTAKERE",
          "AVANSERTE_VALG",
          "KONTROLLER_OG_SEND",
          "IKKE_VALGT"
        ]
      },
      "Utsendelsesmetode": {
        "type": "string",
        "description": "Hvordan brevet skal sendes",
        "enum": [
          "STANDARD",
          "KUN_DIGITAL",
          "KUN_PRINT"
        ]
      },
      "MottakerStatistikk": {
        "type": "object",
        "required": [
          "sendtSvarut",
          "totalt",
          "klarteIkkSende",
          "avvistAvSvarut"
        ],
        "description": "Statistikk for mottakere som er under utsendelse",
        "properties": {
          "totalt": {
            "type": "integer",
            "description": "Antall mottakere totalt",
            "format": "int32"
          },
          "sendtSvarut": {
            "type": "integer",
            "description": "Antall mottakere sendt",
            "format": "int32"
          },
          "klarteIkkeSende": {
            "type": "integer",
            "description": "Antall mottakere feilet - disse kan forsøkes på nytt og kommer av 500-feil mot Svarut.",
            "format": "int32"
          },
          "avvistAvSvarut": {
            "type": "integer",
            "description": "Antall mottakere som er blitt avvist mot Svarut.",
            "format": "int32"
          }
        }
      },
      "UtsendelseStatusType": {
        "type": "string",
        "description": "Utsendelse status. Utsendelser med status FEIL indikerer at noe har gått galt med noen av forsendelsene. ",
        "enum": [
          "UNDER_ARBEID",
          "STARTET",
          "STOPPET",
          "FERDIG",
          "FEIL"
        ]
      },
      "UtsendelseFil": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "filnavn": {
            "type": "string"
          },
          "storrelse": {
            "type": "integer",
            "format": "int64"
          },
          "contentType": {
            "type": "string"
          }
        }
      },
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      },
      "UtsendelseFiler": {
        "type": "object",
        "properties": {
          "utsendelseFiler": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UtsendelseFil"
            }
          }
        }
      },
      "Box": {
        "type": "object",
        "required": [
          "lowerLeftX",
          "lowerLeftY",
          "upperRightX",
          "upperRightY"
        ],
        "properties": {
          "lowerLeftX": {
            "type": "integer",
            "format": "int32"
          },
          "lowerLeftY": {
            "type": "integer",
            "format": "int32"
          },
          "upperRightX": {
            "type": "integer",
            "format": "int32"
          },
          "upperRightY": {
            "type": "integer",
            "format": "int32"
          }
        },
        "description": "Pdf koordinater for sideseparator dersom ulikt antall sider pr utsendelse"
      },
      "MottakerListe": {
        "type": "object",
        "required": [
          "mottakere"
        ],
        "properties": {
          "mottakere": {
            "type": "array",
            "minItems": 1,
            "description": "Liste med id'er til mottakere som skal slettes fra utsendelse",
            "items": {
              "type": "string",
              "description": "Id til mottaker",
              "format": "uuid"
            }
          }
        }
      },
      "PdfExtractorConfig": {
        "type": "object",
        "required": [
          "mottakerbox",
          "orgfnrbox",
          "brukeexcelmapping",
          "excelidcol",
          "excelorgfnrcol",
          "testside",
          "antallsider",
          "uliktAntallSider",
          "ignorereUliktAntallSider"
        ],
        "properties": {
          "mottakerbox": {
            "$ref": "#/components/schemas/Box"
          },
          "orgfnrbox": {
            "$ref": "#/components/schemas/Box"
          },
          "pageSpliterBox": {
            "$ref": "#/components/schemas/Box"
          },
          "brukeexcelmapping": {
            "type": "boolean",
            "description": "Bruke excel mapping for organisasjonsnummer/fødselsnummer"
          },
          "excelidcol": {
            "type": "integer",
            "description": "Kolonne i excel for referanse",
            "format": "int32"
          },
          "excelorgfnrcol": {
            "type": "integer",
            "description": "Kolonne i excel for organisasjonsnummer/fødselsnummer",
            "format": "int32"
          },
          "testside": {
            "type": "integer",
            "description": "Side for test av bokser",
            "format": "int32"
          },
          "antallsider": {
            "type": "integer",
            "description": "Antall sider per brev",
            "format": "int32"
          },
          "uliktAntallSider": {
            "type": "boolean",
            "description": "Om det er ulikt antall sider per utsendelse"
          },
          "ignorereUliktAntallSider": {
            "type": "boolean"
          },
          "pageSpliterText": {
            "type": "string",
            "description": "Side-separator tekst for ulikt antall sider per utsendelse"
          }
        },
        "description": "Config for PDF import"
      },
      "ForsendelseMottaker": {
        "required": [
          "postadresse",
          "mottakerId"
        ],
        "type": "object",
        "properties": {
          "organisasjonsnummer": {
            "pattern": "^[0-9]{9}$",
            "type": "string"
          },
          "fodselsnummer": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "mottakerId": {
            "type": "string",
            "description": "Unik id for mottaker",
            "format": "uuid"
          },
          "postadresse": {
            "$ref": "#/components/schemas/Postadresse"
          },
          "tittel": {
            "type": "string"
          },
          "filnavn": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Utsendelse status for mottaker",
            "enum": [
              "OPPRETTET",
              "UNDER_UTSENDING",
              "SENDT",
              "KLARTE_IKKE_SENDE"
            ]
          },
          "svarutForsendelseId": {
            "type": "string",
            "description": "Forsendelse-id mottatt fra SvarUt, etter utsending",
            "format": "uuid"
          }
        },
        "description": "Mottaker for utsendelse"
      },
      "Mottaker": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "fodselsnummer": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "organisasjonsnummer": {
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          "postadresse": {
            "$ref": "#/components/schemas/Postadresse"
          },
          "status": {
            "type": "string",
            "description": "Status på mottaker",
            "enum": [
              "GYLDIG",
              "UGYLDIG_IDENTIFIKATOR",
              "PERSON_ER_DOD",
              "DUPLIKAT"
            ]
          }
        },
        "description": "Mottaker som er lagt til utsendelse",
        "required": [
          "id",
          "postadresse"
        ]
      },
      "OppslagResponse": {
        "type": "object",
        "properties": {
          "fodselsnummer": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "organisasjonsnummer": {
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          "postadresse": {
            "type": "object",
            "properties": {
              "navn": {
                "type": "string"
              },
              "adresselinje1": {
                "type": "string"
              },
              "adresselinje2": {
                "type": "string"
              },
              "adresselinje3": {
                "type": "string"
              },
              "postnummer": {
                "type": "string"
              },
              "poststed": {
                "type": "string"
              },
              "land": {
                "type": "string"
              }
            },
            "description": "Adresse for brevpost"
          },
          "status": {
            "type": "string",
            "description": "Status på oppslag",
            "enum": [
              "FUNNET",
              "IKKE_FUNNET",
              "UGYLDIG_IDENTIFIKATOR",
              "PERSON_ER_DOD",
              "DUPLIKAT"
            ]
          }
        },
        "description": "Informasjon om mottaker hentet fra enhetsregisteret eller folkeregisteret"
      },
      "Utsendelser": {
        "required": [
          "sidenummer",
          "antallPerSide",
          "totaltAntallTreff",
          "antallTreff",
          "treff"
        ],
        "type": "object",
        "properties": {
          "sidenummer": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert sidenummer"
          },
          "antallPerSide": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert antall treff per side"
          },
          "totaltAntallTreff": {
            "type": "integer",
            "format": "int32",
            "description": "Det totale antallet treff uten paginering"
          },
          "antallTreff": {
            "type": "integer",
            "format": "int32",
            "description": "Antall treff på denne siden"
          },
          "treff": {
            "type": "array",
            "description": "Utsendelsene som samsvarer ",
            "items": {
              "$ref": "#/components/schemas/Utsendelse"
            }
          }
        },
        "description": "Modell med søketreff for mottakere"
      },
      "Utsendelse": {
        "required": [
          "konto",
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "UtsendelsesID",
            "format": "uuid"
          },
          "kontoId": {
            "type": "string",
            "description": "KontoId",
            "format": "uuid"
          },
          "tittel": {
            "type": "string",
            "description": "Tittel"
          },
          "printKonfigurasjon": {
            "$ref": "#/components/schemas/Printkonfigurasjon"
          },
          "egendefinertReturAdresse": {
            "$ref": "#/components/schemas/ReturAdresse"
          },
          "brukEgendefinertReturAdresse": {
            "type": "boolean",
            "description": "Bruk egendefinert returadresse"
          },
          "kanSvarePaaUtsendelse": {
            "type": "boolean"
          },
          "opprettetDato": {
            "type": "string",
            "description": "Dato for opprettelse av utsendelse",
            "format": "date-time"
          },
          "startetDato": {
            "type": "string",
            "description": "Dato for når utsendelse vart startet",
            "format": "date-time"
          },
          "ferdigDato": {
            "type": "string",
            "description": "Dato for når utsendelse vart ferdigstilt",
            "format": "date-time"
          },
          "sistEndretDato": {
            "type": "string",
            "description": "Dato for når utsendelse vart sist endret",
            "format": "date-time"
          },
          "fletteUtsendelse": {
            "type": "boolean",
            "description": "Fletteutsendelse"
          },
          "signeringsoppdrag": {
            "$ref": "#/components/schemas/Signeringsoppdrag"
          },
          "krevNiva4Innlogging": {
            "type": "boolean"
          },
          "konteringskode": {
            "type": "string",
            "description": "Konteringskoden identifiser hvilken intern faktureringskonto utsendelsen skal knyttes til."
          },
          "forsendelsestype": {
            "type": "string"
          },
          "mottakerOpplastingsmetode": {
            "$ref": "#/components/schemas/MottakerOpplastingsmetode"
          },
          "filbehandlingsmetode": {
            "$ref": "#/components/schemas/Filbehandlingsmetode"
          },
          "sisteGyldigeSteg": {
            "$ref": "#/components/schemas/Steg"
          },
          "status": {
            "$ref": "#/components/schemas/UtsendelseStatusType"
          },
          "antallMottakere": {
            "type": "integer",
            "description": "Antall mottakere",
            "format": "int32"
          },
          "opprettetAv": {
            "type": "string",
            "description": "Bruker som opprettet utsendelsen"
          },
          "sendtAv": {
            "type": "string",
            "description": "Bruker som startet utsendelsen"
          },
          "giroArk": {
            "type": "integer",
            "format": "int32",
            "description": "Sidetall for giroark"
          },
          "utsendelsesmetode": {
            "$ref": "#/components/schemas/Utsendelsesmetode"
          },
          "mottakerStatistikk": {
            "$ref": "#/components/schemas/MottakerStatistikk"
          }
        }
      },
      "OpprettetUtsendelse": {
        "required": [
          "id",
          "kontoId",
          "opprettetDato"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID for opprettet utsendelse",
            "format": "uuid"
          },
          "kontoId": {
            "type": "string",
            "description": "ID til kontoen utsendelsen tilhører",
            "format": "uuid"
          },
          "opprettetDato": {
            "type": "string",
            "description": "Dato for opprettelse",
            "format": "date-time"
          }
        }
      },
      "Printkonfigurasjon": {
        "type": "object",
        "required": [
          "tosidig",
          "farge"
        ],
        "properties": {
          "tosidig": {
            "type": "boolean",
            "description": "Tosidig"
          },
          "farge": {
            "type": "boolean",
            "description": "Farge"
          }
        },
        "description": "Print konfigurasjon"
      },
      "Signeringsoppdrag": {
        "required": [
          "dokument",
          "type",
          "utlopsDato"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "AUTENTISERT_SIGNATUR",
              "AVANSERT_SIGNATUR"
            ]
          },
          "utlopsDato": {
            "type": "string",
            "description": "Må være satt minst en dag frem i tid",
            "format": "date"
          },
          "dokument": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ReturAdresse": {
        "required": [
          "postadresse"
        ],
        "type": "object",
        "properties": {
          "organisasjonsnummer": {
            "type": "string",
            "description": "Organisasjons nummer. Uten organisasjonsnummer kan svar bare sendes med fysisk post."
          },
          "postadresse": {
            "$ref": "#/components/schemas/Postadresse"
          }
        },
        "description": "Fysisk og digital retur adresse for en utsendelse. Postadressen er påkrevd og blir skrevet i brevet. Organisasjonsnummer gjør at det er mulig å svare med eDialog."
      },
      "Postadresse": {
        "required": [
          "navn",
          "postnummer",
          "poststed"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "adresselinje1": {
            "type": "string"
          },
          "adresselinje2": {
            "type": "string"
          },
          "adresselinje3": {
            "type": "string"
          },
          "postnummer": {
            "type": "string"
          },
          "poststed": {
            "type": "string"
          },
          "land": {
            "type": "string"
          }
        },
        "description": "En adresse for fysisk post. Inkluderer land og opp til tre adresselinjer for å støtte C/O, postboks og adresser utenfor Norge"
      },
      "UtsendelseFremdrift": {
        "required": [
          "fremdriftsrate",
          "id",
          "mottakerStatistikk",
          "status"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Utsendelse ID",
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/UtsendelseStatusType"
          },
          "mottakerStatistikk": {
            "$ref": "#/components/schemas/MottakerStatistikk"
          },
          "fremdriftsrate": {
            "type": "number",
            "description": "Fremdriftsrate for utsendelsen",
            "format": "double"
          }
        }
      },
      "OppdaterUtsendelseRequest": {
        "type": "object",
        "properties": {
          "tittel": {
            "type": "string",
            "description": "Tittel"
          },
          "printKonfigurasjon": {
            "$ref": "#/components/schemas/Printkonfigurasjon"
          },
          "egendefinertReturAdresse": {
            "$ref": "#/components/schemas/ReturAdresse"
          },
          "kanSvarePaaUtsendelse": {
            "type": "boolean"
          },
          "fletteUtsendelse": {
            "type": "boolean",
            "description": "Fletteutsendelse"
          },
          "signeringsoppdrag": {
            "$ref": "#/components/schemas/Signeringsoppdrag"
          },
          "krevNiva4Innlogging": {
            "type": "boolean"
          },
          "konteringskode": {
            "maxLength": 20,
            "minLength": 0,
            "type": "string",
            "description": "Konteringskoden identifiser hvilken intern faktureringskonto utsendelsen skal knyttes til."
          },
          "forsendelsestype": {
            "type": "string"
          },
          "utsendelsesmetode": {
            "$ref": "#/components/schemas/Utsendelsesmetode"
          },
          "giroArk": {
            "type": "integer",
            "format": "int32",
            "description": "Sidetall for giroark"
          },
          "sisteGyldigeSteg": {
            "$ref": "#/components/schemas/Steg"
          }
        }
      },
      "MottakerRequest": {
        "required": [
          "postadresse"
        ],
        "type": "object",
        "properties": {
          "organisasjonsnummer": {
            "type": "string"
          },
          "fodselsnummer": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "tittel": {
            "type": "string"
          },
          "filnavn": {
            "type": "string"
          },
          "postadresse": {
            "$ref": "#/components/schemas/Postadresse"
          }
        },
        "description": "Modell for å opprette mottaker tilknyttet utsendelse"
      },
      "MottakerSokRequest": {
        "type": "object",
        "properties": {
          "soketerm": {
            "type": "string",
            "description": "Søketerm for søk på navn, adresse, osv."
          },
          "kunMedFeil": {
            "type": "boolean",
            "description": "Dersom denne settes til true vil kun mottakere med feil returneres"
          }
        },
        "description": "Modell for å søke etter mottakere"
      },
      "MottakerSokResponse": {
        "required": [
          "sidenummer",
          "antallPerSide",
          "totaltAntallTreff",
          "treff"
        ],
        "type": "object",
        "properties": {
          "sidenummer": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert sidenummer"
          },
          "antallPerSide": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert antall treff per side"
          },
          "totaltAntallTreff": {
            "type": "integer",
            "format": "int32",
            "description": "Det totale antallet treff uten paginering"
          },
          "antallValidertOk": {
            "type": "integer",
            "format": "int32",
            "description": "Antall mottakere som er validert ok"
          },
          "antallValidertFeil": {
            "type": "integer",
            "format": "int32",
            "description": "Antall mottakere som er validert med feil"
          },
          "antallTreff": {
            "type": "integer",
            "format": "int32",
            "description": "Antall treff på denne siden"
          },
          "treff": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Mottaker"
            }
          }
        },
        "description": "Modell med søketreff for mottakere"
      },
      "MalMetadataRespons": {
        "required": [
          "fiksOrgId",
          "id",
          "navn",
          "pdfExtractorConfig",
          "tilgjengeligFor"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Id for mal",
            "format": "uuid"
          },
          "tilgjengeligFor": {
            "type": "string",
            "description": "Hvem malen er tilgjengelig for",
            "enum": [
              "ALLE",
              "ORGANISASJON"
            ]
          },
          "fiksOrgId": {
            "type": "string",
            "description": "Fiks organisasjon id",
            "format": "uuid"
          },
          "navn": {
            "type": "string",
            "description": "Navn på mal"
          },
          "pdfExtractorConfig": {
            "$ref": "#/components/schemas/PdfExtractorConfig"
          }
        }
      },
      "MalMetadataRequest": {
        "required": [
          "fiksOrgId",
          "navn",
          "pdfExtractorConfig",
          "tilgjengeligFor"
        ],
        "type": "object",
        "properties": {
          "tilgjengeligFor": {
            "type": "string",
            "description": "Hvem malen er tilgjengelig for",
            "enum": [
              "ALLE",
              "ORGANISASJON"
            ]
          },
          "fiksOrgId": {
            "type": "string",
            "description": "Fiks organisasjon id",
            "format": "uuid"
          },
          "navn": {
            "type": "string",
            "description": "Navn på mal"
          },
          "pdfExtractorConfig": {
            "$ref": "#/components/schemas/PdfExtractorConfig"
          }
        },
        "description": "Metadata for opprettelse av pdf mal"
      },
      "OppslagRequest": {
        "type": "object",
        "properties": {
          "organisasjonsnummer": {
            "pattern": "^[0-9]{9}$",
            "type": "string"
          },
          "fodselsnummer": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          }
        },
        "description": "Request-objekt for å søke etter mottaker med organisasjonsnummer eller fødselsnummer. Må ha med enten organisasjonsnummer eller fødselsnummer."
      },
      "KontoTilgang": {
        "type": "object",
        "properties": {
          "kontoId": {
            "type": "string",
            "description": "KontoId",
            "format": "uuid"
          },
          "kontoNavn": {
            "type": "string",
            "description": "Navn på konto"
          }
        },
        "description": "En Send-brev konto som innlogget bruker har tilgang til"
      },
      "Konto": {
        "type": "object",
        "properties": {
          "kontoId": {
            "type": "string",
            "description": "KontoId",
            "format": "uuid"
          },
          "kontoNavn": {
            "type": "string",
            "description": "Navn på konto"
          },
          "signeringAktivert": {
            "type": "boolean",
            "description": "Er signeringsløsningen aktivert på konto"
          },
          "returAdresse": {
            "$ref": "#/components/schemas/ReturAdresse"
          },
          "print": {
            "type": "string",
            "description": "Hvilken print-konfigurasjon er kontoen satt opp med.",
            "enum": [
              "AUTOMATISK_PRINT",
              "MANUELL_PRINT"
            ]
          },
          "folkeregisterAktivert": {
            "type": "boolean",
            "description": "Om folkeregister er aktivert for Fiks Melding for organisasjon."
          }
        },
        "description": "En Send-brev konto som innlogget bruker har tilgang til"
      },
      "Forsendelsestyper": {
        "required": [
          "forsendelsestyper"
        ],
        "type": "object",
        "properties": {
          "forsendelsestyper": {
            "uniqueItems": true,
            "type": "array",
            "description": "Liste med alle eksisterende forsendelsestyper",
            "items": {
              "type": "string",
              "description": "Liste med alle eksisterende forsendelsestyper"
            }
          }
        }
      }
    }
  }
}