{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Smittevern Konfigurasjon Service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "SmittevernKonfigurasjonBrukere",
    "description" : "API for konfigurasjon av Smittevern"
  }, {
    "name" : "SmittevernKonfigurasjonOrganisasjoner",
    "description" : "API for konfigurasjon av Fiks smittevern"
  } ],
  "paths" : {
    "/smittevern-konfigurasjon/api/v1/brukere/sok" : {
      "post" : {
        "tags" : [ "SmittevernKonfigurasjonBrukere" ],
        "description" : "Søker etter en bruker i Fiks smittevern for Fiksorg",
        "operationId" : "brukerSok",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BrukerSok"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrukerSokResponse"
                }
              }
            }
          }
        }
      }
    },
    "/smittevern-konfigurasjon/api/v1/brukere/{brukerId}/organisasjoner/{fiksOrganisasjonId}" : {
      "get" : {
        "tags" : [ "SmittevernKonfigurasjonBrukere" ],
        "description" : "Finner informasjon om en bruker i Fiks smittevern",
        "operationId" : "hentBruker",
        "parameters" : [ {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z][A-Za-z0-9]{10}$",
            "type" : "string"
          }
        }, {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HentBrukerResultat"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "SmittevernKonfigurasjonBrukere" ],
        "description" : "Oppdaterer en eksisterende bruker i Fiks smittevern.",
        "operationId" : "oppdaterBruker",
        "parameters" : [ {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z][A-Za-z0-9]{10}$",
            "type" : "string"
          }
        }, {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterBrukerRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OppdaterBrukerResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "SmittevernKonfigurasjonBrukere" ],
        "description" : "Fjerner en bruker i DHIS2 for gitt Fiks-organisasjon",
        "operationId" : "fjernTilgang",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z][A-Za-z0-9]{10}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          }
        }
      }
    },
    "/smittevern-konfigurasjon/api/v1/brukere/{brukerId}/organisasjoner/{fiksOrganisasjonId}/importer" : {
      "put" : {
        "tags" : [ "SmittevernKonfigurasjonBrukere" ],
        "description" : "Importerer en allerede opprettet bruker med en ny kommune i Fiks smittevern. Denne brukeren vil få samme tilganger for ny kommune som brukeren allerede har for den eksisterende kommunen.",
        "operationId" : "importerBrukerTilNyKommune",
        "parameters" : [ {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z][A-Za-z0-9]{10}$",
            "type" : "string"
          }
        }, {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/smittevern-konfigurasjon/api/v1/brukere/organisasjoner/{fiksOrganisasjonId}" : {
      "post" : {
        "tags" : [ "SmittevernKonfigurasjonBrukere" ],
        "description" : "Oppretter en bruker i Fiks smittevern",
        "operationId" : "opprettBruker",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettBrukerRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpprettBrukerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/smittevern-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/moduler/{tilgang}" : {
      "put" : {
        "tags" : [ "SmittevernKonfigurasjonOrganisasjoner" ],
        "description" : "Oppdaterer informasjon for en organisasjon",
        "operationId" : "aktiverModul",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tilgang",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "ANNEN_SYKDOM", "TUBERKULOSE" ]
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          }
        }
      }
    },
    "/smittevern-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/tilganger/{tilgang}" : {
      "delete" : {
        "tags" : [ "SmittevernKonfigurasjonOrganisasjoner" ],
        "description" : "Oppdaterer informasjon for en organisasjon",
        "operationId" : "deaktiverModul",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tilgang",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "ANNEN_SYKDOM", "TUBERKULOSE" ]
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          }
        }
      }
    },
    "/smittevern-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}" : {
      "get" : {
        "tags" : [ "SmittevernKonfigurasjonOrganisasjoner" ],
        "description" : "Henter informasjon for en organisasjon",
        "operationId" : "getOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "SmittevernKonfigurasjonOrganisasjoner" ],
        "description" : "Oppdaterer informasjon for en organisasjon",
        "operationId" : "oppdaterOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterOrganisasjonRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          }
        }
      }
    },
    "/smittevern-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/brukere" : {
      "get" : {
        "tags" : [ "SmittevernKonfigurasjonOrganisasjoner" ],
        "description" : "Henter alle brukere på gitt Fiks-organisasjon fra Fiks smittevern",
        "operationId" : "getTilganger",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Brukere"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BrukerSokResponse" : {
        "required" : [ "brukerStatus" ],
        "type" : "object",
        "properties" : {
          "brukerStatus" : {
            "type" : "string",
            "description" : "Status for bruker knyttet mot kommune",
            "enum" : [ "FINNES_I_EGEN_ORG", "FINNES_I_EKSTERN_ORG", "IKKE_I_BRUK" ]
          },
          "eksternBruker" : {
            "$ref" : "#/components/schemas/EksternBruker"
          },
          "eksisterendeBruker" : {
            "$ref" : "#/components/schemas/EksisterendeBruker"
          }
        },
        "description" : "Bruker-informasjon som er funnet. Dersom bruker ikke finnes i systemet, returneres bare objekt med brukerStatus = NY_BRUKER"
      },
      "EksisterendeBruker" : {
        "type" : "object",
        "properties" : {
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn til bruker"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn til bruker"
          }
        },
        "description" : "Bruker som er opprettet for annen organisasjon"
      },
      "EksternBruker" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id til Dhis2-bruker"
          },
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn til bruker"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn til bruker"
          },
          "tilganger" : {
            "type" : "array",
            "description" : "Tilganger som bruker har for annen kommune",
            "items" : {
              "type" : "string",
              "description" : "Tilganger som bruker har for annen kommune",
              "enum" : [ "ANNEN_SYKDOM", "TUBERKULOSE" ]
            }
          }
        },
        "description" : "Bruker som er opprettet for annen organisasjon"
      },
      "BrukerSok" : {
        "required" : [ "fiksOrg", "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer til bruker"
          },
          "fiksOrg" : {
            "type" : "string",
            "description" : "Fiks organisasjonsnummer som søket er knyttet til",
            "format" : "uuid"
          }
        },
        "description" : "Søker etter bruker for gitt fiksOrg"
      },
      "HentBrukerResultat" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Dhis2 brukerId"
          },
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn til bruker"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn til bruker"
          },
          "tilganger" : {
            "type" : "array",
            "description" : "Alle tilganger som finnes, med informasjon om tilgang er aktivert og om tilgang er aktivert for kommune",
            "items" : {
              "$ref" : "#/components/schemas/ModulTilgang"
            }
          }
        },
        "description" : "Informasjon om bruker i Fiks Smittevern sammen med informasjon om alle tilganger i Fiks smittevern, om de er aktive for bruker og om tilgangene er aktivert for kommune"
      },
      "ModulTilgang" : {
        "type" : "object",
        "properties" : {
          "tilgang" : {
            "type" : "string",
            "description" : "Type tilgang",
            "enum" : [ "ANNEN_SYKDOM", "TUBERKULOSE" ]
          },
          "kanOpprette" : {
            "type" : "boolean",
            "description" : "Kan denne tilgangen opprettes for kommunen?"
          },
          "opprettet" : {
            "type" : "boolean",
            "description" : "Er tilgang allerede opprettet?"
          }
        },
        "description" : "Tilgang i Dhis2."
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "OppdaterBrukerResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          }
        },
        "description" : "Id i Dhis2 til oppdatert bruker"
      },
      "OppdaterBrukerRequest" : {
        "type" : "object",
        "properties" : {
          "fornavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string",
            "description" : "Fornavn til bruker"
          },
          "etternavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string",
            "description" : "Etternavn til bruker"
          },
          "tilgangsEndring" : {
            "type" : "array",
            "description" : "Tilgangsendring, slett eller legg til tilgang",
            "items" : {
              "$ref" : "#/components/schemas/TilgangsEndringRequest"
            }
          }
        },
        "description" : "Informasjon om oppdatering av bruker"
      },
      "TilgangsEndringRequest" : {
        "type" : "object",
        "properties" : {
          "tilgang" : {
            "type" : "string",
            "description" : "Type tilgang",
            "enum" : [ "ANNEN_SYKDOM", "TUBERKULOSE" ]
          },
          "endringsType" : {
            "type" : "string",
            "description" : "Endringstype",
            "enum" : [ "OPPRETT", "SLETT" ]
          }
        },
        "description" : "Endringsønske for tilgang"
      },
      "OpprettBrukerResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          }
        },
        "description" : "Id i Dhis2 til nylig opprettet bruker"
      },
      "OpprettBrukerRequest" : {
        "required" : [ "etternavn", "fnr", "fornavn", "tilganger" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer til bruker"
          },
          "fornavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string",
            "description" : "Fornavn til bruker"
          },
          "etternavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string",
            "description" : "Etternavn til bruker"
          },
          "tilganger" : {
            "type" : "array",
            "description" : "Tilganger som bruker skal få",
            "items" : {
              "type" : "string",
              "description" : "Tilganger som bruker skal få",
              "enum" : [ "ANNEN_SYKDOM", "TUBERKULOSE" ]
            }
          }
        },
        "description" : "Informasjon om ny bruker"
      },
      "Moduler" : {
        "type" : "object",
        "properties" : {
          "tuberkulose" : {
            "type" : "boolean"
          },
          "andreSykdommer" : {
            "type" : "boolean"
          }
        }
      },
      "Organisasjon" : {
        "type" : "object",
        "properties" : {
          "fiksOrganisasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "epost" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "moduler" : {
            "$ref" : "#/components/schemas/Moduler"
          }
        }
      },
      "Brukere" : {
        "type" : "object",
        "properties" : {
          "brukere" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OrganisasjonsBruker"
            }
          }
        }
      },
      "OrganisasjonsBruker" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "moduler" : {
            "$ref" : "#/components/schemas/Moduler"
          }
        }
      },
      "OppdaterOrganisasjonRequest" : {
        "type" : "object",
        "properties" : {
          "epost" : {
            "maxItems" : 100,
            "minItems" : 0,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      }
    }
  }
}