{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Smittevern Konfigurasjon Service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "SmittevernKonfigurasjonBrukere",
    "description" : "API for konfigurasjon av Smittevern"
  }, {
    "name" : "SmittevernKonfigurasjonOrganisasjoner",
    "description" : "API for konfigurasjon av Fiks smittevern"
  } ],
  "paths" : {
    "/smittevern-konfigurasjon/api/v1/brukere/sok" : {
      "post" : {
        "tags" : [ "SmittevernKonfigurasjonBrukere" ],
        "description" : "Søker etter en bruker i Fiks smittevern for Fiksorg",
        "operationId" : "brukerSok",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BrukerSok"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrukerSokResponse"
                }
              }
            }
          }
        }
      }
    },
    "/smittevern-konfigurasjon/api/v1/brukere/{brukerId}/organisasjoner/{fiksOrganisasjonId}" : {
      "get" : {
        "tags" : [ "SmittevernKonfigurasjonBrukere" ],
        "description" : "Finner informasjon om en bruker i Fiks smittevern",
        "operationId" : "hentBruker",
        "parameters" : [ {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z][A-Za-z0-9]{10}$",
            "type" : "string"
          }
        }, {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HentBrukerResultat"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "SmittevernKonfigurasjonBrukere" ],
        "description" : "Oppdaterer en eksisterende bruker i Fiks smittevern.",
        "operationId" : "oppdaterBruker",
        "parameters" : [ {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterBrukerRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "SmittevernKonfigurasjonBrukere" ],
        "description" : "Fjerner en bruker i DHIS2 for gitt Fiks-organisasjon",
        "operationId" : "fjernTilgang",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z][A-Za-z0-9]{10}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrukerTilgangResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke bruker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/smittevern-konfigurasjon/api/v1/brukere/{brukerId}/organisasjoner/{fiksOrganisasjonId}/importer" : {
      "put" : {
        "tags" : [ "SmittevernKonfigurasjonBrukere" ],
        "description" : "Importerer en allerede opprettet bruker med en ny kommune i Fiks smittevern. Denne brukeren vil få samme tilganger for ny kommune som brukeren allerede har for den eksisterende kommunen.",
        "operationId" : "importerBrukerTilNyKommune",
        "parameters" : [ {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/smittevern-konfigurasjon/api/v1/brukere/organisasjoner/{fiksOrganisasjonId}" : {
      "post" : {
        "tags" : [ "SmittevernKonfigurasjonBrukere" ],
        "description" : "Oppretter en bruker i Fiks smittevern",
        "operationId" : "opprettBruker",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettBrukerRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpprettBrukerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/smittevern-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/moduler/{tilgang}" : {
      "put" : {
        "tags" : [ "SmittevernKonfigurasjonOrganisasjoner" ],
        "description" : "Oppdaterer informasjon for en organisasjon",
        "operationId" : "aktiverModul",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tilgang",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "ANNEN_SYKDOM", "TUBERKULOSE" ]
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          }
        }
      }
    },
    "/smittevern-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/tilganger/{tilgang}" : {
      "delete" : {
        "tags" : [ "SmittevernKonfigurasjonOrganisasjoner" ],
        "description" : "Oppdaterer informasjon for en organisasjon",
        "operationId" : "deaktiverModul",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tilgang",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "ANNEN_SYKDOM", "TUBERKULOSE" ]
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          }
        }
      }
    },
    "/smittevern-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}" : {
      "get" : {
        "tags" : [ "SmittevernKonfigurasjonOrganisasjoner" ],
        "description" : "Henter informasjon for en organisasjon",
        "operationId" : "getOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "SmittevernKonfigurasjonOrganisasjoner" ],
        "description" : "Oppdaterer informasjon for en organisasjon",
        "operationId" : "oppdaterOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterOrganisasjonRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          }
        }
      }
    },
    "/smittevern-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/brukere" : {
      "get" : {
        "tags" : [ "SmittevernKonfigurasjonOrganisasjoner" ],
        "description" : "Henter alle brukere på gitt Fiks-organisasjon fra Fiks smittevern",
        "operationId" : "getTilganger",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Brukere"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BrukerSokResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "brukerStatus" : {
            "type" : "string",
            "enum" : [ "EKSISTERER_FOR_DENNE_ORG", "EKSISTERER_FOR_ANNEN_ORG", "NY_BRUKER" ]
          },
          "eksterneTilganger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Tilgangstype"
            }
          },
          "kommunensTilganger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Tilgangstype"
            }
          }
        }
      },
      "Tilgangstype" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "enum" : [ "ANNEN_SYKDOM", "TUBERKULOSE" ]
          },
          "aktiv" : {
            "type" : "boolean"
          }
        }
      },
      "BrukerSok" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          },
          "fiksOrg" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "BrukerTilgangResponse" : {
        "type" : "object",
        "properties" : {
          "brukergruppe" : {
            "type" : "string",
            "enum" : [ "ANNEN_SYKDOM", "TUBERKULOSE" ]
          },
          "tilgangResponse" : {
            "type" : "string",
            "enum" : [ "OK", "WARNING", "ERROR" ]
          },
          "message" : {
            "type" : "string"
          },
          "tilgangsEndring" : {
            "type" : "string",
            "enum" : [ "LEGGE_TIL_BRUKERGRUPPE", "LEGGE_TIL_KOMMUNE", "LEGGE_TIL_KOMMUNE_OG_BRUKERGRUPPE", "FJERNE_BRUKERGRUPPE", "FJERNE_KOMMUNE", "FJERNE_KOMMUNE_OG_BRUKERGRUPPE", "INGEN_ENDRING", "HAR_ALLEREDE_TILGANGEN", "HAR_IKKE_TILGANGEN" ]
          },
          "sideeffekter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EkstraTilgangForOrg"
            }
          }
        },
        "description" : "Inneholder informasjon om tilgangsendring, kan endringen gjennomføres eller ikke."
      },
      "EkstraTilgangForOrg" : {
        "type" : "object",
        "properties" : {
          "orgNavn" : {
            "type" : "string"
          },
          "brukergruppe" : {
            "type" : "string",
            "enum" : [ "ANNEN_SYKDOM", "TUBERKULOSE" ]
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "HentBrukerResultat" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "moduler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ModulTilgang"
            }
          }
        }
      },
      "ModulTilgang" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "enum" : [ "ANNEN_SYKDOM", "TUBERKULOSE" ]
          },
          "kanOpprette" : {
            "type" : "boolean"
          },
          "opprettet" : {
            "type" : "boolean"
          }
        }
      },
      "OppdaterBrukerRequest" : {
        "type" : "object",
        "properties" : {
          "fornavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string"
          },
          "etternavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string"
          },
          "tilgangsEndring" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/TilgangsEndringRequest"
            }
          }
        }
      },
      "TilgangsEndringRequest" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "enum" : [ "ANNEN_SYKDOM", "TUBERKULOSE" ]
          },
          "endringsType" : {
            "type" : "string",
            "enum" : [ "OPPRETT", "SLETT" ]
          }
        }
      },
      "OpprettBrukerResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          }
        }
      },
      "OpprettBrukerRequest" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          },
          "fornavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string"
          },
          "etternavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string"
          },
          "tilganger" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "ANNEN_SYKDOM", "TUBERKULOSE" ]
            }
          }
        }
      },
      "Moduler" : {
        "type" : "object",
        "properties" : {
          "tuberkulose" : {
            "type" : "boolean"
          },
          "andreSykdommer" : {
            "type" : "boolean"
          }
        }
      },
      "Organisasjon" : {
        "type" : "object",
        "properties" : {
          "fiksOrganisasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "epost" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "moduler" : {
            "$ref" : "#/components/schemas/Moduler"
          }
        }
      },
      "Brukere" : {
        "type" : "object",
        "properties" : {
          "brukere" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OrganisasjonsBruker"
            }
          }
        }
      },
      "OrganisasjonsBruker" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "moduler" : {
            "$ref" : "#/components/schemas/Moduler"
          }
        }
      },
      "OppdaterOrganisasjonRequest" : {
        "type" : "object",
        "properties" : {
          "epost" : {
            "maxItems" : 100,
            "minItems" : 0,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      }
    }
  }
}