{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Fiks Melding: SvarInn konfigurasjon",
    "description": "SvarInn konfigurasjon API gir tilgang til å administrere mottakersystem.",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "SvarInn",
      "description": "API for SvarInn konfigurasjon"
    }
  ],
  "paths": {
    "/svarinn-konfigurasjon/api/v1/mottakersystemer": {
      "get": {
        "tags": [
          "Mottakersystem"
        ],
        "description": "Henter mottakersystemer som innfrir søkekriterier",
        "summary": "Henter mottakersystemer som innfrir søkekriterier",
        "operationId": "hentMottakersystemer",
        "parameters": [
          {
            "$ref": "#/components/parameters/Sidenummer"
          },
          {
            "$ref": "#/components/parameters/AntallPerSide"
          },
          {
            "name": "sokebegrep",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Søker etter navn, mottakersystemId eller organisasjonsnummer i mottakersystemer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mottakersystemer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mottakersystemer"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "post": {
        "tags": [
          "Mottakersystem"
        ],
        "description": "Oppretter mottakersystem",
        "summary": "Oppretter mottakersystem",
        "operationId": "opprettMottakersystem",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MottakersystemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mottakersystem opprettet"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/svarinn-konfigurasjon/api/v1/mottakersystemer/{mottakersystemId}": {
      "get": {
        "tags": [
          "Mottakersystem"
        ],
        "description": "Henter mottakersystem",
        "summary": "Henter mottakersystem",
        "operationId": "hentMottakersystem",
        "parameters": [
          {
            "$ref": "#/components/parameters/MottakersystemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Mottakersystem",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mottakersystem"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "put": {
        "tags": [
          "Mottakersystem"
        ],
        "description": "Endrer mottakersystem",
        "summary": "Endrer mottakersystem",
        "operationId": "endreMottakersystem",
        "parameters": [
          {
            "$ref": "#/components/parameters/MottakersystemId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MottakersystemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Endret mottakersystem"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/svarinn-konfigurasjon/api/v1/mottakersystemer/{mottakersystemId}/organisasjonskoblinger": {
      "get": {
        "tags": [
          "Organisasjonskobling"
        ],
        "description": "Henter organisasjoner som er koblet mot mottakersystemet",
        "summary": "Henter organisasjoner som er koblet mot mottakersystemet",
        "operationId": "hentOrganisasjonskoblinger",
        "parameters": [
          {
            "$ref": "#/components/parameters/MottakersystemId"
          },
          {
            "$ref": "#/components/parameters/Sidenummer"
          },
          {
            "$ref": "#/components/parameters/AntallPerSide"
          },
          {
            "name": "sokebegrep",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Søker etter navn og organisasjonsnummer i organisasjonskoblinger"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organisasjonskoblinger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organisasjonskoblinger"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "post": {
        "tags": [
          "Organisasjonskobling"
        ],
        "description": "Oppretter organisasjonskobling",
        "summary": "Oppretter organisasjonskobling",
        "operationId": "opprettOrganisasjonskobling",
        "parameters": [
          {
            "$ref": "#/components/parameters/MottakersystemId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganisajonskoblingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Opprettet organisajonskobling"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "put": {
        "tags": [
          "Organisasjonskobling"
        ],
        "description": "Endrer organisasjonskobling",
        "summary": "Endrer organisasjonskobling",
        "operationId": "endreOrganisasjonskobling",
        "parameters": [
          {
            "$ref": "#/components/parameters/MottakersystemId"
          },
          {
            "name": "organisasjonskoblingsId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganisajonskoblingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Endret organisasjonskobling"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "Organisasjonskobling"
        ],
        "description": "Sletter organisasjonskobling",
        "summary": "Sletter organisasjonskobling",
        "operationId": "sletteOrganisasjonskobling",
        "parameters": [
          {
            "$ref": "#/components/parameters/MottakersystemId"
          },
          {
            "name": "organisasjonskoblingsId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slettet organisasjonskobling"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "Ingen organisasjonskobling",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/svarinn-konfigurasjon/api/v1/mottakersystemer/{mottakersystemId}/innstillinger/passord": {
      "put": {
        "tags": [
          "Innstillinger"
        ],
        "description": "Genererer passord for mottakersystem",
        "summary": "Genererer passord for mottakersystem",
        "operationId": "opprettPassord",
        "parameters": [
          {
            "$ref": "#/components/parameters/MottakersystemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Opprettet passord",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/svarinn-konfigurasjon/api/v1/mottakersystemer/{mottakersystemId}/innstillinger/sertifikat": {
      "get": {
        "tags": [
          "Innstillinger"
        ],
        "description": "Henter SHA1 signatur for mottakersystem",
        "summary": "Henter SHA1 signatur for mottakersystem",
        "operationId": "hentSha1Signatur",
        "parameters": [
          {
            "$ref": "#/components/parameters/MottakersystemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Signatur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "put": {
        "tags": [
          "Innstillinger"
        ],
        "description": "Laster opp sertifikat",
        "summary": "Laster opp sertifikat",
        "operationId": "lastOppSertifikat",
        "parameters": [
          {
            "$ref": "#/components/parameters/MottakersystemId"
          }
        ],
        "responses": {
          "201": {
            "description": "Lastet opp sertifikat"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/svarinn-konfigurasjon/api/v1/forsendelsestyper": {
      "get": {
        "tags": [
          "Forsendelsestyper"
        ],
        "description": "Henter forsendelsestyper",
        "summary": "Henter forsendelsestyper",
        "operationId": "hentForsendelsestyper",
        "responses": {
          "200": {
            "description": "Hent forsendelsestyper",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forsendelsestyper"
                }
              }
            }
          },
          "404": {
            "description": "Ingen forsendelsestyper",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "MottakersystemId": {
        "name": "mottakersystemId",
        "required": true,
        "in": "path",
        "schema": {
          "type": "string",
          "format": "uuid",
          "description": "Mottakersystemets id"
        }
      },
      "Sidenummer": {
        "name": "sidenummer",
        "in": "query",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "default": 0
        }
      },
      "AntallPerSide": {
        "name": "antallPerSide",
        "in": "query",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "default": 20,
          "maximum": 1000
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "Error400": {
        "description": "Ugyldig forespørsel",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error403": {
        "description": "Ingen tilgang",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error500": {
        "description": "Systemfeil",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      }
    },
    "schemas": {
      "Mottakersystemer": {
        "type": "object",
        "properties": {
          "sidenummer": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert sidenummer"
          },
          "antallPerSide": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert antall treff per side"
          },
          "totaltAntallTreff": {
            "type": "integer",
            "format": "int32",
            "description": "Det totale antallet treff uten paginering"
          },
          "antallTreff": {
            "type": "integer",
            "format": "int32",
            "description": "Antall treff på denne siden"
          },
          "treff": {
            "type": "array",
            "description": "Mottakersystemene som samsvarer",
            "items": {
              "$ref": "#/components/schemas/MottakerSystemTreff"
            }
          }
        }
      },
      "Mottakersystem": {
        "type": "object",
        "properties": {
          "mottakersystemId": {
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "type": "string"
          },
          "eposter": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "aktiv": {
            "type": "boolean"
          },
          "sertifikatStatus": {
            "$ref": "#/components/schemas/SertifikatStatus"
          },
          "antallTilknyttedeOrganisasjoner": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "MottakerSystemTreff": {
        "type": "object",
        "properties": {
          "mottakersystemId": {
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "type": "string"
          },
          "aktiv": {
            "type": "boolean"
          },
          "sertifikatStatus": {
            "$ref": "#/components/schemas/SertifikatStatus"
          },
          "antallTilknyttedeOrganisasjoner": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "MottakersystemRequest": {
        "required": [
          "navn"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "eposter": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "aktiv": {
            "type": "boolean"
          }
        },
        "description": "Modell for å endre et mottakersystem"
      },
      "Organisasjonskoblinger": {
        "type": "object",
        "properties": {
          "sidenummer": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert sidenummer"
          },
          "antallPerSide": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert antall treff per side"
          },
          "totaltAntallTreff": {
            "type": "integer",
            "format": "int32",
            "description": "Det totale antallet treff uten paginering"
          },
          "antallTreff": {
            "type": "integer",
            "format": "int32",
            "description": "Antall treff på denne siden"
          },
          "treff": {
            "type": "array",
            "description": "Organisasjonskoblingene for mottakersystemet",
            "items": {
              "$ref": "#/components/schemas/Organisasjonskobling"
            }
          }
        }
      },
      "Organisasjonskobling": {
        "type": "object",
        "properties": {
          "organisasjonskoblingsId": {
            "type": "string",
            "format": "uuid"
          },
          "mottakersystemId": {
            "type": "string",
            "format": "uuid"
          },
          "organisasjonsnummer": {
            "$ref": "#/components/schemas/Organisasjonsnummer"
          },
          "navn": {
            "type": "string"
          },
          "forsendelsestyper": {
            "type": "array",
            "description": "Forsendelsestyper som er knyttet til organisasjonskoblingen",
            "items": {
              "type": "string"
            }
          },
          "sikkerhetsniva": {
            "$ref": "#/components/schemas/Sikkerhetsniva"
          }
        }
      },
      "OrganisajonskoblingRequest": {
        "type": "object",
        "properties": {
          "organisasjonsnummer": {
            "$ref": "#/components/schemas/Organisasjonsnummer"
          },
          "forsendelsestyper": {
            "type": "array",
            "description": "Forsendelsestyper som skal knyttes til organisasjonskoblingen",
            "items": {
              "type": "string"
            }
          },
          "sikkerhetsniva": {
            "$ref": "#/components/schemas/Sikkerhetsniva"
          }
        }
      },
      "SertifikatStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "GYLDIG",
              "UTLOPT",
              "UTLOPT_SNART",
              "MANGLER"
            ]
          },
          "utlopsDato": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Organisasjonsnummer": {
        "type": "string",
        "pattern": "^[0-9]{9}$"
      },
      "Sikkerhetsniva": {
        "type": "string",
        "enum": [
          "ALLE",
          "HOYESTE",
          "BETYDELIG"
        ]
      },
      "Forsendelsestyper": {
        "required": [
          "forsendelsestyper"
        ],
        "type": "object",
        "properties": {
          "forsendelsestyper": {
            "uniqueItems": true,
            "type": "array",
            "description": "Liste med alle eksisterende forsendelsestyper",
            "items": {
              "type": "string",
              "description": "Liste med alle eksisterende forsendelsestyper"
            }
          }
        }
      },
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      }
    }
  }
}