{
  "openapi": "3.0.1",
  "info": {
    "title": "KS SvarUt: Root-service",
    "description": "Root-service",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Autentisering",
      "description": "API for bruk av autentisering mot svarut konfigurasjon"
    },
    {
      "name": "Avsender",
      "description": "API for bruk av konfigurasjon"
    },
    {
      "name": "Konto",
      "description": "API for bruk av konfigurasjon"
    },
    {
      "name": "Organisasjon",
      "description": "API for konfigurasjon av SvarUt tjeneste"
    },
    {
      "name": "PdfPreview",
      "description": "API for bruk av Pdf Preview"
    },
    {
      "name": "Kontoer",
      "description": "API for å hente ut kontoer"
    },
    {
      "name": "Tilgang",
      "description": "API for bruk av konfigurasjon"
    },
    {
      "name": "Nhn",
      "description": "API for å gjøre kall mot Nhn sine integrasjoner"
    }
  ],
  "paths": {
    "/svarut-konfigurasjon/api/v2/authenticate": {
      "get": {
        "tags": [
          "Autentisering"
        ],
        "summary": "Autentiserer SvarUt konto",
        "operationId": "authenticate",
        "responses": {
          "200": {
            "description": "Autentisere SvarUt konto"
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/avsendere/{avsender}": {
      "get": {
        "tags": [
          "Avsender"
        ],
        "summary": "Hent konto basert på avsender",
        "operationId": "hentKontoFraAvsender",
        "parameters": [
          {
            "name": "avsender",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent konto knyttet til avsender",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404": {
            "description": "Konto med avsender ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/aktiver": {
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Aktiverer konto",
        "operationId": "aktiverKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aktiverer konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404": {
            "description": "KontoId ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/altinn/deaktiver": {
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Deaktiverer altinn-konfigurasjon",
        "operationId": "deaktiverAltinn",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deaktiverer altinn-konfigurasjon (ingen varsling)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404": {
            "description": "Kontoid ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/dpi/deaktiver": {
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Deaktiverer DPI",
        "operationId": "deaktiverDPI",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deaktiverer DPI",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404": {
            "description": "Kontoid ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/deaktiver": {
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Deaktiverer konto",
        "operationId": "deaktiverKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deaktiverer konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404": {
            "description": "Kontoid ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/flytt": {
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Flytter konto",
        "operationId": "flyttKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlyttKontoReqest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Flytt konto til ny org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404": {
            "description": "KontoId ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/servicepassord": {
      "post": {
        "tags": [
          "Konto"
        ],
        "summary": "Genererer nytt servicepassord for konto",
        "operationId": "genererServicePassord",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nytt servicepassord for konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePassord"
                }
              }
            }
          },
          "404": {
            "description": "Kontoid ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}": {
      "get": {
        "tags": [
          "Konto"
        ],
        "summary": "Hent konto med kontoid som er knytta mot fiksOrgId",
        "operationId": "hentKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent konto knyttet til kontoId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404": {
            "description": "Kontoid ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Oppdater konto med id for fiksOrg",
        "operationId": "oppdaterKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterKontoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for oppdatering av konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/historikk": {
      "get": {
        "tags": [
          "Konto"
        ],
        "summary": "Hent hendelseshistorikk for konto",
        "operationId": "hentKontoHistorikk",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent historikk for konto knyttet til kontoId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KontoHistorikk"
                }
              }
            }
          },
          "404": {
            "description": "Kontoid ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/altinn": {
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Oppdaterer konfigurasjon for altinn på konto",
        "operationId": "oppdaterAltinnKonfigurasjon",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterVarslingKonfigurasjonReqest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for altinnkonfigurasjon"
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/maler/altinn/{altinnMalId}": {
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Oppdaterer Altinnmaler på konto",
        "operationId": "oppdaterAltinnMal",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "altinnMalId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AltinnMalId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterAltinnMalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Oppdatert mal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for mal"
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Konto"
        ],
        "summary": "Tilbakestill Altinn-mal til standard på konto",
        "operationId": "resetAltinnMal",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "altinnMalId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AltinnMalId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig request"
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/dpi": {
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Oppdaterer konfigurasjon for DPI på konto",
        "operationId": "oppdaterDPIKonfigurasjon",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterDPIKonfigurasjonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for DpiKonfigurasjon"
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/maler/dpi/{dpiMalId}": {
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Oppdaterer DPI-maler på konto",
        "operationId": "oppdaterDpiMal",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dpiMalId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DpiMalId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterDpiMalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Oppdatert mal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for mal"
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Konto"
        ],
        "summary": "Tilbakestill DPI-mal til standard på konto",
        "operationId": "resetDpiMal",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dpiMalId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DpiMalId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig request"
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/folkeregister": {
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Oppdaterer konfigurasjon for folkeregister på konto",
        "operationId": "oppdaterFolkeregisterKonfigurasjon",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterFolkeregisterKonfigurasjonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for folkeregisterKonfigurasjon"
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/forside": {
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Oppdaterer konfigurasjon for forside på konto",
        "operationId": "oppdaterForsideKonfigurasjon",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForsideKonfigurasjonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for forsidekonfigurasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/nhn/adresseregister/enheter/{herId}": {
      "get": {
        "tags": [
          "Konto"
        ],
        "summary": "Gjør oppslag på herId i adresseregisteret og returnerer virksomhetsnavn og tjenestenavn",
        "operationId": "adresseregisterOppslag",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "herId",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returnerer ett objekt som inneholder virksomhetsnavn og tjenestenavn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdresseregisterOppslag"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for herId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/nhn": {
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Oppdaterer nhn konfigurasjon på konto",
        "operationId": "oppdaterNhnKonfigurasjon",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NhnKonfigurasjon"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for herId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/print": {
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Oppdaterer konfigurasjon for print på konto",
        "operationId": "oppdaterPrintKonfigurasjon",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterPrintKonfigurasjonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for printkonfigurasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer": {
      "get": {
        "tags": [
          "Organisasjon"
        ],
        "summary": "Søk etter kontoer for gitt fiksOrgId som aktør har tilgang til",
        "operationId": "finnKontoer",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tjeneste",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "SVARUT",
                "EDIALOG"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Søk etter kontoer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KontoOppslag"
                }
              }
            }
          },
          "404": {
            "description": "Ugyldig fiksOrgId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Konto"
        ],
        "summary": "Oppretter ny konto",
        "operationId": "opprettKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettKontoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for opprettelse av konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}": {
      "get": {
        "tags": [
          "Organisasjon"
        ],
        "summary": "Finne organisasjon",
        "operationId": "hentOrganisasjon",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent organisasjonkonfigurasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organisasjon"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Organisasjon"
        ],
        "summary": "Oppdater SvarUt organisasjonskonfigurasjon",
        "operationId": "oppdaterOrganisasjon",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterOrganisasjonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "SvarUt organisasjonkonfigurasjon oppdatert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organisasjon"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for konfigurasjon av SvarUt organisasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/forsidePdfPreview": {
      "post": {
        "tags": [
          "PdfPreview"
        ],
        "summary": "Returnerer forhåndsvisning av PDF",
        "operationId": "getForsidePreview",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForsideKonfigurasjonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Forhåndsvisning av PDF",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForsidePreview"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/kontoer": {
      "get": {
        "tags": [
          "Kontoer"
        ],
        "summary": "Hent alle kontoer, krever Root-admin tilgang",
        "operationId": "hentAlleKontoer",
        "responses": {
          "200": {
            "description": "Kontoer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KontoOppslag"
                }
              }
            }
          },
          "404": {
            "description": "Ugyldig fiksOrgId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Kontoer"
        ],
        "summary": "Søk etter kontoer. Henter ut kontoer du har tilgang til med gitt privilegie/søkekriterie, eller alle kontoer som matcher søkekriterie dersom du har Root-admin-tilgang.",
        "operationId": "sokEtterKontoer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KontoSokRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Søk etter kontoer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KontoOppslag"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/administratorer": {
      "get": {
        "tags": [
          "Tilgang"
        ],
        "summary": "Henter administratorer for konto",
        "operationId": "hentAdministratorer",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Administratorer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdministratorerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/administratorer/{personId}": {
      "post": {
        "tags": [
          "Tilgang"
        ],
        "summary": "Legg admin til konto",
        "operationId": "leggAdminTilKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Admin lagt til"
          }
        }
      },
      "delete": {
        "tags": [
          "Tilgang"
        ],
        "summary": "Fjern admin fra konto",
        "operationId": "fjernAdminFraKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Admin fjernet"
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/brukere": {
      "get": {
        "tags": [
          "Tilgang"
        ],
        "summary": "Henter brukere for konto",
        "operationId": "hentBrukere",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Brukere",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v2/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/brukere/{personId}": {
      "post": {
        "tags": [
          "Tilgang"
        ],
        "summary": "Legg bruker til konto",
        "operationId": "leggBrukerTilKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndreTilgangerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bruker lagt til"
          }
        }
      },
      "put": {
        "tags": [
          "Tilgang"
        ],
        "summary": "Endre tilganger på bruker",
        "operationId": "endreTilganger",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndreTilgangerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tilganger Endret"
          }
        }
      },
      "delete": {
        "tags": [
          "Tilgang"
        ],
        "summary": "Fjern bruker fra konto",
        "operationId": "fjernBrukerFraKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bruker fjernet"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      },
      "Adresse": {
        "required": [
          "postnummer",
          "poststed"
        ],
        "type": "object",
        "properties": {
          "adresselinje1": {
            "type": "string"
          },
          "adresselinje2": {
            "type": "string"
          },
          "adresselinje3": {
            "type": "string"
          },
          "postnummer": {
            "pattern": "^[0-9]{4}$",
            "type": "string"
          },
          "poststed": {
            "type": "string"
          }
        },
        "description": "Adresse for avsender"
      },
      "AltinnKonfigurasjon": {
        "type": "object",
        "properties": {
          "avsendertekst": {
            "type": "string"
          },
          "ekstratekst": {
            "type": "string"
          }
        },
        "description": "Konfigurasjon for bruk av varslingstjeneste"
      },
      "AltinnMal": {
        "required": [
          "id",
          "kanEndres",
          "navn",
          "standard"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/AltinnMalId"
          },
          "navn": {
            "type": "string",
            "description": "Visningsnavn for mal"
          },
          "kanEndres": {
            "type": "boolean",
            "description": "Flagg som indikerer om malen kan endres fra standard"
          },
          "standard": {
            "type": "string",
            "description": "Standard-mal"
          },
          "egendefinert": {
            "type": "string",
            "description": "Egendefinert mal"
          }
        },
        "description": "Maler for Altinn"
      },
      "AltinnMalId": {
        "enum": [
          "STANDARD",
          "KUN_DIGITAL",
          "KUN_DIGITAL_UTEN_DOKUMENTER",
          "SMS",
          "SMS_TAUSHETSBELAGT",
          "EPOST",
          "EPOST_TAUSHETSBELAGT"
        ],
        "type": "string"
      },
      "NhnKonfigurasjon": {
        "type": "object",
        "required": [
          "herId"
        ],
        "properties": {
          "herId": {
            "type": "integer",
            "format": "int32",
            "description": "HerId for NHN integrasjon",
            "minimum": 1
          }
        }
      },
      "DPIKonfigurasjon": {
        "required": [
          "avsendernavn",
          "dokumenter",
          "orgnr",
          "signering"
        ],
        "type": "object",
        "properties": {
          "avsendernavn": {
            "type": "string",
            "minLength": 1,
            "x-field-extra-annotation": "@jakarta.validation.constraints.NotBlank",
            "description": "Avsendernavn bør være det samme som er registrert i Brønnøysundregistrene"
          },
          "avsenderIdentifikator": {
            "type": "string"
          },
          "ekstratekst": {
            "type": "string"
          },
          "orgnr": {
            "pattern": "^[0-9]{9}$",
            "type": "string",
            "description": "Organisasjonsnummeret må være det samme som er brukt i avtalen med Digdir"
          },
          "dokumenter": {
            "type": "boolean"
          },
          "signering": {
            "type": "boolean"
          }
        }
      },
      "DpiMal": {
        "required": [
          "id",
          "kanEndres",
          "navn",
          "standard"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/DpiMalId",
            "description": "Id for mal"
          },
          "navn": {
            "type": "string",
            "description": "Visningsnavn for mal"
          },
          "kanEndres": {
            "type": "boolean",
            "description": "Flagg som indikerer om malen kan endres fra standard"
          },
          "standard": {
            "type": "string",
            "description": "Standard-mal"
          },
          "egendefinert": {
            "type": "string",
            "description": "Egendefinert mal"
          }
        },
        "description": "Maler for DPI"
      },
      "DpiMalId": {
        "enum": [
          "STANDARD",
          "UTEN_DOKUMENTER",
          "MED_LENKER_OG_SENDES_MED_DOKUMENTER",
          "SMS",
          "EPOST"
        ],
        "type": "string"
      },
      "FolkeregisterKonfigurasjon": {
        "required": [
          "hemmeligAdresse"
        ],
        "type": "object",
        "properties": {
          "hemmeligAdresse": {
            "type": "string",
            "description": "Hva skal SvarUt gjøre med forsendelser til personer som har strengt fortrolig adresse",
            "enum": [
              "AVVIS",
              "BYTT_ADRESSE"
            ]
          }
        }
      },
      "ForsideKonfigurasjonResponse": {
        "required": [
          "adresse",
          "avsender"
        ],
        "type": "object",
        "properties": {
          "orgnummer": {
            "pattern": "^[0-9]{9}$",
            "type": "string",
            "description": "Hvis orgnr er utfylt vil mottaker bruke dette ved svar på forsendelsen. Dette betyr at all svarpost som blir sendt elektronisk vil komme til dette orgnr."
          },
          "avsender": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "Navn på avsender"
          },
          "adresse": {
            "$ref": "#/components/schemas/Adresse"
          },
          "forsidetekst": {
            "type": "string",
            "description": "Dette er hovedteksten på forsiden. Her kan man definere generell tilleggsinformasjon om forsendelser til mottaker."
          },
          "forsidetittel": {
            "type": "string",
            "description": "Tittel som kan overstyre forsendelsestittel på print forside"
          },
          "skjulForsideInfo": {
            "type": "boolean",
            "description": "Valg for om tittel/tekst skal skjules eller ikke"
          }
        },
        "description": "Forsidekonfigurasjon for SvarUt konto. Beskriver returadresse printet på forside"
      },
      "Maler": {
        "required": [
          "altinn",
          "dpi"
        ],
        "type": "object",
        "properties": {
          "altinn": {
            "type": "array",
            "description": "Maler for Altinn",
            "items": {
              "$ref": "#/components/schemas/AltinnMal"
            }
          },
          "dpi": {
            "type": "array",
            "description": "Maler for DPI",
            "items": {
              "$ref": "#/components/schemas/DpiMal"
            }
          }
        }
      },
      "PrintKonfigurasjon": {
        "required": [
          "automatiskEttersendingForVirksomheter",
          "printleverandor"
        ],
        "type": "object",
        "properties": {
          "printleverandor": {
            "$ref": "#/components/schemas/PrintLeverandor"
          },
          "automatiskEttersendingForVirksomheter": {
            "type": "boolean",
            "description": "Automatisk ettersending som brevpost for virksomheter"
          }
        }
      },
      "ServicePassordMetadata": {
        "type": "object",
        "properties": {
          "opprettet": {
            "type": "string"
          },
          "opprettetAv": {
            "type": "string"
          }
        }
      },
      "SvarUtKonto": {
        "required": [
          "aktivert",
          "altinnAktiv",
          "avsender",
          "dpiAktiv",
          "fiksOrgId",
          "gyldig",
          "id",
          "maler",
          "navn"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "SvarUt konto ID",
            "format": "uuid"
          },
          "fiksOrgId": {
            "type": "string",
            "description": "Tilhørende Fiks.org",
            "format": "uuid"
          },
          "avsender": {
            "type": "string",
            "description": "Integrasjons id for utsending av forsendelser på konto"
          },
          "navn": {
            "type": "string",
            "description": "Navn på SvarUt konto"
          },
          "altinnAktiv": {
            "type": "boolean",
            "description": "Altinn status"
          },
          "dpiAktiv": {
            "type": "boolean",
            "description": "DPI status"
          },
          "aktivert": {
            "type": "boolean",
            "description": "Konto status"
          },
          "gyldig": {
            "type": "boolean",
            "description": "Gyldig dersom konto har gyldig forsidekonfigurasjon og printkonfigurasjon"
          },
          "nhn": {
            "$ref": "#/components/schemas/NhnKonfigurasjon"
          },
          "forside": {
            "$ref": "#/components/schemas/ForsideKonfigurasjonResponse"
          },
          "altinn": {
            "$ref": "#/components/schemas/AltinnKonfigurasjon"
          },
          "dpi": {
            "$ref": "#/components/schemas/DPIKonfigurasjon"
          },
          "maler": {
            "$ref": "#/components/schemas/Maler"
          },
          "print": {
            "$ref": "#/components/schemas/PrintKonfigurasjon"
          },
          "servicePassordMetadata": {
            "$ref": "#/components/schemas/ServicePassordMetadata"
          },
          "folkeregisterKonfigurasjon": {
            "$ref": "#/components/schemas/FolkeregisterKonfigurasjon"
          }
        },
        "description": "SvarUt konto"
      },
      "FlyttKontoReqest": {
        "required": [
          "mottakerFiksOrg"
        ],
        "type": "object",
        "properties": {
          "mottakerFiksOrg": {
            "type": "string",
            "description": "FiksOrg som konto skal flyttes til",
            "format": "uuid"
          }
        },
        "description": "Flytt konto til ny FiksOrgId"
      },
      "ServicePassord": {
        "required": [
          "opprettet",
          "opprettetAv",
          "passord"
        ],
        "type": "object",
        "properties": {
          "passord": {
            "type": "string",
            "format": "uuid"
          },
          "opprettet": {
            "type": "string"
          },
          "opprettetAv": {
            "type": "string"
          }
        }
      },
      "KontoHendelse": {
        "required": [
          "melding",
          "metadata",
          "tidspunkt"
        ],
        "type": "object",
        "properties": {
          "tidspunkt": {
            "type": "string",
            "description": "Tidspunkt for hendelsen",
            "format": "date-time"
          },
          "melding": {
            "type": "string",
            "description": "Beskrivende melding av hendelsen"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "description": "Metadata knyttet til hendelsen"
            },
            "description": "Metadata knyttet til hendelsen"
          }
        },
        "description": "Detaljer for en hendelse"
      },
      "KontoHistorikk": {
        "required": [
          "hendelser"
        ],
        "type": "object",
        "properties": {
          "hendelser": {
            "type": "array",
            "description": "Liste med hendelser",
            "items": {
              "$ref": "#/components/schemas/KontoHendelse"
            }
          }
        },
        "description": "Historikk for en konto"
      },
      "OppdaterVarslingKonfigurasjonReqest": {
        "required": [
          "avsendertekst"
        ],
        "type": "object",
        "properties": {
          "avsendertekst": {
            "type": "string",
            "minLength": 1,
            "x-field-extra-annotation": "@jakarta.validation.constraints.NotBlank",
            "description": "Tekst for meldingen som skal fremkomme i meldingsboksen i Altinn"
          },
          "ekstratekst": {
            "type": "string",
            "description": "Dette er ekstra tekst som vises i meldingen til Altinn. Teksten synes IKKE i sms eller e-postvarslingen."
          }
        },
        "description": "VarslingKonfigurasjon for SvarUt konto"
      },
      "OppdaterAltinnMalRequest": {
        "required": [
          "mal"
        ],
        "type": "object",
        "properties": {
          "mal": {
            "type": "string",
            "description": "Oppdatert mal"
          }
        },
        "description": "Mal for meldingen som skal fremkomme i Altinn meldingsboksen"
      },
      "OppdaterDPIKonfigurasjonRequest": {
        "required": [
          "avsendernavn",
          "orgnr",
          "dokumenter",
          "signering"
        ],
        "type": "object",
        "properties": {
          "avsendernavn": {
            "type": "string",
            "minLength": 1,
            "x-field-extra-annotation": "@jakarta.validation.constraints.NotBlank",
            "description": "Avsendernavn bør være det samme som er registrert i Brønnøysundregistrene"
          },
          "avsenderIdentifikator": {
            "type": "string",
            "maxLength": 100,
            "description": "Identifikasjon av en ansvarlig avsenderenhet. Brukt for å identifisere en ansvarlig enhet innen for en virksomhet. I Sikker digital posttjenteste tildeles avsenderidentifikator ved tilkobling til tjenesten. Maks 100 tegn."
          },
          "ekstratekst": {
            "type": "string",
            "description": "Valgfri tekst som vises før lenker i alle meldinger."
          },
          "orgnr": {
            "pattern": "^[0-9]{9}$",
            "type": "string",
            "minLength": 1,
            "x-field-extra-annotation": "@jakarta.validation.constraints.NotBlank",
            "description": "Organisasjonsnummeret må være det samme som er brukt i avtalen med Digdir"
          },
          "dokumenter": {
            "type": "boolean",
            "description": "Send dokumenter med til Digital postkasse (true), eller send som lenke (false)"
          },
          "signering": {
            "type": "boolean",
            "description": "Skal signeringstjenesten til Digdir kunne brukes? Den må være signert og aktivert hos Digdir før signeringstjenesten kan brukes. Virker ikke uten avtale med Digdir."
          }
        }
      },
      "OppdaterDpiMalRequest": {
        "required": [
          "mal"
        ],
        "type": "object",
        "properties": {
          "mal": {
            "type": "string",
            "description": "Oppdatert mal"
          }
        },
        "description": "Mal for meldingen som skal fremkomme i DPI meldingsboksen"
      },
      "OppdaterFolkeregisterKonfigurasjonRequest": {
        "required": [
          "hemmeligAdresse"
        ],
        "type": "object",
        "properties": {
          "hemmeligAdresse": {
            "type": "string",
            "description": "Hva skal SvarUt gjøre med forsendelser til personer som har strengt fortrolig adresse",
            "enum": [
              "AVVIS",
              "BYTT_ADRESSE"
            ]
          }
        },
        "description": "Folkeregisterkonfigurasjon for SvarutKonto"
      },
      "ForsideKonfigurasjonRequest": {
        "required": [
          "adresse",
          "avsender",
          "orgnummer"
        ],
        "type": "object",
        "properties": {
          "orgnummer": {
            "pattern": "^[0-9]{9}$",
            "type": "string",
            "description": "Hvis orgnr er utfylt vil mottaker bruke dette ved svar på forsendelsen. Dette betyr at all svarpost som blir sendt elektronisk vil komme til dette orgnr."
          },
          "avsender": {
            "maxLength": 100,
            "minLength": 1,
            "x-field-extra-annotation": "@jakarta.validation.constraints.NotBlank",
            "type": "string",
            "description": "Navn på avsender"
          },
          "adresse": {
            "$ref": "#/components/schemas/Adresse"
          },
          "forsidetekst": {
            "type": "string",
            "description": "Dette er hovedteksten på forsiden. Her kan man definere generell tilleggsinformasjon om forsendelser til mottaker."
          },
          "forsidetittel": {
            "type": "string",
            "description": "Tittel som kan overstyre forsendelsestittel på print forside"
          },
          "skjulForsideInfo": {
            "type": "boolean",
            "description": "Valg for om tittel/tekst skal skjules eller ikke"
          }
        },
        "description": "Forsidekonfigurasjon for SvarUt konto. Beskriver returadresse printet på forside"
      },
      "OppdaterKontoRequest": {
        "required": [
          "navn"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "maxLength": 200,
            "minLength": 2,
            "pattern": "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type": "string",
            "description": "SvarUt konto visningsnavn"
          }
        },
        "description": "En request for å oppdatere en eksisterende SvarUt Konto"
      },
      "OppdaterPrintKonfigurasjonRequest": {
        "required": [
          "automatiskEttersendingForVirksomheter",
          "printleverandor"
        ],
        "type": "object",
        "properties": {
          "printleverandor": {
            "$ref": "#/components/schemas/PrintLeverandor"
          },
          "automatiskEttersendingForVirksomheter": {
            "type": "boolean",
            "description": "Automatisk ettersending som brevpost for virksomheter"
          }
        },
        "description": "Printkonfigurasjon for SvarUt konto"
      },
      "OpprettKontoRequest": {
        "required": [
          "navn"
        ],
        "type": "object",
        "properties": {
          "tjenesteKode": {
            "type": "string",
            "description": "Tjenesten som kontoen skal opprettes under i autorisasjon.",
            "enum": [
              "SVARUT",
              "EDIALOG"
            ]
          },
          "ressursId": {
            "type": "string",
            "x-field-extra-annotation": "@jakarta.validation.constraints.NotBlank",
            "description": "RessursId som kontoen skal opprettes under, i autorisasjon.",
            "format": "uuid"
          },
          "navn": {
            "maxLength": 200,
            "minLength": 2,
            "pattern": "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type": "string",
            "description": "SvarUt konto visningsnavn"
          },
          "forside": {
            "$ref": "#/components/schemas/ForsideKonfigurasjonRequest"
          },
          "print": {
            "$ref": "#/components/schemas/OppdaterPrintKonfigurasjonRequest"
          },
          "varsling": {
            "$ref": "#/components/schemas/OppdaterVarslingKonfigurasjonReqest"
          },
          "aktiver": {
            "type": "boolean",
            "description": "Skal kontoen aktiveres?"
          },
          "folkeregisterKonfigurasjon": {
            "$ref": "#/components/schemas/FolkeregisterKonfigurasjon"
          }
        },
        "description": "En request for å opprette en ny SvarUt Konto"
      },
      "KontoOppslag": {
        "required": [
          "antall",
          "kontoer"
        ],
        "type": "object",
        "properties": {
          "antall": {
            "type": "integer",
            "description": "Antall kontoer funnet i søk",
            "format": "int32"
          },
          "kontoer": {
            "type": "array",
            "description": "Liste av SvarUt kontoer funnet i søk",
            "items": {
              "$ref": "#/components/schemas/SvarUtKonto"
            }
          }
        }
      },
      "Organisasjon": {
        "required": [
          "eposter",
          "fiksOrgId"
        ],
        "type": "object",
        "properties": {
          "fiksOrgId": {
            "type": "string",
            "description": "FiksOrgId",
            "format": "uuid"
          },
          "eposter": {
            "type": "array",
            "description": "E-post til tjeneste admin for SvarUt. Mottar varsel statusvarsel for forsendelser",
            "items": {
              "type": "string",
              "description": "E-post til tjeneste admin for SvarUt. Mottar varsel statusvarsel for forsendelser"
            }
          }
        },
        "description": "SvarUt konfigurasjon for FiksOrg"
      },
      "OppdaterOrganisasjonRequest": {
        "required": [
          "eposter"
        ],
        "type": "object",
        "properties": {
          "eposter": {
            "type": "array",
            "description": "E-post til tjeneste admin for SvarUt. Mottar varsel statusvarsel for forsendelser",
            "items": {
              "type": "string",
              "description": "E-post til tjeneste admin for SvarUt. Mottar varsel statusvarsel for forsendelser"
            }
          }
        },
        "description": "Organisasjonskonfigurasjon for SvarUt"
      },
      "ForsidePreview": {
        "required": [
          "preview"
        ],
        "type": "object",
        "properties": {
          "preview": {
            "type": "string",
            "description": "JPEG bilde av pdf forsiden som Base64 encoded String"
          }
        }
      },
      "AdministratorerResponse": {
        "required": [
          "administratorer"
        ],
        "type": "object",
        "properties": {
          "administratorer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminResponse"
            }
          }
        },
        "description": "Administratorer"
      },
      "PersonerResponse": {
        "required": [
          "brukere"
        ],
        "type": "object",
        "properties": {
          "brukere": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonResponse"
            }
          }
        },
        "description": "Personer"
      },
      "EndreTilgangerRequest": {
        "required": [
          "tilganger"
        ],
        "type": "object",
        "properties": {
          "tilganger": {
            "$ref": "#/components/schemas/SvarUtTilganger"
          }
        },
        "description": "Endre tilganger til brukeren"
      },
      "AdminResponse": {
        "required": [
          "personId",
          "navn"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "personId": {
            "description": "Personens unike Id",
            "type": "string",
            "format": "uuid"
          }
        },
        "description": "Admin"
      },
      "PersonResponse": {
        "required": [
          "personId",
          "navn",
          "tilganger"
        ],
        "type": "object",
        "properties": {
          "personId": {
            "description": "Personens unike Id",
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "type": "string"
          },
          "tilganger": {
            "$ref": "#/components/schemas/SvarUtTilganger"
          }
        },
        "description": "Person"
      },
      "SvarUtTilganger": {
        "type": "object",
        "required": [
          "kanSende",
          "kanLese"
        ],
        "properties": {
          "kanSende": {
            "$ref": "#/components/schemas/kanSende"
          },
          "kanLese": {
            "$ref": "#/components/schemas/kanLese"
          }
        }
      },
      "kanSende": {
        "description": "Gir brukere tilgang til å sende forsendelser",
        "type": "boolean"
      },
      "kanLese": {
        "description": "Gir brukere tilgang til å lese forsendelser",
        "type": "boolean"
      },
      "KontoSokRequest": {
        "type": "object",
        "description": "Søk etter konto",
        "properties": {
          "avsender": {
            "type": "string"
          },
          "visningsnavn": {
            "type": "string"
          },
          "kunAktiveKontoer": {
            "type": "boolean",
            "description": "Settes til true om det ønskes at kun aktive kontoer blir returnert."
          },
          "privilegie": {
            "type": "string",
            "description": "Privilegie det skal søkes etter. Om privilegie er ROOT_ADMIN kreves det Admin-tilgang på Root-nivå.",
            "enum": [
              "SVARUT_KONTO_SEND",
              "SVARUT_KONTO_LES",
              "ROOT_ADMIN"
            ]
          }
        }
      },
      "PrintLeverandor": {
        "type": "string",
        "description": "Printleverandør typer",
        "enum": [
          "MANUELL_PRINT",
          "STRALFORS"
        ]
      },
      "AdresseregisterOppslag": {
        "required": [
          "herId"
        ],
        "type": "object",
        "properties": {
          "herId": {
            "type": "integer",
            "format": "int32",
            "description": "HerId for NHN integrasjon"
          },
          "navn": {
            "type": "string",
            "description": "Navnet på enheten koblet mot HER ID"
          },
          "overordnetEnhetNavn": {
            "type": "string",
            "description": "Navnet på overordnet enhet som HER ID er knyttet mot"
          },
          "overordnetOrgNr": {
            "type": "string",
            "description": "Organisasjonsnummeret til overordnet enhet som HER ID er knyttet mot"
          },
          "type": {
            "type": "string",
            "description": "HER ID type. En HER ID som legges til SvarUt-konto kreves å være av type TJENESTE.",
            "enum": [
              "PERSON",
              "TJENESTE",
              "VIRKSOMHET"
            ]
          },
          "status": {
            "type": "string",
            "description": "Status for oppslaget gjort til adresseregisteret",
            "enum": [
              "FUNNET",
              "IKKE_FUNNET",
              "FORELDER_IKKE_FUNNET",
              "UGYLDIG_HERID",
              "IKKE_UNDERENHET_AV_FIKS_ORG",
              "UGYLDIG_ENHETSTYPE"
            ]
          }
        },
        "description": "Resultat for oppslag på HerId mot NHN sitt adresseregister"
      }
    }
  }
}