{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Fiks: Person administrasjon service V3",
    "description": "Fiks Konfigurasjon",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks@ksdigital.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "TilgangerV1",
      "description": "API for å finne tilganger"
    }
  ],
  "paths": {
    "/konfigurasjon/api/v1/organisasjoner/tilganger/{fiksOrgId}": {
      "get": {
        "tags": [
          "TilgangerV1"
        ],
        "summary": "Henter alle tilganger for en organisasjon",
        "description": "Henter alle tilganger for en organisasjon",
        "operationId": "hentTilganger",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrgId"
          },
          {
            "$ref": "#/components/parameters/privilegiumFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Tilganger for organisasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RessursTilganger"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          },
          "404": {
            "$ref": "#/components/responses/IkkeEksisterendeRessurs"
          }
        }
      }
    },
    "/konfigurasjon/api/v1/organisasjoner/tilganger/{fiksOrgId}/tjeneste/{tjenesteRessursId}": {
      "get": {
        "tags": [
          "TilgangerV1"
        ],
        "summary": "Henter alle tilganger for en tjeneste",
        "description": "Henter alle tilganger for en tjeneste",
        "operationId": "hentTilgangerTjeneste",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrgId"
          },
          {
            "$ref": "#/components/parameters/tjenesteRessursId"
          },
          {
            "$ref": "#/components/parameters/privilegiumFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Tilganger for organisasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RessursTilganger"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          },
          "404": {
            "$ref": "#/components/responses/IkkeEksisterendeRessurs"
          }
        }
      }
    },
    "/konfigurasjon/api/v1/organisasjoner/tilganger/{fiksOrgId}/tjeneste/{tjenesteRessursId}/ressurs/{tilgangRessursId}": {
      "get": {
        "tags": [
          "TilgangerV1"
        ],
        "summary": "Henter alle tilganger for en ressurs under en gitt tjeneste",
        "description": "Henter alle tilganger for en ressurs under en gitt tjeneste",
        "operationId": "hentTilgangerRessurs",
        "parameters": [
          {
            "$ref": "#/components/parameters/fiksOrgId"
          },
          {
            "$ref": "#/components/parameters/tjenesteRessursId"
          },
          {
            "$ref": "#/components/parameters/tilgangRessursId"
          },
          {
            "$ref": "#/components/parameters/privilegiumFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Tilganger for organisasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RessursTilganger"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ManglerTilgang"
          },
          "404": {
            "$ref": "#/components/responses/IkkeEksisterendeRessurs"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "UnikId": {
        "type": "string",
        "format": "uuid",
        "example": "123e4567-e89b-12d3-a456-426614174000"
      },
      "Privilegium": {
        "type": "string",
        "pattern": "^[A-Z0-9_\\.]+$",
        "minLength": 2,
        "example": "TJENESTE_LES"
      },
      "Aktor": {
        "type": "object",
        "description": "En aktør er en enhet som har blitt gitt tilgang til en ressurs",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/UnikId"
          },
          "navn": {
            "type": "string",
            "example": "Kari Nordmann"
          },
          "type": {
            "$ref": "#/components/schemas/AktorType"
          }
        },
        "required": [
          "id",
          "navn",
          "type"
        ]
      },
      "AktorType": {
        "type": "string",
        "enum": [
          "INTERN_BRUKER",
          "INTEGRASJON",
          "EKSTERN_BRUKER",
          "EKSTERN_GRUPPE"
        ],
        "example": "INTERN_BRUKER"
      },
      "RessursTilgang": {
        "type": "object",
        "properties": {
          "ressurs": {
            "$ref": "#/components/schemas/Ressurs"
          },
          "aktor": {
            "$ref": "#/components/schemas/Aktor"
          }
        }
      },
      "Ressurs": {
        "type": "object",
        "properties": {
          "ressursId": {
            "$ref": "#/components/schemas/UnikId"
          },
          "navn": {
            "type": "string",
            "example": "Min ressurs"
          }
        },
        "required": [
          "id",
          "navn"
        ]
      },
      "RessursTilganger": {
        "type": "object",
        "properties": {
          "fiksOrgId": {
            "$ref": "#/components/schemas/UnikId"
          },
          "privilegium": {
            "$ref": "#/components/schemas/Privilegium"
          },
          "tilganger": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RessursTilgang"
            }
          }
        },
        "required": [
          "fiksOrgId",
          "privilegium",
          "tilganger"
        ]
      },
      "ErrorMessage": {
        "type": "object",
        "description": "Feilmelding fra Fiks-plattformen",
        "externalDocs": {
          "description": "Beskrivelse av feilmeldinger",
          "url": "https://ks-no.github.io/fiks-plattform/integrasjoner/#feilmeldinger"
        },
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Tidspunktet da feilen oppstod, angitt som antall millisekunder siden Unix-epoch.",
            "example": 1767222000000
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP-statuskode for feilen.",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "Standardtekst for HTTP-statuskoden.",
            "example": "Bad Request"
          },
          "errorId": {
            "type": "string",
            "format": "uuid",
            "description": "Unik identifikator for feilen. Kan oppgis ved henvendelser for å spore feilen.",
            "example": "15a92338-8d98-4b05-a8a6-a879913259fd"
          },
          "path": {
            "type": "string",
            "description": "Stien i forespørselen som førte til feilen.",
            "example": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112"
          },
          "originalPath": {
            "type": "string",
            "nullable": true,
            "description": "Opprinnelig forespurt sti før eventuell intern feilhåndtering. Feltet er vanligvis utelatt eller satt til null.",
            "example": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112"
          },
          "message": {
            "type": "string",
            "description": "Menneskeliglesbar melding som beskriver feilen.",
            "example": "Noe gikk galt"
          },
          "errorCode": {
            "type": "string",
            "pattern": "^[A-Z]{1,10}-[0-9]{4}$",
            "description": "Maskinlesbar kode som identifiserer feiltypen. Koden følger formatet <applikasjonsprefiks>-<feilkode>.",
            "example": "FIKS-0001"
          },
          "errorJson": {
            "type": "string",
            "deprecated": true,
            "description": "Felt med ekstra feilinformasjon som en JSON-kodet streng. Strukturen avhenger av errorCode. Nye tjenester skal bruke errorDetails i stedet.",
            "example": "{\"fiksOrgId\": \"1a5038d7-c1fe-4110-9310-fe3b096a0564\", \"externalReference\": \"a8793ee2-b7b2-40a5-9731-51e018244cf4\"}"
          },
          "errorDetails": {
            "type": "object",
            "additionalProperties": true,
            "description": "Maskinlesbar tilleggsinformasjon om feilen. Strukturen avhenger av errorCode.",
            "example": {
              "fiksOrgId": "1a5038d7-c1fe-4110-9310-fe3b096a0564",
              "externalReference": "a8793ee2-b7b2-40a5-9731-51e018244cf4"
            }
          }
        },
        "example": {
          "timestamp": 1767222000000,
          "status": 400,
          "error": "Bad Request",
          "errorId": "15a92338-8d98-4b05-a8a6-a879913259fd",
          "path": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112",
          "message": "Ugyldig forespørsel",
          "errorCode": "FIKS-0001",
          "errorDetails": {
            "fiksOrgId": "1a5038d7-c1fe-4110-9310-fe3b096a0564",
            "externalReference": "a8793ee2-b7b2-40a5-9731-51e018244cf4"
          }
        }
      }
    },
    "responses": {
      "ManglerTilgang": {
        "description": "Ikke autorisert",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            },
            "example": {
              "message": "Ikke autorisert",
              "status": 403
            }
          }
        }
      },
      "IkkeEksisterendeRessurs": {
        "description": "Du har oppgitt en ressurs som ikke finnes",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            },
            "example": {
              "message": "Finner ikke ressurs",
              "status": 404
            }
          }
        }
      }
    },
    "parameters": {
      "fiksOrgId": {
        "name": "fiksOrgId",
        "in": "path",
        "required": true,
        "example": "123e4567-e89b-12d3-a456-426614174000",
        "schema": {
          "$ref": "#/components/schemas/UnikId"
        }
      },
      "tjenesteRessursId": {
        "name": "tjenesteRessursId",
        "in": "path",
        "example": "f831a24e-7c4b-4189-9284-874e5f77bc43",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/UnikId"
        }
      },
      "tilgangRessursId": {
        "name": "tilgangRessursId",
        "in": "path",
        "example": "7a684132-9174-4fd3-a860-db8590a69c9a",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/UnikId"
        }
      },
      "privilegiumFilter": {
        "name": "privilegium",
        "in": "query",
        "description": "Filtrer på privilegium",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/Privilegium"
        }
      }
    }
  }
}