{
  "openapi": "3.1.1",
  "info": {
    "title": "KS Fiks: Tilskuddskonto v1",
    "description": "Service for Tilskuddsskonto",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "security": [
    {
      "bearerAuth": [
        "read"
      ]
    }
  ],
  "tags": [
    {
      "name": "Postering",
      "description": "Endepunkt for å håndtere konto posteringer fra saksbehandling system "
    },
    {
      "name": "Query",
      "description": "Endepunkter for å lese Projections fra MongoDB"
    }
  ],
  "paths": {
    "/tilskuddskonto/api/v1/postering": {
      "post": {
        "tags": [
          "Postering"
        ],
        "operationId": "mottaPostering",
        "summary": "Mottar en postering og genererer domeneposteringer",
        "description": "Idempotens håndteres automatisk ved at `Postering.tilskuddskontoId` (UUID) brukes som idempotensnøkkel.   Hvis en postering med samme `tilskuddskontoId` mottas flere ganger, returneres HTTP 409 Conflict.\n",
        "security": [
          {
            "bearerAuth": [
              "read"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Postering"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Postering er registrert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Postering"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "$ref": "#/components/responses/409Duplicate"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddskonto/api/v1/utlysinger/{tilskuddsregisterId}": {
      "get": {
        "tags": [
          "Query"
        ],
        "operationId": "hentUtlysingOversiktDocument",
        "summary": "Returnerer teknisk UtlysingOversiktDocument (MongoDB read model)",
        "parameters": [
          {
            "in": "path",
            "name": "tilskuddsregisterId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtlysingOversiktDocument"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddskonto/api/v1/soknader/{soknadsregisterId}": {
      "get": {
        "tags": [
          "Query"
        ],
        "operationId": "hentSoknadOversiktDocument",
        "summary": "Returnerer teknisk SoknadOversiktDocument (MongoDB read model)",
        "parameters": [
          {
            "in": "path",
            "name": "soknadsregisterId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoknadOversiktDocument"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Authentication using Bearer JWT token"
      }
    },
    "schemas": {
      "ErrorMessage": {
        "type": "object",
        "description": "Feilmelding fra Fiks-plattformen",
        "externalDocs": {
          "description": "Beskrivelse av feilmeldinger",
          "url": "https://ks-no.github.io/fiks-plattform/integrasjoner/#feilmeldinger"
        },
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Tidspunktet da feilen oppstod, angitt som antall millisekunder siden Unix-epoch.",
            "example": 1767222000000
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP-statuskode for feilen.",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "Standardtekst for HTTP-statuskoden.",
            "example": "Bad Request"
          },
          "errorId": {
            "type": "string",
            "format": "uuid",
            "description": "Unik identifikator for feilen. Kan oppgis ved henvendelser for å spore feilen.",
            "example": "15a92338-8d98-4b05-a8a6-a879913259fd"
          },
          "path": {
            "type": "string",
            "description": "Stien i forespørselen som førte til feilen.",
            "example": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112"
          },
          "originalPath": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opprinnelig forespurt sti før eventuell intern feilhåndtering. Feltet er vanligvis utelatt eller satt til null.",
            "example": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112"
          },
          "message": {
            "type": "string",
            "description": "Menneskeliglesbar melding som beskriver feilen.",
            "example": "Noe gikk galt"
          },
          "errorCode": {
            "type": "string",
            "pattern": "^[A-Z]{1,10}-[0-9]{4}$",
            "description": "Maskinlesbar kode som identifiserer feiltypen. Koden følger formatet <applikasjonsprefiks>-<feilkode>.",
            "example": "FIKS-0001"
          },
          "errorJson": {
            "type": "string",
            "deprecated": true,
            "description": "Felt med ekstra feilinformasjon som en JSON-kodet streng. Strukturen avhenger av errorCode. Nye tjenester skal bruke errorDetails i stedet.",
            "example": "{\"fiksOrgId\": \"1a5038d7-c1fe-4110-9310-fe3b096a0564\", \"externalReference\": \"a8793ee2-b7b2-40a5-9731-51e018244cf4\"}"
          },
          "errorDetails": {
            "type": "object",
            "additionalProperties": true,
            "description": "Maskinlesbar tilleggsinformasjon om feilen. Strukturen avhenger av errorCode.",
            "example": {
              "fiksOrgId": "1a5038d7-c1fe-4110-9310-fe3b096a0564",
              "externalReference": "a8793ee2-b7b2-40a5-9731-51e018244cf4"
            }
          }
        },
        "example": {
          "timestamp": 1767222000000,
          "status": 400,
          "error": "Bad Request",
          "errorId": "15a92338-8d98-4b05-a8a6-a879913259fd",
          "path": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112",
          "message": "Ugyldig forespørsel",
          "errorCode": "FIKS-0001",
          "errorDetails": {
            "fiksOrgId": "1a5038d7-c1fe-4110-9310-fe3b096a0564",
            "externalReference": "a8793ee2-b7b2-40a5-9731-51e018244cf4"
          }
        }
      },
      "Postering": {
        "type": "object",
        "required": [
          "tilskuddskontoId",
          "posteringType",
          "belop"
        ],
        "properties": {
          "tilskuddskontoId": {
            "type": "string",
            "format": "uuid"
          },
          "posteringType": {
            "type": "string",
            "enum": [
              "INNGAENDE BALANSE",
              "AVSETNING HOVEDKONTO",
              "AVSETNING UNDERKONTO",
              "AVSETNING TILSKUDDSUTLYSING",
              "INNVILGET",
              "UTBETALING",
              "REVERSERT POSTERING"
            ]
          },
          "posteringDatoTid": {
            "type": "string",
            "format": "date-time"
          },
          "korrelasjonId": {
            "type": "string",
            "format": "uuid"
          },
          "kildesystem": {
            "type": "string"
          },
          "tilskuddsregisterId": {
            "type": "string",
            "format": "uuid"
          },
          "soknadsregisterId": {
            "type": "string",
            "format": "uuid"
          },
          "fraKontoLopenummer": {
            "type": "string",
            "default": "fraKontoDefault",
            "description": "Løpenummeret til kontoen beløpet trekkes fra. Utelates feltet, bruker tjenesten verdien \"fraKontoDefault\", og posteringen føres da på en felles konto sammen med andre posteringer uten avsenderkonto. Feltet brukes ikke for posteringstypen \"INNGAENDE BALANSE\"."
          },
          "tilKontoLopenummer": {
            "type": "string",
            "default": "tilKontoDefault",
            "description": "Løpenummeret til kontoen beløpet føres til. Utelates feltet, bruker tjenesten verdien \"tilKontoDefault\", og posteringen føres da på en felles konto sammen med andre posteringer uten mottakerkonto."
          },
          "valuta": {
            "type": "string",
            "default": "NOK"
          },
          "belop": {
            "type": "number",
            "format": "double"
          },
          "reversererId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "UtlysingOversiktDocument": {
        "type": "object",
        "properties": {
          "tilskuddsregisterId": {
            "type": "string",
            "format": "uuid"
          },
          "totalTildelt": {
            "type": "number",
            "format": "double"
          },
          "innvilgetSum": {
            "type": "number",
            "format": "double"
          },
          "utbetaltSum": {
            "type": "number",
            "format": "double"
          },
          "tilgjengeligTildeling": {
            "type": "number",
            "format": "double"
          },
          "valuta": {
            "type": "string",
            "default": "NOK"
          }
        }
      },
      "SoknadOversiktDocument": {
        "type": "object",
        "properties": {
          "soknadsregisterId": {
            "type": "string",
            "format": "uuid"
          },
          "tilskuddsregisterId": {
            "type": "string",
            "format": "uuid"
          },
          "innvilgetSum": {
            "type": "number",
            "format": "double"
          },
          "utbetaltSum": {
            "type": "number",
            "format": "double"
          },
          "gjenstaaende": {
            "type": "number",
            "format": "double"
          },
          "valuta": {
            "type": "string",
            "default": "NOK"
          },
          "posteringer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SoknadHistorikkEntry"
            },
            "maxItems": 1000
          }
        }
      },
      "SoknadHistorikkEntry": {
        "type": "object",
        "properties": {
          "posteringType": {
            "type": "string"
          },
          "posteringDatoTid": {
            "type": "string",
            "format": "date-time"
          },
          "belop": {
            "type": "number",
            "format": "double"
          },
          "valuta": {
            "type": "string",
            "default": "NOK"
          }
        }
      }
    },
    "responses": {
      "400BadRequest": {
        "description": "Ugyldig forespørsel",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "401Unauthorized": {
        "description": "Mangler eller ugyldig token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "403Forbidden": {
        "description": "Ikke tilgang",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "404NotFound": {
        "description": "Ikke funnet",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "409Duplicate": {
        "description": "Allerede mottatt (Idempotens via `tilskuddskontoId`)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "DefaultError": {
        "description": "Uventet feil (HTTP 500)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      }
    }
  }
}