{
  "openapi": "3.1.1",
  "info": {
    "title": "KS Fiks: Tilskuddsregister",
    "description": "Service for Tilskudd",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "tags": [
    {
      "name": "RegisterOppslag",
      "description": "Åpne endepunkter for å slå opp i tilskuddsregisteret"
    },
    {
      "name": "RegisterEndring",
      "description": "Endepunkter for å gjøre endringer i tilskuddsregisteret"
    }
  ],
  "paths": {
    "/tilskuddsregister/api/v1/oppslag/ordning": {
      "get": {
        "tags": [
          "RegisterOppslag"
        ],
        "operationId": "soekEtterTilskuddsordning",
        "summary": "Lister ut tilgjengelig tilskuddsordninger",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SokEtterOrdningResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tilskuddsregister/api/v1/oppslag/ordning/{id}": {
      "get": {
        "tags": [
          "RegisterOppslag"
        ],
        "operationId": "hentTilskuddsordning",
        "summary": "Henter ut en tilskuddsordning med id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TilskuddsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdningDetaljer"
                }
              }
            }
          },
          "404": {
            "description": "Tilskuddsordningen ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/tilskuddsregister/api/v1/endring/ordning": {
      "post": {
        "tags": [
          "RegisterEndring"
        ],
        "operationId": "registrerTilskuddsordning",
        "summary": "Registrer en tilskuddsordning i tilskuddsregisteret",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrerOrdningRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tilskuddsordningen er registrert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdningId"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/tilskuddsregister/api/v1/endring/ordning/{id}": {
      "put": {
        "tags": [
          "RegisterEndring"
        ],
        "operationId": "overskrivTilskuddsordning",
        "summary": "Overskriver alle data for en eksisterende tilskuddsordning i tilskuddsregisteret",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TilskuddsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrerOrdningRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tilskuddsordingen er endret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdningId"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Tilskuddsordningen ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "RegisterEndring"
        ],
        "operationId": "slettTilskuddsordning",
        "summary": "Sletter en tilskuddsordning. (Soft delete: Setter status til slettet, men informasjon om ordningen vil fortsatt ligge i databasen)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TilskuddsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tilskuddsordningen er slettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdningId"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Tilskuddsordningen ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "OrdningId": {
        "type": "object",
        "properties": {
          "tilskuddsregisterId": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "tilskuddId": {
            "type": "string",
            "pattern": "^[A-Za-z0-9-]+$",
            "example": "TO-100001",
            "readOnly": true
          }
        }
      },
      "OrdningStatus": {
        "type": "string",
        "enum": [
          "KLADD",
          "REGISTRERT",
          "SLETTET"
        ],
        "example": "REGISTRERT"
      },
      "OrdningBase": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "array",
            "maxItems": 6,
            "items": {
              "$ref": "#/components/schemas/Navn"
            }
          },
          "kortBeskrivelse": {
            "type": "string",
            "maxLength": 200
          },
          "etikett": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string"
            }
          },
          "status": {
            "$ref": "#/components/schemas/OrdningStatus"
          },
          "formaal": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string"
            }
          },
          "stoerrelseMottaker": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string"
            }
          },
          "naering": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string"
            }
          },
          "regionsnivaa": {
            "$ref": "#/components/schemas/Regionsnivaa"
          },
          "region": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string"
            }
          },
          "soknadsfrist": {
            "$ref": "#/components/schemas/Soknadsfrist"
          },
          "ordningstype": {
            "$ref": "#/components/schemas/Ordningstype"
          },
          "rolle": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "$ref": "#/components/schemas/Rolle"
            }
          }
        }
      },
      "OrdningUtvidet": {
        "type": "object",
        "properties": {
          "stoettetiltaksnummer": {
            "type": "string",
            "description": "Id for støtteordning i Støtteregisteret"
          },
          "beskrivelse": {
            "type": "string"
          },
          "skjemaUrl": {
            "type": "string",
            "format": "uri"
          },
          "nettadresse": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "norskrettsligGrunnlag": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "$ref": "#/components/schemas/NorskrettsligGrunnlag"
            }
          },
          "eoesrettsligGrunnlag": {
            "$ref": "#/components/schemas/EoesrettsligGrunnlag"
          },
          "aarligOekonomiskRamme": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/AarligOekonomiskRamme"
            }
          },
          "finansiering": {
            "type": "string",
            "maxLength": 50
          },
          "kontaktperson": {
            "$ref": "#/components/schemas/Kontaktperson"
          },
          "maalOgMaalgruppe": {
            "type": "string",
            "maxLength": 3000
          },
          "hvemKanMotta": {
            "type": "string",
            "maxLength": 3000
          },
          "bruksomraade": {
            "type": "string",
            "maxLength": 3000
          },
          "andreTildeingskriterier": {
            "type": "string",
            "maxLength": 3000
          },
          "rapporteringskrav": {
            "type": "string",
            "maxLength": 3000
          },
          "infoOmSokeprosessen": {
            "type": "string",
            "maxLength": 3000
          }
        }
      },
      "OrdningDetaljer": {
        "type": "object",
        "readOnly": true,
        "required": [
          "tilskuddsregisterId",
          "tilskuddId",
          "opprettet",
          "endret",
          "navn",
          "kortBeskrivelse",
          "etikett",
          "beskrivelse",
          "status",
          "type",
          "formaal",
          "stoerrelseMottaker",
          "naering",
          "regionsnivaa",
          "region",
          "soknadsfrist",
          "nettadresse",
          "ordningstype",
          "rolle",
          "norskrettsligGrunnlag",
          "aarligOekonomiskRamme",
          "publisering",
          "kontaktperson",
          "finansiering"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/OrdningId"
          },
          {
            "$ref": "#/components/schemas/OrdningBase"
          },
          {
            "$ref": "#/components/schemas/OrdningUtvidet"
          },
          {
            "$ref": "#/components/schemas/Publisering"
          },
          {
            "type": "object",
            "properties": {
              "opprettet": {
                "type": "string",
                "format": "date-time",
                "example": "2025-08-27T15:45:30Z"
              },
              "endret": {
                "type": "string",
                "format": "date-time",
                "example": "2025-08-27T15:45:30Z"
              }
            }
          }
        ]
      },
      "OrdningElement": {
        "type": "object",
        "readOnly": true,
        "required": [
          "tilskuddsregisterId",
          "tilskuddId",
          "navn",
          "kortBeskrivelse",
          "etikett",
          "status",
          "type",
          "formaal",
          "naering",
          "regionsnivaa",
          "region",
          "soknadsfrist",
          "ordningstype",
          "rolle"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/OrdningId"
          },
          {
            "$ref": "#/components/schemas/OrdningBase"
          }
        ]
      },
      "SokEtterOrdningResponse": {
        "type": "object",
        "readOnly": true,
        "required": [
          "ordning"
        ],
        "properties": {
          "ordning": {
            "type": "array",
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/OrdningElement"
            }
          }
        }
      },
      "RegistrerOrdningRequest": {
        "type": "object",
        "writeOnly": true,
        "required": [
          "navn",
          "kortBeskrivelse",
          "etikett",
          "status",
          "type",
          "formaal",
          "naering",
          "regionsnivaa",
          "region",
          "soknadsfrist",
          "ordningstype",
          "rolle",
          "beskrivelse",
          "norskrettsligGrunnlag",
          "aarligOekonomiskRamme",
          "publisering",
          "kontaktperson",
          "finansiering"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/OrdningBase"
          },
          {
            "$ref": "#/components/schemas/OrdningUtvidet"
          },
          {
            "$ref": "#/components/schemas/Publisering"
          }
        ]
      },
      "Navn": {
        "type": "object",
        "required": [
          "tekst",
          "spraak"
        ],
        "properties": {
          "tekst": {
            "type": "string"
          },
          "spraak": {
            "type": "string",
            "enum": [
              "NOR",
              "ENG"
            ],
            "example": "NOR"
          }
        }
      },
      "Soknadsfrist": {
        "type": "object",
        "required": [
          "tilDato"
        ],
        "properties": {
          "fraDato": {
            "type": "string",
            "format": "date",
            "example": "2025-01-01"
          },
          "tilDato": {
            "type": "string",
            "format": "date",
            "example": "2025-01-01"
          }
        }
      },
      "Publisering": {
        "type": "object",
        "required": [
          "publiseringsdato"
        ],
        "properties": {
          "publiseringsdato": {
            "type": "string",
            "format": "date-time",
            "example": "2025-08-27T15:45:30Z"
          },
          "avpubliseringsdato": {
            "type": "string",
            "format": "date-time",
            "example": "2025-08-27T18:45:30Z"
          }
        }
      },
      "Rolleinnehaver": {
        "type": "object",
        "required": [
          "organisasjonsnummer"
        ],
        "properties": {
          "organisasjonsnummer": {
            "type": "string"
          },
          "navn": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "Rolle": {
        "type": "object",
        "required": [
          "type",
          "rolleinnehavertype",
          "rolleinnehaver"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "rolleinnehavertype": {
            "type": "string",
            "enum": [
              "VIRKSOMHET"
            ],
            "example": "VIRKSOMHET"
          },
          "rolleinnehaver": {
            "$ref": "#/components/schemas/Rolleinnehaver"
          }
        }
      },
      "NorskrettsligGrunnlag": {
        "type": "object",
        "required": [
          "navn"
        ],
        "properties": {
          "navn": {
            "type": "string"
          },
          "nettadresse": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "EoesrettsligGrunnlag": {
        "type": "object",
        "required": [
          "primaerrettsligGrunnlag",
          "artikkel",
          "retningslinjeEsa"
        ],
        "properties": {
          "primaerrettsligGrunnlag": {
            "type": "string"
          },
          "artikkel": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string"
            }
          },
          "retningslinjeEsa": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Beloep": {
        "type": "object",
        "required": [
          "beloep",
          "valuta"
        ],
        "properties": {
          "beloep": {
            "type": "number",
            "format": "double",
            "example": 53000
          },
          "valuta": {
            "type": "string",
            "example": "NOK",
            "description": "Valutakode i henhold til ISO 4217"
          }
        }
      },
      "AarligOekonomiskRamme": {
        "type": "object",
        "required": [
          "aar",
          "beloep"
        ],
        "properties": {
          "aar": {
            "type": "integer",
            "format": "int32",
            "example": 2025
          },
          "beloep": {
            "$ref": "#/components/schemas/Beloep"
          }
        }
      },
      "Regionsnivaa": {
        "type": "string",
        "enum": [
          "ALLE",
          "ALLE_UTENOM_SVALBARD",
          "SPESIFIKT_ANGITT"
        ],
        "example": "ALLE"
      },
      "Ordningstype": {
        "type": "string",
        "enum": [
          "ORDINAER",
          "AD_HOC"
        ],
        "example": "ORDINAER"
      },
      "Kontaktperson": {
        "type": "object",
        "required": [
          "navn",
          "epost"
        ],
        "properties": {
          "navn": {
            "type": "string"
          },
          "stilling": {
            "type": "string"
          },
          "epost": {
            "type": "string",
            "pattern": "^[\\w\\-\\.]+@([\\w-]+\\.)+[\\w-]{2,}$",
            "example": "name@example.com"
          },
          "telefon": {
            "type": "string",
            "pattern": "(0047|\\+47)?\\d{8}"
          }
        }
      }
    }
  }
}
