{
  "openapi": "3.1.1",
  "info": {
    "title": "KS Fiks: Tilskuddsregister v1",
    "description": "Service for Tilskuddsregister",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "RegisterOppslag",
      "description": "Åpne endepunkter for å slå opp i tilskuddsregisteret"
    },
    {
      "name": "RegisterEndring",
      "description": "Endepunkter for å gjøre endringer i tilskuddsregisteret"
    }
  ],
  "paths": {
    "/tilskuddsregister/api/v1/oppslag/utlysing": {
      "get": {
        "tags": [
          "RegisterOppslag"
        ],
        "operationId": "soekEtterUtlysing",
        "summary": "Lister ut utlysinger for tilskuddsordninger",
        "parameters": [
          {
            "name": "sidenummer",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "utlysingerPrSide",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "sok",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SokEtterUtlysingResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddsregister/api/v1/oppslag/utlysing/{tilskuddsregisterId}": {
      "get": {
        "tags": [
          "RegisterOppslag"
        ],
        "operationId": "hentUtlysing",
        "summary": "Henter ut en utlysing med id",
        "parameters": [
          {
            "name": "tilskuddsregisterId",
            "in": "path",
            "description": "TilskuddsregisterId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtlysingDetaljer"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddsregister/api/v1/endring/utlysing": {
      "post": {
        "tags": [
          "RegisterEndring"
        ],
        "operationId": "registrerUtlysing",
        "summary": "Registrer en utlysing i tilskuddsregisteret",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrerUtlysingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Utlysingen er registrert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtlysingDetaljer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/403Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddsregister/api/v1/endring/utlysing/{tilskuddsregisterId}": {
      "put": {
        "tags": [
          "RegisterEndring"
        ],
        "operationId": "overskrivUtlysing",
        "summary": "Overskriver alle data for en eksisterende utlysing i tilskuddsregisteret",
        "parameters": [
          {
            "name": "tilskuddsregisterId",
            "in": "path",
            "description": "TilskuddsregisterId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrerUtlysingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Utlysingen er endret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtlysingDetaljer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/403Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      },
      "delete": {
        "tags": [
          "RegisterEndring"
        ],
        "operationId": "slettUtlysing",
        "summary": "Sletter en utlysing. (Soft delete: Setter status til slettet, men informasjon om utlysingen vil fortsatt ligge i databasen)",
        "parameters": [
          {
            "name": "tilskuddsregisterId",
            "in": "path",
            "description": "TilskuddsregisterId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Utlysingen er slettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdOgKode"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "IdOgKode": {
        "type": "object",
        "properties": {
          "tilskuddsordningId": {
            "type": "string",
            "format": "uuid",
            "description": "Id for tilskuddsordning. Kobler sammen utlysinger."
          },
          "tilskuddsregisterId": {
            "type": "string",
            "format": "uuid",
            "description": "Id for utlysing."
          },
          "tilskuddsregisterKode": {
            "type": "string",
            "pattern": "^[A-Za-z0-9-]+$",
            "example": "46-ORDFORBIOM-2026-ZX",
            "readOnly": true,
            "description": "Generert kode som kan brukes som referanse for utlysing i dialog mellom søker og forvalter"
          }
        }
      },
      "StatusPaaUtlysing": {
        "type": "string",
        "enum": [
          "KLADD",
          "REGISTRERT",
          "SLETTET"
        ],
        "example": "REGISTRERT"
      },
      "UtlysingBase": {
        "type": "object",
        "properties": {
          "tittel": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "kortBeskrivelse": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "status": {
            "$ref": "#/components/schemas/StatusPaaUtlysing"
          },
          "naering": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string"
            }
          },
          "regionsnivaa": {
            "$ref": "#/components/schemas/Regionsnivaa"
          },
          "region": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string"
            }
          },
          "soknadsfrist": {
            "$ref": "#/components/schemas/Soknadsfrist"
          },
          "forvalter": {
            "$ref": "#/components/schemas/Forvalter"
          },
          "kildesystem": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "System som er kilde for å generere denne utlysingen"
          }
        }
      },
      "UtlysingUtvidet": {
        "type": "object",
        "properties": {
          "stoettetiltaksnummer": {
            "type": "string",
            "description": "Id for støtteordning i Støtteregisteret"
          },
          "skjemaUrl": {
            "type": "string",
            "format": "uri",
            "description": "Lenke til skjema i skjemaløsning"
          },
          "kontaktinfo": {
            "type": "array",
            "minItems": 1,
            "maxItems": 3,
            "description": "Kontaktinformasjon for en ordning. Enten avdeling eller person. Enten telefon eller epost er obligatorisk",
            "items": {
              "$ref": "#/components/schemas/Kontaktinfo"
            }
          },
          "publisering": {
            "$ref": "#/components/schemas/Publisering"
          },
          "soknadsbelop": {
            "type": "string",
            "maxLength": 150
          },
          "tilleggsinformasjon": {
            "type": "string",
            "maxLength": 300
          },
          "behandlingstidDager": {
            "type": "integer",
            "description": "Antatt behandlingstid etter søknadsfrist"
          },
          "rapporteringsfristDager": {
            "type": "integer",
            "description": "Rapporteringsfrist etter tilsagn"
          },
          "avsnitt": {
            "type": "array",
            "maxItems": 15,
            "items": {
              "$ref": "#/components/schemas/Avsnitt"
            }
          }
        }
      },
      "UtlysingDetaljer": {
        "type": "object",
        "readOnly": true,
        "required": [
          "tilskuddsregisterId",
          "tilskuddsregisterKode",
          "tilskuddsordningId",
          "opprettetDatoTid",
          "endretDatoTid",
          "tittel",
          "kortBeskrivelse",
          "status",
          "naering",
          "regionsnivaa",
          "region",
          "soknadsfrist",
          "behandlingstidDager",
          "rapporteringsfristDager",
          "forvalter",
          "kontaktinfo",
          "publisering",
          "avsnitt"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/IdOgKode"
          },
          {
            "$ref": "#/components/schemas/UtlysingBase"
          },
          {
            "$ref": "#/components/schemas/UtlysingUtvidet"
          },
          {
            "type": "object",
            "properties": {
              "opprettetDatoTid": {
                "type": "string",
                "format": "date-time",
                "example": "2025-08-27T15:45:30Z"
              },
              "endretDatoTid": {
                "type": "string",
                "format": "date-time",
                "example": "2025-08-27T15:45:30Z"
              }
            }
          }
        ]
      },
      "UtlysingElement": {
        "type": "object",
        "readOnly": true,
        "required": [
          "tilskuddsregisterId",
          "tilskuddsregisterKode",
          "tilskuddsordningId",
          "tittel",
          "kortBeskrivelse",
          "status",
          "naering",
          "regionsnivaa",
          "region",
          "soknadsfrist",
          "forvalter"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/IdOgKode"
          },
          {
            "$ref": "#/components/schemas/UtlysingBase"
          }
        ]
      },
      "SokEtterUtlysingResponse": {
        "type": "object",
        "readOnly": true,
        "required": [
          "utlysinger"
        ],
        "properties": {
          "utlysinger": {
            "type": "array",
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/UtlysingElement"
            }
          },
          "sidenummer": {
            "type": "integer"
          },
          "utlysingerPrSide": {
            "type": "integer"
          },
          "totaltAntallSider": {
            "type": "integer"
          },
          "totaltAntallUtlysinger": {
            "type": "integer"
          }
        }
      },
      "RegistrerUtlysingRequest": {
        "type": "object",
        "writeOnly": true,
        "required": [
          "tittel",
          "kortBeskrivelse",
          "status",
          "naering",
          "regionsnivaa",
          "region",
          "soknadsfrist",
          "behandlingstidDager",
          "rapporteringsfristDager",
          "forvalter",
          "kontaktinfo",
          "publisering",
          "avsnitt",
          "kildesystem"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/IdOgKode"
          },
          {
            "$ref": "#/components/schemas/UtlysingBase"
          },
          {
            "$ref": "#/components/schemas/UtlysingUtvidet"
          }
        ]
      },
      "Avsnitt": {
        "type": "object",
        "required": [
          "tittel",
          "innhold"
        ],
        "properties": {
          "tittel": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "innhold": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000
          }
        }
      },
      "Soknadsfrist": {
        "type": "object",
        "required": [
          "tilDatoTid",
          "dagerMedVarselForFrist",
          "erLopende"
        ],
        "properties": {
          "fraDatoTid": {
            "type": "string",
            "format": "date-time",
            "example": "2025-08-01T00:00:00Z"
          },
          "tilDatoTid": {
            "type": "string",
            "format": "date-time",
            "example": "2025-10-20T00:00:00Z"
          },
          "dagerMedVarselForFrist": {
            "type": "integer",
            "description": "Felt for å sette hvor mange dager før søknadsfristen man skal markere at søknadsfristen nærmer seg."
          },
          "erLopende": {
            "type": "boolean",
            "description": "Felt som beskriver om dette er en løpende utlysing hvor søknader behandles fortløpende"
          }
        }
      },
      "Publisering": {
        "type": "object",
        "required": [
          "tilDatoTid"
        ],
        "properties": {
          "fraDatoTid": {
            "type": "string",
            "format": "date-time",
            "example": "2025-08-27T15:45:30Z"
          },
          "tilDatoTid": {
            "type": "string",
            "format": "date-time",
            "example": "2025-08-27T18:45:30Z"
          }
        }
      },
      "Forvalter": {
        "type": "object",
        "required": [
          "organisasjonsnummer",
          "kode"
        ],
        "properties": {
          "organisasjonsnummer": {
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "pattern": "^\\d{9}$"
          },
          "kode": {
            "type": "string",
            "minLength": 1
          },
          "navn": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "Regionsnivaa": {
        "type": "string",
        "enum": [
          "ALLE",
          "ALLE_UTENOM_SVALBARD",
          "SPESIFIKT_ANGITT"
        ],
        "example": "ALLE"
      },
      "Kontaktinfo": {
        "type": "object",
        "required": [
          "type",
          "navn"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "PERSON",
              "VIRKSOMHET"
            ]
          },
          "navn": {
            "type": "string",
            "minLength": 1
          },
          "stillingAvdeling": {
            "type": "string"
          },
          "epost": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$",
            "example": "test@test.no"
          },
          "telefon": {
            "type": "string",
            "minLength": 8,
            "pattern": "^(0047|\\+47)?\\d{8}$"
          }
        }
      },
      "ErrorMessage": {
        "type": "object",
        "description": "Feilmelding fra Fiks-plattformen",
        "externalDocs": {
          "description": "Beskrivelse av feilmeldinger",
          "url": "https://ks-no.github.io/fiks-plattform/integrasjoner/#feilmeldinger"
        },
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        },
        "example": {
          "message": "Mangler tilgang",
          "errorId": "ee2ed64d-de8b-45f9-b9c6-3363d662d93b",
          "status": 403
        }
      }
    },
    "responses": {
      "400BadRequest": {
        "description": "Ugyldig forespørsel",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "403Unauthorized": {
        "description": "Ikke tilgang",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "404NotFound": {
        "description": "Utlysingen ikke funnet",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "DefaultError": {
        "description": "Noe gikk galt",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      }
    }
  }
}