{
  "openapi": "3.1.1",
  "info": {
    "title": "KS Fiks: Tilskuddsregister",
    "description": "Service for Tilskudd",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "tags": [
    {
      "name": "RegisterOppslag",
      "description": "Åpne endepunkter for å slå opp i tilskuddsregisteret"
    },
    {
      "name": "RegisterEndring",
      "description": "Endepunkter for å gjøre endringer i tilskuddsregisteret"
    }
  ],
  "paths": {
    "/tilskuddsregister/api/v1/oppslag/tilskudd": {
      "get": {
        "tags": [
          "RegisterOppslag"
        ],
        "operationId": "soekEtterTilskudd",
        "summary": "Lister ut tilgjengelig tilskudd",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tilskuddsliste"
                }
              }
            }
          }
        }
      }
    },
    "/tilskuddsregister/api/v1/oppslag/tilskudd/{id}": {
      "get": {
        "tags": [
          "RegisterOppslag"
        ],
        "operationId": "hentTilskudd",
        "summary": "Henter ut et tilskudd med id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TilskuddsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tilskudd"
                }
              }
            }
          },
          "404": {
            "description": "Tilskudd ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/tilskuddsregister/api/v1/endring/tilskudd": {
      "post": {
        "tags": [
          "RegisterEndring"
        ],
        "operationId": "registrerTilskudd",
        "summary": "Registrer et tilskudd i tilskuddsregisteret",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tilskudd"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tilskudd registrert"
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      },
      "Tilskuddsliste": {
        "type": "object",
        "required": [
          "tilskudd"
        ],
        "properties": {
          "tilskudd": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tilskudd"
            }
          }
        }
      },
      "Tilskudd": {
        "type": "object",
        "required": [
          "tilskuddsregisterId",
          "tilskuddId",
          "opprettet",
          "endret",
          "navn",
          "etikett",
          "beskrivelse",
          "skjemaUrl",
          "status",
          "type",
          "formaal",
          "stoerrelseStoettemottaker",
          "naering",
          "regionsnivaa",
          "region",
          "varighet",
          "nettadresse",
          "stoetteordningstype",
          "rolle",
          "norskrettsligGrunnlag",
          "aarligOekonomiskRamme"
        ],
        "properties": {
          "tilskuddsregisterId": {
            "type": "string",
            "format": "uuid"
          },
          "tilskuddId": {
            "type": "string",
            "pattern": "^[A-Za-z0-9-]+$"
          },
          "stoettetiltaksnummer": {
            "type": "string",
            "description": "Id for støtteordning i Støtteregisteret"
          },
          "opprettet": {
            "type": "string",
            "format": "date-time",
            "example": "2025-08-27T15:45:30Z"
          },
          "endret": {
            "type": "string",
            "format": "date-time",
            "example": "2025-08-27T15:45:30Z"
          },
          "navn": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Navn"
            }
          },
          "etikett": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "beskrivelse": {
            "type": "string"
          },
          "skjemaUrl": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "formaal": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "stoerrelseStoettemottaker": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "naering": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "regionsnivaa": {
            "type": "string",
            "enum": [
              "ALLE",
              "ALLE_UTENOM_SVALBARD",
              "SPESIFIKT_ANGITT"
            ],
            "example": "ALLE"
          },
          "region": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "varighet": {
            "$ref": "#/components/schemas/Varighet"
          },
          "nettadresse": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "stoetteordningstype": {
            "type": "string",
            "enum": [
              "ORDINAER",
              "AD_HOC"
            ],
            "example": "ORDINAER"
          },
          "rolle": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Rolle"
            }
          },
          "norskrettsligGrunnlag": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NorskrettsligGrunnlag"
            }
          },
          "eoesrettsligGrunnlag": {
            "$ref": "#/components/schemas/EoesrettsligGrunnlag"
          },
          "aarligOekonomiskRamme": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AarligOekonomiskRamme"
            }
          }
        }
      },
      "Navn": {
        "type": "object",
        "required": [
          "tekst",
          "spraak"
        ],
        "properties": {
          "tekst": {
            "type": "string"
          },
          "spraak": {
            "type": "string",
            "enum": [
              "NOR",
              "ENG"
            ],
            "example": "NOR"
          }
        }
      },
      "Varighet": {
        "type": "object",
        "required": [
          "fraDato"
        ],
        "properties": {
          "fraDato": {
            "type": "string",
            "format": "date",
            "example": "2025-01-01"
          },
          "tildato": {
            "type": "string",
            "format": "date",
            "example": "2025-01-01"
          }
        }
      },
      "Rolleinnehaver": {
        "type": "object",
        "required": [
          "organisasjonsnummer",
          "navn"
        ],
        "properties": {
          "organisasjonsnummer": {
            "type": "string"
          },
          "navn": {
            "type": "string"
          }
        }
      },
      "Rolle": {
        "type": "object",
        "required": [
          "type",
          "rolleinnehavertype",
          "rolleinnehaver"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "rolleinnehavertype": {
            "type": "string",
            "enum": [
              "VIRKSOMHET"
            ],
            "example": "VIRKSOMHET"
          },
          "rolleinnehaver": {
            "$ref": "#/components/schemas/Rolleinnehaver"
          }
        }
      },
      "NorskrettsligGrunnlag": {
        "type": "object",
        "required": [
          "navn"
        ],
        "properties": {
          "navn": {
            "type": "string"
          },
          "nettadresse": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "EoesrettsligGrunnlag": {
        "type": "object",
        "required": [
          "primaerrettsligGrunnlag",
          "artikkel",
          "retningslinjeEsa"
        ],
        "properties": {
          "primaerrettsligGrunnlag": {
            "type": "string"
          },
          "artikkel": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "retningslinjeEsa": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Beloep": {
        "type": "object",
        "required": [
          "beloep",
          "valuta"
        ],
        "properties": {
          "beloep": {
            "type": "number",
            "format": "double"
          },
          "valuta": {
            "type": "string",
            "description": "Valutakode i henhold til ISO 4217"
          }
        }
      },
      "AarligOekonomiskRamme": {
        "type": "object",
        "required": [
          "aar",
          "beloep"
        ],
        "properties": {
          "aar": {
            "type": "integer",
            "format": "int32"
          },
          "beloep": {
            "$ref": "#/components/schemas/Beloep"
          }
        }
      }
    }
  }
}