{
  "openapi": "3.1.1",
  "info": {
    "title": "KS Fiks: Tilskuddsregister v1",
    "description": "Service for Tilskuddregister",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "RegisterOppslag",
      "description": "Åpne endepunkter for å slå opp i tilskuddsregisteret"
    },
    {
      "name": "RegisterEndring",
      "description": "Endepunkter for å gjøre endringer i tilskuddsregisteret"
    }
  ],
  "paths": {
    "/tilskuddsregister/api/v1/oppslag/ordning": {
      "get": {
        "tags": [
          "RegisterOppslag"
        ],
        "operationId": "soekEtterTilskuddsordning",
        "summary": "Lister ut tilgjengelig tilskuddsordninger",
        "parameters": [
          {
            "name": "sidenummer",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "ordningerPrSide",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "sok",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SokEtterOrdningResponse"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/tilskuddsregister/api/v1/oppslag/ordning/{id}": {
      "get": {
        "tags": [
          "RegisterOppslag"
        ],
        "operationId": "hentTilskuddsordning",
        "summary": "Henter ut en tilskuddsordning med id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TilskuddsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdningDetaljer"
                }
              }
            }
          },
          "404": {
            "description": "Tilskuddsordningen ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/tilskuddsregister/api/v1/endring/ordning": {
      "post": {
        "tags": [
          "RegisterEndring"
        ],
        "operationId": "registrerTilskuddsordning",
        "summary": "Registrer en tilskuddsordning i tilskuddsregisteret",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrerOrdningRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tilskuddsordningen er registrert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdningId"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/tilskuddsregister/api/v1/endring/ordning/{id}": {
      "put": {
        "tags": [
          "RegisterEndring"
        ],
        "operationId": "overskrivTilskuddsordning",
        "summary": "Overskriver alle data for en eksisterende tilskuddsordning i tilskuddsregisteret",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TilskuddsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrerOrdningRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tilskuddsordingen er endret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdningId"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Tilskuddsordningen ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "RegisterEndring"
        ],
        "operationId": "slettTilskuddsordning",
        "summary": "Sletter en tilskuddsordning. (Soft delete: Setter status til slettet, men informasjon om ordningen vil fortsatt ligge i databasen)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TilskuddsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tilskuddsordningen er slettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdningId"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Tilskuddsordningen ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "OrdningId": {
        "type": "object",
        "properties": {
          "tilskuddsordningId": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "ordningId": {
            "type": "string",
            "pattern": "^[A-Za-z0-9-]+$",
            "example": "46-ORDFORBIOM-2026-ZX",
            "readOnly": true
          }
        }
      },
      "OrdningStatus": {
        "type": "string",
        "enum": [
          "KLADD",
          "REGISTRERT",
          "SLETTET"
        ],
        "example": "REGISTRERT"
      },
      "OrdningBase": {
        "type": "object",
        "properties": {
          "tittel": {
            "type": "string",
            "maxLength": 100
          },
          "kortBeskrivelse": {
            "type": "string",
            "maxLength": 1000
          },
          "status": {
            "$ref": "#/components/schemas/OrdningStatus"
          },
          "naering": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string"
            }
          },
          "regionsnivaa": {
            "$ref": "#/components/schemas/Regionsnivaa"
          },
          "region": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string"
            }
          },
          "soknadsfrist": {
            "$ref": "#/components/schemas/Soknadsfrist"
          },
          "forvalter": {
            "$ref": "#/components/schemas/Forvalter"
          }
        }
      },
      "OrdningUtvidet": {
        "type": "object",
        "properties": {
          "stoettetiltaksnummer": {
            "type": "string",
            "description": "Id for støtteordning i Støtteregisteret"
          },
          "skjemaUrl": {
            "type": "string",
            "format": "uri",
            "description": "Lenke til skjema i skjemaløsning"
          },
          "kontaktperson": {
            "$ref": "#/components/schemas/Kontaktperson"
          },
          "publisering": {
            "$ref": "#/components/schemas/Publisering"
          },
          "soknadsbelop": {
            "type": "string",
            "maxLength": 150
          },
          "tilleggsinformasjon": {
            "type": "string",
            "maxLength": 300
          },
          "behandlingstidDager": {
            "type": "integer",
            "description": "Antatt behandlingstid etter søknadsfrist"
          },
          "rapporteringsfristDager": {
            "type": "integer",
            "description": "Rapporteringsfrist etter tilsagn"
          },
          "avsnitt": {
            "type": "array",
            "maxItems": 15,
            "items": {
              "$ref": "#/components/schemas/Avsnitt"
            }
          }
        }
      },
      "OrdningDetaljer": {
        "type": "object",
        "readOnly": true,
        "required": [
          "tilskuddsordningId",
          "ordningId",
          "opprettet",
          "endret",
          "tittel",
          "kortBeskrivelse",
          "status",
          "naering",
          "regionsnivaa",
          "region",
          "soknadsfrist",
          "soknadsbelop",
          "behandlingstidDager",
          "rapporteringsfristDager",
          "forvalter",
          "kontaktperson",
          "publisering",
          "avsnitt"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/OrdningId"
          },
          {
            "$ref": "#/components/schemas/OrdningBase"
          },
          {
            "$ref": "#/components/schemas/OrdningUtvidet"
          },
          {
            "type": "object",
            "properties": {
              "opprettet": {
                "type": "string",
                "format": "date-time",
                "example": "2025-08-27T15:45:30Z"
              },
              "endret": {
                "type": "string",
                "format": "date-time",
                "example": "2025-08-27T15:45:30Z"
              }
            }
          }
        ]
      },
      "OrdningElement": {
        "type": "object",
        "readOnly": true,
        "required": [
          "tilskuddsordningId",
          "ordningId",
          "tittel",
          "kortBeskrivelse",
          "status",
          "naering",
          "regionsnivaa",
          "region",
          "soknadsfrist",
          "forvalter"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/OrdningId"
          },
          {
            "$ref": "#/components/schemas/OrdningBase"
          }
        ]
      },
      "SokEtterOrdningResponse": {
        "type": "object",
        "readOnly": true,
        "required": [
          "ordninger"
        ],
        "properties": {
          "ordninger": {
            "type": "array",
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/OrdningElement"
            }
          },
          "sidenummer": {
            "type": "integer"
          },
          "ordningerPrSide": {
            "type": "integer"
          },
          "totaltAntallSider": {
            "type": "integer"
          },
          "totaltAntallOrdninger": {
            "type": "integer"
          }
        }
      },
      "RegistrerOrdningRequest": {
        "type": "object",
        "writeOnly": true,
        "required": [
          "tittel",
          "kortBeskrivelse",
          "status",
          "naering",
          "regionsnivaa",
          "region",
          "soknadsfrist",
          "behandlingstidDager",
          "rapporteringsfristDager",
          "soknadsbelop",
          "forvalter",
          "kontaktperson",
          "publisering",
          "avsnitt"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/OrdningBase"
          },
          {
            "$ref": "#/components/schemas/OrdningUtvidet"
          }
        ]
      },
      "Avsnitt": {
        "type": "object",
        "required": [
          "tittel",
          "innhold"
        ],
        "properties": {
          "tittel": {
            "type": "string",
            "maxLength": 80
          },
          "innhold": {
            "type": "string",
            "maxLength": 10000
          }
        }
      },
      "Soknadsfrist": {
        "type": "object",
        "required": [
          "tilDatoTid",
          "dagerMedVarselForFrist",
          "erLopende"
        ],
        "properties": {
          "fraDatoTid": {
            "type": "string",
            "format": "date-time",
            "example": "2025-08-01T00:00:00Z"
          },
          "tilDatoTid": {
            "type": "string",
            "format": "date-time",
            "example": "2025-10-20T00:00:00Z"
          },
          "dagerMedVarselForFrist": {
            "type": "integer",
            "description": "Felt for å sette hvor mange dager før søknadsfristen man skal markere at søknadsfristen nærmer seg."
          },
          "erLopende": {
            "type": "boolean",
            "description": "Felt som beskriver om dette er en løpende ordning hvor søknader behandles fortløpende"
          }
        }
      },
      "Publisering": {
        "type": "object",
        "required": [
          "tilDatoTid"
        ],
        "properties": {
          "fraDatoTid": {
            "type": "string",
            "format": "date-time",
            "example": "2025-08-27T15:45:30Z"
          },
          "tilDatoTid": {
            "type": "string",
            "format": "date-time",
            "example": "2025-08-27T18:45:30Z"
          }
        }
      },
      "Forvalter": {
        "type": "object",
        "required": [
          "organisasjonsnummer",
          "kode"
        ],
        "properties": {
          "organisasjonsnummer": {
            "type": "string"
          },
          "kode": {
            "type": "string"
          },
          "navn": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "Regionsnivaa": {
        "type": "string",
        "enum": [
          "ALLE",
          "ALLE_UTENOM_SVALBARD",
          "SPESIFIKT_ANGITT"
        ],
        "example": "ALLE"
      },
      "Kontaktperson": {
        "type": "object",
        "required": [
          "navn",
          "epost"
        ],
        "properties": {
          "navn": {
            "type": "string"
          },
          "stilling": {
            "type": "string"
          },
          "epost": {
            "type": "string",
            "pattern": "^[\\w\\-\\.]+@([\\w-]+\\.)+[\\w-]{2,}$",
            "example": "name@example.com"
          },
          "telefon": {
            "type": "string",
            "pattern": "(0047|\\+47)?\\d{8}"
          }
        }
      },
      "ErrorMessage": {
        "type": "object",
        "description": "Feilmelding fra Fiks-plattformen",
        "externalDocs": {
          "description": "Beskrivelse av feilmeldinger",
          "url": "https://ks-no.github.io/fiks-plattform/integrasjoner/#feilmeldinger"
        },
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        },
        "example": {
          "message": "Mangler tilgang",
          "errorId": "ee2ed64d-de8b-45f9-b9c6-3363d662d93b",
          "status": 403
        }
      }
    }
  }
}