{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Avtale service",
    "description" : "Avtale service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "tjenestekatalog",
    "description" : "API for å håndtere tjenestekatalog bestående av tjenester med tilhørende avtaler for bruk av Fiks-plattformen"
  } ],
  "paths" : {
    "/avtale/api/v1/tjenestekatalog/{tjenestekode}" : {
      "get" : {
        "tags" : [ "tjenestekatalog" ],
        "description" : "Henter tjeneste",
        "operationId" : "getTjeneste",
        "parameters" : [ {
          "name" : "tjenestekode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Tjeneste hentet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TjenesteDefinisjon"
                }
              }
            }
          },
          "404" : {
            "description" : "Tjeneste ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/tjenestekatalog" : {
      "get" : {
        "tags" : [ "tjenestekatalog" ],
        "description" : "Henter liste over alle tjenester",
        "operationId" : "getTjenester",
        "responses" : {
          "200" : {
            "description" : "Tjenester hentet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TjenesteDefinisjon"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/tjenestekatalog/oppdater/{tjenestekode}" : {
      "put" : {
        "tags" : [ "tjenestekatalog" ],
        "description" : "Oppdaterer eksisterende tjeneste",
        "operationId" : "oppdaterTjeneste",
        "parameters" : [ {
          "name" : "tjenestekode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterTjenesteDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Tjeneste oppdatert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TjenesteDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/tjenestekatalog/opprett" : {
      "post" : {
        "tags" : [ "tjenestekatalog" ],
        "description" : "Opprett ny tjeneste",
        "operationId" : "opprettTjeneste",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettTjenesteDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Tjeneste opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TjenesteDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AvtaleDefinisjon" : {
        "required" : [ "dokumenter", "gyldigFra", "id", "versjon" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "versjon" : {
            "type" : "string"
          },
          "dokumenter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AvtaleDokumentDefinisjon"
            }
          },
          "gyldigFra" : {
            "type" : "string",
            "format" : "date-time"
          },
          "gyldigTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "AvtaleDokumentDefinisjon" : {
        "required" : [ "navn", "url" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "TjenesteDefinisjon" : {
        "required" : [ "avtaler", "begrensetSynlighet", "gjeldendeVersjon", "navn", "synligFor", "tilgjengeligFor", "tjenesteeier", "tjenestekode" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "tjenestekode" : {
            "type" : "string"
          },
          "tjenesteeier" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "begrensetSynlighet" : {
            "type" : "boolean"
          },
          "synligFor" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "tilgjengeligFor" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "gjeldendeVersjon" : {
            "type" : "string"
          },
          "saksnr" : {
            "type" : "string"
          },
          "avtaler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AvtaleDefinisjon"
            }
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "TjenesteEnkelDefinisjon" : {
        "required" : [ "gjeldendeVersjon", "navn", "tjenesteeier", "tjenestekode" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "tjenestekode" : {
            "type" : "string"
          },
          "tjenesteeier" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "gjeldendeVersjon" : {
            "type" : "string"
          },
          "saksnr" : {
            "type" : "string"
          }
        }
      },
      "OppdaterTjenesteDefinisjon" : {
        "required" : [ "avtaler", "begrensetSynlighet", "navn", "synligFor", "tilgjengeligFor", "tjenesteeier" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "tjenesteeier" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "begrensetSynlighet" : {
            "type" : "boolean",
            "description" : "Om tjenesten bare skal være tilgjengelig for enkelte fiksorger"
          },
          "synligFor" : {
            "type" : "array",
            "description" : "Hvilke fiksOrger tjenesten skal være synlig for. Begrensetsynlighet må være satt til true",
            "items" : {
              "type" : "string",
              "description" : "Hvilke fiksOrger tjenesten skal være synlig for. Begrensetsynlighet må være satt til true",
              "format" : "uuid"
            }
          },
          "tilgjengeligFor" : {
            "type" : "array",
            "description" : "Hvilke organisasjonstyper tjenesten skal være tilgjengelig for. Gyldige verdier er KOMMUNE, FYLKESKOMMUNE eller KOMMUNAL_VIRKSOMHET",
            "items" : {
              "type" : "string",
              "description" : "Hvilke organisasjonstyper tjenesten skal være tilgjengelig for. Gyldige verdier er KOMMUNE, FYLKESKOMMUNE eller KOMMUNAL_VIRKSOMHET"
            }
          },
          "saksnr" : {
            "type" : "string",
            "description" : "Saksnummer i arkivet"
          },
          "avtaler" : {
            "maxItems" : 2147483647,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AvtaleDefinisjon"
            }
          }
        }
      },
      "OpprettAvtaleDefinisjon" : {
        "required" : [ "dokumenter", "gyldigFra", "versjon" ],
        "type" : "object",
        "properties" : {
          "versjon" : {
            "type" : "string"
          },
          "dokumenter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AvtaleDokumentDefinisjon"
            }
          },
          "gyldigFra" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "OpprettTjenesteDefinisjon" : {
        "required" : [ "avtale", "begrensetSynlighet", "navn", "synligFor", "tilgjengeligFor", "tjenesteeier", "tjenestekode" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "tjenestekode" : {
            "type" : "string"
          },
          "tjenesteeier" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "begrensetSynlighet" : {
            "type" : "boolean",
            "description" : "Om tjenesten bare skal være tilgjengelig for enkelte fiksorger"
          },
          "synligFor" : {
            "type" : "array",
            "description" : "Hvilke fiksOrger tjenesten skal være synlig for. Begrensetsynlighet må være satt til true",
            "items" : {
              "type" : "string",
              "description" : "Hvilke fiksOrger tjenesten skal være synlig for. Begrensetsynlighet må være satt til true",
              "format" : "uuid"
            }
          },
          "tilgjengeligFor" : {
            "type" : "array",
            "description" : "Hvilke organisasjonstyper tjenesten skal være tilgjengelig for. Gyldige verdier er KOMMUNE, FYLKESKOMMUNE eller KOMMUNAL_VIRKSOMHET",
            "items" : {
              "type" : "string",
              "description" : "Hvilke organisasjonstyper tjenesten skal være tilgjengelig for. Gyldige verdier er KOMMUNE, FYLKESKOMMUNE eller KOMMUNAL_VIRKSOMHET"
            }
          },
          "saksnr" : {
            "type" : "string",
            "description" : "Saksnummer i arkivet"
          },
          "avtale" : {
            "$ref" : "#/components/schemas/OpprettAvtaleDefinisjon"
          }
        }
      }
    }
  }
}