{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Vaksine",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Vaksine",
    "description" : "API for å hente vaksinasjonsliste fra FHI"
  } ],
  "paths" : {
    "/vaksine/api/v1/hentTilganger/{kommunenummer}" : {
      "get" : {
        "tags" : [ "Vaksine" ],
        "description" : "Returnerer liste over fnr til personer med tilgang til vaksineoppslag i kommunen. ",
        "operationId" : "hentTilganger",
        "parameters" : [ {
          "name" : "kommunenummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TilgangerResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/vaksine/api/v1/hentVaksineListe/batch/{fiksOrgnr}" : {
      "post" : {
        "tags" : [ "Vaksine" ],
        "description" : "Hente vaksinasjonsinformasjon for flere personer. Tjenesten returnerer kun informasjon om personer med bostedsadresse i den angitte kommunen og som ikke bor på fortrolig adresse. Tjenesten bruker Fhi.Personoppslag-tjenesten på nasjonal e-helseplattform for å bestemme om forespurt person bor i kommune med angitt kommunenummer og ikke har adressekode 4 ,6 eller 7. Tjenesten har en hviteliste på kommunenummer for å forbigå sjekk av kommunetilhørighet og adressekode 4, 6 og 7. Tjenesten har en separat hviteliste på kommunenummer for å også hekte på recorderdata",
        "operationId" : "hentVaksineListeBatch",
        "parameters" : [ {
          "name" : "fiksOrgnr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ImmunizationListRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImmunizationBatchResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Problem med kommunikasjon med FHI",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/vaksine/api/v1/hentVaksineInfo/batch" : {
      "post" : {
        "tags" : [ "Vaksine" ],
        "description" : "Hente vaksinasjonsinformasjon for flere personer. Tjenesten returnerer kun informasjon om personer med bostedsadresse i den angitte kommunen og som ikke bor på fortrolig adresse. Tjenesten bruker Fhi.Personoppslag-tjenesten på nasjonal e-helseplattform for å bestemme om forespurt person bor i kommune med angitt kommunenummer og ikke har adressekode 4 ,6 eller 7. Tjenesten har en hviteliste på kommunenummer for å forbigå sjekk av kommunetilhørighet og adressekode 4, 6 og 7. Tjenesten har en separat hviteliste på kommunenummer for å også hekte på recorderdata",
        "operationId" : "hentVaksinerBatch",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ImmunizationBatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImmunizationBatchResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Problem med kommunikasjon med FHI",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/vaksine/api/v1/hentVaksineInfo" : {
      "post" : {
        "tags" : [ "Vaksine" ],
        "description" : "Hent vaksinasjonsinformasjon for en person for planleggingsformål. Tjenesten returnerer kun informasjon om personer med bostedsadresse i den angitte kommunen og som ikke bor på fortrolig adresse. Tjenesten bruker Fhi.Personoppslag-tjenesten på nasjonal e-helseplattform for å bestemme om forespurt person bor i kommune med angitt kommunenummer og ikke har adressekode 4 ,6 eller 7. Tjenesten har en hviteliste på kommunenummer for å forbigå sjekk av kommunetilhørighet og adressekode 4, 6 og 7. Tjenesten har en separat hviteliste på kommunenummer for å også hekte på recorderdata",
        "operationId" : "hentVaksiner",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ImmunizationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImmunizationResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Problem med kommunikasjon med FHI",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/vaksine/api/v1/hentVaksineStatus" : {
      "post" : {
        "tags" : [ "Vaksine" ],
        "description" : "Hente vaksinasjonsinformasjon for en person for smittesporingsformål. Tjenesten returnerer kun informasjon om personer med bostedsadresse i den angitte kommunen og som ikke bor på fortrolig adresse. Tjenesten bruker Fhi.Personoppslag-tjenesten på nasjonal e-helseplattform for å bestemme om forespurt person bor i kommune med angitt kommunenummer og ikke har adressekode 4 ,6 eller 7. Tjenesten har en hviteliste på kommunenummer for å forbigå sjekk av kommunetilhørighet og adressekode 4, 6 og 7. Tjenesten har en separat hviteliste på kommunenummer for å også hekte på recorderdata",
        "operationId" : "hentVaksineStatus",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ImmunizationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImmunizationResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Problem med kommunikasjon med FHI",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "TilgangerResponse" : {
        "type" : "object",
        "properties" : {
          "tilgangFnr" : {
            "type" : "array",
            "description" : "En liste med fødselsnummer til brukere med tilgang",
            "items" : {
              "type" : "string",
              "description" : "En liste med fødselsnummer til brukere med tilgang"
            }
          }
        },
        "description" : "Liste over personer med tilgang til vaksineoppslag"
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "CodeObject" : {
        "type" : "object",
        "properties" : {
          "system" : {
            "type" : "string",
            "description" : "Identity of the terminology system"
          },
          "code" : {
            "type" : "string",
            "description" : "Symbol in syntax defined by the system"
          },
          "display" : {
            "type" : "string",
            "description" : "Representation defined by the system"
          }
        },
        "description" : "Coding objekt (Inspirert av HL7 FHIR Coding)"
      },
      "Immunization" : {
        "type" : "object",
        "properties" : {
          "vaccinationDate" : {
            "type" : "string",
            "description" : "Dato person er vaksinert \r\n'A date without a time-zone in the ISO-8601 calendar system, such as 2007-12-03'",
            "format" : "date-time"
          },
          "vaccineCode" : {
            "$ref" : "#/components/schemas/CodeObject"
          },
          "atcCode" : {
            "type" : "string",
            "description" : "ATC koden, uten beskrivelsen"
          },
          "lotNumber" : {
            "type" : "string",
            "description" : "Batchnummer for preparatet – tekstfelt, har pt ikke kodeverk for dette"
          },
          "preparation" : {
            "$ref" : "#/components/schemas/CodeObject"
          },
          "identifier" : {
            "type" : "string",
            "description" : "Unik SYSVAK vaksinasjonshendelsesid",
            "format" : "uuid"
          },
          "recordedDate" : {
            "type" : "string",
            "description" : "Tidspunktet for når vaksinering ble registrert \r\n'A date without a time-zone in the ISO-8601 calendar system, such as 2007-12-03'",
            "format" : "date-time"
          },
          "recorder" : {
            "$ref" : "#/components/schemas/RecorderCodeObject"
          },
          "performedByRecorder" : {
            "type" : "boolean",
            "description" : "Angir om vaksinasjonen er utført av registrerende helseenhet eller etterregistrert ved en annen helseenhet (som f.eks FHI)."
          }
        },
        "description" : "Immunization-objekt (Inspirert av HL7 FHIRImmunization)."
      },
      "ImmunizationBatchEntry" : {
        "type" : "object",
        "properties" : {
          "patientNin" : {
            "type" : "string",
            "description" : "Pasientens fødsels/d-nummer"
          },
          "kanLevereUtData" : {
            "type" : "boolean",
            "description" : "Vil være 'true' hvis vi kan levere ut vaksinasjonsdata på forespurt person/kommunenummer-kombinasjon.\n'true' i kombinasjon med tom liste betyr at det ikke forefinnes vaksinasjonsdato.\n\nVil være 'false' hvis vi ikke kan levere ut vaksinasjonsdata, eksempelvis hvis personen bor på fortrolig adresse eller ikke bor i oppgitt kommune."
          },
          "status" : {
            "type" : "integer",
            "description" : "En numerisk kode som minner litt om en HTTP-responskode, men ikke helt er det. Gyldige verdier er 200, 400, 401.",
            "format" : "int32"
          },
          "details" : {
            "type" : "string",
            "description" : "Eventuelle kommentarer om hvorfor det ikke gikk å slå opp denne personen, dersom Status != 200"
          },
          "immunizations" : {
            "type" : "array",
            "description" : "Liste med vaksinasjoner registrert på person.\nListen inneholder covid-19-relaterte vaksiner samt vaksinasjonsdato for vaksiner satt i løpet av de siste 15 dagene.",
            "items" : {
              "$ref" : "#/components/schemas/Immunization"
            }
          }
        },
        "description" : "Vaksinasjoner og metadata tilknyttet en forespørsel"
      },
      "ImmunizationBatchResponse" : {
        "type" : "object",
        "properties" : {
          "immunizationEntries" : {
            "type" : "array",
            "description" : "En liste med vaksinasjonsoppslag som matcher input 1:1 på posisjon",
            "items" : {
              "$ref" : "#/components/schemas/ImmunizationBatchEntry"
            }
          }
        },
        "description" : "Vaksinasjoner og metadata tilknyttet forespørselen"
      },
      "RecorderCodeObject" : {
        "type" : "object",
        "properties" : {
          "system" : {
            "type" : "string",
            "description" : "Identity of the terminology system"
          },
          "code" : {
            "type" : "string",
            "description" : "Symbol in syntax defined by the system"
          },
          "display" : {
            "type" : "string",
            "description" : "Representation defined by the system"
          },
          "id" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "ImmunizationListRequest" : {
        "required" : [ "patientNins" ],
        "type" : "object",
        "properties" : {
          "patientNins" : {
            "type" : "array",
            "description" : "Fødelsnummer/D-nummer til personer som det skal søkes etter vaksiner for.\nDet er konfigurert opp en grenseverdi for hvor mange man kan spørre for samtidig som ligger mellom 1-100.",
            "items" : {
              "type" : "string",
              "description" : "Fødelsnummer/D-nummer til personer som det skal søkes etter vaksiner for.\nDet er konfigurert opp en grenseverdi for hvor mange man kan spørre for samtidig som ligger mellom 1-100."
            }
          }
        }
      },
      "ImmunizationBatchRequest" : {
        "required" : [ "kommunenr", "patientNins" ],
        "type" : "object",
        "properties" : {
          "patientNins" : {
            "type" : "array",
            "description" : "Fødelsnummer/D-nummer til personer som det skal søkes etter vaksiner for.\nDet er konfigurert opp en grenseverdi for hvor mange man kan spørre for samtidig som ligger mellom 1-100.",
            "items" : {
              "type" : "string",
              "description" : "Fødelsnummer/D-nummer til personer som det skal søkes etter vaksiner for.\nDet er konfigurert opp en grenseverdi for hvor mange man kan spørre for samtidig som ligger mellom 1-100."
            }
          },
          "kommunenr" : {
            "pattern" : "^\\d{4}$",
            "type" : "string",
            "description" : "Kommunenummer til helsepersonell som utfører spørring"
          }
        }
      },
      "ImmunizationResponse" : {
        "type" : "object",
        "properties" : {
          "patientNin" : {
            "type" : "string",
            "description" : "Pasientens fødsels/d-nummer"
          },
          "kanLevereUtData" : {
            "type" : "boolean",
            "description" : "Vil være 'true' hvis vi kan levere ut vaksinasjonsdata på forespurt person/kommunenummer-kombinasjon.\n'true' i kombinasjon med tom liste betyr at det ikke forefinnes vaksinasjonsdato.\n\nVil være 'false' hvis vi ikke kan levere ut vaksinasjonsdata, eksempelvis hvis personen bor på fortrolig adresse eller ikke bor i oppgitt kommune."
          },
          "immunizations" : {
            "type" : "array",
            "description" : "Liste med vaksinasjoner registrert på person.\r\nListen inneholder covid-19-relaterte vaksiner samt vaksinasjonsdato for vaksiner satt i løpet av de siste 15 dagene.",
            "items" : {
              "$ref" : "#/components/schemas/Immunization"
            }
          }
        },
        "description" : "Vaksinasjoner og metadata tilknyttet forespørselen"
      },
      "ImmunizationRequest" : {
        "required" : [ "kommunenr", "patientNin" ],
        "type" : "object",
        "properties" : {
          "patientNin" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødelsnummer/D-nummer til pasient som det skal søkes etter vaksiner for"
          },
          "kommunenr" : {
            "pattern" : "^\\d{4}$",
            "type" : "string",
            "description" : "Kommunenummer til helsepersonell som utfører spørring"
          }
        }
      }
    }
  }
}