{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Vaksine",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Vaksine",
    "description" : "API for å hente vaksinasjonsliste fra FHI"
  } ],
  "paths" : {
    "/vaksine/api/v1/hentVaksineInfo" : {
      "post" : {
        "tags" : [ "Vaksine" ],
        "description" : "Hente vaksinasjonsinformasjon for en person. Tjenesten returnerer kun informasjon om personer med bostedsadresse i den angitte kommunen og som ikke bor på fortrolig adresse. Tjenesten bruker Fhi.Personoppslag-tjenesten på nasjonal e-helseplattform for å bestemme om forespurt person bor i kommune med angitt kommunenummer og ikke har adressekode 4 ,6 eller 7",
        "operationId" : "hentVaksiner",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ImmunizationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImmunizationResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Problem med kommunikasjon med FHI",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CodeObject" : {
        "type" : "object",
        "properties" : {
          "system" : {
            "type" : "string",
            "description" : "Identity of the terminology system"
          },
          "code" : {
            "type" : "string",
            "description" : "Symbol in syntax defined by the system"
          },
          "display" : {
            "type" : "string",
            "description" : "Representation defined by the system"
          }
        },
        "description" : "Coding objekt (Inspirert av HL7 FHIR Coding)"
      },
      "Immunization" : {
        "type" : "object",
        "properties" : {
          "vaccinationDate" : {
            "type" : "string",
            "description" : "Dato person er vaksinert \r\n'A date without a time-zone in the ISO-8601 calendar system, such as 2007-12-03'",
            "format" : "date-time"
          },
          "vaccineCode" : {
            "$ref" : "#/components/schemas/CodeObject"
          },
          "atcCode" : {
            "type" : "string",
            "description" : "ATC koden, uten beskrivelsen"
          },
          "lotNumber" : {
            "type" : "string"
          },
          "preparation" : {
            "$ref" : "#/components/schemas/CodeObject"
          },
          "indication" : {
            "$ref" : "#/components/schemas/CodeObject"
          },
          "identifier" : {
            "type" : "string",
            "description" : "Unik SYSVAK vaksinasjonshendelsesid",
            "format" : "uuid"
          },
          "recordedDate" : {
            "type" : "string",
            "description" : "Tidspunktet for når vaksinering ble registrert \r\n'A date without a time-zone in the ISO-8601 calendar system, such as 2007-12-03'",
            "format" : "date-time"
          },
          "documentation" : {
            "$ref" : "#/components/schemas/CodeObject"
          },
          "recorder" : {
            "$ref" : "#/components/schemas/RecorderCodeObject"
          },
          "performedByRecorder" : {
            "type" : "boolean",
            "description" : "Angir om vaksinasjonen er utført av registrerende helseenhet eller etterregistrert ved en annen helseenhet (som f.eks FHI)."
          }
        },
        "description" : "Immunization-objekt (Inspirert av HL7 FHIRImmunization)."
      },
      "ImmunizationResponse" : {
        "type" : "object",
        "properties" : {
          "patientNin" : {
            "type" : "string"
          },
          "kanLevereUtData" : {
            "type" : "boolean"
          },
          "immunizations" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Immunization"
            }
          }
        },
        "description" : "Vaksinasjoner og metadata tilknyttet forespørselen"
      },
      "RecorderCodeObject" : {
        "type" : "object",
        "properties" : {
          "system" : {
            "type" : "string",
            "description" : "Identity of the terminology system"
          },
          "code" : {
            "type" : "string",
            "description" : "Symbol in syntax defined by the system"
          },
          "display" : {
            "type" : "string",
            "description" : "Representation defined by the system"
          },
          "id" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "ImmunizationRequest" : {
        "required" : [ "kommunenr", "patientNin" ],
        "type" : "object",
        "properties" : {
          "patientNin" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødelsnummer/D-nummer til pasient som det skal søkes etter vaksiner for"
          },
          "kommunenr" : {
            "pattern" : "^\\d{4}$",
            "type" : "string",
            "description" : "Kommunenummer til helsepersonell som utfører spørring"
          }
        }
      }
    }
  }
}