{
  "openapi": "3.1.3",
  "info": {
    "title": "Fiks eiendomsskattegrunnlag for vannkraftanlegg endringer API",
    "description": "Endringer og eieroversikt for kommunenes eiendomsskattegrunnlag for vannkraftanlegg.",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks@ksdigital.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "tags": [
    {
      "name": "vannkraft",
      "description": "Operasjoner for endringer og eiere av eiendomsskattegrunnlag for vannkraftanlegg."
    }
  ],
  "paths": {
    "/eiendomsskatt/vannkraft/api/v1/{fiksOrgId}/endringer": {
      "get": {
        "tags": [
          "vannkraft"
        ],
        "operationId": "hentEndringer",
        "summary": "Hent endringer",
        "description": "Henter sendte endringer for vannkraftanlegg kommunen har tilgang til, med valgfrie eier- og årsfiltre og paginering.",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "description": "FiksOrgId peker på kommunen som henter endringer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "123e4567-e89b-12d3-a456-426614174000"
            }
          },
          {
            "name": "personidentifikator",
            "in": "query",
            "required": false,
            "description": "Filtrer på fødselsnummeret til eieren. Kan ikke brukes sammen med organisasjonsnummer.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{11}$"
            }
          },
          {
            "name": "organisasjonsnummer",
            "in": "query",
            "required": false,
            "description": "Filtrer på organisasjonsnummeret til eieren. Kan ikke brukes sammen med personidentifikator.",
            "schema": {
              "pattern": "^[0-9]{9}$",
              "type": "string"
            }
          },
          {
            "name": "fraDato",
            "in": "query",
            "required": false,
            "description": "Nedre grense for inntektsåret (inkludert). Oppgis som dato, men det er kun årstallet som brukes. Kan brukes alene eller sammen med tilDato.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "tilDato",
            "in": "query",
            "required": false,
            "description": "Øvre grense for inntektsåret (inkludert). Oppgis som dato, men det er kun årstallet som brukes. Kan brukes alene eller sammen med fraDato.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "description": "Sidenummer for paginering, starter på 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "endringerPerSide",
            "in": "query",
            "description": "Maksimalt antall endringer per side.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtrert side med sendte endringer for vannkraftanlegg. Endringene sorteres med nyeste ajourholdstidspunkt først.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EiendomsskattegrunnlagVannkraftanleggEndringer"
                },
                "example": {
                  "side": 1,
                  "endringerPerSide": 10,
                  "totaltAntallEndringer": 2,
                  "endringer": [
                    {
                      "dokumentId": "a9ab0374-0c84-46dc-955f-845fcfc7e1dc",
                      "datotid": "2026-04-05T14:48:00.000Z",
                      "eier": {
                        "navn": "TREKANTET SEBRA",
                        "personidentifikator": "29880098401"
                      }
                    },
                    {
                      "dokumentId": "5165d076-70ec-4569-967d-eff4384d0ee2",
                      "datotid": "2026-04-05T13:37:00.000Z",
                      "eier": {
                        "navn": "LØSNINGSORIENTERT ALLSLAGS FJELLREV",
                        "organisasjonsnummer": "311910701"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Ugyldige filtre eller pagineringsverdier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Brukeren er ikke autentisert eller mangler tilgang.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Kommune ikke funnet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsskatt/vannkraft/api/v1/{fiksOrgId}/eiere": {
      "get": {
        "tags": [
          "vannkraft"
        ],
        "operationId": "hentAlleEiere",
        "summary": "Hent eiere",
        "description": "Henter eierne av vannkraftanlegg med sendte eiendomsskattegrunnlag som kommunen har tilgang til.",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "description": "FiksOrgId for kommunen som henter data.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over alle eiere av vannkraftanlegg fiksOrgId'n kan se i sin kommune",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Eier"
                  },
                  "example": [
                    {
                      "navn": "TREKANTET SEBRA",
                      "personidentifikator": "29880098401"
                    },
                    {
                      "navn": "LØSNINGSORIENTERT ALLSLAGS FJELLREV",
                      "organisasjonsnummer": "311910701"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Brukeren er ikke autentisert eller mangler tilgang.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Kommune ikke funnet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/eiendomsskatt/vannkraft/api/v1/{fiksOrgId}/endringer/dokument/{dokumentId}": {
      "get": {
        "tags": [
          "vannkraft"
        ],
        "operationId": "hentEndringerDokument",
        "summary": "Last ned endringsdokument",
        "description": "Laster ned Excel-dokumentet for en endring som er sendt til kommunen.",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "description": "fiksOrgId for kommunen som henter dokumentet",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dokumentId",
            "in": "path",
            "required": true,
            "description": "UUID format, IDen til endringen du ønsker å laste ned",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Excel-filen for endringen som skal lastes ned",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Dokumentet finnes ikke eller er ikke klart for nedlasting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Brukeren er ikke autentisert eller mangler tilgang.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Kommunen har ikke tilgang til dokumentet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Kommune eller eiendomsskattegrunnlag ikke funnet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Eier": {
        "type": "object",
        "required": [
          "navn"
        ],
        "description": "Eier av vannkraftanlegg.",
        "properties": {
          "organisasjonsnummer": {
            "pattern": "^[0-9]{9}$",
            "type": "string",
            "example": "311910701",
            "description": "Organisasjonsnummeret til bedriften som eier kraftverket. Påkrevd når eier er organisasjon."
          },
          "personidentifikator": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "example": "29880098401",
            "description": "Personidentifikatoren til personen som eier kraftverket. Påkrevd når eier er person."
          },
          "navn": {
            "type": "string",
            "example": "LØSNINGSORIENTERT ALLSLAGS FJELLREV",
            "description": "Navnet til personen eller bedriften som eier kraftverket"
          }
        }
      },
      "VannkraftanleggEndring": {
        "type": "object",
        "description": "Listen av endringer for vannkraftanlegg",
        "required": [
          "dokumentId",
          "datotid",
          "eier"
        ],
        "properties": {
          "dokumentId": {
            "type": "string",
            "format": "uuid",
            "description": "ID-en som sendes som dokumentId til GET /eiendomsskatt/vannkraft/api/v1/{fiksOrgId}/endringer/dokument/{dokumentId} for å laste ned Excel-filen.",
            "example": "a9ab0374-0c84-46dc-955f-845fcfc7e1dc"
          },
          "datotid": {
            "type": "string",
            "format": "date-time",
            "description": "Ajourholdstidspunktet for eiendomsskattegrunnlaget.",
            "example": "2026-04-05T14:48:00.000Z"
          },
          "eier": {
            "description": "Eieren av vannkraftanlegget som endringen gjelder.",
            "$ref": "#/components/schemas/Eier"
          }
        }
      },
      "EiendomsskattegrunnlagVannkraftanleggEndringer": {
        "type": "object",
        "description": "En side med sendte endringer for vannkraftanlegg.",
        "required": [
          "endringer",
          "totaltAntallEndringer",
          "side",
          "endringerPerSide"
        ],
        "properties": {
          "side": {
            "type": "integer",
            "format": "int32",
            "description": "Gjeldende sidetall for paginering",
            "example": 1
          },
          "endringerPerSide": {
            "type": "integer",
            "format": "int32",
            "description": "Antall endringer per side",
            "example": 10
          },
          "totaltAntallEndringer": {
            "type": "integer",
            "format": "int64",
            "description": "Antall endringer tilgjengelig totalt",
            "example": 1337
          },
          "endringer": {
            "type": "array",
            "description": "Listen av endringer for vannkraftanlegg",
            "items": {
              "$ref": "#/components/schemas/VannkraftanleggEndring"
            }
          }
        }
      }
    }
  }
}
