{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Varsling",
    "description" : "Service for varsling med sms og epost",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v2"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Excel",
    "description" : "API for å håndtere funksjonalitet for sending av sms og epost "
  }, {
    "name" : "varslingKonfigurasjon",
    "description" : "API for å håndtere funksjonalitet vedr. konfigurasjon av varsling"
  }, {
    "name" : "UtsendingRapport",
    "description" : "API for å håndtere funksjonalitet for sending av sms og epost "
  }, {
    "name" : "Events",
    "description" : "API for å håndtere funksjonalitet for sending av sms og epost"
  }, {
    "name" : "Utsending",
    "description" : "API for å håndtere funksjonalitet for sending av sms og epost "
  } ],
  "paths" : {
    "/varsling/api/v2/mottakermal" : {
      "get" : {
        "tags" : [ "Excel" ],
        "description" : "Henter xls mal for sms mottakere",
        "operationId" : "hentMottakerXlsMal",
        "responses" : {
          "200" : {
            "description" : "Hent mottaker xls mal"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/konfigurasjon/{fiksOrgId}/kontoer/{kontoId}/aktiver" : {
      "put" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Aktiverer varsling konto",
        "operationId" : "aktiverKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Aktiver konto"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/konfigurasjon/{fiksOrgId}/kontoer/{kontoId}/deaktiver" : {
      "put" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Deaktiverer varsling konto",
        "operationId" : "deaktiverKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deaktiver konto"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/konfigurasjon/{fiksOrgId}/kontoer/{kontoId}" : {
      "get" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Henter konto",
        "operationId" : "hentKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoRespons"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Oppdaterer konto",
        "operationId" : "oppdaterKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterKontoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Oppdater konto "
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Sletter varsling konto",
        "operationId" : "slettKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slett konto"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/konfigurasjon/{fiksOrgId}/kontoer" : {
      "get" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Henter kontoer på fiksorg",
        "operationId" : "hentKontoerForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent kontoer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/KontoRespons"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Oppretter konto for sending av sms",
        "operationId" : "opprettKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettKontoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Opprett konto for sending av sms",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoRespons"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/fakturagrunnlag" : {
      "post" : {
        "tags" : [ "UtsendingRapport" ],
        "description" : "Henter faktura-grunnlag til xls",
        "operationId" : "exportFakturaGrunnlag",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchCriteriaRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Hent utsendelse rapporter xls"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/fakturagrunnlag/csv" : {
      "post" : {
        "tags" : [ "UtsendingRapport" ],
        "description" : "Henter rapporter til csv",
        "operationId" : "exportFakturagrunnlagCsv",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchCriteriaRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Hent utsendelse rapporter til csv"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/sok/xls" : {
      "post" : {
        "tags" : [ "UtsendingRapport" ],
        "description" : "Henter rapporter til xls",
        "operationId" : "exportRapporter",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchCriteriaRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Hent utsendelse rapporter xls"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/sok/csv" : {
      "post" : {
        "tags" : [ "UtsendingRapport" ],
        "description" : "Henter rapporter til csv",
        "operationId" : "exportRapporterCsv",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchCriteriaRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Hent utsendelse rapporter til csv"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/utsendelser/{utsendelseId}/tlfliste" : {
      "get" : {
        "tags" : [ "UtsendingRapport" ],
        "description" : "Henter tlfliste for utsendelse",
        "operationId" : "exportTlfliste",
        "parameters" : [ {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent telefonliste xls"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/brukerdata" : {
      "get" : {
        "tags" : [ "UtsendingRapport" ],
        "description" : "Henter fiksorg Info",
        "operationId" : "hentBrukerData",
        "responses" : {
          "200" : {
            "description" : "Hent fiksorg info",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RapportBrukerDataResponse"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/utsendelser/{utsendelseId}" : {
      "get" : {
        "tags" : [ "UtsendingRapport" ],
        "description" : "Henter tlfliste for utsendelse",
        "operationId" : "hentRapport",
        "parameters" : [ {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent rapport på utsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Rapport"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/sok" : {
      "post" : {
        "tags" : [ "UtsendingRapport" ],
        "description" : "Henter rapporter på JSON-format",
        "operationId" : "hentRapporter",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchCriteriaRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Hent utsendelse rapporter",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Rapport"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/events/{utsendelseId}/krrProgresjon" : {
      "get" : {
        "tags" : [ "Events" ],
        "description" : "Brukes til å lese progresjon for krr oppslag på en utsendelse",
        "operationId" : "lesKrrProgresjon",
        "parameters" : [ {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "text/event-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UtsendelseEvent"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "text/event-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/events/{utsendelseId}/utsendelseProgresjon" : {
      "get" : {
        "tags" : [ "Events" ],
        "description" : "Brukes til å lese progresjon for en utsendelse",
        "operationId" : "lesUtsendelseProgresjon",
        "parameters" : [ {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "text/event-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UtsendelseEvent"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "text/event-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/avbryt" : {
      "put" : {
        "tags" : [ "Utsending" ],
        "description" : "Avbryter utsendelse",
        "operationId" : "avbrytUtsendelse",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Avbryt utsendelse"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/xlsfeil" : {
      "get" : {
        "tags" : [ "Utsending" ],
        "description" : "Eksporterer mottakere med feil til xls",
        "operationId" : "exportMottakereMedFeil",
        "parameters" : [ {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Eksporter mottakere med feil til xls"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Utsending" ],
        "description" : "Laster opp mottakere med feil fra xls. Denne operasjonen vil slette alle eksisterende feil (Inkludert duplikat)",
        "operationId" : "lastOppMottakereMedFeilFraXls",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Last opp mottakere med feil fra xls",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KrrStatusRespons"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/xls" : {
      "get" : {
        "tags" : [ "Utsending" ],
        "description" : "Henter mottakerliste til xls",
        "operationId" : "exportMottakereXls",
        "parameters" : [ {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Eksporter mottakere til xls"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Utsending" ],
        "description" : "Laster opp mottakere fra xls",
        "operationId" : "lastOppMottakereFraXls",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Last opp mottakere fra xls",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KrrStatusRespons"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer" : {
      "get" : {
        "tags" : [ "Utsending" ],
        "description" : "Henter kontoer bruker kan sende fra",
        "operationId" : "hentKontoerMedSendeTilgang",
        "responses" : {
          "200" : {
            "description" : "Hent kontoer innlogget bruker kan sende fra",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/KontoRespons"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere" : {
      "get" : {
        "tags" : [ "Utsending" ],
        "description" : "Henter mottakere på utsendelse",
        "operationId" : "hentMottakere",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent mottakere på utsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MottakerRespons"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Utsending" ],
        "description" : "Legger til mottaker på utsendelse",
        "operationId" : "leggTilMottaker",
        "parameters" : [ {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MottakerRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Legg til mottaker på utsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerRespons"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Utsending" ],
        "description" : "Sletter alle mottakere",
        "operationId" : "slettMottakere",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slett alle mottakere på utsendelse"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}" : {
      "get" : {
        "tags" : [ "Utsending" ],
        "description" : "Henter utsendelse",
        "operationId" : "hentUtsendelse",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent utsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UtsendelseRespons"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Utsending" ],
        "description" : "Oppdaterer  utsendelse",
        "operationId" : "oppdaterUtsendelse",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UtsendelseUpdateRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdater utsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UtsendelseRespons"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Utsending" ],
        "description" : "Sletter utsendelse",
        "operationId" : "slettUtsendelse",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slett utsendelse"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser" : {
      "get" : {
        "tags" : [ "Utsending" ],
        "description" : "Henter utsendelser for konto",
        "operationId" : "hentUtsendelserForKonto",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent utsendelser for konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UtsendelseRespons"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Utsending" ],
        "description" : "Oppretter utsendelse for konto",
        "operationId" : "opprettUtsendelse",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettUtsendelseRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprett utsendelse for konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UtsendelseRespons"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/oppsummering" : {
      "get" : {
        "tags" : [ "Utsending" ],
        "description" : "Henter mottaker oppsummering",
        "operationId" : "mottakerOppsummering",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent mottaker oppsummering",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerStatistikk"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/mottakere" : {
      "post" : {
        "tags" : [ "Utsending" ],
        "description" : "Oppretter utsendelse med liste av mottakere",
        "operationId" : "opprettUtsendelseMedListeAvMottakere",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/MottakerRequest"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprett utsendelse med liste av mottakere",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UtsendelseId"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/send" : {
      "post" : {
        "tags" : [ "Utsending" ],
        "description" : "Sender utsendelse",
        "operationId" : "sendUtsendelse",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UtsendelseRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Send utsendelse"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/duplikat" : {
      "delete" : {
        "tags" : [ "Utsending" ],
        "description" : "Sletter duplikate mottakere",
        "operationId" : "slettDuplikateMottakere",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slett duplikate mottakere"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/{mottakerId}" : {
      "delete" : {
        "tags" : [ "Utsending" ],
        "description" : "Sletter mottaker",
        "operationId" : "slettMottaker",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slett mottaker"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/ugyldig" : {
      "delete" : {
        "tags" : [ "Utsending" ],
        "description" : "Sletter mottakere som ikke er markert GYLDIG (Etterlate 1 av hver duplikat)",
        "operationId" : "slettMottakereIkkeGyldig",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slett ugyldige mottakere, mottakere uten telefonnummer og duplikat"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/ugyldigtlf" : {
      "delete" : {
        "tags" : [ "Utsending" ],
        "description" : "Sletter mottakere med ugyldig telefonnummer",
        "operationId" : "slettMottakereMedUgyldigTelefonnummer",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slett mottakere med ugyldig telefonnummer"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/utentlf" : {
      "delete" : {
        "tags" : [ "Utsending" ],
        "description" : "Sletter mottakere uten telefonnummer",
        "operationId" : "slettMottakereUtenTelefonnummer",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slett mottakere uten telefonnummer"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "KontoRespons" : {
        "required" : [ "aktivert", "avsender", "fiksOrgId", "kontoId", "navn" ],
        "type" : "object",
        "properties" : {
          "kontoId" : {
            "type" : "string",
            "description" : "Konto ID",
            "format" : "uuid"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          },
          "avsender" : {
            "type" : "string",
            "description" : "Avsender navn eller telefonnummer"
          },
          "konteringskode" : {
            "type" : "string",
            "description" : "Konteringskode"
          },
          "aktivert" : {
            "type" : "boolean",
            "description" : "Aktivert"
          },
          "tjeneste" : {
            "type" : "string",
            "description" : "Tjeneste som benytter kontoen"
          }
        }
      },
      "OppdaterKontoRequest" : {
        "required" : [ "avsender", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string",
            "description" : "Navn på konto"
          },
          "avsender" : {
            "maxLength" : 11,
            "minLength" : 2,
            "pattern" : "^[A-Za-zæøåÆØÅ0-9]+$",
            "type" : "string",
            "description" : "Navn eller telefonnummer til avsender."
          },
          "konteringskode" : {
            "maxLength" : 20,
            "minLength" : 0,
            "type" : "string",
            "description" : "Avsender konteringskode"
          }
        }
      },
      "OpprettKontoRequest" : {
        "required" : [ "avsender", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string",
            "description" : "Navn på konto"
          },
          "avsender" : {
            "maxLength" : 11,
            "minLength" : 2,
            "pattern" : "^[A-Za-zæøåÆØÅ0-9]+$",
            "type" : "string",
            "description" : "Navn eller telefonnummer til avsender."
          },
          "konteringskode" : {
            "maxLength" : 20,
            "minLength" : 0,
            "type" : "string",
            "description" : "Avsender konteringskode"
          },
          "tjeneste" : {
            "type" : "string",
            "description" : "Tjeneste som skal benytte konto"
          },
          "forelderressurs" : {
            "type" : "string",
            "description" : "Forelderressurs der konto skal opprettes under, default til tjeneste melding",
            "format" : "uuid"
          }
        }
      },
      "SearchCriteriaRequest" : {
        "type" : "object",
        "properties" : {
          "utsendelseId" : {
            "type" : "string",
            "description" : "Id på utsendelse",
            "format" : "uuid"
          },
          "datoFra" : {
            "type" : "string",
            "description" : "Innsendt dato fra",
            "format" : "date-time"
          },
          "datoTil" : {
            "type" : "string",
            "description" : "Innsendt dato til",
            "format" : "date-time"
          },
          "kontoId" : {
            "type" : "string",
            "description" : "KontoId til avsender",
            "format" : "uuid"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId",
            "format" : "uuid"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Telefonnummer på mottaker"
          }
        }
      },
      "KontoNavnIdResponseObject" : {
        "type" : "object",
        "properties" : {
          "kontoId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "kontoNavn" : {
            "type" : "string"
          }
        }
      },
      "RapportBrukerDataResponse" : {
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fiksOrgNavn" : {
            "type" : "string"
          },
          "kontoListe" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/KontoNavnIdResponseObject"
            }
          }
        }
      },
      "Rapport" : {
        "required" : [ "antallMeldinger", "antallMottakere", "antallSmsFeilet", "antallSmsLevert", "antallSmsSendt", "avsender", "datoSendt", "kontoNavn", "navn", "tekst", "utsendelseId" ],
        "type" : "object",
        "properties" : {
          "utsendelseId" : {
            "type" : "string",
            "description" : "Id på utsendelsen",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på utsendelsen"
          },
          "kontoNavn" : {
            "type" : "string",
            "description" : "Navn på kontoen til avsender"
          },
          "avsender" : {
            "type" : "string",
            "description" : "Avsenders navn eller telefonnummer"
          },
          "konteringskode" : {
            "type" : "string",
            "description" : "Konteringskode satt på utsendelsen"
          },
          "tekst" : {
            "type" : "string",
            "description" : "Sms tekst på utsendelsen"
          },
          "datoSendt" : {
            "type" : "string",
            "description" : "Timestamp for sending",
            "format" : "date-time"
          },
          "antallMottakere" : {
            "type" : "integer",
            "description" : "Totalt antall mottakere på utsendelsen",
            "format" : "int32"
          },
          "antallMeldinger" : {
            "type" : "integer",
            "description" : "Antall meldinger",
            "format" : "int32"
          },
          "antallSmsSendt" : {
            "type" : "integer",
            "description" : "Antall sms sendt",
            "format" : "int32"
          },
          "antallSmsLevert" : {
            "type" : "integer",
            "description" : "Antall sms levert til mottaker",
            "format" : "int32"
          },
          "antallSmsFeilet" : {
            "type" : "integer",
            "description" : "Antall sms feilet",
            "format" : "int32"
          }
        }
      },
      "HendelseKrrOppslagProgresjon" : {
        "required" : [ "antallBehandlet", "antallTotalt", "ferdigBehandlet", "type" ],
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/UtsendelseEvent"
        }, {
          "type" : "object",
          "properties" : {
            "antallBehandlet" : {
              "type" : "integer",
              "format" : "int32"
            },
            "antallTotalt" : {
              "type" : "integer",
              "format" : "int32"
            },
            "ferdigBehandlet" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "HendelseUtsendelseProgresjon" : {
        "required" : [ "antallFerdig", "antallMottakere", "ferdig", "type" ],
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/UtsendelseEvent"
        }, {
          "type" : "object",
          "properties" : {
            "antallFerdig" : {
              "type" : "integer",
              "format" : "int32"
            },
            "antallMottakere" : {
              "type" : "integer",
              "format" : "int32"
            },
            "ferdig" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "UtsendelseEvent" : {
        "required" : [ "type", "utsendelseId" ],
        "type" : "object",
        "properties" : {
          "utsendelseId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "type" : {
            "type" : "string",
            "enum" : [ "HendelseKrrOppslagProgresjon", "HendelseUtsendelseProgresjon" ]
          }
        },
        "discriminator" : {
          "propertyName" : "type"
        }
      },
      "MottakerRespons" : {
        "required" : [ "mottakerId", "telefonnummerStatus", "utsendelseId" ],
        "type" : "object",
        "properties" : {
          "mottakerId" : {
            "type" : "string",
            "description" : "Id på mottaker",
            "format" : "uuid"
          },
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer til mottaker"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Telefonnummer til mottaker"
          },
          "utsendelseId" : {
            "type" : "string",
            "description" : "UtsendelseId til mottaker",
            "format" : "uuid"
          },
          "telefonnummerStatus" : {
            "type" : "string",
            "description" : "Status på telefonnummer til mottaker",
            "enum" : [ "GYLDIG", "UGYLDIG", "DUPLIKAT", "MANGLER", "IKKE_FUNNET", "KRR_FEIL" ]
          }
        }
      },
      "UtsendelseRespons" : {
        "required" : [ "kontoId", "krrStatus", "mottakerType", "navn", "opprettetDatoTimestamp", "status", "utsendelseId" ],
        "type" : "object",
        "properties" : {
          "utsendelseId" : {
            "type" : "string",
            "description" : "Id på utsendelsen",
            "format" : "uuid"
          },
          "avsender" : {
            "type" : "string",
            "description" : "Avsender på utsendelsen"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på utsendelsen"
          },
          "kontoId" : {
            "type" : "string",
            "description" : "AvsenderId til utsendelse",
            "format" : "uuid"
          },
          "smsTekst" : {
            "type" : "string",
            "description" : "Sms tekst til utsendelse"
          },
          "konteringskode" : {
            "type" : "string",
            "description" : "Konteringskode på utsendelse"
          },
          "status" : {
            "type" : "string",
            "description" : "Status på utsendelsen",
            "enum" : [ "STARTET", "AVBRUTT", "FERDIG", "OPPRETTET", "KLAR_FOR_UTSENDING", "FEILET" ]
          },
          "opprettetDatoTimestamp" : {
            "type" : "string",
            "description" : "Dato når utsendelsen ble opprettet",
            "format" : "date-time"
          },
          "mottakerType" : {
            "type" : "string",
            "description" : "Mottakertype for å legge til mottakere. Excel, manuell eller ikke satt",
            "enum" : [ "EXCEL", "MANUELL", "ANNEN" ]
          },
          "krrStatus" : {
            "type" : "string",
            "description" : "Status for krr behandling",
            "enum" : [ "UNDER_BEHANDLING", "FERDIG_BEHANDLET", "IKKE_BEHANDLET" ]
          }
        }
      },
      "KrrStatusRespons" : {
        "required" : [ "krrStatus" ],
        "type" : "object",
        "properties" : {
          "krrStatus" : {
            "type" : "string",
            "description" : "Status på krr behandling",
            "enum" : [ "UNDER_BEHANDLING", "FERDIG_BEHANDLET", "IKKE_BEHANDLET" ]
          }
        }
      },
      "MottakerRequest" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer til mottaker"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Telefonnummer til mottaker"
          }
        },
        "description" : "Mottaker for utsendelse. Må inneholde enten fødselsnummer eller telefonnummer, men ikke begge"
      },
      "MottakerStatistikk" : {
        "required" : [ "antallDuplikater", "antallGyldige", "antallIkkeFunnet", "antallKrrFeil", "antallMottakereTotalt", "antallTotaltFeil", "antallUgyldigNummer" ],
        "type" : "object",
        "properties" : {
          "antallDuplikater" : {
            "type" : "integer",
            "description" : "Antall duplikate mottakere",
            "format" : "int32"
          },
          "antallUgyldigNummer" : {
            "type" : "integer",
            "description" : "Antall mottakere med ugyldig telefonnummer",
            "format" : "int32"
          },
          "antallIkkeFunnet" : {
            "type" : "integer",
            "description" : "Antall mottakere uten treff i Kontakt- og Reservasjonsregisteret",
            "format" : "int32"
          },
          "antallKrrFeil" : {
            "type" : "integer",
            "description" : "Antall mottakere med feil på oppslag i Kontakt- og Reservasjonsregisteret",
            "format" : "int32"
          },
          "antallTotaltFeil" : {
            "type" : "integer",
            "description" : "Antall mottaker feil totalt",
            "format" : "int32"
          },
          "antallGyldige" : {
            "type" : "integer",
            "description" : "Antall mottakere gyldig",
            "format" : "int32"
          },
          "antallMottakereTotalt" : {
            "type" : "integer",
            "description" : "Antall mottakere totalt",
            "format" : "int32"
          }
        }
      },
      "UtsendelseUpdateRequest" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på utsendelsen"
          },
          "avsender" : {
            "maxLength" : 11,
            "minLength" : 2,
            "pattern" : "^[A-Za-zæøåÆØÅ0-9]+$",
            "type" : "string",
            "description" : "Avsender på utsendelsen"
          },
          "konteringskode" : {
            "type" : "string",
            "description" : "Konteringskode på utsendelsen"
          },
          "smsTekst" : {
            "type" : "string",
            "description" : "Sms tekst på utsendelsen"
          }
        }
      },
      "OpprettUtsendelseRequest" : {
        "type" : "object",
        "properties" : {
          "mottakerType" : {
            "type" : "string",
            "enum" : [ "EXCEL", "MANUELL", "ANNEN" ]
          }
        }
      },
      "UtsendelseId" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id til utsendelse",
            "format" : "uuid"
          }
        }
      },
      "UtsendelseRequest" : {
        "required" : [ "avsender", "navn", "smsTekst" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på utsendelsen"
          },
          "avsender" : {
            "maxLength" : 11,
            "minLength" : 2,
            "pattern" : "^[A-Za-zæøåÆØÅ0-9]+$",
            "type" : "string",
            "description" : "Avsender på utsendelsen"
          },
          "konteringskode" : {
            "type" : "string",
            "description" : "Konteringskode på utsendelsen"
          },
          "smsTekst" : {
            "type" : "string",
            "description" : "Sms tekst på utsendelsen"
          }
        }
      }
    }
  }
}