/* Custom KS-theme */

:root {
  --MAIN-WIDTH-MAX: 131.25rem; /* Allow wider content on large screens (2100px) */
}

body {
  color: var(--MAIN-TEXT-color) !important;
}

textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple="multiple"]:focus {
  border-color: none;
  box-shadow: none;
}

h2,
h3,
h4,
h5 {
  color: var(--MAIN-TITLES-TEXT-color) !important;
}

h6 {
  font-size: 16px;
}

.ks-logo {
  display: block;
  width: 150px;
  margin: 0 auto;
}

#sidebar #footer {
  display: none;
}

pre ::selection {
  background: rgba(255, 255, 255, 0.7) !important;
  color: #000 !important;
}


#sidebar ul.topics > li > ul >li > ul > li > ul > li > a {display: none;}