{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks folkeregister person-soek service",
    "description" : "Folkregister person-soek service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "person-soek",
    "description" : "API for å håndtere funksjonalitet rundt person-soek fra folkeregisteret"
  } ],
  "paths" : {
    "/folkeregister/api/v1/personer/soek/verdier" : {
      "get" : {
        "tags" : [ "person-soek" ],
        "description" : "Gyldige verdier for nøkkelfelt, til bruk i front-end",
        "operationId" : "gyldigeVerdier",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GyldigeVerdierPersonSoek"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/personer/soek/{fiksOrgId}" : {
      "post" : {
        "tags" : [ "person-soek" ],
        "description" : "Finner ider til personer som oppfyller søkekriteriene",
        "operationId" : "soek",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PersonSoekDefinisjon"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonSoekResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "GyldigeVerdierPersonSoek" : {
        "required" : [ "kjoenn" ],
        "type" : "object",
        "properties" : {
          "kjoenn" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Verdi"
            }
          }
        }
      },
      "Verdi" : {
        "type" : "object",
        "properties" : {
          "kode" : {
            "type" : "string"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1AdresseIFrittFormat" : {
        "type" : "object",
        "properties" : {
          "adresselinje" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "landkode" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Adressenummer" : {
        "type" : "object",
        "properties" : {
          "husbokstav" : {
            "type" : "string"
          },
          "husnummer" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1AdvokatSomKontakt" : {
        "type" : "object",
        "properties" : {
          "organisasjonsnavn" : {
            "type" : "string"
          },
          "organisasjonsnummer" : {
            "type" : "string"
          },
          "personnavn" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Personnavn"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1BibeholdAvNorskStatsborgerskap" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "bibeholdstatus" : {
            "type" : "string",
            "enum" : [ "harBibehold", "harIkkeLengerBibehold", "norskStatsborgerTrengerIkkeBibehold" ]
          },
          "datoForBibehold" : {
            "type" : "string",
            "format" : "date"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Bostedsadresse" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "adresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "adressegradering" : {
            "type" : "string",
            "enum" : [ "ugradert", "klientadresse", "fortrolig", "strengtFortrolig" ]
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "flyttedato" : {
            "type" : "string",
            "format" : "date"
          },
          "grunnkrets" : {
            "type" : "integer",
            "format" : "int64"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "kirkekrets" : {
            "type" : "integer",
            "format" : "int64"
          },
          "matrikkeladresse" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Matrikkeladresse"
          },
          "naerAdresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "skolekrets" : {
            "type" : "integer",
            "format" : "int64"
          },
          "stemmekrets" : {
            "type" : "integer",
            "format" : "int64"
          },
          "ukjentBosted" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1UkjentBosted"
          },
          "vegadresse" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Vegadresse"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1BulkResponseFeilmelding" : {
        "type" : "object",
        "properties" : {
          "feilmelding" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1BulkResponseOppslag" : {
        "type" : "object",
        "properties" : {
          "feilmelding" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1BulkResponseFeilmelding"
          },
          "foedselsEllerDNummer" : {
            "type" : "string"
          },
          "folkeregisterperson" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Folkeregisterperson"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1DeltBosted" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "adresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "adressegradering" : {
            "type" : "string",
            "enum" : [ "ugradert", "klientadresse", "fortrolig", "strengtFortrolig" ]
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "matrikkeladresse" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Matrikkeladresse"
          },
          "naerAdresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "sluttdatoForKontrakt" : {
            "type" : "string",
            "format" : "date"
          },
          "startdatoForKontrakt" : {
            "type" : "string",
            "format" : "date"
          },
          "ukjentBosted" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1UkjentBosted"
          },
          "vegadresse" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Vegadresse"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Doedsfall" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "doedsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1FalskIdentitet" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erFalsk" : {
            "type" : "boolean"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "rettIdentitetErUkjent" : {
            "type" : "boolean"
          },
          "rettIdentitetVedIdentifikasjonsnummer" : {
            "type" : "string"
          },
          "rettIdentitetVedOpplysninger" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1IdentifiserendeInformasjon"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Familierelasjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "minRolleForPerson" : {
            "type" : "string",
            "enum" : [ "mor", "far", "medmor", "barn", "soesken", "ektefelleEllerPartner", "doedfoedtBarn" ]
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "relatertPerson" : {
            "type" : "string"
          },
          "relatertPersonUtenFolkeregisteridentifikator" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1RelatertBiPerson"
          },
          "relatertPersonsRolle" : {
            "type" : "string",
            "enum" : [ "mor", "far", "medmor", "barn", "soesken", "ektefelleEllerPartner", "doedfoedtBarn" ]
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Foedsel" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "foedekommuneINorge" : {
            "type" : "string"
          },
          "foedeland" : {
            "type" : "string"
          },
          "foedested" : {
            "type" : "string"
          },
          "foedselsaar" : {
            "type" : "string"
          },
          "foedselsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1FoedselINorge" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "foedselsinstitusjonsnavn" : {
            "type" : "string"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "rekkefoelgenummer" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Folkeregisteridentifikator" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "foedselsEllerDNummer" : {
            "type" : "string"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "identifikatortype" : {
            "type" : "string",
            "enum" : [ "foedselsnummer", "dNummer" ]
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "iBruk", "opphoert" ]
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Folkeregisterperson" : {
        "type" : "object",
        "properties" : {
          "adressebeskyttelse" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1GraderingAvAdresse"
            }
          },
          "bibehold" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1BibeholdAvNorskStatsborgerskap"
            }
          },
          "bostedsadresse" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Bostedsadresse"
            }
          },
          "brukAvSamiskSpraak" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1SamiskSpraak"
            }
          },
          "deltBosted" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1DeltBosted"
            }
          },
          "doedsfall" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Doedsfall"
          },
          "falskIdentitet" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1FalskIdentitet"
          },
          "familierelasjon" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Familierelasjon"
            }
          },
          "foedsel" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Foedsel"
            }
          },
          "foedselINorge" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1FoedselINorge"
            }
          },
          "foreldreansvar" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Foreldreansvar"
            }
          },
          "forholdTilSametingetsValgmanntall" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1SametingetsValgmanntall"
            }
          },
          "identifikasjonsnummer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Folkeregisteridentifikator"
            }
          },
          "identitetsgrunnlag" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Identitetsgrunnlag"
            }
          },
          "innflytting" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1InnflyttingTilNorge"
            }
          },
          "kjoenn" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Personkjoenn"
            }
          },
          "kontaktinformasjonForDoedsbo" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1KontaktinformasjonForDoedsbo"
            }
          },
          "legitimasjonsdokument" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Identifikasjonsdokument"
            }
          },
          "navn" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Folkeregisterpersonnavn"
            }
          },
          "opphold" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Opphold"
            }
          },
          "oppholdPaaSvalbard" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1OppholdPaaSvalbard"
            }
          },
          "oppholdsadresse" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Oppholdsadresse"
            }
          },
          "postadresse" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Kontaktadresse"
            }
          },
          "postadresseIUtlandet" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1KontaktadresseIUtlandet"
            }
          },
          "preferertKontaktadresse" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1PreferertKontaktadresse"
            }
          },
          "sivilstand" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Sivilstand"
            }
          },
          "statsborgerskap" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Statsborgerskap"
            }
          },
          "status" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Folkeregisterpersonstatus"
            }
          },
          "utenlandskPersonidentifikasjon" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Personidentifikasjon"
            }
          },
          "utflytting" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1UtflyttingFraNorge"
            }
          },
          "utlendingsmyndighetenesIdentifikasjonsnummer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Personidentifikasjon"
            }
          },
          "vergemaalEllerFremtidsfullmakt" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1VergemaalRepresentasjonEllerFremtidsfullmakt"
            }
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Folkeregisterpersonnavn" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "etternavn" : {
            "type" : "string"
          },
          "forkortetNavn" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "mellomnavn" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "originaltNavn" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Personnavn"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Folkeregisterpersonstatus" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "bosatt", "utflyttet", "forsvunnet", "doed", "opphoert", "foedselsregistrert", "midlertidig", "inaktiv", "ikkeBosatt", "aktiv" ]
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Foreldreansvar" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "ansvar" : {
            "type" : "string",
            "enum" : [ "felles", "mor", "far", "medmor", "andre", "ukjent" ]
          },
          "ansvarlig" : {
            "type" : "string"
          },
          "ansvarligOrganisasjon" : {
            "type" : "string"
          },
          "ansvarligUtenIdentifikator" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1RelatertBiPerson"
          },
          "ansvarssubjekt" : {
            "type" : "string"
          },
          "ansvarssubjektUtenIdentifikator" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1RelatertBiPerson"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1GraderingAvAdresse" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "graderingsnivaa" : {
            "type" : "string",
            "enum" : [ "ugradert", "klientadresse", "fortrolig", "strengtFortrolig" ]
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Identifikasjonsdokument" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dokumentkontroll" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1TekniskDokumentkontroll"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldigFra" : {
            "type" : "string",
            "format" : "date"
          },
          "gyldigTil" : {
            "type" : "string",
            "format" : "date"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "identifikasjonsdokumentnummer" : {
            "type" : "string"
          },
          "identifikasjonsdokumenttype" : {
            "type" : "string"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "utstederland" : {
            "type" : "string"
          },
          "utstedernavn" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1IdentifiserendeInformasjon" : {
        "type" : "object",
        "properties" : {
          "foedselsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "kjoenn" : {
            "type" : "string",
            "enum" : [ "kvinne", "mann" ]
          },
          "personnavn" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Personnavn"
          },
          "statsborgerskap" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Identitetsgrunnlag" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "identitetsgrunnlagstatus" : {
            "type" : "string",
            "enum" : [ "ingenStatus", "ikkeKontrollert", "kontrollert" ]
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1InnflyttingTilNorge" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "fraflyttingsland" : {
            "type" : "string"
          },
          "fraflyttingsstedIUtlandet" : {
            "type" : "string"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1InternasjonalAdresse" : {
        "type" : "object",
        "properties" : {
          "adressenavn" : {
            "type" : "string"
          },
          "boenhet" : {
            "type" : "string"
          },
          "byEllerStedsnavn" : {
            "type" : "string"
          },
          "bygning" : {
            "type" : "string"
          },
          "coAdressenavn" : {
            "type" : "string"
          },
          "distriktsnavn" : {
            "type" : "string"
          },
          "etasjenummer" : {
            "type" : "string"
          },
          "landkode" : {
            "type" : "string"
          },
          "postboks" : {
            "type" : "string"
          },
          "postkode" : {
            "type" : "string"
          },
          "region" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1InternasjonalAdresseIFrittFormat" : {
        "type" : "object",
        "properties" : {
          "adresselinje" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "byEllerStedsnavn" : {
            "type" : "string"
          },
          "landkode" : {
            "type" : "string"
          },
          "postkode" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Kontaktadresse" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "adresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "adressegradering" : {
            "type" : "string",
            "enum" : [ "ugradert", "klientadresse", "fortrolig", "strengtFortrolig" ]
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "postadresseIFrittFormat" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1PostadresseIFrittFormat"
          },
          "postboksadresse" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Postboksadresse"
          },
          "vegadresse" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1VegadresseForPost"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1KontaktadresseForDoedsbo" : {
        "type" : "object",
        "properties" : {
          "adresselinje" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "landkode" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststedsnavn" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1KontaktadresseIUtlandet" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "adressegradering" : {
            "type" : "string",
            "enum" : [ "ugradert", "klientadresse", "fortrolig", "strengtFortrolig" ]
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "utenlandskAdresse" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1InternasjonalAdresse"
          },
          "utenlandskAdresseIFrittFormat" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1InternasjonalAdresseIFrittFormat"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1KontaktinformasjonForDoedsbo" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1KontaktadresseForDoedsbo"
          },
          "advokat" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1AdvokatSomKontakt"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "attestutstedelsesdato" : {
            "type" : "string",
            "format" : "date"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "organisasjon" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1OrganisasjonSomKontakt"
          },
          "person" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1PersonSomKontakt"
          },
          "skifteform" : {
            "type" : "string",
            "enum" : [ "offentlig", "annet" ]
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Matrikkeladresse" : {
        "type" : "object",
        "properties" : {
          "adressetilleggsnavn" : {
            "type" : "string"
          },
          "bruksenhetsnummer" : {
            "type" : "string"
          },
          "bruksenhetstype" : {
            "type" : "string",
            "enum" : [ "bolig", "annetEnnBolig", "fritidsbolig", "ikkeGodkjentBolig", "unummerertBruksenhet" ]
          },
          "coAdressenavn" : {
            "type" : "string"
          },
          "matrikkelnummer" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Matrikkelnummer"
          },
          "poststed" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Poststed"
          },
          "undernummer" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Matrikkelnummer" : {
        "type" : "object",
        "properties" : {
          "bruksnummer" : {
            "type" : "integer",
            "format" : "int64"
          },
          "festenummer" : {
            "type" : "integer",
            "format" : "int64"
          },
          "gaardsnummer" : {
            "type" : "integer",
            "format" : "int64"
          },
          "kommunenummer" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Opphold" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "oppholdFra" : {
            "type" : "string",
            "format" : "date"
          },
          "oppholdTil" : {
            "type" : "string",
            "format" : "date"
          },
          "oppholdstillatelse" : {
            "type" : "string",
            "enum" : [ "midlertidig", "permanent", "opplysningMangler" ]
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1OppholdPaaSvalbard" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "antallTidligereOpphold" : {
            "type" : "integer",
            "format" : "int64"
          },
          "antattOppholdsvarighet" : {
            "type" : "string",
            "enum" : [ "underSeksMaaneder", "overSeksMaaneder", "overTolvMaaneder", "ukjent" ]
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "fraflyttingskommunenummer" : {
            "type" : "string"
          },
          "fraflyttingsland" : {
            "type" : "string"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "sluttdato" : {
            "type" : "string",
            "format" : "date"
          },
          "startdato" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Oppholdsadresse" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "adresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "adressegradering" : {
            "type" : "string",
            "enum" : [ "ugradert", "klientadresse", "fortrolig", "strengtFortrolig" ]
          },
          "adressenErUkjent" : {
            "type" : "boolean"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "matrikkeladresse" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Matrikkeladresse"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "oppholdAnnetSted" : {
            "type" : "string",
            "enum" : [ "militaer", "utenriks", "paaSvalbard", "pendler" ]
          },
          "oppholdsadressedato" : {
            "type" : "string",
            "format" : "date"
          },
          "utenlandskAdresse" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1InternasjonalAdresse"
          },
          "vegadresse" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Vegadresse"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1OrganisasjonSomKontakt" : {
        "type" : "object",
        "properties" : {
          "kontaktpersonnavn" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Personnavn"
          },
          "organisasjonsnavn" : {
            "type" : "string"
          },
          "organisasjonsnummer" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1PersonSomKontakt" : {
        "type" : "object",
        "properties" : {
          "foedselsEllerDNummer" : {
            "type" : "string"
          },
          "foedselsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "personnavn" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Personnavn"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Personidentifikasjon" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "identifikasjonsnummer" : {
            "type" : "string"
          },
          "identifikasjonsnummertype" : {
            "type" : "string"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "utstederland" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Personkjoenn" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "kjoenn" : {
            "type" : "string",
            "enum" : [ "kvinne", "mann" ]
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Personnavn" : {
        "type" : "object",
        "properties" : {
          "etternavn" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "mellomnavn" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1PostadresseIFrittFormat" : {
        "type" : "object",
        "properties" : {
          "adresselinje" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "poststed" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Poststed"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Postboksadresse" : {
        "type" : "object",
        "properties" : {
          "postboks" : {
            "type" : "string"
          },
          "postbokseier" : {
            "type" : "string"
          },
          "poststed" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Poststed"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Poststed" : {
        "type" : "object",
        "properties" : {
          "postnummer" : {
            "type" : "string"
          },
          "poststedsnavn" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1PreferertKontaktadresse" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "adressegradering" : {
            "type" : "string",
            "enum" : [ "ugradert", "klientadresse", "fortrolig", "strengtFortrolig" ]
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "kontaktadresseIFrittFormat" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1AdresseIFrittFormat"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "valg" : {
            "type" : "string",
            "enum" : [ "bostedsadresse", "oppholdsadresse", "postadresse", "postadresseIUtlandet" ]
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1RelatertBiPerson" : {
        "type" : "object",
        "properties" : {
          "foedselsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "kjoenn" : {
            "type" : "string",
            "enum" : [ "kvinne", "mann" ]
          },
          "navn" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Personnavn"
          },
          "statsborgerskap" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1SametingetsValgmanntall" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "forhold" : {
            "type" : "string",
            "enum" : [ "innmeldt", "utmeldt", "aldriInnmeldt" ]
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "vedtaksdato" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1SamiskSpraak" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "spraak" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "nordsamisk", "soersamisk", "lulesamisk" ]
            }
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Sivilstand" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "kommune" : {
            "type" : "string"
          },
          "myndighet" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "relatertVedSivilstand" : {
            "type" : "string"
          },
          "sivilstand" : {
            "type" : "string",
            "enum" : [ "uoppgitt", "ugift", "gift", "enkeEllerEnkemann", "skilt", "separert", "registrertPartner", "separertPartner", "skiltPartner", "gjenlevendePartner" ]
          },
          "sivilstandsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "sted" : {
            "type" : "string"
          },
          "utland" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Statsborgerskap" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "ervervsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "statsborgerskap" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1TekniskDokumentkontroll" : {
        "type" : "object",
        "properties" : {
          "dokumentkontrollstatus" : {
            "type" : "string"
          },
          "dokumentkontrolltidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1UkjentBosted" : {
        "type" : "object",
        "properties" : {
          "bostedskommune" : {
            "type" : "string"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1UtflyttingFraNorge" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "tilflyttingsland" : {
            "type" : "string"
          },
          "tilflyttingsstedIUtlandet" : {
            "type" : "string"
          },
          "utflyttingsdato" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1Vegadresse" : {
        "type" : "object",
        "properties" : {
          "adressekode" : {
            "type" : "string"
          },
          "adressenavn" : {
            "type" : "string"
          },
          "adressenummer" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Adressenummer"
          },
          "adressetilleggsnavn" : {
            "type" : "string"
          },
          "bruksenhetsnummer" : {
            "type" : "string"
          },
          "bruksenhetstype" : {
            "type" : "string",
            "enum" : [ "bolig", "annetEnnBolig", "fritidsbolig", "ikkeGodkjentBolig", "unummerertBruksenhet" ]
          },
          "coAdressenavn" : {
            "type" : "string"
          },
          "kommunenummer" : {
            "type" : "string"
          },
          "poststed" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Poststed"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1VegadresseForPost" : {
        "type" : "object",
        "properties" : {
          "adressekode" : {
            "type" : "string"
          },
          "adressenavn" : {
            "type" : "string"
          },
          "adressenummer" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Adressenummer"
          },
          "adressetilleggsnavn" : {
            "type" : "string"
          },
          "bruksenhetsnummer" : {
            "type" : "string"
          },
          "coAdressenavn" : {
            "type" : "string"
          },
          "poststed" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Poststed"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1VergeRepresentantEllerFullmektig" : {
        "type" : "object",
        "properties" : {
          "foedselsEllerDNummer" : {
            "type" : "string"
          },
          "navn" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1Personnavn"
          },
          "omfang" : {
            "type" : "string",
            "enum" : [ "utlendingssakerPersonligeOgOekonomiskeInteresser", "personligeOgOekonomiskeInteresser", "oekonomiskeInteresser", "personligeInteresser" ]
          },
          "omfangetErInnenPersonligOmraade" : {
            "type" : "boolean"
          }
        }
      },
      "FolkeregisteretTilgjengeliggjoeringPersonV1VergemaalRepresentasjonEllerFremtidsfullmakt" : {
        "type" : "object",
        "properties" : {
          "aarsak" : {
            "type" : "string"
          },
          "ajourholdstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "embete" : {
            "type" : "string"
          },
          "erGjeldende" : {
            "type" : "boolean"
          },
          "gyldighetstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "kilde" : {
            "type" : "string"
          },
          "opphoerstidspunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "verge" : {
            "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1VergeRepresentantEllerFullmektig"
          },
          "vergemaaltype" : {
            "type" : "string",
            "enum" : [ "ensligMindreaarigAsylsoeker", "ensligMindreaarigFlyktning", "voksen", "midlertidigForVoksen", "mindreaarig", "midlertidigForMindreaarig", "forvaltningUtenforVergemaal", "stadfestetFremtidsfullmakt" ]
          }
        }
      },
      "PersonSoekResponse" : {
        "required" : [ "personer" ],
        "type" : "object",
        "properties" : {
          "personer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FolkeregisteretTilgjengeliggjoeringPersonV1BulkResponseOppslag"
            }
          }
        }
      },
      "AarIntervall" : {
        "type" : "object",
        "properties" : {
          "fraAar" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          },
          "tilAar" : {
            "type" : "integer",
            "format" : "int32"
          }
        },
        "description" : "Fødselsår, fra og med, til og med"
      },
      "PersonSoekDefinisjon" : {
        "required" : [ "rolleId" ],
        "type" : "object",
        "properties" : {
          "rolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Et eller flere hele ord fra personnavnet, skilt med mellomrom."
          },
          "kjoenn" : {
            "type" : "string",
            "enum" : [ "MANN", "KVINNE" ]
          },
          "foedselsdato" : {
            "type" : "integer",
            "description" : "Fødselsdato (YYYYMMDD)",
            "format" : "int32"
          },
          "foedt" : {
            "$ref" : "#/components/schemas/AarIntervall"
          },
          "adressenavn" : {
            "type" : "string",
            "description" : "Minst 3 tegn fra begynnelsen av gatenavn"
          },
          "husnummer" : {
            "type" : "string",
            "description" : "Husnummer, med eller uten bokstav"
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Filtrerer treff på postnummer (4 siffer)"
          },
          "kommunenummer" : {
            "type" : "string",
            "description" : "Filtrerer treff på kommunenummer (4 siffer)"
          },
          "fylkesnummer" : {
            "type" : "string",
            "description" : "Filtrerer treff på fylkesnummer (2 siffer)"
          },
          "inkluderOppholdsadresse" : {
            "type" : "boolean",
            "description" : "Treffer oppholdsasdresse i tillegg til bostedsadresse. Default: false"
          },
          "soekFonetisk" : {
            "type" : "boolean",
            "description" : "Søk også på lignende navn. Default: false"
          },
          "inkluderDoede" : {
            "type" : "boolean",
            "description" : "Treffer også døde personer. Default: false"
          },
          "inkluderHistoriskeNavnOgAdresser" : {
            "type" : "boolean",
            "description" : "Styrer håndtering av historikk. Default: 'false'. Påvirker kun navn og adresse - for andre opplysninger søkes det alltid kun på gjeldende."
          },
          "maksTreff" : {
            "type" : "integer",
            "description" : "Maksimalt antall treff å returnere. Maks 10.000.",
            "format" : "int32"
          },
          "parts" : {
            "type" : "array",
            "description" : "Parts brukt for dataminimering",
            "items" : {
              "type" : "string",
              "description" : "Parts brukt for dataminimering"
            }
          },
          "fiksVisHemmeligeAdresser" : {
            "type" : "boolean",
            "description" : "Skal hemmelige adresser vises. Default: false"
          }
        }
      }
    }
  }
}