{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Signert avtale service",
    "description" : "Signert avtale service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "avtale",
    "description" : "API for å håndtere signering av avtaler for bruk av Fiks-plattformen"
  } ],
  "paths" : {
    "/avtale/api/v1/avtaler/{avtaleSignertId}" : {
      "get" : {
        "tags" : [ "avtale" ],
        "description" : "Hent signert avtale for angitt fiksOrgId og tjeneste",
        "operationId" : "hentAvtaleSignert",
        "parameters" : [ {
          "name" : "avtaleSignertId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Signert avtale",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvtaleSignertDefinisjon"
                }
              }
            }
          },
          "404" : {
            "description" : "Signert avtale ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "avtale" ],
        "description" : "Oppdaterer signert avtale for angitt avtaleSignertId",
        "operationId" : "oppdaterAvtaleSignert",
        "parameters" : [ {
          "name" : "avtaleSignertId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterAvtaleSignertDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdatert signert avtale",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvtaleSignertDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "avtale" ],
        "description" : "Slett signert avtale for angitt avtaleSignertId",
        "operationId" : "deleteAvtaleSignert",
        "parameters" : [ {
          "name" : "avtaleSignertId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slett signert avtale"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/kunder" : {
      "get" : {
        "tags" : [ "avtale" ],
        "description" : "Hent alle kunder som har signert avtaler for minst én tjeneste",
        "operationId" : "hentAlleKunder",
        "responses" : {
          "200" : {
            "description" : "Kunder",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FiksOrganisasjonDefinisjon"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/kunder/tjenester/{tjenestekode}/avtaler" : {
      "get" : {
        "tags" : [ "avtale" ],
        "description" : "Hent alle Fiks-organisasjoner som har signert avtale for angitt tjeneste sortert på hvilken avtale de har signert",
        "operationId" : "hentAlleKunderForAvtaler",
        "parameters" : [ {
          "name" : "tjenestekode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Fiks-organisasjoner",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AvtaleFiksOrganisasjonDefinisjon"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/kunder/tjenester/{tjenestekode}" : {
      "get" : {
        "tags" : [ "avtale" ],
        "description" : "Hent alle Fiks-organisasjoner som har signert en avtale for angitt tjeneste",
        "operationId" : "hentAlleKunderForTjeneste",
        "parameters" : [ {
          "name" : "tjenestekode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Fiks-organisasjoner",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FiksOrganisasjonDefinisjon"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/kunder/tjenester" : {
      "get" : {
        "tags" : [ "avtale" ],
        "description" : "Hent alle kunder og alle tilhørende tjenester",
        "operationId" : "hentAlleKunderOgTjenester",
        "responses" : {
          "200" : {
            "description" : "Kunder med tilhørende tjenester",
            "content" : {
              "text/csv" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "text/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/kunder/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "avtale" ],
        "description" : "Hent alle signerte avtaler for angitt fiksOrgId",
        "operationId" : "hentSignerteAvtalerForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "inkluderOppsagte",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Avtaler",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AvtaleSignertDefinisjon"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/kunder/{fiksOrgId}/tjenester" : {
      "get" : {
        "tags" : [ "avtale" ],
        "description" : "Hent tilgjengelige tjenester for person for angitt fiksOrgId",
        "operationId" : "hentTilgjengeligeTjenesterForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Tilgjengelige tjenester",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TjenesteAvtaleSignertDefinisjon"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/signering/mottak" : {
      "get" : {
        "tags" : [ "avtale" ],
        "description" : "Mottak av signeringsoppdrag. Videresender til landingsside for avtaler",
        "operationId" : "mottakSignering",
        "parameters" : [ {
          "name" : "signeringId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "landingssideUrl",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "302" : {
            "description" : "Landingsside for avtaler"
          }
        }
      }
    },
    "/avtale/api/v1/avtaler" : {
      "post" : {
        "tags" : [ "avtale" ],
        "description" : "Registrer signert avtale",
        "operationId" : "opprettAvtaleSignert",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettAvtaleSignertDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Registrert signert avtale",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvtaleSignertDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/{avtaleSignertId}/oppsigelse" : {
      "post" : {
        "tags" : [ "avtale" ],
        "description" : "Si opp signert avtale",
        "operationId" : "opprettOppsigelseAvtaleSignert",
        "parameters" : [ {
          "name" : "avtaleSignertId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettOppsigelseAvtaleSignertDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Signert avtale oppsagt"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/avtaler/signering/{fiksOrgId}/{tjenestekode}" : {
      "post" : {
        "tags" : [ "avtale" ],
        "description" : "Start av signeringsoppdrag",
        "operationId" : "startSignering",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tjenestekode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "landingssideUrl",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "302" : {
            "description" : "Signert avtale opprettet"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "FiksOrganisasjonDefinisjon" : {
        "required" : [ "harHovedavtale", "id", "kommunenummer", "navn", "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "kommunenummer" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "harHovedavtale" : {
            "type" : "boolean"
          }
        }
      },
      "AvtaleDefinisjon" : {
        "required" : [ "aktivert", "avtaleOpprettet", "dokumenter", "id", "type", "versjon" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "versjon" : {
            "type" : "string"
          },
          "dokumenter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AvtaleDokumentDefinisjon"
            }
          },
          "avtaleOpprettet" : {
            "type" : "string",
            "format" : "date-time"
          },
          "aktivert" : {
            "type" : "boolean"
          },
          "type" : {
            "type" : "string",
            "enum" : [ "HOVEDAVTALE", "TJENESTEVEDLEGG" ]
          }
        }
      },
      "AvtaleDokumentDefinisjon" : {
        "required" : [ "dokumentlagerId", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9_.,/\\-_ ]+$",
            "type" : "string"
          },
          "dokumentlagerId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "posisjon" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "AvtaleFiksOrganisasjonDefinisjon" : {
        "type" : "object",
        "properties" : {
          "avtale" : {
            "$ref" : "#/components/schemas/AvtaleDefinisjon"
          },
          "fiksOrg" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FiksOrganisasjonDefinisjon"
            }
          }
        }
      },
      "AvtaleSignertDefinisjon" : {
        "required" : [ "avtaleUuid", "fiksOrgId", "fiksOrgNavn", "gjeldendeVersjon", "signertVersjon", "tjenestekode", "tjenestenavn", "uuid" ],
        "type" : "object",
        "properties" : {
          "uuid" : {
            "type" : "string",
            "format" : "uuid"
          },
          "avtaleUuid" : {
            "type" : "string",
            "format" : "uuid"
          },
          "tjenestekode" : {
            "pattern" : "^[0-9A-Z_.]+$",
            "type" : "string"
          },
          "tjenestenavn" : {
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fiksOrgNavn" : {
            "type" : "string"
          },
          "signeringsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "signertAv" : {
            "type" : "string"
          },
          "signertVersjon" : {
            "type" : "string"
          },
          "gjeldendeVersjon" : {
            "type" : "string"
          },
          "oppsigelse" : {
            "$ref" : "#/components/schemas/OppsigelseAvtaleSignertDefinisjon"
          }
        }
      },
      "OppsigelseAvtaleSignertDefinisjon" : {
        "required" : [ "avtaleSignertUuid", "navnBehandler", "navnBestiller", "nedkoblingsdato", "registreringsdato", "sisteFaktureringsdato" ],
        "type" : "object",
        "properties" : {
          "avtaleSignertUuid" : {
            "type" : "string",
            "format" : "uuid"
          },
          "ticketId" : {
            "maxLength" : 450,
            "minLength" : 0,
            "type" : "string",
            "description" : "ID til sak i Freshdesk"
          },
          "sisteFaktureringsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "nedkoblingsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "gyldigTilDato" : {
            "type" : "string",
            "format" : "date"
          },
          "registreringsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "epost" : {
            "maxLength" : 450,
            "minLength" : 0,
            "type" : "string",
            "description" : "Epostadresse til personen som skal motta data om den avsluttede tjenesten"
          },
          "navnBehandler" : {
            "maxLength" : 450,
            "minLength" : 0,
            "type" : "string",
            "description" : "Navnet til personen som behandler oppsigelsen i KS"
          },
          "navnBestiller" : {
            "maxLength" : 450,
            "minLength" : 0,
            "type" : "string",
            "description" : "Navnet til personen som har bestilt oppsigelsen"
          },
          "merknad" : {
            "maxLength" : 4000,
            "minLength" : 0,
            "type" : "string"
          }
        },
        "description" : "Informasjon om avtalen er sagt opp"
      },
      "TjenesteAvtaleSignertDefinisjon" : {
        "type" : "object",
        "properties" : {
          "tjeneste" : {
            "$ref" : "#/components/schemas/TjenesteEnkelDefinisjon"
          },
          "avtaleSignert" : {
            "$ref" : "#/components/schemas/AvtaleSignertDefinisjon"
          }
        }
      },
      "TjenesteEnkelDefinisjon" : {
        "required" : [ "aktivert", "gjeldendeVersjon", "navn", "produktansvarlig", "tjenestekode" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "[A-Za-zæøåÆØÅ\\d_.,/\\-: ]+",
            "type" : "string"
          },
          "tjenestekode" : {
            "pattern" : "^[0-9A-Z_.]+$",
            "type" : "string"
          },
          "produktansvarlig" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9_.,/\\-_ ]+$",
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "aktivert" : {
            "type" : "boolean"
          },
          "gjeldendeVersjon" : {
            "type" : "string"
          },
          "saksnr" : {
            "type" : "string",
            "description" : "Saksnummer i arkivet"
          },
          "lesMer" : {
            "type" : "string",
            "description" : "Lenke til dokumentasjon"
          },
          "ressursType" : {
            "pattern" : "^[0-9A-Z_.]+$",
            "type" : "string"
          }
        }
      },
      "OppdaterAvtaleSignertDefinisjon" : {
        "required" : [ "avtaleUuid" ],
        "type" : "object",
        "properties" : {
          "avtaleUuid" : {
            "type" : "string",
            "format" : "uuid"
          },
          "signeringsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "signertAv" : {
            "type" : "string"
          }
        }
      },
      "OpprettAvtaleSignertDefinisjon" : {
        "required" : [ "avtaleUuid", "fiksOrgId", "tjenestekode" ],
        "type" : "object",
        "properties" : {
          "avtaleUuid" : {
            "type" : "string",
            "format" : "uuid"
          },
          "tjenestekode" : {
            "pattern" : "^[0-9A-Z_.]+$",
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "signeringsdato" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "OpprettOppsigelseAvtaleSignertDefinisjon" : {
        "required" : [ "navnBehandler", "navnBestiller", "nedkoblingsdato", "registreringsdato", "sisteFaktureringsdato" ],
        "type" : "object",
        "properties" : {
          "ticketId" : {
            "maxLength" : 450,
            "minLength" : 0,
            "type" : "string",
            "description" : "ID til sak i Freshdesk"
          },
          "sisteFaktureringsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "nedkoblingsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "registreringsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "epost" : {
            "maxLength" : 450,
            "minLength" : 0,
            "type" : "string",
            "description" : "Epostadresse til personen som skal motta data om den avsluttede tjenesten"
          },
          "navnBehandler" : {
            "maxLength" : 450,
            "minLength" : 0,
            "type" : "string",
            "description" : "Navnet til personen som behandler oppsigelsen i KS"
          },
          "navnBestiller" : {
            "maxLength" : 450,
            "minLength" : 0,
            "type" : "string",
            "description" : "Navnet til personen som har bestilt oppsigelsen"
          },
          "merknad" : {
            "maxLength" : 4000,
            "minLength" : 0,
            "type" : "string"
          }
        }
      }
    }
  }
}