{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Barnevern konfigurasjon service",
    "description" : "Barnevern dokumentmedvirkning konfigurasjon service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "barnevern/konfigurasjon",
    "description" : "Api for konfigurasjon av Min kommune - Barnevern"
  } ],
  "paths" : {
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor/{kontorId}" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Oppdaterer bydelsenhet med ny info. Oppretter ny edialog mottaker/svarut konto.",
        "operationId" : "endreBydelsKontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EndreBydelRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Enhetsinfo er endret",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/integrasjon/{integrasjonId}/passord" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Kan endre på integrasjonspassord",
        "operationId" : "endreIntegrasjonPassord",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "integrasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Det nye passordet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BarnevernIntegrasjon"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/kontaktperson/{kontaktPersonId}" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Endrer kontaktperson til kommune",
        "operationId" : "endreKontaktperson",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontaktPersonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontaktPerson"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjerner kontaktperson fra kommune",
        "operationId" : "fjernKontaktperson",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontaktPersonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/kontor/{kontorId}" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Legger til ny enhet med ny info. Oppretter ny edialog mottaker/svarut konto.",
        "operationId" : "endreKontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilEnhetRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Enhetsinfo er endret",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/administrator/{personId}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjerner admin fra kommune",
        "operationId" : "fjernAdmin",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "personId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor/{kontorId}/administrator/{personId}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjerner admin fra bydel",
        "operationId" : "fjernAdminForBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "personId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor/{kontorId}/ny/{kontorIdErstatning}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjerner bydelskontor etter at oppsett er utført. Må oppgi hvilket kontor som skal overta eksisterende saker.",
        "operationId" : "fjernBydelskontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontorIdErstatning",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor/{kontorId}/kontaktperson/{kontaktPersonId}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjerner kontaktperson fra bydel",
        "operationId" : "fjernKontaktpersonForBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontaktPersonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/barnevernkontor" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Henter barnevernkontor for kommune som støtter bydeler",
        "operationId" : "hentBarnevernKontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "BarnevernKontor",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Bydelskontor"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/kontor" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Henter barnevernkontor for kommune som ikke støtter bydeler",
        "operationId" : "hentBarnevernKontorStandard",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "BarnevernKontor",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorBydelModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/ressurser" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Henter status for barneverntjenesten.",
        "operationId" : "hentIntegrasjonerOgRessurser",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Konfigurasjonsdetaljer for barneverntjenesten",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RessurserOgIntegrasjoner"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/status" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Status kall",
        "operationId" : "hentStatus",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status på konfigurasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatusBarnevern"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/administrator" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Registrer admin",
        "operationId" : "leggTilAdmin",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminPerson"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Opprettet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor/administrator" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Registrer admin for bydel",
        "operationId" : "leggTilAdminForBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminPersonMedTilganger"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Opprettet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/kontaktperson" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Registrer kontaktperson",
        "operationId" : "leggTilKontaktperson",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontaktPerson"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontaktpersonModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor/{kontorId}/kontaktperson" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Registrer kontaktperson for bydel",
        "operationId" : "leggTilKontaktpersonForBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontaktPerson"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontaktpersonModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/enhetsregister/{orgnr}" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Oppslag mot Enhetsregisteret",
        "operationId" : "oppslagEnhetsregister",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgnr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Enhetsinfo fra Enhetsregister",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnhetModel"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen treff mot Enhetsregister"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Registrerer hvilket organisasjonsenhet som skal håndtere barnevernsaker for bydelen.",
        "operationId" : "registrerBydelskontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilBydelkontorRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/protokollkonto" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonData" ],
        "summary" : "Henter protokollkonto",
        "operationId" : "hentProtokollKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status på konfigurasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/administrator/{personId}" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Endrer admin for kommune",
        "operationId" : "endreAdmin",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "personId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EndreAdminPerson"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Fjerner admin fra kommune",
        "operationId" : "fjernAdmin_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "personId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/kontaktperson/{kontaktPersonId}" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Endrer kontaktperson til kommune",
        "operationId" : "endreKontaktperson_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontaktPersonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontaktPerson"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Fjerner kontaktperson fra kommune",
        "operationId" : "fjernKontaktperson_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontaktPersonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/fullfor/iks" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Aktiverer tjenesten for IKS kommuner.",
        "operationId" : "fullforIKS",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Tjeneste er initialisert"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/initialiser/fullfor" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Fullfør konfigurasjon",
        "operationId" : "fullforInitialisering",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/barnevernkontor" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Henter barnevernkontor for kommune som støtter bydeler",
        "operationId" : "hentBarnevernKontor_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "BarnevernKontor",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BarnevernKontorResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/status" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Henter status på oppsett av barneverntjenesten. Viser hvilken steg som er utført, og som gjenstår.",
        "operationId" : "hentInitStatus",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter status på initialisering",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InitStatus"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/initialiser" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Aktiverer tjenesten for kommunen. Må kalles opp før man kan fortsette med annen konfigurasjon.",
        "operationId" : "initBarnevern",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Tjeneste er initialisert"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/administrator" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Registrer admin",
        "operationId" : "leggTilAdmin_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminPerson"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Opprettet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/kontaktperson" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Registrer kontaktperson",
        "operationId" : "leggTilKontaktperson_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontaktPerson"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontaktpersonModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/ressurser" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Opprett integrasjoner og ressurser",
        "operationId" : "opprettIntegrasjonerOgRessurser",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Konfigurasjonsdetaljer for systemet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpprettRessurserResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/enhetsregister/{orgnr}" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Oppslag mot Enhetsregisteret",
        "operationId" : "oppslagEnhetsregister_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgnr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Enhetsinfo fra Enhetsregister",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnhetModel"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen treff mot Enhetsregister"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/kontor" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Registrerer hvilket organisasjonsenhet som skal håndtere barnevernsaker. En standard kommune kan kun ha en aktiv enhet knyttet til seg.",
        "operationId" : "registrerBarnevernkontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilEnhetRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/bydelskontorer" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Registrerer hvilket organisasjonsenhet som skal håndtere barnevernsaker for bydelene.",
        "operationId" : "registrerBydelskontorer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilBydelkontorerRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModels"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/leverandor" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Velger leverandør av fagsystem",
        "operationId" : "velgLeverandor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VelgLeverandor"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Lagt til leverandør"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/svarut/kontoer/{kontoId}" : {
      "get" : {
        "tags" : [ "BarnevernSvarutKonfigurasjon" ],
        "summary" : "Henter svarut konto",
        "operationId" : "hentKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Kontoer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/svarut/kontoer/sok" : {
      "get" : {
        "tags" : [ "BarnevernSvarutKonfigurasjon" ],
        "summary" : "Henter svarut konto basert på orgnr-filter",
        "operationId" : "hentKontoForOrgnr",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgnr",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Kontoer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/svarut/konto/{orgNr}" : {
      "get" : {
        "tags" : [ "BarnevernSvarutKonfigurasjon" ],
        "summary" : "Henter svarut kontoer",
        "operationId" : "sokKontoer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgNr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Kontoer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoOppslag"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/dokumentmedvirkning/api/v1/tilknytninger/alle" : {
      "get" : {
        "tags" : [ "DokumentmedvirkningKonfigurasjon" ],
        "summary" : "Henter edialog mottaker",
        "operationId" : "hentAlleTilknytninger",
        "responses" : {
          "200" : {
            "description" : "Mottakere",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Tilknytninger"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "KontorModel" : {
        "type" : "object",
        "properties" : {
          "kontorId" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "aktiv" : {
            "type" : "boolean"
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "EndreBydelRequest" : {
        "type" : "object",
        "properties" : {
          "nyttOrgnr" : {
            "type" : "string"
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        }
      },
      "BarnevernIntegrasjon" : {
        "required" : [ "integrasjonId", "integrasjonPassord" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "Id til integrasjon",
            "format" : "uuid"
          },
          "integrasjonPassord" : {
            "type" : "string",
            "description" : "Passord til integrasjon"
          }
        },
        "description" : "Integrasjon som brukes for å jobbe mot samtykke-tjenesten"
      },
      "KontaktPerson" : {
        "required" : [ "epost", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Navn til kontakt som skal legges til."
          },
          "epost" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Epost-adresse til kontakt som skal legges til."
          }
        },
        "description" : "Informasjon om kontaktperson"
      },
      "LeggTilEnhetRequest" : {
        "required" : [ "brukEnhetsregisterInfo", "orgnr" ],
        "type" : "object",
        "properties" : {
          "orgnr" : {
            "type" : "string",
            "description" : "Orgnr til enhet som skal håndtere barnevernsaker"
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean",
            "description" : "Angir om man skal gjøre oppslag mot enhetsregister for å finne navn/postadresse, eller om man skal bruke egendefinerte verdier for disse"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "adresselinje1" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "adresselinje2" : {
            "type" : "string",
            "description" : "Postadresse på enhet."
          },
          "adresselinje3" : {
            "type" : "string",
            "description" : "Postadresse på enhet."
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Postnummer på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          }
        }
      },
      "AdministratorModel" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fdato" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "Bydelskontor" : {
        "type" : "object",
        "properties" : {
          "kontor" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/KontorBydelModel"
            }
          }
        }
      },
      "KontaktpersonModel" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "personId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          },
          "admin" : {
            "type" : "boolean"
          }
        }
      },
      "KontorBydelModel" : {
        "type" : "object",
        "properties" : {
          "kontorId" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "aktiv" : {
            "type" : "boolean"
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean"
          },
          "kontaktpersoner" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/KontaktpersonModel"
            }
          },
          "administratorer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AdministratorModel"
            }
          },
          "kanSlette" : {
            "type" : "boolean"
          }
        }
      },
      "BarnevernProtokollSystem" : {
        "required" : [ "integrasjonId" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "Id til integrasjon",
            "format" : "uuid"
          },
          "systemId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "kontoId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "systemGyldig" : {
            "type" : "boolean"
          },
          "kontoGyldig" : {
            "type" : "boolean"
          }
        }
      },
      "IntegrasjonInfo" : {
        "required" : [ "integrasjonId" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "Id til integrasjon",
            "format" : "uuid"
          },
          "gyldig" : {
            "type" : "boolean"
          }
        }
      },
      "LeverandorInfo" : {
        "type" : "object",
        "properties" : {
          "leverandor" : {
            "type" : "string",
            "enum" : [ "VISMA", "NETCOMPANY" ]
          },
          "orgnr" : {
            "type" : "string"
          },
          "kontaktperson" : {
            "type" : "string"
          }
        }
      },
      "RessurserOgIntegrasjoner" : {
        "type" : "object",
        "properties" : {
          "leverandor" : {
            "$ref" : "#/components/schemas/LeverandorInfo"
          },
          "protokollSystem" : {
            "$ref" : "#/components/schemas/BarnevernProtokollSystem"
          },
          "innsynIntegrasjon" : {
            "$ref" : "#/components/schemas/IntegrasjonInfo"
          },
          "samtykkeIntegrasjon" : {
            "$ref" : "#/components/schemas/IntegrasjonInfo"
          }
        }
      },
      "StatusBarnevern" : {
        "type" : "object",
        "properties" : {
          "harBydeler" : {
            "type" : "boolean"
          }
        }
      },
      "AdminPerson" : {
        "required" : [ "fnr", "navn" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string",
            "description" : "Fødselsnummer til person som skal legges til som administrator."
          },
          "navn" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Navn til person som skal legges til som administrator."
          },
          "epost" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Epost til person som skal legges til som administrator."
          }
        },
        "description" : "Informasjon om person som skal få admin rettigheter"
      },
      "AdminPersonMedTilganger" : {
        "required" : [ "fnr", "kontorIder", "navn" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string",
            "description" : "Fødselsnummer til person som skal legges til som administrator."
          },
          "navn" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Navn til person som skal legges til som administrator."
          },
          "epost" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Epost til person som skal legges til som administrator."
          },
          "kontorIder" : {
            "type" : "array",
            "description" : "Angir hvilken bydelskontors hen skal få tilgang til.",
            "items" : {
              "type" : "string",
              "description" : "Angir hvilken bydelskontors hen skal få tilgang til."
            }
          }
        },
        "description" : "Informasjon om person som skal få admin rettigheter"
      },
      "EnhetModel" : {
        "type" : "object",
        "properties" : {
          "orgnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        }
      },
      "LeggTilBydelkontorRequest" : {
        "required" : [ "brukEnhetsregisterInfo", "orgnr" ],
        "type" : "object",
        "properties" : {
          "orgnr" : {
            "type" : "string",
            "description" : "Orgnr til enhet som skal håndtere barnevernsaker."
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean",
            "description" : "Angir om man skal gjøre oppslag mot enhetsregister for å finne navn/postadresse, eller om man skal bruke egendefinerte verdier for disse."
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "adresselinje1" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "adresselinje2" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "adresselinje3" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Postnummer på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          }
        }
      },
      "EndreAdminPerson" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Navn til person som skal legges til som administrator."
          },
          "epost" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Epost til person som skal legges til som administrator."
          }
        },
        "description" : "Informasjon om person som skal få endret navn/epost"
      },
      "BarnevernKontor" : {
        "type" : "object",
        "properties" : {
          "bydelId" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        }
      },
      "BarnevernKontorResponse" : {
        "type" : "object",
        "properties" : {
          "barnevernKontor" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BarnevernKontor"
            }
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "InitStatus" : {
        "type" : "object",
        "properties" : {
          "flyt" : {
            "$ref" : "#/components/schemas/WizardSteg"
          },
          "startet" : {
            "type" : "boolean"
          },
          "ferdig" : {
            "type" : "boolean"
          },
          "leverandor" : {
            "type" : "string",
            "enum" : [ "VISMA", "NETCOMPANY" ]
          },
          "kontor" : {
            "$ref" : "#/components/schemas/KontorModel"
          },
          "ekstraKontor" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/KontorModel"
            }
          },
          "kontaktpersoner" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/KontaktpersonModel"
            }
          },
          "administratorer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AdministratorModel"
            }
          },
          "integrasjonerOgRessurser" : {
            "$ref" : "#/components/schemas/IntegrasjonerOgRessurser"
          }
        }
      },
      "IntegrasjonerOgRessurser" : {
        "type" : "object",
        "properties" : {
          "protokollIntegrasjonId" : {
            "type" : "string",
            "description" : "Integrasjon som brukes for å konfigurere protokollsystemet",
            "format" : "uuid"
          },
          "innsynIntegrasjonId" : {
            "type" : "string",
            "description" : "Integrasjon som brukes for å konfigurere innsynintegrasjon",
            "format" : "uuid"
          },
          "samtykkeIntegrasjonId" : {
            "type" : "string",
            "description" : "Integrasjon som brukes for å jobbe mot samtykke-tjenesten",
            "format" : "uuid"
          },
          "protokollSystemId" : {
            "type" : "string",
            "description" : "SystemId til protokollsystemet som er opprettet",
            "format" : "uuid"
          }
        }
      },
      "Steg" : {
        "type" : "object",
        "properties" : {
          "ferdig" : {
            "type" : "boolean"
          }
        }
      },
      "WizardSteg" : {
        "type" : "object",
        "properties" : {
          "velkommen" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "orgnr" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "personer" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "leverandor" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "integrasjoner" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "ekstraKontor" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "fullfor" : {
            "$ref" : "#/components/schemas/Steg"
          }
        }
      },
      "OpprettRessurserResponse" : {
        "type" : "object",
        "properties" : {
          "protokollIntegrasjon" : {
            "$ref" : "#/components/schemas/BarnevernIntegrasjon"
          },
          "innsynIntegrasjon" : {
            "$ref" : "#/components/schemas/BarnevernIntegrasjon"
          },
          "samtykkeIntegrasjon" : {
            "$ref" : "#/components/schemas/BarnevernIntegrasjon"
          },
          "protokollSystemId" : {
            "type" : "string",
            "description" : "SystemId til protokollsystemet som er opprettet",
            "format" : "uuid"
          }
        }
      },
      "KontorModels" : {
        "type" : "object",
        "properties" : {
          "kontoer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/KontorModel"
            }
          }
        }
      },
      "LeggTilBydelkontorOppsettRequest" : {
        "type" : "object",
        "properties" : {
          "bydelId" : {
            "type" : "string",
            "description" : "Id på bydel som skal legges til. Hentes fra endepunkt '/{fiksOrgId}/barnevernkontor'. Bruker da verdier fra konfigurasjon."
          },
          "orgnr" : {
            "type" : "string",
            "description" : "Orgnr til enhet som skal håndtere barnevernsaker. Påkrevd hvis bydelId er null."
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean",
            "description" : "Angir om man skal gjøre oppslag mot enhetsregister for å finne navn/postadresse, eller om man skal bruke egendefinerte verdier for disse. Påkrevd hvis bydelId er null."
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          },
          "adresselinje1" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          },
          "adresselinje2" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          },
          "adresselinje3" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Postnummer på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          }
        },
        "description" : "Liste med bydeler som skal legges til"
      },
      "LeggTilBydelkontorerRequest" : {
        "required" : [ "bydeler" ],
        "type" : "object",
        "properties" : {
          "bydeler" : {
            "type" : "array",
            "description" : "Liste med bydeler som skal legges til",
            "items" : {
              "$ref" : "#/components/schemas/LeggTilBydelkontorOppsettRequest"
            }
          }
        }
      },
      "VelgLeverandor" : {
        "type" : "object",
        "properties" : {
          "leverandor" : {
            "type" : "string",
            "enum" : [ "VISMA", "NETCOMPANY" ]
          }
        }
      },
      "Adresse" : {
        "type" : "object",
        "properties" : {
          "adresse1" : {
            "type" : "string"
          },
          "adresse2" : {
            "type" : "string"
          },
          "adresse3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        }
      },
      "AltinnKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "avsendertekst" : {
            "type" : "string"
          },
          "ekstratekst" : {
            "type" : "string"
          }
        }
      },
      "AltinnMal" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "enum" : [ "STANDARD", "KUN_DIGITAL", "KUN_DIGITAL_UTEN_DOKUMENTER", "SMS", "SMS_TAUSHETSBELAGT", "EPOST", "EPOST_TAUSHETSBELAGT" ]
          },
          "standard" : {
            "type" : "string"
          },
          "egendefinert" : {
            "type" : "string"
          }
        }
      },
      "AltinnMaler" : {
        "type" : "object",
        "properties" : {
          "maler" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/AltinnMal"
            }
          }
        }
      },
      "DPIKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "avsendernavn" : {
            "type" : "string"
          },
          "avsenderIdentifikator" : {
            "type" : "string"
          },
          "ekstratekst" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "dokumenter" : {
            "type" : "boolean"
          },
          "signering" : {
            "type" : "boolean"
          }
        }
      },
      "DpiMal" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "enum" : [ "STANDARD", "UTEN_DOKUMENTER", "MED_LENKER_OG_SENDES_MED_DOKUMENTER", "SMS", "EPOST" ]
          },
          "standard" : {
            "type" : "string"
          },
          "egendefinert" : {
            "type" : "string"
          }
        }
      },
      "DpiMaler" : {
        "type" : "object",
        "properties" : {
          "maler" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/DpiMal"
            }
          }
        }
      },
      "FolkeregisterKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "hemmeligAdresse" : {
            "type" : "string",
            "enum" : [ "AVVIS", "BYTT_ADRESSE" ]
          }
        }
      },
      "ForsideKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "avsender" : {
            "type" : "string"
          },
          "orgNummer" : {
            "type" : "string"
          },
          "forsidetekst" : {
            "type" : "string"
          },
          "forsidetittel" : {
            "type" : "string"
          },
          "skjulForsideInfo" : {
            "type" : "boolean"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Adresse"
          }
        }
      },
      "Maler" : {
        "type" : "object",
        "properties" : {
          "altinn" : {
            "$ref" : "#/components/schemas/AltinnMaler"
          },
          "dpi" : {
            "$ref" : "#/components/schemas/DpiMaler"
          }
        }
      },
      "PrintKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "printleverandor" : {
            "type" : "string",
            "enum" : [ "MANUELL_PRINT", "GRAFISK_DIGITAL" ]
          },
          "automatiskEttersendingForVirksomheter" : {
            "type" : "boolean"
          }
        }
      },
      "ServicePassordMetadata" : {
        "type" : "object",
        "properties" : {
          "opprettet" : {
            "type" : "string"
          },
          "opprettetAv" : {
            "type" : "string"
          }
        }
      },
      "SvarUtKonto" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "avsender" : {
            "type" : "string"
          },
          "gyldig" : {
            "type" : "boolean"
          },
          "aktivert" : {
            "type" : "boolean"
          },
          "altinnAktivert" : {
            "type" : "boolean"
          },
          "dpiAktivert" : {
            "type" : "boolean"
          },
          "forside" : {
            "$ref" : "#/components/schemas/ForsideKonfigurasjon"
          },
          "altinn" : {
            "$ref" : "#/components/schemas/AltinnKonfigurasjon"
          },
          "dpi" : {
            "$ref" : "#/components/schemas/DPIKonfigurasjon"
          },
          "print" : {
            "$ref" : "#/components/schemas/PrintKonfigurasjon"
          },
          "servicePassordMetadata" : {
            "$ref" : "#/components/schemas/ServicePassordMetadata"
          },
          "maler" : {
            "$ref" : "#/components/schemas/Maler"
          },
          "folkeregister" : {
            "$ref" : "#/components/schemas/FolkeregisterKonfigurasjon"
          }
        }
      },
      "KontoOppslag" : {
        "type" : "object",
        "properties" : {
          "antall" : {
            "type" : "integer",
            "format" : "int32"
          },
          "kontoer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SvarUtKonto"
            }
          }
        }
      },
      "Tilknytning" : {
        "type" : "object",
        "properties" : {
          "tilknytningId" : {
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "Tilknytninger" : {
        "type" : "object",
        "properties" : {
          "tilknytninger" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "$ref" : "#/components/schemas/Tilknytning"
              }
            }
          }
        }
      }
    }
  }
}