{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Barnevern konfigurasjon service",
    "description" : "Barnevern dokumentmedvirkning konfigurasjon service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "barnevern/konfigurasjon",
    "description" : "Api for konfigurasjon av Min kommune - Barnevern"
  } ],
  "paths" : {
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor/{kontorId}" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Oppdaterer bydelsenhet med ny info. Oppretter ny edialog mottaker/svarut konto.",
        "operationId" : "endreBydelsKontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EndreBydelRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Enhetsinfo er endret",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/integrasjon/{integrasjonId}/passord" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Kan endre på integrasjonspassord",
        "operationId" : "endreIntegrasjonPassord",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "integrasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Det nye passordet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BarnevernIntegrasjon"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/kontaktperson/{kontaktPersonId}" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Endrer kontaktperson til kommune",
        "operationId" : "endreKontaktperson",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontaktPersonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontaktPerson"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjerner kontaktperson fra kommune",
        "operationId" : "fjernKontaktperson",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontaktPersonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/kontor/{kontorId}" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Oppdaterer kontor med ny info. Oppretter ny edialog mottaker/svarut konto.",
        "operationId" : "endreKontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilEnhetRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Enhetsinfo er endret",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/administrator/{personId}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjerner admin fra kommune",
        "operationId" : "fjernAdmin",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "personId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor/{kontorId}/administrator/{personId}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjerner admin fra bydel",
        "operationId" : "fjernAdminForBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "personId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor/{kontorId}/ny/{kontorIdErstatning}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjerner bydelskontor etter at oppsett er utført. Må oppgi hvilket kontor som skal overta eksisterende saker.",
        "operationId" : "fjernBydelskontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontorIdErstatning",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor/{kontorId}/kontaktperson/{kontaktPersonId}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Fjerner kontaktperson fra bydel",
        "operationId" : "fjernKontaktpersonForBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontaktPersonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/adminogkontaktpersoner" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Henter admins og kontaktpersoner",
        "operationId" : "hentAdminsOgKontaktpersoner",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "BarnevernKontor",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminOgKontaker"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/barnevernkontor" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Henter barnevernkontor for kommune som støtter bydeler",
        "operationId" : "hentBarnevernKontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "BarnevernKontor",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Bydelskontor"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/kontor" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Henter barnevernkontor for kommune som ikke støtter bydeler",
        "operationId" : "hentBarnevernKontorStandard",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "BarnevernKontor",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorBydelModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/ressurser" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Henter status for barneverntjenesten.",
        "operationId" : "hentIntegrasjonerOgRessurser",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Konfigurasjonsdetaljer for barneverntjenesten",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RessurserOgIntegrasjoner"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/status" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Status kall",
        "operationId" : "hentStatus",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status på konfigurasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatusBarnevern"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/administrator" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Registrer admin",
        "operationId" : "leggTilAdmin",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminPerson"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet admin",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdministratorModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor/administrator" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Registrer admin for bydel",
        "operationId" : "leggTilAdminForBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminPersonMedTilganger"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Opprettet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/kontaktperson" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Registrer kontaktperson",
        "operationId" : "leggTilKontaktperson",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontaktPerson"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontaktpersonModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor/{kontorId}/kontaktperson" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Registrer kontaktperson for bydel",
        "operationId" : "leggTilKontaktpersonForBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontaktPerson"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontaktpersonModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/enhetsregister/{orgnr}" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Oppslag mot Enhetsregisteret",
        "operationId" : "oppslagEnhetsregister",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgnr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Enhetsinfo fra Enhetsregister",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnhetModel"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen treff mot Enhetsregister"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/bydelskontor" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Registrerer hvilket organisasjonsenhet som skal håndtere barnevernsaker for bydelen.",
        "operationId" : "registrerBydelskontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilBydelkontorRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/personer" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Søk etter bruker",
        "operationId" : "sokPersoner",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SoKPersoner"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Søker etter personer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonerModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/protokollkonto" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonData" ],
        "summary" : "Henter protokollkonto",
        "operationId" : "hentProtokollKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status på konfigurasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/administrator/{personId}" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Endrer admin for kommune. Kan kun endre epost.",
        "operationId" : "endreAdmin",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "personId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EndreAdminPerson"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Endret admin for kommunen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdministratorModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Fjerner admin fra kommune",
        "operationId" : "fjernAdmin_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "personId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/kontaktperson/{kontaktPersonId}" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Endrer kontaktperson til kommune",
        "operationId" : "endreKontaktperson_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontaktPersonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontaktPerson"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Endret kontaktperson",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontaktpersonModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Fjerner kontaktperson fra kommune",
        "operationId" : "fjernKontaktperson_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontaktPersonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjernet"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/fullfor/iks" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Aktiverer tjenesten for IKS kommuner.",
        "operationId" : "fullforIKS",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Tjeneste er initialisert"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/initialiser/fullfor" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Fullfør konfigurasjon",
        "operationId" : "fullforInitialisering",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/barnevernkontor" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Henter barnevernkontor for kommune som støtter bydeler",
        "operationId" : "hentBarnevernKontor_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "BarnevernKontor",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BarnevernKontorResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/status" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Henter status på oppsett av barneverntjenesten. Viser hvilken steg som er utført, og som gjenstår.",
        "operationId" : "hentInitStatus",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter status på initialisering",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InitStatus"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/initialiser" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Aktiverer tjenesten for kommunen. Må kalles opp før man kan fortsette med annen konfigurasjon.",
        "operationId" : "initBarnevern",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Tjeneste er initialisert"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/administrator" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Registrer admin",
        "operationId" : "leggTilAdmin_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdminPerson"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet admin",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdministratorModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/kontaktperson" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Registrer kontaktperson",
        "operationId" : "leggTilKontaktperson_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontaktPerson"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontaktpersonModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/ressurser" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Opprett integrasjoner og ressurser",
        "operationId" : "opprettIntegrasjonerOgRessurser",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Konfigurasjonsdetaljer for systemet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpprettRessurserResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/enhetsregister/{orgnr}" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Oppslag mot Enhetsregisteret",
        "operationId" : "oppslagEnhetsregister_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgnr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Enhetsinfo fra Enhetsregister",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnhetModel"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen treff mot Enhetsregister"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/kontor" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Registrerer hvilket organisasjonsenhet som skal håndtere barnevernsaker. En standard kommune kan kun ha en aktiv enhet knyttet til seg.",
        "operationId" : "registrerBarnevernkontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilEnhetRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/bydelskontorer" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Registrerer hvilket organisasjonsenhet som skal håndtere barnevernsaker for bydelene.",
        "operationId" : "registrerBydelskontorer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilBydelkontorerRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontorModels"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/personer" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Søk etter bruker",
        "operationId" : "sokPersoner_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SoKPersoner"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Søker etter personer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonerModel"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/oppsett/{fiksOrgId}/leverandor" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonWizard" ],
        "summary" : "Velger leverandør av fagsystem",
        "operationId" : "velgLeverandor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VelgLeverandor"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Lagt til leverandør"
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/dokumentmedvirkning/api/v1/tilknytninger/alle" : {
      "get" : {
        "tags" : [ "DokumentmedvirkningKonfigurasjon" ],
        "summary" : "Henter edialog mottaker",
        "operationId" : "hentAlleTilknytninger",
        "responses" : {
          "200" : {
            "description" : "Mottakere",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Tilknytninger"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "KontorModel" : {
        "type" : "object",
        "properties" : {
          "kontorId" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "aktiv" : {
            "type" : "boolean"
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "EndreBydelRequest" : {
        "required" : [ "brukEnhetsregisterInfo", "nyttOrgnr" ],
        "type" : "object",
        "properties" : {
          "nyttOrgnr" : {
            "type" : "string",
            "description" : "Orgnr til avdelingen. Kan være samme som tidligere."
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean",
            "description" : "Angir om man skal gjøre oppslag mot enhetsregister for å finne navn/postadresse, eller om man skal bruke egendefinerte verdier for disse."
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn til avdelingen. Kan være samme som tidligere. Brukes ved postutsendelse. Påkrevd hvis brukEnhetsregisterInfo = false."
          },
          "adresselinje1" : {
            "type" : "string",
            "description" : "Adresselinje1 til avdelingen. Kan være samme som tidligere. Brukes ved postutsendelse. Påkrevd hvis brukEnhetsregisterInfo = false."
          },
          "adresselinje2" : {
            "type" : "string",
            "description" : "Adresselinje2 til avdelingen. Kan være samme som tidligere. Brukes ved postutsendelse. Påkrevd hvis brukEnhetsregisterInfo = false."
          },
          "adresselinje3" : {
            "type" : "string",
            "description" : "Adresselinje3 til avdelingen. Kan være samme som tidligere. Brukes ved postutsendelse. Påkrevd hvis brukEnhetsregisterInfo = false."
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Postnummer til avdelingen. Kan være samme som tidligere. Brukes ved postutsendelse. Påkrevd hvis brukEnhetsregisterInfo = false."
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed til avdelingen. Kan være samme som tidligere. Brukes ved postutsendelse. Påkrevd hvis brukEnhetsregisterInfo = false."
          }
        }
      },
      "BarnevernIntegrasjon" : {
        "required" : [ "integrasjonId" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "Id til integrasjon",
            "format" : "uuid"
          },
          "integrasjonPassord" : {
            "type" : "string",
            "description" : "Passord til integrasjon"
          }
        },
        "description" : "Integrasjon som brukes for å jobbe mot samtykke-api'et"
      },
      "KontaktPerson" : {
        "required" : [ "epost", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Navn til kontakt som skal legges til."
          },
          "epost" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Epost-adresse til kontakt som skal legges til."
          }
        },
        "description" : "Informasjon om kontaktperson"
      },
      "LeggTilEnhetRequest" : {
        "required" : [ "brukEnhetsregisterInfo", "orgnr" ],
        "type" : "object",
        "properties" : {
          "orgnr" : {
            "type" : "string",
            "description" : "Orgnr til enhet som skal håndtere barnevernsaker"
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean",
            "description" : "Angir om man skal gjøre oppslag mot enhetsregister for å finne navn/postadresse, eller om man skal bruke egendefinerte verdier for disse"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "adresselinje1" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "adresselinje2" : {
            "type" : "string",
            "description" : "Postadresse på enhet."
          },
          "adresselinje3" : {
            "type" : "string",
            "description" : "Postadresse på enhet."
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Postnummer på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          }
        }
      },
      "AdminOgKontaker" : {
        "type" : "object",
        "properties" : {
          "admins" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Oversikt over administratorer.",
            "items" : {
              "$ref" : "#/components/schemas/AdministratorMedTilgangModel"
            }
          },
          "kontaktpersoner" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Oversikt over kontaktpersoner.",
            "items" : {
              "$ref" : "#/components/schemas/KontaktpersonEnheterModel"
            }
          }
        },
        "description" : "Response ved kall for å hente oversikt over administratorer og kontaktpersoner med tilgang i kommunen."
      },
      "AdministratorMedTilgangModel" : {
        "required" : [ "adminAndre", "adminTjeneste", "fdato", "navn", "personId" ],
        "type" : "object",
        "properties" : {
          "personId" : {
            "type" : "string",
            "description" : "Peker på konfigurasjon-id til brukeren.",
            "format" : "uuid"
          },
          "fdato" : {
            "type" : "string",
            "description" : "Fødselsdato til administrator. Brukes for å anonymisere fødselsnummer."
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn til administrator."
          },
          "adminTjeneste" : {
            "type" : "boolean",
            "description" : "Angir om person er admin på selve tjenesten."
          },
          "adminAndre" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Angir hvilke bydelskontor person er admin på.",
            "items" : {
              "type" : "string",
              "description" : "Angir hvilke bydelskontor person er admin på."
            }
          }
        },
        "description" : "Oversikt over administratorer."
      },
      "KontaktpersonEnheterModel" : {
        "required" : [ "epost", "kontaktpersonAndre", "kontaktpersonId", "kontaktpersonTjeneste", "navn" ],
        "type" : "object",
        "properties" : {
          "kontaktpersonId" : {
            "type" : "string",
            "description" : "Id til kontaktperson.",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn til kontaktperson. Trenger ikke peke på en person."
          },
          "epost" : {
            "type" : "string",
            "description" : "Epost til kontaktperson."
          },
          "kontaktpersonTjeneste" : {
            "type" : "boolean",
            "description" : "Angir om person er kontaktperson på selve tjenesten."
          },
          "kontaktpersonAndre" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Angir hvilke bydelskontor en er kontaktperson på.",
            "items" : {
              "type" : "string",
              "description" : "Angir hvilke bydelskontor en er kontaktperson på."
            }
          }
        },
        "description" : "Oversikt over kontaktpersoner."
      },
      "AdministratorModel" : {
        "required" : [ "fdato", "id", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Peker på konfigurasjon-id til brukeren.",
            "format" : "uuid"
          },
          "fdato" : {
            "type" : "string",
            "description" : "Fødselsdato til administrator. Brukes for å anonymisere fødselsnummer."
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn til administrator."
          },
          "epost" : {
            "type" : "string",
            "description" : "Epost til administrator."
          }
        }
      },
      "Bydelskontor" : {
        "required" : [ "kontor" ],
        "type" : "object",
        "properties" : {
          "kontor" : {
            "type" : "array",
            "description" : "Liste over avdelinger i kommunen",
            "items" : {
              "$ref" : "#/components/schemas/KontorBydelModel"
            }
          }
        },
        "description" : "Brukes som response på kall for å hente barnevernkontor til kommuner som støtter bydeler etter at oppsett er utført."
      },
      "KontaktpersonModel" : {
        "required" : [ "admin", "epost", "id", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id til kontaktperson.",
            "format" : "uuid"
          },
          "personId" : {
            "type" : "string",
            "description" : "PersonId til kontaktperson. Peker på konfigurasjon-id til brukeren.",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn til kontaktperson. Trenger ikke peke på en person."
          },
          "epost" : {
            "type" : "string",
            "description" : "Epost til kontaktperson."
          },
          "admin" : {
            "type" : "boolean",
            "description" : "Angir om person også er administrator."
          }
        }
      },
      "KontorBydelModel" : {
        "type" : "object",
        "properties" : {
          "kontorId" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "aktiv" : {
            "type" : "boolean"
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean"
          },
          "kontaktpersoner" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/KontaktpersonModel"
            }
          },
          "administratorer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AdministratorModel"
            }
          },
          "admin" : {
            "type" : "boolean"
          }
        }
      },
      "BarnevernProtokollSystem" : {
        "required" : [ "integrasjonId" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "Id til integrasjon.",
            "format" : "uuid"
          },
          "systemId" : {
            "type" : "string",
            "description" : "Id til protokollsystem som brukes for å håndtere innsynsforespørsler.",
            "format" : "uuid"
          },
          "kontoId" : {
            "type" : "string",
            "description" : "Id til protokollkonto som brukes for å håndtere innsynsforespørsler.",
            "format" : "uuid"
          },
          "systemGyldig" : {
            "type" : "boolean",
            "description" : "Indikator på om protokollsystemet har de riktige egenskapene til å håndtere innsynsforespørsler."
          },
          "kontoGyldig" : {
            "type" : "boolean",
            "description" : "Indikator på om protokollkontoen har de riktige egenskapene til å håndtere innsynsforespørsler."
          }
        },
        "description" : "Informasjon om protokollsystemet som er opprettet for å støtte opp under innsynsforespørsler"
      },
      "IntegrasjonInfo" : {
        "required" : [ "gyldig", "integrasjonId" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "Id til integrasjon",
            "format" : "uuid"
          },
          "gyldig" : {
            "type" : "boolean",
            "description" : "Indikerer om integrasjon er gyldig mtp om den har de rette privilegiene til å utføre ønskete operasjoner."
          }
        },
        "description" : "Informasjon om integrasjon som brukes for å jobbe mot samtykke-api'et"
      },
      "LeverandorInfo" : {
        "required" : [ "leverandor", "orgnr" ],
        "type" : "object",
        "properties" : {
          "leverandor" : {
            "type" : "string",
            "description" : "Informasjon om valgt leverandør av fagsystem.",
            "enum" : [ "VISMA", "NETCOMPANY" ]
          },
          "orgnr" : {
            "type" : "string",
            "description" : "Organisasjonsnummer til valgt levarndør av fagsystem."
          },
          "kontaktperson" : {
            "type" : "string",
            "description" : "Kontaktperson hos leverandør av fagsystem."
          }
        },
        "description" : "Informasjon om leverandør av fagsystem"
      },
      "RessurserOgIntegrasjoner" : {
        "type" : "object",
        "properties" : {
          "leverandor" : {
            "$ref" : "#/components/schemas/LeverandorInfo"
          },
          "protokollSystem" : {
            "$ref" : "#/components/schemas/BarnevernProtokollSystem"
          },
          "innsynIntegrasjon" : {
            "$ref" : "#/components/schemas/IntegrasjonInfo"
          },
          "samtykkeIntegrasjon" : {
            "$ref" : "#/components/schemas/IntegrasjonInfo"
          }
        },
        "description" : "Returobjekt ved henting av data til ressurser og integrasjoner-fanen."
      },
      "StatusBarnevern" : {
        "required" : [ "harBydeler" ],
        "type" : "object",
        "properties" : {
          "harBydeler" : {
            "type" : "boolean",
            "description" : "Angir om kommunen støtter bydeler eller ikke."
          }
        }
      },
      "AdminPerson" : {
        "type" : "object",
        "properties" : {
          "personId" : {
            "type" : "string",
            "description" : "PersonId til administrator.",
            "format" : "uuid"
          },
          "fnr" : {
            "type" : "string",
            "description" : "Fødselsnummer til person som skal legges til som administrator."
          },
          "navn" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Navn til person som skal legges til som administrator."
          },
          "epost" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Epost til person som skal legges til som administrator."
          }
        },
        "description" : "Informasjon om person som skal få admin rettigheter"
      },
      "AdminPersonMedTilganger" : {
        "required" : [ "kontorIder" ],
        "type" : "object",
        "properties" : {
          "personId" : {
            "type" : "string",
            "description" : "PersonId til administrator.",
            "format" : "uuid"
          },
          "fnr" : {
            "type" : "string",
            "description" : "Fødselsnummer til person som skal legges til som administrator."
          },
          "navn" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Navn til person som skal legges til som administrator."
          },
          "epost" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Epost til person som skal legges til som administrator."
          },
          "kontorIder" : {
            "type" : "array",
            "description" : "Angir hvilken bydelskontors hen skal få tilgang til.",
            "items" : {
              "type" : "string",
              "description" : "Angir hvilken bydelskontors hen skal få tilgang til."
            }
          }
        },
        "description" : "Informasjon om person som skal få admin rettigheter"
      },
      "EnhetModel" : {
        "type" : "object",
        "properties" : {
          "orgnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        },
        "description" : "Returobjekt ved oppslag mot enhetsregister."
      },
      "LeggTilBydelkontorRequest" : {
        "required" : [ "brukEnhetsregisterInfo", "orgnr" ],
        "type" : "object",
        "properties" : {
          "orgnr" : {
            "type" : "string",
            "description" : "Orgnr til enhet som skal håndtere barnevernsaker."
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean",
            "description" : "Angir om man skal gjøre oppslag mot enhetsregister for å finne navn/postadresse, eller om man skal bruke egendefinerte verdier for disse."
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "adresselinje1" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "adresselinje2" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "adresselinje3" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Postnummer på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed på enhet. Påkrevd hvis brukEnhetsregisterInfo er false"
          }
        }
      },
      "PersonModel" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fdato" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "PersonerModel" : {
        "type" : "object",
        "properties" : {
          "antall" : {
            "type" : "integer",
            "format" : "int32"
          },
          "personer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PersonModel"
            }
          }
        }
      },
      "SoKPersoner" : {
        "required" : [ "antall", "fra" ],
        "type" : "object",
        "properties" : {
          "antall" : {
            "type" : "integer",
            "description" : "Maks antall treff som skal returneres",
            "format" : "int32"
          },
          "fra" : {
            "type" : "integer",
            "description" : "Offset ved søk på personer.",
            "format" : "int32"
          },
          "sok" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Term man søker på. Ved gyldig fødselsnummer søker man på det. Ellers søker man på navn"
          }
        },
        "description" : "Søkekriterier på brukere"
      },
      "EndreAdminPerson" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Navn til person administrator som skal endres på."
          },
          "epost" : {
            "maxLength" : 200,
            "minLength" : 0,
            "type" : "string",
            "description" : "Epost til person som skal legges til som administrator."
          }
        },
        "description" : "Informasjon om person som skal få endret navn/epost"
      },
      "BarnevernKontor" : {
        "required" : [ "adresselinje1", "bydelId", "navn", "orgnr", "postnummer", "poststed" ],
        "type" : "object",
        "properties" : {
          "bydelId" : {
            "type" : "string",
            "description" : "Id på bydel"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på barnevernkontoret"
          },
          "orgnr" : {
            "type" : "string",
            "description" : "Organisasjonsnummer til barnevernkontoret. Brukes for å konfigurere underressurser som f.eks edialog mottaker."
          },
          "adresselinje1" : {
            "type" : "string",
            "description" : "Adresselinje1 til barnevernkontoret. Brukes til brevutsendelser til barnevernkontoret."
          },
          "adresselinje2" : {
            "type" : "string",
            "description" : "Adresselinje2 til barnevernkontoret. Brukes til brevutsendelser til barnevernkontoret."
          },
          "adresselinje3" : {
            "type" : "string",
            "description" : "Adresselinje2 til barnevernkontoret. Brukes til brevutsendelser til barnevernkontoret."
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Postnummer til barnevernkontoret. Brukes til brevutsendelser til barnevernkontoret."
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed til barnevernkontoret. Brukes til brevutsendelser til barnevernkontoret."
          }
        },
        "description" : "Liste over prekonfigurerte bydeler som kommunen kan velge fra."
      },
      "BarnevernKontorResponse" : {
        "required" : [ "barnevernKontor" ],
        "type" : "object",
        "properties" : {
          "barnevernKontor" : {
            "type" : "array",
            "description" : "Liste over prekonfigurerte bydeler som kommunen kan velge fra.",
            "items" : {
              "$ref" : "#/components/schemas/BarnevernKontor"
            }
          }
        }
      },
      "InitStatus" : {
        "required" : [ "ferdig", "flyt", "startet" ],
        "type" : "object",
        "properties" : {
          "flyt" : {
            "$ref" : "#/components/schemas/WizardSteg"
          },
          "startet" : {
            "type" : "boolean",
            "description" : "Er true hvis tjenesten har gjennomført initialiseringssteget i oppsettet. False hvis ikke."
          },
          "ferdig" : {
            "type" : "boolean",
            "description" : "Er true hvis tjenesten har gjennomført oppsettet. False hvis ikke."
          },
          "leverandor" : {
            "type" : "string",
            "description" : "Informasjon om hvilken leverandør som er valgt i oppsettet.",
            "enum" : [ "VISMA", "NETCOMPANY" ]
          },
          "kontor" : {
            "$ref" : "#/components/schemas/KontorModel"
          },
          "ekstraKontor" : {
            "type" : "array",
            "description" : "Informasjon om hvilke barnevernkontor som er valgt i oppsettet. Kun aktuell for kommuner med bydeler.",
            "items" : {
              "$ref" : "#/components/schemas/KontorModel"
            }
          },
          "kontaktpersoner" : {
            "type" : "array",
            "description" : "Liste med kontaktpersoner på tjenestenivå.",
            "items" : {
              "$ref" : "#/components/schemas/KontaktpersonModel"
            }
          },
          "administratorer" : {
            "type" : "array",
            "description" : "Liste med administratorer på tjenestenivå.",
            "items" : {
              "$ref" : "#/components/schemas/AdministratorModel"
            }
          },
          "integrasjonerOgRessurser" : {
            "$ref" : "#/components/schemas/IntegrasjonerOgRessurser"
          }
        },
        "description" : "Holder status over hvor langt i oppsettet en kommune har kommet."
      },
      "IntegrasjonerOgRessurser" : {
        "type" : "object",
        "properties" : {
          "protokollIntegrasjonId" : {
            "type" : "string",
            "description" : "Integrasjon som brukes for å konfigurere protokollsystemet",
            "format" : "uuid"
          },
          "innsynIntegrasjonId" : {
            "type" : "string",
            "description" : "Integrasjon som brukes for å konfigurere innsynintegrasjon",
            "format" : "uuid"
          },
          "samtykkeIntegrasjonId" : {
            "type" : "string",
            "description" : "Integrasjon som brukes for å jobbe mot samtykke-tjenesten",
            "format" : "uuid"
          },
          "protokollSystemId" : {
            "type" : "string",
            "description" : "SystemId til protokollsystemet som er opprettet",
            "format" : "uuid"
          }
        },
        "description" : "Oversikt over id'er til ressurser som er konfigurert under oppsettet."
      },
      "Steg" : {
        "required" : [ "ferdig" ],
        "type" : "object",
        "properties" : {
          "ferdig" : {
            "type" : "boolean",
            "description" : "Er steget utført i en tidligere iterasjon av oppsettet."
          }
        },
        "description" : "Er fullfør initialisering-steget utført."
      },
      "WizardSteg" : {
        "required" : [ "fullfor", "integrasjoner", "leverandor", "orgnr", "personer", "velkommen" ],
        "type" : "object",
        "properties" : {
          "velkommen" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "orgnr" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "personer" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "leverandor" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "integrasjoner" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "ekstraKontor" : {
            "$ref" : "#/components/schemas/Steg"
          },
          "fullfor" : {
            "$ref" : "#/components/schemas/Steg"
          }
        },
        "description" : "Angir hvilken steg i oppsett-wizarden som er tilgjengelig for kommunen, og hvor mye av oppsettet man allerede har utført."
      },
      "OpprettRessurserResponse" : {
        "required" : [ "innsynIntegrasjon", "protokollIntegrasjon", "protokollSystemId", "samtykkeIntegrasjon" ],
        "type" : "object",
        "properties" : {
          "protokollIntegrasjon" : {
            "$ref" : "#/components/schemas/BarnevernIntegrasjon"
          },
          "innsynIntegrasjon" : {
            "$ref" : "#/components/schemas/BarnevernIntegrasjon"
          },
          "samtykkeIntegrasjon" : {
            "$ref" : "#/components/schemas/BarnevernIntegrasjon"
          },
          "protokollSystemId" : {
            "type" : "string",
            "description" : "SystemId til protokollsystemet som er opprettet for å støtte opp under innsynsforespørsler",
            "format" : "uuid"
          }
        },
        "description" : "Returobjekt ved oppretting av ressurser og integrasjoner under oppsett av tjenesten."
      },
      "KontorModels" : {
        "type" : "object",
        "properties" : {
          "kontoer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/KontorModel"
            }
          }
        }
      },
      "LeggTilBydelkontorOppsettRequest" : {
        "type" : "object",
        "properties" : {
          "bydelId" : {
            "type" : "string",
            "description" : "Id på bydel som skal legges til. Hentes fra endepunkt '/{fiksOrgId}/barnevernkontor'. Bruker da verdier fra konfigurasjon."
          },
          "orgnr" : {
            "type" : "string",
            "description" : "Orgnr til enhet som skal håndtere barnevernsaker. Påkrevd hvis bydelId er null."
          },
          "brukEnhetsregisterInfo" : {
            "type" : "boolean",
            "description" : "Angir om man skal gjøre oppslag mot enhetsregister for å finne navn/postadresse, eller om man skal bruke egendefinerte verdier for disse. Påkrevd hvis bydelId er null."
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          },
          "adresselinje1" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          },
          "adresselinje2" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          },
          "adresselinje3" : {
            "type" : "string",
            "description" : "Postadresse på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Postnummer på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed på enhet. Påkrevd hvis bydelId er null og brukEnhetsregisterInfo er false"
          }
        },
        "description" : "Liste med bydeler som skal legges til"
      },
      "LeggTilBydelkontorerRequest" : {
        "required" : [ "bydeler" ],
        "type" : "object",
        "properties" : {
          "bydeler" : {
            "type" : "array",
            "description" : "Liste med bydeler som skal legges til",
            "items" : {
              "$ref" : "#/components/schemas/LeggTilBydelkontorOppsettRequest"
            }
          }
        }
      },
      "VelgLeverandor" : {
        "type" : "object",
        "properties" : {
          "leverandor" : {
            "type" : "string",
            "enum" : [ "VISMA", "NETCOMPANY" ]
          }
        }
      },
      "Tilknytning" : {
        "required" : [ "fiksOrgId", "tilknytningId" ],
        "type" : "object",
        "properties" : {
          "tilknytningId" : {
            "type" : "string",
            "description" : "Id på edialog-tilknytning"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId som eier tilknytningen.",
            "format" : "uuid"
          }
        },
        "description" : "Map mellom organisasjonsnummer og tilknytninger for dennne organisasjonen."
      },
      "Tilknytninger" : {
        "required" : [ "tilknytninger" ],
        "type" : "object",
        "properties" : {
          "tilknytninger" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "$ref" : "#/components/schemas/Tilknytning"
              },
              "description" : "Map mellom organisasjonsnummer og tilknytninger for dennne organisasjonen."
            },
            "description" : "Map mellom organisasjonsnummer og tilknytninger for dennne organisasjonen."
          }
        }
      }
    }
  }
}