{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Barnevern konfigurasjon service",
    "description" : "Barnevern konfigurasjon service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "barnevern/konfigurasjon/protokoll",
    "description" : "API for konfigurasjon av oppsett for barnevern protokollsystem"
  } ],
  "paths" : {
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/innsynsforesporsel" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Oppretter konto for bruk til innsynsforespørsler",
        "operationId" : "createInnsynsforesporselKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateInnsynsforesporselProtokollKontoRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter konto for bruk til innsynsforespørsler",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Opprett konto på system",
        "operationId" : "createKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateProtokollKontoRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/forespurteTilganger/{eksternKonto}" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Forespør tilgang til ekstern konto for system",
        "operationId" : "createTilgangForesporselTilKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternKonto",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Forespør tilgang til konto"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Fjern forespørsel på tilgang til konto",
        "operationId" : "removeTilgangForesporselTilKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternKonto",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjern forespørsel på tilgang til konto"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/tilganger/{eksternSystemId}" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Gi tilgang til system på konto",
        "operationId" : "createTilgangTilSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternSystemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Oppretter tilgang til system"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Fjern tilgang fra system på konto",
        "operationId" : "removeTilgangTilSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternSystemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjerner tilgang"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Hent protokollkonto",
        "operationId" : "getKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Slett konto fra system",
        "operationId" : "deleteKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Sletter konto"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/organisasjoner" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Henter organisasjoner som har systemer som kan gis tilgang til konto",
        "operationId" : "getFiksOrgsMedSystemer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter organisasjoner som har systemer som kan gis tilgang til konto, med unntak av gjeldende system. Til bruk for filtrering i søk.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FiksOrgResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/forespurteTilganger" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Hent systemer som har forespurt tilgang",
        "operationId" : "getForespurteTilgangerPaaKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Systemer som har forespurt tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollSystemSummaryWithOrgNameResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/protokoller/{protokollnavn}/{protokollversjon}" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Henter protokolldefinisjon",
        "operationId" : "getProtokollDefinisjon",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter protokoll",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollDefinisjonResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/protokoller" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Henter alle definerte protokoller",
        "operationId" : "getProtokollDefinisjoner",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter alle protokoller",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollDefinisjonSummaryResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/system" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Hent system på fiksOrg",
        "operationId" : "getSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter system",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/tilganger" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Hent systemer med tilganger på konto",
        "operationId" : "getSystemerMedTilgangTilKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Systemer med tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollSystemSummaryWithOrgNameResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/konto-sok" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Søk etter kontoer som systemet kan forespør tilgang til",
        "operationId" : "kontoSok",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProtokollKontoSokRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Kontoer fra søkeresultat systemet kan forespørre tilgang til",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoSokResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/forespurteTilganger/{eksternSystemId}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Fjern forespurt tilgang fra system på konto",
        "operationId" : "removeForespurtTilgangTilKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternSystemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjerner tilgang"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/system-sok" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Søk etter systemer som kontoen kan gi tilgang til",
        "operationId" : "systemSok",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProtokollSystemSokRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Systemer fra søkeresultat som kontoen kan gi tilgang til.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemSokResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/info" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Oppdater konto info",
        "operationId" : "updateKontoInfo",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateProtokollKontoInfoRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Oppdater konto info"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/pem" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Oppdater offentlig nøkkel på konto ",
        "operationId" : "updateKontoOffentligNokkel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateOffentligNokkelRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdater offentlig nøkkel på konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OffentligNokkelResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/info" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Oppdater info på system",
        "operationId" : "updateSystemInfo",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateSystemInfoRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Oppdater system info (navn, beskrivelse og kontakteposter)"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "OffentligNokkelResponse" : {
        "type" : "object",
        "properties" : {
          "nokkel" : {
            "type" : "string"
          },
          "validFrom" : {
            "type" : "string",
            "format" : "date-time"
          },
          "validTo" : {
            "type" : "string",
            "format" : "date-time"
          },
          "serial" : {
            "type" : "string"
          },
          "subjectDN" : {
            "type" : "string"
          },
          "issuerDN" : {
            "type" : "string"
          },
          "valid" : {
            "type" : "boolean"
          },
          "statusMessage" : {
            "type" : "string"
          }
        }
      },
      "PartResponse" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "protokollnavn" : {
            "type" : "string"
          },
          "protokollversjon" : {
            "type" : "string"
          },
          "avsenderMeldingstyper" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "mottakerMeldingstyper" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "stottedeParter" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ProtokollKontoResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "stottetProtokollNavn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "parts" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PartResponse"
            }
          },
          "offentligNokkel" : {
            "$ref" : "#/components/schemas/OffentligNokkelResponse"
          },
          "opprettet" : {
            "type" : "string",
            "format" : "date-time"
          },
          "sistEndret" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "CreateInnsynsforesporselProtokollKontoRequest" : {
        "required" : [ "offentligNokkel" ],
        "type" : "object",
        "properties" : {
          "offentligNokkel" : {
            "type" : "string",
            "description" : "Offentlig nøkkel"
          }
        }
      },
      "CreateProtokollKontoRequest" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "stottetProtokollNavn" : {
            "type" : "string"
          },
          "parts" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PartRequest"
            }
          },
          "offentligNokkel" : {
            "type" : "string"
          }
        }
      },
      "PartRequest" : {
        "type" : "object",
        "properties" : {
          "partNavn" : {
            "type" : "string"
          },
          "stottetProtokollVersjon" : {
            "type" : "string"
          }
        }
      },
      "FiksOrgResponse" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "kommunenummer" : {
            "type" : "string"
          }
        }
      },
      "ProtokollSystemSummaryWithOrgNameResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "fiksOrgNavn" : {
            "type" : "string"
          }
        }
      },
      "CreateProtokollMeldingstype" : {
        "type" : "object",
        "properties" : {
          "meldingstypeNavn" : {
            "type" : "string"
          },
          "payloadKriterie" : {
            "type" : "string",
            "enum" : [ "NEVER", "REQUIRED", "OPTIONAL" ]
          }
        }
      },
      "ProtokollDefinisjonResponse" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "protokollversjon" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "meldingstyper" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CreateProtokollMeldingstype"
            }
          },
          "parter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PartResponse"
            }
          }
        }
      },
      "ProtokollDefinisjonSummaryResponse" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "protokollversjon" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "parter" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "EksternProtokollKontoResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "stottetProtokollNavn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "parter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PartResponse"
            }
          },
          "system" : {
            "$ref" : "#/components/schemas/EksternProtokollSystemResponse"
          }
        }
      },
      "EksternProtokollSystemResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "fiksOrg" : {
            "$ref" : "#/components/schemas/FiksOrgResponse"
          }
        }
      },
      "PartSummaryResponse" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "protokollnavn" : {
            "type" : "string"
          },
          "protokollversjon" : {
            "type" : "string"
          }
        }
      },
      "ProtokollKontoMetrikkResponse" : {
        "type" : "object",
        "properties" : {
          "meldingerPaKo" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallKonsumenter" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ProtokollKontoSummaryResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "stottetProtokollNavn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "parter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PartSummaryResponse"
            }
          },
          "metrikk" : {
            "$ref" : "#/components/schemas/ProtokollKontoMetrikkResponse"
          }
        }
      },
      "ProtokollSystemResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "integrasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "orgnummer" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "eposter" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "kontoer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ProtokollKontoSummaryResponse"
            }
          },
          "tilgangTilKontoer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EksternProtokollKontoResponse"
            }
          },
          "forespurteTilgangerTilKontoer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EksternProtokollKontoResponse"
            }
          },
          "offentlig" : {
            "type" : "boolean"
          },
          "automatiskGodkjenning" : {
            "type" : "boolean"
          },
          "konfigureresAvIntegrasjon" : {
            "type" : "boolean"
          },
          "leverandorNavn" : {
            "type" : "string"
          },
          "leverandorKontaktpunkt" : {
            "type" : "string"
          },
          "fiksOrg" : {
            "$ref" : "#/components/schemas/FiksOrgResponse"
          },
          "opprettet" : {
            "type" : "string",
            "format" : "date-time"
          },
          "sistEndret" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "ProtokollKontoSokResponse" : {
        "type" : "object",
        "properties" : {
          "kontoer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EksternProtokollKontoResponse"
            }
          }
        }
      },
      "ProtokollKontoSokFilterRequest" : {
        "type" : "object",
        "properties" : {
          "fiksOrgIder" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "protokollFilter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ProtokollSokFilterRequest"
            }
          }
        }
      },
      "ProtokollKontoSokRequest" : {
        "type" : "object",
        "properties" : {
          "filter" : {
            "$ref" : "#/components/schemas/ProtokollKontoSokFilterRequest"
          },
          "term" : {
            "type" : "string"
          }
        }
      },
      "ProtokollSokFilterRequest" : {
        "type" : "object",
        "properties" : {
          "protokollNavn" : {
            "type" : "string"
          },
          "protokollVersjon" : {
            "type" : "string"
          },
          "parter" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ProtokollSystemSokResponse" : {
        "type" : "object",
        "properties" : {
          "systemer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EksternProtokollSystemResponse"
            }
          }
        }
      },
      "ProtokollSystemSokFilterRequest" : {
        "type" : "object",
        "properties" : {
          "fiksOrgIder" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "stotterKonto" : {
            "type" : "boolean"
          }
        }
      },
      "ProtokollSystemSokRequest" : {
        "type" : "object",
        "properties" : {
          "filter" : {
            "$ref" : "#/components/schemas/ProtokollSystemSokFilterRequest"
          },
          "term" : {
            "type" : "string"
          }
        }
      },
      "UpdateProtokollKontoInfoRequest" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      },
      "UpdateOffentligNokkelRequest" : {
        "type" : "object",
        "properties" : {
          "offentligNokkel" : {
            "type" : "string"
          }
        }
      },
      "UpdateSystemInfoRequest" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "eposter" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "offentlig" : {
            "type" : "boolean"
          },
          "automatiskGodkjenning" : {
            "type" : "boolean"
          },
          "leverandorNavn" : {
            "type" : "string"
          },
          "leverandorKontaktpunkt" : {
            "type" : "string"
          }
        }
      }
    }
  }
}