{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Bekymringsmelding konfigurasjon service",
    "description" : "Bekymringsmelding konfigurasjon service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v2"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  } ],
  "tags" : [ {
    "name" : "bekymringsmeldingKonfigurasjon",
    "description" : "API for å håndtere funksjonalitet vedr. konfigurasjon i bekymringsmelding"
  } ],
  "paths" : {
    "/bekymringsmelding/api/v2/konfigurasjon/{fiksOrgId}/bydeler/{ressursId}/aktiver" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Aktiver bydel. En aktivert bydel vil kunne motta bekymringsmeldinger.",
        "operationId" : "aktiverBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/konfigurasjon/{fiksOrgId}/bydeler/aktiver" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Aktiver bydeler. Aktiverte bydeler vil kunne motta bekymringsmeldinger",
        "operationId" : "aktiverBydeler",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursIder",
          "in" : "query",
          "schema" : {
            "maxItems" : 2147483647,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/konfigurasjon/{fiksOrgId}/bydeler" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter bydeler for en kommune.",
        "operationId" : "getBydeler",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer bydeler for en kommune.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BydelResponseApiModel"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen bydeler ble funnet."
          }
        }
      },
      "post" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Oppretter ny bydel",
        "operationId" : "createBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BydelCreateRequestApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny bydel.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BydelResponseApiModel"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/konfigurasjon/{fiksOrgId}/bydeler/{ressursId}/deaktiver" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Deaktiver bydel. En deaktivert bydel vil ikke kunne motta bekymringsmeldinger.",
        "operationId" : "deaktiverBydel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/konfigurasjon/{fiksOrgId}/bydeler/deaktiver" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Deaktiver bydeler. Deaktiverte bydeler vil ikke kunne motta bekymringsmeldinger",
        "operationId" : "deaktiverBydeler",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursIder",
          "in" : "query",
          "schema" : {
            "maxItems" : 2147483647,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/konfigurasjon/bydeler/svarinn/{integrasjonId}" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter bydel basert på integrasjon-ID",
        "operationId" : "getBydelByIntegrasjonId",
        "parameters" : [ {
          "name" : "integrasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer bydel basert på integrasjon-ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BydelResponseApiModel"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/konfigurasjon/{fiksOrgId}/bydeler/{ressursId}" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter bydel gitt ressursId.",
        "operationId" : "getBydelByRessursId",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter bydel gitt ressursId.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BydelResponseApiModel"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen bydel ble funnet."
          }
        }
      },
      "patch" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Oppdaterer bydel informasjon",
        "operationId" : "updateBydelInfo",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BydelUpdateRequestApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Oppdaterer bydel informasjon"
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/konfigurasjon/{fiksOrgId}/bydel/{bydelsnummer}" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter bydeler for en kommune.",
        "operationId" : "getBydelerByBydelsnummer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "bydelsnummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{2}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer bydeler for en kommune.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BydelResponseApiModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/konfigurasjon/bydeler/sok" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter alle bydeler basert på søkefrase.",
        "operationId" : "getBydelerBySok",
        "parameters" : [ {
          "name" : "sok",
          "in" : "query",
          "description" : "Filtrer på søkefrase. Det kan søkes etter bydelsnavn, fiksOrgId eller bydelsRessursId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fiksOrgId",
          "in" : "query",
          "description" : "Filtrer på fiksOrgId. Brukes til søk i en bestemt fiksOrg",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer alle bydeler basert på søkefrase.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BydelResultResponseApiModel"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/konfigurasjon/{fiksOrgId}/bydeler/enkel" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter bydeler for en kommune.",
        "operationId" : "getBydelerEnkel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer bydeler for en kommune.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BydelEnkelResponseApiModel"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen bydeler ble funnet."
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/konfigurasjon/fagsystem/versjoner" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Hente fagsystemer og støttede versjoner for bekymringsmeldinger",
        "operationId" : "getFagsystemStottedeVersjoner",
        "responses" : {
          "200" : {
            "description" : "Returnerer fagsystemer og støttede versjoner for bekymringsmeldinger",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FagsystemStottedeVersjonerApiModel"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/konfigurasjon/bydeler" : {
      "post" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Henter alle bydeler basert på ressurs-IDer.",
        "operationId" : "hentBydelerByRessursId",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returnerer alle bydeler basert på ressurs-IDer.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BydelResponseApiModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/konfigurasjon/{fiksOrgId}/bydeler/{ressursId}/adresse" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Oppdaterer adresse",
        "operationId" : "updateAdresse",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AdresseRequestApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/konfigurasjon/{fiksOrgId}/bydeler/{ressursId}/kontaktinformasjon" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Oppdaterer kontaktinformasjon",
        "operationId" : "updateKontaktinformasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontaktinformasjonRequestApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/konfigurasjon/{fiksOrgId}/bydeler/{ressursId}/konto" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Oppdaterer konto",
        "operationId" : "updateKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontoRequestApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Oppdaterer konto.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BydelResponseApiModel"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/konfigurasjon/{fiksOrgId}/bydeler/{ressursId}/standardmottaker" : {
      "put" : {
        "tags" : [ "bekymringsmeldingKonfigurasjon" ],
        "description" : "Oppdaterer standard mottaker",
        "operationId" : "updateStandardMottaker",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Oppdaterer standard mottaker"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AdresseResponseApiModel" : {
        "required" : [ "adresselinje1", "navn", "postnummer", "poststed" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        }
      },
      "BydelResponseApiModel" : {
        "required" : [ "adresse", "bydelsnavn", "bydelsnummer", "deaktivert", "fiksOrgId", "kontaktinformasjon", "konto", "ressursId", "standardMottaker" ],
        "type" : "object",
        "properties" : {
          "bydelsnummer" : {
            "pattern" : "^\\d{2}$",
            "type" : "string"
          },
          "bydelsnavn" : {
            "type" : "string"
          },
          "standardMottaker" : {
            "type" : "boolean"
          },
          "ressursId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "konto" : {
            "$ref" : "#/components/schemas/KontoResponseApiModel"
          },
          "kontaktinformasjon" : {
            "$ref" : "#/components/schemas/KontaktinformasjonResponseApiModel"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseResponseApiModel"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "deaktivert" : {
            "type" : "boolean",
            "description" : "Om bydelen er deaktivert. Det er ikke mulig å sende bekymringsmeldinger til deaktiverte bydeler"
          }
        }
      },
      "FiksIoKonfigurasjonResponseApiModel" : {
        "required" : [ "id", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "offentligNokkel" : {
            "$ref" : "#/components/schemas/OffentligNokkelApiModel"
          }
        }
      },
      "KontaktinformasjonResponseApiModel" : {
        "required" : [ "epost", "telefon" ],
        "type" : "object",
        "properties" : {
          "telefon" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          }
        }
      },
      "KontoResponseApiModel" : {
        "required" : [ "fagsystem", "stottetVersjon" ],
        "type" : "object",
        "properties" : {
          "fagsystem" : {
            "type" : "string",
            "enum" : [ "MANUELL_MOTTAK", "VISMA_FAMILIA", "VISMA_FLYT_BARNEVERN", "NETCOMPANY_MODULUS_BARN", "UKJENT" ]
          },
          "stottetVersjon" : {
            "type" : "string",
            "enum" : [ "V1", "V2" ]
          },
          "svarinnKonto" : {
            "$ref" : "#/components/schemas/SvarinnKonfigurasjonResponseApiModel"
          },
          "fiksioKonto" : {
            "$ref" : "#/components/schemas/FiksIoKonfigurasjonResponseApiModel"
          },
          "manuellMottakKonto" : {
            "$ref" : "#/components/schemas/ManuellMottakKonfigurasjonResponseApiModel"
          }
        }
      },
      "ManuellMottakKonfigurasjonResponseApiModel" : {
        "required" : [ "varselEposter" ],
        "type" : "object",
        "properties" : {
          "varselEposter" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "OffentligNokkelApiModel" : {
        "type" : "object",
        "properties" : {
          "nokkel" : {
            "type" : "string"
          },
          "validFrom" : {
            "type" : "string",
            "format" : "date-time"
          },
          "validTo" : {
            "type" : "string",
            "format" : "date-time"
          },
          "serial" : {
            "type" : "string"
          },
          "subjectDN" : {
            "type" : "string"
          },
          "issuerDN" : {
            "type" : "string"
          }
        },
        "description" : "Offentlig nøkkel til rekryptering for kontotype SVARINN"
      },
      "SvarinnKonfigurasjonResponseApiModel" : {
        "required" : [ "integrasjonId", "offentligNokkel", "orgnr" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "orgnr" : {
            "type" : "string"
          },
          "offentligNokkel" : {
            "$ref" : "#/components/schemas/OffentligNokkelApiModel"
          }
        }
      },
      "AdresseRequestApiModel" : {
        "required" : [ "adresselinje1", "navn", "postnummer", "poststed" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        }
      },
      "BydelCreateRequestApiModel" : {
        "required" : [ "adresse", "bydelsnavn", "bydelsnummer", "kontaktinformasjon", "konto" ],
        "type" : "object",
        "properties" : {
          "bydelsnummer" : {
            "pattern" : "^\\d{2}$",
            "type" : "string"
          },
          "bydelsnavn" : {
            "type" : "string"
          },
          "konto" : {
            "$ref" : "#/components/schemas/KontoRequestApiModel"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseRequestApiModel"
          },
          "kontaktinformasjon" : {
            "$ref" : "#/components/schemas/KontaktinformasjonRequestApiModel"
          }
        }
      },
      "FiksIoKonfigurasjonRequestApiModel" : {
        "required" : [ "offentligNokkel" ],
        "type" : "object",
        "properties" : {
          "offentligNokkel" : {
            "$ref" : "#/components/schemas/OffentligNokkelApiModel"
          }
        }
      },
      "KontaktinformasjonRequestApiModel" : {
        "required" : [ "epost", "telefon" ],
        "type" : "object",
        "properties" : {
          "telefon" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          }
        }
      },
      "KontoRequestApiModel" : {
        "required" : [ "fagsystem" ],
        "type" : "object",
        "properties" : {
          "fagsystem" : {
            "type" : "string",
            "enum" : [ "MANUELL_MOTTAK", "VISMA_FAMILIA", "VISMA_FLYT_BARNEVERN", "NETCOMPANY_MODULUS_BARN", "UKJENT" ]
          },
          "stottetVersjon" : {
            "type" : "string",
            "enum" : [ "V1", "V2" ]
          },
          "svarinnKonto" : {
            "$ref" : "#/components/schemas/SvarinnKonfigurasjonRequestApiModel"
          },
          "fiksioKonto" : {
            "$ref" : "#/components/schemas/FiksIoKonfigurasjonRequestApiModel"
          },
          "manuellMottakKonto" : {
            "$ref" : "#/components/schemas/ManuellMottakKonfigurasjonRequestApiModel"
          }
        }
      },
      "ManuellMottakKonfigurasjonRequestApiModel" : {
        "required" : [ "varselEposter" ],
        "type" : "object",
        "properties" : {
          "varselEposter" : {
            "type" : "array",
            "description" : "Liste av epostadresser som får varselepost hvis det er bekymringsmeldinger som ikke er kvittert ut i Manuell Mottak",
            "items" : {
              "type" : "string",
              "description" : "Liste av epostadresser som får varselepost hvis det er bekymringsmeldinger som ikke er kvittert ut i Manuell Mottak"
            }
          }
        }
      },
      "SvarinnKonfigurasjonRequestApiModel" : {
        "required" : [ "offentligNokkel", "orgnr" ],
        "type" : "object",
        "properties" : {
          "orgnr" : {
            "pattern" : "^[0-9]{9}$|^$",
            "type" : "string"
          },
          "offentligNokkel" : {
            "$ref" : "#/components/schemas/OffentligNokkelApiModel"
          }
        }
      },
      "BydelResultResponseApiModel" : {
        "required" : [ "bydeler", "totaltAntallTreff" ],
        "type" : "object",
        "properties" : {
          "totaltAntallTreff" : {
            "type" : "integer",
            "format" : "int32"
          },
          "bydeler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BydelResponseApiModel"
            }
          }
        }
      },
      "BydelEnkelResponseApiModel" : {
        "required" : [ "bydelsnavn", "bydelsnummer", "deaktivert", "fiksOrgId", "konto", "ressursId", "standardMottaker" ],
        "type" : "object",
        "properties" : {
          "bydelsnummer" : {
            "pattern" : "^\\d{2}$",
            "type" : "string"
          },
          "bydelsnavn" : {
            "type" : "string"
          },
          "standardMottaker" : {
            "type" : "boolean"
          },
          "ressursId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "konto" : {
            "$ref" : "#/components/schemas/KontoEnkelResponseApiModel"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "deaktivert" : {
            "type" : "boolean",
            "description" : "Om bydelen er deaktivert. Det er ikke mulig å sende bekymringsmeldinger til deaktiverte bydeler"
          }
        }
      },
      "KontoEnkelResponseApiModel" : {
        "required" : [ "fagsystem", "stottetVersjon" ],
        "type" : "object",
        "properties" : {
          "fagsystem" : {
            "type" : "string",
            "enum" : [ "MANUELL_MOTTAK", "VISMA_FAMILIA", "VISMA_FLYT_BARNEVERN", "NETCOMPANY_MODULUS_BARN", "UKJENT" ]
          },
          "stottetVersjon" : {
            "type" : "string",
            "enum" : [ "V1", "V2" ]
          }
        }
      },
      "FagsystemStottedeVersjonerApiModel" : {
        "required" : [ "fagsystemer" ],
        "type" : "object",
        "properties" : {
          "fagsystemer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FagsystemStottetVersjonApiModel"
            }
          }
        }
      },
      "FagsystemStottetVersjonApiModel" : {
        "required" : [ "navn", "versjoner" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "enum" : [ "MANUELL_MOTTAK", "VISMA_FAMILIA", "VISMA_FLYT_BARNEVERN", "NETCOMPANY_MODULUS_BARN" ]
          },
          "versjoner" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "V1", "V2" ]
            }
          }
        }
      },
      "BydelUpdateRequestApiModel" : {
        "type" : "object",
        "properties" : {
          "bydelsnummer" : {
            "pattern" : "^\\d{2}$",
            "type" : "string"
          },
          "bydelsnavn" : {
            "type" : "string"
          }
        }
      }
    }
  }
}