{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Bekymringsmelding kommune service",
    "description" : "Bekymringsmelding kommune service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks@ksdigital.no"
    },
    "version" : "v2"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  } ],
  "tags" : [ {
    "name" : "bekymringsmeldingKommune",
    "description" : "API for å hente kommuner og bydeler i bekymringsmelding"
  } ],
  "paths" : {
    "/bekymringsmelding/api/v2/kommuner/{kommunenummer}/bydeler/{bydelsnummer}" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKommune" ],
        "description" : "Henter en bydel for en kommune som har aktivert bekymringsmelding.",
        "operationId" : "getBydel",
        "parameters" : [ {
          "name" : "kommunenummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        }, {
          "name" : "bydelsnummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{2}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer en bydel for en kommune som har aktivert bekymringsmelding.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BydelEnkel"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen bydeler som har aktivert bekymringsmelding ble funnet."
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/kommuner/{kommunenummer}/bydeler" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKommune" ],
        "description" : "Henter bydeler for en kommune som har aktivert bekymringsmelding.",
        "operationId" : "getBydeler",
        "parameters" : [ {
          "name" : "kommunenummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer alle bydeler for en kommune som har aktivert bekymringsmelding.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BydelEnkel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/kommuner/fylker" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKommune" ],
        "description" : "Henter alle fylker.",
        "operationId" : "getFylker",
        "responses" : {
          "200" : {
            "description" : "Returnerer alle fylker.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FylkeEnkel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/kommuner/fylker/kommuner" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKommune" ],
        "description" : "Returnerer alle fylker med tilhørende kommuner",
        "operationId" : "getFylkerMedKommuner",
        "parameters" : [ {
          "name" : "sprakKode",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer alle fylker med tilhørende kommuner",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Fylke"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/kommuner/{kommunenummer}" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKommune" ],
        "description" : "Henter en kommune og tilhørende bydeler som har aktivert bekymringsmelding.",
        "operationId" : "getKommune",
        "parameters" : [ {
          "name" : "kommunenummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        }, {
          "name" : "sprakKode",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer en kommune og tilhørende bydeler som har aktivert bekymringsmelding.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Kommune"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen kommune ble funnet."
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/kommuner" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKommune" ],
        "description" : "Henter alle kommuner og tilhørende bydeler som har aktivert bekymringsmelding.",
        "operationId" : "getKommuner",
        "parameters" : [ {
          "name" : "sprakKode",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer alle kommuner og tilhørende bydeler som har aktivert bekymringsmelding.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/KommuneEnkel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v2/kommuner/fylker/{fylkenummer}/kommuner" : {
      "get" : {
        "tags" : [ "bekymringsmeldingKommune" ],
        "description" : "Henter alle kommuner som tilhører et fylke.",
        "operationId" : "getKommunerFraFylke",
        "parameters" : [ {
          "name" : "fylkenummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{2}$",
            "type" : "string"
          }
        }, {
          "name" : "sprakKode",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer alle kommuner som tilhører et fylke",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/KommuneEnkel"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BydelEnkel" : {
        "required" : [ "bydelsnavn", "bydelsnummer", "standardMottaker", "stottetVersjon" ],
        "type" : "object",
        "properties" : {
          "bydelsnummer" : {
            "pattern" : "^\\d{2}$",
            "type" : "string"
          },
          "bydelsnavn" : {
            "type" : "string"
          },
          "standardMottaker" : {
            "type" : "boolean",
            "description" : "Standard mottaker til kommunen hvor bekymringsmeldinger blir levert hvis bydel ikke er valgt"
          },
          "stottetVersjon" : {
            "type" : "string",
            "enum" : [ "V1", "V2" ]
          }
        },
        "description" : "Liste av bydeler som tilhører en kommune."
      },
      "FylkeEnkel" : {
        "required" : [ "fylkenummer", "navn" ],
        "type" : "object",
        "properties" : {
          "fylkenummer" : {
            "pattern" : "^\\d{2}$",
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "Fylke" : {
        "required" : [ "fylkenummer", "kommuner", "navn" ],
        "type" : "object",
        "properties" : {
          "fylkenummer" : {
            "pattern" : "^\\d{2}$",
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "kommuner" : {
            "type" : "array",
            "description" : "Liste av kommuner som tilhører et fylke.",
            "items" : {
              "$ref" : "#/components/schemas/KommuneEnkel"
            }
          }
        }
      },
      "KommuneEnkel" : {
        "required" : [ "kommunenr", "navn" ],
        "type" : "object",
        "properties" : {
          "kommunenr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "Kommune" : {
        "required" : [ "bydeler", "kommunenr", "navn" ],
        "type" : "object",
        "properties" : {
          "kommunenr" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "bydeler" : {
            "type" : "array",
            "description" : "Liste av bydeler som tilhører en kommune.",
            "items" : {
              "$ref" : "#/components/schemas/BydelEnkel"
            }
          }
        }
      }
    }
  }
}