{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Bekymringsmelding service",
    "description" : "Bekymringsmelding service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter/",
      "email" : "fiks@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "bekymringsmelding",
    "description" : "API for å håndtere funksjonalitet vedr. bekymringsmelding"
  } ],
  "paths" : {
    "/bekymringsmelding/api/v1/kommuner/{kommunenr}/bydeler" : {
      "get" : {
        "tags" : [ "bekymringsmelding" ],
        "description" : "Henter bydeler for en kommune.",
        "operationId" : "getBydeler",
        "parameters" : [ {
          "name" : "kommunenr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer alle bydeler for en kommune.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Bydel"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen bydeler ble funnet."
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/kommuner/{kommunenr}/bydeler/{bydelsnummer}" : {
      "get" : {
        "tags" : [ "bekymringsmelding" ],
        "description" : "Henter en bydel for en kommune.",
        "operationId" : "getBydel",
        "parameters" : [ {
          "name" : "kommunenr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bydelsnummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer alle bydeler for en kommune.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Bydel"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen bydeler ble funnet."
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/melding" : {
      "post" : {
        "tags" : [ "bekymringsmelding" ],
        "description" : "Oppretter en bekymringsmelding",
        "operationId" : "opprettBekymringsmelding",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Bekymringsmelding"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet ny bekymringsmelding.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/kommuner" : {
      "get" : {
        "tags" : [ "bekymringsmelding" ],
        "description" : "Henter alle kommuner",
        "operationId" : "getKommuner",
        "responses" : {
          "200" : {
            "description" : "Returnerer alle kommuner.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kommune"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen kommuner ble funnet."
          }
        }
      }
    },
    "/bekymringsmelding/api/v1/kommuner/{kommunenr}" : {
      "get" : {
        "tags" : [ "bekymringsmelding" ],
        "description" : "Henter en kommune.",
        "operationId" : "getKommune",
        "parameters" : [ {
          "name" : "kommunenr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returnerer en kommune.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Kommune"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen kommune ble funnet."
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Adresse" : {
        "type" : "object",
        "properties" : {
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        }
      },
      "Bydel" : {
        "type" : "object",
        "properties" : {
          "nummer" : {
            "type" : "integer",
            "format" : "int32"
          },
          "kommunenr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "aktivertBekymringsmelding" : {
            "type" : "boolean"
          },
          "telefon" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          },
          "besoksadresse" : {
            "$ref" : "#/components/schemas/Adresse"
          },
          "postadresse" : {
            "$ref" : "#/components/schemas/Adresse"
          }
        }
      },
      "Barn" : {
        "type" : "object",
        "properties" : {
          "personnavn" : {
            "type" : "string"
          },
          "antattAlder" : {
            "type" : "integer",
            "format" : "int32"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Adresse"
          }
        }
      },
      "Bekymringsmelding" : {
        "type" : "object",
        "properties" : {
          "kommunenummer" : {
            "type" : "string"
          },
          "kommunenavn" : {
            "type" : "string"
          },
          "bydel" : {
            "type" : "string"
          },
          "bydelsnummer" : {
            "type" : "integer",
            "format" : "int32"
          },
          "melder" : {
            "$ref" : "#/components/schemas/Melder"
          },
          "relasjon" : {
            "type" : "string"
          },
          "barn" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Barn"
            }
          },
          "melding" : {
            "type" : "string"
          }
        }
      },
      "Melder" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "mellomnavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "integer",
            "format" : "int32"
          },
          "skjultIdentitet" : {
            "type" : "boolean"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Adresse"
          }
        }
      },
      "Kommune" : {
        "type" : "object",
        "properties" : {
          "kommunenr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "aktivertBekymringsmelding" : {
            "type" : "boolean"
          },
          "hovedBydel" : {
            "type" : "integer",
            "format" : "int32"
          },
          "bydel" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Bydel"
            }
          }
        }
      }
    }
  }
}