{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Bekymringsmelding mottak service",
    "description" : "Bekymringsmelding mottak service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "bekymringsmeldingMottak",
    "description" : "Internt API for å håndtere funksjonalitet vedrørende mottak av bekymringsmelding"
  }, {
    "name" : "bekymringsmeldingMottak (eksternt)",
    "description" : "API for å håndtere funksjonalitet vedrørende mottak av bekymringsmelding"
  } ],
  "paths" : {
    "/bekymringsmelding/mottak/api/v1/{kommunenummer}/{bydelsnummer}/krypteringsnokler" : {
      "get" : {
        "tags" : [ "bekymringsmeldingMottak (eksternt)" ],
        "description" : "Henter krypteringsnøkler for en bydel for å kryptere bekymringsmelding.",
        "operationId" : "hentKryperingsnokler",
        "parameters" : [ {
          "name" : "kommunenummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bydelsnummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/bekymringsmelding/mottak/api/v1/{kommunenummer}/{bydelsnummer}/privat" : {
      "post" : {
        "tags" : [ "bekymringsmeldingMottak (eksternt)" ],
        "description" : "TODO",
        "operationId" : "opprettPrivatBekymringsmeldingBydel",
        "parameters" : [ {
          "name" : "kommunenummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bydelsnummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "TODO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/mottak/api/v1/{kommunenummer}/{bydelsnummer}/offentlig" : {
      "post" : {
        "tags" : [ "bekymringsmeldingMottak (eksternt)" ],
        "description" : "TODO",
        "operationId" : "opprettOffentligBekymringsmeldingBydel",
        "parameters" : [ {
          "name" : "kommunenummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bydelsnummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "TODO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/mottak/api/v1/bekymringsmelding/{bekymringsmeldingsid}/status" : {
      "get" : {
        "tags" : [ "bekymringsmeldingMottak (eksternt)" ],
        "description" : "TODO",
        "operationId" : "getStatusBekymringsmelding",
        "parameters" : [ {
          "name" : "bekymringsmeldingsid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/bekymringsmelding/mottak/api/v1/privat" : {
      "post" : {
        "tags" : [ "bekymringsmeldingMottak" ],
        "description" : "Oppretter en bekymringsmelding fra en privatperson.",
        "operationId" : "opprettPrivatBekymringsmelding",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PrivatBekymringsmeldingApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny bekymringsmelding fra en privatperson.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          }
        }
      }
    },
    "/bekymringsmelding/mottak/api/v1/offentlig" : {
      "post" : {
        "tags" : [ "bekymringsmeldingMottak" ],
        "description" : "Oppretter en bekymringsmelding fra en offentlig person.",
        "operationId" : "opprettOffentligBekymringsmelding",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OffentligBekymringsmeldingApiModel"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet ny bekymringsmelding fra en offentlig person.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AdresseApiModel" : {
        "required" : [ "adresselinje1" ],
        "type" : "object",
        "properties" : {
          "adresselinje1" : {
            "type" : "string",
            "description" : "Første adresselinje. Som regel inneholder den gatenavn og gatenummer"
          },
          "adresselinje2" : {
            "type" : "string",
            "description" : "Andre adresselinje"
          },
          "adresselinje3" : {
            "type" : "string",
            "description" : "Tredje adresselinje"
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Adressens postnummer"
          },
          "poststed" : {
            "type" : "string",
            "description" : "Adressens poststed"
          }
        },
        "description" : "Barnets adresse."
      },
      "PrivatBarnApiModel" : {
        "required" : [ "adresse", "personnavn" ],
        "type" : "object",
        "properties" : {
          "personnavn" : {
            "type" : "string",
            "description" : "Barnets navn"
          },
          "antattAlder" : {
            "type" : "string",
            "description" : "Barnets antatte alder"
          },
          "relasjon" : {
            "type" : "string",
            "description" : "Melderens relasjon til barnet"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseApiModel"
          }
        },
        "description" : "Bekymringsmeldingen gjelder disse barna"
      },
      "PrivatBekymringsmeldingApiModel" : {
        "required" : [ "barn", "bydelsnavn", "bydelsnummer", "kommunenavn", "kommunenummer", "melder", "melding" ],
        "type" : "object",
        "properties" : {
          "kommunenummer" : {
            "pattern" : "^\\d{4}$",
            "type" : "string",
            "description" : "Kommunenummer hvor bekymringsmeldingen skal sendes til"
          },
          "kommunenavn" : {
            "type" : "string",
            "description" : "Kommunenavn hvor bekymringsmeldingen skal sendes til"
          },
          "bydelsnummer" : {
            "pattern" : "^[0-9]{2}$",
            "type" : "string",
            "description" : "Bydelsnummeret bekymringsmeldingen skal sendes til"
          },
          "bydelsnavn" : {
            "type" : "string",
            "description" : "Navnet på bydelen bekymringsmeldingen skal sendes til"
          },
          "melder" : {
            "$ref" : "#/components/schemas/PrivatMelderApiModel"
          },
          "barn" : {
            "type" : "array",
            "description" : "Bekymringsmeldingen gjelder disse barna",
            "items" : {
              "$ref" : "#/components/schemas/PrivatBarnApiModel"
            }
          },
          "melding" : {
            "type" : "string",
            "description" : "Beskrivelse av bekymringsmeldingen"
          }
        }
      },
      "PrivatMelderApiModel" : {
        "required" : [ "fnr", "personnavn", "skjultIdentitet" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Melderens fødselsnummer"
          },
          "personnavn" : {
            "type" : "string",
            "description" : "Melderens personnavn"
          },
          "telefonnummer" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string",
            "description" : "Melderens telefonnummer"
          },
          "skjultIdentitet" : {
            "type" : "boolean",
            "description" : "Ønsker melderen å skjule sin identitet?"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseApiModel"
          }
        },
        "description" : "Melderen av bekymringsmeldingen"
      },
      "ForesattApiModel" : {
        "required" : [ "orientert", "personnavn" ],
        "type" : "object",
        "properties" : {
          "personnavn" : {
            "type" : "string",
            "description" : "Navnet til den foresatte."
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Foresatt sitt telefonnummer."
          },
          "orientert" : {
            "type" : "boolean",
            "description" : "Er foresatt orientert om at meldingen er sendt?"
          },
          "orientertGrunn" : {
            "type" : "string",
            "description" : "Begrunnelse om orienteringen."
          }
        },
        "description" : "Bekymringsmeldingen gjelder disse foresatte."
      },
      "MeldingApiModel" : {
        "required" : [ "historie", "melding" ],
        "type" : "object",
        "properties" : {
          "melding" : {
            "type" : "string",
            "description" : "Beskrivelse av bekymringsmeldingen."
          },
          "historie" : {
            "type" : "string",
            "description" : "Beskrivelse av historien."
          }
        },
        "description" : "Inneholder beskrivelse og historien til bekymringen."
      },
      "OffentligBarnApiModel" : {
        "required" : [ "adresse", "fnr", "orientert", "personnavn", "relasjon", "ufoedt" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string",
            "description" : "Barnets fnr, fdato eller tekst."
          },
          "ufoedt" : {
            "type" : "boolean",
            "description" : "Om barnet er ufødt eller ikke."
          },
          "personnavn" : {
            "type" : "string",
            "description" : "Barnets navn."
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Barnets telefonnummer."
          },
          "relasjon" : {
            "type" : "string",
            "description" : "Melderens relasjon til barnet"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseApiModel"
          },
          "orientert" : {
            "type" : "boolean",
            "description" : "Er barnet orientert om at meldingen er sendt?"
          },
          "orientertGrunn" : {
            "type" : "string",
            "description" : "Begrunnelse om orienteringen."
          }
        },
        "description" : "Bekymringsmeldingen gjelder disse barna."
      },
      "OffentligBekymringsmeldingApiModel" : {
        "required" : [ "barn", "bydelsnavn", "bydelsnummer", "foresatte", "kommunenavn", "kommunenummer", "melder", "melding" ],
        "type" : "object",
        "properties" : {
          "kommunenummer" : {
            "pattern" : "^\\d{4}$",
            "type" : "string",
            "description" : "Kommunenummer hvor bekymringsmeldingen skal sendes til"
          },
          "kommunenavn" : {
            "type" : "string",
            "description" : "Kommunenavn hvor bekymringsmeldingen skal sendes til"
          },
          "bydelsnummer" : {
            "pattern" : "^[0-9]{2}$",
            "type" : "string",
            "description" : "Bydelsnummeret bekymringsmeldingen skal sendes til"
          },
          "bydelsnavn" : {
            "type" : "string",
            "description" : "Navnet på bydelen bekymringsmeldingen skal sendes til"
          },
          "melder" : {
            "$ref" : "#/components/schemas/OffentligMelderApiModel"
          },
          "barn" : {
            "type" : "array",
            "description" : "Bekymringsmeldingen gjelder disse barna.",
            "items" : {
              "$ref" : "#/components/schemas/OffentligBarnApiModel"
            }
          },
          "foresatte" : {
            "maxItems" : 2,
            "minItems" : 1,
            "type" : "array",
            "description" : "Bekymringsmeldingen gjelder disse foresatte.",
            "items" : {
              "$ref" : "#/components/schemas/ForesattApiModel"
            }
          },
          "melding" : {
            "$ref" : "#/components/schemas/MeldingApiModel"
          },
          "behovForTolk" : {
            "type" : "string",
            "description" : "Om det er behov for tolk med barn og/eller foresatte."
          },
          "andreHjelpeinstanser" : {
            "type" : "string",
            "description" : "Vet du om andre hjelpeinstanser som har vært i kontakt med barnet?"
          }
        }
      },
      "OffentligMelderApiModel" : {
        "required" : [ "epost", "fnr", "personnavn", "rolle", "telefonnummer", "virksomhet" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Melderens fødselsnummer"
          },
          "personnavn" : {
            "type" : "string",
            "description" : "Melderens personnavn"
          },
          "rolle" : {
            "type" : "string",
            "description" : "Melderens rolle"
          },
          "telefonnummer" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string",
            "description" : "Melderens telefonnummer"
          },
          "epost" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9-_]+(\\.[A-Za-zæøåÆØÅ0-9-_]+)*@[A-Za-zæøåÆØÅ0-9-]+(\\.[A-Za-zæøåÆØÅ0-9-]+)*(\\.[A-Za-z]{2,})$",
            "type" : "string",
            "description" : "Melderens epost"
          },
          "virksomhet" : {
            "$ref" : "#/components/schemas/VirksomhetApiModel"
          }
        },
        "description" : "Melderen av bekymringsmeldingen."
      },
      "VirksomhetApiModel" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navnet til virksomheten."
          },
          "orgnr" : {
            "type" : "string",
            "description" : "Organisasjonsnummer til virksomheten."
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseApiModel"
          }
        },
        "description" : "Virksomheten melderen jobber for"
      }
    }
  }
}