{
  "openapi": "3.0.3",
  "info": {
    "title": "KS Besøksbidrag service",
    "description": "Besøksbidrag service",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.test.fiks.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "configuration",
      "description": "Configuration of the visitor levy (besøksbidrag) service"
    }
  ],
  "paths": {
    "/besoksbidrag-konfigurasjon/api/v1/{fiksOrgId}/configuration": {
      "get": {
        "tags": [
          "configuration"
        ],
        "summary": "Get configuration",
        "description": "Returns the visitor levy configuration for the organization. An unconfigured section is returned as an empty array after the first section has been saved.",
        "operationId": "getConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/besoksbidrag-konfigurasjon/api/v1/{fiksOrgId}/configuration/contacts": {
      "put": {
        "tags": [
          "configuration"
        ],
        "summary": "Create or replace contacts",
        "description": "Creates the configuration if needed and replaces only its contacts. At least one contact is required. Periods are left unchanged.",
        "operationId": "updateContacts",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactsConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contacts saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsConfiguration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/besoksbidrag-konfigurasjon/api/v1/{fiksOrgId}/configuration/periods": {
      "put": {
        "tags": [
          "configuration"
        ],
        "summary": "Create or replace periods",
        "description": "Creates the configuration if needed and replaces only its periods. An empty list removes all periods. Contacts are left unchanged.",
        "operationId": "updatePeriods",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PeriodsConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Periods saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeriodsConfiguration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/besoksbidrag-konfigurasjon/api/v1/{fiksOrgId}/configuration/regulation-effective-date": {
      "put": {
        "tags": [
          "configuration"
        ],
        "summary": "Create or replace regulation effective date",
        "description": "Creates the configuration if needed and replaces only its regulation effective date. Periods and contacts are left unchanged.",
        "operationId": "updateRegulationEffectiveDate",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegulationEffectiveDateConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Regulation effective date saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegulationEffectiveDateConfiguration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "FiksOrgId": {
        "name": "fiksOrgId",
        "required": true,
        "in": "path",
        "schema": {
          "type": "string",
          "format": "uuid",
          "description": "Id til en Fiks-organisasjon"
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "Error400": {
        "description": "Bad Request. Configuration validation errors use BESOK-1001 through BESOK-1009. Malformed request bodies may use shared Fiks error codes.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error401": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error403": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error404": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error500": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "correlationId": {
            "type": "string",
            "format": "uuid"
          },
          "errorCode": {
            "type": "string",
            "description": "Error identifier. Known error codes are listed in BesoksbidragErrorCode. Other errors may use shared Fiks error codes."
          },
          "errorMessage": {
            "type": "string"
          },
          "httpStatus": {
            "type": "integer"
          }
        }
      },
      "BesoksbidragErrorCode": {
        "type": "string",
        "description": "Error codes returned when configuration validation fails. Frontends should use these stable codes to select user-facing messages instead of displaying the error message from the response.\n\n- `BESOK-1001`: No contact was provided.\n- `BESOK-1002`: A contact name is invalid.\n- `BESOK-1003`: A contact email address is invalid.\n- `BESOK-1004`: A period starts or ends before the minimum supported year.\n- `BESOK-1005`: A period starts or ends after the maximum supported year.\n- `BESOK-1006`: A period ends before it starts.\n- `BESOK-1007`: A recurring period starts or ends on February 29.\n- `BESOK-1008`: A recurring period lasts one year or longer.\n- `BESOK-1009`: Periods overlap.",
        "enum": [
          "BESOK-1001",
          "BESOK-1002",
          "BESOK-1003",
          "BESOK-1004",
          "BESOK-1005",
          "BESOK-1006",
          "BESOK-1007",
          "BESOK-1008",
          "BESOK-1009"
        ],
        "x-enum-varnames": [
          "CONTACTS_REQUIRED",
          "CONTACT_NAME_INVALID",
          "CONTACT_EMAIL_INVALID",
          "PERIOD_DATE_BEFORE_MINIMUM_YEAR",
          "PERIOD_DATE_AFTER_MAXIMUM_YEAR",
          "PERIOD_END_BEFORE_START",
          "RECURRING_PERIOD_ON_LEAP_DAY",
          "RECURRING_PERIOD_TOO_LONG",
          "PERIODS_OVERLAP"
        ]
      },
      "Configuration": {
        "type": "object",
        "description": "Visitor levy configuration for an organization. Sections not yet configured are empty arrays, except regulationEffectiveDate which is null.",
        "required": [
          "periods",
          "contacts"
        ],
        "properties": {
          "periods": {
            "type": "array",
            "description": "Periods in which the visitor levy service is active. Periods must not overlap, including their yearly repetitions.",
            "items": {
              "$ref": "#/components/schemas/Period"
            }
          },
          "contacts": {
            "type": "array",
            "description": "Contact persons for the visitor levy service",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "regulationEffectiveDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date from which the municipality's visitor levy regulation (forskrift) takes effect (ISO 8601, YYYY-MM-DD). The date may differ from the periods in which the levy is actually collected. Null if not yet configured.",
            "example": "2027-01-01"
          }
        },
        "example": {
          "periods": [
            {
              "startDate": "2027-05-01",
              "endDate": "2027-05-31",
              "recurring": true
            },
            {
              "startDate": "2027-08-01",
              "endDate": "2027-08-31",
              "recurring": true
            },
            {
              "startDate": "2027-12-15",
              "endDate": "2028-01-15",
              "recurring": false
            }
          ],
          "contacts": [
            {
              "name": "Kari Nordmann",
              "email": "kari.nordmann@kommune.no"
            }
          ],
          "regulationEffectiveDate": "2027-01-01"
        }
      },
      "ContactsConfiguration": {
        "type": "object",
        "description": "Contacts to save for an organization",
        "required": [
          "contacts"
        ],
        "properties": {
          "contacts": {
            "type": "array",
            "description": "Full replacement list of contact persons",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          }
        }
      },
      "PeriodsConfiguration": {
        "type": "object",
        "description": "Periods to save for an organization",
        "required": [
          "periods"
        ],
        "properties": {
          "periods": {
            "type": "array",
            "description": "Full replacement list of active periods. Periods must not overlap, including yearly repetitions",
            "items": {
              "$ref": "#/components/schemas/Period"
            }
          }
        }
      },
      "RegulationEffectiveDateConfiguration": {
        "type": "object",
        "description": "Regulation effective date for an organization",
        "required": [
          "regulationEffectiveDate"
        ],
        "properties": {
          "regulationEffectiveDate": {
            "type": "string",
            "format": "date",
            "description": "Date from which the municipality's visitor levy regulation (forskrift) takes effect (ISO 8601, YYYY-MM-DD). The date may differ from the periods in which the levy is actually collected.",
            "example": "2027-01-01"
          }
        }
      },
      "Period": {
        "type": "object",
        "description": "Period in which the visitor levy service is active. Both dates are inclusive and must be between years 2027 and 2100. If recurring is true, the period recurs every year from the year of startDate, must end before its next yearly occurrence begins, and cannot start or end on February 29. The period may cross new year.",
        "required": [
          "startDate",
          "endDate",
          "recurring"
        ],
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "First day of the period (ISO 8601, YYYY-MM-DD). Year must be between 2027 and 2100.",
            "example": "2027-04-15"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "Last day of the period (ISO 8601, YYYY-MM-DD). Must be on or after startDate and year must be between 2027 and 2100.",
            "example": "2027-09-15"
          },
          "recurring": {
            "type": "boolean",
            "description": "Whether the period recurs every year"
          }
        }
      },
      "Contact": {
        "type": "object",
        "description": "Contact person for the visitor levy service",
        "required": [
          "name",
          "email"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Full name of the contact person. Leading and trailing whitespace is removed. Must contain letters; spaces, periods, hyphens and apostrophes are allowed between name parts. Emoji and control characters are not allowed.",
            "example": "Kari Nordmann"
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 254,
            "description": "Email address of the contact person. Leading and trailing whitespace is removed. Validated using the shared Fiks email pattern.",
            "example": "kari.nordmann@kommune.no"
          }
        }
      }
    }
  }
}