{
  "openapi": "3.0.3",
  "info": {
    "title": "KS Besoksbidrag service",
    "description": "Besoksbidrag service",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.test.fiks.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "besoksbidrag",
      "description": "API for Besøksbidrag"
    },
    {
      "name": "configuration",
      "description": "Configuration of the visitor levy (besøksbidrag) service"
    }
  ],
  "paths": {
    "/besoksbidrag-konfigurasjon/api/v1/{fiksOrgId}": {
      "get": {
        "tags": [
          "besoksbidrag"
        ],
        "summary": "Test",
        "description": "Endepunkt for å teste API",
        "operationId": "test",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          }
        ],
        "responses": {
          "200": {
            "description": "Test-response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceInformation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/besoksbidrag-konfigurasjon/api/v1/{fiksOrgId}/configuration": {
      "get": {
        "tags": [
          "configuration"
        ],
        "summary": "Get configuration",
        "description": "Returns the visitor levy configuration for the organization. An unconfigured section is returned as an empty array after the first section has been saved.",
        "operationId": "getConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/besoksbidrag-konfigurasjon/api/v1/{fiksOrgId}/configuration/contacts": {
      "put": {
        "tags": [
          "configuration"
        ],
        "summary": "Create or replace contacts",
        "description": "Creates the configuration if needed and replaces only its contacts. At least one contact is required. Periods are left unchanged.",
        "operationId": "updateContacts",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactsConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contacts saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsConfiguration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/besoksbidrag-konfigurasjon/api/v1/{fiksOrgId}/configuration/periods": {
      "put": {
        "tags": [
          "configuration"
        ],
        "summary": "Create or replace periods",
        "description": "Creates the configuration if needed and replaces only its periods. An empty list removes all periods. Contacts are left unchanged.",
        "operationId": "updatePeriods",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PeriodsConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Periods saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeriodsConfiguration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/besoksbidrag-konfigurasjon/api/v1/integrasjon": {
      "get": {
        "tags": [
          "besoksbidrag"
        ],
        "summary": "Hent service informasjon for integrasjoner",
        "description": "Standard service informasjon som kun skal være tilgjengelig for integrasjoner",
        "operationId": "integrasjon",
        "responses": {
          "200": {
            "description": "Informasjon om tjeneste",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceInformation"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/besoksbidrag-konfigurasjon/api/v1/integrasjonPerson": {
      "get": {
        "tags": [
          "besoksbidrag"
        ],
        "summary": "Hent service informasjon for integrasjon som representerer en person",
        "description": "Standard service informasjon som kun skal være tilgjengelig for integrasjon som representerer en person",
        "operationId": "integrasjonPerson",
        "responses": {
          "200": {
            "description": "Informasjon om tjeneste",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceInformation"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/besoksbidrag-konfigurasjon/api/v1/person": {
      "get": {
        "tags": [
          "besoksbidrag"
        ],
        "summary": "Hent service informasjon for personer",
        "description": "Standard service informasjon som kun skal være tilgjengelig for personer",
        "operationId": "person",
        "responses": {
          "200": {
            "description": "Informasjon om tjeneste",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceInformation"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/besoksbidrag-konfigurasjon/api/v1": {
      "get": {
        "tags": [
          "besoksbidrag"
        ],
        "summary": "Hent standard service informasjon",
        "description": "Standard service informasjon som skal være tilgjengelig for ALLE med gyldig token",
        "operationId": "standard",
        "responses": {
          "200": {
            "description": "Informasjon om tjeneste",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceInformation"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "FiksOrgId": {
        "name": "fiksOrgId",
        "required": true,
        "in": "path",
        "schema": {
          "type": "string",
          "format": "uuid",
          "description": "Id til en Fiks-organisasjon"
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "Error400": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error401": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error403": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error404": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error500": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "correlationId": {
            "type": "string",
            "format": "uuid"
          },
          "errorCode": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          },
          "httpStatus": {
            "type": "integer"
          }
        }
      },
      "ServiceInformation": {
        "type": "object",
        "properties": {
          "apiName": {
            "type": "string"
          },
          "apiVersion": {
            "type": "string"
          },
          "authorizationDescription": {
            "type": "string",
            "enum": [
              "ALLE",
              "INTEGRASJON",
              "PERSON",
              "PERSON_INTEGRASJON",
              "ORG_ADMIN"
            ]
          }
        },
        "required": [
          "apiName",
          "apiVersion",
          "authorizationDescription"
        ]
      },
      "Configuration": {
        "type": "object",
        "description": "Visitor levy configuration for an organization. Sections not yet configured are empty arrays.",
        "required": [
          "periods",
          "contacts"
        ],
        "properties": {
          "periods": {
            "type": "array",
            "description": "Periods in which the visitor levy service is active. Periods must not overlap, including their yearly repetitions.",
            "items": {
              "$ref": "#/components/schemas/Period"
            }
          },
          "contacts": {
            "type": "array",
            "description": "Contact persons for the visitor levy service",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          }
        },
        "example": {
          "periods": [
            {
              "startDate": "2027-05-01",
              "endDate": "2027-05-31",
              "repeatsYearly": true
            },
            {
              "startDate": "2027-08-01",
              "endDate": "2027-08-31",
              "repeatsYearly": true
            },
            {
              "startDate": "2027-12-15",
              "endDate": "2028-01-15",
              "repeatsYearly": false
            }
          ],
          "contacts": [
            {
              "name": "Kari Nordmann",
              "email": "kari.nordmann@kommune.no"
            }
          ]
        }
      },
      "ContactsConfiguration": {
        "type": "object",
        "description": "Contacts to save for an organization",
        "required": [
          "contacts"
        ],
        "properties": {
          "contacts": {
            "type": "array",
            "description": "Full replacement list of contact persons",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          }
        }
      },
      "PeriodsConfiguration": {
        "type": "object",
        "description": "Periods to save for an organization",
        "required": [
          "periods"
        ],
        "properties": {
          "periods": {
            "type": "array",
            "description": "Full replacement list of active periods. Periods must not overlap, including yearly repetitions",
            "items": {
              "$ref": "#/components/schemas/Period"
            }
          }
        }
      },
      "Period": {
        "type": "object",
        "description": "Period in which the visitor levy service is active. Both dates are inclusive and must be between years 2027 and 2100. If repeatsYearly is true, the period repeats every year from the year of startDate, must end before its next yearly occurrence begins, and cannot start or end on February 29. The period may cross new year.",
        "required": [
          "startDate",
          "endDate",
          "repeatsYearly"
        ],
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "First day of the period (ISO 8601, YYYY-MM-DD). Year must be between 2027 and 2100.",
            "example": "2027-04-15"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "Last day of the period (ISO 8601, YYYY-MM-DD). Must be on or after startDate and year must be between 2027 and 2100.",
            "example": "2027-09-15"
          },
          "repeatsYearly": {
            "type": "boolean",
            "description": "Whether the period repeats every year"
          }
        }
      },
      "Contact": {
        "type": "object",
        "description": "Contact person for the visitor levy service",
        "required": [
          "name",
          "email"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Full name of the contact person. Leading and trailing whitespace is removed. Must contain letters; spaces, periods, hyphens and apostrophes are allowed between name parts. Emoji and control characters are not allowed.",
            "example": "Kari Nordmann"
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 254,
            "description": "Email address of the contact person. Leading and trailing whitespace is removed. Validated using the shared Fiks email pattern.",
            "example": "kari.nordmann@kommune.no"
          }
        }
      }
    }
  }
}