{
  "openapi": "3.1.0",
  "info": {
    "title": "Registerinfo API for støtteregisteret",
    "description": "Tilbyr ulike typer operasjoner for å søke og hente ut data fra støtteregisteret.",
    "contact": {},
    "version": "stottetiltak-registerinfo-api-1.0.66"
  },
  "servers": [
    {
      "url": "https://stottetiltak-registerinfo-api.app.brreg.no",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "search-stotteordning-controller",
      "description": "Endepunkter for uthenting av støtteordninger."
    },
    {
      "name": "kodeliste-controller",
      "description": "Toppnivå kodelister fra offentlig støtteregister"
    },
    {
      "name": "kodeliste-stottegiver-controller",
      "description": "Endepunkter for uthenting av kodelister for støttegiver."
    },
    {
      "name": "search-stottetildeling-controller",
      "description": "Endepunkter for uthenting av støttetildelinger."
    },
    {
      "name": "kodeliste-stottetiltakstype-controller",
      "description": "Hent kodelister for støttetiltakstyper"
    }
  ],
  "paths": {
    "/api/v1/soek/stoettetildeling": {
      "post": {
        "tags": [
          "search-stottetildeling-controller"
        ],
        "summary": "Søk støttetildelinger basert på gitt søkekriterie.",
        "description": "Endepunkt for uthenting av støttetildelinger.",
        "operationId": "performSearchCsv",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Velg hvor mange støttetildelinger du vil ha i søkeresultatet. Standard størrelse er 1000.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Sidenummer du vil ha i søkeresultatet.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sortere resultat basert på kriterie.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "STOETTETILTAKSNUMMER",
              "enum": [
                "STOETTETILTAKSNUMMER",
                "OPPRETTET",
                "ENDRET",
                "MOTTATT_DATO"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sortere resultat stigende/fallende.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Språk for kodelisteverdier.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "NOB",
              "enum": [
                "NOB",
                "NNO",
                "ENG"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SearchParam"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponseStoettetildeling"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/soek/stoetteordning": {
      "post": {
        "tags": [
          "search-stotteordning-controller"
        ],
        "summary": "Søk støtteordninger basert på gitt søkekriterie.",
        "description": "Endepunkt for uthenting av støtteordninger.",
        "operationId": "performSearchCsv_1",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Velg hvor mange støtteordninger du vil ha i søkeresultatet. Standard størrelse er 1000.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Sidenummer du vil ha i søkeresultatet.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sortere resultat basert på kriterie.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "STOETTETILTAKSNUMMER",
              "enum": [
                "STOETTETILTAKSNUMMER",
                "OPPRETTET",
                "ENDRET",
                "MOTTATT_DATO"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sortere resultat stigende/fallende.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Språk for kodelisteverdier.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "NOB",
              "enum": [
                "NOB",
                "NNO",
                "ENG"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SearchParam"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponseStoetteordning"
                }
              }
            }
          }
        }
      }
    },
    "/problem": {
      "get": {
        "tags": [
          "problem-api"
        ],
        "operationId": "liste",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dokumentasjon"
                  },
                  "uniqueItems": true
                }
              }
            }
          }
        }
      }
    },
    "/problem/{problem}": {
      "get": {
        "tags": [
          "problem-api"
        ],
        "operationId": "hentDokumentasjon",
        "parameters": [
          {
            "name": "problem",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dokumentasjon"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kodeliste/{kodeliste}": {
      "get": {
        "tags": [
          "kodeliste-controller"
        ],
        "summary": "Hent kodeliste fra offentlig støtteregister",
        "description": "Hent ønsket kodeliste",
        "operationId": "fetchStotteregisterKodeliste",
        "parameters": [
          {
            "name": "kodeliste",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "informasjonstype",
                "rolletype",
                "foretakskategori",
                "formaalstype",
                "retningslinjeesa",
                "stoetteinstrumenttype",
                "esagrunnlagstype",
                "stoettetiltaksstatus",
                "endringstype",
                "artikkeltype",
                "eosprimaerrettsliggrunnlag",
                "stoettetiltakstype"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "NOB",
              "enum": [
                "NOB",
                "NNO",
                "ENG"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StoetteregisterKode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kodeliste/stoettetiltakstype/{stoettetiltakstype}/{kodeliste}": {
      "get": {
        "tags": [
          "kodeliste-stottetiltakstype-controller"
        ],
        "summary": "Hent kodelister for gitt støttetiltakstype",
        "operationId": "fetchKodelisteForStottetiltakstype",
        "parameters": [
          {
            "name": "stoettetiltakstype",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kodeliste",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "informasjonstype",
                "rolletype",
                "stottetiltaksstatus",
                "endringstype",
                "eosprimaerrettsliggrunnlag"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "NOB",
              "enum": [
                "NOB",
                "NNO",
                "ENG"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kodeliste/stoettetiltakstype/underkodelister": {
      "get": {
        "tags": [
          "kodeliste-stottetiltakstype-controller"
        ],
        "summary": "Hent koblingsoversikt mellom støttetiltakstyper og tilhørende underkoderlister",
        "operationId": "fetchUnderkodeliste",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "NOB",
              "enum": [
                "NOB",
                "NNO",
                "ENG"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kodeliste/stoettegiver": {
      "get": {
        "tags": [
          "kodeliste-stottegiver-controller"
        ],
        "summary": "Hent kodeliste over registrerte støttegivere.",
        "description": "Endepunkt for uthenting av kodeliste over registrerte støttegivere.",
        "operationId": "fetchStottegiverList",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Virksomhet"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kodeliste/retningslinjeesa/{retningslinjeesa}/formaalstype": {
      "get": {
        "tags": [
          "kodeliste-retningslinje-esa-controller"
        ],
        "summary": "Hent formålstyper for gitt retningslinje Esa",
        "description": "Hent formålstyper for gitt retningslinje Esa",
        "operationId": "fetchFormaaltypeFromRetningslinjeEsa",
        "parameters": [
          {
            "name": "retningslinjeesa",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "NOB",
              "enum": [
                "NOB",
                "NNO",
                "ENG"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Formaalstype"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kodeliste/retningslinjeesa/underkodelister": {
      "get": {
        "tags": [
          "kodeliste-retningslinje-esa-controller"
        ],
        "summary": "Hent koblingsoversikt mellom rettningslinje Esa og tilhørende underkodelister.",
        "description": "Hent alle underkodelister for retningslinje Esa",
        "operationId": "fetchUnderkodeliste_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kodeliste/region": {
      "get": {
        "tags": [
          "kodeliste-controller"
        ],
        "summary": "Hent kodeliste region",
        "description": "Hent kodeliste region",
        "operationId": "fetchRegionKodeliste",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "NOB",
              "enum": [
                "NOB",
                "NNO",
                "ENG"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Region"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kodeliste/naering": {
      "get": {
        "tags": [
          "kodeliste-controller"
        ],
        "summary": "Hent kodeliste næring",
        "description": "Hent kodeliste næring",
        "operationId": "fetchNaeringKodeliste",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "NOB",
              "enum": [
                "NOB",
                "NNO",
                "ENG"
              ]
            }
          },
          {
            "name": "standard",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SN2007",
              "enum": [
                "SN2007",
                "SN2025"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Naeringskode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kodeliste/eosprimaerrettsliggrunnlag/{eosprimaerrettsliggrunnlag}/{kodeliste}": {
      "get": {
        "tags": [
          "kodeliste-rettslig-grunnlag-controller"
        ],
        "summary": "Hent kodelister for gitt EØS primærrettslig grunnlag",
        "description": "Hent kodelister gitt EØS primærrettslig grunnlag",
        "operationId": "fetchRetningslinjeESAFromEosPrimaerrettsligGrunnlag",
        "parameters": [
          {
            "name": "eosprimaerrettsliggrunnlag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kodeliste",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "retningslinjeesa",
                "formaalstype",
                "artikkeltype"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "NOB",
              "enum": [
                "NOB",
                "NNO",
                "ENG"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StoetteregisterKode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kodeliste/eosprimaerrettsliggrunnlag/underkodelister": {
      "get": {
        "tags": [
          "kodeliste-rettslig-grunnlag-controller"
        ],
        "summary": "Hent koblingsoversikt mellom EØS primærrettslig grunnlag og tilhørende underkodelister.",
        "description": "Hent alle underkodelister for EØS primærrettslig grunnlag",
        "operationId": "fetchUnderkodeliste_2",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "NOB",
              "enum": [
                "NOB",
                "NNO",
                "ENG"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kodeliste/artikkeltype/{artikkel}/formaalstype": {
      "get": {
        "tags": [
          "kodeliste-artikkeltype-controller"
        ],
        "summary": "Hent formålstyper for gitt artikkeltype",
        "description": "Hent formålstyper for gitt artikkeltype",
        "operationId": "fetchFormaaltypeFromArtikkeltype",
        "parameters": [
          {
            "name": "artikkel",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "NOB",
              "enum": [
                "NOB",
                "NNO",
                "ENG"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Formaalstype"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/kodeliste/artikkeltype/underkodelister": {
      "get": {
        "tags": [
          "kodeliste-artikkeltype-controller"
        ],
        "summary": "Hent koblingsoversikt mellom artikkeltype og tilhørende underkodelister.",
        "description": "Hent alle underkodelister for artikkeltyper",
        "operationId": "fetchUnderkodeliste_3",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MultiValueSearchParam": {
        "allOf": [

          {
            "type": "object",
            "properties": {
              "fieldType": {
                "type": "string",
                "enum": [
                  "NAERING",
                  "REGION"
                ]
              },
              "valueTokens": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "matchType": {
                "type": "string",
                "enum": [
                  "ONE_OF"
                ]
              }
            }
          }
        ]
      },
      "SearchParam": {
        "discriminator": {
          "propertyName": "field"
        },

        "properties": {
          "valueToken": {
            "type": "string"
          }
        },
        "required": [
          "field"
        ]
      },
      "SingleValueSearchParam": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "fieldType": {
                "type": "string",
                "enum": [
                  "STOETTETILTAKSNUMMER",
                  "STOETTEGIVER_ORGNR",
                  "STOETTEORDNING_NAVN",
                  "STOETTEGIVER_NAVN",
                  "ESA_ID",
                  "GRUPPEUNNTAKSID",
                  "STOETTEMOTTAKER_ORGNR",
                  "TILKNYTTET_STOETTEORDNING"
                ]
              },
              "valueToken": {
                "type": "string"
              },
              "matchType": {
                "type": "string",
                "enum": [
                  "EXACT_MATCH",
                  "CONTAINS_WORDS"
                ]
              }
            }
          }
        ]
      },
      "AnnenAktoer": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          }
        }
      },
      "BeloepValuta": {
        "type": "object",
        "properties": {
          "beloep": {
            "type": "number"
          },
          "valuta": {
            "type": "string",
            "description": "Valutakode i henhold til ISO 4217."
          }
        }
      },
      "Beloepsintervall": {
        "type": "object",
        "properties": {
          "fraBeloep": {
            "$ref": "#/components/schemas/BeloepValuta"
          },
          "tilBeloep": {
            "$ref": "#/components/schemas/BeloepValuta"
          }
        }
      },
      "EoesRettsligGrunnlag": {
        "type": "object",
        "properties": {
          "primaerrettsligGrunnlag": {
            "type": "string",
            "description": "Identifikator for primærrettslig grunnlag. Gyldige verdier hentes fra /api/v1/kodeliste/stoettetiltakstype/{stoettetiltakstype}/eosprimaerrettsliggrunnlag"
          },
          "artikkel": {
            "type": "array",
            "description": "Identifikatorer for artikkel. Gyldige verdier hentes fra /api/v1/kodeliste/eosprimaerrettsliggrunnlag/{eosprimaerrettsliggrunnlag}/artikkeltype",
            "items": {
              "type": "string"
            }
          },
          "retningslinjeEsa": {
            "type": "array",
            "description": "Identifikatorer for retningslinje ESA. Gyldige verdier hentes fra /api/v1/kodeliste/eosprimaerrettsliggrunnlag/{eosprimaerrettsliggrunnlag}/retningslinjeesa",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "foedselsdato": {
            "type": "string",
            "format": "date"
          },
          "navn": {
            "type": "string"
          }
        }
      },
      "RolleStoettetildeling": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Aktørens rolle i registeret. Gyldige verdier hentes fra /api/v1/kodeliste/rolletype"
          },
          "rolleinnehavertype": {
            "type": "string",
            "enum": [
              "VIRKSOMHET",
              "PERSON",
              "ANNEN_AKTOER"
            ]
          },
          "rolleinnehaverVirksomhet": {
            "$ref": "#/components/schemas/Virksomhet"
          },
          "rolleinnehaverPerson": {
            "$ref": "#/components/schemas/Person"
          },
          "rolleinnehaverAnnenAktoer": {
            "$ref": "#/components/schemas/AnnenAktoer"
          }
        }
      },
      "SearchResponseStoettetildeling": {
        "type": "object",
        "properties": {
          "searchTime": {
            "type": "string",
            "format": "date-time"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "stoettetildeling": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Stoettetildeling"
            }
          }
        }
      },
      "Stoettetildeling": {
        "type": "object",
        "properties": {
          "stoettetiltaksnummer": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Status for støttetildelingen. Gyldige verdier hentes fra /api/v1/kodeliste/stoettetiltaksstatus"
          },
          "type": {
            "type": "string",
            "description": "Type for støttetildelingen. Gyldige verdier hentes fra /api/v1/kodeliste/stoettetiltakstype"
          },
          "eoesRettsligGrunnlag": {
            "$ref": "#/components/schemas/EoesRettsligGrunnlag"
          },
          "formaal": {
            "type": "string",
            "description": "Formål for støttetildelingen. Gyldige verdier hentes fra /api/v1/kodeliste/formaalstype"
          },
          "region": {
            "type": "string",
            "description": "Region for støttetildelingen. Gyldige verdier hentes fra /api/v1/kodeliste/region"
          },
          "stoetteinstrument": {
            "type": "string",
            "description": "Støtteinstrument for støttetildelingen. Gyldige verdier hentes fra /api/v1/kodeliste/stoetteinstrumenttype"
          },
          "stoerrelseStoettemottaker": {
            "type": "array",
            "description": "Størrelse på støttemottaker for støttetildelingen. Gyldige verdier hentes fra /api/v1/kodeliste/foretakskategori",
            "items": {
              "type": "string"
            }
          },
          "naering": {
            "type": "string",
            "description": "Næring for støtteordningen dersom spesifikt angitt. Gyldige verdier hentes fra /api/v1/kodeliste/naering"
          },
          "tildeltBeloep": {
            "$ref": "#/components/schemas/BeloepValuta"
          },
          "beloepsintervall": {
            "$ref": "#/components/schemas/Beloepsintervall"
          },
          "eksternReferanse": {
            "type": "string"
          },
          "tildelingsdato": {
            "type": "string",
            "format": "date"
          },
          "tilskuddsid": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "mottattDato": {
            "type": "string",
            "format": "date"
          },
          "endret": {
            "type": "string",
            "format": "date-time"
          },
          "tilknyttetStoetteordning": {
            "type": "string",
            "description": "Her ligger tilknyttet støtteordnings støttetiltaksnummer, om denne finnes."
          },
          "typeUtenTilknyttetStoetteordning": {
            "type": "string",
            "description": "Om det ikke finnes en tilknyttet støtteordning vil støttetildelingen angi en type direkte.",
            "enum": [
              "AD_HOC",
              "ORDINAER"
            ]
          },
          "spesifisertStoette": {
            "type": "boolean"
          },
          "rolle": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RolleStoettetildeling"
            }
          }
        }
      },
      "Virksomhet": {
        "type": "object",
        "properties": {
          "organisasjonsnummer": {
            "type": "string",
            "description": "Norsk organisasjonsnummer for virksomheten."
          },
          "navn": {
            "type": "string"
          }
        }
      },
      "AarligOekonomiskRamme": {
        "type": "object",
        "properties": {
          "aar": {
            "type": "integer",
            "format": "int32",
            "description": "Firesifret årstall."
          },
          "beloep": {
            "$ref": "#/components/schemas/BeloepValuta"
          }
        }
      },
      "EsaGrunnlag": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TekstMedSpraakversjon"
            }
          },
          "esaId": {
            "type": "string"
          },
          "gruppeunntaksid": {
            "type": "string"
          },
          "nettadresse": {
            "type": "string",
            "description": "En gyldig url."
          },
          "type": {
            "type": "string",
            "enum": [
              "MELDING",
              "VEDTAK"
            ]
          },
          "vedtaksdato": {
            "type": "string",
            "format": "date"
          },
          "meldingsdato": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "NorskrettsligGrunnlag": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "nettadresse": {
            "type": "string"
          }
        }
      },
      "RolleStoetteordning": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Aktørens rolle i registeret. Gyldige verdier hentes fra /api/v1/kodeliste/rolletype"
          },
          "rolleinnehavertype": {
            "type": "string",
            "enum": [
              "VIRKSOMHET"
            ]
          },
          "rolleinnehaver": {
            "$ref": "#/components/schemas/Virksomhet"
          }
        }
      },
      "SearchResponseStoetteordning": {
        "type": "object",
        "properties": {
          "searchTime": {
            "type": "string",
            "format": "date-time"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "stoetteordning": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Stoetteordning"
            }
          }
        }
      },
      "Stoetteordning": {
        "type": "object",
        "properties": {
          "stoettetiltaksnummer": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Status for støtteordningen. Gyldige verdier hentes fra /api/v1/kodeliste/stoettetiltaksstatus"
          },
          "type": {
            "type": "string",
            "description": "Type for støtteordningen. Gyldige verdier hentes fra /api/v1/kodeliste/stoettetiltakstype"
          },
          "opprettet": {
            "type": "string",
            "format": "date-time"
          },
          "endret": {
            "type": "string",
            "format": "date-time"
          },
          "eoesRettsligGrunnlag": {
            "$ref": "#/components/schemas/EoesRettsligGrunnlag"
          },
          "navn": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TekstMedSpraakversjon"
            }
          },
          "formaal": {
            "type": "array",
            "description": "Formål for støtteordningen. Gyldige verdier hentes fra /api/v1/kodeliste/formaalstype",
            "items": {
              "type": "string"
            }
          },
          "stoerrelseStoettemottaker": {
            "type": "array",
            "description": "Størrelser på støttemottaker for støtteordningen. Gyldige verdier hentes fra /api/v1/kodeliste/foretakskategori",
            "items": {
              "type": "string"
            }
          },
          "gjelderAlleNaeringer": {
            "type": "boolean"
          },
          "naering": {
            "type": "array",
            "description": "Næringer for støtteordningen dersom spesifikt angitt. Gyldige verdier hentes fra /api/v1/kodeliste/naering",
            "items": {
              "type": "string"
            }
          },
          "stoetteinstrument": {
            "type": "array",
            "description": "Støtteinstrumenter for støtteordningen. Gyldige verdier hentes fra /api/v1/kodeliste/stoetteinstrumenttype",
            "items": {
              "type": "string"
            }
          },
          "regionsnivaa": {
            "type": "string",
            "enum": [
              "ALLE",
              "ALLE_UTENOM_SVALBARD",
              "SPESIFIKT_ANGITT"
            ]
          },
          "region": {
            "type": "array",
            "description": "Regioner for støtteordningen. Gyldige verdier hentes fra /api/v1/kodeliste/region",
            "items": {
              "type": "string"
            }
          },
          "oekonomiskRamme": {
            "$ref": "#/components/schemas/BeloepValuta"
          },
          "garantibeloep": {
            "$ref": "#/components/schemas/BeloepValuta"
          },
          "varighet": {
            "$ref": "#/components/schemas/Tidsperiode"
          },
          "nettadresse": {
            "type": "array",
            "description": "Gyldig url, én eller flere.",
            "items": {
              "type": "string"
            }
          },
          "stoetteordningstype": {
            "type": "string",
            "enum": [
              "AD_HOC",
              "ORDINAER"
            ]
          },
          "rolle": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RolleStoetteordning"
            }
          },
          "esaGrunnlag": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EsaGrunnlag"
            }
          },
          "norskrettsligGrunnlag": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NorskrettsligGrunnlag"
            }
          },
          "aarligOekonomiskRamme": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AarligOekonomiskRamme"
            }
          }
        }
      },
      "TekstMedSpraakversjon": {
        "type": "object",
        "properties": {
          "tekst": {
            "type": "string"
          },
          "spraak": {
            "type": "string",
            "enum": [
              "NOR",
              "ENG"
            ]
          }
        }
      },
      "Tidsperiode": {
        "type": "object",
        "properties": {
          "fraDato": {
            "type": "string",
            "format": "date"
          },
          "tilDato": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Dokumentasjon": {
        "type": "object",
        "properties": {
          "problemtype": {
            "type": "string"
          },
          "problemtitle": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "loesningsforslag": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "logLevel": {
            "type": "string"
          },
          "feilsituasjon": {
            "type": "string"
          }
        }
      },
      "StoetteregisterKode": {
        "type": "object",
        "properties": {
          "identifikator": {
            "type": "string"
          },
          "navn": {
            "type": "string"
          },
          "definisjon": {
            "type": "string"
          },
          "beskrivelse": {
            "type": "string"
          },
          "spraakkode": {
            "type": "string"
          },
          "versjon": {
            "type": "integer",
            "format": "int32"
          },
          "opprettet": {
            "type": "string",
            "format": "date-time"
          },
          "endret": {
            "type": "string",
            "format": "date-time"
          },
          "utgaatt": {
            "type": "string",
            "format": "date-time"
          },
          "nedreMultiplisitet": {
            "type": "integer",
            "format": "int32"
          },
          "ovreMultiplisitet": {
            "type": "integer",
            "format": "int32"
          },
          "kanRettes": {
            "type": "boolean"
          }
        }
      },
      "Formaalstype": {
        "type": "object",
        "properties": {
          "identifikator": {
            "type": "string"
          },
          "navn": {
            "type": "string"
          },
          "definisjon": {
            "type": "string"
          },
          "beskrivelse": {
            "type": "string"
          },
          "spraakkode": {
            "type": "string"
          },
          "versjon": {
            "type": "integer",
            "format": "int32"
          },
          "endretAv": {
            "type": "string"
          },
          "opprettet": {
            "type": "string",
            "format": "date-time"
          },
          "endret": {
            "type": "string",
            "format": "date-time"
          },
          "utgaatt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Region": {
        "type": "object",
        "properties": {
          "identifikator": {
            "type": "integer",
            "format": "int32"
          },
          "fylkesnummer": {
            "type": "string"
          },
          "navn": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "gyldig",
              "utgått"
            ]
          },
          "opprettet": {
            "type": "string",
            "format": "date"
          },
          "gyldigfra": {
            "type": "string",
            "format": "date"
          },
          "gyldigtil": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Naeringskode": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "level": {
            "type": "integer",
            "format": "int32"
          },
          "parentCode": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "shortName": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}