{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS fiks: brukersynkronisering oppslag service",
    "description" : "Oppslagtjeneste for synkroniserte brukere",
    "contact" : {
      "name" : "KS fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "brukerdata"
  }, {
    "name" : "brukersynkronisering-oppslag"
  }, {
    "name" : "brukersynkronisering-tilgang"
  } ],
  "paths" : {
    "/brukersynkronisering/oppslag/api/v1/brukerdata/fiksOrg/{fiksOrgId}/kilde/{kildeId}/bruker/{brukerId}" : {
      "get" : {
        "tags" : [ "brukerdata" ],
        "description" : "Henter en gitt bruker for en organisasjon",
        "operationId" : "bruker",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kildeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrukerData"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke bruker"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/oppslag/api/v1/brukerdata/fiksOrg/{fiksOrgId}/kilde/{kildeId}/gruppe/{gruppeId}" : {
      "get" : {
        "tags" : [ "brukerdata" ],
        "description" : "Henter brukere tilhørende en grupper for en organisasjon",
        "operationId" : "brukereForGruppe",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kildeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "gruppeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Brukere"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke gruppe"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/oppslag/api/v1/brukerdata/fiksOrg/{fiksOrgId}/kilde/{kildeId}" : {
      "get" : {
        "tags" : [ "brukerdata" ],
        "description" : "Henter alle brukere for en kilde",
        "operationId" : "brukereForKilde",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kildeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Brukere"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke gruppe"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/oppslag/api/v1/brukerdata/fiksOrg/{fiksOrgId}/kilde/{kildeId}/brukere" : {
      "get" : {
        "tags" : [ "brukerdata" ],
        "description" : "Henter alle brukere for en kilde som er endret",
        "operationId" : "endredeBrukere",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kildeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "endretEtter",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "antall",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EndredeBrukere"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke kilde eller fiksOrg"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/oppslag/api/v1/brukerdata/fiksOrg/{fiksOrgId}/kilde/{kildeId}/endretbruker/{brukerId}" : {
      "get" : {
        "tags" : [ "brukerdata" ],
        "description" : "Henter en bestemt bruker",
        "operationId" : "endretBruker",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kildeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EndretBruker"
                }
              }
            }
          },
          "410" : {
            "description" : "Bruker er slettet"
          },
          "404" : {
            "description" : "Fant ikke kilde eller fiksOrg"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/oppslag/api/v1/brukerdata/fiksOrg/{fiksOrgId}/kilde/{kildeId}/brukere/slettet" : {
      "get" : {
        "tags" : [ "brukerdata" ],
        "description" : "Henter alle brukere for en kilde som er slettet etter angitt tidspunkt",
        "operationId" : "slettedeBrukere",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kildeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "slettetEtter",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SlettedeBrukere"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke kilde eller fiksOrg"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/oppslag/api/v1/oppslag/me" : {
      "get" : {
        "tags" : [ "brukersynkronisering-oppslag" ],
        "description" : "Viser aktører knyttet til gjeldende bruker",
        "operationId" : "me",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Bruker"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke gitt kilde"
          },
          "401" : {
            "description" : "Ikke tilgang. Krever personpålogging",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/oppslag/api/v1/oppslag" : {
      "post" : {
        "tags" : [ "brukersynkronisering-oppslag" ],
        "description" : "Viser aktører, både brukere og grupper for person identifisert med fødselsnummer",
        "operationId" : "oppslag",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppslagRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Bruker"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke gitt kilde"
          },
          "401" : {
            "description" : "Ikke tilgang. Krever privilegium \"BRUKERSYNKRONISERING.ACTOR.QUERY\" på ROOT",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/oppslag/api/v1/tilgang/fiksorgs/{fiksOrg}/ressurser/{ressursId}/brukere" : {
      "get" : {
        "tags" : [ "brukersynkronisering-tilgang" ],
        "description" : "Henter brukere med tilgang til ressurs",
        "operationId" : "brukere",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "privilegie",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EksternBrukerTilganger"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke ressurs under fiksorg"
          },
          "401" : {
            "description" : "Ikke tilgang. Krever personpålogging og admin på ressurs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/oppslag/api/v1/tilgang/fiksorgs/{fiksOrg}/ressurser/{ressursId}/grupper" : {
      "get" : {
        "tags" : [ "brukersynkronisering-tilgang" ],
        "description" : "Henter grupper med tilgang til ressurs",
        "operationId" : "grupper",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "privilegie",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EksternGruppeTilganger"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke ressurs under fiksorg"
          },
          "401" : {
            "description" : "Ikke tilgang. Krever personpålogging og admin på ressurs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BrukerData" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "externalId" : {
            "type" : "string"
          },
          "userName" : {
            "type" : "string"
          },
          "employeeNumber" : {
            "type" : "string"
          },
          "nationalIdentityNumber" : {
            "type" : "string"
          },
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          },
          "etag" : {
            "type" : "string"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "Brukere" : {
        "required" : [ "brukere" ],
        "type" : "object",
        "properties" : {
          "brukere" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BrukerData"
            }
          }
        }
      },
      "Address" : {
        "type" : "object",
        "properties" : {
          "streetAddress" : {
            "type" : "string"
          },
          "locality" : {
            "type" : "string"
          },
          "region" : {
            "type" : "string"
          },
          "postalCode" : {
            "type" : "string"
          },
          "country" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "primary" : {
            "type" : "boolean"
          }
        }
      },
      "Email" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "primary" : {
            "type" : "boolean"
          },
          "display" : {
            "type" : "string"
          }
        }
      },
      "EndredeBrukere" : {
        "required" : [ "users" ],
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EndretBruker"
            }
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "kildeId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "EndretBruker" : {
        "type" : "object",
        "properties" : {
          "bruker" : {
            "$ref" : "#/components/schemas/UserResource"
          },
          "oppdatert" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "Name" : {
        "type" : "object",
        "properties" : {
          "formatted" : {
            "type" : "string"
          },
          "familyName" : {
            "type" : "string"
          },
          "givenName" : {
            "type" : "string"
          },
          "middleName" : {
            "type" : "string"
          },
          "honorificPrefix" : {
            "type" : "string"
          },
          "honorificSuffix" : {
            "type" : "string"
          }
        }
      },
      "PhoneNumber" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "string"
          },
          "display" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "primary" : {
            "type" : "boolean"
          }
        }
      },
      "UserResource" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "externalId" : {
            "type" : "string"
          },
          "userName" : {
            "type" : "string"
          },
          "name" : {
            "$ref" : "#/components/schemas/Name"
          },
          "displayName" : {
            "type" : "string"
          },
          "emails" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Email"
            }
          },
          "active" : {
            "type" : "boolean"
          },
          "title" : {
            "type" : "string"
          },
          "userType" : {
            "type" : "string"
          },
          "nationalIdentityNumber" : {
            "type" : "string"
          },
          "employeeNumber" : {
            "type" : "string"
          },
          "phoneNumbers" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PhoneNumber"
            }
          },
          "addresses" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Address"
            }
          },
          "manager" : {
            "type" : "string"
          },
          "organization" : {
            "type" : "string"
          },
          "division" : {
            "type" : "string"
          },
          "department" : {
            "type" : "string"
          }
        }
      },
      "SlettedeBrukere" : {
        "type" : "object",
        "properties" : {
          "brukere" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        }
      },
      "Bruker" : {
        "required" : [ "aktorer" ],
        "type" : "object",
        "properties" : {
          "ref" : {
            "type" : "string"
          },
          "aktorer" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "OppslagRequest" : {
        "type" : "object",
        "properties" : {
          "aktor" : {
            "type" : "string"
          }
        }
      },
      "EksternBrukerTilgang" : {
        "required" : [ "aktorId", "navn" ],
        "type" : "object",
        "properties" : {
          "aktorId" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "EksternBrukerTilganger" : {
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "brukere" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EksternBrukerTilgang"
            }
          }
        }
      },
      "EksternGruppeTilgang" : {
        "required" : [ "aktorId", "navn" ],
        "type" : "object",
        "properties" : {
          "aktorId" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "EksternGruppeTilganger" : {
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "grupper" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EksternGruppeTilgang"
            }
          }
        }
      }
    }
  }
}