{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS fiks: brukersynkronisering oppslag service",
    "description" : "Oppslagtjeneste for synkroniserte brukere",
    "contact" : {
      "name" : "KS fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "brukerdata"
  }, {
    "name" : "brukersynkronisering-oppslag"
  } ],
  "paths" : {
    "/brukersynkronisering/oppslag/api/v1/oppslag/brukerdata/fiksOrg/{fiksOrgId}/kildeId/{kildeId}/bruker/{brukerId}" : {
      "get" : {
        "tags" : [ "brukerdata" ],
        "description" : "Henter en gitt bruker for en organisasjon",
        "operationId" : "bruker",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kildeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrukerData"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke bruker"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/oppslag/api/v1/oppslag/brukerdata/fiksOrg/{fiksOrgId}/kilde/{kildeId}/gruppe/{gruppeId}" : {
      "get" : {
        "tags" : [ "brukerdata" ],
        "description" : "Henter brukere tilhørende en grupper for en organisasjon",
        "operationId" : "brukereForGruppe",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kildeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "gruppeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BrukerData"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke gruppe"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/oppslag/api/v1/oppslag/me" : {
      "get" : {
        "tags" : [ "brukersynkronisering-oppslag" ],
        "description" : "Viser aktører knyttet til gjeldende bruker",
        "operationId" : "me",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Bruker"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke gitt kilde"
          },
          "401" : {
            "description" : "Ikke tilgang. Krever personpålogging",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/oppslag/api/v1/oppslag" : {
      "post" : {
        "tags" : [ "brukersynkronisering-oppslag" ],
        "description" : "Viser aktører, både brukere og grupper for person identifisert med fødselsnummer",
        "operationId" : "oppslag",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppslagRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Bruker"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke gitt kilde"
          },
          "401" : {
            "description" : "Ikke tilgang. Krever privilegium \"BRUKERSYNKRONISERING.ACTOR.QUERY\" på ROOT",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BrukerData" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "externalId" : {
            "type" : "string"
          },
          "userName" : {
            "type" : "string"
          },
          "employeeNumber" : {
            "type" : "string"
          },
          "nationalIdentityNumber" : {
            "type" : "string"
          },
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "Bruker" : {
        "required" : [ "aktorer" ],
        "type" : "object",
        "properties" : {
          "ref" : {
            "type" : "string"
          },
          "aktorer" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "OppslagRequest" : {
        "type" : "object",
        "properties" : {
          "aktor" : {
            "type" : "string"
          }
        }
      }
    }
  }
}