{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS fiks: brukersynkronisering konfigurasjon service",
    "description" : "Konfigurasjon av brukersynkrionisering",
    "contact" : {
      "name" : "KS fiks brukerst??tte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "brukersynkronisering-konfigurasjon"
  } ],
  "paths" : {
    "/brukersynkronisering/konfigurasjon/api/v1/konfigurasjon/{fiksOrgId}/{klientId}/tokens" : {
      "get" : {
        "tags" : [ "brukersynkronisering-konfigurasjon" ],
        "description" : "Gir oversikt over aktive tokens per klient",
        "operationId" : "listActiveTokens",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "klientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ActiveTokens"
                }
              }
            }
          },
          "404" : {
            "description" : "Ukjent klient"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "brukersynkronisering-konfigurasjon" ],
        "description" : "Gir oversikt over hvilke tokens som er generert per clientId",
        "operationId" : "createToken",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "klientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NewToken"
                }
              }
            }
          },
          "404" : {
            "description" : "Ukjent klient"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/konfigurasjon/api/v1/konfigurasjon/{fiksOrgId}/{klientId}/tokens/{id}" : {
      "delete" : {
        "tags" : [ "brukersynkronisering-konfigurasjon" ],
        "description" : "Tilbakekaller gitt token. N??r dette er gjort kan man ikke lengre bruke tokenet",
        "operationId" : "revokeToken",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "klientId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Ok"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/konfigurasjon/api/v1/konfigurasjon/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "brukersynkronisering-konfigurasjon" ],
        "description" : "Gir oversikt over hvilke kilder som er konfigurert",
        "operationId" : "kilder",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Kilde"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke konfigurert"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "brukersynkronisering-konfigurasjon" ],
        "description" : "Oppretter konfigurasjon for en kilde",
        "operationId" : "opprettKilde",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NyKildeRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "Location" : {
                "description" : "URI til den nye ressursen",
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Kilde"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke gitt kilde"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/brukersynkronisering/konfigurasjon/api/v1/konfigurasjon/{fiksOrgId}/{kildeId}" : {
      "delete" : {
        "tags" : [ "brukersynkronisering-konfigurasjon" ],
        "description" : "Sletter konfigurasjon for kilde",
        "operationId" : "slettKilde",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kildeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "Fant ikke gitt kilde"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "NewToken" : {
        "required" : [ "token", "type" ],
        "type" : "object",
        "properties" : {
          "access_token" : {
            "type" : "string",
            "writeOnly" : true
          },
          "token_type" : {
            "type" : "string",
            "writeOnly" : true
          },
          "expires_in" : {
            "type" : "integer",
            "format" : "int64",
            "writeOnly" : true
          },
          "scope" : {
            "type" : "string"
          },
          "token" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "expiresIn" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "ActiveTokens" : {
        "required" : [ "tokens" ],
        "type" : "object",
        "properties" : {
          "tokens" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Token"
            }
          }
        }
      },
      "Token" : {
        "required" : [ "id", "revoked" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "revoked" : {
            "type" : "boolean"
          }
        }
      },
      "Id" : {
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "id" : {
            "type" : "string"
          }
        }
      },
      "Kilde" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/Id"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "NyKildeRequest" : {
        "type" : "object",
        "properties" : {
          "beskrivelse" : {
            "type" : "string"
          }
        }
      }
    }
  }
}