{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Chat Konfigurasjon",
    "description" : "Tjeneste for konfigurering av chat",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Chat konfigurasjon",
    "description" : "API for konfigurering av chat"
  }, {
    "name" : "Chat folkeregisterrolle konfigurasjon",
    "description" : "API for konfigurering av rolle for folkeregisteroppslag"
  } ],
  "paths" : {
    "/chat-konfigurasjon/api/v1/{fiksOrgId}/finnbruker" : {
      "get" : {
        "tags" : [ "Chat konfigurasjon" ],
        "description" : "Finn bruker",
        "operationId" : "hentBruker",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BrukerRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Response!",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrukerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chat-konfigurasjon/api/v1/{fiksOrg}/brukere" : {
      "get" : {
        "tags" : [ "Chat konfigurasjon" ],
        "description" : "Hent alle brukere for organisasjonen",
        "operationId" : "hentBrukere",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Response!",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrukereResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Chat konfigurasjon" ],
        "summary" : "Oppretter en ny bruker for organisasjonen med gitt fødselsnummer",
        "operationId" : "opprettBruker",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettBrukerRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Bruker opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpprettBrukerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chat-konfigurasjon/api/v1/{fiksOrg}/brukere/{brukerId}" : {
      "post" : {
        "tags" : [ "Chat konfigurasjon" ],
        "description" : "Oppdaterer en bruker",
        "operationId" : "oppdaterBruker",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterBrukerRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Response!",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpprettBrukerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chat-konfigurasjon/api/v1/folkeregister/{fiksOrgId}/rolle" : {
      "post" : {
        "tags" : [ "Chat folkeregisterrolle konfigurasjon" ],
        "summary" : "Aktiverer oppslag fra chat-tjenesten mot folkeregister for organisasjonen",
        "operationId" : "aktiverFolkeregister",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Oppslag mot folkeregister aktivert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AktivertRolle"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Chat folkeregisterrolle konfigurasjon" ],
        "summary" : "Deaktiverer oppslag fra chat-tjenesten mot folkeregister for organisasjonen",
        "operationId" : "deaktiverFolkeregister",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Oppslag mot folkeregister deaktivert"
          }
        }
      }
    },
    "/chat-konfigurasjon/api/v1/folkeregister/{fiksOrgId}" : {
      "post" : {
        "tags" : [ "Chat folkeregisterrolle konfigurasjon" ],
        "summary" : "Aktiverer oppslag fra chat-tjenesten mot folkeregister for organisasjonen",
        "operationId" : "hentOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Oppslag mot folkeregister aktivert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BrukerResponse" : {
        "required" : [ "fnr", "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id til bruker",
            "format" : "uuid"
          },
          "fnr" : {
            "type" : "string",
            "description" : "Fødselsnummer til bruker"
          },
          "epost" : {
            "type" : "string",
            "description" : "Epost til bruker"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn til bruker"
          },
          "grupper" : {
            "type" : "array",
            "description" : "Grupper som bruker tilhører i denne fiksOrg",
            "items" : {
              "type" : "string",
              "description" : "Grupper som bruker tilhører i denne fiksOrg"
            }
          }
        }
      },
      "BrukerRequest" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id til bruker"
          },
          "fnr" : {
            "type" : "string",
            "description" : "Fødselsnummer til bruker"
          }
        }
      },
      "BrukereResponse" : {
        "type" : "object",
        "properties" : {
          "brukere" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BrukerResponse"
            }
          }
        }
      },
      "OpprettBrukerResponse" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id for opprettet bruker"
          }
        }
      },
      "OppdaterBrukerRequest" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id til bruker"
          },
          "epost" : {
            "type" : "string",
            "description" : "Epost til bruker"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn til bruker"
          }
        }
      },
      "OpprettBrukerRequest" : {
        "required" : [ "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string",
            "description" : "Fødselsnummer for bruker som skal opprettes"
          }
        }
      },
      "AktivertRolle" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "Organisasjon" : {
        "required" : [ "folkeregisterStatus" ],
        "type" : "object",
        "properties" : {
          "folkeregisterStatus" : {
            "type" : "string",
            "enum" : [ "AKTIVERT", "DEAKTIVERT", "DELVIS_AKTIVERT", "DELVIS_DEAKTIVERT" ]
          }
        }
      }
    }
  }
}