{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Chat Konfigurasjon",
    "description" : "Fiks Chat Konfigurasjon Intern service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks API test host"
  } ],
  "tags" : [ {
    "name" : "chat-konfigurasjon-intern",
    "description" : "API for konfigurering av Fiks Chat i Forvaltning-grensesnittet"
  } ],
  "paths" : {
    "/fiks-chat-konfigurasjon/api/v1/intern/{fiksOrgId}/folkeregister" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-intern" ],
        "description" : "Aktiverer tilgang til å gjøre spørringer mot Folkeregisteret",
        "operationId" : "aktiverFolkeregisterOppslag",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "chat-konfigurasjon-intern" ],
        "summary" : "Deaktiverer tilgang til å gjøre spørringer mot Folkeregister",
        "operationId" : "deaktiverFolkeregister",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Oppslag mot folkeregister deaktivert"
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/intern/{fiksOrgId}/saksbehandler/{id}" : {
      "put" : {
        "tags" : [ "chat-konfigurasjon-intern" ],
        "description" : "Endrer saksbehandle i kommunen",
        "operationId" : "endreSaksbehandler",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EndreSaksbehandlerRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Endrer saksbehandler i kommunen"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "chat-konfigurasjon-intern" ],
        "description" : "Sletter saksbehandler",
        "operationId" : "slettSaksbehandlerForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Sletter saksbehandler"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/intern/{fiksOrgId}/fregoppslag" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-intern" ],
        "description" : "Søker etter en saksbehandler i Chat konfigurasjon",
        "operationId" : "getNavnFraFnr",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SaksbehandlerFregOppslagRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SaksbehandlerFregInfo"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/intern/{fiksOrgId}/saksbehandler" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-intern" ],
        "description" : "Oppretter ny saksbehandler og legger til i kommunen",
        "operationId" : "opprettNySaksbehandler",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettSaksbehandlerRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny saksbehandler og legger til i kommunen"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-chat-konfigurasjon/api/v1/intern/{fiksOrgId}/sok" : {
      "post" : {
        "tags" : [ "chat-konfigurasjon-intern" ],
        "description" : "Søker etter en saksbehandler i Chat konfigurasjon",
        "operationId" : "sokSaksbehandlere",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "size",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FinnSaksbehandlerRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Saksbehandlere"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "EndreSaksbehandlerRequest" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for saksbehandler som skal opprettes"
          },
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn for saksbehandler som skal opprettes"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn for saksbehandler som skal opprettes"
          },
          "telefonnummer" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string",
            "description" : "Telefonnummer for saksbehandler som skal opprettes"
          }
        }
      },
      "SaksbehandlerFregInfo" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for saksbehandler som skal opprettes"
          },
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn for saksbehandler som skal opprettes"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn for saksbehandler som skal opprettes"
          }
        }
      },
      "SaksbehandlerFregOppslagRequest" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for saksbehandler som skal opprettes"
          }
        }
      },
      "OpprettSaksbehandlerRequest" : {
        "required" : [ "etternavn", "fnr", "fornavn", "telefonnummer" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "PersonNummer for saksbehandler som skal opprettes"
          },
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn for saksbehandler som skal opprettes"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn for saksbehandler som skal opprettes"
          },
          "telefonnummer" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string",
            "description" : "Telefonnummer for saksbehandler som skal opprettes"
          }
        }
      },
      "Saksbehandler" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "antallTeams" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallGjester" : {
            "type" : "integer",
            "format" : "int32"
          },
          "sistAktiv" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "Saksbehandlere" : {
        "type" : "object",
        "properties" : {
          "saksbehandlere" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Saksbehandler"
            }
          },
          "startIndex" : {
            "type" : "integer",
            "format" : "int32"
          },
          "endIndex" : {
            "type" : "integer",
            "format" : "int32"
          },
          "totalNumber" : {
            "type" : "integer",
            "format" : "int32"
          },
          "lastPage" : {
            "type" : "boolean"
          }
        }
      },
      "FinnSaksbehandlerRequest" : {
        "type" : "object",
        "properties" : {
          "searchString" : {
            "type" : "string",
            "description" : "Søkestreng for navn"
          }
        }
      }
    }
  }
}