{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: DHIS2 Vaksine Service",
    "description" : "DHIS2 Vaksine Service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Dhis2KonfigurasjonImportNaerkontakter",
    "description" : "API for import av nærkontaker fra DHIS2"
  }, {
    "name" : "Dhis2KonfigurasjonKlinikermelding",
    "description" : "API for sending av klinikermelding for DHIS2"
  }, {
    "name" : "Dhis2KonfigurasjonPersonSok",
    "description" : "API for konfigurasjon av DHIS2"
  }, {
    "name" : "Dhis2KonfigurasjonProvesvar",
    "description" : "API for henting av provesvar for DHIS2"
  }, {
    "name" : "Selvregistrering",
    "description" : "API for å registrere nærkontaker i Fiks smittesporing"
  }, {
    "name" : "Dhis2KonfigurasjonVaksine",
    "description" : "API for henting av vaksinestatus for DHIS2"
  } ],
  "paths" : {
    "/dhis2-konfigurasjon/api/v1/import/validerListe/{klyngeUid}/{kommunenr}" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonImportNaerkontakter" ],
        "description" : "Importer liste av nærkontakter",
        "operationId" : "importerListe",
        "parameters" : [ {
          "name" : "klyngeUid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z][A-Za-z0-9]{10}$",
            "type" : "string"
          }
        }, {
          "name" : "kommunenr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/Naerkontakt"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Dhis2UploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/import/lagreFil/{klyngeUid}/{kommunenr}" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonImportNaerkontakter" ],
        "description" : "Importer excel-ark med nærkontakter",
        "operationId" : "lagreFilMedKontakter",
        "parameters" : [ {
          "name" : "klyngeUid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z][A-Za-z0-9]{10}$",
            "type" : "string"
          }
        }, {
          "name" : "kommunenr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Dhis2UploadResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Feil med input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/import/lagreListe/{klyngeUid}/{kommunenr}" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonImportNaerkontakter" ],
        "description" : "Lagre liste av nærkontakter",
        "operationId" : "lagreListe",
        "parameters" : [ {
          "name" : "klyngeUid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z][A-Za-z0-9]{10}$",
            "type" : "string"
          }
        }, {
          "name" : "kommunenr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/Naerkontakt"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Dhis2UploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/import/excelmal" : {
      "get" : {
        "tags" : [ "Dhis2KonfigurasjonImportNaerkontakter" ],
        "description" : "Last ned mal",
        "operationId" : "mal",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "links" : {
                      "uniqueItems" : true,
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "rel" : {
                            "type" : "string"
                          },
                          "uriBuilder" : {
                            "type" : "object"
                          },
                          "rels" : {
                            "type" : "array",
                            "items" : {
                              "type" : "string"
                            }
                          },
                          "title" : {
                            "type" : "string"
                          },
                          "type" : {
                            "type" : "string"
                          },
                          "params" : {
                            "type" : "object",
                            "additionalProperties" : {
                              "type" : "string"
                            }
                          },
                          "uri" : {
                            "type" : "string",
                            "format" : "uri"
                          }
                        }
                      }
                    },
                    "statusInfo" : {
                      "type" : "object",
                      "properties" : {
                        "family" : {
                          "type" : "string",
                          "enum" : [ "INFORMATIONAL", "SUCCESSFUL", "REDIRECTION", "CLIENT_ERROR", "SERVER_ERROR", "OTHER" ]
                        },
                        "reasonPhrase" : {
                          "type" : "string"
                        },
                        "statusCode" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "entityTag" : {
                      "type" : "object",
                      "properties" : {
                        "value" : {
                          "type" : "string"
                        },
                        "weak" : {
                          "type" : "boolean"
                        }
                      }
                    },
                    "mediaType" : {
                      "type" : "object",
                      "properties" : {
                        "type" : {
                          "type" : "string"
                        },
                        "subtype" : {
                          "type" : "string"
                        },
                        "parameters" : {
                          "type" : "object",
                          "additionalProperties" : {
                            "type" : "string"
                          }
                        },
                        "wildcardType" : {
                          "type" : "boolean"
                        },
                        "wildcardSubtype" : {
                          "type" : "boolean"
                        }
                      }
                    },
                    "allowedMethods" : {
                      "uniqueItems" : true,
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    },
                    "stringHeaders" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "array",
                        "items" : {
                          "type" : "string"
                        }
                      }
                    },
                    "lastModified" : {
                      "type" : "string",
                      "format" : "date-time"
                    },
                    "date" : {
                      "type" : "string",
                      "format" : "date-time"
                    },
                    "headers" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object"
                        }
                      }
                    },
                    "length" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "location" : {
                      "type" : "string",
                      "format" : "uri"
                    },
                    "language" : {
                      "type" : "object",
                      "properties" : {
                        "script" : {
                          "type" : "string"
                        },
                        "country" : {
                          "type" : "string"
                        },
                        "variant" : {
                          "type" : "string"
                        },
                        "extensionKeys" : {
                          "uniqueItems" : true,
                          "type" : "array",
                          "items" : {
                            "type" : "string"
                          }
                        },
                        "unicodeLocaleAttributes" : {
                          "uniqueItems" : true,
                          "type" : "array",
                          "items" : {
                            "type" : "string"
                          }
                        },
                        "unicodeLocaleKeys" : {
                          "uniqueItems" : true,
                          "type" : "array",
                          "items" : {
                            "type" : "string"
                          }
                        },
                        "iso3Language" : {
                          "type" : "string"
                        },
                        "iso3Country" : {
                          "type" : "string"
                        },
                        "displayLanguage" : {
                          "type" : "string"
                        },
                        "displayScript" : {
                          "type" : "string"
                        },
                        "displayCountry" : {
                          "type" : "string"
                        },
                        "displayVariant" : {
                          "type" : "string"
                        },
                        "displayName" : {
                          "type" : "string"
                        },
                        "language" : {
                          "type" : "string"
                        }
                      }
                    },
                    "metadata" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object"
                        }
                      }
                    },
                    "status" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "entity" : {
                      "type" : "object"
                    },
                    "cookies" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "object",
                        "properties" : {
                          "name" : {
                            "type" : "string"
                          },
                          "value" : {
                            "type" : "string"
                          },
                          "version" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "path" : {
                            "type" : "string"
                          },
                          "domain" : {
                            "type" : "string"
                          },
                          "comment" : {
                            "type" : "string"
                          },
                          "maxAge" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "expiry" : {
                            "type" : "string",
                            "format" : "date-time"
                          },
                          "secure" : {
                            "type" : "boolean"
                          },
                          "httpOnly" : {
                            "type" : "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/import/validerFil/{klyngeUid}/{kommunenr}" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonImportNaerkontakter" ],
        "description" : "Importer excel-ark med nærkontakter",
        "operationId" : "validerFilMedKontakter",
        "parameters" : [ {
          "name" : "klyngeUid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z][A-Za-z0-9]{10}$",
            "type" : "string"
          }
        }, {
          "name" : "kommunenr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Dhis2UploadResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Feil med input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/klinikermelding" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonKlinikermelding" ],
        "description" : "Innsending av klinikermelding for person",
        "operationId" : "innsending",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KlinikermeldingRequest"
              }
            }
          }
        },
        "responses" : {
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Status på innsending",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KlinikermeldingStatus"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/person/sokperson" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonPersonSok" ],
        "description" : "Søker etter en bruker i Kontakt og reservasjonsregisteret og i Folkeregisteret",
        "operationId" : "hentPersonInfo",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PersonSok"
              }
            }
          }
        },
        "responses" : {
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Kontaktopplysninger på person",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Person"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/provesvar/tilgang" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonProvesvar" ],
        "description" : "Sjekker om kommunen har aktivert prøvesvar-tjenesten",
        "operationId" : "harTilgang",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          }
        },
        "responses" : {
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Aktiveringsstatus",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/provesvar" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonProvesvar" ],
        "description" : "Søker etter prøvesvar for en person",
        "operationId" : "sok",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SokParameter"
              }
            }
          }
        },
        "responses" : {
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Prøvesvar for person",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProvesvarResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/provesvar/sok" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonProvesvar" ],
        "description" : "Søker etter prøvesvar for en person",
        "operationId" : "sokPerson",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SokParameter"
              }
            }
          }
        },
        "responses" : {
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Prøvesvar for person",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProvesvarResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/registrer/personalia-barn/{kommunenr}" : {
      "get" : {
        "tags" : [ "Selvregistrering" ],
        "description" : "Hent data om personens barn",
        "operationId" : "barnPersonalia",
        "parameters" : [ {
          "name" : "kommunenr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonaliaResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/registrer/mulige-naerkontakt-indekser/{kommunenr}" : {
      "get" : {
        "tags" : [ "Selvregistrering" ],
        "description" : "Hent data om personen ifm nærkontaktregistrering",
        "operationId" : "naerkontaktIndeksPersonalia",
        "parameters" : [ {
          "name" : "kommunenr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonaliaResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/registrer/personalia/{kommunenr}" : {
      "get" : {
        "tags" : [ "Selvregistrering" ],
        "description" : "Hent data om innlogget person",
        "operationId" : "personalia",
        "parameters" : [ {
          "name" : "kommunenr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonaliaResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/registrer/indeks/{kommunenr}" : {
      "post" : {
        "tags" : [ "Selvregistrering" ],
        "description" : "Lagrer data om person",
        "operationId" : "registrerIndeks",
        "parameters" : [ {
          "name" : "kommunenr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettIndeksRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created"
          },
          "400" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/registrer/indeks-barn/{kommunenr}" : {
      "post" : {
        "tags" : [ "Selvregistrering" ],
        "description" : "Lagrer data om barn",
        "operationId" : "registrerIndeksBarn",
        "parameters" : [ {
          "name" : "kommunenr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegisterPositivBarnRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created"
          },
          "400" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/registrer/naerkontakt/{kommunenr}" : {
      "post" : {
        "tags" : [ "Selvregistrering" ],
        "description" : "Registrer nærkontakt",
        "operationId" : "registrerNaerkontakt",
        "parameters" : [ {
          "name" : "kommunenr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegistrerNaerkontaktRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created"
          },
          "400" : {
            "description" : "Mangelfull input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/registrer/valider/{kommunenr}" : {
      "get" : {
        "tags" : [ "Selvregistrering" ],
        "description" : "Hent info om innlogget person og valgt kommune",
        "operationId" : "validerKommuneOgPerson",
        "parameters" : [ {
          "name" : "kommunenr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ValideringResponseModel"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/vaksine/tilgang" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonVaksine" ],
        "description" : "Sjekker om kommunen har aktivert vaksine-tjenesten",
        "operationId" : "harTilgangTilVaksine",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          }
        },
        "responses" : {
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Aktiveringsstatus",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/vaksine/sok" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonVaksine" ],
        "description" : "Søker etter vaksinestatus for en person",
        "operationId" : "sok_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ImmunizationRequest"
              }
            }
          }
        },
        "responses" : {
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Vaksiner for person",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImmunizationResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Dhis2UploadResponse" : {
        "type" : "object",
        "properties" : {
          "importOk" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ImportertPerson"
            }
          },
          "importNotPossible" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ImportertPerson"
            }
          }
        }
      },
      "ImportStatus" : {
        "type" : "object",
        "properties" : {
          "operasjon" : {
            "type" : "string",
            "enum" : [ "NY_RELASJON", "NY_TEI", "NY_ENROLLMENT", "INFOMELDING", "NY_RELASJON_KOMMUNEINFO", "MANUELL", "FEIL", "SERVER_ERROR" ]
          },
          "valideringsfeil" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "profile_merge_conflict" : {
            "type" : "boolean"
          },
          "merge_conflicts" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ImportertPerson" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string"
          },
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "status" : {
            "$ref" : "#/components/schemas/ImportStatus"
          }
        }
      },
      "Naerkontakt" : {
        "type" : "object",
        "properties" : {
          "sisteKontakt" : {
            "type" : "string"
          },
          "fodselsnummer" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "adresse" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "skolenavn" : {
            "type" : "string"
          },
          "skoleklasse" : {
            "type" : "string"
          },
          "paarorende1" : {
            "$ref" : "#/components/schemas/Paarorende"
          },
          "paarorende2" : {
            "$ref" : "#/components/schemas/Paarorende"
          },
          "ugyldigeFelter" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "fodselsdato" : {
            "type" : "string"
          },
          "kjonn" : {
            "type" : "string",
            "enum" : [ "MANN", "KVINNE" ]
          },
          "sisteKontaktDato" : {
            "type" : "string"
          },
          "empty" : {
            "type" : "boolean"
          }
        }
      },
      "Paarorende" : {
        "type" : "object",
        "properties" : {
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "adresse" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          },
          "index" : {
            "type" : "integer",
            "format" : "int32"
          },
          "ugyldigeFelter" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "empty" : {
            "type" : "boolean"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "Feilkode" : {
        "type" : "object",
        "properties" : {
          "kode" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      },
      "KlinikermeldingStatus" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string"
          },
          "feilKoder" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Feilkode"
            }
          }
        }
      },
      "AntattSmittemate" : {
        "type" : "object",
        "properties" : {
          "smittemate" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "smittesituasjon" : {
            "type" : "string"
          }
        }
      },
      "Diagnoseforhold" : {
        "type" : "object",
        "properties" : {
          "diagnose" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "smittestoff" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "erBaerer" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "erInnlagtPaaSykehus" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "sykehus" : {
            "$ref" : "#/components/schemas/Institusjon"
          },
          "erInnlagtPaaSykehjem" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "sykehjemNavn" : {
            "type" : "string"
          },
          "innsykningsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "provedato" : {
            "type" : "string",
            "format" : "date"
          },
          "indikasjon" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "annenIndikasjon" : {
            "type" : "string"
          },
          "sykdomsbilde" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "annenKlinikk" : {
            "type" : "string"
          },
          "utfallAvSykdommen" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "folgetilstander" : {
            "type" : "string"
          },
          "dodsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "antattSmittetDato" : {
            "type" : "string",
            "format" : "date"
          },
          "oppfyllerKriterieneForKliniskSepsis" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "innlagtPaaSykehusDato" : {
            "type" : "string",
            "format" : "date"
          },
          "underliggendeSykdom" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Kode"
            }
          }
        }
      },
      "ElektroniskKlinikerMeldingV7" : {
        "type" : "object",
        "properties" : {
          "pasient" : {
            "$ref" : "#/components/schemas/Pasient"
          },
          "diagnoseforhold" : {
            "$ref" : "#/components/schemas/Diagnoseforhold"
          },
          "rekvirent" : {
            "$ref" : "#/components/schemas/Rekvirent"
          },
          "antattSmittemate" : {
            "$ref" : "#/components/schemas/AntattSmittemate"
          },
          "smitteforhold" : {
            "$ref" : "#/components/schemas/Smitteforhold"
          },
          "smittevernveiledning" : {
            "$ref" : "#/components/schemas/Smittevernveiledning"
          }
        }
      },
      "Hiv" : {
        "type" : "object",
        "properties" : {
          "erMeldtTidligere" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "cd4Tall" : {
            "type" : "string"
          },
          "tidOgStedSistePositiveProve" : {
            "type" : "string"
          },
          "datoSisteNegativeProve" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "Institusjon" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "KlinikermeldingRequest" : {
        "type" : "object",
        "properties" : {
          "melding" : {
            "$ref" : "#/components/schemas/ElektroniskKlinikerMeldingV7"
          },
          "kommunenr" : {
            "type" : "string"
          },
          "userid" : {
            "type" : "string"
          }
        }
      },
      "Kode" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "verdi" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "oid" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "Pasient" : {
        "type" : "object",
        "properties" : {
          "fodselsnummer" : {
            "type" : "string"
          },
          "fodselsdato" : {
            "type" : "string",
            "format" : "date"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "kjonn" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "bosted" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "fodeland" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "morsFodeland" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "farsFodeland" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "yrkesgruppe" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "arbeidsplass" : {
            "type" : "string"
          },
          "arbeidsplasskategori" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "arsakTilOppholdINorge" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "botidINorge" : {
            "$ref" : "#/components/schemas/Kode"
          }
        }
      },
      "Rekvirent" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "adresse" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "sykehus" : {
            "$ref" : "#/components/schemas/Sykehus"
          },
          "avdeling" : {
            "type" : "string"
          },
          "meldertype" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "arbeidssted" : {
            "type" : "string"
          },
          "hprNummer" : {
            "type" : "string"
          },
          "kommunenummer" : {
            "type" : "string"
          }
        }
      },
      "Smitteforhold" : {
        "type" : "object",
        "properties" : {
          "smittested" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "annetSmittested" : {
            "type" : "string"
          },
          "datoForHjemkomst" : {
            "type" : "string",
            "format" : "date"
          },
          "arsakTilUtenlandsopphold" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "erSmittetIYrket" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "erVaksinert" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "malariaProfylakse" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "harBekreftetNarkontakt" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "hiv" : {
            "$ref" : "#/components/schemas/Hiv"
          },
          "syfilisStadium" : {
            "type" : "string"
          },
          "eksponeringssted" : {
            "$ref" : "#/components/schemas/Kode"
          }
        }
      },
      "Smittevernveiledning" : {
        "type" : "object",
        "properties" : {
          "harFattVeiledning" : {
            "$ref" : "#/components/schemas/Kode"
          },
          "igangsatteTiltak" : {
            "type" : "string"
          }
        }
      },
      "Sykehus" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int32"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "Person" : {
        "type" : "object",
        "properties" : {
          "fornavn" : {
            "type" : "string"
          },
          "mellomnavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "fodselsdato" : {
            "type" : "string"
          },
          "kjonn" : {
            "type" : "string",
            "enum" : [ "M", "K" ]
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "adresse" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "statusKrr" : {
            "type" : "string",
            "enum" : [ "OK", "FAILED", "NOT_SUPPORTED", "NONE", "UNKNOWN" ]
          },
          "statusFolkeregister" : {
            "type" : "string",
            "enum" : [ "OK", "FAILED", "NOT_SUPPORTED", "NONE", "UNKNOWN" ]
          }
        }
      },
      "PersonSok" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          },
          "kommunenr" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        }
      },
      "Funn" : {
        "type" : "object",
        "properties" : {
          "kodeverdi" : {
            "type" : "string"
          },
          "kodebeskrivelse" : {
            "type" : "string"
          },
          "materiale" : {
            "type" : "string"
          },
          "resultat" : {
            "type" : "string"
          },
          "status" : {
            "type" : "string"
          },
          "kommentar" : {
            "type" : "string"
          }
        }
      },
      "Provesvar" : {
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string"
          },
          "mottattdao" : {
            "type" : "string",
            "format" : "date-time"
          },
          "mottattdatoBruktSomProvedato" : {
            "type" : "boolean"
          },
          "labHerId" : {
            "type" : "string"
          },
          "labNavn" : {
            "type" : "string"
          },
          "provenummer" : {
            "type" : "string"
          },
          "provedato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "meldingskommentar" : {
            "type" : "string"
          },
          "meldingsstatus" : {
            "type" : "string"
          },
          "fodselsnummer" : {
            "type" : "string"
          },
          "fodselsdato" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "kjonn" : {
            "type" : "string"
          },
          "bostedskommunenummer" : {
            "type" : "string"
          },
          "bostedskommunenavn" : {
            "type" : "string"
          },
          "funn" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Funn"
            }
          },
          "provesvarstatus" : {
            "type" : "string"
          }
        }
      },
      "ProvesvarResponse" : {
        "type" : "object",
        "properties" : {
          "antallProvesvar" : {
            "type" : "integer",
            "format" : "int32"
          },
          "maksAntallProvesvar" : {
            "type" : "integer",
            "format" : "int32"
          },
          "provesvarliste" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Provesvar"
            }
          }
        }
      },
      "SokParameter" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string"
          },
          "kommunenr" : {
            "type" : "string"
          }
        }
      },
      "PersonaliaResponse" : {
        "type" : "object",
        "properties" : {
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Telefonnummer"
          },
          "adresse" : {
            "type" : "string",
            "description" : "Adresse"
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Postnummer"
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed"
          },
          "epost" : {
            "type" : "string",
            "description" : "Epost"
          }
        }
      },
      "BarnPersonaliaResponseModel" : {
        "type" : "object",
        "properties" : {
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn"
          },
          "kanRegistreres" : {
            "type" : "boolean",
            "description" : "Kan registreres"
          }
        }
      },
      "MuligNaerkontaktIndeks" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn"
          },
          "kanRegistrere" : {
            "type" : "boolean",
            "description" : "Angir om personen har tilgang til å registrere nærkontakter"
          },
          "kommunenummer" : {
            "type" : "string",
            "description" : "Kommunenummer"
          },
          "kommunenavn" : {
            "type" : "string",
            "description" : "Navn på kommune"
          },
          "identifikator" : {
            "type" : "string",
            "description" : "Id på person"
          }
        },
        "description" : "Opplysninger om barn til innlogget bruker ifm nærkontaktregistrering"
      },
      "MuligNaerkontaktIndekser" : {
        "type" : "object",
        "properties" : {
          "selv" : {
            "$ref" : "#/components/schemas/MuligNaerkontaktIndeks"
          },
          "barn" : {
            "type" : "array",
            "description" : "Opplysninger om barn til innlogget bruker ifm nærkontaktregistrering",
            "items" : {
              "$ref" : "#/components/schemas/MuligNaerkontaktIndeks"
            }
          }
        }
      },
      "OpprettIndeksRequest" : {
        "required" : [ "adresse", "etternavn", "fornavn", "postnummer", "poststed", "telefonnummer", "testdato" ],
        "type" : "object",
        "properties" : {
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Telefonnummer"
          },
          "adresse" : {
            "type" : "string",
            "description" : "Adresse"
          },
          "postnummer" : {
            "type" : "string",
            "description" : "Postnummer"
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed"
          },
          "epost" : {
            "type" : "string",
            "description" : "Epost"
          },
          "navnArbeidssted" : {
            "type" : "string",
            "description" : "Navn arbeidssted"
          },
          "adresseArbeidssted" : {
            "type" : "string",
            "description" : "Adresse arbeidssted"
          },
          "postnummerArbeidssted" : {
            "type" : "string",
            "description" : "Postnummer arbeidssted"
          },
          "poststedArbeidssted" : {
            "type" : "string",
            "description" : "Poststed arbeidssted"
          },
          "testdato" : {
            "type" : "string",
            "description" : "Dato for når test ble utført. Format: yyyy-MM-dd"
          },
          "symptomstart" : {
            "type" : "string",
            "description" : "Dato for når man først oppdaget symptomene. Format: yyyy-MM-dd"
          },
          "eksponeringssted" : {
            "type" : "string",
            "description" : "Eksponeringstsed",
            "enum" : [ "HUSSTAND", "SAMLING_PRIVAT_HJEM", "PRIVAT_ARRANGEMENT_OFFENTLIG_STED", "BARNEHAGE", "SKOLE", "SYKEHJEM", "JOBB_ARBEIDSTID", "HELSEINSTITUSJON_PASIENT", "UNIVERSITET_HOYSKOLE_STUDENT", "SERVERINGSSTED_BAR_UTESTED_GJEST", "ARRANGEMENT_OFFENTLIG", "ORGANISERT_FRITIDSAKTIVITET", "REISE", "OFFENTLIG_TRANSPORT", "ANNET", "UKJENT", "SYKEHUS", "LEGEKONTOR" ]
          },
          "testtid" : {
            "type" : "string",
            "description" : "Tidspunkt for test",
            "enum" : [ "MORGEN", "FORMIDDAG", "ETTERMIDDAG", "KVELD", "NATT" ]
          },
          "risikogruppe" : {
            "type" : "boolean",
            "description" : "Tilhører risikogruppe"
          },
          "arbeidsplasskategori" : {
            "type" : "string",
            "description" : "Arbeidsplasskategori",
            "enum" : [ "BARNEHAGE", "GRUNNSKOLE_VIDEREGAAENDE", "HELSEINSTITUSJON_ANNET", "HJEMMESYKEPLEIE", "HOYSKOLE_UNIVERSITET", "IKKE_YRKESAKTIV", "KOLLEKTIVNAERING", "SERVERINGSSTED", "SYKEHJEM", "SYKEHUS", "ANNET" ]
          }
        }
      },
      "RegisterPositivBarnRequest" : {
        "required" : [ "etternavn", "fornavn", "telefonnummerForesatt", "testdato" ],
        "type" : "object",
        "properties" : {
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn"
          },
          "navnBarnehageSkole" : {
            "type" : "string",
            "description" : "Navn barnehage eller skole"
          },
          "klasseAvdeling" : {
            "type" : "string",
            "description" : "Klasse eller avdeling"
          },
          "telefonnummerForesatt" : {
            "type" : "string",
            "description" : "Telefonnummer foresatt"
          },
          "epostForesatt" : {
            "type" : "string",
            "description" : "Epost"
          },
          "testdato" : {
            "type" : "string",
            "description" : "Dato for når test ble utført. Format: yyyy-MM-dd"
          },
          "symptomstart" : {
            "type" : "string",
            "description" : "Dato for når man først oppdaget symptomene. Format: yyyy-MM-dd"
          },
          "eksponeringssted" : {
            "type" : "string",
            "description" : "Eksponeringstsed",
            "enum" : [ "HUSSTAND", "SAMLING_PRIVAT_HJEM", "PRIVAT_ARRANGEMENT_OFFENTLIG_STED", "BARNEHAGE", "SKOLE", "SYKEHJEM", "JOBB_ARBEIDSTID", "HELSEINSTITUSJON_PASIENT", "UNIVERSITET_HOYSKOLE_STUDENT", "SERVERINGSSTED_BAR_UTESTED_GJEST", "ARRANGEMENT_OFFENTLIG", "ORGANISERT_FRITIDSAKTIVITET", "REISE", "OFFENTLIG_TRANSPORT", "ANNET", "UKJENT", "SYKEHUS", "LEGEKONTOR" ]
          },
          "testtid" : {
            "type" : "string",
            "description" : "Tidspunkt for test",
            "enum" : [ "MORGEN", "FORMIDDAG", "ETTERMIDDAG", "KVELD", "NATT" ]
          },
          "risikogruppe" : {
            "type" : "boolean",
            "description" : "Tilhører risikogruppe"
          },
          "arbeidsplasskategori" : {
            "type" : "string",
            "description" : "Arbeidsplasskategori",
            "enum" : [ "BARNEHAGE", "GRUNNSKOLE_VIDEREGAAENDE", "HELSEINSTITUSJON_ANNET", "HJEMMESYKEPLEIE", "HOYSKOLE_UNIVERSITET", "IKKE_YRKESAKTIV", "KOLLEKTIVNAERING", "SERVERINGSSTED", "SYKEHJEM", "SYKEHUS", "ANNET" ]
          }
        }
      },
      "RegistrerNaerkontaktRequest" : {
        "required" : [ "indekser", "kontaktdato", "kontaktform" ],
        "type" : "object",
        "properties" : {
          "indekser" : {
            "type" : "array",
            "description" : "Id til indekser",
            "items" : {
              "type" : "string",
              "description" : "Id til indekser"
            }
          },
          "fornavn" : {
            "type" : "string",
            "description" : "Fornavn"
          },
          "etternavn" : {
            "type" : "string",
            "description" : "Etternavn"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Telefonnummer"
          },
          "fnr" : {
            "type" : "string",
            "description" : "Fødselsnummer"
          },
          "kontaktform" : {
            "type" : "string",
            "description" : "Type relasjon med smittede",
            "enum" : [ "SAMME_HUSSTAND", "ANNET", "BARNEHAGE_SKOLE", "HELSEINSTITUSJON", "HJEMMEBESOK", "SERVICENAERING", "SOSIAL", "UNVIERSITET_JOBB" ]
          },
          "kontaktdato" : {
            "type" : "string",
            "description" : "Dato for siste kontakt. Format: yyyy-MM-dd"
          },
          "foedselsdato" : {
            "type" : "string",
            "description" : "Fødselsdato. Format: yyyy-MM-dd"
          },
          "foresattFornavn" : {
            "type" : "string",
            "description" : "Fornavn til foresatt"
          },
          "foresattEtternavn" : {
            "type" : "string",
            "description" : "Etternavn til foresatt"
          },
          "foresattTelefonnummer" : {
            "type" : "string",
            "description" : "Telefonnummer til foresatt"
          },
          "fnrBlankEllerGyldig" : {
            "type" : "boolean"
          }
        }
      },
      "ValideringResponseModel" : {
        "type" : "object",
        "properties" : {
          "kommunenBrukerFiksSmittesporing" : {
            "type" : "boolean",
            "description" : "Angir om kommunen har aktivert selvregistrering"
          },
          "personenKanRegistreres" : {
            "type" : "boolean",
            "description" : "Angir om personen kan registreres som indeks"
          },
          "kanRegistrereBarn" : {
            "type" : "boolean",
            "description" : "Angir om personen kan registrere barn som indeks"
          },
          "kommunenummer" : {
            "type" : "string",
            "description" : "Kommunenummer"
          },
          "kanRegistrereNaerkontakt" : {
            "type" : "boolean",
            "description" : "Angir om personen kan registrere nærkontakter"
          },
          "kanRegistrereNaerkontaktBarn" : {
            "type" : "boolean",
            "description" : "Angir om personen kan registrere nærkontakter til barn"
          }
        }
      },
      "CodeObject" : {
        "type" : "object",
        "properties" : {
          "system" : {
            "type" : "string"
          },
          "code" : {
            "type" : "string"
          },
          "display" : {
            "type" : "string"
          }
        }
      },
      "Immunization" : {
        "type" : "object",
        "properties" : {
          "vaccinationDate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "vaccineCode" : {
            "$ref" : "#/components/schemas/CodeObject"
          },
          "atcCode" : {
            "type" : "string"
          },
          "lotNumber" : {
            "type" : "string"
          },
          "preparation" : {
            "$ref" : "#/components/schemas/CodeObject"
          },
          "identifier" : {
            "type" : "string",
            "format" : "uuid"
          },
          "recordedDate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "recorder" : {
            "$ref" : "#/components/schemas/RecorderCodeObject"
          },
          "performedByRecorder" : {
            "type" : "boolean"
          }
        }
      },
      "ImmunizationResponse" : {
        "type" : "object",
        "properties" : {
          "patientNin" : {
            "type" : "string"
          },
          "kanLevereUtData" : {
            "type" : "boolean"
          },
          "immunizations" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Immunization"
            }
          }
        }
      },
      "RecorderCodeObject" : {
        "type" : "object",
        "properties" : {
          "system" : {
            "type" : "string"
          },
          "code" : {
            "type" : "string"
          },
          "display" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "ImmunizationRequest" : {
        "type" : "object",
        "properties" : {
          "patientNin" : {
            "type" : "string"
          },
          "kommunenr" : {
            "type" : "string"
          }
        }
      }
    }
  }
}