{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: DHIS2 Konfigurasjon Service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Dhis2KonfigurasjonBrukere",
    "description" : "API for konfigurasjon av DHIS2"
  }, {
    "name" : "Dhis2KonfigurasjonInnreise",
    "description" : "API for henting av innreiser for DHIS2"
  }, {
    "name" : "Dhis2KonfigurasjonOrganisasjoner",
    "description" : "API for konfigurasjon av DHIS2"
  } ],
  "paths" : {
    "/dhis2-konfigurasjon/api/v1/brukere/sok" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonBrukere" ],
        "description" : "Søker etter en bruker i DHIS2",
        "operationId" : "brukerSok",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BrukerSok"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrukerSokResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/brukere/{fiksOrganisasjonId}/tilganger/{brukerId}/{brukergruppe}/{typeEndring}" : {
      "get" : {
        "tags" : [ "Dhis2KonfigurasjonBrukere" ],
        "description" : "Søker etter en bruker i DHIS2",
        "operationId" : "brukerSokTilganger",
        "parameters" : [ {
          "name" : "brukergruppe",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "INNREISEOPPFOLGING", "SMITTESPORING" ]
          }
        }, {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z][A-Za-z0-9]{10}$",
            "type" : "string"
          }
        }, {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "typeEndring",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "OPPRETT", "SLETT" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrukerTilgangResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/brukere/{fiksOrganisasjonId}/tilganger/{brukerId}/{brukergruppe}" : {
      "put" : {
        "tags" : [ "Dhis2KonfigurasjonBrukere" ],
        "description" : "Gir en bruker tilgang i DHIS2 for gitt Fiks-organisasjon",
        "operationId" : "opprettTilgang",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z][A-Za-z0-9]{10}$",
            "type" : "string"
          }
        }, {
          "name" : "brukergruppe",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "INNREISEOPPFOLGING", "SMITTESPORING" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrukerTilgangResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Dhis2KonfigurasjonBrukere" ],
        "description" : "Fjerner tilgang for en bruker i DHIS2 for gitt Fiks-organisasjon",
        "operationId" : "fjernTilgang",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "brukerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z][A-Za-z0-9]{10}$",
            "type" : "string"
          }
        }, {
          "name" : "brukergruppe",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "INNREISEOPPFOLGING", "SMITTESPORING" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrukerTilgangResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke bruker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/brukere/{id}" : {
      "put" : {
        "tags" : [ "Dhis2KonfigurasjonBrukere" ],
        "description" : "Oppdaterer en eksisterende bruker i DHIS2.",
        "operationId" : "oppdaterBruker",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterBrukerRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : { }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/brukere" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonBrukere" ],
        "description" : "Oppretter en bruker i DHIS2",
        "operationId" : "opprettBruker",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettBrukerRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpprettBrukerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/innreise/synkroniser/status" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonInnreise" ],
        "description" : "Henter status på innreise- og prøvesvar synkronisering for kommune\"",
        "operationId" : "hentStatusInnreiseOgProvesvarImport",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StartSyncRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProvesvarStatus"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/innreise/startImport" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonInnreise" ],
        "description" : "Starter innreise synkronisering Fiks Innreise",
        "operationId" : "innreiseSync",
        "responses" : {
          "204" : {
            "description" : "ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "links" : {
                      "uniqueItems" : true,
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "title" : {
                            "type" : "string"
                          },
                          "uri" : {
                            "type" : "string",
                            "format" : "uri"
                          },
                          "uriBuilder" : {
                            "type" : "object"
                          },
                          "rel" : {
                            "type" : "string"
                          },
                          "rels" : {
                            "type" : "array",
                            "items" : {
                              "type" : "string"
                            }
                          },
                          "type" : {
                            "type" : "string"
                          },
                          "params" : {
                            "type" : "object",
                            "additionalProperties" : {
                              "type" : "string"
                            }
                          }
                        }
                      }
                    },
                    "mediaType" : {
                      "type" : "object",
                      "properties" : {
                        "type" : {
                          "type" : "string"
                        },
                        "subtype" : {
                          "type" : "string"
                        },
                        "parameters" : {
                          "type" : "object",
                          "additionalProperties" : {
                            "type" : "string"
                          }
                        },
                        "wildcardType" : {
                          "type" : "boolean"
                        },
                        "wildcardSubtype" : {
                          "type" : "boolean"
                        }
                      }
                    },
                    "statusInfo" : {
                      "type" : "object",
                      "properties" : {
                        "family" : {
                          "type" : "string",
                          "enum" : [ "INFORMATIONAL", "SUCCESSFUL", "REDIRECTION", "CLIENT_ERROR", "SERVER_ERROR", "OTHER" ]
                        },
                        "reasonPhrase" : {
                          "type" : "string"
                        },
                        "statusCode" : {
                          "type" : "integer",
                          "format" : "int32"
                        }
                      }
                    },
                    "allowedMethods" : {
                      "uniqueItems" : true,
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    },
                    "cookies" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "object",
                        "properties" : {
                          "name" : {
                            "type" : "string"
                          },
                          "value" : {
                            "type" : "string"
                          },
                          "version" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "path" : {
                            "type" : "string"
                          },
                          "domain" : {
                            "type" : "string"
                          },
                          "comment" : {
                            "type" : "string"
                          },
                          "maxAge" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "expiry" : {
                            "type" : "string",
                            "format" : "date-time"
                          },
                          "secure" : {
                            "type" : "boolean"
                          },
                          "httpOnly" : {
                            "type" : "boolean"
                          }
                        }
                      }
                    },
                    "entityTag" : {
                      "type" : "object",
                      "properties" : {
                        "value" : {
                          "type" : "string"
                        },
                        "weak" : {
                          "type" : "boolean"
                        }
                      }
                    },
                    "stringHeaders" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "array",
                        "items" : {
                          "type" : "string"
                        }
                      }
                    },
                    "lastModified" : {
                      "type" : "string",
                      "format" : "date-time"
                    },
                    "date" : {
                      "type" : "string",
                      "format" : "date-time"
                    },
                    "headers" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object"
                        }
                      }
                    },
                    "length" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "location" : {
                      "type" : "string",
                      "format" : "uri"
                    },
                    "language" : {
                      "type" : "object",
                      "properties" : {
                        "script" : {
                          "type" : "string"
                        },
                        "country" : {
                          "type" : "string"
                        },
                        "variant" : {
                          "type" : "string"
                        },
                        "extensionKeys" : {
                          "uniqueItems" : true,
                          "type" : "array",
                          "items" : {
                            "type" : "string"
                          }
                        },
                        "unicodeLocaleAttributes" : {
                          "uniqueItems" : true,
                          "type" : "array",
                          "items" : {
                            "type" : "string"
                          }
                        },
                        "unicodeLocaleKeys" : {
                          "uniqueItems" : true,
                          "type" : "array",
                          "items" : {
                            "type" : "string"
                          }
                        },
                        "iso3Language" : {
                          "type" : "string"
                        },
                        "iso3Country" : {
                          "type" : "string"
                        },
                        "displayLanguage" : {
                          "type" : "string"
                        },
                        "displayScript" : {
                          "type" : "string"
                        },
                        "displayCountry" : {
                          "type" : "string"
                        },
                        "displayVariant" : {
                          "type" : "string"
                        },
                        "displayName" : {
                          "type" : "string"
                        },
                        "language" : {
                          "type" : "string"
                        }
                      }
                    },
                    "metadata" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object"
                        }
                      }
                    },
                    "status" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "entity" : {
                      "type" : "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/innreise/synkroniser/start" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonInnreise" ],
        "description" : "Starter prøvesvar synkronisering for kommune",
        "operationId" : "startProvesvarSynkronisering",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StartSyncRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProvesvarStatus"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/eksportfhi" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Aktiverer eksport av data til FHI",
        "operationId" : "aktiverEksportFHI",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Deaktiverer eksport av data til FHI",
        "operationId" : "deaktiverEksportFHI",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/folkeregister" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Aktiverer tilgang til å gjøre spørringer mot Folkeregisteret",
        "operationId" : "aktiverFolkeregisterOppslag",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Deaktiver tilgang til å gjøre spørringer mot Folkeregisteret",
        "operationId" : "deaktiverFolkeregisterOppslag",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke kommune eller rollen knyttet til fiksOrgId",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/innreiseoppfolging/konfigurer" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Aktiverer tilgang til å hente data fra Fiks Innreise",
        "operationId" : "aktiverInnreise",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/klinikermelding" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Aktiverer tilgang til å sende klinikermelding til FHI",
        "operationId" : "aktiverKlinikermeldingInnsending",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Deaktiverer tilgang til å sende klinikermelding til FHI",
        "operationId" : "deaktiverKlinikermeldingInnsending",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/provesvar" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Aktiverer tilgang til å hente prøvesvar fra FHI",
        "operationId" : "aktiverProvesvarOppslag",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Deaktiverer tilgang til å hente prøvesvar fra FHI",
        "operationId" : "deaktiverProvesvarOppslag",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/selvregistrering" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Aktiverer tilgang til å gjøre selvregistrering mot Fike Smittesporing",
        "operationId" : "aktiverSelvregistrering",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Aktiverer tilgang til å gjøre selvregistrering mot Fike Smittesporing",
        "operationId" : "deaktiverSelvregistrering",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/vaksine" : {
      "post" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Aktiverer tilgang til å hente vaksine fra FHI",
        "operationId" : "aktiverVaksineOppslag",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Deaktiverer tilgang til å hente vaksine fra FHI",
        "operationId" : "deaktiverVaksineOppslag",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Problem med fiksOrg i input",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Mangler tilgang til å utføre handlingen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke autentisert",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Mangler info om kommunen eller rollen",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner/epost" : {
      "get" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Henter kontakteposter for organisasjoner tilknyttet dhis2",
        "operationId" : "getKontaktEposter",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Eposter"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}" : {
      "get" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Henter informasjon for en organisasjon",
        "operationId" : "getOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Oppdaterer informasjon for en organisasjon",
        "operationId" : "oppdaterOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterOrganisasjonRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner" : {
      "get" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Henter informasjon for alle registrerte organisasjoner",
        "operationId" : "getOrganisasjoner",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjoner"
                }
              }
            }
          }
        }
      }
    },
    "/dhis2-konfigurasjon/api/v1/organisasjoner/{fiksOrganisasjonId}/tilganger/{brukergruppe}" : {
      "get" : {
        "tags" : [ "Dhis2KonfigurasjonOrganisasjoner" ],
        "description" : "Henter alle tilganger for gitt brukergruppe på gitt Fiks-organisasjon fra DHIS2",
        "operationId" : "getTilganger",
        "parameters" : [ {
          "name" : "fiksOrganisasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "brukergruppe",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "INNREISEOPPFOLGING", "SMITTESPORING" ]
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Tilganger"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Bruker" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          }
        }
      },
      "BrukerSokResponse" : {
        "type" : "object",
        "properties" : {
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Bruker"
            }
          }
        }
      },
      "BrukerSok" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          }
        }
      },
      "BrukerTilgangResponse" : {
        "type" : "object",
        "properties" : {
          "tilgangResponse" : {
            "type" : "string",
            "enum" : [ "OK", "WARNING", "ERROR" ]
          },
          "message" : {
            "type" : "string"
          },
          "tilgangsEndring" : {
            "type" : "string",
            "enum" : [ "LEGGE_TIL_BRUKERGRUPPE", "LEGGE_TIL_KOMMUNE", "LEGGE_TIL_KOMMUNE_OG_BRUKERGRUPPE", "FJERNE_BRUKERGRUPPE", "FJERNE_KOMMUNE", "FJERNE_KOMMUNE_OG_BRUKERGRUPPE", "INGEN_ENDRING", "HAR_ALLEREDE_TILGANGEN", "HAR_IKKE_TILGANGEN" ]
          },
          "ekstraTilgangForOrg" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EkstraTilgangForOrg"
            }
          }
        },
        "description" : "Inneholder informasjon om tilgangsendring, kan endringen gjennomføres eller ikke."
      },
      "EkstraTilgangForOrg" : {
        "type" : "object",
        "properties" : {
          "orgNavn" : {
            "type" : "string"
          },
          "brukergruppe" : {
            "type" : "string",
            "enum" : [ "INNREISEOPPFOLGING", "SMITTESPORING" ]
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "OppdaterBrukerRequest" : {
        "type" : "object",
        "properties" : {
          "fornavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string"
          },
          "etternavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string"
          },
          "epost" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9-_]+(\\.[A-Za-zæøåÆØÅ0-9-_]+)*@[A-Za-zæøåÆØÅ0-9-]+(\\.[A-Za-zæøåÆØÅ0-9-]+)*(\\.[A-Za-z]{2,})$",
            "type" : "string"
          },
          "telefonnummer" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string"
          }
        }
      },
      "OpprettBrukerResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          }
        }
      },
      "OpprettBrukerRequest" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          },
          "fornavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string"
          },
          "etternavn" : {
            "maxLength" : 160,
            "minLength" : 2,
            "type" : "string"
          },
          "epost" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9-_]+(\\.[A-Za-zæøåÆØÅ0-9-_]+)*@[A-Za-zæøåÆØÅ0-9-]+(\\.[A-Za-zæøåÆØÅ0-9-]+)*(\\.[A-Za-z]{2,})$",
            "type" : "string"
          },
          "telefonnummer" : {
            "pattern" : "^[+]?[0-9]+([- ][0-9]+)*$",
            "type" : "string"
          }
        }
      },
      "ProvesvarStatus" : {
        "type" : "object",
        "properties" : {
          "kommunenr" : {
            "type" : "string"
          },
          "provesvarAktivert" : {
            "type" : "boolean"
          },
          "harTilgangTilProvesvar" : {
            "type" : "boolean"
          },
          "innreiseSistOppdatert" : {
            "type" : "string"
          },
          "innreiseProvesvarSistOppdatert" : {
            "type" : "string"
          },
          "kanStarteNyProvesvarSynk" : {
            "type" : "boolean"
          },
          "provesvarStatus" : {
            "type" : "string",
            "enum" : [ "AVSLUTTET", "KJORER", "FEIL", "ALDRI_KJORT" ]
          },
          "innreiseStatus" : {
            "type" : "string",
            "enum" : [ "AVSLUTTET", "KJORER", "FEIL", "ALDRI_KJORT" ]
          }
        }
      },
      "StartSyncRequest" : {
        "type" : "object",
        "properties" : {
          "userid" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          },
          "kommunenr" : {
            "pattern" : "^\\d{4}$",
            "type" : "string"
          }
        }
      },
      "Eposter" : {
        "type" : "object",
        "properties" : {
          "alle" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "smittesporing" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "innreiseoppfolging" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "Organisasjon" : {
        "type" : "object",
        "properties" : {
          "fiksOrganisasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "epost" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "folkeregisterAktivert" : {
            "type" : "boolean"
          },
          "provesvarAktivert" : {
            "type" : "boolean"
          },
          "klinikermeldingAktivert" : {
            "type" : "boolean"
          },
          "innreiseAktivert" : {
            "type" : "boolean"
          },
          "ansvarligLegeHprNummer" : {
            "type" : "string"
          },
          "ansvarligLegeArbeidssted" : {
            "type" : "string"
          },
          "eksportFhi" : {
            "type" : "boolean"
          },
          "vaksineAktivert" : {
            "type" : "boolean"
          },
          "selvregistreringAktivert" : {
            "type" : "boolean"
          }
        }
      },
      "Organisasjoner" : {
        "type" : "object",
        "properties" : {
          "organisasjoner" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Organisasjon"
            }
          }
        }
      },
      "Tilgang" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "rolle" : {
            "type" : "string",
            "enum" : [ "LESE_SKRIVE", "LESE" ]
          }
        }
      },
      "Tilganger" : {
        "type" : "object",
        "properties" : {
          "tilganger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Tilgang"
            }
          }
        }
      },
      "OppdaterOrganisasjonRequest" : {
        "type" : "object",
        "properties" : {
          "epost" : {
            "maxItems" : 100,
            "minItems" : 0,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "ansvarligLegeHprNummer" : {
            "type" : "string"
          },
          "ansvarligLegeArbeidssted" : {
            "type" : "string"
          }
        }
      }
    }
  }
}