{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Dokumentlager",
    "description": "Dokumentlager",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Tilgang",
      "description": "API for bruk av konfigurasjon"
    }
  ],
  "paths": {
    "/dokumentlager/api/v1/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/administratorer": {
      "get": {
        "tags": [
          "Tilgang"
        ],
        "summary": "Henter administratorer for konto",
        "operationId": "hentAdministratorer",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Administratorer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdministratorerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dokumentlager/api/v1/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/administratorer/{personId}": {
      "post": {
        "tags": [
          "Tilgang"
        ],
        "summary": "Legg admin til konto",
        "operationId": "leggAdminTilKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Admin lagt til"
          }
        }
      },
      "delete": {
        "tags": [
          "Tilgang"
        ],
        "summary": "Fjern admin fra konto",
        "operationId": "fjernAdminFraKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Admin fjernet"
          }
        }
      }
    },
    "/dokumentlager/api/v1/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/brukere": {
      "get": {
        "tags": [
          "Tilgang"
        ],
        "summary": "Henter brukere for konto",
        "operationId": "hentBrukere",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Brukere",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dokumentlager/api/v1/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/brukere/{personId}": {
      "post": {
        "tags": [
          "Tilgang"
        ],
        "summary": "Legg bruker til konto",
        "operationId": "leggBrukerTilKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndreTilgangerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bruker lagt til"
          }
        }
      },
      "delete": {
        "tags": [
          "Tilgang"
        ],
        "summary": "Fjern bruker fra konto",
        "operationId": "fjernBrukerFraKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bruker fjernet"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      },
      "AdministratorerResponse": {
        "required": [
          "administratorer"
        ],
        "type": "object",
        "properties": {
          "administratorer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminResponse"
            }
          }
        },
        "description": "Administratorer"
      },
      "PersonerResponse": {
        "required": [
          "brukere"
        ],
        "type": "object",
        "properties": {
          "brukere": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonResponse"
            }
          }
        },
        "description": "Personer"
      },
      "EndreTilgangerRequest": {
        "required": [
          "tilganger"
        ],
        "type": "object",
        "properties": {
          "tilganger": {
            "$ref": "#/components/schemas/DokumentlagerTilganger"
          }
        },
        "description": "Endre tilganger til brukeren"
      },
      "AdminResponse": {
        "required": [
          "personId",
          "navn"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "personId": {
            "description": "Personens unike Id",
            "type": "string",
            "format": "uuid"
          }
        },
        "description": "Admin"
      },
      "PersonResponse": {
        "required": [
          "personId",
          "navn",
          "tilganger"
        ],
        "type": "object",
        "properties": {
          "personId": {
            "description": "Personens unike Id",
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "type": "string"
          },
          "tilganger": {
            "$ref": "#/components/schemas/DokumentlagerTilganger"
          }
        },
        "description": "Person"
      },
      "DokumentlagerTilganger": {
        "type": "object",
        "required": [
          "kanLasteOpp"
        ],
        "properties": {
          "kanLasteOpp": {
            "$ref": "#/components/schemas/kanLasteOpp"
          }
        }
      },
      "kanLasteOpp": {
        "description": "Gir brukere tilgang til å laste opp dokumenter",
        "type": "boolean"
      }
    }
  }
}