{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Fiks: Dokumentlager Upload",
    "description": "Upload-API for Dokumentlager",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.test.fiks.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Dokument",
      "description": "API for håndtering av dokumenter"
    },
    {
      "name": "Key",
      "description": "API for henting av nøkler"
    }
  ],
  "paths": {
    "/dokumentlager/api/v1/{fiksOrganisasjonId}/kontoer/{kontoId}/dokumenter": {
      "post": {
        "tags": [
          "Dokument"
        ],
        "summary": "Laster opp metadata og dokument",
        "operationId": "uploadMetadataAndDokument",
        "parameters": [
          {
            "name": "fiksOrganisasjonId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kryptert",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata",
                  "dokument"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/DokumentMetadataUpload"
                  },
                  "dokument": {
                    "type": "string",
                    "format": "binary",
                    "description": "Dokumentet som skal lastes opp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dokument lastet opp",
            "headers": {
              "Location": {
                "description": "Lenke til nedlasting av dokument",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DokumentMetadataUploadResult"
                }
              }
            }
          },
          "default": {
            "description": "Feil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dokumentlager/api/v1/{fiksOrganisasjonId}/kontoer/{kontoId}/dokumenter/{dokumentId}": {
      "patch": {
        "tags": [
          "Dokument"
        ],
        "summary": "Oppdaterer dokumentmetadata",
        "operationId": "updateDokumentMetadata",
        "parameters": [
          {
            "name": "fiksOrganisasjonId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dokumentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DokumentMetadataUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dokumentmetadata oppdatert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DokumentMetadataUpdateResult"
                }
              }
            }
          },
          "default": {
            "description": "Feil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Dokument"
        ],
        "summary": "Sletter dokument",
        "operationId": "deleteDokument",
        "parameters": [
          {
            "name": "fiksOrganisasjonId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dokumentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dokument slettet"
          },
          "default": {
            "description": "Feil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/dokumentlager/api/v1/public-key": {
      "get": {
        "tags": [
          "Key"
        ],
        "summary": "Laster ned public key for kryptering",
        "operationId": "getPublicKey",
        "responses": {
          "200": {
            "description": "Public key i PEM-format",
            "content": {
              "application/x-pem-file": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Feil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "DokumentMetadataUpload": {
        "type": "object",
        "required": [
          "dokumentnavn",
          "mimetype",
          "eksponertFor",
          "sikkerhetsniva"
        ],
        "properties": {
          "dokumentnavn": {
            "type": "string",
            "description": "Dokumentets navn"
          },
          "mimetype": {
            "type": "string",
            "description": "Dokumentets MIME-type"
          },
          "ttl": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Levetid i sekunder"
          },
          "tilgjengeligTil": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Tidspunkt dokumentet blir utilgjengelig"
          },
          "eksponertFor": {
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "maxItems": 100,
            "description": "Mottakere dokumentet eksponeres for",
            "items": {
              "$ref": "#/components/schemas/EksponertFor"
            }
          },
          "sikkerhetsniva": {
            "type": "integer",
            "minimum": 3,
            "maximum": 4,
            "description": "Sikkerhetsniva for dokumentet"
          },
          "korrelasjonsid": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Ekstern referanse-id"
          },
          "ikkeLagreDokumentLastetNed": {
            "type": "boolean",
            "nullable": true,
            "description": "Hvis true lagres ikke nedlastingshendelser"
          }
        }
      },
      "EksponertFor": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "PERSON",
              "ORGANISASJON",
              "INTEGRASJON",
              "AUTORISASJON",
              "MATRIKKELENHET"
            ]
          }
        },
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "PERSON": "#/components/schemas/EksponertForPerson",
            "ORGANISASJON": "#/components/schemas/EksponertForOrganisasjon",
            "INTEGRASJON": "#/components/schemas/EksponertForIntegrasjon",
            "AUTORISASJON": "#/components/schemas/EksponertForAutorisasjon",
            "MATRIKKELENHET": "#/components/schemas/EksponertForMatrikkelenhet"
          }
        }
      },
      "EksponertForPerson": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EksponertFor"
          },
          {
            "type": "object",
            "required": [
              "fnr"
            ],
            "properties": {
              "fnr": {
                "type": "string",
                "pattern": "^[0-9]{11}$",
                "description": "Fodselsnummer"
              }
            }
          }
        ]
      },
      "EksponertForOrganisasjon": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EksponertFor"
          },
          {
            "type": "object",
            "required": [
              "orgnr"
            ],
            "properties": {
              "orgnr": {
                "type": "string",
                "pattern": "^[0-9]{9}$",
                "description": "Organisasjonsnummer"
              },
              "ressursId": {
                "type": "string",
                "nullable": true,
                "description": "Valgfri ressurs-id"
              }
            }
          }
        ]
      },
      "EksponertForIntegrasjon": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EksponertFor"
          },
          {
            "type": "object",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Integrasjon-id"
              }
            }
          }
        ]
      },
      "EksponertForAutorisasjon": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EksponertFor"
          },
          {
            "type": "object",
            "required": [
              "privilegium",
              "ressurs"
            ],
            "properties": {
              "privilegium": {
                "type": "string",
                "pattern": "^[0-9A-Z_.]+$"
              },
              "ressurs": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ]
      },
      "EksponertForMatrikkelenhet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EksponertFor"
          },
          {
            "type": "object",
            "required": [
              "matrikkelenhet"
            ],
            "properties": {
              "matrikkelenhet": {
                "$ref": "#/components/schemas/Matrikkelenhet"
              }
            }
          }
        ]
      },
      "Matrikkelenhet": {
        "type": "object",
        "required": [
          "kommunenummer",
          "gardsnummer",
          "bruksnummer"
        ],
        "properties": {
          "kommunenummer": {
            "type": "string",
            "pattern": "^[0-9]{4}$"
          },
          "gardsnummer": {
            "type": "string",
            "pattern": "^[0-9]{1,6}$"
          },
          "bruksnummer": {
            "type": "string",
            "pattern": "^[0-9]{1,6}$"
          },
          "festenummer": {
            "type": "string",
            "nullable": true,
            "pattern": "^[0-9]{1,6}$"
          },
          "seksjonsnummer": {
            "type": "string",
            "nullable": true,
            "pattern": "^[0-9]{1,6}$"
          }
        }
      },
      "DokumentMetadataUploadResult": {
        "type": "object",
        "required": [
          "id",
          "dokumentnavn",
          "mimeType",
          "ukryptertStorrelse",
          "kryptertStorrelse"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "dokumentnavn": {
            "type": "string",
            "nullable": true
          },
          "mimeType": {
            "type": "string",
            "nullable": true
          },
          "ukryptertStorrelse": {
            "type": "integer",
            "format": "int64"
          },
          "kryptertStorrelse": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "DokumentMetadataUpdate": {
        "type": "object",
        "properties": {
          "ttl": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Ny levetid i sekunder"
          },
          "tilgjengeligTil": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Nytt utlopstidspunkt"
          }
        }
      },
      "DokumentMetadataUpdateResult": {
        "type": "object",
        "required": [
          "id",
          "tilgjengeligTil"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tilgjengeligTil": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorMessage": {
        "type": "object",
        "description": "Feilmelding fra Fiks-plattformen",
        "externalDocs": {
          "description": "Beskrivelse av feilmeldinger",
          "url": "https://ks-no.github.io/fiks-plattform/integrasjoner/#feilmeldinger"
        },
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Tidspunktet da feilen oppstod, angitt som antall millisekunder siden Unix-epoch.",
            "example": 1767222000000
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP-statuskode for feilen.",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "Standardtekst for HTTP-statuskoden.",
            "example": "Bad Request"
          },
          "errorId": {
            "type": "string",
            "format": "uuid",
            "description": "Unik identifikator for feilen. Kan oppgis ved henvendelser for å spore feilen.",
            "example": "15a92338-8d98-4b05-a8a6-a879913259fd"
          },
          "path": {
            "type": "string",
            "description": "Stien i forespørselen som førte til feilen.",
            "example": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112"
          },
          "originalPath": {
            "type": "string",
            "nullable": true,
            "description": "Opprinnelig forespurt sti før eventuell intern feilhåndtering. Feltet er vanligvis utelatt eller satt til null.",
            "example": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112"
          },
          "message": {
            "type": "string",
            "description": "Menneskeliglesbar melding som beskriver feilen.",
            "example": "Noe gikk galt"
          },
          "errorCode": {
            "type": "string",
            "pattern": "^[A-Z]{1,10}-[0-9]{4}$",
            "description": "Maskinlesbar kode som identifiserer feiltypen. Koden følger formatet <applikasjonsprefiks>-<feilkode>.",
            "example": "FIKS-0001"
          },
          "errorJson": {
            "type": "string",
            "deprecated": true,
            "description": "Felt med ekstra feilinformasjon som en JSON-kodet streng. Strukturen avhenger av errorCode. Nye tjenester skal bruke errorDetails i stedet.",
            "example": "{\"fiksOrgId\": \"1a5038d7-c1fe-4110-9310-fe3b096a0564\", \"externalReference\": \"a8793ee2-b7b2-40a5-9731-51e018244cf4\"}"
          },
          "errorDetails": {
            "type": "object",
            "additionalProperties": true,
            "description": "Maskinlesbar tilleggsinformasjon om feilen. Strukturen avhenger av errorCode.",
            "example": {
              "fiksOrgId": "1a5038d7-c1fe-4110-9310-fe3b096a0564",
              "externalReference": "a8793ee2-b7b2-40a5-9731-51e018244cf4"
            }
          }
        },
        "example": {
          "timestamp": 1767222000000,
          "status": 400,
          "error": "Bad Request",
          "errorId": "15a92338-8d98-4b05-a8a6-a879913259fd",
          "path": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112",
          "message": "Ugyldig forespørsel",
          "errorCode": "FIKS-0001",
          "errorDetails": {
            "fiksOrgId": "1a5038d7-c1fe-4110-9310-fe3b096a0564",
            "externalReference": "a8793ee2-b7b2-40a5-9731-51e018244cf4"
          }
        }
      }
    }
  }
}