{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Dokumentdeling",
    "description" : "Tjeneste for deling av dokumenter",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://forvaltning.fiks.ks.no",
    "description" : "KS Fiks Forvaltning host"
  }, {
    "url" : "https://forvaltning.test.fiks.ks.no",
    "description" : "KS Fiks Forvaltning API host"
  } ],
  "tags" : [ {
    "name" : "Dokumentdeling",
    "description" : "API for deling av dokumenter"
  } ],
  "paths" : {
    "/melding-dokumentdeling/api/v1/kontoer/{kontoId}/deldokument" : {
      "post" : {
        "tags" : [ "Dokumentdeling" ],
        "description" : "Del dokument",
        "operationId" : "delDokument",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Deler dokument"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/melding-dokumentdeling/api/v1/kontoer/{kontoId}/mottakere/{dokumentId}" : {
      "get" : {
        "tags" : [ "Dokumentdeling" ],
        "description" : "Henter eksponerte for dokument",
        "operationId" : "hentEksponertForDokument",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "dokumentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter eksponerte for dokument",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/EksponertForRespons"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/melding-dokumentdeling/api/v1/kontoer" : {
      "get" : {
        "tags" : [ "Dokumentdeling" ],
        "description" : "Hent kontoer bruker har tilgang på",
        "operationId" : "hentTilgjengeligeKontoer",
        "responses" : {
          "200" : {
            "description" : "Henter kontoer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BrukerKontoRespons"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/melding-dokumentdeling/api/v1/{fiksOrgId}/kontoer/{kontoId}/aktiverVarsling" : {
      "post" : {
        "tags" : [ "Dokumentdeling" ],
        "description" : "Aktiver varsling for konto",
        "operationId" : "aktiverSmsVarling",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AktiverSmsVarslingRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Aktiverer varsling"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/melding-dokumentdeling/api/v1/{fiksOrgId}/kontoer/{kontoId}/deaktiverVarsling" : {
      "post" : {
        "tags" : [ "Dokumentdeling" ],
        "description" : "Aktiver varsling for konto",
        "operationId" : "deaktiverSmsVarling",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Aktiverer varsling"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/melding-dokumentdeling/api/v1/{fiksOrgId}/kontoer/{kontoId}" : {
      "get" : {
        "tags" : [ "Dokumentdeling" ],
        "description" : "Hent konto",
        "operationId" : "getKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Henter konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoSummary"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Dokumentdeling" ],
        "description" : "Oppdater kontoens navn",
        "operationId" : "updateKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateKontoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Oppdaterer navn på konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoRespons"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Dokumentdeling" ],
        "description" : "Slett konto",
        "operationId" : "slettKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Sletter konto"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/melding-dokumentdeling/api/v1/{fiksOrgId}/kontoer" : {
      "get" : {
        "tags" : [ "Dokumentdeling" ],
        "description" : "Hent kontoer",
        "operationId" : "getKontoer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter kontoer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/KontoRespons"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Dokumentdeling" ],
        "description" : "Opprett konto for bruk av dokumentdeling",
        "operationId" : "opprettKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateKontoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoRespons"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "EksponertForRespons" : {
        "type" : "object",
        "properties" : {
          "fnrOrgnr" : {
            "type" : "string"
          }
        }
      },
      "BrukerKontoRespons" : {
        "required" : [ "fiksOrgId", "fiksOrgNavn", "kontoId", "navn", "varslingkonto" ],
        "type" : "object",
        "properties" : {
          "kontoId" : {
            "type" : "string",
            "description" : "Id på konto",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          },
          "fiksOrgNavn" : {
            "type" : "string",
            "description" : "Navn på fiksOrg"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Id på fiksOrg",
            "format" : "uuid"
          },
          "kommunenummer" : {
            "type" : "string",
            "description" : "Kommunenummer"
          },
          "varslingkonto" : {
            "$ref" : "#/components/schemas/SmsVarslingKonfig"
          }
        }
      },
      "SmsVarslingKonfig" : {
        "required" : [ "aktivert" ],
        "type" : "object",
        "properties" : {
          "aktivert" : {
            "type" : "boolean",
            "description" : "Har aktivert varsling på sms"
          },
          "avsendernavn" : {
            "type" : "string",
            "description" : "Avsender navn eller telefonnummer for sms varsling"
          },
          "konteringskode" : {
            "type" : "string",
            "description" : "Konteringskode"
          },
          "kontoId" : {
            "type" : "string",
            "description" : "kontoId",
            "format" : "uuid"
          }
        },
        "description" : "Konfig for varsling på sms"
      },
      "AktiverSmsVarslingRequest" : {
        "required" : [ "avsendernavn" ],
        "type" : "object",
        "properties" : {
          "avsendernavn" : {
            "maxLength" : 11,
            "minLength" : 2,
            "pattern" : "^[A-Za-zæøåÆØÅ0-9]+$",
            "type" : "string",
            "description" : "Avsender navn eller telefonnummer for sms varsling"
          },
          "konteringskode" : {
            "type" : "string",
            "description" : "Konteringskode"
          }
        },
        "description" : "Aktivering av varsling for konto"
      },
      "KontoStatistikk" : {
        "type" : "object",
        "properties" : {
          "kontoId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "antallMetadata" : {
            "type" : "integer",
            "format" : "int64"
          },
          "antallDokumenter" : {
            "type" : "integer",
            "format" : "int64"
          },
          "antallSlettet" : {
            "type" : "integer",
            "format" : "int64"
          },
          "totalStorrelse" : {
            "type" : "integer",
            "format" : "int64"
          },
          "ukryptertStorrelse" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "description" : "Statistikk for konto"
      },
      "KontoSummary" : {
        "required" : [ "kontoId", "navn", "smsVarslingKonfig", "statistikk" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          },
          "kontoId" : {
            "type" : "string",
            "description" : "Id på konto",
            "format" : "uuid"
          },
          "statistikk" : {
            "$ref" : "#/components/schemas/KontoStatistikk"
          },
          "smsVarslingKonfig" : {
            "$ref" : "#/components/schemas/SmsVarslingKonfig"
          }
        }
      },
      "KontoRespons" : {
        "required" : [ "kontoId", "navn" ],
        "type" : "object",
        "properties" : {
          "kontoId" : {
            "type" : "string",
            "description" : "Id på konto",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          }
        }
      },
      "CreateKontoRequest" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string",
            "description" : "Navn på konto"
          },
          "varsling" : {
            "$ref" : "#/components/schemas/AktiverSmsVarslingRequest"
          }
        }
      },
      "UpdateKontoRequest" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string",
            "description" : "Navn på konto"
          }
        }
      }
    }
  }
}