{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: eDialog",
    "description" : "Tjeneste for sending av meldinger til organisasjoner via SvarUt",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "Skjema",
    "description" : "API for sending av meldinger til organisasjoner via SvarUt"
  } ],
  "paths" : {
    "/edialog/api/v1/skjemaer/{skjemaId}" : {
      "get" : {
        "tags" : [ "Skjema" ],
        "summary" : "Henter et skjema",
        "operationId" : "hentSkjema",
        "parameters" : [ {
          "name" : "skjemaId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Detaljer for skjema",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkjemaV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Skjema" ],
        "summary" : "Sletter et skjema",
        "operationId" : "slettSkjema",
        "parameters" : [ {
          "name" : "skjemaId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Slettet skjema",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkjemaV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Skjema" ],
        "summary" : "Oppdaterer metadata for et skjema",
        "operationId" : "oppdaterSkjema",
        "parameters" : [ {
          "name" : "skjemaId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterSkjemaV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdaterte metadata for skjema",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkjemaV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/skjemaer" : {
      "get" : {
        "tags" : [ "Skjema" ],
        "summary" : "Henter alle skjemaer for brukeren",
        "operationId" : "hentSkjemaer",
        "responses" : {
          "200" : {
            "description" : "Brukerens skjemaer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkjemaerV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Skjema" ],
        "summary" : "Oppretter et nytt skjema",
        "operationId" : "nyttSkjema",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NyttSkjemaV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Detaljer for nytt skjema",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkjemaV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/skjemaer/{skjemaId}/filer" : {
      "post" : {
        "tags" : [ "Skjema" ],
        "summary" : "Laster opp en fil for et skjema",
        "operationId" : "lastOppFil",
        "parameters" : [ {
          "name" : "skjemaId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Oppdatert skjema",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkjemaV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/skjemaer/{skjemaId}/send" : {
      "post" : {
        "tags" : [ "Skjema" ],
        "description" : "Sender inn et skjema",
        "operationId" : "sendInnSkjema",
        "parameters" : [ {
          "name" : "skjemaId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendInnSkjemaV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Innsendt skjema",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkjemaV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/skjemaer/{skjemaId}/filer/{filId}" : {
      "delete" : {
        "tags" : [ "Skjema" ],
        "summary" : "Sletter en opplastet fil for et skjema",
        "operationId" : "slettFil",
        "parameters" : [ {
          "name" : "skjemaId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "filId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Oppdatert skjema",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkjemaV1"
                }
              }
            }
          },
          "default" : {
            "description" : "Feilmelding",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AvsenderV1" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON" ]
          },
          "id" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          }
        }
      },
      "FilV1" : {
        "required" : [ "id", "navn", "storrelse", "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "storrelse" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "MottakerOrganisasjonAdresseV1" : {
        "type" : "object",
        "properties" : {
          "orgnr" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          }
        }
      },
      "MottakerV1" : {
        "required" : [ "id", "navn", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "MOTTAKER", "SVAR_PA_FORSENDELSE" ]
          },
          "id" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "kommunenummer" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/MottakerOrganisasjonAdresseV1"
          }
        }
      },
      "SkjemaV1" : {
        "required" : [ "id", "mottaker" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "sistEndret" : {
            "type" : "string",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "IKKE_INNSENDT", "UNDER_INNSENDING", "INNSENDING_FEILET", "INNSENDT" ]
          },
          "forsendelseId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "sensitivt" : {
            "type" : "boolean"
          },
          "tittel" : {
            "type" : "string"
          },
          "melding" : {
            "type" : "string"
          },
          "avsender" : {
            "$ref" : "#/components/schemas/AvsenderV1"
          },
          "mottaker" : {
            "$ref" : "#/components/schemas/MottakerV1"
          },
          "filer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FilV1"
            }
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "SkjemaerV1" : {
        "required" : [ "skjemaer" ],
        "type" : "object",
        "properties" : {
          "skjemaer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SkjemaV1"
            }
          }
        }
      },
      "NyttSkjemaMottakerV1" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "MOTTAKER_ID", "MOTTAKER_SHORT_ID", "MOTTAKER_ORGNR", "SVAR_PA_FORSENDELSE_ID" ]
          },
          "id" : {
            "type" : "string"
          }
        }
      },
      "NyttSkjemaV1" : {
        "type" : "object",
        "properties" : {
          "mottaker" : {
            "$ref" : "#/components/schemas/NyttSkjemaMottakerV1"
          },
          "slettEksisterende" : {
            "type" : "boolean"
          }
        }
      },
      "OppdaterAvsenderadresseV1" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "maxLength" : 1000,
            "minLength" : 0,
            "type" : "string"
          },
          "adresselinje1" : {
            "maxLength" : 1000,
            "minLength" : 0,
            "type" : "string"
          },
          "adresselinje2" : {
            "maxLength" : 1000,
            "minLength" : 0,
            "type" : "string"
          },
          "adresselinje3" : {
            "maxLength" : 1000,
            "minLength" : 0,
            "type" : "string"
          },
          "postnummer" : {
            "maxLength" : 1000,
            "minLength" : 0,
            "type" : "string"
          },
          "poststed" : {
            "maxLength" : 1000,
            "minLength" : 0,
            "type" : "string"
          },
          "land" : {
            "maxLength" : 1000,
            "minLength" : 0,
            "type" : "string"
          },
          "epost" : {
            "maxLength" : 1000,
            "minLength" : 0,
            "type" : "string"
          },
          "telefonnummer" : {
            "maxLength" : 1000,
            "minLength" : 0,
            "type" : "string"
          }
        }
      },
      "OppdaterAvsenderidV1" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON" ]
          },
          "id" : {
            "type" : "string"
          }
        }
      },
      "OppdaterSkjemaV1" : {
        "type" : "object",
        "properties" : {
          "sensitivt" : {
            "type" : "boolean"
          },
          "tittel" : {
            "maxLength" : 1000,
            "minLength" : 0,
            "type" : "string"
          },
          "melding" : {
            "maxLength" : 10000,
            "minLength" : 0,
            "type" : "string"
          },
          "avsenderid" : {
            "$ref" : "#/components/schemas/OppdaterAvsenderidV1"
          },
          "avsenderadresse" : {
            "$ref" : "#/components/schemas/OppdaterAvsenderadresseV1"
          }
        }
      },
      "SendInnSkjemaV1" : {
        "type" : "object",
        "properties" : {
          "spraak" : {
            "type" : "string",
            "enum" : [ "BOKMAL", "NYNORSK", "ENGELSK", "NORDSAMISK" ]
          }
        }
      }
    }
  }
}