{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: eDialog",
    "description" : "Tjeneste for sending av meldinger til organisasjoner via SvarUt",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Edialog",
    "description" : "API for for sending av meldinger til organisasjoner via SvarUt"
  } ],
  "paths" : {
    "/edialog/api/v1/skjemaer/{id}" : {
      "get" : {
        "tags" : [ "Edialog" ],
        "description" : "Henter et skjema",
        "operationId" : "getSkjema",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Detaljer for skjema",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkjemaV1"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Edialog" ],
        "description" : "Sletter et skjema",
        "operationId" : "slettSkjema",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Slettet skjema",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkjemaV1"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/skjemaer/{id}/filer" : {
      "post" : {
        "operationId" : "lastOppFil",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/edialog/api/v1/skjemaer" : {
      "post" : {
        "tags" : [ "Edialog" ],
        "description" : "Oppretter et nytt skjema",
        "operationId" : "nyttSkjema",
        "responses" : {
          "200" : {
            "description" : "Detaljer for nytt skjema",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NyttSkjemaV1"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/skjemaer/{id}/avsender" : {
      "put" : {
        "tags" : [ "Edialog" ],
        "description" : "Oppdaterer avsender for et skjema",
        "operationId" : "oppdaterAvsender",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AvsenderV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdatert skjema",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkjemaV1"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/skjemaer/{id}/metadata" : {
      "put" : {
        "tags" : [ "Edialog" ],
        "description" : "Oppdaterer metadata for et skjema",
        "operationId" : "oppdaterMetadata",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MetadataV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdaterte metadata for skjema",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkjemaV1"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/skjemaer/{id}/mottaker" : {
      "put" : {
        "tags" : [ "Edialog" ],
        "description" : "Oppdaterer mottaker for et skjema",
        "operationId" : "oppdaterMottaker",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MottakerV1"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdatert skjema",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkjemaV1"
                }
              }
            }
          }
        }
      }
    },
    "/edialog/api/v1/skjemaer/{id}/send" : {
      "post" : {
        "tags" : [ "Edialog" ],
        "description" : "Sender inn et skjema",
        "operationId" : "sendInnSkjema",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Innsendt skjema",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkjemaV1"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AvsenderV1" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON" ]
          },
          "id" : {
            "type" : "string"
          }
        }
      },
      "FilV1" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          }
        }
      },
      "MetadataV1" : {
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "melding" : {
            "type" : "string"
          },
          "sensitivt" : {
            "type" : "boolean"
          }
        }
      },
      "MottakerV1" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          }
        }
      },
      "SkjemaV1" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "sistEndret" : {
            "type" : "string",
            "format" : "date-time"
          },
          "innsendtDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/MetadataV1"
          },
          "avsender" : {
            "$ref" : "#/components/schemas/AvsenderV1"
          },
          "mottaker" : {
            "$ref" : "#/components/schemas/MottakerV1"
          },
          "filer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FilV1"
            }
          }
        }
      },
      "NyttSkjemaV1" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "sistEndret" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      }
    }
  }
}