{
  "openapi": "3.0.0",
  "info": {
    "title": "Fiks tilgangstjeneste",
    "description": "API for å sjekke tilgang til kommunale tjenester",
    "contact": {
      "name": "KS Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "tilgang",
      "description": "Sjekk tilgang til kommunale tjenester"
    },
    {
      "name": "tjeneste",
      "description": "Administrer tjenester"
    }
  ],
  "paths": {
    "/tilgang/api/v1/app/{appId}/tilganger": {
      "post": {
        "tags": [
          "tilgang"
        ],
        "description": "Sjekk om en gitt bruker har tilgang til en gitt tjeneste",
        "operationId": "sjekkTilgang",
        "summary": "Sjekk om en gitt bruker har tilgang til en gitt tjeneste",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "ID til tjenesten",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AppId"
            }
          }
        ],
        "requestBody": {
          "description": "Sjekk om en gitt bruker har tilgang til en gitt tjeneste",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SjekkTilgangRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SjekkTilgangResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/tilgang/api/v1/app/tilgang": {
      "post": {
        "tags": [
          "tilgang"
        ],
        "operationId": "HarEnEllerFlereTilganger",
        "description": "Sjekk om en gitt bruker har noen som helst tilgang",
        "summary": "Sjekk om en gitt bruker har noen som helst tilgang",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SjekkTilgangRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HarNoenSomHelstTilgangResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Fodselsnummer": {
        "type": "string",
        "description": "Fødselsnummer fra folkergisteret '12345678901'",
        "pattern": "^[0-9]{11}$"
      },
      "Appnavn": {
        "type": "string",
        "pattern": "^[a-zA-Z]+$",
        "description": "Navn på tjenesten",
        "example": "TjenesteEn"
      },
      "SjekkTilgangRequest": {
        "type": "object",
        "properties": {
          "brukerIdent": {
            "$ref": "#/components/schemas/Fodselsnummer"
          }
        },
        "required": [
          "brukerIdent"
        ]
      },
      "HarNoenSomHelstTilgangResponse": {
        "type": "object",
        "properties": {
          "harEnEllerFlereTilganger": {
            "type": "boolean",
            "description": "True hvis brukeren har tilgang til en eller flere tjenester"
          },
          "tjenester": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppId"
            }
          }
        },
        "required": [
          "harEnEllerFlereTilganger",
          "tjenester"
        ]
      },
      "SjekkTilgangResponse": {
        "type": "object",
        "properties": {
          "tilganger": {
            "type": "array",
            "description": "Liste over tilganger",
            "items": {
              "$ref": "#/components/schemas/Tilganger"
            }
          }
        },
        "required": [
          "tilganger"
        ]
      },
      "Tilganger": {
        "type": "object",
        "properties": {
          "kommune": {
            "$ref": "#/components/schemas/Kommunenummer"
          }
        },
        "required": [
          "kommune"
        ]
      },
      "Kommunetilgang": {
        "type": "object",
        "properties": {
          "kommunenummer": {
            "$ref": "#/components/schemas/Kommunenummer"
          },
          "tjenester": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppId"
            }
          }
        },
        "required": [
          "kommunenummer",
          "tjenester"
        ]
      },
      "Kommunenummer": {
        "type": "string",
        "description": "Kommunenummer",
        "pattern": "^[0-9]{4}$"
      },
      "Feil": {
        "$ref": "#/components/schemas/ErrorMessage"
      },
      "AppId": {
        "type": "string",
        "format": "uuid",
        "description": "ID til app",
        "example": "f7480539-92b2-460d-8e7f-2bc8a37c6746"
      },
      "ErrorMessage": {
        "type": "object",
        "description": "Feilmelding fra Fiks-plattformen",
        "externalDocs": {
          "description": "Beskrivelse av feilmeldinger",
          "url": "https://ks-no.github.io/fiks-plattform/integrasjoner/#feilmeldinger"
        },
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        },
        "example": {
          "message": "Mangler tilgang",
          "errorId": "ee2ed64d-de8b-45f9-b9c6-3363d662d93b",
          "status": 403
        }
      }
    }
  }
}