{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Protokoll",
    "description" : "Fiks Protokoll service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks API test host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Protokoll-konfigurasjon",
    "description" : "API for konfigurering av Fiks Protokoll"
  } ],
  "paths" : {
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/kontoer" : {
      "post" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Opprett konto på system",
        "operationId" : "createKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateProtokollKontoRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/forespurteTilganger/{eksternKonto}" : {
      "post" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Forespør tilgang til ekstern konto for system",
        "operationId" : "createTilgangForesporselTilKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternKonto",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Forespør tilgang til konto"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Fjern forespørsel på tilgang til konto",
        "operationId" : "removeTilgangForesporselTilKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternKonto",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjern forespørsel på tilgang til konto"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/kontoer/{kontoId}/tilganger/{eksternSystemId}" : {
      "post" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Gi tilgang til system på konto",
        "operationId" : "createTilgangTilSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternSystemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Oppretter tilgang til system"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Fjern tilgang fra system på konto",
        "operationId" : "removeTilgangTilSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternSystemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjerner tilgang"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/kontoer/{kontoId}" : {
      "get" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Hent protokollkonto",
        "operationId" : "getKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Slett konto fra system",
        "operationId" : "deleteKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Sletter konto"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/organisasjoner" : {
      "get" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Henter organisasjoner som har systemer som kan gis tilgang til konto",
        "operationId" : "getFiksOrgsMedSystemer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter organisasjoner som har systemer som kan gis tilgang til konto, med unntak av gjeldende system. Til bruk for filtrering i søk.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FiksOrgResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/kontoer/{kontoId}/forespurteTilganger" : {
      "get" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Hent systemer som har forespurt tilgang",
        "operationId" : "getForespurteTilgangerPaaKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Systemer som har forespurt tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollSystemSummaryResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/protokoller/{protokollnavn}/{protokollversjon}" : {
      "get" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Henter protokolldefinisjon",
        "operationId" : "getProtokollDefinisjon",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter protokoll",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollDefinisjonResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/protokoller" : {
      "get" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Henter alle definerte protokoller",
        "operationId" : "getProtokollDefinisjoner",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter alle protokoller",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollDefinisjonSummaryResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}" : {
      "get" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Hent system på fiksOrg med systemId",
        "operationId" : "getSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter system",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/kontoer/{kontoId}/tilganger" : {
      "get" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Hent systemer med tilganger på konto",
        "operationId" : "getSystemerMedTilgangTilKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Systemer med tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollSystemSummaryResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/konto-sok" : {
      "post" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Søk etter kontoer som systemet kan forespør tilgang til",
        "operationId" : "kontoSok",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProtokollKontoSokRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Kontoer fra søkeresultat systemet kan forespørre tilgang til",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoSokResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/kontoer/{kontoId}/forespurteTilganger/{eksternSystemId}" : {
      "delete" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Fjern forespurt tilgang fra system på konto",
        "operationId" : "removeForespurtTilgangTilKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternSystemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjerner tilgang"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/kontoer/{kontoId}/system-sok" : {
      "post" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Søk etter systemer som kontoen kan gi tilgang til",
        "operationId" : "systemSok",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProtokollSystemSokRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Systemer fra søkeresultat som kontoen kan gi tilgang til.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemSokResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/kontoer/{kontoId}/info" : {
      "put" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Oppdater konto info",
        "operationId" : "updateKontoInfo",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateProtokollKontoInfoRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Oppdater konto info"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/kontoer/{kontoId}/pem" : {
      "put" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Oppdater offentlig nøkkel på konto ",
        "operationId" : "updateKontoOffentligNokkel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateOffentligNokkelRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdater offentlig nøkkel på konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OffentligNokkelResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/info" : {
      "put" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Oppdater info på system",
        "operationId" : "updateSystemInfo",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateSystemInfoRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Oppdater system info (navn, beskrivelse og kontakteposter)"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "OffentligNokkelResponse" : {
        "required" : [ "nokkel", "valid" ],
        "type" : "object",
        "properties" : {
          "nokkel" : {
            "type" : "string"
          },
          "validFrom" : {
            "type" : "string",
            "format" : "date-time"
          },
          "validTo" : {
            "type" : "string",
            "format" : "date-time"
          },
          "serial" : {
            "type" : "string"
          },
          "subjectDN" : {
            "type" : "string"
          },
          "issuerDN" : {
            "type" : "string"
          },
          "valid" : {
            "type" : "boolean"
          },
          "statusMessage" : {
            "type" : "string"
          }
        }
      },
      "PartResponse" : {
        "required" : [ "avsenderMeldingstyper", "beskrivelse", "mottakerMeldingstyper", "navn", "protokollnavn", "protokollversjon", "stottedeParter" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på part"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av part"
          },
          "protokollnavn" : {
            "type" : "string",
            "description" : "Protokollnavn"
          },
          "protokollversjon" : {
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "avsenderMeldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper part sender",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper part sender"
            }
          },
          "mottakerMeldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper part mottar",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper part mottar"
            }
          },
          "stottedeParter" : {
            "type" : "array",
            "description" : "Part dette part kan kommunisere med",
            "items" : {
              "type" : "string",
              "description" : "Part dette part kan kommunisere med"
            }
          }
        },
        "description" : "Part protokollkontoen implementerer"
      },
      "ProtokollKontoResponse" : {
        "required" : [ "beskrivelse", "id", "navn", "offentligNokkel", "part" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id på konto og tilhørende Fiks IO-konto",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av kontoen"
          },
          "part" : {
            "$ref" : "#/components/schemas/PartResponse"
          },
          "offentligNokkel" : {
            "$ref" : "#/components/schemas/OffentligNokkelResponse"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "CreateProtokollKontoRequest" : {
        "required" : [ "beskrivelse", "navn", "offentligNokkel", "part", "stottetProtokollNavn", "stottetProtokollVersjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av kontoen"
          },
          "stottetProtokollNavn" : {
            "type" : "string",
            "description" : "Protokoll kontoen støtter"
          },
          "stottetProtokollVersjon" : {
            "type" : "string",
            "description" : "Protokollversjon kontoen støttet"
          },
          "part" : {
            "type" : "string",
            "description" : "Part kontoen implementerer"
          },
          "offentligNokkel" : {
            "type" : "string",
            "description" : "Offentlig nøkkel"
          }
        }
      },
      "FiksOrgResponse" : {
        "required" : [ "id", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på fiksOrg"
          },
          "id" : {
            "type" : "string",
            "description" : "fiksOrgId",
            "format" : "uuid"
          },
          "kommunenummer" : {
            "type" : "string",
            "description" : "Kommunenummer dersom fiksOrg er kommune"
          }
        },
        "description" : "FiksOrg til eier av systemet"
      },
      "ProtokollSystemSummaryResponse" : {
        "required" : [ "beskrivelse", "id", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "System-id",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på system"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av system"
          }
        }
      },
      "ProtokollDefinisjonResponse" : {
        "required" : [ "beskrivelse", "meldingstyper", "navn", "parter", "protokollversjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på protokoll"
          },
          "protokollversjon" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av protokoll"
          },
          "meldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper protokollen støtter",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper protokollen støtter"
            }
          },
          "parter" : {
            "type" : "array",
            "description" : "Parter definert på protokollen",
            "items" : {
              "$ref" : "#/components/schemas/PartResponse"
            }
          }
        }
      },
      "ProtokollDefinisjonSummaryResponse" : {
        "required" : [ "beskrivelse", "navn", "protokollversjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på protokoll"
          },
          "protokollversjon" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av protokoll"
          }
        }
      },
      "EksternProtokollKontoResponse" : {
        "required" : [ "beskrivelse", "id", "navn", "part", "system" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id på konto og tilhørende Fiks IO-konto",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av kontoen"
          },
          "part" : {
            "$ref" : "#/components/schemas/PartResponse"
          },
          "system" : {
            "$ref" : "#/components/schemas/EksternProtokollSystemResponse"
          }
        },
        "description" : "Systemer som ble funnet av søk"
      },
      "EksternProtokollSystemResponse" : {
        "required" : [ "beskrivelse", "fiksOrg", "id", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "System-id",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på system"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av system"
          },
          "fiksOrg" : {
            "$ref" : "#/components/schemas/FiksOrgResponse"
          }
        },
        "description" : "Systemer som ble funnet av søk"
      },
      "PartSummaryResponse" : {
        "required" : [ "navn", "protokollnavn", "protokollversjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på part"
          },
          "protokollnavn" : {
            "type" : "string",
            "description" : "Protokollnavn"
          },
          "protokollversjon" : {
            "type" : "string",
            "description" : "Protokollversjon"
          }
        },
        "description" : "Part protokollkontoen implementerer"
      },
      "ProtokollKontoSummaryResponse" : {
        "required" : [ "beskrivelse", "id", "navn", "part" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id på konto og tilhørende Fiks IO-konto",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av kontoen"
          },
          "part" : {
            "$ref" : "#/components/schemas/PartSummaryResponse"
          }
        },
        "description" : "Kontoer"
      },
      "ProtokollSystemResponse" : {
        "required" : [ "beskrivelse", "eposter", "forespurteTilgangerTilKontoer", "id", "integrasjonId", "konfigureresAvIntegrasjon", "kontoer", "navn", "offentlig", "orgnummer", "tilgangTilKontoer" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "System-id",
            "format" : "uuid"
          },
          "integrasjonId" : {
            "type" : "string",
            "description" : "Integrasjon-id",
            "format" : "uuid"
          },
          "orgnummer" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string",
            "description" : "Orgnummer for organisasjon"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på system"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av system"
          },
          "eposter" : {
            "type" : "array",
            "description" : "Kontakteposter",
            "items" : {
              "type" : "string",
              "description" : "Kontakteposter"
            }
          },
          "kontoer" : {
            "type" : "array",
            "description" : "Kontoer",
            "items" : {
              "$ref" : "#/components/schemas/ProtokollKontoSummaryResponse"
            }
          },
          "tilgangTilKontoer" : {
            "type" : "array",
            "description" : "Kontoer systemet har tilgang på",
            "items" : {
              "$ref" : "#/components/schemas/EksternProtokollKontoResponse"
            }
          },
          "forespurteTilgangerTilKontoer" : {
            "type" : "array",
            "description" : "Kontoer systemet har har forespurt tilgang til",
            "items" : {
              "$ref" : "#/components/schemas/EksternProtokollKontoResponse"
            }
          },
          "offentlig" : {
            "type" : "boolean",
            "description" : "Begrenser synlighet utover egen organisasjon"
          },
          "konfigureresAvIntegrasjon" : {
            "type" : "boolean",
            "description" : "Konfigureres av integrasjon"
          }
        }
      },
      "ProtokollKontoSokResponse" : {
        "required" : [ "kontoer" ],
        "type" : "object",
        "properties" : {
          "kontoer" : {
            "type" : "array",
            "description" : "Systemer som ble funnet av søk",
            "items" : {
              "$ref" : "#/components/schemas/EksternProtokollKontoResponse"
            }
          }
        }
      },
      "ProtokollKontoSokFilterRequest" : {
        "type" : "object",
        "properties" : {
          "fiksOrgIder" : {
            "type" : "array",
            "description" : "Liste over fiksOrgIder som kontoen må være eid av",
            "items" : {
              "type" : "string",
              "description" : "Liste over fiksOrgIder som kontoen må være eid av",
              "format" : "uuid"
            }
          },
          "protokollFilter" : {
            "type" : "array",
            "description" : "Protokoller som kontoen må være del av",
            "items" : {
              "$ref" : "#/components/schemas/ProtokollSokFilterRequest"
            }
          }
        },
        "description" : "Filter for søk etter protokollkontoer"
      },
      "ProtokollKontoSokRequest" : {
        "type" : "object",
        "properties" : {
          "filter" : {
            "$ref" : "#/components/schemas/ProtokollKontoSokFilterRequest"
          },
          "term" : {
            "type" : "string",
            "description" : "Søketerm på kontonavn, kontobeskrivelse, systemnavn og/eller systembeskrivelse"
          }
        }
      },
      "ProtokollSokFilterRequest" : {
        "required" : [ "protokollNavn", "protokollVersjon" ],
        "type" : "object",
        "properties" : {
          "protokollNavn" : {
            "type" : "string",
            "description" : "Navn på protokoll"
          },
          "protokollVersjon" : {
            "type" : "string",
            "description" : "Versjon av protokoll"
          },
          "parter" : {
            "type" : "array",
            "description" : "Parter",
            "items" : {
              "type" : "string",
              "description" : "Parter"
            }
          }
        },
        "description" : "Protokoller som kontoen må være del av"
      },
      "ProtokollSystemSokResponse" : {
        "required" : [ "systemer" ],
        "type" : "object",
        "properties" : {
          "systemer" : {
            "type" : "array",
            "description" : "Systemer som ble funnet av søk",
            "items" : {
              "$ref" : "#/components/schemas/EksternProtokollSystemResponse"
            }
          }
        }
      },
      "ProtokollSystemSokFilterRequest" : {
        "type" : "object",
        "properties" : {
          "fiksOrgIder" : {
            "type" : "array",
            "description" : "Liste over fiksOrgIder som systemet må være eid av",
            "items" : {
              "type" : "string",
              "description" : "Liste over fiksOrgIder som systemet må være eid av",
              "format" : "uuid"
            }
          },
          "stotterKonto" : {
            "type" : "boolean",
            "description" : "Returnerer kun systemer som støtter kontoen som søker (default: true)"
          }
        },
        "description" : "Filter for søk etter protokollsystem"
      },
      "ProtokollSystemSokRequest" : {
        "type" : "object",
        "properties" : {
          "filter" : {
            "$ref" : "#/components/schemas/ProtokollSystemSokFilterRequest"
          },
          "term" : {
            "type" : "string",
            "description" : "Søketerm på kontonavn, kontobeskrivelse, systemnavn og/eller systembeskrivelse"
          }
        }
      },
      "UpdateProtokollKontoInfoRequest" : {
        "required" : [ "beskrivelse", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av kontoen"
          }
        }
      },
      "UpdateOffentligNokkelRequest" : {
        "required" : [ "offentligNokkel" ],
        "type" : "object",
        "properties" : {
          "offentligNokkel" : {
            "type" : "string",
            "description" : "Offentlig nøkkel"
          }
        }
      },
      "UpdateSystemInfoRequest" : {
        "required" : [ "beskrivelse", "eposter", "navn", "offentlig" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på system"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av system"
          },
          "eposter" : {
            "type" : "array",
            "description" : "Kontakteposter",
            "items" : {
              "type" : "string",
              "description" : "Kontakteposter"
            }
          },
          "offentlig" : {
            "type" : "boolean",
            "description" : "Begrenser synlighet utover egen organisasjon"
          }
        }
      }
    }
  }
}