{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Protokoll",
    "description" : "Fiks Protokoll service. Endepunkt kun tilgjengelig for personer via forvaltning.fiks.ks.no",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://forvaltning.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Protokoll-konfigurasjon-kun-person",
    "description" : "API for konfigurering av Fiks Protokoll"
  } ],
  "paths" : {
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer" : {
      "get" : {
        "tags" : [ "Protokoll-konfigurasjon-kun-person" ],
        "description" : "Hent systemer på fiksOrg",
        "operationId" : "getSystemerForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Systemer på fiksOrg",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollSystemSummaryResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Protokoll-konfigurasjon-kun-person" ],
        "description" : "Opprett system",
        "operationId" : "createSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateProtokollSystemRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter nytt system",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}" : {
      "delete" : {
        "tags" : [ "Protokoll-konfigurasjon-kun-person" ],
        "description" : "Slett system",
        "operationId" : "deleteSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Sletter system"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/integrasjon-privilegium" : {
      "put" : {
        "tags" : [ "Protokoll-konfigurasjon-kun-person" ],
        "description" : "Oppdaterer privilegiene til integrasjonen",
        "operationId" : "updateIntegrasjonsPrivilegium",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateIntegrasjonPrivilegiumRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdaterer privilegiene til integrasjonen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/orgnummer" : {
      "put" : {
        "tags" : [ "Protokoll-konfigurasjon-kun-person" ],
        "description" : "Oppdater orgnummer på integrasjon ",
        "operationId" : "updateSystemOrgnummer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateOrgnummerRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdater systemets integrasjons orgnummer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CreateProtokollSystemResponse" : {
        "required" : [ "integrasjonPassord", "system" ],
        "type" : "object",
        "properties" : {
          "system" : {
            "$ref" : "#/components/schemas/ProtokollSystemResponse"
          },
          "integrasjonPassord" : {
            "type" : "string",
            "description" : "Integrasjonspassord for systemet"
          }
        }
      },
      "EksternProtokollKontoResponse" : {
        "required" : [ "beskrivelse", "id", "navn", "part", "system" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id på konto og tilhørende Fiks IO-konto",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av kontoen"
          },
          "part" : {
            "$ref" : "#/components/schemas/PartResponse"
          },
          "system" : {
            "$ref" : "#/components/schemas/EksternProtokollSystemResponse"
          }
        },
        "description" : "Kontoer systemet har tilgang på"
      },
      "EksternProtokollSystemResponse" : {
        "required" : [ "beskrivelse", "fiksOrg", "id", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "System-id",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på system"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av system"
          },
          "fiksOrg" : {
            "$ref" : "#/components/schemas/FiksOrgResponse"
          }
        },
        "description" : "Eiersystem"
      },
      "FiksOrgResponse" : {
        "required" : [ "id", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på fiksOrg"
          },
          "id" : {
            "type" : "string",
            "description" : "fiksOrgId",
            "format" : "uuid"
          },
          "kommunenummer" : {
            "type" : "string",
            "description" : "Kommunenummer dersom fiksOrg er kommune"
          }
        },
        "description" : "FiksOrg til eier av systemet"
      },
      "PartResponse" : {
        "required" : [ "avsenderMeldingstyper", "beskrivelse", "mottakerMeldingstyper", "navn", "protokollnavn", "protokollversjon", "stottedeParter" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på part"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av part"
          },
          "protokollnavn" : {
            "type" : "string",
            "description" : "Protokollnavn"
          },
          "protokollversjon" : {
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "avsenderMeldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper part sender",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper part sender"
            }
          },
          "mottakerMeldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper part mottar",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper part mottar"
            }
          },
          "stottedeParter" : {
            "type" : "array",
            "description" : "Part dette part kan kommunisere med",
            "items" : {
              "type" : "string",
              "description" : "Part dette part kan kommunisere med"
            }
          }
        },
        "description" : "Part protokollkontoen implementerer"
      },
      "PartSummaryResponse" : {
        "required" : [ "navn", "protokollnavn", "protokollversjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på part"
          },
          "protokollnavn" : {
            "type" : "string",
            "description" : "Protokollnavn"
          },
          "protokollversjon" : {
            "type" : "string",
            "description" : "Protokollversjon"
          }
        },
        "description" : "Part protokollkontoen implementerer"
      },
      "ProtokollKontoSummaryResponse" : {
        "required" : [ "beskrivelse", "id", "navn", "part" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id på konto og tilhørende Fiks IO-konto",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av kontoen"
          },
          "part" : {
            "$ref" : "#/components/schemas/PartSummaryResponse"
          }
        },
        "description" : "Kontoer"
      },
      "ProtokollSystemResponse" : {
        "required" : [ "beskrivelse", "eposter", "id", "integrasjonId", "konfigureresAvIntegrasjon", "kontoer", "navn", "offentlig", "orgnummer", "tilgangTilKontoer" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "System-id",
            "format" : "uuid"
          },
          "integrasjonId" : {
            "type" : "string",
            "description" : "Integrasjon-id",
            "format" : "uuid"
          },
          "orgnummer" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string",
            "description" : "Orgnummer for organisasjon"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på system"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av system"
          },
          "eposter" : {
            "type" : "array",
            "description" : "Kontakteposter",
            "items" : {
              "type" : "string",
              "description" : "Kontakteposter"
            }
          },
          "kontoer" : {
            "type" : "array",
            "description" : "Kontoer",
            "items" : {
              "$ref" : "#/components/schemas/ProtokollKontoSummaryResponse"
            }
          },
          "tilgangTilKontoer" : {
            "type" : "array",
            "description" : "Kontoer systemet har tilgang på",
            "items" : {
              "$ref" : "#/components/schemas/EksternProtokollKontoResponse"
            }
          },
          "offentlig" : {
            "type" : "boolean",
            "description" : "Begrenser synlighet utover egen organisasjon"
          },
          "konfigureresAvIntegrasjon" : {
            "type" : "boolean",
            "description" : "Konfigureres av integrasjon"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "CreateProtokollSystemRequest" : {
        "required" : [ "beskrivelse", "eposter", "konfigureresAvIntegrasjon", "navn", "offentlig", "orgnummer" ],
        "type" : "object",
        "properties" : {
          "orgnummer" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string",
            "description" : "Orgnummer for oppretting av integrasjon"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på system"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av system"
          },
          "eposter" : {
            "type" : "array",
            "description" : "Kontakteposter",
            "items" : {
              "type" : "string",
              "description" : "Kontakteposter"
            }
          },
          "offentlig" : {
            "type" : "boolean",
            "description" : "Offentlig, styrer om systemet skal være synling for andre Fiks organisasjoner"
          },
          "konfigureresAvIntegrasjon" : {
            "type" : "boolean",
            "description" : "Konfigureres av integrasjon"
          }
        }
      },
      "ProtokollSystemSummaryResponse" : {
        "required" : [ "beskrivelse", "id", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "System-id",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på system"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av system"
          }
        }
      },
      "UpdateIntegrasjonPrivilegiumRequest" : {
        "required" : [ "konfigureresAvIntegrasjon" ],
        "type" : "object",
        "properties" : {
          "konfigureresAvIntegrasjon" : {
            "type" : "boolean",
            "description" : "Skal systemet konfigureres av integrasjonen?"
          }
        }
      },
      "UpdateOrgnummerRequest" : {
        "required" : [ "orgnummer" ],
        "type" : "object",
        "properties" : {
          "orgnummer" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string",
            "description" : "Organisasjonsnummer"
          }
        }
      }
    }
  }
}