{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Protokoll - Root",
    "description" : "Fiks Protokoll administrasjon",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://forvaltning.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Protokoll-root",
    "description" : "API for administrering av Fiks Protokoll"
  } ],
  "paths" : {
    "/fiks-protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}/{partnavn}/stottedeparter/{stottetPart}" : {
      "put" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Legg til ny støttet part",
        "operationId" : "addStottetPart",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "partnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "stottetPart",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Ny støttet part lagt til"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Fjern støttet part",
        "operationId" : "removeStottetPart",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "partnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "stottetPart",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Støttet part fjernet"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}/part" : {
      "post" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Opprett et nytt part",
        "operationId" : "createPart",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePartRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprett et nytt part"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/root/protokoller" : {
      "get" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Henter alle definerte protokoller",
        "operationId" : "getProtokoller",
        "responses" : {
          "200" : {
            "description" : "Henter alle protokoller",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollDefinisjonSummaryResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Opprett en ny protokoll",
        "operationId" : "createProtokoll",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProtokollDefinisjonRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny protokoll"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}/{partnavn}" : {
      "delete" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Slett part",
        "operationId" : "deletePart",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "partnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Part slettet"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}" : {
      "get" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Henter protokoll",
        "operationId" : "getProtokoll",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter protokoll",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollDefinisjonResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Slett protokoll",
        "operationId" : "deleteProtokoll",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Protokoll slettet"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}/meldingstyper/{meldingstype}" : {
      "put" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Oppdaterer meldingstype på protokoll",
        "operationId" : "leggTilMeldingstype",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "meldingstype",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Oppdaterer meldingstype på protokoll"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Slett meldingstype på protokoll",
        "operationId" : "slettMeldingstype",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "meldingstype",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Sletter meldingstype på protokoll"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "CreatePartRequest" : {
        "required" : [ "avsenderMeldingstyper", "beskrivelse", "mottakerMeldingstyper", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på part"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av part"
          },
          "avsenderMeldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper part sender",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper part sender"
            }
          },
          "mottakerMeldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper part mottar",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper part mottar"
            }
          }
        }
      },
      "ProtokollDefinisjonRequest" : {
        "required" : [ "beskrivelse", "meldingstyper", "navn", "protokollversjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på protokoll"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av protokoll"
          },
          "protokollversjon" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "meldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper protokollen støtter",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper protokollen støtter"
            }
          }
        }
      },
      "PartResponse" : {
        "required" : [ "avsenderMeldingstyper", "beskrivelse", "mottakerMeldingstyper", "navn", "protokollnavn", "protokollversjon", "stottedeParter" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på part"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av part"
          },
          "protokollnavn" : {
            "type" : "string",
            "description" : "Protokollnavn"
          },
          "protokollversjon" : {
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "avsenderMeldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper part sender",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper part sender"
            }
          },
          "mottakerMeldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper part mottar",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper part mottar"
            }
          },
          "stottedeParter" : {
            "type" : "array",
            "description" : "Part dette part kan kommunisere med",
            "items" : {
              "type" : "string",
              "description" : "Part dette part kan kommunisere med"
            }
          }
        },
        "description" : "Parter definert på protokollen"
      },
      "ProtokollDefinisjonResponse" : {
        "required" : [ "beskrivelse", "meldingstyper", "navn", "parter", "protokollversjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på protokoll"
          },
          "protokollversjon" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av protokoll"
          },
          "meldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper protokollen støtter",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper protokollen støtter"
            }
          },
          "parter" : {
            "type" : "array",
            "description" : "Parter definert på protokollen",
            "items" : {
              "$ref" : "#/components/schemas/PartResponse"
            }
          }
        }
      },
      "ProtokollDefinisjonSummaryResponse" : {
        "required" : [ "beskrivelse", "navn", "parter", "protokollversjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på protokoll"
          },
          "protokollversjon" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av protokoll"
          },
          "parter" : {
            "type" : "array",
            "description" : "Navn på parter definert på protokollen",
            "items" : {
              "type" : "string",
              "description" : "Navn på parter definert på protokollen"
            }
          }
        }
      }
    }
  }
}