{
  "openapi": "3.0.0",
  "info": {
    "title": "Fiks tilgangstjeneste",
    "description": "API for å sjekke tilgang til kommunale tjenester",
    "contact": {
      "name": "KS Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "tags": [
    {
      "name": "tilgang",
      "description": "Sjekk tilgang til kommunale tjenester"
    },
    {
      "name": "tjeneste",
      "description": "Administrer tjenester"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/tilgang/api/v1/tjenester": {
      "post": {
        "tags": [
          "tjeneste"
        ],
        "operationId": "opprettTjeneste",
        "description": "Opprett en ny tjeneste",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettTjenesteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpprettTjenesteResponse"
                }
              }
            },
            "links": {
              "self": {
                "description": "Lenke til tjenesten som ble opprettet",
                "operationId": "hentTjeneste",
                "parameters": {
                  "tjenesteId": "$response.body#/tjenesteId"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          }
        }
      }
    },
    "/tilgang/api/v1/tjenester/{tjenesteId}": {
      "get": {
        "tags": [
          "tjeneste"
        ],
        "description": "Hent gjeldende konfigurasjon for tjeneste",
        "operationId": "hentTjeneste",
        "parameters": [
          {
            "name": "tjenesteId",
            "in": "path",
            "description": "ID til tjenesten",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TjenesteDefinisjon"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          }
        }
      }
    },
    "/tilgang/api/v1/tjenester/{tjenesteId}/tilganger": {
      "post": {
        "tags": [
          "tilgang"
        ],
        "description": "Sjekk om en gitt bruker har tilgang til en gitt tjeneste",
        "operationId": "sjekkTilgang",
        "parameters": [
          {
            "name": "tjenesteId",
            "in": "path",
            "description": "ID til tjenesten",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TjenesteId"
            }
          }
        ],
        "requestBody": {
          "description": "Sjekk om en gitt bruker har tilgang til en gitt tjeneste",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SjekkTilgangRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SjekkTilgangResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          }
        }
      }
    },
    "/tilgang/api/v1/tjenester/tilgang": {
      "post": {
        "tags": [
          "tilgang"
        ],
        "operationId": "HarEnEllerFlereTilganger",
        "description": "Sjekk om en gitt bruker har noen som helst tilgang",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SjekkTilgangRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HarNoenSomHelstTilgangResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feil"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Fodselsnummer": {
        "type": "string",
        "description": "Fødselsnummer fra folkergisteret '12345678901'",
        "pattern": "^[0-9]{11}$"
      },
      "Tjenestenavn": {
        "type": "string",
        "pattern": "^[a-zA-Z]$",
        "description": "Navn på tjenesten",
        "example": "TjenesteEn"
      },
      "SjekkTilgangRequest": {
        "type": "object",
        "properties": {
          "brukerIdent": {
            "$ref": "#/components/schemas/Fodselsnummer"
          }
        },
        "required": [
          "brukerIdent"
        ]
      },
      "HarNoenSomHelstTilgangResponse": {
        "type": "object",
        "properties": {
          "harEnEllerFlereTilganger": {
            "type": "boolean",
            "description": "True hvis brukeren har tilgang til en eller flere tjenester"
          }
        },
        "required": [
          "harTilgang"
        ]
      },
      "SjekkTilgangResponse": {
        "type": "object",
        "properties": {
          "tilganger": {
            "type": "array",
            "description": "Liste over tilganger",
            "items": {
              "$ref": "#/components/schemas/Tilganger"
            }
          }
        },
        "required": [
          "tilganger"
        ]
      },
      "Tilganger": {
        "type": "object",
        "properties": {
          "kommune": {
            "$ref": "#/components/schemas/Kommunenummer"
          }
        },
        "required": [
          "kommune"
        ]
      },
      "Kommunetilgang": {
        "type": "object",
        "properties": {
          "kommunenummer": {
            "$ref": "#/components/schemas/Kommunenummer"
          },
          "tjenester": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "kommunenummer",
          "tjenester"
        ]
      },
      "Kommunenummer": {
        "type": "string",
        "description": "Kommunenummer",
        "pattern": "^[0-9]{4}$"
      },
      "Feil": {
        "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
      },
      "OpprettTjenesteRequest": {
        "type": "object",
        "properties": {
          "navn": {
            "$ref": "#/components/schemas/Tjenestenavn"
          },
          "beskrivelse": {
            "type": "string",
            "description": "Beskrivelse av tjenesten",
            "example": "Min tjeneste er en tjeneste som gjør noe"
          },
          "logo": {
            "$ref": "#/components/schemas/TjenesteLogo"
          }
        },
        "required": [
          "navn",
          "beskrivelse",
          "logo"
        ]
      },
      "TjenesteId": {
        "type": "string",
        "format": "uuid",
        "description": "ID til tjenesten",
        "example": "f7480539-92b2-460d-8e7f-2bc8a37c6746"
      },
      "OpprettTjenesteResponse": {
        "type": "object",
        "properties": {
          "tjenesteId": {
            "$ref": "#/components/schemas/TjenesteId"
          }
        }
      },
      "TjenesteDefinisjon": {
        "type": "object",
        "properties": {
          "navn": {
            "$ref": "#/components/schemas/Tjenestenavn"
          },
          "beskrivelse": {
            "type": "string",
            "description": "Beskrivelse av tjenesten",
            "example": "Min tjeneste er en tjeneste som gjør noe"
          },
          "logo": {
            "$ref": "#/components/schemas/TjenesteLogo"
          }
        },
        "required": [
          "navn",
          "beskrivelse",
          "logo"
        ]
      },
      "TjenesteLogo": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "format": "base64",
            "description": "Base64 kodet logofil"
          },
          "type": {
            "type": "string",
            "description": "Content type for logo",
            "example": "image/png"
          }
        },
        "required": [
          "data",
          "type"
        ]
      }
    }
  }
}
