{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Protokoll - Root",
    "description" : "Fiks Protokoll administrasjon",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://forvaltning.fiks.ks.no",
    "description" : "KS Fiks API host"
  } ],
  "tags" : [ {
    "name" : "Protokoll-root",
    "description" : "API for administrering av Fiks Protokoll"
  } ],
  "paths" : {
    "/fiks-protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}/{partnavn}/stottedemeldingstyperformottak/{stottetMeldingstype}" : {
      "put" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Legg til ny støttet meldingstype for mottak",
        "operationId" : "addStottetMeldingstypeMotta",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "partnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "stottetMeldingstype",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Ny støttet meldingstype for mottak lagt til"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Fjern støttet meldingstype for mottak",
        "operationId" : "removeStottetMeldingstypeMotta",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "partnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "stottetMeldingstype",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Støttet meldingstype for mottak fjernet"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}/{partnavn}/stottedemeldingstyperforsending/{stottetMeldingstype}" : {
      "put" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Legg til ny støttet meldingstype for sending",
        "operationId" : "addStottetMeldingstypeSende",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "partnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "stottetMeldingstype",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Ny støttet meldingstype for sending lagt til"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Fjern støttet meldingstype for sending",
        "operationId" : "removeStottetMeldingstypeSende",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "partnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "stottetMeldingstype",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Støttet meldingstype for sending fjernet"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}/{partnavn}/stottedeparter/{stottetPart}" : {
      "put" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Legg til ny støttet part",
        "operationId" : "addStottetPart",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "partnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "stottetPart",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Ny støttet part lagt til"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Fjern støttet part",
        "operationId" : "removeStottetPart",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "partnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "stottetPart",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Støttet part fjernet"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}/part" : {
      "post" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Opprett et nytt part",
        "operationId" : "createPart",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePartRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprett et nytt part"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/root/protokoller" : {
      "get" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Henter alle definerte protokoller",
        "operationId" : "getProtokoller",
        "responses" : {
          "200" : {
            "description" : "Henter alle protokoller",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollDefinisjonSummaryResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Opprett en ny protokoll",
        "operationId" : "createProtokoll",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProtokollDefinisjonRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny protokoll"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}/{partnavn}" : {
      "delete" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Slett part",
        "operationId" : "deletePart",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "partnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Part slettet"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}" : {
      "get" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Henter protokoll",
        "operationId" : "getProtokoll",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter protokoll",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollDefinisjonResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Slett protokoll",
        "operationId" : "deleteProtokoll",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Protokoll slettet"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/root/protokoller/{protokollnavn}/{protokollversjon}/meldingstyper/{meldingstype}" : {
      "put" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Legg til meldingstype på protokoll",
        "operationId" : "leggTilMeldingstype",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "meldingstype",
          "in" : "path",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateMeldingstypeRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppdaterer meldingstype på protokoll"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Slett meldingstype på protokoll",
        "operationId" : "slettMeldingstype",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "meldingstype",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Sletter meldingstype på protokoll"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Oppdaterer meldingstype på protokoll",
        "operationId" : "endreMeldingstypePayloadKriterie",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "meldingstype",
          "in" : "path",
          "required" : true,
          "schema" : {
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateMeldingstypeRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/fiks-protokoll/api/v1/root/protokoller/protokollSystemInfo" : {
      "get" : {
        "tags" : [ "Protokoll-root" ],
        "description" : "Henter systemInfo for system/integrasjon/konto/kommune/fiksOrgId",
        "operationId" : "getProtokollSystemInfo",
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "SYSTEMID", "INTEGRASJONID", "FIKSORGID", "FIKSIOKONTOID", "KOMMUNENUMMER" ]
          }
        }, {
          "name" : "id",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter alle protokoller",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollSystemResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "CreatePartRequest" : {
        "required" : [ "avsenderMeldingstyper", "beskrivelse", "mottakerMeldingstyper", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på part"
          },
          "beskrivelse" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Beskrivelse av part"
          },
          "avsenderMeldingstyper" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "Meldingstyper part sender",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper part sender"
            }
          },
          "mottakerMeldingstyper" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "Meldingstyper part mottar",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper part mottar"
            }
          }
        }
      },
      "CreateProtokollMeldingstype" : {
        "required" : [ "meldingstypeNavn" ],
        "type" : "object",
        "properties" : {
          "meldingstypeNavn" : {
            "type" : "string",
            "description" : "Navnet på meldingstype"
          },
          "payloadKriterie" : {
            "type" : "string",
            "description" : "Preferanse for payload",
            "enum" : [ "NEVER", "REQUIRED", "OPTIONAL" ]
          }
        },
        "description" : "Meldingstyper protokollen støtter"
      },
      "ProtokollDefinisjonRequest" : {
        "required" : [ "beskrivelse", "meldingstyper", "navn", "protokollversjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på protokoll"
          },
          "beskrivelse" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Beskrivelse av protokoll"
          },
          "protokollversjon" : {
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "meldingstyper" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "Meldingstyper protokollen støtter",
            "items" : {
              "$ref" : "#/components/schemas/CreateProtokollMeldingstype"
            }
          }
        }
      },
      "UpdateMeldingstypeRequest" : {
        "required" : [ "payloadKriterie" ],
        "type" : "object",
        "properties" : {
          "payloadKriterie" : {
            "type" : "string",
            "description" : "Preferanse for payload",
            "enum" : [ "NEVER", "REQUIRED", "OPTIONAL" ]
          }
        }
      },
      "PartResponse" : {
        "required" : [ "avsenderMeldingstyper", "beskrivelse", "mottakerMeldingstyper", "navn", "protokollnavn", "protokollversjon", "stottedeParter" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på part"
          },
          "beskrivelse" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Beskrivelse av part"
          },
          "protokollnavn" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Protokollnavn"
          },
          "protokollversjon" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "avsenderMeldingstyper" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "Meldingstyper part sender",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper part sender"
            }
          },
          "mottakerMeldingstyper" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "Meldingstyper part mottar",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper part mottar"
            }
          },
          "stottedeParter" : {
            "type" : "array",
            "description" : "Part dette part kan kommunisere med",
            "items" : {
              "type" : "string",
              "description" : "Part dette part kan kommunisere med"
            }
          }
        },
        "description" : "Parter protokollkontoen implementerer"
      },
      "ProtokollDefinisjonResponse" : {
        "required" : [ "beskrivelse", "meldingstyper", "navn", "parter", "protokollversjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på protokoll"
          },
          "protokollversjon" : {
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "beskrivelse" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Beskrivelse av protokoll"
          },
          "meldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper protokollen støtter",
            "items" : {
              "$ref" : "#/components/schemas/CreateProtokollMeldingstype"
            }
          },
          "parter" : {
            "type" : "array",
            "description" : "Parter definert på protokollen",
            "items" : {
              "$ref" : "#/components/schemas/PartResponse"
            }
          }
        }
      },
      "EksternProtokollKontoResponse" : {
        "required" : [ "beskrivelse", "id", "navn", "parter", "stottetProtokollNavn", "system" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Id på konto og tilhørende Fiks IO-konto",
            "format" : "uuid"
          },
          "navn" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Navn på konto"
          },
          "stottetProtokollNavn" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Protokoll protokollkontoen implementerer"
          },
          "beskrivelse" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Beskrivelse av kontoen"
          },
          "parter" : {
            "type" : "array",
            "description" : "Parter protokollkontoen implementerer",
            "items" : {
              "$ref" : "#/components/schemas/PartResponse"
            }
          },
          "system" : {
            "$ref" : "#/components/schemas/EksternProtokollSystemResponse"
          }
        },
        "description" : "Kontoer systemet har har forespurt tilgang til"
      },
      "EksternProtokollSystemResponse" : {
        "required" : [ "beskrivelse", "fiksOrg", "id", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "System-id",
            "format" : "uuid"
          },
          "navn" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Navn på system"
          },
          "beskrivelse" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Beskrivelse av system"
          },
          "fiksOrg" : {
            "$ref" : "#/components/schemas/FiksOrgResponse"
          }
        },
        "description" : "Eiersystem"
      },
      "FiksOrgResponse" : {
        "required" : [ "id", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på fiksOrg"
          },
          "id" : {
            "type" : "string",
            "description" : "fiksOrgId",
            "format" : "uuid"
          },
          "kommunenummer" : {
            "type" : "string",
            "description" : "Kommunenummer dersom fiksOrg er kommune"
          }
        },
        "description" : "FiksOrg til eier av systemet"
      },
      "PartSummaryResponse" : {
        "required" : [ "navn", "protokollnavn", "protokollversjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på part"
          },
          "protokollnavn" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Protokollnavn"
          },
          "protokollversjon" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Protokollversjon"
          }
        },
        "description" : "Parter protokollkontoen implementerer"
      },
      "ProtokollKontoMetrikkResponse" : {
        "type" : "object",
        "properties" : {
          "meldingerPaKo" : {
            "type" : "integer",
            "description" : "Antall meldinger på kø",
            "format" : "int32"
          },
          "antallKonsumenter" : {
            "type" : "integer",
            "description" : "Antall konsumenter for protokollkonto",
            "format" : "int32"
          }
        },
        "description" : "Metrikk for konto"
      },
      "ProtokollKontoSummaryResponse" : {
        "required" : [ "beskrivelse", "id", "navn", "parter", "stottetProtokollNavn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Id på konto og tilhørende Fiks IO-konto",
            "format" : "uuid"
          },
          "navn" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Navn på konto"
          },
          "stottetProtokollNavn" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Protokoll protokollkontoen implementerer"
          },
          "beskrivelse" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Beskrivelse av kontoen"
          },
          "parter" : {
            "type" : "array",
            "description" : "Parter protokollkontoen implementerer",
            "items" : {
              "$ref" : "#/components/schemas/PartSummaryResponse"
            }
          },
          "metrikk" : {
            "$ref" : "#/components/schemas/ProtokollKontoMetrikkResponse"
          }
        },
        "description" : "Kontoer"
      },
      "ProtokollSystemResponse" : {
        "required" : [ "automatiskGodkjenning", "beskrivelse", "eposter", "forespurteTilgangerTilKontoer", "id", "integrasjonId", "konfigureresAvIntegrasjon", "kontoer", "navn", "offentlig", "orgnummer", "tilgangTilKontoer" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "System-id",
            "format" : "uuid"
          },
          "integrasjonId" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Integrasjon-id",
            "format" : "uuid"
          },
          "orgnummer" : {
            "minLength" : 1,
            "pattern" : "^[0-9]{9}$",
            "type" : "string",
            "description" : "Orgnummer for organisasjon"
          },
          "navn" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Navn på system"
          },
          "beskrivelse" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Beskrivelse av system"
          },
          "eposter" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "Kontakteposter",
            "items" : {
              "type" : "string",
              "description" : "Kontakteposter"
            }
          },
          "kontoer" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "Kontoer",
            "items" : {
              "$ref" : "#/components/schemas/ProtokollKontoSummaryResponse"
            }
          },
          "tilgangTilKontoer" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "Kontoer systemet har tilgang på",
            "items" : {
              "$ref" : "#/components/schemas/EksternProtokollKontoResponse"
            }
          },
          "forespurteTilgangerTilKontoer" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "Kontoer systemet har har forespurt tilgang til",
            "items" : {
              "$ref" : "#/components/schemas/EksternProtokollKontoResponse"
            }
          },
          "offentlig" : {
            "type" : "boolean",
            "description" : "Begrenser synlighet utover egen organisasjon"
          },
          "automatiskGodkjenning" : {
            "type" : "boolean",
            "description" : "Godkjenner automatisk forespørsler om tilgang"
          },
          "konfigureresAvIntegrasjon" : {
            "type" : "boolean",
            "description" : "Konfigureres av integrasjon"
          },
          "leverandorNavn" : {
            "type" : "string",
            "description" : "Systemleverandør"
          },
          "leverandorKontaktpunkt" : {
            "type" : "string",
            "description" : "Kontaktpunkt for systemleverendør"
          },
          "fiksOrg" : {
            "$ref" : "#/components/schemas/FiksOrgResponse"
          },
          "opprettet" : {
            "type" : "string",
            "description" : "Tidspunkt protokoll-system ble opprettet",
            "format" : "date-time"
          },
          "sistEndret" : {
            "type" : "string",
            "description" : "Tidspunkt protokoll-system sist ble endret",
            "format" : "date-time"
          }
        }
      },
      "ProtokollDefinisjonSummaryResponse" : {
        "required" : [ "beskrivelse", "navn", "parter", "protokollversjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på protokoll"
          },
          "protokollversjon" : {
            "minLength" : 1,
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "beskrivelse" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Beskrivelse av protokoll"
          },
          "parter" : {
            "type" : "array",
            "description" : "Navn på parter definert på protokollen",
            "items" : {
              "type" : "string",
              "description" : "Navn på parter definert på protokollen"
            }
          }
        }
      },
      "CreateMeldingstypeRequest" : {
        "type" : "object",
        "properties" : {
          "payloadKriterie" : {
            "type" : "string",
            "description" : "Preferanse for payload",
            "enum" : [ "NEVER", "REQUIRED", "OPTIONAL" ]
          }
        }
      }
    }
  }
}