{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Folkregister konfigurasjon service",
    "description" : "Folkregister konfigurasjon service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utv@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "folkeregister-konfigurasjon",
    "description" : "API for å håndtere funksjonalitet rundt konfigurasjon av Folkeregister"
  } ],
  "paths" : {
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}/roller" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter gitt rolle for gitt organisasjon",
        "operationId" : "hentRollerForOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Fant rolle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RolleDefinisjon"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Oppretter rolle for gitt organisasjon",
        "operationId" : "opprettRolle",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettRolleDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}/roller/{rolleId}/aktiver" : {
      "put" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Aktiverer gitt rolle for gitt organisasjon",
        "operationId" : "aktiverRolle",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}/roller/{rolleId}/deaktiver" : {
      "put" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Deaktiverer gitt rolle for gitt organisasjon",
        "operationId" : "deaktiverRolle",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/bruksomrader" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste over tilgjengelige tjenester",
        "operationId" : "hentTjenester",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BruksomradeListe"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/lovhjemler" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste over lovhjemler",
        "operationId" : "hentAlleLovhjemler",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LovhjemmelListe"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/lovhjemler/{omrade}" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter alle lovhjemler for gitt fagområde",
        "operationId" : "hentLovhjemlerForOmrade",
        "parameters" : [ {
          "name" : "omrade",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/tjenesteomrader" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste med alle omrader",
        "operationId" : "hentOmrader",
        "responses" : {
          "200" : {
            "description" : "Liste med tjenesteområder",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TjenesteomradeListe"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter gjeldende konfigurasjon for en organisasjon",
        "operationId" : "hentKonfigurasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FolkeregisterKonfigurasjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/{fiksOrgId}/roller/{rolleId}" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter gitt rolle for gitt organisasjon",
        "operationId" : "hentRolle",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Fant rolle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleDefinisjon"
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Oppdaterer gitt rolle for gitt organisasjon",
        "operationId" : "oppdaterRolle",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterRolleDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RolleEndring"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/konfigurasjon/deler" : {
      "get" : {
        "tags" : [ "folkeregister-konfigurasjon" ],
        "description" : "Henter liste over alle deler samt hvilke felt de inneholder som brukes til dataminimering",
        "operationId" : "hentDeler",
        "responses" : {
          "200" : {
            "description" : "Liste med deler",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DelListe"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Dataminimering" : {
        "type" : "object",
        "properties" : {
          "deler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DelNavn"
            }
          },
          "felt" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Felt"
            }
          }
        }
      },
      "DelNavn" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          }
        }
      },
      "Felt" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          }
        }
      },
      "RolleDefinisjon" : {
        "required" : [ "aktiv", "autorisasjonRolleId", "dataminimering", "fiksOrgId", "id", "navn", "tjenesteOmrade" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "autorisasjonRolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "tjenesteOmrade" : {
            "type" : "string",
            "enum" : [ "BARNEVERN", "HELSE", "GRAVFERDSMYNDIGHET", "OMSORG", "OPPVEKST", "SKATTEOPPKREVER", "SOSIAL", "TEKNISK" ]
          },
          "dataminimering" : {
            "$ref" : "#/components/schemas/Dataminimering"
          },
          "aktiv" : {
            "type" : "boolean"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "Bruksomrade" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "leverandor" : {
            "type" : "string",
            "enum" : [ "SKATT", "KS" ]
          }
        }
      },
      "BruksomradeListe" : {
        "required" : [ "bruksomrader" ],
        "type" : "object",
        "properties" : {
          "bruksomrader" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Bruksomrade"
            }
          }
        }
      },
      "Lovhjemmel" : {
        "type" : "object",
        "properties" : {
          "beskrivelse" : {
            "type" : "string"
          },
          "omrader" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "BARNEVERN", "HELSE", "GRAVFERDSMYNDIGHET", "OMSORG", "OPPVEKST", "SKATTEOPPKREVER", "SOSIAL", "TEKNISK" ]
            }
          }
        }
      },
      "LovhjemmelListe" : {
        "required" : [ "lovhjemler" ],
        "type" : "object",
        "properties" : {
          "lovhjemler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Lovhjemmel"
            }
          }
        }
      },
      "TjenesteomradeBeskrivelse" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      },
      "TjenesteomradeListe" : {
        "required" : [ "omrader" ],
        "type" : "object",
        "properties" : {
          "omrader" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/TjenesteomradeBeskrivelse"
            }
          }
        }
      },
      "FolkeregisterKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "OpprettRolleDefinisjon" : {
        "required" : [ "dataminimering", "navn", "tjenesteOmrade" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "tjenesteOmrade" : {
            "type" : "string",
            "enum" : [ "BARNEVERN", "HELSE", "GRAVFERDSMYNDIGHET", "OMSORG", "OPPVEKST", "SKATTEOPPKREVER", "SOSIAL", "TEKNISK" ]
          },
          "dataminimering" : {
            "$ref" : "#/components/schemas/Dataminimering"
          }
        }
      },
      "RolleEndring" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "endring" : {
            "type" : "string",
            "enum" : [ "OPPRETTET", "ENDRET", "AKTIVERT", "DEAKTIVERT" ]
          }
        }
      },
      "OppdaterRolleDefinisjon" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "dataminimering" : {
            "$ref" : "#/components/schemas/Dataminimering"
          }
        }
      },
      "Del" : {
        "required" : [ "beskrivelse", "felt", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "felt" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Felt"
            }
          }
        }
      },
      "DelListe" : {
        "required" : [ "deler" ],
        "type" : "object",
        "properties" : {
          "deler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Del"
            }
          }
        }
      }
    }
  }
}