{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks folkeregister oppvekst",
    "description" : "Folkeregister oppvekst",
    "contact" : {
      "name" : "Fiks brukerst??tte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "oppvekst",
    "description" : "API for ?? h??ndtere funksjonalitet rundt oppvekst fra folkeregisteret"
  } ],
  "paths" : {
    "/folkeregister/api/v1/oppvekst/{fiksOrgId}/{rolleId}" : {
      "get" : {
        "tags" : [ "oppvekst" ],
        "description" : "Henter oppvekstuttrekk for angitt f??dselsnumre",
        "operationId" : "getUttrekkOppvekst",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettOppvekstUttrekk"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Person"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Adressenummer" : {
        "type" : "object",
        "properties" : {
          "husnummer" : {
            "type" : "string"
          },
          "husbokstav" : {
            "type" : "string"
          }
        }
      },
      "Bostedsadresse" : {
        "type" : "object",
        "properties" : {
          "vegadresse" : {
            "$ref" : "#/components/schemas/Vegadresse"
          },
          "adressegradering" : {
            "type" : "string"
          },
          "matrikkeladresse" : {
            "$ref" : "#/components/schemas/Matrikkeladresse"
          },
          "ukjentBosted" : {
            "$ref" : "#/components/schemas/UkjentBosted"
          },
          "adresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "naerAdresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "flyttedato" : {
            "type" : "string"
          },
          "skolekrets" : {
            "type" : "integer",
            "format" : "int64"
          },
          "grunnkrets" : {
            "type" : "integer",
            "format" : "int64"
          },
          "kirkekrets" : {
            "type" : "integer",
            "format" : "int64"
          },
          "stemmekrets" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "DeltBosted" : {
        "type" : "object",
        "properties" : {
          "adresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "adressegradering" : {
            "type" : "string"
          },
          "matrikkeladresse" : {
            "$ref" : "#/components/schemas/Matrikkeladresse"
          },
          "naerAdresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "sluttdatoForKontrakt" : {
            "type" : "string"
          },
          "startdatoForKontrakt" : {
            "type" : "string"
          },
          "ukjentBosted" : {
            "$ref" : "#/components/schemas/UkjentBosted"
          },
          "vegadresse" : {
            "$ref" : "#/components/schemas/Vegadresse"
          }
        }
      },
      "Familierelasjon" : {
        "type" : "object",
        "properties" : {
          "familierelasjonPerson" : {
            "type" : "string"
          },
          "familierelasjonRolle" : {
            "type" : "string",
            "enum" : [ "MOR", "FAR", "MEDMOR" ]
          }
        }
      },
      "Foreldreansvarlig" : {
        "type" : "object",
        "properties" : {
          "ansvar" : {
            "type" : "string",
            "enum" : [ "FELLES", "MOR", "FAR", "MEDMOR", "ANDRE", "UKJENT" ]
          },
          "identifikasjonsnummer" : {
            "$ref" : "#/components/schemas/Identifikasjonsnummer"
          },
          "personstatus" : {
            "type" : "string",
            "enum" : [ "BOSATT", "UTFLYTTET", "FORSVUNNET", "DOED", "OPPHOERT", "FOEDSELSREGISTRERT", "MIDLERTIDIG", "INAKTIV", "IKKE_BOSATT", "AKTIV" ]
          },
          "navn" : {
            "$ref" : "#/components/schemas/Navn"
          },
          "statsborgerskap" : {
            "type" : "string"
          },
          "kjoenn" : {
            "type" : "string",
            "enum" : [ "MANN", "KVINNE" ]
          },
          "bostedsadresse" : {
            "$ref" : "#/components/schemas/Bostedsadresse"
          },
          "oppholdsadresse" : {
            "$ref" : "#/components/schemas/Oppholdsadresse"
          },
          "postadresse" : {
            "$ref" : "#/components/schemas/Postadresse"
          },
          "foedsel" : {
            "type" : "string"
          }
        }
      },
      "Identifikasjonsnummer" : {
        "type" : "object",
        "properties" : {
          "foedselsEllerDNummer" : {
            "type" : "string"
          },
          "identifikatortype" : {
            "type" : "string"
          }
        }
      },
      "Matrikkeladresse" : {
        "type" : "object",
        "properties" : {
          "adressetilleggsnavn" : {
            "type" : "string"
          },
          "bruksenhetsnummer" : {
            "type" : "string"
          },
          "bruksenhetstype" : {
            "type" : "string"
          },
          "coAdressenavn" : {
            "type" : "string"
          },
          "matrikkelnummer" : {
            "$ref" : "#/components/schemas/Matrikkelnummer"
          },
          "poststed" : {
            "$ref" : "#/components/schemas/Poststed"
          },
          "undernummer" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "Matrikkelnummer" : {
        "type" : "object",
        "properties" : {
          "bruksnummer" : {
            "type" : "integer",
            "format" : "int64"
          },
          "festenummer" : {
            "type" : "integer",
            "format" : "int64"
          },
          "gaardsnummer" : {
            "type" : "integer",
            "format" : "int64"
          },
          "kommunenummer" : {
            "type" : "string"
          }
        }
      },
      "Navn" : {
        "type" : "object",
        "properties" : {
          "fornavn" : {
            "type" : "string"
          },
          "mellomnavn" : {
            "type" : "string"
          },
          "etternavn" : {
            "type" : "string"
          }
        }
      },
      "Oppholdsadresse" : {
        "type" : "object",
        "properties" : {
          "vegadresse" : {
            "$ref" : "#/components/schemas/Vegadresse"
          },
          "adressegradering" : {
            "type" : "string"
          },
          "matrikkeladresse" : {
            "$ref" : "#/components/schemas/Matrikkeladresse"
          },
          "adresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          },
          "utenlandskAdresse" : {
            "$ref" : "#/components/schemas/UtenlandskAdresse"
          }
        }
      },
      "Person" : {
        "type" : "object",
        "properties" : {
          "identifikasjonsnummer" : {
            "$ref" : "#/components/schemas/Identifikasjonsnummer"
          },
          "tidligereIdentifikasjonsnummer" : {
            "$ref" : "#/components/schemas/Identifikasjonsnummer"
          },
          "dufNummer" : {
            "type" : "string"
          },
          "foedselsdato" : {
            "type" : "string"
          },
          "personstatus" : {
            "type" : "string",
            "enum" : [ "BOSATT", "UTFLYTTET", "FORSVUNNET", "DOED", "OPPHOERT", "FOEDSELSREGISTRERT", "MIDLERTIDIG", "INAKTIV", "IKKE_BOSATT", "AKTIV" ]
          },
          "foreldreansvarstype" : {
            "type" : "string",
            "enum" : [ "FELLES", "MOR", "FAR", "MEDMOR", "ANDRE", "UKJENT" ]
          },
          "kjoenn" : {
            "type" : "string",
            "enum" : [ "MANN", "KVINNE" ]
          },
          "navn" : {
            "$ref" : "#/components/schemas/Navn"
          },
          "statsborgerskap" : {
            "type" : "string"
          },
          "adressebeskyttelse" : {
            "type" : "string"
          },
          "bostedsadresse" : {
            "$ref" : "#/components/schemas/Bostedsadresse"
          },
          "oppholdsadresse" : {
            "$ref" : "#/components/schemas/Oppholdsadresse"
          },
          "deltBosted" : {
            "$ref" : "#/components/schemas/DeltBosted"
          },
          "postadresse" : {
            "$ref" : "#/components/schemas/Postadresse"
          },
          "foreldreansvarlige" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Foreldreansvarlig"
            }
          },
          "familierelasjoner" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Familierelasjon"
            }
          }
        }
      },
      "Postadresse" : {
        "type" : "object",
        "properties" : {
          "postboksadresse" : {
            "$ref" : "#/components/schemas/Postboksadresse"
          },
          "vegadresseForPost" : {
            "$ref" : "#/components/schemas/VegadresseForPost"
          },
          "frittFormat" : {
            "$ref" : "#/components/schemas/PostadresseFrittFormat"
          },
          "adressegradering" : {
            "type" : "string"
          },
          "adresseIdentifikatorFraMatrikkelen" : {
            "type" : "string"
          }
        }
      },
      "PostadresseFrittFormat" : {
        "type" : "object",
        "properties" : {
          "adresselinje" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "poststed" : {
            "$ref" : "#/components/schemas/Poststed"
          }
        }
      },
      "Postboksadresse" : {
        "type" : "object",
        "properties" : {
          "postbokseier" : {
            "type" : "string"
          },
          "postboks" : {
            "type" : "string"
          },
          "poststed" : {
            "$ref" : "#/components/schemas/Poststed"
          }
        }
      },
      "Poststed" : {
        "type" : "object",
        "properties" : {
          "poststedsnavn" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          }
        }
      },
      "UkjentBosted" : {
        "type" : "object",
        "properties" : {
          "kommune" : {
            "type" : "string"
          }
        }
      },
      "UtenlandskAdresse" : {
        "type" : "object",
        "properties" : {
          "adressenavn" : {
            "type" : "string"
          },
          "boenhet" : {
            "type" : "string"
          },
          "byEllerStedsnavn" : {
            "type" : "string"
          },
          "bygning" : {
            "type" : "string"
          },
          "coAdressenavn" : {
            "type" : "string"
          },
          "distriktsnavn" : {
            "type" : "string"
          },
          "etasjenummer" : {
            "type" : "string"
          },
          "landkode" : {
            "type" : "string"
          },
          "postboks" : {
            "type" : "string"
          },
          "postkode" : {
            "type" : "string"
          },
          "region" : {
            "type" : "string"
          }
        }
      },
      "Vegadresse" : {
        "type" : "object",
        "properties" : {
          "adressenavn" : {
            "type" : "string"
          },
          "coAdressenavn" : {
            "type" : "string"
          },
          "adressenummer" : {
            "$ref" : "#/components/schemas/Adressenummer"
          },
          "poststed" : {
            "$ref" : "#/components/schemas/Poststed"
          },
          "kommunenummer" : {
            "type" : "string"
          },
          "bruksenhetsnummer" : {
            "type" : "string"
          },
          "bruksenhetstype" : {
            "type" : "string"
          },
          "adressekode" : {
            "type" : "string"
          },
          "adressetilleggsnavn" : {
            "type" : "string"
          }
        }
      },
      "VegadresseForPost" : {
        "type" : "object",
        "properties" : {
          "adressenavn" : {
            "type" : "string"
          },
          "coAdressenavn" : {
            "type" : "string"
          },
          "adressenummer" : {
            "$ref" : "#/components/schemas/Adressenummer"
          },
          "poststed" : {
            "$ref" : "#/components/schemas/Poststed"
          },
          "adressekode" : {
            "type" : "string"
          },
          "adressetilleggsnavn" : {
            "type" : "string"
          },
          "bruksenhetsnummer" : {
            "type" : "string"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "OpprettOppvekstUttrekk" : {
        "required" : [ "foedselsnumre" ],
        "type" : "object",
        "properties" : {
          "foedselsnumre" : {
            "maxItems" : 2147483647,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      }
    }
  }
}