{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks folkeregister uttrekk service",
    "description" : "Folkregister uttrekk service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "uttrekk",
    "description" : "API for å håndtere funksjonalitet rundt tilpasset uttrekk fra folkeregisteret"
  } ],
  "paths" : {
    "/folkeregister/api/v1/uttrekk/verdier" : {
      "get" : {
        "tags" : [ "uttrekk" ],
        "description" : "Gyldige verdier for nøkkelfelt, til bruk i front-end",
        "operationId" : "gyldigeVerdier",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GyldigeVerdier"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/uttrekk/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "uttrekk" ],
        "description" : "Henter uttrekk man har tilgang tilhørende gitt organisasjon",
        "operationId" : "listUttrekk",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "OPPRETTET", "HOS_SKATT", "FERDIG_SKATT", "FERDIG", "FEILET" ]
            }
          }
        }, {
          "name" : "rolleId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UttrekkListResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "uttrekk" ],
        "description" : "Oppretter uttrekk for en organisasjon",
        "operationId" : "opprett",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "vent",
          "in" : "header",
          "description" : "Avgjør om klienten vil vente på at uttrekket er ferdig eller ikke. Standard er at man venter",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettUttrekk"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UttrekkFerdig"
                }
              }
            }
          },
          "201" : {
            "description" : "Opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UttrekkRef"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/uttrekk/{fiksOrgId}/{uttrekkId}" : {
      "get" : {
        "tags" : [ "uttrekk" ],
        "description" : "Henter status på uttrekk",
        "operationId" : "status",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "uttrekkId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UttrekkStatusResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Det finnes ikke noe utrekk med den gitte uttrekkId-en",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "uttrekk" ],
        "operationId" : "slettUttrekk",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "uttrekkId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "204" : {
            "description" : "No Content"
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/uttrekk/events/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "uttrekk" ],
        "description" : "Brukes til å lese alle hendelser for alle uttrekk man har tilgang til",
        "operationId" : "lesAlleEventer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Ok",
            "content" : {
              "text/event-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UttrekkHendelse"
                }
              }
            }
          }
        }
      }
    },
    "/folkeregister/api/v1/uttrekk/events/{fiksOrgId}/{rolleId}" : {
      "get" : {
        "tags" : [ "uttrekk" ],
        "description" : "Brukes til å lese alle hendelser for alle uttrekk som gjøres for en gitt rolle",
        "operationId" : "lesAlleEventerForRolle",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Feil input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Ok",
            "content" : {
              "text/event-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UttrekkHendelse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "GyldigeVerdier" : {
        "required" : [ "innbyggerStatus", "kjoenn", "landStatsborgerskap", "sivilstand", "status", "tilhorighetKommune" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Verdi"
            }
          },
          "innbyggerStatus" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Verdi"
            }
          },
          "sivilstand" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Verdi"
            }
          },
          "kjoenn" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Verdi"
            }
          },
          "tilhorighetKommune" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Verdi"
            }
          },
          "landStatsborgerskap" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Statsborgerskap"
            }
          }
        }
      },
      "Statsborgerskap" : {
        "required" : [ "kode", "landKilde", "navn" ],
        "type" : "object",
        "properties" : {
          "kode" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "landKilde" : {
            "type" : "string",
            "enum" : [ "ISO", "UDI" ]
          }
        }
      },
      "Verdi" : {
        "type" : "object",
        "properties" : {
          "kode" : {
            "type" : "string"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "AarIntervall" : {
        "type" : "object",
        "properties" : {
          "fraAar" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          },
          "tilAar" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "FerdigUttrekk" : {
        "required" : [ "autorisasjonRolleId", "dokumentlagerId", "id", "innbyggereHentet", "opprettet", "rolleId", "sistOppdatert", "uttrekkDefinisjon" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "rolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "autorisasjonRolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentlagerId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "innbyggereHentet" : {
            "type" : "integer",
            "format" : "int64"
          },
          "opprettet" : {
            "type" : "string",
            "format" : "date-time"
          },
          "sistOppdatert" : {
            "type" : "string",
            "format" : "date-time"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "uttrekkDefinisjon" : {
            "$ref" : "#/components/schemas/UttrekkDefinisjon"
          }
        }
      },
      "UttrekkDefinisjon" : {
        "required" : [ "status" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "AKTIV", "BOSATT", "UTFLYTTET", "DOED", "INAKTIV" ]
            }
          },
          "bostedskommune" : {
            "type" : "string"
          },
          "oppholdskommune" : {
            "type" : "string"
          },
          "foedt" : {
            "$ref" : "#/components/schemas/AarIntervall"
          },
          "doed" : {
            "$ref" : "#/components/schemas/AarIntervall"
          },
          "kjoenn" : {
            "type" : "string",
            "enum" : [ "MANN", "KVINNE" ]
          },
          "statsborgerskap" : {
            "type" : "string"
          },
          "sivilstand" : {
            "type" : "string",
            "enum" : [ "UGIFT", "GIFT", "ENKE_ELLER_ENKEMANN", "SKILT", "SEPARERT", "PARTNER", "SEPARERT_PARTNER", "SKILT_PARTNER", "GJENLEVENDE_PARTNER" ]
          }
        }
      },
      "UttrekkListResponse" : {
        "required" : [ "ferdige", "uttrekkIGang" ],
        "type" : "object",
        "properties" : {
          "ferdige" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FerdigUttrekk"
            }
          },
          "uttrekkIGang" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/UttrekkStatusResponse"
            }
          }
        }
      },
      "UttrekkStatusResponse" : {
        "required" : [ "fiksOrg", "id", "innbyggereHentet", "opprettet", "rolleId", "sistOppdatert", "uttrekkDefinisjon", "uttrekkStatus" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fiksOrg" : {
            "type" : "string",
            "format" : "uuid"
          },
          "rolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "uttrekkStatus" : {
            "type" : "string",
            "enum" : [ "OPPRETTET", "HOS_SKATT", "FERDIG_SKATT", "FERDIG", "FEILET" ]
          },
          "innbyggereHentet" : {
            "type" : "integer",
            "format" : "int64"
          },
          "opprettet" : {
            "type" : "string",
            "format" : "date-time"
          },
          "sistOppdatert" : {
            "type" : "string",
            "format" : "date-time"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "uttrekkDefinisjon" : {
            "$ref" : "#/components/schemas/UttrekkDefinisjon"
          }
        }
      },
      "UttrekkFerdig" : {
        "required" : [ "dokumentlagerId", "id", "nedlastingUrl" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentlagerId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "nedlastingUrl" : {
            "type" : "string"
          }
        }
      },
      "UttrekkRef" : {
        "required" : [ "fiksOrgId", "uttrekkId" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "uttrekkId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "OpprettUttrekk" : {
        "required" : [ "kommunenummer", "rolleId", "status" ],
        "type" : "object",
        "properties" : {
          "rolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "kommunenummer" : {
            "pattern" : "\\d{4}",
            "type" : "string"
          },
          "kommuneTilhoerighet" : {
            "type" : "string",
            "enum" : [ "BOSTED", "OPPHOLD" ]
          },
          "status" : {
            "maxItems" : 2147483647,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "AKTIV", "BOSATT", "UTFLYTTET", "DOED", "INAKTIV" ]
            }
          },
          "foedt" : {
            "$ref" : "#/components/schemas/AarIntervall"
          },
          "doed" : {
            "$ref" : "#/components/schemas/AarIntervall"
          },
          "kjoenn" : {
            "type" : "string",
            "enum" : [ "MANN", "KVINNE" ]
          },
          "statsborgerskap" : {
            "maxLength" : 3,
            "minLength" : 3,
            "type" : "string",
            "description" : "Må være en gyldig ISO 3166-1 alpha-3 landkode eller enten \"XXX\" (statsløs), \"XUX\" (ukjent) eller \"XUK\" (Kosovo)"
          },
          "sivilstand" : {
            "type" : "string",
            "enum" : [ "UGIFT", "GIFT", "ENKE_ELLER_ENKEMANN", "SKILT", "SEPARERT", "PARTNER", "SEPARERT_PARTNER", "SKILT_PARTNER", "GJENLEVENDE_PARTNER" ]
          },
          "varsling" : {
            "$ref" : "#/components/schemas/Varsling"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "visHemmeligeAdresser" : {
            "type" : "boolean"
          }
        }
      },
      "Varsling" : {
        "type" : "object",
        "properties" : {
          "epost" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "HendelseUttrekkFeilet" : {
        "required" : [ "beskrivelse", "type" ],
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/UttrekkHendelse"
        }, {
          "type" : "object",
          "properties" : {
            "beskrivelse" : {
              "type" : "string"
            }
          }
        } ]
      },
      "HendelseUttrekkFerdig" : {
        "required" : [ "dokumentlagerId", "ferdig", "innbyggereHentet", "type" ],
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/UttrekkHendelse"
        }, {
          "type" : "object",
          "properties" : {
            "ferdig" : {
              "type" : "string",
              "format" : "date-time"
            },
            "dokumentlagerId" : {
              "type" : "string",
              "format" : "uuid"
            },
            "innbyggereHentet" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        } ]
      },
      "HendelseUttrekkStartet" : {
        "required" : [ "opprettet", "type" ],
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/UttrekkHendelse"
        }, {
          "type" : "object",
          "properties" : {
            "opprettet" : {
              "type" : "string",
              "format" : "date-time"
            }
          }
        } ]
      },
      "UttrekkHendelse" : {
        "required" : [ "fiksOrg", "id", "rolleId", "type", "uttrekkId" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "fiksOrg" : {
            "type" : "string",
            "format" : "uuid"
          },
          "rolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "uttrekkId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "type" : {
            "type" : "string",
            "enum" : [ "HendelseUttrekkStartet", "HendelseUttrekkFeilet", "HendelseUttrekkFerdig" ]
          }
        },
        "discriminator" : {
          "propertyName" : "type"
        }
      }
    }
  }
}