{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Innsynsforespoersel konfigurasjon service",
    "description" : "Innsynsforespoersel konfigurasjon service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "journalpost/konfigurasjon/innsyn",
    "description" : "API for konfigurasjon av oppsett for innsynsforespørsler"
  }, {
    "name" : "barnevern/konfigurasjon/protokoll",
    "description" : "API for konfigurasjon av oppsett for barnevern protokollsystem"
  } ],
  "paths" : {
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/integrasjon/{integrasjonId}/passord" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Kan endre på integrasjonspassord",
        "operationId" : "endreIntegrasjonPassord",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "integrasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Det nye passordet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BarnevernIntegrasjon"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/barnevernkontor" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Henter barnevernkontor for kommune",
        "operationId" : "hentBarnevernKontor",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "BarnevernKontor",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BarnevernKontorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/status" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Henter status for barneverntjenesten.",
        "operationId" : "hentStatus",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Konfigurasjonsdetaljer for barneverntjenesten",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Status"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/initialiser" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Initialiserer barneverntjenesten.",
        "operationId" : "initBarnevern",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/innsyn/integrasjon" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Oppretter en innsyn integrasjon for barneverntjenesten.",
        "operationId" : "oppprettInnsynIntegrasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettInnsynIntegrasjonRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Konfigurasjonsdetaljer for innsynintegrasjonen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpprettInnsynIntegrasjonResponse"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/barnevern/konfigurasjon/api/v1/{fiksOrgId}/protokoll/system" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjon" ],
        "summary" : "Oppretter et protokollsystem for bruk av barneverntjenesten.",
        "operationId" : "oppprettProtokollSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettProtokollSystemRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Konfigurasjonsdetaljer for systemet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpprettProtokollSystemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/innsynsforesporsel" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Oppretter konto for bruk til innsynsforespørsler",
        "operationId" : "createInnsynsforesporselKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateInnsynsforesporselProtokollKontoRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter konto for bruk til innsynsforespørsler",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Opprett konto på system",
        "operationId" : "createKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateProtokollKontoRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/forespurteTilganger/{eksternKonto}" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Forespør tilgang til ekstern konto for system",
        "operationId" : "createTilgangForesporselTilKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternKonto",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Forespør tilgang til konto"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Fjern forespørsel på tilgang til konto",
        "operationId" : "removeTilgangForesporselTilKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternKonto",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjern forespørsel på tilgang til konto"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/tilganger/{eksternSystemId}" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Gi tilgang til system på konto",
        "operationId" : "createTilgangTilSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternSystemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Oppretter tilgang til system"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Fjern tilgang fra system på konto",
        "operationId" : "removeTilgangTilSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternSystemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjerner tilgang"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Hent protokollkonto",
        "operationId" : "getKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Slett konto fra system",
        "operationId" : "deleteKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Sletter konto"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/organisasjoner" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Henter organisasjoner som har systemer som kan gis tilgang til konto",
        "operationId" : "getFiksOrgsMedSystemer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter organisasjoner som har systemer som kan gis tilgang til konto, med unntak av gjeldende system. Til bruk for filtrering i søk.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FiksOrgResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/forespurteTilganger" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Hent systemer som har forespurt tilgang",
        "operationId" : "getForespurteTilgangerPaaKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Systemer som har forespurt tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollSystemSummaryWithOrgNameResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/protokoller/{protokollnavn}/{protokollversjon}" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Henter protokolldefinisjon",
        "operationId" : "getProtokollDefinisjon",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter protokoll",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollDefinisjonResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/protokoller" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Henter alle definerte protokoller",
        "operationId" : "getProtokollDefinisjoner",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter alle protokoller",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollDefinisjonSummaryResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/system" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Hent system på fiksOrg",
        "operationId" : "getSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter system",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/tilganger" : {
      "get" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Hent systemer med tilganger på konto",
        "operationId" : "getSystemerMedTilgangTilKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Systemer med tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollSystemSummaryWithOrgNameResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/konto-sok" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Søk etter kontoer som systemet kan forespør tilgang til",
        "operationId" : "kontoSok",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProtokollKontoSokRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Kontoer fra søkeresultat systemet kan forespørre tilgang til",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoSokResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/forespurteTilganger/{eksternSystemId}" : {
      "delete" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Fjern forespurt tilgang fra system på konto",
        "operationId" : "removeForespurtTilgangTilKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternSystemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjerner tilgang"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/system-sok" : {
      "post" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Søk etter systemer som kontoen kan gi tilgang til",
        "operationId" : "systemSok",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProtokollSystemSokRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Systemer fra søkeresultat som kontoen kan gi tilgang til.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemSokResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/info" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Oppdater konto info",
        "operationId" : "updateKontoInfo",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateProtokollKontoInfoRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Oppdater konto info"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/pem" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Oppdater offentlig nøkkel på konto ",
        "operationId" : "updateKontoOffentligNokkel",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateOffentligNokkelRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdater offentlig nøkkel på konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OffentligNokkelResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/protokoll/api/v1/{fiksOrgId}/info" : {
      "put" : {
        "tags" : [ "BarnevernKonfigurasjonProtokollResource" ],
        "description" : "Oppdater info på system",
        "operationId" : "updateSystemInfo",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateSystemInfoRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Oppdater system info (navn, beskrivelse og kontakteposter)"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/evaluering/api/v1/{fiksOrgId}/svarut/kontoer/{kontoId}" : {
      "get" : {
        "tags" : [ "BarnevernSvarutKonfigurasjon" ],
        "summary" : "Henter svarut konto",
        "operationId" : "hentKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Kontoer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/evaluering/api/v1/{fiksOrgId}/svarut/kontoer/sok" : {
      "get" : {
        "tags" : [ "BarnevernSvarutKonfigurasjon" ],
        "summary" : "Henter svarut konto basert på orgnr-filter",
        "operationId" : "hentKontoForOrgnr",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgnr",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Kontoer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/evaluering/api/v1/{fiksOrgId}/svarut/{orgNr}" : {
      "post" : {
        "tags" : [ "BarnevernSvarutKonfigurasjon" ],
        "summary" : "Oppretter en svarut konto for orgnr",
        "operationId" : "opprettSvarutKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgNr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "resultat av opprett konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/evaluering/api/v1/{fiksOrgId}/svarut/konto/{orgNr}" : {
      "get" : {
        "tags" : [ "BarnevernSvarutKonfigurasjon" ],
        "summary" : "Henter svarut kontoer",
        "operationId" : "sokKontoer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgNr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Kontoer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoOppslag"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/dokumentmedvirkning/api/v1/tilknytninger/alle" : {
      "get" : {
        "tags" : [ "DokumentmedvirkningKonfigurasjon" ],
        "summary" : "Henter edialog mottaker",
        "operationId" : "hentAlleTilknytninger",
        "responses" : {
          "200" : {
            "description" : "Mottakere",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Tilknytninger"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/dokumentmedvirkning/api/v1/{fiksOrgId}/skjemaid" : {
      "get" : {
        "tags" : [ "DokumentmedvirkningKonfigurasjon" ],
        "summary" : "Henter edialog skjemaId for orgnummer og skjematype",
        "operationId" : "hentEdialogSkjemaId",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgnr",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "SVAR", "KLAGE", "DEFAULT" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "SkjemaId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/dokumentmedvirkning/api/v1/{fiksOrgId}/mottakere/{mottakerId}" : {
      "get" : {
        "tags" : [ "DokumentmedvirkningKonfigurasjon" ],
        "summary" : "Henter edialog mottaker",
        "operationId" : "hentMottaker",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Mottakere",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/dokumentmedvirkning/api/v1/{fiksOrgId}/orgnr/{orgNr}" : {
      "post" : {
        "tags" : [ "DokumentmedvirkningKonfigurasjon" ],
        "summary" : "Oppretter en edialog mottaker for orgnr",
        "operationId" : "opprettEdialogMottaker",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgNr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "resultat av opprett mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/barnevern/konfigurasjon/dokumentmedvirkning/api/v1/{fiksOrgId}/mottakere" : {
      "get" : {
        "tags" : [ "DokumentmedvirkningKonfigurasjon" ],
        "summary" : "Henter edialog mottakere",
        "operationId" : "sokMottakere",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Mottakere",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakereV1"
                }
              }
            }
          }
        }
      }
    },
    "/journalpost/konfigurasjon/innsyn/api/v1/{fiksOrgId}/{system}/koblinger/integrasjon/{integrasjonId}/konto/{kontoId}" : {
      "delete" : {
        "tags" : [ "KonfigurasjonResource" ],
        "summary" : "Deaktiverer en kobling mellom integrasjon og fiks protokoll konto.",
        "operationId" : "deaktiverKontoMapping",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN", "BYGGESAK" ]
          }
        }, {
          "name" : "integrasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/journalpost/konfigurasjon/innsyn/api/v1/{fiksOrgId}/{system}/koblinger" : {
      "get" : {
        "tags" : [ "KonfigurasjonResource" ],
        "summary" : "Henter ut en oversikt over eksisterende koblinger mellom innsyn-indeks-integrasjoner og protokoll-kontoer.",
        "operationId" : "hentEksisterendeKoblinger",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN", "BYGGESAK" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter eksisterende koblinger",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EksisterendeKoblinger"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "KonfigurasjonResource" ],
        "summary" : "Reaktiverer en kobling mellom integrasjon og fiks protokoll konto.",
        "operationId" : "reaktiverKontoMapping",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN", "BYGGESAK" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ReaktiverKoblingRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "No Content",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "KonfigurasjonResource" ],
        "summary" : "Legger til en kobling mellom integrasjon og fiks protokoll konto.",
        "operationId" : "leggTilKontoMapping",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN", "BYGGESAK" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilKoblingRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "No Content",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    },
    "/journalpost/konfigurasjon/innsyn/api/v1/{fiksOrgId}/{system}/innsyn/integrasjoner" : {
      "get" : {
        "tags" : [ "KonfigurasjonResource" ],
        "summary" : "Henter ut en oversikt over integrasjoner som er på nåværende tidspunkt kan brukes til å indeksere meldinger i Innsyn. Integrasjoner som allerede er i bruk er utelatt.",
        "operationId" : "hentIntegrasjoner",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN", "BYGGESAK" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Integrasjoner som kan indeksere meldinger i Fiks Innsyn",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Integrasjoner"
                }
              }
            }
          }
        }
      }
    },
    "/journalpost/konfigurasjon/innsyn/api/v1/{fiksOrgId}/{system}/tjenester/status" : {
      "get" : {
        "tags" : [ "KonfigurasjonResource" ],
        "summary" : "Henter status på påkrevde tjenester i kontekst av innlogget bruker. Må være admin på tjenester protokoll og innsyn.",
        "operationId" : "hentStatusTjenester",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN", "BYGGESAK" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status på Fiks Protokoll og Fiks Innsyn",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatusTjenester"
                }
              }
            }
          }
        }
      }
    },
    "/journalpost/konfigurasjon/innsyn/api/v1/{fiksOrgId}/{system}/protokollkontoer" : {
      "get" : {
        "tags" : [ "KonfigurasjonResource" ],
        "summary" : "Henter ut en oversikt over potensielle kontoer som kan motta innsynsforespørsler. Eksisterende kontoer returneres, siden de kan kobles mot andre integrasjoner",
        "operationId" : "listPotensielleMappiner",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN", "BYGGESAK" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter potensielle protokoll-kontoer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoer"
                }
              }
            }
          }
        }
      }
    },
    "/journalpost/konfigurasjon/innsyn/api/v1/{fiksOrgId}/{system}/koblinger/integrasjon/{integrasjonId}/konto/{kontoId}/slett" : {
      "delete" : {
        "tags" : [ "KonfigurasjonResource" ],
        "summary" : "Slett en kobling mellom integrasjon og fiks protokoll konto.",
        "operationId" : "slettKontoMapping",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "system",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "BARNEVERN", "BYGGESAK" ]
          }
        }, {
          "name" : "integrasjonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BarnevernIntegrasjon" : {
        "required" : [ "integrasjonId", "integrasjonPassord" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "Id til integrasjon",
            "format" : "uuid"
          },
          "integrasjonPassord" : {
            "type" : "string",
            "description" : "Passord til integrasjon"
          }
        },
        "description" : "Integrasjon som brukes for å jobbe mot samtykke-tjenesten"
      },
      "BarnevernKontor" : {
        "type" : "object",
        "properties" : {
          "kode" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "orgnummer" : {
            "type" : "string"
          }
        }
      },
      "BarnevernKontorResponse" : {
        "type" : "object",
        "properties" : {
          "barnevernKontor" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BarnevernKontor"
            }
          }
        }
      },
      "BarnevernProtokollSystem" : {
        "required" : [ "integrasjonId" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "Id til integrasjon",
            "format" : "uuid"
          },
          "systemId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "kontoId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "systemGyldig" : {
            "type" : "boolean"
          },
          "kontoGyldig" : {
            "type" : "boolean"
          }
        }
      },
      "InnsynIntegrasjon" : {
        "required" : [ "integrasjonId" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "Id til integrasjon",
            "format" : "uuid"
          },
          "gyldig" : {
            "type" : "boolean"
          }
        }
      },
      "Status" : {
        "type" : "object",
        "properties" : {
          "leverandor" : {
            "type" : "string",
            "enum" : [ "VISMA", "NETCOMPANY" ]
          },
          "innsynIntegrasjon" : {
            "$ref" : "#/components/schemas/InnsynIntegrasjon"
          },
          "protokollSystem" : {
            "$ref" : "#/components/schemas/BarnevernProtokollSystem"
          }
        }
      },
      "OpprettInnsynIntegrasjonResponse" : {
        "type" : "object",
        "properties" : {
          "innsynIntegrasjon" : {
            "$ref" : "#/components/schemas/BarnevernIntegrasjon"
          }
        }
      },
      "OpprettInnsynIntegrasjonRequest" : {
        "required" : [ "leverandor" ],
        "type" : "object",
        "properties" : {
          "leverandor" : {
            "type" : "string",
            "description" : "Leverandør",
            "enum" : [ "VISMA", "NETCOMPANY" ]
          }
        }
      },
      "OpprettProtokollSystemResponse" : {
        "type" : "object",
        "properties" : {
          "protokollIntegrasjon" : {
            "$ref" : "#/components/schemas/BarnevernIntegrasjon"
          },
          "innsynIntegrasjon" : {
            "$ref" : "#/components/schemas/BarnevernIntegrasjon"
          },
          "samtykkeIntegrasjon" : {
            "$ref" : "#/components/schemas/BarnevernIntegrasjon"
          },
          "systemId" : {
            "type" : "string",
            "description" : "SystemId til protokollsystemet som er opprettet",
            "format" : "uuid"
          }
        }
      },
      "OpprettProtokollSystemRequest" : {
        "required" : [ "kontakteposter", "leverandor", "systembeskrivelse", "systemnavn" ],
        "type" : "object",
        "properties" : {
          "systemnavn" : {
            "type" : "string",
            "description" : "Angir navn på protokollsystem"
          },
          "systembeskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av protokollsystem"
          },
          "kontakteposter" : {
            "type" : "array",
            "description" : "Kontakt-epost adresser",
            "items" : {
              "type" : "string",
              "description" : "Kontakt-epost adresser"
            }
          },
          "leverandor" : {
            "type" : "string",
            "description" : "Leverandør",
            "enum" : [ "VISMA", "NETCOMPANY" ]
          },
          "offentligNokkel" : {
            "type" : "string"
          }
        }
      },
      "OffentligNokkelResponse" : {
        "type" : "object",
        "properties" : {
          "nokkel" : {
            "type" : "string"
          },
          "validFrom" : {
            "type" : "string",
            "format" : "date-time"
          },
          "validTo" : {
            "type" : "string",
            "format" : "date-time"
          },
          "serial" : {
            "type" : "string"
          },
          "subjectDN" : {
            "type" : "string"
          },
          "issuerDN" : {
            "type" : "string"
          },
          "valid" : {
            "type" : "boolean"
          },
          "statusMessage" : {
            "type" : "string"
          }
        }
      },
      "PartResponse" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "protokollnavn" : {
            "type" : "string"
          },
          "protokollversjon" : {
            "type" : "string"
          },
          "avsenderMeldingstyper" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "mottakerMeldingstyper" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "stottedeParter" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ProtokollKontoResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "stottetProtokollNavn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "parts" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PartResponse"
            }
          },
          "offentligNokkel" : {
            "$ref" : "#/components/schemas/OffentligNokkelResponse"
          },
          "opprettet" : {
            "type" : "string",
            "format" : "date-time"
          },
          "sistEndret" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "CreateInnsynsforesporselProtokollKontoRequest" : {
        "required" : [ "offentligNokkel" ],
        "type" : "object",
        "properties" : {
          "offentligNokkel" : {
            "type" : "string",
            "description" : "Offentlig nøkkel"
          }
        }
      },
      "CreateProtokollKontoRequest" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "stottetProtokollNavn" : {
            "type" : "string"
          },
          "parts" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PartRequest"
            }
          },
          "offentligNokkel" : {
            "type" : "string"
          }
        }
      },
      "PartRequest" : {
        "type" : "object",
        "properties" : {
          "partNavn" : {
            "type" : "string"
          },
          "stottetProtokollVersjon" : {
            "type" : "string"
          }
        }
      },
      "FiksOrgResponse" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "kommunenummer" : {
            "type" : "string"
          }
        }
      },
      "ProtokollSystemSummaryWithOrgNameResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "fiksOrgNavn" : {
            "type" : "string"
          }
        }
      },
      "CreateProtokollMeldingstype" : {
        "type" : "object",
        "properties" : {
          "meldingstypeNavn" : {
            "type" : "string"
          },
          "payloadKriterie" : {
            "type" : "string",
            "enum" : [ "NEVER", "REQUIRED", "OPTIONAL" ]
          }
        }
      },
      "ProtokollDefinisjonResponse" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "protokollversjon" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "meldingstyper" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CreateProtokollMeldingstype"
            }
          },
          "parter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PartResponse"
            }
          }
        }
      },
      "ProtokollDefinisjonSummaryResponse" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "protokollversjon" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "parter" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "EksternProtokollKontoResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "stottetProtokollNavn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "parter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PartResponse"
            }
          },
          "system" : {
            "$ref" : "#/components/schemas/EksternProtokollSystemResponse"
          }
        }
      },
      "EksternProtokollSystemResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "fiksOrg" : {
            "$ref" : "#/components/schemas/FiksOrgResponse"
          }
        }
      },
      "PartSummaryResponse" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "protokollnavn" : {
            "type" : "string"
          },
          "protokollversjon" : {
            "type" : "string"
          }
        }
      },
      "ProtokollKontoMetrikkResponse" : {
        "type" : "object",
        "properties" : {
          "meldingerPaKo" : {
            "type" : "integer",
            "format" : "int32"
          },
          "antallKonsumenter" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ProtokollKontoSummaryResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "stottetProtokollNavn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "parter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PartSummaryResponse"
            }
          },
          "metrikk" : {
            "$ref" : "#/components/schemas/ProtokollKontoMetrikkResponse"
          }
        }
      },
      "ProtokollSystemResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "integrasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "orgnummer" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "eposter" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "kontoer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ProtokollKontoSummaryResponse"
            }
          },
          "tilgangTilKontoer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EksternProtokollKontoResponse"
            }
          },
          "forespurteTilgangerTilKontoer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EksternProtokollKontoResponse"
            }
          },
          "offentlig" : {
            "type" : "boolean"
          },
          "automatiskGodkjenning" : {
            "type" : "boolean"
          },
          "konfigureresAvIntegrasjon" : {
            "type" : "boolean"
          },
          "leverandorNavn" : {
            "type" : "string"
          },
          "leverandorKontaktpunkt" : {
            "type" : "string"
          },
          "fiksOrg" : {
            "$ref" : "#/components/schemas/FiksOrgResponse"
          },
          "opprettet" : {
            "type" : "string",
            "format" : "date-time"
          },
          "sistEndret" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "ProtokollKontoSokResponse" : {
        "type" : "object",
        "properties" : {
          "kontoer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EksternProtokollKontoResponse"
            }
          }
        }
      },
      "ProtokollKontoSokFilterRequest" : {
        "type" : "object",
        "properties" : {
          "fiksOrgIder" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "protokollFilter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ProtokollSokFilterRequest"
            }
          }
        }
      },
      "ProtokollKontoSokRequest" : {
        "type" : "object",
        "properties" : {
          "filter" : {
            "$ref" : "#/components/schemas/ProtokollKontoSokFilterRequest"
          },
          "term" : {
            "type" : "string"
          }
        }
      },
      "ProtokollSokFilterRequest" : {
        "type" : "object",
        "properties" : {
          "protokollNavn" : {
            "type" : "string"
          },
          "protokollVersjon" : {
            "type" : "string"
          },
          "parter" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ProtokollSystemSokResponse" : {
        "type" : "object",
        "properties" : {
          "systemer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EksternProtokollSystemResponse"
            }
          }
        }
      },
      "ProtokollSystemSokFilterRequest" : {
        "type" : "object",
        "properties" : {
          "fiksOrgIder" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "stotterKonto" : {
            "type" : "boolean"
          }
        }
      },
      "ProtokollSystemSokRequest" : {
        "type" : "object",
        "properties" : {
          "filter" : {
            "$ref" : "#/components/schemas/ProtokollSystemSokFilterRequest"
          },
          "term" : {
            "type" : "string"
          }
        }
      },
      "UpdateProtokollKontoInfoRequest" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      },
      "UpdateOffentligNokkelRequest" : {
        "type" : "object",
        "properties" : {
          "offentligNokkel" : {
            "type" : "string"
          }
        }
      },
      "UpdateSystemInfoRequest" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "eposter" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "offentlig" : {
            "type" : "boolean"
          },
          "automatiskGodkjenning" : {
            "type" : "boolean"
          },
          "leverandorNavn" : {
            "type" : "string"
          },
          "leverandorKontaktpunkt" : {
            "type" : "string"
          }
        }
      },
      "Adresse" : {
        "type" : "object",
        "properties" : {
          "adresse1" : {
            "type" : "string"
          },
          "adresse2" : {
            "type" : "string"
          },
          "adresse3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        }
      },
      "AltinnKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "avsendertekst" : {
            "type" : "string"
          },
          "ekstratekst" : {
            "type" : "string"
          }
        }
      },
      "AltinnMal" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "enum" : [ "STANDARD", "KUN_DIGITAL", "KUN_DIGITAL_UTEN_DOKUMENTER", "SMS", "SMS_TAUSHETSBELAGT", "EPOST", "EPOST_TAUSHETSBELAGT" ]
          },
          "standard" : {
            "type" : "string"
          },
          "egendefinert" : {
            "type" : "string"
          }
        }
      },
      "AltinnMaler" : {
        "type" : "object",
        "properties" : {
          "maler" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/AltinnMal"
            }
          }
        }
      },
      "DPIKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "avsendernavn" : {
            "type" : "string"
          },
          "avsenderIdentifikator" : {
            "type" : "string"
          },
          "ekstratekst" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "dokumenter" : {
            "type" : "boolean"
          },
          "signering" : {
            "type" : "boolean"
          }
        }
      },
      "DpiMal" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "enum" : [ "STANDARD", "UTEN_DOKUMENTER", "MED_LENKER_OG_SENDES_MED_DOKUMENTER", "SMS", "EPOST" ]
          },
          "standard" : {
            "type" : "string"
          },
          "egendefinert" : {
            "type" : "string"
          }
        }
      },
      "DpiMaler" : {
        "type" : "object",
        "properties" : {
          "maler" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/DpiMal"
            }
          }
        }
      },
      "FolkeregisterKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "hemmeligAdresse" : {
            "type" : "string",
            "enum" : [ "AVVIS", "BYTT_ADRESSE" ]
          }
        }
      },
      "ForsideKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "avsender" : {
            "type" : "string"
          },
          "orgNummer" : {
            "type" : "string"
          },
          "forsidetekst" : {
            "type" : "string"
          },
          "forsidetittel" : {
            "type" : "string"
          },
          "skjulForsideInfo" : {
            "type" : "boolean"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Adresse"
          }
        }
      },
      "Maler" : {
        "type" : "object",
        "properties" : {
          "altinn" : {
            "$ref" : "#/components/schemas/AltinnMaler"
          },
          "dpi" : {
            "$ref" : "#/components/schemas/DpiMaler"
          }
        }
      },
      "PrintKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "printleverandor" : {
            "type" : "string",
            "enum" : [ "MANUELL_PRINT", "GRAFISK_DIGITAL" ]
          },
          "automatiskEttersendingForVirksomheter" : {
            "type" : "boolean"
          }
        }
      },
      "ServicePassordMetadata" : {
        "type" : "object",
        "properties" : {
          "opprettet" : {
            "type" : "string"
          },
          "opprettetAv" : {
            "type" : "string"
          }
        }
      },
      "SvarUtKonto" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string"
          },
          "avsender" : {
            "type" : "string"
          },
          "gyldig" : {
            "type" : "boolean"
          },
          "aktivert" : {
            "type" : "boolean"
          },
          "altinnAktivert" : {
            "type" : "boolean"
          },
          "dpiAktivert" : {
            "type" : "boolean"
          },
          "forside" : {
            "$ref" : "#/components/schemas/ForsideKonfigurasjon"
          },
          "altinn" : {
            "$ref" : "#/components/schemas/AltinnKonfigurasjon"
          },
          "dpi" : {
            "$ref" : "#/components/schemas/DPIKonfigurasjon"
          },
          "print" : {
            "$ref" : "#/components/schemas/PrintKonfigurasjon"
          },
          "servicePassordMetadata" : {
            "$ref" : "#/components/schemas/ServicePassordMetadata"
          },
          "maler" : {
            "$ref" : "#/components/schemas/Maler"
          },
          "folkeregister" : {
            "$ref" : "#/components/schemas/FolkeregisterKonfigurasjon"
          }
        }
      },
      "EntityTag" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "string"
          },
          "weak" : {
            "type" : "boolean"
          }
        }
      },
      "Link" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string",
            "format" : "uri"
          },
          "uriBuilder" : {
            "$ref" : "#/components/schemas/UriBuilder"
          },
          "rel" : {
            "type" : "string"
          },
          "rels" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "type" : {
            "type" : "string"
          },
          "params" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        }
      },
      "MediaType" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          },
          "subtype" : {
            "type" : "string"
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "wildcardType" : {
            "type" : "boolean"
          },
          "wildcardSubtype" : {
            "type" : "boolean"
          }
        }
      },
      "MultivaluedMapStringObject" : {
        "type" : "object",
        "properties" : {
          "empty" : {
            "type" : "boolean"
          }
        },
        "additionalProperties" : {
          "type" : "array",
          "items" : {
            "type" : "object"
          }
        }
      },
      "MultivaluedMapStringString" : {
        "type" : "object",
        "properties" : {
          "empty" : {
            "type" : "boolean"
          }
        },
        "additionalProperties" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      },
      "NewCookie" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "value" : {
            "type" : "string"
          },
          "version" : {
            "type" : "integer",
            "format" : "int32"
          },
          "path" : {
            "type" : "string"
          },
          "domain" : {
            "type" : "string"
          },
          "comment" : {
            "type" : "string"
          },
          "maxAge" : {
            "type" : "integer",
            "format" : "int32"
          },
          "expiry" : {
            "type" : "string",
            "format" : "date-time"
          },
          "secure" : {
            "type" : "boolean"
          },
          "httpOnly" : {
            "type" : "boolean"
          },
          "sameSite" : {
            "type" : "string",
            "enum" : [ "NONE", "LAX", "STRICT" ]
          }
        }
      },
      "Response" : {
        "type" : "object",
        "properties" : {
          "links" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Link"
            }
          },
          "stringHeaders" : {
            "type" : "object",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              }
            },
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          },
          "statusInfo" : {
            "$ref" : "#/components/schemas/StatusType"
          },
          "mediaType" : {
            "$ref" : "#/components/schemas/MediaType"
          },
          "allowedMethods" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "cookies" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/NewCookie"
            }
          },
          "entityTag" : {
            "$ref" : "#/components/schemas/EntityTag"
          },
          "closed" : {
            "type" : "boolean"
          },
          "length" : {
            "type" : "integer",
            "format" : "int32"
          },
          "location" : {
            "type" : "string",
            "format" : "uri"
          },
          "language" : {
            "type" : "object",
            "properties" : {
              "language" : {
                "type" : "string"
              },
              "displayName" : {
                "type" : "string"
              },
              "country" : {
                "type" : "string"
              },
              "variant" : {
                "type" : "string"
              },
              "script" : {
                "type" : "string"
              },
              "unicodeLocaleAttributes" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "unicodeLocaleKeys" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "displayLanguage" : {
                "type" : "string"
              },
              "displayScript" : {
                "type" : "string"
              },
              "displayCountry" : {
                "type" : "string"
              },
              "displayVariant" : {
                "type" : "string"
              },
              "extensionKeys" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "iso3Language" : {
                "type" : "string"
              },
              "iso3Country" : {
                "type" : "string"
              }
            }
          },
          "date" : {
            "type" : "string",
            "format" : "date-time"
          },
          "lastModified" : {
            "type" : "string",
            "format" : "date-time"
          },
          "metadata" : {
            "type" : "object",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              }
            },
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "entity" : {
            "type" : "object"
          },
          "headers" : {
            "type" : "object",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              }
            },
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "object"
              }
            }
          }
        }
      },
      "StatusType" : {
        "type" : "object",
        "properties" : {
          "family" : {
            "type" : "string",
            "enum" : [ "INFORMATIONAL", "SUCCESSFUL", "REDIRECTION", "CLIENT_ERROR", "SERVER_ERROR", "OTHER" ]
          },
          "statusCode" : {
            "type" : "integer",
            "format" : "int32"
          },
          "reasonPhrase" : {
            "type" : "string"
          }
        }
      },
      "UriBuilder" : {
        "type" : "object"
      },
      "KontoOppslag" : {
        "type" : "object",
        "properties" : {
          "antall" : {
            "type" : "integer",
            "format" : "int32"
          },
          "kontoer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SvarUtKonto"
            }
          }
        }
      },
      "Tilknytning" : {
        "type" : "object",
        "properties" : {
          "tilknytningId" : {
            "type" : "string"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "Tilknytninger" : {
        "type" : "object",
        "properties" : {
          "tilknytninger" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object",
              "additionalProperties" : {
                "$ref" : "#/components/schemas/Tilknytning"
              }
            }
          }
        }
      },
      "InnsynStatusV1" : {
        "type" : "object",
        "properties" : {
          "aktivert" : {
            "type" : "boolean"
          },
          "synkroniseringsstatus" : {
            "type" : "string",
            "enum" : [ "AKTIVERES", "DEAKTIVERES", "FERDIG" ]
          }
        }
      },
      "MottakerV1" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "shortId" : {
            "type" : "string"
          },
          "fiksOrganisasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "orgnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "aktiv" : {
            "type" : "boolean"
          },
          "printleverandor" : {
            "type" : "string",
            "enum" : [ "GRAFISK_DIGITAL", "MANUELL_PRINT" ]
          },
          "harAktivertInnsyn" : {
            "type" : "boolean"
          },
          "innsynStatus" : {
            "$ref" : "#/components/schemas/InnsynStatusV1"
          }
        }
      },
      "MottakereV1" : {
        "type" : "object",
        "properties" : {
          "mottakere" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MottakerV1"
            }
          }
        }
      },
      "EksisterendeKobling" : {
        "required" : [ "aktiv", "hendelser", "integrasjon", "mottakerKonto" ],
        "type" : "object",
        "properties" : {
          "integrasjon" : {
            "$ref" : "#/components/schemas/Integrasjon"
          },
          "mottakerKonto" : {
            "$ref" : "#/components/schemas/MottakerKonto"
          },
          "aktiv" : {
            "type" : "boolean",
            "description" : "Angir om koblingen er aktiv"
          },
          "hendelser" : {
            "type" : "array",
            "description" : "Hendelseslogg over operasjoner på koblingen",
            "items" : {
              "type" : "string",
              "description" : "Hendelseslogg over operasjoner på koblingen"
            }
          }
        },
        "description" : "Liste over eksisterende koblinger mellom integrasjon of Fiks protokoll kontoer"
      },
      "EksisterendeKoblinger" : {
        "required" : [ "koblinger" ],
        "type" : "object",
        "properties" : {
          "koblinger" : {
            "type" : "array",
            "description" : "Liste over eksisterende koblinger mellom integrasjon of Fiks protokoll kontoer",
            "items" : {
              "$ref" : "#/components/schemas/EksisterendeKobling"
            }
          }
        }
      },
      "Integrasjon" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "IntegrasjonsID",
            "format" : "uuid"
          },
          "orgnr" : {
            "type" : "string",
            "description" : "Organisasjonsnr som er koblet til integrasjonen"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på integrasjonen"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse på integrasjonen"
          },
          "opprettet" : {
            "type" : "string",
            "description" : "Dato/tid for når integrasjon ble opprettet",
            "format" : "date-time"
          },
          "gyldig" : {
            "type" : "boolean",
            "description" : "Angir om integrasjon har de nødvendige egenskapene for å kunne brukes i en kobling"
          },
          "stats" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Stat"
            }
          }
        }
      },
      "MottakerKonto" : {
        "required" : [ "konto", "system" ],
        "type" : "object",
        "properties" : {
          "system" : {
            "$ref" : "#/components/schemas/ProtokollSystem"
          },
          "konto" : {
            "$ref" : "#/components/schemas/ProtokollKonto"
          }
        },
        "description" : "Liste over protokollkontoer"
      },
      "ProtokollKonto" : {
        "required" : [ "gyldig", "kontoId" ],
        "type" : "object",
        "properties" : {
          "kontoId" : {
            "type" : "string",
            "description" : "ID til protokollkontoen",
            "format" : "uuid"
          },
          "kontoNavn" : {
            "type" : "string",
            "description" : "Navn på protokollkontoen"
          },
          "gyldig" : {
            "type" : "boolean",
            "description" : "Angir om kontoen har de nødvendige egenskapene for å kunne brukes i en kobling"
          }
        },
        "description" : "Detaljer om selve protokollkontoen"
      },
      "ProtokollSystem" : {
        "required" : [ "gyldig", "systemId", "systemNavn" ],
        "type" : "object",
        "properties" : {
          "systemId" : {
            "type" : "string",
            "description" : "ID til protokollsystemet",
            "format" : "uuid"
          },
          "systemNavn" : {
            "type" : "string",
            "description" : "Navn til protokollsystemet"
          },
          "gyldig" : {
            "type" : "boolean",
            "description" : "Angir om systemet har de nødvendige egenskapene til å kunne brukes i en kobling"
          }
        },
        "description" : "Detaljer om protokollsystemet som kontoen er knyttet til"
      },
      "Stat" : {
        "type" : "object",
        "properties" : {
          "meldingsType" : {
            "type" : "string"
          },
          "antall" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "Integrasjoner" : {
        "type" : "object",
        "properties" : {
          "integrasjoner" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Integrasjon"
            }
          }
        }
      },
      "StatusTjenester" : {
        "required" : [ "innsynAktivert", "innsynTilgang", "protokollAktivert", "protokollTilgang" ],
        "type" : "object",
        "properties" : {
          "innsynAktivert" : {
            "type" : "boolean",
            "description" : "Angir om fiksOrg har aktivert tjeneste Fiks-Innsyn"
          },
          "protokollAktivert" : {
            "type" : "boolean",
            "description" : "Angir om fiksOrg har aktivert tjeneste Fiks-Protokoll"
          },
          "innsynTilgang" : {
            "type" : "boolean",
            "description" : "Angir om innlogget bruker har admin-privilegiet på tjeneste Fiks-Innsyn"
          },
          "protokollTilgang" : {
            "type" : "boolean",
            "description" : "Angir om innlogget bruker har admin-privilegiet på tjeneste Fiks-Protokoll"
          }
        }
      },
      "LeggTilKoblingRequest" : {
        "required" : [ "integrasjonId", "kontoId" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "ID til integrasjonen som skal brukes i koblingen",
            "format" : "uuid"
          },
          "kontoId" : {
            "type" : "string",
            "description" : "ID til protokollkonto som skal brukes i koblingen",
            "format" : "uuid"
          }
        }
      },
      "ProtokollKontoer" : {
        "required" : [ "kontoer" ],
        "type" : "object",
        "properties" : {
          "kontoer" : {
            "type" : "array",
            "description" : "Liste over protokollkontoer",
            "items" : {
              "$ref" : "#/components/schemas/MottakerKonto"
            }
          }
        }
      },
      "ReaktiverKoblingRequest" : {
        "required" : [ "integrasjonId", "kontoId" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "ID til integrasjonen som skal brukes i koblingen",
            "format" : "uuid"
          },
          "kontoId" : {
            "type" : "string",
            "description" : "ID til protokollkonto som skal brukes i koblingen",
            "format" : "uuid"
          }
        }
      }
    }
  }
}