{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Fiks Kjoretoyregister service",
    "description" : "Oppslag i Kjoretoyregister",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "tags": [
    {
      "name": "Kjoretoyregister",
      "description": "API for å gjore oppslag i kjoretøysregisteret"
    }
  ],
  "paths" : {
    "/kjoretoyregister/api/v1/ks/{fiksOrgId}/person" : {
      "post" : {
        "tags" : [ "Kjoretoyregister" ],
        "description" : "Henter kjoretoy for angitt person",
        "operationId" : "hentKjoretoyPerson",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KjoretoyPersonOppslag"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KjoretoyResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/kjoretoyregister/api/v1/ks/{fiksOrgId}/organisasjon" : {
      "post" : {
        "tags" : [ "Kjoretoyregister" ],
        "description" : "Henter kjoretoy for angitt organisasjon",
        "operationId" : "hentKjoretoyOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KjoretoyOrganisasjonOppslag"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KjoretoyOrganisasjonResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "KjoretoyPersonOppslag": {
        "required": [ "fnr" ],
        "properties": {
          "fnr": {
            "type": "string"
          }
        }
      },
      "KjoretoyOrganisasjonOppslag": {
        "required": [
          "organisasjonsnummer"
        ],
        "properties": {
          "organisasjonsnummer": {
            "type": "string",
            "pattern": "\\d{9}",
            "description": "Organisasjonsnummer på eier"
          },
          "fra": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Benyttes for paging av resultatet - angir første rad man ønsker returnert"
          },
          "antall": {
            "type": "integer",
            "default": 100,
            "description": "Benyttes for paging av resultatet - angir antall rader man ønsker returnert"
          }
        }
      },
      "KjoretoyResponse": {
        "required": [ "kjoretoy", "fnr" ],
        "properties": {
          "fnr": {
            "type": "string"
          },
          "kjoretoy": {
            "type": "array",
            "items": {
              "$ref" : "#/components/schemas/Kjoretoy"
            }
          }
        }
      },
      "KjoretoyOrganisasjonResponse": {
        "required": [ "kjoretoy", "organisasjonsnummer" ],
        "properties": {
          "organisasjonsnummer": {
            "type": "string"
          },
          "kjoretoy": {
            "type": "array",
            "items": {
              "$ref" : "#/components/schemas/KjoretoyOrganisasjon"
            }
          }
        }
      },
      "Kjoretoy": {
        "properties": {
          "kjennemerke": {
            "type": "string"
          },
          "forstegangsregistrering": {
            "type": "string",
            "format": "date"
          },
          "eierskap": {
            "$ref" : "#/components/schemas/Eierskap"
          },
          "registrering": {
            "$ref" : "#/components/schemas/Registrering"
          },
          "tekniskeData": {
            "$ref" : "#/components/schemas/TekniskeData"
          }
        }
      },
      "KjoretoyOrganisasjon": {
        "properties": {
          "kjennemerke": {
            "type": "string"
          },
          "forstegangsregistrering": {
            "type": "string",
            "format": "date"
          },
          "eierskap": {
            "$ref" : "#/components/schemas/EierskapOrganisasjon"
          },
          "registrering": {
            "$ref" : "#/components/schemas/Registrering"
          },
          "tekniskeData": {
            "$ref" : "#/components/schemas/TekniskeData"
          }
        }
      },
      "Eierskap": {
        "properties": {
          "eier": {
            "$ref" : "#/components/schemas/Eier"
          }
        }
      },
      "EierskapOrganisasjon": {
        "properties": {
          "eier": {
            "$ref" : "#/components/schemas/EierOrganisasjon"
          }
        }
      },
      "Eier": {
        "properties": {
          "person": {
            "$ref" : "#/components/schemas/Person"
          },
          "fra": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "EierOrganisasjon": {
        "properties": {
          "organisasjon": {
            "$ref" : "#/components/schemas/Organisasjon"
          },
          "fra": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Person": {
        "properties": {
          "fornavn": {
            "type": "string"
          },
          "mellomnavn": {
            "type": "string"
          },
          "etternavn": {
            "type": "string"
          }
        }
      },
      "Organisasjon": {
        "properties": {
          "organisasjonsnummer": {
            "type": "string"
          },
          "organisasjonsnavn": {
            "type": "string"
          }
        }
      },
      "Registrering": {
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "TekniskeData": {
        "properties": {
          "gruppe": {
            "type": "string"
          },
          "gruppeKode": {
            "type": "string"
          },
          "merke": {
            "type": "string"
          },
          "modell": {
            "type": "string"
          },
          "drivstoff": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}