{
  "openapi": "3.0.1",
  "info": {
    "title": "KS FIKS: Kommuneregister Service",
    "description": "Kommuneregister service",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks API TEST host"
    }
  ],
  "tags": [
    {
      "name": "kommuneregister",
      "description": "API for henting av kommunedata fra kommuneregister hos Geodata"
    }
  ],
  "paths": {
    "/kommuneregister/api/v2/kommuneregister/bydeler": {
      "get": {
        "tags": [
          "kommuneregister"
        ],
        "description": "Henter alle bydeler",
        "operationId": "getAlleBydeler",
        "responses": {
          "200": {
            "description": "Alle bydeler",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BydelInfoApiModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kommuneregister/api/v2/kommuneregister/kommuner/{kommunenr}/bydeler/{bydelnr}": {
      "get": {
        "tags": [
          "kommuneregister"
        ],
        "description": "Henter bydel gitt kommune- og bydelsnummer",
        "operationId": "getBydel",
        "parameters": [
          {
            "name": "kommunenr",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^\\d{4}$",
              "type": "string"
            }
          },
          {
            "name": "bydelnr",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^\\d{2}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bydel gitt kommune- og bydelsnummer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BydelInfoApiModel"
                }
              }
            }
          },
          "404": {
            "description": "Ingen bydeler funnet"
          }
        }
      }
    },
    "/kommuneregister/api/v2/kommuneregister/kommuner/{kommunenr}/grunnkretser/{grunnkretsnr}": {
      "get": {
        "tags": [
          "kommuneregister"
        ],
        "description": "Henter bydel som inneholder grunnkretsen med gitt kommune- og grunnkretsnummer",
        "operationId": "getBydelByGrunnkrets",
        "parameters": [
          {
            "name": "kommunenr",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^\\d{4}$",
              "type": "string"
            }
          },
          {
            "name": "grunnkretsnr",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bydel som inneholder grunnkretsen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BydelInfoApiModel"
                }
              }
            }
          },
          "404": {
            "description": "Ingen bydel funnet for grunnkretsen"
          }
        }
      }
    },
    "/kommuneregister/api/v2/kommuneregister/kommuner/{kommunenr}/bydeler": {
      "get": {
        "tags": [
          "kommuneregister"
        ],
        "description": "Henter bydeler funnet for det oppgitte kommune",
        "operationId": "getBydelerForKommune",
        "parameters": [
          {
            "name": "kommunenr",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^\\d{4}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "bydeler for kommune",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BydelInfoApiModel"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ingen bydeler funnet for kommunen"
          }
        }
      }
    },
    "/kommuneregister/api/v2/kommuneregister/kommuner/{kommunenr}": {
      "get": {
        "tags": [
          "kommuneregister"
        ],
        "description": "Henter kommune",
        "operationId": "getKommune",
        "parameters": [
          {
            "name": "kommunenr",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^\\d{4}$",
              "type": "string"
            }
          },
          {
            "name": "sprakKode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Kommuner fra GeoData",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KommuneApiModel"
                }
              }
            }
          },
          "404": {
            "description": "Ingen enhet ble funnet for det oppgitte kommunenr"
          }
        }
      }
    },
    "/kommuneregister/api/v2/kommuneregister/kommuner": {
      "get": {
        "tags": [
          "kommuneregister"
        ],
        "description": "Henter alle kommuner",
        "operationId": "getKommuner",
        "parameters": [
          {
            "name": "sprakKode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Kommuner fra GeoData",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KommuneApiModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kommuneregister/api/v2/kommuneregister/fylker": {
      "get": {
        "tags": [
          "kommuneregister"
        ],
        "description": "Henter alle fylker",
        "operationId": "getFylker",
        "responses": {
          "200": {
            "description": "Fylker fra GeoData",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FylkeApiModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kommuneregister/api/v2/kommuneregister/fylker/{fylkenr}/kommuner": {
      "get": {
        "tags": [
          "kommuneregister"
        ],
        "description": "Henter alle kommuner fra fylkenr",
        "operationId": "getKommunerFraFylke",
        "parameters": [
          {
            "name": "fylkenr",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Kommuner for fylke fra GeoData",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KommuneApiModel"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BydelInfoApiModel": {
        "type": "object",
        "properties": {
          "kommunenummer": {
            "type": "string"
          },
          "bydelsnummer": {
            "type": "string"
          },
          "bydelsnavn": {
            "type": "string"
          },
          "grunnkretser": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GrunnkretsApiModel"
            }
          }
        },
        "required": [
          "kommunenummer",
          "bydelsnummer",
          "bydelsnavn",
          "grunnkretser"
        ]
      },
      "GrunnkretsApiModel": {
        "type": "object",
        "properties": {
          "grunnkretsnummer": {
            "type": "string"
          },
          "grunnkretsnavn": {
            "type": "string"
          }
        },
        "required": [
          "grunnkretsnummer",
          "grunnkretsnavn"
        ]
      },
      "KommuneApiModel": {
        "type": "object",
        "properties": {
          "kommunenr": {
            "type": "string"
          },
          "navn": {
            "type": "string"
          }
        }
      },
      "FylkeApiModel": {
        "type": "object",
        "properties": {
          "fylkenr": {
            "type": "string"
          },
          "navn": {
            "type": "string"
          }
        }
      }
    }
  }
}
