{
  "openapi": "3.0.3",
  "info": {
    "title": "KS FIKS: Kompetent synkronisering konfigurasjon service",
    "description": "Kompetent konfigurasjon service",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.test.fiks.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "tags": [
    {
      "name": "Kompetent",
      "description": "API for KS kompetent synkronisering konfigurasjon"
    }
  ],
  "paths": {
    "/kompetent-synkronisering/konfigurasjon/api/v1/{fiksOrgId}": {
      "post": {
        "tags": [
          "Konfigurasjon"
        ],
        "description": "Oppretter konfigurasjon for synkronisering",
        "operationId": "opprettKonfigurasjon",
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Organisasjonen sin fiksOrgId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonfigurasjonRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Konfigurasjon opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonfigurasjonResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Henter konfigurasjon for en organisasjon",
        "operationId": "hentKonfigurasjon",
        "tags": [
          "Konfigurasjon"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hentet konfigurasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonfigurasjonResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Endrer en konfigurasjon",
        "operationId": "endreKonfigurasjon",
        "tags": [
          "Konfigurasjon"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonfigurasjonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonfigurasjonResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Sletter Konfigurasjon",
        "operationId": "slettKonfigurasjon",
        "tags": [
          "Konfigurasjon"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Konfigurasjon er slettet"
          }
        }
      }
    },
    "/kompetent-synkronisering/konfigurasjon/api/v1/{fiksOrgId}/grupper": {
      "get": {
        "description": "Henter alle grupper i en organisasjon fra brukersynkronisering, uavhengig om de har tilgang eller ikke på KSL",
        "operationId": "hentGrupper",
        "tags": [
          "grupper"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Organisasjonen sin fiksOrgId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/gruppe"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kompetent-synkronisering/konfigurasjon/api/v1/{fiksOrgId}/grupper/tilgang": {
      "get": {
        "description": "Henter alle grupper med tilgang, uavhengig av kildesystem",
        "operationId": "hentGrupperMedTilgang",
        "tags": [
          "grupper"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Organisasjonen sin fiksOrgId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/gruppeMedTilgangDefinisjon"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Legger til gruppe med tilgang",
        "operationId": "LeggTilGruppeMedTilgang",
        "tags": [
          "grupper"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Organisasjonen sin fiksOrgId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/nyGruppeMedTilgang"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gruppeMedTilgangDefinisjon"
                }
              }
            }
          }
        }
      }
    },
    "/kompetent-synkronisering/konfigurasjon/api/v1/{fiksOrgId}/grupper/tilgang/{gruppeId}": {
      "delete": {
        "description": "Sletter en grupper gitt id",
        "operationId": "slettGruppeTilgang",
        "tags": [
          "grupper"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrgId",
            "description": "Organisasjonen sin fiksOrgId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "gruppeId",
            "description": "gruppeId-en til gruppe som skal fjernes tilgang på",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Gruppe med tilgang er slettet"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "gruppeMedTilgangDefinisjon": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "gruppeId": {
            "type": "string",
            "format": "uuid"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "kildeId": {
            "type": "string",
            "format": "uuid"
          },
          "medlemmer": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "required": [
          "gruppeId",
          "fiksOrgId",
          "kildeId"
        ]
      },
      "nyGruppeMedTilgang": {
        "type": "object",
        "properties": {
          "kildeId": {
            "type": "string",
            "format": "uuid"
          },
          "gruppeId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "kildeId",
          "gruppeId"
        ]
      },
      "gruppe": {
        "type": "object",
        "properties": {
          "gruppeId": {
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "type": "string"
          },
          "kildeId": {
            "type": "string",
            "format": "uuid"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "gruppeId",
          "kildeId",
          "fiksOrgId",
          "navn"
        ]
      },
      "KonfigurasjonResponse": {
        "type": "object",
        "properties": {
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "alleBrukere": {
            "type": "boolean"
          },
          "kilde": {
            "$ref": "#/components/schemas/KildesystemResponse"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "alleBrukere",
          "fiksOrgId",
          "kilde"
        ]
      },
      "KildesystemResponse": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "navn",
          "fiksOrgId",
          "id"
        ]
      },
      "KonfigurasjonRequest": {
        "type": "object",
        "properties": {
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "kildeId": {
            "type": "string",
            "format": "uuid"
          },
          "alleBrukere": {
            "type": "boolean"
          }
        },
        "required": [
          "alleBrukere",
          "formatId",
          "kildeId",
          "fiksOrgId"
        ]
      }
    }
  }
}