{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Person administrasjon service V2",
    "description" : "Fiks Konfigurasjon",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks@ks.no"
    },
    "version" : "v2"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  } ],
  "tags" : [ {
    "name" : "PersonAdministrasjonV2",
    "description" : "API for administrasjon av personer og tilganger"
  } ],
  "paths" : {
    "/konfigurasjon/api/v2/fiksorgs/{fiksOrg}/administratorer" : {
      "get" : {
        "tags" : [ "PersonAdministrasjonV2" ],
        "summary" : "Henter FiksOrg administratorer",
        "operationId" : "hentFiksOrgAdministratorer",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Administratorer på FiksOrg",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FiksOrgAdministratorerV2"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "PersonAdministrasjonV2" ],
        "summary" : "Legger til FiksOrg administrator",
        "operationId" : "giFiksOrgAdministratorTilgang",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddFiksOrgAdminRequestV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Person som er lagt til som administrator på FiksOrg",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonV2"
                }
              }
            }
          },
          "403" : {
            "description" : "Utførende person må være administrator på FiksOrg"
          }
        }
      }
    },
    "/konfigurasjon/api/v2/fiksorgs/{fiksOrg}/administratorer/delete" : {
      "post" : {
        "tags" : [ "PersonAdministrasjonV2" ],
        "summary" : "Fjerner FiksOrg administrator",
        "operationId" : "slettFiksOrgAdministratorTilgang",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RemoveFiksOrgAdminRequestV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Person som er fjernet som administrator på FiksOrg",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonV2"
                }
              }
            }
          },
          "403" : {
            "description" : "Utførende person må være administrator på FiksOrg"
          }
        }
      }
    },
    "/konfigurasjon/api/v2/fiksorgs/{fiksOrg}/personer/get" : {
      "post" : {
        "tags" : [ "PersonAdministrasjonV2" ],
        "summary" : "Henter person",
        "operationId" : "hentPerson",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PersonGetRequestV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Person med forespurte fødselsnummer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonV2"
                }
              }
            }
          }
        }
      }
    },
    "/konfigurasjon/api/v2/fiksorgs/{fiksOrg}/personer" : {
      "post" : {
        "tags" : [ "PersonAdministrasjonV2" ],
        "summary" : "Oppretter en person på FiksOrg",
        "operationId" : "opprettPerson",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PersonCreateRequestV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Den opprettede personen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonV2"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "PersonAdministrasjonV2" ],
        "summary" : "Oppdaterer person",
        "operationId" : "oppdaterPerson",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PersonUpdateRequestV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Den oppdaterte personen",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonV2"
                }
              }
            }
          }
        }
      }
    },
    "/konfigurasjon/api/v2/fiksorgs/{fiksOrg}/tjenester/{tjenesteType}/administratorer" : {
      "get" : {
        "tags" : [ "PersonAdministrasjonV2" ],
        "summary" : "Henter alle administratorer på tjenesten",
        "operationId" : "hentTjenesteAdministratorer",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tjenesteType",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Administratorer på tjenesten",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TjenesteAdministratorerV2"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "PersonAdministrasjonV2" ],
        "summary" : "Legger til person som tjeneste administrator",
        "operationId" : "giTjenesteAdministratorTilgang",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tjenesteType",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddTjenesteAdminRequestV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Person som er lagt til som administrator på tjenesten",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonV2"
                }
              }
            }
          },
          "403" : {
            "description" : "Utførende person må være administrator på tjenesten"
          }
        }
      }
    },
    "/konfigurasjon/api/v2/fiksorgs/{fiksOrg}/tjenester/{tjenesteType}/administratorer/delete" : {
      "post" : {
        "tags" : [ "PersonAdministrasjonV2" ],
        "summary" : "Fjerner person som administrator på tjenesten",
        "operationId" : "slettTjenesteAdministratorTilgang",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tjenesteType",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RemoveTjenesteAdminRequestV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Person som er fjernet som administrator på tjenesten",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonV2"
                }
              }
            }
          },
          "403" : {
            "description" : "Utførende person må være administrator på tjenesten"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "PersonV2" : {
        "required" : [ "fiksOrg", "fnr", "navn" ],
        "type" : "object",
        "properties" : {
          "fiksOrg" : {
            "type" : "string",
            "description" : "Personens tilknyttede fiksOrg",
            "format" : "uuid"
          },
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummeret til personen."
          },
          "navn" : {
            "type" : "string",
            "description" : "Personens fulle navn."
          }
        },
        "description" : "En person med tilhørende kontaktinformasjon."
      },
      "AddFiksOrgAdminRequestV2" : {
        "required" : [ "fnr", "navn" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummeret til personen."
          },
          "navn" : {
            "maxLength" : 150,
            "type" : "string",
            "description" : "Personens fulle navn."
          }
        },
        "description" : "En forespørsel om å legge en person til som administrator på FiksOrg."
      },
      "FiksOrgAdministratorerV2" : {
        "required" : [ "fiksOrg", "fiksOrgAmdinistratorer" ],
        "type" : "object",
        "properties" : {
          "fiksOrgAmdinistratorer" : {
            "type" : "array",
            "description" : "Personer som er FiksOrg administratorer",
            "items" : {
              "$ref" : "#/components/schemas/PersonV2"
            }
          },
          "fiksOrg" : {
            "type" : "string",
            "description" : "FiksOrg som fiksOrgAmdinistratorer har administrator rettigheter på",
            "format" : "uuid"
          }
        },
        "description" : "Liste over personer som har administrator rettigheter på FiksOrg"
      },
      "RemoveFiksOrgAdminRequestV2" : {
        "required" : [ "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummeret til personen."
          }
        },
        "description" : "En forespørsel om å fjerne en person som administrator på FiksOrg."
      },
      "PersonGetRequestV2" : {
        "required" : [ "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer"
          }
        },
        "description" : "En forespørsel om å hente en person"
      },
      "PersonUpdateRequestV2" : {
        "required" : [ "fnr", "navn" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer"
          },
          "navn" : {
            "maxLength" : 450,
            "minLength" : 2,
            "type" : "string",
            "description" : "Personens fulle navn."
          }
        },
        "description" : "En forespørsel om å oppdatere en ekisterende person."
      },
      "PersonCreateRequestV2" : {
        "required" : [ "fnr", "navn" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummeret til personen."
          },
          "navn" : {
            "maxLength" : 450,
            "minLength" : 2,
            "type" : "string",
            "description" : "Personens fulle navn."
          }
        },
        "description" : "En forespørsel om å opprette en person."
      },
      "AddTjenesteAdminRequestV2" : {
        "required" : [ "fnr", "navn" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummeret til personen."
          },
          "navn" : {
            "maxLength" : 150,
            "type" : "string",
            "description" : "Personens fulle navn."
          }
        },
        "description" : "En forespørsel om å legge en person til som administrator på tjeneste."
      },
      "TjenesteAdministratorerV2" : {
        "required" : [ "fiksOrg", "tjenesteAdministratorer", "tjenesteType" ],
        "type" : "object",
        "properties" : {
          "tjenesteAdministratorer" : {
            "type" : "array",
            "description" : "Personer som er administratorer på tjeneste for FiksOrg",
            "items" : {
              "$ref" : "#/components/schemas/PersonV2"
            }
          },
          "fiksOrg" : {
            "type" : "string",
            "description" : "FiksOrg",
            "format" : "uuid"
          },
          "tjenesteType" : {
            "type" : "string",
            "description" : "Tjenestetype"
          }
        },
        "description" : "Liste over personer som har administrator rettigheter på tjenestetype under FiksOrg"
      },
      "RemoveTjenesteAdminRequestV2" : {
        "required" : [ "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummeret til personen."
          }
        },
        "description" : "En forespørsel om å fjerne en person som administrator på tjeneste."
      }
    }
  }
}