{
  "openapi": "3.0.3",
  "info": {
    "title": "KS FIKS: Konsesjon service",
    "description": "Konsesjon service",
    "contact": {
      "name": "Fiks konsesjon",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ksdigital.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.test.fiks.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "tags": [
    {
      "name": "KonsesjonAvklaring",
      "description": "API for konsesjonsavklaring"
    }
  ],
  "paths": {
    "/konsesjon/api/v1/avklaring/{avklaringsId}": {
      "get": {
        "tags": [
          "KonsesjonAvklaring"
        ],
        "description": "Hent konsesjon",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AvklaringsId"
            }
          }
        ],
        "operationId": "getKonsesjon",
        "responses": {
          "200": {
            "description": "Hent konsesjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Konsesjon"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendom": {
      "get": {
        "tags": [
          "Soek"
        ],
        "description": "Søk eiendom",
        "operationId": "soekEiendom",
        "parameters": [
          {
            "in": "query",
            "name": "soek",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eiendommer som traff med søk",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Eiendom"
                  },
                  "minItems": 1
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen eiendommer som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendom/{knr}/{gnr}/{bnr}/{fnr}/{snr}/": {
      "get": {
        "tags": [
          "Soek"
        ],
        "description": "Hent eiendom",
        "operationId": "hentEiendom",
        "parameters": [
          {
            "in": "path",
            "name": "knr",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "gnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "bnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "fnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "snr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eiendommer som traff med søk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eiendom"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen eiendommer som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/erverver/soek": {
      "post": {
        "tags": [
          "Soek"
        ],
        "description": "Søk på erverver",
        "operationId": "soekErverver",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "Fnr": {
                    "type": "string",
                    "required": [
                      "true"
                    ],
                    "example": "01234567890",
                    "maxLength": 11
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "søk erverver",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erverver"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen erverver som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/avklaring/opprett": {
      "post": {
        "tags": [
          "KonsesjonAvklaring"
        ],
        "description": "Opprett konsesjon",
        "operationId": "opprettKonsesjonsAvklaring",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsesjonsAvklaringOpprettelse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Konsesjonsavklaring har blitt opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonReferanse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt - Det finnes allerede en konsesjonsavklaring for denne eiendommen og erververen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/avklaring/{avklaringsId}/status": {
      "get": {
        "tags": [
          "KonsesjonAvklaring"
        ],
        "description": "Hent konsesjonsavklaringsstatus",
        "operationId": "getAvklaringStatus",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AvklaringsId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status for konsesjonsavklaringsøknad hentet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonStatus"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/avklaring/{avklaringsId}/signer": {
      "post": {
        "tags": [
          "KonsesjonAvklaring"
        ],
        "description": "Signer endpoint",
        "operationId": "signerKonsesjon",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "signering innsendt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/egenerklaering/start/{kommuneNummer}/{gaardsNummer}/{bruksNummer}/{festeNummer}/{seksjonsNummer}": {
      "post": {
        "tags": [
          "Egenerklaering"
        ],
        "description": "Start egenerklaering",
        "operationId": "startEgenerklaering",
        "parameters": [
          {
            "name": "kommuneNummer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 4,
              "maxLength": 4
            }
          },
          {
            "name": "gaardsNummer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 999999,
              "minimum": 1
            }
          },
          {
            "name": "bruksNummer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 999999,
              "minimum": 1
            }
          },
          {
            "name": "festeNummer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 999999,
              "minimum": 0
            }
          },
          {
            "name": "seksjonsNummer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 999999,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Soeknad har blitt opprettet og startet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonStatus"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/egenerklaering/{avklaringsId}/skjemadata": {
      "get": {
        "tags": [
          "Egenerklaering"
        ],
        "description": "Henter data fra LDIR for en startet prosess",
        "operationId": "getEgenerklaeringSkjemadata",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Innhentet skjemadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EiendomsDataMedId"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke egenerklaering som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/egenerklaering/{avklaringsId}/presjekk": {
      "post": {
        "tags": [
          "Egenerklaering"
        ],
        "description": "Kjør presjekk for egenerklaering",
        "operationId": "presjekkEgenerklaering",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Presjekk fullført",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonStatus"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/egenerklaering/{avklaringsId}/hovedsjekk": {
      "post": {
        "tags": [
          "Egenerklaering"
        ],
        "description": "Kjør hovedsjekk for egenerklaering",
        "operationId": "hovedsjekkEgenerklaering",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErververIdMedEierandel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Hovedsjekk fullført",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonStatus"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/soeknad/start": {
      "post": {
        "tags": [
          "Soeknad"
        ],
        "description": "Starter prosessen for å fylle ut og sende inn en konsesjonssøknad",
        "operationId": "startSoeknad",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartSoeknad"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Kallet har startet en søknadsprosess og returnerer en referanse til den opprettede søknaden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonStatus"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen konsesjonsavklaring som matchet søknadsdataene i forespørselen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/soeknad/{soeknadsId}/skjemadata": {
      "get": {
        "tags": [
          "Soeknad"
        ],
        "description": "Henter data fra LDIR for en påbegynt søknad",
        "operationId": "getSkjemadata",
        "parameters": [
          {
            "name": "soeknadsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data hentet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoeknadInnhentetData"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen konsesjonsavklaring som matchet søknadsdataene i forespørselen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt – Når data innhenting ikke er ferdig og status er fremdeles INNHENTER_DATA",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/soeknad/{soeknadsId}/skjema": {
      "post": {
        "tags": [
          "Soeknad"
        ],
        "description": "Sender inn endelig søknad til LDIR",
        "operationId": "sendSoeknad",
        "parameters": [
          {
            "name": "soeknadsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SoeknadSkjemaData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Søknad sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InnsendtSoeknadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen konsesjonsavklaring som matchet søknadsdataene i forespørselen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt – Når data innhenting ikke er ferdig og status er fremdeles INNHENTER_DATA",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/soeknad/{soeknadsId}/status": {
      "get": {
        "tags": [
          "Soeknad"
        ],
        "description": "Henter status for en påbegynt søknad",
        "operationId": "getSoeknadStatus",
        "parameters": [
          {
            "name": "soeknadsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status hentet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusPaaPaabegyntSkjema"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen konsesjonsavklaring som matchet søknadsdataene i forespørselen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendom/boplikt/{knr}/{gnr}/{bnr}/{fnr}/{snr}/": {
      "get": {
        "tags": [
          "KonsesjonAvklaring"
        ],
        "description": "Returnerer om en eiendom har boplikt eller ikke",
        "operationId": "getBoplikt",
        "parameters": [
          {
            "in": "path",
            "name": "knr",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "gnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "bnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "fnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "snr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendom/egenerklaering/{knr}/{gnr}/{bnr}/{fnr}/{snr}/": {
      "get": {
        "tags": [
          "KonsesjonAvklaring"
        ],
        "description": "Returnerer om en eiendom trenger en egenerklæring eller ikke",
        "operationId": "getEgenerklaering",
        "parameters": [
          {
            "in": "path",
            "name": "knr",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "gnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "bnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "fnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "snr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Avklaring": {
        "type": "object",
        "properties": {
          "erverver": {
            "type": "string"
          },
          "avklaringsId": {
            "$ref": "#/components/schemas/AvklaringsId"
          }
        }
      },
      "AvklaringsId": {
        "type": "string",
        "format": "uuid"
      },
      "Broek": {
        "type": "object",
        "properties": {
          "teller": {
            "type": "integer",
            "minimum": 1
          },
          "nevner": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "Eiendom": {
        "type": "object",
        "properties": {
          "matrikkelNr": {
            "type": "string",
            "pattern": "^\\d{4}(-|/)\\d{1,6}/\\d{1,6}/d{1,6}/d{1,6}$"
          },
          "adressenavn": {
            "type": "string",
            "description": "Navn på gate, veg, sti, plass eller område som er ført i matrikkelen (eksempel Sørumvegen)."
          },
          "adressetekst": {
            "type": "string",
            "description": "Del av offisiell adresse, men uten bruksenhetsnummer som ligger til bruksenheter/boliger (ligger her som egenskap til vegadressen) Eksempel: \"Storgata 2B\" eller \"123/4-2\" Der det i tillegg er adressetilleggsnavn: \"Haugen, Storgata 2B\" eller \"Midtgard, 123/4-2\""
          },
          "adressetilleggsnavn": {
            "type": "string",
            "description": "Nedarvet bruksnavn, navn på en institusjon eller bygning eller grend brukt som del av den offisielle adressen"
          },
          "adressekode": {
            "type": "integer",
            "format": "int32",
            "description": "Nummer som entydig identifiserer adresserbare gater, veger, stier, plasser og områder som er ført i matrikkelen innen kommunen"
          },
          "nummer": {
            "type": "integer",
            "format": "int32",
            "description": "Del av adressenummer (husnummer) som er et nummer og eventuelt en bokstav, f.eks 23B"
          },
          "bokstav": {
            "type": "string",
            "description": "Del av adressenummer (husnummer) som er et nummer og en eventuelt en bokstav, f.eks 23B. For å kun søke på adresser uten noen bokstav så inkluderer man \"bokstav=\" i søkestrengen uten å fylle inn noen verdi."
          },
          "kommunenummer": {
            "type": "string",
            "description": "Nummerering av kommunen i henhold til Statistisk sentralbyrå sin offisielle liste. Tekstverdi som må bestå av 4 tall. 0301 er for eksempel gyldig, mens 301 er ikke gyldig."
          },
          "kommunenavn": {
            "type": "string",
            "description": "Navn (norsk) på en kommune"
          },
          "gardsnummer": {
            "type": "integer",
            "format": "int32",
            "description": "Del av en matrikkeladresse der vegadresse ikke er innført, - eller vegadressens knytning til matrikkelenhet (grunneiendom eller feste, - gir her ikke knyting mot seksjon)"
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32",
            "description": "Del av en matrikkeladresse der vegadresse ikke er innført, - eller vegadressens knytning til matrikkelenhet (grunneiendom eller feste, - gir her ikke knyting mot seksjon)"
          },
          "festenummer": {
            "type": "integer",
            "format": "int32",
            "description": "Del av en matrikkeladresse der vegadresse ikke er innført, - eller vegadressens knytning til matrikkelenhet (grunneiendom eller feste, - gir her ikke knytning mot seksjon)"
          },
          "undernummer": {
            "type": "integer",
            "format": "int32",
            "description": "Fortløpende nummerering av matrikkeladresser med samme gårds-, bruks- og festenummer. Også kalt seksjonsnummer"
          },
          "bruksenhetsnummer": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1
          },
          "poststed": {
            "type": "string",
            "description": "Navn på poststed i henhold til Postens egne lister"
          },
          "postnummer": {
            "type": "string",
            "description": "Unik identifikasjon av et postnummerområde. Tekstverdi som må bestå av 4 tall. 0340 er for eksempel gyldig, mens 340 er ikke gyldig. Postnummer som identifiserer postboksanlegg er ikke med og vil ikke gi treff."
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32",
            "description": "Seksjonsnummer tildeles når en eiendom seksjoneres, slik at hver eierseksjon får et eget seksjonsnummer i tillegg til eiendommens gårds- og bruksnummer."
          },
          "representasjonspunkt": {
            "type": "object",
            "description": "Geolokasjon for matrikkelenhet.",
            "properties": {
              "lat": {
                "type": "number"
              },
              "lon": {
                "type": "number"
              }
            }
          },
          "adressetekstutenadressetilleggsnavn": {
            "type": "string",
            "description": "Del av offisiell adresse, men uten bruksenhetsnummer som ligger til bruksenheter/boliger og adressetilleggsnavn Eksempel: \"Storgata 2B\" eller \"123/4-2\""
          },
          "stedfestingverifisert": {
            "type": "boolean",
            "description": "Angivelse om stedfestingen (koordinatene) er kontrollert og funnet i orden (verifisert)"
          },
          "oppdateringsdato": {
            "type": "string",
            "format": "date-time",
            "description": "Dato for siste endring på objektdataene"
          }
        }
      },
      "Erverver": {
        "type": "object",
        "properties": {
          "fnr": {
            "type": "string"
          },
          "navn": {
            "type": "string"
          },
          "adresselinje1": {
            "type": "string"
          },
          "adresselinje2": {
            "type": "string"
          },
          "adresselinje3": {
            "type": "string"
          },
          "postnummer": {
            "type": "string"
          },
          "poststed": {
            "type": "string"
          },
          "andel": {
            "$ref": "#/components/schemas/Broek"
          }
        }
      },
      "Konsesjon": {
        "type": "object",
        "properties": {
          "avklaringsId": {
            "$ref": "#/components/schemas/AvklaringsId"
          },
          "oppretter": {
            "type": "string"
          },
          "opprettet": {
            "type": "string"
          },
          "eiendom": {
            "type": "object"
          },
          "erververe": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erverver"
            },
            "minItems": 1
          }
        }
      },
      "KonsesjonsAvklaringOpprettelse": {
        "type": "object",
        "required": [
          "matrikkelnummer"
        ],
        "properties": {
          "matrikkelnummer": {
            "$ref": "#/components/schemas/MatrikkelNummer"
          }
        }
      },
      "KonsesjonReferanse": {
        "type": "object",
        "required": [
          "avklaringsId"
        ],
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "KonsesjonStatus": {
        "type": "object",
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "OPPRETTET",
              "PRESJEKK",
              "HOVEDSJEKK",
              "MANUELL_BEHANDLING",
              "TIL_GODKJENNING",
              "UKJENT"
            ]
          }
        }
      },
      "MatrikkelNummer": {
        "type": "string",
        "pattern": "^\\d{4}(/|-)\\d{1,6}\\/\\d{1,6}\\/\\d{1,6}\\/\\d{1,6}$",
        "default": "1234/1/2/3/4"
      },
      "EiendomsDataMedId": {
        "type": "object",
        "properties": {
          "eiendomsId": {
            "$ref": "#/components/schemas/EiendomsId"
          },
          "eiendomsData": {
            "$ref": "#/components/schemas/EiendomsData"
          }
        }
      },
      "EiendomsData": {
        "type": "object",
        "properties": {
          "bygningerPaaEiendommen": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "arealPaaEiendommen": {
            "type": "number",
            "format": "double"
          },
          "arealFullOgOveflatedyrketJord": {
            "type": "number",
            "format": "double"
          },
          "arealProduktivSkogPaaEiendommen": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "arealFullOgOveflatedyrketJord",
          "arealPaaEiendommen",
          "arealProduktivSkogPaaEiendommen"
        ]
      },
      "ErververIdMedEierandel": {
        "type": "object",
        "description": "Erververid og eierskapsandel for en erverver i en egenerklæring",
        "properties": {
          "erververId": {
            "$ref": "#/components/schemas/ErververId"
          },
          "eierandel": {
            "$ref": "#/components/schemas/Eierandel"
          }
        }
      },
      "ErververId": {
        "type": "object",
        "properties": {
          "fodselsnummer": {
            "type": "string",
            "maxLength": 11,
            "minLength": 11
          },
          "organisasjonsnummer": {
            "type": "string",
            "maxLength": 9,
            "minLength": 9
          }
        },
        "required": [
          "fodselsnummer"
        ]
      },
      "EiendomsId": {
        "type": "object",
        "required": [
          "kommuneNummer",
          "gaardsNummer",
          "bruksNummer"
        ],
        "properties": {
          "kommuneNummer": {
            "type": "string",
            "minLength": 4,
            "maxLength": 4
          },
          "gaardsNummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 999999
          },
          "bruksNummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 999999
          },
          "festeNummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 999999
          },
          "seksjonsNummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 999999
          }
        }
      },
      "Eierandel": {
        "type": "object",
        "properties": {
          "teller": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          },
          "nevner": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          }
        }
      },
      "StartSoeknad": {
        "type": "object",
        "required": [
          "soekerInformasjon",
          "overdragerInformasjon",
          "eiendomsInformasjon"
        ],
        "properties": {
          "soekerInformasjon": {
            "$ref": "#/components/schemas/ErververId"
          },
          "overdragerInformasjon": {
            "$ref": "#/components/schemas/ErververId"
          },
          "eiendomsInformasjon": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EiendomsId"
            },
            "minItems": 1
          }
        }
      },
      "SoeknadInnhentetData": {
        "type": "object",
        "properties": {
          "soekerFulltNavn": {
            "type": "string"
          },
          "soekerAdresse": {
            "type": "string"
          },
          "soekerFoedselsnummer": {
            "type": "string"
          },
          "soekerOrgnummer": {
            "type": "string"
          },
          "soekerEpost": {
            "type": "string"
          },
          "overdragerNavn": {
            "type": "string"
          },
          "overdragerAdresse": {
            "type": "string"
          },
          "overdragerFoedselsnummer": {
            "type": "string"
          },
          "overdragerOrgnummer": {
            "type": "string"
          },
          "innhentedeEiendommer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InnhentetEiendom"
            }
          }
        }
      },
      "InnhentetEiendom": {
        "type": "object",
        "properties": {
          "bygningsType": {
            "type": "string"
          },
          "grunnflateKvadratmeter": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "StatusPaaPaabegyntSkjema": {
        "type": "object",
        "properties": {
          "konsesjonsavklaringId": {
            "type": "string",
            "format": "uuid"
          },
          "paabegyntSkjemaStatus": {
            "type": "string"
          }
        }
      },
      "SoeknadSkjemaData": {
        "type": "object",
        "description": "Innsendt søknad data",
        "properties": {
          "soekerFulltNavn": {
            "type": "string"
          },
          "soekerAdresse": {
            "type": "string"
          },
          "soekerFoedselsnummer": {
            "type": "string"
          },
          "soekerOrgnummer": {
            "type": "string"
          },
          "soekerEpost": {
            "type": "string"
          },
          "overdragerNavn": {
            "type": "string"
          },
          "overdragerAdresse": {
            "type": "string"
          },
          "overdragerFoedselsnummer": {
            "type": "string"
          },
          "overdragerOrgnummer": {
            "type": "string"
          },
          "betegnelseEiendomEllerRettighet": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "kjoepeEllerLeieSum": {
            "type": "number",
            "format": "double"
          },
          "kaarFemAarligVerdi": {
            "type": "string"
          },
          "kjoepeSumLoesoere": {
            "type": "number",
            "format": "double"
          },
          "kommune": {
            "type": "string"
          },
          "fylke": {
            "type": "string"
          },
          "arealKvadratmeter": {
            "type": "number",
            "format": "double"
          },
          "arealFordeling": {
            "type": "string"
          },
          "skogbruksPlan": {
            "$ref": "#/components/schemas/SkogbruksPlan"
          },
          "eksisterendeBebyggelse": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EksisterendeBebyggelse"
            }
          },
          "annenBebyggelse": {
            "type": "string"
          },
          "rettigheter": {
            "type": "string"
          },
          "eierEllerLeierIKommune": {
            "$ref": "#/components/schemas/JaNeiForklaring"
          },
          "eierEllerLeierAndreKommuner": {
            "$ref": "#/components/schemas/JaNeiForklaring"
          },
          "eiendomsBrukBeskrivelse": {
            "type": "string"
          },
          "erverversPlanForBruk": {
            "type": "string"
          },
          "jordSkogsbrukseiendommer": {
            "$ref": "#/components/schemas/JordSkogsbrukseiendommer"
          }
        }
      },
      "SkogbruksPlan": {
        "type": "object",
        "properties": {
          "hogstklasse1": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse2": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse3": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse4": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse5": {
            "$ref": "#/components/schemas/Hogstklasse"
          }
        }
      },
      "Hogstklasse": {
        "description": "Hogstklasse, enten presis eller gruppevis",
        "oneOf": [
          {
            "$ref": "#/components/schemas/HogstklassePresis"
          },
          {
            "$ref": "#/components/schemas/HogstklasseGruppevis"
          }
        ]
      },
      "HogstklasseGruppevis": {
        "type": "object",
        "description": "Gruppevis angivelse av hogstklasse",
        "properties": {
          "nivaa": {
            "type": "string",
            "enum": [
              "LAV",
              "MIDDELS",
              "HOEY"
            ]
          }
        }
      },
      "HogstklassePresis": {
        "type": "object",
        "description": "Presis angivelse av hogstklasse",
        "properties": {
          "gran": {
            "type": "integer",
            "format": "int32",
            "maximum": 26,
            "minimum": 6
          },
          "furu": {
            "type": "integer",
            "format": "int32",
            "maximum": 26,
            "minimum": 6
          },
          "bjoerk": {
            "type": "integer",
            "format": "int32",
            "maximum": 26,
            "minimum": 6
          }
        }
      },
      "EksisterendeBebyggelse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "grunnflateKvadratmeter": {
            "type": "number",
            "format": "double"
          },
          "byggeaar": {
            "type": "integer",
            "format": "int32"
          },
          "antallEtasjer": {
            "type": "integer",
            "format": "int32"
          },
          "tilstand": {
            "type": "string",
            "enum": [
              "GOD",
              "MIDDELS",
              "DAARLIG"
            ]
          }
        }
      },
      "JaNeiForklaring": {
        "type": "object",
        "properties": {
          "valg": {
            "type": "boolean"
          },
          "forklaring": {
            "type": "string"
          }
        }
      },
      "JordSkogsbrukseiendommer": {
        "type": "object",
        "properties": {
          "gaardsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32"
          },
          "soekernsKvalifikasjoner": {
            "type": "string"
          },
          "forpliktelseTilBosetning": {
            "type": "string",
            "enum": [
              "JA",
              "NEI",
              "IKKE_BOSETTE"
            ]
          },
          "annenFastEiendomIKommunen": {
            "$ref": "#/components/schemas/JaNeiForklaring"
          },
          "flereSoekere": {
            "type": "string"
          }
        }
      },
      "InnsendtSoeknadResponse": {
        "type": "object",
        "properties": {
          "konsesjonsavklaringId": {
            "type": "string",
            "format": "uuid"
          },
          "innsendtSoeknadResponseType": {
            "type": "string"
          }
        }
      }
    }
  }
}