{
  "openapi": "3.0.3",
  "info": {
    "title": "KS FIKS: Konsesjon megler-API",
    "description": "API for eiendomsmeglere som skal avklare konsesjonsforhold ved salg av eiendom. Avklaringen gjøres mot Landbruksdirektoratet (LDIR).",
    "contact": {
      "name": "Fiks konsesjon",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ksdigital.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.test.fiks.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "tags": [
    {
      "name": "Eiendomssalg - Konsesjonsavklaring",
      "description": "API for konsesjonsavklaring ved eiendomssalg"
    }
  ],
  "paths": {
    "/konsesjon/api/v1/eiendomssalg/egenerklaering/paakrevd": {
      "get": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "summary": "Sjekk om egenerklæring kreves",
        "description": "Slår opp om en egenerklæring er påkrevd for eiendommen, og om eiendommen har boplikt. Kallet oppretter ingen konsesjonsavklaring og kan brukes før en avklaring startes.",
        "operationId": "hentEgenerklaeringPaakrevdOgBoplikt",
        "parameters": [
          {
            "name": "kommunenummer",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Kommunenummer"
            }
          },
          {
            "name": "gaardsnummer",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Gaardsnummer"
            }
          },
          {
            "name": "bruksnummer",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Bruksnummer"
            }
          },
          {
            "name": "festenummer",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Festenummer"
            }
          },
          {
            "name": "seksjonsnummer",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Seksjonsnummer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Krav om egenerklæring og boplikt hentet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EgenerklaeringPaakrevdOgBopliktResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert – bearer token mangler eller er ugyldig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen eiendommer som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendomssalg/avklaring/start": {
      "post": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "summary": "Opprett konsesjonsavklaring",
        "description": "Oppretter en konsesjonsavklaring for én eiendom og returnerer avklaringsId-en som brukes i de videre kallene. Datainnhenting om eiendommen starter i bakgrunnen. Følg med på status til den ikke lenger er INNHENTER_DATA før presjekk kjøres. Erververe oppgis først ved hovedsjekk.",
        "operationId": "opprettKonsesjonsavklaring",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsesjonsavklaringOpprettelse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Konsesjonsavklaring har blitt opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonsavklaringReferanse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert – bearer token mangler eller er ugyldig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendomssalg/avklaring/{avklaringsId}/presjekk": {
      "post": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "summary": "Kjør presjekk",
        "description": "Vurderer ut fra eiendomsdataene om ervervet krever egenerklæring. Krever at datainnhentingen er ferdig. Ved KREVER_IKKE_EGENERKLAERING er ervervet konsesjonsfritt og avklaringen avsluttet. Ved KREVER_EGENERKLAERING fortsetter avklaringen med hovedsjekk.",
        "operationId": "presjekkEgenerklaering",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "description": "ID-en til konsesjonsavklaringen",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Presjekk fullført",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresjekkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert – bearer token mangler eller er ugyldig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt - Datainnhenting pågår fremdeles (status INNHENTER_DATA)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendomssalg/avklaring/{avklaringsId}/hovedsjekk": {
      "post": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "summary": "Kjør hovedsjekk",
        "description": "Sender inn erververne med eierandeler og kjører hovedsjekk av egenerklæringen. Krever at presjekken ga KREVER_EGENERKLAERING. Svaret inneholder ett resultat per erverver. Ved flere erververe kan hver erverver få sin egen avklaringsId, som brukes i de videre kallene for den erververen. Status FERDIGSTILT_AUTOMATISK_GODKJENT eller FERDIGSTILT_TRENGER_MANUELL_OPPFOELGING betyr at egenerklæringen er klar for bekreftelse.",
        "operationId": "hovedsjekkEgenerklaering",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "description": "ID-en til konsesjonsavklaringen",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minItems": 1,
                "items": {
                  "$ref": "#/components/schemas/ErververMedEierandel"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Hovedsjekk fullført",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HovedsjekkResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert – bearer token mangler eller er ugyldig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendomssalg/avklaring/{avklaringsId}/pdf": {
      "get": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "summary": "Hent PDF av egenerklæringen",
        "description": "Returnerer egenerklæringen som PDF. PDF-en er tilgjengelig når hovedsjekken er fullført og avklaringen har status KLAR_FOR_BEKREFTELSE.",
        "operationId": "hentPdf",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "description": "ID-en til konsesjonsavklaringen",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF generert",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert – bearer token mangler eller er ugyldig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt - PDF er ikke klar, avklaringen har ikke status KLAR_FOR_BEKREFTELSE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendomssalg/avklaring/{avklaringsId}/send": {
      "post": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "summary": "Sender konsesjonsavklaring til erververe",
        "operationId": "sendEgenerklaering",
        "parameters": [
          {
            "name": "avklaringsId",
            "in": "path",
            "description": "UUID-en til konsesjonsavklaring",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Konsesjonsavklaring sendt"
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert – bearer token mangler eller er ugyldig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt - Har ikke passert presjekk enda",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendomssalg/avklaring/godkjenn": {
      "post": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "description": "Godkjenner konsesjonsavklaringer, sender dem til Fiks-Arkiv, og oppretter oppgave i Min Kommune",
        "operationId": "godkjennKonsesjonsavklaring",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GodkjenningsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Konsesjonsavklaring godkjent og sendt til Fiks-Arkiv, og oppgave opprettet i Min Kommune",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GodkjenningsResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert – bearer token mangler eller er ugyldig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke en eller flere av konsesjonsavklaringene som matchet de gitte id-ene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendomssalg/avklaring/{avklaringsId}/status": {
      "get": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "summary": "Hent status for konsesjonsavklaring",
        "description": "Returnerer hvor langt konsesjonsavklaringen har kommet. Brukes blant annet til å vente på at datainnhentingen etter opprettelse er ferdig (status er ikke lenger INNHENTER_DATA).",
        "operationId": "hentKonsesjonsavklaringStatus",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "description": "ID-en til konsesjonsavklaringen",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status for konsesjonsavklaring hentet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonsavklaringStatus"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert – bearer token mangler eller er ugyldig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BopliktResponse": {
        "type": "object",
        "properties": {
          "harBoplikt": {
            "type": "string",
            "enum": [
              "JA",
              "NEI",
              "MULIGENS"
            ]
          },
          "bopliktForklaringResponse": {
            "type": "string",
            "enum": [
              "NEDSATT_KONSESJONSGRENSE_DEKKER_IKKE_HELE_EIENDOMMEN",
              "HVIS_IKKE_ARVER_FRA_SLEKTSKAP",
              "HVIS_EIENDOM_UNDER_OPPFOERING_OG_I_OMRAADE_REGULERT_TIL_BOLIGFORMAAL",
              "HVIS_UBEBYGD_EIENDOM_I_OMRAADE_REGULERT_TIL_BOLIGFORMAAL",
              "BRUKT_SOM_HELAARSBOLIG"
            ]
          }
        }
      },
      "EgenerklaeringPaakrevdOgBopliktResponse": {
        "type": "object",
        "properties": {
          "egenerklaeringPaakrevd": {
            "type": "string",
            "description": "JA: egenerklæring må sendes inn for eiendommen. NEI: egenerklæring kreves ikke. IKKE_TILLATT: eiendommen er en seksjon, og egenerklæring kan ikke sendes inn for en enkelt seksjon. Den må i stedet sendes inn for hele grunneiendommen.",
            "enum": [
              "JA",
              "NEI",
              "IKKE_TILLATT"
            ]
          },
          "boplikt": {
            "$ref": "#/components/schemas/BopliktResponse"
          }
        }
      },
      "PresjekkResponse": {
        "type": "string",
        "enum": [
          "KREVER_IKKE_EGENERKLAERING",
          "DEL_AV_STORRE_LANDBRUKSEIENDOM",
          "KREVER_EGENERKLAERING",
          "KREVER_MANUELL_VURDERING",
          "EIENDOM_ER_SEKSJONERT"
        ]
      },
      "HovedsjekkResponse": {
        "type": "object",
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          },
          "erverver": {
            "$ref": "#/components/schemas/ErververId"
          },
          "innsendtSkjemaStatus": {
            "$ref": "#/components/schemas/InnsendtSkjemaStatus"
          }
        }
      },
      "ErververId": {
        "type": "object",
        "description": "ErververId kan være enten fødselsnummer for person eller organisasjonsnummer for bedrift.",
        "properties": {
          "foedselsnummer": {
            "type": "string",
            "nullable": true,
            "minLength": 11,
            "maxLength": 11,
            "pattern": "^\\d{11}$"
          },
          "organisasjonsnummer": {
            "type": "string",
            "nullable": true,
            "minLength": 9,
            "maxLength": 9,
            "pattern": "^\\d{9}$"
          },
          "navn": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ErververMedEierandel": {
        "type": "object",
        "description": "Erverver og eierskapsandel for en erverver i en egenerklæring",
        "properties": {
          "erverver": {
            "$ref": "#/components/schemas/Erverver"
          },
          "eiendommer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EiendomMedEierandel"
            }
          }
        },
        "required": [
          "erverver",
          "eiendommer"
        ]
      },
      "EiendomMedEierandel": {
        "type": "object",
        "properties": {
          "matrikkelnummer": {
            "$ref": "#/components/schemas/Matrikkelnummer"
          },
          "eierandel": {
            "$ref": "#/components/schemas/Eierandel"
          }
        },
        "required": [
          "matrikkelnummer"
        ]
      },
      "Erverver": {
        "type": "object",
        "required": [
          "erververId",
          "epost"
        ],
        "properties": {
          "erververId": {
            "$ref": "#/components/schemas/ErververId"
          },
          "navn": {
            "type": "string"
          },
          "adresse": {
            "type": "string"
          },
          "postnr": {
            "type": "string"
          },
          "poststed": {
            "type": "string"
          },
          "epost": {
            "type": "string",
            "format": "email",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[A-Za-zæøåÆØÅ0-9_-]+([.+][A-Za-zæøåÆØÅ0-9_-]+)*@[A-Za-zæøåÆØÅ0-9-]+(\\.[A-Za-zæøåÆØÅ0-9-]+)*(\\.[A-Za-z]{2,})$"
          },
          "telefonnummer": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "pattern": "^[+]?[0-9]+([- ][0-9]+)*$"
          },
          "signaturberettigePersoner": {
            "type": "array",
            "description": "Personer som kan signere på vegne av erververen. Påkrevd med minst én person når erververen er en organisasjon.",
            "items": {
              "$ref": "#/components/schemas/SignaturberettigetPerson"
            }
          }
        }
      },
      "SignaturberettigetPerson": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string",
            "minLength": 1
          },
          "foedselsnummer": {
            "type": "string",
            "maxLength": 11,
            "minLength": 11,
            "pattern": "^\\d{11}$"
          },
          "epost": {
            "type": "string",
            "format": "email",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[A-Za-zæøåÆØÅ0-9_-]+([.+][A-Za-zæøåÆØÅ0-9_-]+)*@[A-Za-zæøåÆØÅ0-9-]+(\\.[A-Za-zæøåÆØÅ0-9-]+)*(\\.[A-Za-z]{2,})$"
          },
          "telefonnummer": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "pattern": "^[+]?[0-9]+([- ][0-9]+)*$"
          }
        },
        "required": [
          "navn",
          "foedselsnummer",
          "epost"
        ]
      },
      "Eierandel": {
        "type": "object",
        "required": [
          "teller",
          "nevner"
        ],
        "properties": {
          "teller": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          },
          "nevner": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          }
        }
      },
      "Matrikkelnummer": {
        "type": "object",
        "required": [
          "kommunenummer",
          "gaardsnummer",
          "bruksnummer"
        ],
        "properties": {
          "kommunenummer": {
            "$ref": "#/components/schemas/Kommunenummer"
          },
          "gaardsnummer": {
            "$ref": "#/components/schemas/Gaardsnummer"
          },
          "bruksnummer": {
            "$ref": "#/components/schemas/Bruksnummer"
          },
          "festenummer": {
            "$ref": "#/components/schemas/Festenummer"
          },
          "seksjonsnummer": {
            "$ref": "#/components/schemas/Seksjonsnummer"
          }
        }
      },
      "InnsendtSkjemaStatus": {
        "type": "string",
        "enum": [
          "FERDIGSTILT_AUTOMATISK_GODKJENT",
          "FERDIGSTILT_TRENGER_MANUELL_OPPFOELGING",
          "MANUELL_UTFYLLING_LDIR_360_GROENT",
          "MANUELL_UTFYLLING_BEBYGD_LDIR_356_ROEDT",
          "MANUELL_UTFYLLING_UBEBYGD_LDIR_356_ROEDT",
          "AVVENTER_RELASJONSSJEKK_MED_ODEL",
          "AVVENTER_RELASJONSSJEKK_UTEN_ODEL",
          "AVVENTER_BOPLIKTS_UNNTAK_LDIR_356_ROEDT",
          "AVVENTER_BOPLIKTS_UNNTAK_LDIR_356_ROEDT_UTEN_SLEKTSKAP",
          "TRENGER_BOPLIKT_AVKLARING",
          "TRENGER_KONSESJONSFORHOLD_AVKLARING",
          "TRENGER_MANUELL_UTFYLLING_GRUNNET_TEIGDATA",
          "TRENGER_SOEKNAD"
        ]
      },
      "KonsesjonsavklaringOpprettelse": {
        "type": "object",
        "required": [
          "matrikkelnummer"
        ],
        "properties": {
          "matrikkelnummer": {
            "$ref": "#/components/schemas/Matrikkelnummer"
          }
        }
      },
      "Kommunenummer": {
        "type": "string",
        "description": "Firesifret kommunenummer, f.eks. 0301",
        "minLength": 4,
        "maxLength": 4,
        "pattern": "^[0-9]{4}$"
      },
      "Gaardsnummer": {
        "type": "integer",
        "format": "int32",
        "minimum": 1,
        "maximum": 999999
      },
      "Bruksnummer": {
        "type": "integer",
        "format": "int32",
        "minimum": 1,
        "maximum": 999999
      },
      "Festenummer": {
        "type": "integer",
        "format": "int32",
        "description": "0 betyr at eiendommen ikke er en festegrunn",
        "minimum": 0,
        "maximum": 999999,
        "default": 0
      },
      "Seksjonsnummer": {
        "type": "integer",
        "format": "int32",
        "description": "0 betyr at eiendommen ikke er seksjonert",
        "minimum": 0,
        "maximum": 999999,
        "default": 0
      },
      "KonsesjonsavklaringReferanse": {
        "type": "object",
        "required": [
          "avklaringsId"
        ],
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "KonsesjonsavklaringStatus": {
        "type": "string",
        "enum": [
          "OPPRETTET",
          "INNHENTER_DATA",
          "KLAR_FOR_BEKREFTELSE",
          "FEIL_VED_INNHENTING",
          "PASSERT_PRESJEKK",
          "SENDT_TIL_HOVEDSJEKK",
          "EIENDOM_IKKE_FUNNET",
          "DEL_AV_STORRE_LANDBRUKSEIENDOM",
          "KREVER_IKKE_EGENERKLAERING",
          "KREVER_MANUELL_VURDERING",
          "EIENDOM_ER_SEKSJONERT"
        ]
      },
      "GodkjenningsRequest": {
        "type": "object",
        "required": [
          "avklaringsId"
        ],
        "properties": {
          "avklaringsId": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "GodkjenningsResponse": {
        "type": "object",
        "required": [
          "avklaringsId",
          "erverver",
          "status"
        ],
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          },
          "erverver": {
            "$ref": "#/components/schemas/ErververId"
          },
          "status": {
            "$ref": "#/components/schemas/GodkjenningsStatus"
          }
        }
      },
      "GodkjenningsStatus": {
        "type": "string",
        "enum": [
          "GODKJENT_SENDT_TIL_ARKIV",
          "FEILET_IKKE_SENDT_TIL_ARKIV"
        ]
      },
      "ErrorMessage": {
        "type": "object",
        "description": "Feilmelding fra Fiks-plattformen",
        "externalDocs": {
          "description": "Beskrivelse av feilmeldinger",
          "url": "https://ks-no.github.io/fiks-plattform/integrasjoner/#feilmeldinger"
        },
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Tidspunktet da feilen oppstod, angitt som antall millisekunder siden Unix-epoch.",
            "example": 1767222000000
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP-statuskode for feilen.",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "Standardtekst for HTTP-statuskoden.",
            "example": "Bad Request"
          },
          "errorId": {
            "type": "string",
            "format": "uuid",
            "description": "Unik identifikator for feilen. Kan oppgis ved henvendelser for å spore feilen.",
            "example": "15a92338-8d98-4b05-a8a6-a879913259fd"
          },
          "path": {
            "type": "string",
            "description": "Stien i forespørselen som førte til feilen.",
            "example": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112"
          },
          "originalPath": {
            "type": "string",
            "nullable": true,
            "description": "Opprinnelig forespurt sti før eventuell intern feilhåndtering. Feltet er vanligvis utelatt eller satt til null.",
            "example": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112"
          },
          "message": {
            "type": "string",
            "description": "Menneskeliglesbar melding som beskriver feilen.",
            "example": "Noe gikk galt"
          },
          "errorCode": {
            "type": "string",
            "pattern": "^[A-Z]{1,10}-[0-9]{4}$",
            "description": "Maskinlesbar kode som identifiserer feiltypen. Koden følger formatet <applikasjonsprefiks>-<feilkode>.",
            "example": "FIKS-0001"
          },
          "errorJson": {
            "type": "string",
            "deprecated": true,
            "description": "Felt med ekstra feilinformasjon som en JSON-kodet streng. Strukturen avhenger av errorCode. Nye tjenester skal bruke errorDetails i stedet.",
            "example": "{\"fiksOrgId\": \"1a5038d7-c1fe-4110-9310-fe3b096a0564\", \"externalReference\": \"a8793ee2-b7b2-40a5-9731-51e018244cf4\"}"
          },
          "errorDetails": {
            "type": "object",
            "additionalProperties": true,
            "description": "Maskinlesbar tilleggsinformasjon om feilen. Strukturen avhenger av errorCode.",
            "example": {
              "fiksOrgId": "1a5038d7-c1fe-4110-9310-fe3b096a0564",
              "externalReference": "a8793ee2-b7b2-40a5-9731-51e018244cf4"
            }
          }
        },
        "example": {
          "timestamp": 1767222000000,
          "status": 400,
          "error": "Bad Request",
          "errorId": "15a92338-8d98-4b05-a8a6-a879913259fd",
          "path": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112",
          "message": "Ugyldig forespørsel",
          "errorCode": "FIKS-0001",
          "errorDetails": {
            "fiksOrgId": "1a5038d7-c1fe-4110-9310-fe3b096a0564",
            "externalReference": "a8793ee2-b7b2-40a5-9731-51e018244cf4"
          }
        }
      }
    }
  }
}