{
  "openapi": "3.0.3",
  "info": {
    "title": "KS FIKS: Konsesjon service",
    "description": "Konsesjon service",
    "contact": {
      "name": "Fiks konsesjon",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ksdigital.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.test.fiks.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "tags": [
    {
      "name": "Eiendomssalg - Konsesjonsavklaring",
      "description": "API for konsesjonsavklaring ved eiendomssalg"
    }
  ],
  "paths": {
    "/api/v1/eiendomssalg/egenerklaering/paakrevd": {
      "post": {
        "tags": [
          "Eiendomssalg - Konsesjonsavklaring"
        ],
        "description": "Returns if an egenerklæring is required for the property",
        "operationId": "postEgenerklaeringPaakrevd",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "kommuneNummer": {
                    "type": "string",
                    "minLength": 4,
                    "maxLength": 4
                  },
                  "gaardsNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 999999,
                    "minimum": 1
                  },
                  "bruksNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 999999,
                    "minimum": 1
                  },
                  "festeNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 999999,
                    "minimum": 0
                  },
                  "seksjonsNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 999999,
                    "minimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "erklearing_paakrevd": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen erverver som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/eiendomssalg/boplikt/paakrevd": {
      "post": {
        "tags": [
          "Eiendomssalg"
        ],
        "description": "Returns if an egenerklæring is required for the property",
        "operationId": "postBopliktPaakrevd",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "kommuneNummer": {
                    "type": "string",
                    "minLength": 4,
                    "maxLength": 4
                  },
                  "gaardsNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 999999,
                    "minimum": 1
                  },
                  "bruksNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 999999,
                    "minimum": 1
                  },
                  "festeNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 999999,
                    "minimum": 0
                  },
                  "seksjonsNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 999999,
                    "minimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "boplikt_paakrevd": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen erverver som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
    }
  }
}