{
  "openapi": "3.0.3",
  "info": {
    "title": "KS FIKS: Konsesjon service",
    "description": "Konsesjon service",
    "contact": {
      "name": "Fiks konsesjon",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ksdigital.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.test.fiks.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "tags": [
    {
      "name": "KonsesjonAvklaring",
      "description": "API for konsesjonsavklaring"
    },
    {
      "name": "Egenerklaering",
      "description": "API for egenerklæring"
    },
    {
      "name": "Soeknad",
      "description": "API for konsesjonssøknad"
    },
    {
      "name": "Felles",
      "description": "Felles operasjoner"
    },
    {
      "name": "Soek",
      "description": "Søk etter eiendom og erverver"
    },
    {
      "name": "Eiendom",
      "description": "Eiendomsrelaterte operasjoner"
    }
  ],
  "paths": {
    "/konsesjon-api/v1/soek/eiendom": {
      "get": {
        "tags": [
          "Soek"
        ],
        "description": "Søk eiendom",
        "operationId": "soekEiendom",
        "parameters": [
          {
            "in": "query",
            "name": "soek",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eiendommer som traff med søk",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "$ref": "#/components/schemas/Eiendom"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen eiendommer som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/eiendom/{knr}/{gnr}/{bnr}/{fnr}/{snr}/": {
      "get": {
        "tags": [
          "Eiendom"
        ],
        "description": "Hent eiendom",
        "operationId": "hentEiendom",
        "parameters": [
          {
            "in": "path",
            "name": "knr",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "gnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "bnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "fnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "snr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eiendommer som traff med søk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eiendom"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen eiendommer som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/soek/erverver": {
      "post": {
        "tags": [
          "Soek"
        ],
        "description": "Søk på erverver",
        "operationId": "soekErverver",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErververNavnSoekRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "søk erverver",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErververNavnSoekResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen erverver som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/soek/kontaktinformasjon": {
      "get": {
        "tags": [
          "Soek"
        ],
        "description": "Kontaktinformasjon for erverver",
        "operationId": "kontaktErverver",
        "responses": {
          "200": {
            "description": "Erververs kontaktinformasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KontaktInformasjon"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig forespørsel – mangler nødvendige parametere eller ugyldig format på forespørsel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen kontaktinformasjon for erverver",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/avklaring/opprett": {
      "post": {
        "tags": [
          "KonsesjonAvklaring"
        ],
        "description": "Oppretter konsesjonsavklaring",
        "operationId": "opprettKonsesjonsAvklaring",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsesjonsAvklaringOpprettelse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Konsesjonsavklaring har blitt opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonReferanse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt - Det finnes allerede en konsesjonsavklaring for denne eiendommen og erververen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/avklaring/{avklaringsId}/status": {
      "get": {
        "tags": [
          "KonsesjonAvklaring"
        ],
        "description": "Hent konsesjonsavklaringsstatus",
        "operationId": "getAvklaringStatus",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status for konsesjonsavklaringsøknad hentet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonAvklaringStatus"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/avklaring/{avklaringsId}/signer": {
      "post": {
        "tags": [
          "KonsesjonAvklaring"
        ],
        "description": "Signer endpoint",
        "operationId": "signerKonsesjon",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signeringsoppdrag url",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SigneringsOppdrag"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/egenerklaering/{avklaringsId}/skjemadata": {
      "get": {
        "tags": [
          "Egenerklaering"
        ],
        "description": "Henter data fra LDIR for en startet prosess",
        "operationId": "getEgenerklaeringSkjemadata",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Innhentet skjemadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkjemadataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke egenerklaering som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/egenerklaering/{avklaringsId}/presjekk": {
      "post": {
        "tags": [
          "Egenerklaering"
        ],
        "description": "Kjører presjekk for egenerklaering",
        "operationId": "presjekkEgenerklaering",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresjekkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presjekk fullført",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresjekkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/egenerklaering/{avklaringsId}/hovedsjekk": {
      "post": {
        "tags": [
          "Egenerklaering"
        ],
        "description": "Kjør hovedsjekk for egenerklaering",
        "operationId": "hovedsjekkEgenerklaering",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minItems": 1,
                "items": {
                  "$ref": "#/components/schemas/ErververMedEierandel"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Hovedsjekk fullført",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HovedsjekkResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/soeknad/start": {
      "post": {
        "tags": [
          "Soeknad"
        ],
        "x-not-implemented": true,
        "description": "Endepunktet er ikke implementert ennå. Når det blir tilgjengelig, skal det starte prosessen for å fylle ut og sende inn en konsesjonssøknad",
        "operationId": "startSoeknad",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartSoeknad"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen konsesjonsavklaring som matchet søknadsdataene i forespørselen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "501": {
            "description": "Ikke implementert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/soeknad/{soeknadsId}/skjemadata": {
      "get": {
        "tags": [
          "Soeknad"
        ],
        "x-not-implemented": true,
        "description": "Endepunktet er ikke implementert og vil svare 501 Ikke implementert.",
        "operationId": "getSkjemadata",
        "parameters": [
          {
            "name": "soeknadsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen konsesjonsavklaring som matchet søknadsdataene i forespørselen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt – Når data innhenting ikke er ferdig og status er fremdeles INNHENTER_DATA",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "501": {
            "description": "Ikke implementert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/soeknad/{soeknadsId}/skjema": {
      "post": {
        "tags": [
          "Soeknad"
        ],
        "x-not-implemented": true,
        "description": "Endepunktet er ikke implementert. Dokumentasjonen beskriver kun at operasjonen returnerer 501 Ikke implementert.",
        "operationId": "sendSoeknad",
        "parameters": [
          {
            "name": "soeknadsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SoeknadSkjemaData"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen konsesjonsavklaring som matchet søknadsdataene i forespørselen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt – Når data innhenting ikke er ferdig og status er fremdeles INNHENTER_DATA",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "501": {
            "description": "Ikke implementert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/soeknad/{soeknadsId}/status": {
      "get": {
        "tags": [
          "Soeknad"
        ],
        "x-not-implemented": true,
        "description": "Endepunktet er ikke implementert og returnerer 501 (Ikke implementert)",
        "operationId": "getSoeknadStatus",
        "parameters": [
          {
            "name": "soeknadsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen konsesjonsavklaring som matchet søknadsdataene i forespørselen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "501": {
            "description": "Ikke implementert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/eiendom/boplikt/{knr}/{gnr}/{bnr}/{fnr}/{snr}/": {
      "get": {
        "tags": [
          "Eiendom"
        ],
        "description": "Returnerer om en egenerklæring er påkrevd for eiendommen og om det er boplikt",
        "operationId": "getEgenerklaeringPaakrevdAndBoplikt",
        "parameters": [
          {
            "in": "path",
            "name": "knr",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "gnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "bnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "fnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "snr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EgenerklaeringPaakrevdOgBopliktResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/egenerklaering/{avklaringsId}/manuell-behandling": {
      "post": {
        "tags": [
          "Egenerklaering"
        ],
        "description": "Sender inn manuelt utfylt egenerklæring",
        "operationId": "manuellBehandlingEgenerklaering",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManuellBehandlingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Skjema for manuell behandling innsendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InnsendtSkjemaStatus"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt - Konsesjonsavklaringen er ikke markert for manuell behandling",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/egenerklaering/{avklaringsId}/resultat-relasjon-sjekk": {
      "post": {
        "tags": [
          "Egenerklaering"
        ],
        "description": "Sender inn resultat fra relasjonssjekk",
        "operationId": "postRelasjonSjekkResultat",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelasjonInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Relasjonssjekk fullført",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InnsendtSkjemaStatus"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt - Hovedsjekk er ikke fullført eller sendte ikke til relasjonssjekk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/felles/{avklaringsId}/pdf": {
      "get": {
        "tags": [
          "Felles"
        ],
        "description": "Genererer en PDF av det ferdigstilte skjemaet",
        "operationId": "getPdf",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF generert",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt - Feil status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/felles/skjematekst": {
      "get": {
        "tags": [
          "Felles"
        ],
        "description": "Returnerer statisk tekst for skjema",
        "operationId": "getSkjematekst",
        "parameters": [
          {
            "in": "query",
            "name": "lang",
            "required": false,
            "schema": {
              "type": "string",
              "default": "NB_NO",
              "enum": [
                "NB_NO",
                "NN_NO"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skjematekst hentet"
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Eiendom": {
        "type": "object",
        "properties": {
          "matrikkelNr": {
            "type": "string",
            "pattern": "^\\d{4}(-|/)\\d{1,6}/\\d{1,6}/d{1,6}/d{1,6}$"
          },
          "adressenavn": {
            "type": "string",
            "description": "Navn på gate, veg, sti, plass eller område som er ført i matrikkelen (eksempel Sørumvegen)."
          },
          "adressetekst": {
            "type": "string",
            "description": "Del av offisiell adresse, men uten bruksenhetsnummer som ligger til bruksenheter/boliger (ligger her som egenskap til vegadressen) Eksempel: \"Storgata 2B\" eller \"123/4-2\" Der det i tillegg er adressetilleggsnavn: \"Haugen, Storgata 2B\" eller \"Midtgard, 123/4-2\""
          },
          "adressetilleggsnavn": {
            "type": "string",
            "description": "Nedarvet bruksnavn, navn på en institusjon eller bygning eller grend brukt som del av den offisielle adressen"
          },
          "adressekode": {
            "type": "integer",
            "format": "int32",
            "description": "Nummer som entydig identifiserer adresserbare gater, veger, stier, plasser og områder som er ført i matrikkelen innen kommunen"
          },
          "nummer": {
            "type": "integer",
            "format": "int32",
            "description": "Del av adressenummer (husnummer) som er et nummer og eventuelt en bokstav, f.eks 23B"
          },
          "bokstav": {
            "type": "string",
            "description": "Del av adressenummer (husnummer) som er et nummer og en eventuelt en bokstav, f.eks 23B. For å kun søke på adresser uten noen bokstav så inkluderer man \"bokstav=\" i søkestrengen uten å fylle inn noen verdi."
          },
          "kommunenummer": {
            "type": "string",
            "description": "Nummerering av kommunen i henhold til Statistisk sentralbyrå sin offisielle liste. Tekstverdi som må bestå av 4 tall. 0301 er for eksempel gyldig, mens 301 er ikke gyldig."
          },
          "kommunenavn": {
            "type": "string",
            "description": "Navn (norsk) på en kommune"
          },
          "gardsnummer": {
            "type": "integer",
            "format": "int32",
            "description": "Del av en matrikkeladresse der vegadresse ikke er innført, - eller vegadressens knytning til matrikkelenhet (grunneiendom eller feste, - gir her ikke knyting mot seksjon)"
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32",
            "description": "Del av en matrikkeladresse der vegadresse ikke er innført, - eller vegadressens knytning til matrikkelenhet (grunneiendom eller feste, - gir her ikke knyting mot seksjon)"
          },
          "festenummer": {
            "type": "integer",
            "format": "int32",
            "description": "Del av en matrikkeladresse der vegadresse ikke er innført, - eller vegadressens knytning til matrikkelenhet (grunneiendom eller feste, - gir her ikke knytning mot seksjon)"
          },
          "undernummer": {
            "type": "integer",
            "format": "int32",
            "description": "Fortløpende nummerering av matrikkeladresser med samme gårds-, bruks- og festenummer. Også kalt seksjonsnummer"
          },
          "bruksenhetsnummer": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            }
          },
          "poststed": {
            "type": "string",
            "description": "Navn på poststed i henhold til Postens egne lister"
          },
          "postnummer": {
            "type": "string",
            "description": "Unik identifikasjon av et postnummerområde. Tekstverdi som må bestå av 4 tall. 0340 er for eksempel gyldig, mens 340 er ikke gyldig. Postnummer som identifiserer postboksanlegg er ikke med og vil ikke gi treff."
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32",
            "description": "Seksjonsnummer tildeles når en eiendom seksjoneres, slik at hver eierseksjon får et eget seksjonsnummer i tillegg til eiendommens gårds- og bruksnummer."
          },
          "representasjonspunkt": {
            "type": "object",
            "description": "Geolokasjon for matrikkelenhet.",
            "properties": {
              "lat": {
                "type": "number"
              },
              "lon": {
                "type": "number"
              }
            }
          },
          "adressetekstutenadressetilleggsnavn": {
            "type": "string",
            "description": "Del av offisiell adresse, men uten bruksenhetsnummer som ligger til bruksenheter/boliger og adressetilleggsnavn Eksempel: \"Storgata 2B\" eller \"123/4-2\""
          },
          "stedfestingverifisert": {
            "type": "boolean",
            "description": "Angivelse om stedfestingen (koordinatene) er kontrollert og funnet i orden (verifisert)"
          },
          "oppdateringsdato": {
            "type": "string",
            "format": "date-time",
            "description": "Dato for siste endring på objektdataene"
          }
        }
      },
      "Erverver": {
        "type": "object",
        "required": [
          "erververId"
        ],
        "properties": {
          "erververId": {
            "$ref": "#/components/schemas/ErververId"
          },
          "adresse": {
            "type": "string"
          },
          "postnummer": {
            "type": "string"
          },
          "poststed": {
            "type": "string"
          },
          "epost": {
            "type": "string"
          },
          "telefonnummer": {
            "type": "string"
          }
        }
      },
      "KontaktInformasjon": {
        "type": "object",
        "properties": {
          "epost": {
            "type": "string"
          },
          "mobilNr": {
            "type": "string"
          }
        }
      },
      "KonsesjonsAvklaringOpprettelse": {
        "type": "object",
        "required": [
          "matrikkelnummer"
        ],
        "properties": {
          "matrikkelnummer": {
            "$ref": "#/components/schemas/MatrikkelNummer"
          }
        }
      },
      "KonsesjonReferanse": {
        "type": "object",
        "required": [
          "avklaringsId"
        ],
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "KonsesjonAvklaringStatus": {
        "type": "string",
        "enum": [
          "OPPRETTET",
          "INNHENTER_DATA",
          "KLAR_FOR_BEKREFTELSE",
          "FEIL_VED_INNHENTING",
          "PASSERT_PRESJEKK",
          "SENDT_TIL_HOVEDSJEKK",
          "EIENDOM_IKKE_FUNNET",
          "DEL_AV_STORRE_LANDBRUKSEIENDOM",
          "KREVER_IKKE_EGENERKLAERING"
        ]
      },
      "MatrikkelNummer": {
        "type": "object",
        "properties": {
          "kommunenummer": {
            "type": "string",
            "minLength": 4,
            "maxLength": 4
          },
          "gaardsnummer": {
            "type": "integer",
            "format": "int32",
            "maximum": 999999,
            "minimum": 1
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32",
            "maximum": 999999,
            "minimum": 1
          },
          "festenummer": {
            "type": "integer",
            "format": "int32",
            "maximum": 999999,
            "minimum": 0
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32",
            "maximum": 999999,
            "minimum": 0
          }
        },
        "required": [
          "kommunenummer",
          "gaardsnummer",
          "bruksnummer",
          "festenummer",
          "seksjonsnummer"
        ]
      },
      "EiendomsDataMedId": {
        "type": "object",
        "properties": {
          "eiendomsId": {
            "$ref": "#/components/schemas/EiendomsId"
          },
          "eiendomsData": {
            "$ref": "#/components/schemas/EiendomsData"
          }
        }
      },
      "AdresseDto": {
        "type": "object",
        "properties": {
          "adressenavn": {
            "type": "string"
          },
          "husnummer": {
            "type": "string"
          },
          "postnummer": {
            "type": "string"
          }
        }
      },
      "ArealInfo": {
        "type": "object",
        "properties": {
          "arealPaaEiendommenKvm": {
            "type": "number",
            "format": "double"
          },
          "arealFullOgOveflatedyrketJordKvm": {
            "type": "number",
            "format": "double"
          },
          "arealProduktivSkogPaaEiendommenKvm": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "KobletEiendomData": {
        "type": "object",
        "properties": {
          "eiendomsId": {
            "$ref": "#/components/schemas/EiendomsId"
          },
          "koblingsType": {
            "type": "string",
            "enum": [
              "REALKOBLET",
              "DEL_AV_STORRE_LANDBRUKSEIENDOM",
              "MANUELT_INNSENDT"
            ]
          },
          "bebygd": {
            "type": "boolean"
          },
          "arealInfo": {
            "$ref": "#/components/schemas/ArealInfo"
          },
          "adresser": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdresseDto"
            }
          },
          "bygningIder": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "eierandel": {
            "$ref": "#/components/schemas/Eierandel"
          }
        },
        "required": [
          "arealInfo",
          "eiendomsId"
        ]
      },
      "EiendomsData": {
        "type": "object",
        "properties": {
          "eiendomsId": {
            "$ref": "#/components/schemas/EiendomsId"
          },
          "bebygd": {
            "type": "boolean"
          },
          "arealInfo": {
            "$ref": "#/components/schemas/ArealInfo"
          },
          "adresser": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdresseDto"
            }
          },
          "kobledeEiendommer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KobletEiendomData"
            }
          }
        },
        "required": [
          "arealInfo"
        ]
      },
      "SkjemadataResponse": {
        "type": "object",
        "properties": {
          "eiendomsData": {
            "$ref": "#/components/schemas/EiendomsData"
          },
          "totalArealKvm": {
            "type": "number",
            "format": "double"
          },
          "totalArealDyrketJordKvm": {
            "type": "number",
            "format": "double"
          },
          "totalArealProduktivSkogKvm": {
            "type": "number",
            "format": "double"
          },
          "totalBebygd": {
            "type": "boolean"
          }
        }
      },
      "ErververMedEierandel": {
        "type": "object",
        "description": "Erverver og eierskapsandel for en erverver i en egenerklæring",
        "properties": {
          "erverver": {
            "$ref": "#/components/schemas/Erverver"
          },
          "eiendommer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EiendomMedEierandel"
            }
          }
        },
        "required": [
          "erverver",
          "eiendommer"
        ]
      },
      "ErververId": {
        "type": "object",
        "properties": {
          "fodselsnummer": {
            "type": "string",
            "maxLength": 11,
            "minLength": 11
          },
          "organisasjonsnummer": {
            "type": "string",
            "maxLength": 9,
            "minLength": 9
          },
          "navn": {
            "type": "string"
          }
        },
        "required": [
          "fodselsnummer"
        ]
      },
      "EiendomsId": {
        "type": "object",
        "required": [
          "kommunenummer",
          "gaardsnummer",
          "bruksnummer",
          "festenummer",
          "seksjonsnummer"
        ],
        "properties": {
          "kommunenummer": {
            "type": "string",
            "minLength": 4,
            "maxLength": 4
          },
          "gaardsnummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 999999
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 999999
          },
          "festenummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 999999
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 999999
          }
        }
      },
      "EiendomMedEierandel": {
        "type": "object",
        "properties": {
          "eiendomsId": {
            "$ref": "#/components/schemas/EiendomsId"
          },
          "eierandel": {
            "$ref": "#/components/schemas/Eierandel"
          }
        },
        "required": [
          "eiendomsId"
        ]
      },
      "Eierandel": {
        "type": "object",
        "required": [
          "teller",
          "nevner"
        ],
        "properties": {
          "teller": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          },
          "nevner": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          }
        }
      },
      "StartSoeknad": {
        "type": "object",
        "required": [
          "soekerInformasjon",
          "overdragerInformasjon",
          "eiendomsInformasjon"
        ],
        "properties": {
          "soekerInformasjon": {
            "$ref": "#/components/schemas/ErververId"
          },
          "overdragerInformasjon": {
            "$ref": "#/components/schemas/ErververId"
          },
          "eiendomsInformasjon": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/EiendomsId"
            }
          }
        }
      },
      "InnhentetEiendom": {
        "type": "object",
        "properties": {
          "bygningsType": {
            "type": "string"
          },
          "grunnflateKvadratmeter": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "SigneringsOppdrag": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          }
        }
      },
      "SoeknadSkjemaData": {
        "type": "object",
        "description": "Innsendt søknad data",
        "properties": {
          "soekerFulltNavn": {
            "type": "string"
          },
          "soekerAdresse": {
            "type": "string"
          },
          "soekerFoedselsnummer": {
            "type": "string"
          },
          "soekerOrgnummer": {
            "type": "string"
          },
          "soekerEpost": {
            "type": "string"
          },
          "overdragerNavn": {
            "type": "string"
          },
          "overdragerAdresse": {
            "type": "string"
          },
          "overdragerFoedselsnummer": {
            "type": "string"
          },
          "overdragerOrgnummer": {
            "type": "string"
          },
          "betegnelseEiendomEllerRettighet": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            }
          },
          "kjoepeEllerLeieSum": {
            "type": "number",
            "format": "double"
          },
          "kaarFemAarligVerdi": {
            "type": "string"
          },
          "kjoepeSumLoesoere": {
            "type": "number",
            "format": "double"
          },
          "kommune": {
            "type": "string"
          },
          "fylke": {
            "type": "string"
          },
          "arealKvadratmeter": {
            "type": "number",
            "format": "double"
          },
          "arealFordeling": {
            "type": "string"
          },
          "skogbruksPlan": {
            "$ref": "#/components/schemas/SkogbruksPlan"
          },
          "eksisterendeBebyggelse": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/EksisterendeBebyggelse"
            }
          },
          "annenBebyggelse": {
            "type": "string"
          },
          "rettigheter": {
            "type": "string"
          },
          "eierEllerLeierIKommune": {
            "$ref": "#/components/schemas/JaNeiForklaring"
          },
          "eierEllerLeierAndreKommuner": {
            "$ref": "#/components/schemas/JaNeiForklaring"
          },
          "eiendomsBrukBeskrivelse": {
            "type": "string"
          },
          "erverversPlanForBruk": {
            "type": "string"
          },
          "jordSkogsbrukseiendommer": {
            "$ref": "#/components/schemas/JordSkogsbrukseiendommer"
          }
        }
      },
      "SkogbruksPlan": {
        "type": "object",
        "properties": {
          "hogstklasse1": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse2": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse3": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse4": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse5": {
            "$ref": "#/components/schemas/Hogstklasse"
          }
        }
      },
      "Hogstklasse": {
        "description": "Hogstklasse, enten presis eller gruppevis",
        "oneOf": [
          {
            "$ref": "#/components/schemas/HogstklassePresis"
          },
          {
            "$ref": "#/components/schemas/HogstklasseGruppevis"
          }
        ]
      },
      "HogstklasseGruppevis": {
        "type": "object",
        "description": "Gruppevis angivelse av hogstklasse",
        "properties": {
          "nivaa": {
            "type": "string",
            "enum": [
              "LAV",
              "MIDDELS",
              "HOEY"
            ]
          }
        }
      },
      "HogstklassePresis": {
        "type": "object",
        "description": "Presis angivelse av hogstklasse",
        "properties": {
          "gran": {
            "type": "integer",
            "format": "int32",
            "maximum": 26,
            "minimum": 6
          },
          "furu": {
            "type": "integer",
            "format": "int32",
            "maximum": 26,
            "minimum": 6
          },
          "bjoerk": {
            "type": "integer",
            "format": "int32",
            "maximum": 26,
            "minimum": 6
          }
        }
      },
      "EksisterendeBebyggelse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "grunnflateKvadratmeter": {
            "type": "number",
            "format": "double"
          },
          "byggeaar": {
            "type": "integer",
            "format": "int32"
          },
          "antallEtasjer": {
            "type": "integer",
            "format": "int32"
          },
          "tilstand": {
            "type": "string",
            "enum": [
              "GOD",
              "MIDDELS",
              "DAARLIG"
            ]
          }
        }
      },
      "JaNeiForklaring": {
        "type": "object",
        "properties": {
          "valg": {
            "type": "boolean"
          },
          "forklaring": {
            "type": "string"
          }
        }
      },
      "JordSkogsbrukseiendommer": {
        "type": "object",
        "properties": {
          "gaardsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32"
          },
          "soekernsKvalifikasjoner": {
            "type": "string"
          },
          "forpliktelseTilBosetning": {
            "type": "string",
            "enum": [
              "JA",
              "NEI",
              "IKKE_BOSETTE"
            ]
          },
          "annenFastEiendomIKommunen": {
            "$ref": "#/components/schemas/JaNeiForklaring"
          },
          "flereSoekere": {
            "type": "string"
          }
        }
      },
      "PresjekkResponse": {
        "type": "string",
        "enum": [
          "KREVES_IKKE",
          "DEL_AV_STORRE_LANDBRUKSEIENDOM",
          "KREVER_EGENERKLARING"
        ]
      },
      "HovedsjekkResponse": {
        "type": "object",
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          },
          "erverver": {
            "$ref": "#/components/schemas/ErververId"
          },
          "innsendtSkjemaStatus": {
            "$ref": "#/components/schemas/InnsendtSkjemaStatus"
          }
        }
      },
      "ManuellBehandlingRequest": {
        "type": "object",
        "required": [
          "feltId"
        ],
        "properties": {
          "feltId": {
            "type": "string",
            "enum": [
              "UBEBYGD_TOMT",
              "UBEBYGD_TOMT_I_OMRAADE_FOR_BEBYGGELSE",
              "ANDRE_UBEBYGDE_AREALER",
              "SAERTILFELLE_C",
              "SAERTILFELLE_D",
              "SAERTILFELLE_F",
              "SAERTILFELLE_G",
              "SAERTILFELLE_I",
              "SAERTILFELLE_J",
              "SAERTILFELLE_K",
              "SAERTILFELLE_L",
              "SAERTILFELLE_M",
              "SAERTILFELLE_N",
              "SAERTILFELLE_O"
            ]
          }
        }
      },
      "InnsendtSkjemaStatus": {
        "type": "string",
        "enum": [
          "FERDIGSTILT_AUTOMATISK_GODKJENT",
          "FERDIGSTILT_TRENGER_MANUELL_OPPFOELGING",
          "MANUELL_UTFYLLING_LDIR_360_GROENT",
          "MANUELL_UTFYLLING_BEBYGD_LDIR_356_ROEDT",
          "MANUELL_UTFYLLING_UBEBYGD_LDIR_356_ROEDT",
          "AVVENTER_RELASJONSSJEKK_MED_ODEL",
          "AVVENTER_RELASJONSSJEKK_UTEN_ODEL",
          "AVVENTER_BOPLIKTS_UNNTAK_LDIR_356_ROEDT",
          "AVVENTER_BOPLIKTS_UNNTAK_LDIR_356_ROEDT_UTEN_SLEKTSKAP",
          "TRENGER_BOPLIKT_AVKLARING",
          "TRENGER_KONSESJONSFORHOLD_AVKLARING",
          "TRENGER_MANUELL_UTFYLLING_GRUNNET_TEIGDATA",
          "TRENGER_SOEKNAD"
        ]
      },
      "RelasjonInput": {
        "type": "object",
        "description": "Resultat av relasjonssjekk",
        "required": [
          "relasjonSjekkType",
          "automatiskBekreftet"
        ],
        "properties": {
          "relasjonSjekkType": {
            "type": "string",
            "enum": [
              "ODEL",
              "NAER_SLEKT",
              "INGEN_RELASJON"
            ]
          },
          "automatiskBekreftet": {
            "type": "boolean"
          },
          "relasjonsType": {
            "type": "string"
          }
        }
      },
      "BopliktResponse": {
        "type": "object",
        "properties": {
          "harBoplikt": {
            "type": "string",
            "enum": [
              "JA",
              "NEI",
              "MULIGENS"
            ]
          },
          "bopliktForklaringResponse": {
            "type": "string",
            "enum": [
              "NEDSATT_KONSESJONSGRENSE_DEKKER_IKKE_HELE_EIENDOMMEN",
              "HVIS_IKKE_ARVER_FRA_SLEKTSKAP",
              "HVIS_EIENDOM_UNDER_OPPFOERING_OG_I_OMRAADE_REGULERT_TIL_BOLIGFORMAAL",
              "HVIS_UBEBYGD_EIENDOM_I_OMRAADE_REGULERT_TIL_BOLIGFORMAAL",
              "BRUKT_SOM_HELAARSBOLIG"
            ]
          }
        }
      },
      "PresjekkRequest": {
        "type": "object",
        "properties": {
          "manueltInnsendteEiendommer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EiendomsId"
            }
          }
        }
      },
      "EgenerklaeringPaakrevdOgBopliktResponse": {
        "type": "object",
        "properties": {
          "egenerklaeringPaakrevd": {
            "type": "boolean"
          },
          "boplikt": {
            "$ref": "#/components/schemas/BopliktResponse"
          }
        }
      },
      "ErververNavnSoekRequest": {
        "type": "object",
        "required": [
          "avklaringsId"
        ],
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          },
          "foedselsnumre": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Fødselsnummer",
              "maxLength": 11,
              "minLength": 11,
              "example": "01234567890",
              "pattern": "^\\d{11}$"
            }
          },
          "organisasjonsnumre": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Organisasjonsnummer",
              "maxLength": 9,
              "minLength": 9,
              "example": "012345678",
              "pattern": "^\\d{9}$"
            }
          }
        }
      },
      "ErververNavnSoekResponse": {
        "type": "object",
        "required": [
          "erververe"
        ],
        "properties": {
          "erververe": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErververId"
            }
          }
        }
      }
    }
  }
}
