{
  "openapi": "3.0.3",
  "info": {
    "title": "KS FIKS: Konsesjon service",
    "description": "Konsesjon service",
    "contact": {
      "name": "Fiks konsesjon",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ksdigital.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.test.fiks.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "tags": [
    {
      "name": "KonsesjonsAvklaring",
      "description": "API for konsesjonsavklaring"
    }
  ],
  "paths": {
    "/konsesjon/api/v1/avklaring/{avklaringsId}": {
      "get": {
        "tags": [
          "Avklaring"
        ],
        "description": "Hent konsesjon",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AvklaringsId"
            }
          }
        ],
        "operationId": "getKonsesjon",
        "responses": {
          "200": {
            "description": "Hent konsesjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Konsesjon"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendom": {
      "get": {
        "tags": [
          "Soek"
        ],
        "description": "Søk eiendom",
        "operationId": "soekEiendom",
        "parameters": [
          {
            "in": "query",
            "name": "soek",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eiendommer som traff med søk",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Eiendom"
                  },
                  "minItems": 1
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen eiendommer som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/erverver/soek": {
      "post": {
        "tags": [
          "Soek"
        ],
        "description": "Søk på erverver",
        "operationId": "soekErverver",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "orgNrEllerFnr": {
                    "type": "string",
                    "required": [
                      "true"
                    ],
                    "example": "01234567890",
                    "pattern": "^\\d{9,11}$",
                    "minLength": 9,
                    "maxLength": 11
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "søk erverver",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erverver"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen erverver som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/avklaring/start": {
      "post": {
        "tags": [
          "Avklaring"
        ],
        "description": "Start konsesjonsavklaring",
        "operationId": "startKonsesjonsAvklaring",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsesjonsAvklaringOpprettelse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Konsesjonsavklaring har blitt opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonReferanse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt - Det finnes allerede en konsesjonsavklaring for denne eiendommen og erververen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/avklaring/{avklaringsId}/status": {
      "get": {
        "tags": [
          "Avklaring"
        ],
        "description": "Hent konsesjonsavklaringsstatus",
        "operationId": "getAvklaringStatus",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AvklaringsId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status for konsesjonsavklaringsøknad hentet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonAvklaringStatus"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/avklaring/{avklaringsId}/skjemadata": {
      "get": {
        "tags": [
          "Avklaring"
        ],
        "description": "Henter data fra LDIR for en startet prosess",
        "operationId": "getEgenerklaeringSkjemadata",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Innhentet skjemadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EiendomsDataMedId"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke egenerklaering som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/avklaring/{avklaringsId}/presjekk": {
      "post": {
        "tags": [
          "Avklaring"
        ],
        "description": "Kjør presjekk for egenerklaering",
        "operationId": "presjekkEgenerklaering",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Presjekk fullført",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonAvklaringStatus"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/avklaring/{avklaringsId}/hovedsjekk": {
      "post": {
        "tags": [
          "Avklaring"
        ],
        "description": "Kjør hovedsjekk for egenerklaering",
        "operationId": "hovedsjekkEgenerklaering",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ErververIdMedEierandel"
                },
                "minItems": 1,
                "maxItems": 1
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Hovedsjekk fullført",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KonsesjonAvklaringStatus"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendom/{knr}/{gnr}/{bnr}/{fnr}/{snr}/": {
      "get": {
        "tags": [
          "Eiendom"
        ],
        "description": "Hent eiendom",
        "operationId": "hentEiendom",
        "parameters": [
          {
            "in": "path",
            "name": "knr",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "gnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "bnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "fnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "snr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eiendommer som traff med søk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eiendom"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen eiendommer som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendom/egenerklaering/paakrevd": {
      "post": {
        "tags": [
          "Eiendom"
        ],
        "description": "Sjekker om egenerklæring er påkrevd for eiendommen",
        "operationId": "postEgenerklaeringPaakrevd",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "kommuneNummer": {
                    "type": "string",
                    "minLength": 4,
                    "maxLength": 4
                  },
                  "gaardsNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 99999,
                    "minimum": 1
                  },
                  "bruksNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 9999,
                    "minimum": 1
                  },
                  "festeNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 9999,
                    "minimum": 0
                  },
                  "seksjonsNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 999,
                    "minimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "erklearing_paakrevd": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen erverver som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon/api/v1/eiendom/boplikt/paakrevd": {
      "post": {
        "tags": [
          "Eiendom"
        ],
        "description": "Sjekker om boplikt er påkrevd for eiendommen",
        "operationId": "postBopliktPaakrevd",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "kommuneNummer": {
                    "type": "string",
                    "minLength": 4,
                    "maxLength": 4
                  },
                  "gaardsNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 99999,
                    "minimum": 1
                  },
                  "bruksNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 9999,
                    "minimum": 1
                  },
                  "festeNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 9999,
                    "minimum": 0
                  },
                  "seksjonsNummer": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 999,
                    "minimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BopliktResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen erverver som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Avklaring": {
        "type": "object",
        "properties": {
          "erverver": {
            "type": "string"
          },
          "avklaringsId": {
            "$ref": "#/components/schemas/AvklaringsId"
          }
        }
      },
      "AvklaringsId": {
        "type": "string",
        "format": "uuid"
      },
      "BopliktResponse": {
        "type": "object",
        "properties": {
          "harBoplikt": {
            "type": "string",
            "enum": [
              "JA",
              "NEI",
              "MULIGENS"
            ]
          },
          "bopliktForklaringResponse": {
            "type": "string",
            "enum": [
              "NEDSATT_KONSESJONSGRENSE_DEKKER_IKKE_HELE_EIENDOMMEN",
              "HVIS_IKKE_ARVER_FRA_SLEKTSKAP",
              "HVIS_EIENDOM_UNDER_OPPFOERING_OG_I_OMRAADE_REGULERT_TIL_BOLIGFORMAAL",
              "HVIS_UBEBYGD_EIENDOM_I_OMRAADE_REGULERT_TIL_BOLIGFORMAAL",
              "BRUKT_SOM_HELAARSBOLIG"
            ]
          }
        }
      },
      "Broek": {
        "type": "object",
        "properties": {
          "teller": {
            "type": "integer",
            "minimum": 1
          },
          "nevner": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "Eiendom": {
        "type": "object",
        "properties": {
          "matrikkelNr": {
            "type": "string",
            "pattern": "^\\d{4}(-|/)\\d{1,6}/\\d{1,6}/d{1,6}/d{1,6}$"
          },
          "adressenavn": {
            "type": "string",
            "description": "Navn på gate, veg, sti, plass eller område som er ført i matrikkelen (eksempel Sørumvegen)."
          },
          "adressetekst": {
            "type": "string",
            "description": "Del av offisiell adresse, men uten bruksenhetsnummer som ligger til bruksenheter/boliger (ligger her som egenskap til vegadressen) Eksempel: \"Storgata 2B\" eller \"123/4-2\" Der det i tillegg er adressetilleggsnavn: \"Haugen, Storgata 2B\" eller \"Midtgard, 123/4-2\""
          },
          "adressetilleggsnavn": {
            "type": "string",
            "description": "Nedarvet bruksnavn, navn på en institusjon eller bygning eller grend brukt som del av den offisielle adressen"
          },
          "adressekode": {
            "type": "integer",
            "format": "int32",
            "description": "Nummer som entydig identifiserer adresserbare gater, veger, stier, plasser og områder som er ført i matrikkelen innen kommunen"
          },
          "nummer": {
            "type": "integer",
            "format": "int32",
            "description": "Del av adressenummer (husnummer) som er et nummer og eventuelt en bokstav, f.eks 23B"
          },
          "bokstav": {
            "type": "string",
            "description": "Del av adressenummer (husnummer) som er et nummer og en eventuelt en bokstav, f.eks 23B. For å kun søke på adresser uten noen bokstav så inkluderer man \"bokstav=\" i søkestrengen uten å fylle inn noen verdi."
          },
          "kommunenummer": {
            "type": "string",
            "description": "Nummerering av kommunen i henhold til Statistisk sentralbyrå sin offisielle liste. Tekstverdi som må bestå av 4 tall. 0301 er for eksempel gyldig, mens 301 er ikke gyldig."
          },
          "kommunenavn": {
            "type": "string",
            "description": "Navn (norsk) på en kommune"
          },
          "gardsnummer": {
            "type": "integer",
            "format": "int32",
            "description": "Del av en matrikkeladresse der vegadresse ikke er innført, - eller vegadressens knytning til matrikkelenhet (grunneiendom eller feste, - gir her ikke knyting mot seksjon)"
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32",
            "description": "Del av en matrikkeladresse der vegadresse ikke er innført, - eller vegadressens knytning til matrikkelenhet (grunneiendom eller feste, - gir her ikke knyting mot seksjon)"
          },
          "festenummer": {
            "type": "integer",
            "format": "int32",
            "description": "Del av en matrikkeladresse der vegadresse ikke er innført, - eller vegadressens knytning til matrikkelenhet (grunneiendom eller feste, - gir her ikke knytning mot seksjon)"
          },
          "undernummer": {
            "type": "integer",
            "format": "int32",
            "description": "Fortløpende nummerering av matrikkeladresser med samme gårds-, bruks- og festenummer. Også kalt seksjonsnummer"
          },
          "bruksenhetsnummer": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1
          },
          "poststed": {
            "type": "string",
            "description": "Navn på poststed i henhold til Postens egne lister"
          },
          "postnummer": {
            "type": "string",
            "description": "Unik identifikasjon av et postnummerområde. Tekstverdi som må bestå av 4 tall. 0340 er for eksempel gyldig, mens 340 er ikke gyldig. Postnummer som identifiserer postboksanlegg er ikke med og vil ikke gi treff."
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32",
            "description": "Seksjonsnummer tildeles når en eiendom seksjoneres, slik at hver eierseksjon får et eget seksjonsnummer i tillegg til eiendommens gårds- og bruksnummer."
          },
          "representasjonspunkt": {
            "type": "object",
            "description": "Geolokasjon for matrikkelenhet.",
            "properties": {
              "lat": {
                "type": "number"
              },
              "lon": {
                "type": "number"
              }
            }
          },
          "adressetekstutenadressetilleggsnavn": {
            "type": "string",
            "description": "Del av offisiell adresse, men uten bruksenhetsnummer som ligger til bruksenheter/boliger og adressetilleggsnavn Eksempel: \"Storgata 2B\" eller \"123/4-2\""
          },
          "stedfestingverifisert": {
            "type": "boolean",
            "description": "Angivelse om stedfestingen (koordinatene) er kontrollert og funnet i orden (verifisert)"
          },
          "oppdateringsdato": {
            "type": "string",
            "format": "date-time",
            "description": "Dato for siste endring på objektdataene"
          }
        }
      },
      "Erverver": {
        "type": "object",
        "properties": {
          "fnr": {
            "type": "string"
          },
          "orgNr": {
            "type": "string"
          },
          "navn": {
            "type": "string"
          },
          "eierAndel": {
            "$ref": "#/components/schemas/Broek"
          }
        }
      },
      "EiendomsDataMedId": {
        "type": "object",
        "properties": {
          "eiendomsId": {
            "$ref": "#/components/schemas/EiendomsId"
          },
          "eiendomsData": {
            "$ref": "#/components/schemas/EiendomsData"
          }
        }
      },
      "EiendomsData": {
        "type": "object",
        "properties": {
          "bygningerPaaEiendommen": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "arealPaaEiendommen": {
            "type": "number",
            "format": "double"
          },
          "arealFullOgOveflatedyrketJord": {
            "type": "number",
            "format": "double"
          },
          "arealProduktivSkogPaaEiendommen": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "arealFullOgOveflatedyrketJord",
          "arealPaaEiendommen",
          "arealProduktivSkogPaaEiendommen"
        ]
      },
      "ErververIdMedEierandel": {
        "type": "object",
        "description": "Erververid og eierskapsandel for en erverver i en egenerklæring",
        "properties": {
          "erververId": {
            "$ref": "#/components/schemas/ErververId"
          },
          "eierandel": {
            "$ref": "#/components/schemas/Eierandel"
          }
        }
      },
      "ErververId": {
        "type": "object",
        "properties": {
          "fodselsnummer": {
            "type": "string",
            "maxLength": 11,
            "minLength": 11
          },
          "organisasjonsnummer": {
            "type": "string",
            "maxLength": 9,
            "minLength": 9
          }
        },
        "required": [
          "fodselsnummer"
        ]
      },
      "EiendomsId": {
        "type": "object",
        "required": [
          "kommuneNummer",
          "gaardsNummer",
          "bruksNummer"
        ],
        "properties": {
          "kommuneNummer": {
            "type": "string",
            "minLength": 4,
            "maxLength": 4
          },
          "gaardsNummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 99999
          },
          "bruksNummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 9999
          },
          "festeNummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 9999
          },
          "seksjonsNummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 999
          }
        }
      },
      "Eierandel": {
        "type": "object",
        "properties": {
          "teller": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          },
          "nevner": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          }
        }
      },
      "InnhentetEiendom": {
        "type": "object",
        "properties": {
          "bygningsType": {
            "type": "string"
          },
          "grunnflateKvadratmeter": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "Konsesjon": {
        "type": "object",
        "properties": {
          "avklaringsId": {
            "$ref": "#/components/schemas/AvklaringsId"
          },
          "oppretter": {
            "type": "string"
          },
          "opprettet": {
            "type": "string"
          },
          "eiendom": {
            "type": "object"
          },
          "erververe": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erverver"
            },
            "minItems": 1
          }
        }
      },
      "KonsesjonsAvklaringOpprettelse": {
        "type": "object",
        "required": [
          "matrikkelnummer"
        ],
        "properties": {
          "matrikkelnummer": {
            "$ref": "#/components/schemas/MatrikkelNummer"
          }
        }
      },
      "KonsesjonReferanse": {
        "type": "object",
        "required": [
          "avklaringsId"
        ],
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "KonsesjonAvklaringStatus": {
        "type": "object",
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "OPPRETTET",
              "PRESJEKK",
              "HOVEDSJEKK",
              "MANUELL_BEHANDLING",
              "LEGG_TIL_ERVERVERE",
              "TIL_GODKJENNING",
              "TIL_SIGNERING",
              "UKJENT"
            ]
          }
        }
      },
      "MatrikkelNummer": {
        "type": "string",
        "pattern": "^\\d{4}[/-]\\d{1,6}\\/\\d{1,6}\\/\\d{1,6}\\/\\d{1,6}$",
        "default": "1234/1/2/3/4"
      },
      "StatusPaaPaabegyntSkjema": {
        "type": "object",
        "properties": {
          "konsesjonsavklaringId": {
            "type": "string",
            "format": "uuid"
          },
          "paabegyntSkjemaStatus": {
            "type": "string"
          }
        }
      },
      "SkogbruksPlan": {
        "type": "object",
        "properties": {
          "hogstklasse1": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse2": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse3": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse4": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse5": {
            "$ref": "#/components/schemas/Hogstklasse"
          }
        }
      },
      "Hogstklasse": {
        "description": "Hogstklasse, enten presis eller gruppevis",
        "oneOf": [
          {
            "$ref": "#/components/schemas/HogstklassePresis"
          },
          {
            "$ref": "#/components/schemas/HogstklasseGruppevis"
          }
        ]
      },
      "HogstklasseGruppevis": {
        "type": "object",
        "description": "Gruppevis angivelse av hogstklasse",
        "properties": {
          "nivaa": {
            "type": "string",
            "enum": [
              "LAV",
              "MIDDELS",
              "HOEY"
            ]
          }
        }
      },
      "HogstklassePresis": {
        "type": "object",
        "description": "Presis angivelse av hogstklasse",
        "properties": {
          "gran": {
            "type": "integer",
            "format": "int32",
            "maximum": 26,
            "minimum": 6
          },
          "furu": {
            "type": "integer",
            "format": "int32",
            "maximum": 26,
            "minimum": 6
          },
          "bjoerk": {
            "type": "integer",
            "format": "int32",
            "maximum": 26,
            "minimum": 6
          }
        }
      },
      "EksisterendeBebyggelse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "grunnflateKvadratmeter": {
            "type": "number",
            "format": "double"
          },
          "byggeaar": {
            "type": "integer",
            "format": "int32"
          },
          "antallEtasjer": {
            "type": "integer",
            "format": "int32"
          },
          "tilstand": {
            "type": "string",
            "enum": [
              "GOD",
              "MIDDELS",
              "DAARLIG"
            ]
          }
        }
      },
      "JaNeiForklaring": {
        "type": "object",
        "properties": {
          "valg": {
            "type": "boolean"
          },
          "forklaring": {
            "type": "string"
          }
        }
      },
      "JordSkogsbrukseiendommer": {
        "type": "object",
        "properties": {
          "gaardsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32"
          },
          "soekernsKvalifikasjoner": {
            "type": "string"
          },
          "forpliktelseTilBosetning": {
            "type": "string",
            "enum": [
              "JA",
              "NEI",
              "IKKE_BOSETTE"
            ]
          },
          "annenFastEiendomIKommunen": {
            "$ref": "#/components/schemas/JaNeiForklaring"
          },
          "flereSoekere": {
            "type": "string"
          }
        }
      },
      "InnsendtSoeknadResponse": {
        "type": "object",
        "properties": {
          "konsesjonsavklaringId": {
            "type": "string",
            "format": "uuid"
          },
          "innsendtSoeknadResponseType": {
            "type": "string"
          }
        }
      }
    }
  }
}