{
  "openapi": "3.0.3",
  "info": {
    "title": "KS FIKS: Konsesjon service",
    "description": "Konsesjon service",
    "contact": {
      "name": "Fiks konsesjon",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ksdigital.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.test.fiks.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "tags": [
    {
      "name": "KonsesjonAvklaring",
      "description": "API for konsesjonsavklaring"
    },
    {
      "name": "Egenerklaering",
      "description": "API for egenerklæring"
    },
    {
      "name": "Soeknad",
      "description": "API for konsesjonssøknad"
    },
    {
      "name": "Felles",
      "description": "Felles operasjoner"
    },
    {
      "name": "Soek",
      "description": "Søk etter erverver og kontaktinformasjon"
    },
    {
      "name": "Eiendom",
      "description": "Eiendomsrelaterte operasjoner"
    },
    {
      "name": "Statistikk",
      "description": "Statistikk om bruk av tjenesten"
    }
  ],
  "paths": {
    "/konsesjon-api/v1/eiendom/{knr}/{gnr}/{bnr}/{fnr}/{snr}": {
      "get": {
        "tags": [
          "Eiendom"
        ],
        "description": "Hent eiendom",
        "operationId": "hentEiendom",
        "parameters": [
          {
            "in": "path",
            "name": "knr",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "gnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "bnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "fnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "snr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matrikkelenhet med matrikkelnummer og tilhørende adresser",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Matrikkelenhet"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Matrikkelenhet ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/soek/erverver": {
      "post": {
        "tags": [
          "Soek"
        ],
        "description": "Søk på erverver",
        "operationId": "soekErverver",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErververNavnSoekRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "søk erverver",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErververNavnSoekResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen erverver som matchet søkekriteriene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/soek/kontaktinformasjon": {
      "get": {
        "tags": [
          "Soek"
        ],
        "description": "Kontaktinformasjon for erverver",
        "operationId": "kontaktErverver",
        "responses": {
          "200": {
            "description": "Erververs kontaktinformasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KontaktInformasjon"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig forespørsel – mangler nødvendige parametere eller ugyldig format på forespørsel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen kontaktinformasjon for erverver",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/avklaring/opprett": {
      "post": {
        "tags": [
          "KonsesjonAvklaring"
        ],
        "description": "Oppretter konsesjonsavklaring",
        "operationId": "opprettKonsesjonsAvklaring",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KonsesjonsAvklaringOpprettelse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Konsesjonsavklaring har blitt opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonReferanse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/avklaring/{avklaringsId}/status": {
      "get": {
        "tags": [
          "KonsesjonAvklaring"
        ],
        "description": "Hent konsesjonsavklaringsstatus",
        "operationId": "getAvklaringStatus",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status for konsesjonsavklaringsøknad hentet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KonsesjonAvklaringStatus"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/avklaring/godkjenn": {
      "post": {
        "tags": [
          "KonsesjonAvklaring"
        ],
        "description": "Godkjenner konsesjonsavklaringer. Innsenderens eventuelle oppgave opprettes og fullføres som del av kallet; øvrige oppgaver i Min Kommune opprettes asynkront av en jobb i konsesjon-send-service.",
        "operationId": "godkjennKonsesjonsAvklaring",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GodkjenningsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Konsesjonsavklaringene er godkjent"
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke en eller flere av konsesjonsavklaringene som matchet de gitte id-ene",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konsesjonsavklaringen har en status som ikke kan godkjennes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/avklaring/{avklaringsId}/godkjenn-oppgave": {
      "put": {
        "tags": [
          "KonsesjonAvklaring"
        ],
        "description": "Godkjenner oppgave i Min Kommune og sender avklaring til Fiks-Arkiv",
        "operationId": "godkjennOppgave",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppgaveGodkjenningRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Oppgaven er ferdig behandlet"
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke avklaringen, erververen eller oppgaven som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Oppgaven er allerede fullført med en annen status enn den som er forespurt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/egenerklaering/{avklaringsId}/skjemadata": {
      "get": {
        "tags": [
          "Egenerklaering"
        ],
        "description": "Henter data fra LDIR for en startet prosess",
        "operationId": "getEgenerklaeringSkjemadata",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Innhentet skjemadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkjemadataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/egenerklaering/{avklaringsId}/presjekk": {
      "post": {
        "tags": [
          "Egenerklaering"
        ],
        "description": "Kjører presjekk for egenerklaering",
        "operationId": "presjekkEgenerklaering",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresjekkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presjekk fullført",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresjekkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/egenerklaering/{avklaringsId}/hovedsjekk": {
      "post": {
        "tags": [
          "Egenerklaering"
        ],
        "description": "Kjør hovedsjekk for egenerklaering",
        "operationId": "hovedsjekkEgenerklaering",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minItems": 1,
                "items": {
                  "$ref": "#/components/schemas/ErververMedEierandel"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Hovedsjekk fullført",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HovedsjekkResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/soeknad/start": {
      "post": {
        "tags": [
          "Soeknad"
        ],
        "x-not-implemented": true,
        "description": "Endepunktet er ikke implementert ennå. Når det blir tilgjengelig, skal det starte prosessen for å fylle ut og sende inn en konsesjonssøknad",
        "operationId": "startSoeknad",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartSoeknad"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen konsesjonsavklaring som matchet søknadsdataene i forespørselen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "501": {
            "description": "Ikke implementert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/soeknad/{soeknadsId}/skjemadata": {
      "get": {
        "tags": [
          "Soeknad"
        ],
        "x-not-implemented": true,
        "description": "Endepunktet er ikke implementert og vil svare 501 Ikke implementert.",
        "operationId": "getSkjemadata",
        "parameters": [
          {
            "name": "soeknadsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen konsesjonsavklaring som matchet søknadsdataene i forespørselen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt – Når data innhenting ikke er ferdig og status er fremdeles INNHENTER_DATA",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "501": {
            "description": "Ikke implementert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/soeknad/{soeknadsId}/skjema": {
      "post": {
        "tags": [
          "Soeknad"
        ],
        "x-not-implemented": true,
        "description": "Endepunktet er ikke implementert. Dokumentasjonen beskriver kun at operasjonen returnerer 501 Ikke implementert.",
        "operationId": "sendSoeknad",
        "parameters": [
          {
            "name": "soeknadsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SoeknadSkjemaData"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen konsesjonsavklaring som matchet søknadsdataene i forespørselen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt – Når data innhenting ikke er ferdig og status er fremdeles INNHENTER_DATA",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "501": {
            "description": "Ikke implementert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/soeknad/{soeknadsId}/status": {
      "get": {
        "tags": [
          "Soeknad"
        ],
        "x-not-implemented": true,
        "description": "Endepunktet er ikke implementert og returnerer 501 (Ikke implementert)",
        "operationId": "getSoeknadStatus",
        "parameters": [
          {
            "name": "soeknadsId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen konsesjonsavklaring som matchet søknadsdataene i forespørselen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "501": {
            "description": "Ikke implementert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/eiendom/boplikt/{knr}/{gnr}/{bnr}/{fnr}/{snr}": {
      "get": {
        "tags": [
          "Eiendom"
        ],
        "description": "Returnerer om en egenerklæring er påkrevd for eiendommen og om det er boplikt",
        "operationId": "getEgenerklaeringPaakrevdAndBoplikt",
        "parameters": [
          {
            "in": "path",
            "name": "knr",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "gnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "bnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "fnr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "snr",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EgenerklaeringPaakrevdOgBopliktResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/egenerklaering/manuell-behandling": {
      "post": {
        "tags": [
          "Egenerklaering"
        ],
        "description": "Sender inn manuelt utfylt egenerklæring",
        "operationId": "manuellBehandlingEgenerklaering",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManuellBehandlingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Skjema for manuell behandling innsendt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KonsesjonsavklaringIDOgNyStatusResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt - Konsesjonsavklaringen er ikke markert for manuell behandling",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/egenerklaering/{avklaringsId}/resultat-relasjon-sjekk": {
      "post": {
        "tags": [
          "Egenerklaering"
        ],
        "description": "Sender inn resultat fra relasjonssjekk",
        "operationId": "postRelasjonSjekkResultat",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelasjonInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Relasjonssjekk fullført",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InnsendtSkjemaStatus"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt - Hovedsjekk er ikke fullført eller sendte ikke til relasjonssjekk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/felles/{avklaringsId}/pdf": {
      "get": {
        "tags": [
          "Felles"
        ],
        "description": "Genererer en PDF av det ferdigstilte skjemaet",
        "operationId": "getPdf",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "tilleggsinformasjon",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Inkluderer tilleggsinformasjon i PDF-en. Brukes av konsesjon-send-service ved arkivering."
          }
        ],
        "responses": {
          "200": {
            "description": "PDF generert",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt - Feil status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/felles/{avklaringsId}/pdf-status": {
      "get": {
        "tags": [
          "Felles"
        ],
        "description": "Sjekker status på PDF-generering",
        "operationId": "getPdfStatus",
        "parameters": [
          {
            "in": "path",
            "name": "avklaringsId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF status hentet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PDFStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ikke konsesjonsavklaring som matchet den gitte id-en",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/felles/aktivert/{kommunenr}": {
      "get": {
        "tags": [
          "Felles"
        ],
        "description": "Sjekker om MinKommune Oppgave (Fiks konsesjon) er aktivert for kommunen",
        "operationId": "getAktivert",
        "parameters": [
          {
            "in": "path",
            "name": "kommunenr",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aktiveringsstatus hentet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TjenesteAktivertResponse"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang – bearer token ikke sendt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff - Fant ingen organisasjon med gitt kommunenr",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/konsesjon-api/v1/statistikk/kommuner": {
      "get": {
        "tags": [
          "Statistikk"
        ],
        "description": "Henter alle kommuner som har aktivert Fiks konsesjon, med antall opprettede, leverte og konsesjonsfrie avklaringer per uke og totalt. Ukene beregnes ut fra når avklaringen ble opprettet. Svaret caches, så tallene kan være inntil 5 minutter gamle. Endepunktet er åpent og krever ikke pålogging.",
        "operationId": "getAktiverteKommuner",
        "security": [],
        "responses": {
          "200": {
            "description": "Kommuner som har aktivert tjenesten",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KommuneStatistikk"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Fiks konfigurasjon er utilgjengelig",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Matrikkelenhet": {
        "type": "object",
        "required": [
          "matrikkelNr",
          "kommunenummer",
          "kommunenavn",
          "gaardsnummer",
          "bruksnummer",
          "festenummer",
          "seksjonsnummer",
          "erSeksjonert",
          "adresser"
        ],
        "properties": {
          "matrikkelNr": {
            "type": "string",
            "pattern": "^\\d{4}(-|/)\\d{1,6}/\\d{1,6}/\\d{1,6}/\\d{1,6}$"
          },
          "kommunenummer": {
            "type": "string",
            "description": "Nummerering av kommunen i henhold til Statistisk sentralbyrå sin offisielle liste. Tekstverdi som må bestå av 4 tall. 0301 er for eksempel gyldig, mens 301 er ikke gyldig."
          },
          "kommunenavn": {
            "type": "string",
            "description": "Navn på kommunen som matrikkelenheten ligger i."
          },
          "gaardsnummer": {
            "type": "integer",
            "format": "int32",
            "description": "Gårdsnummer, del av matrikkelnummeret for eiendommen."
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32",
            "description": "Bruksnummer, del av matrikkelnummeret for eiendommen."
          },
          "festenummer": {
            "type": "integer",
            "format": "int32",
            "description": "Festenummer, del av matrikkelnummeret for eiendommen."
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32",
            "description": "Seksjonsnummer, del av matrikkelnummeret for eiendommen."
          },
          "erSeksjonert": {
            "type": "boolean",
            "description": "Angir om eiendommen er seksjonert."
          },
          "adresser": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EiendomAdresse"
            }
          }
        }
      },
      "EiendomAdresse": {
        "type": "object",
        "required": [
          "adressenavn",
          "adressekode"
        ],
        "properties": {
          "adressenavn": {
            "type": "string",
            "description": "Navn på gate, veg, sti, plass eller område som er ført i matrikkelen (eksempel Sørumvegen)."
          },
          "adressekode": {
            "type": "integer",
            "format": "int32",
            "description": "Nummer som entydig identifiserer adresserbare gater, veger, stier, plasser og områder som er ført i matrikkelen innen kommunen"
          },
          "nummer": {
            "type": "integer",
            "format": "int32",
            "description": "Del av adressenummer (husnummer) som er et nummer og eventuelt en bokstav, f.eks 23B"
          },
          "bokstav": {
            "type": "string",
            "description": "Del av adressenummer (husnummer) som er et nummer og eventuelt en bokstav, f.eks 23B."
          },
          "postnummer": {
            "type": "string",
            "description": "Postnummer for adressen."
          },
          "poststed": {
            "type": "string",
            "description": "Poststed for adressen."
          }
        }
      },
      "Erverver": {
        "type": "object",
        "required": [
          "erververId",
          "epost"
        ],
        "properties": {
          "erververId": {
            "$ref": "#/components/schemas/ErververId"
          },
          "epost": {
            "type": "string",
            "format": "email",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[A-Za-zæøåÆØÅ0-9_-]+([.+][A-Za-zæøåÆØÅ0-9_-]+)*@[A-Za-zæøåÆØÅ0-9-]+(\\.[A-Za-zæøåÆØÅ0-9-]+)*(\\.[A-Za-z]{2,})$"
          },
          "telefonnummer": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "pattern": "^[+]?[0-9]+([- ][0-9]+)*$"
          },
          "signaturberettigePersoner": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignaturberettigetPerson"
            }
          }
        }
      },
      "KontaktInformasjon": {
        "type": "object",
        "properties": {
          "epost": {
            "type": "string"
          },
          "mobilNr": {
            "type": "string"
          }
        }
      },
      "KonsesjonsAvklaringOpprettelse": {
        "type": "object",
        "required": [
          "matrikkelnummer"
        ],
        "properties": {
          "matrikkelnummer": {
            "$ref": "#/components/schemas/MatrikkelNummer"
          }
        }
      },
      "KonsesjonReferanse": {
        "type": "object",
        "required": [
          "avklaringsId"
        ],
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "KonsesjonsavklaringIDOgNyStatusResponse": {
        "type": "object",
        "required": [
          "avklaringsId",
          "innsendtSkjemaStatus"
        ],
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          },
          "innsendtSkjemaStatus": {
            "$ref": "#/components/schemas/InnsendtSkjemaStatus"
          }
        }
      },
      "KonsesjonAvklaringStatus": {
        "type": "string",
        "enum": [
          "OPPRETTET",
          "INNHENTER_DATA",
          "KLAR_FOR_BEKREFTELSE",
          "FEIL_VED_INNHENTING",
          "PASSERT_PRESJEKK",
          "SENDT_TIL_HOVEDSJEKK",
          "EIENDOM_IKKE_FUNNET",
          "DEL_AV_STORRE_LANDBRUKSEIENDOM",
          "KREVER_IKKE_EGENERKLAERING",
          "KREVER_MANUELL_VURDERING",
          "EIENDOM_ER_SEKSJONERT"
        ]
      },
      "MatrikkelNummer": {
        "type": "object",
        "properties": {
          "kommunenummer": {
            "type": "string",
            "minLength": 4,
            "maxLength": 4
          },
          "gaardsnummer": {
            "type": "integer",
            "format": "int32",
            "maximum": 999999,
            "minimum": 1
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32",
            "maximum": 999999,
            "minimum": 1
          },
          "festenummer": {
            "type": "integer",
            "format": "int32",
            "maximum": 999999,
            "minimum": 0
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32",
            "maximum": 999999,
            "minimum": 0
          }
        },
        "required": [
          "kommunenummer",
          "gaardsnummer",
          "bruksnummer",
          "festenummer",
          "seksjonsnummer"
        ]
      },
      "EiendomsDataMedId": {
        "type": "object",
        "properties": {
          "eiendomsId": {
            "$ref": "#/components/schemas/EiendomsId"
          },
          "eiendomsData": {
            "$ref": "#/components/schemas/EiendomsData"
          }
        }
      },
      "AdresseDto": {
        "type": "object",
        "properties": {
          "adressenavn": {
            "type": "string"
          },
          "husnummer": {
            "type": "string"
          },
          "postnummer": {
            "type": "string"
          }
        }
      },
      "ArealInfo": {
        "type": "object",
        "properties": {
          "arealPaaEiendommenKvm": {
            "type": "number",
            "format": "double"
          },
          "arealFullOgOveflatedyrketJordKvm": {
            "type": "number",
            "format": "double"
          },
          "arealProduktivSkogPaaEiendommenKvm": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "KobletEiendomData": {
        "type": "object",
        "properties": {
          "eiendomsId": {
            "$ref": "#/components/schemas/EiendomsId"
          },
          "koblingsType": {
            "type": "string",
            "enum": [
              "REALKOBLET",
              "DEL_AV_STORRE_LANDBRUKSEIENDOM",
              "MANUELT_INNSENDT"
            ]
          },
          "bebygd": {
            "type": "boolean"
          },
          "arealInfo": {
            "$ref": "#/components/schemas/ArealInfo"
          },
          "adresser": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdresseDto"
            }
          },
          "bygningIder": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "eierandel": {
            "$ref": "#/components/schemas/Eierandel"
          }
        },
        "required": [
          "arealInfo",
          "eiendomsId"
        ]
      },
      "EiendomsData": {
        "type": "object",
        "properties": {
          "eiendomsId": {
            "$ref": "#/components/schemas/EiendomsId"
          },
          "bebygd": {
            "type": "boolean"
          },
          "arealInfo": {
            "$ref": "#/components/schemas/ArealInfo"
          },
          "adresser": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdresseDto"
            }
          },
          "kobledeEiendommer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KobletEiendomData"
            }
          }
        },
        "required": [
          "arealInfo"
        ]
      },
      "SkjemadataResponse": {
        "type": "object",
        "properties": {
          "eiendomsData": {
            "$ref": "#/components/schemas/EiendomsData"
          },
          "totalArealKvm": {
            "type": "number",
            "format": "double"
          },
          "totalArealDyrketJordKvm": {
            "type": "number",
            "format": "double"
          },
          "totalArealProduktivSkogKvm": {
            "type": "number",
            "format": "double"
          },
          "totalBebygd": {
            "type": "boolean"
          }
        }
      },
      "ErververMedEierandel": {
        "type": "object",
        "description": "Erverver og eierskapsandel for en erverver i en egenerklæring",
        "properties": {
          "erverver": {
            "$ref": "#/components/schemas/Erverver"
          },
          "eiendommer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EiendomMedEierandel"
            }
          }
        },
        "required": [
          "erverver",
          "eiendommer"
        ]
      },
      "SignaturberettigetPerson": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string",
            "minLength": 1
          },
          "foedselsnummer": {
            "type": "string",
            "maxLength": 11,
            "minLength": 11,
            "pattern": "^\\d{11}$"
          },
          "fodselsnummer": {
            "type": "string",
            "deprecated": true,
            "description": "Utgått. Bruk `foedselsnummer`. Brukes bare hvis `foedselsnummer` ikke er satt.",
            "maxLength": 11,
            "minLength": 11,
            "pattern": "^\\d{11}$"
          },
          "epost": {
            "type": "string",
            "format": "email",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[A-Za-zæøåÆØÅ0-9_-]+([.+][A-Za-zæøåÆØÅ0-9_-]+)*@[A-Za-zæøåÆØÅ0-9-]+(\\.[A-Za-zæøåÆØÅ0-9-]+)*(\\.[A-Za-z]{2,})$"
          },
          "telefonnummer": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "pattern": "^[+]?[0-9]+([- ][0-9]+)*$"
          }
        },
        "required": [
          "navn",
          "epost"
        ]
      },
      "ErververId": {
        "type": "object",
        "description": "ErververId kan være enten fødselsnummer for person eller organisasjonsnummer for bedrift.",
        "properties": {
          "foedselsnummer": {
            "type": "string",
            "nullable": true,
            "minLength": 11,
            "maxLength": 11,
            "pattern": "^\\d{11}$"
          },
          "fodselsnummer": {
            "type": "string",
            "nullable": true,
            "deprecated": true,
            "description": "Utgått. Bruk `foedselsnummer`. Brukes bare hvis `foedselsnummer` ikke er satt.",
            "minLength": 11,
            "maxLength": 11,
            "pattern": "^\\d{11}$"
          },
          "organisasjonsnummer": {
            "type": "string",
            "nullable": true,
            "minLength": 9,
            "maxLength": 9,
            "pattern": "^\\d{9}$"
          },
          "navn": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "EiendomsId": {
        "type": "object",
        "required": [
          "kommunenummer",
          "gaardsnummer",
          "bruksnummer",
          "festenummer",
          "seksjonsnummer"
        ],
        "properties": {
          "kommunenummer": {
            "type": "string",
            "minLength": 4,
            "maxLength": 4
          },
          "gaardsnummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 999999
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 999999
          },
          "festenummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 999999
          },
          "seksjonsnummer": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 999999
          }
        }
      },
      "EiendomMedEierandel": {
        "type": "object",
        "properties": {
          "eiendomsId": {
            "$ref": "#/components/schemas/EiendomsId"
          },
          "eierandel": {
            "$ref": "#/components/schemas/Eierandel"
          }
        },
        "required": [
          "eiendomsId",
          "eierandel"
        ]
      },
      "Eierandel": {
        "type": "object",
        "required": [
          "teller",
          "nevner"
        ],
        "properties": {
          "teller": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          },
          "nevner": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          }
        }
      },
      "StartSoeknad": {
        "type": "object",
        "required": [
          "soekerInformasjon",
          "overdragerInformasjon",
          "eiendomsInformasjon"
        ],
        "properties": {
          "soekerInformasjon": {
            "$ref": "#/components/schemas/ErververId"
          },
          "overdragerInformasjon": {
            "$ref": "#/components/schemas/ErververId"
          },
          "eiendomsInformasjon": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/EiendomsId"
            }
          }
        }
      },
      "InnhentetEiendom": {
        "type": "object",
        "properties": {
          "bygningsType": {
            "type": "string"
          },
          "grunnflateKvadratmeter": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "SoeknadSkjemaData": {
        "type": "object",
        "description": "Innsendt søknad data",
        "properties": {
          "soekerFulltNavn": {
            "type": "string"
          },
          "soekerAdresse": {
            "type": "string"
          },
          "soekerFoedselsnummer": {
            "type": "string"
          },
          "soekerOrgnummer": {
            "type": "string"
          },
          "soekerEpost": {
            "type": "string"
          },
          "overdragerNavn": {
            "type": "string"
          },
          "overdragerAdresse": {
            "type": "string"
          },
          "overdragerFoedselsnummer": {
            "type": "string"
          },
          "overdragerOrgnummer": {
            "type": "string"
          },
          "betegnelseEiendomEllerRettighet": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            }
          },
          "kjoepeEllerLeieSum": {
            "type": "number",
            "format": "double"
          },
          "kaarFemAarligVerdi": {
            "type": "string"
          },
          "kjoepeSumLoesoere": {
            "type": "number",
            "format": "double"
          },
          "kommune": {
            "type": "string"
          },
          "fylke": {
            "type": "string"
          },
          "arealKvadratmeter": {
            "type": "number",
            "format": "double"
          },
          "arealFordeling": {
            "type": "string"
          },
          "skogbruksPlan": {
            "$ref": "#/components/schemas/SkogbruksPlan"
          },
          "eksisterendeBebyggelse": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/EksisterendeBebyggelse"
            }
          },
          "annenBebyggelse": {
            "type": "string"
          },
          "rettigheter": {
            "type": "string"
          },
          "eierEllerLeierIKommune": {
            "$ref": "#/components/schemas/JaNeiForklaring"
          },
          "eierEllerLeierAndreKommuner": {
            "$ref": "#/components/schemas/JaNeiForklaring"
          },
          "eiendomsBrukBeskrivelse": {
            "type": "string"
          },
          "erverversPlanForBruk": {
            "type": "string"
          },
          "jordSkogsbrukseiendommer": {
            "$ref": "#/components/schemas/JordSkogsbrukseiendommer"
          }
        }
      },
      "SkogbruksPlan": {
        "type": "object",
        "properties": {
          "hogstklasse1": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse2": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse3": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse4": {
            "$ref": "#/components/schemas/Hogstklasse"
          },
          "hogstklasse5": {
            "$ref": "#/components/schemas/Hogstklasse"
          }
        }
      },
      "Hogstklasse": {
        "description": "Hogstklasse, enten presis eller gruppevis",
        "oneOf": [
          {
            "$ref": "#/components/schemas/HogstklassePresis"
          },
          {
            "$ref": "#/components/schemas/HogstklasseGruppevis"
          }
        ]
      },
      "HogstklasseGruppevis": {
        "type": "object",
        "description": "Gruppevis angivelse av hogstklasse",
        "properties": {
          "nivaa": {
            "type": "string",
            "enum": [
              "LAV",
              "MIDDELS",
              "HOEY"
            ]
          }
        }
      },
      "HogstklassePresis": {
        "type": "object",
        "description": "Presis angivelse av hogstklasse",
        "properties": {
          "gran": {
            "type": "integer",
            "format": "int32",
            "maximum": 26,
            "minimum": 6
          },
          "furu": {
            "type": "integer",
            "format": "int32",
            "maximum": 26,
            "minimum": 6
          },
          "bjoerk": {
            "type": "integer",
            "format": "int32",
            "maximum": 26,
            "minimum": 6
          }
        }
      },
      "EksisterendeBebyggelse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "grunnflateKvadratmeter": {
            "type": "number",
            "format": "double"
          },
          "byggeaar": {
            "type": "integer",
            "format": "int32"
          },
          "antallEtasjer": {
            "type": "integer",
            "format": "int32"
          },
          "tilstand": {
            "type": "string",
            "enum": [
              "GOD",
              "MIDDELS",
              "DAARLIG"
            ]
          }
        }
      },
      "JaNeiForklaring": {
        "type": "object",
        "properties": {
          "valg": {
            "type": "boolean"
          },
          "forklaring": {
            "type": "string"
          }
        }
      },
      "JordSkogsbrukseiendommer": {
        "type": "object",
        "properties": {
          "gaardsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "bruksnummer": {
            "type": "integer",
            "format": "int32"
          },
          "soekernsKvalifikasjoner": {
            "type": "string"
          },
          "forpliktelseTilBosetning": {
            "type": "string",
            "enum": [
              "JA",
              "NEI",
              "IKKE_BOSETTE"
            ]
          },
          "annenFastEiendomIKommunen": {
            "$ref": "#/components/schemas/JaNeiForklaring"
          },
          "flereSoekere": {
            "type": "string"
          }
        }
      },
      "PresjekkResponse": {
        "type": "string",
        "enum": [
          "KREVER_IKKE_EGENERKLAERING",
          "DEL_AV_STORRE_LANDBRUKSEIENDOM",
          "KREVER_EGENERKLAERING",
          "KREVER_MANUELL_VURDERING",
          "EIENDOM_ER_SEKSJONERT"
        ]
      },
      "HovedsjekkResponse": {
        "type": "object",
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          },
          "erverver": {
            "$ref": "#/components/schemas/ErververId"
          },
          "innsendtSkjemaStatus": {
            "$ref": "#/components/schemas/InnsendtSkjemaStatus"
          }
        }
      },
      "ManuellBehandlingRequest": {
        "type": "object",
        "required": [
          "konsesjonsavklaringIder",
          "valgtPunkt"
        ],
        "properties": {
          "valgtPunkt": {
            "type": "string",
            "enum": [
              "BEBYGD",
              "UBEBYGD_TOMT",
              "UBEBYGD_TOMT_I_OMRAADE_FOR_BEBYGGELSE",
              "ANDRE_UBEBYGDE_AREALER",
              "SAERTILFELLE_C",
              "SAERTILFELLE_D",
              "SAERTILFELLE_F",
              "SAERTILFELLE_G",
              "SAERTILFELLE_I",
              "SAERTILFELLE_J",
              "SAERTILFELLE_K",
              "SAERTILFELLE_L",
              "SAERTILFELLE_M",
              "SAERTILFELLE_N",
              "SAERTILFELLE_O"
            ]
          },
          "konsesjonsavklaringIder": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "InnsendtSkjemaStatus": {
        "type": "string",
        "enum": [
          "FERDIGSTILT_AUTOMATISK_GODKJENT",
          "FERDIGSTILT_TRENGER_MANUELL_OPPFOELGING",
          "MANUELL_UTFYLLING_LDIR_360_GROENT",
          "MANUELL_UTFYLLING_BEBYGD_LDIR_356_ROEDT",
          "MANUELL_UTFYLLING_UBEBYGD_LDIR_356_ROEDT",
          "AVVENTER_RELASJONSSJEKK_MED_ODEL",
          "AVVENTER_RELASJONSSJEKK_UTEN_ODEL",
          "AVVENTER_BOPLIKTS_UNNTAK_LDIR_356_ROEDT",
          "AVVENTER_BOPLIKTS_UNNTAK_LDIR_356_ROEDT_UTEN_SLEKTSKAP",
          "TRENGER_BOPLIKT_AVKLARING",
          "TRENGER_KONSESJONSFORHOLD_AVKLARING",
          "TRENGER_MANUELL_UTFYLLING_GRUNNET_TEIGDATA",
          "TRENGER_SOEKNAD"
        ]
      },
      "RelasjonInput": {
        "type": "object",
        "description": "Resultat av relasjonssjekk",
        "required": [
          "relasjonSjekkType",
          "automatiskBekreftet"
        ],
        "properties": {
          "relasjonSjekkType": {
            "type": "string",
            "enum": [
              "ODEL",
              "NAER_SLEKT",
              "INGEN_RELASJON"
            ]
          },
          "automatiskBekreftet": {
            "type": "boolean"
          },
          "relasjonsType": {
            "type": "string"
          }
        }
      },
      "BopliktResponse": {
        "type": "object",
        "properties": {
          "harBoplikt": {
            "type": "string",
            "enum": [
              "JA",
              "NEI",
              "MULIGENS"
            ]
          },
          "bopliktForklaringResponse": {
            "type": "string",
            "enum": [
              "NEDSATT_KONSESJONSGRENSE_DEKKER_IKKE_HELE_EIENDOMMEN",
              "HVIS_IKKE_ARVER_FRA_SLEKTSKAP",
              "HVIS_EIENDOM_UNDER_OPPFOERING_OG_I_OMRAADE_REGULERT_TIL_BOLIGFORMAAL",
              "HVIS_UBEBYGD_EIENDOM_I_OMRAADE_REGULERT_TIL_BOLIGFORMAAL",
              "BRUKT_SOM_HELAARSBOLIG",
              "HVIS_BRUKT_SOM_HELAARSBOLIG",
              "ANDRE_AVGRENSNINGER"
            ]
          },
          "andreAvgrensninger": {
            "type": "string",
            "description": "Beskrivelse av andre avgrensninger. Satt når bopliktForklaringResponse er ANDRE_AVGRENSNINGER."
          }
        }
      },
      "PresjekkRequest": {
        "type": "object",
        "properties": {
          "manueltInnsendteEiendommer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EiendomsId"
            }
          }
        }
      },
      "EgenerklaeringPaakrevdOgBopliktResponse": {
        "type": "object",
        "properties": {
          "egenerklaeringPaakrevd": {
            "type": "string",
            "enum": [
              "JA",
              "NEI",
              "IKKE_TILLATT"
            ]
          },
          "boplikt": {
            "$ref": "#/components/schemas/BopliktResponse"
          }
        }
      },
      "ErververNavnSoekRequest": {
        "type": "object",
        "required": [
          "avklaringsId"
        ],
        "properties": {
          "avklaringsId": {
            "type": "string",
            "format": "uuid"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "organisasjonsnumre": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Organisasjonsnummer",
              "maxLength": 9,
              "minLength": 9,
              "example": "012345678",
              "pattern": "^\\d{9}$"
            }
          }
        }
      },
      "Person": {
        "type": "object",
        "required": [
          "foedselsnummer",
          "etternavn"
        ],
        "properties": {
          "foedselsnummer": {
            "type": "string",
            "description": "Fødselsnummer",
            "maxLength": 11,
            "minLength": 11,
            "example": "01234567890",
            "pattern": "^\\d{11}$"
          },
          "etternavn": {
            "type": "string",
            "description": "Etternavn"
          }
        }
      },
      "ErververNavnSoekResponse": {
        "type": "object",
        "required": [
          "erververe"
        ],
        "properties": {
          "erververe": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErververId"
            }
          }
        }
      },
      "GodkjenningsRequest": {
        "type": "object",
        "required": [
          "avklaringsId"
        ],
        "properties": {
          "avklaringsId": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "PDFStatusResponse": {
        "type": "string",
        "enum": [
          "KLAR",
          "IKKE_KLAR",
          "FEILET",
          "KREVES_IKKE"
        ]
      },
      "KommuneStatistikk": {
        "type": "object",
        "required": [
          "navn",
          "antallOpprettet",
          "totaltAntallOpprettet",
          "antallLevert",
          "totaltAntallLevert",
          "antallKonsesjonsfri",
          "totaltAntallKonsesjonsfri"
        ],
        "properties": {
          "navn": {
            "type": "string",
            "description": "Navnet på kommunen.",
            "example": "Oslo kommune"
          },
          "antallOpprettet": {
            "type": "array",
            "description": "Antall opprettede avklaringer per uke, uavhengig av status. Kun uker med avklaringer er med, sortert stigende.",
            "items": {
              "$ref": "#/components/schemas/UkeAntall"
            }
          },
          "totaltAntallOpprettet": {
            "type": "integer",
            "format": "int32",
            "description": "Totalt antall opprettede avklaringer, uavhengig av status.",
            "example": 12
          },
          "antallLevert": {
            "type": "array",
            "description": "Antall avklaringer med status KVITTERT_ARKIV per uke de ble opprettet. Kun uker med avklaringer er med, sortert stigende.",
            "items": {
              "$ref": "#/components/schemas/UkeAntall"
            }
          },
          "totaltAntallLevert": {
            "type": "integer",
            "format": "int32",
            "description": "Totalt antall avklaringer med status KVITTERT_ARKIV.",
            "example": 8
          },
          "antallKonsesjonsfri": {
            "type": "array",
            "description": "Antall avklaringer med status KONSESJONSFRI per uke de ble opprettet. Kun uker med avklaringer er med, sortert stigende.",
            "items": {
              "$ref": "#/components/schemas/UkeAntall"
            }
          },
          "totaltAntallKonsesjonsfri": {
            "type": "integer",
            "format": "int32",
            "description": "Totalt antall avklaringer med status KONSESJONSFRI.",
            "example": 2
          }
        }
      },
      "UkeAntall": {
        "type": "object",
        "required": [
          "aar",
          "uke",
          "antall"
        ],
        "properties": {
          "aar": {
            "type": "integer",
            "format": "int32",
            "description": "Ukebasert år etter ISO-8601.",
            "example": 2026
          },
          "uke": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 53,
            "description": "Ukenummer etter ISO-8601.",
            "example": 40
          },
          "antall": {
            "type": "integer",
            "format": "int32",
            "description": "Antall avklaringer i uken.",
            "example": 5
          }
        }
      },
      "TjenesteAktivertResponse": {
        "type": "object",
        "required": [
          "aktivert"
        ],
        "properties": {
          "aktivert": {
            "type": "boolean",
            "description": "Om tjenesten er aktivert/konfigurert for kommunen."
          }
        }
      },
      "OppgaveGodkjenningRequest": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "GODKJENT",
              "AVVIST"
            ]
          }
        }
      },
      "ErrorMessage": {
        "type": "object",
        "description": "Feilmelding fra Fiks-plattformen",
        "externalDocs": {
          "description": "Beskrivelse av feilmeldinger",
          "url": "https://ks-no.github.io/fiks-plattform/integrasjoner/#feilmeldinger"
        },
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Tidspunktet da feilen oppstod, angitt som antall millisekunder siden Unix-epoch.",
            "example": 1767222000000
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP-statuskode for feilen.",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "Standardtekst for HTTP-statuskoden.",
            "example": "Bad Request"
          },
          "errorId": {
            "type": "string",
            "format": "uuid",
            "description": "Unik identifikator for feilen. Kan oppgis ved henvendelser for å spore feilen.",
            "example": "15a92338-8d98-4b05-a8a6-a879913259fd"
          },
          "path": {
            "type": "string",
            "description": "Stien i forespørselen som førte til feilen.",
            "example": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112"
          },
          "originalPath": {
            "type": "string",
            "nullable": true,
            "description": "Opprinnelig forespurt sti før eventuell intern feilhåndtering. Feltet er vanligvis utelatt eller satt til null.",
            "example": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112"
          },
          "message": {
            "type": "string",
            "description": "Menneskeliglesbar melding som beskriver feilen.",
            "example": "Noe gikk galt"
          },
          "errorCode": {
            "type": "string",
            "pattern": "^[A-Z]{1,10}-[0-9]{4}$",
            "description": "Maskinlesbar kode som identifiserer feiltypen. Koden følger formatet <applikasjonsprefiks>-<feilkode>.",
            "example": "FIKS-0001"
          },
          "errorJson": {
            "type": "string",
            "deprecated": true,
            "description": "Felt med ekstra feilinformasjon som en JSON-kodet streng. Strukturen avhenger av errorCode. Nye tjenester skal bruke errorDetails i stedet.",
            "example": "{\"fiksOrgId\": \"1a5038d7-c1fe-4110-9310-fe3b096a0564\", \"externalReference\": \"a8793ee2-b7b2-40a5-9731-51e018244cf4\"}"
          },
          "errorDetails": {
            "type": "object",
            "additionalProperties": true,
            "description": "Maskinlesbar tilleggsinformasjon om feilen. Strukturen avhenger av errorCode.",
            "example": {
              "fiksOrgId": "1a5038d7-c1fe-4110-9310-fe3b096a0564",
              "externalReference": "a8793ee2-b7b2-40a5-9731-51e018244cf4"
            }
          }
        },
        "example": {
          "timestamp": 1767222000000,
          "status": 400,
          "error": "Bad Request",
          "errorId": "15a92338-8d98-4b05-a8a6-a879913259fd",
          "path": "/tjeneste/api/v1/meldinger/40441e83-5120-445d-8c31-63ed2f4e8112",
          "message": "Ugyldig forespørsel",
          "errorCode": "FIKS-0001",
          "errorDetails": {
            "fiksOrgId": "1a5038d7-c1fe-4110-9310-fe3b096a0564",
            "externalReference": "a8793ee2-b7b2-40a5-9731-51e018244cf4"
          }
        }
      }
    }
  }
}