{
  "openapi": "3.1.0",
  "info": {
    "title": "KS kunnskap - statistikk API",
    "description": "API for uthenting av statistikk for synkronisering av organisasjoner og brukere i KS kunnskap.",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://ksdigital.no/contact/",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "tags": [
    {
      "name": "Organisasjon",
      "description": "Operasjoner relatert til organisasjon (avdelinger/stillinger) i KS kunnskap"
    }
  ],
  "paths": {
    "/kskunnskap-synkronisering/api/v1/statistikk/{fiksOrgId}/organisasjon": {
      "get": {
        "summary": "Hent statistikk for synkronisering av organisasjon",
        "description": "Henter statistikk for synkronisering av organisasjonen i KS kunnskap.",
        "operationId": "getOrganisasjonStatistikk",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FiksOrgId"
            },
            "description": "Fiks organisasjons ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Statistikk for organisasjon synkronisering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganisasjonStatistikkResponse"
                }
              }
            }
          },
          "404": {
            "description": "Organisasjon ikke funnet"
          },
          "500": {
            "description": "Intern serverfeil"
          }
        },
        "tags": [
          "Organisasjon"
        ]
      }
    },
    "/kskunnskap-synkronisering/api/v1/statistikk/{fiksOrgId}/organisasjon/avdelingesfeil": {
      "get": {
        "summary": "Hent synkroniseringsfeil for avdelinger",
        "description": "Henter synkroniseringsfeil for synkronisering av avdelinger i KS kunnskap.",
        "operationId": "hentAvdelingerSynkFeil",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FiksOrgId"
            },
            "description": "Fiks organisasjons ID"
          },
          {
            "in": "query",
            "name": "side",
            "description": "paginering side",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "antall",
            "description": "paginering antall",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Synkroniseringsfeil for organisasjons synkronisering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvdelingerSynkFeilResponse"
                }
              }
            }
          },
          "404": {
            "description": "Organisasjon ikke funnet"
          },
          "500": {
            "description": "Intern serverfeil"
          }
        },
        "tags": [
          "Organisasjon"
        ]
      }
    },
    "/kskunnskap-synkronisering/api/v1/statistikk/{fiksOrgId}/organisasjon/stillingsfeil": {
      "get": {
        "summary": "Hent synkroniseringsfeil for stillinger",
        "description": "Henter synkroniseringsfeil for synkronisering av stillinger i KS kunnskap.",
        "operationId": "hentStillingerSynkFeil",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FiksOrgId"
            },
            "description": "Fiks organisasjons ID"
          },
          {
            "in": "query",
            "name": "side",
            "description": "paginering side",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "antall",
            "description": "paginering antall",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Synkroniseringsfeil for organisasjons synkronisering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StillingerSynkFeilResponse"
                }
              }
            }
          },
          "404": {
            "description": "Organisasjon ikke funnet"
          },
          "500": {
            "description": "Intern serverfeil"
          }
        },
        "tags": [
          "Organisasjon"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "OrganisasjonStatistikkResponse": {
        "type": "object",
        "properties": {
          "fiksOrgId": {
            "type": "string",
            "description": "Fiks organisasjons ID"
          },
          "orgStrukturAktiv": {
            "type": "boolean",
            "description": "Om organisasjonsstruktur synkronisering er aktiv for organisasjonen"
          },
          "antallAvdelingerMottatt": {
            "type": "integer",
            "description": "Antall avdelinger vi har lagert på fiks plattformen"
          },
          "antallAvdelingerSynkronisert": {
              "type": "integer",
              "description": "Antall avdelinger som er synkronisert til KS kunnskap"
          },
          "antallAvdelingerMedFeil": {
            "type": "integer",
            "description": "Antall avdelinger som har synkroniseringsfeil"
          },
          "antallStillingerMottatt": {
            "type": "integer",
            "description": "Antall stillinger vi har lagert på fiks plattformen"
          },
          "antallStillingerMedFeil": {
            "type": "integer",
            "description": "Antall stillinger som har synkroniseringsfeil"
          },
          "sisteSynkronisering": {
            "type": "string",
            "format": "date-time",
            "description": "Tidspunkt for siste synkronisering"
          }
        }
      },
      "AvdelingerSynkFeilResponse": {
        "type": "object",
        "properties": {
          "feil": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "avdelingsId": {
                  "type": "string",
                  "description": "ID for avdelingen som feilen gjelder"
                },
                "sisteFeilBeskrivelse": {
                  "type": "string",
                  "description": "Beskrivelse av den siste feilen som oppstod"
                },
                "forsteFeilTidspunkt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Tidspunkt for første feil"
                },
                "sisteFeilTidspunkt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Tidspunkt for siste feil"
                },
                "antallFeil": {
                  "type": "integer",
                  "description": "Antall synk kjøringer med feil siden første feil"
                }
              }
            },
            "description": "Liste over synkroniseringsfeil"
          },
          "side": {
            "type": "integer",
            "description": "Paginering side"
          },
          "antall": {
            "type": "integer",
            "description": "Antall feil per side"
          },
          "totalt": {
            "type": "integer",
            "description": "Totalt antall avdelinger med synkroniseringsfeil"
          }
        }
      },
      "StillingerSynkFeilResponse": {
        "type": "object",
        "properties": {
          "feil": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "avdelingsId": {
                  "type": "string",
                  "description": "ID for avdelingen som feilen gjelder"
                },
                "brukerId": {
                  "type": "string",
                  "description": "ID for brukeren som feilen gjelder"
                },
                "sisteFeilBeskrivelse": {
                  "type": "string",
                  "description": "Beskrivelse av den siste feilen som oppstod"
                },
                "forsteFeilTidspunkt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Tidspunkt for første feil"
                },
                "sisteFeilTidspunkt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Tidspunkt for siste feil"
                },
                "antallFeil": {
                  "type": "integer",
                  "description": "Antall synk kjøringer med feil siden første feil"
                }
              }
            },
            "description": "Liste over synkroniseringsfeil"
          },
          "side": {
            "type": "integer",
            "description": "Paginering side"
          },
          "antall": {
            "type": "integer",
            "description": "Antall feil per side"
          },
          "totalt": {
            "type": "integer",
            "description": "Totalt antall stillinger med synkroniseringsfeil"
          }
        }
      },
      "FiksOrgId": {
        "type": "string",
        "format": "uuid",
        "description": "Fiks organisasjons ID"
      }
    }
  }
}
