{
  "openapi": "3.0.3",
  "info": {
    "title": "KS Kunnskap Synkronisering Eksterne Brukere API",
    "description": "Kunnskap Eksterne Brukere service",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks@ksdigital.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.test.fiks.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Registrering",
      "description": "Registrering av eksterne brukere"
    },
    {
      "name": "Admin",
      "description": "Admin API for eksterne brukere"
    }
  ],
  "paths": {
    "/kskunnskap-synkronisering/api/v1/eksterne-brukere/registrering/kommuner": {
      "get": {
        "summary": "Hent kommuner tilgjengelig for registrering",
        "tags": [
          "Registrering"
        ],
        "operationId": "hentKommuner",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KommuneListe"
                }
              }
            }
          }
        }
      }
    },
    "/kskunnskap-synkronisering/api/v1/eksterne-brukere/registrering/bruker-info": {
      "get": {
        "summary": "Hent informasjon om innlogget bruker",
        "tags": [
          "Registrering"
        ],
        "operationId": "hentBruker",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bruker"
                }
              }
            }
          }
        }
      }
    },
    "/kskunnskap-synkronisering/api/v1/eksterne-brukere/registrering/mine-registreringer": {
      "get": {
        "summary": "Hent innlogget brukers registreringer",
        "tags": [
          "Registrering"
        ],
        "operationId": "hentMineRegistreringer",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MineRegistreringerListe"
                }
              }
            }
          }
        }
      }
    },
    "/kskunnskap-synkronisering/api/v1/eksterne-brukere/registrering/{fiksOrgId}/registrer": {
      "post": {
        "summary": "Registrer ekstern bruker hos en kommune",
        "tags": [
          "Registrering"
        ],
        "operationId": "registrerBruker",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FiksOrgId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrukerRegistrering"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistreringsStatus"
                }
              }
            }
          }
        }
      }
    },
    "/kskunnskap-synkronisering/api/v1/eksterne-brukere/admin/{fiksOrgId}/ventende": {
      "get": {
        "summary": "Hent eksterne brukere som venter på godkjenning",
        "tags": [
          "Admin"
        ],
        "operationId": "hentVentendeBrukere",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FiksOrgId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminVisningBrukerListe"
                }
              }
            }
          }
        }
      }
    },
    "/kskunnskap-synkronisering/api/v1/eksterne-brukere/admin/{fiksOrgId}/aktive": {
      "get": {
        "summary": "Hent aktive eksterne brukere",
        "tags": [
          "Admin"
        ],
        "operationId": "hentAktiveBrukere",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FiksOrgId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminVisningBrukerListe"
                }
              }
            }
          }
        }
      }
    },
    "/kskunnskap-synkronisering/api/v1/eksterne-brukere/admin/{fiksOrgId}/feil": {
      "get": {
        "summary": "Hent eksterne brukere med feil",
        "tags": [
          "Admin"
        ],
        "operationId": "hentBrukereMedFeil",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FiksOrgId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminVisningBrukerListe"
                }
              }
            }
          }
        }
      }
    },
    "/kskunnskap-synkronisering/api/v1/eksterne-brukere/admin/{fiksOrgId}/bruker/{brukerId}/godkjenn": {
      "post": {
        "summary": "Godkjenn ekstern bruker",
        "tags": [
          "Admin"
        ],
        "operationId": "godkjennBruker",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FiksOrgId"
            }
          },
          {
            "name": "brukerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/kskunnskap-synkronisering/api/v1/eksterne-brukere/admin/{fiksOrgId}/bruker/{brukerId}/avvis": {
      "post": {
        "summary": "Avvis ekstern bruker",
        "tags": [
          "Admin"
        ],
        "operationId": "avvisBruker",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FiksOrgId"
            }
          },
          {
            "name": "brukerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/kskunnskap-synkronisering/api/v1/eksterne-brukere/admin/{fiksOrgId}/bruker/{brukerId}": {
      "delete": {
        "summary": "Slett ekstern bruker",
        "tags": [
          "Admin"
        ],
        "operationId": "slettBruker",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FiksOrgId"
            }
          },
          {
            "name": "brukerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Bruker": {
        "type": "object",
        "properties": {
          "fnr": {
            "type": "string"
          },
          "fornavn": {
            "type": "string"
          },
          "etternavn": {
            "type": "string"
          },
          "epost": {
            "type": "string"
          }
        },
        "required": [
          "fnr",
          "fornavn",
          "etternavn"
        ]
      },
      "BrukerRegistrering": {
        "type": "object",
        "properties": {
          "fnr": {
            "type": "string"
          },
          "fornavn": {
            "type": "string"
          },
          "etternavn": {
            "type": "string"
          },
          "epost": {
            "type": "string"
          },
          "begrunnelse": {
            "type": "string"
          }
        },
        "required": [
          "fnr",
          "fornavn",
          "etternavn",
          "epost",
          "begrunnelse"
        ]
      },
      "KommuneListe": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Kommune"
        }
      },
      "Kommune": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "fiksOrgId": {
            "$ref": "#/components/schemas/FiksOrgId"
          }
        }
      },
      "RegistreringsStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "fnr": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/MinRegistreringStatus"
          },
          "melding": {
            "type": "string"
          }
        }
      },
      "MineRegistreringerListe": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/MinRegistrering"
        }
      },
      "MinRegistrering": {
        "type": "object",
        "properties": {
          "fiksOrgId": {
            "$ref": "#/components/schemas/FiksOrgId"
          },
          "kommuneNavn": {
            "type": "string"
          },
          "epost": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/MinRegistreringStatus"
          },
          "registrertTidspunkt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "fiksOrgId",
          "kommuneNavn",
          "epost",
          "status",
          "registrertTidspunkt"
        ]
      },
      "MinRegistreringStatus": {
        "type": "string",
        "enum": [
          "VENTER",
          "GODKJENT"
        ]
      },
      "AdminVisningBrukerListe": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AdminVisningBruker"
        }
      },
      "AdminVisningBruker": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "fnr": {
            "type": "string"
          },
          "fornavn": {
            "type": "string"
          },
          "etternavn": {
            "type": "string"
          },
          "epost": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "begrunnelse": {
            "type": "string"
          },
          "registrertTidspunkt": {
            "type": "string",
            "format": "date-time"
          },
          "godkjentTidspunkt": {
            "type": "string",
            "format": "date-time"
          },
          "feilstatus": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "fnr",
          "fornavn",
          "etternavn",
          "epost",
          "status",
          "begrunnelse",
          "registrertTidspunkt"
        ]
      },
      "FiksOrgId": {
        "type": "string",
        "format": "uuid",
        "description": "Fiks organisasjons ID"
      }
    }
  }
}