{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Ledsagerbevis Konfigurasjon",
    "description" : "Konfigurasjon av tjenesten digitalt ledsagerbevis",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://forvaltning.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://forvaltning.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "Ledsagerbevis Konfigurasjon",
    "description" : "API for konfigurasjon av tjenesten digitalt ledsagerbevis"
  } ],
  "paths" : {
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/rolle" : {
      "delete" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon" ],
        "summary" : "Deaktiverer og sletter register-rolle som brukes til oppslag for personer",
        "operationId" : "deaktiverRegisterRolle",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Rolle slettet"
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/svarutkontoer" : {
      "get" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon" ],
        "summary" : "Henter aktive svarut-kontoer for en FiksOrg",
        "operationId" : "hentAktiveSvarutKontoer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Svarut-kontoer knyttet til fiksOrgId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarutKontoer"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon" ],
        "summary" : "Henter informasjon om en organisasjon",
        "operationId" : "hentOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Informasjon om en organisasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganisasjonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/status" : {
      "get" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon" ],
        "summary" : "Henter status på om organisasjon har aktivert dokumentlagerkonto og registerRolle",
        "operationId" : "hentStatus",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status på om organisasjon har opprettet Dokumentlager-konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatusRetur"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/konfigurer" : {
      "post" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon" ],
        "summary" : "Oppretter ny Dokumentlager-konto og registerrolle som brukes til utsendelse av informasjon til de som skal få digitalt ledsagerbevis. Vil i tillegg initialisere og konfigurere opp tjenesten om det er behov for det.",
        "operationId" : "konfigurerLedsagerbevis",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Dokumentlager-konto og register-rolle opprettet. Tjeneste er initialisert og konfigurert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LedsagerBevisKonfigurasjon"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/svarutkontoer/{kontoid}" : {
      "post" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon" ],
        "summary" : "Spesifiser hvilken Svarut-konto som skal brukes under utsendelse av brev",
        "operationId" : "leggTilSvarutkonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Svarut-kontoId er lagret"
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/oppdater" : {
      "post" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon" ],
        "summary" : "Oppdaterer organisasjons-informasjon",
        "operationId" : "oppdaterOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterOrganisasjonRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Organisasjon er oppdatert"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "SvarutKonto" : {
        "required" : [ "kontoId", "kontonavn" ],
        "type" : "object",
        "properties" : {
          "kontoId" : {
            "type" : "string",
            "description" : "Id til Svarutkonto",
            "format" : "uuid"
          },
          "kontonavn" : {
            "type" : "string",
            "description" : "Navn til svarutkonto"
          }
        },
        "description" : "Navn og kontoId for Svarutkonto"
      },
      "SvarutKontoer" : {
        "required" : [ "kontoer" ],
        "type" : "object",
        "properties" : {
          "kontoer" : {
            "type" : "array",
            "description" : "Liste over aktive svarutkontoer tilknyttet fiksOrg",
            "items" : {
              "$ref" : "#/components/schemas/SvarutKonto"
            }
          }
        },
        "description" : "Inneholder liste over aktive Svarut-kontoer"
      },
      "OrganisasjonResponse" : {
        "required" : [ "fiksOrgId" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksorganisasjonsId",
            "format" : "uuid"
          },
          "epost" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Epost-adresser til personer tilknytet organisasjonen",
            "items" : {
              "type" : "string",
              "description" : "Epost-adresser til personer tilknytet organisasjonen"
            }
          },
          "svarutkonto" : {
            "$ref" : "#/components/schemas/SvarutKonto"
          }
        },
        "description" : "Informasjon om status for konfigurasjon av digitalt ledsagerbevis"
      },
      "StatusRetur" : {
        "required" : [ "dokumentlagerKontoStatus", "initialisert", "rolleStatus", "svarutKontoStatus", "varslingKontoStatus" ],
        "type" : "object",
        "properties" : {
          "initialisert" : {
            "type" : "boolean"
          },
          "dokumentlagerKontoStatus" : {
            "type" : "string",
            "enum" : [ "OPPRETTET", "IKKE_OPPRETTET" ]
          },
          "rolleStatus" : {
            "type" : "string",
            "enum" : [ "OPPRETTET", "IKKE_OPPRETTET" ]
          },
          "svarutKontoStatus" : {
            "type" : "string",
            "enum" : [ "OPPRETTET", "IKKE_OPPRETTET" ]
          },
          "varslingKontoStatus" : {
            "type" : "string",
            "enum" : [ "OPPRETTET", "IKKE_OPPRETTET" ]
          }
        },
        "description" : "Informasjon om status for konfigurasjon av digitalt ledsagerbevis"
      },
      "LedsagerBevisKonfigurasjon" : {
        "required" : [ "dokumentlagerKontoId", "rolleId", "tjenesteRessursId", "varslingKontoId" ],
        "type" : "object",
        "properties" : {
          "dokumentlagerKontoId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "varslingKontoId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "rolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "tjenesteRessursId" : {
            "type" : "string",
            "format" : "uuid"
          }
        },
        "description" : "Informasjon konfigurasjon av ledsagerbevis"
      },
      "OppdaterOrganisasjonRequest" : {
        "required" : [ "epost" ],
        "type" : "object",
        "properties" : {
          "epost" : {
            "maxItems" : 20,
            "minItems" : 0,
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Epost-adresser til kontaktpersoner for Digitalt Ledsagerbevis",
            "items" : {
              "type" : "string",
              "description" : "Epost-adresser til kontaktpersoner for Digitalt Ledsagerbevis"
            }
          }
        }
      }
    }
  }
}