{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Ledsagerbevis Soknad Saksbehandling",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://developer.fiks.ks.no/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://forvaltning.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://forvaltning.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "LedsagerbevisSoknadMottak",
    "description" : "API for å motta ledsagerbevis-søknader fra Altinn Studio"
  }, {
    "name" : "LedsagerbevisSoknadSaksbehandling",
    "description" : "API for å behandle ledsagerbevis søknader"
  } ],
  "paths" : {
    "/digitalt-ledsagerbevis-soknad/api/v1/soknad" : {
      "post" : {
        "tags" : [ "LedsagerbevisSoknadMottak" ],
        "description" : "Motta søknad",
        "operationId" : "submitSoknad",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubmitSoknadRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Søknad mottatt",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-soknad/api/v1/soknad/saksbehandling/organisasjoner/{fiksOrgId}/{soknadId}" : {
      "get" : {
        "tags" : [ "LedsagerbevisSoknadSaksbehandling" ],
        "operationId" : "getSoknad",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "soknadId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter spesifik søknad",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BehandleSoknadResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "LedsagerbevisSoknadSaksbehandling" ],
        "operationId" : "godkjennSoknad",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "soknadId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FullforBehanldingRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet ledsagerbevis",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BehandleSoknadResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-soknad/api/v1/soknad/saksbehandling/organisasjoner/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "LedsagerbevisSoknadSaksbehandling" ],
        "operationId" : "getSoknader",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "MOTTATT", "TIL_BEHANDLING", "GODKJENT", "AVSLATT" ]
          }
        }, {
          "name" : "side",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sideAntall",
          "in" : "query",
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter søknader",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SoknadListResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-soknad/api/v1/soknad/saksbehandling/organisasjoner/{fiksOrgId}/{soknadId}/vedtak" : {
      "post" : {
        "tags" : [ "LedsagerbevisSoknadSaksbehandling" ],
        "operationId" : "lagreVedtak",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "soknadId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BehandleSoknadRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Endringer på vedtak mottatt",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "Administrator" : {
        "required" : [ "fnr", "navn", "telefonnummer" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer"
          },
          "navn" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Navn knyttet til ledsagerbevis"
          },
          "telefonnummer" : {
            "pattern" : "^[49]\\d{7}$",
            "type" : "string",
            "description" : "Telefonnummer til person"
          }
        },
        "description" : "Personer som skal ha administratorrett for ledsagerbeviset"
      },
      "Adresse" : {
        "required" : [ "adressenavn", "postnummer", "poststed" ],
        "type" : "object",
        "properties" : {
          "adressenavn" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Gatenavn"
          },
          "postnummer" : {
            "pattern" : "^[0-9]{4}$",
            "type" : "string",
            "description" : "Postnummer"
          },
          "poststed" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Poststed"
          }
        },
        "description" : "Adresse det er mulig å sende post til"
      },
      "AltinnInstanse" : {
        "required" : [ "eierId", "instanseId" ],
        "type" : "object",
        "properties" : {
          "instanseId" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Altinn sin Instance ID for skjemaet"
          },
          "eierId" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Altinn sin OwnerID for skjemaet"
          }
        },
        "description" : "Metadata for AltInn session"
      },
      "Innsender" : {
        "required" : [ "fnr", "navn", "telefonnummer" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Navn"
          },
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Kontakt telefonnummer for innsender"
          }
        },
        "description" : "Person som sender inn søknad, hvis de ikke søker på vegne av seg selv"
      },
      "Person" : {
        "required" : [ "fnr", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Navn knyttet til ledsagerbevis"
          },
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Adresse"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Telefonnummer til person"
          }
        },
        "description" : "Person som skal eie beviset"
      },
      "SubmitSoknadRequest" : {
        "required" : [ "administratorer", "altinnInstanse", "behov", "bevisEier", "fiksOrgId", "onskerFysiskBevis", "onsketVarighet", "sokerFor", "vedlegg" ],
        "type" : "object",
        "properties" : {
          "altinnInstanse" : {
            "$ref" : "#/components/schemas/AltinnInstanse"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Fiksorg ID på kommunen til beviseier",
            "format" : "uuid"
          },
          "sokerFor" : {
            "type" : "string",
            "description" : "Hvem innsender søker på vegne av",
            "enum" : [ "MEG_SELV", "FORELDREANSVAR", "FULLMAKT", "BEBOER_PASIENT", "ANNEN" ]
          },
          "sokerForBegrunnelse" : {
            "type" : "string",
            "description" : "Begrunnelse dersom innsender ikke søker på vegne av seg selv"
          },
          "behov" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Beskriver beviseier sitt behov for ledsagere"
          },
          "onsketVarighet" : {
            "type" : "string",
            "description" : "Er behovet tidsbegrenset eller varig?",
            "enum" : [ "TIDSBEGRENSET", "VARIG", "INGEN" ]
          },
          "onskerFysiskBevis" : {
            "type" : "boolean",
            "description" : "Er det behov for fysisk bevis?"
          },
          "onskerFysiskBevisBegrunnelse" : {
            "type" : "string",
            "description" : "Begrunnelse dersom det er behov for fysisk bevis"
          },
          "bevisEier" : {
            "$ref" : "#/components/schemas/Person"
          },
          "administratorer" : {
            "type" : "array",
            "description" : "Personer som skal ha administratorrett for ledsagerbeviset",
            "items" : {
              "$ref" : "#/components/schemas/Administrator"
            }
          },
          "innsender" : {
            "$ref" : "#/components/schemas/Innsender"
          },
          "vedlegg" : {
            "minItems" : 1,
            "type" : "array",
            "description" : "Metadata for vedlegg tilhørende skjemaet",
            "items" : {
              "$ref" : "#/components/schemas/VedleggMetadata"
            }
          }
        },
        "description" : "Send inn søknad"
      },
      "VedleggMetadata" : {
        "required" : [ "mimeType", "vedleggId", "vedleggNavn", "vedleggType" ],
        "type" : "object",
        "properties" : {
          "vedleggId" : {
            "type" : "string",
            "description" : "Id fra AltInn "
          },
          "vedleggType" : {
            "type" : "string",
            "description" : "Datatype fra AltInn",
            "enum" : [ "VEDLEGGDOKUMENT", "VEDLEGGBILDE", "VEDLEGGSOKNAD" ]
          },
          "vedleggNavn" : {
            "type" : "string",
            "description" : "Orginal filnavn fra AltInn"
          },
          "mimeType" : {
            "type" : "string",
            "description" : "MIME type av vedlegget"
          },
          "dokumentLagerId" : {
            "type" : "string",
            "description" : "DokumentLager ID"
          }
        },
        "description" : "Metadata for et vedlegg fra AltInn"
      },
      "BehandleSoknadResponse" : {
        "required" : [ "datoMottatt", "fiksOrgId", "id", "merknader", "soknad", "status", "vedtak" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Skjema ID",
            "format" : "uuid"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Fiksorg ID på kommunen til beviseier",
            "format" : "uuid"
          },
          "datoMottatt" : {
            "type" : "string",
            "description" : "Dato søknaden ble mottatt",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "Behandlingsstatus",
            "enum" : [ "MOTTATT", "TIL_BEHANDLING", "GODKJENT", "AVSLATT" ]
          },
          "merknader" : {
            "type" : "array",
            "description" : "Interne merknader fra saksbehandler",
            "items" : {
              "$ref" : "#/components/schemas/Merknad"
            }
          },
          "vedtak" : {
            "$ref" : "#/components/schemas/Vedtak"
          },
          "soknad" : {
            "$ref" : "#/components/schemas/Soknad"
          }
        },
        "description" : "Behandling av soknader"
      },
      "Merknad" : {
        "required" : [ "dato", "kommentar", "saksbehandlerNavn" ],
        "type" : "object",
        "properties" : {
          "kommentar" : {
            "type" : "string",
            "description" : "Innhold i merknaden"
          },
          "dato" : {
            "type" : "string",
            "description" : "Dato merknaden ble opprettet",
            "format" : "date-time"
          },
          "saksbehandlerNavn" : {
            "type" : "string",
            "description" : "Saksbehandler som skrev merknaden"
          }
        },
        "description" : "Intern merknad fra saksbehandler"
      },
      "Soknad" : {
        "required" : [ "administratorer", "behov", "bevisEier", "onskerFysiskBevis", "sokerFor" ],
        "type" : "object",
        "properties" : {
          "sokerFor" : {
            "type" : "string",
            "description" : "Hvem innsender søker på vegne av",
            "enum" : [ "MEG_SELV", "FORELDREANSVAR", "FULLMAKT", "BEBOER_PASIENT", "ANNEN" ]
          },
          "sokerForBegrunnelse" : {
            "type" : "string",
            "description" : "Begrunnelse dersom innsender ikke søker på vegne av seg selv"
          },
          "behov" : {
            "type" : "string",
            "description" : "Beskriver beviseier sitt behov for ledsagere"
          },
          "onsketVarighet" : {
            "type" : "string",
            "description" : "Er behovet tidsbegrenset eller varig?",
            "enum" : [ "TIDSBEGRENSET", "VARIG", "INGEN" ]
          },
          "onskerFysiskBevis" : {
            "type" : "boolean",
            "description" : "Er det behov for fysisk bevis?"
          },
          "onskerFysiskBevisBegrunnelse" : {
            "type" : "string",
            "description" : "Begrunnelse dersom det er behov for fysisk bevis"
          },
          "bevisEier" : {
            "$ref" : "#/components/schemas/Person"
          },
          "administratorer" : {
            "type" : "array",
            "description" : "Personer som skal ha administratorrett for ledsagerbeviset",
            "items" : {
              "$ref" : "#/components/schemas/Administrator"
            }
          },
          "innsender" : {
            "$ref" : "#/components/schemas/Innsender"
          },
          "vedlegg" : {
            "type" : "array",
            "description" : "Vedleggs metadata",
            "items" : {
              "$ref" : "#/components/schemas/VedleggMetadata"
            }
          }
        },
        "description" : "Kopi av orginale soknaden"
      },
      "Vedtak" : {
        "required" : [ "antallLedsagere", "datoBehandlet", "fysiskBevis", "punktSkrift", "saksbehandler", "varighet", "varighetAr" ],
        "type" : "object",
        "properties" : {
          "datoBehandlet" : {
            "type" : "string",
            "description" : "Dato søknaden ble godkjent eller avslått",
            "format" : "date-time"
          },
          "varighet" : {
            "type" : "string",
            "description" : "VarighetType av vedtaket",
            "enum" : [ "TIDSBEGRENSET", "VARIG", "INGEN" ]
          },
          "varighetAr" : {
            "type" : "integer",
            "description" : "Varighet i antall år",
            "format" : "int32"
          },
          "begrunnelse" : {
            "type" : "string",
            "description" : "Begrunnelse for vedtaket"
          },
          "antallLedsagere" : {
            "type" : "integer",
            "description" : "Antall ledsagere",
            "format" : "int32"
          },
          "fysiskBevis" : {
            "type" : "boolean",
            "description" : "Innvilget fysisk bevis"
          },
          "punktSkrift" : {
            "type" : "boolean",
            "description" : "Har behov for punktskrift"
          },
          "saksbehandler" : {
            "type" : "string",
            "description" : "Saksbehandler"
          }
        },
        "description" : "Vedtaket"
      },
      "BehandlingSoknadSummary" : {
        "required" : [ "bevisEier", "datoMottatt", "id", "status" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Skjema ID",
            "format" : "uuid"
          },
          "datoMottatt" : {
            "type" : "string",
            "description" : "Dato søknaden ble mottatt",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "Behandlingsstatus",
            "enum" : [ "MOTTATT", "TIL_BEHANDLING", "GODKJENT", "AVSLATT" ]
          },
          "merknad" : {
            "type" : "string",
            "description" : "Siste interne merknad fra saksbehandler"
          },
          "bevisEier" : {
            "$ref" : "#/components/schemas/Person"
          }
        },
        "description" : "Soknads data for listevisning av soknader"
      },
      "SoknadListResponse" : {
        "required" : [ "soknader", "totaltAntall" ],
        "type" : "object",
        "properties" : {
          "soknader" : {
            "type" : "array",
            "description" : "Soknader som matcher filteret; paginert",
            "items" : {
              "$ref" : "#/components/schemas/BehandlingSoknadSummary"
            }
          },
          "totaltAntall" : {
            "type" : "integer",
            "description" : "Totalt antall soknader som matcher filteret; paginering ikke inkludert",
            "format" : "int32"
          }
        },
        "description" : "Listevisning av soknader"
      },
      "FullforBehanldingRequest" : {
        "required" : [ "begrunnelse", "godkjent" ],
        "type" : "object",
        "properties" : {
          "begrunnelse" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Begrunnelse for vedtak"
          },
          "godkjent" : {
            "type" : "boolean",
            "description" : "Er søknad godkjent"
          }
        },
        "description" : "Opprett ledsagerbevis"
      },
      "BehandleSoknadRequest" : {
        "required" : [ "vedtak" ],
        "type" : "object",
        "properties" : {
          "bevisEierTelefonnummer" : {
            "pattern" : "^[49]\\d{7}$",
            "type" : "string",
            "description" : "Nytt telefonnummer for eier av beviset"
          },
          "vedtak" : {
            "$ref" : "#/components/schemas/VedtakRequest"
          }
        },
        "description" : "Skal endre søknad"
      },
      "VedtakRequest" : {
        "required" : [ "saksbehandlerNavn" ],
        "type" : "object",
        "properties" : {
          "saksbehandlerNavn" : {
            "type" : "string",
            "description" : "Navn på "
          },
          "varighet" : {
            "type" : "string",
            "description" : "VarighetType av vedtaket",
            "enum" : [ "TIDSBEGRENSET", "VARIG", "INGEN" ]
          },
          "varighetAr" : {
            "type" : "integer",
            "description" : "Varighet i antall år",
            "format" : "int32"
          },
          "antallLedsagere" : {
            "type" : "integer",
            "description" : "Antall ledsagere",
            "format" : "int32"
          },
          "fysiskBevis" : {
            "type" : "boolean",
            "description" : "Innvilget fysisk bevis"
          },
          "punktSkrift" : {
            "type" : "boolean",
            "description" : "Har behov for punktskrift"
          }
        },
        "description" : "Skal endre vedtak"
      }
    }
  }
}