{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Ledsagerbevis",
    "description" : "Tjeneste digitalt ledsagerbevis",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "LedsagerbevisBilde",
    "description" : "API for digitalt ledsagerbevis for å laste opp og hente ut bilder"
  }, {
    "name" : "Ledsagerbevis",
    "description" : "API for digitalt ledsagerbevis"
  } ],
  "paths" : {
    "/digitalt-ledsagerbevis/api/v1/bilde/organisasjoner/{fiksOrgId}/sistOpplastet" : {
      "post" : {
        "tags" : [ "LedsagerbevisBilde" ],
        "description" : "Henter ut eventuell eksisterende bilde",
        "operationId" : "hentBilde",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HentBilde"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Henter eksisterende bilde"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis/api/v1/bilde/organisasjoner/{fiksOrgId}" : {
      "post" : {
        "tags" : [ "LedsagerbevisBilde" ],
        "description" : "Last opp bilde",
        "operationId" : "lastOppBilde",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Laster opp bilde",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpplastetBildeResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis/api/v1/organisasjoner/{fiksOrgId}/ledsagerbevis/{ledsagerbevisId}/forvalter" : {
      "post" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Legg til person som skal forvalte det digitale ledsagerbeviset",
        "operationId" : "leggTilForvalter",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ledsagerbevisId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggTilForvalterRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Legger til forvalter",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LedsagerbevisResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Fjerne person som forvalter det digitale ledsagerbeviset",
        "operationId" : "fjernForvalter",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ledsagerbevisId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FjernForvalterRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Fjerner forvalter",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LedsagerbevisResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis/api/v1/organisasjoner/{fiksOrgId}/ledsagerbevis/{ledsagerbevisId}" : {
      "get" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Hent ledsagerbevis",
        "operationId" : "hentLedsagerbevis",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ledsagerbevisId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter ledsagerbevis",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LedsagerbevisResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Revoker ledsagerbevis",
        "operationId" : "revokerLedsagerbevis",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ledsagerbevisId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RevokerLedsagerbevisRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Revokert ledsagerbevis"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis/api/v1/organisasjoner/{fiksOrgId}/ledsagerbevis" : {
      "get" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Hent alle ledsagerbevis for fiksOrg",
        "operationId" : "hentLedsagerbevisForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hentet alle ledsagerbevis tilknyttet fiksOrg",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/LedsagerbevisResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Opprett ledsagerbevis",
        "operationId" : "opprettLedsagerbevis",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettLedsagerbevisRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ledsagerbevis",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LedsagerbevisResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis/api/v1/organisasjoner/{fiksOrgId}/ledsagerbevis/{ledsagerbevisId}/historikk" : {
      "get" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Ledsagerbevis historikk",
        "operationId" : "hentLedsagerbevisHistorikk",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ledsagerbevisId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter historikk på ledsagerbevis",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/LedsagerbevisHendelse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis/api/v1/tilganger" : {
      "get" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Henter alle kommuner innlogget aktør har tilgang til å opprette digitalt ledsagerbevis for",
        "operationId" : "hentTilganger",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/LedsagerbevisTilgang"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis/api/v1/personsok/organisasjoner/{fiksOrgId}" : {
      "post" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Oppslag med fødselsnummer for å hente ut informasjon fra Folkeregisteret og KRR",
        "operationId" : "oppslag",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PersonSokRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Informasjon henta fra Folkeregisteret og KRR",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonSok"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis/innbygger/api/v1/ledsagerbevis" : {
      "get" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Henter alle ledsagerbevis innbygger har tilgang på",
        "operationId" : "hentLedsagerbevisList",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/LedsagerbevisInnbyggerRespons"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis/innbygger/api/v1/{tlf}" : {
      "post" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Utsteder engangspassord",
        "operationId" : "utstedEngangspassord",
        "parameters" : [ {
          "name" : "tlf",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Utsted engangspassord"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis/innbygger/api/v1/token" : {
      "get" : {
        "tags" : [ "Ledsagerbevis" ],
        "description" : "Utsteder token",
        "operationId" : "utstedToken",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TokenRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Utsted token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "HentBilde" : {
        "required" : [ "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string",
            "description" : "Fødselsnummer"
          }
        },
        "description" : "Hent bildeinfo for fnr"
      },
      "OpplastetBildeResponse" : {
        "type" : "object",
        "properties" : {
          "bildeId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "LedsagerbevisResponse" : {
        "required" : [ "antallLedsagere", "eier", "eksternId", "fiksOrgId", "id", "opprettetDato", "utlopsdato" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id til ledsagerbevis",
            "format" : "uuid"
          },
          "eier" : {
            "$ref" : "#/components/schemas/PersonRespons"
          },
          "antallLedsagere" : {
            "type" : "integer",
            "description" : "Antall ledsagere",
            "format" : "int32"
          },
          "utlopsdato" : {
            "type" : "string",
            "description" : "Utløpsdato for beviset",
            "format" : "date"
          },
          "forvaltere" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Personer som skal forvalte ledsagerbeviset",
            "items" : {
              "$ref" : "#/components/schemas/PersonRespons"
            }
          },
          "eksternId" : {
            "type" : "string",
            "description" : "Ekstern id for ledsagerbevis"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Organisasjon som har utstedet bevis",
            "format" : "uuid"
          },
          "opprettetDato" : {
            "type" : "string",
            "description" : "Dato ledsagerbeviset er opprettet",
            "format" : "date-time"
          },
          "revokertGrunn" : {
            "type" : "string",
            "description" : "Hvorfor ledsagerbeviset er slettet/revokert"
          },
          "revokertDato" : {
            "type" : "string",
            "description" : "Dato ledsagerbeviset er revokert",
            "format" : "date-time"
          }
        }
      },
      "PersonRespons" : {
        "required" : [ "fnr", "navn", "telefonnummer" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på forvalter"
          },
          "fnr" : {
            "type" : "string",
            "description" : "Fødselsnummer til forvalter"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Telefonnummer til forvalter"
          }
        },
        "description" : "Forvalter av ledsagerbevis"
      },
      "FjernForvalterRequest" : {
        "required" : [ "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string",
            "description" : "Fødselsnummer til person"
          }
        },
        "description" : "Person som skal fjernes som forvalter av ledsagerbevis"
      },
      "LedsagerbevisHendelse" : {
        "required" : [ "hendelseType", "tidspunkt" ],
        "type" : "object",
        "properties" : {
          "hendelseType" : {
            "type" : "string",
            "description" : "Type hendelse på ledsagerbeviset",
            "enum" : [ "OPPRETTET", "REVOKERT", "SENDT_FORVALTER", "IKKE_SENDT_FORVALTER", "IKKE_SENDT_UTSTEDET_TIL", "SENDT_UTSTEDET_TIL", "SENDT_PRINT", "FORVALTER_LAGT_TIL", "FORVALTER_FJERNET", "ENDRET_EKSTERN_ID" ]
          },
          "tidspunkt" : {
            "type" : "string",
            "description" : "Tidspunkt hendelsen inntraff",
            "format" : "date"
          }
        },
        "description" : "Hendelse på ledsagerbevis"
      },
      "LedsagerbevisTilgang" : {
        "required" : [ "fiksOrgId", "fiksOrgNavn" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Fiksorganisasjonsnummer",
            "format" : "uuid"
          },
          "fiksOrgNavn" : {
            "type" : "string",
            "description" : "Navn på Fiks-organsiasjon"
          },
          "kommunenr" : {
            "type" : "string",
            "description" : "Kommunenummer dersom en får tak i dette via konfigurasjon"
          }
        },
        "description" : "Beskriver fiksOrg som ansatt har tilgang til"
      },
      "Adresse" : {
        "required" : [ "adressenavn", "postnummer", "poststed" ],
        "type" : "object",
        "properties" : {
          "adressenavn" : {
            "type" : "string",
            "description" : "Gatenavn"
          },
          "postnummer" : {
            "pattern" : "^[0-9]{4}$",
            "type" : "string",
            "description" : "Postnummer"
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed"
          }
        },
        "description" : "Adresse det er mulig å sende post til"
      },
      "LeggTilForvalterRequest" : {
        "required" : [ "forvalter" ],
        "type" : "object",
        "properties" : {
          "forvalter" : {
            "$ref" : "#/components/schemas/Person"
          }
        },
        "description" : "Person som skal forvalte et ledsagerbevis"
      },
      "Person" : {
        "required" : [ "adresse", "fnr", "navn", "telefonnummer" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn knyttet til ledsagerbevis"
          },
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Adresse"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Telefonnummer til person"
          }
        },
        "description" : "Person knyttet til ledsagerbeviset"
      },
      "OpprettLedsagerbevisRequest" : {
        "required" : [ "antallLedsagere", "eier", "utlopsdato" ],
        "type" : "object",
        "properties" : {
          "eier" : {
            "$ref" : "#/components/schemas/Person"
          },
          "antallLedsagere" : {
            "maximum" : 2,
            "minimum" : 1,
            "type" : "integer",
            "description" : "Antall ledsagere",
            "format" : "int32"
          },
          "utlopsdato" : {
            "type" : "string",
            "description" : "Utløpsdato for beviset",
            "format" : "date"
          },
          "forvaltere" : {
            "type" : "array",
            "description" : "Personer som skal forvalte ledsagerbeviset",
            "items" : {
              "$ref" : "#/components/schemas/Person"
            }
          }
        },
        "description" : "Opprett Ledsagerbevis"
      },
      "RevokerLedsagerbevisRequest" : {
        "required" : [ "revokertGrunn" ],
        "type" : "object",
        "properties" : {
          "revokertGrunn" : {
            "type" : "string",
            "description" : "Hvorfor ledsagerbevis skal bli revokert"
          }
        }
      },
      "PersonSok" : {
        "required" : [ "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn henta fra Folkeregisteret."
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Adresse"
          },
          "tlf" : {
            "type" : "string",
            "description" : "Telefonnummer som finnes i Kontakt- og Reservasjonsregisteret"
          }
        },
        "description" : "Personinformasjon henta fra Folkeregisteret og KRR"
      },
      "PersonSokRequest" : {
        "required" : [ "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummeret det skal hentes informasjon om"
          }
        },
        "description" : "Request for å hente ut informasjon fra Folkeregisteret og KRR"
      },
      "LedsagerbevisInnbyggerRespons" : {
        "required" : [ "antallLedsagere", "id", "utlopsdato" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id på ledsagerbeviset",
            "format" : "uuid"
          },
          "antallLedsagere" : {
            "type" : "integer",
            "description" : "Antall ledsagere",
            "format" : "int32"
          },
          "utlopsdato" : {
            "type" : "string",
            "description" : "Utløpsdato for beviset",
            "format" : "date"
          }
        }
      },
      "TokenResponse" : {
        "required" : [ "token" ],
        "type" : "object",
        "properties" : {
          "token" : {
            "type" : "string"
          }
        },
        "description" : "Token for tilgang til ledsagerbevis"
      },
      "TokenRequest" : {
        "required" : [ "otp", "telefonnummer" ],
        "type" : "object",
        "properties" : {
          "otp" : {
            "type" : "string",
            "description" : "Engangspassord for telefonnummer"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Tilhørende telefonnummer"
          }
        }
      }
    }
  }
}