{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Ledsagerbevis Konfigurasjon",
    "description" : "Konfigurasjon av tjenesten digitalt ledsagerbevis",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://forvaltning.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://forvaltning.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "Ledsagerbevis Konfigurasjon Autorisasjon Gruppe",
    "description" : "API for konfigurasjon av autorisasjoner på grupper for tjenesten digitalt ledsagerbevis"
  }, {
    "name" : "Ledsagerbevis Konfigurasjon Gruppe",
    "description" : "API for konfigurasjon av grupper for tjenesten digitalt ledsagerbevis"
  }, {
    "name" : "Ledsagerbevis Konfigurasjon",
    "description" : "API for konfigurasjon av tjenesten digitalt ledsagerbevis"
  } ],
  "paths" : {
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/grupper/{gruppeId}/administratorer" : {
      "get" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon Autorisasjon Gruppe" ],
        "summary" : "Henter administratorer for gruppe for Digitalt ledsagerbevis",
        "operationId" : "hentAdmin",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "gruppeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Admin",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonerResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon Autorisasjon Gruppe" ],
        "summary" : "Legg admin til gruppe",
        "operationId" : "leggAdminTilGruppe",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "gruppeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggPersonTilGruppeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Admin lagt til"
          }
        }
      },
      "delete" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon Autorisasjon Gruppe" ],
        "summary" : "Fjern admin fra gruppe",
        "operationId" : "fjernAdminFraGruppe",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "gruppeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FjernPersonFraGruppeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Admin fjernet"
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/grupper/{gruppeId}/brukere" : {
      "get" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon Autorisasjon Gruppe" ],
        "summary" : "Henter brukere for gruppe for Digitalt ledsagerbevis",
        "operationId" : "hentBrukere",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "gruppeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Brukere",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonerResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon Autorisasjon Gruppe" ],
        "summary" : "Legg bruker til gruppe",
        "operationId" : "leggBrukerTilGruppe",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "gruppeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LeggPersonTilGruppeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Bruker lagt til"
          }
        }
      },
      "delete" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon Autorisasjon Gruppe" ],
        "summary" : "Fjern bruker fra gruppe",
        "operationId" : "fjernBrukerFraGruppe",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "gruppeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FjernPersonFraGruppeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Bruker fjernet"
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/grupper/{gruppeId}" : {
      "get" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon Gruppe" ],
        "summary" : "Henter grupper for Digitalt ledsagerbevis",
        "operationId" : "hentGruppe",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "gruppeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Gruppe",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GruppeRespons"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon Gruppe" ],
        "summary" : "Endrer gruppe",
        "operationId" : "endreGruppe",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "gruppeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EndreGruppeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Gruppe endret"
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/grupper" : {
      "get" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon Gruppe" ],
        "summary" : "Henter alle grupper for Digitalt ledsagerbevis for fiksOrg",
        "operationId" : "hentGrupper",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Grupper",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GruppeRespons"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon Gruppe" ],
        "summary" : "Oppretter ny DLB-gruppe",
        "operationId" : "opprettGruppe",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettGruppeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Gruppe er opprettet og konfigurert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GruppeRespons"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/svarutkontoer" : {
      "get" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon" ],
        "summary" : "Henter aktive svarut-kontoer for en FiksOrg",
        "operationId" : "hentAktiveSvarutKontoer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Svarut-kontoer knyttet til fiksOrgId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarutKontoer"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}" : {
      "get" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon" ],
        "summary" : "Henter informasjon om en organisasjon",
        "operationId" : "hentOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Informasjon om en organisasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganisasjonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/status" : {
      "get" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon" ],
        "summary" : "Henter status på om organisasjon har aktivert dokumentlagerkonto og registerRolle",
        "operationId" : "hentStatus",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status på om organisasjon har opprettet Dokumentlager-konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatusRetur"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/tilganger" : {
      "get" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon" ],
        "summary" : "Henter tilganger for innlogget bruker",
        "operationId" : "hentTilganger",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Tilganger for innlogger bruker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Tilganger"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/konfigurer" : {
      "post" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon" ],
        "summary" : "Oppretter ny Dokumentlager-konto og registerrolle som brukes til utsendelse av informasjon til de som skal få digitalt ledsagerbevis. Vil i tillegg initialisere og konfigurere opp tjenesten om det er behov for det.",
        "operationId" : "konfigurerLedsagerbevis",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Dokumentlager-konto og register-rolle opprettet. Tjeneste er initialisert og konfigurert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LedsagerBevisKonfigurasjon"
                }
              }
            }
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/svarutkontoer/{kontoid}" : {
      "post" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon" ],
        "summary" : "Spesifiser hvilken Svarut-konto som skal brukes under utsendelse av brev",
        "operationId" : "leggTilSvarutkonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Svarut-kontoId er lagret"
          }
        }
      }
    },
    "/digitalt-ledsagerbevis-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/oppdater" : {
      "post" : {
        "tags" : [ "Ledsagerbevis Konfigurasjon" ],
        "summary" : "Oppdaterer organisasjons-informasjon",
        "operationId" : "oppdaterOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterOrganisasjonRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Organisasjon er oppdatert"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "FjernPersonFraGruppeRequest" : {
        "required" : [ "fnr" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          }
        },
        "description" : "Fjern bruker fra gruppe"
      },
      "PersonResponse" : {
        "required" : [ "fnr", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "fnr" : {
            "type" : "string"
          }
        },
        "description" : "Person"
      },
      "PersonerResponse" : {
        "required" : [ "brukere" ],
        "type" : "object",
        "properties" : {
          "brukere" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PersonResponse"
            }
          }
        },
        "description" : "Personer"
      },
      "LeggPersonTilGruppeRequest" : {
        "required" : [ "fnr", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          }
        },
        "description" : "Legg person til gruppe"
      },
      "EndreGruppeRequest" : {
        "required" : [ "gruppenavn" ],
        "type" : "object",
        "properties" : {
          "gruppenavn" : {
            "maxLength" : 200,
            "minLength" : 2,
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string"
          }
        },
        "description" : "Endre gruppe"
      },
      "GruppeRespons" : {
        "required" : [ "fiksOrgId", "gruppeId", "gruppenavn" ],
        "type" : "object",
        "properties" : {
          "gruppeId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "gruppenavn" : {
            "maxLength" : 200,
            "minLength" : 2,
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string"
          }
        },
        "description" : "Informasjon om gruppe"
      },
      "OpprettGruppeRequest" : {
        "required" : [ "gruppenavn" ],
        "type" : "object",
        "properties" : {
          "gruppenavn" : {
            "type" : "string"
          }
        },
        "description" : "Opprett Gruppe"
      },
      "SvarutKonto" : {
        "required" : [ "kontoId", "kontonavn" ],
        "type" : "object",
        "properties" : {
          "kontoId" : {
            "type" : "string",
            "description" : "Id til Svarutkonto",
            "format" : "uuid"
          },
          "kontonavn" : {
            "type" : "string",
            "description" : "Navn til svarutkonto"
          }
        },
        "description" : "Navn og kontoId for Svarutkonto"
      },
      "SvarutKontoer" : {
        "required" : [ "kontoer" ],
        "type" : "object",
        "properties" : {
          "kontoer" : {
            "type" : "array",
            "description" : "Liste over aktive svarutkontoer tilknyttet fiksOrg",
            "items" : {
              "$ref" : "#/components/schemas/SvarutKonto"
            }
          }
        },
        "description" : "Inneholder liste over aktive Svarut-kontoer"
      },
      "OrganisasjonResponse" : {
        "required" : [ "epost", "fiksOrgId", "spraak" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksorganisasjonsId",
            "format" : "uuid"
          },
          "epost" : {
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Epost-adresser til personer tilknytet organisasjonen",
            "items" : {
              "type" : "string",
              "description" : "Epost-adresser til personer tilknytet organisasjonen"
            }
          },
          "svarutkonto" : {
            "$ref" : "#/components/schemas/SvarutKonto"
          },
          "postAdresse" : {
            "$ref" : "#/components/schemas/PostAdresse"
          },
          "utsendingBrev" : {
            "type" : "string",
            "description" : "Bestemme om det skal sendes ut brev til innbyggere/kommune eller ikke",
            "enum" : [ "SENDE_BREV", "IKKE_SENDE_BREV" ]
          },
          "tlf" : {
            "type" : "string",
            "description" : "Telefonnummer som innbyggere kan kontakte kommunen på, ved spørsmål. "
          },
          "spraak" : {
            "type" : "string",
            "description" : "Hvilket språk vedtaksbrevet skal bli sendt ut på",
            "enum" : [ "BOKMAAL", "NYNORSK" ]
          }
        },
        "description" : "Informasjon om status for konfigurasjon av digitalt ledsagerbevis"
      },
      "PostAdresse" : {
        "required" : [ "postadressenavn", "postnummer", "poststed" ],
        "type" : "object",
        "properties" : {
          "postadressenavn" : {
            "type" : "string",
            "description" : "Postboks eller gatenavn"
          },
          "postnummer" : {
            "pattern" : "^[0-9]{4}$",
            "type" : "string",
            "description" : "Postnummer"
          },
          "poststed" : {
            "type" : "string",
            "description" : "Poststed"
          }
        },
        "description" : "Postadresse til kommunen"
      },
      "StatusRetur" : {
        "required" : [ "dokumentlagerKontoStatus", "initialisert", "rolleStatus", "svarutKontoStatus", "varslingKontoStatus" ],
        "type" : "object",
        "properties" : {
          "initialisert" : {
            "type" : "boolean"
          },
          "dokumentlagerKontoStatus" : {
            "type" : "string",
            "enum" : [ "OPPRETTET", "IKKE_OPPRETTET" ]
          },
          "rolleStatus" : {
            "type" : "string",
            "enum" : [ "OPPRETTET", "IKKE_OPPRETTET" ]
          },
          "svarutKontoStatus" : {
            "type" : "string",
            "enum" : [ "OPPRETTET", "IKKE_OPPRETTET" ]
          },
          "varslingKontoStatus" : {
            "type" : "string",
            "enum" : [ "OPPRETTET", "IKKE_OPPRETTET" ]
          }
        },
        "description" : "Informasjon om status for konfigurasjon av digitalt ledsagerbevis"
      },
      "Tilganger" : {
        "required" : [ "dlbAdmin" ],
        "type" : "object",
        "properties" : {
          "dlbAdmin" : {
            "type" : "boolean",
            "description" : "Er innlogget bruker dlb-admin?"
          }
        },
        "description" : "Tilganger for innlogget bruker på tjenesten"
      },
      "LedsagerBevisKonfigurasjon" : {
        "required" : [ "dokumentlagerKontoId", "rolleId", "tjenesteRessursId", "varslingKontoId" ],
        "type" : "object",
        "properties" : {
          "dokumentlagerKontoId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "varslingKontoId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "rolleId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "tjenesteRessursId" : {
            "type" : "string",
            "format" : "uuid"
          }
        },
        "description" : "Informasjon konfigurasjon av ledsagerbevis"
      },
      "OppdaterOrganisasjonRequest" : {
        "type" : "object",
        "properties" : {
          "epost" : {
            "maxItems" : 20,
            "minItems" : 0,
            "uniqueItems" : true,
            "type" : "array",
            "description" : "Epost-adresser til kontaktpersoner for Digitalt Ledsagerbevis",
            "items" : {
              "type" : "string",
              "description" : "Epost-adresser til kontaktpersoner for Digitalt Ledsagerbevis"
            }
          },
          "postAdresse" : {
            "$ref" : "#/components/schemas/PostAdresse"
          },
          "utsendingBrev" : {
            "type" : "string",
            "description" : "Bestemme om det skal sendes ut brev til innbyggere/kommune eller ikke",
            "enum" : [ "SENDE_BREV", "IKKE_SENDE_BREV" ]
          },
          "tlf" : {
            "pattern" : "^\\d{8}$",
            "type" : "string",
            "description" : "Telefonnummer som innbyggere kan kontakte kommunen på, ved spørsmål. "
          },
          "spraak" : {
            "type" : "string",
            "description" : "Språk for vedtaksbrevet",
            "enum" : [ "BOKMAAL", "NYNORSK" ]
          }
        }
      }
    }
  }
}