{
  "openapi": "3.0.1",
  "info": {
    "title": "Fiks API for eksterne tjenester og apper",
    "description": "API for å administrere eksterne tjenester og apper",
    "contact": {
      "name": "KS Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks PROD API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.dev.ks.no",
      "description": "KS Fiks DEV API host",
      "variables": {}
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "forvaltning",
      "description": "Administrasjon for eksisterende organisasjoner som skal administrere tilgang til FHI portal via fiks forvaltning"
    },
    {
      "name": "leverandor",
      "description": "Administrer produkt som skal tilgjengliggjøres via andre leverandører"
    }
  ],
  "paths": {
    "/kominn/api/v1/leverandor/organisasjoner/{fiksOrgId}": {
      "put": {
        "tags": [
          "leverandor"
        ],
        "operationId": "opprettTjeneste",
        "description": "Ta i bruk og konfigurer ny tjeneste som skal leveres av ekstern leverandør",
        "summary": "Ta i bruk og konfigurer ny tjeneste som skal leveres av ekstern leverandør",
        "responses": {
          "201": {
            "description": "Ny tjeneste opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EksternTjenesteDefinisjon"
                }
              }
            },
            "links": {
              "self": {
                "description": "Lenke til tjenesten som ble opprettet",
                "operationId": "hentTjeneste",
                "parameters": {
                  "tjenesteId": "$response.body#/tjenesteId"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "leverandor"
        ],
        "description": "Hent gjeldende konfigurasjon for ekstern tjeneste",
        "summary": "Hent gjeldende konfigurasjon for ekstern tjeneste",
        "operationId": "hentTjeneste",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EksternTjenesteDefinisjon"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Tjenesten finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/fiksOrgId"
        }
      ]
    },
    "/kominn/api/v1/organisasjoner/{fiksOrgId}/tjenester/{tjenestekode}": {
      "put": {
        "tags": [
          "forvaltning"
        ],
        "operationId": "opprettTjenesteForvaltning",
        "description": "Ta i bruk og konfigurerer gitt tjeneste levert av FHI for en gitt organisasjon",
        "summary": "Ta i bruk og konfigurerer gitt tjeneste levert av FHI for en gitt organisasjon",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaIBrukOgKonfigurerForvaltetTjenesteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Konfigurert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EksternTjenesteDefinisjon"
                }
              }
            },
            "links": {
              "self": {
                "description": "Lenke til tjenesten som ble opprettet",
                "operationId": "hentTjeneste",
                "parameters": {
                  "tjenesteId": "$response.body#/tjenesteId"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "forvaltning"
        ],
        "operationId": "hentTjenesteForvaltning",
        "description": "Hent konfigurasjon for gitt tjeneste levert av FHI for en gitt organisasjon",
        "summary": "Hent konfigurasjon for gitt tjeneste levert av FHI for en gitt organisasjon",
        "responses": {
          "200": {
            "description": "Konfigurert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForvaltetTjenesteDefinisjon"
                }
              }
            },
            "links": {
              "self": {
                "description": "Lenke til tjenesten som ble opprettet",
                "operationId": "hentTjeneste",
                "parameters": {
                  "tjenesteId": "$response.body#/tjenesteId"
                }
              }
            }
          },
          "404": {
            "description": "Tjenesten er ikke konfigurert for gitt organisasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage",
                  "example": {
                    "message": "Tjenesten er ikke konfigurert for gitt organisasjon",
                    "code": "404"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/fiksOrgId"
        },
        {
          "$ref": "#/components/parameters/tjenestekode"
        }
      ]
    },
    "/kominn/api/v1/organisasjoner/{fiksOrgId}/tjenester/{tjenestekode}/apper/{appId}/brukere": {
      "get": {
        "tags": [
          "forvaltning"
        ],
        "operationId": "hentAppBrukere",
        "description": "Hent alle brukere som har tilgang til gitt app",
        "summary": "Hent alle brukere som har tilgang til gitt app",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TjenesteBrukerListe"
                }
              }
            }
          },
          "404": {
            "description": "Appen finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage",
                  "example": {
                    "message": "Appen finnes ikke",
                    "code": "404"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "forvaltning"
        ],
        "operationId": "oppdaterAppBrukere",
        "description": "Oppdater brukere som har tilgang til gitt app",
        "summary": "Oppdater brukere som har tilgang til gitt app",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterAppbrukere"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Oppdatering ok"
          },
          "404": {
            "description": "Appen finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage",
                  "example": {
                    "message": "Appen finnes ikke",
                    "code": "404"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/fiksOrgId"
        },
        {
          "$ref": "#/components/parameters/tjenestekode"
        },
        {
          "$ref": "#/components/parameters/appId"
        }
      ]
    },
    "/kominn/api/v1/leverandor/organisasjoner/{fiksOrgId}/tjenester/{tjenestekode}/apper": {
      "post": {
        "tags": [
          "leverandor"
        ],
        "operationId": "opprettApp",
        "description": "Opprett en ny app som skal gjøres tilgjengelig",
        "summary": "Opprett en ny app som skal gjøres tilgjengelig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettAppRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ny tjeneste opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpprettAppResponse"
                }
              }
            },
            "links": {
              "self": {
                "description": "Lenke til tjenesten som ble opprettet",
                "operationId": "hentTjeneste"
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Tjenesten finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "leverandor"
        ],
        "description": "Hent alle apper for en tjeneste",
        "summary": "Hent alle apper for en tjeneste",
        "operationId": "hentApper",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppDefinisjonListe"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                },
                "example": {
                  "message": "Ikke autentisert",
                  "status": 401
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Tjenesten finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/fiksOrgId"
        },
        {
          "$ref": "#/components/parameters/tjenestekode"
        }
      ]
    },
    "/kominn/api/v1/leverandor/organisasjoner/{fiksOrgId}/tjenester/{tjenestekode}/apper/{appId}": {
      "get": {
        "tags": [
          "leverandor"
        ],
        "description": "Hent gjeldende konfigurasjon for app",
        "summary": "Hent gjeldende konfigurasjon for app",
        "operationId": "hentApp",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppDefinisjon"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "leverandor"
        ],
        "description": "Oppdater konfigurasjon for app. Kun de feltene som er med i requesten blir oppdatert",
        "summary": "Oppdater konfigurasjon for app. Kun de feltene som er med i requesten blir oppdatert",
        "operationId": "oppdaterApp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterAppDefinisjon"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Oppdatering ok",
            "links": {
              "self": {
                "description": "Lenke til appen som ble opprettet",
                "operationId": "hentApp",
                "parameters": {
                  "appId": "$request.path.appId"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "leverandor"
        ],
        "description": "Slett app",
        "summary": "Slett app",
        "operationId": "slettApp",
        "responses": {
          "204": {
            "description": "Sletting ok"
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke autentisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/fiksOrgId"
        },
        {
          "$ref": "#/components/parameters/tjenestekode"
        },
        {
          "$ref": "#/components/parameters/appId"
        }
      ]
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "fiksOrgId": {
        "name": "fiksOrgId",
        "in": "path",
        "description": "ID til fiks organisasjonen som eier tjenesten",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/FiksOrgId"
        }
      },
      "tjenestekode": {
        "name": "tjenestekode",
        "in": "path",
        "description": "Kode for tjenesten",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/Tjenestekode"
        }
      },
      "appId": {
        "name": "appId",
        "in": "path",
        "description": "ID til appen",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/AppId"
        }
      }
    },
    "schemas": {
      "Fodselsnummer": {
        "type": "string",
        "description": "Fødselsnummer fra folkergisteret '12345678901'",
        "pattern": "^[0-9]{11}$"
      },
      "Navn": {
        "type": "string",
        "pattern": "^[a-zA-ZÆØÅa-zæøå0-9_\\-]+$",
        "description": "Navn på elementet i henhold til navnereglene i Fiks Plattformen",
        "example": "NavnÆøå"
      },
      "Appnavn": {
        "$ref": "#/components/schemas/Navn"
      },
      "UnikId": {
        "type": "string",
        "format": "uuid",
        "description": "Unik id (UUID)",
        "example": "f7480539-92b2-460d-8e7f-2bc8a37c6746"
      },
      "Tjenestekode": {
        "type": "string",
        "description": "Kode for tjenesten",
        "pattern": "^[A-Z0-9_]+$",
        "example": "TJENESTEN"
      },
      "Beskrivelse": {
        "type": "string",
        "description": "Beskrivelse av tjenesten",
        "example": "Min tjeneste er en tjeneste som gjør noe"
      },
      "OpprettAppRequest": {
        "type": "object",
        "properties": {
          "navn": {
            "$ref": "#/components/schemas/Appnavn"
          },
          "beskrivelse": {
            "$ref": "#/components/schemas/Beskrivelse"
          },
          "logo": {
            "$ref": "#/components/schemas/AppLogo"
          }
        },
        "required": [
          "navn",
          "beskrivelse",
          "logo"
        ]
      },
      "AppId": {
        "$ref": "#/components/schemas/UnikId"
      },
      "FiksOrgId": {
        "$ref": "#/components/schemas/UnikId"
      },
      "TjenesteId": {
        "$ref": "#/components/schemas/UnikId"
      },
      "OpprettAppResponse": {
        "type": "object",
        "properties": {
          "appId": {
            "$ref": "#/components/schemas/AppId"
          }
        },
        "required": [
          "appId"
        ]
      },
      "AppDefinisjon": {
        "type": "object",
        "properties": {
          "navn": {
            "$ref": "#/components/schemas/Appnavn"
          },
          "beskrivelse": {
            "$ref": "#/components/schemas/Beskrivelse"
          },
          "logo": {
            "$ref": "#/components/schemas/AppLogo"
          }
        },
        "required": [
          "navn",
          "beskrivelse",
          "logo"
        ]
      },
      "AppDefinisjonListe": {
        "type": "object",
        "properties": {
          "apps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppDefinisjon"
            },
            "example": [
              {
                "navn": "MINAPP",
                "beskrivelse": "Min app er en app som gjør noe",
                "logo": {
                  "data": "iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAABlBMVEX///+/v7+jQ3Y5AAAADklEQVQI12P4AIX8EAgALgAD/aNpbtEAAAAASUVORK5CYII=",
                  "type": "image/png"
                }
              }
            ]
          }
        },
        "required": [
          "apps"
        ],
        "description": "Liste av apper som er tilgjengelig i gitt kontekst",
        "example": {
          "apps": [
            {
              "navn": "MINAPP",
              "beskrivelse": "Min app er en app som gjør noe",
              "logo": {
                "data": "iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAABlBMVEX///+/v7+jQ3Y5AAAADklEQVQI12P4AIX8EAgALgAD/aNpbtEAAAAASUVORK5CYII=",
                "type": "image/png"
              }
            }
          ]
        }
      },
      "OppdaterAppDefinisjon": {
        "type": "object",
        "description": "Oppdaterer tjenestedefinisjonen",
        "properties": {
          "navn": {
            "$ref": "#/components/schemas/Appnavn"
          },
          "beskrivelse": {
            "$ref": "#/components/schemas/Beskrivelse"
          },
          "logo": {
            "$ref": "#/components/schemas/AppLogo"
          }
        },
        "example": {
          "navn": "MINAPP",
          "beskrivelse": "Min app er en app som gjør noe",
          "logo": {
            "data": "iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAABlBMVEX///+/v7+jQ3Y5AAAADklEQVQI12P4AIX8EAgALgAD/aNpbtEAAAAASUVORK5CYII=",
            "type": "image/png"
          }
        }
      },
      "AppLogo": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "format": "base64",
            "description": "Base64 kodet logofil",
            "example": "iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAABlBMVEX///+/v7+jQ3Y5AAAADklEQVQI12P4AIX8EAgALgAD/aNpbtEAAAAASUVORK5CYII"
          },
          "type": {
            "type": "string",
            "description": "Content type for logo",
            "example": "image/png"
          }
        },
        "required": [
          "data",
          "type"
        ],
        "description": "Logo for appen",
        "example": {
          "data": "iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAABlBMVEX///+/v7+jQ3Y5AAAADklEQVQI12P4AIX8EAgALgAD/aNpbtEAAAAASUVORK5CYII",
          "type": "image/png"
        }
      },
      "TjenesteNavn": {
        "$ref": "#/components/schemas/Navn"
      },
      "EksternTjenesteDefinisjon": {
        "description": "Definisjon av tjeneste som blir levert ekstern leverandør",
        "type": "object",
        "properties": {
          "fiksOrgId": {
            "$ref": "#/components/schemas/FiksOrgId"
          },
          "navn": {
            "$ref": "#/components/schemas/TjenesteNavn"
          },
          "tjenestekode": {
            "$ref": "#/components/schemas/Tjenestekode"
          }
        },
        "required": [
          "fiksOrgId",
          "navn",
          "tjenestekode"
        ],
        "example": {
          "fiksOrgId": "f7480539-92b2-460d-8e7f-2bc8a37c6746",
          "navn": "PORTALEN_EKSTERN",
          "tjenestekode": "MIN_TJENESTE"
        }
      },
      "SentralisertGruppe": {
        "type": "object",
        "description": "Aktør identifisert med gruppeid fra sentralisert brukerstyring",
        "properties": {
          "aktor": {
            "type": "string",
            "pattern": "^SDG_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          }
        },
        "required": [
          "aktor"
        ]
      },
      "SentralisertBruker": {
        "type": "object",
        "description": "Aktør identifisert med brukerid fra sentralisert brukerstyring",
        "properties": {
          "aktor": {
            "type": "string",
            "pattern": "^SDB_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          }
        },
        "required": [
          "aktor"
        ]
      },
      "IdentifisertPerson": {
        "type": "object",
        "description": "Aktør identifisert med fødselsnummer (ID porten)",
        "properties": {
          "aktor": {
            "$ref": "#/components/schemas/Fodselsnummer"
          }
        },
        "required": [
          "aktor"
        ]
      },
      "TaIBrukOgKonfigurerForvaltetTjenesteRequest": {
        "type": "object",
        "description": "Ta i bruk og konfigurerer tjeneste levert av ekstern leverandør (FHI)"
      },
      "ForvaltetTjenesteDefinisjon": {
        "type": "object",
        "description": "Definisjon av tjeneste som blir levert av ekstern leverandør (FHI)",
        "properties": {
          "apper": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppDefinisjon"
            }
          }
        },
        "required": [
          "administratorer",
          "brukere",
          "apper"
        ]
      },
      "TjenesteBruker": {
        "type": "object",
        "description": "Bruker som skal ha tilgang til tjenesten",
        "oneOf": [
          {
            "$ref": "#/components/schemas/SentralisertBruker"
          },
          {
            "$ref": "#/components/schemas/SentralisertGruppe"
          },
          {
            "$ref": "#/components/schemas/IdentifisertPerson"
          }
        ],
        "properties": {
          "navn": {
            "type": "string"
          }
        },
        "required": [
          "navn"
        ],
        "discriminator": {
          "propertyName": "aktorType"
        },
        "example": {
          "aktor": "SDG_12345678-1234-1234-1234-123456789012",
          "aktorType": "SentralisertGruppe",
          "navn": "Gruppe 1"
        }
      },
      "AktorId": {
        "type": "string",
        "description": "Aktor id som kan være enten fnr/dnr eller id for enten bruker (SDB) eller gruppe (SDG) fra sentralisert brukerstyring",
        "pattern": "^(SD(B|G)_[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}|[0-9]{11})$"
      },
      "OppdaterBrukerOperasjon": {
        "type": "string",
        "enum": [
          "LeggTil",
          "Fjern"
        ]
      },
      "OppdaterAppbrukere": {
        "type": "object",
        "description": "Oppdater brukere som har tilgang til gitt app",
        "properties": {
          "operasjon": {
            "$ref": "#/components/schemas/OppdaterBrukerOperasjon"
          },
          "aktor": {
            "$ref": "#/components/schemas/AktorId"
          }
        },
        "required": [
          "operasjon",
          "aktor"
        ]
      },
      "TjenesteBrukerListe": {
        "type": "object",
        "description": "Liste av brukere som har tilgang til gitt app",
        "properties": {
          "brukere": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TjenesteBruker"
            }
          }
        }
      },
      "ErrorMessage": {
        "type": "object",
        "description": "Feilmelding fra Fiks-plattformen",
        "externalDocs": {
          "description": "Beskrivelse av feilmeldinger",
          "url": "https://ks-no.github.io/fiks-plattform/integrasjoner/#feilmeldinger"
        },
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      }
    }
  }
}