{
  "openapi": "3.0.3",
  "info": {
    "title": "FIKS MaalSystem API",
    "version": "1.0.0",
    "description": "API for å hente informasjon om målssystemer og deres tilknyttede kilder. Målssystemer representerer forskjellige systemer som kan ha brukere fra tilknyttede kilder.\n",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no"
    },
    {
      "url": "https://api.fiks.test.ks.no"
    },
    {
      "url": "https://api.fiks.dev.ks.no"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/brukersynkronisering/maalsystem/api/v1/organisasjon/{fiksOrg}/oversikt": {
      "get": {
        "tags": [
          "synkronisering"
        ],
        "summary": "Hent oversikt over synkroniseringer for en organisasjon",
        "description": "Returnerer en oversikt over eksisterende synkroniseringer og målssystemer som er tilgjengelige for nye koblinger for den gitte organisasjonen. Kildedata hentes fra Entra ID (grupper/enterprise applications).",
        "operationId": "hentSynkroniseringOversikt",
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrg",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "FiksOrgId for organisasjonen"
          }
        ],
        "responses": {
          "200": {
            "description": "Oversikt over synkroniseringer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SynkroniseringOversiktResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input"
          },
          "401": {
            "description": "Uautorisert"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "404": {
            "description": "Organisasjon ikke funnet"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      }
    },
    "/brukersynkronisering/maalsystem/api/v1/organisasjon/{fiksOrg}/synkroniseringer": {
      "post": {
        "tags": [
          "synkronisering"
        ],
        "summary": "Opprett en ny synkronisering",
        "description": "Oppretter en ny synkronisering mellom en kilde og et målssystem.",
        "operationId": "opprettSynkronisering",
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrg",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "FiksOrgId for organisasjonen"
          }
        ],
        "requestBody": {
          "description": "Synkroniseringsinformasjon",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettSynkroniseringRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Synkronisering opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpprettSynkroniseringResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input"
          },
          "401": {
            "description": "Uautorisert"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "404": {
            "description": "Kilde eller målssystem ikke funnet"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      }
    },
    "/brukersynkronisering/maalsystem/api/v1/organisasjon/{fiksOrg}/synkroniseringer/{id}": {
      "get": {
        "tags": [
          "synkronisering"
        ],
        "summary": "Hent detaljer for en synkronisering",
        "description": "Returnerer detaljert informasjon om en spesifikk synkronisering.",
        "operationId": "hentSynkronisering",
        "parameters": [
          {
            "in": "path",
            "name": "fiksOrg",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "FiksOrgId for organisasjonen"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Synkroniseringens identifikator"
          }
        ],
        "responses": {
          "200": {
            "description": "Synkroniseringsdetaljer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SynkroniseringDetaljerResponse"
                }
              }
            }
          },
          "401": {
            "description": "Uautorisert"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "404": {
            "description": "Synkronisering ikke funnet"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      }
    },
    "/brukersynkronisering/maalsystem/api/v1/maalsystemer": {
      "get": {
        "tags": [
          "maalsystem"
        ],
        "summary": "Hent alle målssystemer",
        "operationId": "hentAlleMaalSystemer",
        "responses": {
          "200": {
            "description": "Liste over målssystemer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MaalSystemObjektResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input"
          },
          "401": {
            "description": "Uautorisert"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      },
      "post": {
        "tags": [
          "maalsystem"
        ],
        "summary": "Opprett et nytt målssystem",
        "operationId": "opprettMaalSystem",
        "requestBody": {
          "description": "Objekt som representerer målssystemet som skal opprettes",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaalSystemOpprettRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Målssystem opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaalSystemObjektResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input"
          },
          "401": {
            "description": "Uautorisert"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      }
    },
    "/brukersynkronisering/maalsystem/api/v1/maalsystemer/{id}": {
      "patch": {
        "tags": [
          "maalsystem"
        ],
        "summary": "Oppdater et eksisterende målssystem",
        "operationId": "oppdaterMaalSystem",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Målsystemets identifikator"
          }
        ],
        "requestBody": {
          "description": "Objekt som inneholder endringene for målssystemet",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaalSystemPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Målssystem oppdatert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaalSystemObjektResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input"
          },
          "401": {
            "description": "Uautorisert"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "404": {
            "description": "Målssystem ikke funnet"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      },
      "delete": {
        "tags": [
          "maalsystem"
        ],
        "summary": "Slett et målssystem",
        "operationId": "slettMaalSystem",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Målsystemets identifikator"
          }
        ],
        "responses": {
          "204": {
            "description": "Målssystem slettet"
          },
          "400": {
            "description": "Ugyldig input"
          },
          "401": {
            "description": "Uautorisert"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "404": {
            "description": "Målssystem ikke funnet"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      }
    },
    "/brukersynkronisering/maalsystem/api/v1/maalsystemer/{id}/kilder": {
      "get": {
        "tags": [
          "maalsystemkilder"
        ],
        "summary": "Hent kilder tilknyttet et målssystem",
        "operationId": "hentKilderForMaalSystem",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Målsystemets identifikator"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over kilder tilknyttet målssystemet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KilderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input"
          },
          "401": {
            "description": "Uautorisert"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "404": {
            "description": "Målssystem ikke funnet"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      }
    },
    "/brukersynkronisering/maalsystem/api/v1/maalsystemer/{id}/organisasjon/{fiksOrg}/kilde": {
      "get": {
        "tags": [
          "maalsystemKildeForOrganisasjon"
        ],
        "summary": "Hent en kilde tilknyttet et målssystem for en fiksorg",
        "operationId": "hentKildeForMaalSystem",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Målsystemets identifikator"
          },
          {
            "in": "path",
            "name": "fiksOrg",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "FiksOrgId for organisasjonen som kilden tilhører"
          }
        ],
        "responses": {
          "200": {
            "description": "Kilde tilknyttet målssystemet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaalsystemKildeResponse"
                }
              }
            }
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "404": {
            "description": "Målssystem/Kilde ikke funnet"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      },
      "post": {
        "tags": [
          "maalsystemKildeForOrganisasjon"
        ],
        "summary": "Legg til en kilde til et målssystem",
        "operationId": "leggTilKildeForMaalSystem",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Målsystemets identifikator"
          },
          {
            "in": "path",
            "name": "fiksOrg",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "FiksOrgId for organisasjonen som kilden tilhører"
          }
        ],
        "requestBody": {
          "description": "Kildeid som skal legges til målssystemet",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kildeId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "kildeId"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Kilde lagt til målssystemet"
          },
          "400": {
            "description": "Ugyldig input"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "404": {
            "description": "Målssystem/Kilde ikke funnet"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      }
    },
    "/brukersynkronisering/maalsystem/api/v1/maalsystemer/{id}/organisasjon/{fiksOrg}/kilder/{kildeId}": {
      "delete": {
        "tags": [
          "maalsystemKildeForOrganisasjon"
        ],
        "summary": "Fjern en kilde fra et målssystem",
        "operationId": "fjernKildeFraMaalSystem",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Målsystemets identifikator"
          },
          {
            "in": "path",
            "name": "fiksOrg",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "FiksOrgId for organisasjonen som kilden tilhører"
          },
          {
            "in": "path",
            "name": "kildeId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Kildens unike identifikator"
          }
        ],
        "responses": {
          "204": {
            "description": "Kilde fjernet fra målssystemet"
          },
          "403": {
            "description": "Manglende tilgang"
          },
          "404": {
            "description": "Målssystem eller kilde ikke funnet"
          },
          "500": {
            "description": "Serverfeil"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "MaalSystemObjektResponse": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string",
            "description": "Navn på målssystemet",
            "example": "Fiksplattform"
          },
          "id": {
            "type": "string",
            "description": "Identifikator for målssystemet",
            "example": "fiksplattform"
          },
          "aktiv": {
            "type": "boolean",
            "description": "Indikerer om målssystemet er aktivt",
            "example": true
          }
        },
        "required": [
          "navn",
          "id",
          "aktiv"
        ],
        "description": "Objekt som representerer et målssystem"
      },
      "MaalSystemOpprettRequest": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string",
            "description": "Navn på målssystemet",
            "example": "KS læring"
          },
          "id": {
            "type": "string",
            "description": "Identifikator for målssystemet som skal opprettes",
            "example": "kslaering"
          },
          "aktiv": {
            "type": "boolean",
            "description": "Indikerer om målssystemet er aktivt",
            "example": true
          }
        },
        "required": [
          "navn",
          "id",
          "aktiv"
        ],
        "description": "Objekt som representerer et målssystem ved opprettelse"
      },
      "MaalSystemPatchRequest": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string",
            "description": "Navn på målssystemet",
            "example": "Fiksplattform"
          },
          "aktiv": {
            "type": "boolean",
            "description": "Indikerer om målssystemet er aktivt",
            "example": true
          }
        },
        "minProperties": 1,
        "description": "Objekt som reprensenterer endringer for et målssystem. Minst ett felt må oppgis."
      },
      "MaalsystemKildeResponse": {
        "type": "object",
        "properties": {
          "kildeid": {
            "type": "string",
            "format": "uuid",
            "description": "Kildens unike identifikator",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid",
            "description": "FiksOrgId for organisasjonen som kilden tilhører",
            "example": "123e4567-e89b-12d3-a456-426614174001"
          },
          "sistEndret": {
            "type": "string",
            "format": "date-time",
            "description": "Tidspunkt for når kilden sist ble endret",
            "example": "2024-01-01T12:34:56Z"
          }
        },
        "required": [
          "kildeid",
          "fiksOrgId",
          "sistEndret"
        ]
      },
      "KilderResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/MaalsystemKildeResponse"
        },
        "description": "Liste over kilder tilknyttet et målssystem"
      },
      "SynkroniseringOversiktResponse": {
        "type": "object",
        "properties": {
          "opprettet": {
            "type": "array",
            "description": "Aktive synkroniseringer mellom Entra ID-grupper og målssystemer",
            "items": {
              "$ref": "#/components/schemas/OpprettetSynkronisering"
            }
          },
          "tilgjengelige": {
            "type": "array",
            "description": "Målssystemer som ikke har synkronisering opprettet for denne organisasjonen",
            "items": {
              "$ref": "#/components/schemas/TilgjengeligMaalsystem"
            }
          }
        },
        "required": [
          "opprettet",
          "tilgjengelige"
        ],
        "description": "Oversikt over synkroniseringer for en organisasjon"
      },
      "OpprettetSynkronisering": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Synkroniseringens unike identifikator",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "kildeId": {
            "type": "string",
            "format": "uuid",
            "description": "Kildens unike identifikator (Entra ID gruppe/enterprise application)",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "kildeNavn": {
            "type": "string",
            "description": "Navn på kilden (f.eks. Entra ID-gruppe)",
            "example": "Entra Forvaltere"
          },
          "malsystemId": {
            "type": "string",
            "description": "Målsystemets identifikator",
            "example": "fiksplattform"
          },
          "malsystemNavn": {
            "type": "string",
            "description": "Navn på målsystemet",
            "example": "Fiks Plattformen"
          },
          "status": {
            "type": "string",
            "enum": [
              "aktiv",
              "inaktiv",
              "ugyldig-kilde",
              "feil"
            ],
            "description": "Status for synkroniseringen",
            "example": "aktiv"
          },
          "utloper": {
            "type": "string",
            "format": "date-time",
            "description": "Tidspunkt for når synkroniseringen utløper",
            "example": "2025-09-09T12:00:00Z"
          },
          "antallBrukere": {
            "type": "integer",
            "description": "Antall brukere som synkroniseres",
            "example": 42
          },
          "sistSynkronisertBrukere": {
            "type": "string",
            "format": "date-time",
            "description": "Tidspunkt for siste brukersynkronisering",
            "example": "2024-01-01T12:00:00Z"
          },
          "antallGrupper": {
            "type": "integer",
            "description": "Antall grupper som synkroniseres",
            "example": 5
          },
          "sistSynkronisertGrupper": {
            "type": "string",
            "format": "date-time",
            "description": "Tidspunkt for siste gruppesynkronisering",
            "example": "2024-01-01T11:30:00Z"
          }
        },
        "required": [
          "id",
          "kildeId",
          "kildeNavn",
          "malsystemId",
          "malsystemNavn",
          "status",
          "antallBrukere",
          "sistSynkronisertBrukere",
          "antallGrupper",
          "sistSynkronisertGrupper"
        ],
        "description": "Representerer en aktiv synkronisering mellom en kilde (Entra ID) og et målssystem"
      },
      "TilgjengeligMaalsystem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Målsystemets identifikator",
            "example": "ks-hjelpemiddel"
          },
          "malsystemNavn": {
            "type": "string",
            "description": "Navn på målsystemet",
            "example": "KS Hjelpemiddel"
          },
          "aktiv": {
            "type": "boolean",
            "description": "Indikerer om målssystemet er aktivt",
            "example": true
          }
        },
        "required": [
          "id",
          "malsystemNavn",
          "aktiv"
        ],
        "description": "Målssystem som er tilgjengelig for ny synkronisering"
      },
      "OpprettSynkroniseringRequest": {
        "type": "object",
        "properties": {
          "malsystemId": {
            "type": "string",
            "description": "Målsystemets identifikator",
            "example": "fiksplattform"
          },
          "kildeId": {
            "type": "string",
            "format": "uuid",
            "description": "ID til eksisterende kilde. Må oppgis hvis 'nyKilde' ikke er oppgitt.",
            "example": "123e4567-e89b-12d3-a456-426614174000",
            "nullable": true
          },
          "nyKilde": {
            "type": "object",
            "description": "Informasjon for å opprette en ny kilde. Må oppgis hvis 'kildeId' ikke er oppgitt.",
            "nullable": true,
            "properties": {
              "navn": {
                "type": "string",
                "description": "Navn på kilden",
                "example": "Entra Forvaltere",
                "minLength": 1,
                "maxLength": 100
              },
              "externalApplicationId": {
                "type": "string",
                "description": "Entra ID ekstern applikasjons-ID",
                "example": "98765432-dcba-4321-fedc-ba9876543210",
                "maxLength": 100
              }
            },
            "required": [
              "navn",
              "externalApplicationId"
            ]
          }
        },
        "required": [
          "malsystemId"
        ],
        "description": "Request for å opprette en ny synkronisering. Enten 'kildeId' (eksisterende kilde) eller 'nyKilde' (ny kilde) må oppgis, men ikke begge."
      },
      "NyKilde": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string",
            "description": "Navn på kilden",
            "example": "Entra Forvaltere",
            "minLength": 1,
            "maxLength": 100
          },
          "externalApplicationId": {
            "type": "string",
            "description": "Entra ID ekstern applikasjons-ID",
            "example": "98765432-dcba-4321-fedc-ba9876543210",
            "maxLength": 100
          }
        },
        "required": [
          "navn",
          "externalApplicationId"
        ],
        "description": "Informasjon for å opprette en ny kilde"
      },
      "OpprettSynkroniseringResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Synkroniseringens unike identifikator",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "kildeNavn": {
            "type": "string",
            "description": "Navn på kilden",
            "example": "Entra Forvaltere"
          },
          "malsystemNavn": {
            "type": "string",
            "description": "Navn på målsystemet",
            "example": "Fiks Plattformen"
          },
          "tenantUrl": {
            "type": "string",
            "format": "uri",
            "description": "SCIM Tenant URL som skal brukes i Entra ID provisjonering",
            "example": "https://api.fiks.ks.no/brukersynkronisering/scim/v2/a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "secretToken": {
            "type": "string",
            "description": "Secret Token for autentisering. Vises kun én gang ved opprettelse av synkronisering.",
            "example": "fiks_st_1234567890abcdef1234567890abcdef1234567890abcdef"
          }
        },
        "required": [
          "id",
          "kildeNavn",
          "malsystemNavn",
          "tenantUrl",
          "secretToken"
        ],
        "description": "Response ved opprettelse av synkronisering med nødvendig informasjon for Entra ID-oppsett"
      },
      "SynkroniseringDetaljerResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Synkroniseringens unike identifikator",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "kildeId": {
            "type": "string",
            "format": "uuid",
            "description": "Kildens unike identifikator",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "kildeNavn": {
            "type": "string",
            "description": "Navn på kilden",
            "example": "Entra Forvaltere"
          },
          "malsystemId": {
            "type": "string",
            "description": "Målsystemets identifikator",
            "example": "fiksplattform"
          },
          "malsystemNavn": {
            "type": "string",
            "description": "Navn på målsystemet",
            "example": "Fiks Plattformen"
          },
          "status": {
            "type": "string",
            "enum": [
              "aktiv",
              "inaktiv",
              "ugyldig-kilde",
              "feil"
            ],
            "description": "Status for synkroniseringen",
            "example": "aktiv"
          },
          "sistSynkronisert": {
            "type": "string",
            "format": "date-time",
            "description": "Tidspunkt for siste synkronisering",
            "example": "2024-01-01T12:00:00Z"
          },
          "utloper": {
            "type": "string",
            "format": "date-time",
            "description": "Tidspunkt for når synkroniseringen utløper",
            "example": "2025-09-09T12:00:00Z"
          },
          "antallBrukere": {
            "type": "integer",
            "description": "Antall brukere som er synkronisert",
            "example": 2432
          },
          "antallGrupper": {
            "type": "integer",
            "description": "Antall grupper som er synkronisert",
            "example": 10
          },
          "opprettet": {
            "type": "string",
            "format": "date-time",
            "description": "Tidspunkt for når synkroniseringen ble opprettet",
            "example": "2024-01-01T08:00:00Z"
          }
        },
        "required": [
          "id",
          "kildeId",
          "kildeNavn",
          "malsystemId",
          "malsystemNavn",
          "status",
          "sistSynkronisert",
          "opprettet"
        ],
        "description": "Detaljert informasjon om en eksisterende synkronisering"
      }
    }
  }
}