{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS SvarUt: manuell-forsendelse xls maler Service",
    "description" : "manuell-forsendelse xls maler service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "manuellforsendelse",
    "description" : "API for bruk av manuellforsendelse"
  }, {
    "name" : "manuell-forsendelse",
    "description" : "API for bruk av manuell-forsendelse"
  }, {
    "name" : "manuell-forsendelse xls maler",
    "description" : "API for bruk av manuell-forsendelse xls maler"
  } ],
  "paths" : {
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}/filer/{filId}" : {
      "get" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Henter enkel forsendelseFil knyttet til forsendelse",
        "operationId" : "hentForsendelseFil",
        "parameters" : [ {
          "name" : "filId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Forsendelsefil for forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForsendelseFil"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ukjent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Slette forsendelse fil",
        "operationId" : "slettForsendelseFil",
        "parameters" : [ {
          "name" : "filId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slette dokument for forsendelse"
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ukjent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}/filer" : {
      "get" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Henter ut en liste med forsendelseFiler koblet mot autorisert bruker",
        "operationId" : "hentForsendelseFiler",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Forsendelsefiler for forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ForsendelseFil"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Laste opp forsendelseFil",
        "operationId" : "lastOppFil",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Last opp fil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForsendelseFil"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}/filer/zipfile" : {
      "post" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Laste opp zipfil for forsendelse",
        "operationId" : "lastOppZip",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Last opp zipfil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForsendelseFiler"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}/mottakere" : {
      "get" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Henter ut en liste med mottakere koblet mot forsendelse",
        "operationId" : "forsendelseMottakere",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Mottakere for forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Mottaker"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}" : {
      "get" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Hent manuell forsendelse",
        "operationId" : "hentForsendelse",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManuellForsendelseRespons"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Oppdatere manuell forsendelse",
        "operationId" : "oppdaterManuellForsendelse",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManuellForsendelseRequest"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Manuell forsendelse oppdatert"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for opprettelse av manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse" : {
      "get" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Hent manuell forsendelser tilknyttet Konto",
        "operationId" : "hentForsendelserTilknyttetKonto",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Manuelle forsendelser",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ManuellForsendelseRespons"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Oppretter ny manuell forsendelse",
        "operationId" : "opprettManuellForsendelse",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManuellForsendelseRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManuellForsendelseRespons"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for opprettelse av manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}/status" : {
      "get" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Starter manuell forsendelse",
        "operationId" : "hentStatus",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent status for manuell forsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManuellForsendelseStatus"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}/mottaker/{mottakerId}" : {
      "put" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Oppdater mottakere som autorisert bruker har lagt til",
        "operationId" : "oppdaterMottaker",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Mottaker"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Oppdater mottaker"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for oppdatering av mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Slette mottakere som autorisert bruker har lagt til",
        "operationId" : "sletteMottaker",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "mottakerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slette mottaker"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}/mottaker" : {
      "post" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Opprett mottakere som autorisert bruker har lagt til",
        "operationId" : "opprettMottaker",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Mottaker"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprett mottaker"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for opprettelse av mottaker",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}/start" : {
      "post" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Starter manuell forsendelse",
        "operationId" : "startManuellForsendelse",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Start manuell forsendelse"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}/stopp" : {
      "post" : {
        "tags" : [ "manuell-forsendelse" ],
        "description" : "Starter manuell forsendelse",
        "operationId" : "stoppManuellForsendelse",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Stopp manuell forsendelse"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/xls/mottakere/mal" : {
      "get" : {
        "tags" : [ "manuell-forsendelse xls maler" ],
        "description" : "Henter XLS mal for mottakere",
        "operationId" : "hentMottakerXlsMal",
        "responses" : {
          "200" : {
            "description" : "XLS mottaker mal"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/manuell-forsendelse/{manuellForsendelseId}/xls/mottakere" : {
      "post" : {
        "tags" : [ "manuell-forsendelse xls maler" ],
        "description" : "Laster opp mottakere fra XLS mal",
        "operationId" : "lastOppMottakerFraXls",
        "parameters" : [ {
          "name" : "manuellForsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Mottakere registrert"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ForsendelseFil" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "filnavn" : {
            "type" : "string"
          },
          "forsendelseId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "storrelse" : {
            "type" : "integer",
            "format" : "int64"
          },
          "contentType" : {
            "type" : "string"
          },
          "dokumentLagerId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseFiler" : {
        "type" : "object",
        "properties" : {
          "forsendelseFiler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ForsendelseFil"
            }
          }
        }
      },
      "Mottaker" : {
        "required" : [ "navn", "postnummer" ],
        "type" : "object",
        "properties" : {
          "orgNummer" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string",
            "description" : "orgnummer"
          },
          "fodselsnummer" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "fodselsnummer"
          },
          "navn" : {
            "type" : "string",
            "description" : "navn"
          },
          "adresse1" : {
            "type" : "string",
            "description" : "adresse1"
          },
          "adresse2" : {
            "type" : "string",
            "description" : "adresse2"
          },
          "adresse3" : {
            "type" : "string",
            "description" : "adresse3"
          },
          "postnummer" : {
            "type" : "string",
            "description" : "postnummer"
          },
          "poststed" : {
            "type" : "string",
            "description" : "poststed"
          },
          "land" : {
            "type" : "string",
            "description" : "land"
          }
        },
        "description" : "Mottaker for manuell forsendelse"
      },
      "Adresse" : {
        "type" : "object",
        "properties" : {
          "orgnr" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresse1" : {
            "type" : "string"
          },
          "adresse2" : {
            "type" : "string"
          },
          "adresse3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          }
        },
        "description" : "Svar sendes til adresse"
      },
      "ManuellForsendelseRespons" : {
        "required" : [ "avsender", "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Manuell Forsendelse ID",
            "format" : "uuid"
          },
          "avsender" : {
            "type" : "string",
            "description" : "Avsender ID",
            "format" : "uuid"
          },
          "opprettetAv" : {
            "type" : "string",
            "description" : "Opprettet av"
          },
          "tittel" : {
            "type" : "string",
            "description" : "Tittel"
          },
          "printKonfigurasjon" : {
            "$ref" : "#/components/schemas/Printkonfigurasjon"
          },
          "svarSendesTil" : {
            "$ref" : "#/components/schemas/Adresse"
          },
          "utsendelseOpprettetDato" : {
            "type" : "string",
            "description" : "Dato for opprettelse"
          },
          "utsendelseStartetDato" : {
            "type" : "string",
            "description" : "Dato for startet"
          },
          "utsendelseFerdigDato" : {
            "type" : "string",
            "description" : "Dato for sluttført"
          },
          "fletteForsendelse" : {
            "type" : "boolean",
            "description" : "Fletteforsendelse"
          },
          "kunDigitalLevering" : {
            "type" : "boolean",
            "description" : "Kun digital levering"
          }
        }
      },
      "Printkonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "tosidig" : {
            "type" : "boolean",
            "description" : "Tosidig"
          },
          "farge" : {
            "type" : "boolean",
            "description" : "Farge"
          }
        },
        "description" : "Print konfigurasjon"
      },
      "ManuellForsendelseStatus" : {
        "required" : [ "fremdrift", "id", "klarteIkkeSende", "mottakereSendt", "mottakereTotalt", "status" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Manuell Forsendelse ID",
            "format" : "uuid"
          },
          "status" : {
            "type" : "string",
            "description" : "Manuell Forsendelse status",
            "enum" : [ "UNDER_ARBEID", "STARTET", "STOPPET", "FERDIG", "FEIL" ]
          },
          "mottakereTotalt" : {
            "type" : "integer",
            "description" : "Antall mottakere totalt",
            "format" : "int32"
          },
          "mottakereSendt" : {
            "type" : "integer",
            "description" : "Antall mottakere sendt",
            "format" : "int32"
          },
          "klarteIkkeSende" : {
            "type" : "integer",
            "description" : "Antall mottakere feilet",
            "format" : "int32"
          },
          "fremdrift" : {
            "type" : "number",
            "description" : "Manuell Forsendelse fremdrift",
            "format" : "double"
          }
        }
      },
      "ManuellForsendelseRequest" : {
        "required" : [ "avsender" ],
        "type" : "object",
        "properties" : {
          "avsender" : {
            "type" : "string",
            "description" : "Avsender ID",
            "format" : "uuid"
          },
          "tittel" : {
            "type" : "string",
            "description" : "Tittel"
          },
          "printKonfigurasjon" : {
            "$ref" : "#/components/schemas/Printkonfigurasjon"
          },
          "svarSendesTil" : {
            "$ref" : "#/components/schemas/Adresse"
          },
          "fletteForsendelse" : {
            "type" : "boolean",
            "description" : "Fletteforsendelse"
          }
        }
      }
    }
  }
}