{
  "openapi": "3.0.1",
  "info": {
    "title": "Min Kommune Eiendom Søk API",
    "description": "Min Kommune Eiendom Søk Service",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://developers.fiks.ks.no/",
      "email": "fiks-utvikling@ks.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Min Kommune Eiendom søk service",
      "description": "API for søk på Eiendom Byggesak"
    }
  ],
  "paths": {
    "/minkommune-sok/api/v1/eiendom": {
      "get": {
        "tags": [
          "EiendomSok"
        ],
        "summary": "Søk",
        "operationId": "eiendomSok",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "Søkeord",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fra",
            "in": "query",
            "description": "Index for det første søketreffet som skal returneres",
            "schema": {
              "maximum": 9999,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "antall",
            "in": "query",
            "description": "Antall søketreff som skal returneres",
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "onBehalfOf",
            "in": "query",
            "description": "Organisasjonsnummer for organisasjonen dette søket skal utføres på vegne av. Krever at autentisert bruker har rettigheter til å agere på vegne av denne organisasjonen.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kommunenummer",
            "in": "query",
            "description": "Filtrer resultater til kun å inkludere eiendommer i denne kommunen",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke autorisert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EiendomSokeresultat"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      },
      "Driftsmelding": {
        "required": [
          "fiksOrgId",
          "id",
          "innhold",
          "meldingType"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "innhold": {
            "type": "string"
          },
          "meldingType": {
            "type": "string",
            "enum": [
              "INFORMASJON",
              "ADVARSEL",
              "FEIL"
            ]
          },
          "startDato": {
            "type": "string",
            "format": "date-time"
          },
          "sluttDato": {
            "type": "string",
            "format": "date-time"
          },
          "urlTekst": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "EiendomAggregeringer": {
        "required": [
          "kommune"
        ],
        "type": "object",
        "properties": {
          "kommune": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KommuneAggregering"
            }
          }
        }
      },
      "EiendomSokeresultat": {
        "required": [
          "aggregeringer",
          "antallTreff",
          "driftsmeldinger",
          "forespurtAntall",
          "forespurtFra",
          "harMeldingerMedHoyereSikkerhetsniva",
          "treff",
          "treffMedHoyereInnloggingsniva"
        ],
        "type": "object",
        "properties": {
          "antallTreff": {
            "type": "integer",
            "format": "int64"
          },
          "treffMedHoyereInnloggingsniva": {
            "type": "integer",
            "format": "int64"
          },
          "harMeldingerMedHoyereSikkerhetsniva": {
            "type": "boolean"
          },
          "treff": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TreffMedSkattedata"
            }
          },
          "forespurtFra": {
            "type": "integer",
            "format": "int32"
          },
          "forespurtAntall": {
            "type": "integer",
            "format": "int32"
          },
          "aggregeringer": {
            "$ref": "#/components/schemas/EiendomAggregeringer"
          },
          "driftsmeldinger": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Driftsmelding"
            }
          }
        }
      },
      "Kommune": {
        "required": [
          "kommunenavn",
          "kommunenummer"
        ],
        "type": "object",
        "properties": {
          "kommunenummer": {
            "type": "string"
          },
          "kommunenavn": {
            "type": "string"
          }
        }
      },
      "KommuneAggregering": {
        "required": [
          "antallTreff",
          "kommune"
        ],
        "type": "object",
        "properties": {
          "kommune": {
            "$ref": "#/components/schemas/Kommune"
          },
          "antallTreff": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "MatrikkelenhetMatrikkelnummerV1": {
        "required": [
          "bruksnummer",
          "festenummer",
          "gardsnummer",
          "kommunenummer",
          "seksjonsnummer"
        ],
        "type": "object",
        "properties": {
          "kommunenummer": {
            "type": "string"
          },
          "gardsnummer": {
            "type": "string"
          },
          "bruksnummer": {
            "type": "string"
          },
          "seksjonsnummer": {
            "type": "string"
          },
          "festenummer": {
            "type": "string"
          }
        }
      },
      "MeldingFiksOrganisasjon": {
        "required": [
          "id",
          "visningsnavn"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "visningsnavn": {
            "type": "string"
          },
          "kommunenummer": {
            "type": "string"
          }
        }
      },
      "MeldingV1MatrikkelenhetV1": {
        "required": [
          "dokumentId",
          "fiksOrganisasjon",
          "meldingId",
          "meldingMetadata",
          "sikkerhetsniva"
        ],
        "type": "object",
        "properties": {
          "meldingId": {
            "type": "string",
            "format": "uuid"
          },
          "dokumentId": {
            "type": "string"
          },
          "sikkerhetsniva": {
            "type": "integer",
            "format": "int32"
          },
          "fiksOrganisasjon": {
            "$ref": "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato": {
            "type": "string",
            "format": "date-time"
          },
          "korrelasjonId": {
            "type": "string"
          },
          "eksternRef": {
            "type": "string"
          },
          "meldingMetadata": {
            "$ref": "#/components/schemas/matrikkelenhetV1"
          },
          "score": {
            "type": "number",
            "format": "double"
          },
          "tilgjengeligTil": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "matrikkelenhetV1": {
        "required": [
          "kommuneNavn",
          "kommunenummer",
          "matrikkelenhetId",
          "matrikkelnummer"
        ],
        "type": "object",
        "properties": {
          "matrikkelnummer": {
            "$ref": "#/components/schemas/MatrikkelenhetMatrikkelnummerV1"
          },
          "matrikkelenhetId": {
            "type": "integer",
            "format": "int64"
          },
          "adresser": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "kommuneNavn": {
            "type": "string"
          },
          "kommunenummer": {
            "type": "string"
          }
        },
        "description": "Matrikkelenhet"
      },
      "TreffMedSkattedata": {
        "required": [
          "treff",
          "skattedata"
        ],
        "type": "object",
        "properties": {
          "treff": {
            "$ref": "#/components/schemas/MeldingV1MatrikkelenhetV1"
          },
          "skattedata": {
            "$ref": "#/components/schemas/EiendomSkattedata"
          }
        }
      },
      "EiendomSkattedata": {
        "required": [
          "harSkattedata",
          "skatteforhold"
        ],
        "type": "object",
        "properties": {
          "harSkattedata": {
            "type": "boolean"
          },
          "skatteforhold": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EiendomsskattForhold"
            }
          }
        }
      },
      "EiendomsskattForhold": {
        "type": "object",
        "properties": {
          "takst": {
            "type": "number",
            "format": "double"
          },
          "skatt": {
            "type": "number",
            "format": "double"
          },
          "typeSkatteEiendom": {
            "type": "string"
          },
          "takstBekreftet": {
            "type": "boolean"
          },
          "promillesats": {
            "type": "number",
            "format": "float"
          },
          "bunnfradrag": {
            "type": "number",
            "format": "double"
          },
          "skattegrunnlag": {
            "type": "number",
            "format": "double"
          },
          "beregnetSkatt": {
            "type": "number",
            "format": "double"
          }
        }
      }
    }
  }
}