{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Min Kommune: Oppgave API",
    "description": "",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Min Kommune Oppgave Ekstern service",
      "description": "API for håndtering av oppgaver for eksterne systemer"
    }
  ],
  "paths": {
    "/min-kommune/api/v1/api/{fiksOrgId}/oppgaver": {
      "post": {
        "tags": [
          "OppgaveEkstern"
        ],
        "summary": "Opprett oppgave",
        "operationId": "opprettOppgave",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppgaveOpprettRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Oppgave opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OppgaveOpprettResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ukjent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/min-kommune/api/v1/api/{fiksOrgId}/oppgaver/{oppgaveId}/status": {
      "put": {
        "tags": [
          "OppgaveEkstern"
        ],
        "summary": "Oppdater status på oppgave",
        "operationId": "oppdaterStatus",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "oppgaveId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Oppgave er oppdatert til ønsket status"
          },
          "400": {
            "description": "Ukjent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/min-kommune/api/v1/api/{fiksOrgId}/oppgaver/{oppgaveId}": {
      "get": {
        "tags": [
          "OppgaveEkstern"
        ],
        "summary": "Hent oppgave",
        "description": "New endpoint",
        "operationId": "hentOppgave",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "oppgaveId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Oppgave",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OppgaveHentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ukjent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ingen tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      },
      "OppgaveOpprettRequest": {
        "required": [
          "tittel",
          "beskrivelse",
          "handling",
          "url",
          "mottakere",
          "utfortKriterie"
        ],
        "type": "object",
        "properties": {
          "tittel": {
            "type": "string",
            "description": "Kort beskrivelse på oppgaven"
          },
          "beskrivelse": {
            "type": "string",
            "description": "Lenger beskrivelse på oppgaven"
          },
          "handling": {
            "type": "string",
            "description": "Tekst i knappen som tar en videre til spesifisert URL",
            "example": "Gi samtykke"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL til side der oppgaven kan fullføres"
          },
          "frist": {
            "type": "string",
            "format": "date"
          },
          "utfortKriterie": {
            "type": "string",
            "description": "Hvor mange som må utføre oppgaven for at den skal bli markert som fullført, hvis oppgaven har mer enn én mottaker",
            "enum": [
              "ANY",
              "ALL"
            ]
          },
          "mottakere": {
            "$ref": "#/components/schemas/MottakereOpprett"
          },
          "varsling": {
            "$ref": "#/components/schemas/Varsling"
          },
          "metadata": {
            "type": "string",
            "description": "Valgfri ekstra data tilknyttet oppgaven, f.eks. en ekstern referanse"
          }
        }
      },
      "OppgaveOpprettResponse": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "OppdaterStatusRequest": {
        "required": [
          "mottaker"
        ],
        "type": "object",
        "properties": {
          "mottaker": {
            "$ref": "#/components/schemas/MottakerOppdaterStatus"
          }
        }
      },
      "OppgaveHentResponse": {
        "type": "object",
        "required": [
          "id",
          "mottakere"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "mottakere": {
            "$ref": "#/components/schemas/Mottakere"
          },
          "metadata": {
            "type": "string",
            "description": "Valgfri ekstra data tilknyttet oppgaven, f.eks. en ekstern referanse"
          }
        }
      },
      "MottakereOpprett": {
        "required": [
          "mottakerList"
        ],
        "type": "object",
        "properties": {
          "mottakerList": {
            "type": "array",
            "description": "Fødselsnummer eller D-nummer til personen som mottar oppgaven",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/MottakerOpprett"
            }
          }
        }
      },
      "MottakereOppdaterStatus": {
        "required": [
          "mottakerList"
        ],
        "type": "object",
        "properties": {
          "mottakerList": {
            "type": "array",
            "description": "Liste over mottakere med status",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/MottakerOppdaterStatus"
            }
          }
        }
      },
      "Mottakere": {
        "required": [
          "mottakerList"
        ],
        "type": "object",
        "properties": {
          "mottakerList": {
            "type": "array",
            "description": "Liste over mottakere med status",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Mottaker"
            }
          }
        }
      },
      "MottakerOppdaterStatus": {
        "type": "object",
        "required": [
          "mottakerId",
          "mottakerType",
          "status"
        ],
        "properties": {
          "mottakerId": {
            "type": "string",
            "description": "Id til mottakeren (fødselsnummer, organisasjonsnummer, etc)"
          },
          "mottakerType": {
            "type": "string",
            "description": "Type mottaker",
            "enum": [
              "PERSON"
            ]
          },
          "status": {
            "type": "string",
            "description": "Status for mottaker",
            "enum": [
              "NY",
              "FULLFORT"
            ]
          }
        }
      },
      "Mottaker": {
        "type": "object",
        "required": [
          "mottakerId",
          "mottakerType",
          "status"
        ],
        "properties": {
          "mottakerId": {
            "type": "string",
            "description": "Id til mottakeren (fødselsnummer, organisasjonsnummer, etc)"
          },
          "mottakerType": {
            "type": "string",
            "description": "Type mottaker",
            "enum": [
              "PERSON"
            ]
          },
          "status": {
            "type": "string",
            "description": "Status for mottaker",
            "enum": [
              "NY",
              "FULLFORT"
            ]
          },
          "fullfortDato": {
            "type": "string",
            "format": "date",
            "description": "Tidspunkt når status ble fullført"
          }
        }
      },
      "MottakerOpprett": {
        "required": [
          "mottakerId",
          "mottakerType"
        ],
        "type": "object",
        "properties": {
          "mottakerId": {
            "type": "string",
            "description": "Id til mottakeren"
          },
          "mottakerType": {
            "type": "string",
            "description": "Type til mottakeren",
            "enum": [
              "PERSON"
            ]
          }
        }
      },
      "Varsling": {
        "type": "object",
        "required": [],
        "properties": {
          "purringIntervallDager": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "default": 0,
            "description": "Antall dager mellom hver purring. Purring blir ikke sendt dersom verdien er 0."
          }
        }
      }
    }
  }
}