{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Innsyn Post Fra Kommunen søk service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://developers.fiks.ks.no/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.fiks.test.ks.no/",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Innsyn Journalpost søk service",
    "description" : "API for søk på Innsyn Journalpost"
  } ],
  "paths" : {
    "/innsyn-sok/api/v1/journalpost/sok" : {
      "post" : {
        "tags" : [ "JournalpostSok" ],
        "summary" : "Søk",
        "operationId" : "journalpostSok",
        "parameters" : [ {
          "name" : "term",
          "in" : "query",
          "description" : "Søkeord",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fra",
          "in" : "query",
          "description" : "Index for det første søketreffet som skal returneres",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "antall",
          "in" : "query",
          "description" : "Antall søketreff som skal returneres",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "name" : "sortering",
          "in" : "query",
          "description" : "Skal søkeresultatet sorteres på dato heller enn relevans? Relevans-basert sortering er default",
          "schema" : {
            "$ref" : "#/components/schemas/Sortering"
          }
        }, {
          "name" : "akseptertMeldingVersjon",
          "in" : "query",
          "description" : "Akseptert melding-versjon. Kan settes flere ganger. Innsyn vil nedgradere treff på høyere versjon til den høyeste av de aksepterte versjonen (om det er oppgitt flere på samme dokumenttype)",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingVersjon"
            }
          }
        }, {
          "name" : "onBehalfOf",
          "in" : "query",
          "description" : "Organisasjonsnummer for organisasjonen dette søket skal utføres på vegne av. Krever at autentisert bruker har rettigheter til å agere på vegne av denne organisasjonen.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Filtere som begrenser resultatsettet",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/JournalpostFilter"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JournalpostSokresultat"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AdresseV1" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          }
        }
      },
      "FiksOrganisasjon" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "visningsnavn" : {
            "type" : "string"
          }
        }
      },
      "FiksOrganisasjonAggregering" : {
        "type" : "object",
        "properties" : {
          "fiksOrg" : {
            "$ref" : "#/components/schemas/FiksOrganisasjon"
          },
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "Forelder" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          },
          "dokumentId" : {
            "type" : "string"
          }
        }
      },
      "JournalpostAggregeringer" : {
        "type" : "object",
        "properties" : {
          "fiksOrganisasjon" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FiksOrganisasjonAggregering"
            }
          },
          "dateRange" : {
            "$ref" : "#/components/schemas/Periode"
          }
        }
      },
      "JournalpostSokresultat" : {
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treffMedHoyereInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1JournalpostV1"
            }
          },
          "forespurtFra" : {
            "type" : "integer",
            "format" : "int32"
          },
          "forespurtAntall" : {
            "type" : "integer",
            "format" : "int32"
          },
          "aggregeringer" : {
            "$ref" : "#/components/schemas/JournalpostAggregeringer"
          }
        }
      },
      "MeldingFiksOrganisasjon" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "kommunenummer" : {
            "type" : "string"
          }
        }
      },
      "MeldingV1JournalpostV1" : {
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentId" : {
            "type" : "string"
          },
          "sikkerhetsniva" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fiksOrganisasjon" : {
            "$ref" : "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "korrelasjonId" : {
            "type" : "string"
          },
          "forelder" : {
            "$ref" : "#/components/schemas/Forelder"
          },
          "eksternRef" : {
            "type" : "string"
          },
          "meldingMetadata" : {
            "$ref" : "#/components/schemas/journalpostV1"
          },
          "score" : {
            "type" : "number",
            "format" : "float"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "Periode" : {
        "type" : "object",
        "properties" : {
          "fraDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "tilDato" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "SakEdialogSkjemaDocV1" : {
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "mottaker" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "ferdigutfyltTittel" : {
            "type" : "string"
          },
          "ferdigutfyltTekst" : {
            "type" : "string"
          },
          "sakssekvensnummer" : {
            "type" : "integer",
            "format" : "int32"
          },
          "saksaar" : {
            "type" : "integer",
            "format" : "int32"
          },
          "svarUtForsendelseId" : {
            "type" : "string"
          }
        }
      },
      "SakV1Aktivitet" : {
        "type" : "object",
        "properties" : {
          "hendelse" : {
            "type" : "string"
          },
          "dato" : {
            "type" : "string"
          },
          "part" : {
            "$ref" : "#/components/schemas/SakV1Part"
          }
        }
      },
      "SakV1Dokument" : {
        "type" : "object",
        "properties" : {
          "filnavn" : {
            "type" : "string"
          },
          "storrelse" : {
            "type" : "integer",
            "format" : "int64"
          },
          "mimeType" : {
            "type" : "string"
          },
          "tittel" : {
            "type" : "string"
          },
          "lenke" : {
            "type" : "string"
          },
          "svarUtFilnummer" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "SakV1Korrespondansepart" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON" ]
          },
          "korrespondanseparttype" : {
            "type" : "string",
            "enum" : [ "EA", "EM", "EK", "IA", "IM", "IK" ]
          },
          "korrespondansepartNavn" : {
            "type" : "string"
          },
          "korrespondansepartId" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseV1"
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "kontaktperson" : {
            "type" : "string"
          }
        }
      },
      "SakV1Lenke" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "SakV1Part" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON" ]
          },
          "partRolle" : {
            "type" : "string"
          },
          "partNavn" : {
            "type" : "string"
          },
          "partId" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseV1"
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "kontaktperson" : {
            "type" : "string"
          }
        }
      },
      "journalpostV1" : {
        "type" : "object",
        "properties" : {
          "journalposttype" : {
            "type" : "string",
            "enum" : [ "I", "U", "N", "X", "S" ]
          },
          "tittel" : {
            "type" : "string"
          },
          "mappeId" : {
            "type" : "string"
          },
          "systemId" : {
            "type" : "string"
          },
          "registreringsId" : {
            "type" : "string"
          },
          "journalpostnummer" : {
            "type" : "integer",
            "format" : "int32"
          },
          "journalaar" : {
            "type" : "integer",
            "format" : "int32"
          },
          "journaldato" : {
            "type" : "string"
          },
          "svarUtForsendelseId" : {
            "type" : "string"
          },
          "internEksponertFor" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SakV1Part"
            }
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "aktivitetslogg" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SakV1Aktivitet"
            }
          },
          "lenker" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SakV1Lenke"
            }
          },
          "edialogSkjemaer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SakEdialogSkjemaDocV1"
            }
          },
          "klagefrist" : {
            "type" : "string"
          },
          "korrespondansepart" : {
            "$ref" : "#/components/schemas/SakV1Korrespondansepart"
          },
          "dokumenter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SakV1Dokument"
            }
          },
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          },
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          }
        }
      },
      "Sortering" : {
        "type" : "string",
        "enum" : [ "DATO_ASC", "DATO_DESC", "RELEVANS" ]
      },
      "MeldingVersjon" : {
        "type" : "string",
        "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
      },
      "JournalpostFilter" : {
        "type" : "object",
        "properties" : {
          "fiksOrganisasjon" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "journalposttype" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "I", "U", "N", "X", "S" ]
            }
          },
          "fraDato" : {
            "type" : "string",
            "format" : "date"
          },
          "tilDato" : {
            "type" : "string",
            "format" : "date"
          }
        }
      }
    }
  }
}