{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Innsyn Mappe søk service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://developers.fiks.ks.no/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no/",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "Innsyn Mappe søk service",
    "description" : "API for søk på Innsyn Mappe"
  } ],
  "paths" : {
    "/innsyn-sok/api/v1/mappe/sok" : {
      "post" : {
        "tags" : [ "MappeSok" ],
        "summary" : "Søk",
        "operationId" : "mappeSok",
        "parameters" : [ {
          "name" : "term",
          "in" : "query",
          "description" : "Søkeord",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fra",
          "in" : "query",
          "description" : "Index for det første søketreffet som skal returneres",
          "schema" : {
            "maximum" : 9999,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "antall",
          "in" : "query",
          "description" : "Antall søketreff som skal returneres",
          "schema" : {
            "maximum" : 500,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "name" : "sortering",
          "in" : "query",
          "description" : "Skal søkeresultatet sorteres på dato heller enn relevans? Relevans-basert sortering er default",
          "schema" : {
            "$ref" : "#/components/schemas/Sortering"
          }
        }, {
          "name" : "akseptertMeldingVersjon",
          "in" : "query",
          "description" : "Akseptert melding-versjon. Kan settes flere ganger. Innsyn vil nedgradere treff på høyere versjon til den høyeste av de aksepterte versjonen (om det er oppgitt flere på samme dokumenttype)",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingVersjon"
            }
          }
        }, {
          "name" : "onBehalfOf",
          "in" : "query",
          "description" : "Organisasjonsnummer for organisasjonen dette søket skal utføres på vegne av. Krever at autentisert bruker har rettigheter til å agere på vegne av denne organisasjonen.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Filtere som begrenser resultatsettet",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MappeFilter"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MappeSokresultat"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "FiksOrganisasjon" : {
        "required" : [ "id", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "visningsnavn" : {
            "type" : "string"
          }
        }
      },
      "FiksOrganisasjonAggregering" : {
        "required" : [ "antallTreff", "fiksOrg" ],
        "type" : "object",
        "properties" : {
          "fiksOrg" : {
            "$ref" : "#/components/schemas/FiksOrganisasjon"
          },
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "Forelder" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          },
          "dokumentId" : {
            "type" : "string"
          }
        }
      },
      "MappeAggregeringer" : {
        "required" : [ "dateRange", "fiksOrganisasjon" ],
        "type" : "object",
        "properties" : {
          "fiksOrganisasjon" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FiksOrganisasjonAggregering"
            }
          },
          "dateRange" : {
            "$ref" : "#/components/schemas/Periode"
          }
        }
      },
      "MappeSokresultat" : {
        "required" : [ "aggregeringer", "antallTreff", "forespurtAntall", "forespurtFra", "harMeldingerMedHoyereSikkerhetsniva", "treff", "treffMedHoyereInnloggingsniva" ],
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treffMedHoyereInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          },
          "harMeldingerMedHoyereSikkerhetsniva" : {
            "type" : "boolean"
          },
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1MappeV1"
            }
          },
          "forespurtFra" : {
            "type" : "integer",
            "format" : "int32"
          },
          "forespurtAntall" : {
            "type" : "integer",
            "format" : "int32"
          },
          "aggregeringer" : {
            "$ref" : "#/components/schemas/MappeAggregeringer"
          }
        }
      },
      "MappeV1Adresse" : {
        "type" : "object",
        "properties" : {
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          }
        }
      },
      "MappeV1Lenke" : {
        "required" : [ "navn", "url" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "MappeV1Milepel" : {
        "required" : [ "navn", "startdato" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "startdato" : {
            "type" : "string"
          },
          "sluttdato" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      },
      "MappeV1Part" : {
        "required" : [ "navn", "rolle", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON" ]
          },
          "rolle" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/MappeV1Adresse"
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "kontaktperson" : {
            "type" : "string"
          }
        }
      },
      "MatrikkelV1" : {
        "type" : "object",
        "properties" : {
          "kommunenummer" : {
            "type" : "string"
          },
          "gardsnummer" : {
            "type" : "string"
          },
          "bruksnummer" : {
            "type" : "string"
          },
          "festenummer" : {
            "type" : "string"
          },
          "seksjonsnummer" : {
            "type" : "string"
          },
          "matrikkelId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "MeldingFiksOrganisasjon" : {
        "required" : [ "id", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "kommunenummer" : {
            "type" : "string"
          }
        }
      },
      "MeldingV1MappeV1" : {
        "required" : [ "dokumentId", "fiksOrganisasjon", "meldingId", "meldingMetadata", "sikkerhetsniva" ],
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentId" : {
            "type" : "string"
          },
          "sikkerhetsniva" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fiksOrganisasjon" : {
            "$ref" : "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "korrelasjonId" : {
            "type" : "string"
          },
          "forelder" : {
            "$ref" : "#/components/schemas/Forelder"
          },
          "eksternRef" : {
            "type" : "string"
          },
          "meldingMetadata" : {
            "$ref" : "#/components/schemas/mappeV1"
          },
          "score" : {
            "type" : "number",
            "format" : "double"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "Periode" : {
        "type" : "object",
        "properties" : {
          "fraDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "tilDato" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "mappeV1" : {
        "required" : [ "internType", "tittel" ],
        "type" : "object",
        "properties" : {
          "internType" : {
            "type" : "string",
            "enum" : [ "BYGGESAK", "SAK" ]
          },
          "tittel" : {
            "type" : "string"
          },
          "mappeId" : {
            "type" : "string"
          },
          "systemId" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "andreParter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MappeV1Part"
            }
          },
          "minPart" : {
            "$ref" : "#/components/schemas/MappeV1Part"
          },
          "sistOppdatert" : {
            "type" : "string"
          },
          "avsluttet" : {
            "type" : "string"
          },
          "milepeler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MappeV1Milepel"
            }
          },
          "navaerendeMilepel" : {
            "$ref" : "#/components/schemas/MappeV1Milepel"
          },
          "saksdato" : {
            "type" : "string"
          },
          "saksansvarlig" : {
            "type" : "string"
          },
          "lenker" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MappeV1Lenke"
            }
          },
          "matrikler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MatrikkelV1"
            }
          },
          "adresser" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MappeV1Adresse"
            }
          },
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          },
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          }
        },
        "description" : "Mappe"
      },
      "Sortering" : {
        "type" : "string",
        "enum" : [ "DATO_ASC", "DATO_DESC", "RELEVANS" ]
      },
      "MeldingVersjon" : {
        "type" : "string",
        "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
      },
      "MappeFilter" : {
        "type" : "object",
        "properties" : {
          "fiksOrganisasjon" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "mappeType" : {
            "type" : "string",
            "enum" : [ "BYGGESAK", "SAK" ]
          },
          "matrikkelenhetDokumentId" : {
            "type" : "string"
          },
          "fraDato" : {
            "type" : "string",
            "format" : "date"
          },
          "tilDato" : {
            "type" : "string",
            "format" : "date"
          }
        }
      }
    }
  }
}