{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Innsyn Driftsmelding konfigurasjon service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://developers.fiks.ks.no/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no/",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "Innsyn Driftsmelding konfigurasjon service",
    "description" : "API for Driftsmelding konfigurasjon"
  } ],
  "paths" : {
    "/innsyn-sok/api/v1/driftsmeldinger/{id}" : {
      "put" : {
        "tags" : [ "DriftsmeldingKonfigurasjon" ],
        "summary" : "Endre melding",
        "operationId" : "endreMelding",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Melding-id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DriftsmeldingEndre"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "DriftsmeldingKonfigurasjon" ],
        "summary" : "Slett melding",
        "operationId" : "slettMelding",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Melding-id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/innsyn-sok/api/v1/driftsmeldinger" : {
      "get" : {
        "tags" : [ "DriftsmeldingKonfigurasjon" ],
        "summary" : "Hent melding",
        "operationId" : "hentMeldinger",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "query",
          "description" : "Fiks-Org-id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HentResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "DriftsmeldingKonfigurasjon" ],
        "summary" : "Opprett melding",
        "operationId" : "opprettMelding",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DriftsmeldingOpprett"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Driftsmelding"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "DriftsmeldingEndre" : {
        "required" : [ "innhold", "kategori", "meldingType" ],
        "type" : "object",
        "properties" : {
          "innhold" : {
            "type" : "string"
          },
          "meldingType" : {
            "$ref" : "#/components/schemas/MeldingType"
          },
          "kategori" : {
            "$ref" : "#/components/schemas/Kategori"
          },
          "startDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "sluttDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "urlTekst" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "Kategori" : {
        "type" : "string",
        "enum" : [ "FAKTURA", "FORSENDELSE", "EIENDOM", "SAK" ]
      },
      "MeldingType" : {
        "type" : "string",
        "enum" : [ "INFORMASJON", "ADVARSEL", "FEIL" ]
      },
      "Driftsmelding" : {
        "required" : [ "fiksOrgId", "id", "innhold", "kategori", "meldingType" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "innhold" : {
            "type" : "string"
          },
          "meldingType" : {
            "$ref" : "#/components/schemas/MeldingType"
          },
          "kategori" : {
            "$ref" : "#/components/schemas/Kategori"
          },
          "startDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "sluttDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "urlTekst" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "HentResponse" : {
        "required" : [ "driftsmeldinger" ],
        "type" : "object",
        "properties" : {
          "driftsmeldinger" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Driftsmelding"
            }
          }
        }
      },
      "DriftsmeldingOpprett" : {
        "required" : [ "fiksOrgId", "innhold", "kategori", "meldingType" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "innhold" : {
            "type" : "string"
          },
          "meldingType" : {
            "$ref" : "#/components/schemas/MeldingType"
          },
          "kategori" : {
            "$ref" : "#/components/schemas/Kategori"
          },
          "startDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "sluttDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "urlTekst" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      }
    }
  }
}