{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Innsyn Multi-søk service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://developers.fiks.ks.no/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no/",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "Innsyn multi-søk service",
    "description" : "API for multi-søk på Innsyn"
  } ],
  "paths" : {
    "/innsyn-sok/api/v1/multi/aggregering" : {
      "post" : {
        "tags" : [ "MultiSok" ],
        "summary" : "Henter kun aggregeringer, uten søketreff",
        "operationId" : "aggregering",
        "parameters" : [ {
          "name" : "onBehalfOf",
          "in" : "query",
          "description" : "Organisasjonsnummer for organisasjonen dette søket skal utføres på vegne av. Krever at autentisert bruker har rettigheter til å agere på vegne av denne organisasjonen.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kommune",
          "in" : "query",
          "description" : "Fiks-organisajonsid for innbyggers bostedskommune. Dersom denne er satt returneres resultater for tjenesteMinKommune og tjenesteAndreKommuner, ellers returneres kun tjenesteAlleKommuner.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiAggregering"
                }
              }
            }
          }
        }
      }
    },
    "/innsyn-sok/api/v1/multi/sist-innlogget-sok" : {
      "post" : {
        "tags" : [ "MultiSok" ],
        "summary" : "Søk etter nye meldinger siden sist innlogging",
        "operationId" : "sistInnloggetSok",
        "parameters" : [ {
          "name" : "antall",
          "in" : "query",
          "description" : "Antall søketreff som skal returneres",
          "schema" : {
            "maximum" : 500,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "akseptertMeldingVersjon",
          "in" : "query",
          "description" : "Akseptert melding-versjon. Kan settes flere ganger. Innsyn vil nedgradere treff på høyere versjon til den høyeste av de aksepterte versjonen (om det er oppgitt flere på samme dokumenttype)",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingVersjon"
            }
          }
        }, {
          "name" : "onBehalfOf",
          "in" : "query",
          "description" : "Organisasjonsnummer for organisasjonen dette søket skal utføres på vegne av. Krever at autentisert bruker har rettigheter til å agere på vegne av denne organisasjonen.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SistInnloggetMultiSokeresultat"
                }
              }
            }
          }
        }
      }
    },
    "/innsyn-sok/api/v1/multi/sok" : {
      "post" : {
        "tags" : [ "MultiSok" ],
        "summary" : "Søker etter meldinger",
        "operationId" : "sok",
        "parameters" : [ {
          "name" : "term",
          "in" : "query",
          "description" : "Søkeord",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "antall",
          "in" : "query",
          "description" : "Antall søketreff som skal returneres",
          "schema" : {
            "maximum" : 500,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "akseptertMeldingVersjon",
          "in" : "query",
          "description" : "Akseptert melding-versjon. Kan settes flere ganger. Innsyn vil nedgradere treff på høyere versjon til den høyeste av de aksepterte versjonen (om det er oppgitt flere på samme dokumenttype)",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingVersjon"
            }
          }
        }, {
          "name" : "onBehalfOf",
          "in" : "query",
          "description" : "Organisasjonsnummer for organisasjonen dette søket skal utføres på vegne av. Krever at autentisert bruker har rettigheter til å agere på vegne av denne organisasjonen.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kommune",
          "in" : "query",
          "description" : "Fiks-organisajonsid for innbyggers bostedskommune. Dersom denne er satt returneres resultater for tjenesteMinKommune og tjenesteAndreKommuner, ellers returneres kun tjenesteAlleKommuner.",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultiSokeresultat"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Aggregering" : {
        "required" : [ "antallTreff", "harMeldingerMedHoyereSikkerhetsniva" ],
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "harMeldingerMedHoyereSikkerhetsniva" : {
            "type" : "boolean"
          }
        }
      },
      "MultiAggregering" : {
        "required" : [ "byggesak", "eiendom", "faktura", "innsendtSkjema", "journalpost", "kladd", "mappe", "post" ],
        "type" : "object",
        "properties" : {
          "byggesak" : {
            "$ref" : "#/components/schemas/Aggregering"
          },
          "eiendom" : {
            "$ref" : "#/components/schemas/Aggregering"
          },
          "post" : {
            "$ref" : "#/components/schemas/Aggregering"
          },
          "innsendtSkjema" : {
            "$ref" : "#/components/schemas/Aggregering"
          },
          "kladd" : {
            "$ref" : "#/components/schemas/Aggregering"
          },
          "faktura" : {
            "$ref" : "#/components/schemas/Aggregering"
          },
          "mappe" : {
            "$ref" : "#/components/schemas/Aggregering"
          },
          "journalpost" : {
            "$ref" : "#/components/schemas/Aggregering"
          },
          "tjenesteMinKommune" : {
            "$ref" : "#/components/schemas/Aggregering"
          },
          "tjenesteAndreKommuner" : {
            "$ref" : "#/components/schemas/Aggregering"
          },
          "tjenesteAlleKommuner" : {
            "$ref" : "#/components/schemas/Aggregering"
          }
        }
      },
      "SistInnloggetMultiSokMelding" : {
        "required" : [ "dato", "dokumentId", "tittel", "versjon" ],
        "type" : "object",
        "properties" : {
          "dokumentId" : {
            "type" : "string"
          },
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          },
          "tittel" : {
            "type" : "string"
          },
          "dato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "fiksOrganisasjonKommunenummer" : {
            "type" : "string"
          },
          "avsender" : {
            "type" : "string"
          }
        }
      },
      "SistInnloggetMultiSokeresultat" : {
        "required" : [ "antallTreff", "harMeldingerMedHoyereSikkerhetsniva", "sistInnlogget", "treff", "treffMedHoyereInnloggingsniva" ],
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treffMedHoyereInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          },
          "harMeldingerMedHoyereSikkerhetsniva" : {
            "type" : "boolean"
          },
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SistInnloggetMultiSokMelding"
            }
          },
          "sistInnlogget" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "MeldingVersjon" : {
        "type" : "string",
        "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
      },
      "AdresseV1" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          }
        }
      },
      "ByggesakDokumentV1" : {
        "required" : [ "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "dokumenttype" : {
            "$ref" : "#/components/schemas/ByggesakDokumenttypeV1"
          },
          "nedlastingslenke" : {
            "type" : "string"
          },
          "dokumentsdato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "vedtaksstatus" : {
            "type" : "string"
          },
          "versjon" : {
            "type" : "string"
          },
          "vedtaksdato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "systemId" : {
            "type" : "string"
          },
          "erstatterTidligereSystemId" : {
            "type" : "string"
          },
          "mimeType" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "ByggesakDokumenttypeV1" : {
        "type" : "object",
        "properties" : {
          "dokumenttypeKodeverdi" : {
            "type" : "string"
          },
          "dokumenttypeKodebeskrivelse" : {
            "type" : "string"
          }
        }
      },
      "ByggesakMatrikkelnummerV1" : {
        "required" : [ "bruksnummer", "festenummer", "gardsnummer", "kommunenummer", "seksjonsnummer" ],
        "type" : "object",
        "properties" : {
          "kommunenummer" : {
            "type" : "string"
          },
          "gardsnummer" : {
            "type" : "string"
          },
          "bruksnummer" : {
            "type" : "string"
          },
          "seksjonsnummer" : {
            "type" : "string"
          },
          "festenummer" : {
            "type" : "string"
          }
        }
      },
      "ByggesakSaksnummerV1" : {
        "required" : [ "saksnummerSaksaar", "saksnummerSakssekvensnummer" ],
        "type" : "object",
        "properties" : {
          "saksnummerSaksaar" : {
            "type" : "string"
          },
          "saksnummerSakssekvensnummer" : {
            "type" : "string"
          }
        }
      },
      "ByggesakTiltakstypeV1" : {
        "required" : [ "tiltakstypeKodebeskrivelse", "tiltakstypeKodeverdi" ],
        "type" : "object",
        "properties" : {
          "tiltakstypeKodeverdi" : {
            "type" : "string"
          },
          "tiltakstypeKodebeskrivelse" : {
            "type" : "string"
          }
        }
      },
      "FakturaKontaktInformasjonV1" : {
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "epost" : {
            "type" : "string"
          },
          "fritekst" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/AdresseV1"
          }
        }
      },
      "FakturaLenkeV1" : {
        "required" : [ "tittel", "url" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "FakturaPdfV1" : {
        "required" : [ "url" ],
        "type" : "object",
        "properties" : {
          "url" : {
            "type" : "string"
          },
          "tittel" : {
            "type" : "string"
          }
        }
      },
      "FakturaVedleggV1" : {
        "required" : [ "tittel", "url" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "Forelder" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          },
          "dokumentId" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV1Dokument" : {
        "required" : [ "nedlastingslenke", "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer",
            "format" : "int32"
          },
          "nedlastingslenke" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV2Adresse" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "addresselinje1" : {
            "type" : "string"
          },
          "addresselinje2" : {
            "type" : "string"
          },
          "addresselinje3" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV2Dokument" : {
        "required" : [ "mimeType", "nedlastingLenke", "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer",
            "format" : "int32"
          },
          "nedlastingLenke" : {
            "type" : "string"
          },
          "mimeType" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV2Lenke" : {
        "required" : [ "url", "urlTekst" ],
        "type" : "object",
        "properties" : {
          "url" : {
            "type" : "string"
          },
          "urlTekst" : {
            "type" : "string"
          },
          "ledetekst" : {
            "type" : "string"
          }
        }
      },
      "HistoriskFakturaV1" : {
        "required" : [ "tittel", "url" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          },
          "fakturaDato" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "MappeV1Adresse" : {
        "type" : "object",
        "properties" : {
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          }
        }
      },
      "MappeV1Dokument" : {
        "required" : [ "filnavn", "mimeType", "tittel" ],
        "type" : "object",
        "properties" : {
          "filnavn" : {
            "type" : "string"
          },
          "mimeType" : {
            "type" : "string"
          },
          "tittel" : {
            "type" : "string"
          },
          "storrelse" : {
            "type" : "integer",
            "format" : "int64"
          },
          "lenke" : {
            "type" : "string"
          }
        }
      },
      "MappeV1Korrespondansepart" : {
        "required" : [ "korrespondanseparttype", "navn" ],
        "type" : "object",
        "properties" : {
          "korrespondanseparttype" : {
            "type" : "string",
            "enum" : [ "EA", "EM", "EK", "IA", "IM", "IK" ]
          },
          "navn" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON" ]
          },
          "orgnr" : {
            "type" : "string"
          },
          "kontaktperson" : {
            "type" : "string"
          }
        }
      },
      "MappeV1Lenke" : {
        "required" : [ "navn", "url" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "MappeV1Milepel" : {
        "required" : [ "navn", "startdato" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "startdato" : {
            "type" : "string"
          },
          "sluttdato" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          }
        }
      },
      "MappeV1Part" : {
        "required" : [ "navn", "rolle", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON" ]
          },
          "rolle" : {
            "type" : "string"
          },
          "navn" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/MappeV1Adresse"
          },
          "epost" : {
            "type" : "string"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "kontaktperson" : {
            "type" : "string"
          }
        }
      },
      "MatrikkelV1" : {
        "type" : "object",
        "properties" : {
          "kommunenummer" : {
            "type" : "string"
          },
          "gardsnummer" : {
            "type" : "string"
          },
          "bruksnummer" : {
            "type" : "string"
          },
          "festenummer" : {
            "type" : "string"
          },
          "seksjonsnummer" : {
            "type" : "string"
          },
          "matrikkelId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "MatrikkelenhetMatrikkelnummerV1" : {
        "required" : [ "bruksnummer", "festenummer", "gardsnummer", "kommunenummer", "seksjonsnummer" ],
        "type" : "object",
        "properties" : {
          "kommunenummer" : {
            "type" : "string"
          },
          "gardsnummer" : {
            "type" : "string"
          },
          "bruksnummer" : {
            "type" : "string"
          },
          "seksjonsnummer" : {
            "type" : "string"
          },
          "festenummer" : {
            "type" : "string"
          }
        }
      },
      "MeldingFiksOrganisasjon" : {
        "required" : [ "id", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "kommunenummer" : {
            "type" : "string"
          }
        }
      },
      "MeldingV1ByggesakV1" : {
        "required" : [ "dokumentId", "fiksOrganisasjon", "meldingId", "meldingMetadata", "sikkerhetsniva" ],
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentId" : {
            "type" : "string"
          },
          "sikkerhetsniva" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fiksOrganisasjon" : {
            "$ref" : "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "korrelasjonId" : {
            "type" : "string"
          },
          "forelder" : {
            "$ref" : "#/components/schemas/Forelder"
          },
          "eksternRef" : {
            "type" : "string"
          },
          "meldingMetadata" : {
            "$ref" : "#/components/schemas/byggesakV1"
          },
          "score" : {
            "type" : "number",
            "format" : "double"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "MeldingV1FakturaV1" : {
        "required" : [ "dokumentId", "fiksOrganisasjon", "meldingId", "meldingMetadata", "sikkerhetsniva" ],
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentId" : {
            "type" : "string"
          },
          "sikkerhetsniva" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fiksOrganisasjon" : {
            "$ref" : "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "korrelasjonId" : {
            "type" : "string"
          },
          "forelder" : {
            "$ref" : "#/components/schemas/Forelder"
          },
          "eksternRef" : {
            "type" : "string"
          },
          "meldingMetadata" : {
            "$ref" : "#/components/schemas/fakturaV1"
          },
          "score" : {
            "type" : "number",
            "format" : "double"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "MeldingV1InnsendtskjemaV1" : {
        "required" : [ "dokumentId", "fiksOrganisasjon", "meldingId", "meldingMetadata", "sikkerhetsniva" ],
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentId" : {
            "type" : "string"
          },
          "sikkerhetsniva" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fiksOrganisasjon" : {
            "$ref" : "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "korrelasjonId" : {
            "type" : "string"
          },
          "forelder" : {
            "$ref" : "#/components/schemas/Forelder"
          },
          "eksternRef" : {
            "type" : "string"
          },
          "meldingMetadata" : {
            "$ref" : "#/components/schemas/innsendtskjemaV1"
          },
          "score" : {
            "type" : "number",
            "format" : "double"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "MeldingV1JournalpostV1" : {
        "required" : [ "dokumentId", "fiksOrganisasjon", "meldingId", "meldingMetadata", "sikkerhetsniva" ],
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentId" : {
            "type" : "string"
          },
          "sikkerhetsniva" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fiksOrganisasjon" : {
            "$ref" : "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "korrelasjonId" : {
            "type" : "string"
          },
          "forelder" : {
            "$ref" : "#/components/schemas/Forelder"
          },
          "eksternRef" : {
            "type" : "string"
          },
          "meldingMetadata" : {
            "$ref" : "#/components/schemas/journalpostV1"
          },
          "score" : {
            "type" : "number",
            "format" : "double"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "MeldingV1KommunaltjenesteV1" : {
        "required" : [ "dokumentId", "fiksOrganisasjon", "meldingId", "meldingMetadata", "sikkerhetsniva" ],
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentId" : {
            "type" : "string"
          },
          "sikkerhetsniva" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fiksOrganisasjon" : {
            "$ref" : "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "korrelasjonId" : {
            "type" : "string"
          },
          "forelder" : {
            "$ref" : "#/components/schemas/Forelder"
          },
          "eksternRef" : {
            "type" : "string"
          },
          "meldingMetadata" : {
            "$ref" : "#/components/schemas/kommunaltjenesteV1"
          },
          "score" : {
            "type" : "number",
            "format" : "double"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "MeldingV1MappeV1" : {
        "required" : [ "dokumentId", "fiksOrganisasjon", "meldingId", "meldingMetadata", "sikkerhetsniva" ],
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentId" : {
            "type" : "string"
          },
          "sikkerhetsniva" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fiksOrganisasjon" : {
            "$ref" : "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "korrelasjonId" : {
            "type" : "string"
          },
          "forelder" : {
            "$ref" : "#/components/schemas/Forelder"
          },
          "eksternRef" : {
            "type" : "string"
          },
          "meldingMetadata" : {
            "$ref" : "#/components/schemas/mappeV1"
          },
          "score" : {
            "type" : "number",
            "format" : "double"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "MeldingV1MatrikkelenhetV1" : {
        "required" : [ "dokumentId", "fiksOrganisasjon", "meldingId", "meldingMetadata", "sikkerhetsniva" ],
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentId" : {
            "type" : "string"
          },
          "sikkerhetsniva" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fiksOrganisasjon" : {
            "$ref" : "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "korrelasjonId" : {
            "type" : "string"
          },
          "forelder" : {
            "$ref" : "#/components/schemas/Forelder"
          },
          "eksternRef" : {
            "type" : "string"
          },
          "meldingMetadata" : {
            "$ref" : "#/components/schemas/matrikkelenhetV1"
          },
          "score" : {
            "type" : "number",
            "format" : "double"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "MeldingV1PostSokHit" : {
        "required" : [ "dokumentId", "fiksOrganisasjon", "meldingId", "meldingMetadata", "sikkerhetsniva" ],
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentId" : {
            "type" : "string"
          },
          "sikkerhetsniva" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fiksOrganisasjon" : {
            "$ref" : "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "korrelasjonId" : {
            "type" : "string"
          },
          "forelder" : {
            "$ref" : "#/components/schemas/Forelder"
          },
          "eksternRef" : {
            "type" : "string"
          },
          "meldingMetadata" : {
            "$ref" : "#/components/schemas/PostSokHit"
          },
          "score" : {
            "type" : "number",
            "format" : "double"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "MeldingV1SkjemakladdV1" : {
        "required" : [ "dokumentId", "fiksOrganisasjon", "meldingId", "meldingMetadata", "sikkerhetsniva" ],
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentId" : {
            "type" : "string"
          },
          "sikkerhetsniva" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fiksOrganisasjon" : {
            "$ref" : "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "korrelasjonId" : {
            "type" : "string"
          },
          "forelder" : {
            "$ref" : "#/components/schemas/Forelder"
          },
          "eksternRef" : {
            "type" : "string"
          },
          "meldingMetadata" : {
            "$ref" : "#/components/schemas/skjemakladdV1"
          },
          "score" : {
            "type" : "number",
            "format" : "double"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "MultiSokeresultat" : {
        "required" : [ "byggesak", "eiendom", "faktura", "innsendtSkjema", "journalpost", "kladd", "mappe", "post" ],
        "type" : "object",
        "properties" : {
          "eiendom" : {
            "$ref" : "#/components/schemas/ResultatMatrikkelenhetV1"
          },
          "byggesak" : {
            "$ref" : "#/components/schemas/ResultatByggesakV1"
          },
          "post" : {
            "$ref" : "#/components/schemas/ResultatPostSokHit"
          },
          "innsendtSkjema" : {
            "$ref" : "#/components/schemas/ResultatInnsendtskjemaV1"
          },
          "kladd" : {
            "$ref" : "#/components/schemas/ResultatSkjemakladdV1"
          },
          "faktura" : {
            "$ref" : "#/components/schemas/ResultatFakturaV1"
          },
          "mappe" : {
            "$ref" : "#/components/schemas/ResultatMappeV1"
          },
          "journalpost" : {
            "$ref" : "#/components/schemas/ResultatJournalpostV1"
          },
          "tjenesteMinKommune" : {
            "$ref" : "#/components/schemas/ResultatKommunaltjenesteV1"
          },
          "tjenesteAndreKommuner" : {
            "$ref" : "#/components/schemas/ResultatKommunaltjenesteV1"
          },
          "tjenesteAlleKommuner" : {
            "$ref" : "#/components/schemas/ResultatKommunaltjenesteV1"
          }
        }
      },
      "PostSokHit" : {
        "type" : "object",
        "properties" : {
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          },
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          }
        },
        "discriminator" : {
          "propertyName" : "versjon"
        }
      },
      "ResultatByggesakV1" : {
        "required" : [ "antallTreff", "harMeldingerMedHoyereSikkerhetsniva", "treff", "treffMedHoyereInnloggingsniva" ],
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treffMedHoyereInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          },
          "harMeldingerMedHoyereSikkerhetsniva" : {
            "type" : "boolean"
          },
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1ByggesakV1"
            }
          }
        }
      },
      "ResultatFakturaV1" : {
        "required" : [ "antallTreff", "harMeldingerMedHoyereSikkerhetsniva", "treff", "treffMedHoyereInnloggingsniva" ],
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treffMedHoyereInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          },
          "harMeldingerMedHoyereSikkerhetsniva" : {
            "type" : "boolean"
          },
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1FakturaV1"
            }
          }
        }
      },
      "ResultatInnsendtskjemaV1" : {
        "required" : [ "antallTreff", "harMeldingerMedHoyereSikkerhetsniva", "treff", "treffMedHoyereInnloggingsniva" ],
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treffMedHoyereInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          },
          "harMeldingerMedHoyereSikkerhetsniva" : {
            "type" : "boolean"
          },
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1InnsendtskjemaV1"
            }
          }
        }
      },
      "ResultatJournalpostV1" : {
        "required" : [ "antallTreff", "harMeldingerMedHoyereSikkerhetsniva", "treff", "treffMedHoyereInnloggingsniva" ],
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treffMedHoyereInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          },
          "harMeldingerMedHoyereSikkerhetsniva" : {
            "type" : "boolean"
          },
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1JournalpostV1"
            }
          }
        }
      },
      "ResultatKommunaltjenesteV1" : {
        "required" : [ "antallTreff", "harMeldingerMedHoyereSikkerhetsniva", "treff", "treffMedHoyereInnloggingsniva" ],
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treffMedHoyereInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          },
          "harMeldingerMedHoyereSikkerhetsniva" : {
            "type" : "boolean"
          },
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1KommunaltjenesteV1"
            }
          }
        }
      },
      "ResultatMappeV1" : {
        "required" : [ "antallTreff", "harMeldingerMedHoyereSikkerhetsniva", "treff", "treffMedHoyereInnloggingsniva" ],
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treffMedHoyereInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          },
          "harMeldingerMedHoyereSikkerhetsniva" : {
            "type" : "boolean"
          },
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1MappeV1"
            }
          }
        }
      },
      "ResultatMatrikkelenhetV1" : {
        "required" : [ "antallTreff", "harMeldingerMedHoyereSikkerhetsniva", "treff", "treffMedHoyereInnloggingsniva" ],
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treffMedHoyereInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          },
          "harMeldingerMedHoyereSikkerhetsniva" : {
            "type" : "boolean"
          },
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1MatrikkelenhetV1"
            }
          }
        }
      },
      "ResultatPostSokHit" : {
        "required" : [ "antallTreff", "harMeldingerMedHoyereSikkerhetsniva", "treff", "treffMedHoyereInnloggingsniva" ],
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treffMedHoyereInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          },
          "harMeldingerMedHoyereSikkerhetsniva" : {
            "type" : "boolean"
          },
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1PostSokHit"
            }
          }
        }
      },
      "ResultatSkjemakladdV1" : {
        "required" : [ "antallTreff", "harMeldingerMedHoyereSikkerhetsniva", "treff", "treffMedHoyereInnloggingsniva" ],
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treffMedHoyereInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          },
          "harMeldingerMedHoyereSikkerhetsniva" : {
            "type" : "boolean"
          },
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1SkjemakladdV1"
            }
          }
        }
      },
      "SkjemaFilV1" : {
        "required" : [ "filnavn", "mimeType", "nedlastingslenke", "size" ],
        "type" : "object",
        "properties" : {
          "nedlastingslenke" : {
            "type" : "string"
          },
          "filnavn" : {
            "type" : "string"
          },
          "mimeType" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "byggesakV1" : {
        "required" : [ "dokumenter", "saksdato", "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "mappeId" : {
            "type" : "string"
          },
          "sakstatus" : {
            "type" : "string"
          },
          "saksdato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "saksansvarlig" : {
            "type" : "string"
          },
          "administrativEnhet" : {
            "type" : "string"
          },
          "adresse" : {
            "type" : "string"
          },
          "avsluttetDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "saksnummer" : {
            "$ref" : "#/components/schemas/ByggesakSaksnummerV1"
          },
          "tiltakstype" : {
            "$ref" : "#/components/schemas/ByggesakTiltakstypeV1"
          },
          "matrikkelnummer" : {
            "$ref" : "#/components/schemas/ByggesakMatrikkelnummerV1"
          },
          "tiltakshaver" : {
            "type" : "string"
          },
          "ansvarligSoker" : {
            "type" : "string"
          },
          "dokumenter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ByggesakDokumentV1"
            }
          },
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          },
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          }
        },
        "description" : "Byggesak"
      },
      "fakturaV1" : {
        "required" : [ "belop", "betalesTil", "fakturaDato", "fakturaMottaker", "forfallDato", "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "fakturaDato" : {
            "type" : "string",
            "format" : "date"
          },
          "forfallDato" : {
            "type" : "string",
            "format" : "date"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "BETALT", "IKKE_BETALT", "INKASSOVARSEL", "SENDT_INKASSO", "INKASSO" ]
          },
          "fakturaMottaker" : {
            "type" : "string"
          },
          "betalesTil" : {
            "type" : "string"
          },
          "belop" : {
            "type" : "number",
            "format" : "double"
          },
          "gebyr" : {
            "type" : "number",
            "format" : "double"
          },
          "renter" : {
            "type" : "number",
            "format" : "double"
          },
          "andreOmkostninger" : {
            "type" : "number",
            "format" : "double"
          },
          "totalbelop" : {
            "type" : "number",
            "format" : "double"
          },
          "utestaendeBelop" : {
            "type" : "number",
            "format" : "double"
          },
          "kreditertBelop" : {
            "type" : "number",
            "format" : "double"
          },
          "kontonummer" : {
            "type" : "string"
          },
          "kid" : {
            "type" : "string"
          },
          "fakturanummer" : {
            "type" : "string"
          },
          "forsendelseskanal" : {
            "type" : "string",
            "enum" : [ "AVTALEGIRO", "EFAKTURA", "POST", "EPOST", "DIGIPOST", "EBOKS" ]
          },
          "faktura" : {
            "$ref" : "#/components/schemas/FakturaPdfV1"
          },
          "fakturahistorikk" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HistoriskFakturaV1"
            }
          },
          "vedlegg" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FakturaVedleggV1"
            }
          },
          "lenker" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FakturaLenkeV1"
            }
          },
          "kontaktinformasjon" : {
            "$ref" : "#/components/schemas/FakturaKontaktInformasjonV1"
          },
          "kontaktinformasjonInkasso" : {
            "$ref" : "#/components/schemas/FakturaKontaktInformasjonV1"
          },
          "kanBetales" : {
            "type" : "boolean"
          },
          "korrigert" : {
            "type" : "boolean"
          },
          "sendtTilEkstern" : {
            "type" : "boolean"
          },
          "eksternLenke" : {
            "$ref" : "#/components/schemas/FakturaLenkeV1"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "innbetaltBelop" : {
            "type" : "number",
            "format" : "double"
          },
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          },
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          }
        },
        "description" : "Faktura"
      },
      "forsendelseV1" : {
        "required" : [ "avsender", "lest", "mottaker", "sendtDato", "tittel" ],
        "type" : "object",
        "description" : "Forsendelse",
        "allOf" : [ {
          "$ref" : "#/components/schemas/PostSokHit"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "avsender" : {
              "type" : "string"
            },
            "mottaker" : {
              "type" : "string"
            },
            "eksternLenke" : {
              "type" : "string"
            },
            "eksternLenkeTekst" : {
              "type" : "string"
            },
            "svarLenke" : {
              "type" : "string"
            },
            "sendtDato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "lest" : {
              "type" : "boolean"
            },
            "dokumenter" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ForsendelseV1Dokument"
              }
            }
          }
        } ]
      },
      "forsendelseV2" : {
        "required" : [ "avsender", "dokumenter", "lenker", "lest", "sendtDato", "tittel" ],
        "type" : "object",
        "description" : "Forsendelse",
        "allOf" : [ {
          "$ref" : "#/components/schemas/PostSokHit"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "avsender" : {
              "type" : "string"
            },
            "mottakerAdresse" : {
              "$ref" : "#/components/schemas/ForsendelseV2Adresse"
            },
            "returAdresse" : {
              "$ref" : "#/components/schemas/ForsendelseV2Adresse"
            },
            "svarLenke" : {
              "type" : "string"
            },
            "sendtDato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "lest" : {
              "type" : "boolean"
            },
            "dokumenter" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ForsendelseV2Dokument"
              }
            },
            "lenker" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ForsendelseV2Lenke"
              }
            }
          }
        } ]
      },
      "innsendtskjemaV1" : {
        "required" : [ "avsender", "innsendtdato", "mottaker", "skjemafil", "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "mottaker" : {
            "type" : "string"
          },
          "avsender" : {
            "type" : "string"
          },
          "innsendtdato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "skjemafil" : {
            "$ref" : "#/components/schemas/SkjemaFilV1"
          },
          "vedlegg" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SkjemaFilV1"
            }
          },
          "url" : {
            "type" : "string"
          },
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          },
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          }
        },
        "description" : "Innsendt skjema"
      },
      "journalpostV1" : {
        "required" : [ "journalposttype", "tittel" ],
        "type" : "object",
        "properties" : {
          "journalposttype" : {
            "type" : "string",
            "enum" : [ "I", "U", "N", "X", "S" ]
          },
          "tittel" : {
            "type" : "string"
          },
          "mappeId" : {
            "type" : "string"
          },
          "systemId" : {
            "type" : "string"
          },
          "registreringsId" : {
            "type" : "string"
          },
          "journalpostnummer" : {
            "type" : "integer",
            "format" : "int32"
          },
          "journalaar" : {
            "type" : "integer",
            "format" : "int32"
          },
          "journaldato" : {
            "type" : "string"
          },
          "svarUtForsendelseId" : {
            "type" : "string"
          },
          "internEksponertFor" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MappeV1Part"
            }
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "lenker" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MappeV1Lenke"
            }
          },
          "klagefrist" : {
            "type" : "string"
          },
          "korrespondanseparter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MappeV1Korrespondansepart"
            }
          },
          "dokumenter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MappeV1Dokument"
            }
          },
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          },
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          }
        }
      },
      "kommunaltjenesteV1" : {
        "required" : [ "kommuneFiksOrganisasjonId", "kommuneVisningsnavn", "lenke", "rettetMot", "tittel", "tjenesteId" ],
        "type" : "object",
        "properties" : {
          "tjenesteId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "tittel" : {
            "type" : "string"
          },
          "lenke" : {
            "type" : "string"
          },
          "rettetMot" : {
            "type" : "string",
            "enum" : [ "PERSON", "ORGANISASJON", "PERSON_OG_ORGANISASJON" ]
          },
          "kommuneFiksOrganisasjonId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "kommuneVisningsnavn" : {
            "type" : "string"
          },
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          },
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          }
        },
        "description" : "Kommunal tjeneste"
      },
      "mappeV1" : {
        "required" : [ "internType", "tittel" ],
        "type" : "object",
        "properties" : {
          "internType" : {
            "type" : "string",
            "enum" : [ "BYGGESAK", "SAK" ]
          },
          "tittel" : {
            "type" : "string"
          },
          "mappeId" : {
            "type" : "string"
          },
          "systemId" : {
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "andreParter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MappeV1Part"
            }
          },
          "minPart" : {
            "$ref" : "#/components/schemas/MappeV1Part"
          },
          "sistOppdatert" : {
            "type" : "string"
          },
          "avsluttet" : {
            "type" : "string"
          },
          "milepeler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MappeV1Milepel"
            }
          },
          "navaerendeMilepel" : {
            "$ref" : "#/components/schemas/MappeV1Milepel"
          },
          "saksdato" : {
            "type" : "string"
          },
          "saksansvarlig" : {
            "type" : "string"
          },
          "lenker" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MappeV1Lenke"
            }
          },
          "matrikler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MatrikkelV1"
            }
          },
          "adresser" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MappeV1Adresse"
            }
          },
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          },
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          }
        },
        "description" : "Mappe"
      },
      "matrikkelenhetV1" : {
        "required" : [ "kommuneNavn", "kommunenummer", "matrikkelenhetId", "matrikkelnummer" ],
        "type" : "object",
        "properties" : {
          "matrikkelnummer" : {
            "$ref" : "#/components/schemas/MatrikkelenhetMatrikkelnummerV1"
          },
          "matrikkelenhetId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "adresser" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "kommuneNavn" : {
            "type" : "string"
          },
          "kommunenummer" : {
            "type" : "string"
          },
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          },
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          }
        },
        "description" : "Matrikkelenhet"
      },
      "skjemakladdV1" : {
        "required" : [ "endretdato", "tittel", "url" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "mottaker" : {
            "type" : "string"
          },
          "avsender" : {
            "type" : "string"
          },
          "endretdato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "url" : {
            "type" : "string"
          },
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          },
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          }
        },
        "description" : "Skjema kladd"
      }
    }
  }
}