{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Innsyn Post fra kommuenen søk-service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://developers.fiks.ks.no/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no/",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "Innsyn Post fra kommunen Søk-service",
    "description" : "API for søk på Innsyn Post fra kommunen"
  } ],
  "paths" : {
    "/innsyn-sok/api/v1/post/sok" : {
      "post" : {
        "tags" : [ "PostSok" ],
        "summary" : "Søk",
        "operationId" : "postSok",
        "parameters" : [ {
          "name" : "term",
          "in" : "query",
          "description" : "Søkeord",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fra",
          "in" : "query",
          "description" : "Index for det første søketreffet som skal returneres",
          "schema" : {
            "maximum" : 9999,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "antall",
          "in" : "query",
          "description" : "Antall søketreff som skal returneres",
          "schema" : {
            "maximum" : 500,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 50
          }
        }, {
          "name" : "sortering",
          "in" : "query",
          "description" : "Skal søkeresultatet sorteres på dato heller enn relevans? Relevans-basert sortering er default",
          "schema" : {
            "$ref" : "#/components/schemas/Sortering"
          }
        }, {
          "name" : "akseptertMeldingVersjon",
          "in" : "query",
          "description" : "Akseptert melding-versjon. Kan settes flere ganger. Innsyn vil nedgradere treff på høyere versjon til den høyeste av de aksepterte versjonen (om det er oppgitt flere på samme dokumenttype)",
          "schema" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingVersjon"
            }
          }
        }, {
          "name" : "onBehalfOf",
          "in" : "query",
          "description" : "Organisasjonsnummer for organisasjonen dette søket skal utføres på vegne av. Krever at autentisert bruker har rettigheter til å agere på vegne av denne organisasjonen.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Filtere som begrenser resultatsettet",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostFilter"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PostSokeresultat"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "FiksOrganisasjon" : {
        "required" : [ "id", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "visningsnavn" : {
            "type" : "string"
          }
        }
      },
      "FiksOrganisasjonAggregering" : {
        "required" : [ "antallTreff", "fiksOrg" ],
        "type" : "object",
        "properties" : {
          "fiksOrg" : {
            "$ref" : "#/components/schemas/FiksOrganisasjon"
          },
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "Forelder" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          },
          "dokumentId" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV1Dokument" : {
        "required" : [ "nedlastingslenke", "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer",
            "format" : "int32"
          },
          "nedlastingslenke" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV2Adresse" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string"
          },
          "addresselinje1" : {
            "type" : "string"
          },
          "addresselinje2" : {
            "type" : "string"
          },
          "addresselinje3" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "land" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV2Dokument" : {
        "required" : [ "mimeType", "nedlastingLenke", "tittel" ],
        "type" : "object",
        "properties" : {
          "tittel" : {
            "type" : "string"
          },
          "size" : {
            "type" : "integer",
            "format" : "int32"
          },
          "nedlastingLenke" : {
            "type" : "string"
          },
          "mimeType" : {
            "type" : "string"
          }
        }
      },
      "ForsendelseV2Lenke" : {
        "required" : [ "url", "urlTekst" ],
        "type" : "object",
        "properties" : {
          "url" : {
            "type" : "string"
          },
          "urlTekst" : {
            "type" : "string"
          },
          "ledetekst" : {
            "type" : "string"
          }
        }
      },
      "MeldingFiksOrganisasjon" : {
        "required" : [ "id", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "visningsnavn" : {
            "type" : "string"
          },
          "kommunenummer" : {
            "type" : "string"
          }
        }
      },
      "MeldingV1PostSokHit" : {
        "required" : [ "dokumentId", "fiksOrganisasjon", "meldingId", "meldingMetadata", "sikkerhetsniva" ],
        "type" : "object",
        "properties" : {
          "meldingId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "dokumentId" : {
            "type" : "string"
          },
          "sikkerhetsniva" : {
            "type" : "integer",
            "format" : "int32"
          },
          "fiksOrganisasjon" : {
            "$ref" : "#/components/schemas/MeldingFiksOrganisasjon"
          },
          "sorteringDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "korrelasjonId" : {
            "type" : "string"
          },
          "forelder" : {
            "$ref" : "#/components/schemas/Forelder"
          },
          "eksternRef" : {
            "type" : "string"
          },
          "meldingMetadata" : {
            "$ref" : "#/components/schemas/PostSokHit"
          },
          "score" : {
            "type" : "number",
            "format" : "double"
          },
          "tilgjengeligTil" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "Periode" : {
        "type" : "object",
        "properties" : {
          "fraDato" : {
            "type" : "string",
            "format" : "date-time"
          },
          "tilDato" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "PostAggregeringer" : {
        "required" : [ "dateRange", "fiksOrganisasjon" ],
        "type" : "object",
        "properties" : {
          "fiksOrganisasjon" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FiksOrganisasjonAggregering"
            }
          },
          "dateRange" : {
            "$ref" : "#/components/schemas/Periode"
          }
        }
      },
      "PostSokHit" : {
        "type" : "object",
        "properties" : {
          "versjon" : {
            "type" : "string",
            "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
          },
          "type" : {
            "type" : "string",
            "enum" : [ "faktura", "mappe", "journalpost", "byggesak", "innsendtskjema", "skjemakladd", "matrikkelenhet", "kommunaltjeneste", "forsendelse" ]
          }
        },
        "discriminator" : {
          "propertyName" : "versjon"
        }
      },
      "PostSokeresultat" : {
        "required" : [ "aggregeringer", "antallTreff", "forespurtAntall", "forespurtFra", "harMeldingerMedHoyereSikkerhetsniva", "treff", "treffMedHoyereInnloggingsniva" ],
        "type" : "object",
        "properties" : {
          "antallTreff" : {
            "type" : "integer",
            "format" : "int64"
          },
          "treffMedHoyereInnloggingsniva" : {
            "type" : "integer",
            "format" : "int64"
          },
          "harMeldingerMedHoyereSikkerhetsniva" : {
            "type" : "boolean"
          },
          "treff" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MeldingV1PostSokHit"
            }
          },
          "forespurtFra" : {
            "type" : "integer",
            "format" : "int32"
          },
          "forespurtAntall" : {
            "type" : "integer",
            "format" : "int32"
          },
          "aggregeringer" : {
            "$ref" : "#/components/schemas/PostAggregeringer"
          }
        }
      },
      "forsendelseV1" : {
        "required" : [ "avsender", "lest", "mottaker", "sendtDato", "tittel" ],
        "type" : "object",
        "description" : "Forsendelse",
        "allOf" : [ {
          "$ref" : "#/components/schemas/PostSokHit"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "avsender" : {
              "type" : "string"
            },
            "mottaker" : {
              "type" : "string"
            },
            "eksternLenke" : {
              "type" : "string"
            },
            "eksternLenkeTekst" : {
              "type" : "string"
            },
            "svarLenke" : {
              "type" : "string"
            },
            "sendtDato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "lest" : {
              "type" : "boolean"
            },
            "dokumenter" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ForsendelseV1Dokument"
              }
            }
          }
        } ]
      },
      "forsendelseV2" : {
        "required" : [ "avsender", "dokumenter", "lenker", "lest", "sendtDato", "tittel" ],
        "type" : "object",
        "description" : "Forsendelse",
        "allOf" : [ {
          "$ref" : "#/components/schemas/PostSokHit"
        }, {
          "type" : "object",
          "properties" : {
            "tittel" : {
              "type" : "string"
            },
            "avsender" : {
              "type" : "string"
            },
            "mottakerAdresse" : {
              "$ref" : "#/components/schemas/ForsendelseV2Adresse"
            },
            "returAdresse" : {
              "$ref" : "#/components/schemas/ForsendelseV2Adresse"
            },
            "svarLenke" : {
              "type" : "string"
            },
            "sendtDato" : {
              "type" : "string",
              "format" : "date-time"
            },
            "lest" : {
              "type" : "boolean"
            },
            "dokumenter" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ForsendelseV2Dokument"
              }
            },
            "lenker" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/ForsendelseV2Lenke"
              }
            }
          }
        } ]
      },
      "Sortering" : {
        "type" : "string",
        "enum" : [ "DATO_ASC", "DATO_DESC", "RELEVANS" ]
      },
      "MeldingVersjon" : {
        "type" : "string",
        "enum" : [ "fakturaV1", "mappeV1", "journalpostV1", "forsendelseV1", "forsendelseV2", "byggesakV1", "matrikkelenhetV1", "innsendtskjemaV1", "skjemakladdV1", "kommunaltjenesteV1" ]
      },
      "PostFilter" : {
        "type" : "object",
        "properties" : {
          "fraDato" : {
            "type" : "string",
            "format" : "date"
          },
          "tilDato" : {
            "type" : "string",
            "format" : "date"
          },
          "fiksOrganisasjon" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        }
      }
    }
  }
}