{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Protokoll",
    "description" : "Fiks Protokoll service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Protokoll",
    "description" : "API for bruk av Fiks Protokoll"
  } ],
  "paths" : {
    "/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/aktiver" : {
      "put" : {
        "operationId" : "aktiverKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Aktiverer protokoll konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoRespons"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/deaktiver" : {
      "put" : {
        "operationId" : "deaktiverKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Deaktiverer protokoll konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoRespons"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/{fiksOrgId}/kontoer" : {
      "get" : {
        "operationId" : "getKontoerForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Protokoll kontoer for fiksorg",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollKontoRespons"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "operationId" : "opprettKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateProtokollKontoRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter ny protokoll konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoRespons"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for opprettelse protokoll konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/beskrivelse" : {
      "put" : {
        "operationId" : "oppdaterBeskrivelse",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProtokollBeskrivelse"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdaterer beskrivelse for konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoRespons"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for beskrivelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/orgnummer" : {
      "put" : {
        "operationId" : "oppdaterOrgnummer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "pattern" : "^[0-9]{9}$",
                "type" : "string"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdaterer orgnummer for konto"
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for orgnummer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/tilgjengelighetstype" : {
      "put" : {
        "operationId" : "oppdaterTilgjengelighetstype",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "enum" : [ "KUN_EGEN_ORG", "ALLE_ORG", "AUTOAKSEPT" ]
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdaterer tilgjengelighetstype for konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoRespons"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for tilgjengelighetstype",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/ping" : {
      "post" : {
        "operationId" : "ping",
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}" : {
      "delete" : {
        "operationId" : "slettKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Sletter protokoll konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoRespons"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/{fiksOrgId}/kontoer/{kontoId}/tilknyttedeKontoer/{tilknyttetId}" : {
      "put" : {
        "operationId" : "tilknyttKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tilknyttetId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Tilknytter annen konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKontoRespons"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ProtokollKontoRespons" : {
        "required" : [ "aktiv", "beskrivelse", "eposter", "fiksIoKonto", "integrasjonId", "kontoId", "navn", "protokollKontoType", "protokollTilgjengelighetsType", "tilknyttetKontoer" ],
        "type" : "object",
        "properties" : {
          "kontoId" : {
            "type" : "string",
            "description" : "Konto id",
            "format" : "uuid"
          },
          "integrasjonId" : {
            "type" : "string",
            "description" : "Integrasjon id",
            "format" : "uuid"
          },
          "fiksIoKonto" : {
            "type" : "string",
            "description" : "Fiks IO konto tilhørende protokoll kontoen",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av konto"
          },
          "eposter" : {
            "type" : "array",
            "description" : "Kontakt eposter",
            "items" : {
              "type" : "string",
              "description" : "Kontakt eposter"
            }
          },
          "protokollTilgjengelighetsType" : {
            "type" : "string",
            "description" : "Tilgjengelighetstype for protokollkonto",
            "enum" : [ "KUN_EGEN_ORG", "ALLE_ORG", "AUTOAKSEPT" ]
          },
          "aktiv" : {
            "type" : "boolean",
            "description" : "Om konto er aktiv"
          },
          "protokollKontoType" : {
            "type" : "string",
            "description" : "Kontotype for protokoll",
            "enum" : [ "ARKIV", "ARKIVERING", "ARKIV_SOK", "POLITISK_BEHANDLING_ARKIV", "POLITISK_BEHANDLING_ARKIVERING" ]
          },
          "tilknyttetKontoer" : {
            "type" : "array",
            "description" : "Tilknyttede kontoer",
            "items" : {
              "$ref" : "#/components/schemas/TilknyttetProtokollKonto"
            }
          }
        }
      },
      "TilknyttetProtokollKonto" : {
        "required" : [ "beskrivelse", "eposter", "fiksOrgNavn", "kontoId", "navn", "protokollKontoType", "protokollTilgjengelighetsType", "tilknyttetStatus" ],
        "type" : "object",
        "properties" : {
          "kontoId" : {
            "type" : "string",
            "description" : "Konto id",
            "format" : "uuid"
          },
          "fiksOrgNavn" : {
            "type" : "string",
            "description" : "Navn på fiks org"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av konto"
          },
          "eposter" : {
            "type" : "array",
            "description" : "Kontakt eposter",
            "items" : {
              "type" : "string",
              "description" : "Kontakt eposter"
            }
          },
          "protokollTilgjengelighetsType" : {
            "type" : "string",
            "description" : "Tilgjengelighetstype for protokollkonto",
            "enum" : [ "KUN_EGEN_ORG", "ALLE_ORG", "AUTOAKSEPT" ]
          },
          "protokollKontoType" : {
            "type" : "string",
            "description" : "Kontotype for protokoll",
            "enum" : [ "ARKIV", "ARKIVERING", "ARKIV_SOK", "POLITISK_BEHANDLING_ARKIV", "POLITISK_BEHANDLING_ARKIVERING" ]
          },
          "tilknyttetStatus" : {
            "type" : "string",
            "description" : "Status for tilknytningen",
            "enum" : [ "TILKNYTTET", "KAN_AKSEPTERE", "TILKNYTNING_FORESPURT", "KAN_FORESPORRE", "KAN_TILKNYTTE" ]
          }
        },
        "description" : "Tilknyttede kontoer"
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "ProtokollBeskrivelse" : {
        "required" : [ "beskrivelse", "eposter", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av konto"
          },
          "eposter" : {
            "type" : "array",
            "description" : "Kontakt eposter",
            "items" : {
              "type" : "string",
              "description" : "Kontakt eposter"
            }
          }
        }
      },
      "CreateProtokollKontoRequest" : {
        "required" : [ "beskrivelse", "eposter", "navn", "offentligNokkel", "orgNr", "protokollKontoType", "protokollTilgjengelighetsType" ],
        "type" : "object",
        "properties" : {
          "orgNr" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string",
            "description" : "Orgnummer for oppretting av integrasjon"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av konto"
          },
          "eposter" : {
            "type" : "array",
            "description" : "Kontakt eposter",
            "items" : {
              "type" : "string",
              "description" : "Kontakt eposter"
            }
          },
          "protokollTilgjengelighetsType" : {
            "type" : "string",
            "description" : "Tilgjengelighetstype for protokollkonto",
            "enum" : [ "KUN_EGEN_ORG", "ALLE_ORG", "AUTOAKSEPT" ]
          },
          "protokollKontoType" : {
            "type" : "string",
            "description" : "Kontotype for protokoll",
            "enum" : [ "ARKIV", "ARKIVERING", "ARKIV_SOK", "POLITISK_BEHANDLING_ARKIV", "POLITISK_BEHANDLING_ARKIVERING" ]
          },
          "offentligNokkel" : {
            "type" : "string",
            "description" : "Offentlig nøkkel"
          }
        }
      }
    }
  }
}