{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Protokoll",
    "description" : "Fiks Protokoll service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://forvaltning.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Protokoll-konfigurasjon",
    "description" : "API for konfigurering av Fiks Protokoll"
  } ],
  "paths" : {
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/koer/{koId}/info" : {
      "put" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Oppdater kø info",
        "operationId" : "UpdateKoInfo",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "koId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProtokollKoInfoRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdater kø info",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollKoInfoRequest"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/koer" : {
      "post" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Opprett kø på system",
        "operationId" : "createKo",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateProtokollKoRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter kø",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer" : {
      "get" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Hent systemer på fiksOrg",
        "operationId" : "getSystemerForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Systemer på fiksOrg",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollSystemInfoResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Opprett system",
        "operationId" : "createSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateProtokollSystemRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Oppretter nytt system",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/forespurteTilganger/{eksternKo}" : {
      "post" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Forespør tilgang til ekstern kø for system",
        "operationId" : "createTilgangForesporselToKo",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternKo",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Forespør tilgang til kø",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Fjern forespørsel på tilgang til kø",
        "operationId" : "deleteTilgangForesporselToKo",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternKo",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjern forespørsel på tilgang til kø",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/koer/{koId}/tilganger" : {
      "get" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Hent systemer med tilganger på kø",
        "operationId" : "createTilgangToSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "koId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Systemer med tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollSystemInfoResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/koer/{koId}/tilganger/{eksternSystemId}" : {
      "post" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Gi tilgang til system på kø",
        "operationId" : "createTilgangToSystem_1",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "koId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternSystemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Oppretter tilgang til system",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Fjern tilgang fra system på kø",
        "operationId" : "removeTilgangFromSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "koId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternSystemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjerner tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/koer/{koId}" : {
      "delete" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Slett kø fra system",
        "operationId" : "deleteKo",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "koId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Sletter kø",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}" : {
      "get" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Hent system på fiksOrg med systemId",
        "operationId" : "getSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter system",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Slett system",
        "operationId" : "deleteSystem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Sletter system"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/koer/{koId}/forespurteTilganger" : {
      "get" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Hent systemer som har forespurt tilgang",
        "operationId" : "getForespurteTilgangerPaaKo",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "koId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Systemer som har forespurt tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollSystemInfoResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/forespurteTilganger" : {
      "get" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Hent køer systemet har forespurt tilgang til",
        "operationId" : "getKorMedForespurteTilganger",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent køer systemet har forespurt tilgang til",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollKoInfoResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/protokoller/{protokollnavn}/{protokollversjon}" : {
      "get" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Henter protokoll",
        "operationId" : "getProtokoll",
        "parameters" : [ {
          "name" : "protokollnavn",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "protokollversjon",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter protokoll",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollDefinisjonResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/protokoller" : {
      "get" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Henter alle definerte protokoller",
        "operationId" : "getProtokoller",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter alle protokoller",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProtokollDefinisjonSummaryResponse"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/koer/{koId}/forespurteTilganger/{eksternSystemId}" : {
      "delete" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Fjern forespurt tilgang fra system på kø",
        "operationId" : "removeForespurtTilgangFromKo",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "koId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "eksternSystemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Fjerner tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/info" : {
      "put" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Oppdater info på system",
        "operationId" : "updateSystemInfo",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateSystemInfoRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdater system info (navn, beskrivelse og kontakteposter)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/orgnummer" : {
      "put" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Oppdater orgnummer på integrasjon ",
        "operationId" : "updateSystemOrgnummer",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateOrgnummerRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdater systemets integrasjons orgnummer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/protokoll/api/v1/konfigurasjon/{fiksOrgId}/systemer/{systemId}/pem" : {
      "put" : {
        "tags" : [ "Protokoll-konfigurasjon" ],
        "description" : "Oppdater offentlig nøkkel på system ",
        "operationId" : "updateSystemPem",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "systemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateOffentligNokkelRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdater offentlig nøkkel på system",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProtokollSystemResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ProtokollKoInfoRequest" : {
        "required" : [ "beskrivelse", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på kø"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av køen"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "ProtokollKoResponse" : {
        "required" : [ "beskrivelse", "id", "kotype", "navn", "stottetProtokollNavn", "stottetProtokollVersjon" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id på kø og tilhørende Fiks IO-konto",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på kø"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av køen"
          },
          "stottetProtokollNavn" : {
            "type" : "string",
            "description" : "Protokoll køen støtter"
          },
          "stottetProtokollVersjon" : {
            "type" : "string",
            "description" : "Protokollversjon køen støttet"
          },
          "kotype" : {
            "type" : "string",
            "description" : "Køtype protokollkøen støtter"
          }
        },
        "description" : "Køer"
      },
      "ProtokollSystemResponse" : {
        "required" : [ "beskrivelse", "eposter", "id", "integrasjonId", "koer", "navn", "offentligNokkel", "orgnummer" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "System-id",
            "format" : "uuid"
          },
          "integrasjonId" : {
            "type" : "string",
            "description" : "Integrasjon-id",
            "format" : "uuid"
          },
          "orgnummer" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string",
            "description" : "Orgnummer for organisasjon"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på system"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av system"
          },
          "eposter" : {
            "type" : "array",
            "description" : "Kontakteposter",
            "items" : {
              "type" : "string",
              "description" : "Kontakteposter"
            }
          },
          "koer" : {
            "type" : "array",
            "description" : "Køer",
            "items" : {
              "$ref" : "#/components/schemas/ProtokollKoResponse"
            }
          },
          "offentligNokkel" : {
            "type" : "string",
            "description" : "Offentlig nøkkel"
          }
        }
      },
      "CreateProtokollKoRequest" : {
        "required" : [ "beskrivelse", "kotype", "navn", "stottetProtokollNavn", "stottetProtokollVersjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på kø"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av køen"
          },
          "stottetProtokollNavn" : {
            "type" : "string",
            "description" : "Protokoll køen støtter"
          },
          "stottetProtokollVersjon" : {
            "type" : "string",
            "description" : "Protokollversjon køen støttet"
          },
          "kotype" : {
            "type" : "string",
            "description" : "Køtype køen støtter"
          }
        }
      },
      "CreateProtokollSystemResponse" : {
        "required" : [ "integrasjonPassord", "system" ],
        "type" : "object",
        "properties" : {
          "system" : {
            "$ref" : "#/components/schemas/ProtokollSystemResponse"
          },
          "integrasjonPassord" : {
            "type" : "string",
            "description" : "Integrasjonspassord for systemet"
          }
        }
      },
      "CreateProtokollSystemRequest" : {
        "required" : [ "beskrivelse", "eposter", "navn", "offentligNokkel", "orgnummer" ],
        "type" : "object",
        "properties" : {
          "orgnummer" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string",
            "description" : "Orgnummer for oppretting av integrasjon"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på system"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av system"
          },
          "eposter" : {
            "type" : "array",
            "description" : "Kontakteposter",
            "items" : {
              "type" : "string",
              "description" : "Kontakteposter"
            }
          },
          "offentligNokkel" : {
            "type" : "string",
            "description" : "Offentlig nøkkel"
          }
        }
      },
      "ProtokollSystemInfoResponse" : {
        "required" : [ "beskrivelse", "id", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "System-id",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på system"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av system"
          }
        }
      },
      "ProtokollKoInfoResponse" : {
        "required" : [ "beskrivelse", "id", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id på kø og tilhørende Fiks IO-konto",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på kø"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av køen"
          }
        }
      },
      "KotypeResponse" : {
        "required" : [ "avsenderMeldingstyper", "beskrivelse", "mottakerMeldingstyper", "navn", "stottedeKotyper" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på kotype"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av kotype"
          },
          "avsenderMeldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper kotype sender",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper kotype sender"
            }
          },
          "mottakerMeldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper kotype mottar",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper kotype mottar"
            }
          },
          "stottedeKotyper" : {
            "type" : "array",
            "description" : "Kotype dette kotype kan kommunisere med",
            "items" : {
              "type" : "string",
              "description" : "Kotype dette kotype kan kommunisere med"
            }
          }
        },
        "description" : "Køtyper definert på protokollen"
      },
      "ProtokollDefinisjonResponse" : {
        "required" : [ "beskrivelse", "kotyper", "meldingstyper", "navn", "protokollversjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på protokoll"
          },
          "protokollversjon" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av protokoll"
          },
          "meldingstyper" : {
            "type" : "array",
            "description" : "Meldingstyper protokollen støtter",
            "items" : {
              "type" : "string",
              "description" : "Meldingstyper protokollen støtter"
            }
          },
          "kotyper" : {
            "type" : "array",
            "description" : "Køtyper definert på protokollen",
            "items" : {
              "$ref" : "#/components/schemas/KotypeResponse"
            }
          }
        }
      },
      "ProtokollDefinisjonSummaryResponse" : {
        "required" : [ "beskrivelse", "navn", "protokollversjon" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Navn på protokoll"
          },
          "protokollversjon" : {
            "pattern" : "^[A-Za-z0-9\\.\\-_]+$",
            "type" : "string",
            "description" : "Protokollversjon"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av protokoll"
          }
        }
      },
      "UpdateSystemInfoRequest" : {
        "required" : [ "beskrivelse", "eposter", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på system"
          },
          "beskrivelse" : {
            "type" : "string",
            "description" : "Beskrivelse av system"
          },
          "eposter" : {
            "type" : "array",
            "description" : "Kontakteposter",
            "items" : {
              "type" : "string",
              "description" : "Kontakteposter"
            }
          }
        }
      },
      "UpdateOrgnummerRequest" : {
        "required" : [ "orgnummer" ],
        "type" : "object",
        "properties" : {
          "orgnummer" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string",
            "description" : "Organisasjonsnummer"
          }
        }
      },
      "UpdateOffentligNokkelRequest" : {
        "required" : [ "offentligNokkel" ],
        "type" : "object",
        "properties" : {
          "offentligNokkel" : {
            "type" : "string",
            "description" : "Offentlig nøkkel"
          }
        }
      }
    }
  }
}