{
  "openapi": "3.0.1",
  "info": {
    "title": "Fiks register skatte- og inntektsopplysninger beregning service",
    "description": "Henter og beregner grunnlag for egenandel for kommunale tjenesteområder",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "paths": {
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning": {
      "post": {
        "tags": [
          "Beregning"
        ],
        "description": "Beregner grunnlag for egenandel for angitte fødselsnummer og kommunalt tjenesteområde",
        "operationId": "beregning",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "deprecated":  true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestApiModel"
              },
              "examples": {
                "beregningRequestApiModelExample": {
                  "$ref": "#/components/examples/beregningRequestApiModelExample"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeregningResponseApiModel"
                },
                "examples": {
                  "beregningResponseApiModelExample": {
                    "$ref": "#/components/examples/beregningResponseApiModelExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning/redusert-foreldrebetaling": {
      "post": {
        "tags": [
          "Beregning"
        ],
        "description": "Beregner grunnlag for egenandel for angitte fødselsnummer og tjenesteområdet redusert foreldrebetaling",
        "operationId": "beregningRedusertForeldrebetaling",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestRedusertForeldrebetalingApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeregningResponseRedusertForeldrebetalingApiModel"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning/redusert-foreldrebetaling/pdf": {
      "post": {
        "tags": [
          "Beregning"
        ],
        "description": "Beregner grunnlag for egenandel for angitte fødselsnummer og tjenesteområdet redusert foreldrebetaling i PDF-format",
        "operationId": "beregningRedusertForeldrebetalingPdf",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestRedusertForeldrebetalingApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning/praktisk-bistand": {
      "post": {
        "tags": [
          "Beregning"
        ],
        "description": "Beregner grunnlag for egenandel for angitte fødselsnummer og tjenesteområdet praktisk bistand",
        "operationId": "beregningPraktiskBistand",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestPraktiskBistandApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeregningResponsePraktiskBistandApiModel"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning/praktisk-bistand/pdf": {
      "post": {
        "tags": [
          "Beregning"
        ],
        "description": "Beregner grunnlag for egenandel for praktisk bistand for angitte fødselsnummer og kommunalt tjenesteområde i PDF-format",
        "operationId": "beregningPraktiskBistandPdf",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestPraktiskBistandApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning/langtidsopphold-institusjon": {
      "post": {
        "tags": [
          "Beregning"
        ],
        "description": "Beregner grunnlag for egenandel for angitte fødselsnummer og tjenesteområdet praktisk bistand",
        "operationId": "beregningLangtidsoppholdInstitusjon",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestLangtidsoppholdInstitusjonApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeregningResponseLangtidsoppholdInstitusjonApiModel"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning/langtidsopphold-institusjon/pdf": {
      "post": {
        "tags": [
          "Beregning"
        ],
        "description": "Beregner grunnlag for egenandel for praktisk bistand for angitte fødselsnummer og kommunalt tjenesteområde i PDF-format",
        "operationId": "beregningLangtidsoppholdInstitusjonPdf",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestLangtidsoppholdInstitusjonApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning/pdf": {
      "post": {
        "tags": [
          "Beregning"
        ],
        "description": "Beregner grunnlag for egenandel for angitte fødselsnummer og kommunalt tjenesteområde i PDF-format",
        "operationId": "beregningPdf",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/verdier": {
      "get": {
        "tags": [
          "Beregning"
        ],
        "description": "Henter alle gyldige verdier",
        "operationId": "beregningVerdier",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeregningVerdierApiModel"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/skatteoginntektsopplysninger/yaml/{beregningstype}/{inntektsaar}": {
      "get": {
        "tags": [
          "Beregning"
        ],
        "description": "Henter yaml-fil for gitte beregningstype og inntektsår",
        "operationId": "beregningYaml",
        "parameters": [
          {
            "name": "beregningstype",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BeregningstypeApiModel"
            }
          },
          {
            "name": "inntektsaar",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 2021
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PersonnavnApiModel": {
        "required": [
          "etternavn",
          "fornavn"
        ],
        "type": "object",
        "properties": {
          "etternavn": {
            "type": "string",
            "example": "Nordmann"
          },
          "fornavn": {
            "type": "string",
            "example": "Ola"
          },
          "mellomnavn": {
            "type": "string",
            "example": "Håkon"
          }
        }
      },
      "StadieApiModel": {
        "description": "Om skatteoppgjøret er ferdig (OPPGJOER) eller et utkast (UTKAST). UTKAST er kun relevant for foreldrebetaling for SFO og barnehage.",
        "type": "string",
        "enum": [
          "OPPGJOER",
          "UTKAST",
          "UKJENT"
        ]
      },
      "BeregningResponseApiModel": {
        "required": [
          "inntektsaar",
          "stadie",
          "visningsposter",
          "personer",
          "beregningsbeloep",
          "inntekt",
          "fradrag",
          "soeketidspunkt",
          "beregningstype",
          "feilmeldinger"
        ],
        "type": "object",
        "properties": {
          "inntektsaar": {
            "type": "integer",
            "format": "int32"
          },
          "stadie": {
            "$ref": "#/components/schemas/StadieApiModel"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonApiModel"
            }
          },
          "visningsposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisningsposterApiModel"
            }
          },
          "beregningsbeloep": {
            "type": "integer",
            "format": "int64"
          },
          "inntekt": {
            "$ref": "#/components/schemas/BeregningsgrupperApiModel"
          },
          "fradrag": {
            "$ref": "#/components/schemas/BeregningsgrupperApiModel"
          },
          "soeketidspunkt": {
            "type": "string",
            "format": "date-time"
          },
          "beregningstype": {
            "$ref": "#/components/schemas/BeregningstypeApiModel"
          },
          "feilmeldinger": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeilmeldingApiModel"
            }
          }
        }
      },
      "BeregningResponseRedusertForeldrebetalingApiModel": {
        "required": [
          "inntektsaar",
          "stadie",
          "visningsposter",
          "personer",
          "beregningsbeloep",
          "inntekt",
          "fradrag",
          "soeketidspunkt",
          "beregningstype",
          "feilmeldinger"
        ],
        "type": "object",
        "properties": {
          "inntektsaar": {
            "$ref": "#/components/schemas/InntektsaarApiModel"
          },
          "stadie": {
            "$ref": "#/components/schemas/StadieApiModel"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonApiModel"
            }
          },
          "visningsposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisningsposterRedusertForeldrebetalingApiModel"
            }
          },
          "beregningsbeloep": {
            "type": "integer",
            "format": "int64"
          },
          "inntekt": {
            "$ref": "#/components/schemas/BeregningsgrupperApiModel"
          },
          "fradrag": {
            "$ref": "#/components/schemas/BeregningsgrupperApiModel"
          },
          "soeketidspunkt": {
            "type": "string",
            "format": "date-time"
          },
          "beregningstype": {
            "type": "string",
            "enum": [
              "BARNEHAGE_SFO"
            ]
          },
          "feilmeldinger": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeilmeldingApiModel"
            }
          }
        }
      },
      "BeregningResponsePraktiskBistandApiModel": {
        "required": [
          "inntektsaar",
          "stadie",
          "visningsposter",
          "personer",
          "beregningsbeloep",
          "inntekt",
          "soeketidspunkt",
          "beregningstype",
          "feilmeldinger"
        ],
        "type": "object",
        "properties": {
          "inntektsaar": {
            "$ref": "#/components/schemas/InntektsaarApiModel"
          },
          "stadie": {
            "$ref": "#/components/schemas/StadieApiModel"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonApiModel"
            }
          },
          "visningsposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisningsposterPraktiskBistandApiModel"
            }
          },
          "beregningsbeloep": {
            "type": "integer",
            "format": "int64"
          },
          "inntekt": {
            "$ref": "#/components/schemas/BeregningsgrupperApiModel"
          },
          "fradrag": {
            "$ref": "#/components/schemas/BeregningsgrupperApiModel"
          },
          "soeketidspunkt": {
            "type": "string",
            "format": "date-time"
          },
          "beregningstype": {
            "type": "string",
            "enum": [
              "PRAKTISK_BISTAND"
            ]
          },
          "feilmeldinger": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeilmeldingApiModel"
            }
          }
        }
      },
      "BeregningResponseLangtidsoppholdInstitusjonApiModel": {
        "required": [
          "inntektsaar",
          "stadie",
          "visningsposter",
          "personer",
          "beregningsbeloep",
          "inntekt",
          "fradrag",
          "soeketidspunkt",
          "beregningstype",
          "feilmeldinger"
        ],
        "type": "object",
        "properties": {
          "inntektsaar": {
            "$ref": "#/components/schemas/InntektsaarApiModel"
          },
          "stadie": {
            "$ref": "#/components/schemas/StadieApiModel"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonApiModel"
            }
          },
          "visningsposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisningsposterLangtidsoppholdInstitusjonApiModel"
            }
          },
          "beregningsbeloep": {
            "type": "integer",
            "format": "int64"
          },
          "inntekt": {
            "$ref": "#/components/schemas/BeregningsgrupperApiModel"
          },
          "fradrag": {
            "$ref": "#/components/schemas/BeregningsgrupperApiModel"
          },
          "soeketidspunkt": {
            "type": "string",
            "format": "date-time"
          },
          "beregningstype": {
            "type": "string",
            "enum": [
              "LANGTIDSOPPHOLD_INSTITUSJON"
            ]
          },
          "feilmeldinger": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeilmeldingApiModel"
            }
          }
        }
      },
      "PersonApiModel": {
        "required": [
          "identifikator",
          "type",
          "skjermet",
          "stadie"
        ],
        "type": "object",
        "properties": {
          "identifikator": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "navn": {
            "$ref": "#/components/schemas/PersonnavnApiModel"
          },
          "type": {
            "$ref": "#/components/schemas/PersonTypeApiModel"
          },
          "skjermet": {
            "description": "Hvis personen er skjermet får vi ikke skattedata om personen. Dette kan for eksempel være en person med strengt fortrolig adresse.",
            "type": "boolean"
          },
          "skatteoppgjoersdato": {
            "description": "Dato for når skatteoppgjøret ble gjort.",
            "type": "string",
            "format": "date",
            "example": "2023-05-22"
          },
          "stadie": {
            "$ref": "#/components/schemas/StadieApiModel"
          },
          "registreringstidpunkt": {
            "description": "Tidspunkt for når skatteinformasjon om personen ble registrert.",
            "type": "string",
            "format": "date-time",
            "example": "2023-05-22T16:00:00Z"
          }
        }
      },
      "PersonPostApiModel": {
        "required": [
          "identifikator",
          "beloep"
        ],
        "type": "object",
        "properties": {
          "identifikator": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "skattefrittBeloep": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "VisningsposterApiModel": {
        "required": [
          "kategori",
          "poster"
        ],
        "type": "object",
        "properties": {
          "kategori": {
            "$ref": "#/components/schemas/VisningskategoriApiModel"
          },
          "poster": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisningspostApiModel"
            }
          }
        }
      },
      "VisningskategoriApiModel": {
        "type": "string",
        "enum": [
          "INNTEKT",
          "FRADRAG",
          "FORMUE",
          "GJELD",
          "ANNET"
        ]
      },
      "VisningsposterRedusertForeldrebetalingApiModel": {
        "required": [
          "kategori",
          "poster"
        ],
        "type": "object",
        "properties": {
          "kategori": {
            "$ref": "#/components/schemas/VisningskategoriRedusertForeldrebetalingApiModel"
          },
          "poster": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisningspostApiModel"
            }
          }
        }
      },
      "VisningsposterPraktiskBistandApiModel": {
        "required": [
          "kategori",
          "poster"
        ],
        "type": "object",
        "properties": {
          "kategori": {
            "$ref": "#/components/schemas/VisningskategoriPraktiskBistandApiModel"
          },
          "poster": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisningspostApiModel"
            }
          }
        }
      },
      "VisningsposterLangtidsoppholdInstitusjonApiModel": {
        "required": [
          "kategori",
          "poster"
        ],
        "type": "object",
        "properties": {
          "kategori": {
            "$ref": "#/components/schemas/VisningskategoriLangtidsoppholdInstitusjonApiModel"
          },
          "poster": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisningspostApiModel"
            }
          }
        }
      },
      "VisningskategoriRedusertForeldrebetalingApiModel": {
        "type": "string",
        "description": "Kan være INNTEKT",
        "example": "INNTEKT"
      },
      "VisningskategoriPraktiskBistandApiModel": {
        "type": "string",
        "description": "Kan være INNTEKT, GEVINST eller TAP",
        "example": "INNTEKT"
      },
      "VisningskategoriLangtidsoppholdInstitusjonApiModel": {
        "type": "string",
        "description": "Kan være INNTEKT, FRADRAG, FORMUE, GJELD eller ANNET",
        "example": "INNTEKT"
      },
      "VisningspostApiModel": {
        "required": [
          "tekniskNavn",
          "visningstekst",
          "beloep",
          "personer"
        ],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string",
            "example": "alderspensjonFraFolketrygden"
          },
          "visningstekst": {
            "type": "string",
            "example": "Alderspensjon fra folketrygden"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonPostApiModel"
            }
          },
          "infotekst": {
            "type": "string",
            "example": "Kan inneholde både offentlige og private pensjoner. Se veileder for mer informasjon."
          },
          "skattefrittBeloep": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "BeregningVerdierApiModel": {
        "required": [
          "verdier"
        ],
        "type": "object",
        "properties": {
          "verdier": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerdierApiModel"
            }
          }
        }
      },
      "BeregningsgrupperApiModel": {
        "type": "object",
        "required": [
          "beloep",
          "beregning"
        ],
        "properties": {
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "beregning": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BeregningsgruppeApiModel"
            }
          }
        }
      },
      "BeregningsgruppeApiModel": {
        "required": [
          "tekniskNavn",
          "visningstekst",
          "beloep",
          "operasjon",
          "type"
        ],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string",
            "example": "folketrygdeytelser"
          },
          "visningstekst": {
            "type": "string",
            "example": "Folketrygdeytelser"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "operasjon": {
            "$ref": "#/components/schemas/OperasjonstypeApiModel"
          },
          "type": {
            "$ref": "#/components/schemas/TypeApiModel"
          },
          "beregningsgrunnlag": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BeregningsgrunnlagApiModel"
            }
          },
          "beregningsposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BeregningspostApiModel"
            }
          }
        }
      },
      "BeregningsgrunnlagApiModel": {
        "required": [
          "tekniskNavn",
          "visningstekst",
          "beloep",
          "operasjon"
        ],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string",
            "example": "overskuddNaeringsinntekt"
          },
          "visningstekst": {
            "type": "string",
            "example": "Overskudd næring"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "operasjon": {
            "$ref": "#/components/schemas/OperasjonstypeApiModel"
          },
          "beregningsposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BeregningspostApiModel"
            }
          }
        }
      },
      "BeregningRequestApiModel": {
        "required": [
          "beregningstype",
          "inntektsaar",
          "personer"
        ],
        "type": "object",
        "properties": {
          "beregningstype": {
            "$ref": "#/components/schemas/BeregningstypeApiModel"
          },
          "inntektsaar": {
            "minimum": 2021,
            "type": "integer",
            "format": "int32",
            "example": 2023
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonRequestApiModel"
            }
          }
        }
      },
      "BeregningRequestLangtidsoppholdInstitusjonApiModel": {
        "required": [
          "inntektsaar",
          "personer"
        ],
        "type": "object",
        "properties": {
          "inntektsaar": {
            "$ref": "#/components/schemas/InntektsaarApiModel"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonRequestLangtidsoppholdInstitusjonApiModel"
            }
          }
        }
      },
      "BeregningRequestRedusertForeldrebetalingApiModel": {
        "required": [
          "inntektsaar",
          "personer"
        ],
        "type": "object",
        "properties": {
          "inntektsaar": {
            "$ref": "#/components/schemas/InntektsaarApiModel"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonRequestRedusertForeldrebetalingApiModel"
            }
          }
        }
      },
      "BeregningRequestPraktiskBistandApiModel": {
        "required": [
          "inntektsaar",
          "personer"
        ],
        "type": "object",
        "properties": {
          "inntektsaar": {
            "$ref": "#/components/schemas/InntektsaarApiModel"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonRequestPraktiskBistandApiModel"
            }
          }
        }
      },
      "PersonRequestApiModel": {
        "required": [
          "identifikator",
          "type"
        ],
        "type": "object",
        "description": "Det skal alltid være én person av typen SOEKER. Det kan kun være én person av typen EKTEFELLE, PARTNER eller SAMBOER. Det kan være flere personer av typen BARN.",
        "properties": {
          "identifikator": {
            "description": "Fødsels- eller D-nummer.",
            "type": "string",
            "pattern": "^[0-9]{11}$",
            "example": "77087900851"
          },
          "type": {
            "$ref": "#/components/schemas/PersonTypeApiModel"
          },
          "ekstraposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EkstrapostRequestApiModel"
            }
          }
        }
      },
      "PersonRequestLangtidsoppholdInstitusjonApiModel": {
        "required": [
          "identifikator",
          "type"
        ],
        "type": "object",
        "description": "Det skal alltid være én person av typen SOEKER. Det kan kun være én person av typen EKTEFELLE, PARTNER eller SAMBOER. Det kan være flere personer av typen BARN.",
        "properties": {
          "identifikator": {
            "description": "Fødsels- eller D-nummer.",
            "type": "string",
            "pattern": "^[0-9]{11}$",
            "example": "77087900851"
          },
          "type": {
            "$ref": "#/components/schemas/PersontypeLangtidsoppholdInstitusjonApiModel"
          },
          "ekstraposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EkstrapostRequestApiModel"
            }
          }
        }
      },
      "PersonRequestPraktiskBistandApiModel": {
        "required": [
          "identifikator",
          "type"
        ],
        "type": "object",
        "description": "Det skal alltid være én person av typen SOEKER. Det kan også være en eller flere personer av typen ANNET",
        "properties": {
          "identifikator": {
            "description": "Fødsels- eller D-nummer.",
            "type": "string",
            "pattern": "^[0-9]{11}$",
            "example": "77087900851"
          },
          "type": {
            "$ref": "#/components/schemas/PersontypePraktiskBistandApiModel"
          },
          "ekstraposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EkstrapostRequestApiModel"
            }
          }
        }
      },
      "PersonRequestRedusertForeldrebetalingApiModel": {
        "required": [
          "identifikator",
          "type"
        ],
        "type": "object",
        "description": "Det skal alltid være én person av typen SOEKER. Det kan også være en eller flere personer av typen ANNET",
        "properties": {
          "identifikator": {
            "description": "Fødsels- eller D-nummer.",
            "type": "string",
            "pattern": "^[0-9]{11}$",
            "example": "77087900851"
          },
          "type": {
            "$ref": "#/components/schemas/PersontypeRedusertForeldrebetalingApiModel"
          },
          "ekstraposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EkstrapostRequestApiModel"
            }
          }
        }
      },
      "EkstrapostVerdiApiModel": {
        "required": [
          "tekniskNavn",
          "visningstekst",
          "persontyper",
          "paakrevd",
          "kilde",
          "kanEndreVisningstekst",
          "eksempeltekst",
          "justeringstype",
          "tilhorighet"
        ],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string",
            "example": "kommune.andreInntekter"
          },
          "visningstekst": {
            "type": "string",
            "example": "Andre inntekter"
          },
          "persontyper": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonTypeApiModel"
            }
          },
          "paakrevd": {
            "type": "boolean"
          },
          "kilde": {
            "$ref": "#/components/schemas/KildeVerdiApiModel"
          },
          "kanEndreVisningstekst": {
            "type": "boolean"
          },
          "eksempeltekst": {
            "type": "string",
            "example": "Tenkt etterlattepensjon beregnes etter reglene i egenandelsforskriften. Hvis etterlattepensjon ikke er aktuelt, fyller du inn 0."
          },
          "justeringstype": {
            "$ref": "#/components/schemas/JusteringstypeApiModel"
          },
          "tilhorighet": {
            "$ref": "#/components/schemas/TilhorighetApiModel"
          }
        }
      },
      "TilhorighetApiModel": {
        "required": [
          "tekniskNavn",
          "visningstekst",
          "kategori"
        ],
        "properties": {
          "tekniskNavn": {
            "type": "string",
            "example": "arbeidsinntekt"
          },
          "visningstekst": {
            "type": "string",
            "example": "Arbeidsinntekt"
          },
          "kategori": {
            "$ref": "#/components/schemas/BeregningKategoriApiModel"
          }
        }
      },
      "JusteringstypeApiModel": {
        "type": "string",
        "enum": [
          "OKNING",
          "REDUKSJON"
        ]
      },
      "BeregningKategoriApiModel": {
        "type": "string",
        "enum": [
          "INNTEKT",
          "FRADRAG"
        ]
      },
      "PersonTypeApiModel": {
        "type": "string",
        "enum": [
          "SOEKER",
          "BEBOER",
          "BRUKER",
          "EKTEFELLE",
          "PARTNER",
          "SAMBOER",
          "BARN",
          "SOESKEN",
          "MOR",
          "FAR",
          "MEDMOR",
          "ANNET"
        ],
        "example": "SOEKER"
      },
      "PersontypeLangtidsoppholdInstitusjonApiModel": {
        "type": "string",
        "enum": [
          "SOEKER",
          "EKTEFELLE",
          "PARTNER",
          "SAMBOER",
          "BARN"
        ],
        "example": "SOEKER"
      },
      "PersontypePraktiskBistandApiModel": {
        "type": "string",
        "enum": [
          "SOEKER",
          "ANNET"
        ],
        "example": "SOEKER"
      },
      "PersontypeRedusertForeldrebetalingApiModel": {
        "type": "string",
        "enum": [
          "SOEKER",
          "ANNET"
        ],
        "example": "SOEKER"
      },
      "BeregningspostApiModel": {
        "required": [
          "tekniskNavn",
          "visningstekst",
          "operasjon",
          "beloep",
          "kanEndreVisningstekst",
          "kilde",
          "identifikator"
        ],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string",
            "example": "oppjustertTilleggTilGevinstVedRealisasjonAvAksjesparekonto"
          },
          "visningstekst": {
            "type": "string",
            "example": "Oppjustering av skattepliktig uttak fra aksjesparekonto"
          },
          "operasjon": {
            "$ref": "#/components/schemas/OperasjonstypeApiModel"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "kilde": {
            "$ref": "#/components/schemas/KildeApiModel"
          },
          "kanEndreVisningstekst": {
            "type": "boolean"
          },
          "identifikator": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "infotekst": {
            "type": "string",
            "example": "Er ikke en egenandelspliktig inntekt. Se veileder for mer informasjon."
          },
          "eksempeltekst": {
            "type": "string",
            "description": "Et eksempel på hva posten kan innebære, f.eks. 'Oppdatert informasjon fra beboer'. Gjelder kun ekstraposter."
          },
          "referanse": {
            "type": "string",
            "description": "Et felt som refererer til en beregningspost, sendes tilbake i responsen, og kan brukes til å identifisere posten i responsen."
          },
          "andelSkattefritt": {
            "$ref": "#/components/schemas/AndelSkattefrittApiModel"
          }
        }
      },
      "AndelSkattefrittApiModel": {
        "type": "object",
        "required": [
          "skattefrittBeloep",
          "beloep"
        ],
        "properties": {
          "skattefrittBeloep": {
            "type": "integer",
            "format": "int64"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "EkstrapostRequestApiModel": {
        "required": [
          "tekniskNavn",
          "beloep"
        ],
        "type": "object",
        "description": "En ekstrapost er en post som man sender inn for å manuelt endre på verdier i en gruppe eller et grunnlag.",
        "properties": {
          "tekniskNavn": {
            "type": "string",
            "description": "Tekniske navnet på ekstraposten. Gyldige verdier for denne kan hentes gjennom verdier-endepunktet.",
            "example": "kommune.andreInntekter"
          },
          "visningstekst": {
            "type": "string",
            "description": "Ønsket visningsnavn på posten. Gjelder kun ekstraposter der kanEndreVisningstekst er true, da MÅ det settes en verdi på denne. Er kanEndreVisningstekst false er denne predefinert.",
            "example": "Arv etter tante Olga"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "referanse": {
            "type": "string",
            "description": "Et felt som refererer til posten, sendes tilbake i responsen, og kan brukes til å identifisere posten i responsen."
          }
        }
      },
      "OperasjonstypeApiModel": {
        "type": "string",
        "enum": [
          "ADDERE",
          "SUBTRAHERE"
        ]
      },
      "TypeApiModel": {
        "description": "En beregningsgruppe kan inneholde enten beregningsgrunnlag eller beregningsposter. Ved type GRUNNLAG inneholder den beregningsgrunnlag, og beregningsposter er NULL. Ved type POSTER inneholder den beregningsposter, og beregningsgrunnlag er NULL.",
        "type": "string",
        "enum": [
          "GRUNNLAG",
          "POST"
        ]
      },
      "BeregningstypeApiModel": {
        "type": "string",
        "enum": [
          "PRAKTISK_BISTAND",
          "LANGTIDSOPPHOLD_INSTITUSJON",
          "BARNEHAGE_SFO"
        ],
        "example": "LANGTIDSOPPHOLD_INSTITUSJON"
      },
      "KildeApiModel": {
        "type": "string",
        "enum": [
          "SKATTEETATEN",
          "MANUELL_INPUT",
          "MELLOMREGNING"
        ]
      },
      "KildeVerdiApiModel": {
        "type": "string",
        "enum": [
          "MANUELL_INPUT"
        ]
      },
      "VisningsgruppeKategoriApiModel": {
        "type": "string",
        "enum": [
          "INNTEKT",
          "FRADRAG",
          "FORMUE",
          "GJELD"
        ]
      },
      "VerdierApiModel": {
        "required": [
          "beregningstype",
          "inntektsaar",
          "gyldigeVerdier"
        ],
        "type": "object",
        "properties": {
          "beregningstype": {
            "$ref": "#/components/schemas/BeregningstypeApiModel"
          },
          "inntektsaar": {
            "type": "integer",
            "format": "int32"
          },
          "gyldigeVerdier": {
            "$ref": "#/components/schemas/GyldigeVerdierApiModel"
          }
        }
      },
      "GyldigeVerdierApiModel": {
        "required": [
          "persontyper",
          "ekstraposter"
        ],
        "type": "object",
        "properties": {
          "persontyper": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonTypeApiModel"
            }
          },
          "ekstraposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EkstrapostVerdiApiModel"
            }
          }
        }
      },
      "FeilmeldingApiModel": {
        "required": [
          "kode",
          "melding"
        ],
        "type": "object",
        "description": "Om det skjer en ukritisk feil, vil det returneres en liste med feilmeldinger. Dette kan for eksempel være at det ikke finnes navn på en person.",
        "properties": {
          "kode": {
            "type": "string"
          },
          "melding": {
            "type": "string"
          }
        }
      },
      "InntektsaarApiModel": {
        "type": "integer",
        "format": "int32"
      }
    },
    "examples": {
      "beregningRequestApiModelExample": {
        "value": {
          "personer": [
            {
              "identifikator": "77087900851",
              "type": "SOEKER",
              "ekstraposter": [
                {
                  "tekniskNavn": "kommune.andreInntekter",
                  "visningstekst": "Arv etter tante Olga",
                  "beloep": 30000
                }
              ]
            },
            {
              "identifikator": "74585691235",
              "type": "EKTEFELLE"
            }
          ],
          "inntektsaar": 2023,
          "beregningstype": "LANGTIDSOPPHOLD_INSTITUSJON"
        }
      },
      "beregningResponseApiModelExample": {
        "value": {
          "inntektsaar": 2023,
          "stadie": "OPPGJOER",
          "personer": [
            {
              "identifikator": "77087900851",
              "navn": {
                "etternavn": "Nordmann",
                "fornavn": "Ola",
                "mellomnavn": "Håkon"
              },
              "type": "SOEKER",
              "skjermet": false,
              "skatteoppgjoersdato": "2023-05-22",
              "stadie": "OPPGJOER",
              "registreringstidpunkt": "2023-05-22T16:00:00Z"
            },
            {
              "identifikator": "74585691235",
              "navn": {
                "etternavn": "Nordmann",
                "fornavn": "Kari",
                "mellomnavn": null
              },
              "type": "EKTEFELLE",
              "skjermet": false,
              "skatteoppgjoersdato": "2023-05-22",
              "stadie": "OPPGJOER",
              "registreringstidpunkt": "2023-05-22T16:00:00Z"
            }
          ],
          "visningsposter": [
            {
              "kategori": "INNTEKT",
              "poster": [
                {
                  "personer": [
                    {
                      "identifikator": "77087900851",
                      "beloep": 45000
                    },
                    {
                      "identifikator": "74585691235",
                      "beloep": 50000
                    }
                  ],
                  "beloep": 95000,
                  "tekniskNavn": "alderspensjonFraFolketrygden",
                  "visningstekst": "Alderspensjon fra folketrygden",
                  "infotekst": null
                },
                {
                  "personer": [
                    {
                      "identifikator": "77087900851",
                      "beloep": 50000
                    }
                  ],
                  "beloep": 50000,
                  "tekniskNavn": "overskuddAvSDF",
                  "visningstekst": "Andel av overskudd fra selskap med deltakerfastsetting",
                  "infotekst": null
                }
              ]
            },
            {
              "kategori": "FRADRAG",
              "poster": [
                {
                  "personer": [
                    {
                      "identifikator": "77087900851",
                      "beloep": 25000
                    }
                  ],
                  "beloep": 25000,
                  "tekniskNavn": "/beregnetSkattFastland/informasjonTilSkattelister/beregnetSkatt",
                  "visningstekst": "Beregnet skatt",
                  "infotekst": "Kan inneholde både offentlige og private pensjoner. Se veileder for mer informasjon."
                }
              ]
            }
          ],
          "beregningsbeloep": 100000,
          "inntekt": {
            "beloep": 125000,
            "beregning": [
              {
                "tekniskNavn": "folketrygdeytelser",
                "visningstekst": "Folketrygdeytelser",
                "beloep": 45000,
                "operasjon": "ADDERE",
                "type": "POST",
                "beregningsgrunnlag": [],
                "beregningsposter": [
                  {
                    "tekniskNavn": "alderspensjonFraFolketrygden",
                    "visningstekst": "Alderspensjon fra folketrygden",
                    "operasjon": "ADDERE",
                    "beloep": 45000,
                    "kilde": "SKATTEETATEN",
                    "kanEndreVisningstekst": false,
                    "identifikator": "77087900851",
                    "infotekst": null,
                    "eksempeltekst": null
                  }
                ]
              },
              {
                "tekniskNavn": "naeringsinntekt",
                "visningstekst": "Næringsinntekt",
                "beloep": 50000,
                "operasjon": "ADDERE",
                "type": "GRUNNLAG",
                "beregningsgrunnlag": [
                  {
                    "tekniskNavn": "overskuddNaeringsinntekt",
                    "visningstekst": "Overskudd næring",
                    "beloep": 50000,
                    "operasjon": "ADDERE",
                    "beregningsposter": [
                      {
                        "tekniskNavn": "overskuddAvSDF",
                        "visningstekst": "Andel av overskudd fra selskap med deltakerfastsetting",
                        "operasjon": "ADDERE",
                        "beloep": 50000,
                        "kilde": "SKATTEETATEN",
                        "kanEndreVisningstekst": false,
                        "identifikator": "77087900851",
                        "infotekst": null,
                        "eksempeltekst": null
                      }
                    ]
                  }
                ],
                "beregningsposter": []
              },
              {
                "tekniskNavn": "andreInntekterGruppe",
                "visningstekst": "Andre inntekter",
                "beloep": 30000,
                "operasjon": "ADDERE",
                "type": "POST",
                "beregningsgrunnlag": [],
                "beregningsposter": [
                  {
                    "tekniskNavn": "kommune.andreInntekter",
                    "visningstekst": "Arv etter tante Olga",
                    "operasjon": "ADDERE",
                    "beloep": 30000,
                    "kilde": "SKATTEETATEN",
                    "kanEndreVisningstekst": true,
                    "identifikator": "77087900851",
                    "infotekst": null,
                    "eksempeltekst": "Oppdatert informasjon fra beboer"
                  }
                ]
              }
            ]
          },
          "fradrag": {
            "beloep": 25000,
            "beregning": [
              {
                "tekniskNavn": "skatt",
                "visningstekst": "Skatt",
                "beloep": 25000,
                "operasjon": "ADDERE",
                "type": "POST",
                "beregningsgrunnlag": null,
                "beregningsposter": [
                  {
                    "tekniskNavn": "/beregnetSkattFastland/informasjonTilSkattelister/beregnetSkatt",
                    "visningstekst": "Beregnet skatt",
                    "operasjon": "ADDERE",
                    "beloep": 25000,
                    "kilde": "SKATTEETATEN",
                    "kanEndreVisningstekst": false,
                    "identifikator": "77087900851",
                    "infotekst": "Kan inneholde både offentlige og private pensjoner. Se veileder for mer informasjon.",
                    "eksempeltekst": null
                  }
                ]
              }
            ]
          },
          "soeketidspunkt": "2024-10-11T12:00:00Z",
          "beregningstype": "LANGTIDSOPPHOLD_INSTITUSJON",
          "feilmeldinger": []
        }
      }
    }
  }
}
