{
  "openapi": "3.0.1",
  "info": {
    "title": "Fiks register skatte- og inntektsopplysninger beregning service",
    "description": "Henter og beregner grunnlag for egenandel for kommunale tjenesteområder",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "paths": {
    "/register/api/v1/ks/{rolleId}/beregning": {
      "post": {
        "tags": ["Beregning"],
        "description": "Beregner grunnlag for egenandel for angitte fødselsnummer og kommunalt tjenesteområde",
        "operationId": "beregning",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeregningResponse"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/beregning/pdf": {
      "post": {
        "tags": ["Beregning"],
        "description": "Beregner grunnlag for egenandel for angitte fødselsnummer og kommunalt tjenesteområde i PDF-format",
        "operationId": "beregningPdf",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/beregning/verdier": {
      "get": {
        "tags": ["Beregning"],
        "description": "Henter alle gyldige verdier",
        "operationId": "beregningVerdier",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeregningVerdier"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Personnavn": {
        "required": ["etternavn", "fornavn"],
        "type": "object",
        "properties": {
          "etternavn": {
            "type": "string"
          },
          "fornavn": {
            "type": "string"
          },
          "mellomnavn": {
            "type": "string"
          }
        }
      },
      "Stadie": {
        "description": "Om skatteoppgjøret er ferdig (OPPGJOER) eller et utkast (UTKAST). UTKAST er kun relevant for foreldrebetaling for SFO og barnehage.",
        "type": "string",
        "enum": ["OPPGJOER", "UTKAST"]
      },
      "BeregningResponse": {
        "required": [
          "inntektsaar",
          "stadie",
          "poster",
          "beregningsbeloep",
          "inntekt",
          "fradrag",
          "soeketidspunkt",
          "beregningstype"
        ],
        "type": "object",
        "properties": {
          "inntektsaar": {
            "type": "integer",
            "format": "int32"
          },
          "stadie": {
            "$ref": "#/components/schemas/Stadie"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "poster": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          },
          "beregningsbeloep": {
            "type": "integer",
            "format": "int64"
          },
          "inntekt": {
            "$ref": "#/components/schemas/Beregningsgrupper"
          },
          "fradrag": {
            "$ref": "#/components/schemas/Beregningsgrupper"
          },
          "soeketidspunkt": {
            "type": "string",
            "format": "date-time"
          },
          "beregningstype": {
            "$ref": "#/components/schemas/Beregningstype"
          }
        }
      },
      "Person": {
        "required": [
          "identifikator",
          "type",
          "skjermet",
          "stadie"
        ],
        "type": "object",
        "properties": {
          "identifikator": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "navn": {
            "$ref": "#/components/schemas/Personnavn"
          },
          "type": {
            "$ref": "#/components/schemas/PersonType"
          },
          "skjermet": {
            "description": "Hvis personen er skjermet får vi ikke skattedata om personen. Dette kan for eksempel være en person med strengt fortrolig adresse.",
            "type": "boolean"
          },
          "skatteoppgjoersdato": {
            "description": "Dato for når skatteoppgjøret ble gjort.",
            "type": "string",
            "format": "date"
          },
          "stadie": {
            "$ref": "#/components/schemas/Stadie"
          },
          "registreringstidpunkt": {
            "description": "Tidspunkt for når skatteinformasjon om personen ble registrert.",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PersonPost": {
        "required": [
          "identifikator",
          "beloep"
        ],
        "type": "object",
        "properties": {
          "identifikator": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Post": {
        "required": [
          "personer",
          "beloep",
          "tekniskNavn",
          "visningstekst",
          "kilde"
        ],
        "type": "object",
        "properties": {
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonPost"
            }
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "tekniskNavn": {
            "type": "string"
          },
          "visningstekst": {
            "type": "string"
          },
          "kilde": {
            "$ref": "#/components/schemas/Kilde"
          }
        }
      },
      "BeregningVerdier": {
        "required": ["verdier"],
        "type": "object",
        "properties": {
          "verdier": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Verdier"
            }
          }
        }
      },
      "Beregningsgrupper": {
        "type": "object",
        "properties": {
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "beregning": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Beregningsgruppe"
            }
          }
        }
      },
      "Beregningsgruppe": {
        "required": [
          "tekniskNavn",
          "visningstekst",
          "beloep",
          "operasjon",
          "type"
        ],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string"
          },
          "visningstekst": {
            "type": "string"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "operasjon": {
            "$ref": "#/components/schemas/Operasjonstype"
          },
          "type": {
            "$ref": "#/components/schemas/Type"
          },
          "beregningsgrunnlag": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Beregningsgrunnlag"
            }
          },
          "beregningsposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Beregningspost"
            }
          }
        }
      },
      "Beregningsgrunnlag": {
        "required": ["tekniskNavn", "visningstekst", "beloep", "operasjon"],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string"
          },
          "visningstekst": {
            "type": "string"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "operasjon": {
            "$ref": "#/components/schemas/Operasjonstype"
          },
          "beregningsposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Beregningspost"
            }
          }
        }
      },
      "BeregningRequest": {
        "required": ["personer", "inntektsaar", "beregningstype"],
        "type": "object",
        "properties": {
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonRequest"
            }
          },
          "inntektsaar": {
            "minimum": 2021,
            "type": "integer",
            "format": "int32"
          },
          "beregningstype": {
            "$ref": "#/components/schemas/Beregningstype"
          }
        }
      },
      "PersonRequest": {
        "required": ["identifikator", "type"],
        "type": "object",
        "properties": {
          "identifikator": {
            "description": "Fødsels- eller D-nummer.",
            "type": "string",
            "pattern": "^[0-9]{11}$"
          },
          "type": {
            "$ref": "#/components/schemas/PersonType"
          },
          "ekstraposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EkstrapostRequest"
            }
          },
          "erstatningsposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErstatningspostRequest"
            }
          }
        }
      },
      "EkstrapostVerdi": {
        "required": [
          "tekniskNavn",
          "visningstekst",
          "persontyper",
          "paakrevd",
          "kilde",
          "kanEndreBeskrivelse"
        ],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string"
          },
          "visningstekst": {
            "type": "string"
          },
          "persontyper": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonType"
            }
          },
          "paakrevd": {
            "type": "boolean"
          },
          "kilde": {
            "$ref": "#/components/schemas/KildeVerdi"
          },
          "kanEndreBeskrivelse": {
            "type": "boolean"
          }
        }
      },
      "PersonType": {
        "type": "string",
        "enum": [
          "SOEKER",
          "BRUKER",
          "BEBOER",
          "EKTEFELLE",
          "PARTNER",
          "SAMBOER",
          "BARN"
        ]
      },
      "Beregningspost": {
        "required": [
          "tekniskNavn",
          "visningstekst",
          "operasjon",
          "beloep",
          "kanEndreBeskrivelse",
          "kilde",
          "identifikator"
        ],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string"
          },
          "visningstekst": {
            "type": "string"
          },
          "begrunnelse": {
            "type": "string"
          },
          "operasjon": {
            "$ref": "#/components/schemas/Operasjonstype"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          },
          "korrigertBeloep": {
            "type": "integer",
            "format": "int64"
          },
          "kilde": {
            "$ref": "#/components/schemas/Kilde"
          },
          "kanEndreBeskrivelse": {
            "type": "boolean"
          },
          "identifikator": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          }
        }
      },
      "EkstrapostRequest": {
        "required": ["tekniskNavn", "beloep"],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string"
          },
          "visningstekst": {
            "type": "string"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ErstatningspostRequest": {
        "required": ["tekniskNavn", "beloep"],
        "type": "object",
        "properties": {
          "tekniskNavn": {
            "type": "string"
          },
          "visningstekst": {
            "type": "string"
          },
          "beloep": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Operasjonstype": {
        "type": "string",
        "enum": [
          "ADDERE",
          "SUBTRAHERE"
        ]
      },
      "Type": {
        "description": "En beregningsgruppe kan inneholde enten beregningsgrunnlag eller beregningsposter. Ved type GRUNNLAG inneholder den beregningsgrunnlag, og beregningsposter er NULL. Ved type POSTER inneholder den beregningsposter, og beregningsgrunnlag er NULL.",
        "type": "string",
        "enum": ["GRUNNLAG", "POST"]
      },
      "Beregningstype": {
        "type": "string",
        "enum": [
          "PRAKTISK_BISTAND",
          "LANGTIDSOPPHOLD_INSTITUSJON",
          "BARNEHAGE_SFO"
        ]
      },
      "Kilde": {
        "type": "string",
        "enum": ["SKATTEETATEN", "NAV", "KOMMUNE"]
      },
      "KildeVerdi": {
        "type": "string",
        "enum": ["NAV", "KOMMUNE"]
      },
      "Verdier": {
        "required": ["beregningstype", "inntektsaar", "gyldigeVerdier"],
        "type": "object",
        "properties": {
          "beregningstype": {
            "$ref": "#/components/schemas/Beregningstype"
          },
          "inntektsaar": {
            "type": "integer",
            "format": "int32"
          },
          "gyldigeVerdier": {
            "$ref": "#/components/schemas/GyldigeVerdier"
          }
        }
      },
      "GyldigeVerdier": {
        "required": ["persontyper", "ekstraposter"],
        "type": "object",
        "properties": {
          "persontyper": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonType"
            }
          },
          "ekstraposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EkstrapostVerdi"
            }
          }
        }
      }
    }
  }
}
