{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks register",
    "description" : "Register",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "register",
    "description" : "API for å håndtere funksjonalitet rundt diverse registere"
  } ],
  "paths" : {
    "/register/api/v1/{rolleId}/summertskattegrunnlag" : {
      "post" : {
        "tags" : [ "register" ],
        "description" : "Henter summert skattegrunnlag for angitte fødselsnummere",
        "operationId" : "summertskattegrunnlag",
        "parameters" : [ {
          "name" : "rolleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SummertSkattegrunnlagSoekDefinisjon"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SummertSkattegrunnlagDefinisjon"
                }
              }
            }
          },
          "400" : {
            "description" : "Feil input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen treff",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410" : {
            "description" : "Finnes ikke lenger",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "PersonnavnDefinisjon" : {
        "required" : [ "etternavn", "fornavn" ],
        "type" : "object",
        "properties" : {
          "etternavn" : {
            "type" : "string"
          },
          "fornavn" : {
            "type" : "string"
          },
          "mellomnavn" : {
            "type" : "string"
          }
        }
      },
      "SummertSkattegrunnlagDefinisjon" : {
        "required" : [ "summertSkattegrunnlagPersoner", "totaltSummertGrunnlag" ],
        "type" : "object",
        "properties" : {
          "totaltSummertGrunnlag" : {
            "type" : "integer",
            "format" : "int64"
          },
          "summertSkattegrunnlagPersoner" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SummertSkattegrunnlagPersonDefinisjon"
            }
          }
        }
      },
      "SummertSkattegrunnlagPersonDefinisjon" : {
        "required" : [ "grunnlag", "inntektsaar", "kildeskattPaaLoennGrunnlag", "personidentifikator", "skjermet", "summertGrunnlag", "summertKildeskattPaaLoennGrunnlag", "summertSvalbardGrunnlag", "svalbardGrunnlag", "totaltSummertGrunnlagPerson" ],
        "type" : "object",
        "properties" : {
          "personidentifikator" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string"
          },
          "personnavn" : {
            "$ref" : "#/components/schemas/PersonnavnDefinisjon"
          },
          "inntektsaar" : {
            "type" : "integer",
            "format" : "int32"
          },
          "skjermet" : {
            "type" : "boolean"
          },
          "grunnlag" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SummertSkattegrunnlagsobjektDefinisjon"
            }
          },
          "summertGrunnlag" : {
            "type" : "integer",
            "format" : "int64"
          },
          "skatteoppgjoersdato" : {
            "type" : "string",
            "format" : "date"
          },
          "svalbardGrunnlag" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SummertSkattegrunnlagsobjektDefinisjon"
            }
          },
          "summertSvalbardGrunnlag" : {
            "type" : "integer",
            "format" : "int64"
          },
          "kildeskattPaaLoennGrunnlag" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SummertSkattegrunnlagsobjektDefinisjon"
            }
          },
          "summertKildeskattPaaLoennGrunnlag" : {
            "type" : "integer",
            "format" : "int64"
          },
          "stadie" : {
            "type" : "string"
          },
          "registreringstidpunkt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "totaltSummertGrunnlagPerson" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "SummertSkattegrunnlagsobjektDefinisjon" : {
        "required" : [ "beloep", "tekniskNavn" ],
        "type" : "object",
        "properties" : {
          "tekniskNavn" : {
            "type" : "string"
          },
          "beloep" : {
            "type" : "integer",
            "format" : "int64"
          },
          "kategori" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "visningstekst" : {
            "type" : "string"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "SummertSkattegrunnlagSoekDefinisjon" : {
        "required" : [ "personidentifikatorer" ],
        "type" : "object",
        "properties" : {
          "personidentifikatorer" : {
            "type" : "array",
            "description" : "Fødsels- eller D-nummer.",
            "items" : {
              "type" : "string",
              "description" : "Fødsels- eller D-nummer."
            }
          },
          "inntektsaar" : {
            "minimum" : 2016,
            "type" : "integer",
            "format" : "int32"
          }
        }
      }
    }
  }
}