{
  "openapi": "3.0.3",
  "info": {
    "title": "Fiks register oppslag service",
    "description": "Rolleoppslag for Fiks register",
    "contact": {
      "name": "KS Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "paths": {
    "/register/api/v1/oppslag/roller/{id}": {
      "get": {
        "operationId": "oppslagRolleMedId",
        "description": "Hente en gitt rolle. Rollen må være aktiv og brukeren må ha tilgang",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Unik ID til den rollen man vil hente",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fant roller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rolle"
                }
              }
            }
          },
          "404": {
            "description": "Finner ingen roller for gjeldende bruker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "tags": [
          "rolleoppslag"
        ]
      }
    },
    "/register/api/v1/oppslag/roller": {
      "get": {
        "operationId": "hentTilgjengeligeRoller",
        "description": "Henter alle aktive roller som brukeren har tilgang til å bruke",
        "parameters": [
          {
            "in": "query",
            "name": "fiksOrgId",
            "description": "Filtrer på hvilken organisasjon rollen tilhører",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "tjeneste",
            "description": "Filtrer på tjenestekode",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fant rolle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolleListe"
                }
              }
            }
          },
          "403": {
            "description": "Har ikke tilgang til rolle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Rollen finnes ikke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "tags": [
          "rolleoppslag"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "fiksBearerToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Rolle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "ressursId": {
            "type": "string",
            "format": "uuid"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "type": "string"
          },
          "tjenesteomraade": {
            "$ref": "#/components/schemas/Tjenesteomraade"
          },
          "registre": {
            "$ref": "#/components/schemas/Registre"
          },
          "tjenester": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "ressursId",
          "fiksOrgId",
          "navn",
          "tjenesteomraade",
          "registre"
        ]
      },
      "Tjenesteomraade": {
        "type": "object",
        "properties": {
          "kode": {
            "$ref": "#/components/schemas/KodeFelt"
          },
          "kanHenteTaushetsbelagtInformasjon": {
            "type": "boolean"
          }
        },
        "required": [
          "kode",
          "kanHenteTaushetsbelagtInformasjon"
        ]
      },
      "Registre": {
        "type": "object",
        "description": "Registre som rollen har tilgang til",
        "readOnly": true,
        "minProperties": 1,
        "properties": {
          "folkeregister": {
            "$ref": "#/components/schemas/Folkeregister"
          },
          "kontaktregister": {
            "$ref": "#/components/schemas/Kontaktregister"
          },
          "summertskattegrunnlag": {
            "$ref": "#/components/schemas/SummertSkattegrunnlag"
          }
        }
      },
      "Folkeregister": {
        "type": "object",
        "readOnly": true,
        "properties": {
          "bruksomraader": {
            "$ref": "#/components/schemas/FolkeregisterBruksomraader"
          },
          "kanBrukesPaaSokeside": {
            "type": "boolean"
          },
          "minimering": {
            "$ref": "#/components/schemas/FolkeregisterMinimeringDefinisjon"
          }
        },
        "required": [
          "bruksomraader",
          "kanBrukesPaaSokeside",
          "minimering"
        ]
      },
      "FolkeregisterBruksomraader": {
        "type": "object",
        "properties": {
          "innbyggerliste": {
            "type": "boolean"
          },
          "hendelserliste": {
            "type": "boolean"
          },
          "soek": {
            "type": "boolean"
          }
        },
        "required": [
          "innbyggerliste",
          "hendelserliste",
          "soek"
        ]
      },
      "FolkeregisterMinimeringDefinisjon": {
        "properties": {
          "parts": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/KodeFelt"
            }
          }
        },
        "required": [
          "parts"
        ]
      },
      "Kontaktregister": {
        "readOnly": true,
        "properties": {
          "tilgjengelig": {
            "type": "boolean"
          }
        },
        "required": [
          "tilgjengelig"
        ]
      },
      "SummertSkattegrunnlag": {
        "readOnly": true,
        "properties": {
          "rettighetspakke": {
            "$ref": "#/components/schemas/SummertSkattegrunnlagRettighetspakke"
          }
        },
        "required": [
          "rettighetspakke"
        ]
      },
      "SummertSkattegrunnlagRettighetspakke": {
        "type": "string",
        "enum": [
          "KOMMUNEFORELDREBETALING",
          "KOMMUNEBOLIGSOSIALEFORMAAL",
          "KOMMUNEPERSONLIGASSISTANSE"
        ]
      },
      "KodeFelt": {
        "type": "string",
        "pattern": "^[A-Z]+$"
      },
      "RolleListe": {
        "properties": {
          "roller": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/Rolle"
            }
          }
        },
        "required": [
          "roller"
        ]
      }
    }
  }
}