{
  "openapi": "3.0.1",
  "info": {
    "title": "Fiks register skatte- og inntektsopplysninger beregning service",
    "description": "Henter og beregner grunnlag for egenandel for kommunale tjenesteområder",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "paths": {
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning/langtidsopphold-institusjon": {
      "post": {
        "tags": [
          "Beregning"
        ],
        "description": "Beregner grunnlag for egenandel for angitte fødselsnummer og tjenesteområdet langtidsopphold insitusjon",
        "operationId": "beregningLangtidsoppholdInstitusjon",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestLangtidsoppholdInstitusjonApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeregningResponseLangtidsoppholdInstitusjonApiModel"
                },
                "examples": {
                  "beregningResponseApiModelExample": {
                    "$ref": "#/components/examples/beregningResponseApiModelExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning/langtidsopphold-institusjon/pdf": {
      "post": {
        "tags": [
          "Beregning"
        ],
        "description": "Beregner grunnlag for egenandel for langtidsopphold institusjon for angitte fødselsnummer og kommunalt tjenesteområde i PDF-format",
        "operationId": "beregningLangtidsoppholdInstitusjonPdf",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestLangtidsoppholdInstitusjonApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning/praktisk-bistand": {
      "post": {
        "tags": [
          "Beregning"
        ],
        "description": "Beregner grunnlag for egenandel for angitte fødselsnummer og tjenesteområdet praktisk bistand",
        "operationId": "beregningPraktiskBistand",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestPraktiskBistandApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeregningResponsePraktiskBistandApiModel"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning/praktisk-bistand/pdf": {
      "post": {
        "tags": [
          "Beregning"
        ],
        "description": "Beregner grunnlag for egenandel for praktisk bistand for angitte fødselsnummer og kommunalt tjenesteområde i PDF-format",
        "operationId": "beregningPraktiskBistandPdf",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestPraktiskBistandApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning/redusert-foreldrebetaling": {
      "post": {
        "tags": [
          "Beregning"
        ],
        "description": "Beregner grunnlag for egenandel for angitte fødselsnummer og tjenesteområdet redusert foreldrebetaling",
        "operationId": "beregningRedusertForeldrebetaling",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestRedusertForeldrebetalingApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeregningResponseRedusertForeldrebetalingApiModel"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/beregning/redusert-foreldrebetaling/pdf": {
      "post": {
        "tags": [
          "Beregning"
        ],
        "description": "Beregner grunnlag for egenandel for angitte fødselsnummer og tjenesteområdet redusert foreldrebetaling i PDF-format",
        "operationId": "beregningRedusertForeldrebetalingPdf",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeregningRequestRedusertForeldrebetalingApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Feil input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Ingen treff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "410": {
            "description": "Finnes ikke lenger",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/register/api/v1/ks/{rolleId}/skatteoginntektsopplysninger/verdier": {
      "get": {
        "tags": [
          "Beregning"
        ],
        "description": "Henter ut alle tillatte verdier man kan sende med i en request.",
        "operationId": "gyldigeVerdierForBeregning",
        "parameters": [
          {
            "name": "rolleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GyldigeVerdierApiModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Ikke tilgang",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BeloepApiModel": {
        "description": "Inneholder beløpet til noder. For noen noder vil man trekke fra et skattefritt beløp.",
        "type": "object",
        "properties": {
          "nettoBeloep": {
            "description": "Beløpet til noden minus eventuelt skattefritt beløp",
            "type": "integer",
            "format": "int64"
          },
          "skattefrittBeloep": {
            "description": "Beløp som regnes som skattefritt",
            "type": "integer",
            "format": "int64"
          }
        }
      },

      "BeregningskategoriApiModel": {
        "type": "string",
        "enum": [
          "INNTEKT",
          "FRADRAG"
        ]
      },
      "BeregningstypeApiModel": {
        "type": "string",
        "enum": [
          "PRAKTISK_BISTAND",
          "LANGTIDSOPPHOLD_INSTITUSJON",
          "BARNEHAGE_SFO"
        ],
        "example": "LANGTIDSOPPHOLD_INSTITUSJON"
      },

      "BeregningRequestLangtidsoppholdInstitusjonApiModel": {
        "required": [
          "inntektsaar",
          "personer"
        ],
        "type": "object",
        "properties": {
          "inntektsaar": {
            "$ref": "#/components/schemas/InntektsaarApiModel"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonRequestLangtidsoppholdInstitusjonApiModel"
            }
          }
        }
      },
      "BeregningRequestPraktiskBistandApiModel": {
        "required": [
          "inntektsaar",
          "personer"
        ],
        "type": "object",
        "properties": {
          "inntektsaar": {
            "$ref": "#/components/schemas/InntektsaarApiModel"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonRequestPraktiskBistandApiModel"
            }
          }
        }
      },
      "BeregningRequestRedusertForeldrebetalingApiModel": {
        "required": [
          "inntektsaar",
          "personer"
        ],
        "type": "object",
        "properties": {
          "inntektsaar": {
            "$ref": "#/components/schemas/InntektsaarApiModel"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonRequestRedusertForeldrebetalingApiModel"
            }
          }
        }
      },

      "BeregningResponseLangtidsoppholdInstitusjonApiModel": {
        "required": [
          "inntektsaar",
          "stadie",
          "personer",
          "beregning",
          "kildedata",
          "soeketidspunkt",
          "feilmeldinger"
        ],
        "type": "object",
        "properties": {
          "inntektsaar": {
            "$ref": "#/components/schemas/InntektsaarApiModel"
          },
          "stadie": {
            "$ref": "#/components/schemas/StadieApiModel"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonApiModel"
            }
          },
          "beregning": {
            "$ref": "#/components/schemas/NodeApiModel"
          },
          "kildedata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KildedataApiModel"
            }
          },
          "soeketidspunkt": {
            "type": "string",
            "format": "date-time"
          },
          "feilmeldinger": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeilmeldingApiModel"
            }
          }
        }
      },
      "BeregningResponsePraktiskBistandApiModel": {
        "required": [
          "inntektsaar",
          "stadie",
          "personer",
          "beregning",
          "kildedata",
          "soeketidspunkt",
          "feilmeldinger"
        ],
        "type": "object",
        "properties": {
          "inntektsaar": {
            "$ref": "#/components/schemas/InntektsaarApiModel"
          },
          "stadie": {
            "$ref": "#/components/schemas/StadieApiModel"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonApiModel"
            }
          },
          "beregning": {
            "$ref": "#/components/schemas/NodeApiModel"
          },
          "kildedata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KildedataApiModel"
            }
          },
          "soeketidspunkt": {
            "type": "string",
            "format": "date-time"
          },
          "feilmeldinger": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeilmeldingApiModel"
            }
          }
        }
      },
      "BeregningResponseRedusertForeldrebetalingApiModel": {
        "required": [
          "inntektsaar",
          "stadie",
          "personer",
          "beregning",
          "kildedata",
          "soeketidspunkt",
          "feilmeldinger"
        ],
        "type": "object",
        "properties": {
          "inntektsaar": {
            "$ref": "#/components/schemas/InntektsaarApiModel"
          },
          "stadie": {
            "$ref": "#/components/schemas/StadieApiModel"
          },
          "personer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonApiModel"
            }
          },
          "beregning": {
            "$ref": "#/components/schemas/NodeApiModel"
          },
          "kildedata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KildedataApiModel"
            }
          },
          "soeketidspunkt": {
            "type": "string",
            "format": "date-time"
          },
          "feilmeldinger": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeilmeldingApiModel"
            }
          }
        }
      },

      "EkstrapostRequestApiModel": {
        "required": [
          "id",
          "beloep"
        ],
        "type": "object",
        "description": "En ekstrapost er en post som man sender inn for å manuelt endre på verdier i en gruppe eller et grunnlag.",
        "properties": {
          "id": {
            "description": "ID-en til ekstraposten. Gyldige verdier for denne kan hentes gjennom verdier-endepunktet.",
            "type": "string",
            "example": "kommune.andreInntekter"
          },
          "navn": {
            "description": "Ønsket navn på posten. Gjelder kun ekstraposter der kanEndreVisningstekst er true, da MÅ det settes en verdi på denne. Er kanEndreVisningstekst false er denne predefinert.",
            "type": "string",
            "example": "Arv etter tante Olga"
          },
          "beloep": {
            "$ref": "#/components/schemas/BeloepApiModel"
          },
          "referanse": {
            "type": "string",
            "description": "Et felt som refererer til posten, sendes tilbake i responsen, og kan brukes til å identifisere posten i responsen."
          }
        }
      },
      "FeilmeldingApiModel": {
        "required": [
          "kode",
          "melding"
        ],
        "type": "object",
        "description": "Om det skjer en ukritisk feil, vil det returneres en liste med feilmeldinger. Dette kan for eksempel være at det ikke finnes navn på en person.",
        "properties": {
          "kode": {
            "type": "string"
          },
          "melding": {
            "type": "string"
          }
        }
      },

      "GyldigeVerdierApiModel": {
        "description": "Inneholder de gyldige verdiene man kan sende inn i en request fordelt på beregningstype og inntektsår.",
        "required": [
          "beregningstype",
          "inntektsaar",
          "persontyper",
          "ekstraposter"
        ],
        "type": "object",
        "properties": {
          "beregningstype": {
            "$ref": "#/components/schemas/BeregningstypeApiModel"
          },
          "inntektsaar": {
            "$ref": "#/components/schemas/InntektsaarApiModel"
          },
          "persontyper": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersontypeApiModel"
            }
          },
          "ekstraposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GyldigeVerdierEkstrapostApiModel"
            }
          }
        }
      },
      "GyldigeVerdierEkstrapostApiModel": {
        "required": [
          "id",
          "navn",
          "persontyper",
          "paakrevd",
          "kanEndreVisningstekst",
          "eksempeltekst",
          "justeringstype",
          "tilhorighet"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "kommune.andreInntekter"
          },
          "navn": {
            "type": "string",
            "example": "Andre inntekter"
          },
          "persontyper": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersontypeApiModel"
            }
          },
          "paakrevd": {
            "type": "boolean"
          },
          "kanEndreVisningstekst": {
            "type": "boolean"
          },
          "eksempeltekst": {
            "type": "string",
            "example": "Tenkt etterlattepensjon beregnes etter reglene i egenandelsforskriften. Hvis etterlattepensjon ikke er aktuelt, fyller du inn 0."
          },
          "justeringstype": {
            "$ref": "#/components/schemas/JusteringstypeApiModel"
          },
          "tilhorighet": {
            "$ref": "#/components/schemas/TilhorighetApiModel"
          }
        }
      },

      "InntektsaarApiModel": {
        "type": "integer",
        "format": "int32"
      },
      "JusteringstypeApiModel": {
        "type": "string",
        "enum": [
          "OKNING",
          "REDUKSJON"
        ]
      },

      "NodeApiModel": {
        "type": "object",
        "required": [
          "id",
          "navn",
          "type",
          "operasjon",
          "beloep"
        ],
        "properties": {
          "id": {
            "description": "Identifikatoren til noden. Denne er unik.",
            "type": "string",
            "example": "alderspensjonFraFolketrygden"
          },
          "navn": {
            "description": "Navnet til posten. Det er denne som burde vises i frontend da denne beskriver noden.",
            "type": "string",
            "example": "Alderspensjon fra folketrygden"
          },
          "type": {
            "$ref": "#/components/schemas/NodetypeApiModel"
          },
          "kategori": {
            "$ref": "#/components/schemas/NodekategoriApiModel"
          },
          "operasjon": {
            "$ref": "#/components/schemas/NodeoperasjonApiModel"
          },
          "persontyper": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersontypeApiModel"
            }
          },
          "identifikator": {
            "$ref": "#/components/schemas/Personidentifikator"
          },
          "referanse": {
            "description": "En unik identifikator som refererer til en ekstrapost. Sendes inn i requesten per ekstrapost.",
            "type": "string"
          },
          "infotekst": {
            "description": "En tekst som gir mer informasjon om posten hvis det trengs.",
            "type": "string",
            "example": "Er ikke en egenandelspliktig inntekt. Se veileder for mer informasjon."
          },
          "eksempeltekst": {
            "description": "Et eksempel på hva posten kan innebære. Gjelder kun ekstraposter.",
            "type": "string",
            "example": "Oppdatert informasjon fra beboer."
          },
          "kanEndreVisningstekst": {
            "description": "Om det er mulig å endre navnen på posten eller ikke. Gjelder noen ekstraposter.",
            "type": "boolean"
          },
          "beloep": {
            "$ref": "#/components/schemas/BeloepApiModel"
          },
          "noder": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NodeApiModel"
            }
          }
        }
      },
      "NodekategoriApiModel": {
        "description": "De forskjellige kategoriene en node kan ha.",
        "type": "string",
        "enum": [
          "INNTEKT",
          "FRADRAG"
        ]
      },
      "NodeoperasjonApiModel": {
        "description": "Operasjonen til en node. Sier hvordan den skal behandles når man beregner.",
        "type": "string",
        "enum": [
          "ADDERE",
          "SUBTRAHERE"
        ]
      },
      "NodetypeApiModel": {
        "description": "Forklarer hva slags type noden er. Er noden av type GRUPPE kan den ha en eller flere tilhørende noder.",
        "type": "string",
        "enum": [
          "GRUPPE",
          "POST"
        ]
      },

      "PersonRequestLangtidsoppholdInstitusjonApiModel": {
        "required": [
          "identifikator",
          "type"
        ],
        "type": "object",
        "description": "Det skal alltid være én person av typen SOEKER. Det kan kun være én person av typen EKTEFELLE, PARTNER eller SAMBOER. Det kan være flere personer av typen BARN.",
        "properties": {
          "identifikator": {
            "description": "Fødsels- eller D-nummer.",
            "type": "string",
            "pattern": "^[0-9]{11}$",
            "example": "77087900851"
          },
          "type": {
            "$ref": "#/components/schemas/PersontypeLangtidsoppholdInstitusjonApiModel"
          },
          "ekstraposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EkstrapostRequestApiModel"
            }
          }
        }
      },
      "PersonRequestPraktiskBistandApiModel": {
        "required": [
          "identifikator",
          "type"
        ],
        "type": "object",
        "description": "Det skal alltid være én person av typen SOEKER. Det kan også være en eller flere personer av typen ANNET",
        "properties": {
          "identifikator": {
            "description": "Fødsels- eller D-nummer.",
            "type": "string",
            "pattern": "^[0-9]{11}$",
            "example": "77087900851"
          },
          "type": {
            "$ref": "#/components/schemas/PersontypePraktiskBistandApiModel"
          },
          "ekstraposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EkstrapostRequestApiModel"
            }
          }
        }
      },
      "PersonRequestRedusertForeldrebetalingApiModel": {
        "required": [
          "identifikator",
          "type"
        ],
        "type": "object",
        "description": "Det skal alltid være én person av typen SOEKER. Det kan også være en eller flere personer av typen ANNET",
        "properties": {
          "identifikator": {
            "description": "Fødsels- eller D-nummer.",
            "type": "string",
            "pattern": "^[0-9]{11}$",
            "example": "77087900851"
          },
          "type": {
            "$ref": "#/components/schemas/PersontypeRedusertForeldrebetalingApiModel"
          },
          "ekstraposter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EkstrapostRequestApiModel"
            }
          }
        }
      },

      "PersonApiModel": {
        "required": [
          "identifikator",
          "type",
          "skjermet",
          "stadie"
        ],
        "type": "object",
        "properties": {
          "identifikator": {
            "$ref": "#/components/schemas/Personidentifikator"
          },
          "navn": {
            "$ref": "#/components/schemas/PersonnavnApiModel"
          },
          "type": {
            "$ref": "#/components/schemas/PersontypeApiModel"
          },
          "skjermet": {
            "description": "Hvis personen er skjermet får vi ikke skattedata om personen. Dette kan for eksempel være en person med strengt fortrolig adresse.",
            "type": "boolean"
          },
          "skatteoppgjoersdato": {
            "description": "Dato for når skatteoppgjøret ble gjort.",
            "type": "string",
            "format": "date",
            "example": "2023-05-22"
          },
          "stadie": {
            "$ref": "#/components/schemas/StadieApiModel"
          },
          "registreringstidpunkt": {
            "description": "Tidspunkt for når skatteinformasjon om personen ble registrert.",
            "type": "string",
            "format": "date-time",
            "example": "2023-05-22T16:00:00Z"
          }
        }
      },
      "Personidentifikator": {
        "description": "Identifikator til en person. Fødselsnummer eller D-nummer.",
        "type": "string",
        "pattern": "^[0-9]{11}$"
      },
      "PersonnavnApiModel": {
        "required": [
          "etternavn",
          "fornavn"
        ],
        "type": "object",
        "properties": {
          "etternavn": {
            "type": "string",
            "example": "Nordmann"
          },
          "fornavn": {
            "type": "string",
            "example": "Ola"
          },
          "mellomnavn": {
            "type": "string",
            "example": "Håkon"
          }
        }
      },
      "PersonpostApiModel": {
        "required": [
          "identifikator",
          "beloep"
        ],
        "type": "object",
        "properties": {
          "identifikator": {
            "$ref": "#/components/schemas/Personidentifikator"
          },
          "beloep": {
            "$ref": "#/components/schemas/BeloepApiModel"
          }
        }
      },
      "PersontypeApiModel": {
        "type": "string",
        "enum": [
          "SOEKER",
          "BEBOER",
          "BRUKER",
          "EKTEFELLE",
          "PARTNER",
          "SAMBOER",
          "BARN",
          "SOESKEN",
          "MOR",
          "FAR",
          "MEDMOR",
          "ANNET"
        ],
        "example": "SOEKER"
      },
      "PersontypeLangtidsoppholdInstitusjonApiModel": {
        "type": "string",
        "enum": [
          "SOEKER",
          "EKTEFELLE",
          "PARTNER",
          "SAMBOER",
          "BARN"
        ],
        "example": "SOEKER"
      },
      "PersontypePraktiskBistandApiModel": {
        "type": "string",
        "enum": [
          "SOEKER",
          "ANNET"
        ],
        "example": "SOEKER"
      },
      "PersontypeRedusertForeldrebetalingApiModel": {
        "type": "string",
        "enum": [
          "SOEKER",
          "ANNET"
        ],
        "example": "SOEKER"
      },

      "StadieApiModel": {
        "description": "Om skatteoppgjøret er ferdig (OPPGJOER) eller et utkast (UTKAST). UTKAST er kun relevant for foreldrebetaling for SFO og barnehage.",
        "type": "string",
        "enum": [
          "OPPGJOER",
          "UTKAST",
          "UKJENT"
        ]
      },
      "TilhorighetApiModel": {
        "required": [
          "id",
          "navn",
          "kategori"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "arbeidsinntekt"
          },
          "navn": {
            "type": "string",
            "example": "Arbeidsinntekt"
          },
          "kategori": {
            "$ref": "#/components/schemas/BeregningskategoriApiModel"
          }
        }
      },
      "KildedataApiModel": {
        "required": [
          "identifikator"
        ],
        "description": "Inneholder alle postene i responsen fra Skatteetaten fordelt per person.",
        "properties": {
          "identifikator": {
            "type": "string",
            "description": "Identifikatoren til personen kildedataene tilhører"
          },
          "summertSkattegrunnlagResponsApiModel": {
            "description": "Alle poster med beløp fra summert skattegrunnlag API-et",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KildedataPostApiModel"
            }
          },
          "beregnetSkattResponsApiModel": {
            "description": "Alle poster med beløp fra beregnet skatt API-et",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KildedataPostApiModel"
            }
          },
          "avregningResponsApiModel": {
            "description": "Alle poster med beløp fra avregning API-et",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KildedataPostApiModel"
            }
          }
        }
      },
      "KildedataPostApiModel": {
        "required": [
          "id",
          "beloep"
        ],
        "description": "Post med verdi fra Skatteetaten",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID-en til posten"
          },
          "beloep": {
            "$ref": "#/components/schemas/KildedataBeloepApiModel"
          },
          "skattefrittBeloep": {
            "$ref": "#/components/schemas/KildedataSkattefrittBeloepApiModel"
          }
        }
      },
      "KildedataBeloepApiModel": {
        "required": [
          "beloep"
        ],
        "description": "Ubehandlet beløp til en post fra Skatteetaten",
        "properties": {
          "beloep": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "KildedataSkattefrittBeloepApiModel": {
        "required": [
          "beloep"
        ],
        "description": "Ubehandlet skattefritt beløp til en post fra Skatteetaten. Ikke alle poster vil ha dette beløpet.",
        "properties": {
          "beloep": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "examples": {
      "beregningRequestApiModelExample": {
        "value": {
          "personer": [
            {
              "identifikator": "77087900851",
              "type": "SOEKER",
              "ekstraposter": [
                {
                  "id": "kommune.oektArbeidsinntekt",
                  "navn": "Inntekt fra bijobb",
                  "beloep": {
                    "nettoBeloep": 15000,
                    "skattefrittBeloep": null
                  },
                  "referanse": "1234-5678-aabb"
                }
              ]
            },
            {
              "identifikator": "74585691235",
              "type": "EKTEFELLE"
            }
          ],
          "inntektsaar": 2023,
          "beregningstype": "LANGTIDSOPPHOLD_INSTITUSJON"
        }
      },
      "beregningResponseApiModelExample": {
        "value": {
          "inntektsaar": 2023,
          "stadie": "OPPGJOER",
          "personer": [
            {
              "identifikator": "77087900851",
              "navn": {
                "etternavn": "Nordmann",
                "fornavn": "Ola",
                "mellomnavn": "Håkon"
              },
              "type": "SOEKER",
              "skjermet": false,
              "skatteoppgjoersdato": "2023-05-22",
              "stadie": "OPPGJOER",
              "registreringstidpunkt": "2023-05-22T16:00:00Z"
            },
            {
              "identifikator": "74585691235",
              "navn": {
                "etternavn": "Nordmann",
                "fornavn": "Kari",
                "mellomnavn": null
              },
              "type": "EKTEFELLE",
              "skjermet": false,
              "skatteoppgjoersdato": "2023-05-22",
              "stadie": "OPPGJOER",
              "registreringstidpunkt": "2023-05-22T16:00:00Z"
            }
          ],
          "beregning": {
            "id": "totalSum",
            "navn": "Sum",
            "type": "GRUPPE",
            "operasjon": "ADDERE",
            "beloep": {
              "nettoBeloep": 5000,
              "skattefrittBeloep": null
            },
            "noder": [
              {
                "id": "totaltInntekt",
                "navn": "Totalt inntekt",
                "type": "GRUPPE",
                "kategori": "INNTEKT",
                "operasjon": "ADDERE",
                "persontyper": null,
                "identifikator": null,
                "referanse": null,
                "infotekst": null,
                "eksempeltekst": null,
                "kanEndreVisningstekst": null,
                "beloep": {
                  "nettoBeloep": 20000,
                  "skattefrittBeloep": null
                },
                "noder": [
                  {
                    "id": "arbeidsinntekt",
                    "navn": "Arbeidsinntekt",
                    "type": "GRUPPE",
                    "kategori": "INNTEKT",
                    "operasjon": "ADDERE",
                    "persontyper": [
                      "SOEKER"
                    ],
                    "identifikator": null,
                    "referanse": null,
                    "infotekst": null,
                    "eksempeltekst": null,
                    "kanEndreVisningstekst": null,
                    "beloep": {
                      "nettoBeloep": 15000,
                      "skattefrittBeloep": null
                    },
                    "noder": [
                      {
                        "id": "kommune.oektArbeidsinntekt",
                        "navn": "Inntekt fra bijobb",
                        "type": "POST",
                        "kategori": "INNTEKT",
                        "operasjon": "ADDERE",
                        "persontyper": null,
                        "identifikator": "77087900851",
                        "referanse": "1234-5678-aabb",
                        "eksempeltekst": null,
                        "kanEndreVisningstekst": null,
                        "beloep": {
                          "nettoBeloep": 15000,
                          "skattefrittBeloep": null
                        }
                      }
                    ]
                  },
                  {
                    "id": "naeringsinntekt",
                    "navn": "Næringsinntekt",
                    "type": "GRUPPE",
                    "kategori": "INNTEKT",
                    "operasjon": "ADDERE",
                    "persontyper": null,
                    "identifikator": null,
                    "referanse": null,
                    "infotekst": null,
                    "eksempeltekst": null,
                    "kanEndreVisningstekst": null,
                    "beloep": {
                      "nettoBeloep": 5000,
                      "skattefrittBeloep": null
                    },
                    "noder": [
                      {
                        "id": "overskuddNaeringsinntekt",
                        "navn": "Overskudd næring",
                        "type": "GRUPPE",
                        "kategori": "INNTEKT",
                        "operasjon": "ADDERE",
                        "persontyper": [
                          "SOEKER"
                        ],
                        "identifikator": null,
                        "referanse": null,
                        "infotekst": null,
                        "eksempeltekst": null,
                        "kanEndreVisningstekst": null,
                        "beloep": {
                          "nettoBeloep": 5000,
                          "skattefrittBeloep": null
                        },
                        "noder": [
                          {
                            "id": "samletOverskuddAvEnkeltpersonforetakInnenAnnenNaering",
                            "navn": "Overskudd fra annen næring",
                            "type": "POST",
                            "kategori": null,
                            "operasjon": "ADDERE",
                            "persontyper": null,
                            "identifikator": "74585691235",
                            "referanse": null,
                            "infotekst": null,
                            "eksempeltekst": null,
                            "kanEndreVisningstekst": null,
                            "beloep": {
                              "nettoBeloep": 5000,
                              "skattefrittBeloep": null
                            },
                            "noder": null
                          }
                        ]
                      }
                    ]
                  }
                ]
              },
              {
                "id": "totaltFradrag",
                "navn": "Totalt fradrag",
                "type": "GRUPPE",
                "kategori": "FRADRAG",
                "operasjon": "SUBTRAHERE",
                "persontyper": null,
                "identifikator": null,
                "referanse": null,
                "infotekst": null,
                "eksempeltekst": null,
                "kanEndreVisningstekst": null,
                "beloep": {
                  "nettoBeloep": 15000,
                  "skattefrittBeloep": null
                },
                "noder": [
                  {
                    "id": "gjeldsrenter",
                    "navn": "Gjeldsrenter",
                    "type": "GRUPPE",
                    "kategori": "FRADRAG",
                    "operasjon": "ADDERE",
                    "persontyper": [
                      "SOEKER"
                    ],
                    "identifikator": null,
                    "referanse": null,
                    "infotekst": null,
                    "eksempeltekst": null,
                    "kanEndreVisningstekst": null,
                    "beloep": {
                      "nettoBeloep": 10000,
                      "skattefrittBeloep": null
                    },
                    "noder": [
                      {
                        "id": "betalteForsinkelsesrenter",
                        "navn": "Betalte forsinkelsesrenter",
                        "type": "POST",
                        "kategori": null,
                        "operasjon": "ADDERE",
                        "persontyper": null,
                        "identifikator": 77087900851,
                        "referanse": null,
                        "infotekst": null,
                        "eksempeltekst": null,
                        "kanEndreVisningstekst": null,
                        "beloep": {
                          "nettoBeloep": 10000,
                          "skattefrittBeloep": null
                        },
                        "noder": null
                      }
                    ]
                  },
                  {
                    "id": "forsorgerfradragPaaroerende",
                    "navn": "Forsørgerfradrag pårørende",
                    "type": "GRUPPE",
                    "kategori": "FRADRAG",
                    "operasjon": "ADDERE",
                    "persontyper": null,
                    "identifikator": null,
                    "referanse": null,
                    "infotekst": null,
                    "eksempeltekst": null,
                    "kanEndreVisningstekst": null,
                    "beloep": {
                      "nettoBeloep": 5000,
                      "skattefrittBeloep": null
                    },
                    "noder": [
                      {
                        "id": "naeringsinntektPaaroerende",
                        "navn": "Næringsinntekt pårørende",
                        "type": "GRUPPE",
                        "kategori": "INNTEKT",
                        "operasjon": "ADDERE",
                        "persontyper": null,
                        "identifikator": null,
                        "referanse": null,
                        "infotekst": null,
                        "eksempeltekst": null,
                        "kanEndreVisningstekst": null,
                        "beloep": {
                          "nettoBeloep": 5000,
                          "skattefrittBeloep": null
                        },
                        "noder": [
                          {
                            "id": "naeringsinntektPaaroerendeInntekt",
                            "navn": "Næringsinntekt overskudd",
                            "type": "GRUPPE",
                            "kategori": "INNTEKT",
                            "operasjon": "ADDERE",
                            "persontyper": [
                              "EKTEFELLE"
                            ],
                            "identifikator": null,
                            "referanse": null,
                            "infotekst": null,
                            "eksempeltekst": null,
                            "kanEndreVisningstekst": null,
                            "beloep": {
                              "nettoBeloep": 5000,
                              "skattefrittBeloep": null
                            },
                            "noder": [
                              {
                                "id": "samletOverskuddAvEnkeltpersonforetakInnenAnnenNaering",
                                "navn": "Overskudd fra annen næring",
                                "type": "POST",
                                "kategori": null,
                                "operasjon": "ADDERE",
                                "persontyper": null,
                                "identifikator": "74585691235",
                                "referanse": null,
                                "infotekst": null,
                                "eksempeltekst": null,
                                "kanEndreVisningstekst": null,
                                "beloep": {
                                  "nettoBeloep": 5000,
                                  "skattefrittBeloep": null
                                },
                                "noder": null
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          },
          "kildedata": [
            {
              "identifikator": "77087900851",
              "summertSkattegrunnlagResponsApiModel": [
                {
                  "id": "alminneligInntektFoerSaerfradrag",
                  "beloep": {
                    "beloep": 5000
                  }
                },
                {
                  "id": "betalteForsinkelsesrenter",
                  "beloep": {
                    "beloep": 10000
                  }
                }
              ]
            },
            {
              "identifikator": "74585691235",
              "summertSkattegrunnlagResponsApiModel": [
                {
                  "id": "alminneligInntektFoerSaerfradrag",
                  "beloep": {
                    "beloep": 5000
                  }
                },
                {
                  "id": "betalteForsinkelsesrenter",
                  "beloep": {
                    "beloep": 10000
                  }
                },
                {
                  "id": "samletOverskuddAvEnkeltpersonforetakInnenAnnenNaering",
                  "beloep": {
                    "beloep": 5000
                  }
                }
              ]
            }
          ],
          "soeketidspunkt": "2024-10-11T12:00:00Z",
          "feilmeldinger": []
        }
      }
    }
  }
}
