{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Samtykke",
    "description" : "Fiks Samtykke Innbygger service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://developers.fiks.ks.no/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://min.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://min.fiks.test.ks.no",
    "description" : "KS Fiks API test host"
  } ],
  "tags" : [ {
    "name" : "samtykke-innbygger",
    "description" : "API for innbyggere for å vise og ta stilling til samtykker"
  } ],
  "paths" : {
    "/samtykke/api/v1/innbygger/{samtykkeId}/aksepterSamtykke" : {
      "post" : {
        "tags" : [ "samtykke-innbygger" ],
        "description" : "Dette endepunktet brukes av innbygger for å akseptere et samtykke. Dette endepunktet er kun tilgjengelig for innbyggere med tilgang til innbyggertjenester.\nMerk at denne handlingen kun kan utføres for et samtykke med status \"Venter på svar\".",
        "operationId" : "aksepterSamtykke",
        "parameters" : [ {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Aksepter samtykke",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Samtykke"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/innbygger/{samtykkeId}/ikkeAksepterSamtykke" : {
      "post" : {
        "tags" : [ "samtykke-innbygger" ],
        "description" : "Dette endepunktet brukes av innbygger for å velge å aktivt ikke akseptere et samtykke. Dette endepunktet er kun tilgjengelig for innbyggere med tilgang til innbyggertjenester.\nMerk at denne handlingen kun kan utføres for et samtykke med status \"Venter på svar\".",
        "operationId" : "avslaaSamtykke",
        "parameters" : [ {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ikke aksepter samtykke",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Samtykke"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/innbygger/{samtykkeId}/hentSamtykke" : {
      "get" : {
        "tags" : [ "samtykke-innbygger" ],
        "description" : "Dette endepunktet brukes for å hente et samtykke. Dette endepunktet er kun tilgjengelig for innbyggere med tilgang til innbyggertjenester.\n",
        "operationId" : "hentSamtykke",
        "parameters" : [ {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter samtykke",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Samtykke"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/innbygger/{dokumentId}/hentSamtykkerForSak" : {
      "get" : {
        "tags" : [ "samtykke-innbygger" ],
        "description" : "Dette endepunktet brukes for å hente samtykker for en sak. Dette endepunktet er kun tilgjengelig for innbyggere med tilgang til innbyggertjenester.\n",
        "operationId" : "hentSamtykkerForSak",
        "parameters" : [ {
          "name" : "dokumentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hentet samtykker for sak",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Samtykker"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/innbygger/{samtykkeId}/trekkSamtykke" : {
      "post" : {
        "tags" : [ "samtykke-innbygger" ],
        "description" : "Dette endepunktet brukes av innbygger for å trekke et samtykke. Dette endepunktet er kun tilgjengelig for innbyggere med tilgang til innbyggertjenester.\nMerk at denne handlingen kun kan utføres for et samtykke med status \"Samtykket\".",
        "operationId" : "trekkSamtykke",
        "parameters" : [ {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Trekk samtykke",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Samtykke"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Dokument" : {
        "required" : [ "filnavn", "lenke", "mimeType", "storrelse", "tittel" ],
        "type" : "object",
        "properties" : {
          "filnavn" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Filnavn for dokumentet"
          },
          "mimeType" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "MimeType for dokumentet"
          },
          "tittel" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Tittel for dokumentet"
          },
          "storrelse" : {
            "type" : "integer",
            "description" : "Størrelse for dokumentet",
            "format" : "int64"
          },
          "lenke" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Lenke til dokumentet"
          }
        },
        "description" : "Data for dokument som beskriver samtykke"
      },
      "Mappe" : {
        "required" : [ "mappeId", "systemId" ],
        "type" : "object",
        "properties" : {
          "mappeId" : {
            "type" : "string",
            "description" : "ID for mappe tilknyttet samtykket"
          },
          "systemId" : {
            "type" : "string",
            "description" : "ID for system tilknyttet samtykket"
          },
          "saksaar" : {
            "type" : "integer",
            "description" : "Saksår tilknyttet samtykket",
            "format" : "int32"
          },
          "sakssekvensnummer" : {
            "type" : "integer",
            "description" : "Sakssekvensnummer tilknyttet samtykket",
            "format" : "int64"
          }
        },
        "description" : "Informasjon om mappe knyttet til samtykket"
      },
      "PersonMedSamtykke" : {
        "required" : [ "navn", "samtykkeSvarStatus" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Navn for person"
          },
          "samtykkeSvarStatus" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Status for samtykke",
            "enum" : [ "VENTER_PAA_SVAR", "SAMTYKKET", "IKKE_SAMTYKKET", "TRUKKET" ]
          },
          "samtykkeSvarDato" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Når samtykke-svar-status sist ble oppdatert",
            "format" : "date"
          }
        },
        "description" : "Andre parter som skal gi samtykke for sak"
      },
      "Samtykke" : {
        "required" : [ "dokument", "fiksOrgId", "harUtlopt", "invalidert", "mappe", "medvirkendePartList", "samtykkeId", "samtykkeNavn", "samtykkeStatus", "samtykkendePart", "svarfrist", "utlopsdato" ],
        "type" : "object",
        "properties" : {
          "samtykkendePart" : {
            "$ref" : "#/components/schemas/PersonMedSamtykke"
          },
          "medvirkendePartList" : {
            "type" : "array",
            "description" : "Andre parter som skal gi samtykke for sak",
            "items" : {
              "$ref" : "#/components/schemas/PersonMedSamtykke"
            }
          },
          "samtykkeId" : {
            "type" : "string",
            "description" : "Id for samtykket",
            "format" : "uuid"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Id for samtykket",
            "format" : "uuid"
          },
          "samtykkeNavn" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Navn på samtykket"
          },
          "samtykkeStatus" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Status på samtykket",
            "enum" : [ "SAMTYKKET", "TRUKKET", "IKKE_SAMTYKKET", "VENTER_PAA_SVAR", "SVARFRIST_PASSERT", "UTLOPT", "INVALIDERT" ]
          },
          "mappe" : {
            "$ref" : "#/components/schemas/Mappe"
          },
          "svarfrist" : {
            "type" : "string",
            "description" : "Dato på ISO-8601 format som forteller signeringsfrist for samtykke",
            "format" : "date"
          },
          "utlopsdato" : {
            "type" : "string",
            "description" : "Dato på ISO-8601 format som forteller når samtykket utløper",
            "format" : "date"
          },
          "harUtlopt" : {
            "type" : "boolean",
            "description" : "Boolsk verdi som forteller om samtykket er utløpt"
          },
          "invalidert" : {
            "type" : "boolean",
            "description" : "Boolsk verdi som forteller om samtykket er invalidert"
          },
          "invalidertBegrunnelse" : {
            "type" : "string",
            "description" : "Begunnelse om hvorfor samtykket er invalidert"
          },
          "dokument" : {
            "$ref" : "#/components/schemas/Dokument"
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "Samtykker" : {
        "type" : "object",
        "properties" : {
          "samtykkerVenter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Samtykke"
            }
          },
          "samtykkerAktiv" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Samtykke"
            }
          },
          "samtykkerUtgaatt" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Samtykke"
            }
          }
        }
      }
    }
  }
}