{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Samtykke",
    "description" : "Fiks Samtykke Intern service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks API test host"
  } ],
  "tags" : [ {
    "name" : "samtykke-intern",
    "description" : "API for å vise og ta stilling til samtykker"
  } ],
  "paths" : {
    "/samtykke-service/api/v1/intern/{fiksOrgId}/giSamtykkePrivilegier" : {
      "post" : {
        "tags" : [ "samtykke-intern" ],
        "description" : "Gir samtykke-privilegier til fiksOrg",
        "operationId" : "aktiverSamtykke",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SamtykkeTilgangRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Henter samtykker for person",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Samtykker"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke-service/api/v1/intern/{fiksOrgId}/giSamtykkeSvar" : {
      "post" : {
        "tags" : [ "samtykke-intern" ],
        "description" : "Gir svar for person på samtykke",
        "operationId" : "giSamtykkeSvar",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SamtykkeSvarRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Gi svar for samtykke"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke-service/api/v1/intern/{fiksOrgId}/hentSamtykkerForSak/{mappeId}" : {
      "get" : {
        "tags" : [ "samtykke-intern" ],
        "description" : "Henter samtykker for person",
        "operationId" : "hentSamtykkerForSak",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "mappeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter samtykker for sak",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Samtykker"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "PersonMedSamtykke" : {
        "required" : [ "navn", "samtykkeStatus" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn for person"
          },
          "samtykkeStatus" : {
            "type" : "string",
            "description" : "Status for samtykke",
            "enum" : [ "IKKE_BESVART", "SAMTYKKE_GITT", "SAMTYKKE_AVSLAATT" ]
          }
        },
        "description" : "Personer som skal gi samtykke for sak"
      },
      "Samtykke" : {
        "required" : [ "akseptfrist", "dokumentId", "mappeId", "personList", "samtykkeId", "sluttDato" ],
        "type" : "object",
        "properties" : {
          "personList" : {
            "type" : "array",
            "description" : "Personer som skal gi samtykke for sak",
            "items" : {
              "$ref" : "#/components/schemas/PersonMedSamtykke"
            }
          },
          "samtykkeId" : {
            "type" : "string",
            "description" : "Saksnummer knyttet til samtykket",
            "format" : "uuid"
          },
          "mappeId" : {
            "type" : "string",
            "description" : "Samtykke-id"
          },
          "akseptfrist" : {
            "type" : "string",
            "description" : "Dato som forteller signeringsfrist for samtykke",
            "format" : "date"
          },
          "sluttDato" : {
            "type" : "string",
            "description" : "Dato som forteller hvor lenge samtykket er gyldig",
            "format" : "date"
          },
          "dokumentId" : {
            "type" : "string",
            "description" : "Id for dokumentet som beskriver samtykke"
          }
        }
      },
      "Samtykker" : {
        "required" : [ "samtykker" ],
        "type" : "object",
        "properties" : {
          "samtykker" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Samtykke"
            }
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "SamtykkeTilgangRequest" : {
        "required" : [ "integrasjonId" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "ID til integrasjon som skal ha privilegie",
            "format" : "uuid"
          }
        }
      },
      "SamtykkeSvarRequest" : {
        "required" : [ "samtykkeId", "samtykkeSvar" ],
        "type" : "object",
        "properties" : {
          "samtykkeId" : {
            "type" : "string",
            "description" : "Saksnummer knyttet til samtykket som skal besvares",
            "format" : "uuid"
          },
          "samtykkeSvar" : {
            "type" : "boolean",
            "description" : "Svaret på samtykket, true=samtykke gitt, false=samtykke avslått"
          }
        }
      }
    }
  }
}