{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Samtykke",
    "description" : "Fiks Samtykke Konfigurasjon service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://forvaltning.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://forvaltning.fiks.test.ks.no",
    "description" : "KS Fiks API test host"
  } ],
  "tags" : [ {
    "name" : "samtykke-konfigurasjon",
    "description" : "API for å konfigurere samtykke-løsningen"
  } ],
  "paths" : {
    "/samtykke/api/v1/konfigurasjon/{fiksOrgId}/giSamtykkePrivilegier" : {
      "post" : {
        "tags" : [ "samtykke-konfigurasjon" ],
        "description" : "Gir samtykke-privilegier til integrasjon",
        "operationId" : "giSamtykkePrivilegierTilIntegrasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SamtykkeTilgangRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Gi samtykke-privilegier til integrasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Samtykker"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/konfigurasjon/{fiksOrgId}/konfigurerSamtykke" : {
      "post" : {
        "tags" : [ "samtykke-konfigurasjon" ],
        "description" : "Initialiserer og konfigurerer samtykke-tjeneste for fiksOrg",
        "operationId" : "initKonfigSamtykke",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SamtykkeTilgangRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Konfigurerer samtykke for fiksOrg",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Samtykker"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/konfigurasjon/{fiksOrgId}/opprettTilgang/{orgNr}" : {
      "post" : {
        "tags" : [ "samtykke-konfigurasjon" ],
        "description" : "Oppretter en integrasjon med konfigurasjonsprivilegiet på tjenesten",
        "operationId" : "opprettTilgang",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "orgNr",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Oppretter integrasjon med riktig tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IntegrasjonTilgang"
                }
              }
            }
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Dokument" : {
        "required" : [ "filnavn", "lenke", "mimeType", "storrelse", "tittel" ],
        "type" : "object",
        "properties" : {
          "filnavn" : {
            "type" : "string",
            "description" : "Filnavn for dokumentet"
          },
          "mimeType" : {
            "type" : "string",
            "description" : "MimeType for dokumentet"
          },
          "tittel" : {
            "type" : "string",
            "description" : "Tittel for dokumentet"
          },
          "storrelse" : {
            "type" : "integer",
            "description" : "Størrelse for dokumentet",
            "format" : "int64"
          },
          "lenke" : {
            "type" : "string",
            "description" : "Lenke til dokumentet"
          }
        },
        "description" : "Data for dokument som beskriver samtykke"
      },
      "Mappe" : {
        "type" : "object",
        "properties" : {
          "mappeId" : {
            "type" : "string"
          },
          "systemId" : {
            "type" : "string"
          },
          "saksaar" : {
            "type" : "integer",
            "format" : "int32"
          },
          "sakssekvensnummer" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "description" : "Informasjon om mappe knyttet til samtykket"
      },
      "PersonMedSamtykke" : {
        "required" : [ "navn", "samtykkeStatus" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn for person"
          },
          "samtykkeStatus" : {
            "type" : "string",
            "description" : "Status for samtykke",
            "enum" : [ "IKKE_BESVART", "SAMTYKKE_GITT", "SAMTYKKE_AVSLAATT" ]
          }
        },
        "description" : "Andre parter som skal gi samtykke for sak"
      },
      "Samtykke" : {
        "required" : [ "akseptfrist", "dokument", "mappe", "medvirkendePartList", "samtykkeId", "samtykkendePart", "sluttDato" ],
        "type" : "object",
        "properties" : {
          "samtykkendePart" : {
            "$ref" : "#/components/schemas/PersonMedSamtykke"
          },
          "medvirkendePartList" : {
            "type" : "array",
            "description" : "Andre parter som skal gi samtykke for sak",
            "items" : {
              "$ref" : "#/components/schemas/PersonMedSamtykke"
            }
          },
          "samtykkeId" : {
            "type" : "string",
            "description" : "Id for samtykket",
            "format" : "uuid"
          },
          "mappe" : {
            "$ref" : "#/components/schemas/Mappe"
          },
          "akseptfrist" : {
            "type" : "string",
            "description" : "Dato Dato på ISO-8601 format som forteller signeringsfrist for samtykke",
            "format" : "date"
          },
          "sluttDato" : {
            "type" : "string",
            "description" : "Dato Dato på ISO-8601 format som forteller hvor lenge samtykket er gyldig",
            "format" : "date"
          },
          "dokument" : {
            "$ref" : "#/components/schemas/Dokument"
          }
        }
      },
      "Samtykker" : {
        "required" : [ "samtykker" ],
        "type" : "object",
        "properties" : {
          "samtykker" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Samtykke"
            }
          }
        }
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "SamtykkeTilgangRequest" : {
        "required" : [ "integrasjonId" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "ID til integrasjon som skal ha privilegie",
            "format" : "uuid"
          }
        }
      },
      "IntegrasjonTilgang" : {
        "required" : [ "integrasjonId", "integrasjonPassord" ],
        "type" : "object",
        "properties" : {
          "integrasjonId" : {
            "type" : "string",
            "description" : "Id til integrasjon",
            "format" : "uuid"
          },
          "integrasjonPassord" : {
            "type" : "string",
            "description" : "Passord til integrasjon"
          }
        }
      }
    }
  }
}