{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Samtykke",
    "description" : "Fiks Samtykke Ekstern service",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://api.fiks.test.ks.no",
    "description" : "KS Fiks API test host"
  } ],
  "tags" : [ {
    "name" : "samtykke-ekstern",
    "description" : "API for å opprette og slette nytt samtykke"
  } ],
  "paths" : {
    "/samtykke/api/v1/ekstern/{fiksOrgId}/aksepterSamtykkeForPart/{samtykkeId}" : {
      "put" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Aksepterer samtykke på vegne av part",
        "operationId" : "aksepterSamtykkeForPart",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AksepterForPartRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Endret samtykke"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/ekstern/{fiksOrgId}/endreSamtykke/{samtykkeId}" : {
      "put" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Endrer samtykke",
        "operationId" : "endreSamtykke",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EndreSamtykkeRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Endret samtykke"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/ekstern/{fiksOrgId}/samtykkeHistorikk/{samtykkeId}" : {
      "get" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Returnerer historikk for samtykke",
        "operationId" : "getSamtykkeHistorikk",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Endret samtykke"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/ekstern/{fiksOrgId}/invaliderSamtykke/{samtykkeId}" : {
      "put" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Invaliderer samtykke",
        "operationId" : "invaliderSamtykke",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "samtykkeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InvaliderSamtykkeRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Slettet samtykke"
          },
          "default" : {
            "description" : "Noe gikk galt.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/samtykke/api/v1/ekstern/{fiksOrgId}/opprettsamtykke" : {
      "post" : {
        "tags" : [ "samtykke-ekstern" ],
        "description" : "Oppretter nytt samtykke",
        "operationId" : "opprettSamtykke",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettSamtykkeRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprettet nytt samtykke"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "AksepterForPartRequest" : {
        "required" : [ "akseptDato", "partFnr", "saksbehandlerId" ],
        "type" : "object",
        "properties" : {
          "partFnr" : {
            "type" : "string",
            "description" : "Fnr til part som gir samtykke"
          },
          "akseptDato" : {
            "type" : "string",
            "description" : "Dato som forteller når part aksepterte",
            "format" : "date"
          },
          "saksbehandlerId" : {
            "type" : "string",
            "description" : "Identifikator til saksbehandler som gir samtykke på vegne av part"
          }
        }
      },
      "EndreSamtykkeRequest" : {
        "required" : [ "akseptfrist", "saksbehandlerId" ],
        "type" : "object",
        "properties" : {
          "akseptfrist" : {
            "type" : "string",
            "description" : "Dato som forteller signeringsfrist for samtykke",
            "format" : "date"
          },
          "sluttDato" : {
            "type" : "string",
            "description" : "Dato som forteller hvor lenge samtykket vil være gyldig",
            "format" : "date"
          },
          "saksbehandlerId" : {
            "type" : "string",
            "description" : "Identifikator til saksbehandler som endrer samtykke"
          }
        }
      },
      "InvaliderSamtykkeRequest" : {
        "required" : [ "saksbehandlerId" ],
        "type" : "object",
        "properties" : {
          "saksbehandlerId" : {
            "type" : "string",
            "description" : "Saksnummer knyttet til samtykket som skal invalideres"
          },
          "begrunnelse" : {
            "type" : "string"
          }
        }
      },
      "OpprettSamtykkeRequest" : {
        "required" : [ "akseptfrist", "mappeId", "personer", "sluttDato" ],
        "type" : "object",
        "properties" : {
          "personer" : {
            "$ref" : "#/components/schemas/Personer"
          },
          "mappeId" : {
            "type" : "string",
            "description" : "Mappe-id knyttet til samtykket"
          },
          "akseptfrist" : {
            "type" : "string",
            "description" : "Dato som forteller signeringsfrist for samtykke",
            "format" : "date"
          },
          "sluttDato" : {
            "type" : "string",
            "description" : "Dato som forteller hvor lenge samtykket vil være gyldig",
            "format" : "date"
          }
        }
      },
      "Person" : {
        "required" : [ "fnr", "navn" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Personnummer for person"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn for person"
          }
        }
      },
      "Personer" : {
        "type" : "object",
        "properties" : {
          "personer" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Person"
            }
          }
        },
        "description" : "Personer som skal gi samtykke for sak"
      }
    }
  }
}