{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Fiks Melding: Send brev service",
    "description": "Send brev service",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Filer",
      "description": "API for bruk av Send brev - filer"
    },
    {
      "name": "Kontoer",
      "description": "API for bruk av Send brev - kontoer"
    },
    {
      "name": "Utsendelser",
      "description": "API for Send brev - utsendelser"
    },
    {
      "name": "Oppslag",
      "description": "API for Send brev - Oppslag mot folkeregister eller Brreg"
    },
    {
      "name": "Forsendelsestyper",
      "description": "API for Send brev - Hent forsendelsestyper"
    },
    {
      "name": "Mottakere",
      "description": "API for Send brev - Mottakere"
    }
  ],
  "paths": {
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/filer/{filId}": {
      "get": {
        "tags": [
          "Filer"
        ],
        "description": "Henter enkel utsendelseFil knyttet til utsendelse",
        "summary": "Henter enkel utsendelseFil knyttet til utsendelse",
        "operationId": "hentUtsendelseFil",
        "parameters": [
          {
            "$ref": "#/components/parameters/FilId"
          },
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "200": {
            "description": "Utsendelsefil for utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtsendelseFil"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "Filer"
        ],
        "description": "Slette utsendelse fil",
        "summary": "Slette utsendelse fil",
        "operationId": "slettUtsendelseFil",
        "parameters": [
          {
            "$ref": "#/components/parameters/FilId"
          },
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "204": {
            "description": "Slette dokument for utsendelse"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/filer/{filId}/preview-pdf": {
      "get": {
        "tags": [
          "Filer"
        ],
        "description": "Laster ned en pdf for forhandsvisning knyttet til utsendelse",
        "summary": "Laster ned en pdf knyttet til utsendelse",
        "operationId": "forhandsvisPdfFil",
        "parameters": [
          {
            "$ref": "#/components/parameters/FilId"
          },
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "200": {
            "description": "Utsendelsefil for utsendelse",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/filer/{filId}/download": {
      "get": {
        "tags": [
          "Filer"
        ],
        "description": "Laster ned en fil knyttet til utsendelse",
        "summary": "Laster ned en fil knyttet til utsendelse",
        "operationId": "downloadUtsendelseFil",
        "parameters": [
          {
            "$ref": "#/components/parameters/FilId"
          },
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "200": {
            "description": "Utsendelsefil for utsendelse",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/filer/opplastingsstatus": {
      "get": {
        "tags": [
          "Filer"
        ],
        "description": "Henter status på opplasting av filer for utsendelse",
        "summary": "Henter status på opplasting av filer for utsendelse",
        "operationId": "hentFilopplastingsstatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/KontoId"
          },
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          }
        ],
        "responses": {
          "200": {
            "description": "Status på filopplasting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilopplastingsstatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/filer": {
      "get": {
        "tags": [
          "Filer"
        ],
        "description": "Henter ut en liste med utsendelseFiler koblet mot autorisert bruker",
        "summary": "Henter ut en liste med utsendelseFiler koblet mot autorisert bruker",
        "operationId": "hentUtsendelseFiler",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "200": {
            "description": "Metadata for utsendelsens filer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtsendelseFiler"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "post": {
        "tags": [
          "Filer"
        ],
        "description": "Laste opp utsendelseFiler",
        "summary": "Laste opp utsendelseFiler",
        "operationId": "lastOppFiler",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          },
          {
            "name": "filbehandlingsmetode",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Filbehandlingsmetode"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Last opp filer"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "Filer"
        ],
        "description": "Slett alle filer for en utsendelse",
        "summary": "Slett alle filer",
        "operationId": "slettFiler",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "204": {
            "description": "Slettet filer"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}": {
      "get": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Hent utsendelse",
        "summary": "Hent utsendelse",
        "operationId": "hentUtsendelse",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "200": {
            "description": "Utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Utsendelse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "Ingen utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "patch": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Oppdater Utsendelse",
        "operationId": "oppdaterUtsendelse",
        "summary": "Oppdater Utsendelse",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterUtsendelseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Utsendelse oppdatert"
          },
          "400": {
            "description": "Ugyldig data for opprettelse av utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Slett utsendelse av type utkast",
        "summary": "Slett utsendelse",
        "operationId": "slettUtsendelse",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "204": {
            "description": "Slettet utsendelse"
          },
          "400": {
            "description": "Ugyldig utsendelsesType for sletting av utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "Ingen utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/preview": {
      "get": {
        "tags": [
          "Filer"
        ],
        "description": "Genererer preview av brev",
        "summary": "Genererer pdf preview",
        "operationId": "genererPdfPreview",
        "parameters": [
          {
            "$ref": "#/components/parameters/KontoId"
          },
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          }
        ],
        "responses": {
          "200": {
            "description": "Generer pdf preview",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Oppretter ny utsendelse",
        "summary": "Oppretter ny utsendelse",
        "operationId": "opprettUtsendelse",
        "parameters": [
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "201": {
            "description": "Opprettet ny utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpprettetUtsendelse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig data for opprettelse av utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "get": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Hent utsendelser tilknyttet en konto",
        "summary": "Hent utsendelser",
        "operationId": "hentUtsendelser",
        "parameters": [
          {
            "$ref": "#/components/parameters/KontoId"
          },
          {
            "name": "utsendelseType",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Spesifiserer hvilken type utsendelse som skal hentes. ",
              "enum": [
                "UTKAST",
                "SENDT"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Sidenummer"
          },
          {
            "name": "antallPerSide",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "default": 20,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "utsendelser",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Utsendelser"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/opplastingsmetoder/{mottakerOpplastingsmetode}": {
      "put": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Setter opplastingsmetode for mottakere for utsendelsen",
        "summary": "Setter opplastingsmetode for utsendelsen",
        "operationId": "settMottakerOpplastingsmetode",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          },
          {
            "name": "mottakerOpplastingsmetode",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MottakerOpplastingsmetode"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Endret opplastingsmetode for mottaker"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/filbehandlingsmetode/{filbehandlingsmetode}": {
      "put": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Setter filbehandlingsmetode for utsendelsen og sletter mottakere og filer som eksisterer fra før",
        "summary": "Setter filbehandlingsmetode for utsendelsen",
        "operationId": "settFilbehandlingsmetode",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          },
          {
            "name": "filbehandlingsmetode",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Filbehandlingsmetode"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Endret filbehandlingsmetode for mottaker"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/mottakere": {
      "post": {
        "tags": [
          "Mottakere"
        ],
        "description": "Opprett mottaker",
        "summary": "Opprett mottaker",
        "operationId": "opprettMottaker",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MottakerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Opprett mottaker"
          },
          "400": {
            "description": "Ugyldig data for opprettelse av mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "Mottakere"
        ],
        "description": "Slett alle mottakere knyttet mot utsendelsesId",
        "summary": "Slett alle mottakere",
        "operationId": "slettMottakere",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "204": {
            "description": "Slettet alle mottakere"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/mottakere/sok": {
      "post": {
        "tags": [
          "Mottakere"
        ],
        "description": "Finner mottakere for utsendelsen basert på søkekriterier",
        "summary": "Finner mottakere for utsendelsen",
        "operationId": "finnMottakere",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          },
          {
            "$ref": "#/components/parameters/Sidenummer"
          },
          {
            "name": "antallPerSide",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MottakerSokRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Treff på søk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MottakerSokResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/forsendelser": {
      "get": {
        "tags": [
          "Forsendelser"
        ],
        "description": "Henter forsendelser for utsendelse",
        "summary": "Henter forsendelser for utsendelse",
        "operationId": "hentForsendelser",
        "parameters": [
          {
            "$ref": "#/components/parameters/KontoId"
          },
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "name": "sidenummer",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "antallPerSide",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "kunMedFeil",
            "description": "Dersom denne settes til true vil kun forsendelser med feil returneres",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Treff på søk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forsendelser"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/mottakere/slett-bulk": {
      "post": {
        "tags": [
          "Mottakere"
        ],
        "description": "Sletter mottakere basert på id eller valideringsfeil",
        "summary": "Sletter mottakere basert på id eller valideringsfeil",
        "operationId": "slettMottakereBulk",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlettMottakereBulkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Slettet mottakere"
          },
          "400": {
            "description": "Ugyldig data for sletting av mottakere",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/mottakere/xls": {
      "post": {
        "tags": [
          "Mottakere"
        ],
        "description": "Henter XLS med mottakere som er lagt til utsendelse",
        "summary": "Henter XLS med mottakere som er lagt til utsendelse",
        "operationId": "hentMottakereXls",
        "parameters": [
          {
            "$ref": "#/components/parameters/KontoId"
          },
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MottakereXlsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "XLS med mottakere på utsendelse",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/xlsmal": {
      "get": {
        "tags": [
          "Mottakere"
        ],
        "description": "Henter XLS mal for mottakere",
        "summary": "Henter XLS mal for mottakere",
        "operationId": "hentMottakerXlsMal",
        "parameters": [
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "200": {
            "description": "Hent mottaker xls mal",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/xlsmal/mottakere": {
      "post": {
        "tags": [
          "Mottakere"
        ],
        "description": "Laster opp mottakere fra XLS mal",
        "summary": "Laster opp mottakere fra XLS mal",
        "operationId": "lastOppMottakerFraXls",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "200": {
            "description": "Mottakere registrert"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/mottakere/{mottakerId}": {
      "put": {
        "tags": [
          "Mottakere"
        ],
        "description": "Oppdater mottaker",
        "summary": "Oppdater mottaker",
        "operationId": "oppdaterMottaker",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "name": "mottakerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MottakerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Oppdater mottaker"
          },
          "400": {
            "description": "Ugyldig data for oppdatering av mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "Mottakere"
        ],
        "description": "Slette mottaker",
        "summary": "Slette mottaker",
        "operationId": "sletteMottaker",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "name": "mottakerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "204": {
            "description": "Slette mottaker"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "Ingen mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/fremdrift": {
      "get": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Henter fremdrift for utsendelse",
        "summary": "Henter fremdrift for startet utsendelse",
        "operationId": "hentFremdrift",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "200": {
            "description": "Hent fremdrift for utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtsendelseFremdrift"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/start": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Starter utsendelse",
        "summary": "Starter utsendelse",
        "operationId": "startUtsendelse",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "204": {
            "description": "Start utsendelse"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelser/{utsendelsesId}/stopp": {
      "post": {
        "tags": [
          "Utsendelser"
        ],
        "description": "Stopper utsendelse",
        "summary": "Stopper utsendelse",
        "operationId": "stoppUtsendelse",
        "parameters": [
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          },
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "204": {
            "description": "Stopp utsendelse"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/utsendelse/{utsendelsesId}/oppslag": {
      "post": {
        "tags": [
          "Oppslag"
        ],
        "description": "Oppslag på person mot folkeregister/kontaktregisteret eller på organisasjon mot Brreg",
        "summary": "Oppslag basert på fødselsnummer eller organisasjon",
        "operationId": "oppslag",
        "parameters": [
          {
            "$ref": "#/components/parameters/KontoId"
          },
          {
            "$ref": "#/components/parameters/UtsendelsesId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppslagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Mottaker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OppslagResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}/organisasjonsnummer/{organisasjonsnummer}": {
      "get": {
        "tags": [
          "Oppslag"
        ],
        "description": "Oppslag på organisasjon mot Brreg",
        "summary": "Oppslag basert på organisasjonsnummer",
        "operationId": "orgnummerOppslag",
        "parameters": [
          {
            "$ref": "#/components/parameters/KontoId"
          },
          {
            "name": "organisasjonsnummer",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Organisasjonsnummer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Adresseinformajson knyttet til organisasjon hentet fra Brreg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganisasjonsnummerOppslag"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/forsendelsestyper": {
      "get": {
        "tags": [
          "Forsendelsestyper"
        ],
        "description": "Henter forsendelsestyper",
        "summary": "Henter forsendelsestyper",
        "operationId": "hentForsendelsestyper",
        "responses": {
          "200": {
            "description": "Hent forsendelsestyper",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forsendelsestyper"
                }
              }
            }
          },
          "404": {
            "description": "Ingen forsendelsestyper",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer": {
      "get": {
        "tags": [
          "Kontoer"
        ],
        "description": "Henter alle kontoer innlogget bruker har tilgang til",
        "summary": "Hent kontoer",
        "operationId": "hentKontoer",
        "responses": {
          "200": {
            "description": "Kontoer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KontoTilgang"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/send-brev/api/v1/kontoer/{kontoId}": {
      "get": {
        "tags": [
          "Kontoer"
        ],
        "description": "Henter utfyllende informasjon om en konto innlogget bruker har tilgang til",
        "summary": "Hent konto",
        "operationId": "hentKonto",
        "parameters": [
          {
            "$ref": "#/components/parameters/KontoId"
          }
        ],
        "responses": {
          "200": {
            "description": "Konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Konto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Sidenummer": {
        "name": "sidenummer",
        "in": "query",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "default": 0
        }
      },
      "KontoId": {
        "name": "kontoId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "UtsendelsesId": {
        "name": "utsendelsesId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "FilId": {
        "name": "filId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "Error400": {
        "description": "Ugyldig forespørsel",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error401": {
        "description": "Ingen tilgang",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error403": {
        "description": "Ingen tilgang",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error500": {
        "description": "Systemfeil",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      }
    },
    "schemas": {
      "MottakerOpplastingsmetode": {
        "type": "string",
        "description": "Hvilken opplastingsmetode som er valgt for mottakere",
        "enum": [
          "XLS",
          "MANUELL",
          "FERDIG_ADRESSERT",
          "IKKE_VALGT"
        ]
      },
      "Filbehandlingsmetode": {
        "type": "string",
        "description": "Hvilken behandlingsmetode er valgt for opplasting av fil",
        "enum": [
          "ALLE_TIL_ALLE",
          "ETT_TIL_HVER",
          "FERDIG_ADRESSERT",
          "IKKE_VALGT"
        ]
      },
      "FilopplastingsstatusResponse": {
        "type": "object",
        "description": "Status for filopplasting",
        "required": [
          "antallFiler",
          "status"
        ],
        "properties": {
          "antallFiler": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "$ref": "#/components/schemas/Filopplastingsstatus"
          },
          "errorMessage": {
            "type": "string",
            "description": "Feilmelding dersom filopplastingen har feilet"
          }
        }
      },
      "Filopplastingsstatus": {
        "type": "string",
        "description": "Statustyper for filopplasting",
        "enum": [
          "IKKE_STARTET",
          "UNDER_BEHANDLING",
          "FERDIG",
          "FEILET"
        ]
      },
      "Steg": {
        "type": "string",
        "description": "Steg i stepper",
        "enum": [
          "START",
          "AVSENDER_OG_SVAR",
          "BREVET",
          "MOTTAKERE",
          "AVANSERTE_VALG",
          "KONTROLLER_OG_SEND",
          "IKKE_VALGT"
        ]
      },
      "Utsendelsesmetode": {
        "type": "string",
        "description": "Hvordan brevet skal sendes",
        "enum": [
          "STANDARD",
          "KUN_DIGITAL",
          "KUN_PRINT"
        ]
      },
      "GiroarkKonfigurasjon": {
        "required": [
          "sidetall"
        ],
        "type": "object",
        "description": "Konfigurasjon for Giroark. For filbehandlingsmetode ALLE_TIL_ALLE må tilknyttetFil vere lagt ved, for giroark kan kun knyttes til et dokument pr forsendelse mot SvarUt",
        "properties": {
          "sidetall": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "description": "Sidetall giroarket er plassert på i PDF (dokument med giroark må vere en PDF)"
          },
          "tilknyttetFil": {
            "$ref": "#/components/schemas/TilknyttetFil"
          }
        }
      },
      "MottakerStatistikk": {
        "type": "object",
        "required": [
          "sendtSvarut",
          "totalt",
          "klarteIkkeSende",
          "avvistAvSvarut",
          "ikkeSendt",
          "personer",
          "organisasjoner",
          "udefinert"
        ],
        "description": "Statistikk for mottakere som er under utsendelse",
        "properties": {
          "totalt": {
            "type": "integer",
            "description": "Antall mottakere totalt",
            "format": "int32"
          },
          "sendtSvarut": {
            "type": "integer",
            "description": "Antall mottakere sendt",
            "format": "int32"
          },
          "klarteIkkeSende": {
            "type": "integer",
            "description": "Antall mottakere feilet - disse kan forsøkes på nytt og kommer av 500-feil mot Svarut, men kun om utsendelsen ikke er stoppet manuelt.",
            "format": "int32"
          },
          "avvistAvSvarut": {
            "type": "integer",
            "description": "Antall mottakere som er blitt avvist mot Svarut.",
            "format": "int32"
          },
          "ikkeSendt": {
            "type": "integer",
            "description": "Antall mottakere som ikke er sendt til enda. Om utsendelsen er stoppet vil disse aldri motta brevet.",
            "format": "int32"
          },
          "personer": {
            "type": "integer",
            "description": "Antall mottakere på utsendelsen som er personer, dvs mottakere som er lagt til med fødselsnummer.",
            "format": "int32"
          },
          "organisasjoner": {
            "type": "integer",
            "description": "Antall mottakere på utsendelsen som er organisasjoner, dvs mottakere som er lagt til med organisasjonsnummer.",
            "format": "int32"
          },
          "udefinert": {
            "type": "integer",
            "description": "Antall mottakere på utsendelsen som er udefinert, dvs mottakere som er lagt til uten fødselsnummer eller organisasjonsnummer.",
            "format": "int32"
          }
        }
      },
      "UtsendelseStatusType": {
        "type": "string",
        "description": "Utsendelse status. Utsendelser med status FEIL indikerer at noe har gått galt med noen av forsendelsene. ",
        "enum": [
          "UNDER_ARBEID",
          "STARTET",
          "STOPPET",
          "FERDIG",
          "FERDIG_MED_FEIL",
          "FEIL"
        ]
      },
      "XLSMottakertype": {
        "type": "string",
        "description": "Mottakertype som skal hentes ut i XLS-fil.",
        "enum": [
          "ALLE",
          "FEIL",
          "KAN_IKKE_LEVERE_DIGITALT",
          "PERSON_ER_DOED"
        ]
      },
      "UtsendelseFil": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "filnavn": {
            "$ref": "#/components/schemas/Filnavn"
          },
          "storrelse": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "contentType": {
            "$ref": "#/components/schemas/ContentType"
          },
          "antallSider": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      },
      "UtsendelseFiler": {
        "type": "object",
        "properties": {
          "filer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UtsendelseFil"
            },
            "description": "Liste med metadata for filene. Vil være tom dersom ingen filer har blitt lastet opp, eller de har blitt slettet."
          },
          "antallFiler": {
            "type": "integer",
            "format": "int32",
            "description": "Antall filer på utsendelsen. Vil også være satt etter filene har blitt slettet."
          },
          "slettet": {
            "type": "boolean",
            "description": "Indikerer om filene har blitt slettet."
          }
        }
      },
      "SlettMottakereBulkRequest": {
        "type": "object",
        "properties": {
          "mottakere": {
            "type": "array",
            "description": "Liste med id'er til mottakere som skal slettes fra utsendelse",
            "minItems": 0,
            "items": {
              "type": "string",
              "description": "Id til mottaker",
              "format": "uuid"
            }
          },
          "valideringsfeil": {
            "type": "array",
            "description": "Liste over valideringsfeil. Sletter mottakere som har alle valideringsfeil i listen.",
            "minItems": 0,
            "items": {
              "$ref": "#/components/schemas/MottakerValideringsfeil"
            }
          }
        }
      },
      "Mottakere": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Mottaker"
        }
      },
      "Mottaker": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "fodselsnummer": {
            "$ref": "#/components/schemas/Fodselsnummer"
          },
          "organisasjonsnummer": {
            "$ref": "#/components/schemas/Organisasjonsnummer"
          },
          "postadresse": {
            "$ref": "#/components/schemas/Postadresse"
          },
          "valideringsstatuser": {
            "type": "array",
            "description": "Liste over valideringsstatuser på mottaker",
            "items": {
              "$ref": "#/components/schemas/MottakerValideringsstatus"
            }
          },
          "valideringsfeil": {
            "type": "array",
            "description": "Liste over valideringsfeil på mottaker",
            "items": {
              "$ref": "#/components/schemas/MottakerValideringsfeil"
            }
          },
          "valideringsadvarsler": {
            "type": "array",
            "description": "Liste over valideringsadvarsler på mottaker",
            "items": {
              "$ref": "#/components/schemas/MottakerValideringsadvarsler"
            }
          },
          "tittel": {
            "$ref": "#/components/schemas/Tittel",
            "description": "Tittel på brevet som denne mottaker skal ha, vil overskrive tittel knyttet mot utsendelsen."
          },
          "tilknyttetFil": {
            "$ref": "#/components/schemas/TilknyttetFilRespons"
          }
        },
        "description": "Mottaker som er lagt til utsendelse",
        "required": [
          "id",
          "postadresse"
        ]
      },
      "Forsendelse": {
        "type": "object",
        "properties": {
          "forsendelsesId": {
            "type": "string",
            "format": "uuid"
          },
          "fodselsnummer": {
            "$ref": "#/components/schemas/Fodselsnummer"
          },
          "organisasjonsnummer": {
            "$ref": "#/components/schemas/Organisasjonsnummer"
          },
          "postadresse": {
            "$ref": "#/components/schemas/Postadresse"
          },
          "status": {
            "$ref": "#/components/schemas/ForsendelseStatus"
          },
          "feilmelding": {
            "type": "string",
            "description": "Feilmelding som kommer fra SvarUt"
          }
        },
        "description": "Forsendelse som tilhører utsendelse",
        "required": [
          "postadresse",
          "status"
        ]
      },
      "OppslagResponse": {
        "type": "object",
        "properties": {
          "fodselsnummer": {
            "$ref": "#/components/schemas/Fodselsnummer"
          },
          "organisasjonsnummer": {
            "$ref": "#/components/schemas/Organisasjonsnummer"
          },
          "postadresse": {
            "$ref": "#/components/schemas/OppslagPostadresse"
          },
          "status": {
            "type": "string",
            "description": "Status på oppslag",
            "enum": [
              "FUNNET",
              "IKKE_FUNNET",
              "UGYLDIG_IDENTIFIKATOR",
              "PERSON_ER_DOED",
              "DUPLIKAT",
              "KAN_IKKE_LEVERE_DIGITALT"
            ]
          }
        },
        "description": "Informasjon om mottaker hentet fra enhetsregisteret eller folkeregisteret"
      },
      "OrganisasjonsnummerOppslag": {
        "type": "object",
        "properties": {
          "organisasjonsnummer": {
            "$ref": "#/components/schemas/Organisasjonsnummer"
          },
          "postadresse": {
            "$ref": "#/components/schemas/OppslagPostadresse"
          },
          "status": {
            "type": "string",
            "description": "Status på oppslag",
            "enum": [
              "FUNNET",
              "IKKE_FUNNET",
              "UGYLDIG_IDENTIFIKATOR"
            ]
          }
        },
        "description": "Informasjon om organisasjon hentet fra enhetsregisteret"
      },
      "Utsendelser": {
        "required": [
          "sidenummer",
          "antallPerSide",
          "totaltAntallTreff",
          "antallTreff",
          "treff"
        ],
        "type": "object",
        "properties": {
          "sidenummer": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert sidenummer"
          },
          "antallPerSide": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert antall treff per side"
          },
          "totaltAntallTreff": {
            "type": "integer",
            "format": "int32",
            "description": "Det totale antallet treff uten paginering"
          },
          "antallTreff": {
            "type": "integer",
            "format": "int32",
            "description": "Antall treff på denne siden"
          },
          "treff": {
            "type": "array",
            "description": "Utsendelsene som samsvarer ",
            "items": {
              "$ref": "#/components/schemas/UtsendelseSok"
            }
          }
        },
        "description": "Modell med søketreff for mottakere"
      },
      "Utsendelse": {
        "required": [
          "konto",
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "UtsendelsesID",
            "format": "uuid"
          },
          "kontoId": {
            "type": "string",
            "description": "KontoId",
            "format": "uuid"
          },
          "tittel": {
            "$ref": "#/components/schemas/Tittel"
          },
          "printKonfigurasjon": {
            "$ref": "#/components/schemas/Printkonfigurasjon"
          },
          "egendefinertReturAdresse": {
            "$ref": "#/components/schemas/ReturAdresse"
          },
          "brukEgendefinertReturAdresse": {
            "type": "boolean",
            "description": "Bruk egendefinert returadresse"
          },
          "kanSvarePaaUtsendelse": {
            "type": "boolean"
          },
          "opprettetDato": {
            "type": "string",
            "description": "Dato for opprettelse av utsendelse",
            "format": "date-time"
          },
          "startetDato": {
            "type": "string",
            "description": "Dato for når utsendelse vart startet",
            "format": "date-time"
          },
          "ferdigDato": {
            "type": "string",
            "description": "Dato for når utsendelse vart ferdigstilt",
            "format": "date-time"
          },
          "sistEndretDato": {
            "type": "string",
            "description": "Dato for når utsendelse vart sist endret",
            "format": "date-time"
          },
          "fletteUtsendelse": {
            "type": "boolean",
            "description": "Fletteutsendelse"
          },
          "signeringsoppdrag": {
            "$ref": "#/components/schemas/Signeringsoppdrag"
          },
          "krevNiva4Innlogging": {
            "type": "boolean"
          },
          "taushetsbelagtPost": {
            "type": "boolean",
            "description": "Dersom satt til true, blir utsendelsen sendt som taushetsbelagt post til alle organisasjoner i mottakerlisten"
          },
          "konteringskode": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-.øæåØÆÅ]{0,20}$",
            "description": "Konteringskoden identifiser hvilken intern faktureringskonto utsendelsen skal knyttes til."
          },
          "forsendelsestype": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Oppgir hvilken type forsendelse dette er, og blir brukt til fordeling av forsendelser til forskjellige SvarInn mottakersystem. Denne må vere satt til en av de predefinerte forsendelsestypene som man finner som et valg på SvarInn mottakersystem."
          },
          "mottakerOpplastingsmetode": {
            "$ref": "#/components/schemas/MottakerOpplastingsmetode"
          },
          "filbehandlingsmetode": {
            "$ref": "#/components/schemas/Filbehandlingsmetode"
          },
          "sisteGyldigeSteg": {
            "$ref": "#/components/schemas/Steg"
          },
          "status": {
            "$ref": "#/components/schemas/UtsendelseStatusType"
          },
          "opprettetAv": {
            "type": "string",
            "description": "Bruker som opprettet utsendelsen"
          },
          "sendtAv": {
            "type": "string",
            "description": "Bruker som startet utsendelsen"
          },
          "giroarkKonfigurasjon": {
            "$ref": "#/components/schemas/GiroarkKonfigurasjon"
          },
          "utsendelsesmetode": {
            "$ref": "#/components/schemas/Utsendelsesmetode"
          },
          "mottakerStatistikk": {
            "$ref": "#/components/schemas/MottakerStatistikk"
          },
          "mottakereSlettet": {
            "type": "boolean"
          },
          "filerSlettet": {
            "type": "boolean"
          },
          "adresserteBrevKonfigurasjon": {
            "$ref": "#/components/schemas/AdresserteBrevKonfigurasjon"
          }
        }
      },
      "UtsendelseSok": {
        "required": [
          "konto",
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "UtsendelsesID",
            "format": "uuid"
          },
          "kontoId": {
            "type": "string",
            "description": "KontoId",
            "format": "uuid"
          },
          "tittel": {
            "$ref": "#/components/schemas/Tittel"
          },
          "opprettetDato": {
            "type": "string",
            "description": "Dato for opprettelse av utsendelse",
            "format": "date-time"
          },
          "startetDato": {
            "type": "string",
            "description": "Dato for når utsendelse vart startet",
            "format": "date-time"
          },
          "ferdigDato": {
            "type": "string",
            "description": "Dato for når utsendelse vart ferdigstilt",
            "format": "date-time"
          },
          "sistEndretDato": {
            "type": "string",
            "description": "Dato for når utsendelse vart sist endret",
            "format": "date-time"
          },
          "status": {
            "$ref": "#/components/schemas/UtsendelseStatusType"
          },
          "antallMottakere": {
            "type": "integer",
            "description": "Antall mottakere",
            "format": "int32"
          },
          "opprettetAv": {
            "type": "string",
            "description": "Bruker som opprettet utsendelsen"
          },
          "sendtAv": {
            "type": "string",
            "description": "Bruker som startet utsendelsen"
          }
        }
      },
      "OpprettetUtsendelse": {
        "required": [
          "id",
          "kontoId",
          "opprettetDato"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID for opprettet utsendelse",
            "format": "uuid"
          },
          "kontoId": {
            "type": "string",
            "description": "ID til kontoen utsendelsen tilhører",
            "format": "uuid"
          },
          "opprettetDato": {
            "type": "string",
            "description": "Dato for opprettelse",
            "format": "date-time"
          }
        }
      },
      "Printkonfigurasjon": {
        "type": "object",
        "required": [
          "tosidig"
        ],
        "properties": {
          "tosidig": {
            "type": "boolean",
            "description": "Om det skal printes på begge sidene av arket"
          }
        },
        "description": "Print konfigurasjon"
      },
      "Signeringsoppdrag": {
        "required": [
          "type",
          "utlopsDato"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "AUTENTISERT_SIGNATUR",
              "AVANSERT_SIGNATUR"
            ]
          },
          "utlopsDato": {
            "type": "string",
            "description": "Må være satt minst en dag frem i tid",
            "format": "date"
          },
          "tilknyttetFil": {
            "$ref": "#/components/schemas/TilknyttetFil"
          }
        }
      },
      "TilknyttetFilRespons": {
        "required": [
          "filnavn"
        ],
        "type": "object",
        "description": "Objekt for å holde tilknyttet Fil. Brukes i mottaker som returneres, da en ikkje kan garantere id til fil for opplasting av excel.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Id til tilknyttet fil"
          },
          "filnavn": {
            "$ref": "#/components/schemas/Filnavn"
          },
          "contentType": {
            "$ref": "#/components/schemas/ContentType"
          }
        }
      },
      "TilknyttetFil": {
        "required": [
          "id",
          "filnavn"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Id til tilknyttet fil"
          },
          "filnavn": {
            "$ref": "#/components/schemas/Filnavn"
          }
        }
      },
      "ReturAdresse": {
        "required": [
          "postadresse"
        ],
        "type": "object",
        "properties": {
          "organisasjonsnummer": {
            "type": "string",
            "description": "Organisasjons nummer. Uten organisasjonsnummer kan svar bare sendes med fysisk post."
          },
          "postadresse": {
            "$ref": "#/components/schemas/Postadresse"
          }
        },
        "description": "Fysisk og digital retur adresse for en utsendelse. Postadressen er påkrevd og blir skrevet i brevet. Organisasjonsnummer gjør at det er mulig å svare med eDialog."
      },
      "Postadresse": {
        "required": [
          "navn"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "adresselinje1": {
            "$ref": "#/components/schemas/Adresselinje"
          },
          "adresselinje2": {
            "$ref": "#/components/schemas/Adresselinje"
          },
          "adresselinje3": {
            "$ref": "#/components/schemas/Adresselinje"
          },
          "postnummer": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20
          },
          "poststed": {
            "type": "string",
            "minLength": 1,
            "maxLength": 70
          },
          "land": {
            "type": "string"
          }
        },
        "description": "En adresse for fysisk post. Inkluderer land og opp til tre adresselinjer for å støtte C/O, postboks og adresser utenfor Norge"
      },
      "OppslagPostadresse": {
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "adresselinje1": {
            "$ref": "#/components/schemas/Adresselinje"
          },
          "adresselinje2": {
            "$ref": "#/components/schemas/Adresselinje"
          },
          "adresselinje3": {
            "$ref": "#/components/schemas/Adresselinje"
          },
          "postnummer": {
            "type": "string"
          },
          "poststed": {
            "type": "string"
          },
          "land": {
            "type": "string"
          }
        },
        "description": "En postadresse som er hentet fra oppslag mot folkeregister eller Brreg."
      },
      "UtsendelseFremdrift": {
        "required": [
          "fremdriftsrate",
          "id",
          "mottakerStatistikk",
          "status"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Utsendelse ID",
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/UtsendelseStatusType"
          },
          "mottakerStatistikk": {
            "$ref": "#/components/schemas/MottakerStatistikk"
          },
          "fremdriftsrate": {
            "type": "number",
            "description": "Fremdriftsrate for utsendelsen",
            "format": "double"
          }
        }
      },
      "OppdaterUtsendelseRequest": {
        "type": "object",
        "nullable": false,
        "properties": {
          "tittel": {
            "$ref": "#/components/schemas/Tittel"
          },
          "printKonfigurasjon": {
            "$ref": "#/components/schemas/Printkonfigurasjon"
          },
          "egendefinertReturAdresse": {
            "$ref": "#/components/schemas/ReturAdresse"
          },
          "brukEgendefinertReturAdresse": {
            "type": "boolean",
            "description": "Bruk egendefinert returadresse"
          },
          "kanSvarePaaUtsendelse": {
            "type": "boolean"
          },
          "fletteUtsendelse": {
            "type": "boolean",
            "description": "Fletteutsendelse"
          },
          "signeringsoppdrag": {
            "$ref": "#/components/schemas/Signeringsoppdrag"
          },
          "krevNiva4Innlogging": {
            "type": "boolean"
          },
          "taushetsbelagtPost": {
            "type": "boolean",
            "description": "Dersom satt til true, blir utsendelsen sendt som taushetsbelagt post til alle organisasjoner i mottakerlisten"
          },
          "konteringskode": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-.øæåØÆÅ]{0,20}$",
            "description": "Konteringskoden identifiser hvilken intern faktureringskonto utsendelsen skal knyttes til."
          },
          "forsendelsestype": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "utsendelsesmetode": {
            "$ref": "#/components/schemas/Utsendelsesmetode"
          },
          "giroarkKonfigurasjon": {
            "$ref": "#/components/schemas/GiroarkKonfigurasjon"
          },
          "sisteGyldigeSteg": {
            "$ref": "#/components/schemas/Steg"
          }
        }
      },
      "MottakerRequest": {
        "required": [
          "postadresse"
        ],
        "type": "object",
        "properties": {
          "organisasjonsnummer": {
            "$ref": "#/components/schemas/Organisasjonsnummer"
          },
          "fodselsnummer": {
            "$ref": "#/components/schemas/Fodselsnummer"
          },
          "tittel": {
            "$ref": "#/components/schemas/Tittel"
          },
          "tilknyttetFil": {
            "$ref": "#/components/schemas/TilknyttetFil"
          },
          "postadresse": {
            "$ref": "#/components/schemas/Postadresse"
          }
        },
        "description": "Modell for å opprette eller endre mottaker tilknyttet utsendelse"
      },
      "MottakereXlsRequest": {
        "type": "object",
        "properties": {
          "typeMottakere": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XLSMottakertype"
            },
            "description": "Liste med mottakertyper man baserer henting av mottakere på for XLS-fil."
          },
          "visValideringsFeil": {
            "type": "boolean"
          },
          "visSendtStatus": {
            "type": "boolean"
          }
        }
      },
      "MottakerSokRequest": {
        "type": "object",
        "properties": {
          "soketerm": {
            "type": "string",
            "description": "Søketerm for søk på navn, adresse, osv.",
            "minLength": 0,
            "maxLength": 1000
          },
          "kunMedFeil": {
            "type": "boolean",
            "description": "Dersom denne settes til true vil kun mottakere med feil returneres"
          }
        },
        "description": "Modell for å søke etter mottakere"
      },
      "MottakerSokResponse": {
        "required": [
          "sidenummer",
          "antallPerSide",
          "antallTreffSok",
          "statistikkTotalt",
          "treff"
        ],
        "type": "object",
        "properties": {
          "sidenummer": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert sidenummer"
          },
          "antallPerSide": {
            "type": "integer",
            "format": "int32",
            "description": "Forespurt antall treff per side"
          },
          "antallTreffSok": {
            "type": "integer",
            "format": "int32",
            "description": "Totalt antall treff for søket"
          },
          "statistikkTotalt": {
            "type": "object",
            "required": [
              "antall"
            ],
            "description": "Statistikk for alle mottakere på utsendelse",
            "properties": {
              "antall": {
                "type": "integer",
                "format": "int32",
                "description": "Det totale antallet mottakere på utsendelsen"
              },
              "validertOk": {
                "type": "integer",
                "format": "int32",
                "description": "Totalt antall mottakere som er validert ok"
              },
              "validertFeil": {
                "type": "integer",
                "format": "int32",
                "description": "Totalt antall mottakere som er validert med feil"
              },
              "validertAdvarsel": {
                "type": "integer",
                "format": "int32",
                "description": "Totalt antall mottakere som er validert med advarsel"
              },
              "validertDuplikatIdentifikator": {
                "type": "integer",
                "format": "int32",
                "description": "Totalt antall mottakere som er validert som duplikat identifikator"
              },
              "validertDuplikatMottaker": {
                "type": "integer",
                "format": "int32",
                "description": "Totalt antall mottakere som er validert som duplikat mottaker"
              },
              "validertFeilEllerDuplikatMottaker": {
                "type": "integer",
                "format": "int32",
                "description": "Totalt antall mottakere som er validert med feil eller duplikat mottaker"
              },
              "validertAdvarselEllerDuplikatIdentifikator": {
                "type": "integer",
                "format": "int32",
                "description": "Totalt antall mottakere som er validert med advarsel eller duplikat identifikator"
              },
              "kanIkkeLevereDigitalt": {
                "type": "integer",
                "format": "int32",
                "description": "Totalt antall mottakere som ikke kan leveres digitalt. Dette er basert på KRR-oppslag som angir at mottaker enten har reservert seg eller ikke er registrert i KRR."
              }
            }
          },
          "treff": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Mottaker"
            }
          }
        },
        "description": "Modell med søketreff for mottakere"
      },
      "Forsendelser": {
        "required": [
          "sidenummer",
          "antallPerSide",
          "antallTreffSok",
          "statistikkTotalt",
          "treff"
        ],
        "type": "object",
        "properties": {
          "sidenummer": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert sidenummer"
          },
          "antallPerSide": {
            "type": "integer",
            "format": "int32",
            "description": "Forespurt antall treff per side"
          },
          "antallTreffSok": {
            "type": "integer",
            "format": "int32",
            "description": "Totalt antall treff for søket"
          },
          "statistikkTotalt": {
            "type": "object",
            "required": [
              "antall"
            ],
            "description": "Statistikk for alle forsendelser på utsendelse",
            "properties": {
              "antall": {
                "type": "integer",
                "format": "int32",
                "description": "Det totale antallet forsendelser på utsendelsen"
              },
              "avvistSvarUt": {
                "type": "integer",
                "format": "int32",
                "description": "Totalt antall forsendelser som har avvist av SvarUt"
              },
              "feiletMotSvarUt": {
                "type": "integer",
                "format": "int32",
                "description": "Totalt antall forsendelser som er feilet mot SvarUt"
              }
            }
          },
          "treff": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Forsendelse"
            }
          }
        },
        "description": "Modell med søketreff for forsendelser"
      },
      "OppslagRequest": {
        "type": "object",
        "properties": {
          "organisasjonsnummer": {
            "$ref": "#/components/schemas/Organisasjonsnummer"
          },
          "fodselsnummer": {
            "$ref": "#/components/schemas/Fodselsnummer"
          },
          "mottakerId": {
            "type": "string",
            "description": "Id til eventuell mottaker. Denne vil kun vere i bruk for endring av eksisterende mottaker",
            "format": "uuid"
          }
        },
        "description": "Request-objekt for å søke etter mottaker med organisasjonsnummer eller fødselsnummer. Må ha med enten organisasjonsnummer eller fødselsnummer. Bør ha med mottakerId for eksisterende mottaker for å hindre at DUPLIKAT-sjekken slår inn"
      },
      "KontoTilgang": {
        "type": "object",
        "properties": {
          "kontoId": {
            "type": "string",
            "description": "KontoId",
            "format": "uuid"
          },
          "kontoNavn": {
            "type": "string",
            "description": "Navn på konto"
          }
        },
        "description": "En Send-brev konto som innlogget bruker har tilgang til"
      },
      "AdresserteBrevKonfigurasjon": {
        "type": "object",
        "properties": {
          "konfigurasjon": {
            "$ref": "#/components/schemas/SplittPdfKonfigurasjon"
          }
        },
        "description": "Metadata om filer og koordinater for adresserte brev"
      },
      "Konto": {
        "required": [
          "kontoId",
          "signeringAktivert",
          "print",
          "folkeregisterAktivert",
          "automatiskEttersendingForVirksomheter",
          "dpiOgAltinnAktivert",
          "gyldigOrganisasjonsnummerForReturadresse"
        ],
        "type": "object",
        "properties": {
          "kontoId": {
            "type": "string",
            "description": "KontoId",
            "format": "uuid"
          },
          "kontoNavn": {
            "type": "string",
            "description": "Navn på konto"
          },
          "signeringAktivert": {
            "type": "boolean",
            "description": "Er signeringsløsningen aktivert på konto"
          },
          "returAdresse": {
            "$ref": "#/components/schemas/ReturAdresse"
          },
          "print": {
            "type": "string",
            "description": "Hvilken print-konfigurasjon er kontoen satt opp med.",
            "enum": [
              "AUTOMATISK_PRINT",
              "MANUELL_PRINT"
            ]
          },
          "folkeregisterAktivert": {
            "type": "boolean",
            "description": "Om folkeregister er aktivert for Fiks Melding for organisasjon."
          },
          "automatiskEttersendingForVirksomheter": {
            "type": "boolean",
            "description": "Om automatisk ettersending av post for virksomheter er slått på."
          },
          "dpiEllerAltinnAktivert": {
            "type": "boolean",
            "description": "Om DPI eller Altinn er aktivert for Fiks Melding for organisasjon."
          },
          "gyldigOrganisasjonsnummerForReturadresse": {
            "type": "boolean",
            "description": "Om organisasjonsnummeret brukt til returadresse er gyldig i enhetsregisteret."
          }
        },
        "description": "En Send-brev konto som innlogget bruker har tilgang til"
      },
      "Filnavn": {
        "type": "string",
        "minLength": 1,
        "maxLength": 226
      },
      "Organisasjonsnummer": {
        "type": "string",
        "pattern": "^[0-9]{9}$"
      },
      "Fodselsnummer": {
        "type": "string",
        "pattern": "^[0-9]{11}$"
      },
      "Tittel": {
        "type": "string",
        "minLength": 1,
        "maxLength": 200
      },
      "Adresselinje": {
        "type": "string",
        "minLength": 1,
        "maxLength": 70
      },
      "ContentType": {
        "type": "string",
        "description": "Content type for filen",
        "minLength": 1,
        "maxLength": 127
      },
      "Forsendelsestyper": {
        "required": [
          "forsendelsestyper"
        ],
        "type": "object",
        "properties": {
          "forsendelsestyper": {
            "uniqueItems": true,
            "type": "array",
            "description": "Liste med alle eksisterende forsendelsestyper",
            "items": {
              "type": "string",
              "description": "Liste med alle eksisterende forsendelsestyper"
            }
          }
        }
      },
      "MottakerValideringsstatus": {
        "type": "string",
        "description": "Valideringsstatus på mottaker",
        "enum": [
          "GYLDIG",
          "FEIL",
          "ADVARSEL",
          "PERSON_ER_DOED",
          "DUPLIKAT_IDENTIFIKATOR",
          "DUPLIKAT_MOTTAKER"
        ]
      },
      "MottakerValideringsfeil": {
        "type": "string",
        "description": "Valideringsfeil på mottaker",
        "enum": [
          "UGYLDIG_IDENTIFIKATOR",
          "DUPLIKAT_MOTTAKER",
          "UKJENT_IDENTIFIKATOR",
          "ADRESSELINJE1_MANGLER",
          "ADRESSELINJE1_FOR_LANG",
          "ADRESSELINJE2_FOR_LANG",
          "ADRESSELINJE3_FOR_LANG",
          "UKJENT_FILNAVN",
          "FILNAVN_MANGLER",
          "NAVN_MANGLER",
          "NAVN_FOR_LANG",
          "POSTSTED_MANGLER",
          "UGYLDIG_POSTNUMMER",
          "KAN_IKKE_LEVERE_DIGITALT"
        ]
      },
      "MottakerValideringsadvarsler": {
        "type": "string",
        "description": "Valideringsadvarsler på mottaker",
        "enum": [
          "DUPLIKAT_IDENTIFIKATOR",
          "ULIK_POSTSTED_FRA_POSTNUMMER_OPPSLAG",
          "UKJENT_POSTNUMMER",
          "UKJENT_LAND"
        ]
      },
      "ForsendelseStatus": {
        "type": "string",
        "description": "Status på forsendelse",
        "enum": [
          "OPPRETTET",
          "SENDT",
          "KLARTE_IKKE_SENDE",
          "AVVIST_SVARUT"
        ]
      },
      "Punkt": {
        "type": "object",
        "required": [
          "x",
          "y"
        ],
        "properties": {
          "x": {
            "type": "integer",
            "format": "int32"
          },
          "y": {
            "type": "integer",
            "format": "int32"
          }
        },
        "description": "Et koordinatpunkt"
      },
      "KoordinatBoks": {
        "type": "object",
        "required": [
          "nedreVenstre",
          "ovreHoyre"
        ],
        "properties": {
          "nedreVenstre": {
            "$ref": "#/components/schemas/Punkt"
          },
          "ovreHoyre": {
            "$ref": "#/components/schemas/Punkt"
          }
        },
        "description": "Koordinater for uthenting av informasjon fra PDF. Det må vere med et punkt for et hjørne nede til venstre og et oppe til høyre."
      },
      "SplittPdfKonfigurasjon": {
        "type": "object",
        "required": [
          "mottakerBoks"
        ],
        "description": "Konfigurasjon for å kunne splitte Pdf som inneholder mange ferdig-adresserte brev",
        "properties": {
          "mottakerBoks": {
            "$ref": "#/components/schemas/KoordinatBoks"
          },
          "unikIdBoks": {
            "$ref": "#/components/schemas/KoordinatBoks"
          },
          "brevSeparatorBoks": {
            "$ref": "#/components/schemas/KoordinatBoks"
          },
          "xlsMapping": {
            "type": "object",
            "description": "Om denne er satt, må det vere lastet opp en excel-fil som gjer det mulig å mappe unik id som finnes i hvert enkelt brev, med digitalid for mottaker (fødsels- eller organisasjonsnummer), som skal brukes under sending via SvarUt.",
            "required": [
              "idKolonne",
              "digitalIdKolonne"
            ],
            "properties": {
              "idKolonne": {
                "type": "integer",
                "description": "Kolonne i excel som inneholder unik Id som finnes i det enkelte brev. Eksempel på en slik Id er fakturareferanse eller ansattnummer. ",
                "format": "int32"
              },
              "digitalIdKolonne": {
                "type": "integer",
                "description": "Kolonne i excel for organisasjonsnummer/fødselsnummer",
                "format": "int32"
              }
            }
          },
          "antallSider": {
            "type": "integer",
            "description": "Antall sider per brev. Må ha med enten denne eller brevSeparator.",
            "format": "int32"
          }
        }
      }
    }
  }
}