{
  "openapi": "3.0.3",
  "info": {
    "title": "Fiks skjema avtaler - API",
    "description": "API for på kunne tilgjengeliggjøre skjemaer for leverandører. Leverndører kan hente ut oversikt over alle skjemaer som er i bruk og hvilke kommuner de er tilgjengelig for. Leverandører kan også registrere nye skjemaer og oppdatere eksisterende skjemaer.",
    "contact": {
      "name": "Fiks brukerstøtte",
      "url": "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host",
      "variables": {}
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host",
      "variables": {}
    }
  ],
  "paths": {
    "/api/v1/skjema": {
      "post": {
        "tags": [
          "Skjemaer"
        ],
        "summary": "Registrer nytt skjema",
        "operationId": "registrerSkjema",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkjemaRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Skjema registrert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkjemaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Skjemaer"
        ],
        "summary": "Hent alle skjema for en leverandør",
        "operationId": "hentSkjemaForLeverandor",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over skjema",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SkjemaResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/skjema/{skjemaId}": {
      "get": {
        "tags": [
          "Skjemaer"
        ],
        "summary": "Hent ett skjema",
        "operationId": "hentSkjema",
        "parameters": [
          {
            "name": "skjemaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skjema funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkjemaResponse"
                }
              }
            }
          },
          "404": {
            "description": "Skjema ikke funnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Skjemaer"
        ],
        "summary": "Oppdater skjema",
        "operationId": "oppdaterSkjema",
        "parameters": [
          {
            "name": "skjemaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkjemaUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Skjema oppdatert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkjemaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ugyldig input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "Skjema ikke funnet eller tilhører ikke leverandøren",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mottakerkontoer": {
      "get": {
        "tags": [
          "Mottakere"
        ],
        "summary": "Hent mottakerkontoer for kommune",
        "operationId": "hentMottakerkontoer",
        "parameters": [
          {
            "name": "kommuneNr",
            "in": "query",
            "required": true,
            "description": "Kommunenummer (f.eks. 3024)",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liste over mottakerkontoer for kommunen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mottakerkonto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Feil input parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://developers.fiks.ks.no/api/fiks-common.json#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SkjemaRequest": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "format": "uuid"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "fiksIoKontoId": {
            "type": "string",
            "format": "uuid"
          },
          "protokoll": {
            "type": "string"
          },
          "part": {
            "type": "string"
          },
          "beskrivelse": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "required": [
          "systemId",
          "fiksOrgId",
          "fiksIoKontoId",
          "protokoll",
          "part"
        ]
      },
      "SkjemaResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "systemId": {
            "type": "string",
            "format": "uuid"
          },
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "fiksIoKontoId": {
            "type": "string",
            "format": "uuid"
          },
          "protokoll": {
            "type": "string"
          },
          "part": {
            "type": "string"
          },
          "beskrivelse": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "systemId",
          "fiksOrgId",
          "kontoId",
          "protokoll",
          "part"
        ]
      },
      "SkjemaUpdateRequest": {
        "type": "object",
        "properties": {
          "beskrivelse": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Mottakerkonto": {
        "type": "object",
        "properties": {
          "kommuneNr": {
            "type": "string",
            "example": "3024"
          },
          "fiksIoMottakerKontoId": {
            "type": "string",
            "format": "uuid"
          },
          "protokoll": {
            "type": "string"
          },
          "part": {
            "type": "string"
          }
        },
        "required": [
          "kommuneNr",
          "mottakerKontoId",
          "protokoll",
          "part"
        ]
      }
    }
  }
}