{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS SvarUt: Konfigurasjon Service for kontoer",
    "description" : "Konfigurasjon service for kontoer",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Konto",
    "description" : "API for bruk av konfigurasjon"
  } ],
  "paths" : {
    "/svarut-konfigurasjon/api/v1/konto/{kontoId}/aktiver" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Aktiverer konto",
        "operationId" : "aktiverAvsender",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Aktiverer konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404" : {
            "description" : "KontoId ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/konto/{kontoId}/altinn/deaktiver" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Deaktiverer altinn-konfigurasjon",
        "operationId" : "deaktiverAltinn",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deaktiverer altinn-konfigurasjon (ingen varsling)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/konto/{kontoId}/deaktiver" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Deaktiverer konto",
        "operationId" : "deaktiverKonto",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Deaktiverer konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/konto/{kontoId}/sdp/deaktiver" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Deaktiverer SDP",
        "operationId" : "deaktiverSDP",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deaktiverer SDP",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/konto/{kontoId}/genererServicepassord" : {
      "post" : {
        "tags" : [ "Konto" ],
        "description" : "Genererer nytt servicepassord for konto",
        "operationId" : "genererServicePassord",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Nytt servicepassord for konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServicePassord"
                }
              }
            }
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/konto/{kontoId}/forsidePdfPreview" : {
      "get" : {
        "tags" : [ "Konto" ],
        "description" : "Returnerer forhåndsvisning av PDF",
        "operationId" : "getForsidePreview",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Forhåndsvisning av PDF",
            "content" : {
              "application/pdf" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/pdf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/pdf" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/konto/{kontoId}" : {
      "get" : {
        "tags" : [ "Konto" ],
        "description" : "Hent konto med kontoid som er knytta mot fiksOrgId",
        "operationId" : "hentKonto",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent konto knyttet til kontoId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdater konto med id",
        "operationId" : "oppdaterKonto",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterKontoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for oppdatering av konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/konto" : {
      "get" : {
        "tags" : [ "Konto" ],
        "description" : "Søk etter kontoer, krever at fiksOrgId er oppgitt",
        "operationId" : "kontoSok",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Søk etter kontoer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoOppslag"
                }
              }
            }
          },
          "404" : {
            "description" : "Ugyldig fiksOrgId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Konto" ],
        "description" : "Oppretter ny konto",
        "operationId" : "opprettKonto",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettKontoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for opprettelse av konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/konto/{kontoId}/altinn" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdaterer konfigurasjon for altinn på konto",
        "operationId" : "oppdaterAltinnKonfigurasjon",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterVarslingKonfigurasjonReqest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for altinnkonfigurasjon"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/konto/{kontoId}/forside" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdaterer konfigurasjon for forside på konto",
        "operationId" : "oppdaterForsideKonfigurasjon",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterforsideKonfigurasjonRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for forsidekonfigurasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/konto/{kontoId}/print" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdaterer konfigurasjon for print på konto",
        "operationId" : "oppdaterPrintKonfigurasjon",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterPrintKonfigurasjonReqest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for printkonfigurasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/konto/{kontoId}/sdp" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdaterer konfigurasjon for sdp på konto",
        "operationId" : "oppdaterSDPKonfigurasjon",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterSDPKonfigurasjonRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for sdpkonfigurasjon"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Adresse" : {
        "required" : [ "adresselinje1", "postnummer", "poststed" ],
        "type" : "object",
        "properties" : {
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        },
        "description" : "Adresse for avsender"
      },
      "AltinnKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "avsendertekst" : {
            "type" : "string"
          },
          "ekstratekst" : {
            "type" : "string"
          }
        },
        "description" : "Konfigurasjon for bruk av varslingstjeneste"
      },
      "ForsideKonfigurasjon" : {
        "required" : [ "adresse", "avsender", "orgnummer" ],
        "type" : "object",
        "properties" : {
          "orgnummer" : {
            "type" : "string"
          },
          "avsender" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Adresse"
          },
          "forsidetekst" : {
            "type" : "string"
          }
        }
      },
      "PrintKonfigurasjon" : {
        "required" : [ "automatiskEttersendingForVirksomheter", "printleverandor" ],
        "type" : "object",
        "properties" : {
          "printleverandor" : {
            "type" : "string",
            "description" : "Printleverandør typer",
            "enum" : [ "MANUELL_PRINT", "GRAFISK_DIGITAL" ]
          },
          "automatiskEttersendingForVirksomheter" : {
            "type" : "boolean",
            "description" : "Automatisk ettersending som brevpost for virksomheter"
          }
        }
      },
      "SDPKonfigurasjon" : {
        "required" : [ "avsendernavn", "dokumenter", "orgnr", "signering" ],
        "type" : "object",
        "properties" : {
          "avsendernavn" : {
            "type" : "string"
          },
          "sdpId" : {
            "type" : "string"
          },
          "ekstratekst" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "dokumenter" : {
            "type" : "boolean"
          },
          "signering" : {
            "type" : "boolean"
          }
        }
      },
      "SvarUtKonto" : {
        "required" : [ "aktivert", "altinnAktiv", "avsender", "fiksOrgId", "id", "sdpAktiv", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "SvarUt konto ID",
            "format" : "uuid"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Tilhørende Fiks.org",
            "format" : "uuid"
          },
          "avsender" : {
            "type" : "string",
            "description" : "Integrasjons id for utsending av forsendelser på konto"
          },
          "visningsnavn" : {
            "type" : "string",
            "description" : "SvarUt konto visningsnavn"
          },
          "altinnAktiv" : {
            "type" : "boolean",
            "description" : "Altinn status"
          },
          "sdpAktiv" : {
            "type" : "boolean",
            "description" : "SDP status"
          },
          "aktivert" : {
            "type" : "boolean",
            "description" : "Konto status"
          },
          "forside" : {
            "$ref" : "#/components/schemas/ForsideKonfigurasjon"
          },
          "altinn" : {
            "$ref" : "#/components/schemas/AltinnKonfigurasjon"
          },
          "sdp" : {
            "$ref" : "#/components/schemas/SDPKonfigurasjon"
          },
          "print" : {
            "$ref" : "#/components/schemas/PrintKonfigurasjon"
          }
        },
        "description" : "SvarUt konto"
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "ServicePassord" : {
        "type" : "object",
        "properties" : {
          "passord" : {
            "type" : "string"
          }
        }
      },
      "KontoOppslag" : {
        "required" : [ "antall", "kontoer" ],
        "type" : "object",
        "properties" : {
          "antall" : {
            "type" : "integer",
            "description" : "Antall kontoer funnet i søk",
            "format" : "int32"
          },
          "kontoer" : {
            "type" : "array",
            "description" : "Liste av SvarUt kontoer funnet i søk",
            "items" : {
              "$ref" : "#/components/schemas/SvarUtKonto"
            }
          }
        }
      },
      "OppdaterVarslingKonfigurasjonReqest" : {
        "required" : [ "avsendertekst", "ekstratekst" ],
        "type" : "object",
        "properties" : {
          "avsendertekst" : {
            "type" : "string",
            "description" : "Tekst for meldingen som skal fremkomme i meldingsboksen i Altinn"
          },
          "ekstratekst" : {
            "type" : "string",
            "description" : "Dette er ekstra tekst som vises i meldingen til Altinn. Teksten synes IKKE i sms eller e-postvarslingen."
          }
        },
        "description" : "VarslingKonfigurasjon for SvarUt konto"
      },
      "OppdaterforsideKonfigurasjonRequest" : {
        "required" : [ "adresse", "avsender", "orgnummer" ],
        "type" : "object",
        "properties" : {
          "orgnummer" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string",
            "description" : "Hvis orgnr er utfylt vil mottaker bruke dette ved svar på forsendelsen. Dette betyr at all svarpost som blir sendt elektronisk vil komme til dette orgnr."
          },
          "avsender" : {
            "type" : "string",
            "description" : "Navn på avsender"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Adresse"
          },
          "forsidetekst" : {
            "type" : "string",
            "description" : "Dette er hovedteksten på forsiden. Her kan man definere generell tilleggsinformasjon om forsendelser til mottaker."
          }
        },
        "description" : "Forsidekonfigurasjon for SvarUt konto. Beskriver returadresse printet på forside"
      },
      "OppdaterKontoRequest" : {
        "required" : [ "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "visningsnavn" : {
            "maxLength" : 200,
            "minLength" : 2,
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string",
            "description" : "SvarUt konto visningsnavn"
          }
        },
        "description" : "En request for å oppdatere en eksisterende SvarUt Konto"
      },
      "OppdaterPrintKonfigurasjonReqest" : {
        "required" : [ "automatiskEttersendingForVirksomheter", "printleverandor" ],
        "type" : "object",
        "properties" : {
          "printleverandor" : {
            "type" : "string",
            "description" : "Printleverandør typer",
            "enum" : [ "MANUELL_PRINT", "GRAFISK_DIGITAL" ]
          },
          "automatiskEttersendingForVirksomheter" : {
            "type" : "boolean",
            "description" : "Automatisk ettersending som brevpost for virksomheter"
          }
        },
        "description" : "Printkonfigurasjon for SvarUt konto"
      },
      "OppdaterSDPKonfigurasjonRequest" : {
        "type" : "object",
        "properties" : {
          "avsendernavn" : {
            "type" : "string"
          },
          "sdpId" : {
            "type" : "string"
          },
          "ekstratekst" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "dokumenter" : {
            "type" : "boolean"
          },
          "signering" : {
            "type" : "boolean"
          }
        }
      },
      "OpprettKontoRequest" : {
        "required" : [ "fiksOrgId", "forside", "print", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Fiks organisasjon ID",
            "format" : "uuid"
          },
          "visningsnavn" : {
            "maxLength" : 200,
            "minLength" : 2,
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string",
            "description" : "SvarUt konto visningsnavn"
          },
          "avsender" : {
            "maxLength" : 200,
            "minLength" : 2,
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string"
          },
          "forside" : {
            "$ref" : "#/components/schemas/OppdaterforsideKonfigurasjonRequest"
          },
          "print" : {
            "$ref" : "#/components/schemas/OppdaterPrintKonfigurasjonReqest"
          }
        },
        "description" : "En request for å opprette en ny SvarUt Konto"
      }
    }
  }
}