{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS SvarUt: Organisasjonkonfigurasjon for SvarUt tjeneste",
    "description" : "Konfigurasjon service for SvarUt tjeneste",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host"
  } ],
  "tags" : [ {
    "name" : "Avsender",
    "description" : "API for bruk av konfigurasjon"
  }, {
    "name" : "Konto",
    "description" : "API for bruk av konfigurasjon"
  }, {
    "name" : "Organisasjon",
    "description" : "API for konfigurasjon av SvarUt tjeneste"
  } ],
  "paths" : {
    "/svarut-konfigurasjon/api/v1/avsendere/{avsender}" : {
      "get" : {
        "tags" : [ "Avsender" ],
        "description" : "Hent konto med avsender",
        "operationId" : "hentAvsender",
        "parameters" : [ {
          "name" : "avsender",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent konto knyttet til avsender",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404" : {
            "description" : "Konto med avsender ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/{kontoId}/aktiver" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Aktiverer konto",
        "operationId" : "aktiverKonto",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Aktiverer konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404" : {
            "description" : "KontoId ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/{kontoId}/altinn/deaktiver" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Deaktiverer altinn-konfigurasjon",
        "operationId" : "deaktiverAltinn",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deaktiverer altinn-konfigurasjon (ingen varsling)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/{kontoId}/dpi/deaktiver" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Deaktiverer DPI",
        "operationId" : "deaktiverDPI",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deaktiverer DPI",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/{kontoId}/deaktiver" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Deaktiverer konto",
        "operationId" : "deaktiverKonto",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Deaktiverer konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/{kontoId}/flytt" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Aktiverer konto",
        "operationId" : "flyttKonto",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FlyttKontoReqest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Flytt konto til ny org",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404" : {
            "description" : "KontoId ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/{kontoId}/genererServicepassord" : {
      "post" : {
        "tags" : [ "Konto" ],
        "description" : "Genererer nytt servicepassord for konto",
        "operationId" : "genererServicePassord",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Nytt servicepassord for konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServicePassord"
                }
              }
            }
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/forsidePdfPreview" : {
      "post" : {
        "tags" : [ "Konto" ],
        "description" : "Returnerer forhåndsvisning av PDF",
        "operationId" : "getForsidePreview",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ForsideKonfigurasjon"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Forhåndsvisning av PDF",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForsidePreview"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/{kontoId}" : {
      "get" : {
        "tags" : [ "Konto" ],
        "description" : "Hent konto med kontoid som er knytta mot fiksOrgId",
        "operationId" : "hentKonto",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent konto knyttet til kontoId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdater konto med id",
        "operationId" : "oppdaterKonto",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterKontoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for oppdatering av konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/{kontoId}/historikk" : {
      "get" : {
        "tags" : [ "Konto" ],
        "description" : "Hent hendelseshistorikk for konto",
        "operationId" : "hentKontoHistorikk",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent historikk for konto knyttet til kontoId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoHistorikkV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/isAuthenticated" : {
      "get" : {
        "tags" : [ "Konto" ],
        "description" : "Autentiserer SvarUt konto",
        "operationId" : "isAuthenticated",
        "responses" : {
          "200" : {
            "description" : "Autentisere SvarUt konto"
          },
          "401" : {
            "description" : "Ikke autentisert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer" : {
      "get" : {
        "tags" : [ "Konto" ],
        "description" : "Søk etter kontoer, krever at fiksOrgId er oppgitt",
        "operationId" : "kontoSok",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "forelderRessurs",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Søk etter kontoer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoOppslag"
                }
              }
            }
          },
          "404" : {
            "description" : "Ugyldig fiksOrgId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Konto" ],
        "description" : "Oppretter ny konto",
        "operationId" : "opprettKonto",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettKontoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for opprettelse av konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/{kontoId}/altinn" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdaterer konfigurasjon for altinn på konto",
        "operationId" : "oppdaterAltinnKonfigurasjon",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterVarslingKonfigurasjonReqest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for altinnkonfigurasjon"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/{kontoId}/maler/altinn/{altinnMalId}" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdaterer Altinnmaler på konto",
        "operationId" : "oppdaterAltinnMal",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "altinnMalId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "STANDARD", "KUN_DIGITAL", "KUN_DIGITAL_UTEN_DOKUMENTER", "SMS", "SMS_TAUSHETSBELAGT", "EPOST", "EPOST_TAUSHETSBELAGT" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterAltinnMalRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Oppdatert mal",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for mal"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Konto" ],
        "description" : "Tilbakestill Altinn-mal til standard på konto",
        "operationId" : "resetAltinnMal",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "altinnMalId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "STANDARD", "KUN_DIGITAL", "KUN_DIGITAL_UTEN_DOKUMENTER", "SMS", "SMS_TAUSHETSBELAGT", "EPOST", "EPOST_TAUSHETSBELAGT" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig request"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/{kontoId}/dpi" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdaterer konfigurasjon for DPI på konto",
        "operationId" : "oppdaterDPIKonfigurasjon",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterDPIKonfigurasjonRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for DpiKonfigurasjon"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/{kontoId}/maler/dpi/{dpiMalId}" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdaterer DPI-maler på konto",
        "operationId" : "oppdaterDpiMal",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "dpiMalId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "STANDARD", "UTEN_DOKUMENTER", "MED_LENKER_OG_SENDES_MED_DOKUMENTER", "SMS", "EPOST" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterDpiMalRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Oppdatert mal",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for mal"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Konto" ],
        "description" : "Tilbakestill DPI-mal til standard på konto",
        "operationId" : "resetDpiMal",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "dpiMalId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "STANDARD", "UTEN_DOKUMENTER", "MED_LENKER_OG_SENDES_MED_DOKUMENTER", "SMS", "EPOST" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig request"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/{kontoId}/folkeregister" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdaterer konfigurasjon for folkeregister på konto",
        "operationId" : "oppdaterFolkeregisterKonfigurasjon",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterFolkeregisterKonfigurasjonRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for folkeregisterKonfigurasjon"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/{kontoId}/forside" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdaterer konfigurasjon for forside på konto",
        "operationId" : "oppdaterForsideKonfigurasjon",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ForsideKonfigurasjon"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for forsidekonfigurasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/kontoer/{kontoId}/print" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdaterer konfigurasjon for print på konto",
        "operationId" : "oppdaterPrintKonfigurasjon",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterPrintKonfigurasjonRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SvarUtKonto"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for printkonfigurasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/organisasjoner/{fiksOrg}" : {
      "get" : {
        "tags" : [ "Organisasjon" ],
        "description" : "Søk etter kontoer, krever at fiksOrgId er oppgitt",
        "operationId" : "hentOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent organisasjonkonfigurasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Organisasjon" ],
        "description" : "Oppdater SvarUt organisasjonskonfigurasjon",
        "operationId" : "oppdaterOrganisasjon",
        "parameters" : [ {
          "name" : "fiksOrg",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterOrganisasjonRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "SvarUt organisasjonkonfigurasjon oppdatert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjon"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for konfigurasjon av SvarUt organisasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Adresse" : {
        "required" : [ "postnummer", "poststed" ],
        "type" : "object",
        "properties" : {
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "pattern" : "^[0-9]{4}$",
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        },
        "description" : "Adresse for avsender"
      },
      "AltinnKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "avsendertekst" : {
            "type" : "string"
          },
          "ekstratekst" : {
            "type" : "string"
          }
        },
        "description" : "Konfigurasjon for bruk av varslingstjeneste"
      },
      "AltinnMal" : {
        "required" : [ "egendefinert", "id", "kanEndres", "navn", "standard" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id for mal",
            "enum" : [ "STANDARD", "KUN_DIGITAL", "KUN_DIGITAL_UTEN_DOKUMENTER", "SMS", "SMS_TAUSHETSBELAGT", "EPOST", "EPOST_TAUSHETSBELAGT" ]
          },
          "navn" : {
            "type" : "string",
            "description" : "Visningsnavn for mal"
          },
          "kanEndres" : {
            "type" : "boolean",
            "description" : "Flagg som indikerer om malen kan endres fra standard"
          },
          "standard" : {
            "type" : "string",
            "description" : "Standard-mal"
          },
          "egendefinert" : {
            "type" : "string",
            "description" : "Egendefinert mal"
          }
        },
        "description" : "Maler for Altinn"
      },
      "DPIKonfigurasjon" : {
        "required" : [ "avsendernavn", "dokumenter", "orgnr", "signering" ],
        "type" : "object",
        "properties" : {
          "avsendernavn" : {
            "type" : "string",
            "description" : "Avsendernavn bør være det samme som er registrert i Brønnøysundregistrene"
          },
          "avsenderIdentifikator" : {
            "type" : "string"
          },
          "ekstratekst" : {
            "type" : "string"
          },
          "orgnr" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string",
            "description" : "Organisasjonsnummeret må være det samme som er brukt i avtalen med Digdir"
          },
          "dokumenter" : {
            "type" : "boolean"
          },
          "signering" : {
            "type" : "boolean"
          }
        }
      },
      "DpiMal" : {
        "required" : [ "egendefinert", "id", "kanEndres", "navn", "standard" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id for mal",
            "enum" : [ "STANDARD", "UTEN_DOKUMENTER", "MED_LENKER_OG_SENDES_MED_DOKUMENTER", "SMS", "EPOST" ]
          },
          "navn" : {
            "type" : "string",
            "description" : "Visningsnavn for mal"
          },
          "kanEndres" : {
            "type" : "boolean",
            "description" : "Flagg som indikerer om malen kan endres fra standard"
          },
          "standard" : {
            "type" : "string",
            "description" : "Standard-mal"
          },
          "egendefinert" : {
            "type" : "string",
            "description" : "Egendefinert mal"
          }
        },
        "description" : "Maler for DPI"
      },
      "FolkeregisterKonfigurasjon" : {
        "required" : [ "hemmeligAdresse" ],
        "type" : "object",
        "properties" : {
          "hemmeligAdresse" : {
            "type" : "string",
            "description" : "Hva skal SvarUt gjøre med forsendelser til personer som har strengt fortrolig adresse",
            "enum" : [ "AVVIS", "BYTT_ADRESSE" ]
          }
        }
      },
      "ForsideKonfigurasjon" : {
        "required" : [ "adresse", "avsender" ],
        "type" : "object",
        "properties" : {
          "orgnummer" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string",
            "description" : "Hvis orgnr er utfylt vil mottaker bruke dette ved svar på forsendelsen. Dette betyr at all svarpost som blir sendt elektronisk vil komme til dette orgnr."
          },
          "avsender" : {
            "maxLength" : 100,
            "minLength" : 0,
            "type" : "string",
            "description" : "Navn på avsender"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Adresse"
          },
          "forsidetekst" : {
            "type" : "string",
            "description" : "Dette er hovedteksten på forsiden. Her kan man definere generell tilleggsinformasjon om forsendelser til mottaker."
          },
          "forsidetittel" : {
            "type" : "string",
            "description" : "Tittel som kan overstyre forsendelsestittel på print forside"
          },
          "skjulForsideInfo" : {
            "type" : "boolean",
            "description" : "Valg for om tittel/tekst skal skjules eller ikke"
          }
        },
        "description" : "Forsidekonfigurasjon for SvarUt konto. Beskriver returadresse printet på forside"
      },
      "Maler" : {
        "required" : [ "altinn", "dpi" ],
        "type" : "object",
        "properties" : {
          "altinn" : {
            "type" : "array",
            "description" : "Maler for Altinn",
            "items" : {
              "$ref" : "#/components/schemas/AltinnMal"
            }
          },
          "dpi" : {
            "type" : "array",
            "description" : "Maler for DPI",
            "items" : {
              "$ref" : "#/components/schemas/DpiMal"
            }
          }
        }
      },
      "PrintKonfigurasjon" : {
        "required" : [ "automatiskEttersendingForVirksomheter", "printleverandor" ],
        "type" : "object",
        "properties" : {
          "printleverandor" : {
            "type" : "string",
            "description" : "Printleverandør typer",
            "enum" : [ "MANUELL_PRINT", "GRAFISK_DIGITAL" ]
          },
          "automatiskEttersendingForVirksomheter" : {
            "type" : "boolean",
            "description" : "Automatisk ettersending som brevpost for virksomheter"
          }
        }
      },
      "ServicePassordMetadata" : {
        "type" : "object",
        "properties" : {
          "opprettet" : {
            "type" : "string"
          },
          "opprettetAv" : {
            "type" : "string"
          }
        }
      },
      "SvarUtKonto" : {
        "required" : [ "aktivert", "altinnAktiv", "avsender", "dpiAktiv", "fiksOrgId", "gyldig", "id", "maler", "navn" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "SvarUt konto ID",
            "format" : "uuid"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Tilhørende Fiks.org",
            "format" : "uuid"
          },
          "avsender" : {
            "type" : "string",
            "description" : "Integrasjons id for utsending av forsendelser på konto"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på SvarUt konto"
          },
          "altinnAktiv" : {
            "type" : "boolean",
            "description" : "Altinn status"
          },
          "dpiAktiv" : {
            "type" : "boolean",
            "description" : "DPI status"
          },
          "aktivert" : {
            "type" : "boolean",
            "description" : "Konto status"
          },
          "gyldig" : {
            "type" : "boolean",
            "description" : "Gyldig dersom konto har gyldig forsidekonfigurasjon og printkonfigurasjon"
          },
          "forside" : {
            "$ref" : "#/components/schemas/ForsideKonfigurasjon"
          },
          "altinn" : {
            "$ref" : "#/components/schemas/AltinnKonfigurasjon"
          },
          "dpi" : {
            "$ref" : "#/components/schemas/DPIKonfigurasjon"
          },
          "maler" : {
            "$ref" : "#/components/schemas/Maler"
          },
          "print" : {
            "$ref" : "#/components/schemas/PrintKonfigurasjon"
          },
          "servicePassordMetadata" : {
            "$ref" : "#/components/schemas/ServicePassordMetadata"
          },
          "folkeregisterKonfigurasjon" : {
            "$ref" : "#/components/schemas/FolkeregisterKonfigurasjon"
          }
        },
        "description" : "SvarUt konto"
      },
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "FlyttKontoReqest" : {
        "required" : [ "mottakerFiksOrg" ],
        "type" : "object",
        "properties" : {
          "mottakerFiksOrg" : {
            "type" : "string",
            "description" : "FiksOrg som konto skal flyttes til",
            "format" : "uuid"
          }
        },
        "description" : "Flytt konto til ny FiksOrgId"
      },
      "ServicePassord" : {
        "required" : [ "opprettet", "opprettetAv", "passord" ],
        "type" : "object",
        "properties" : {
          "passord" : {
            "type" : "string",
            "format" : "uuid"
          },
          "opprettet" : {
            "type" : "string"
          },
          "opprettetAv" : {
            "type" : "string"
          }
        }
      },
      "ForsidePreview" : {
        "required" : [ "preview" ],
        "type" : "object",
        "properties" : {
          "preview" : {
            "type" : "string",
            "description" : "JPEG bilde av pdf forsiden som Base64 encoded String"
          }
        }
      },
      "KontoHendelseV1" : {
        "required" : [ "melding", "metadata", "tidspunkt" ],
        "type" : "object",
        "properties" : {
          "tidspunkt" : {
            "type" : "string",
            "description" : "Tidspunkt for hendelsen",
            "format" : "date-time"
          },
          "melding" : {
            "type" : "string",
            "description" : "Beskrivende melding av hendelsen"
          },
          "metadata" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string",
              "description" : "Metadata knyttet til hendelsen"
            },
            "description" : "Metadata knyttet til hendelsen"
          }
        },
        "description" : "Detaljer for en hendelse"
      },
      "KontoHistorikkV1" : {
        "required" : [ "hendelser" ],
        "type" : "object",
        "properties" : {
          "hendelser" : {
            "type" : "array",
            "description" : "Liste med hendelser",
            "items" : {
              "$ref" : "#/components/schemas/KontoHendelseV1"
            }
          }
        },
        "description" : "Historikk for en konto"
      },
      "KontoOppslag" : {
        "required" : [ "antall", "kontoer" ],
        "type" : "object",
        "properties" : {
          "antall" : {
            "type" : "integer",
            "description" : "Antall kontoer funnet i søk",
            "format" : "int32"
          },
          "kontoer" : {
            "type" : "array",
            "description" : "Liste av SvarUt kontoer funnet i søk",
            "items" : {
              "$ref" : "#/components/schemas/SvarUtKonto"
            }
          }
        }
      },
      "OppdaterVarslingKonfigurasjonReqest" : {
        "required" : [ "avsendertekst", "ekstratekst" ],
        "type" : "object",
        "properties" : {
          "avsendertekst" : {
            "type" : "string",
            "description" : "Tekst for meldingen som skal fremkomme i meldingsboksen i Altinn"
          },
          "ekstratekst" : {
            "type" : "string",
            "description" : "Dette er ekstra tekst som vises i meldingen til Altinn. Teksten synes IKKE i sms eller e-postvarslingen."
          }
        },
        "description" : "VarslingKonfigurasjon for SvarUt konto"
      },
      "OppdaterAltinnMalRequest" : {
        "required" : [ "mal" ],
        "type" : "object",
        "properties" : {
          "mal" : {
            "type" : "string",
            "description" : "Oppdatert mal"
          }
        },
        "description" : "Mal for meldingen som skal fremkomme i Altinn meldingsboksen"
      },
      "OppdaterDPIKonfigurasjonRequest" : {
        "required" : [ "avsendernavn", "orgnr" ],
        "type" : "object",
        "properties" : {
          "avsendernavn" : {
            "type" : "string",
            "description" : "Avsendernavn bør være det samme som er registrert i Brønnøysundregistrene"
          },
          "avsenderIdentifikator" : {
            "type" : "string"
          },
          "ekstratekst" : {
            "type" : "string"
          },
          "orgnr" : {
            "pattern" : "^[0-9]{9}$",
            "type" : "string",
            "description" : "Organisasjonsnummeret må være det samme som er brukt i avtalen med Digdir"
          },
          "dokumenter" : {
            "type" : "boolean"
          },
          "signering" : {
            "type" : "boolean"
          }
        }
      },
      "OppdaterDpiMalRequest" : {
        "required" : [ "mal" ],
        "type" : "object",
        "properties" : {
          "mal" : {
            "type" : "string",
            "description" : "Oppdatert mal"
          }
        },
        "description" : "Mal for meldingen som skal fremkomme i DPI meldingsboksen"
      },
      "OppdaterFolkeregisterKonfigurasjonRequest" : {
        "required" : [ "hemmeligAdresse" ],
        "type" : "object",
        "properties" : {
          "hemmeligAdresse" : {
            "type" : "string",
            "description" : "Hva skal SvarUt gjøre med forsendelser til personer som har strengt fortrolig adresse",
            "enum" : [ "AVVIS", "BYTT_ADRESSE" ]
          }
        },
        "description" : "Folkeregisterkonfigurasjon for SvarutKonto"
      },
      "OppdaterKontoRequest" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "maxLength" : 200,
            "minLength" : 2,
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string",
            "description" : "SvarUt konto visningsnavn"
          }
        },
        "description" : "En request for å oppdatere en eksisterende SvarUt Konto"
      },
      "OppdaterPrintKonfigurasjonRequest" : {
        "required" : [ "automatiskEttersendingForVirksomheter", "printleverandor" ],
        "type" : "object",
        "properties" : {
          "printleverandor" : {
            "type" : "string",
            "description" : "Printleverandør typer",
            "enum" : [ "MANUELL_PRINT", "GRAFISK_DIGITAL" ]
          },
          "automatiskEttersendingForVirksomheter" : {
            "type" : "boolean",
            "description" : "Automatisk ettersending som brevpost for virksomheter"
          }
        },
        "description" : "Printkonfigurasjon for SvarUt konto"
      },
      "OpprettKontoRequest" : {
        "required" : [ "fiksOrgId", "navn" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "description" : "Fiks organisasjon ID",
            "format" : "uuid"
          },
          "forelderRessurs" : {
            "type" : "string",
            "description" : "Ressursen kontoen skal opprettes under i autorisasjon. Om den ikke settes opprettes kontoen under SvarUt-tjenesten til organisasjonen definert av fiksOrgId.",
            "format" : "uuid"
          },
          "navn" : {
            "maxLength" : 200,
            "minLength" : 2,
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string",
            "description" : "SvarUt konto visningsnavn"
          },
          "forside" : {
            "$ref" : "#/components/schemas/ForsideKonfigurasjon"
          },
          "print" : {
            "$ref" : "#/components/schemas/OppdaterPrintKonfigurasjonRequest"
          },
          "varsling" : {
            "$ref" : "#/components/schemas/OppdaterVarslingKonfigurasjonReqest"
          },
          "aktiver" : {
            "type" : "boolean",
            "description" : "Skal kontoen aktiveres?"
          },
          "folkeregisterKonfigurasjon" : {
            "$ref" : "#/components/schemas/FolkeregisterKonfigurasjon"
          }
        },
        "description" : "En request for å opprette en ny SvarUt Konto"
      },
      "Organisasjon" : {
        "required" : [ "eposter", "fiksOrgId" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId",
            "format" : "uuid"
          },
          "eposter" : {
            "type" : "array",
            "description" : "E-post til tjeneste admin for SvarUt. Mottar varsel statusvarsel for forsendelser",
            "items" : {
              "type" : "string",
              "description" : "E-post til tjeneste admin for SvarUt. Mottar varsel statusvarsel for forsendelser"
            }
          }
        },
        "description" : "SvarUt konfigurasjon for FiksOrg"
      },
      "OppdaterOrganisasjonRequest" : {
        "required" : [ "eposter" ],
        "type" : "object",
        "properties" : {
          "eposter" : {
            "type" : "array",
            "description" : "E-post til tjeneste admin for SvarUt. Mottar varsel statusvarsel for forsendelser",
            "items" : {
              "type" : "string",
              "description" : "E-post til tjeneste admin for SvarUt. Mottar varsel statusvarsel for forsendelser"
            }
          }
        },
        "description" : "Organisasjonskonfigurasjon for SvarUt"
      }
    }
  }
}