{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Svarut Folkeregister - Hemmelig adresse",
    "description" : "Tjeneste for å kunne bestemme om person har hemmelig",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://developers.fiks.ks.no/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://forvaltning.fiks.ks.no",
    "description" : "KS Fiks API host"
  }, {
    "url" : "https://forvaltning.fiks.test.ks.no",
    "description" : "KS Fiks TEST API host"
  } ],
  "tags" : [ {
    "name" : "SvarutFolkeregister",
    "description" : "API for å spørre om fnr er koblet mot død person"
  }, {
    "name" : "Svarut folkeregisterrolle konfigurasjon",
    "description" : "API for konfigurering av rolle for folkeregisteroppslag for Svarut Folkeregister"
  } ],
  "paths" : {
    "/svarut-folkeregister/api/v1/doedsregister/alleDoede" : {
      "get" : {
        "tags" : [ "SvarutFolkeregister" ],
        "summary" : "Henter fnr på alle personer er registrert som død i folkeregisteret med dødstidspunkt eldre enn 14 dager",
        "operationId" : "hentAlleDoedePersoner",
        "responses" : {
          "200" : {
            "description" : "Henter alle fnr knyttet til døde personer med dødstidspunkt eldre enn 14 dager (og mindre enn 10 år)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DoedePersonerRetur"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-folkeregister-konfigurasjon/api/v1/organisasjoner/{fiksOrgId}/folkeregister" : {
      "get" : {
        "tags" : [ "Svarut folkeregisterrolle konfigurasjon" ],
        "summary" : "Henter status på om organisasjon har aktivert folkeregister for oppslag for Svarut Folkeregister",
        "operationId" : "hentStatus",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Oppslag mot folkeregister aktivert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FolkeregisterStatusRetur"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Svarut folkeregisterrolle konfigurasjon" ],
        "summary" : "Aktiverer folkeregister og oppretter ny folkeregister-rolle som brukes til oppslag for å populere Svarut Folkeregister",
        "operationId" : "aktiverFolkeregister",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Folkeregister-rolle opprettet aktivert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AktivertRolle"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Svarut folkeregisterrolle konfigurasjon" ],
        "summary" : "Deaktiverer folkeregister og sletter folkeregister-rolle som brukes til oppslag for å populere Svarut Folkeregister",
        "operationId" : "deaktiverFolkeregister",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Oppslag mot folkeregister deaktivert"
          }
        }
      }
    },
    "/svarut-folkeregister-konfigurasjon/api/v1/organisasjoner" : {
      "get" : {
        "tags" : [ "Svarut folkeregisterrolle konfigurasjon" ],
        "summary" : "Henter alle organisasjoner som har aktivert folkeregister for oppslag mot Svarut Folkeregister",
        "operationId" : "hentAlleFiksOrg",
        "responses" : {
          "200" : {
            "description" : "Oppslag mot folkeregister aktivert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AktiveOrganisasjoner"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-folkeregister-konfigurasjon/api/v1/organisasjoner/folkeregisterAktivert" : {
      "get" : {
        "tags" : [ "Svarut folkeregisterrolle konfigurasjon" ],
        "summary" : "Henter alle organisasjoner som har aktivert folkeregister for oppslag mot Svarut Folkeregister",
        "operationId" : "hentAlleFiksOrgMedAktivertFolkeregister",
        "responses" : {
          "200" : {
            "description" : "Oppslag mot folkeregister aktivert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organisasjoner"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-folkeregister-konfigurasjon/api/v1/organisasjoner/roller/oppdater" : {
      "put" : {
        "tags" : [ "Svarut folkeregisterrolle konfigurasjon" ],
        "summary" : "Oppdaterer alle roller som er opprettet for tjeneste SVARUT",
        "operationId" : "oppdaterAlleRoller",
        "responses" : {
          "204" : {
            "description" : "Oppdatert roller som er opprettet for tjenesten SVARUT"
          }
        }
      }
    },
    "/svarut-folkeregister/api/v1/hemmeligAdresseRegister/personer" : {
      "get" : {
        "tags" : [ "SvarutFolkeregister" ],
        "summary" : "Henter fnr på alle personer som er registrert med strengt fortrolig adresse",
        "operationId" : "hentPersonerMedHemmeligAdresse",
        "responses" : {
          "200" : {
            "description" : "Henter alle fnr knyttet til personer med strengt fortrolig adresse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonerMedHemmeligAdresseRetur"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "DoedePersonerRetur" : {
        "type" : "object",
        "properties" : {
          "fnrs" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Liste over døde personer"
      },
      "AktivertRolle" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "AktiveOrganisasjoner" : {
        "required" : [ "fiksOrg" ],
        "type" : "object",
        "properties" : {
          "fiksOrg" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Organisasjon"
            }
          }
        },
        "description" : "Liste over fiksOrgId og rolleId for fiksOrg som aktivert folkeregister for SvarUt"
      },
      "Organisasjon" : {
        "required" : [ "fiksOrgId", "rolleId" ],
        "type" : "object",
        "properties" : {
          "fiksOrgId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "rolleId" : {
            "type" : "string",
            "format" : "uuid"
          }
        },
        "description" : "Informasjon om organisasjon"
      },
      "Organisasjoner" : {
        "required" : [ "fiksOrgIs" ],
        "type" : "object",
        "properties" : {
          "fiksOrgIs" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          }
        },
        "description" : "Liste over fiksOrgId med aktive folkeregisterroller"
      },
      "FolkeregisterStatusRetur" : {
        "required" : [ "folkeregisterStatus" ],
        "type" : "object",
        "properties" : {
          "folkeregisterStatus" : {
            "type" : "string",
            "enum" : [ "AKTIVERT", "DEAKTIVERT" ]
          }
        },
        "description" : "Informasjon om status for folkeregister-aktivering"
      },
      "PersonerMedHemmeligAdresseRetur" : {
        "type" : "object",
        "properties" : {
          "fnrs" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "Liste over personer med hemmelig adresse"
      }
    }
  }
}