{
  "openapi": "3.0.1",
  "info": {
    "title": "Fiks SvarUt: SvarInn konfigurasjon",
    "description": "SvarInn konfigurasjon API gir tilgang til å administrere mottakersystem.",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks@ksdigital.no"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "SvarInn",
      "description": "API for SvarInn konfigurasjon"
    },
    {
      "name": "Autentisering",
      "description": "API for bruk av autentisering mot SvarInn konfigurasjon"
    }
  ],
  "paths": {
    "/svarinn-konfigurasjon/api/v1/{fiksOrgId}/mottakersystemer": {
      "get": {
        "tags": [
          "Mottakersystem"
        ],
        "description": "Henter mottakersystemer",
        "summary": "Henter mottakersystemer",
        "operationId": "hentMottakersystemer",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          },
          {
            "$ref": "#/components/parameters/Sidenummer"
          },
          {
            "$ref": "#/components/parameters/AntallPerSide"
          }
        ],
        "responses": {
          "200": {
            "description": "Mottakersystemer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mottakersystemer"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "post": {
        "tags": [
          "Mottakersystem"
        ],
        "description": "Oppretter mottakersystem",
        "summary": "Oppretter mottakersystem",
        "operationId": "opprettMottakersystem",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MottakersystemCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mottakersystem opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MottakersystemCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/svarinn-konfigurasjon/api/v1/{fiksOrgId}/mottakersystemer/{mottakersystemId}": {
      "get": {
        "tags": [
          "Mottakersystem"
        ],
        "description": "Henter mottakersystem",
        "summary": "Henter mottakersystem",
        "operationId": "hentMottakersystem",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          },
          {
            "$ref": "#/components/parameters/MottakersystemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Mottakersystem",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mottakersystem"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "put": {
        "tags": [
          "Mottakersystem"
        ],
        "description": "Endrer mottakersystem",
        "summary": "Endrer mottakersystem",
        "operationId": "endreMottakersystem",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          },
          {
            "$ref": "#/components/parameters/MottakersystemId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MottakersystemUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Endret mottakersystem"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/svarinn-konfigurasjon/api/v1/{fiksOrgId}/mottakersystemer/{mottakersystemId}/organisasjoner": {
      "get": {
        "tags": [
          "Organisasjon"
        ],
        "description": "Henter organisasjoner som er koblet mot mottakersystemet",
        "summary": "Henter organisasjoner som er koblet mot mottakersystemet",
        "operationId": "hentOrganisasjoner",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          },
          {
            "$ref": "#/components/parameters/MottakersystemId"
          },
          {
            "$ref": "#/components/parameters/Sidenummer"
          },
          {
            "$ref": "#/components/parameters/AntallPerSide"
          }
        ],
        "responses": {
          "200": {
            "description": "Organisasjoner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organisasjoner"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "post": {
        "tags": [
          "Organisasjon"
        ],
        "description": "Oppretter organisasjon",
        "summary": "Oppretter organisasjon",
        "operationId": "opprettOrganisasjon",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          },
          {
            "$ref": "#/components/parameters/MottakersystemId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganisasjonCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Opprettet organisasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganisasjonCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/svarinn-konfigurasjon/api/v1/{fiksOrgId}/mottakersystemer/{mottakersystemId}/organisasjoner/{organisasjonId}": {
      "put": {
        "tags": [
          "Organisasjon"
        ],
        "description": "Endrer organisasjon",
        "summary": "Endrer organisasjon",
        "operationId": "endreOrganisasjon",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          },
          {
            "$ref": "#/components/parameters/MottakersystemId"
          },
          {
            "$ref": "#/components/parameters/OrganisasjonId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganisasjonUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Endret organisasjon"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "Ingen organisasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "Organisasjon"
        ],
        "description": "Sletter organisasjon",
        "summary": "Sletter organisasjon",
        "operationId": "sletteOrganisasjon",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          },
          {
            "$ref": "#/components/parameters/MottakersystemId"
          },
          {
            "$ref": "#/components/parameters/OrganisasjonId"
          }
        ],
        "responses": {
          "204": {
            "description": "Slettet organisasjon"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "Ingen organisasjon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/svarinn-konfigurasjon/api/v1/{fiksOrgId}/mottakersystemer/{mottakersystemId}/innstillinger/aktivstatus": {
      "put": {
        "tags": [
          "Innstillinger"
        ],
        "description": "Endrer aktiv status for mottakersystem",
        "summary": "Endrer aktiv status for mottakersystem",
        "operationId": "endreAktivStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          },
          {
            "$ref": "#/components/parameters/MottakersystemId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AktivStatusUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Aktiv status endret"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/svarinn-konfigurasjon/api/v1/{fiksOrgId}/mottakersystemer/{mottakersystemId}/innstillinger/passord": {
      "put": {
        "tags": [
          "Innstillinger"
        ],
        "description": "Genererer passord for mottakersystem",
        "summary": "Genererer passord for mottakersystem",
        "operationId": "opprettPassord",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          },
          {
            "$ref": "#/components/parameters/MottakersystemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Opprettet passord",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerertPassord"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/svarinn-konfigurasjon/api/v1/{fiksOrgId}/mottakersystemer/{mottakersystemId}/innstillinger/sertifikat": {
      "put": {
        "tags": [
          "Innstillinger"
        ],
        "description": "Laster opp sertifikat",
        "summary": "Laster opp sertifikat",
        "operationId": "lastOppSertifikat",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          },
          {
            "$ref": "#/components/parameters/MottakersystemId"
          }
        ],
        "responses": {
          "201": {
            "description": "Lastet opp sertifikat"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "Innstillinger"
        ],
        "description": "Sletter sertifikat",
        "summary": "Sletter sertifikat",
        "operationId": "slettSertifikat",
        "parameters": [
          {
            "$ref": "#/components/parameters/FiksOrgId"
          },
          {
            "$ref": "#/components/parameters/MottakersystemId"
          }
        ],
        "responses": {
          "204": {
            "description": "Slettet sertifikat"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "Ingen sertifikat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/svarinn-konfigurasjon/api/v1/forsendelsestyper": {
      "get": {
        "tags": [
          "Forsendelsestyper"
        ],
        "description": "Henter forsendelsestyper",
        "summary": "Henter forsendelsestyper",
        "operationId": "hentForsendelsestyper",
        "responses": {
          "200": {
            "description": "Hent forsendelsestyper",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forsendelsestyper"
                }
              }
            }
          },
          "404": {
            "description": "Ingen forsendelsestyper",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/svarinn-konfigurasjon/api/v1/altinn/organisasjoner": {
      "get": {
        "tags": [
          "Oppslag"
        ],
        "description": "Henter alle organisasjoner innlogget person har tilgang til i Altinn",
        "summary": "Henter alle organisasjoner innlogget person har tilgang til i Altinn",
        "operationId": "hentOrganisasjonerFraAltinn",
        "responses": {
          "200": {
            "description": "Hent organisasjoner som innlogget person har tilgang til i Altinn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganisasjonerTreff"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/svarinn-konfigurasjon/api/v1/autentiser": {
      "get": {
        "tags": [
          "Autentisering"
        ],
        "summary": "Autentiserer SvarInn mottakersystem",
        "operationId": "autentiser",
        "responses": {
          "204": {
            "description": "Autentisere SvarInn mottakersystem"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "FiksOrgId": {
        "name": "fiksOrgId",
        "required": true,
        "in": "path",
        "schema": {
          "type": "string",
          "format": "uuid",
          "description": "Fiks organisasjons-id"
        }
      },
      "MottakersystemId": {
        "name": "mottakersystemId",
        "required": true,
        "in": "path",
        "schema": {
          "type": "string",
          "format": "uuid",
          "description": "Mottakersystemets id"
        }
      },
      "OrganisasjonId": {
        "name": "organisasjonId",
        "required": true,
        "in": "path",
        "schema": {
          "type": "string",
          "format": "uuid",
          "description": "Organisasjonens id"
        }
      },
      "Sidenummer": {
        "name": "sidenummer",
        "in": "query",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "default": 0
        }
      },
      "AntallPerSide": {
        "name": "antallPerSide",
        "in": "query",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "default": 20,
          "maximum": 1000
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "Error400": {
        "description": "Ugyldig forespørsel",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error401": {
        "description": "Autentisering feilt",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error403": {
        "description": "Ingen tilgang",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Error500": {
        "description": "Systemfeil",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      }
    },
    "schemas": {
      "GenerertPassord": {
        "type": "object",
        "required": [
          "passord"
        ],
        "properties": {
          "passord": {
            "type": "string",
            "description": "Generert passord for mottakersystem"
          }
        }
      },
      "Mottakersystemer": {
        "type": "object",
        "properties": {
          "sidenummer": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert sidenummer"
          },
          "antallPerSide": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert antall treff per side"
          },
          "totaltAntallTreff": {
            "type": "integer",
            "format": "int32",
            "description": "Det totale antallet treff uten paginering"
          },
          "antallTreff": {
            "type": "integer",
            "format": "int32",
            "description": "Antall treff på denne siden"
          },
          "treff": {
            "type": "array",
            "description": "Mottakersystemene som samsvarer",
            "items": {
              "$ref": "#/components/schemas/MottakersystemTreff"
            }
          }
        }
      },
      "Mottakersystem": {
        "type": "object",
        "properties": {
          "mottakersystemId": {
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "type": "string"
          },
          "eposter": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "aktiv": {
            "type": "boolean"
          },
          "sertifikat": {
            "$ref": "#/components/schemas/SertifikatInfo"
          },
          "antallTilknyttedeOrganisasjoner": {
            "type": "integer",
            "format": "int32"
          },
          "servicePassord": {
            "$ref": "#/components/schemas/ServicePassordInfo"
          }
        }
      },
      "MottakersystemTreff": {
        "type": "object",
        "properties": {
          "mottakersystemId": {
            "type": "string",
            "format": "uuid"
          },
          "navn": {
            "type": "string"
          },
          "aktiv": {
            "type": "boolean"
          },
          "sertifikat": {
            "$ref": "#/components/schemas/SertifikatInfo"
          },
          "antallTilknyttedeOrganisasjoner": {
            "type": "integer",
            "format": "int32"
          },
          "servicePassord": {
            "$ref": "#/components/schemas/ServicePassordInfo"
          }
        }
      },
      "MottakersystemCreateRequest": {
        "required": [
          "navn",
          "eposter"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "type": "string",
            "minLength": 1
          },
          "eposter": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "minItems": 1
          }
        },
        "description": "Modell for å opprette et mottakersystem"
      },
      "MottakersystemCreateResponse": {
        "type": "object",
        "properties": {
          "mottakersystemId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "description": "Modell for mottakersystemets id ved opprettelse"
      },
      "MottakersystemUpdateRequest": {
        "required": [
          "navn",
          "eposter"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "type": "string",
            "minLength": 1
          },
          "eposter": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "minItems": 1
          }
        },
        "description": "Modell for å endre et mottakersystem"
      },
      "AktivStatusUpdateRequest": {
        "required": [
          "aktiv"
        ],
        "type": "object",
        "properties": {
          "aktiv": {
            "type": "boolean"
          }
        },
        "description": "Modell for å endre aktiv status for et mottakersystem"
      },
      "Organisasjoner": {
        "type": "object",
        "properties": {
          "sidenummer": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert sidenummer"
          },
          "antallPerSide": {
            "type": "integer",
            "format": "int32",
            "description": "Returnert antall treff per side"
          },
          "totaltAntallTreff": {
            "type": "integer",
            "format": "int32",
            "description": "Det totale antallet treff uten paginering"
          },
          "antallTreff": {
            "type": "integer",
            "format": "int32",
            "description": "Antall treff på denne siden"
          },
          "treff": {
            "type": "array",
            "description": "Organisasjonene for mottakersystemet",
            "items": {
              "$ref": "#/components/schemas/Organisasjon"
            }
          }
        }
      },
      "Organisasjon": {
        "type": "object",
        "properties": {
          "organisasjonId": {
            "type": "string",
            "format": "uuid"
          },
          "mottakersystemId": {
            "type": "string",
            "format": "uuid"
          },
          "organisasjonsnummer": {
            "$ref": "#/components/schemas/Organisasjonsnummer"
          },
          "navn": {
            "type": "string"
          },
          "forsendelsestyper": {
            "type": "array",
            "description": "Forsendelsestyper som er knyttet til organisasjonen",
            "items": {
              "type": "string"
            }
          },
          "sikkerhetsniva": {
            "$ref": "#/components/schemas/Sikkerhetsniva"
          },
          "duplikatIMottakersystem": {
            "type": "array",
            "description": "Liste over andre mottakersystemer denne organisasjonen også finnes i",
            "items": {
              "type": "object",
              "properties": {
                "mottakersystemId": {
                  "type": "string",
                  "format": "uuid"
                },
                "navn": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "OrganisasjonCreateRequest": {
        "required": [
          "organisasjonsnummer",
          "sikkerhetsniva"
        ],
        "type": "object",
        "properties": {
          "organisasjonsnummer": {
            "$ref": "#/components/schemas/Organisasjonsnummer"
          },
          "forsendelsestyper": {
            "type": "array",
            "description": "Forsendelsestyper som skal knyttes til organisasjonen",
            "items": {
              "type": "string"
            }
          },
          "sikkerhetsniva": {
            "$ref": "#/components/schemas/Sikkerhetsniva"
          }
        },
        "description": "Modell for å opprette en organisasjon"
      },
      "OrganisasjonCreateResponse": {
        "type": "object",
        "properties": {
          "organisasjonId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "description": "Modell for organisasjonens id ved opprettelse"
      },
      "OrganisasjonUpdateRequest": {
        "required": [
          "sikkerhetsniva"
        ],
        "type": "object",
        "properties": {
          "forsendelsestyper": {
            "type": "array",
            "description": "Forsendelsestyper som skal knyttes til organisasjonen",
            "items": {
              "type": "string"
            }
          },
          "sikkerhetsniva": {
            "$ref": "#/components/schemas/Sikkerhetsniva"
          }
        },
        "description": "Modell for å endre en organisasjon"
      },
      "SertifikatInfo": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "GYLDIG",
              "UTLOPT",
              "UTLOPER_SNART",
              "MANGLER",
              "IKKE_STARTET"
            ]
          },
          "gyldigFraDato": {
            "type": "string",
            "format": "date",
            "description": "Starten på sertifikatets gyldighetsperiode"
          },
          "gyldigTilDato": {
            "type": "string",
            "format": "date",
            "description": "Utløpsdato for sertifikatets gyldighetsperiode"
          },
          "sistOpplastetDato": {
            "type": "string",
            "format": "date",
            "description": "Dato for når sertifikatet ble lastet opp"
          }
        }
      },
      "ServicePassordInfo": {
        "type": "object",
        "properties": {
          "harServicePassord": {
            "type": "boolean",
            "description": "Indikerer om det er et gyldig servicepassord for mottakersystemet"
          },
          "sistGenerertDato": {
            "type": "string",
            "format": "date",
            "description": "Dato for når servicepassordet ble generert"
          }
        }
      },
      "Organisasjonsnummer": {
        "type": "string",
        "pattern": "^[0-9]{9}$"
      },
      "Sikkerhetsniva": {
        "type": "string",
        "enum": [
          "ALLE",
          "HOYESTE",
          "BETYDELIG"
        ]
      },
      "Forsendelsestyper": {
        "required": [
          "forsendelsestyper"
        ],
        "type": "object",
        "properties": {
          "forsendelsestyper": {
            "uniqueItems": true,
            "type": "array",
            "description": "Liste med alle eksisterende forsendelsestyper",
            "items": {
              "type": "string",
              "description": "Liste med alle eksisterende forsendelsestyper"
            }
          }
        }
      },
      "OrganisasjonerTreff": {
        "type": "array",
        "description": "Liste av organisasjoner",
        "items": {
          "$ref": "#/components/schemas/OrganisasjonTreff"
        }
      },
      "OrganisasjonTreff": {
        "type": "object",
        "properties": {
          "organisasjonsnummer": {
            "$ref": "#/components/schemas/Organisasjonsnummer"
          },
          "navn": {
            "type": "string"
          }
        },
        "description": "Informasjon om organisasjon"
      },
      "Oppslag": {
        "type": "object",
        "properties": {
          "organisasjonsnummer": {
            "$ref": "#/components/schemas/Organisasjonsnummer"
          },
          "navn": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Status på oppslag",
            "enum": [
              "FUNNET",
              "IKKE_FUNNET",
              "SLETTET"
            ]
          }
        },
        "description": "Informasjon om organisasjon hentet fra enhetsregisteret"
      },
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      }
    }
  }
}