{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS SvarUt: Konfigurasjon Service for kontoer",
    "description" : "Konfigurasjon service for kontoer",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Konto",
    "description" : "API for bruk av konfigurasjon"
  } ],
  "paths" : {
    "/svarut-konfigurasjon/api/v1/{fiksOrgId}/kontoer/{kontoId}/altinn/aktiver" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Aktiverer altinn-konfigurasjon",
        "operationId" : "aktiverAltinn",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Aktiverer altinn-konfigurasjon"
          },
          "404" : {
            "description" : "KontoId ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/{fiksOrgId}/kontoer/{kontoId}/aktiver" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Aktiverer konto",
        "operationId" : "aktiverAvsender",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Aktiverer konto"
          },
          "404" : {
            "description" : "KontoId ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/{fiksOrgId}/kontoer/{kontoId}/sdp/aktiver" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Aktiverer SDP",
        "operationId" : "aktiverSDP",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Aktiverer SDP"
          },
          "404" : {
            "description" : "KontoId ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/{fiksOrgId}/kontoer/{kontoId}/altinn/deaktiver" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Deaktiverer altinn-konfigurasjon",
        "operationId" : "deaktiverAltinn",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deaktiverer altinn-konfigurasjon (ingen varsling)"
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/{fiksOrgId}/kontoer/{kontoId}/deaktiver" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Deaktiverer konto",
        "operationId" : "deaktiverAvsender",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deaktiverer konto"
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/{fiksOrgId}/kontoer/{kontoId}/sdp/deaktiver" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Deaktiverer SDP",
        "operationId" : "deaktiverSDP",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deaktiverer SDP"
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/{fiksOrgId}/kontoer/{kontoId}" : {
      "get" : {
        "tags" : [ "Konto" ],
        "description" : "Hent konto med kontoid som er knytta mot fiksOrgId",
        "operationId" : "hentKontoForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent konto knyttet til kontoId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoJSON"
                }
              }
            }
          },
          "404" : {
            "description" : "Kontoid ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdater konto med id",
        "operationId" : "oppdaterKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/KontoJSON"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Oppdatert konto"
          },
          "400" : {
            "description" : "Ugyldig data for oppdatering av konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/{fiksOrgId}/kontoer" : {
      "get" : {
        "tags" : [ "Konto" ],
        "description" : "Hent kontoer knytta mot bestemt fiksOrgId som har spesifikk tilgangstype",
        "operationId" : "hentKontoerForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "typeKonto",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "enum" : [ "ALLE", "LESETILGANG", "SENDETILGANG", "KONFIGURASJONSTILGANG" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Henter kontoer knyttet mot fiksOrgId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoJSON"
                }
              }
            }
          },
          "404" : {
            "description" : "Ugyldig fiksOrgId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Konto" ],
        "description" : "Oppretter ny konto",
        "operationId" : "opprettKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettKonto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Oppretter konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for opprettelse av konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/{fiksOrgId}/kontoer/{kontoId}/altinn" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdaterer konfigurasjon for altinn på konto",
        "operationId" : "oppdaterAltinnKonfigurasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AltinnKonfigurasjon"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Oppdatert altinnkonfigurasjon"
          },
          "400" : {
            "description" : "Ugyldig data for altinnkonfigurasjon"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/{fiksOrgId}/kontoer/{kontoId}/forside" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdaterer konfigurasjon for forside på konto",
        "operationId" : "oppdaterForsideKonfigurasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ForsideKonfigurasjon"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Oppdatert forsidekonfigurasjon"
          },
          "400" : {
            "description" : "Ugyldig data for forsidekonfigurasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/{fiksOrgId}/kontoer/{kontoId}/print" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdaterer konfigurasjon for print på konto",
        "operationId" : "oppdaterPrintKonfigurasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PrintKonfigurasjon"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Oppdatert printkonfigurasjon"
          },
          "400" : {
            "description" : "Ugyldig data for printkonfigurasjon",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/svarut-konfigurasjon/api/v1/{fiksOrgId}/kontoer/{kontoId}/sdp" : {
      "put" : {
        "tags" : [ "Konto" ],
        "description" : "Oppdaterer konfigurasjon for sdp på konto",
        "operationId" : "oppdaterSDPKonfigurasjon",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SDPKonfigurasjon"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Oppdatert sdpkonfigurasjon"
          },
          "400" : {
            "description" : "Ugyldig data for sdpkonfigurasjon"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "Adresse" : {
        "type" : "object",
        "properties" : {
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "type" : "string"
          },
          "poststed" : {
            "type" : "string"
          }
        }
      },
      "AltinnKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "avsender" : {
            "type" : "string"
          },
          "aktiv" : {
            "type" : "boolean"
          },
          "ekstratekst" : {
            "type" : "string"
          }
        }
      },
      "ForsideKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "orgnummer" : {
            "type" : "string"
          },
          "avsender" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Adresse"
          },
          "forsidetekst" : {
            "type" : "string"
          }
        }
      },
      "KontoJSON" : {
        "type" : "object",
        "properties" : {
          "visningsnavn" : {
            "type" : "string"
          },
          "aktiv" : {
            "type" : "boolean"
          },
          "konfigurasjon" : {
            "$ref" : "#/components/schemas/Kontokonfigurasjon"
          }
        }
      },
      "Kontokonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "forside" : {
            "$ref" : "#/components/schemas/ForsideKonfigurasjon"
          },
          "varsling" : {
            "$ref" : "#/components/schemas/AltinnKonfigurasjon"
          },
          "print" : {
            "$ref" : "#/components/schemas/PrintKonfigurasjon"
          },
          "sdp" : {
            "$ref" : "#/components/schemas/SDPKonfigurasjon"
          }
        }
      },
      "PrintKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "printleverandor" : {
            "type" : "string",
            "enum" : [ "MANUELL_PRINT", "GRAFISK_DIGITAL" ]
          },
          "automatiskEttersendingForVirksomheter" : {
            "type" : "boolean"
          }
        }
      },
      "SDPKonfigurasjon" : {
        "type" : "object",
        "properties" : {
          "avsendernavn" : {
            "type" : "string"
          },
          "avsenderIdentifikatorHosSDP" : {
            "type" : "string"
          },
          "ekstratekst" : {
            "type" : "string"
          },
          "orgnr" : {
            "type" : "string"
          },
          "sdpErAktiv" : {
            "type" : "boolean"
          },
          "sendMedDokumenter" : {
            "type" : "boolean"
          },
          "signering" : {
            "type" : "boolean"
          }
        }
      },
      "OpprettAdresse" : {
        "required" : [ "postnummer", "poststed" ],
        "type" : "object",
        "properties" : {
          "adresselinje1" : {
            "type" : "string"
          },
          "adresselinje2" : {
            "type" : "string"
          },
          "adresselinje3" : {
            "type" : "string"
          },
          "postnummer" : {
            "pattern" : "\\d{4}",
            "type" : "string"
          },
          "poststed" : {
            "pattern" : "^[_a-zæøåA-ZÆØÅ\\-]+$",
            "type" : "string"
          }
        }
      },
      "OpprettForsideKonfigurasjon" : {
        "required" : [ "adresse", "avsender", "orgnummer" ],
        "type" : "object",
        "properties" : {
          "orgnummer" : {
            "pattern" : "(^\\d{9}$)|",
            "type" : "string"
          },
          "avsender" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/OpprettAdresse"
          },
          "forsidetekst" : {
            "type" : "string"
          }
        },
        "description" : "OpprettForsideKonfigurasjon"
      },
      "OpprettKonto" : {
        "required" : [ "konfigurasjon", "visningsnavn" ],
        "type" : "object",
        "properties" : {
          "visningsnavn" : {
            "pattern" : "^[_a-zæøåA-ZÆØÅ0-9\\-]+$",
            "type" : "string"
          },
          "konfigurasjon" : {
            "$ref" : "#/components/schemas/OpprettKontokonfigurasjon"
          }
        },
        "description" : "Inneholder nødvendig informasjon for å opprette en ny konto"
      },
      "OpprettKontokonfigurasjon" : {
        "required" : [ "forside", "print" ],
        "type" : "object",
        "properties" : {
          "forside" : {
            "$ref" : "#/components/schemas/OpprettForsideKonfigurasjon"
          },
          "print" : {
            "$ref" : "#/components/schemas/OpprettPrintKonfigurasjon"
          }
        },
        "description" : "Minimum informasjon for å opprette Kontokonfigurasjon"
      },
      "OpprettPrintKonfigurasjon" : {
        "required" : [ "printleverandor" ],
        "type" : "object",
        "properties" : {
          "printleverandor" : {
            "type" : "string",
            "enum" : [ "MANUELL_PRINT", "GRAFISK_DIGITAL" ]
          }
        },
        "description" : "Minimum informasjon for å opprette PrintKonfigurasjon"
      }
    }
  }
}