{
  "openapi": "3.1.1",
  "info": {
    "title": "KS Fiks: Tilskuddssoknad v1",
    "description": "Service for Tilskuddssøknad",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Tilskuddssoknad",
      "description": "Endepunkter for å lese/skrive søknader i fiks-tilskuddsoknad"
    },
    {
      "name": "Melding",
      "description": "Endepunkter for å opprette og lese meldinger knyttet til en søknad"
    }
  ],
  "paths": {
    "/tilskuddssoknad/api/v1": {
      "get": {
        "tags": [
          "Tilskuddssoknad"
        ],
        "operationId": "hentSoknaderForPerson",
        "summary": "Henter søknader for en person.",
        "responses": {
          "200": {
            "description": "Liste med søknader",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 100,
                  "items": {
                    "$ref": "#/components/schemas/SoknadDetaljer"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      },
      "post": {
        "tags": [
          "Tilskuddssoknad"
        ],
        "operationId": "opprettSoknad",
        "summary": "Opprett en søknad i soknadsregisteret",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettSoknadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Søknaden er opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoknadDetaljer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddssoknad/api/v1/{soknadsregisterId}": {
      "patch": {
        "tags": [
          "Tilskuddssoknad"
        ],
        "operationId": "oppdaterSoknad",
        "summary": "Oppdaterer felter på en søknad (status, tittel og/eller fagsystemreferanse)",
        "parameters": [
          {
            "name": "soknadsregisterId",
            "in": "path",
            "description": "SoknadsregisterId for søknaden",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterSoknadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Søknaden er oppdatert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoknadDetaljer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      },
      "get": {
        "tags": [
          "Tilskuddssoknad"
        ],
        "operationId": "hentSoknad",
        "summary": "Henter søknad angitt av soknadsregisterId",
        "parameters": [
          {
            "name": "soknadsregisterId",
            "in": "path",
            "description": "SoknadsregisterId for søknaden",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoknadDetaljer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddssoknad/api/v1/{soknadsregisterId}/deltager": {
      "post": {
        "tags": [
          "Tilskuddssoknad"
        ],
        "operationId": "leggTilDeltager",
        "summary": "Legger til en deltager i en søknad",
        "parameters": [
          {
            "name": "soknadsregisterId",
            "in": "path",
            "description": "SoknadsregisterId for søknaden",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeltagerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Deltager er oppdatert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoknadDetaljer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      },
      "put": {
        "tags": [
          "Tilskuddssoknad"
        ],
        "operationId": "oppdaterDeltager",
        "summary": "Oppdaterer en deltager i en søknad",
        "parameters": [
          {
            "name": "soknadsregisterId",
            "in": "path",
            "description": "SoknadsregisterId for søknaden",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeltagerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Status oppdatert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoknadDetaljer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      },
      "delete": {
        "tags": [
          "Tilskuddssoknad"
        ],
        "operationId": "fjernDeltager",
        "summary": "Fjerner en deltager i en søknad",
        "parameters": [
          {
            "name": "soknadsregisterId",
            "in": "path",
            "description": "SoknadsregisterId for søknaden",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeltagerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Status oppdatert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoknadDetaljer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddssoknad/api/v1/{soknadsregisterId}/meldingstraad": {
      "get": {
        "tags": [
          "Melding"
        ],
        "operationId": "hentMeldingstraaderForSoknad",
        "summary": "Henter alle meldingstrådene på en søknad, nyeste aktivitet først",
        "parameters": [
          {
            "name": "soknadsregisterId",
            "in": "path",
            "description": "SoknadsregisterId for søknaden",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liste med meldingstrådene på søknaden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 100,
                  "items": {
                    "$ref": "#/components/schemas/Meldingstraadoversikt"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      },
      "post": {
        "tags": [
          "Melding"
        ],
        "operationId": "nyMeldingstraad",
        "summary": "Oppretter en ny meldingstråd med den første meldingen på en søknad",
        "description": "Id-ene kan settes av kallende system via meldingstraadId og meldingId. Dersom meldingstraadId allerede er i bruk, returneres HTTP 409.",
        "parameters": [
          {
            "name": "soknadsregisterId",
            "in": "path",
            "description": "SoknadsregisterId for søknaden",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NyMeldingstraadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Meldingstråden er opprettet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meldingstraad"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "$ref": "#/components/responses/409Conflict"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddssoknad/api/v1/{soknadsregisterId}/meldingstraad/{meldingstraadId}": {
      "get": {
        "tags": [
          "Melding"
        ],
        "operationId": "hentMeldingstraad",
        "summary": "Henter en meldingstråd med alle meldingene i tråden, eldste melding først",
        "parameters": [
          {
            "name": "soknadsregisterId",
            "in": "path",
            "description": "SoknadsregisterId for søknaden",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "meldingstraadId",
            "in": "path",
            "description": "MeldingstraadId for meldingstråden",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meldingstraad"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddssoknad/api/v1/{soknadsregisterId}/meldingstraad/{meldingstraadId}/melding": {
      "post": {
        "tags": [
          "Melding"
        ],
        "operationId": "nyMelding",
        "summary": "Legger en ny melding på en eksisterende meldingstråd",
        "description": "Meldingens id kan settes av kallende system via meldingId. Dersom id-en allerede er i bruk på meldingstråden, returneres HTTP 409.",
        "parameters": [
          {
            "name": "soknadsregisterId",
            "in": "path",
            "description": "SoknadsregisterId for søknaden",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "meldingstraadId",
            "in": "path",
            "description": "MeldingstraadId for meldingstråden meldingen skal legges på",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NyMeldingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Meldingen er lagt på meldingstråden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meldingstraad"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "$ref": "#/components/responses/409Conflict"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddssoknad/api/v1/{soknadsregisterId}/fil": {
      "post": {
        "tags": [
          "Tilskuddssoknad"
        ],
        "operationId": "leggTilFil",
        "summary": "Legger til en fil i en søknad",
        "description": "Filens id kan settes av kallende system via filId. Dersom id-en allerede er i bruk på søknaden, returneres HTTP 409.",
        "parameters": [
          {
            "name": "soknadsregisterId",
            "in": "path",
            "description": "SoknadsregisterId for søknaden",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NyFilRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Filen er lagt til",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoknadDetaljer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "$ref": "#/components/responses/409Conflict"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddssoknad/api/v1/{soknadsregisterId}/fil/{filId}": {
      "delete": {
        "tags": [
          "Tilskuddssoknad"
        ],
        "operationId": "fjernFil",
        "summary": "Fjerner en fil fra en søknad",
        "parameters": [
          {
            "name": "soknadsregisterId",
            "in": "path",
            "description": "SoknadsregisterId for søknaden",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filId",
            "in": "path",
            "description": "Id for filen som skal fjernes",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filen er fjernet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoknadDetaljer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddssoknad/api/v1/{soknadsregisterId}/oppgave": {
      "post": {
        "tags": [
          "Tilskuddssoknad"
        ],
        "operationId": "leggTilOppgave",
        "summary": "Legger til en oppgave i en søknad",
        "description": "Oppgavens id kan settes av kallende system via oppgaveId. Dersom id-en allerede er i bruk på søknaden, returneres HTTP 409.",
        "parameters": [
          {
            "name": "soknadsregisterId",
            "in": "path",
            "description": "SoknadsregisterId for søknaden",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NyOppgaveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Oppgaven er lagt til",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoknadDetaljer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "$ref": "#/components/responses/409Conflict"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddssoknad/api/v1/{soknadsregisterId}/oppgave/{oppgaveId}": {
      "patch": {
        "tags": [
          "Tilskuddssoknad"
        ],
        "operationId": "oppdaterOppgave",
        "summary": "Oppdaterer en oppgave på en søknad",
        "parameters": [
          {
            "name": "soknadsregisterId",
            "in": "path",
            "description": "SoknadsregisterId for søknaden",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "oppgaveId",
            "in": "path",
            "description": "Id for oppgaven som skal oppdateres",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterOppgaveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Oppgaven er oppdatert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoknadDetaljer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      },
      "delete": {
        "tags": [
          "Tilskuddssoknad"
        ],
        "operationId": "fjernOppgave",
        "summary": "Fjerner en oppgave fra en søknad",
        "parameters": [
          {
            "name": "soknadsregisterId",
            "in": "path",
            "description": "SoknadsregisterId for søknaden",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "oppgaveId",
            "in": "path",
            "description": "Id for oppgaven som skal fjernes",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Oppgaven er fjernet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoknadDetaljer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "SoknadBase": {
        "type": "object",
        "properties": {
          "tilskuddsregisterId": {
            "type": "string",
            "format": "uuid",
            "description": "Id til utlysing i tilskuddsregisgteret"
          },
          "tittel": {
            "type": "string",
            "maxLength": 100
          },
          "paaVegneAvForetak": {
            "$ref": "#/components/schemas/Foretak",
            "description": "Foretaket som man søker på vegne av"
          },
          "soker": {
            "$ref": "#/components/schemas/Person",
            "description": "Informasjon om søker"
          },
          "fagsystemReferanse": {
            "type": "string",
            "description": "Referanse for søknad til fagsystem",
            "maxLength": 100
          }
        }
      },
      "SoknadDetaljer": {
        "type": "object",
        "required": [
          "soknadsregisterId",
          "tilskuddsregisterId",
          "tittel",
          "paaVegneAvForetak",
          "soker",
          "deltagere",
          "filer",
          "oppgaver",
          "status",
          "opprettetDatoTid",
          "endretDatoTid",
          "statusEndretDatoTid"
        ],
        "allOf": [
          {
            "type": "object",
            "properties": {
              "soknadsregisterId": {
                "type": "string",
                "format": "uuid",
                "readOnly": true
              },
              "soknadId": {
                "type": "string",
                "pattern": "^[A-Za-z0-9-]+$",
                "example": "TS-1000000001",
                "readOnly": true
              }
            }
          },
          {
            "$ref": "#/components/schemas/SoknadBase"
          },
          {
            "type": "object",
            "properties": {
              "deltagere": {
                "type": "array",
                "maxItems": 10,
                "description": "Informasjon om andre deltagere",
                "items": {
                  "$ref": "#/components/schemas/Person"
                }
              },
              "filer": {
                "type": "array",
                "maxItems": 50,
                "description": "Filer knyttet til søknaden",
                "items": {
                  "$ref": "#/components/schemas/Fil"
                }
              },
              "oppgaver": {
                "type": "array",
                "maxItems": 25,
                "description": "Oppgaver knyttet til søknaden",
                "items": {
                  "$ref": "#/components/schemas/Oppgave"
                }
              },
              "status": {
                "$ref": "#/components/schemas/SoknadsStatus",
                "description": "Status for søknaden"
              },
              "opprettetDatoTid": {
                "type": "string",
                "format": "date-time",
                "example": "2025-08-27T15:45:30Z",
                "description": "Tidspunkt for når søknaden ble opprettet"
              },
              "endretDatoTid": {
                "type": "string",
                "format": "date-time",
                "example": "2025-08-27T15:45:30Z",
                "description": "Tidspunkt for når søknaden sist ble endret"
              },
              "innsendtDatoTid": {
                "type": "string",
                "format": "date-time",
                "example": "2025-08-27T15:45:30Z",
                "description": "Tidspunkt for når søknaden ble innsendt"
              },
              "statusEndretDatoTid": {
                "type": "string",
                "format": "date-time",
                "example": "2025-08-27T15:45:30Z",
                "description": "Tidspunkt for når status på søknaden sist ble endret. Settes automatisk ved statusendring og kan ikke sendes inn."
              }
            }
          }
        ]
      },
      "OpprettSoknadRequest": {
        "type": "object",
        "required": [
          "tilskuddsregisterId",
          "tittel",
          "soker",
          "paaVegneAvForetak",
          "fagsystemReferanse"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/SoknadBase"
          }
        ]
      },
      "DeltagerRequest": {
        "type": "object",
        "required": [
          "person"
        ],
        "properties": {
          "person": {
            "$ref": "#/components/schemas/Person",
            "description": "Informasjon om personen som innehar deltager"
          }
        }
      },
      "OppdaterSoknadRequest": {
        "type": "object",
        "description": "Felter som skal oppdateres på søknaden. Kun felter som er oppgitt (ikke null) blir endret.",
        "minProperties": 1,
        "properties": {
          "status": {
            "$ref": "#/components/schemas/SoknadsStatus",
            "description": "Ny status for søknaden"
          },
          "tittel": {
            "type": "string",
            "maxLength": 100,
            "description": "Ny tittel for søknaden"
          },
          "fagsystemReferanse": {
            "type": "string",
            "maxLength": 100,
            "description": "Ny fagsystemreferanse for søknaden"
          }
        }
      },
      "Person": {
        "type": "object",
        "required": [
          "fnr",
          "navn"
        ],
        "properties": {
          "fnr": {
            "type": "string",
            "minLength": 11,
            "maxLength": 11,
            "pattern": "^\\d{11}$",
            "description": "Personens fødsels- og personnummer"
          },
          "navn": {
            "type": "string",
            "description": "Personens fulle navn"
          },
          "epost": {
            "type": "string",
            "format": "email",
            "description": "Epost"
          }
        }
      },
      "Foretak": {
        "type": "object",
        "required": [
          "orgNr"
        ],
        "properties": {
          "orgNr": {
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "pattern": "^\\d{9}$",
            "description": "Foretakets nummer i brreg (organisasjonsnummer)"
          },
          "navn": {
            "type": "string",
            "readOnly": true,
            "description": "Navn på foretak"
          }
        }
      },
      "SoknadsStatus": {
        "type": "string",
        "default": "UTKAST",
        "enum": [
          "UTKAST",
          "TIL_BEHANDLING",
          "GJENÅPNET",
          "INNVILGET",
          "AVSLÅTT",
          "AVSLUTTET",
          "TRUKKET",
          "SLETTET"
        ]
      },
      "Retning": {
        "type": "string",
        "enum": [
          "INNGAAENDE",
          "UTGAAENDE"
        ]
      },
      "MeldingBase": {
        "type": "object",
        "properties": {
          "retning": {
            "$ref": "#/components/schemas/Retning",
            "description": "Om meldingen er inngående (fra søker) eller utgående (fra forvalter)"
          },
          "avsender": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Navn på person som har sendt meldingen"
          },
          "innhold": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1600,
            "description": "Meldingens innhold. Ren tekst - HTML-tagger fjernes ved lagring"
          }
        }
      },
      "NyMeldingRequest": {
        "type": "object",
        "required": [
          "retning",
          "avsender",
          "innhold"
        ],
        "allOf": [
          {
            "type": "object",
            "properties": {
              "meldingId": {
                "type": "string",
                "format": "uuid",
                "description": "Id for meldingen. Kan settes av kallende system for å gjenbruke egen id. Genereres av tjenesten hvis den utelates. Må være unik innenfor meldingstråden."
              }
            }
          },
          {
            "$ref": "#/components/schemas/MeldingBase"
          }
        ]
      },
      "NyMeldingstraadRequest": {
        "type": "object",
        "required": [
          "tittel",
          "retning",
          "avsender",
          "innhold"
        ],
        "allOf": [
          {
            "type": "object",
            "properties": {
              "meldingstraadId": {
                "type": "string",
                "format": "uuid",
                "description": "Id for meldingstråden. Kan settes av kallende system for å gjenbruke egen id. Genereres av tjenesten hvis den utelates. Må ikke være i bruk på noen meldingstråd fra før."
              },
              "meldingId": {
                "type": "string",
                "format": "uuid",
                "description": "Id for den første meldingen i tråden. Kan settes av kallende system for å gjenbruke egen id. Genereres av tjenesten hvis den utelates."
              },
              "tittel": {
                "type": "string",
                "minLength": 1,
                "maxLength": 50,
                "description": "Tittel på meldingstråden"
              }
            }
          },
          {
            "$ref": "#/components/schemas/MeldingBase"
          }
        ]
      },
      "Melding": {
        "type": "object",
        "readOnly": true,
        "required": [
          "meldingId",
          "retning",
          "avsender",
          "innhold",
          "mottattDatoTid"
        ],
        "allOf": [
          {
            "type": "object",
            "properties": {
              "meldingId": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "$ref": "#/components/schemas/MeldingBase"
          },
          {
            "type": "object",
            "properties": {
              "mottattDatoTid": {
                "type": "string",
                "format": "date-time",
                "example": "2025-08-27T15:45:30Z"
              }
            }
          }
        ]
      },
      "Meldingstraad": {
        "type": "object",
        "readOnly": true,
        "required": [
          "meldingstraadId",
          "soknadsregisterId",
          "tittel",
          "meldinger"
        ],
        "properties": {
          "meldingstraadId": {
            "type": "string",
            "format": "uuid",
            "description": "Id for meldingstråden"
          },
          "soknadsregisterId": {
            "type": "string",
            "format": "uuid",
            "description": "Id for søknaden meldingstråden gjelder"
          },
          "tittel": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Tittel på meldingstråden"
          },
          "meldinger": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1000,
            "description": "Meldingene i tråden, eldste først",
            "items": {
              "$ref": "#/components/schemas/Melding"
            }
          }
        }
      },
      "Meldingstraadoversikt": {
        "type": "object",
        "readOnly": true,
        "required": [
          "meldingstraadId",
          "tittel",
          "foersteMelding",
          "sisteMeldingDatoTid"
        ],
        "properties": {
          "meldingstraadId": {
            "type": "string",
            "format": "uuid",
            "description": "Id for meldingstråden"
          },
          "tittel": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Tittel på meldingstråden"
          },
          "foersteMelding": {
            "$ref": "#/components/schemas/Melding",
            "description": "Første melding i meldingstråden."
          },
          "sisteMeldingDatoTid": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-11T14:02:00Z",
            "description": "Tidspunkt for den nyeste meldingen i tråden"
          }
        }
      },
      "FilBase": {
        "type": "object",
        "properties": {
          "tittel": {
            "type": "string",
            "description": "Tittel på filen"
          },
          "filtype": {
            "$ref": "#/components/schemas/Filtype",
            "description": "Filtype"
          },
          "status": {
            "type": "string",
            "description": "Filens status (Hva enn nå det betyr??)"
          },
          "filnavn": {
            "type": "string",
            "description": "Navn på filen"
          },
          "referanse": {
            "type": "string",
            "description": "Referanse til filen i dokumentlager"
          }
        }
      },
      "NyFilRequest": {
        "type": "object",
        "required": [
          "tittel",
          "filtype",
          "status",
          "filnavn",
          "referanse"
        ],
        "allOf": [
          {
            "type": "object",
            "properties": {
              "filId": {
                "type": "string",
                "format": "uuid",
                "description": "Id for filen. Kan settes av kallende system for å gjenbruke egen id. Genereres av tjenesten hvis den utelates. Må være unik innenfor søknaden."
              }
            }
          },
          {
            "$ref": "#/components/schemas/FilBase"
          }
        ]
      },
      "Fil": {
        "type": "object",
        "readOnly": true,
        "required": [
          "filId",
          "tittel",
          "filtype",
          "status",
          "filnavn",
          "referanse",
          "opprettetDatoTid",
          "endretDatoTid"
        ],
        "allOf": [
          {
            "type": "object",
            "properties": {
              "filId": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "$ref": "#/components/schemas/FilBase"
          },
          {
            "type": "object",
            "properties": {
              "opprettetDatoTid": {
                "type": "string",
                "format": "date-time",
                "example": "2025-08-27T15:45:30Z"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "endretDatoTid": {
                "type": "string",
                "format": "date-time",
                "example": "2025-08-27T15:45:30Z"
              }
            }
          }
        ]
      },
      "Filtype": {
        "type": "string",
        "enum": [
          "BUDSJETT",
          "SLUTTRAPPORT"
        ]
      },
      "OppgaveBase": {
        "type": "object",
        "properties": {
          "tittel": {
            "type": "string",
            "maxLength": 100,
            "description": "Tittel på oppgaven"
          },
          "merknad": {
            "$ref": "#/components/schemas/OppgaveMerknad",
            "description": "Utfyllende merknad til oppgaven"
          },
          "fristDatoTid": {
            "$ref": "#/components/schemas/OppgaveFrist",
            "description": "Frist for oppgaven"
          }
        }
      },
      "NyOppgaveRequest": {
        "type": "object",
        "required": [
          "tittel",
          "fristDatoTid"
        ],
        "allOf": [
          {
            "type": "object",
            "properties": {
              "oppgaveId": {
                "type": "string",
                "format": "uuid",
                "description": "Id for oppgaven. Kan settes av kallende system for å gjenbruke egen id. Genereres av tjenesten hvis den utelates. Må være unik innenfor søknaden."
              }
            }
          },
          {
            "$ref": "#/components/schemas/OppgaveBase"
          }
        ]
      },
      "OppdaterOppgaveRequest": {
        "type": "object",
        "description": "Felter som skal oppdateres på oppgaven. Kun felter som er oppgitt (ikke null) blir endret.",
        "minProperties": 1,
        "properties": {
          "merknad": {
            "$ref": "#/components/schemas/OppgaveMerknad",
            "description": "Ny merknad for oppgaven"
          },
          "fristDatoTid": {
            "$ref": "#/components/schemas/OppgaveFrist",
            "description": "Ny frist for oppgaven"
          },
          "status": {
            "$ref": "#/components/schemas/OppgaveStatus",
            "description": "Ny status for oppgaven"
          }
        }
      },
      "Oppgave": {
        "type": "object",
        "readOnly": true,
        "required": [
          "oppgaveId",
          "tittel",
          "fristDatoTid",
          "status",
          "opprettetDatoTid",
          "endretDatoTid"
        ],
        "allOf": [
          {
            "type": "object",
            "properties": {
              "oppgaveId": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "$ref": "#/components/schemas/OppgaveBase"
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "$ref": "#/components/schemas/OppgaveStatus",
                "description": "Status for oppgaven"
              },
              "opprettetDatoTid": {
                "type": "string",
                "format": "date-time",
                "example": "2025-08-27T15:45:30Z",
                "description": "Tidspunkt for når oppgaven ble opprettet"
              },
              "endretDatoTid": {
                "type": "string",
                "format": "date-time",
                "example": "2025-08-27T15:45:30Z",
                "description": "Tidspunkt for når oppgaven sist ble endret"
              }
            }
          }
        ]
      },
      "OppgaveStatus": {
        "type": "string",
        "default": "IKKE_PÅBEGYNT",
        "enum": [
          "IKKE_PÅBEGYNT",
          "UTKAST",
          "INNSENDT",
          "GJENÅPNET",
          "GODKJENT",
          "IKKE_GODKJENT"
        ]
      },
      "OppgaveMerknad": {
        "type": "string",
        "maxLength": 250
      },
      "OppgaveFrist": {
        "type": "string",
        "format": "date-time",
        "example": "2026-03-01T23:59:59Z"
      },
      "ErrorMessage": {
        "type": "object",
        "description": "Feilmelding fra Fiks-plattformen",
        "externalDocs": {
          "description": "Beskrivelse av feilmeldinger",
          "url": "https://ks-no.github.io/fiks-plattform/integrasjoner/#feilmeldinger"
        },
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        },
        "example": {
          "message": "Mangler tilgang",
          "errorId": "ee2ed64d-de8b-45f9-b9c6-3363d662d93b",
          "status": 403
        }
      }
    },
    "responses": {
      "400BadRequest": {
        "description": "Ugyldig forespørsel",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "401Unauthorized": {
        "description": "Mangler eller ugyldig token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "403Forbidden": {
        "description": "Ikke tilgang",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "404NotFound": {
        "description": "Ikke funnet",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "409Conflict": {
        "description": "Id-en som ble sendt inn er allerede i bruk",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "DefaultError": {
        "description": "Uventet feil (HTTP 500), eller HTTP 502 dersom en nedstrømstjeneste er utilgjengelig",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      }
    }
  }
}