{
  "openapi": "3.1.1",
  "info": {
    "title": "KS Fiks: Tilskuddskonto v1",
    "description": "Service for Tilskuddsskonto",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    },
    {
      "url": "https://api.fiks.test.ks.no",
      "description": "KS Fiks TEST API host"
    }
  ],
  "security": [
    {
      "bearerAuth": [
        "read"
      ]
    }
  ],
  "tags": [
    {
      "name": "Hendelse",
      "description": "Endepunkt for å håndtere konto hendelser fra saksbehandling system "
    },
    {
      "name": "Query",
      "description": "Endepunkter for å lese Projections fra MongoDB"
    }
  ],
  "paths": {
    "/tilskuddkonto/api/v1/hendelse": {
      "post": {
        "tags": [
          "Hendelse"
        ],
        "operationId": "mottaHendelse",
        "summary": "Mottar en hendelse og genererer domenehendelser",
        "description": "Idempotens håndteres automatisk ved at `Hendelse.id` (UUID) brukes som idempotensnøkkel.   Hvis en hendelse med samme `id` mottas flere ganger, returneres HTTP 409 Conflict.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hendelse"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Hendelse akseptert"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/403Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "$ref": "#/components/responses/409Duplicate"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddkonto/api/v1/ordninger/{tilskuddsordningId}": {
      "get": {
        "tags": [
          "Query"
        ],
        "operationId": "hentOrdningOversiktDocument",
        "summary": "Returnerer teknisk OrdningOversiktDocument (MongoDB read model)",
        "parameters": [
          {
            "in": "path",
            "name": "tilskuddsordningId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdningOversiktDocument"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/403Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/tilskuddkonto/api/v1/soknader/{soknadsregisterId}": {
      "get": {
        "tags": [
          "Query"
        ],
        "operationId": "hentSoknadOversiktDocument",
        "summary": "Returnerer teknisk SoknadOversiktDocument (MongoDB read model)",
        "parameters": [
          {
            "in": "path",
            "name": "soknadsregisterId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoknadOversiktDocument"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/403Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Authentication using Bearer JWT token"
      }
    },
    "schemas": {
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      },
      "Hendelse": {
        "type": "object",
        "required": [
          "id",
          "type",
          "belop"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "INNGAENDE BALANSE",
              "AVSETNING HOVEDKONTO",
              "AVSETNING UNDERKONTO",
              "AVSETNING TILSKUDDSORDNING",
              "INNVILGET",
              "UTBETALING",
              "REVERSERT POSTERING"
            ]
          },
          "tidsstempel": {
            "type": "string",
            "format": "date-time"
          },
          "korrelasjonsId": {
            "type": "string",
            "format": "uuid"
          },
          "kildesystem": {
            "type": "string"
          },
          "tilskuddsordningId": {
            "type": "string",
            "format": "uuid"
          },
          "soknadsregisterId": {
            "type": "string",
            "format": "uuid"
          },
          "fraKontoLopenunmmer": {
            "type": "string"
          },
          "tilKontoLopenunmmer": {
            "type": "string"
          },
          "valuta": {
            "type": "string",
            "default": "NOK"
          },
          "belop": {
            "type": "number",
            "format": "double"
          },
          "signatur": {
            "type": "string"
          },
          "reversererId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "OrdningOversiktDocument": {
        "type": "object",
        "properties": {
          "tilskuddsordningId": {
            "type": "string",
            "format": "uuid"
          },
          "totalTildelt": {
            "type": "number",
            "format": "double"
          },
          "innvilgetSum": {
            "type": "number",
            "format": "double"
          },
          "utbetaltSum": {
            "type": "number",
            "format": "double"
          },
          "tilgjengelig": {
            "type": "number",
            "format": "double"
          },
          "valuta": {
            "type": "string",
            "default": "NOK"
          }
        }
      },
      "SoknadOversiktDocument": {
        "type": "object",
        "properties": {
          "soknadsregisterId": {
            "type": "string",
            "format": "uuid"
          },
          "tilskuddsordningId": {
            "type": "string",
            "format": "uuid"
          },
          "innvilgetSum": {
            "type": "number",
            "format": "double"
          },
          "utbetaltSum": {
            "type": "number",
            "format": "double"
          },
          "gjenstaaende": {
            "type": "number",
            "format": "double"
          },
          "valuta": {
            "type": "string",
            "default": "NOK"
          },
          "hendelser": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SoknadHistorikkEntry"
            },
            "maxItems": 1000
          }
        }
      },
      "SoknadHistorikkEntry": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "tid": {
            "type": "string",
            "format": "date-time"
          },
          "belop": {
            "type": "number",
            "format": "double"
          },
          "valuta": {
            "type": "string",
            "default": "NOK"
          }
        }
      },
      "schemas-ErrorMessage": {
        "type": "object",
        "description": "Feilmelding fra Fiks-plattformen",
        "externalDocs": {
          "description": "Beskrivelse av feilmeldinger",
          "url": "https://ks-no.github.io/fiks-plattform/integrasjoner/#feilmeldinger"
        },
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        },
        "example": {
          "message": "Mangler tilgang",
          "errorId": "ee2ed64d-de8b-45f9-b9c6-3363d662d93b",
          "status": 403
        }
      }
    },
    "responses": {
      "400BadRequest": {
        "description": "Ugyldig forespørsel",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/schemas-ErrorMessage"
            }
          }
        }
      },
      "403Unauthorized": {
        "description": "Ikke tilgang",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/schemas-ErrorMessage"
            }
          }
        }
      },
      "404NotFound": {
        "description": "Ikke funnet",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/schemas-ErrorMessage"
            }
          }
        }
      },
      "409Duplicate": {
        "description": "Allerede mottatt (Idempotens via `id`)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/schemas-ErrorMessage"
            }
          }
        }
      },
      "DefaultError": {
        "description": "Noe gikk galt",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/schemas-ErrorMessage"
            }
          }
        }
      }
    }
  }
}