{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS FIKS: Tjenester service",
    "description" : "Tjeneste service",
    "contact" : {
      "name" : "Fiks brukerstøtte",
      "url" : "https://www.ks.no/fagomrader/digitalisering/utviklingsprosjekter",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  }, {
    "url" : "https://api.test.fiks.ks.no",
    "description" : "KS Fiks TEST API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "Tjeneste",
    "description" : "API for å håndtere tjenester med tilhørende avtaler for bruk av Fiks-plattformen"
  } ],
  "paths" : {
    "/avtale/api/v1/tjenester/avtaler/{avtaleId}/aktiver" : {
      "put" : {
        "tags" : [ "Tjeneste" ],
        "description" : "Aktiverer avtale",
        "operationId" : "aktiverAvtale",
        "parameters" : [ {
          "name" : "avtaleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Aktiver avtale"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke avtale",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/tjenester/avtaler/{avtaleId}/deaktiver" : {
      "put" : {
        "tags" : [ "Tjeneste" ],
        "description" : "Deaktiverer avtale",
        "operationId" : "deaktiverAvtale",
        "parameters" : [ {
          "name" : "avtaleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deaktiver avtale"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke avtale",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/tjenester/avtaler/{avtaleId}" : {
      "delete" : {
        "tags" : [ "Tjeneste" ],
        "description" : "Slett avtale",
        "operationId" : "deleteAvtale",
        "parameters" : [ {
          "name" : "avtaleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slett avtale"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Fant ikke avtale",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/tjenester/avtaler/{avtaleId}/dokumenter/{dokumentId}" : {
      "get" : {
        "tags" : [ "Tjeneste" ],
        "description" : "Last ned dokument",
        "operationId" : "downloadDokument",
        "parameters" : [ {
          "name" : "avtaleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "dokumentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Dokument lastet ned",
            "content" : {
              "application/pdf" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Tjeneste" ],
        "description" : "Slett dokument",
        "operationId" : "deleteDokument",
        "parameters" : [ {
          "name" : "avtaleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "dokumentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Dokument slettet"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/tjenester/{tjenestekode}" : {
      "get" : {
        "tags" : [ "Tjeneste" ],
        "description" : "Henter tjeneste",
        "operationId" : "getTjeneste",
        "parameters" : [ {
          "name" : "tjenestekode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Tjeneste hentet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TjenesteDefinisjon"
                }
              }
            }
          },
          "404" : {
            "description" : "Tjeneste ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Tjeneste" ],
        "description" : "Oppdaterer eksisterende tjeneste",
        "operationId" : "oppdaterTjeneste",
        "parameters" : [ {
          "name" : "tjenestekode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterTjenesteDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Tjeneste oppdatert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TjenesteDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Tjeneste ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Tjeneste" ],
        "description" : "Slett eksisterende tjeneste",
        "operationId" : "deleteTjeneste",
        "parameters" : [ {
          "name" : "tjenestekode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Tjeneste slettet"
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Tjeneste ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/tjenester" : {
      "get" : {
        "tags" : [ "Tjeneste" ],
        "description" : "Henter liste over alle tjenester",
        "operationId" : "getTjenester",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kunAktiverteTjenester",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "avtaleTyper",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "default" : "TJENESTEVEDLEGG",
              "enum" : [ "HOVEDAVTALE", "TJENESTEVEDLEGG" ]
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Tjenester hentet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TjenesteDefinisjon"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Tjeneste" ],
        "description" : "Opprett ny tjeneste",
        "operationId" : "opprettTjeneste",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettTjenesteDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Tjeneste opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TjenesteDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/tjenester/avtaler" : {
      "post" : {
        "tags" : [ "Tjeneste" ],
        "description" : "Opprett ny avtale for angitt tjeneste",
        "operationId" : "opprettAvtale",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettAvtaleDefinisjon"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Tjeneste med den nye avtalen opprettet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TjenesteDefinisjon"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/avtale/api/v1/tjenester/avtaler/{avtaleId}/dokumenter" : {
      "put" : {
        "tags" : [ "Tjeneste" ],
        "description" : "Oppdater dokumenter",
        "operationId" : "updateDokumenter",
        "parameters" : [ {
          "name" : "avtaleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/AvtaleDokumentDefinisjon"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Dokumenter oppdatert",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AvtaleDokumentDefinisjon"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Tjeneste" ],
        "description" : "Last opp dokument",
        "operationId" : "uploadDokument",
        "parameters" : [ {
          "name" : "avtaleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "navn" : {
                    "type" : "string"
                  },
                  "dokument" : {
                    "type" : "string",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Dokument lastet opp",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "uuid"
                }
              }
            }
          },
          "401" : {
            "description" : "Ikke tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "AvtaleDefinisjon" : {
        "required" : [ "aktivert", "avtaleOpprettet", "dokumenter", "id", "type", "versjon" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "versjon" : {
            "type" : "string"
          },
          "dokumenter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AvtaleDokumentDefinisjon"
            }
          },
          "avtaleOpprettet" : {
            "type" : "string",
            "format" : "date-time"
          },
          "aktivert" : {
            "type" : "boolean"
          },
          "type" : {
            "type" : "string",
            "enum" : [ "HOVEDAVTALE", "TJENESTEVEDLEGG" ]
          }
        }
      },
      "AvtaleDokumentDefinisjon" : {
        "required" : [ "dokumentlagerId", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9_.,/\\-_ ]+$",
            "type" : "string"
          },
          "dokumentlagerId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "posisjon" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "TjenesteDefinisjon" : {
        "required" : [ "aktivert", "avtaler", "gjeldendeVersjon", "navn", "synligFor", "tilgjengeligFor", "tjenesteeier", "tjenestekode" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "[A-Za-zæøåÆØÅ\\d_.,/\\-: ]+",
            "type" : "string"
          },
          "tjenestekode" : {
            "pattern" : "^[0-9A-Z_.]+$",
            "type" : "string"
          },
          "tjenesteeier" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9_.,/\\-_ ]+$",
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "aktivert" : {
            "type" : "boolean"
          },
          "synligFor" : {
            "type" : "array",
            "description" : "Hvilke fiksOrger tjenesten skal være synlig for",
            "items" : {
              "type" : "string",
              "description" : "Hvilke fiksOrger tjenesten skal være synlig for",
              "format" : "uuid"
            }
          },
          "tilgjengeligFor" : {
            "type" : "array",
            "description" : "Hvilke organisasjonstyper tjenesten skal være tilgjengelig for. Gyldige verdier er FYLKESKOMMUNE, KOMMUNAL_VIRKSOMHET, KOMMUNAL_VIRKSOMHET_IKS, KOMMUNE, LEVERANDOR, PRIVAT_VIRKSOMHET eller STATLIG_VIRKSOMHET",
            "items" : {
              "type" : "string",
              "description" : "Hvilke organisasjonstyper tjenesten skal være tilgjengelig for. Gyldige verdier er FYLKESKOMMUNE, KOMMUNAL_VIRKSOMHET, KOMMUNAL_VIRKSOMHET_IKS, KOMMUNE, LEVERANDOR, PRIVAT_VIRKSOMHET eller STATLIG_VIRKSOMHET"
            }
          },
          "gjeldendeVersjon" : {
            "type" : "string"
          },
          "saksnr" : {
            "type" : "string",
            "description" : "Saksnummer i arkivet"
          },
          "lesMer" : {
            "type" : "string",
            "description" : "Lenke til dokumentasjon"
          },
          "ressursType" : {
            "pattern" : "^[0-9A-Z_.]+$",
            "type" : "string"
          },
          "avtaler" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AvtaleDefinisjon"
            }
          }
        }
      },
      "OppdaterTjenesteDefinisjon" : {
        "required" : [ "aktivert", "gjeldendeVersjon", "navn", "synligFor", "tilgjengeligFor", "tjenesteeier" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "[A-Za-zæøåÆØÅ\\d_.,/\\-: ]+",
            "type" : "string"
          },
          "tjenesteeier" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9_.,/\\-_ ]+$",
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "aktivert" : {
            "type" : "boolean"
          },
          "synligFor" : {
            "type" : "array",
            "description" : "Hvilke fiksOrger tjenesten skal være synlig for",
            "items" : {
              "type" : "string",
              "description" : "Hvilke fiksOrger tjenesten skal være synlig for",
              "format" : "uuid"
            }
          },
          "tilgjengeligFor" : {
            "type" : "array",
            "description" : "Hvilke organisasjonstyper tjenesten skal være tilgjengelig for. Gyldige verdier er FYLKESKOMMUNE, KOMMUNAL_VIRKSOMHET, KOMMUNAL_VIRKSOMHET_IKS, KOMMUNE, LEVERANDOR, PRIVAT_VIRKSOMHET eller STATLIG_VIRKSOMHET",
            "items" : {
              "type" : "string",
              "description" : "Hvilke organisasjonstyper tjenesten skal være tilgjengelig for. Gyldige verdier er FYLKESKOMMUNE, KOMMUNAL_VIRKSOMHET, KOMMUNAL_VIRKSOMHET_IKS, KOMMUNE, LEVERANDOR, PRIVAT_VIRKSOMHET eller STATLIG_VIRKSOMHET"
            }
          },
          "gjeldendeVersjon" : {
            "type" : "string"
          },
          "saksnr" : {
            "type" : "string",
            "description" : "Saksnummer i arkivet"
          },
          "lesMer" : {
            "type" : "string",
            "description" : "Lenke til dokumentasjon"
          },
          "ressursType" : {
            "pattern" : "^[0-9A-Z_.]+$",
            "type" : "string"
          }
        }
      },
      "AvtaleTypeDefinisjon" : {
        "type" : "string",
        "enum" : [ "HOVEDAVTALE", "TJENESTEVEDLEGG" ]
      },
      "OpprettAvtaleDefinisjon" : {
        "required" : [ "tjenestekode", "versjon" ],
        "type" : "object",
        "properties" : {
          "tjenestekode" : {
            "pattern" : "^[0-9A-Z_.]+$",
            "type" : "string"
          },
          "versjon" : {
            "type" : "string"
          },
          "type" : {
            "$ref" : "#/components/schemas/AvtaleTypeDefinisjon"
          }
        }
      },
      "OpprettTjenesteDefinisjon" : {
        "required" : [ "avtale", "navn", "synligFor", "tilgjengeligFor", "tjenesteeier", "tjenestekode" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "[A-Za-zæøåÆØÅ\\d_.,/\\-: ]+",
            "type" : "string"
          },
          "tjenestekode" : {
            "pattern" : "^[0-9A-Z_.]+$",
            "type" : "string"
          },
          "tjenesteeier" : {
            "pattern" : "^[A-Za-zæøåÆØÅ0-9_.,/\\-_ ]+$",
            "type" : "string"
          },
          "beskrivelse" : {
            "type" : "string"
          },
          "synligFor" : {
            "type" : "array",
            "description" : "Hvilke fiksOrger tjenesten skal være synlig for",
            "items" : {
              "type" : "string",
              "description" : "Hvilke fiksOrger tjenesten skal være synlig for",
              "format" : "uuid"
            }
          },
          "tilgjengeligFor" : {
            "type" : "array",
            "description" : "Hvilke organisasjonstyper tjenesten skal være tilgjengelig for. Gyldige verdier er FYLKESKOMMUNE, KOMMUNAL_VIRKSOMHET, KOMMUNAL_VIRKSOMHET_IKS, KOMMUNE, LEVERANDOR, PRIVAT_VIRKSOMHET eller STATLIG_VIRKSOMHET",
            "items" : {
              "type" : "string",
              "description" : "Hvilke organisasjonstyper tjenesten skal være tilgjengelig for. Gyldige verdier er FYLKESKOMMUNE, KOMMUNAL_VIRKSOMHET, KOMMUNAL_VIRKSOMHET_IKS, KOMMUNE, LEVERANDOR, PRIVAT_VIRKSOMHET eller STATLIG_VIRKSOMHET"
            }
          },
          "saksnr" : {
            "type" : "string",
            "description" : "Saksnummer i arkivet"
          },
          "lesMer" : {
            "type" : "string",
            "description" : "Lenke til dokumentasjon"
          },
          "ressursType" : {
            "pattern" : "^[0-9A-Z_.]+$",
            "type" : "string"
          },
          "avtale" : {
            "$ref" : "#/components/schemas/OpprettAvtaleDefinisjon"
          }
        }
      },
      "FormDataContentDisposition" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          },
          "parameters" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "fileName" : {
            "type" : "string"
          },
          "creationDate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "modificationDate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "readDate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "size" : {
            "type" : "integer",
            "format" : "int64"
          },
          "name" : {
            "type" : "string"
          }
        },
        "format" : "binary"
      }
    }
  }
}