{
  "openapi": "3.0.1",
  "info": {
    "title": "KS Fiks: Varsling",
    "description": "Service for varsling med sms og epost",
    "contact": {
      "name": "Fiks-brukerstøtte",
      "url": "https://ks-no.github.io/",
      "email": "fiks-utvikling@ks.no"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.fiks.ks.no",
      "description": "KS Fiks API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Excel",
      "description": "API for å håndtere funksjonalitet for sending av sms og epost "
    },
    {
      "name": "varslingKonfigurasjonV2",
      "description": "API for å håndtere funksjonalitet vedr. konfigurasjon av varsling"
    },
    {
      "name": "UtsendingRapport",
      "description": "API for å håndtere funksjonalitet for sending av sms og epost "
    },
    {
      "name": "Events",
      "description": "API for å håndtere funksjonalitet for sending av sms og epost"
    },
    {
      "name": "Utsending",
      "description": "API for å håndtere funksjonalitet for sending av sms og epost "
    },
    {
      "name": "KartOppslag",
      "description": "API for å håndtere funksjonalitet for sending av sms og epost med kartutsnitt"
    },
    {
      "name": "FolkeregisterKonfigurasjon",
      "description": "API for å aktivere og deaktivere roller for folkeregister "
    },
    {
      "name": "VarslingTilgangKonfigurasjon",
      "description": "API for konfigurasjon av autorisasjoner på kontoer for tjenesten varsling"
    }
  ],
  "paths": {
    "/varsling/api/v2/mottakermal": {
      "get": {
        "tags": [
          "Excel"
        ],
        "summary": "Henter xls mal for sms mottakere",
        "operationId": "hentMottakerXlsMal",
        "responses": {
          "200": {
            "description": "Hent mottaker xls mal",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/konfigurasjon/{fiksOrgId}/kontoer/{kontoId}/aktiver": {
      "put": {
        "tags": [
          "varslingKonfigurasjonV2"
        ],
        "summary": "Aktiverer varsling konto",
        "operationId": "aktiverKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Aktiver konto"
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/konfigurasjon/{fiksOrgId}/kontoer/{kontoId}/deaktiver": {
      "put": {
        "tags": [
          "varslingKonfigurasjonV2"
        ],
        "summary": "Deaktiverer varsling konto",
        "operationId": "deaktiverKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deaktiver konto"
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/konfigurasjon/{fiksOrgId}/kontoer/{kontoId}": {
      "get": {
        "tags": [
          "varslingKonfigurasjonV2"
        ],
        "summary": "Henter konto",
        "operationId": "hentKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KontoRespons"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "varslingKonfigurasjonV2"
        ],
        "summary": "Oppdaterer konto",
        "operationId": "oppdaterKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppdaterKontoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Oppdater konto "
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "varslingKonfigurasjonV2"
        ],
        "summary": "Sletter varsling konto",
        "operationId": "slettKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slett konto"
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/konfigurasjon/{fiksOrgId}/folkeregister": {
      "post": {
        "tags": [
          "FolkeregisterKonfigurasjon"
        ],
        "summary": "Aktiver folkeregister på fiksOrg",
        "operationId": "aktiverFolkeregister",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aktiver folkeregister på fiksOrg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AktivertRolle"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "FolkeregisterKonfigurasjon"
        ],
        "summary": "Deaktiver folkeregister på fiksOrg",
        "operationId": "deaktiverFolkeregister",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deaktiver folkeregister på fiksOrg"
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/konfigurasjon/{fiksOrgId}/kontoer": {
      "get": {
        "tags": [
          "varslingKonfigurasjonV2"
        ],
        "summary": "Henter kontoer på fiksorg",
        "operationId": "hentKontoerForFiksOrg",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent kontoer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KontoRespons"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "varslingKonfigurasjonV2"
        ],
        "summary": "Oppretter konto for sending av sms",
        "operationId": "opprettKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettKontoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Opprett konto for sending av sms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KontoRespons"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/fakturagrunnlag": {
      "post": {
        "tags": [
          "UtsendingRapport"
        ],
        "summary": "Henter faktura-grunnlag til xls",
        "operationId": "exportFakturaGrunnlag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCriteriaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Hent utsendelse rapporter xls",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/fakturagrunnlag/csv": {
      "post": {
        "tags": [
          "UtsendingRapport"
        ],
        "summary": "Henter rapporter til csv",
        "operationId": "exportFakturagrunnlagCsv",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCriteriaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Hent utsendelse rapporter til csv",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/sok/xls": {
      "post": {
        "tags": [
          "UtsendingRapport"
        ],
        "summary": "Henter rapporter til xls",
        "operationId": "exportRapporter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCriteriaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Hent utsendelse rapporter xls",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/sok/csv": {
      "post": {
        "tags": [
          "UtsendingRapport"
        ],
        "summary": "Henter rapporter til csv",
        "operationId": "exportRapporterCsv",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCriteriaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Hent utsendelse rapporter til csv",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/utsendelser/{utsendelseId}/tlfliste": {
      "get": {
        "tags": [
          "UtsendingRapport"
        ],
        "summary": "Henter tlfliste for utsendelse",
        "operationId": "exportTlfliste",
        "parameters": [
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent telefonliste xls",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/brukerdata": {
      "get": {
        "tags": [
          "UtsendingRapport"
        ],
        "summary": "Henter fiksorg Info",
        "operationId": "hentBrukerData",
        "responses": {
          "200": {
            "description": "Hent fiksorg info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RapportBrukerDataResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/kontoer": {
      "get": {
        "tags": [
          "UtsendingRapport"
        ],
        "summary": "Henter kontoer for rapport",
        "operationId": "hentKontoerForBruker",
        "responses": {
          "200": {
            "description": "Hent kontoer for rapport",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KontoRespons"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/utsendelser/{utsendelseId}": {
      "get": {
        "tags": [
          "UtsendingRapport"
        ],
        "summary": "Henter tlfliste for utsendelse",
        "operationId": "hentRapport",
        "parameters": [
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent rapport på utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rapport"
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/sok": {
      "post": {
        "tags": [
          "UtsendingRapport"
        ],
        "summary": "Henter rapporter på JSON-format",
        "operationId": "hentRapporter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCriteriaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Hent utsendelse rapporter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rapport"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Systemfeil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/rapport/utsendelser/{utsendelseId}/skjultekst": {
      "put": {
        "tags": [
          "UtsendingRapport"
        ],
        "summary": "Skjuler tekst på utsendelse i rapport",
        "operationId": "skjulTekstFraRapport",
        "parameters": [
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skjuler tekst på utsendelse i rapport"
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/avbryt": {
      "put": {
        "tags": [
          "Utsending"
        ],
        "summary": "Avbryter utsendelse",
        "operationId": "avbrytUtsendelse",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Avbryt utsendelse"
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/xlsfeil": {
      "get": {
        "tags": [
          "Utsending"
        ],
        "summary": "Eksporterer mottakere med feil til xls",
        "operationId": "exportMottakereMedFeil",
        "parameters": [
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eksporter mottakere med feil til xls",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Utsending"
        ],
        "summary": "Laster opp mottakere med feil fra xls. Denne operasjonen vil slette alle eksisterende feil (Inkludert duplikat)",
        "operationId": "lastOppMottakereMedFeilFraXls",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Last opp mottakere med feil fra xls",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KrrStatusRespons"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/xls": {
      "get": {
        "tags": [
          "Utsending"
        ],
        "summary": "Henter mottakerliste til xls",
        "operationId": "exportMottakereXls",
        "parameters": [
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eksporter mottakere til xls",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Utsending"
        ],
        "summary": "Laster opp mottakere fra xls",
        "operationId": "lastOppMottakereFraXls",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Last opp mottakere fra xls",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KrrStatusRespons"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer": {
      "get": {
        "tags": [
          "Utsending"
        ],
        "summary": "Henter kontoer bruker kan sende fra",
        "operationId": "hentKontoerMedSendeTilgang",
        "responses": {
          "200": {
            "description": "Hent kontoer innlogget bruker kan sende fra",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KontoRespons"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere": {
      "get": {
        "tags": [
          "Utsending"
        ],
        "summary": "Henter mottakere på utsendelse",
        "operationId": "hentMottakere",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent mottakere på utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MottakerRespons"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Utsending"
        ],
        "summary": "Legger til mottaker på utsendelse",
        "operationId": "leggTilMottaker",
        "parameters": [
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MottakerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Legg til mottaker på utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MottakerRespons"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Utsending"
        ],
        "summary": "Sletter alle mottakere",
        "operationId": "slettMottakere",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slett alle mottakere på utsendelse"
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}": {
      "get": {
        "tags": [
          "Utsending"
        ],
        "summary": "Henter utsendelse",
        "operationId": "hentUtsendelse",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtsendelseRespons"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Utsending"
        ],
        "summary": "Oppdaterer  utsendelse",
        "operationId": "oppdaterUtsendelse",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UtsendelseUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Oppdater utsendelse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtsendelseRespons"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Utsending"
        ],
        "summary": "Sletter utsendelse",
        "operationId": "slettUtsendelse",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slett utsendelse"
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser": {
      "get": {
        "tags": [
          "Utsending"
        ],
        "summary": "Henter utsendelser for konto",
        "operationId": "hentUtsendelserForKonto",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent utsendelser for konto",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UtsendelseRespons"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Utsending"
        ],
        "summary": "Oppretter utsendelse for konto",
        "operationId": "opprettUtsendelse",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpprettUtsendelseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Opprett utsendelse for konto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtsendelseRespons"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/oppsummering": {
      "get": {
        "tags": [
          "Utsending"
        ],
        "summary": "Henter mottaker oppsummering",
        "operationId": "mottakerOppsummering",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hent mottaker oppsummering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MottakerStatistikk"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/mottakere": {
      "post": {
        "tags": [
          "Utsending"
        ],
        "summary": "Oppretter utsendelse med liste av mottakere",
        "operationId": "opprettUtsendelseMedListeAvMottakere",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MottakerRequest"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Opprett utsendelse med liste av mottakere",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtsendelseId"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/kartoppslag": {
      "post": {
        "tags": [
          "KartOppslag"
        ],
        "summary": "Lag mottakerliste med huseiere innenfor et kartutsnitt for utsendelsen",
        "operationId": "lagMottakerlisteMedKartUtsnitt",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KartUtsnittRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Status for behandling av mottakere",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KrrStatusRespons"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/kartoppslag/eiere/antall": {
      "post": {
        "tags": [
          "KartOppslag"
        ],
        "summary": "Hent antall eiere innenfor området",
        "operationId": "hentAntallEiereInnenforOmradet",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KartUtsnittRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Antall eiere",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AntallEiereResponse"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/kartoppslag/adresser/antall": {
      "post": {
        "tags": [
          "KartOppslag"
        ],
        "summary": "Hent antall adresser innenfor området",
        "operationId": "hentAntallAdresserInnenforOmradet",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KartUtsnittRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Antall adresser",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AntallAdresserResponse"
                }
              }
            }
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/send": {
      "post": {
        "tags": [
          "Utsending"
        ],
        "summary": "Sender utsendelse",
        "operationId": "sendUtsendelse",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UtsendelseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Send utsendelse"
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/duplikat": {
      "delete": {
        "tags": [
          "Utsending"
        ],
        "summary": "Sletter duplikate mottakere",
        "operationId": "slettDuplikateMottakere",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slett duplikate mottakere"
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/{mottakerId}": {
      "delete": {
        "tags": [
          "Utsending"
        ],
        "summary": "Sletter mottaker",
        "operationId": "slettMottaker",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "mottakerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slett mottaker"
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/ugyldig": {
      "delete": {
        "tags": [
          "Utsending"
        ],
        "summary": "Sletter mottakere som ikke er markert GYLDIG (Etterlate 1 av hver duplikat)",
        "operationId": "slettMottakereIkkeGyldig",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slett ugyldige mottakere, mottakere uten telefonnummer og duplikat"
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/ugyldigtlf": {
      "delete": {
        "tags": [
          "Utsending"
        ],
        "summary": "Sletter mottakere med ugyldig telefonnummer",
        "operationId": "slettMottakereMedUgyldigTelefonnummer",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slett mottakere med ugyldig telefonnummer"
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/kontoer/{kontoId}/utsendelser/{utsendelseId}/mottakere/utentlf": {
      "delete": {
        "tags": [
          "Utsending"
        ],
        "summary": "Sletter mottakere uten telefonnummer",
        "operationId": "slettMottakereUtenTelefonnummer",
        "parameters": [
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "utsendelseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Slett mottakere uten telefonnummer"
          },
          "default": {
            "description": "Noe gikk galt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v2/konfigurasjon/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/administratorer": {
      "get": {
        "tags": [
          "VarslingTilgangKonfigurasjon"
        ],
        "summary": "Henter administratorer for konto for Varsling",
        "operationId": "hentAdministratorer",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Administratorer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdministratorerResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "VarslingTilgangKonfigurasjon"
        ],
        "summary": "Legg admin til konto",
        "operationId": "leggAdminTilKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeggAdminTilKontoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Admin lagt til"
          }
        }
      },
      "delete": {
        "tags": [
          "VarslingTilgangKonfigurasjon"
        ],
        "summary": "Fjern admin fra konto",
        "operationId": "fjernAdminFraKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FjernPersonFraKontoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Admin fjernet"
          }
        }
      }
    },
    "/varsling/api/v2/konfigurasjon/organisasjoner/{fiksOrgId}/kontoer/{kontoId}/brukere": {
      "get": {
        "tags": [
          "VarslingTilgangKonfigurasjon"
        ],
        "summary": "Henter brukere for konto for Varsling",
        "operationId": "hentBrukere",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Brukere",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonerResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "VarslingTilgangKonfigurasjon"
        ],
        "summary": "Legg bruker til konto",
        "operationId": "leggBrukerTilKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeggPersonTilKontoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bruker lagt til"
          }
        }
      },
      "put": {
        "tags": [
          "VarslingTilgangKonfigurasjon"
        ],
        "summary": "Endre tilganger på bruker",
        "operationId": "endreTilganger",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndreTilgangerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tilganger Endret"
          }
        }
      },
      "delete": {
        "tags": [
          "VarslingTilgangKonfigurasjon"
        ],
        "summary": "Fjern bruker fra konto",
        "operationId": "fjernBrukerFraKonto",
        "parameters": [
          {
            "name": "fiksOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kontoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FjernPersonFraKontoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bruker fjernet"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "errorId": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "originalPath": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorJson": {
            "type": "string"
          }
        }
      },
      "KontoRespons": {
        "required": [
          "aktivert",
          "avsender",
          "fiksOrgId",
          "kontoId",
          "navn"
        ],
        "type": "object",
        "properties": {
          "kontoId": {
            "type": "string",
            "description": "Konto ID",
            "format": "uuid"
          },
          "fiksOrgId": {
            "type": "string",
            "description": "FiksOrgId",
            "format": "uuid"
          },
          "navn": {
            "type": "string",
            "description": "Navn på konto"
          },
          "avsender": {
            "type": "string",
            "description": "Avsender navn eller telefonnummer"
          },
          "konteringskode": {
            "type": "string",
            "description": "Konteringskode"
          },
          "aktivert": {
            "type": "boolean",
            "description": "Aktivert"
          },
          "tjeneste": {
            "type": "string",
            "description": "Tjeneste som benytter kontoen"
          }
        }
      },
      "OppdaterKontoRequest": {
        "required": [
          "avsender",
          "navn"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "pattern": "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type": "string",
            "description": "Navn på konto"
          },
          "avsender": {
            "maxLength": 11,
            "minLength": 2,
            "pattern": "^[A-Za-zæøåÆØÅ0-9]+$",
            "type": "string",
            "description": "Navn eller telefonnummer til avsender."
          },
          "konteringskode": {
            "maxLength": 20,
            "minLength": 0,
            "type": "string",
            "description": "Avsender konteringskode"
          }
        }
      },
      "OpprettKontoRequest": {
        "required": [
          "avsender",
          "navn"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "pattern": "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type": "string",
            "description": "Navn på konto"
          },
          "avsender": {
            "maxLength": 11,
            "minLength": 2,
            "pattern": "^[A-Za-zæøåÆØÅ0-9]+$",
            "type": "string",
            "description": "Navn eller telefonnummer til avsender."
          },
          "konteringskode": {
            "maxLength": 20,
            "minLength": 0,
            "type": "string",
            "description": "Avsender konteringskode"
          },
          "tjeneste": {
            "type": "string",
            "description": "Tjeneste som skal benytte konto"
          },
          "forelderressurs": {
            "type": "string",
            "description": "Forelderressurs der konto skal opprettes under, default til tjeneste melding",
            "format": "uuid"
          }
        }
      },
      "SearchCriteriaRequest": {
        "type": "object",
        "properties": {
          "datoFra": {
            "type": "string",
            "description": "Innsendt dato fra",
            "format": "date-time"
          },
          "datoTil": {
            "type": "string",
            "description": "Innsendt dato til",
            "format": "date-time"
          },
          "telefonnummer": {
            "type": "string",
            "description": "Telefonnummer på mottaker"
          },
          "kontoId": {
            "type": "string",
            "description": "KontoId for søk",
            "format": "uuid"
          }
        }
      },
      "KontoNavnIdResponseObject": {
        "type": "object",
        "properties": {
          "kontoId": {
            "type": "string",
            "format": "uuid"
          },
          "kontoNavn": {
            "type": "string"
          }
        }
      },
      "RapportBrukerDataResponse": {
        "type": "object",
        "properties": {
          "fiksOrgId": {
            "type": "string",
            "format": "uuid"
          },
          "fiksOrgNavn": {
            "type": "string"
          },
          "kontoListe": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KontoNavnIdResponseObject"
            }
          }
        }
      },
      "Rapport": {
        "required": [
          "antallMeldinger",
          "antallMottakere",
          "antallSmsFeilet",
          "antallSmsLevert",
          "antallSmsSendt",
          "avsender",
          "datoSendt",
          "kontoNavn",
          "navn",
          "tekst",
          "utsendelseId"
        ],
        "type": "object",
        "properties": {
          "utsendelseId": {
            "type": "string",
            "description": "Id på utsendelsen",
            "format": "uuid"
          },
          "navn": {
            "type": "string",
            "description": "Navn på utsendelsen"
          },
          "kontoNavn": {
            "type": "string",
            "description": "Navn på kontoen til avsender"
          },
          "avsender": {
            "type": "string",
            "description": "Avsenders navn eller telefonnummer"
          },
          "konteringskode": {
            "type": "string",
            "description": "Konteringskode satt på utsendelsen"
          },
          "tekst": {
            "type": "string",
            "description": "Sms tekst på utsendelsen"
          },
          "datoSendt": {
            "type": "string",
            "description": "Timestamp for sending",
            "format": "date-time"
          },
          "antallMottakere": {
            "type": "integer",
            "description": "Totalt antall mottakere på utsendelsen",
            "format": "int32"
          },
          "antallMeldinger": {
            "type": "integer",
            "description": "Antall meldinger",
            "format": "int32"
          },
          "antallSmsSendt": {
            "type": "integer",
            "description": "Antall sms sendt",
            "format": "int32"
          },
          "antallSmsLevert": {
            "type": "integer",
            "description": "Antall sms levert til mottaker",
            "format": "int32"
          },
          "antallSmsFeilet": {
            "type": "integer",
            "description": "Antall sms feilet",
            "format": "int32"
          }
        }
      },
      "MottakerRespons": {
        "required": [
          "mottakerId",
          "telefonnummerStatus",
          "utsendelseId"
        ],
        "type": "object",
        "properties": {
          "mottakerId": {
            "type": "string",
            "description": "Id på mottaker",
            "format": "uuid"
          },
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Fødselsnummer til mottaker"
          },
          "telefonnummer": {
            "type": "string",
            "description": "Telefonnummer til mottaker"
          },
          "utsendelseId": {
            "type": "string",
            "description": "UtsendelseId til mottaker",
            "format": "uuid"
          },
          "telefonnummerStatus": {
            "type": "string",
            "description": "Status på telefonnummer til mottaker",
            "enum": [
              "GYLDIG",
              "UGYLDIG",
              "DUPLIKAT",
              "MANGLER",
              "IKKE_FUNNET",
              "KRR_FEIL"
            ]
          }
        }
      },
      "UtsendelseRespons": {
        "required": [
          "kontoId",
          "krrStatus",
          "navn",
          "opprettetDatoTimestamp",
          "status",
          "utsendelseId"
        ],
        "type": "object",
        "properties": {
          "utsendelseId": {
            "type": "string",
            "description": "Id på utsendelsen",
            "format": "uuid"
          },
          "avsender": {
            "type": "string",
            "description": "Avsender på utsendelsen"
          },
          "navn": {
            "type": "string",
            "description": "Navn på utsendelsen"
          },
          "kontoId": {
            "type": "string",
            "description": "AvsenderId til utsendelse",
            "format": "uuid"
          },
          "smsTekst": {
            "type": "string",
            "description": "Sms tekst til utsendelse"
          },
          "konteringskode": {
            "type": "string",
            "description": "Konteringskode på utsendelse"
          },
          "status": {
            "type": "string",
            "description": "Status på utsendelsen",
            "enum": [
              "STARTET",
              "AVBRUTT",
              "FERDIG",
              "OPPRETTET",
              "KLAR_FOR_UTSENDING",
              "FEILET"
            ]
          },
          "opprettetDatoTimestamp": {
            "type": "string",
            "description": "Dato når utsendelsen ble opprettet",
            "format": "date-time"
          },
          "mottakerType": {
            "$ref": "#/components/schemas/MottakerType"
          },
          "krrStatus": {
            "type": "string",
            "description": "Status for krr behandling",
            "enum": [
              "UNDER_BEHANDLING",
              "FERDIG_BEHANDLET",
              "IKKE_BEHANDLET"
            ]
          },
          "kartutsnitt": {
            "$ref": "#/components/schemas/KartUtsnitt"
          }
        }
      },
      "KrrStatusRespons": {
        "required": [
          "krrStatus"
        ],
        "type": "object",
        "properties": {
          "krrStatus": {
            "type": "string",
            "description": "Status på krr behandling",
            "enum": [
              "UNDER_BEHANDLING",
              "FERDIG_BEHANDLET",
              "IKKE_BEHANDLET"
            ]
          }
        }
      },
      "MottakerRequest": {
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string",
            "description": "Fødselsnummer til mottaker"
          },
          "telefonnummer": {
            "$ref": "#/components/schemas/telefonnummer",
            "description": "Telefonnummer til mottaker"
          }
        },
        "description": "Mottaker for utsendelse. Må inneholde enten fødselsnummer eller telefonnummer, men ikke begge"
      },
      "KartUtsnittRequest": {
        "type": "object",
        "required": [
          "punkter"
        ],
        "properties": {
          "punkter": {
            "type": "array",
            "description": "Liste over WGS84-punkter",
            "maxItems": 100,
            "minItems": 3,
            "items": {
              "$ref": "#/components/schemas/PunktWGS84"
            }
          }
        },
        "description": "Kartutsnitt for utvelgelse av mottakere som en liste av WGS84-punkter"
      },
      "KartUtsnitt": {
        "type": "object",
        "required": [
          "punkter"
        ],
        "properties": {
          "punkter": {
            "type": "array",
            "description": "Liste over WGS84-punkter for å utgjør et kartutsnitt",
            "maxItems": 100,
            "minItems": 3,
            "items": {
              "$ref": "#/components/schemas/PunktWGS84"
            }
          }
        }
      },
      "PunktWGS84": {
        "type": "object",
        "required": [
          "latitude",
          "longditude"
        ],
        "properties": {
          "latitude": {
            "minimum": -90,
            "maximum": 90,
            "type": "number",
            "format": "double"
          },
          "longditude": {
            "minimum": -180,
            "maximum": 180,
            "type": "number",
            "format": "double"
          }
        }
      },
      "MottakerStatistikk": {
        "required": [
          "antallDuplikater",
          "antallGyldige",
          "antallIkkeFunnet",
          "antallKrrFeil",
          "antallMottakereTotalt",
          "antallTotaltFeil",
          "antallUgyldigNummer"
        ],
        "type": "object",
        "properties": {
          "antallDuplikater": {
            "type": "integer",
            "description": "Antall duplikate mottakere",
            "format": "int32"
          },
          "antallUgyldigNummer": {
            "type": "integer",
            "description": "Antall mottakere med ugyldig telefonnummer",
            "format": "int32"
          },
          "antallIkkeFunnet": {
            "type": "integer",
            "description": "Antall mottakere uten treff i Kontakt- og Reservasjonsregisteret",
            "format": "int32"
          },
          "antallKrrFeil": {
            "type": "integer",
            "description": "Antall mottakere med feil på oppslag i Kontakt- og Reservasjonsregisteret",
            "format": "int32"
          },
          "antallTotaltFeil": {
            "type": "integer",
            "description": "Antall mottaker feil totalt",
            "format": "int32"
          },
          "antallGyldige": {
            "type": "integer",
            "description": "Antall mottakere gyldig",
            "format": "int32"
          },
          "antallMottakereTotalt": {
            "type": "integer",
            "description": "Antall mottakere totalt",
            "format": "int32"
          }
        }
      },
      "UtsendelseUpdateRequest": {
        "required": [
          "navn"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "type": "string",
            "description": "Navn på utsendelsen"
          },
          "avsender": {
            "maxLength": 11,
            "minLength": 2,
            "pattern": "^[A-Za-zæøåÆØÅ0-9]+$",
            "type": "string",
            "description": "Avsender på utsendelsen"
          },
          "konteringskode": {
            "type": "string",
            "description": "Konteringskode på utsendelsen"
          },
          "smsTekst": {
            "maxLength": 1600,
            "minLength": 0,
            "type": "string",
            "description": "Sms tekst på utsendelsen"
          }
        }
      },
      "OpprettUtsendelseRequest": {
        "type": "object",
        "properties": {
          "mottakerType": {
            "$ref": "#/components/schemas/MottakerType"
          }
        }
      },
      "UtsendelseId": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Id til utsendelse",
            "format": "uuid"
          }
        }
      },
      "UtsendelseRequest": {
        "required": [
          "avsender",
          "navn",
          "smsTekst"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "type": "string",
            "description": "Navn på utsendelsen"
          },
          "avsender": {
            "maxLength": 11,
            "minLength": 2,
            "pattern": "^[A-Za-zæøåÆØÅ0-9]+$",
            "type": "string",
            "description": "Avsender på utsendelsen"
          },
          "konteringskode": {
            "type": "string",
            "description": "Konteringskode på utsendelsen"
          },
          "smsTekst": {
            "maxLength": 1600,
            "minLength": 0,
            "type": "string",
            "description": "Sms tekst på utsendelsen"
          }
        }
      },
      "MottakerType": {
        "description": "Mottakertype for å legge til mottakere. Excel, manuell, kart eller ikke satt",
        "enum": [
          "EXCEL",
          "MANUELL",
          "ANNEN",
          "KART"
        ]
      },
      "AktivertRolle": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "FjernPersonFraKontoRequest": {
        "required": [
          "fnr"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          }
        },
        "description": "Fjern bruker fra konto"
      },
      "PersonResponse": {
        "required": [
          "fnr",
          "navn",
          "tilganger"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "fnr": {
            "type": "string"
          },
          "tilganger": {
            "$ref": "#/components/schemas/VarslingTilganger"
          }
        },
        "description": "Person"
      },
      "AdminResponse": {
        "required": [
          "fnr",
          "navn"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "fnr": {
            "type": "string"
          }
        },
        "description": "Admin"
      },
      "AdministratorerResponse": {
        "required": [
          "administratorer"
        ],
        "type": "object",
        "properties": {
          "administratorer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminResponse"
            }
          }
        },
        "description": "Administratorer"
      },
      "PersonerResponse": {
        "required": [
          "brukere"
        ],
        "type": "object",
        "properties": {
          "brukere": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonResponse"
            }
          }
        },
        "description": "Personer"
      },
      "LeggAdminTilKontoRequest": {
        "required": [
          "fnr",
          "navn"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          }
        },
        "description": "Legg admin til konto"
      },
      "LeggPersonTilKontoRequest": {
        "required": [
          "fnr",
          "navn",
          "tilganger"
        ],
        "type": "object",
        "properties": {
          "navn": {
            "type": "string"
          },
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "tilganger": {
            "$ref": "#/components/schemas/VarslingTilganger"
          }
        },
        "description": "Legg person til konto"
      },
      "AntallEiereResponse": {
        "required": [
          "antall"
        ],
        "description": "Antall eiere innenfor oppgitt kartområde",
        "type": "object",
        "properties": {
          "antall": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AntallAdresserResponse": {
        "required": [
          "antall"
        ],
        "description": "Antall adresser innenfor oppgitt kartområde",
        "type": "object",
        "properties": {
          "antall": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "EndreTilgangerRequest": {
        "required": [
          "fnr",
          "navn",
          "tilganger"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          },
          "navn": {
            "type": "string"
          },
          "tilganger": {
            "$ref": "#/components/schemas/VarslingTilganger"
          }
        },
        "description": "Endre tilganger til brukeren"
      },
      "HentTilgangerRequest": {
        "required": [
          "fnr"
        ],
        "type": "object",
        "properties": {
          "fnr": {
            "pattern": "^[0-9]{11}$",
            "type": "string"
          }
        },
        "description": "Hent tilganger til brukeren"
      },
      "VarslingTilganger": {
        "required": [
          "kanSende",
          "kanSokeIKart"
        ],
        "type": "object",
        "properties": {
          "kanSende": {
            "$ref": "#/components/schemas/kanSende"
          },
          "kanSokeIKart": {
            "$ref": "#/components/schemas/kanSokeIKart"
          }
        }
      },
      "kanSende": {
        "description": "Gir brukere tilgang til å sende meldinger",
        "type": "boolean"
      },
      "kanSokeIKart": {
        "description": "Gir brukere tilgang til å søke i kart, krever tilgang til å sende",
        "type": "boolean"
      },
      "telefonnummer": {
        "type": "string",
        "pattern": "^(0047|\\+47)?(4|9)\\d{7}$|^(00|\\+)(?!(47))\\d{6,20}$"
      }
    }
  }
}