{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "KS Fiks: Varsling",
    "description" : "Service for varsling med sms og epost",
    "contact" : {
      "name" : "Fiks-brukerstøtte",
      "url" : "https://ks-no.github.io/",
      "email" : "fiks-utvikling@ks.no"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.fiks.ks.no",
    "description" : "KS Fiks API host",
    "variables" : { }
  } ],
  "tags" : [ {
    "name" : "varslingDeliveryReport",
    "description" : "API for å håndtere funksjonalitet for leveringsrapporter "
  }, {
    "name" : "varslingKonfigurasjon",
    "description" : "API for å håndtere funksjonalitet vedr. konfigurasjon av varsling"
  }, {
    "name" : "UtsendingRapport",
    "description" : "API for å håndtere funksjonalitet for sending av sms og epost "
  }, {
    "name" : "Sms",
    "description" : "API for å håndtere funksjonalitet for sending av sms og epost "
  }, {
    "name" : "Utsending",
    "description" : "API for å håndtere funksjonalitet for sending av sms og epost "
  } ],
  "paths" : {
    "/varsling/deliveryreport" : {
      "post" : {
        "tags" : [ "varslingDeliveryReport" ],
        "description" : "Mottar delivery report",
        "operationId" : "receiveDeliveryReport",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeliveryReport"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Motta delivery report"
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/deliveryreport/batch" : {
      "post" : {
        "tags" : [ "varslingDeliveryReport" ],
        "description" : "Mottar delivery report",
        "operationId" : "receiveDeliveryReportForBatch",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeliveryReport"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Motta delivery report for sms på batch"
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/konfigurasjon/{fiksOrgId}/kontoer/{kontoId}/aktiver" : {
      "put" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Aktiverer varsling konto",
        "operationId" : "aktiverKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Aktiverer varsling konto"
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/konfigurasjon/{fiksOrgId}/kontoer/{kontoId}/deaktiver" : {
      "put" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Deaktiverer varsling konto",
        "operationId" : "deaktiverKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deaktiver varsling konto"
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/konfigurasjon/{fiksOrgId}/kontoer/{kontoId}" : {
      "get" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Henter konto",
        "operationId" : "hentKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoRespons"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Sletter varsling konto",
        "operationId" : "slettKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Slett varsling konto"
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/konfigurasjon/{fiksOrgId}/kontoer" : {
      "get" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Henter kontoer på fiksorg",
        "operationId" : "hentKontoerForFiksOrg",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Varsling kontoer for fiksorg",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/KontoRespons"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Oppretter konto under Fiks Melding",
        "operationId" : "opprettKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettKontoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Opprett konto for varsling",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoRespons"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for opprettelse av konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/konfigurasjon/{fiksOrgId}/kontoer/sendeTilgang" : {
      "get" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Henter kontoer på fiksorg",
        "operationId" : "hentKontoerMedSendeTilgang",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Varsling kontoer for fiksorg bruker har sendetilgang på",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/KontoRespons"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/konfigurasjon/{fiksOrgId}/kontoer/{kontoId}/endre" : {
      "put" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Endre konto",
        "operationId" : "oppdaterKonto",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterKontoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Endret konto"
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/konfigurasjon/{fiksOrgId}/kontoer/{kontoId}/avsender" : {
      "put" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Oppdaterer avsender for konto",
        "operationId" : "oppdaterKontoAvsender",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterKontoAvsenderRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Konto avsender oppdater"
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/konfigurasjon/{fiksOrgId}/kontoer/{kontoId}/navn" : {
      "put" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Oppdaterer navn for konto",
        "operationId" : "oppdaterKontoNavn",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OppdaterKontoNavnRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Konto navn oppdater"
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/konfigurasjon/{fiksOrgId}/kontoer/{ressursId}" : {
      "post" : {
        "tags" : [ "varslingKonfigurasjon" ],
        "description" : "Oppretter konto under ressurs",
        "operationId" : "opprettKontoUnderRessurs",
        "parameters" : [ {
          "name" : "fiksOrgId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "ressursId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpprettKontoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Opprett konto under ressurs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KontoRespons"
                }
              }
            }
          },
          "401" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Ugyldig data for opprettelse av konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/rapport/sok/xls" : {
      "get" : {
        "tags" : [ "UtsendingRapport" ],
        "description" : "Henter rapporter til xls",
        "operationId" : "exportRapporter",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RapportSearchCriteria"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Hent utsendelse rapporter xls"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/rapport/{utsendelseId}/tlfliste" : {
      "get" : {
        "tags" : [ "UtsendingRapport" ],
        "description" : "Henter tlfliste for utsendelse",
        "operationId" : "exportTlfliste",
        "parameters" : [ {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent telefonliste xls"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/rapport/sok" : {
      "get" : {
        "tags" : [ "UtsendingRapport" ],
        "description" : "Henter rapporter",
        "operationId" : "hentRapporter",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RapportSearchCriteria"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Hent utsendelse rapporter",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Rapport"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/sms/{kontoId}/sms/{smsId}" : {
      "get" : {
        "tags" : [ "Sms" ],
        "description" : "Henter status på sms",
        "operationId" : "hentStatus",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "smsId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status for sms",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SmsRespons"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Ingen sms",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/sms/{kontoId}/sms" : {
      "post" : {
        "tags" : [ "Sms" ],
        "description" : "Sender sms",
        "operationId" : "sendSms",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SmsMeldingRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Send sms",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SmsId"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/{kontoId}/{utsendelseId}/avbryt" : {
      "put" : {
        "tags" : [ "Utsending" ],
        "description" : "Avbryter utsendelse",
        "operationId" : "avbrytUtsendelse",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Avbryt utsendelse"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/{kontoId}/{utsendelseId}/xls/mottakere/duplikat" : {
      "get" : {
        "tags" : [ "Utsending" ],
        "description" : "Henter duplikate mottakere XLS",
        "operationId" : "hentDuplikateMottakereXls",
        "parameters" : [ {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "XLS duplikate mottakere"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/{kontoId}/{utsendelseId}/xls/mottakere/ikkeGyldig" : {
      "get" : {
        "tags" : [ "Utsending" ],
        "description" : "Henter ikke-gyldige mottakere XLS",
        "operationId" : "hentIkkeGyldigeMottakereXls",
        "parameters" : [ {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "XLS duplikate mottakere"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/xls/mottakere/mal" : {
      "get" : {
        "tags" : [ "Utsending" ],
        "description" : "Henter XLS mal for sms mottakere",
        "operationId" : "hentMottakerXlsMal",
        "responses" : {
          "200" : {
            "description" : "XLS mottakere mal"
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/{kontoId}/{utsendelseId}/mottakere" : {
      "get" : {
        "tags" : [ "Utsending" ],
        "description" : "Henter mottakere på utsendelse",
        "operationId" : "hentMottakere",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent mottakere på utsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MottakerRespons"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Utsendelsen finnes ikke",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Utsending" ],
        "description" : "Legger til mottaker på utsendelse",
        "operationId" : "leggTilMottaker",
        "parameters" : [ {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MottakerRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Legg til mottaker på utsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MottakerRespons"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Utsendelsen finnes ikke",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/{kontoId}/{utsendelseId}" : {
      "get" : {
        "tags" : [ "Utsending" ],
        "description" : "Henter utsendelse",
        "operationId" : "hentUtsendelse",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent utsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UtsendelseRespons"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Utsendelsen finnes ikke",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Utsending" ],
        "description" : "Oppdaterer  utsendelse",
        "operationId" : "oppdaterUtsendelse",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UtsendelseRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Oppdater utsendelse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UtsendelseRespons"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/{kontoId}" : {
      "get" : {
        "tags" : [ "Utsending" ],
        "description" : "Henter utsendelser for konto",
        "operationId" : "hentUtsendelserForKonto",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent utsendelser for konto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UtsendelseRespons"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Utsending" ],
        "description" : "Henter utsendelser for konto",
        "operationId" : "opprettUtsendelse",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Hent utsendelser",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UtsendelseRespons"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Konto ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/{kontoId}/{utsendelseId}/xls/mottakere" : {
      "post" : {
        "tags" : [ "Utsending" ],
        "description" : "Laster opp mottakere fra xls",
        "operationId" : "lastOppMottakereFraXls",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "XLS mottakere mal"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/{kontoId}/{utsendelseId}/xls/mottakereMedFeil" : {
      "post" : {
        "tags" : [ "Utsending" ],
        "description" : "Laster opp mottakere med feil fra xls. Denne operasjonen vil slette alle eksisterende feil (Inkludert duplikat)",
        "operationId" : "lastOppMottakereMedFeilFraXls",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "XLS mottakere mal"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/{kontoId}/mottakere" : {
      "post" : {
        "tags" : [ "Utsending" ],
        "description" : "Oppretter utsendelse med liste av mottakere",
        "operationId" : "opprettUtsendelseMedListeAvMottakere",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/MottakerRequest"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Opprett utsendelse med liste av mottakere",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UtsendelseId"
                }
              }
            }
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "Konto ikke funnet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/{kontoId}/{utsendelseId}/send" : {
      "post" : {
        "tags" : [ "Utsending" ],
        "description" : "Sender utsendelse",
        "operationId" : "sendUtsendelse",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Send utsendelse"
          },
          "403" : {
            "description" : "Ingen tilgang",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Systemfeil",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/{kontoId}/{utsendelseId}/mottakere/duplikater" : {
      "delete" : {
        "tags" : [ "Utsending" ],
        "description" : "Slett duplikate mottakere",
        "operationId" : "slettDuplikateMottakere",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Sletter duplikate mottakere"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/{kontoId}/{utsendelseId}/mottakere/ikkegyldigmottaker" : {
      "delete" : {
        "tags" : [ "Utsending" ],
        "description" : "Slett mottakere som ikke er markert GYLDIG (Etterlate 1 av hver duplikat)",
        "operationId" : "slettMottakereIkkeGyldig",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Sletter ugyldige mottakere, mottakere uten telefonnummer og duplikat"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/{kontoId}/{utsendelseId}/mottakere/ugyldigtlf" : {
      "delete" : {
        "tags" : [ "Utsending" ],
        "description" : "Slett mottakere uten telefonnummer",
        "operationId" : "slettMottakereMedUgyldigTelefonnummer",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Sletter mottakere uten telefonnummer"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/varsling/api/v1/utsending/{kontoId}/{utsendelseId}/mottakere/utentlf" : {
      "delete" : {
        "tags" : [ "Utsending" ],
        "description" : "Slett mottakere uten telefonnummer",
        "operationId" : "slettMottakereUtenTelefonnummer",
        "parameters" : [ {
          "name" : "kontoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "utsendelseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Sletter mottakere uten telefonnummer"
          },
          "default" : {
            "description" : "Noe gikk galt",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "ErrorMessage" : {
        "type" : "object",
        "properties" : {
          "timestamp" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "integer",
            "format" : "int32"
          },
          "error" : {
            "type" : "string"
          },
          "errorId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "path" : {
            "type" : "string"
          },
          "originalPath" : {
            "type" : "string"
          },
          "message" : {
            "type" : "string"
          },
          "errorCode" : {
            "type" : "string"
          },
          "errorJson" : {
            "type" : "string"
          }
        }
      },
      "DeliveryReport" : {
        "type" : "object",
        "properties" : {
          "refId" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "operator" : {
            "type" : "string"
          },
          "sentTimestamp" : {
            "type" : "string",
            "format" : "date-time"
          },
          "timestamp" : {
            "type" : "string",
            "format" : "date-time"
          },
          "resultCode" : {
            "type" : "integer",
            "format" : "int32"
          },
          "segments" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "KontoRespons" : {
        "required" : [ "aktivert", "avsender", "fiksOrgId", "kontoId", "navn" ],
        "type" : "object",
        "properties" : {
          "kontoId" : {
            "type" : "string",
            "description" : "Konto ID",
            "format" : "uuid"
          },
          "fiksOrgId" : {
            "type" : "string",
            "description" : "FiksOrgId",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på konto"
          },
          "avsender" : {
            "type" : "string",
            "description" : "Avsender navn eller telefonnummer"
          },
          "konteringskode" : {
            "type" : "string",
            "description" : "Konteringskode"
          },
          "aktivert" : {
            "type" : "boolean",
            "description" : "Aktivert"
          },
          "tjeneste" : {
            "type" : "string",
            "description" : "Tjeneste som benytter kontoen"
          }
        }
      },
      "OppdaterKontoRequest" : {
        "required" : [ "avsender", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string",
            "description" : "Navn på konto"
          },
          "avsender" : {
            "maxLength" : 11,
            "minLength" : 2,
            "type" : "string",
            "description" : "Navn eller telefonnummer til avsender."
          },
          "konteringskode" : {
            "maxLength" : 20,
            "minLength" : 0,
            "type" : "string",
            "description" : "Avsender konteringskode"
          }
        }
      },
      "OppdaterKontoAvsenderRequest" : {
        "required" : [ "avsender" ],
        "type" : "object",
        "properties" : {
          "avsender" : {
            "maxLength" : 11,
            "minLength" : 2,
            "type" : "string",
            "description" : "Nytt navn for avsender"
          }
        }
      },
      "OppdaterKontoNavnRequest" : {
        "required" : [ "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string",
            "description" : "Nytt navn for konto"
          }
        }
      },
      "OpprettKontoRequest" : {
        "required" : [ "avsender", "navn" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "pattern" : "^[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü ,.!?\\-:;/\\\\'()&+*=%§]*[A-ZÆØÅa-zæøå0-9ÁáÀàÂâÉéÈèÊêÍíÌìÎîÓóÒòÔôÚúÙùÛûÝýÄäËëÏïÖöÜü,.!?\\-:;/\\\\'()&+*=%§]+$",
            "type" : "string",
            "description" : "Navn på konto"
          },
          "avsender" : {
            "maxLength" : 11,
            "minLength" : 2,
            "type" : "string",
            "description" : "Navn eller telefonnummer til avsender."
          },
          "konteringskode" : {
            "maxLength" : 20,
            "minLength" : 0,
            "type" : "string",
            "description" : "Avsender konteringskode"
          },
          "tjeneste" : {
            "type" : "string",
            "description" : "Tjeneste som skal benytte konto"
          }
        }
      },
      "RapportSearchCriteria" : {
        "type" : "object",
        "properties" : {
          "fritekst" : {
            "type" : "string",
            "description" : "Fritekst for søk etter meldinger"
          },
          "datoFra" : {
            "type" : "string",
            "description" : "Innsendt dato fra",
            "format" : "date-time"
          },
          "datoTil" : {
            "type" : "string",
            "description" : "Innsendt dato til",
            "format" : "date-time"
          },
          "kontoNavn" : {
            "type" : "string",
            "description" : "Kontonavn til avsender"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Telefonnummer på mottaker"
          }
        }
      },
      "Rapport" : {
        "required" : [ "antallMeldinger", "antallMottakere", "antallSmsFeilet", "antallSmsLevert", "antallSmsSendt", "avsender", "datoSendt", "kontoNavn", "navn", "tekst", "utsendelseId" ],
        "type" : "object",
        "properties" : {
          "utsendelseId" : {
            "type" : "string",
            "description" : "Id på utsendelsen",
            "format" : "uuid"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på utsendelsen"
          },
          "kontoNavn" : {
            "type" : "string",
            "description" : "Navn på kontoen til avsender"
          },
          "avsender" : {
            "type" : "string",
            "description" : "Avsenders navn eller telefonnummer"
          },
          "konteringskode" : {
            "type" : "string",
            "description" : "Konteringskode satt på utsendelsen"
          },
          "tekst" : {
            "type" : "string",
            "description" : "Sms tekst på utsendelsen"
          },
          "datoSendt" : {
            "type" : "string",
            "description" : "Dato for sending",
            "format" : "date-time"
          },
          "antallMottakere" : {
            "type" : "integer",
            "description" : "Totalt antall mottakere på utsendelsen",
            "format" : "int32"
          },
          "antallMeldinger" : {
            "type" : "integer",
            "description" : "Antall meldinger",
            "format" : "int32"
          },
          "antallSmsSendt" : {
            "type" : "integer",
            "description" : "Antall sms sendt",
            "format" : "int32"
          },
          "antallSmsLevert" : {
            "type" : "integer",
            "description" : "Antall sms levert til mottaker",
            "format" : "int32"
          },
          "antallSmsFeilet" : {
            "type" : "integer",
            "description" : "Antall sms feilet",
            "format" : "int32"
          }
        }
      },
      "SmsRespons" : {
        "required" : [ "id", "status" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id på meldingen",
            "format" : "uuid"
          },
          "status" : {
            "type" : "string",
            "description" : "Status på sms meldingen",
            "enum" : [ "OPPRETTET", "SENDT", "IKKE_SENDT", "IKKE_LEVERT", "LEVERT", "UKJENT" ]
          }
        }
      },
      "SmsId" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id på sms melding",
            "format" : "uuid"
          }
        }
      },
      "SmsMeldingRequest" : {
        "required" : [ "tekst" ],
        "type" : "object",
        "properties" : {
          "tekst" : {
            "maxLength" : 1600,
            "minLength" : 0,
            "type" : "string",
            "description" : "Sms tekst. Max 1600 tegn"
          },
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer til mottaker"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Telefonnummer til mottaker"
          }
        }
      },
      "MottakerRespons" : {
        "required" : [ "leveranseStatusSms", "telefonnummerStatus", "utsendelseId" ],
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer til mottaker"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Telefonnummer til mottaker"
          },
          "utsendelseId" : {
            "type" : "string",
            "description" : "UtsendelseId til mottaker",
            "format" : "uuid"
          },
          "telefonnummerStatus" : {
            "type" : "string",
            "description" : "Status på telefonnummer til mottaker",
            "enum" : [ "GYLDIG", "UGYLDIG", "DUPLIKAT", "MANGLER", "IKKE_FUNNET", "KRR_FEIL" ]
          },
          "leveranseStatusSms" : {
            "type" : "string",
            "description" : "Leveransestatus på sms",
            "enum" : [ "SENDT", "IKKE_SENDT" ]
          }
        }
      },
      "UtsendelseRespons" : {
        "required" : [ "avsender", "klarTilUtsendelse", "kontoId", "navn", "opprettetDato", "smsTekst", "status", "utsendelseId" ],
        "type" : "object",
        "properties" : {
          "utsendelseId" : {
            "type" : "string",
            "description" : "Id på utsendelsen",
            "format" : "uuid"
          },
          "avsender" : {
            "type" : "string",
            "description" : "Avsender på utsendelsen"
          },
          "navn" : {
            "type" : "string",
            "description" : "Navn på utsendelsen"
          },
          "kontoId" : {
            "type" : "string",
            "description" : "AvsenderId til utsendelse",
            "format" : "uuid"
          },
          "smsTekst" : {
            "type" : "string",
            "description" : "Sms tekst til utsendelse"
          },
          "konteringskode" : {
            "type" : "string",
            "description" : "Konteringskode på utsendelse"
          },
          "klarTilUtsendelse" : {
            "type" : "boolean",
            "description" : "Om utsendelsen er klar for sending"
          },
          "status" : {
            "type" : "string",
            "description" : "Status på utsendelsen",
            "enum" : [ "STARTET", "AVBRUTT", "FERDIG", "OPPRETTET", "KLAR_FOR_UTSENDING" ]
          },
          "opprettetDato" : {
            "type" : "string",
            "description" : "Dato når utsendelsen ble opprettet",
            "format" : "date-time"
          }
        }
      },
      "MottakerRequest" : {
        "type" : "object",
        "properties" : {
          "fnr" : {
            "pattern" : "^[0-9]{11}$",
            "type" : "string",
            "description" : "Fødselsnummer til mottaker"
          },
          "telefonnummer" : {
            "type" : "string",
            "description" : "Telefonnummer til mottaker"
          }
        }
      },
      "UtsendelseRequest" : {
        "required" : [ "avsender", "konteringskode", "navn", "smsTekst" ],
        "type" : "object",
        "properties" : {
          "navn" : {
            "type" : "string",
            "description" : "Navn på utsendelsen"
          },
          "avsender" : {
            "type" : "string",
            "description" : "Avsender på utsendelsen"
          },
          "konteringskode" : {
            "type" : "string",
            "description" : "Konteringskode på utsendelsen"
          },
          "smsTekst" : {
            "type" : "string",
            "description" : "Sms tekst på utsendelsen"
          }
        }
      },
      "UtsendelseId" : {
        "required" : [ "id" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id til utsendelse",
            "format" : "uuid"
          }
        }
      }
    }
  }
}